::ng-deep .pdf_comm_update .tgouter{max-width: 100% !important;}  

.flat { margin-left: 26px; }
.video_time_cls { display: inline-block; }
.add_comment { position: relative; }


.updateLable {

}

.updateLable label {
  display: inline-block;
  color: #010101;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  margin-bottom: 0;
}
#lagend {
  visibility: hidden;
  position: absolute;
  z-index: -2222;
  width: 95%;
  padding: 10px;
}
#editTextBox{
  overflow-y: hidden;
}
.tgright { padding-left:0 !important;      
}

.tgouter {
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 2px 18px 1px 5px;
 
  vertical-align: top;
  margin: 4px 4px 0 0;
  display: inline-block;
  max-width: 24%;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;    white-space: nowrap;
}

.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e4e4;
  margin: -10px 0px 12px -10px;
  padding: 10px; 
}

.edit_spanish .account_per {
  display: none;

}

.hide_add_comment{
  display: none;
}

.tag_outer { position:relative; min-height: 24px;}
.tag_outer .tag_left_icon{ position:absolute; left:0;}
.pouter {    padding-left:0px;}

.edit_fields { padding-bottom:6px;}

.attach_video {
      float: left;
    display: flex; width:auto;
}
.attach_video button {
  background: none;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
  height: 35px;
  position: relative;
  float: left;
  width: 38px;
  margin-right: 6px;
}
.reaction_btn {
  padding: 2px 0 0 0px;
  float: left;
  
  
}



     .reaction_btn .btn-secondary {
        border-color: #cccccc;
        background: #fff;
        color: #484848;
           padding-right: 7px;
    padding-left: 7px;
  
    font-size: 14px;
    text-align: center;
	       padding-top: 7px;
    padding-bottom: 0px; 
    font-family: 'Roboto';
    height: 35px;
    }
	.reaction_btn .btn-secondary span:last-child{ display: inline-block;
    padding-left: 2px;
    max-width: 74px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
	
	.reaction_btn .btn-secondary .custom_tag{    top: 3.5px;
    position: relative;
    float: left;}

    .reaction_btn .active { color:#fff;}
	.reaction_btn .active span { color:#fff !important;}
	.reaction_btn .active .custom_tag { border-color:#fff !important;}
	 
	 .reaction_btn .custom_tag { margin-left:0;}
	 
	 
	.add_com_btn .dropdown-toggle::after { display:none;}
	
	
	.add_com_btn {    float: right;
    width: 142px; }
	.pdf_comm_update{padding-top:2px;}
	
 .add_com_btn .comm_options{    border-radius: 4px;
    border: 1px solid #dddddd;     padding: 4px 8px 4px 9px; height: 35px;
    display: flex;}  	

 .add_com_btn  .dropdown-menu.show{    left: inherit!important;
    right: 0 !important;}
	
	.small_sc {   width: auto;padding-top: 4px;}
	.opt_in { float:right; margin-right:10px;}
	
	
	.attach_video .att1 svg{ position: absolute;
    top: -0.5px;
    left: 6px;
    width: 26px;
    height: 26px}
	.attach_video .att2 svg{     position: absolute;
    top: -1px;
    left: 6px;
    width: 27px;
    height: 27px;}
	
	
	@media screen and (max-width: 1500px){
		
	.larg_sc { display:none;}
	.small_sc {   width: auto;padding-top: 4px;}	
	.add_com_btn .comm_options{ margin-right:7px;}
	.add_com_btn  .dropdown-menu.show{    left: inherit!important;
    right: 6px !important;}	
	
		
	}
	 
	 
	 @media screen and (max-width: 1400px){
		 
		  .reaction_btn .btn-secondary {
       padding: 7px 4px 1px 4px;
    height: 35px;
        
    }
		 
		 
	 }
	 
@media screen and (max-width: 1200px){
	
	.reaction_btn{
   
        float: left;
    
    padding: 2px 0 0 0;
}
.reaction_btn .btn-secondary {
    border-color: #cccccc;
    background: #fff;
    color: #484848;
    padding-right: 4px;
    padding-left: 4px;
    font-size: 12px;
    text-align: center;
   
}

	
	
	
}






/* new css for comment box */



.box_outer{ border-radius:5px;     margin-top: 15px !important; background:#fff;     margin: 0 -15px;}
 .topheader{text-align: center; background:url(/../../../assets/pdf/img/bgrep.png) repeat-x;}
 img{ max-width: 100%; }

/****/
.hec{ background:#004061;}
.logocls{     width: 175px;
    height: 64px;
    background: #fff;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.3);     text-align: center;}
.logocls img{ max-width:119px;    position: relative;
    top: 3px;}
.hec .col-4{padding-left: 0;}
.bred img{    margin: 0 5px;}
.bred{    color: #838383!important;font-weight: 400;     padding: 15px 0 0 0; font-size: 14px;}
.bred .container{ padding-left:5px;}
.bred span{ color:#000;}
.box_outer .m0 { margin:0;}

.tabscls{ padding:20px 0;}

.modal-header {
    background: #f9f9f9;
}




  @media screen and (min-width:1280px) {




.container {
    max-width: 1250px;    padding: 0 15px;
}
   }

   @media screen and (min-width:1500px) {

.container {
    max-width: 1500px;    padding: 0 15px;
}

   }
   

 /**top headeing bar start **/
.panl_heading { border-bottom:1px solid #ddd; padding:4px 0px;     background: #f9f9f9;      margin: 0;}
.panl_heading  h3{    font-family: 'Roboto', sans-serif; margin: 0; font-weight: 400;font-size:20px;     line-height: 40px; color:#484848;}
.right_opt { text-align:right;     padding-top: 8px;}
.right_opt button{   border: 0;
    padding: 0;
    background: none;
    outline: none !important;
    cursor: pointer !important;     color: #8c8c8c;
    font-size: 14px;}
	
.pdf_tools{ background:#f9f9f9; padding:8px; display:flex; border-bottom: 1px solid #ddd;}
.left_tools {}
.right_tools { margin-left:auto;     display: flex;}
.right_tools img{}
.pdf_tools button{ background:none; border:0; outline:0; cursor:pointer;padding: 0 1px;
    margin: 0 5px 0 5px;}
.ac_op button img{    max-width: 25px;}

.acc_option { margin: 10px 0 0 0;}
  
  .acc_option a {
    text-decoration: none;
    border-radius: 50px;
    display: inline-block;
    padding: 3px 10px;
    line-height: 19px;
    height: 25px;
    font-size: 13px;
}
  
  .ac_op button {
    border: 0;
    padding: 0;
    background: none;
    outline: none !important;
    cursor: pointer !important; 
}

.ac_op .dropdown-toggle::after { display:none;}
  .ac_op .dropdown-menu{    min-width: 85px !important;padding: 10px 6px 6px 9px !important;         left: inherit !important;
    right: 0 !important;     transform: translate3d(0px, 24px, 0px) !important;}
  .ac_op .dropdown-menu a {  font-size:14px !important; background: none !important; color:#484848; margin-bottom:5px; cursor:pointer !important;}
  .t_div {border-right: 1px solid #ddd;
    min-height: 25px;
    margin: 0 6px;}
  .pdf_tools select{border: 0;
    background: none;
    outline: none !important; background:#e5e5e5;}
	.t_search img{ width:19px; margin-right:8px;}
	.ac_op {margin: 0 0 0 7px;}
	.pdf_view{ background:#f1f1f1; margin:0;height: 870px;}
	.pdf_comm { padding:20px;}
	.comm_search { display:flex;}
	.comm_search input[type=text]{ width:100%; height:40px; border:1px solid #ddd; border-radius:5px; padding:10px 11px;    background:#fff  url(/../../../assets/pdf/img/search_icon.svg) no-repeat center right 11px;
    background-size: 19px;
    padding-right: 35px;}
	.comm_box{ display:flex; width:100%; background:#fff; padding:15px; border:1px solid #ddd;}
	.comm_img img{width:40px; height:40px; border-radius:25px;}
	.img_box { position:relative; width: 45px;}
	.live_user{ background:#039542; width:7px; height:7px; border-radius:50%;     display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 2px;}
	.comm_des { padding-left:10px;}
	.comm_des label{ font-weight:600;     margin: 0;}
	.comm_des p{     font-size: 15px;
    line-height: 20px; color: #000;}
  .time_com { color:#8c8c8c; display:block; font-size:14px; margin-bottom: 7px;}
  .chat_c { position:relative; margin-top:15px;} 
  .chat_c img { border-radius:0;     width: 32px;
    height: auto;}
   .chat_c  span{      position: absolute;
    left: 0;
    top: 0px;
    color: #fff;
    width: 25px;
    text-align: center;
    font-size: 14px;}
	.post_com { border:1px solid #ddd; display:flex; padding:1px; border-radius:4px;}
	.post_com input[type=text]{ width:100%; height:35px; border:1px solid #ddd; border-radius:5px; padding:3px 5px; background:#fff; border:0; outline:none;}
	.post_com button {    background: #039542;
    padding: 4px 13px;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 4px;}
	
	.post_comm { display:flex; padding:1px; border-radius:4px; position:relative;     -ms-flex-wrap: wrap;
    flex-wrap: wrap;}
	.post_comm input[type=text]{ width:100%; height:35px; border:1px solid #ddd; border-radius:5px;    padding: 3px 35px 3px 5px; background:#fff; border:0; outline:none;-ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; border:1px solid #ddd;  margin-bottom: 13px;}
	.post_comm button {    background: #039542;
    padding: 4px 13px;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 4px; margin-left: auto;}
	
	.post_comm .voic_rec{ position:absolute;     top: 5px;
    right: 8px;}
	
	.com_opt button{    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 0 1px;
    margin: 0 5px 0 5px;     margin-bottom: auto;}
	.com_opt .ac_op{ margin:0;}
	.com_opt .ac_op img{ width:10px;}
	.pdf_comm{    padding: 12px 0;
    margin: 0;
    font-size: 16px;
    }
	.com_name { display:flex;}
	.com_opt { margin-left:auto; display:flex;}
	.mtop15 { margin-top:15px;}
    .maxHeightOverflow{
        max-height: 850px;
        overflow: auto;
    }
	.pdf_comm h4{    margin: 0;
    font-size: 18px;
    padding: 13px 0;}
	
	.first_comm { padding:20px; text-align:center;}
	.first_comm p{    color: #808080;
    font-size: 14px;
    line-height: 18px;
    max-width: 250px;
    margin: 0 auto;
    padding-bottom: 15px;}
	.frm_op span{ display:inline-block; margin-right:5px; cursor:pointer;}
	
	.frame_works h4 {
    font-size: 16px;
    font-weight: 500;
    color: #2D2D2D;
}
  
.checkboxfram {
  position: relative;
 
  cursor: pointer;

  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #101010 !important;     padding-left: 20px;
}


/* Hide the browser's default checkbox */
.checkboxfram input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkboxfram .checkmark {
     position: absolute;
    top: -5px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px solid #B4BAC3;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.checkboxfram:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.checkboxfram input:checked ~ .checkmark {
      background-color: #157EFC;    border: 1px solid #157EFC;
   
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkboxfram .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxfram input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxfram .checkmark:after {
  left:5px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}
  
  
.fl_1 { padding-left:0;}
.fl_2 { padding-left:42px;}
.fl_3 { padding-left:86px;}
.fl_4 { padding-left:130px;}
.fbox span {
    display: inline-block;
    padding-right: 16px;
}
.fbox {
    
    font-size: 15px;
}

.pdf_add_comm .comment_box {
    border: 0;
    padding: 0;
    border-radius: 0;
   
    font-size: 15px; border: 1px solid #ddd;border-radius: 4px; 
}

.pdf_add_comm .ql-toolbar.ql-snow{ }

.pdf_add_comm input{border: 0;
    height: 34px; border-radius: 6px;}

.pdf_add_comm .full_width{ width:100%;}

.pdf_add_comm .attach_video button{ border:0 !important;}

.pdf_comm_update { display:flex;}
.pdf_comm_update .add_comm {
    padding: 0;
    margin-left: auto;
}

.comm_circle{
    float: left;
    
    top: 6px;
    margin-right: 6px;
}


::ng-deep .pdf_add_comm .new_comm_sec { max-width:47%;}

::ng-deep .comment_box .bg_count { display:inline-block; width:30px !important; height:30px !important; color:#fff !important; line-height:30px !important; border-radius:50%; background:#616161; 
text-align:center;     position: relative;
    top: -3px; font-size:14px;}


::ng-deep .audio-recorder-play-wrapper audio{    max-width: 100% !important;}




