<div class="clear"></div>
<div class="container bred_an">
  <a [routerLink]="['/']">{{translations.home_global}}</a>
  <img src="assets/img/breadcrumarrow.svg" />
  <a [routerLink]="['/account-settings']">{{translations.account_settings_all}}</a>

  <img src="assets/img/breadcrumarrow.svg" />

  <a [routerLink]="['/account-settings/plans']"> <b> {{translations.plans_main}} </b></a>
</div>
<ng-container *ngIf="skeletonLoading">
  <div class="container box_outer">
 
    <div class="row panl_headingac">
        
        <div class="col-md-6">
          <h3><span class="bill_ani2 bil_a9"></span></h3>
        </div>
        
        <div class="col-md-6 back_ac">
          <span class="bill_ani2 bil_a9"></span>
            
        </div>
        
    </div>
    
    
    <div class="multisteps-form">
         <!--progress bar-->
         <div class="row">
           <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
             <span class="bill_ani bil_a9"></span>
              <span class="bill_ani bil_a9"></span>
               <span class="bill_ani bil_a9"></span>
           </div>
         </div>
         <!--form panels-->
         
       </div>
       
       <div class="rect">
         <div class="re_title">
          <span class="bill_ani bil_a10"></span><br>
          <span class="bill_ani bil_a10"></span><br>
          <span class="bill_ani bil_a10"></span>
         </div>
         
         <div class="row re_heading">
           <div class="col-md-6"><span class="bill_ani bil_a10"></span></div>
           <div class="col-md-2"><span class="bill_ani bil_a11"></span></div>
           <div class="col-md-2"><span class="bill_ani bil_a11"></span></div>
           <div class="col-md-2"><span class="bill_ani bil_a11"></span></div>
         </div>
         
         <div class="row detail_rw">
        <div class="col-md-6"><span class="bill_ani bil_a10"></span></div>
           <div class="col-md-2"><span class="bill_ani bil_a11"></span></div>
           <div class="col-md-2"><span class="bill_ani bil_a11"></span></div>
           <div class="col-md-2"><span class="bill_ani bil_a11"></span></div>
            
         </div>
         <div class="row detail_rw">
        <div class="col-md-6"><span class="bill_ani bil_a10"></span></div>
           <div class="col-md-2"><span class="bill_ani bil_a11"></span></div>
           <div class="col-md-2"><span class="bill_ani bil_a11"></span></div>
           <div class="col-md-2"><span class="bill_ani bil_a11"></span></div>
            
         </div>
         
         
         
         
         
         
         
          <div class="rec_btn">
          <span class="bill_ani bil_a12"></span>
          <span class="bill_ani bil_a12"></span>
          </div>
         
       </div>
       
       
    
    
    
    
             
    
 
    
    
    
    
   </div>
   
</ng-container>


<div *ngIf="!skeletonLoading" class="container box_outer">

 
  <div class="row panl_headingac">

    <div class="col-md-6">
      <h3>{{translations.change_plan_new_settings}}</h3>
    </div>

    <div class="col-md-6 back_ac">
      <a [routerLink]="['/account-settings/plans']"> <img src="assets/img/left-arrow.svg"> {{translations.back_to_plans_new_settings}}</a>
    </div>

  </div>


  <div class="multisteps-form">
    <!--progress bar-->
    <div class="row">
      <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
        <div class="multisteps-form__progress">
          <button class="multisteps-form__progress-btn js-active" type="button" title="Choose Plan"><b>{{translations.choose_plan_new_settings}}</b></button>
          <button class="multisteps-form__progress-btn js-active" type="button" title="Payment"><b>{{translations.payment_new_settings}}</b></button>
          <button class="multisteps-form__progress-btn js-active" type="button" title="Receipt"><b>{{translations.receipt_new_settings}}</b></button>

        </div>
      </div>
    </div>
    <!--form panels-->

  </div>
<ng-container *ngIf="showReceipt; else other_content">
  <div id="pdfTable"  #pdfTable class="rect">
    <!-- <div class="header-container" style="border-bottom: 2px solid #707070; padding-bottom:15px; margin-bottom:20px;">
      <div class="logo-area" style="float:left; width:30%; padding-top:15px;">
         <a target="_blank" href=""><img style="width: 130px;" src="{{base_url}}/img/pdf_logo.png"></a>
      </div>
      <div class="detail-area" style="width:70%; float:right; padding-top:15px;">
              <div class="left-box" style="float:left; width:46%; border-right:2px solid #707070; font-size: 10px;line-height: 22px;">
                  <div><b>Account Name: </b>{{receiptData.company_name}}</div>
                  <div><b>Exported date: </b>{{receiptData.transaction_date}}</div>
              </div>
              <div class="right-box" style="float:right; width:48%; font-size: 10px; line-height: 22px;">
                
                  <div><b>Export Type : </b>Payment Receipt</div>
                  <div><b>Exported By : </b>{{receiptData.customer_name}}</div>
                  
              </div>
              <div class="clr" style="clear:both;"></div>
      </div>
          <div class="clr" style="clear:both;"></div>
  </div> -->
    
      
    <div class="re_title">
      <label>{{translations.sibme_receipt_new_settings}}</label>
      <p>{{receiptData.customer_name}}<br>
        {{receiptData.company_name}}</p>
    </div>
    
   
    

    <div class="row re_heading">
      <div class="col-md-6">{{translations.payment_new_settings}}</div>
      <div class="col-md-2">{{translations.date_new_settings}}</div>
      <div class="col-md-2">{{translations.amount_new_settings}}</div>
      <div class="col-md-2">{{translations.transaction_id_new_settings}}</div>
    </div>

    <div class="row detail_rw">
      <div class="col-md-6"><img src="{{receiptData.creditCardImageUrl}}" width="30"><b class="space_to">{{receiptData.maskedCreditCardNumber}}</b></div>
      <div class="col-md-2">{{receiptData.transaction_date}}</div>
      <div class="col-md-2">${{receiptData.amount}}</div>
      <div class="col-md-2">{{receiptData.transaction_id}}</div>

    </div>

    <div class="row detail_rw2 pt40">
      <div class="col-md-8">{{translations.description_new_settings}}</div>
      <div class="col-md-3">{{translations.subscription_period_new_settings}}</div>
      <div class="col-md-1">{{translations.amount_new_settings}}</div>


    </div>

    <div class="row detail_rw2 border1">
      <div class="col-md-8">{{receiptData.description}}</div>
      <div class="col-md-3">{{receiptData.subscription_period}}</div>
      <div class="col-md-1">${{receiptData.amount}}</div>


    </div>

    <div class="row detail_rw2">
      <div class="col-md-11"><b>{{translations.total_new_settings}}:</b></div>

      <div class="col-md-1"><b>${{receiptData.amount}}</b></div>

    </div>
    

  </div>
  <div class="rec_btn">
      <button (click)="download()">{{translations.download_pdf_new_settings}}</button>
      <button class="done_re" (click)="goBack()">{{translations.done_new_settings}}</button>
    </div>
    
  </ng-container>
  <ng-template #other_content>
    <p class="text-center md-5 p_b50"> <img src="assets/img/no_info.svg"> {{translations.nothing_to_show_new_settings}} </p>
  </ng-template>


</div>
<ng-container *ngIf="showReceipt">
<div style="display: none;">
  <div class="container box_outer">
    <div id="pdf_Table"  #pdf_Table class="rect">
      <div class="header-container" style="border-bottom: 2px solid #707070; padding-bottom:15px; margin-bottom:20px;">
        <div class="logo-area" style="float:left; width:30%; padding-top:15px;">
           <a target="_blank" href=""><img style="width: 130px;" src="{{base_url}}/img/pdf_logo.png"></a>
        </div>
        <div class="detail-area" style="width:43%; float:right; padding-top:15px;">
                <div class="left-box" style="float:left; width:46%; border-right:2px solid #707070; font-size: 10px;line-height: 22px;">
                    <div><b>Account Name: </b>{{receiptData.company_name}}</div>
                    <div><b>Exported date: </b>{{receiptData.transaction_date}}</div>
                </div>
                <div class="right-box" style="float:right; width:48%; font-size: 10px; line-height: 22px;">
                  
                    <div><b>Export Type : </b>Payment Receipt</div>
                    <div><b>Exported By : </b>{{receiptData.customer_name}}</div>
                    
                </div>
                <div class="clr" style="clear:both;"></div>
        </div>
            <div class="clr" style="clear:both;"></div>
    </div>
      
        
      <div class="re_title">
        <label>{{translations.sibme_receipt_new_settings}}</label>
        <p>{{receiptData.customer_name}}<br>
          {{receiptData.company_name}}</p>
      </div>
      
     
      
  
      <div class="row re_heading">
        <div class="col-md-6">{{translations.payment_new_settings}}</div>
        <div class="col-md-2">{{translations.date_new_settings}}</div>
        <div class="col-md-2">{{translations.amount_new_settings}}</div>
        <div class="col-md-2">{{translations.transaction_id_new_settings}}</div>
      </div>
  
      <div class="row detail_rw">
        <div class="col-md-6"><img src="{{receiptData.creditCardImageUrl}}" width="30"><b class="space_to">{{receiptData.maskedCreditCardNumber}}</b></div>
        <div class="col-md-2">{{receiptData.transaction_date}}</div>
        <div class="col-md-2">${{receiptData.amount}}</div>
        <div class="col-md-2">{{receiptData.transaction_id}}</div>
  
      </div>
  
      <div class="row detail_rw2 pt40">
        <div class="col-md-8">{{translations.description_new_settings}}</div>
        <div class="col-md-3">{{translations.subscription_period_new_settings}}</div>
        <div class="col-md-1">{{translations.amount_new_settings}}</div>
  
  
      </div>
  
      <div class="row detail_rw2 border1">
        <div class="col-md-8">{{receiptData.description}}</div>
        <div class="col-md-3">{{receiptData.subscription_period}}</div>
        <div class="col-md-1">${{receiptData.amount}}</div>
  
  
      </div>
  
      <div class="row detail_rw2">
        <div class="col-md-11"><b>{{translations.total_new_settings}}:</b></div>
  
        <div class="col-md-1"><b>${{receiptData.amount}}</b></div>
  
      </div>
      
  
    </div>
  </div>
</div>
</ng-container>