    .right_summery h3{font-size: 22px; border-bottom:1px solid #707070;     padding-bottom: 10px;}
	.right_summery h4{font-size: 18px; margin:0;     padding: 18px 0 11px 0;}
	.right_summery ul {    padding: 0 0 0 15px;}
	.right_summery ul li{ padding:4px 0;}
	.right_summery a.read_more{ color:#1688C2; text-decoration:underline; font-size:14px;     display: inline-block;
    margin-left: 15px;} 
	.right_summery ul li span{     font-size: 14px;
    color: #000000;
    border-bottom: 1px dotted #707070;
    /* display: inline-block; */
    word-wrap: break-word !important;
    width: 160px;}
    .right_summery ul li a{ text-decoration:none; color:#000;}
    
    .right_summery {    background: #F4F4F4;
        padding: 20px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 18%;
        flex: 0 0 18%;
        max-width: 18%;}
    .cursor {
        cursor: pointer !important;
    }
    .icons {
        float: right;
    }
  
    /*.... model css */
    
    .hufooter a.conf_delete {
        border: 1px solid #CECECE;
        padding-right: 30px;
        padding-left: 30px;
    }

    .hufooter a.okbtn {
        background: #057EFF;
        color: #fff !important;
    }

    .hufooter {
        border: 0;
        text-align: right;
        padding-bottom: 21px;
    }

    .hufooter a {
        display: inline-block;
        padding: 9px 22px;
        border-radius: 5px;
        color: #484848;
        text-decoration: none;
    }

    .hufooter .green_btn {
        background: #28A745;
        color: #fff !important;
        padding-right: 30px;
        padding: 10px 30px;
        border-radius: 4px;
        border: none;
    }

    .hufooter .creat_btn:hover {
        color: #fff;
        text-decoration: none;
    }
	
	    .alert_bg {
        background: #F7DF9A;
        padding: 10px;
        margin: 0 0 15px 0 !important;
        border-radius: 4px;
    }

    .alert_bg .col-2 {
        padding-left: 0;
        text-align: center;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 14.666667%;
        flex: 0 0 14.666667%;
        max-width: 14.666667%;
    }

    .alert_bg .col-10 {
        padding: 0;
    }

    .alert_bg img {
        width: 24px;
        position: relative;
        top: 19px;
    }

    .alert_bg h6 {
        font-weight: 400;
        font-size: 15px;
        margin: 0;
        padding: 15px 0 20px 0;
    }

    .alert_bg p {
        font-size: 12px;
    }
	
    .modal-header{    background: #f9f9f9;}
    
    .modal-title {
        padding-left: 200px !important;
    }