<div *ngIf="huddles != undefined">
  <h3 *ngIf="translationLoaded">{{translation?.analytics_huddles}} ({{totalHuddles}})</h3>


  <ng-container *ngIf="huddles?.collaboration">
    <h4 *ngIf="translationLoaded">{{translation?.collaboration_huddle_name}}
      <span  class="icons"><img  src="./assets/img/collaboration_icon.svg" width="25"></span>
    </h4>
    <ul *ngFor="let item of collaborationItems ;trackBy: trackByFn">
     <li><span class="cursor" (click)="navigateToHuddle(item)">{{item.name}}</span></li>
    </ul>
    <a class="read_more cursor"  (click)="collaborationSeeMore()" *ngIf="huddles.collaboration.length > 4 && !collaborationLess">{{translation?.analytics_seemore}}</a>
    <a class="read_more cursor"  (click)="collaborationSeeLess()" *ngIf="collaborationLess">{{translation?.analytics_seeless}} </a>
  </ng-container>
  <ng-container *ngIf="huddles?.coaching"  >
    <h4 *ngIf="translationLoaded">{{translation?.coaching_title}}
      <span class="icons"><img src="./assets/img/coaching_icon.svg" width="25"></span>
    </h4>
    <ul *ngFor="let item of coachingItems ;trackBy: trackByFn">
     <li><span class="cursor" (click)="navigateToHuddle(item)">{{item.name}}</span></li>
    </ul>
    <a class="read_more cursor"  (click)="coachingSeeMore()" *ngIf="huddles.coaching.length > 4 && !coachingLess">{{translation?.analytics_seemore}} </a>
    <a class="read_more cursor"  (click)="coachingSeeLess()" *ngIf="coachingLess">{{translation?.analytics_seeless}} </a>
  </ng-container>
  <ng-container *ngIf="huddles?.assesment"  >
    <h4 *ngIf="translationLoaded">{{translation?.assessment_huddle_name}}
      <span class="icons"><img src="./assets/img/assessment_icon.svg" width="25"></span>
    </h4>
    <ul *ngFor="let item of assementItems ;trackBy: trackByFn">
     <li><span class="cursor" (click)="navigateToHuddle(item)">{{item.name}}</span></li>
    </ul>
    <a class="read_more cursor"  (click)="assesmentSeeMore()" *ngIf="huddles.assesment.length > 4 && !assesmentLess">{{translation?.analytics_seemore}} </a>
    <a class="read_more cursor"  (click)="assesmentSeeLess()" *ngIf="assesmentLess">{{translation?.analytics_seeless}} </a>
  </ng-container>
  <ng-container *ngIf="!isDataFound">
    <p *ngIf="translationLoaded">{{translation?.no_user_participating_huddle}}</p>
  </ng-container>
</div>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title">{{translation?.title_alert}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert_bg row">
          <div class="col-2">
            <img src="assets/img/alert_i.svg" style="top: 13px;">
          </div>
          <div class="col-10">
            <h6>{{translation?.no_permission_to_access_this_huddle }}</h6>
          </div>
        </div>
      </div>
      <div class="modal-footer hufooter de_footer">
        <div class="col-12">
          <a class="conf_delete" (click)="hideChildModal()">{{translation?.huddle_list_ok}}</a>
        </div>
      </div>
    </div>
  </div>
</div>