<div class="forget_container">
    <div class="f_box">

        <img src="https://staging.sibme.com/img/sibme_logo2.png" width="170">

        <h4>Choose your new password</h4>
        <div class="f_field">
            <input type="password" placeholder="New Password" name="password" [(ngModel)]="model.password">


        </div>

        <label>Minimum 8 characters.</label>
        <div class="f_field">
            <input type="password" placeholder="Re-type password" name="confirm_password" [(ngModel)]="model.confirm_password">

        </div>
        <button (click)="resetPassword()">Save changes</button>

    </div>


</div>