.modal-header, .modal-body, .modal-footer {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.modal-header {
    position: relative;
    border-bottom: none;
    background-color: #ececec;
}

.main-header {
    display: flex;
    flex: auto;
    justify-content: center;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

.header-action {
    position: absolute;
    right: 7px;
    top: 7px;
}

.header-action button {
    padding-top: 22px;
    padding-right: 22px;
}

.header-action span{
    font-size: 33px;
}

.record-video-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.connection-status {
    position: absolute;
    top: 25px;
    background-color: #505050;
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
}

.record-video-body, .upload-video-body {
    min-height: 356px;
}

.video-container {
    flex: 1 1 auto;
}

.video-container, .permission-container, .browser-not-supported {
    height: 356px;
}

.record-video-body video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.file-label {
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #555;
    padding: 10px 0;
}

.file-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 8px 15px;
}

.file-info {
    display: flex;
    align-items: center;
}

.file-icon {
    height: 38px;
    width: 38px;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-right: 10px;
}

.progress-bar {
    height: 4px;
    background: #039542;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: -4px;
}

.recording-icon-container {
    position: absolute;
    padding: 5px 10px;
    background-color: #00000066;
    bottom: 16px;
    left: 16px;
}

span.recording-time {
    color: #ffffff;
    margin-right: 10px;
}

span.recording-icon {
    width: 7px;
    height: 7px;
    background-color: red;
    position: absolute;
    top: 12px;
    right: 7px;
    border-radius: 5px;
}

.permission-container, .browser-not-supported {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.disabled-heading, .disabled-message {
    margin-bottom: 15px;
}

.disabled-heading {
    font-size: 20px;
}

.disabled-message {
    text-align: center;
}

.permission-container button { padding: 5px 25px; }
.permission-container img { margin-bottom: 15px }

#main-modal-footer {
    justify-content: center;
}

.modal-footer {
    min-height: 55px;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
}

.modal-footer button {
    padding: 5.3px 40px;
}

.btn-light {
    background-color: #dae0e5;
    border-color: #d3d9df;
}

.spinner {
    position: absolute;
    padding-top: 3px;
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.video-save-discard .modal-header {
    background-color: #ffffff;
}

.video-save-discard .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-save-discard label {
    color: #484848;
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin: 30px 0 0;
}

.video-save-discard p {
    color: #484848;
    font-size: 15px;
}

.video-save-discard .action-items {
    padding: 20px;
}

.video-save-discard .btn-primary {
    background: #28a745;
    border: 0;
}

.connection-lost-notif {
    background-color: #505050;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.connection-lost-notif span {
    font-size: 12px;
    margin-left: 5px;
}