<div class="modal-header">
    <div class="main-header">
        <img src="assets/img/video-icon.svg">
    </div>
    <div class="header-action">
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div class="modal-body">
    <div class="record-video-body">
        <div *ngIf="!permissionLoading && internetState !== 'online'" class="connection-status" [ngStyle]="{'background-color': !backToOnline ? '#505050' : '#26a242'}">{{connectionState}}</div>
        <img *ngIf="permissionLoading || recordingState === 'startring' || recordingState === 'stopping'"
            src="assets/img/loading-spinner.png" class="spinner">
        <div *ngIf="browserSupportedRecording && cam_and_mic_perm" class="video-container">
            <video #camView autoplay></video>
        </div>
        <div *ngIf="recordingState === 'started'" class="recording-icon-container">
            <span class="recording-time">{{recordedTime | sharedTimeFormatPipe}}</span>
            <span class="recording-icon" [ngStyle]="{'opacity': (showRecIcon || internetState === 'offline') ? 1 : 0 }"></span>
        </div>
        <div class="permission-container" *ngIf="!cam_and_mic_perm && !permissionLoading">
            <img src="assets/img/video-icon-disabled.svg">
            <div class="disabled-heading">{{translation?.webcam_disabled}}</div>
            <div class="disabled-message">{{translation?.rs_click_block_button}}</div>
            <img src="assets/screen-sharing/img/screen_r.png">
            <button type="button" class="btn btn-outline-primary"
                (click)="retry()">{{translation?.rs_retry_camera}}</button>
        </div>
        <div class="browser-not-supported" *ngIf="!browserSupportedRecording && !permissionLoading">
            <img src="assets/img/video-icon-disabled.svg">
            <h2 class="header"> {{translation.rs_browser_not_support}} </h2>
            <div class="description"> {{translation.rs_use_chrome_or_firefox}} </div>
        </div>
    </div>
</div>

<div id="main-modal-footer" class="modal-footer"
    [ngStyle]="{'border-top': (cam_and_mic_perm && !permissionLoading && browserSupportedRecording) ? '1px solid #dee2e6' : 'none'}">
    <ng-container *ngIf="cam_and_mic_perm && !permissionLoading && browserSupportedRecording">
        <ng-container>
            <button *ngIf="recordingState === 'comfort-zome' || recordingState === 'startring'"
                [disabled]="recordingState === 'startring'" type="button" class="btn btn-primary"
                (click)="startRecording()">
                <img src="assets/img/record-video-start.svg">
            </button>
            <button *ngIf="recordingState !== 'comfort-zome' && recordingState !== 'startring'"
                [disabled]="recordingState === 'stopping'" type="button" class="btn btn-light"
                (click)="stopRecording()">
                <img src="assets/img/record-video-stop.svg">
            </button>
        </ng-container>
    </ng-container>
</div>

<ng-template #confirmModal>
    <div class="modal-header">
        <h4 class="modal-title">{{translation?.artifacts_confirmation_required}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="confirmModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="alert_bg singleline row">
            <div class="col-2 ">
                <img src="assets/img/alert_i.svg">
            </div>
            <div class="col-10">
                <h6>{{translation?.video_will_lost}}
                </h6>
            </div>

        </div>
    </div>
    <div class="modal-footer hufooter de_footer">
        <div class="row">
            <div class="col-12">
                <a (click)="confirmModalRef.hide()">{{translation?.discussion_cancel}}</a>
                <a (click)="confirmed()" class="conf_delete">{{translation?.vd_submit}}</a>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #videoSaveDiscardModal>
    <div class="video-save-discard">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="closeVideoSaveDiscardModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <svg xmlns="http://www.w3.org/2000/svg" width="50.64" height="50.64" viewBox="0 0 50.64 50.64">
                <g id="noun_Error_1582590" transform="translate(181.36 40.7)">
                    <g id="Group_332" data-name="Group 332" transform="translate(-181 -41)">
                        <path id="Path_51" data-name="Path 51"
                            d="M25.32,0A25.286,25.286,0,1,1,7.406,7.406,25.258,25.258,0,0,1,25.32,0ZM39.947,10.646A20.73,20.73,0,1,0,46.011,25.32,20.84,20.84,0,0,0,39.947,10.646Z"
                            transform="translate(-0.36 0.3)" fill="#010101" />
                        <path id="Path_88" data-name="Path 88"
                            d="M29.458,18.754q-4.036,5.922-8.425,11.618c-1.308-1.132-2.641-2.263-3.948-3.4-1.459-1.257-3.6.855-2.138,2.138,1.735,1.509,3.47,2.993,5.231,4.5a1.533,1.533,0,0,0,2.138,0c3.4-4.325,6.664-8.777,9.732-13.329C33.155,18.653,30.539,17.145,29.458,18.754Z"
                            transform="translate(1.679 -0.266)" stroke="#000" stroke-width="0.7" />
                    </g>
                </g>
            </svg>
            <label>{{translation?.save_recorded_video}}</label>
            <p>{{translation?.this_operation_cant_undone_live_streaming}}</p>
            <div class="action-items">
                <button class="btn btn-default" (click)="stopStreamRecording('discard')">
                    {{translation?.discard_video_live_streaming}}
                </button>
                <button class="btn btn-primary" (click)="stopStreamRecording('save')">
                    {{translation?.save_video_live_streaming}}
                </button>
            </div>
            <div *ngIf="recordingStoppedDueToNetworkLost" class="connection-lost-notif">
                <svg xmlns="http://www.w3.org/2000/svg" width="13.378" height="13.378" viewBox="0 0 13.378 13.378">
                    <path id="Path_91" data-name="Path 91" d="M11.689,18.378A6.689,6.689,0,1,0,5,11.689,6.689,6.689,0,0,0,11.689,18.378Zm.372-11.037a1.115,1.115,0,1,1-1.115,1.115A1.115,1.115,0,0,1,12.061,7.341Zm-.372,2.75c1.115,0,1.385.658,1.26,1.469l-.517,3.362a2.876,2.876,0,0,0,1.115-.372,1.983,1.983,0,0,1-1.858,1.486c-1.115,0-1.385-.658-1.26-1.469l.517-3.362a2.876,2.876,0,0,0-1.115.372A1.983,1.983,0,0,1,11.689,10.091Z" transform="translate(-5 -5)" fill="#afafaf"/>
                </svg>
                <span>You were offline since a while that's why connection to recording has been lost</span>
            </div>
        </div>
    </div>
</ng-template>