<!-- Breadcrumb Start -->
<div class="clear"></div>
<div class="container bred_an">
  <a [routerLink]="['/profile-page']">{{translation?.home_coaching_tracker_new}}</a> <img
    src="assets/img/breadcrumarrow.svg"><span>{{translation?.reporting_huddle_tracker_reporting}}</span>
</div>
<div class="clear"></div>
<!-- Breadcrumb End  -->
<div class="box_outer container">
  <div class="">
    <div class="row">
      <div class="col-12 panl_heading">
        <h3>{{translation?.reporting_huddle_tracker_reporting}}</h3>
      </div>

      <!--content-->
    </div>
    <div class="row tabscls m0" *ngIf="isLoadingTabs">
      <ul class="nav nav-tabs col-12">
        <li class="nav-item">
          <a class="g_ani" data-toggle="tab" role="tab"></a>
        </li>
        <li class="nav-item">
          <a class="g_ani" data-toggle="tab" role="tab"></a>
        </li>
        <li class="nav-item">
          <a class="g_ani" data-toggle="tab" role="tab"></a>
        </li>
        <li class="nav-item">
          <a class="g_ani" data-toggle="tab" role="tab"></a>
        </li>

      </ul>
    </div>
    <div class="row tabscls m0" *ngIf="!isLoadingTabs">
      <ul class="nav nav-tabs col-12">
        <li class="nav-item">

          <a [routerLink]="['/trackers/coaching']" data-toggle="tab"
            role="tab">{{translation?.coaching_tracker_new}}</a>
        </li>
        <li class="nav-item itm2">

          <a [routerLink]="['/trackers/coaching-report']" data-toggle="tab"
            role="tab">{{translation?.reporting_coaching_report}}</a>
        </li>
        <li class="nav-item ">
          <a data-toggle="tab" class="active" role="tab">{{translation?.reporting_assessment_report}}</a>
        </li>
        <li class="nav-item itm2">
          <a [routerLink]="['/trackers/huddle-report']" data-toggle="tab"
            role="tab">{{translation?.reporting_huddle_report}}</a>
        </li>

        <li>
          <div class="export_option dropdown" dropdown>
            <button type="button" class="dropdown-toggle" data-toggle="dropdown" dropdownToggle>
              <img src="assets/trackers/couching-report/img/dots_dark.svg" width="30">
            </button>
            <div class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item"
                (click)="exportReport('assessment_report_excel','true')">{{translation?.reporting_excel_export_all}}</a>
              <a class="dropdown-item"
                (click)="exportReport('assessment_report_excel',false)">{{translation?.reporting_excel_export_filtered}}</a>
              <a class="dropdown-item"
                (click)="exportReport('assessment_report_csv','true')">{{translation?.reporting_csv_all}}</a>
              <a class="dropdown-item"
                (click)="exportReport('assessment_report_csv',false)">{{translation?.reporting_csv_filtered}}</a>
              <a class="dropdown-item"
                (click)="exportReport('assessment_report_pdf','true')">{{translation?.reporting_pdf_export_all}}</a>
              <a class="dropdown-item"
                (click)="exportReport('assessment_report_pdf',false)">{{translation?.reporting_pdf_export_filtered}}</a>
            </div>
          </div>
        </li>
        <div class="clear"></div>

      </ul>
    </div>



    <div class="row m0">
      <div class="tab-content col-12">

        <div class="tab-pane active show" id="" role="tabpanel">


          <trackers-filters [report_type]="'assessment_report'" (filterData)="handleChange($event)"
            (SearchEvent)="onSearch($event)" (filterKeyEmitter)="filterObj=$event" (isLoading)="isLoading=$event">
          </trackers-filters>
          <div class="scroll" *ngIf="isLoading">
            <div class="scroll_inner ani_sc" style="overflow: hidden;">

              <div class="row h_row skborder">
                <div class="col-1 ani_fs">
                  <div class="g_ani3 gn3"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3"></div>
                </div>

              </div>


              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">



                    <div class="name_detail">

                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>


              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">



                    <div class="name_detail">

                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>


              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">



                    <div class="name_detail">

                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>

              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">



                    <div class="name_detail">

                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>

              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">



                    <div class="name_detail">

                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>

              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">



                    <div class="name_detail">

                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>

              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">



                    <div class="name_detail">

                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>

              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">



                    <div class="name_detail">

                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>

            </div>

          </div>
          <div class="top-c" *ngIf="attributes.length == 0 && !isLoading">


            <p class="font-h"><img
                src="assets/img/nogoal_icon.svg">{{translation?.reporting_no_assessment_huudle_tracked}}</p>
          </div>
          <!-- <ng-scrollbar #scrollable track="horizontal" pointerEventsMethod="scrollbar"> -->
          <div class="" *ngIf="!isLoading && attributes.length > 0">
            <!-- <div class="row h_row">
              <div class="col-2 col1 bg-none"></div>
              <ng-container *ngFor="let value of headers; index as i">

                <div class="col-1 text_elipses" (click)="sortTable(i)" [tooltip]='value' placement="bottom"> {{value}} </div>
              </ng-container>

              <div class="col-1 lastcol"></div>

            </div> -->

            <ng-container *ngFor="let huddle of attributes | paginate: config | filter: SearchString;  index as i ">
              <div class="row rep_row" *ngIf="!huddle?.collapse">
                <div class="col-9 exp_left">

                  <b [tooltip]='huddle.name?.length > 60 ? huddle.name: ""' class="three-dot">{{huddle.name}}</b>
                  <span>{{huddle.created_date | date}}</span>

                  <!-- <img [src]="getImage(coach.user_id , coach.image)">

                    <div class="name_detail">
                      <label>{{coach.user_name}}</label>
                      <p>{{coach.email}}</p>
                    </div> -->



                </div>


                <div class="col-3 col_lst">
                  <div class="acc_div">
                    <span class="assess_title">{{translation?.reporting_assessor}}:</span>
                    <div class="ass_detail img_crl assessor_images" *ngIf="huddle.huddle_assessors?.length == 1">
                      <span> <img
                          [src]="getImage(huddle.huddle_assessors[0]?.user_id , huddle.huddle_assessors[0]?.image)">
                      </span>
                    </div>
                    <ng-container *ngIf="huddle.huddle_assessors.length > 0 && huddle.huddle_assessors.length != 1">
                      <div class="ass_detail img_crl assessor_images">
                        <!-- <p class="center" *ngIf="huddle.huddle_assessors.length != 1">{{translation?.assessor_global}}
                        </p> -->
                        <ng-container *ngIf="huddle.huddle_assessors.length > 0 && huddle.huddle_assessors.length != 1">
                          <!-- <p class="center"> -->
                          <span class="fake_link" *ngFor="let assessor of huddle.huddle_assessors | slice:0:4">
                            <img (click)="openAssessorModal(huddle.huddle_assessors)"
                              [src]="getImage(assessor?.user_id , assessor?.image)"
                              [tooltip]="assessor.user_name + ' ' + assessor.user_email" placement="top">
                          </span>
                          <span class="limt_over" *ngIf="huddle.huddle_assessors?.length > 4"
                            (click)="openAssessorModal(huddle.huddle_assessors)">
                            <a class="fake_link">{{getParticipantLimit(huddle.huddle_assessors?.length-4)}}+</a>
                          </span>
                          <!-- </p> -->

                        </ng-container>
                        <span *ngIf="huddle.huddle_assessors.length == 0">
                          <img [src]="getImage(null , null)">
                        </span>

                      </div>

                    </ng-container>
                  </div>

                  <div class="exp_cls" (click)="turnOnCollapse(huddle);expandReport(huddle.assessee[0],i)" *ngIf="huddle?.collapse==false">
                    {{translation?.artifacts_expand }}<img src="assets/trackers/couching-report/img/arrow_down.svg"
                      style="cursor: pointer;">
                  </div>

                </div>

                <!-- <div class="col-1 lastcol" *ngIf="j==headers.length && coach.collapse"
                    (click)="huddle.collapse = false"><img src="assets/trackers/couching-report/img/arrow_up.svg">
                  </div> -->



              </div>
              <ng-container *ngIf="huddle?.collapse">
                <!-- <ng-scrollbar track="vertical" pointerEventsMethod="scrollbar" > -->
                <div class="row top_detail">
                  <div class="col-12 section_control" (click)="huddle.collapse = false;collapsReport()">
                    <span>{{translation?.artifacts_collapse }}
                      <img src="assets/img/arrow_up.svg" width="20" style="cursor: pointer;">
                    </span>
                  </div>
                  <div class="col-md-9 ass_left">
                    <div class="">
                      <div class="control-height">
                        <h5>{{huddle.name}}</h5>
                      </div>
                    </div>
                    <div *ngIf="expandDesc" class="" [innerHTML]="huddle.desc"></div>
                    <div *ngIf="expandDesc && huddle.desc.length > 2250" class="less-desc">
                      <button (click)="expandDesc=false">{{translation?.huddle_description_show_less}}</button>
                    </div>
                  </div>

                  <div *ngIf="expandDesc" class="col-md-3 ass_right pl-58">
                    <div class="ass_info" *ngIf="huddle.huddle_assessors?.length == 1">
                      <div class="ass_icon acc_profile"><img
                          [src]="getImage(huddle.huddle_assessors[0]?.user_id , huddle.huddle_assessors[0]?.image)"
                          width="30"></div>
                      <div class="ass_detail">
                        <label>{{translation?.assessor_global}}</label>
                        <p>{{huddle.huddle_assessors[0].user_name}}</p>
                        <p class="word-break">{{huddle.huddle_assessors[0].user_email}}</p>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="ass_info">
                      <!-- <div class="ass_icon acc_profile">
                        <img src="" width="30">
                      </div> -->
                      <div class="ass_detail img_crl assessor_images">
                        <p class="center" *ngIf="huddle.huddle_assessors.length != 1">{{translation?.assessor_global}}
                        </p>
                        <ng-container *ngIf="huddle.huddle_assessors.length > 0 && huddle.huddle_assessors.length != 1">
                          <p class="center">
                            <span class="fake_link" *ngFor="let assessor of huddle.huddle_assessors | slice:0:4">
                              <img (click)="openAssessorModal(huddle.huddle_assessors)"
                                [src]="getImage(assessor?.user_id , assessor?.image)"
                                [tooltip]="assessor.user_name + ' ' + assessor.user_email" placement="top">
                            </span>
                            <span class="limt_over" *ngIf="huddle.huddle_assessors?.length > 4"
                              (click)="openAssessorModal(huddle.huddle_assessors)">
                              <a class="fake_link">{{getParticipantLimit(huddle.huddle_assessors?.length-4)}}+</a>
                            </span>
                          </p>

                        </ng-container>
                        <span *ngIf="huddle.huddle_assessors.length == 0">
                          <img [src]="getImage(null , null)">
                        </span>

                      </div>
                      <div class="clear"></div>
                    </div>

                    <div class="ass_info">
                      <div class="ass_icon"><img src="assets/img/deadline_icon.svg"></div>
                      <div class="ass_detail">
                        <label>{{translation?.artifacts_submission_deadline }}</label>
                        <p>{{huddle?.submission_deadline_date}} {{huddle?.submission_deadline_time}}</p>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="ass_info">
                      <div class="ass_icon"><img src="assets/img/video_submiticon.svg"></div>
                      <div class="ass_detail">
                        <label>{{translation?.artifacts_video_submissions_allowed }}</label>
                        <p>{{huddle?.submission_allowed || 0}}</p>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="ass_info">
                      <div class="ass_icon"><img src="assets/img/resource_icon.svg"></div>
                      <div class="ass_detail">
                        <label> {{translation?.artifacts_resource_submissions_allowed }}</label>
                        <p>{{huddle?.resource_submission_allowed}}</p>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="ass_info">
                      <div class="ass_icon"><img src="assets/img/published_icon.svg"></div>

                      <div class="ass_detail">
                        <label>{{huddle.is_published == 1 ? translation?.artifacts_published:
                          translation?.reporting_unpublished }}</label>
                        <!-- <p>2018-11-12</p> -->
                        <p>{{headerService?.formatDate(huddle?.published_date,'MM/DD/YYYY hh:mm a')}}</p>
                      </div>
                      <div class="clear"></div>
                    </div>

                  </div>
                  
                  <div *ngIf="!expandDesc" class="col-12 full_view_re">
                    <div  class="" [innerHTML]="huddle.desc.substring(0,510)"></div>
                    <div *ngIf="huddle.desc.length <= 0" class="">&nbsp;</div>
                    <div *ngIf="huddle.desc.length > 510" class="more-desc">
                      <button (click)="expandDesc=true">{{translation?.huddle_description_show_more}}</button>
                    </div>

                    <div class="clear"></div>
                    <div class="ass_right right_full">
                    <div class="ass_info" *ngIf="huddle.huddle_assessors?.length == 1">
                      <div class="ass_icon acc_profile"><img
                          [src]="getImage(huddle.huddle_assessors[0]?.user_id , huddle.huddle_assessors[0]?.image)"
                          width="30"></div>
                      <div class="ass_detail">
                        <label>{{translation?.assessor_global}}</label>
                        <p>{{huddle.huddle_assessors[0].user_name}}</p>
                        <p class="word-break">{{huddle.huddle_assessors[0].user_email}}</p>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="ass_info" *ngIf="huddle.huddle_assessors.length != 1">
                      <div class="ass_detail img_crl assessor_images">
                      
                        <ng-container *ngIf="huddle.huddle_assessors.length > 0 && huddle.huddle_assessors.length != 1">
                          <p class="acce_name"> <label> {{translation?.assessor_global}} </label>
                            <span class="fake_link" *ngFor="let assessor of huddle.huddle_assessors | slice:0:4">
                              <img (click)="openAssessorModal(huddle.huddle_assessors)"
                                [src]="getImage(assessor?.user_id , assessor?.image)"
                                [tooltip]="assessor.user_name + ' ' + assessor.user_email" placement="top">
                            </span>
                            <span class="limt_over" *ngIf="huddle.huddle_assessors?.length > 4"
                              (click)="openAssessorModal(huddle.huddle_assessors)">
                              <a class="fake_link">{{getParticipantLimit(huddle.huddle_assessors?.length-4)}}+</a>
                            </span>
                          </p>

                        </ng-container>
                        <span *ngIf="huddle.huddle_assessors.length == 0">
                          <img [src]="getImage(null , null)">
                        </span>

                      </div>
                      <div class="clear"></div>
                    </div>

                    <div class="ass_info">
                      <div class="ass_icon"><img src="assets/img/deadline_icon.svg"></div>
                      <div class="ass_detail">
                        <label>{{translation?.artifacts_submission_deadline }}</label>
                        <p>{{huddle?.submission_deadline_date}} {{huddle?.submission_deadline_time}}</p>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="ass_info">
                      <div class="ass_icon"><img src="assets/img/video_submiticon.svg"></div>
                      <div class="ass_detail">
                        <label>{{translation?.artifacts_video_submissions_allowed }}</label>
                        <p>{{huddle?.submission_allowed || 0}}</p>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="ass_info">
                      <div class="ass_icon"><img src="assets/img/resource_icon.svg"></div>
                      <div class="ass_detail">
                        <label> {{translation?.artifacts_resource_submissions_allowed }}</label>
                        <p>{{huddle?.resource_submission_allowed}}</p>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="ass_info">
                      <div class="ass_icon"><img src="assets/img/published_icon.svg"></div>

                      <div class="ass_detail">
                        <label>{{huddle.is_published == 1 ? translation?.artifacts_published:
                          translation?.reporting_unpublished }}</label>
                        
                        <p>{{headerService?.formatDate(huddle?.published_date,'MM/DD/YYYY hh:mm a')}}</p>
                      </div>
                      <div class="clear"></div>
                    </div>

                  </div>
                  
                </div>
                  
                </div>
                <ng-container>
                  <!-- <div class="forscroll"> -->
                  <ng-scrollbar id="scrollBar" class="assessment_list" track="horizontal" #scrollable>
                    <div [ngClass]="list_container_height ? 'container_height' : ''">
                      <div class="">
                        <div class="asse_par_heading row stickme header_s">
                          <div class="firstcol">
                            <span (click)="sortTableByName(huddle.assessee)">{{translation?.name_all}}</span>
                          
                            <div *ngIf="showArrowLeft()" class="img_width">
                              <img (click)="scrollLeft()" class="cursor " src="assets/img/Path.svg">
                            </div>
                          </div>
                          <ng-container *ngFor="let header of headers; index as i">
                            <div class="col-md-2 bg"> 
                              <span  class="cursor" (click)="sortTable(i, huddle.assessee)"
                                [tooltip]="header.name.length > 30 ? header.name: ''"
                                placement="bottom">{{(header.name.length > 30)? (header.name | slice:
                                0:30)+'...':(header.name)}}</span>
                            </div>
                          </ng-container>
                         
                          <div class=" col-md-2 lastcol bg">
                            <img *ngIf="showArrowRight()" class="cursor" (click)="scrollRight()"
                              src="assets/goals/img/right_op.svg">
                          </div>
                        </div>
                        <!-- Starts Dymanic header for custom Fields -->
                        <!-- <ng-container *ngFor="let item of participantsCustomFieldList;let i=index" >
                                      <div class="col-md-1">
                                          <span [tooltip]="item.field_label" placement="bottom" (click)="sortCustomFields(item)"> 
                                              <i *ngIf="item.showArrow" class="fontAwesomeArrow fa fa-chevron-down"></i> 
                                              {{item.field_label}}</span>
                                      </div>
                                  </ng-container> -->
                        <!-- Ends Dymanic header for custom Fields -->
                      </div>
                      <ng-container  *ngIf="assesseePreLoader==true">
                        <div *ngFor="let temp of [1,2,3,4,5]">
                        <div class="scroll">
                          <div class="scroll_inner ani_sc">
              
                            
                          <div class="row rep_row">
                              <div class="col-2 col1">
                                <div class="inner_1">
              
              
              
                                  <div class="name_detail">
              
                                    <div class="g_ani3 gn3_s"></div>
                                  </div>
              
                                </div>
              
                              </div>
                              <div class="col-2 col1">
                                <div class="inner_1">
              
              
              
                                  <div class="name_detail">
              
                                    <div class="g_ani3 gn3_s"></div>
                                  </div>
              
                                </div>
              
                              </div>
                              <div class="col-2 col1">
                                <div class="inner_1">
              
              
              
                                  <div class="name_detail">
              
                                    <div class="g_ani3 gn3_s"></div>
                                  </div>
              
                                </div>
              
                              </div>
                              <div class="col-2 col1">
                                <div class="inner_1">
              
              
              
                                  <div class="name_detail">
              
                                    <div class="g_ani3 gn3_s"></div>
                                  </div>
              
                                </div>
              
                              </div>
                              <div class="col-2 col1">
                                <div class="inner_1">
              
              
              
                                  <div class="name_detail">
              
                                    <div class="g_ani3 gn3_s"></div>
                                  </div>
              
                                </div>
              
                              </div>
                              <div class="col-2 col1">
                                <div class="inner_1">
              
              
              
                                  <div class="name_detail">
              
                                    <div class="g_ani3 gn3_s"></div>
                                  </div>
              
                                </div>
              
                              </div>
                              <div class="col-2 col1">
                                <div class="inner_1">
              
              
              
                                  <div class="name_detail">
              
                                    <div class="g_ani3 gn3_s"></div>
                                  </div>
              
                                </div>
              
                              </div>
                              <div class="col-2 col1">
                                <div class="inner_1">
              
              
              
                                  <div class="name_detail">
              
                                    <div class="g_ani3 gn3_s"></div>
                                  </div>
              
                                </div>
              
                              </div>
                              <div class="col-2 col1">
                                <div class="inner_1">
              
              
              
                                  <div class="name_detail">
              
                                    <div class="g_ani3 gn3_s"></div>
                                  </div>
              
                                </div>
              
                              </div>
                              <div class="col-2 col1">
                                <div class="inner_1">
              
              
              
                                  <div class="name_detail">
              
                                    <div class="g_ani3 gn3_s"></div>
                                  </div>
              
                                </div>
              
                              </div>
                              <div class="col-2 col1">
                                <div class="inner_1">
              
              
              
                                  <div class="name_detail">
              
                                    <div class="g_ani3 gn3_s"></div>
                                  </div>
              
                                </div>
              
                              </div>
                              <div class="col-2 col1">
                                <div class="inner_1">
              
              
              
                                  <div class="name_detail">
              
                                    <div class="g_ani3 gn3_s"></div>
                                  </div>
              
                                </div>
              
                              </div>
                              <div class="col-2 col1">
                                <div class="inner_1">
              
              
              
                                  <div class="name_detail">
              
                                    <div class="g_ani3 gn3_s"></div>
                                  </div>
              
                                </div>
              
                              </div>
                              
                              
                              
                            </div>
              
              
                            
              
                          </div>
              
                        </div>
                      </div>
                      </ng-container>
                      
                      <ng-container *ngIf="huddle.assessee.length > 0 && !assesseePreLoader">
                        <ng-container *ngFor="let assessee of huddle.assessee | paginate: { id: 'huddlePage',
                        itemsPerPage: 5,
                        currentPage: ip,
                        totalItems: huddle.assessee_count } | keyvalue: originalOrder; index as j">
                          <div #stickyDiv class="asse_par_list row stickme" [ngClass]="j%2?'rep_row_odd':'rep_row_even'"
                            [ngStyle]="{'width': width}">
                            <ng-container>
                              <div class="firstcol" style="cursor:pointer" [ngClass]="j%2?'rep_row_odd':'rep_row_even'">
                                <div class="list_img acc_profile">
                                  <img [src]="getImage(assessee.value.user_id , assessee.value.image)">
                                </div>
                                <div class="list_detail text_elipses">
                                  <label class="cursor"
                                    (click)="navigateToPlayerCard(assessee.value.user_id,assessee.value.account_id)"
                                    [tooltip]='assessee.value.user_name.length > 15 ? assessee.value.user_name: ""'>{{assessee.value.user_name}}</label>
                                  <p [tooltip]='assessee.value.email.length > 15 ? assessee.value.email : ""'>{{assessee.value.email}}</p>
                                </div>
                                <div class="clear"></div>

                              </div>

                              <ng-container *ngFor="let item of assessee.value | keyvalue: originalOrder; index as k">
                                <ng-container *ngIf="k<headers.length">
                                  <ng-container *ngIf="checkValueIfStyleNeeded(item.value) as styledValue">

                                    <div class="col-md-1" *ngIf="styledValue=='videos'">
                                      <span class="video_cou" (click)="getSingleAsignment(assessee , k)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="9.333"
                                          viewBox="0 0 7 9.333">
                                          <g id="Group_3" data-name="Group 3" transform="translate(-4 -1.183)">
                                            <path id="Path"
                                              d="M0,.684C0,.157.485-.174.868.1L3.79,2.084,6.713,4.057a.76.76,0,0,1,0,1.19L3.79,7.234l-2.923,2C.485,9.508,0,9.176,0,8.649V.684Z"
                                              transform="translate(4 1.183)" fill="#935aff" />
                                          </g>
                                        </svg>
                                        {{item.value.split(",")[0]}}
                                      </span>
                                    </div>
                                    <div class="col-md-2" *ngIf="styledValue=='resources'">
                                      <span class="res_file" (click)="getSingleAsignment(assessee , k)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="6.923" height="9"
                                          viewBox="0 0 6.923 9">
                                          <g id="Group_530" data-name="Group 530" transform="translate(0 0)">
                                            <g id="noun_File_2044110_000000" transform="translate(0 0)">
                                              <path id="Path" d="M0,0V3.057H3.056Z" transform="translate(3.866)"
                                                fill="#28A745" />
                                              <path id="Path-2" data-name="Path" d="M3.1,3.864V0H0V9H6.923V3.864Z"
                                                transform="translate(0 0)" fill="#28A745" />
                                            </g>
                                          </g>
                                        </svg> {{item.value.split(",")[0]}}
                                      </span>
                                    </div>
                                    <div class="col-md-2" *ngIf="styledValue==='comments'">
                                      <span class="video_comm" (click)="getSingleAsignment(assessee , k)">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="noun_comment_847914" width="9"
                                          height="8.1" viewBox="0 0 9 8.1">
                                          <path id="Path"
                                            d="M1.691,6.027c-.169-.123-.34-.238-.5-.369A3.17,3.17,0,0,1,.214,4.405,2.553,2.553,0,0,1,.4,2.011,3.787,3.787,0,0,1,2.38.411,5.735,5.735,0,0,1,6.465.343,4.035,4.035,0,0,1,8.478,1.8a2.679,2.679,0,0,1-.125,3.335A4.471,4.471,0,0,1,5.885,6.593a6.046,6.046,0,0,1-2.027.131.277.277,0,0,0-.18.074,5.479,5.479,0,0,1-2.49,1.255c-.085.018-.171.03-.256.043a.22.22,0,0,1-.252-.121.252.252,0,0,1,.034-.291c.08-.1.162-.2.249-.3A3.027,3.027,0,0,0,1.691,6.027Z"
                                            fill="#1485fe" />
                                        </svg>{{item.value.split(",")[0]}}
                                      </span>
                                    </div>
                                    <div class="col-md-2" *ngIf="styledValue=='assessed'">
                                      <span class="asses_count " *ngIf="item.value == 'true,assessed'"
                                        (click)="getSingleAsignment(assessee , k)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10.749" height="7.668"
                                          viewBox="0 0 10.749 7.668">
                                          <path id="Path_99" data-name="Path 99"
                                            d="M-3257.017-10298.373l2.378,2.514,6.871-6.168"
                                            transform="translate(3257.767 10302.777)" fill="none" stroke="#f45a26"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                                        </svg>
                                      </span>
                                      <span class="asses_count gyt" *ngIf="item.value == 'false,assessed'"
                                        (click)="getSingleAsignment(assessee , k)">
                                        <svg _ngcontent-nxo-c190="" xmlns="http://www.w3.org/2000/svg" width="22.746"
                                          height="22.746" viewBox="0 0 10.746 10.746">
                                          <g _ngcontent-nxo-c190="" id="Group_508" data-name="Group 508"
                                            transform="translate(-15.863 -6.031)">
                                            <path _ngcontent-nxo-c190="" id="Path_92" data-name="Path 92"
                                              d="M-3249.157-10301.331l-5.482,5.472"
                                              transform="translate(-4961.532 9593.05) rotate(45)" fill="none"
                                              stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="1.5"></path>
                                          </g>
                                        </svg>
                                      </span>
                                    </div>
                                    <!-- <div class="col-md-2">32</div>
                            <div class="col-md-1">-</div>
                            <div class="col-sm-1 cross_c lastcol">
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14.129"
                                viewBox="0 0 14 14.129">
                                <path id="Path"
                                  d="M7.334,6.5l5.5-5.478a.562.562,0,0,0,0-.795h0a.568.568,0,0,0-.8,0l-5.5,5.475L.964.164a.568.568,0,0,0-.8,0,.562.562,0,0,0,0,.795L5.733,6.5.168,12.041a.562.562,0,0,0,0,.795h0a.568.568,0,0,0,.8,0L6.532,7.3l5.5,5.472a.568.568,0,0,0,.8,0,.562.562,0,0,0,0-.795Z"
                                  transform="translate(0.5 0.564)" stroke="#000" stroke-miterlimit="10"
                                  stroke-width="1" />
                              </svg>
                            </div> -->
                                    <div class="col-md-2" *ngIf="styledValue=='orignal'"> 
                                      <ng-container
                                        *ngIf="headers[k]?.custom_fields || headers[k]?.avg_performance_levels || headers[k]?.assessment_summary then customField; else notCustomField">
                                      </ng-container>
                                      <ng-template #customField>
                                        <ng-container *ngIf="headers[k]?.field_type != 5 && !headers[k]?.assessment_summary">
                                          <span [innerHtml]="item.value  | safeHtml "></span> 
                                        </ng-container>
                                       <ng-container  *ngIf="headers[k].field_type == 5 && !headers[k]?.assessment_summary"> 
                                      
                                        <div (click)="openDetailsBox($event,j,k,huddle.assessee)" clickOutsideEnabled="true" attachOutsideOnClick="true" (clickOutside)="onClickedParaOutside($event,k,j)" *ngIf="item.value" class="para cu_tip no_padding">
                                          <div id='testContainer' class="tex_elip">
                                              <a class="green_border">
                                                {{HtmlFiletr(item.value)}}
                                              </a>
                                          </div>
                                      </div>
                                      <div class="tip_show" [ngClass]="getAutoSideClass(k,j)" [class.autohight]='autohight'  *ngIf="isOpenParaBox && lastParaIndex == k && j == assessee_index">
                                        <div class="arrow_tip" *ngIf="k != 0" [class.tip_arrow_down]='autohight'>
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="38" viewBox="0 0 32 38">
                                        <defs>
                                            <filter id="Path_112" x="0" y="0" width="32" height="38" filterUnits="userSpaceOnUse">
                                            <feOffset dy="3" input="SourceAlpha"/>
                                            <feGaussianBlur stdDeviation="3" result="blur"/>
                                            <feFlood flood-opacity="0.161"/>
                                            <feComposite operator="in" in2="blur"/>
                                            <feComposite in="SourceGraphic"/>
                                            </filter>
                                        </defs>
                                        <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Path_112)">
                                            <g id="Path_112-2" data-name="Path 112" transform="translate(23 6) rotate(90)" fill="#fff">
                                            <path d="M 19.02840232849121 13.5 L 0.9715985655784607 13.5 L 10 0.8602380156517029 L 19.02840232849121 13.5 Z" stroke="none"/>
                                            <path d="M 10 1.720461845397949 L 1.943187713623047 13 L 18.05681228637695 13 L 10 1.720461845397949 M 10 0 L 20 14 L 0 14 L 10 0 Z" stroke="none" fill="#f4f4f4"/>
                                            </g>
                                        </g>
                                        </svg>
                                      </div>
                                    <div class="title_tip">
                                      <h3>{{headers[k]?.name}}</h3>
                                      <div (click)="closeDetailsBox()" class="close_win"><svg  xmlns="http://www.w3.org/2000/svg" width="11.786" height="11.786" viewBox="0 0 11.786 11.786">
                                      <g id="Group_1912" data-name="Group 1912" transform="translate(-1456.242 -691.586)">
                                          <path id="Path_103" data-name="Path 103" d="M10860.656,693l8.958,8.958" transform="translate(-9403)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="2"/>
                                          <path id="Path_104" data-name="Path 104" d="M10860.656,693l8.958,8.958" transform="translate(2159.614 -10167.656) rotate(90)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="2"/>
                                      </g>
                                      </svg></div>
                                         </div>
                                         <div   [options]="opts" [scrollEvents]="scrollEvents" slimScroll class="scroll-container content_tip"
                                         [innerHTML]="item.value">
                                         </div>
                                      </div>
                                    
                                       
                                       
                                      
                                    
                                       </ng-container>
                                       <!--Assessment Summary-->
                                       <ng-container *ngIf="headers[k]?.assessment_summary && item.value.length>0">
                                     
                 <div clickOutsideEnabled="true" attachOutsideOnClick="true" (clickOutside)="onClickedOutside($event,1)">
                  <div  class="para cu_tip"    (click)="openAssessmentSummaryDetailsBox($event,j,k,huddle.assessee)">
                    <span *ngIf='item.value.length>0'>{{item.value?.length}}</span>
                        <div class="tex_elip" *ngIf="item.value[0]?.comment">
                         <a class="green_border">
                           {{HtmlFiletr(item.value[0]?.comment)}}
                         </a>
                        </div>
                </div>
                <div class="tip_show" [ngClass]="getAutoSideClass(k,j)" [class.autohight]='autohight' *ngIf='isOpenBoxAssessmentSummary && last_assessment_index == j'>
                <div *ngIf="k != 0" class="arrow_tip tip_summary" [class.tip_arrow_down]='autohight'>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="38" viewBox="0 0 32 38">
        <defs>
            <filter id="Path_112" x="0" y="0" width="32" height="38" filterUnits="userSpaceOnUse">
            <feOffset dy="3" input="SourceAlpha"/>
            <feGaussianBlur stdDeviation="3" result="blur"/>
            <feFlood flood-opacity="0.161"/>
            <feComposite operator="in" in2="blur"/>
            <feComposite in="SourceGraphic"/>
            </filter>
        </defs>
        <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Path_112)">
            <g id="Path_112-2" data-name="Path 112" transform="translate(23 6) rotate(90)" fill="#fff">
            <path d="M 19.02840232849121 13.5 L 0.9715985655784607 13.5 L 10 0.8602380156517029 L 19.02840232849121 13.5 Z" stroke="none"/>
            <path d="M 10 1.720461845397949 L 1.943187713623047 13 L 18.05681228637695 13 L 10 1.720461845397949 M 10 0 L 20 14 L 0 14 L 10 0 Z" stroke="none" fill="#f4f4f4"/>
            </g>
        </g>
        </svg>
    </div>
                    <div class="title_tip">
                <span class="summary_ar"> <i> <svg (click)="assessmentSummaryLeft($event,item.value)" xmlns="http://www.w3.org/2000/svg" width="8.706" height="13.671" viewBox="0 0 8.706 13.671">
                <path id="Path_101" data-name="Path 101" d="M4869,629.976l5.857,5.824,4.99-5.824" transform="translate(637.268 -4867.586) rotate(90)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                </svg> </i> {{currentIndex}}/{{item.value?.length}} <i> <svg (click)="assessmentSummaryRight($event,item.value)" xmlns="http://www.w3.org/2000/svg" width="8.706" height="13.671" viewBox="0 0 8.706 13.671">
                <path id="Path_110" data-name="Path 110" d="M4869,629.976l5.857,5.824,4.99-5.824" transform="translate(-628.562 4881.257) rotate(-90)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                </svg> </i>
                </span>
        <h3>{{item.value[currentIndex-1].title}}</h3>
        <div (click)="closeBoxAssessmentSummary()" class="close_win"><svg  xmlns="http://www.w3.org/2000/svg" width="11.786" height="11.786" viewBox="0 0 11.786 11.786">
        <g id="Group_1912" data-name="Group 1912" transform="translate(-1456.242 -691.586)">
            <path id="Path_103" data-name="Path 103" d="M10860.656,693l8.958,8.958" transform="translate(-9403)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="2"/>
            <path id="Path_104" data-name="Path 104" d="M10860.656,693l8.958,8.958" transform="translate(2159.614 -10167.656) rotate(90)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="2"/>
        </g>
        </svg></div>
                     </div>
                   
                     <div  [options]="opts" [scrollEvents]="scrollEvents" slimScroll class="scroll-container content_tip"
                     [innerHTML]="item.value[currentIndex-1].comment">
                     </div>
          
                </div>
                 </div>
                                        
                                    
                                      </ng-container>
                                      </ng-template>
                                      <ng-template #notCustomField>
                                        <span class="pill" (click)="navigateToDetail(assessee , k)"
                                          *ngIf="!isNumeric(item.value)">{{item.value}}</span>
                                        <span *ngIf="isNumeric(item.value)">{{item.value}}</span>
                                      </ng-template>
                                    </div>

                                    <!-- {{item.value}} -->
                                  </ng-container>
                                </ng-container>
                              </ng-container>
                           
                            </ng-container>
                            <div *ngIf="headers.length > 7" [ngClass]="j%2?' lastcol bg_odd':' lastcol bg_even'">
                              <!-- <img   class="pointer" (click)="scrollRight()" src="assets/goals/img/right_op.svg"> -->
                            </div>
                          </div>

                         
                        </ng-container>
                        <div class="page_style container">
                          <pagination-controls id="huddlePage"
                          (pageChange)="pageChanged($event)"
                          (pageBoundsCorrection)="pageChanged($event)"
                          maxSize="9"
                          directionLinks="true"
                          autoHide="true"
                          responsive="true"
                          previousLabel="Previous"
                          nextLabel="Next"
                          screenReaderPaginationLabel="Pagination"
                          screenReaderPageLabel="page"
                          screenReaderCurrentLabel="You're on page">
                </pagination-controls>
                        </div>
                        
                      </ng-container>
                      <div class="top-c pt-25" *ngIf="huddle.assessee.length == 0 && !isLoading">


                        <p class="font-h"><img src="assets/img/nogoal_icon.svg">
                          {{translation?.reporting_no_assessee_found}}</p>
                      </div>
                    </div>
                  </ng-scrollbar>
                  <!-- </div> -->
                </ng-container>
                <!-- </ng-scrollbar> -->
              </ng-container>
            </ng-container>
          </div>
          <!-- </ng-scrollbar> -->
          <div class="pagination_row" *ngIf="!isLoading && attributes.length > 0">
            <!-- <div class="row_per">
              <span class="row_per_page">{{translation?.reporting_rows_per_page}}: </span>
              <select [(ngModel)]="config.itemsPerPage" (change)="onPerPageLimitChange()">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div> -->
            <pagination-template #p="paginationApi" [id]="config.id" maxSize="12" (pageChange)="onPageChange($event)">


              <div class="recent_pagination">
                <nav>
                  <ul class="pagination">
                    <li class="page-item page_fi" [class.disabled]="p.isFirstPage()">

                      <a class="page-link" (click)="p.previous()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.987"
                          viewBox="0 0 7.071 11.987">
                          <g id="Group_1838" data-name="Group 1838" transform="translate(-673 -903.938)">
                            <path id="Path"
                              d="M5.907.148a.534.534,0,0,0-.738,0L.151,5.07A.6.6,0,0,0,0,5.415H0v.016H0v.016H0v.016H0a.551.551,0,0,0,.151.329l5.018,4.922a.534.534,0,0,0,.738,0,.5.5,0,0,0,0-.741L1.275,5.432,5.907.889A.5.5,0,0,0,5.907.148Z"
                              transform="translate(673.5 904.5)" fill="#2D2D2D" stroke="#2D2D2D" stroke-width="1"
                              opacity="0.7"></path>
                          </g>
                        </svg>
                      </a>
                    </li>
                    <li class="page-item " [class.disabled]="p.isFirstPage()"> <a class="page-link"
                        (click)="p.setCurrent(1)"> {{translation?.first_angular_rubrics}}</a>
                    </li>

                    <li class="page-item" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                      <a class="page-link" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{
                        page.label }}</a>
                      <div *ngIf="p.getCurrent() === page.value">
                        <a class="page-link">{{ page.label }}</a>
                      </div>
                    </li>


                    <li class="page-item " [class.disabled]="p.isLastPage()"> <a class="page-link"
                        (click)="p.setCurrent(p.getLastPage())">{{translation?.last_angular_rubrics}}</a></li>
                    <li class="page-item page_la" [class.disabled]="p.isLastPage()"> <a class="page-link"
                        (click)="p.next()"><svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.987"
                          viewBox="0 0 7.071 11.987">
                          <g id="Group_1839" data-name="Group 1839" transform="translate(-11.929 -7.938)">
                            <path id="Path"
                              d="M.164.148A.534.534,0,0,1,.9.148L5.92,5.07a.6.6,0,0,1,.151.346h0v.016h0v.016h0v.016h0a.551.551,0,0,1-.151.329L.9,10.716a.534.534,0,0,1-.738,0,.5.5,0,0,1,0-.741L4.8,5.432.164.889A.5.5,0,0,1,.164.148Z"
                              transform="translate(12.429 8.5)" fill="#2D2D2D" stroke="#2D2D2D" stroke-width="1"
                              opacity="0.7"></path>
                          </g>
                        </svg></a>
                    </li>
                  </ul>
                </nav>
              </div>

            </pagination-template>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>

<ng-template #assessorModal>

  <!-- Modal content-->

  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{translation?.assessor_global}}</h4>
      <button type="button" class="close" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</button>

    </div>

    <div class="modal-body manage_popup">


      <div class="row par_heading">
        <div class="col-md-6">
          <span>{{translation?.name_global}}</span>
        </div>
        <div class="col-md-6">
          <span>{{translation?.email_global}}</span>
        </div>
      </div>
      <div class="row par_listing" *ngFor="let value of huddleAssessors">
        <div class="col-md-6 img_cir">
          <span>
            <img [src]="getImage(value?.user_id , value?.image)"></span>
          {{value.user_name}}
        </div>
        <div class="col-md-6">
          <span>{{value.user_email}}</span>
        </div>
      </div>

    </div>

    <div class="modal-footer footerm">


      <div class="col-12 share_btn">


        <button type="button" class="btn btn-success" (click)="bsModalRef.hide()">{{translation?.ok}}</button>
      </div>



    </div>
  </div>

</ng-template>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">{{translation?.title_alert}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert_bg row">
          <div class="col-2">
            <img src="assets/img/alert_i.svg" style="top: 13px;">
          </div>
          <div class="col-10">
            <h6>{{translation?.artifacts_user_not_submitted_assessment }}</h6>
          </div>
        </div>

      </div>

      <div class="modal-footer hufooter de_footer">
        <div class="col-12">

          <a class="conf_delete" (click)="hideChildModal()">{{translation?.huddle_list_ok}}</a>

        </div>

      </div>
    </div>
  </div>
</div>