.box_outer {
    background: #fff;
    border-radius: 5px;
    margin-top: 15px !important;
    margin-bottom: 20px !important;
}

.topheader {
    text-align: center;
    background: url(/assets/img/bgrep.png) repeat-x;
}

.bg{
    background: #fff;
}

.pan_heading {
    border-bottom: 1px solid #ddd;
    padding: 18px 10px;
    background: #f9f9f9;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

img {
    max-width: 100%;
}

.pan_heading h3 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;    color: #484848;
}

.tabs_barcls {
    padding: 15px 0 0 0;
    height: 55px;
}

.tabs_barcls .nav-tabs {
    border: 0;
    position: relative;
    top: 4px;
}

.tabs_barcls .nav-tabs .nav-item {
    margin-bottom: -1px;
    border: 1px solid #ddd;
    padding: 6px 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 0;
    height: 37px;
}

.tabs_barcls .nav-tabs .nav-item a {
    color: #A0A0A0;
    text-decoration: none;
    font-size: 15px;
}

.tabs_barcls .nav-tabs .nav-item a.active {
    color: #1C7CD5;
}

.tracker_as {
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.search_coaching input[type=text] {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 4px 25px 4px 35px;
    background: url(/home/assets/trackers/img/search_icon.svg) no-repeat center left 11px;
    background-size: 19px;
}

.search_coaching {
    width: 31.5%;
    float: left;
}

.coaching_filter {
    width: 31.5%;
    float: left;
    padding-left: 15px;
}

.date_coaching {
    width: 28%;
    float: left;
    float: left;
}

.co_or {
    float: left;
    text-align: center;
    width: 4%;
    line-height: 41px;
}

.date_coaching input[type=text] {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 4px 35px 4px 15px;
    background: url(/home/assets/trackers/img/cal_ic.svg) no-repeat center right 11px;
    background-size: 19px;
}

.coaching_option {
    position: relative;
    float: right;
}

.open_coachrow {
    float: right;
}

.open_coachrow {
    cursor: pointer;
}

.coaching_option button {
    border: 0;
    padding: 0;
    background: none;
    outline: none;
    cursor: pointer;
    margin-right: 13px;
}

.coaching_option .dropdown-toggle::after {
    display: none;
}

.coaching_option .dropdown-menu {
    min-width: 85px !important;
    padding: 10px 6px 6px 9px !important;
    left: inherit !important;
    right: 0 !important;
}

.coaching_option .dropdown-menu a {
    font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 5px;
    cursor: pointer !important;
}

.coaching_option .dropdown-item {
    padding: 1px 13px;
}

.coachingopt_row .col-10 {
    padding-left: 0;
}

.coachingopt_row {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.coachingopt_row p {
    margin: 0;
    color: #010101;
}

.coachingopt_row p span {
    color: #616161;
}

.coachingopt_row h3 {
    color: #000;
    font-size: 16px;
    margin: 0;
}

.coachingopt_row .col-2 {
    text-align: right;
}

.coachingopt_row .col-10 p {
    color: #010101;
    margin: 0;
}

.coaching_filter .btn-secondary {
    border-color: #cccccc;
    background: #fff;
    color: #484848;
    min-width: 75px;
    text-align: center;
    line-height: 26px;
    padding-left: 2px;
    padding-right: 2px;
}

.coaching_filter .active {
    background: #f5f5f5 !important;
    color: #484848 !important;
    border-color: #cccccc !important;
}

.coaching_filter .ic1 {
    width: 18px;
    margin-right: 8px;
    position: relative;
    top: -1px;
}

.coaching_filter .ic2 {
    width: 13px;
    margin-right: 8px;
    position: relative;
    top: -1px;
}

.coaching_filter .ic3 {
    width: 20px;
    margin-right: 8px;
    position: relative;
    top: -1px;
}

.coaching_filter .btn-secondary:not(:disabled):not(.disabled).active:focus,
.coaching_filter .btn-secondary:not(:disabled):not(.disabled):active:focus,
.coaching_filter .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(108, 117, 125, 0);
    border-color: #cccccc !important;
}

.coaching_filter .btn-secondary.focus,
.coaching_filter .btn-secondary:focus {
    box-shadow: 0 0 0 0 rgba(108, 117, 125, 0);
}

.coaching_filter .btn-secondary:not(:disabled):not(.disabled).active,
.coaching_filter .btn-secondary:not(:disabled):not(.disabled):active,
.coaching_filter .show>.btn-secondary.dropdown-toggle {
    background: #fff;
    opacity: 1 !important;
    color: #484848 !important;
    border-color: #cccccc !important;
}

.right_co {
    padding-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.onlyborder {
    border-bottom: 1px solid #ddd;
    margin: 0 15px;
    display: block;
    flex: auto;
    padding-top: 15px;
}

.clear {
    clear: both;
}

.no_coaching {
    text-align: center;
    padding: 70px 15px;
    color: #484848;
    font-size: 16px;
    border: 0 !important;
}

.no_coaching img {
    margin-right: 5px;
}


/****/

.coach_inercls {
    width: 100%;
}

.innerheading {
    border-bottom: 1px solid #ddd;
    padding: 30px 0 15px 0;
}

.coacheecls {
    float: left;
    width: 25%;
    padding-top: 7px;
}

.feedback_cls {
    float: left;
    width: 50%;
    padding-top: 7px;
}

.coachee_search {
    float: left;
    width: 25%;
}

.coachee_search input[type=text] {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 4px 25px 4px 35px;
    background: url(/home/assets/img/search_icon.svg) no-repeat center left 11px;
    background-size: 19px;
}

.feedback_cls span {
    margin-right: 15px;
    color: #484848;
}

.feedback_cls i {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-right: 6px;
}

.fed1 i {
    border: 2px solid #FF6969;
}

.fed2 i {
    border: 2px solid #FFD169;
}

.fed3 i {
    border: 2px solid #28A745;
}

.coach_bx {}

.coach_detail {}

.open_coachrow img {
    width: 18px;
}

.coaching_option button img {
    width: 17px;
}

.p0 {
    padding: 0;
}

@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.tran {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #d9d9d9;
    background: linear-gradient(to right, #e9e9e9 8%, #F0F0F0 18%, #efefef 33%);
    background-size: 800px 104px;
    position: relative;
}

.tracker_opt .activecls {
    font-weight: 600;
    color: #057eff!important;
}

.tracker_opt .activecls svg {
    float: right;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 6px;
    right: 6px;
}

.tracker_opt a svg path {
    fill: #057eff;
}

.trac1 {
    height: 20px;
    width: 200px;
    margin-bottom: 10px !important;
}

.trac2 {
    height: 15px;
    width: 430px;
}

.trac3 {
    height: 20px;
    width: 20px;
    float: right;
}

.trac4 {
    width: 100px;
    height: 16.2px;
    display: block;
    margin: 3px 0px;
}

.trac5 {
    height: 40px;
    width: 60%;
}

.trac6 {
    height: 22px;
    width: 22px;
    float: right;
    position: relative;
    top: 5px;
    margin-right: 15px;
}

.trc_row .col-11 {
    padding-left: 0;
}

.trc_row .col-9 {
    padding-left: 0;
}

.trc_row {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.trc_row p {
    margin: 0;
    color: #010101;
}

.trc_row p span {
    color: #616161;
}

.trc_row h3 {
    color: #000;
    font-size: 16px;
    margin: 0;
}

.trc_row .col-1 {
    text-align: right;
}

.trc_row .col-11 p {
    color: #010101;
    margin: 0;
}

.trc_row .col-11 p span {
    color: #616161;
}

.x_hu_cross {
    cursor: pointer;
    position: absolute;
    right: 70%;
    opacity: 0.6;
    top: 16px;
}

.coaching_filter .active {
    font-weight: 800;
}
body{background:#f3f2ea; font-family: 'Roboto', sans-serif; }
.box_outer{ border-radius:5px;     margin-top: 15px !important; background:#fff;     margin: 0 -15px;}
 .topheader{text-align: center; background:url(/home/assets/trackers/couching-report/img/bgrep.png) repeat-x;}
 img{ max-width: 100%; }

/****/
.hec{ background:#004061;}
.logocls{     width: 175px;
    height: 64px;
    background: #fff;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.3);     text-align: center;}
.logocls img{ max-width:119px;    position: relative;
    top: 3px;}
.hec .col-4{padding-left: 0;}
.bred img{    margin: 0 5px;}
.bred{    color: #838383!important;font-weight: 400;     padding: 15px 0 0 0; font-size: 14px;}
.bred .container{ padding-left:5px;}
.bred span{ color:#000;}
.box_outer .m0 { margin:0 -15px;}

.tabscls{ padding:20px 0;}



  @media screen and (min-width:1280px) {




.container {
    max-width: 1201px !important;    padding: 0 15px !important;
}
   }

   @media screen and (min-width:1500px) {

.container {
    max-width: 1450px !important;    padding: 0 15px;
}

   }



 /**top headeing bar start **/
.panl_heading { border-bottom:1px solid #ddd;     padding: 5.5px 15px;     background: #f9f9f9;    }
.panl_heading  h3{        font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #212528;}
.right_opt { text-align:right;     padding-top: 2px;}
.right_opt button{   border: 0;
    padding: 0;
    background: none;
    outline: none !important;
    cursor: pointer !important;}



.tabscls .nav-tabs {

    position: relative; padding:0 20px;

}

.tabscls .nav-tabs .nav-item {
   margin-bottom: -1px;

    border: 1px solid #ddd;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 0;
    line-height: 26px;
    height: 35px;
    min-width: 176px;
    text-align: center;
}

.tabscls .nav-tabs .nav-item a {
    color: #A0A0A0;
    text-decoration: none;
    font-size: 15px;
	    display: block;
    padding: 4px 26px 4px 26px;
}

.tabscls .nav-tabs .nav-item a.active {
    color: #1C7CD5;
}



.g_search {    width:40%;float: left;     padding-right: 12px;}
.g_tyle {    width:13%;float: left;    padding-right: 12px;}
.cat_mg {width:15%;float: left; padding-right:35px; position:relative;    }
.st-date {width:15%;float: left; position:relative; padding-left:35px;     padding-right:12px;}

.g_tyle select {
    background: #f8f8f8;
    height: 37px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 13px;
}

.cat_mg a {
    position: absolute;
    right: 7px;
    top: 0px;
    background: #f6f6f6;
    display: inline-block;
    padding: 5.5px 8px;
    border: 1px solid #ddd;
    z-index: 1;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.cat_mg select {
    background: #f8f8f8;
    height: 37px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 13px;
}

.tab-content { padding:0 0 15px 0;}

.arch_search input[type=text] {
    width: 15%;
    height: 38px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 5px;
    background: url(/home/assets/trackers/couching-report/img/search_icon.svg) no-repeat center right 9px;
    background-size: 19px;
    padding-right: 35px;
    margin-right: 1%; float:left; font-size:14px;
}




    .btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0 rgba(108, 117, 125, 0);
        border-color: #cccccc !important;
    }

    .btn-secondary.focus, .btn-secondary:focus {
        box-shadow: 0 0 0 0 rgba(108, 117, 125, 0);
    }

    .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
        background: #fff;
        opacity: 1 !important;
        color: #484848 !important;
        border-color: #cccccc !important;
    }

	.filter_options {
    width: 22%;
    float: left;
}


    .filter_options .btn-secondary {
        border-color: #cccccc;
        background: #fff;
        color: #484848;
           padding-right: 1%;
    padding-left: 1%;
    width: 24%;
    font-size: 14px;
    text-align: center;
	    padding-top: 9px;
    padding-bottom: 7px;
    }

    .filter_options .active, .btn-secondary:hover {
        background: #f5f5f5 !important;
        color: #484848 !important;
        border-color: #cccccc !important;
    }

    .filter_options .ic1 {
        width: 18px;
        margin-right: 8px;
        height: 18px;
    }

    .filter_options .ic2 {
        width: 22px;
        margin-right: 8px;
        height: 22px;
    }

    .filter_options .ic3 {
        width: 20px;
        margin-right: 8px;
        height: 20px;
    }

   .date_rng {
    width:20%;
    float: left;
    position: relative; padding-left:27px;
}

.date_rng span { position: absolute;
    left: 0px;
    top: 10px;
    font-size: 14px;}

.date_rng input[type=text] {
    width: 100%;
    height: 38px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 30px 10px 10px;
    background: url(/home/assets/trackers/couching-report/img/cal_ic.svg) no-repeat center right 9px;
    background-size: 19px;
    padding-right: 35px;
    background-position-y: 11px;
    background-size: 18px 18px;     font-size: 14px;
}

.butn_green { position:absolute; right:0px;}
.filter{    position: relative;     padding: 0 115px 30px  19px; }

.butn_green button{background: #1ea659;
    border: 0;
    color: #fff;
    float: left;
    padding: 9px 15px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;}

	.butn_green a{     display: inline-block;
    background: #039542;
    padding: 3px 10px;
    float: left;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    left: -2px;
    line-height: 33px;}

	.butn_green a svg{ position:relative; top:2px;}

    .h_row{
         font-size:14px;

        -ms-flex-wrap: initial;
        flex-wrap: initial;
    }
	.h_row .col-1{ padding:15px 7px; text-align:center;
    background: #eaeaea !important;
}

    .rep_row{  font-size: 14px;  border-bottom:1px solid #fff;
        margin: 0px;
        -ms-flex-wrap: initial;
        flex-wrap: initial;
        background:#cccccc;
    }
	.rep_row .col-1{ padding:25px 7px 15px 7px; text-align:center;  -ms-flex: 0 0 150px;
     background:#cccccc;
}
.rep_row .col1{ background:#cccccc; padding:15px 7px;  }


	.col1 img{ width:45px; height:45px; border-radius:50%;     margin: 0 15px;     object-fit: cover;}
	.col1 b { text-transform:uppercase; font-size:20px;     line-height: 46px;}
	.inner_1 { display:flex;}
	.inner_1 label { margin:0; font-weight:600;}
	.inner_1 p{ margin:0;    overflow: hidden;
    text-overflow: ellipsis;
    display: block;}
	.name_detail { width:100%; white-space:nowrap; overflow: hidden;    text-overflow: ellipsis; }

	.col1 {


    position: sticky;
    left: 0;
    background: #cccccc;
    z-index: 2;
    -ms-flex: 0 0 350px;
    flex: 0 0 350px;
    max-width: 350px;
}

	.lastcol {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 81px !important;
    flex: 0 0 81px!important;
    max-width: 81px!important;
    position: sticky;
    right: -1px;     height: 50px;
}


.inner_rep .rep_row{ background:#eaeaea; min-width: 100%;}

.rep_row_odd{ background:#eaeaea !important; min-width: 100%;}
.rep_row_even { background:#fff !important; min-width: 100%;}

.ngx-pagination .current{
    background: transparent !important;
    color: #7777d6 !important;
    cursor: default;
}

.scroll_cls{
    overflow: auto;
}

.scroll_cls .col-1{
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
    max-width: 150px;
}

.bg-none{
    background: none !important;
}


.pagination_row {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    position: relative;

}


.row_per {
    left: 0;
    position: absolute;
    font-size: 14px;
    margin-left: 22px;

}
.page-link {
    border: none;
}

.row_per select {
    height: 32px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fbfbfb;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.export_option {
    right: 12px;
    position: absolute;
}

.export_option .dropdown-toggle::after {
    display: none;
}

.export_option button {
    background: none;
    border: none;
    outline: none;
}
.export_option .dropdown-menu.show {
 position: relative;
    left: inherit !important;
    top: 24px !important;
    right: -32px !important;
    border-radius: 4px;     -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.1);
}

.export_option .dropdown-item {    font-size: 14px;     padding: 6px 10px !important;}
.export_option button img { width:24px;}
.text_elipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.rep_row_even .bg-none{background:#fff !important;}
.rep_row_even  .col-1{background:#fff !important;}

.rep_row_odd  .col-1{background:#eaeaea !important;}
.rep_row_odd .bg-none{background:#eaeaea !important;}

.h_row .bg-none{    background: #eaeaea !important;}

.recent_pagination .page-item.current  div a {
    color: #2a87ea!important;
}

.pill:hover{ background:#2fa9e8; color:#fff; display:inline-block; border-radius: 20px;
    padding: 2px 12px;
    font-size: 14px; cursor:pointer;}

	.selected-item {    white-space: nowrap !important;
    text-overflow: ellipsis;
    color: #000;
    background: none !important;
    border: 0 !important;
   padding: 0!important;
    font-size: 12px!important;
    max-width: 64%!important;
    overflow: hidden;}

	.dropdown-up {border-bottom: 5px solid #adadad!important;
    border-left: 5px solid transparent!important;
    border-right: 5px solid transparent!important;}

    .page-link{
        color: black !important;
    }

    .img_cir span {
        width: 29px;
        display: inline-block;
    }

    .img_cir img {
        max-width: 46px;
        position: relative;
        border: 3px solid #fff;
        border-radius: 50%;
        height: 45px;
        width: 45px;
        object-fit: cover;
    }

    .rep_row .col-9, .rep_row .col-2, .rep_row .col-1{margin-top: auto; margin-bottom: auto; padding: 10px 15px;}
    .exp_left b{ display: block;}
    .exp_left { padding-left: 25px !important;}

.rep_row_page {
    margin: 25px;
}

.asse_par_list, .asse_par_heading { margin:0 !important;     -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;}

.stickme .firstcol{cursor: pointer;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    left: 0px;
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
    z-index: 99; padding-left: 15px;}

	.asse_par_list .col-md-2 {
        flex: 0 0 150px;
        max-width: 150px;
        font-size: 14px;
        padding: 0 5px; text-align:center;
    }
    .img_width{
        /* background: #eaeaea; */
        display: inline-block;
        width: 21px;
        height: 50px;
        float: right;
        /* padding-top: 7px; */
    }

    .bg_even{
        background:#fff !important;
    }
    .bg_odd{
        background:#eaeaea !important;
    }
    .asse_par_heading .col-md-2 {
        flex: 0 0 150px;
        max-width: 150px;
        font-size: 14px;
        padding: 0 5px; text-align:center;
    }

	.asse_par_list .col-md-1 {  flex: 0 0 150px;
        max-width: 150px;
        font-size: 14px;
        padding: 0 5px; text-align:center;}

	.list_detail { padding-left:8px;}
   .top_detail { margin:0; background: #eaeaea;}

   .top-c{
       text-align: center;
   }
   .top-c img {
    padding: 10px;
}

   /* Animation Css */


@-webkit-keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }


  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
   .g_ani2{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
        background: linear-gradient(to right, #ededed 8%, #e9e9e9 18%, #ededed 33%);
    background-size: 800px 104px;

    position: relative;
  }

   .g_ani3{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
       background: linear-gradient(to right, #d3d3d3 8%, #d3d3d3 18%, #cacaca 33%);
    background-size: 800px 104px;

    position: relative;
  }






   .g_ani3{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
        background: linear-gradient(to right, #dddddd 8%, #d5d5d5 18%, #d5d5d5 33%);
    background-size: 800px 104px;

    position: relative;
  }



  .g_ani{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;

    position: relative;
  }

  .gn1{ width:50%; height:40px;}
  .gn2{ width:50px; height:40px; float:right;}
  .gn3{ width:100%; height:37px;}
  .gn4 {    border-radius: 50%;
      width: 35px;
      height: 35px; display:inline-block;}
      .mleft8 {    margin-left: -9px !important;}
      .cg1 { height:20px; width:100%; margin-bottom:10px;}
      .cg2 { height:20px; width:40%; margin-bottom:10px;}
      .cg3 { height:30px; width:100%; margin-bottom:10px;}
      .cg4 { height:60px; width:100%; margin-bottom:10px;}


  .goa1{width:50%; height:40px;}
  .goa2{    width: 34%;
      height: 32px;
      display: inline-block;
      position: relative;
      top: 4px;}
  .p0 { padding:0;}


  .goa3{    margin-right: 5px;
      width: 38px;
      height: 38px;
      border-radius: 50%; display:block;}
      .goa4{ height:18px;
      display: block; width: 34%; margin-bottom:10px !important;}
      .goa5{ height:32px;
      display:block; width: 34%;}


  .goa6{    float: right;
      width: 61%;
      position: relative;
      top: 20px;
      height: 18px;
      display: block;}

          .goa7{ height:18px;
      display:block; width: 80%; margin:0  0 10px 0!important;}
      .goa8{ height:18px;
      display:block; width: 80%; margin:0  0 0px 0!important;}

      .goa9{ height:35px;
      display:block; width: 50%; margin:0  0 10px 0!important;}

      .goa10{ height:18px;
      display:block; width: 100%; margin:0  0 10px 0!important;}


      .goa11{
      width: 10%;

      height: 18px;
      display: block; margin-bottom:8px !important;}


      .goa12{
      width: 40%;

      height: 18px;
      display: block;}

      .goa13{
      width: 100%;

      height: 18px;
      display: block;}

          .goa14{
      width: 100%;

      height: 40px;
      display: block;     margin-bottom: 20px;}

          .goa15{
      width: 100%;

      height: 18px;
      display: block; margin-bottom:8px;}


      .goa16{
        height: 29px;
      display: inline-block;
      border-radius: 50px;
      padding: 4px 3px;
      width: 92px;
      margin-left: 18px;}
      .tabscls .nav-tabs .nav-item a.g_ani{    margin: 7px;
      height: 20px;}

      .gn3_s { display:block; height:25px; margin-bottom:5px;}

      .gn3_i{width: 45px;
      height: 45px;
      border-radius: 50%;
      margin: 0 15px;
      object-fit: cover;}

      .ani_sc .h_row .col-1{
        flex: 0 0 20% !important;
        max-width: 20% !important;
      }

      .ani_sc .rep_row .col-1{
        flex: 0 0 20% !important;
        max-width: 20% !important;
      }

	   .skborder { border-bottom:1px solid #fff;}
	  .ani_sc .h_row .col-1.ani_fs {    -ms-flex: 0 0 350px!important;
    flex: 0 0 350px !important;
    max-width: 350px!important;}

    /* End Animation Css */

	.img_cir span { width:auto !important;}


	.par_heading {
    border-bottom: 1px solid #D8D8D8;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 0px;
    line-height: 26px;
}
.par_heading  div{ padding-left:0;}
.par_listing {
    padding: 12px 0 0 0;
}

.par_listing .col-md-6{ margin-top:auto; margin-bottom:auto;}

.footerm {
    border: 0;
    text-align: right;
    padding-bottom: 21px;
}

.share_btn {
    padding-top: 15px;
    border-top: 1px solid #ddd;
}

.col_lst { position: relative;}
.exp_cls {     position: absolute;
    right: 22px;
    cursor: pointer;
    top: 6px;}
.acc_div img{     width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover; margin-left:7px;     cursor: pointer;}
	.img_crl img { width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover; margin-left:7px; cursor: pointer;}
.col_lst{     margin-top: auto !important;
    margin-bottom: auto;     text-align: right;
    padding-right: 113px;}
.exp_cls img { margin-left:5px;}
.acc_div { }

.video_comm{
    cursor: pointer;
}

.res_file{
    cursor: pointer;
}
.video_cou{
    cursor: pointer;
}
.asses_count{
    cursor: pointer;
}

.cursor{
    cursor: pointer;
}

.modal-header{    background: #f9f9f9;}

.ani_sc .rep_row .col-1 {background: #f3f3f3 !important;}
	.ani_sc .rep_row  {background: #f3f3f3 !important;}
	.ani_sc .rep_row .col1 {background: #f3f3f3 !important;}


	.ani_sc .h_row .col-1 {background: #f3f3f3 !important;}
	.ani_sc .h_row  {background: #f3f3f3 !important;}
    .ani_sc .h_row .col1 {background: #f3f3f3 !important;}

    .limt_over{
        background: #EAEEF3;
    border-radius: 50%;
    width: 48px !important;
    height: 48px;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    margin-left: 1px;
    padding-left: 5px;
    position: relative;
    border: 3px solid #fff;
    }

    /* @media only screen and (max-width:1500px) and (min-width: 1301px)  {
		.img_box span.fake_link {width: 20px !important;}
    } */

    .assessor_images span{
        display: inline-block;
        width: 35px;
        height: 35px;
        margin-right: -12px;
    }

    .assessor_images span.limt_over{
        width: 42px !important;
        height: 42px !important;
        padding-left: 0px !important;
        text-align: center;
        line-height: 36px;
    }

    .limt_over a {
        color: #484848;
        text-decoration: none;
    }

    .center{
        text-align: center;
    }

    .word-break{
        word-break: break-all;
    }

    .alert_bg {
        background: #F7DF9A;
        padding: 10px;
        margin: 0 0 15px 0 !important;
        border-radius: 4px;
    }

    .alert_bg .col-2 {
        padding-left: 0;
        text-align: center;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 14.666667%;
        flex: 0 0 14.666667%;
        max-width: 14.666667%;
    }

    .alert_bg .col-10 {
        padding: 0;
    }

    .alert_bg img {
        width: 24px;
        position: relative;
        top: 19px;
    }

    .alert_bg h6 {
        font-weight: 400;
        font-size: 15px;
        margin: 0;
        padding: 15px 0 20px 0;
    }

    .alert_bg p {
        font-size: 12px;
    }

    .hufooter a.conf_delete {
        border: 1px solid #CECECE;
        padding-right: 30px;
        padding-left: 30px;
    }

    .hufooter a.okbtn {
        background: #057EFF;
        color: #fff !important;
    }

    .hufooter {
        border: 0;
        text-align: right;
        padding-bottom: 21px;
    }

    .hufooter a {
        display: inline-block;
        padding: 9px 22px;
        border-radius: 5px;
        color: #484848;
        text-decoration: none;
    }

    .hufooter .green_btn {
        background: #28A745;
        color: #fff !important;
        padding-right: 30px;
        padding: 10px 30px;
        border-radius: 4px;
        border: none;
    }

    .hufooter .creat_btn:hover {
        color: #fff;
        text-decoration: none;
    }

    .pl-58{
        padding-left: 58px!important;
    }

    .pt-25{
        padding-top: 25px;
    }

    .three-dot {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .acc_div{
        display: flex;
    }

    .assessor_images span{
        width: 28px;
        height: 28px;
    }

    .assessor_images span.limt_over{
        width: 35px !important;
        height: 35px !important;
    }

    .assess_title{
        position: relative;
        top: 6px;
    }

    .assessor_images {
        text-align: left;
    }


.full_view_re .ass_info { border-right:1px solid #cacaca; padding:0 15px;     width: 20%;}
.full_view_re .ass_info:last-child{ border:0 !important;}
.right_full { display:flex; border-top:1px solid #cacaca; padding-top:18px;}
.full_view_re .ass_detail .word-break{     word-break: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
.ass_info{ }
.acce_name { position:relative; text-align:center; padding-left:60px;}
.acce_name label { position:absolute; left:-12px; top:5px;     color: #000000;}

.more-desc {
    float: right;
    margin-bottom: 1rem;
}

.less-desc {
    float: right;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.more-desc button{background: #4B4B4B;
    border: 0;
    color: #fff;
    float: left;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    height: 35px;
    width: 104px;
    text-align: center;
    outline: none;
}

.less-desc button{background: #4B4B4B;
    border: 0;
    color: #fff;
    float: left;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    height: 35px;
    width: 104px;
    text-align: center;
    outline: none;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 999;
}

.scrollBar {
  --scrollbar-border-radius: 0px;
  --scrollbar-size: 0px;
  --scrollbar-padding: 0px;
  --scroll-view-margin: 0;
}

/* .page_style{
    padding:20px 15px 5px 15px;
    text-align: center;
}


::ng-deep .page_style .current {
    background: none !important;
    color: #2a87ea  !important;

} */

.page_style{
    padding: 15px !important;
text-align: center;
/* float: left !important; */
margin-left: 0px !important;
position: sticky;
left: 0px;
}

::ng-deep .page_style .current {
    background: none !important;
    color: #2a87ea  !important;

}


/* paragraph field and assessment summary */

.para {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flow-root;
  cursor: pointer;
}

.para:hover {
    color: #28A745;

}

.tip_main { position: relative;     min-height: 28px; }
.cu_tip { position:relative;padding-left: 45px;}
.cu_tip span{    display: inline-block;

  min-width: 38px;
  height: 27px;
  background: #fff;
  border: 2px solid #979797;
  text-align: center;
  border-radius: 15px;
  line-height: 23px; position:absolute; left:0;}
.cu_tip:hover span{ color:#28A745;  border: 2px solid #28A745;}
.cu_tip div{ position: relative;
  top: 3px; min-height: 27px;}

  .tip_show{ position: absolute;
  top: 0;
  right: 149px;
  width: 350px;
  background: #fff;

padding: 18px 15px;
  border: 1px solid #f4f4f4;     -webkit-box-shadow: 0px 1px 7px 0px rgb(0 0 0 / 10%);
  box-shadow: 0px 1px 7px 0px rgb(0 0 0 / 10%);
  z-index: 999;
}

   ::ng-deep .tip_show p  {
      white-space: normal !important;
      display: block;
  }

  .tip_main {    overflow: visible !important;}
  .title_tip { display:flex;     margin: -5px; padding-bottom:10px;}
  .title_tip h3{    font-size: 15px; padding: 0 8px;     margin: 0;}
  .title_tip span i{ margin:0 5px; display:inline-block;     position: relative;
  top: -1px;     cursor: pointer;}
  .close_win{margin-left: auto;
  cursor: pointer;}
  .content_tip p{ white-space:normal; overflow:inherit; margin-bottom:10px; height: 220px !important;}
  .content_tip {
    padding-right: 20px;
    text-align: left;
    line-height: 22px;
    word-wrap: break-word !important; max-height: 220px !important;min-height: 40px;
  }
  .arrow_tip {
          position: absolute;
  right: -16px;
  top: 0px;
  overflow: hidden;
  width: 16px;

}

.arrow_tip svg{    width: 45px;
  position: relative;
  left: -17px;}



.autohight{
  bottom: 0;
  top: auto !important;
}
.auto_side {
    left: -198px;
    top: 32px;
}
.auto_side_bottom {
    left: -198px;
    top: 32px;
    bottom: 32px;
}
/* .mh2500{
  min-height: 600px !important;
} */

.tip_arrow_down{
  bottom: 0;
  top:auto !important;
}

/* .sum_para { padding-left:45px;} */
.summary_ar{
  display: flex;
}
.green_border{
  border-bottom: 2px dotted #28A745;
  color: black;

  overflow: hidden;
  text-overflow: ellipsis;
}

.green_border:hover{
  border-bottom: 2px solid #28A745;
  color: #28A745;
  text-decoration: none;

}

.no_padding{
  padding-left: 0px !important;
}

.tex_elip {    text-overflow: ellipsis;
    overflow: hidden;}

.container_height {
    height: 600px !important;
}

.tip_show .slimscroll-bar {
    width: 6px !important;
    background: #28A745 !important;
}

