body{background:#f3f2ea; font-family: 'Roboto', sans-serif; }
header{ background:#808184; margin-bottom:60px;}
header .col-3{     padding-left: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    text-align: center;
    margin: -1px 0;}
	
	
	header .col-9{     
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
    
   }
	
	
	
.logo  { background:#fff;}
.logo img { max-width:90px;}
 .topheader{text-align: center;}
 
.box_con{ background:#fff;  border-radius:5px;       max-width: 1024px; margin:0 auto; margin-top:20px; margin-bottom:20px; padding-bottom:20px;}
.menucls  {    padding-top: 16px;}
.menucls a{ color:#ccc; display:inline-block; margin:0 40px; text-decoration:none;}
 .topheader{text-align: center;}
.panl_heading { border-bottom:1px solid #ddd; padding:18px 10px;     background: #f9f9f9;     border-top-right-radius: 5px;     border-top-left-radius: 5px;}
.menucls .active { color: #fff !important; }

.heading{border-bottom: 1px solid #ddd;
    padding: 18px 10px;
    background: #f9f9f9;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;}
	.heading h2{font-size: 20px;
    margin: 0;
    padding: 8px 15px;}

.toplogo { text-align:center; padding:20px 0 10px 0;}
.toplogo img{ max-width:150px;}
.toplogo h2{ color:#000; font-size:28px;}
.nav_li { padding:0px 15px 40px 15px;}
.nav_li select { width:150px; height:40px; border:1px solid #ddd; margin-right:10px;}
.nav_li a { display:inline-block; font-size:16px; color:#000; text-decoration:none; margin:0 15px;}
.lic_inner{    padding: 13px 11px;
    margin: 0;}
.lic_inner b { font-weight:600; color:#000;}
.lic_inner .col-1{-webkit-box-flex: 0;
    -ms-flex: 0 0 7%;
    flex: 0 0 7%;
    max-width: 7%;     padding: 0 7px; }
    .lic_inner .col-2 span{overflow: hidden;
        display: block;
        text-overflow: ellipsis;}

.lic_inner .col-2{-webkit-box-flex: 0;
    -ms-flex: 0 0 12%;
    flex: 0 0 12%;
    max-width: 12%;     padding: 0 7px; }
.lic_inner .col-3{-webkit-box-flex: 0;
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
    max-width: 24%;     padding: 0 7px; }
	
		.lic_inner .lc1 {-webkit-box-flex: 0;
    -ms-flex: 0 0 11%;
    flex: 0 0 11%;
    max-width: 11%;     padding: 0 7px; }
	.lic_inner .lastc {-webkit-box-flex: 0;
    -ms-flex: 0 0 9%;
    flex: 0 0 9%;
    max-width: 9%;     padding: 0 7px;  text-align:left;} 
.lic_inner a {     text-decoration: underline !important;}


 .lic_popup .nav-tabs .nav-item a{ color:#A0A0A0; text-decoration:none;     font-size: 15px; border-bottom: 2px solid #fff;} 
 .current_a {    border-bottom: 2px solid #007bff;}
   .lic_popup .nav-tabs .nav-item a.active{ color:#1C7CD5;}
   
  .lic_popup .nav-tabs { border:0;     position: relative;
    }
  .lic_popup .tab-content { border-top:1px solid #E4E4E4;     margin: 0 -15px;
    padding: 15px;}
	
	.lic_popup .nav-tabs .nav-item {
    margin-bottom: -1px;
    border: 1px solid #ddd;
    padding: 6px 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 0;
    width: 33.33%;
    border-bottom: 0;
    text-align: center;
}

	

.modal-header {
    background: #f9f9f9;
}

.modal-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: block;
    color: #484848;
    text-align: center;
    width: 95%;
}

.close {
    float: right;
    font-size: 28px !important;
    font-weight: 100 !important;
    line-height: 18px !important;
}
.lic_popup2 {padding: 40px 30px 10px 30px;}

.lic_popup2 .col-4{ font-weight:600; color:#000; padding: 5px 15px; border-bottom: 1px solid #ddd;}
.lic_popup2 .col-8{ font-weight:400; color:#000; padding: 5px 15px;  border-bottom: 1px solid #ddd;}
.h_b { border-bottom:1px solid #ddd;     padding-top: 18px;}
.managecls { padding:15px;}
.m_search input[type=text]{ width:40%; height:40px; border:1px solid #ddd; border-radius:5px; padding:10px 35px 10px 40px;
background: url(../../assets/img/search_icon.svg) no-repeat center left 11px;     
    background-size: 19px;}
	
	
.m_search { border-bottom:1px solid #ddd; padding-bottom:15px; margin: 0 10px; margin-bottom: 30px;}
.bkcls{padding-left: 30px;}
.asscls { text-align:right;    padding-right: 25px;}
.asscls a{    background: #28A745;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;}
.bkcls a {     color: #757575; text-decoration:none; font-size: 14px; }
.bkcls img{ max-width:9px; margin-right: 5px;
    position: relative;
    top: -2px;}
	
	.assign_lc .col-md-3{ margin-bottom:20px;     -ms-flex: 0 0 27%;
    flex: 0 0 27%;
    max-width: 27%;}

    .assign_lc .col-md-2{-ms-flex: 0 0 18%;
    flex: 0 0 18%;
    max-width: 18%;}


	.mfooter {margin: 0 15px;
    padding: 20px 0;}
	.mfooter .btncan{background: none;
    border: 0;
    outline: 0;
    cursor: pointer;    margin-right: 15px;}
	
	.mfooter .btngreen {    background: #28A745;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    border: 0; outline: 0; cursor:pointer;}
	.lic_count { padding-top:5px;    padding-bottom: 15px;padding-left: 30px;}
	.lic_count label { font-weight:400; font-size:14px;     color: #787878; }
	.lic_count label b{ font-weight:600; display:inline-block; margin-right:6px;}
	.re_invitation { text-align:center;}
	.re_invitation button{    background: #f5f5f5;
    border-radius: 3px;
    border: 1px solid #7d7d7d;
    color: #7d7d7d;
    padding: 8px 28px;
    margin-bottom: 5px;
    font-size: 14px;
    cursor: pointer;}
	.re_invitation img {    margin-right: 6px;    max-width: 13px;}
	.re_invitation p{color:#7d7d7d; font-size:13px;     margin: 0;}
	.lic_c label { margin:0; font-weight:500; color:#333;     white-space: nowrap;     font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;     display: block;}
	.lic_c label span{ display:inline-block; min-width:18px;}
	.lic_c p{ font-size:14px; margin:0; padding-left:18px;    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
	.row_cont .col-md-6{     padding: 14px 30px;}
	.lic_popup2 p { text-align:left; font-weight:600; font-size:16px;     color: #000;     word-break: break-word;    line-height: 20px;}
	.lic_popup2 p label{     float: left;
    font-weight: 400;
    line-height: 17px;
    font-size: 15px;
    text-align: left;     width: 45%;
    padding-right: 5%;}
	.lic_popup2 p label span { font-size:12px;}
	.lic_popup2 .col-5{ padding-right:25px; padding-bottom:10px;}
	.lic_popup2 .col-7{padding-left:25px; padding-bottom:10px;}

.faqcls { padding:15px;}
.faqcls h3{ color:#000;     font-size: 20px; margin:0; padding:25px 0 5px 0;}
.faqcls p{ margin:0 0 10px 0;}

.link_colr{
    color: #007bff !important
}

.h_b span{position: relative;
    z-index: 999;}

   .h_b .col-2, .h_b .col-1, .h_b .col-3{ overflow: visible !important; }

   .assign_lc .form-control{ font-size: 14px; }
   .rwc { margin:0 -53px 0 -28px;  }
   .assign_lc {padding: 30px 30px 10px 30px;}

   .rwc .col-12{ padding-top: 25px; }
   .modal-header .close {    outline: none !important;}