/* .bred_an {
        position: relative;
    top: 18px;
    color: #4d504d;
    padding-bottom: 25px;
    font-family: Roboto;
    padding: 0px 0px 16px 0px;
}
.bred_an img{ margin:0 15px;}

.bred_an a{ 
    color: #838383 !important;
    font-weight: 400;
    font-family: Roboto;
} */
/*.bred_an {
    position: relative;
    top: 24px;
    color: #4d504d;
    font-family: 'Roboto';
}*/
a {
    text-decoration: none;
}

a.disabled {
   pointer-events: none;
   cursor: default;
}

.bred_an { top:11px;}