<div class="clear"></div>
<div class="container bred_an" *ngIf="breadcrubms">
  <a [routerLink]="['/']">{{translation?.huddle_breadcrumb_home}}</a>
  <img *ngIf="fromRoute" src="assets/img/breadcrumarrow.svg" />
  <a *ngIf="fromRoute" (click)="routeTo()">{{translation[fromRoute?.displayName]}}</a>
  <ng-container *ngIf="breadcrubms && breadcrubms?.length > 0">
    <img src="assets/img/breadcrumarrow.svg" />
    <a [routerLink]="['/video_huddles/list']" (click)="discussionService.dDemit.emit(false)">
      {{translation?.huddle_breadcrumb_huddle}}
    </a>
    <ng-container *ngFor="let bc of breadcrubms; let last = last">
      <img src="assets/img/breadcrumarrow.svg" />

      <a *ngIf="!bc.forAssesse && !bc.isCustom && !bc.location && !bc?.is_document" [routerLink]="['/video_huddles/list/', bc.folder_id]"
        [class.disabled]="last" (click)="discussionService.dDemit.emit(false)">
        {{ bc?.folder_name | slice:0:50 }}
      </a>
      <a *ngIf="!bc.forAssesse && !bc.isCustom && !bc.location && bc?.folder_name.length > 50">...</a>
      <a *ngIf="!bc.isCustom && bc.location=='Huddle'" [routerLink]="['/video_huddles/huddle/details/', bc.folder_id]"
        [class.disabled]="last" [title]="bc?.folder_name" (click)="discussionService.dDemit.emit(false)">
        {{ bc?.folder_name | sibmeSlice }}
      </a>
      <a *ngIf="bc.forAssesse" [class.disabled]="last" [title]="bc?.userName">
        {{ bc?.userName | sibmeSlice }}
      </a>
      <a *ngIf="bc.isCustom" [routerLink]="['/video_huddles/huddle/details', bc.folder_id, 'discussions', 'list']"
        [queryParams]="{sort: 'topic', tab: 'discussion'}" [class.disabled]="last" (click)="discussionService.dDemit.emit(false)">
        {{ bc?.folder_name || 'Discussions' | sibmeSlice }}
      </a>
      <a *ngIf="bc?.is_document" [routerLink]="['/video_huddles/huddle/details/', bc.account_folder_id, 'artifacts', 'grid', bc.folder_id]"
        [class.disabled]="last" [title]="bc?.folder_name" (click)="discussionService.dDemit.emit(false)">
        {{ bc?.folder_name | sibmeSlice }}
      </a>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="breadcrubms?.length == 0">
    <img src="assets/img/breadcrumarrow.svg" />
    <a>{{translation?.huddle_breadcrumb_huddle}} </a>
  </ng-container>
</div>
<div class="container bred_an" *ngIf="!breadcrubms">
  <div class="animate_me br_an"></div>
</div>
<div class="clear"></div>
