<div>
       <video-huddle-details-header></video-huddle-details-header>
       <div class="tabs_bar discussions">
              <div class="row">
                     <div *ngIf="translationLoaded && addBtnPermissionLoaded" class="col-md-6">
                            <ul class="nav nav-tabs">
                                   <li class="nav-item">
                                          <a class="animate_me ar_an" *ngIf="!huddle_name"></a>
                                          <a *ngIf="huddle_name">
                                                 <a *ngIf="docFolderId"
                                                        [routerLink]="['/video_huddles/huddle/details/' + huddle_id +'/artifacts/grid/' + docFolderId]" [queryParams]="{goalEvidence: goalEvidence}">{{translation?.artifact_af_title}}
                                                 </a>
                                                 <a *ngIf="!docFolderId"
                                                        [routerLink]="['/video_huddles/huddle/details/' + huddle_id +'/artifacts/grid']" [queryParams]="{goalEvidence: goalEvidence}">{{translation?.artifact_af_title}}
                                                 </a>       
                                          </a>
                                   </li>
                                   <li class="nav-item">
                                          <a class="animate_me ar_an" *ngIf="!huddle_name"></a>
                                          <a *ngIf="huddle_name"
                                                 [routerLink]="['/video_huddles/huddle/details/'+ huddle_id +'/discussions/list']" [queryParams]="{sort: 'topic', goalEvidence: goalEvidence, folderId: docFolderId}">{{translation.artifact_discussions}}</a>
                                   </li>
                                   <li class="nav-item itm2">
                                          <a class="animate_me ar_dc" *ngIf="!huddle_name"></a>
                                          <a *ngIf="huddle_name" [class.active]="true">Conferences</a>
                                   </li>
                            </ul>
                     </div>
                     <div class="col-md-6 hu_ac hu_ac_v2"
                            *ngIf="!addBtnPermissionLoaded || !translationLoaded">
                            <div class="hu_ac animate_me add-btn-loader"></div>
                     </div>
                     <div *ngIf="addBtnPermissionLoaded && translationLoaded" class="col-md-6 hu_ac"
                            [ngClass]="{hu_ac_v2: userAccountLevelRoleId != '125' && !(viewerObj?.role_id == 220 && viewerObj.huddle_type=='1')}">
                            <a (click)="Onclickactivity()" class="sepline"> <img
                                          src="assets/video-huddle/img/activity_gry.svg">
                                   {{translation?.artifact_activity}}
                            </a>
                            <a (click)="Onclickonparticipant()"
                                   [ngClass]="{sepline: userAccountLevelRoleId != '125' && !(viewerObj?.role_id == 220 && viewerObj.huddle_type=='1')}">
                                   <img src="assets/video-huddle/img/parti_gry.svg">
                                   {{translation?.artifact_participants}} </a>
                     </div>
              </div>
              <div class="tab-content p0">
                     <div class="panl_nav hutabs p0">
                            <router-outlet></router-outlet>
                     </div>
              </div>
       </div>
       <img [hidden]="true" src="assets/video-huddle/img/c1.png" />

</div>
<!-- CiRQLIVE IFRAME START -->
<div *ngIf="cirqDataLoaded" class="cirq-frame-parent">
       <iframe class="cirq-frame" [src]="cirqPath" allowfullscreen="allowfullscreen"></iframe>
</div>
<!-- CIRQLIVE IFRAME END -->
<!--activity popup start-->
<ng-template #activity>


       <div class="modal-content">
              <div class="modal-header">
                     <h4 class="modal-title">{{translation?.artifact_activity}}</h4>
                     <button type="button" class="close" (click)="ModalRefs.participentsModal.hide()">&times;</button>

              </div>
              <div class="modal-body" *ngIf="!popupIsLoading">
                     <div class="listing_scroll" slimScroll [options]="opts" [scrollEvents]="scrollEvents">


                            <div class="activity_row" *ngFor="let act of actvities">
                                   <ng-container *ngIf="translation?.current_lang=='es'">
                                          <div class="ac_1">
                                                 <strong>{{timedateSpanish(act?.activityTimestamp,1)}}</strong><br>
                                                 {{timedateSpanish(act?.activityTimestamp,2)}}
                                          </div>
                                   </ng-container>
                                   <ng-container *ngIf="translation?.current_lang=='en'">
                                          <div class="ac_1">
                                                 <b>{{headerService?.formatDate(act?.activityDate, 'MMM DD')}}</b><br>
                                                 {{headerService?.formatDate(act?.activityDate, 'hh:mm a')}}
                                          </div>
                                   </ng-container>

                                   <div class="ac_2">
                                          <label>{{act?.activityLogs_users}} </label>
                                          <ng-container *ngIf="!act.resource_video_name">
                                                 <a *ngIf="!act.resource_url"
                                                        style="cursor:context-menu">:{{act.resource_name}}</a>
                                                 <a href="{{act?.resource_url}}">{{act?.resource_video_name}}</a>

                                          </ng-container>
                                          <ng-container *ngIf="act.resource_video_name">
                                                 {{act?.resource_name}}
                                                 <a *ngIf="!act.resource_url"
                                                        style="cursor:context-menu">:{{act.resource_video_name}}</a>
                                                 <a href="{{act?.resource_url}}">{{act?.resource_video_name}}</a>

                                          </ng-container>




                                   </div>

                                   <div class="clear"></div>

                            </div>
                            <div class="text-center" *ngIf="actvities==''">
                                   <p
                                          style="font-weight: 800;font-size: 24px;word-spacing: 2px;margin-top:10%;color: lightgray;">
                                          {{translation?.artifact_noactivityfound}}!</p>
                            </div>
                     </div>

              </div>
              <div class="modal-body text-center" *ngIf="popupIsLoading">
                     <div class="activity_row" *ngFor="let arr of [1,1,1,1,1]">
                            <div class="ac_1">
                                   <b><span class="animate_me linecls"></span></b><br>
                                   <span class="animate_me linecls"></span>
                            </div>
                            <div class="ac_2">
                                   <label class="animate_me linecls"></label>
                            </div>

                            <div class="clear"></div>

                     </div>
              </div>
              <div class="modal-footer hufooter">
                     <div class="col-12">

                            <a class="okbtn"
                                   (click)="ModalRefs.participentsModal.hide()">{{translation?.artifact_ok}}</a>

                     </div>


              </div>
       </div>


</ng-template>

<!--activity popup end-->
<!--participant pop-up start-->
<ng-template #participantsModal>
       <div class="modal-header">
              <h4 class="modal-title">{{translation?.artifact_participants}}</h4>
              <button type="button" class="close" (click)="ModalRefs.participentsModal.hide()">&times;</button>
       </div>
       <div class="modal-body" *ngIf="!popupIsLoading">
              <div class="parti_list">
                     <div class="row par_heading">
                            <div class="col-4">
                                   {{translation?.discussion_participant_name}}
                            </div>
                            <div class="col-6">
                                   {{translation?.discussion_participant_email}}
                            </div>
                            <div class="col-2">
                                   {{translation?.discussion_participant_role}}
                            </div>
                     </div>
                     <div class="listing_scroll" slimScroll [options]="opts" [scrollEvents]="scrollEvents"
                            *ngIf="participents.length>0">
                            <div class="row par_listing" *ngFor="let p of participents | orderBy:'user_name'">
                                   <div class="col-4">
                                          <img *ngIf="detailsService.ImageUrlBuilder(p)==true" aria-hidden="true"
                                                 src="assets/video-huddle/img/parti_gry.svg">
                                          <img *ngIf="detailsService.ImageUrlBuilder(p)!=true"
                                                 src="{{detailsService.ImageUrlBuilder(p)}}">
                                          <span class="g_name">{{p.user_name}}</span>
                                   </div>
                                   <div class="col-6 par_email">
                                          <span>{{p.user_email}}</span>
                                   </div>
                                   <div class="col-2">
                                          {{p.role_name}}
                                   </div>
                            </div>
                     </div>
              </div>
       </div>
       <div class="modal-body text-center" *ngIf="popupIsLoading">
              <div class="row par_listing anrow" *ngFor="let arr of [1,1,1,1,1]">
                     <div class="col-4">
                            <span class="animate_me aniimg"></span> <span class="animate_me linecls"> </span>
                     </div>
                     <div class="col-6 par_email">
                            <span class="animate_me linecls"> </span>
                     </div>
                     <div class="col-2">
                            <span class="animate_me linecls"> </span>
                     </div>
              </div>
       </div>
       <div class="modal-footer hufooter par_foo">
              <div class="col-12">
                     <div class="border_bottom">
                            <a class="okbtn"
                                   (click)="ModalRefs.participentsModal.hide()">{{translation?.artifact_ok}}</a>
                     </div>
              </div>
       </div>
</ng-template>