<div class="logocenter" *ngIf="isLoading">
    <img *ngIf="showSibmeLogo" src="assets/img/logo-dark.svg" alt="Sibme" />
    <img *ngIf="!showSibmeLogo" src="assets/img/logohmh.png" alt="HMH" />
</div>

<ng-container *ngIf="loaded then headerSection"></ng-container>
<ng-container *ngIf="!loaded && !launchpad_check then headerLoaderSection"></ng-container>
<ng-container *ngIf="!loaded && launchpad_check then headerLoaderSectionLaunchpad"></ng-container>
<ng-template #headerLoaderSection>
    <header class="header_loader">
        <div [class]="containerClass">
            <div class="animate_box_27 animate_header">
                <img *ngIf="showSibmeLogo" src="assets/img/logo-dark.png" style="position: relative;top:4px;" alt="Sibme" />
                <img *ngIf="!showSibmeLogo" src="assets/img/hmh-logo-dark.png" style="position: relative;top:4px;" alt="HMH" />
            </div>
            <div class="animate_box_28 animate_header">
                Loading
                <img src="assets/img/switch.png" alt="" />
            </div>
            <div class="animate_box_32" [class.goals-extra-ani-space]="containerClass === 'goals_container'"></div>
            <div class="animate_box_29 animate_header" style="width: 75px;"></div>
            <div class="animate_box_30 animate_header"><img src="assets/img/user_img.png" style="position: relative;top: 5px;width: 15px;" alt="" /></div>
            <div class="animate_box_29 animate_header" style="width: 75px;"></div>
            <div class="animate_box_29 animate_header" style="width: 75px;"></div>
            <div class="animate_box_29 animate_header" style="width: 73px;"></div>
            <div class="animate_box_29 animate_header" style="width: 70px;"></div>
            <div class="animate_box_29 animate_header" style="width: 70px;"></div>
           
            <div class="animate_box_31 animate_header"></div>
        </div>
    </header>
</ng-template>
<ng-template #headerSection>
    <div class="sibme_header">
        <impersonation [details]="headerdetails"></impersonation>
        <header id="header" class="header_container" [style.backgroundColor]="get_header_bg(headerdetails)">
            <div [class]="containerClass">
                <logo-area *ngIf="!launchpad_check"></logo-area>
                <account-information *ngIf="!launchpad_check"> </account-information>
                <user></user>
                <navigation *ngIf="!launchpad_check"></navigation>
            </div>
        </header>
    </div>
</ng-template>
<ng-template #headerLoaderSectionLaunchpad>
    <header class="header_loader" style="height: 70px;">
        <div [class]="containerClass" class="text-right">
            <div class="animate_box_32 animate_header mt-4"></div>
        </div>
    </header>
</ng-template>
