<div class="g_heading">
    <h3>{{itemAltName}} <a *ngIf="goal_id>0 && !this.template_id" class="add_gl" (click)="openModal(template)" [ngStyle]="{'pointer-events': template_id ? 'none' : '' }"><svg
                xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
                <path id="Rectangle_3" data-name="Rectangle 3" d="M5.2,13V7.8H0V5.2H5.2V0H7.8V5.2H13V7.8H7.8V13Z"
                    fill="#fff" />
            </svg>
        </a></h3>
</div>
<div class="nogoals2" *ngIf="!actionItems?.length && !add_mode">
    <img src="assets/goals/img/nogoal_icon.svg">
    {{headerService?.getGoalAltTranslation(translation?.goals_no_action_item_created)}}
</div>
<div class="scroll-container action_container" slimScroll [options]="opts" [scrollEvents]="scrollEvents">
    <!-- add Actoion item starts from here -->
  <div class="custom-tooltip" style="position: relative; overflow: hidden; padding-top: 10px;">
    <div class="row row_gl" *ngIf="add_mode">
        <div class="col-9">
            <b>{{title}}</b>
        </div>
        <div class="add_goal">
            <label>{{translation?.goals_title}}</label>
            <input type="text" class="form-control" [(ngModel)]="addActionItemModel.title" (ngModelChange)="changeOccur(true)">
            <label class="mtop20">{{translation?.goals_description_optional}}</label>
            <quill-editor
            [placeholder]="translation?.artifact_insert_text"
            [style]="{ height: '30px' }"
            [modules]="editGoalService.GetEditorOptionsCom().modules"
            name="description"
            (ngModelChange)="changeOccur(true)"
            [(ngModel)]="addActionItemModel.description"
            ></quill-editor> 
            <ng-container
                *ngIf="(goal_type=='4' && (goalUserSettings.can_create_individual_goals_for_others_people == '1' || goalUserSettings?.role_id =='100' || goalUserSettings?.role_id =='110')) || goal_type!=4">
                <div class="goals_st">
                    {{headerService?.getGoalAltTranslation(translation?.goal_possible_evidence_type)}} <span class="fnone"> <i><img
                        src="assets/goals/img/info_icon.svg"
                        [tooltip]="headerService?.getGoalAltTranslation(translation?.goals_evidence_info)"
                        placement="right" width="12"></i></span>
                </div>
                <ul>
                    <li><label class="checkboxcls">
                            <input type="checkbox" (click)="addEvidence($event.target.checked, 1, addActionItemModel);changeOccur(true)" 
                            [checked]="checkEvidenceType(addActionItemModel, 1)">
                            <span class="checkmark"></span>
                            {{translation?.artifacts_video}}
                        </label></li>
                    <li><label class="checkboxcls">
                            <input type="checkbox" (click)="addEvidence($event.target.checked, 2, addActionItemModel);changeOccur(true)"
                            [checked]="checkEvidenceType(addActionItemModel, 2)">
                            <span class="checkmark"></span>
                            {{translation?.artifacts_resource}}
                        </label></li>
                    <li><label class="checkboxcls">
                            <input type="checkbox" (click)="addEvidence($event.target.checked, 3, addActionItemModel);changeOccur(true)"
                            [checked]="checkEvidenceType(addActionItemModel, 3)">
                            <span class="checkmark"></span>
                            {{translation?.huddle}}
                        </label></li>
                    <li
                        *ngIf="goalUserSettings.can_use_frameworks_in_goal_evidence == '1' || goalUserSettings?.role_id !='100' || goalUserSettings?.role_id !='110'">
                        <label class="checkboxcls">
                            <input type="checkbox" (click)="addEvidence($event.target.checked, 4, addActionItemModel);changeOccur(true)"
                            [checked]="checkEvidenceType(addActionItemModel, 4)">
                            <span class="checkmark"></span>
                            {{translation?.framework_all}}
                        </label></li>
                    <li><label class="checkboxcls">
                            <input type="checkbox" (click)="addEvidence($event.target.checked, 5, addActionItemModel);changeOccur(true)"
                            [checked]="checkEvidenceType(addActionItemModel, 5)">
                            <span class="checkmark"></span>
                            {{translation?.artifact_scripted_notes}}
                        </label></li>
                </ul>
            </ng-container>
            <ng-container
                *ngIf="goalSettings?.enable_measurement">
                <div class="goals_st">
                    {{headerService?.getGoalAltTranslation(translation?.goals_measurement)}} <span class="fnone"><i><img src="assets/goals/img/info_icon.svg"
                        width="12" placement="right" container="box_whcls"
                                [tooltip]="headerService?.getGoalAltTranslation(translation?.goals_measurement_info)"></i></span>
                </div>
                <ul>
                    <li><label class="checkboxcls">
                            <input type="checkbox" [(ngModel)]="addActionItemModel.add_measurement">
                            <span class="checkmark"></span>
                            {{headerService?.getGoalAltTranslation(translation?.goal_item_add_measurement)}}
                        </label></li>
                </ul>
                <div class="btn-group btn-group-toggle mea_opt" data-toggle="buttons"
                    *ngIf="addActionItemModel.add_measurement">
                    <label class="btn btn-secondary" [class.active]="addActionItemModel.measurement_type == 1">
                        <input type="radio" name="options" id="option1" autocomplete="off" value="1"
                            (click)="addActionItemModel.measurement_type=1; changeOccur(true)">
                        %
                    </label>
                    <label class="btn btn-secondary" [class.active]="addActionItemModel.measurement_type == 2">
                        <input type="radio" name="options" id="option2" autocomplete="off" value="2"
                            (click)="addActionItemModel.measurement_type=2; changeOccur(true)">
                        #
                    </label>
                </div>
                <div class="row" *ngIf="addActionItemModel.add_measurement">
                    <div class="col-6">
                        <label>{{translation?.goal_start_value}}</label>
                        <div class="">
                            <input type="number" min=0 class="form-control"
                                [(ngModel)]="addActionItemModel.start_value" (ngModelChange)="changeOccur(true)">
                        </div>
                    </div>
                    <div class="col-6">
                        <label>{{translation?.goal_end_value}}</label>
                        <div class="">
                            <input type="number" min=0 class="form-control" [(ngModel)]="addActionItemModel.end_value" (ngModelChange)="changeOccur(true)">
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="goal_type != 1">
            <div class="goals_st">
                {{translation?.goals_deadline}} <span class="fnone"><i><img src="assets/goals/img/info_icon.svg"
                    width="12" placement="right"  container="box_whcls"
                            [tooltip]="headerService?.getGoalAltTranslation(translation?.goals_deadline_info)"></i></span>
            </div>
            <label>{{translation?.goals_date}}</label>
            <div class="date_icon">
                
                <input type="text" class="form-control" [(ngModel)]="addActionItemModel.deadline" bsDatepicker placeholder="MM/DD/YYYY" (ngModelChange)="changeOccur(true)"
                    [readonly]="true" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY'}" placement="top" #addDeadline="bsDatepicker">
                <img class="cp" src="assets/goals/img/cal_icon.svg" (click)="addDeadline.toggle()">
            </div>
        </ng-container>
            <div class="save_goal">
                <button class="" (click)="cancelForm(confirmationPopUp)">{{translation?.cancel_popup}}</button>
                <button class=" btn_sv" (click)="save(addActionItemModel)">{{translation?.save_popup}}</button>
            </div>
        </div>
    </div>
    <!-- listing action item starts from here  -->
   
    <div dragula="Items" [(dragulaModel)]="actionItems" >
        <div class="row row_gl action_single_item wb"  *ngFor="let item of actionItems">
           
            <div [class]="item.tryAgain ? 'col-7' : 'col-9'">
                <img class="grabbing mr-2"  src="assets/img/three_line.svg">
            <b>{{item.title}}</b>
        </div>
        <div [class]="item.tryAgain ? 'col-5' : 'col-3'">
            <ng-container *ngIf="!item.tryAgain; else TryAgainContainer">
                <div class="ar_g2">
                    <div class="gsort" dropdown>
                        <button type="button" class="dropdown-toggle" data-toggle="dropdown" dropdownToggle [ngStyle]="{'pointer-events': template_id ? 'none' : '' }">
                            <img src="assets/goals/img/dots_3.svg" width="25">
                        </button>
                        <div class="dropdown-menu" id="dropdown-basic" *dropdownMenu role="menu">
                            <a class="dropdown-item" role="menuitem"
                                (click)="edit(item)">{{translation?.goals_edit}}</a>
                            <a class="dropdown-item" role="menuitem"
                                (click)="deleteActionItem(item)">{{translation?.huddle_delete_btn}}</a>
                        </div>
                    </div>
                </div>
                <div class="ar_gl">
                    <img [src]="item.preview_mode?'assets/goals/img/arrow_up.svg':'assets/goals/img/arrow_down.svg'"
                        (click)="collapsePreviewMode(item, true)">
                </div>
            </ng-container>
            <ng-template #TryAgainContainer>
                <div class="try-again-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16.329" height="15.374" viewBox="0 0 16.329 15.374">
                        <g id="Group_351" data-name="Group 351" transform="translate(-270.467 -1166.164)">
                            <path id="Path_52" data-name="Path 52"
                                d="M20.256,22.985a1.562,1.562,0,0,1,2.75,0l6.6,12.25a1.562,1.562,0,0,1-1.375,2.3h-13.2a1.562,1.562,0,0,1-1.375-2.3Z"
                                transform="translate(257 1144)" fill="#c10f12" />
                            <path id="Union_1" data-name="Union 1"
                                d="M.253,5.369h0V5.337L.006,1.079A.952.952,0,0,1,0,.97.985.985,0,0,1,1,0,.985.985,0,0,1,2,.97a.947.947,0,0,1-.01.136l-.3,4.221A.709.709,0,0,1,.969,6,.711.711,0,0,1,.253,5.369Z"
                                transform="translate(277.7 1170)" fill="#fff" />
                            <circle id="Ellipse_9" data-name="Ellipse 9" cx="1" cy="1" r="1"
                                transform="translate(277.7 1177)" fill="#fff" />
                        </g>
                    </svg>
                    <span
                        class="try-again-message">{{headerService?.getGoalAltTranslation(translation?.action_item_not_saved)}}</span>
                    <span class="try-again-btn" (click)="retryActionItem(item);">{{translation?.try_again}}</span>
                </div>
            </ng-template>
        </div>

        <!-- Edit action item starts from here -->
        <div class="add_goal" *ngIf="item.edit_mode">
            <label>{{translation?.goals_title}}</label>
            <input type="text" class="form-control" [(ngModel)]="actionItemModel.title"  (ngModelChange)="changeOccur(true)">
            <label class="mtop20">{{translation?.goals_description_optional}}</label>
            <quill-editor
            [placeholder]="translation?.artifact_insert_text"
            [style]="{ height: '30px' }"
            [modules]="editGoalService.GetEditorOptionsCom().modules"
            (ngModelChange)="changeOccur(true)"
            name="description"
            [(ngModel)]="actionItemModel.description"
            ></quill-editor>
            <ng-container
                *ngIf="(goal_type=='4' && (goalUserSettings.can_create_individual_goals_for_others_people == '1' || goalUserSettings?.role_id =='100' || goalUserSettings?.role_id =='110')) || goal_type!=4">
                <div class="goals_st">
                    {{headerService?.getGoalAltTranslation(translation?.goal_possible_evidence_type)}} <span class="fnone"> <i><img
                        src="assets/goals/img/info_icon.svg"
                        [tooltip]="headerService?.getGoalAltTranslation(translation?.goals_evidence_info)"
                        placement="right" width="12"></i></span>
                </div>
                <ul>
                    <li><label class="checkboxcls">
                            <input type="checkbox" (change)="addEvidence($event.target.checked, 1, actionItemModel);changeOccur(true)"
                                [checked]="checkEvidenceType(actionItemModel,1)">
                            <span class="checkmark"></span>
                            {{translation?.artifacts_video}}
                        </label></li>
                    <li><label class="checkboxcls">
                            <input type="checkbox" (click)="addEvidence($event.target.checked, 2, actionItemModel);changeOccur(true)"
                                [checked]="checkEvidenceType(actionItemModel,2)">
                            <span class="checkmark"></span>
                            {{translation?.artifacts_resource}}
                        </label></li>
                    <li><label class="checkboxcls">
                            <input type="checkbox" (click)="addEvidence($event.target.checked, 3, actionItemModel);changeOccur(true)"
                                [checked]="checkEvidenceType(actionItemModel,3)">
                            <span class="checkmark"></span>
                            {{translation?.huddle}}
                        </label></li>
                    <li
                        *ngIf="goalUserSettings.can_use_frameworks_in_goal_evidence == '1' || goalUserSettings?.role_id !='100' || goalUserSettings?.role_id !='110'">
                        <label class="checkboxcls">
                            <input type="checkbox" (click)="addEvidence($event.target.checked, 4, actionItemModel);changeOccur(true)"
                                [checked]="checkEvidenceType(actionItemModel,4)">
                            <span class="checkmark"></span>
                            {{translation?.framework_all}}
                        </label></li>
                    <li><label class="checkboxcls">
                            <input type="checkbox" (click)="addEvidence($event.target.checked, 5, actionItemModel);changeOccur(true)"
                                [checked]="checkEvidenceType(actionItemModel,5)">
                            <span class="checkmark"></span>
                            {{translation?.artifact_scripted_notes}}
                        </label></li>
                </ul>
            </ng-container>
            <ng-container
                *ngIf="goalSettings?.enable_measurement">
                <div class="goals_st">
                    {{headerService?.getGoalAltTranslation(translation?.goals_measurement)}} <span class="fnone"><i><img src="assets/goals/img/info_icon.svg"
                                width="12" placement="right"
                                [tooltip]="headerService?.getGoalAltTranslation(translation?.goals_measurement_info)"></i></span>
                </div>
                <ul>
                    <li><label class="checkboxcls">
                            <input type="checkbox" [(ngModel)]="actionItemModel.add_measurement" (ngModelChange)="changeOccur(true)">
                            <span class="checkmark"></span>
                            {{headerService?.getGoalAltTranslation(translation.goal_item_add_measurement)}}
                        </label></li>
                </ul>
                <div class="btn-group btn-group-toggle mea_opt" data-toggle="buttons"
                    *ngIf="actionItemModel.add_measurement">
                    <label class="btn btn-secondary" [class.active]="actionItemModel.measurement_type == 1">
                        <input type="radio" name="options" id="option1" autocomplete="off" value="1"
                            (click)="actionItemModel.measurement_type=1; changeOccur(true)">
                        %
                    </label>
                    <label class="btn btn-secondary" [class.active]="actionItemModel.measurement_type == 2">
                        <input type="radio" name="options" id="option2" autocomplete="off" value="2"
                            (click)="actionItemModel.measurement_type=2; changeOccur(true)">
                        #
                    </label>
                </div>
                <div class="row" *ngIf="actionItemModel.add_measurement">
                    <div class="col-6"><label>{{translation?.goal_start_value}}</label>
                        <div class="">
                            <input type="number" min=0 class="form-control" [(ngModel)]="actionItemModel.start_value" (ngModelChange)="changeOccur(true)">
                        </div>
                    </div>
                    <div class="col-6">
                        <label>{{translation?.goal_end_value}}</label>
                        <div class="">
                            <input type="number" min=1 class="form-control" [(ngModel)]="actionItemModel.end_value" (ngModelChange)="changeOccur(true)">
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="goal_type !=1">
            <div class="goals_st">
                {{translation?.goals_deadline}} <span class="fnone"><i><img src="assets/goals/img/info_icon.svg"
                    width="12" placement="right"
                            [tooltip]="headerService?.getGoalAltTranslation(translation?.goals_deadline_info)"></i></span>
            </div>
            <label> {{translation?.goals_date}}</label>
            <div class="date_icon">
                
                <input type="text" class="form-control" [(ngModel)]="actionItemModel.deadline" bsDatepicker readonly (ngModelChange)="changeOccur(true)"
                    [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" placement="right" #editDeadline="bsDatepicker">
                <img class="cp" src="assets/goals/img/cal_icon.svg" (click)="editDeadline.toggle()">
            </div>
        </ng-container>
            <div class="save_goal">
                <button class="" (click)="cancelForm(confirmationPopUp, actionItemModel)">{{translation?.cancel_popup}}</button>
                <button class=" btn_sv" (click)="save(actionItemModel)">{{translation?.save_popup}}</button>
            </div>
        </div>
        <!-- preview of action item starts from here -->
        <div class="add_goal adgoal_view" *ngIf="item?.preview_mode">
           
            <label>{{translation?.goals_title}}</label>
            <p>{{item?.title}} </p>
            <label class="mtop20" *ngIf="item?.description">{{translation?.description_vl}}</label>
            <!-- <p  [innerHtml]="item?.description  | safeHtml"></p> -->
            <p *ngIf="item?.description?.includes('h1') || item?.description?.includes('h2')" class="goal-desc" [innerHtml]="item?.description | safeHtml"></p>                
            <p *ngIf="!item?.description?.includes('h2') && !item?.description?.includes('h1')" [innerHtml]="item?.description | safeHtml"></p>

            <ng-container *ngIf="item?.allowed_evidence">
                <div class="goals_st">
                    {{headerService?.getGoalAltTranslation(translation?.goal_possible_evidence_type)}} <span class="fnone"> <i><img
                                src="assets/goals/img/info_icon.svg"
                                [tooltip]="headerService?.getGoalAltTranslation(translation?.goals_evidence_info)"
                                placement="right" width="12"></i></span>
                </div>
                <ul *ngFor="let evidence of item?.allowed_evidence">
                    <li *ngIf="allowedEvidence(evidence, 1)"><img
                            src="assets/goals/img/check_mark.svg">{{translation?.artifacts_video}}</li>
                    <li *ngIf="allowedEvidence(evidence, 2)"><img
                            src="assets/goals/img/check_mark.svg">{{translation?.artifacts_resource}}</li>
                    <li *ngIf="allowedEvidence(evidence, 3)"><img
                            src="assets/goals/img/check_mark.svg">{{translation?.huddle}}</li>
                    <li *ngIf="allowedEvidence(evidence, 4)" class="transform-text"><img
                            src="assets/goals/img/check_mark.svg">{{translation?.framework_all}}</li>
                    <li *ngIf="allowedEvidence(evidence, 5)"><img
                            src="assets/goals/img/check_mark.svg">{{translation?.artifact_scripted_notes}}
                    </li>
                </ul>
                <ul *ngIf="item?.allowed_evidence==0">
                    <li><img
                            src="assets/goals/img/check_mark.svg">{{translation?.goal_reflection}}</li>
                </ul>
            </ng-container>
            <div class="goals_st" *ngIf="item?.add_measurement">
                {{headerService?.getGoalAltTranslation(translation?.goals_measurement)}} <span class="fnone"><i><img src="assets/goals/img/info_icon.svg"
                            width="12" placement="right"
                            [tooltip]="headerService?.getGoalAltTranslation(translation?.goals_measurement_info)"></i></span>
            </div>
            <ul *ngIf="item?.add_measurement">
                <li><img src="assets/goals/img/check_mark.svg"> {{headerService?.getGoalAltTranslation(translation?.goal_item_add_measurement)}} -
                    <span *ngIf="item.measurement_type==1">{{translation?.goal_percent}}</span><span
                        *ngIf="item.measurement_type==2">{{translation?.goal_value}}</span></li>
                <li>
                    <div class="row">
                        <div class="col-6 pl35">
                            <label>{{translation?.goal_start_value}}</label>
                            <div class="">
                                {{item?.start_value}}<span *ngIf="item.measurement_type==1">%</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <label>{{translation?.goal_end_value}}</label>
                            <div class="">
                                {{item?.end_value}}<span *ngIf="item.measurement_type==1">%</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ng-container *ngIf="goal_type !=1">
            <div class="goals_st" >
                {{translation?.goals_deadline}} <span class="fnone"><i><img src="assets/goals/img/info_icon.svg"
                            width="12"
                            [tooltip]="headerService?.getGoalAltTranslation(translation?.goals_deadline_info)"
                            placement="right"></i></span>
            </div>
            <p>{{changeDateFormat(item.deadline)}}</p>
        </ng-container>
        </div>
    </div>
    </div>
    </div>
</div>
<!-- add action item modal -->
<ng-template #template>
                <!-- Modal content-->
                <div class="modal-header">
                    <h4 class="modal-title">
                        {{headerService?.getGoalAltTranslation(translation?.goals_new_action_item)}}</h4>
                    <button type="button" class="close" data-dismiss="modal"
                        (click)="bsModalRef.hide()">&times;</button>
                </div>
                <div class="modal-body newgoal_popup">
                    <label>{{headerService?.getGoalAltTranslation(translation?.goals_action_item_title)}}</label>
                    <input type="text" class="form-control mb50" [(ngModel)]="title">
                </div>
                <div class="modal-footer footerm">
                    <div class="col-12 share_btn">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            (click)="cancelAddFromPopup()">{{translation?.cancel_popup}}</button>
                        <button [disabled]="!title" type="button" class="btn btn-success"
                            (click)="addActionItem()">{{translation?.save_popup}}</button>
                    </div>
                </div>
</ng-template>




<ng-template #deleteTemplate>
          <!-- Modal content-->
              <div class="modal-header">
                <h4 class="modal-title">{{translation?.artifacts_confirmation_required}}</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="deleteModalRef.hide()">&times;</button>

              </div>

             <div class="modal-body conf_popup">

                  <div class="connf_bg">
                 <img src="assets/goals/img/del_conf.svg">
                       <b>{{headerService?.getGoalAltTranslation(translation?.goals_user_already_added_evidence)}} </b>
                  </div>


                  <label>{{translation?.poeple_type_delete_to_confirm}}</label>
                  <input type="text" class="form-control" [(ngModel)]="confirmation">
             </div>

              <div class="modal-footer footerm">
                    <div class="col-12 share_btn delt_f">
                         <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteModalRef.hide()">{{translation?.cancel_popup}}</button>
                         <button  [disabled]="!(confirmation =='DELETE') || confirmation =='' " type="button" class="btn del_btn" (click)="deleteActionItem(deleteItem, 1)">{{translation?.huddle_delete_btn}}</button>
                    </div>
              </div>




  </ng-template>


  <ng-template #publishDailogue>
    <!-- Modal content-->
        <div class="modal-header">
          <h4 class="modal-title">{{translation?.goal_save_and_publish}}</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="hideActionItemSaveModal()">&times;</button>

        </div>

       <div class="modal-body conf_popup">
        <div class="short_msg">
                 <label>{{headerService?.getGoalAltTranslation(translation?.goal_unsaved_action_item)}} </label>
                 <br>


            <label>{{headerService?.getGoalAltTranslation(translation?.goal_unsaved_confirmation)}}</label>

        </div>
       </div>

        <div class="modal-footer footerm">
              <div class="col-12 share_btn ">
                   <button type="button" class="btn btn-default" data-dismiss="modal" (click)="hideActionItemSaveModal()">{{translation?.cancel_popup}}</button>
                   <button *ngIf="!this.add_mode" type="button" class="btn pub-btn" (click)="save(actionItemModel)">{{translation?.goal_save_publish}}</button>
                   <button *ngIf="this.add_mode" type="button" class="btn pub-btn" (click)="save(addActionItemModel)">{{translation?.goal_save_publish}}</button>
              </div>
        </div>




</ng-template>

<ng-template #confirmationPopUp>
    <div class="modal-header confirmation-header">
        <h4 class="modal-title">{{translation.confirmation}}</h4>
        <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>
    </div>
    <div class="modal-body confirmation-body">
        {{add_mode ? headerService?.getGoalAltTranslation(translation?.cancel_new_action_item) : headerService?.getGoalAltTranslation(translation?.cancel_editing_action_item)}}
        <br>
        {{translation?.goal_entered_data_will_be_lost}}
    </div>
    <div class="modal-footer footerm">
        <div class="col-12 share_btn">
            <button type="button" class="btn btn-default"
                (click)="bsModalRef.hide()">{{translation?.cancel_popup}}</button>
            <button *ngIf="add_mode" type="button" class="btn btn-success" (click)="cancelAddMode()">{{translation?.ok}}</button>
            <button *ngIf="!add_mode" type="button" class="btn btn-success" (click)="cancelEditMode(actionItemBeingEdited)">{{translation?.ok}}</button>
        </div>
    </div>
</ng-template>
