<div>
       <video-huddle-details-header></video-huddle-details-header>
       <div class="tabs_bar discussions">
              <div class="row">
                     <div class="col-md-6">
                            <ul class="nav nav-tabs">
                                   <li class="nav-item">
                                          <a class="animate_me ar_an" *ngIf="!huddle_name"></a>
                                          <a *ngIf="huddle_name">
                                                 <a *ngIf="docFolderId"
                                                        [routerLink]="['/video_huddles/huddle/details/' + huddle_id +'/artifacts/grid/' + docFolderId]" [queryParams]="{goalEvidence: goalEvidence}">{{translation?.artifact_af_title}}
                                                 </a>
                                                 <a *ngIf="!docFolderId"
                                                        [routerLink]="['/video_huddles/huddle/details/' + huddle_id +'/artifacts/grid']" [queryParams]="{goalEvidence: goalEvidence}">{{translation?.artifact_af_title}}
                                                 </a>
                                          </a>
                                   </li>
                                   <li class="nav-item itm2">
                                          <a class="animate_me ar_dc" *ngIf="!huddle_name"></a>
                                          <a *ngIf="huddle_name"
                                                 [class.active]="true">{{translation?.artifact_discussions}}</a>
                                   </li>
                                   <li class="nav-item" *ngIf="viewerObj.huddle_type !=3 &&  cirqLiveData && cirqLiveData.account_id">
                                          <a class="animate_me ar_an" *ngIf="!huddle_name"></a>
                                          <a *ngIf="huddle_name && !safari" [routerLink]="['../conferencing']">Conferences</a>
                                          <a *ngIf="huddle_name && safari" target="blank" [href]="cirqPath">Conferences</a>
                                   </li>
                            </ul>
                     </div>
                     <div class="col-md-6 hu_ac hu_ac_v2" *ngIf="!addBtnPermissionLoaded || !translationLoaded">
                            <div class="hu_ac animate_me add-btn-loader"></div>
                     </div>
                     <div *ngIf="addBtnPermissionLoaded && translationLoaded" class="col-md-6 hu_ac"
                            [ngClass]="{hu_ac_v2: userAccountLevelRoleId != '125' && !(viewerObj?.role_id == 220 && viewerObj.huddle_type=='1')}">
                            <a (click)="Onclickactivity()" class="sepline"> <img
                                          src="assets/video-huddle/img/activity_gry.svg">
                                   {{translation?.artifact_activity}}
                            </a>
                            <a (click)="Onclickonparticipant()"
                                   [ngClass]="{sepline: userAccountLevelRoleId != '125' && !(viewerObj?.role_id == 220 && viewerObj.huddle_type=='1')}">
                                   <img src="assets/video-huddle/img/parti_gry.svg">
                                   {{translation?.artifact_participants}} </a>
                            <div class="plus_hu"
                                   *ngIf="userAccountLevelRoleId != '125' && !(viewerObj?.role_id == 220 && viewerObj?.huddle_type=='1')">
                                   <div dropdown class="dropdown">
                                          <button type="button" (click)="addDiscussion_popup()" dropdownToggle
                                                 class="dropdown-toggle" data-toggle="dropdown">
                                                 <img src="assets/video-huddle/img/plus_white.svg">
                                          </button>
                                   </div>
                            </div>
                     </div>
              </div>
              <div class="tab-content">
                     <div class="panl_nav hutabs">
                            <router-outlet></router-outlet>
                     </div>
              </div>
       </div>
       <ng-template #addDiscussion>
              <div class="modal-content">
                     <form #f="ngForm" (ngSubmit)="AddDiscussionSubmit()">
                            <div class="modal-header">
                                   <h4 class="modal-title">{{translation?.artifact_add_discussion}}</h4>
                                   <button type="button" class="close"
                                          (click)="cancelAddDiscussionModal()">&times;</button>
                            </div>
                            <div class="modal-body sendmail quil-container">
                                   <label>{{translation?.artifact_discussion_topic}}</label>
                                   <input name="d-topic" [(ngModel)]="addDiscData.title" type="text"
                                          class="form-control">
                                   <label>{{translation?.artifact_discription}}</label>
                                   <input hidden type="file" #uploaderadd id="uploaderadd" (change)="onUpload($event)"
                                          accept="image/*,application/*,text/*" />
                                   <quill-editor [style]="{height: '250px'}"
                                          [placeholder]="translation?.artifact_insert_text"
                                          [modules]="editorOptions?.modules" name="d-description"
                                          [(ngModel)]="addDiscData.comment" >
                                   </quill-editor>
                                   <div class="row">
                                          <div class="col-12">
                                                 <div class="custom_files"
                                                        *ngFor="let file of DiscussionFiles; let i=index">
                                                        {{file.name |slice:0:30}} <span style="margin-left:0"
                                                               *ngIf="file?.name.length>30">...</span>
                                                        <span class="fake_link" (click)="DiscussionFiles.splice(i,1)">
                                                               <svg xmlns="http://www.w3.org/2000/svg"
                                                                      xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                      width="7" height="7" viewBox="0 0 7 7">
                                                                      <defs>
                                                                             <clipPath id="clip-path">
                                                                                    <path id="Path_29"
                                                                                           data-name="Path 29"
                                                                                           d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z"
                                                                                           transform="translate(0 11)"
                                                                                           fill="#919191" />
                                                                             </clipPath>
                                                                             <clipPath id="clip-path-2">
                                                                                    <path id="Path_28"
                                                                                           data-name="Path 28"
                                                                                           d="M-1057,89.727h763.636V-483H-1057Z"
                                                                                           transform="translate(1057 483)"
                                                                                           fill="#919191" />
                                                                             </clipPath>
                                                                      </defs>
                                                                      <g id="Group_26" data-name="Group 26"
                                                                             clip-path="url(#clip-path)">
                                                                             <g id="Group_25" data-name="Group 25"
                                                                                    transform="translate(-672.636 -300.364)"
                                                                                    clip-path="url(#clip-path-2)">
                                                                                    <path id="Path_27"
                                                                                           data-name="Path 27"
                                                                                           d="M-5-2.636H8.364V-16H-5Z"
                                                                                           transform="translate(674.455 313.182)"
                                                                                           fill="#919191" />
                                                                             </g>
                                                                      </g>
                                                               </svg>
                                                        </span>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                            <div class="modal-footer sharefooter discu_footer">
                                   <div class="clear"></div>
                                   <div class="row_1">
                                          <div class="col-12 share_btn">
                                                 <button type="button" class="btn btn-default"
                                                        (click)="cancelAddDiscussionModal();">{{translation?.discussion_cancel}}</button>
                                                 <button type="submit"
                                                        class="btn btn-success">{{translation?.discussion_add}}</button>
                                          </div>
                                   </div>
                            </div>
                     </form>
              </div>
       </ng-template>
       <!--Add Modal End-->
       <!--edit modal start-->
       <ng-template #editDiscussion>
              <div class="modal-content">
                     <div class="modal-header">
                            <h4 class="modal-title">{{translation?.discussion_edit_discussion}}</h4>
                            <button type="button" class="close"
                                   (click)="ModalRefs.participentsModal.hide()">&times;</button>
                     </div>
                     <div class="modal-body sendmail">
                            <label>{{translation?.artifact_discussion_topic}}</label>
                            <input name="d-topic" [(ngModel)]="editDiscData.title" type="text" class="form-control">
                            <label>{{translation?.artifact_discription}}</label>
                            <quill-editor [placeholder]="translation?.artifact_insert_text" [style]="{height: '250px'}"
                                   toolbar="" name="d-description" [(ngModel)]="editDiscData.comment"></quill-editor>
                     </div>
                     <div class="modal-footer sharefooter">
                            <div class="clear"></div>
                            <div class="row">
                                   <div class="col-12 share_btn">
                                          <button type="button" class="btn btn-default"
                                                 (click)="ModalRefs.participentsModal.hide()">{{translation?.discussion_cancel}}</button>
                                          <button type="button" class="btn btn-success"
                                                 (click)="ModalRefs.participentsModal.hide()">{{translation?.discussion_edit}}</button>
                                   </div>
                            </div>
                     </div>
              </div>
       </ng-template>
       <!--edit modal end-->
       <!--delete modal start-->
       <ng-template #delete>
              <div class="modal-content">
                     <div class="modal-header">
                            <h4 class="modal-title">{{translation?.huddle_list_confirmation_required}}</h4>
                            <button type="button" class="close"
                                   (click)="ModalRefs.participentsModal.hide()">&times;</button>
                     </div>
                     <div class="modal-body">
                            <div class="alert_bg row">
                                   <div class="col-2">
                                          <img src="assets/video-huddle/img/alert_i.svg">
                                   </div>
                                   <div class="col-10">
                                          <h6>{{translation?.discussion_you_are_about_to_delete_discussion}}:
                                                 {{selectedDiscussion?.title}}</h6>
                                   </div>
                            </div>
                     </div>
                     <div class="modal-footer hufooter de_footer">
                            <div class="col-12">
                                   <a
                                          (click)="ModalRefs.participentsModal.hide()">{{translation?.discussion_cancel}}</a>
                                   <a class="conf_delete"
                                          (click)="ConfirmDelete()">{{translation?.discussion_delete}}</a>
                            </div>
                            <label>{{translation?.artifact_discription}}</label>
                            <quill-editor [placeholder]="translation?.artifact_insert_text" [style]="{height: '250px'}"
                                   name="d-description" [(ngModel)]="editDiscData.comment"></quill-editor>
                     </div>
              </div>
       </ng-template>
       <!--delete modal end-->
       <!--participant pop-up start-->
       <ng-template #participantsModal>
              <div class="modal-header">
                     <h4 class="modal-title">{{translation?.artifact_participants}}</h4>
                     <button type="button" class="close" (click)="ModalRefs.participentsModal.hide()">&times;</button>
              </div>
              <div class="modal-body" *ngIf="!popupIsLoading">
                     <div class="parti_list">
                            <div class="row par_heading">
                                   <div class="col-4">
                                          {{translation?.discussion_participant_name}}
                                   </div>
                                   <div class="col-6">
                                          {{translation?.discussion_participant_email}}
                                   </div>
                                   <div class="col-2">
                                          {{translation?.discussion_participant_role}}
                                   </div>
                            </div>
                            <div class="listing_scroll" slimScroll [options]="opts" [scrollEvents]="scrollEvents"
                                   *ngIf="participents.length>0">
                                   <div class="row par_listing" *ngFor="let p of participents | orderBy:'user_name'">
                                          <div class="col-4">
                                                 <img *ngIf="detailService.ImageUrlBuilder(p)==true" aria-hidden="true"
                                                        src="assets/video-huddle/img/parti_gry.svg">
                                                 <img *ngIf="detailService.ImageUrlBuilder(p)!=true"
                                                        src="{{detailService.ImageUrlBuilder(p)}}">
                                                 <span class="g_name">{{p.user_name}}</span>
                                          </div>
                                          <div class="col-6 par_email">
                                                 <span>{{p.user_email}}</span>
                                          </div>
                                          <div class="col-2">
                                                 {{p.role_name}}
                                          </div>
                                   </div>
                            </div>
                     </div>
              </div>
              <div class="modal-body text-center" *ngIf="popupIsLoading">
                     <div class="row par_listing anrow" *ngFor="let arr of [1,1,1,1,1]">
                            <div class="col-4">
                                   <span class="animate_me aniimg"></span> <span class="animate_me linecls"> </span>
                            </div>
                            <div class="col-6 par_email">
                                   <span class="animate_me linecls"> </span>
                            </div>
                            <div class="col-2">
                                   <span class="animate_me linecls"> </span>
                            </div>
                     </div>
              </div>
              <div class="modal-footer hufooter par_foo">
                     <div class="col-12">
                            <div class="border_bottom">
                                   <a class="okbtn"
                                          (click)="ModalRefs.participentsModal.hide()">{{translation?.artifact_ok}}</a>
                            </div>
                     </div>
              </div>
       </ng-template>
       <!--activity popup start-->
       <ng-template #activity>
              <div class="modal-content">
                     <div class="modal-header">
                            <h4 class="modal-title">{{translation?.artifact_activity}}</h4>
                            <button type="button" class="close"
                                   (click)="ModalRefs.participentsModal.hide()">&times;</button>
                     </div>
                     <div class="modal-body" *ngIf="!popupIsLoading">
                            <div class="listing_scroll" slimScroll [options]="opts" [scrollEvents]="scrollEvents">
                                   <div class="activity_row" *ngFor="let act of actvities">
                                          <ng-container *ngIf="translation?.current_lang=='en'">
                                                 <div class="ac_1">
                                                        <b>{{headerService?.formatDate(act?.activityDate, 'MMM DD')}}</b><br>
                                                        {{headerService?.formatDate(act?.activityDate, 'hh:mm a')}}
                                                 </div>
                                          </ng-container>
                                          <ng-container *ngIf="translation?.current_lang=='es'">
                                                 <div class="ac_1">
                                                        <strong>{{timedateSpanish(act?.activityTimestamp,1)}}</strong><br>
                                                        {{timedateSpanish(act?.activityTimestamp,2)}}
                                                 </div>
                                          </ng-container>
                                          <div class="ac_2">
                                                 <label>{{act?.activityLogs_users}} </label>
                                                 <ng-container *ngIf="!act.resource_video_name">
                                                        {{act?.resource_name}}
                                                        <a *ngIf="act.resource_url"
                                                               href="{{rootPath}}{{act?.resource_url.replace(rootPath,'/')}}"
                                                               target="_blank">
                                                               <b>{{act.resource__name}}</b></a>
                                                 </ng-container>
                                                 <ng-container *ngIf="act.resource_video_name">
                                                        {{act?.resource_name }}
                                                        <a *ngIf="!act.resource_url "
                                                               style="cursor:context-menu">:{{act.resource_video_name |slice:0:50}}</a>
                                                        <a *ngIf="act.resource_url"
                                                               href="{{rootPath}}{{act?.resource_url.replace(rootPath,'/')}}"
                                                               target="_blank">
                                                               <b>{{act.resource_video_name |slice:0:50}}</b></a>
                                                 </ng-container>
                                          </div>
                                          <div class="clear"></div>
                                   </div>
                                   <div class="text-center" *ngIf="actvities==''">
                                          <p
                                                 style="font-weight: 800;font-size: 24px;word-spacing: 2px;margin-top:10%;color: lightgray;">
                                                 {{translation?.artifact_noactivityfound}}!</p>
                                   </div>
                            </div>
                     </div>
                     <div class="modal-body text-center" *ngIf="popupIsLoading">
                            <div class="activity_row" *ngFor="let arr of [1,1,1,1,1]">
                                   <div class="ac_1">
                                          <b><span class="animate_me linecls"></span></b><br>
                                          <span class="animate_me linecls"></span>
                                   </div>
                                   <div class="ac_2">
                                          <label class="animate_me linecls"></label>
                                   </div>
                                   <div class="clear"></div>
                            </div>
                     </div>
                     <div class="modal-footer hufooter">
                            <div class="col-12">
                                   <a class="okbtn"
                                          (click)="ModalRefs.participentsModal.hide()">{{translation?.artifact_ok}}</a>
                            </div>
                     </div>
              </div>
       </ng-template>
       <!--activity popup end-->
</div>