
<!-- Modal content-->
<div class="modal-content" style="width:700px;">
    <div class="modal-header">
        <h4 class="modal-title">{{translation?.upload_video_modal_title}}</h4>
        <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>

    </div>

    <div class="modal-body manage_popup">
        <div class="form-group">
            <label for="exampleFormControlInput1">{{translation?.video_title_videos}}</label>
            <input type="email" class="form-control" id="exampleFormControlInput1"
                placeholder="{{translation?.type_video_title_here}}" [(ngModel)]="videoTitle" (change)="videoTitle=videoTitle.trim()">
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">{{translation?.vl_video_description}}</label>
            <textarea [maxlength]="maxChars" class="form-control" id="exampleFormControlTextarea1" rows="3"
                placeholder="{{translation?.type_video_description_here}}" [(ngModel)]="videoDescription" (change)="videoDescription=videoDescription.trim()"></textarea>
        </div>

        <div class="tab-content">
            <!--Share to Huddle-->
            <div class="tab-pane fade in show active" id="SharetoHuddle" role="tabpanel">
                <div class="row">

                    <div class="col-md-6 r_border ck2">

                        <h4>{{translation?.vl_categories}}</h4>
                        <div class="cat_listouter2 pop_cal_list scroll-container" slimScroll [options]="opts" [scrollEvents]="scrollEvents">

                           
                            <div *ngFor="let category of categories">

                                <label class="checkboxcls">
                                    <input type="checkbox" (click)="checkCategory(category); subCategories = category;"
                                        [checked]="category.isChecked">
                                    <span class="checkmark"></span>

                                </label>
                                <label class="for_lab" [class.active_row]="category === subCategories "
                                    (click)="subCategories = category">{{category.name}}</label>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <h4>{{translation?.vl_subcategories}}</h4>
                        <div class="cat_listouter2 pop_cal_list scroll-container" slimScroll [options]="opts" [scrollEvents]="scrollEvents">
                            <!-- <p *ngIf="subCategories?.childs?.length == 0">{{translation?.vl_no_subcategory}}</p> -->
                            <label *ngIf="subCategories?.childs" class="checkboxcls">{{subCategories.nocategoryName}}
                                <input type="checkbox" (click)="checkNoCategory(subCategories, $event.target.checked)"
                                    [checked]="subCategories.nocategoryCheck">
                                <span class="checkmark"></span>
                            </label><label class="checkboxcls"
                                *ngFor="let subCategory of subCategories.childs">{{subCategory.name}}
                                <input type="checkbox" (click)="checkCategory(subCategory, subCategories)"
                                    [checked]="subCategory.isChecked">
                                <span class="checkmark"></span>
                            </label>

                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>

    <div class="modal-footer footerm">
        <div class="clear"></div>
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6 share_btn">
                <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{translation?.artifact_cancle}}</button>
                
                <button type="button"  class="btn btn-success" appFSUploader [selectedConfiguration]="'videoOptions'"
                [disabled] = '!videoTitle' [source]="'Upload'" (onUpload) = "onMediaUpload($event)">{{translation?.library_next}}</button>
            </div>
        </div>


    </div>
</div>

