.mainDiv{
    background: #CECECE;
    margin: 20px;
    padding: 5%;
    text-align: center;
}
.audioSelect{
    background: #fff;
    border-radius: 4px;
    border: 0;
    padding: 7px 20px;
    font-size: 14px;
    margin: 7px;
    outline: none;
    cursor: pointer;
}

body{background:#f3f2ea; font-family: 'Roboto', sans-serif; }
.box_outer{ border-radius:5px;     margin-top: 15px !important;}
 /* .topheader{text-align: center; background:url(../img/bgrep.png) repeat-x;} */
 img{ max-width: 100%; }

  @media screen and (min-width:1280px) {
.container {
    max-width: 1250px;    padding: 0 15px; overflow: hidden;
}
   }

@media screen and (min-width:1500px) {

.container {
    max-width: 1500px;    padding: 0 15px; overflow: hidden;
}

   }


 /**top headeing bar start **/
.panl_heading { border-bottom:1px solid #ddd;     padding: 3px 5px 6px 7px;     background: #f9f9f9;    }
.panl_heading  h3{   
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #212528;
}
.panl_heading .col-8{ padding-left:8px;}

/****/

.hec{ background:#004061;}
.logocls{     width: 175px;
    height: 64px;
    background: #fff;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.3);     text-align: center;}
.logocls img{ max-width:119px;    position: relative;
    top: 3px;}
.hec .col-4{padding-left: 0;}
.bred img{    margin: 0 5px;}
.bred{    color: #838383!important;font-weight: 400;     padding: 15px 0 0 0; font-size: 14px;}
.bred .container{ padding-left:26px;}
.bred span{ color:#000;}
.box_whcls {
    background: #fff;
    margin-bottom: 40px;
}

.screen_re { position: relative; min-height: 553px;
    max-width: 750px;
    margin: 0 auto;
    background: #EAEAEA; margin-top: 20px; margin-bottom: 20px;
}
.scree_text { 
    position: absolute; top: 0px; bottom: 0; text-align: center; right: 0; left: 0;     display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;}

.scree_text  h2{     font-size: 50px;
    color: #fff;
    padding: 40px 0 11px 0;
    margin: 0;}
    .scree_text  h1{     font-size: 100px;
    color: #000;
    padding: 0;
    margin: 0;}
.scree_text p{ color: #fff; }

.scree_text button{ 
    background: #fff;
    border-radius: 4px;
    border: 0;
    padding: 7px 20px; 
    font-size: 14px; 
    margin: 7px; outline:none; cursor: pointer; 
} 
.scree_text a{ 
    background: #fff;
    border-radius: 4px;
    border: 0;
    padding: 7px 20px; 
    font-size: 14px; 
    margin: 7px; outline:none; cursor: pointer; 
} 

.scree_text button img { margin-right: 5px; }
.scree_text_inner {    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; margin-top: auto; margin-bottom: auto;}

    .screen_view_sm { position: fixed;; right: 15px; bottom: 15px; max-width: 250px;}
    .scree_text h3{    color: #616161;
    padding-bottom:30px;
    font-size: 34px;
    font-weight: 600;}

    .color_white h2{ color: #000000; }
     .color_white p{ color: #616161; }
     .screen_view_sm span{    position: absolute;
    right: 8px;
    top: 3px;
    max-width: 15px;
    cursor: pointer;}

    .scree_text button.btn_c1{ background: #CCCCCC; }
    .scree_text button.btn_c3{ background: #F92F2F; color: #fff;}
    .scree_text button.btn_mute {
        background: #4488C3;
        color: #fff;
    }
    .button_sc { padding-top: 15px; }
    .button_sc button img { position: relative; top: -2px; }

    .short_msg {
    padding: 40px 20px 20px 20px;
    font-size: 14px;
    text-align: center;
}

 .short_msg p{ margin: 0 }

.footerm {
    border: 0;
    padding: 0 18px 20px 18px;
}

.footerm .share_btn {
    padding-right: 0;
    border-top: 1px solid #ddd;
    padding-top: 13px;
    text-align: right;
}
.footerm button {    padding: 5px 27px; background: none; outline: none;}
.footerm .btn-success {
    background: #28A745;
    border: 0;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}

.clse{    position: absolute;
    right: 10px;
    top: 6px;
     z-index: 99;
    font-size: 24px;     outline: none !important;}


.upload_header .close{}
    .modal-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: block;
    color: #484848;
    text-align: center;
    width: 95%;
}

.modal-header {
    background: #f9f9f9;
}

.short_msg p{ color: #616161; }
.pt20 { padding-top: 20px; }

.upload_bar {     margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 8px;
    overflow: hidden;}
.pbar {    height: 6.5px;
    background: #039542;
    display: inline-block;
    
    float: left;}
	
	
	
	/****/
	.cross_icon{     position: absolute;
    top: 13px;
    right: 20px;
    cursor: pointer;}
   .cam_sec { padding:0 40px;}
     .cam_sec img { margin:30px 0;}
     
     .hideDiv {
        position: absolute;
        opacity: 0;
     }

     .browser-not-supported {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 600px;
        color: #fff;
        background-color: #000;
     }
     .bg-n{
         /* background: #fff !important; */
     }

     .btn_c2{
         color: black;
     }

     a:hover{
         text-decoration: none;
     }

     .loading{
        text-align: center;
        /* padding-top: 33%; */
     }

     .mic-mute {
         width: 1rem
     }