<div class="container box_outer">
    <div class="box_whcls row">
        <div class="col-12">
            <div class="row panl_heading">
                <div class="col-8">
                    <h3>{{video_name}}</h3>
                </div>
            </div>


            <div class="screen_re" *ngIf="permission">
                <div class="Screen__inner bg-n"
                    *ngIf="!playTimer && browserAgent !== 'firefox' && (windowRef.screenRecordingState === 'comfortZone' || windowRef.screenRecordingState === 'cancelled')">
                    <video #camView width="100%" autoplay style="margin-bottom: -5px;"></video>
                </div>
                <ng-continer *ngIf="permissionLoading else BodyContent">
                    <div class="loading">
                        <span>Loading...</span>
                    </div>
                </ng-continer>
                <ng-template #BodyContent>

                    <div class="scree_text"
                        *ngIf="!playTimer && (windowRef.screenRecordingState === 'comfortZone' || windowRef.screenRecordingState === 'cancelled')">
                        <div class="scree_text_inner">
                            <div class="rec_icon">

                                <img src="assets/screen-sharing/img/rec_ic1.svg">
                            </div>

                            <h2>{{translation.rs_record_screen}}</h2>
                            <p>{{translation.rs_start_recording_text}}</p>
                            <div class="rec_btn">
                                <button *ngIf="browserAgent !== 'firefox'" (click)="startSCreenCasting('withCam')"><img
                                        src="assets/screen-sharing/img/rec_ic2.svg">{{translation.rs_start_recording_with_cam}}</button>
                                <button (click)="startSCreenCasting('withoutCam')"><img
                                        src="assets/screen-sharing/img/rec_ic3.svg">{{translation.rs_start_recording_without_cam}}</button>
                            </div>
                            <div class="col-md-8 mx-auto">
                                <select  [(ngModel)]="selectedMicrophones" class="audioSelect" (change)="showCamView()">
                                    <option *ngFor='let audio of availableAudioSrc' [attr.value]='audio.deviceId'>
                                      <span>{{audio.label}} </span>
                                    </option>
                                  </select>
                            </div>
                        </div>
                    </div>
                    <div class="scree_text" *ngIf="playTimer && windowRef.screenRecordingState === 'initialized'">
                        <div class="scree_text_inner">
                            <h1>{{timer}}</h1>
                        </div>
                    </div>
                    <div class="scree_text"
                        *ngIf="(!playTimer) && (windowRef.screenRecordingState === 'started' || windowRef.screenRecordingState === 'paused' || windowRef.screenRecordingState === 'resumed')">
                        <div class="scree_text_inner color_white">
                            <h3>{{videoRecordTime | sibmeTimeFormatPipe}}</h3>
                            <div class="rec_icon">
                                <img src="assets/screen-sharing/img/rec_ic2.svg" width="54">
                            </div>
                            <h2>{{translation.rs_recording_your_screen}}</h2>
                            <p>{{translation.rs_minimize_window}}</p>

                            <div class="button_sc">

                                <button class="btn_c1"
                                    (click)="OpenCancelModal()">{{translation.cancel_discussion}}</button>
                                <button *ngIf="windowRef.screenRecordingState !== 'paused'" class="btn_c2"
                                    (click)="pauseScreenRecording()">
                                    <img src="assets/screen-sharing/img/pause_re.svg">
                                    {{translation.rs_pause_recording}}
                                </button>
                                <button *ngIf="windowRef.screenRecordingState === 'paused'" class="btn_c2"
                                    (click)="resumeScreenRecording()">
                                    <img src="assets/screen-sharing/img/resume-icon.svg">
                                    {{translation.rs_resume_recording}}
                                </button>
                                <button *ngIf="!mainScreenStream.getAudioTracks()[0].enabled" class="btn_c2"
                                    (click)="unmuteMicrophone()">
                                    <img src="assets/screen-sharing/img/mic.svg">
                                    {{translation?.screen_recorder_unmute}}
                                </button>
                                <button *ngIf="mainScreenStream.getAudioTracks()[0].enabled" class="btn_mute" 
                                    (click)="muteMicrophone()"> 
                                    <img class="mic-mute" src="assets/screen-sharing/img/micpy.png">
                                    {{translation?.screen_recorder_mute}}
                                </button>
                                <button class="btn_c3" (click)="stopScreenCasting()"> <img
                                        src="assets/screen-sharing/img/stop_re.svg">
                                    {{translation.rs_stop_recording}}</button>
                            </div>
                        </div>
                    </div>
                </ng-template>


            </div>
            <div class="screen_re" *ngIf="!permission">
                <div class="scree_text" *ngIf="!cam_and_mic_perm">
                    <span class="cross_icon" (click)="cancelRecording(true)"><img
                            src="assets/screen-sharing/img/cross_icon2.svg"></span>
                    <div class="scree_text_inner color_white">
                        <div class="cam_sec">
                            <p>{{translation.rs_click_allow_button}}</p>

                            <img src="assets/screen-sharing/img/screen_r2.png">
                            <p>{{translation.rs_click_block_button}}</p>
                            <img src="assets/screen-sharing/img/screen_r.png">

                        </div>
                        <div class="button_sc">
                            <button class="btn_c1" type="button" (click)="cancelRecording(true)">
                                {{translation.cancel_discussion}} </button>
                            <button class="btn_c3" type="button" (click)="retry()"> {{translation.rs_retry_camera}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="scree_text" *ngIf="!window_permission">

                    <span class="cross_icon" (click)="cancelRecording(true)"><img
                            src="assets/screen-sharing/img/cross_icon2.svg"></span>

                    <div class="scree_text_inner color_white">

                        <div class="rec_icon">
                            <img src="assets/screen-sharing/img/rec_ic2.svg" width="54">
                        </div>
                        <h2>{{translation.rs_need_to_allow_permissions}}</h2>
                        <p>{{translation.rs_select_screen_share}}</p>

                        <div class="button_sc">

                            <button class="btn_c1" type="button"
                                (click)="cancelRecording(true)">{{translation.cancel_discussion}} </button>
                            <a class="btn_c2"
                                href="http://help.sibme.com/en/articles/4397076-screen-recording-overview-sibme-help-center"
                                target="_blank">{{translation.rs_screen_recording_help}}
                            </a>
                            <button class="btn_c3" type="button"
                                (click)="startSCreenCasting(recordingType)">{{translation.rs_try_again}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="browser-not-supported" *ngIf="!browserSupportedRecording">
                    <h2 class="header">
                        {{translation.rs_browser_not_support}}
                    </h2>
                    <div class="description">
                        {{translation.rs_use_chrome_or_firefox}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #uploadStreamModal>
    <!-- <div class="modal-dialog" style="max-width:500px;"> -->
    <!-- Modal content-->
    <!-- <div class="modal-content"> -->
    <div class="modal-header upload_header">
        <h4 class="modal-title">{{translation.rs_upload_recording}}</h4>
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
    </div>
    <div class="modal-body">
        <div class="short_msg pt20">
            <p>{{translation.rs_screen_recording_uploading}}</p>

            <div class="upload_bar">
                <span class="pbar" [style.width.%]="uploadProgress"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" placement="left" [tooltip]="translation?.download_button" (click)="downloadVideoRecorded()">{{translation?.rs_download_video}}</button>
    </div>
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="modal-body video_sav_confirm_body" style="padding: 50px !important;background: #eee;">
        <svg enable-background="new 0 0 32 32" height="32px" id="svg2" version="1.1" viewBox="0 0 32 32" width="32px"
            xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#"
            xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg">
            <g id="background">
                <rect fill="none" height="32" width="32" />
            </g>
            <g id="screen_x5F_16to9">
                <path d="M32,28V10H0v18h14v2H8v2h16v-2h-6v-2H32z M2,26V12h28v14H2z" />
            </g>
        </svg>
        <label>Your stream is uploading...</label>
        <p>Please wait!</p>
        <div class="col-12">
            <span><b>Uploading...</b></span>
            <div class="st_bar2"><span class="bar_pg" [style.width.%]="uploadProgress"></span> <i>{{uploadProgress}}%
                </i> </div>
        </div>
    </div> -->

</ng-template>

<ng-template #cancelModal>
    <div class="modal-content">
        <button type="button" class="close clse" (click)="modalRef.hide()">&times;</button>
        <div class="modal-body">
            <div class="short_msg">
                <p>{{translation.rs_are_your_sure_cancel_recording}}</p>
            </div>
        </div>
        <div class="modal-footer footerm">
            <div class="col-12 share_btn">
                <button type="button" class="btn bgnone"
                    (click)="modalRef.hide()">{{translation.cancel_discussion}}</button>
                <button type="button" class="btn btn-success" (click)="cancelRecording()">{{translation.yes}}</button>
            </div>
        </div>
    </div>
</ng-template>