@media screen and (min-width:1280px) {
    .container {
        max-width: 1250px !important;
        padding: 0 40px;
    }
}

@media screen and (min-width:1500px) {
    .container {
        max-width: 1500px !important;
        padding: 0 40px;
    }
}

.goals_box_outer {
    border-radius: 5px;
    margin-top: 15px !important;
}

.box_whcls {
    background: #fff;
    margin-bottom: 40px;
}

.panl_heading {
    border-bottom: 1px solid #ddd;
    padding: 10px 10px;
    background: #f9f9f9;
}

.panl_heading h3 {
   font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #212529;
}

.frame_lft input[type=text] {
    width: 100%;
    height: 37px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 11px;
    background-size: 19px;
    padding-right: 35px;
    font-size: 14px;
}

.frame_lft input[type=text]:focus {
    outline: none;
}

.checkboxcls {
    display: block;
    position: relative;
    padding-left: 30px;
    margin: 13px 0;
    cursor: pointer;
    font-size: 13px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #101010 !important;
}

/* Hide the browser's default checkbox */

.checkboxcls input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkboxcls img {
    position: absolute;
    top: 2px;
    left: 0;
    width: 11px;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #B4BAC3;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */

.checkboxcls:hover input~.checkmark {
    background-color: #fff;
}

/* When the checkbox is checked, add a blue background */

.checkboxcls input:checked~.checkmark {
    background-color: #157EFC;
    border: 1px solid #157EFC;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.checkboxcls input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.checkboxcls .checkmark:after {
    left: 5.7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

.frame_lft ul li .checkboxcls {
    font-size: 14px !important;
    margin: 0;
}

.frame_lft ul {
    list-style: none;
    padding: 0 0 0 10px;
    ;
}

.frame_lft ul li {
    list-style: none;
    padding: 15px 10px;
}

.frame_lft ul li .checkmark {
    width: 16px;
    height: 16px;
    top: 1px;
}

.frame_lft ul li .checkboxcls .checkmark:after {
    left: 5px;
    top: 1px;
}

.frame_lft ul li.frame_active {
    background: #F3F3F3;
    font-weight: 500;
}

.frame_cls h4 {
    font-size: 18px;
    margin: 0;
    padding-bottom: 20px;
}

.frame_cls h5 {
    font-size: 15px;
    margin: 0;
    padding-top: 20px; padding-bottom: 15px;
}
.frame_lft .slimscroll-wrapper{ padding-right:15px !important;}

.frame_lft .checkboxcls { top:4px;}
.frame_cls {
    padding: 30px 25px;
}

.frame_cls p {
    font-size: 14px;
	    padding-bottom: 10px;
    margin: 0;
}

.frame_lft {
    padding-right: 40px;
}

.slimscroll-container {
    max-height: 550px;
}

.frame_right {
    padding-left: 40px;
}

.p_des {
    padding-top: 40px;
}

.no_per {
    text-align: center;
    padding: 40px 0;
}

.no_per img {
    margin-right: 20px;
}

.top_detail {
    padding-top: 30px;
    border-bottom: 1px solid #ddd;
}

.top_detail h5 {
    font-size: 15px;
    margin: 0;
    padding-bottom: 20px;
    float: left;
}

.top_detail label {
    background: #F4F9FF;
    border-radius: 20px;
    padding: 2px 15px;
    border: 1px solid #79B6FF;
    font-size: 14px;
    float: right;
}

.frame_dt {
    padding-bottom: 40px;
    width: 100%;
    margin: 0;
}

.frame_inner p {
    font-size: 14px;
    margin: 0;
}

.frame_inner span {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 14px;
    display: inline-block;
    margin-top: 4px;
}

.frame_inner {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.frame_edit {
    text-align: right;
    padding: 20px;
}

.frame_edit a, .save_goal a {
    color: #000;
    border: 1px solid #ddd;
    padding: 4px 16px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    line-height: 20px;
}

.save_frame {
    border-top: 1px solid #ddd;
    padding: 15px 0;
    text-align: right;
    margin-top: 20px;
}

.save_frame button {
    background: none;
    border: 0;
    color: #333;
    outline: 0;
    padding: 6px 23px;
    font-size: 15px;
    line-height: 1.5;
    margin-left: 10px;
}

.save_frame .btn_sv {
    background: #28a745;
    color: #fff;
    border-radius: 4px;
}

.save_goal {
    border-top: 1px solid #ddd;
    padding: 15px 0;
    text-align: right;
    margin-top: 20px;
}

.save_goal button {
    background: none;
    border: 0;
    color: #333;
    outline: 0;
    padding: 6px 23px;
    font-size: 15px;
    line-height: 1.5;
    margin-left: 10px;
}

.save_goal .btn_sv {
    background: #28a745;
    color: #fff;
    border-radius: 4px;
}

.standard-level-2 {
    padding-left: 4%;
}

.standard-level-3 {
    padding-left: 8%;
}

.standard-level-4 {
    padding-left: 12%;
}

.framework-title {
    padding-left: 25px;
}

.checked-row {
    background-color: #efebeb;
    border-radius: 6px;
    cursor: pointer;     margin-bottom: 10px;
    padding-top: 3px;
    padding-bottom: 1px;
}

.search-container {
    position: relative;
    margin-bottom: 25px;
}

.search-container input {
    width: 100%;
    height: 33px;
    border: 1px solid #ddd;
    padding: 0 30px 0 5px;
    border-radius: 3px;
}

.search-container input:focus, .search-container button:focus {
    outline: none;
}

.search-container img, .search-container button {
    height: 18px;
    position: absolute;
    top: 10px;
    right: 11px;
}

.search-container button {
    top: 6px !important
}

.no-result {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.no-result img {
    height: 21px;
    margin-right: 10px;
}

/* Animation section start */

@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.sub-header {
    height: 75px;
    width: 100%;
    padding: 12px 8px;
    display: flex;
    justify-content: space-between;
}

.goal-detail {
    width: 40%;
    float: left;
    padding-left: 12px;
}

.back-to-list {
    width: 15%;
    float: left;
    padding-right: 12px;
}

.cat_mg {
    width: 15%;
    float: left;
    padding-right: 35px;
    position: relative;
}

.g_ani2 {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #ededed 8%, #e9e9e9 18%, #ededed 33%);
    background-size: 800px 104px;
    position: relative;
}

.g_ani {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    position: relative;
}

.gn1 {
    width: 50%;
    height: 40px;
}

.fn6 {
    width: 100%;
    height: 40px;
    /* float: right; */
    display: inline-block;
    position: relative;
    margin-top: 15px;
}

.fn7 {
    width: 100%;
    height: 25px;
    /* float: right; */
    display: inline-block;
    position: relative;
}

.mleft8 {
    margin-left: -9px !important;
}

/* Animation section end */

a.disabled {
    opacity: 0.5;
}

.panl_heading .col-8{ padding-left:7px;}