<ng-container *ngIf="!loaded then preLoaderSection else dataSection"></ng-container>
<ng-template #dataSection>
    <div class="container goals_box_outer">
        <div class="box_whcls row">
            <div class="col-12">
                <div class="row panl_heading">
                    <div class="col-8">
                        <h3>{{goalAltName}}</h3>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="!performanceLevelsPreviewView; else performanceLevelsStaticView">
                <div class="col-6 frame_cls frame_lft">
                    <h4>{{frameworkData.account_framework_settings.framework_name}}</h4>
                    <div class="search-container">
                        <input type="text" [placeholder]="translation?.goals_search_framework"
                            [(ngModel)]="searchFramework">
                        <img *ngIf="!searchFramework" src="assets/img/search_icon.png">
                        <button *ngIf="searchFramework" type="button" class="close"
                            (click)="searchFramework = ''">&times;</button>
                    </div>
                    <div class="slimscroll-container" slimScroll [options]="slimScrollOpts"
                        [scrollEvents]="scrollEvents">
                        <ng-container
                            *ngIf="(frameworkData.account_tag_type_0 | search: searchFramework:'tag_code,tag_html') as resultArray">
                            <div *ngFor="let framework of resultArray">
                                <h5 *ngIf="framework.standard_level === 1">
                                    <span>{{framework.tag_code}}</span> {{framework.tag_html}}
                                </h5>
                                <div *ngIf="framework.standard_level !== 1"
                                    [class]="'standard-level-' + framework.standard_level"
                                    [class.checked-row]="framework.checked && goalPerformanceLevelEnabled && frameworkPerformanceLevelEnabled"
                                    (click)="openPerformanceSlection(framework, $event)">
                                    <label class="checkboxcls">
                                        <ng-container *ngIf="!standardsStaticView; else checkMark">
                                            <input type="checkbox" [checked]="framework.checked"
                                                (change)="change($event.target.checked, framework)" (click)="$event.stopPropagation()">
                                            <span class="checkmark"></span>
                                        </ng-container>
                                        <ng-template #checkMark>
                                            <img  *ngIf="framework.checked" src="assets/goals/img/check_mark.svg">
                                        </ng-template>
                                    </label>
                                    <p class="framework-title"
                                        [ngStyle]="{'font-weight': (framework.checked && standardsStaticView) ? 600 : 400 }">
                                        {{framework.tag_code}} {{framework.tag_html}}</p>
                                </div>
                            </div>
                            <div *ngIf="resultArray.length === 0" class="no-result">
                                <img class="" src="assets/img/exclamation.svg">
                                <span>{{translation?.no_result_found}}</span>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div *ngIf="goalPerformanceLevelEnabled && frameworkPerformanceLevelEnabled && canEdit" class="col-6 frame_cls frame_right">
                    <h4>{{translation?.performance_level}}</h4>
                    <div *ngIf="!currentFrameworkForPLS; else frameworkSection" class="no_per">
                        <p> <img src="assets/goals/img/nogoal_icon.svg">
                            {{translation?.check_and_select_standard}}
                        </p>
                    </div>
                    <ng-template #frameworkSection>
                        <p>{{currentFrameworkForPLS.tag_code}} {{currentFrameworkForPLS.tag_html}}</p>
                        <select class="form-control cp" [(ngModel)]="selectedPerformanceLevel"
                            (change)="frameworkRatingChange()" [disabled]="standardsStaticView">
                            <option value="0">{{translation?.select_performance_level}}</option>
                            <option *ngFor="let rating of ratings" [ngValue]="rating">{{rating.performance_level}}
                            </option>
                        </select>
                        <div class="p_des">
                            <p><b>{{translation?.vd_performance_level_desc}}</b></p>
                        </div>
                        <ng-container *ngIf="standardDataOwnRating">
                            <ng-container *ngFor="let rating of ratings">
                                <h5>{{rating.performance_level}}</h5>
                                <p>{{rating.description}}</p>
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </div>
                <div class="col-12">
                    <div class="save_goal">
                        <ng-container *ngIf="!standardsStaticView; else standardsEditButton">
                            <button (click)="cancel()" [disabled]="isSubmitingForm">{{translation?.cancel_all}}</button>
                            <button class=" btn_sv" (click)="submit()"
                                [disabled]="isSubmitingForm">{{submitBtnTitle}}</button>
                        </ng-container>
                        <ng-template #standardsEditButton>
                            <a *ngIf="evidenceStandardData.length > 0" [class.disabled]="!canEdit" (click)="standardsStaticView = false">{{translation?.goals_edit}}</a>
                        </ng-template>
                    </div>
                </div>
            </ng-container>
            <ng-template #performanceLevelsStaticView>
                <div class="row frame_dt">
                    <div class="col-12 top_detail">
                        <h5>{{translation?.performance_level}}</h5>
                        <label>{{translation?.coaching_tracker_average_performance_level}}:
                            <b>{{averagePLData.averageRating}}</b></label>
                    </div>
                    <div *ngFor="let standard of averagePLData.standards" class="col-12 frame_inner">
                        <p>{{standard.title}}</p>
                        <span>{{translation?.performance_level}}: <b>{{standard.ratingTitle}}</b></span>
                    </div>
                    <div class="col-12 frame_edit">
                        <a [class.disabled]="!canEdit" (click)="performanceLevelsPreviewView = false">{{translation?.goals_edit}}</a>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</ng-template>
<ng-template #preLoaderSection>
    <div class="container goals_box_outer">
        <div class="row box_whcls">
            <div class="col-12">
                <div class="row panl_heading">
                    <div class="col-8">
                        <h3 class="g_ani2 gn1 mleft8"></h3>
                    </div>
                </div>
            </div>
            <div class="col-6 frame_cls frame_lft">
                <p class="fn6 g_ani"></p>
                <p class="fn7 g_ani"></p>
                <p class="fn7 g_ani"></p>
                <p class="fn7 g_ani"></p>
                <p class="fn7 g_ani"></p>
                <p class="fn7 g_ani"></p>
                <p class="fn6 g_ani"></p>
                <p class="fn7 g_ani"></p>
                <p class="fn7 g_ani"></p>
                <p class="fn7 g_ani"></p>
                <p class="fn7 g_ani"></p>
                <p class="fn7 g_ani"></p>
            </div>
            <div class="col-6 frame_cls frame_right">
                <p class="fn6 g_ani"></p>
                <p class="fn7 g_ani"></p>
                <p class="fn7 g_ani"></p>
                <p class="fn7 g_ani"></p>
                <p class="fn7 g_ani"></p>
                <p class="fn7 g_ani"></p>
                <p class="fn6 g_ani"></p>
                <p class="fn7 g_ani"></p>
                <p class="fn7 g_ani"></p>
                <p class="fn7 g_ani"></p>
                <p class="fn7 g_ani"></p>
                <p class="fn7 g_ani"></p>
            </div>
        </div>
    </div>
</ng-template>