.search-skeleton {
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
    margin-right: 2%;
    float: left;
    position: relative;
}

.skeleton-container {
    display: flex;
    margin: 10px 0;
}

.checkbox-skeleton {
    height: 22px;
    width: 24px;
}

.huddle-name-skeleton {
    height: 22px;
    width: 100%;
    margin-left: 10px;
}
.share-modal-body {
    padding-bottom: 0;
}

.share-modal-body .nav-tabs .nav-item {
    margin-bottom: -1px;
    border: 1px solid #ddd;
    padding: 5px 15px 6px 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 0;
    width: 33.33%;
    border-bottom: 0;
    text-align: center;
}

.share-modal-body .nav-tabs .nav-item a {
    color: #A0A0A0;
    text-decoration: none;
    font-size: 15px;
}

.share-modal-body .nav-tabs .nav-item a.active {
    color: #1C7CD5;
}

.share-modal-body .nav-tabs {
    border: 0;
    position: relative;
}

.share-modal-body .tab-content {
    border-top: 1px solid #E4E4E4;
    margin: 0 -15px;
    padding: 15px 15px 0 19px;
}

.share-modal-body .search-container {
    width: 100%;
    margin-bottom: 15px;
}

.share-modal-body .tab-pane {
    min-height: 100px;
}

.share-modal-body .search-container input[type=text] {
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 30px;
    background: url(/home/assets/img/search_icon.svg) no-repeat center left;
    background-size: 19px;
    padding-right: 35px;
    background-position-x: 8px;
    background-size: 18px 18px;
}

.share-modal-body .search-container img {
    position: absolute;
    right: 24px;
    top: 11px;
    cursor: pointer;
    opacity: .5;
    zoom: 1.5;
    width: 6px;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin: 13px 0;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #616161;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-mark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #B4BAC3;
    border-radius: 3px;
}

.share_btn {
    text-align: right;
}

.scroll-container {
    overflow: auto;
    max-height: 300px;
}

.share-modal-footer .row {
    width: 100%;
    border-top: 1px solid #e9ecef;
    padding-top: 16px;
    padding-bottom: 3px;
    margin: 0 !important;
}

.share-modal-footer .col-6 {
    padding-left: 0;
}

.share-modal-footer {
    border: 0;
    padding-top: 0;
}

.share_btn {
    text-align: right;
}

.share-modal-footer button {
    padding: 10px 28px;
    margin-left: 10px;
    font-size: 14px;
    margin-left: 10px;
}

.share-modal-footer button:focus {
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25);
}

.share-modal-footer .btn-default {
    background: none;
}

.share-modal-footer .btn-success {
    background: #28A745;
    border: 0;
    font-weight: 500;
    outline: 0 !important;
}

.share-modal-footer .btnpreview {
    background: #057EFF;
    color: #fff;
}

.share-modal-footer .checkbox-container {
    margin-left: 0px;
}

.share-modal-footer .col-6 {
    padding-left: 4px;
    padding-right: 5px;
}

.share-modal-footer {
    border: 0 !important;
}

.checkbox-container:hover input~.checkbox-mark {
    background-color: #fff;
}

.checkbox-container input:checked~.checkbox-mark {
    background-color: #fff;
}

.checkbox-mark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkbox-mark:after {
    display: block;
}

.checkbox-container .checkbox-mark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #B4BAC3;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}








	
	/**POPUP Start**/
	
	.f_name { padding-bottom:15px;}
.sharepopup  .hufooter { padding-top:0;}
.share_popup { padding-bottom:0;}

.footerm .row{     width: 94%;
    border-top: 1px solid #e9ecef;
    padding-top: 16px;
    padding-bottom: 3px;
    margin: 0 3%;}	

.footerm .share_btn{ padding-right:0;}
.footerm .col-6 { padding-left:0;}
.footerm{ border:0;     padding-top: 0;}
.share_btn { text-align:right;}
.footerm button{        padding: 10px 28px;
    margin-left: 10px;
    font-size: 14px; margin-left: 10px; }
.footerm button:focus { box-shadow: 0 0 0 0rem rgba(0,123,255,.25);}
.footerm .btn-default{ background:none;}
.footerm .btn-success{ background:#28A745; border:0;}
.share_popup .tab-pane { min-height:100px;}
.footerm .btnpreview{ background:#057EFF; color:#fff;}
.share_popup .nav-tabs .nav-item {
    margin-bottom: -1px;
    border: 1px solid #ddd;
      padding: 6px 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
      margin-left: 0;      width: 33.33%; border-bottom: 0; text-align: center;
}
   
   .share_popup .nav-tabs .nav-item a{ color:#A0A0A0; text-decoration:none;     font-size: 15px;} 
   .share_popup .nav-tabs .nav-item a.active{ color:#1C7CD5;}
   
  .share_popup .nav-tabs { border:0;     position: relative;
    }
  .share_popup .tab-content { border-top:1px solid #E4E4E4;     margin: 0 -15px;
    padding: 15px;}
	.sharepopup .hu_search{ width:100%;     margin-bottom: 10px;}
	
	
	.sharepopup h4 {
    color: #484848;
    font-size: 18px;
    margin: 10px 0px;
}

	.modal-title {font-family: 'Roboto', sans-serif; font-weight:400; 
    font-size: 18px;    display: block; color: #484848;
    text-align: center;
    width: 95%; }
	.close {
    float: right;
    font-size: 28px !important;
    font-weight: 100 !important;
    line-height: 18px !important;}
	
	/*cat popup*/
	.add_cat_row .form-control{ width:75%;
    display: inline-block;     font-size: 14px;
    padding: 7px 10px;}
	.add_cat_row button{ background: #057EFF;
    color: #fff;
    border: 0;
    width: 22%;
    padding: 6px;
    border-radius: 4px; cursor:pointer;}
	.manage_popup p{    color: #7B7B7B;
    font-size: 14px;
        font-style: italic;     margin-bottom: 0; text-align: center;}
		
		.manage_popup a{ color:#057EFF;}
		
		.manage_popup h4{ color:#484848; font-size:18px;     margin: 10px 0px;}
		.manage_popup .col-md-6 { padding:0 25px;}
		.manage_popup .row{ margin:0 -25px;}
		.r_border{    border-right: 1px solid #ddd;}
		.pop_cal_list { height:150px; overflow:auto;}
		.pop_cal_list ul { margin:0; padding:0; list-style:none;}
		.pop_cal_list ul li{ color:#616161; font-size:14px; padding:4px 0; cursor:pointer;}
		.pop_cal_list ul li:hover{ color:#057EFF;}
		.cat_option {    float: right;
    text-align: right;
    width:18%;}
	.cat_option button {
    border: 0;
    padding: 0;
    background: none;
    outline: none !important;
    cursor: pointer !important;
}

.cat_option .dropdown-menu {
    min-width: 74px !important;
    padding: 10px 0px 6px 0px !important;
    right: -30px !important;
    left: initial !important;
}
.cat_option .dropdown-menu a {
    padding: 1px 14px 5px 14px;
    font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 0;
    cursor: pointer !important;
}
.cat_option .dropdown-toggle::after{ display:none;}
.cat_option img { max-width:22px;}
		.not_ac { opacity:0.6;}
		.add_cat_row { padding-top:10px;}
		.cat_listouter { min-height:190px; }
		
	/*cat popup end*/
	
	/*cat  start*/
	.cat_listouter1{    padding-top: 4px;}
	.manage_popup .col-12 {
    padding: 0 25px 10px 25px ;
}
	/* .node-content-wrapper-active, .node-content-wrapper-focused, .node-content-wrapper:hover {
        box-shadow: none !important;
    }
    .node-content-wrapper-active, .node-content-wrapper.node-content-wrapper-active:hover, .node-content-wrapper-active.node-content-wrapper-focused {
        background: none !important;
    }
    .node-content-wrapper:hover {
        background: #fff !important;
    }
    .node-content-wrapper-focused {
      background: #fff !important;
    } */
	/*cat  start*/
	
	
	/**POPUP End***/
	
	
.active_row {color: #057EFF;}	
	
	.cat_listouter2 { min-height:150px; overflow:auto;}
	.ck2 .checkboxcls{margin: 1px 0 !important;
    max-width: 23px;
    display: inline-block;}
	.for_lab { position:relative; z-index:1; top:13px; cursor:pointer;}
	.for_lab:hover{color: #057EFF;}
	
	
@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

	
	.animate_share{
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  
  position: relative;
}
	.share_ani { margin-bottom:10px;}
	.share_ani .anich{ height:20px; margin-right:1%!important; width:4%;display: inline-block;}
    .share_ani .anitxt {height:20px; margin-right:5px !important; width:92%;display: inline-block;}
    
    .library-share .slimscroll-wrapper
    {
        max-width: 98% !important;
    }
	
	.align_folder{
        height: 10px;
        display: inline-block;
        width: 12px;
        float: left;
    }

    .span-padding {
        padding-left: 10px;
        position: absolute
    }

	