<div class="modal-header">
    <h4 class="modal-title">{{translation?.artifact_share}}</h4>
    <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>
</div>
<div class="modal-body share-modal-body manage_popup" [ngClass]="{'library-share': pageType == 'library-page'}">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a [ngClass]="{'active':isActive=='t1'}" (click)="setIsActive('t1')">
                {{translation?.artifacts_share_to_huddle}}</a>
        </li>
        <!-- && huddlesrecord?.all_accounts && (huddlesrecord?.all_accounts)?.length !=0 -->
        <li *ngIf="getLibPerm() && pageType !== 'library-page'"  class="nav-item">
            &nbsp;
            <a [ngClass]="{'active':isActive=='t2'}"
                (click)="setIsActive('t2')">{{translation?.artifacts_share_to_library}}</a>
        </li>
        <li *ngIf="huddlesrecord?.all_accounts && (huddlesrecord?.all_accounts)?.length !=0 && (huddlesrecord?.all_accounts)?.length > 1" class="nav-item">
            &nbsp;
            <a [ngClass]="{'active':isActive=='t3'}"
                (click)="setIsActive('t3')">{{translation?.artifacts_share_to_account}}</a>
        </li>
        <li *ngIf="huddlesrecord?.all_accounts && (huddlesrecord?.all_accounts)?.length == 1" class="nav-item">
            &nbsp;
            <a [ngClass]="{'active':isActive=='t3'}"
                (click)="setIsActive('t3')">{{translation?.df_artifacts_share_to_workspace}}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div [hidden]="isActive == 't1' ? false : true">
            <div class="row">
                <div class="col-12">
                    <div *ngIf="!huddlesrecord || !huddlesrecord.all_huddles" class="sibme-animation search-skeleton">
                    </div>
                    <div *ngIf="huddlesrecord && huddlesrecord.all_huddles" class="search-container">
                        <input type="text" #filter (ngModelChange)="OnSearchChange($event)" placeholder="{{translation?.artifacts_search_to_huddle}}"
                        [(ngModel)]="searchHuddleString" >
                        <img *ngIf="filter.value" src="./assets/img/x.svg"
                        (click)="searchHuddleString = ''; getHuddlesDataForShare();">
                    </div>
                </div>
                <div class="col-12 scroll-container" slimScroll [options]="opts" [scrollEvents]="scrollEvents">
                    <div *ngIf="!huddlesrecord || !huddlesrecord.all_huddles">
                        <div class="skeleton-container" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <div class="sibme-animation checkbox-skeleton"></div>
                            <div class="sibme-animation huddle-name-skeleton"></div>
                        </div>
                    </div>
                    <div>
                      <tree-root class="reverse" id="tree2" #tree [nodes]="huddlesrecord?.all_huddles" [options]="options" (select)="selectTreeNode($event)">
                        <ng-template #treeNodeTemplate let-node let-index="index">
                          <!-- <span [class.align_folder]="(!node.children || node.children.length==0)"> </span> -->
                          <img [src]="node.data.icon_path ? node.data.icon_path : './assets/img/folder_gry.svg'" width="20" />
                          <span class="span-padding">{{ node.data.name }}</span>
                        </ng-template>
                      </tree-root>
                    </div>
                    <!-- <div
                        *ngFor="let huddles of (huddlesrecord?.all_huddles | search: search_Huddle_Input:'name':-1) as result">
                        <label class="checkbox-container"
                            *ngIf=" (!isitNotes && !notResourceShare && huddles.meta_data_value!='3') || (isitNotes && huddles.meta_data_value!='3') || (notResourceShare)">{{huddles.name}}
                            <input type="checkbox" (click)="checkedHuddle(huddles)" [(ngModel)]="huddles.selected">
                            <span class="checkbox-mark"></span>
                        </label>
                        <div *ngIf="huddles.selected && huddlesFoldersTreeData">
                            <tree-root #tree [nodes]="huddlesFoldersTreeData" [options]="{animateExpand:true,useCheckbox: true,useTriState: false}"
                            (select)="selectTreeNode($event)" (deselect)="deselectTreeNode($event)"  (click)="onFolderClick($event, tree)">

                            <ng-template #treeNodeTemplate let-node let-index="index">
                              <span [class.align_folder]="(!node.children || node.children.length==0)">

                              </span>
                              <img src="./assets/img/folder_gry.svg" width="20" />
                              <span>{{ node.data.name }}</span>
                            </ng-template>

                          </tree-root>
                        </div>
                    </div> -->
                    <!-- <div *ngIf="huddlesFoldersTreeData; then content"></div>
                    <ng-template>



                </ng-template> -->
                    <br>
                    <p
                    *ngIf="huddlesrecord?.all_huddles.length <= 0">
                         {{translation?.artifacts_no_huddle_found}}</p>
                </div>
            </div>
        </div>
        <div  *ngIf="isActive=='t2' &&  notResourceShare">
            <div class="row">
                <div class="col-12" *ngIf="!categories.length > 0">
                    <label class="checkbox-container">{{translation?.artifacts_share_to_video_library}}
                        <input type="checkbox" [(ngModel)]="selected_library">
                        <span class="checkbox-mark"></span>
                    </label>
                </div>
                <div class="col-12"  *ngIf="categories.length > 0">
                    <div class="tab-content">
                        <!--Share to Huddle-->
                        <div class="tab-pane fade in show active" id="SharetoHuddle" role="tabpanel">
                            <div class="row">

                                <div class="col-md-6 r_border ck2">

                                    <h4>{{translation?.vl_categories}}</h4>
                                    <div class="cat_listouter2 scroll-container" slimScroll [options]="opts" [scrollEvents]="scrollEvents">


                                        <div *ngFor="let category of categories">

                                           <label class="checkboxcls">
                                            <input type="checkbox"  (click)="checkCategory(category);subCategories = category" [checked]="category.isChecked">
                                             <span class="checkmark"></span>

                                             </label>
                                            <label class="for_lab" [class.active_row] = "category === subCategories " (click)="subCategories = category">{{category.name}}</label>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-6">
                                    <h4>{{translation?.vl_subcategories}}</h4>
                                    <div class="cat_listouter2 scroll-container " slimScroll [options]="opts" [scrollEvents]="scrollEvents">
                                        <!-- <p *ngIf="subCategories?.childs?.length == 0">{{translation?.vl_no_subcategory}}</p> -->
                                        <label *ngIf="subCategories?.childs" class="checkboxcls">{{subCategories.nocategoryName}}
                                            <input type="checkbox" (click)="checkNoCategory(subCategories, $event.target.checked)"
                                                [checked]="subCategories.nocategoryCheck">
                                            <span class="checkmark"></span>
                                        </label><label class="checkboxcls"
                                            *ngFor="let subCategory of subCategories.childs">{{subCategory.name}}
                                            <input type="checkbox" (click)="checkCategory(subCategory, subCategories)"
                                                [checked]="subCategory.isChecked">
                                            <span class="checkmark"></span>
                                        </label>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div [hidden]="isActive== 't3' ? false : true">
            <div class="row">
                <!-- <div class="col-12">
                    <div class="search-container">
                        <input type="text" #account_filter (keyup)="accountTree.treeModel.filterNodes(account_filter.value)" placeholder="{{translation?.artifacts_search_account}}"
                           >
                        <img *ngIf="account_filter.value" src="./assets/img/x.svg"
                            (click)="accountTree.treeModel.clearFilter()">
                    </div>
                </div>
                <div class="col-12 scroll-container" slimScroll [options]="opts" [scrollEvents]="scrollEvents">
                    <div>
                        <!-- *ngFor="let account of huddlesrecord?.all_accounts | search: search_Account_Input:'company_name':-1">
                        <label class="checkbox-container">{{account.company_name}} -
                            <b>{{translation?.artifacts_workspace_txt}}</b>
                            <input type="checkbox" (click)="checkedAccount(account)"  [(ngModel)]="account.selected">
                            <span class="checkbox-mark"></span>
                        </label> -->

                                                    <!-- <tree-root #accountTree [nodes]="huddlesrecord?.all_accounts" [options]="{animateExpand:true,useCheckbox: true,useTriState: false}"
                            (select)="selectAccountTreeNode($event)" (deselect)="deselectAccountTreeNode($event)"  (click)="onAccountFolderClick($event, tree)">

                            <ng-template #treeNodeTemplate2 let-node let-index="index">
                              <span [class.align_folder]="(!node.children || node.children.length==0)">

                              </span>
                              <img src="./assets/img/folder_gry.svg" width="20" />
                              <span>{{ node.data.name }}</span>
                            </ng-template>

                          </tree-root>

                          <tree-root  #accountTree [nodes]="huddlesrecord?.all_accounts" [options]="{animateExpand:false,useCheckbox: true,useTriState: false}"
                          (select)="selectAccountTreeNode($event)">

                          <ng-template #treeNodeTemplate let-node let-index="index">
                            <span [class.align_folder]="(!node.children || node.children.length==0)">

                            </span>
                            <img *ngIf="!node.data.account_id" src="./assets/img/folder_gry.svg" width="20" />
                            <span class="span-padding">{{ node.data.name }}</span>
                          </ng-template>

                        </tree-root>

                    </div>
                    <br>
                    <p
                    *ngIf="(huddlesrecord?.all_accounts | search: search_Account_Input:'company_name':-1)?.length==0">
                        {{translation?.artifacts_no_account_found}}</p>
                </div> -->

                <div class="col-12">
                    <div *ngIf="(huddlesrecord?.all_accounts)?.length !== 1" class="search-container">
                        <input type="text" placeholder="{{translation?.artifacts_search_account}}"
                            [(ngModel)]="search_Account_Input">
                        <img *ngIf="search_Account_Input?.length> 0" src="./assets/img/x.svg"
                            (click)="search_Account_Input='';">
                    </div>
                </div>
                <div class="col-12">
                    <div *ngFor="let account of huddlesrecord?.all_accounts | search: search_Account_Input:'company_name':-1">
                        <label class="checkbox-container">{{account.company_name}} -
                            <b>{{translation?.artifacts_workspace_txt}}</b>
                            <input *ngIf="modal_for == 'for_artifact_share'" type="checkbox" [(ngModel)]="account.selected">
                            <input *ngIf="modal_for == 'for_folder_share'" type="checkbox" [(ngModel)]="account.selected" (change)="checkboxCheckedPrevent(account.id)">
                            <span class="checkbox-mark"></span>
                        </label>
                    </div>
                    <br>
                    <p *ngIf="(huddlesrecord?.all_accounts | search: search_Account_Input:'company_name':-1)?.length==0">
                        {{translation?.artifacts_no_account_found}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer share-modal-footer">
    <div class="clear"></div>
    <div class="row">
        <div class="col-6">
            <ng-container *ngIf="!isitNotes">
                <label
                    *ngIf="(artifact?.total_comments!=0 && notResourceShare && isActive!='t2') || (isitNotes && artifact?.total_comments!=0) || modal_for == 'for_folder_share' || artifact?.doc_type == 2"
                    class="checkbox-container">
                    {{translation?.share_comments_tags_attachments}}
                    <input type="checkbox" [(ngModel)]="copy_comments">
                    <span class="checkbox-mark"></span>
                </label>
            </ng-container>
        </div>
        <div class="col-6 share_btn">
            <button type="button" class="btn btn-default"
                (click)="bsModalRef.hide()">{{translation?.discussion_cancel}}</button>
            <button *ngIf="modal_for == 'for_artifact_share'" [disabled]="videoShareFlag==true" type="button" class="btn btn-success" (click)="copyVideo();">{{translation?.artifact_share}}</button>
            <button *ngIf="modal_for == 'for_folder_share'" [disabled]="videoShareFlag==true" type="button" class="btn btn-success" (click)="copyFolder();">{{translation?.artifact_share}}</button>
        </div>
    </div>
</div>
