<div class="modal_container">
    <div class="modal-header">
        <h4 class="modal-title">Assessors List</h4>
        <button type="button" class="close" (click)="modalRef.hide()">×</button>

    </div>
    <div class="modal-body">

        <div class="parti_list">

            <div class="row par_heading">
                <div class="col-4">
                    {{translation?.huddle_resource_name}}
                </div>

                <div class="col-6">
                    {{translation?.huddle_list_email}}
                </div>
                <div class="col-2">
                    {{translation?.huddle_list_role}}
                </div>
            </div>
            <div class="listing_scroll" slimScroll [options]="opts" [scrollEvents]="scrollEvents">

                <ng-container *ngFor="let user of participents">
                    <div class="row par_listing">

                        <div class="col-4">
                            <span class="participant_details">{{user.user_name}}</span>
                        </div>
                        <div class="col-6 par_email">
                            {{user.user_email}}
                        </div>
                        <div class="col-2">
                            {{user.role_name}}
                        </div>

                    </div>
                </ng-container>

            </div>


        </div>

    </div>
    <div class="modal-footer hufooter par_foo">
        <div class="col-12">
            <div class="border_bottom">
                <a class="okbtn fake_link" (click)="modalRef.hide()"> {{translation?.huddle_list_ok}}</a>
            </div>
        </div>



    </div>
</div>