<!-- Modal content-->
<div class="modal-header">
    <h4 class="modal-title" *ngIf="evidenceType=='video'">{{translation?.artifact_videos}}</h4>
    <h4 class="modal-title" *ngIf="evidenceType=='resource'">{{translation?.artifacts_resource}}</h4>
    <h4 class="modal-title" *ngIf="evidenceType=='huddle'">{{translation?.huddle}}</h4>
    <h4 class="modal-title" *ngIf="evidenceType=='scripted_notes'">{{translation?.artifact_scripted_notes}}
    </h4>
    <button id='closeBtn' type="button" class="close" (click)="modalRef.hide()">×</button>
</div>

<!-- Artifact modal start -->
<div class="modal-body evi_popup" *ngIf="evidenceType !== 'huddle' else onlyHuddle">
    <ul class="nav nav-tabs">
        <li [class.disabled]="activeTab === 'workspace'" class="nav-item" (click)="switchTab('workspace')">
            <a [class.active]="activeTab === 'workspace'">{{translation?.analytics_workspace}}</a>
        </li>
        <li [class.disabled]="activeTab === 'huddle'" class="nav-item" (click)="switchTab('huddle')">
            <a [class.active]="activeTab === 'huddle'">{{translation?.huddle}}</a>
        </li>
        <li *ngIf="evidenceType != 'scripted_notes' && from_component=='goals'" [class.disabled]="disabled" [class.active]="activeTab === 'computer'" class="nav-item local_file" (click)="switchTab('computer')">
            <a *ngIf="evidenceType === 'resource'" appFSUploader [selectedConfiguration]="'resourceOptions'" [source]="'Resource'" (onUpload)="onMediaUpload($event)">
                {{translation?.goals_local_file}} <i class="oi ar_hu" data-glyph="external-link" title="" aria-hidden="true"> </i></a>

            <a *ngIf="evidenceType === 'video'" appFSUploader [selectedConfiguration]="'videoOptions'" [source]="'Upload'" (onUpload)="onMediaUpload($event)">
                {{translation?.goals_local_file}} <i class="oi ar_hu" data-glyph="external-link" title="" aria-hidden="true"> </i></a>

        </li>
        <li *ngIf="evidenceType != 'scripted_notes' && (from_component !== 'goals' && evidenceType !== 'video')" [class.disabled]="disabled" [class.active]="activeTab === 'computer'" class="nav-item local_file" (click)="switchTab('computer')">
            <a *ngIf="evidenceType === 'resource'" appFSUploader [selectedConfiguration]="'resourceAssessmentHuddleOptions'" [source]="'Resource'" (onUpload)="onMediaUpload($event)">
                {{translation?.goals_local_file}} <i class="oi ar_hu" data-glyph="external-link" title="" aria-hidden="true"> </i></a>
        </li>
    </ul>
    <div class="tab-content">
        <div *ngIf="activeTab != 'computer'">
            <div class="row" >
                <div class="col-12">
                    <div class="addvideo_e">
                        <input type="text" [disabled]="switchingTab" 
                        [placeholder]="translation?.search_placeholder_lp"
                         [(ngModel)]="searchString"
                            (ngModelChange)="onSearch($event)">
                        <img *ngIf="!searchString" src="assets/img/search_icon.png">
                        <button *ngIf="searchString" type="button" class="close"
                            (click)="searchString = ''; onSearch('')">&times;</button>
                    </div>
                </div>
            </div>
            <div class="artiface-container">
                <ng-container *ngIf="(activeTab === 'workspace' || searching) then workspaceTab else huddleTab">
                </ng-container>

                <!-- Workspace tab start -->
                <!-- Workspace tab end -->
                <ng-template #workspaceTab>
                    <div class="row video_list_e header-workspace">
                        <div class="col-7"><b>{{translation?.analytics_name}}</b></div>
                        <div class="col-3"><b>{{translation?.artifact_upload}}</b></div>
                        <div class="col-2 pr_44"><b>{{translation?.add_angular_rubrics}}</b></div>
                    </div>
                    <ng-container *ngIf="loaded; else workspaceTabLoading">
                        <ng-container *ngIf="evidenceList.length > 0 || FoldersTreeData?.length > 0; else noArtifactsFound">
                            <!-- <div style="height: 250px;"> -->
                            <div class="row folder_row margin_b0 border_0 pt0">

                                <div class="popup_scroll mh_40" (scroll)="onScroll($event)" #evidence_scroll slimScroll
                                    [options]="opts" [scrollEvents]="scrollEvents">
                                    <!-- <div  > -->
                                        <tree-root *ngIf="FoldersTreeData?.length > 0"  #tree [focused]="true" [options]="options" [nodes]="FoldersTreeData" (toggleExpanded)='TestEvent($event)' >
                                            <ng-template #treeNodeTemplate let-node let-index="index">

                                                <img  class="image"  *ngIf='node.data.stats ' src="./assets/img/folder_gry.svg" width="20" />
                                                <span *ngIf='node.data.stats '>{{ node.data.name }}</span>
                                                <div *ngIf="node.data.children">
                                                    <div *ngIf="node.data.isMessage"
                                                    class="row pop_nofound"><img class="info_img"
                                                        src="assets/img/no_info.svg">
                                                         <span *ngIf="evidenceType =='video'"> {{translation?.no_videos_found}} </span> 
                                                         <span *ngIf="evidenceType =='resource'"> {{translation?.ah_no_resource_found}} </span> 
                                                         <span *ngIf="evidenceType =='scripted_notes'"> {{translation?.goals_no_scripted_notes_found_evidence}} </span> 
                                                </div>
                                                </div>

                                                <div *ngIf='!node.data.stats && evidenceType =="video"' class="row video_list_e w_r_v pl0 loop5">

                                                
                                                    
                                                        <div class="v_small">
                                                            <svg [tooltip]="translation?.analytics_duration + ':' + headerService?.FormatSeconds(node.data.video_duration)" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                                                                <g id="Group_2085" data-name="Group 2085" transform="translate(-306 -736)">
                                                                  <g id="Group_2089" data-name="Group 2089" transform="translate(-62 -125)">
                                                                    <rect id="Rectangle" width="22" height="22" rx="3" transform="translate(368 861)" fill="#626262"/>
                                                                    <g id="Group_4" data-name="Group 4" transform="translate(343 859)">
                                                                      <g id="Group_3" data-name="Group 3">
                                                                        <path id="Path" d="M0,.667C0,.153.451-.17.808.094l2.72,1.937,2.72,1.923a.762.762,0,0,1,0,1.16L3.528,7.052.808,9C.451,9.268,0,8.945,0,8.431V.667Z" transform="translate(33.607 8.848)" fill="#fff"/>
                                                                      </g>
                                                                    </g>
                                                                  </g>
                                                                </g>
                                                              </svg>
                                                          
                                                           
                                                        </div>
                                                        <div class="title_cls ml_10">
                                                            <p>{{node.data.title | slice: 0:50}}<span
                                                                    *ngIf="node.data.title.length>=50">...</span></p>
                                                        </div>
                                                    
                                                    <div class="col-3"
                                                    [ngClass]="{'disableButton': (node.data?.published==0  || node.data?.thubnail_url ==null) && (node.data?.transcoding_status!=5 && node.data?.encoder_status!='Error')}">
                                                    {{headerService?.formateDate(node.data?.created_date,"ll")}}</div>

                                                    <ng-container *ngIf="node.data.selected then addedBtn else addBtn"></ng-container>
                                                    <ng-template #addBtn>
                                                        <div class="col-2" (click)="toggleSelectedEvidence(node.data,node)"
                                                            *ngIf="node.data?.published==1 && node.data?.encoder_status!='Error'"><a
                                                                class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                                {{translation?.artifact_add}}</a></div>
                                                        <div class="col-2 disableButton"
                                                            *ngIf="node.data?.published==0 || node.data?.encoder_status=='Error'"><a
                                                                class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                                {{translation?.artifact_add}}</a></div>
                                                    </ng-template>
                                                    <ng-template #addedBtn>
                                                        <div class="col-2" (click)="toggleSelectedEvidence(node.data,node)"><a class="added_btn"><img
                                                                    src="assets/goals/img/video_added_check.svg">
                                                                {{translation?.artifacts_video_added}} </a>
                                                        </div>
                                                    </ng-template>


                                            </div>
                                                <div *ngIf='!node.data.stats && evidenceType =="resource"' class="row video_list_e loop_res">

                                                   
                                                        <div class="col-7">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="22.273" height="21.956" viewBox="0 0 22.273 21.956">
                                                                <g id="Group_10" data-name="Group 10" transform="translate(-29 0)">
                                                                  <g id="Group_131" data-name="Group 131" transform="translate(-50 -41)">
                                                                    <g id="Group_112" data-name="Group 112" transform="translate(79 41)">
                                                                      <g id="noun_File_2044110_000000" transform="translate(0 0)">
                                                                        <path id="Path" d="M0,0V5.612H5.612Z" transform="translate(16.418 0.244)" fill="#626262"/>
                                                                        <path id="Path-2" data-name="Path" d="M14.361,8.23V0H0V21.956H22.273V8.23Z" fill="#626262"/>
                                                                      </g>
                                                                    </g>
                                                                  </g>
                                                                </g>
                                                              </svg>
    
                                                            <div class="title_cls">
                                                                <p>{{node.data?.title}}</p>
                                                            </div>
                                                        </div>
                         
                                                    <!-- </div> -->
                                                    <div class="col-3"
                                                    [ngClass]="{'disableButton': (node.data?.published==0  || node.data?.thubnail_url ==null) && (node.data?.transcoding_status!=5 && node.data?.encoder_status!='Error')}">
                                                    {{headerService?.formateDate(node.data?.created_date,"ll")}}</div>

                                                    <ng-container *ngIf="node.data.selected then addedBtn else addBtn"></ng-container>
                                                    <ng-template #addBtn>
                                                        <div class="col-2" (click)="toggleSelectedEvidence(node.data,node)"
                                                            *ngIf="node.data?.published==1 && node.data?.encoder_status!='Error'"><a
                                                                class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                                {{translation?.artifact_add}}</a></div>
                                                        <div class="col-2 disableButton"
                                                            *ngIf="node.data?.published==0 || node.data?.encoder_status=='Error'"><a
                                                                class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                                {{translation?.artifact_add}}</a></div>
                                                    </ng-template>
                                                    <ng-template #addedBtn>
                                                        <div class="col-2" (click)="toggleSelectedEvidence(node.data,node)"><a class="added_btn"><img
                                                                    src="assets/goals/img/video_added_check.svg">
                                                                {{translation?.artifacts_video_added}} </a>
                                                        </div>
                                                    </ng-template>


                                            </div>
                                                <div *ngIf='!node.data.stats && evidenceType =="scripted_notes"'  class="row video_list_e loop_res">

                                                 

                                                    <div class="v_small">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                                                            <g id="Group_2085" data-name="Group 2085" transform="translate(-306 -736)">
                                                              <g id="Group_2089" data-name="Group 2089" transform="translate(-62 -125)">
                                                                <rect id="Rectangle" width="22" height="22" rx="3" transform="translate(368 861)" fill="#626262"/>
                                                                <g id="Group_4" data-name="Group 4" transform="translate(343 859)">
                                                                  <g id="Group_3" data-name="Group 3">
                                                                    <path id="Path" d="M0,.667C0,.153.451-.17.808.094l2.72,1.937,2.72,1.923a.762.762,0,0,1,0,1.16L3.528,7.052.808,9C.451,9.268,0,8.945,0,8.431V.667Z" transform="translate(33.607 8.848)" fill="#fff"/>
                                                                  </g>
                                                                </g>
                                                              </g>
                                                            </g>
                                                          </svg>
                                                    </div>
                                                    <div class="title_cls ml_10">
                                                        <p>{{node.data.title | slice: 0:50}}<span
                                                                *ngIf="node.data.title.length>=50">...</span></p>
                                                    </div>

                                                    <div class="col-3">{{headerService?.formateDate(node.data?.created_date,"ll")}}
                                                    </div>
                                                    <ng-container *ngIf="node.data.selected then addedBtn else addBtn">
                                                    </ng-container>
                                                    <ng-template #addBtn>
                                                        <div class="col-2" (click)="toggleSelectedEvidence(node.data,node)"
                                                             *ngIf="node.data?.published==1 && node.data?.encoder_status!='Error'"><a
                                                                class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                            {{translation?.artifact_add}}</a></div>
                                                        <div class="col-2 disableButton"
                                                             *ngIf="node.data?.published==0 || node.data?.encoder_status=='Error'"><a
                                                                class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                            {{translation?.artifact_add}}</a></div>
                                                    </ng-template>
                                                    <ng-template #addedBtn>
                                                        <div class="col-2" (click)="toggleSelectedEvidence(node.data,node)"><a class="added_btn"><img
                                                                src="assets/goals/img/video_added_check.svg">
                                                            {{translation?.artifacts_video_added}}</a>
                                                        </div>
                                                    </ng-template>
                                                </div>

                                            </ng-template>
                                        </tree-root>
                                    <!-- </div> -->
                                    <div class="row video_list_e pl0 v_video_tooltip" *ngFor="let item of evidenceList; let i = index"  [ngStyle]="FoldersTreeData?.length == 0 && i == 0 ? { 'border-top' : 'none', 'padding-top':'22px !important' } : {}">
                                        <!-- {{item|json}} -->
                                        <!-- video box -->
                     
                                       <div class="col-7" *ngIf="evidenceType =='video'">

                                 
                                        <div 
                                        [ngClass]="{'disableButton': (item?.published==0  || item?.thubnail_url ==null) && (item?.transcoding_status!=5 && item?.encoder_status!='Error')}">

                                        
                                        <div class="title_cls v_workspace">
                                            <svg [tooltip]="translation?.analytics_duration + ':' + headerService?.FormatSeconds(item.video_duration)" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                                                <g id="Group_2085" data-name="Group 2085" transform="translate(-306 -736)">
                                                  <g id="Group_2089" data-name="Group 2089" transform="translate(-62 -125)">
                                                    <rect id="Rectangle" width="22" height="22" rx="3" transform="translate(368 861)" fill="#626262"/>
                                                    <g id="Group_4" data-name="Group 4" transform="translate(343 859)">
                                                      <g id="Group_3" data-name="Group 3">
                                                        <path id="Path" d="M0,.667C0,.153.451-.17.808.094l2.72,1.937,2.72,1.923a.762.762,0,0,1,0,1.16L3.528,7.052.808,9C.451,9.268,0,8.945,0,8.431V.667Z" transform="translate(33.607 8.848)" fill="#fff"/>
                                                      </g>
                                                    </g>
                                                  </g>
                                                </g>
                                              </svg>
                                            <p>{{item.title | slice: 0:50}}<span
                                                    *ngIf="item.title.length>=50">...</span></p>
                                        </div>

                                    </div>
                                </div>
                                        <!-- resource box -->
                                        <div class="col-7" *ngIf="evidenceType =='resource'">
                                            <!-- <div class="thumbnail_e">
                                                <div class="gfile_icon" *ngIf="item.s3_thumbnail_url == null && item.doc_type == '5'">
                                                    <img style="max-width: 45px;" src="assets/img/url-icon.svg">
                                                </div>
                                                <div class="gfile_resource_thumb" *ngIf="item.s3_thumbnail_url != null && item.doc_type == '5'">
                                                    <img [src]="item.thubnail_url">
                                                </div>
                                                <div *ngIf="item.doc_type != '5'" [class.gfile_icon]="item.s3_thumbnail_url == null" [class.gfile_resource_thumb]="item.s3_thumbnail_url != null">
                                                    <img [src]="item.thubnail_url">
                                                </div>
                                            </div> -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="22.273" height="21.956" viewBox="0 0 22.273 21.956">
                                                <g id="Group_10" data-name="Group 10" transform="translate(-29 0)">
                                                  <g id="Group_131" data-name="Group 131" transform="translate(-50 -41)">
                                                    <g id="Group_112" data-name="Group 112" transform="translate(79 41)">
                                                      <g id="noun_File_2044110_000000" transform="translate(0 0)">
                                                        <path id="Path" d="M0,0V5.612H5.612Z" transform="translate(16.418 0.244)" fill="#626262"/>
                                                        <path id="Path-2" data-name="Path" d="M14.361,8.23V0H0V21.956H22.273V8.23Z" fill="#626262"/>
                                                      </g>
                                                    </g>
                                                  </g>
                                                </g>
                                              </svg>
                                            <div class="title_cls">
                                                <p>{{item?.title}}</p>
                                            </div>
                                        </div>
                                        <!-- scripted notes box -->
                                        <div *ngIf="evidenceType =='scripted_notes'">
                                          
                                         
                                            <div class="title_cls v_workspace w_100">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                                                    <g id="Group_2085" data-name="Group 2085" transform="translate(-306 -736)">
                                                      <g id="Group_2089" data-name="Group 2089" transform="translate(-62 -125)">
                                                        <rect id="Rectangle" width="22" height="22" rx="3" transform="translate(368 861)" fill="#626262"/>
                                                        <g id="Group_4" data-name="Group 4" transform="translate(343 859)">
                                                          <g id="Group_3" data-name="Group 3">
                                                            <path id="Path" d="M0,.667C0,.153.451-.17.808.094l2.72,1.937,2.72,1.923a.762.762,0,0,1,0,1.16L3.528,7.052.808,9C.451,9.268,0,8.945,0,8.431V.667Z" transform="translate(33.607 8.848)" fill="#fff"/>
                                                          </g>
                                                        </g>
                                                      </g>
                                                    </g>
                                                  </svg>
                                                <p>{{item?.title | slice: 0:50}}<span
                                                        *ngIf="item?.title.length>=50">...</span></p>
                                            </div>
                                        </div>


                                        <div class="col-3"
                                            [ngClass]="{'disableButton': (item?.published==0  || item?.thubnail_url ==null) && (item?.transcoding_status!=5 && item?.encoder_status!='Error')}">
                                            {{headerService?.formateDate(item?.created_date,"ll")}}</div>
                                        <ng-container *ngIf="item.selected then addedBtn else addBtn"></ng-container>
                                        <ng-template #addBtn>
                                            <div class="col-2" (click)="toggleSelectedEvidence(item)"
                                                *ngIf="item?.published==1 && item?.encoder_status!='Error'"><a
                                                    class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                    {{translation?.artifact_add}}</a></div>
                                            <div class="col-2 disableButton"
                                                *ngIf="item?.published==0 || item?.encoder_status=='Error'"><a
                                                    class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                    {{translation?.artifact_add}}</a></div>
                                        </ng-template>
                                        <ng-template #addedBtn>
                                            <div class="col-2" (click)="toggleSelectedEvidence(item)"><a class="added_btn"><img
                                                        src="assets/goals/img/video_added_check.svg">
                                                    {{translation?.artifacts_video_added}} </a>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #noArtifactsFound>
                            <div class="row pop_nofound">
                                <img style="margin: 13px;" src="assets/img/no_info.svg">
                                {{noDataFoundText}}
                            </div>
                        </ng-template>
                    </ng-container>
                </ng-template>
                <ng-template #workspaceTabLoading>
                    <!-- <div style="height: 266px;"> -->
                    <div>


                    <div class="row video_list_e pl0">
                            <div class="col-1 goa13 g_ani">

                            </div>

                            <div class="col-1 goa13 g_ani">

                            </div>

                        </div>

                        <div class="row video_list_e pl0">
                            <div class="col-1 goa13 g_ani">

                            </div>

                            <div class="col-1 goa13 g_ani">

                            </div>

                        </div>
                        <div class="row video_list_e pl0">
                            <div class="col-1 goa13 g_ani">

                            </div>

                            <div class="col-1 goa13 g_ani">

                            </div>

                        </div>
                        <div class="row video_list_e pl0">
                            <div class="col-1 goa13 g_ani">

                            </div>

                            <div class="col-1 goa13 g_ani">

                            </div>

                        </div>


                        <div class="row video_list_e pl0">
                            <div class="col-1 goa13 g_ani">

                            </div>

                            <div class="col-1 goa13 g_ani">

                            </div>

                        </div>


                        <div style="padding-top: 26px;" class="row video_list_e small_ski">
                            <div class="col-7">
                                <div class="thumbnail_e g_ani3">
                                    <div class="gfile_icon"></div>
                                </div>
                                <div class="title_cls">
                                    <p><span class="goa15 g_ani"></span><span class="goa15 g_ani"></span></p>
                                </div>
                            </div>
                            <div class="col-3"><span class="goa13 g_ani"></span></div>
                            <div class="col-2"><span class="goa16 g_ani"></span></div>
                        </div>




                        <div class="row video_list_e small_ski">
                            <div class="col-7">
                                <div class="thumbnail_e g_ani3">
                                    <div class="gfile_icon"></div>
                                </div>
                                <div class="title_cls">
                                    <p><span class="goa15 g_ani"></span><span class="goa15 g_ani"></span></p>
                                </div>
                            </div>
                            <div class="col-3"><span class="goa13 g_ani"></span></div>
                            <div class="col-2"><span class="goa16 g_ani"></span></div>
                        </div>
                    </div>
                </ng-template>

                <!-- Huddle tab start -->
                <ng-template #huddleTab>
                    <!-- <div style="height: 266px;"> -->
                        <div class="row  header-workspace huddle_header">
                            <div class="col-7"><b>{{translation?.analytics_name}}</b></div>
                            <div class="col-3"><b class="ml_60">{{translation?.artifact_upload}}</b></div>
                            <div class="col-2"><b class="ml_60">{{translation?.add_angular_rubrics}}</b></div>
                        </div>
                    <div>
                        <ng-container *ngIf="loaded; else huddleTabLoading">
                            <div class="testCaseClass node_list" (scroll)="onScroll($event)" #evidence_scroll>
                                <div >
                                <ng-container *ngIf="artifectsList?.length > 0 || evidenceList?.length > 0 || FoldersTreeData?.length > 0; else noArtifactsFound">
                                   <!--Huddles Folder-->
                                  <tree-root  #tree [focused]="true" [options]="options" [nodes]="FoldersTreeData" (toggleExpanded)='TestEvent($event)' >
                                            <ng-template #treeNodeTemplate let-node let-index="index">
               
                                                <img *ngIf="node.data.huddle_type == 'Collaboration'" style="margin-right:10px" width="20" src="./assets/img/collaboration_icon.svg">
                                                <img *ngIf="node.data.huddle_type == 'Coaching'" style="margin-right:10px"  width="20" src="./assets/img/coaching_icon.svg">
                                              
                                                <img  class="image"  *ngIf='node.data.stats && node.data.hasChildren && !node.data.huddle_type'
                                                 src="./assets/img/folder_gry.svg" width="20" />
                                                <span *ngIf='node.data.stats'  class="n_name">{{ node.data.name }}</span>

                                                <!-- <p  *ngIf="!node.data.hasChildren && !node.data.file_type && !node.data.file_size" class="open_toggle" [ngClass]="node.data.toggle == true ? 'gw_title2': 'gw_title' ">
                                                    <span  class="cp"
                                                   (click)="toggleList(node.data,true,node)">
                                                   <img *ngIf="node.data.toggle"
                                                       src="assets/goals/img/arrow_up.svg">
                                                       
                                                       <img *ngIf="!node.data.toggle"
                                                       src="assets/goals/img/arrow_down.svg">
                                                   </span>
                                               </p> -->

                                                <div *ngIf="node.data.children">
                                                    <div *ngIf="node.data.isMessage"
                                                    class="row pop_nofound"><img class="info_img"
                                                        src="assets/img/no_info.svg">
                                                         <span *ngIf="evidenceType =='video'"> {{translation?.no_videos_found}} </span> 
                                                         <span *ngIf="evidenceType =='resource'"> {{translation?.ah_no_resource_found}} </span> 
                                                         <span *ngIf="evidenceType =='scripted_notes'"> {{translation?.goals_no_scripted_notes_found_evidence}} </span> 
                                                
                                                </div>
                                                </div>
                                                <!--huddles in folders-->
                                             

                                             <div *ngIf='!node.data.stats && evidenceType =="video"' class="row video_list_e w_r_v pl0 loop_f"> 

                                                    <div class="col-7">
                                                   
                                                        <div class="v_small">
                                                            <svg [tooltip]="translation?.analytics_duration + ':' + headerService?.FormatSeconds(node.data.video_duration)" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                                                                <g id="Group_2085" data-name="Group 2085" transform="translate(-306 -736)">
                                                                  <g id="Group_2089" data-name="Group 2089" transform="translate(-62 -125)">
                                                                    <rect id="Rectangle" width="22" height="22" rx="3" transform="translate(368 861)" fill="#626262"/>
                                                                    <g id="Group_4" data-name="Group 4" transform="translate(343 859)">
                                                                      <g id="Group_3" data-name="Group 3">
                                                                        <path id="Path" d="M0,.667C0,.153.451-.17.808.094l2.72,1.937,2.72,1.923a.762.762,0,0,1,0,1.16L3.528,7.052.808,9C.451,9.268,0,8.945,0,8.431V.667Z" transform="translate(33.607 8.848)" fill="#fff"/>
                                                                      </g>
                                                                    </g>
                                                                  </g>
                                                                </g>
                                                              </svg>
                                                          
                                                           
                                                        </div>
                                                        <div class="title_cls">
                                                            <p>{{node.data.title | slice: 0:50}}<span
                                                                    *ngIf="node.data.title.length>=50">...</span></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-3"
                                                    [ngClass]="{'disableButton': (node.data?.published==0  || node.data?.thubnail_url ==null) && (node.data?.transcoding_status!=5 && node.data?.encoder_status!='Error')}">
                                                    {{headerService?.formateDate(node.data?.created_date,"ll")}}</div>

                                                    <ng-container *ngIf="node.data.selected then addedBtn else addBtn"></ng-container>
                                                    <ng-template #addBtn>
                                                        <div class="col-2" (click)="toggleSelectedEvidence(node.data,node)"
                                                            *ngIf="node.data?.published==1 && node.data?.encoder_status!='Error'"><a
                                                                class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                                {{translation?.artifact_add}}</a></div>
                                                        <div class="col-2 disableButton"
                                                            *ngIf="node.data?.published==0 || node.data?.encoder_status=='Error'"><a
                                                                class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                                {{translation?.artifact_add}}</a></div>
                                                    </ng-template>
                                                    <ng-template #addedBtn>
                                                        <div class="col-2" (click)="toggleSelectedEvidence(node.data,node)"><a class="added_btn"><img
                                                                    src="assets/goals/img/video_added_check.svg">
                                                                {{translation?.artifacts_video_added}}</a>
                                                        </div>
                                                    </ng-template>


                                            </div>

                                            <div *ngIf='!node.data.stats && evidenceType == "resource" && !node.data?.loading'  class="row video_list_e loop_res">
                                                <div class="col-7 ">
                                                    <!-- <div class="thumbnail_e">
                                                        <div class="gfile_icon" *ngIf="node.data.doc_type == '5'; else other">
                                                            <img style="max-width: 45px;" src="assets/img/url-icon.svg">
                                                        </div>
                                                        <ng-template #other>
                                                            <div class="gfile_icon">
                                                                <img [src]="node.data.thubnail_url">
                                                            </div>
                                                        </ng-template>
                                                    </div> -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22.273" height="21.956" viewBox="0 0 22.273 21.956">
                                                        <g id="Group_10" data-name="Group 10" transform="translate(-29 0)">
                                                          <g id="Group_131" data-name="Group 131" transform="translate(-50 -41)">
                                                            <g id="Group_112" data-name="Group 112" transform="translate(79 41)">
                                                              <g id="noun_File_2044110_000000" transform="translate(0 0)">
                                                                <path id="Path" d="M0,0V5.612H5.612Z" transform="translate(16.418 0.244)" fill="#626262"/>
                                                                <path id="Path-2" data-name="Path" d="M14.361,8.23V0H0V21.956H22.273V8.23Z" fill="#626262"/>
                                                              </g>
                                                            </g>
                                                          </g>
                                                        </g>
                                                      </svg>
                                                    <div class="title_cls">
                                                        <p>{{node.data?.title}}</p>
                                                    </div>
                                                </div>

                                                <div class="col-3">{{headerService?.formateDate(node.data?.created_date,"ll")}}
                                                </div>
                                                <ng-container *ngIf="node.data.selected then addedBtn else addBtn">
                                                </ng-container>
                                                <ng-template #addBtn>
                                                    <div class="col-2" (click)="toggleSelectedEvidence(node.data,node)"
                                                        *ngIf="node.data?.published==1 && node.data?.encoder_status!='Error'"><a
                                                            class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                            {{translation?.artifact_add}}</a></div>
                                                    <div class="col-2 disableButton"
                                                        *ngIf="node.data?.published==0 || node.data?.encoder_status=='Error'"><a
                                                            class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                            {{translation?.artifact_add}}</a></div>
                                                </ng-template>
                                                <ng-template #addedBtn>
                                                    <div class="col-2" (click)="toggleSelectedEvidence(node.data,node)"><a class="added_btn"><img
                                                                src="assets/goals/img/video_added_check.svg">
                                                            {{translation?.artifacts_video_added}} </a>
                                                    </div>
                                                </ng-template>
                                            </div>

                                            <div *ngIf='!node.data.stats && evidenceType =="scripted_notes" && !node.data?.loading'  class="row video_list_e loop_res">

                                                <div class="col-7">
                                                    <div class="thumbnail_e">
                                                        <div class="gfile_icon"><img [src]="node.data.thubnail_url"></div>
                                                    </div>
                                                    <div class="title_cls">
                                                        <p>{{node.data?.title}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-3">{{headerService?.formateDate(node.data?.created_date,"ll")}}
                                                </div>
                                                <ng-container *ngIf="node.data.selected then addedBtn else addBtn">
                                                </ng-container>
                                                <ng-template #addBtn>
                                                    <div class="col-2" (click)="toggleSelectedEvidence(node.data,node)"
                                                        *ngIf="node.data?.published==1 && node.data?.encoder_status!='Error'"><a
                                                            class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                            {{translation?.artifact_add}}</a></div>
                                                    <div class="col-2 disableButton"
                                                        *ngIf="node.data?.published==0 || node.data?.encoder_status=='Error'"><a
                                                            class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                            {{translation?.artifact_add}}</a></div>
                                                </ng-template>
                                                <ng-template #addedBtn>
                                                    <div class="col-2" (click)="toggleSelectedEvidence(node.data,node)"><a class="added_btn"><img
                                                                src="assets/goals/img/video_added_check.svg">
                                                            {{translation?.artifacts_video_added}} </a>
                                                    </div>
                                                </ng-template>
                                            </div> 
                                          
                                            </ng-template>
                                        </tree-root> 
                       

                                <tree-root   #tree2 [focused]="true"  [nodes]="evidenceList"  (toggleExpanded)='toggleList($event.node.data,true,$event.node)' >
                                    <ng-template #treeNodeTemplate let-node let-index="index">
       
                                        <img *ngIf="node.data.huddle_type == 'Collaboration'" class="hudles_icon"  width="22" src="./assets/img/collaboration_icon.svg">
                                        <img *ngIf="node.data.huddle_type == 'Coaching'"  class="hudles_icon"  width="20" src="./assets/img/coaching_icon.svg">
                                      
                                        <img  class="image"  *ngIf='node.data.stats && node.data.hasChildren && !node.data.huddle_type'
                                         src="./assets/img/folder_gry.svg" width="20" />
                                        <span *ngIf='node.data.stats && node.data.hasChildren && !node.data.huddle_type'  class="n_name">{{ node.data.name }}</span>
                                        <span *ngIf='node.data.stats && node.data.huddle_type'  class="n_name huddles_name">{{ node.data.name }}</span>

                                     

                                        <div *ngIf="node.data.children">
                                            <div *ngIf="node.data.isMessage"
                                            class="row pop_nofound"><img class="info_img"
                                                src="assets/img/no_info.svg">
                                                 <span *ngIf="evidenceType =='video'"> {{translation?.no_videos_found}} </span> 
                                                 <span *ngIf="evidenceType =='resource'"> {{translation?.ah_no_resource_found}} </span> 
                                                 <span *ngIf="evidenceType =='scripted_notes'"> {{translation?.goals_no_scripted_notes_found_evidence}} </span> 
                                        
                                        </div>
                                        </div>
                                        <!--huddles in folders-->
                                     

                                     <div *ngIf='!node.data.stats && evidenceType =="video"' class="row video_list_e w_r_v pl0 loop_f huddles_root"> 

                                            <div class="col-7">
                                           
                                                <div class="v_small">
                                                    <svg [tooltip]="translation?.analytics_duration + ':' + headerService?.FormatSeconds(node.data.video_duration)" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                                                        <g id="Group_2085" data-name="Group 2085" transform="translate(-306 -736)">
                                                          <g id="Group_2089" data-name="Group 2089" transform="translate(-62 -125)">
                                                            <rect id="Rectangle" width="22" height="22" rx="3" transform="translate(368 861)" fill="#626262"/>
                                                            <g id="Group_4" data-name="Group 4" transform="translate(343 859)">
                                                              <g id="Group_3" data-name="Group 3">
                                                                <path id="Path" d="M0,.667C0,.153.451-.17.808.094l2.72,1.937,2.72,1.923a.762.762,0,0,1,0,1.16L3.528,7.052.808,9C.451,9.268,0,8.945,0,8.431V.667Z" transform="translate(33.607 8.848)" fill="#fff"/>
                                                              </g>
                                                            </g>
                                                          </g>
                                                        </g>
                                                      </svg>
                                                  
                                                   
                                                </div>
                                                <div class="title_cls">
                                                    <p>{{node.data.title | slice: 0:50}}<span
                                                            *ngIf="node.data.title.length>=50">...</span></p>
                                                </div>
                                            </div>
                                            <div class="col-3"
                                            [ngClass]="{'disableButton': (node.data?.published==0  || node.data?.thubnail_url ==null) && (node.data?.transcoding_status!=5 && node.data?.encoder_status!='Error')}">
                                            {{headerService?.formateDate(node.data?.created_date,"ll")}}</div>

                                            <ng-container *ngIf="node.data.selected then addedBtn else addBtn"></ng-container>
                                            <ng-template #addBtn>
                                                <div class="col-2" (click)="toggleSelectedEvidence(node.data,node)"
                                                    *ngIf="node.data?.published==1 && node.data?.encoder_status!='Error'"><a
                                                        class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                        {{translation?.artifact_add}}</a></div>
                                                <div class="col-2 disableButton"
                                                    *ngIf="node.data?.published==0 || node.data?.encoder_status=='Error'"><a
                                                        class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                        {{translation?.artifact_add}}</a></div>
                                            </ng-template>
                                            <ng-template #addedBtn>
                                                <div class="col-2" (click)="toggleSelectedEvidence(node.data,node)"><a class="added_btn"><img
                                                            src="assets/goals/img/video_added_check.svg">
                                                        {{translation?.artifacts_video_added}}</a>
                                                </div>
                                            </ng-template>


                                    </div>

                                    <div *ngIf='!node.data.stats && evidenceType == "resource" && !node.data?.loading'  class="row video_list_e loop_res">
                                        <div class="col-7 ">
                                           
                                            <svg xmlns="http://www.w3.org/2000/svg" width="22.273" height="21.956" viewBox="0 0 22.273 21.956">
                                                <g id="Group_10" data-name="Group 10" transform="translate(-29 0)">
                                                  <g id="Group_131" data-name="Group 131" transform="translate(-50 -41)">
                                                    <g id="Group_112" data-name="Group 112" transform="translate(79 41)">
                                                      <g id="noun_File_2044110_000000" transform="translate(0 0)">
                                                        <path id="Path" d="M0,0V5.612H5.612Z" transform="translate(16.418 0.244)" fill="#626262"/>
                                                        <path id="Path-2" data-name="Path" d="M14.361,8.23V0H0V21.956H22.273V8.23Z" fill="#626262"/>
                                                      </g>
                                                    </g>
                                                  </g>
                                                </g>
                                              </svg>
                                            <div class="title_cls">
                                                <p>{{node.data?.title}}</p>
                                            </div>
                                        </div>

                                        <div class="col-3">{{headerService?.formateDate(node.data?.created_date,"ll")}}
                                        </div>
                                        <ng-container *ngIf="node.data.selected then addedBtn else addBtn">
                                        </ng-container>
                                        <ng-template #addBtn>
                                            <div class="col-2" (click)="toggleSelectedEvidence(node.data,node)"
                                                *ngIf="node.data?.published==1 && node.data?.encoder_status!='Error'"><a
                                                    class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                    {{translation?.artifact_add}}</a></div>
                                            <div class="col-2 disableButton"
                                                *ngIf="node.data?.published==0 || node.data?.encoder_status=='Error'"><a
                                                    class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                    {{translation?.artifact_add}}</a></div>
                                        </ng-template>
                                        <ng-template #addedBtn>
                                            <div class="col-2" (click)="toggleSelectedEvidence(node.data,node)"><a class="added_btn"><img
                                                        src="assets/goals/img/video_added_check.svg">
                                                    {{translation?.artifacts_video_added}} </a>
                                            </div>
                                        </ng-template>
                                    </div>

                                    <div *ngIf='!node.data.stats && evidenceType =="scripted_notes" && !node.data?.loading'  class="row video_list_e loop_res">

                                        <div class="col-7">
                                            <div class="thumbnail_e">
                                                <div class="gfile_icon"><img [src]="node.data.thubnail_url"></div>
                                            </div>
                                            <div class="title_cls">
                                                <p>{{node.data?.title}}</p>
                                            </div>
                                        </div>
                                        <div class="col-3">{{headerService?.formateDate(node.data?.created_date,"ll")}}
                                        </div>
                                        <ng-container *ngIf="node.data.selected then addedBtn else addBtn">
                                        </ng-container>
                                        <ng-template #addBtn>
                                            <div class="col-2" (click)="toggleSelectedEvidence(node.data,node)"
                                                *ngIf="node.data?.published==1 && node.data?.encoder_status!='Error'"><a
                                                    class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                    {{translation?.artifact_add}}</a></div>
                                            <div class="col-2 disableButton"
                                                *ngIf="node.data?.published==0 || node.data?.encoder_status=='Error'"><a
                                                    class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                    {{translation?.artifact_add}}</a></div>
                                        </ng-template>
                                        <ng-template #addedBtn>
                                            <div class="col-2" (click)="toggleSelectedEvidence(node.data,node)"><a class="added_btn"><img
                                                        src="assets/goals/img/video_added_check.svg">
                                                    {{translation?.artifacts_video_added}} </a>
                                            </div>
                                        </ng-template>
                                    </div> 
                                  
                                    </ng-template>
                                </tree-root> 
                             

                                    <div class="row video_list_e pl5" *ngFor="let item of artifectsList">

                                        <!-- video box -->
                                        <div *ngIf="evidenceType =='video'" class="col-7">
                                            <svg [tooltip]="translation?.analytics_duration + ':' + headerService?.FormatSeconds(item.video_duration)" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                                                <g id="Group_2085" data-name="Group 2085" transform="translate(-306 -736)">
                                                  <g id="Group_2089" data-name="Group 2089" transform="translate(-62 -125)">
                                                    <rect id="Rectangle" width="22" height="22" rx="3" transform="translate(368 861)" fill="#626262"/>
                                                    <g id="Group_4" data-name="Group 4" transform="translate(343 859)">
                                                      <g id="Group_3" data-name="Group 3">
                                                        <path id="Path" d="M0,.667C0,.153.451-.17.808.094l2.72,1.937,2.72,1.923a.762.762,0,0,1,0,1.16L3.528,7.052.808,9C.451,9.268,0,8.945,0,8.431V.667Z" transform="translate(33.607 8.848)" fill="#fff"/>
                                                      </g>
                                                    </g>
                                                  </g>
                                                </g>
                                              </svg>
                                            <div class="title_cls">
                                                <p>{{item.title | slice: 0:50}}<span
                                                        *ngIf="item.title.length>=50">...</span>
                                                </p>
                                            </div>
                                        </div>
                                        <!-- resource box -->
                                        <div class="col-7 " *ngIf="evidenceType =='resource'">
                                            <!-- <div class="thumbnail_e">
                                                <div class="gfile_icon" *ngIf="item.doc_type == '5'; else other">
                                                    <img style="max-width: 45px;" src="assets/img/url-icon.svg">
                                                </div>
                                                <ng-template #other>
                                                    <div class="gfile_icon">
                                                        <img [src]="item.thubnail_url">
                                                    </div>
                                                </ng-template>
                                            </div> -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="22.273" height="21.956" viewBox="0 0 22.273 21.956">
                                                <g id="Group_10" data-name="Group 10" transform="translate(-29 0)">
                                                  <g id="Group_131" data-name="Group 131" transform="translate(-50 -41)">
                                                    <g id="Group_112" data-name="Group 112" transform="translate(79 41)">
                                                      <g id="noun_File_2044110_000000" transform="translate(0 0)">
                                                        <path id="Path" d="M0,0V5.612H5.612Z" transform="translate(16.418 0.244)" fill="#626262"/>
                                                        <path id="Path-2" data-name="Path" d="M14.361,8.23V0H0V21.956H22.273V8.23Z" fill="#626262"/>
                                                      </g>
                                                    </g>
                                                  </g>
                                                </g>
                                              </svg>
                                            <div class="title_cls">
                                                <p>{{item?.title}}</p>
                                            </div>
                                        </div>
                                        <!-- scripted notes box -->
                                        <div class="col-7" *ngIf="evidenceType =='scripted_notes'">
                                            <!-- <div class="thumbnail_e">
                                                <div class="gfile_icon"><img [src]="item.thubnail_url"></div>
                                            </div> -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                                                <g id="Group_2085" data-name="Group 2085" transform="translate(-306 -736)">
                                                  <g id="Group_2089" data-name="Group 2089" transform="translate(-62 -125)">
                                                    <rect id="Rectangle" width="22" height="22" rx="3" transform="translate(368 861)" fill="#626262"/>
                                                    <g id="Group_4" data-name="Group 4" transform="translate(343 859)">
                                                      <g id="Group_3" data-name="Group 3">
                                                        <path id="Path" d="M0,.667C0,.153.451-.17.808.094l2.72,1.937,2.72,1.923a.762.762,0,0,1,0,1.16L3.528,7.052.808,9C.451,9.268,0,8.945,0,8.431V.667Z" transform="translate(33.607 8.848)" fill="#fff"/>
                                                      </g>
                                                    </g>
                                                  </g>
                                                </g>
                                              </svg>
                                            <div class="title_cls">
                                                <p>{{item?.title}}</p>
                                            </div>
                                        </div>
                                        <div class="col-3">{{headerService?.formateDate(item?.created_date,"ll")}}
                                        </div>
                                        <ng-container *ngIf="item.selected then addedBtn else addBtn">
                                        </ng-container>
                                        <ng-template #addBtn>
                                            <div class="col-2" (click)="toggleSelectedEvidence(item)"
                                                *ngIf="item?.published==1 && item?.encoder_status!='Error'"><a
                                                    class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                    {{translation?.artifact_add}}</a></div>
                                            <div class="col-2 disableButton"
                                                *ngIf="item?.published==0 || item?.encoder_status=='Error'"><a
                                                    class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                                    {{translation?.artifact_add}}</a></div>
                                        </ng-template>
                                        <ng-template #addedBtn>
                                            <div class="col-2" (click)="toggleSelectedEvidence(item)"><a class="added_btn"><img
                                                        src="assets/goals/img/video_added_check.svg">
                                                    {{translation?.artifacts_video_added}} </a>
                                            </div>
                                        </ng-template>
                                    </div>
                                </ng-container>
                                <ng-template #noArtifactsFound>
                                    <div class="row pop_nofound">
                                        <img style="margin: 13px;" src="assets/img/no_info.svg">
                                        {{noDataFoundText}}
                                    </div>
                                </ng-template>
                            </div>
                            </div>
                        </ng-container>
                        <ng-template #huddleTabLoading>
                            <div *ngFor="let arr of [1,1,1,1,1,1,1,1]">
                                <div class="worksp_line ani_hu">
                                    <p class="gw_title"><span class="goa13 g_ani"></span></p>
                                    <div class="expen_list" style="display:none">
                                        <div class="row video_list_e title_wk">
                                            <div class="col-7"><span class="goa13 g_ani"></span></div>
                                            <div class="col-3"><span class="goa13 g_ani"></span></div>
                                            <div class="col-2"></div>
                                        </div>
                                        <div class="row video_list_e loop3">
                                            <div class="col-7">
                                                <div class="thumbnail_e">
                                                    <div class="gfile_icon"><img src="img/file_icon1.svg"></div>
                                                </div>
                                                <div class="title_cls">
                                                    <p>Faculty meeting presentation</p>
                                                </div>
                                            </div>
                                            <div class="col-3">12/20/2018</div>
                                            <div class="col-2"><a class="added_btn" href="#"><img
                                                        src="img/video_added_check.svg">
                                                    {{translation?.artifacts_video_added}}</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </ng-template>
                <!-- Huddle tab end -->

            </div>
        </div>
    </div>

</div>
<!-- Artifact modal end -->

<!-- Only huddle tab start -->
<ng-template #onlyHuddle>
    <div class="modal-body evi_popup">
        <div class="row">
            <div class="col-12">
                <div id="huddle-search" class="addvideo_e">
                    <input type="text" [disabled]="switchingTab" [placeholder]="searchPlaceholder" [(ngModel)]="searchString">
                    <img *ngIf="!searchString" src="assets/img/search_icon.png">
                    <button *ngIf="searchString" type="button" class="close"
                        (click)="searchString = ''">&times;</button>
                </div>
            </div>
        </div>
        <div class="artiface-container">
            <div class="row hulist_list_e">
                <div class="col-6"><b>{{translation?.name_ng}}</b></div>
                <div class="col-1 hud-mrg"><b>{{translation?.type}}</b></div>
                <div class="col-2"><b>{{translation?.date_created}}</b></div>
                <div class="col-3"></div>
            </div>

            <ng-container *ngIf="loaded else onlyHuddleLoader">
                <div class="popup_scroll mh_40" (scroll)="onScroll($event)"  #evidence_scroll #popup_scroll slimScroll [options]="opts"
                    [scrollEvents]="scrollEvents">
                    <ng-container *ngIf="(evidenceList | search: searchString:'title,huddle_type') as resultArray">
                        <div class="row hulist_list_e"
                            *ngFor="let item of resultArray; let index=index">
                            <div class="col-6">
                                {{item.title}}
                            </div>
                            <div class="col-1">
                                <span tooltip="{{item.huddle_type}}" placement="{{index==0?'bottom':'top'}}"><img
                                        *ngIf="item.huddle_type=='Coaching'"
                                        src="assets/goals/img/huddle_icon1.svg"></span>
                                <span tooltip="{{item.huddle_type}}"><img *ngIf="item.huddle_type=='Collaboration'"
                                        src="assets/goals/img/huddle_icon2.svg"></span>
                                <span tooltip="{{item.huddle_type}}"><img *ngIf="item.huddle_type=='Assessment'"
                                        src="assets/goals/img/huicon3.png"></span>
                            </div>
                            <div class="col-2">{{headerService?.formateDate(item?.created_on,"ll")}}</div>
                            <div class="col-3" (click)="toggleSelectedhuddle(item)" *ngIf="!item.selected"><a
                                    class="video_addbtn"><img src="assets/goals/img/plus_gry.svg">
                                    {{translation?.artifact_add}}</a>
                            </div>
                            <div class="col-3" (click)="toggleSelectedhuddle(item)"><a class="added_btn" *ngIf="item.selected"><img
                                        src="assets/goals/img/video_added_check.svg">
                                    {{translation?.artifacts_video_added}}
                                </a></div>
                        </div>
                        <div *ngIf="resultArray.length === 0" class="row pop_nofound">
                            <img style="margin: 13px;" src="assets/img/no_info.svg">
                            {{noDataFoundText}}
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <ng-template #onlyHuddleLoader>
                <div *ngFor="let item of [1, 2, 3, 4, 5]" class="row hulist_list_e">
                    <div class="col-6"><span class="goa13 g_ani"></span></div>
                    <div class="col-1"><span class="goa13 g_ani"></span></div>
                    <div class="col-2"><span class="goa13 g_ani"></span></div>
                    <div class="col-3"><span class="goa16 g_ani"></span></div>
                </div>
            </ng-template>
        </div>
    </div>
</ng-template>
<!-- Only huddle tab end -->

<div class="modal-footer evi_footer">
    <div class="col-4">
        <div *ngIf="evidenceType == 'video' && from_component == 'assessement'">
            <label *ngIf="evidenceList?.length > 0" class="checkboxcls">{{translation?.artifacts_copy_video_notes }}
                <input type="checkbox" [(ngModel)]="copyVideoNotes">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="col-2 fa_center">
    </div>
    <div class="col-6 modal_btn">
        <button type="button" class="btn btn-default bgnone"
            (click)="modalRef.hide()">{{translation?.cancel_popup}}</button>
        <button type="button" [disabled]="selectedEvidence==undefined || selectedEvidence.length==0 || isCallIn"
            class="btn btn-success" (click)="save()">{{translation?.artifacts_done}}</button>
    </div>
</div>
