.left_summery {
    border-right: 1px solid #ddd;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 100%;
    padding:15px;
}
.profile_ttile {
    float: left;
    font-size: 14px;
}

.profile_opt button{ border:0; padding:0; background:none;     outline: none; cursor:pointer;}
.profile_opt .dropdown-toggle::after { display:none;}
.profile_opt .dropdown-menu{      min-width: 20px !important;
   padding: 6px 0;
left: inherit !important;
right: 0 !important;}
.profile_opt .dropdown-menu a { font-size: 14px !important;
background: none !important;
color: #484848;
margin-bottom: 5px;
padding: 2px 12px 7px 11px;
margin: 0;}
.profile_opt .dropdown-menu a.active{    color: #057EFF;}
.profile_opt .dropdown-menu{    background: #fff;border-radius: 4px; }

.profile_opt { float:right;     position: relative;}

.profile_info { text-align:center;    padding: 40px 0;}
.profile_info img { width:88px; height:88px; border-radius:50%;     object-fit: cover;}
.profile_info h3{    font-size: 22px;margin: 0;    padding: 15px 0 4px 0;}
.profile_info span{ font-size:13px; text-decoration:underline; display:block;word-break: break-all;}
.profile_info label{    font-weight: 500;
    margin: 0;}
.profile_info p{ font-size:14px; padding-top:25px;  color:#616161;     max-width: 200px;
    margin: 0 auto;}
	
	
