<div class="">
    <div class="profile_opt">
        <div class dropdown *ngIf="user_data.users_accounts.user_id == user?.user_essentials[0]?.user_id">
            <button type="button" dropdownToggle class="dropdown-toggle" data-toggle="dropdown">
                <img src="assets/img/dots_3.svg" width="25">
            </button>
            <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item"  [routerLink]="['/account-settings']" *ngIf="user_data.users_accounts.account_id == user?.user_essentials[0]?.account_id && (user_data.users_accounts.role_id == 100 || user_data.users_accounts.role_id == 110)">
                    {{translation?.dashboard_account_settings}}
                </a>
                <a class="dropdown-item" [routerLink]="['/user-settings']">
                    {{translation?.user_settings}}
                </a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="profile_info">
        <img *ngIf="userLoaded" [attr.src]="getUserImgUrl()">
        <h3 *ngIf="userLoaded">
            {{user?.user_essentials[0]?.first_name}} {{user?.user_essentials[0]?.last_name}}
        </h3>
        <span *ngIf="userLoaded" [title]="user?.user_essentials[0]?.email">
            {{user?.user_essentials[0]?.email}}
        </span>
        <p *ngIf="translationLoaded">{{translation?.analytics_user_role}}:</p>
        <label *ngIf="userLoaded">
            {{getUserRole(user?.user_essentials[0]?.role_id)}}
        </label>
        <p *ngIf="translationLoaded">{{translation?.analytics_user_type}}:</p>
        <label *ngIf="userLoaded">{{user?.user_type}}</label>
        <p *ngIf="translationLoaded">{{translation?.analytics_last_login}}:</p>
        <label *ngIf="userLoaded">
            {{user?.last_login?.date | date: 'mediumDate'}}
        </label>
        <p *ngIf="userLoaded">
            {{user?.user_essentials[0]?.user_description}}
        </p>
    </div>
</div>

