@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	margin:0px;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
.clear{
	clear:both;
}
.sibme_container{
	width:1020px;
	margin:1px auto;
    padding:1px;
}
.sibme_container img{
	position:relative;
	vertical-align:middle;
}
.sibme_container div{
	position:relative;
	box-sizing:border-box;
}
.sibme_container h1, .sibme_container h2, .sibme_container h3, .sibme_container h4{
	margin:0px;
	font-weight:normal;
}
.company_detail{
	background:#fcfcfc;
	padding:12px;
}
.company_detail h1{
	font-family: 'open_sanslight';
	color:#555555;
	font-size:22pt;
}
.company_detail h2{
	font-family: 'open_sansregular';
	color:#5daf46;
	font-size:16pt;
}
.sibme_counts{
	padding:25px 0px;
}
.counts_box{
	width:345px;
	height:145px;
	float:left;
	margin:0px 45px;
	background:#fff;
}
.counts_box h2{
	font-family: 'open_sanslight';
	color:#555555;
	font-size: 28px;
    margin: 12px 0px 0px 0px;
}
.counts_box h3{
	font-family: 'open_sansregular';
	font-size: 56px;
}
.counts_box_left{
	float:left;
	width:150px;
	height:145px;
	text-align:center;
}
.counts_box_right{
	float:right;
	width:190px;
	height:145px;
	text-align:center;
}
.blue_counts_box{
	border:solid 2px #12afcb;
}
.blue_counts_box h3{
	color:#12afcb;
}
.green_counts_box{
	border:solid 2px #51a43c;
}
.green_counts_box h3{
	color:#51a43c;
}
div.counts_box:nth-child(1){
	margin-left:112px;
}
.videos_box{
	background:#fcfcfc;
	padding:40px 0px;
}
.videos_box h1{
	font-family: 'open_sanslight';
	color:#555555;
	font-size:25pt;
	text-align:center;
}
.videos_counts{
	float:left;
	width:250px;
	margin-left:70px;
}
.videos_counts h3{
	font-family: 'open_sansregular';
	font-size:18px;
	color:#808080;
}
.videos_counts h2{
	font-family: 'open_sansregular';
	font-size:33px;
	color:#555555;
}
.videos_counts_left{
	float:left;
}
.videos_counts_right{
	float:right;
	width: 155px;
    padding-top: 12px;
}
.video_icon_round{
	width:82px;
	height:82px;
	border-radius:50%;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.Dullgreen_bg{
	background:#22baa0;
}
.red_bg{
	background:#f25656;
}
.yellow_bg{
	background:#f6d433;
}
.main_data h1{
	    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    color: rgb(1, 1, 1);
    font-size: 25px;
    margin: 20px 0px;
}
.filter_box{
	background:#fcfcfc;
	padding:10px;
	/*margin-bottom:10px;*/
        margin: 0px 0px;
}
.filter_detail_box{
	float:left;
	margin-right:8px;
    position: relative;
}
.filter_detail_box label{
	color:#555555;
	margin-bottom:8px;
	font-family: 'open_sansregular';
	font-size:13px;
	display:block;
    cursor:auto;
}
.filter_box input[type="text"], .filter_box select{
	    font-family: 'open_sansregular';
    background-color: #fff;
    border-radius: 4px;
    border: solid 1px #fff;
    border-bottom: solid 2px #fff;
    height: 36px !important;
    color: #555555;
    padding: 0px 6px;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
}
.filter_search_box{
	float:left;
	margin-top:28px;
}
.filter_detail_box .ui-datepicker-trigger{
    right: 2px;
    position: absolute;
    top: 34px;
    outline: none;
    
}
.green_btn{
	background:#27ae60;
	padding:5px;
	box-sizing:border-box;
	width:110px;
	height:34px;
	text-align:center;
	color:#fff;
	font-family: 'open_sansregular';
	font-size:16px;
	border:0px;
	cursor:pointer;
	outline:none;
}
.green_btn:hover{
	background:#f39c12;
}
.chart_box{
	text-align:center;
}
.date_icon{
	background:#fff url(../images/icons/calendar_icon.png) no-repeat right center;
}
.gra-div{
    margin-top:3px;
}
.ui-icon-circle-triangle-e{
font-size: 0px;    
}
.ui-datepicker .ui-datepicker-title{
    margin: :auto;
        margin-right: 42px;
}
.data_grid_adjs{
height:630px;
    width: 983px;
    margin: 0 auto;    
}
.usr_detail_tbl label{
    font-size: 14px;
}

/*----------------------------------------------------*/

.dashboard_heading2{
    font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size:22px;
    font-weight:400;
}
.account_basic h1{
    margin:20px 0px;
    font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size:26px;
    font-weight:400;
}
.counts_container{
    margin:10px 0px;
    border:solid 1px #c9c9c9;
    box-sizing:border-box;
    padding:0px 10px;
}
.all_counts_box{
    float:left;
    height:90px;
    width:20%;
    margin:14px 0px;
    text-align:center;
    font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    color:#535353;
    border-right:solid 1px #afafaf;
    font-size:13px;
}
div.all_counts_box:last-child{
    border-right:0px;
}
.all_countsMain_count{
    margin:8px 0px;
    font-size:24px;
    color:#000;
}
.account_basic{
    margin: 0px 30px 30px;
}
.main_data {
    margin:0px 30px;
}