
.tgright {
   padding-left: 0px;
}

.clear {
    clear: both;
}

.tgright input[type=text]{ min-width:90px;     position: relative;
    top: 6px;}


::ng-deep .pdf-renderer .tgright input[type=text]{ width: 100px !important;}
::ng-deep .pdf-renderer .tgright { width: 100px !important;}

.tgouter {
    border: solid 1px #ccc;
    border-radius: 3px;
    padding: 2px 18px 1px 5px;
    margin: 4px 4px 0 0;
    vertical-align: top;
    
    display: inline-block;
    max-width: 25%;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}

.modal-body .tags_div .tgouter{ max-width:inherit;}

    .cross_span {
    position: absolute;
    top: 1.5px;
    right: 4px; cursor: pointer;
}
.tag_rounded {    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;}
    .modal-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
        display: block;
        color: #484848;
        text-align: center;
        width: 95%;
    }
    .modal-header {
        background: #f9f9f9;
    }
    .footer_3 { text-align:right;}
    .modal-header .close{ outline:none;}
	
	 .pdf_comm_update .tgouter{max-width: 100% !important;}
	 
    