
<div *ngIf="active == 1" class="tgright">
	<span *ngIf="tags.length < 4">
<span  *ngFor="let tag of tags; let i=index" class="tgouter">
	
	{{tag.text}}

	<span class="cross_span" (click)="removeTag(tag)"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="7" viewBox="0 0 7 7">
  <defs>
    <clipPath id="clip-path">
      <path id="Path_29" data-name="Path 29" d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z" transform="translate(0 11)" fill="#919191"/>
    </clipPath>
    <clipPath id="clip-path-2">
      <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z" transform="translate(1057 483)" fill="#919191"/>
    </clipPath>
  </defs>
  <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
    <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)" clip-path="url(#clip-path-2)">
      <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z" transform="translate(674.455 313.182)" fill="#919191"/>
    </g>
  </g>
</svg> </span>

</span>
</span>
<span *ngIf="tags.length > 3" >
	<span  *ngFor="let tag of tags | slice:0:3; let i=index" class="tgouter">
	
		{{tag.text}}
	
		<span class="cross_span" (click)="removeTag(tag)"> x </span>
	
	</span>
	<a  (click)="opentagsModal()">
		{{tags.length - 3 +  " more..."}}

	</a>

</span>

<input #tagInput type="text" placeholder="Type here" [(ngModel)]="newTag" [style.width.px]="((newTag.length + 2) * 8)" (keydown)="TagChanged($event)" (blur)="GenerateTag()" style="border: 0;background: transparent;" maxlength="26">

</div>
<div class="clear"></div>
<ng-template #tagsTemplate>
			<div class="modal-header">
			 <h4 class="modal-title">Tags</h4>
			  <button type="button" class="close" (click)="tagsModalRef.hide()" data-dismiss="modal">&times;</button>
			 
			</div>
			
			 <div class="modal-body">
				 
				 <div class="tags_div">
				  <span  *ngFor="let tag of tags; let i=index" class="tgouter">
	
					{{tag.text}}
				
					<span class="cross_span" (click)="removeTag(tag)"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="7" viewBox="0 0 7 7">
  <defs>
    <clipPath id="clip-path">
      <path id="Path_29" data-name="Path 29" d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z" transform="translate(0 11)" fill="#919191"/>
    </clipPath>
    <clipPath id="clip-path-2">
      <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z" transform="translate(1057 483)" fill="#919191"/>
    </clipPath>
  </defs>
  <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
    <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)" clip-path="url(#clip-path-2)">
      <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z" transform="translate(674.455 313.182)" fill="#919191"/>
    </g>
  </g>
</svg> </span>
				
				</span>
				   
				
				  
			   </div>
				   
	  
			 </div>
	  
			
</ng-template>
