.user_thumb{
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.bgone  img {
    top: 12px;
}
.share_btn{
text-align: right;
}

.ql-editor {
    height: auto;
    white-space: normal !important;
}
.filter_img_size{
    max-width: 26px !important;
}

.menuespacing hr{
      margin: 10px -10px;
     }
.menuespacing a{
    padding-top: 4px !important; padding-bottom:4px !important;
    font-size: 14px !important;
}

.menuespacing a.hsor{
    font-weight: 500;
    padding-top: 10px !important;
}

.delb{
    display: inline-block;
    margin-right: 28px;
    padding-top: 12px;
}
