.term_cls h4{ color:#000; font-size:18px;}
	.term_left { margin-top: 15px}
	.other-checks { margin-top: 25px}
	.term_right { float:left; width:100%;padding-left:35px;}
	.term_cls input[type=text]{ font-size:14px;}
	.term_cls{ margin: 0 12px;  color:#212528; padding:25px 0 25px 0;}
	.term_cls p{    font-size: 14px;
    line-height: 17px;
    padding: 10px 0 0 0;}
    @media screen and (min-width:1280px) { 
      .container { max-width: 1200px !important;
          padding: 0 15px !important;
          }
         }
    
    @media screen and (min-width:1500px) {
    
      .container { max-width: 1450px !important;    padding: 0 15px !important; }
    } 
	.gens_cls  h4{ color:#000; font-size:18px;}
	.gens_cls{ margin: 0 12px;  color:#212528; padding:25px 0 25px 0;}
	.ck_box input:checked ~ .checkmark {    border: 1px solid #1C7CD5;}
	.ck_box { padding-left:25px;}
	.ck_inner {     padding: 0 0 11px 50px;}
	.account_prev {padding:25px 0 0px 0; margin: 0 12px;}
	.account_prev p{ position: relative;}
	.account_prev  h4{ color:#000; font-size:18px;}
	.acp_left{ float:left; width:50%; padding-right:30px;}
	.acp_right{ float:left; width:50%; padding-left:30px;}
	.goals_accout_main { width:100%;}
	.red_cir{     background: #FF0000;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -14px;
    top: 5px;
    display: inline-block;
	border-radius: 50%;}
	
	
/* Create a custom checkbox */
.ck_box .checkmark {
	position: absolute;
	top: -1px;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #fff;
	 border: 1px solid #B4BAC3;
	  border-radius: 3px;
  }
  /* On mouse-over, add a grey background color */
  .ck_box:hover input ~ .checkmark {
	background-color: #fff;
  }
  /* When the checkbox is checked, add a blue background */
  .ck_box input:checked ~ .checkmark {
		background-color: #1C7CD5;  border: 1px solid #1C7CD5;
	 
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .ck_box .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  /* Show the checkmark when checked */
  .ck_box input:checked ~ .checkmark:after {
	display: block;
  }
  /* Style the checkmark/indicator */
  .ck_box .checkmark:after {
	left: 7px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(40deg);
	-ms-transform: rotate(40deg);
	transform: rotate(40deg);
  }

  /* The container */
.ck_box {
	display: block;
	position: relative;
	padding-left: 30px;
	  margin: 13px 0;
	cursor: pointer;
	font-size: 13px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color:#616161;
  }
  /* Hide the browser's default checkbox */
  .ck_box input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }

  .save_settingcls { text-align:left; margin:0; margin: 0 15px; margin-top:80px; }
	.save_settingcls button{ background: #fff;
    color: #484848;
    border: 0;
    padding: 6px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;}
	.save_settingcls .save_btn {    background: #28A745;
    color: #fff;}
	.save_settingcls { border-top:1px solid #D8D8D8; padding:20px 0;}
	.save_settingcls .col-md-6 { padding:0;}
	.save_settingcls a{ color:#616161; text-decoration:underline;}
	
	.tright{
		text-align: right;
	}

	.panl_headingac{
		border-bottom: 1px solid #ddd;
    padding: 5.5px 10px;
    background: #f9f9f9;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
	}

	.gicons{
		text-align: right;
    padding-top: 11px;
	}

	.gicons a{
		color: #8B8B8B;
		text-decoration: none !important;
	}
  
	.gicons img{
		max-width: 26px;
    	margin-right: 10px;
	}

	.panl_headingac h3{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #212528;
	}

	.ac_ov { text-align:center; padding:50px 50px 0 50px;}
    .close_md { position:absolute;     right: 14px;
    top: 7px}
    .ac_foo{    border: 0 !important;
    text-align: right;
}
.btn_n { border:0; background:none;     outline: 0;
    padding: 10px 20px; color:#484848;}
    
    .ac_ov p{color:#484848; font-size:18px; padding: 40px 20px 0 20px;}
    
    .ac_foo .btn{    background: #28A745;
    color: #fff;}
	.ac_foo button{ cursor:pointer;     outline: 0px auto -webkit-focus-ring-color;}
	

	.ani_aci1{width:100%;  height:20px;}
.ani_aci2{width:100%; height:40px;}
@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.ani_aci{
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
}
.tabscls .nav-tabs {
  
    position: relative;
   
}
.tabscls .nav-tabs .nav-item {
   margin-bottom: -1px;
    border: 1px solid #ddd;
    padding: 7px 26px 6px 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 0;
    line-height: 26px;
}
.tabscls .nav-tabs .nav-item a {
    color: #A0A0A0;
    text-decoration: none;
    font-size: 15px;
}
.tabscls .nav-tabs .nav-item a.active {
    color: #1C7CD5;
}
    .save_settingcls { text-align:left; margin:0; margin: 0 15px; margin-top:30px; }
    .save_settingcls button{ background: #fff;
    color: #484848;
    border: 0;
    padding: 6px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;}
    .save_settingcls .save_btn {    background: #28A745;
    color: #fff;}
    .save_settingcls { border-top:1px solid #D8D8D8; padding:20px 0;}
    .save_settingcls .col-md-6 { padding:0;}
    .save_settingcls a{ color:#616161; text-decoration:underline;}
    
    .tabscls .nav-tabs{ padding:20px 0 0 30px;}
    
    .ck_box2 {margin: 13px 0;font-size: 13px;     display: block; color: #616161;}
    .ck_box2 svg {    margin-right: 12px;}
    .global_content { padding:15px;}
    /**Start Goal CSS**/
    .back_ac { text-align:right; padding-top:10px;}
.back_ac img { display:inline-block; margin-right:5px;}
.back_ac a{ color:#8B8B8B; text-decoration:none;}
.term_left label{ font-weight:600; padding-top:20px; color:#484848;}
	.tbox { padding-bottom:20px;}
	
	.container.bred_an{ padding-left:0 !important;     top: 13px !important;     padding-bottom: 11px !important;}
  .panl_headingac .col-md-6{ padding-left:7px;}
  .br_anp {
    height: 20px;
    margin: 0;
}
.p_ani {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #D9D9D9;
    background: linear-gradient(to right, #E9E9E9 8%, #F0F0F0 18%, #EFEFEF 33%);
    background-size: 800px 104px;
    position: relative;
}