<div *ngIf="skelton_loading" class="container bred_an">
  <div class="p_ani br_anp m0"></div>
</div>
<div class="container box_outer" *ngIf="skelton_loading">
  
  <div class="row panl_headingac">

    <div class="col-md-6">
      <h3>{{translations.settings_main}}</h3>
    </div>

    <div class="col-md-6 back_ac gicons">
      <a href=""> <img src="assets/img/g_setting.png"> {{translations.account_settings_all}}</a>

    </div>

  </div>

  <div class="row tabscls">
    <div class="goals_accout_main">
      <div class="term_cls">
        <h4 class="ani_aci ani_aci2"></h4>

        <div class="row">
          <div class="col-6">
            <div class="term_left">
              <p class="ani_aci ani_aci1"></p>
              <p class="ani_aci ani_aci1"></p>
            </div>

            <div class="term_right">
              <p class="ani_aci ani_aci1"></p>
              <p class="ani_aci ani_aci1"></p>
              <p class="ani_aci ani_aci1"></p>
            </div>
          </div>
          <div class="col-6">
            <div class="term_left">
              <p class="ani_aci ani_aci1"></p>
              <p class="ani_aci ani_aci1"></p>
            </div>

            <div class="term_right">
              <p class="ani_aci ani_aci1"></p>
              <p class="ani_aci ani_aci1"></p>
              <p class="ani_aci ani_aci1"></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="term_left">
              <p class="ani_aci ani_aci1"></p>
              <p class="ani_aci ani_aci1"></p>
            </div>

            <div class="term_right">
              <p class="ani_aci ani_aci1"></p>
              <p class="ani_aci ani_aci1"></p>
              <p class="ani_aci ani_aci1"></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="term_left other-checks">
              <p class="ani_aci ani_aci1"></p>
              <p class="ani_aci ani_aci1"></p>
              <p class="ani_aci ani_aci1"></p>
            </div>
          </div>
        </div>


        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<div  *ngIf="!skelton_loading" class="container bred_an">
  <a [routerLink]="['/']">{{translations.home_global}}</a>
  <img src="assets/img/breadcrumarrow.svg"/>

  <a [routerLink]="['/account-settings']">{{translations.account_settings_all}}</a>
  <ng-container>
    <img src="assets/img/breadcrumarrow.svg"/>
    <a>
        <b>{{headerService?.getGoalAltTranslation(translations.goals_settings)}}</b>
    </a>
  </ng-container>
</div>

<div class="clear"></div>
<div  *ngIf="!skelton_loading" class="container box_outer">

  <div class="row panl_headingac">

      <div class="col-md-6">
        <h3>{{this.goalAltName? this.goalAltName: this.translations?.goal}} {{translations?.settings_main}}</h3>
      </div>

      <div class="col-md-6 back_ac">
         <a routerLink="/account-settings"> <img src="assets/img/left-arrow.svg"> {{translations.back_account_settings_new_settings}}</a>

      </div>

  </div>

 <div class="row tabscls">
  <div class="goals_accout_main">

  <ul class="nav nav-tabs col-12">
               <li class="nav-item">

                   <a class="show" [class.active]="viewMode == 'general'" data-toggle="tab" (click)="changeTab('general')" role="tab" aria-selected="true">{{translations.general}}</a>
               </li>
               <li class="nav-item itm2">
                   <a [class.active]="viewMode == 'privileges'" data-toggle="tab" (click)="changeTab('privileges')" role="tab"  aria-selected="false">{{translations.privileges}}</a>
               </li>

               <li class="nav-item itm2">
                   <a data-toggle="tab" [class.active]="viewMode == 'terminology'" (click)="changeTab('terminology')" role="tab" class="" aria-selected="false">{{translations.goal_terminology}}</a>
               </li>

           </ul>


 <div class="tab-content global_content" [ngSwitch]="viewMode">
    <!--Panel 1-->
   <div class="tab-pane fade in show active" id="General" role="tabpanel" *ngSwitchCase="'general'">
    <div class="gens_cls">
      <h4>{{translations.general_settings_all_new}}</h4>
      <div class="row">
        <div class="col-6">
          <p><label class="ck_box">{{headerService?.getGoalAltTranslation(translations.goals_make_all_public)}}
            <input type="checkbox" (change)="checkMakeAllGoalPublic($event.target.checked, 'general')" [(ngModel)]="goalsSettingsObject.data.make_all_goals_public">
            <span class="checkmark"></span>
          </label></p>

          <div class="ck_inner">
            <p><label class="ck_box">{{headerService?.getGoalAltTranslation(translations.goals_include_group)}}
                <input type="checkbox" (change)="checkPublicValues($event.target.checked, 'general')" [(ngModel)]="goalsSettingsObject.data.group_type_goals_public">
                <span class="checkmark"></span>
              </label></p>

            <p><label class="ck_box">{{headerService?.getGoalAltTranslation(translations.goals_include_individual)}}
                <input type="checkbox" (change)="checkPublicValues($event.target.checked, 'general')" [(ngModel)]="goalsSettingsObject.data.individual_type_goals_public">
                <span class="checkmark"></span>
              </label></p>

            <p><label class="ck_box">{{headerService?.getGoalAltTranslation(translations.goals_include_account)}}
                <input type="checkbox"(change)="checkPublicValues($event.target.checked, 'general')" [(ngModel)]="goalsSettingsObject.data.account_type_goals_public">
                <span class="checkmark"></span>
              </label></p>
          </div>
        </div>

        <div class="col-6">
          <p><label class="ck_box">{{headerService?.getGoalAltTranslation(translations.make_all_goals_public_admin_super_owner)}}
            <input type="checkbox" (change)="checkMakeAllGoalPublic($event.target.checked, 'admin_super_owner')" [(ngModel)]="goalsSettingsObject.data.make_all_goals_public_admin_super_owner">
            <span class="checkmark"></span>
          </label></p>

          <div class="ck_inner">
            <p><label class="ck_box">{{headerService?.getGoalAltTranslation(translations.goals_include_group)}}
                <input type="checkbox" (change)="checkPublicValues($event.target.checked, 'admin_super_owner')" [(ngModel)]="goalsSettingsObject.data.group_type_goals_public_admin_super_owner">
                <span class="checkmark"></span>
              </label></p>

            <p><label class="ck_box">{{headerService?.getGoalAltTranslation(translations.goals_include_individual)}}
                <input type="checkbox" (change)="checkPublicValues($event.target.checked, 'admin_super_owner')" [(ngModel)]="goalsSettingsObject.data.individual_type_goals_public_admin_super_owner">
                <span class="checkmark"></span>
              </label></p>

            <p><label class="ck_box">{{headerService?.getGoalAltTranslation(translations.goals_include_account)}}
                <input type="checkbox"(change)="checkPublicValues($event.target.checked, 'admin_super_owner')" [(ngModel)]="goalsSettingsObject.data.account_type_goals_public_admin_super_owner">
                <span class="checkmark"></span>
              </label></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p><label class="ck_box">{{headerService?.getGoalAltTranslation(translations.make_all_goals_public_super_owner)}}
            <input type="checkbox" (change)="checkMakeAllGoalPublic($event.target.checked, 'super_owner')" [(ngModel)]="goalsSettingsObject.data.make_all_goals_public_super_owner">
            <span class="checkmark"></span>
          </label></p>

          <div class="ck_inner">
            <p><label class="ck_box">{{headerService?.getGoalAltTranslation(translations.goals_include_group)}}
                <input type="checkbox" (change)="checkPublicValues($event.target.checked, 'super_owner')" [(ngModel)]="goalsSettingsObject.data.group_type_goals_public_super_owner">
                <span class="checkmark"></span>
              </label></p>

            <p><label class="ck_box">{{headerService?.getGoalAltTranslation(translations.goals_include_individual)}}
                <input type="checkbox" (change)="checkPublicValues($event.target.checked, 'super_owner')" [(ngModel)]="goalsSettingsObject.data.individual_type_goals_public_super_owner">
                <span class="checkmark"></span>
              </label></p>

            <p><label class="ck_box">{{headerService?.getGoalAltTranslation(translations.goals_include_account)}}
                <input type="checkbox"(change)="checkPublicValues($event.target.checked, 'super_owner')" [(ngModel)]="goalsSettingsObject.data.account_type_goals_public_super_owner">
                <span class="checkmark"></span>
              </label></p>
          </div>
        </div>
      </div>
      <p><label class="ck_box">{{headerService?.getGoalAltTranslation(translations.goals_Include_measurement)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="goalsSettingsObject.data.enable_measurement === 1"
          name="enable_measurement" (change)="checkEnableMeasurement($event)">
          <span class="checkmark"></span>
        </label></p>

        <p><label class="ck_box">{{headerService?.getGoalAltTranslation(translations.goal_owners_cannot_uncheck)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1"  [checked]="goalsSettingsObject.data.goal_owners_cannot_uncheck_action_items  === 1"
          name="enable_performance_level" (change)="checkActionItemCompletetion($event)">
          <span class="checkmark"></span>
        </label></p>

      <p><label class="ck_box">{{headerService?.getGoalAltTranslation(translations.goals_enable_performance)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1"  [checked]="goalsSettingsObject.data.enable_performance_level === 1"
          name="enable_performance_level" (change)="checkEnabelPerformanceLevel($event)">
          <span class="checkmark"></span>
        </label></p>
      <p><label class="ck_box">{{"Review Collaborators can add evidence and work on action items after the deadline has passed."}}
        <input type="checkbox" (change)="changeCount = changeCount + 1"  [checked]="goalsSettingsObject.data.review_collaborators === 1"
        name="enable_performance_level" (change)="checkReviewCollaborators($event)">
        <span class="checkmark"></span>
      </label></p>
      <p><label class="ck_box">{{"Goal owners can add evidence and work on action items after the deadline has passed."}}
        <input type="checkbox" (change)="changeCount = changeCount + 1"  [checked]="goalsSettingsObject.data.goal_owner_setting === 1"
        name="enable_performance_level" (change)="checkGoalOwnerSetting($event)">
        <span class="checkmark"></span>
      </label></p>
   </div>
  </div>
  <!---->
  <div class="tab-pane fade in show active" id="Privileges" role="tabpanel" *ngSwitchCase="'privileges'">

  <div class="account_prev">

    <div class="acp_left" (change)="adminsPrivileges($event)">
      <h4>{{translations.goals_account_admin_privileges}}</h4>

      <p><label class="ck_box">{{translations.goals_admin}} {{headerService?.getGoalAltTranslation(translations.goals_can_create_other_people)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="adminsPrivilegesObject.can_create_individual_goals_for_others_people === true"
          name="can_create_individual_goals_for_others_people">
          <span class="checkmark"></span>
        </label>
      </p>


      <p><label class="ck_box">{{translations.goals_admin}} {{headerService?.getGoalAltTranslation(translations.goals_can_create_individual_for_themselves)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="adminsPrivilegesObject.can_create_individual_goals_for_themselves === true"
          name="can_create_individual_goals_for_themselves">
          <span class="checkmark"></span>
        </label>
      </p>
      <p><label class="ck_box">{{translations.goals_admin}} {{headerService?.getGoalAltTranslation(translations.goals_can_create_group_goals)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="adminsPrivilegesObject.can_create_group_goals === true"
          name="can_create_group_goals">
          <span class="checkmark"></span>
        </label>
      </p>
      <p><label class="ck_box">{{translations.goals_admin}} {{headerService?.getGoalAltTranslation(translations.goals_can_create_goal_templates)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="adminsPrivilegesObject.can_create_group_templates === true"
          name="can_create_group_templates">
          <span class="checkmark"></span>
        </label>
      </p>
      <p><label class="ck_box">{{translations.goals_admin}} {{headerService?.getGoalAltTranslation(translations.goals_can_assign_goal_templates_to_other_people)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="adminsPrivilegesObject.can_use_templates_to_create_new_goals === true"
          name="can_use_templates_to_create_new_goals">
          <span class="checkmark"></span>
        </label>
      </p>
      <p><label class="ck_box">{{translations.goals_admin}} {{headerService?.getGoalAltTranslation(translations.goals_can_create_goal_categories)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="adminsPrivilegesObject.can_create_goal_categories === true"
          name="can_create_goal_categories">
          <span class="checkmark"></span>
        </label>
      </p>
      <p><label class="ck_box">{{translations.goals_admin}} {{headerService?.getGoalAltTranslation(translations.goals_can_be_added_as_goal_collaborator_with_view_rights)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="adminsPrivilegesObject.can_be_added_as_goal_collab_with_view_rights === true"
          name="can_be_added_as_goal_collab_with_view_rights">
          <span class="checkmark"></span>
        </label>
      </p>
      <p><label class="ck_box">{{translations.goals_admin}} {{headerService?.getGoalAltTranslation(translations.goals_can_be_added_as_a_goal_collaborator_with_edit_rights)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="adminsPrivilegesObject.can_be_added_as_goal_collab_with_edit_rights === true"
          name="can_be_added_as_goal_collab_with_edit_rights">
          <span class="checkmark"></span>
        </label>
      </p>
      <p><label class="ck_box">{{translations.goals_admin}} {{headerService?.getGoalAltTranslation(translations.goals_can_be_added_as_goal_collab_with_right_to_add_evidence)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="adminsPrivilegesObject.can_be_added_as_goal_collab_with_right_to_add_evidence === true"
          name="can_be_added_as_goal_collab_with_right_to_add_evidence">
          <span class="checkmark"></span>
        </label>
      </p>

      <p><label class="ck_box">{{translations.goals_admin}} {{headerService?.getGoalAltTranslation(translations.goals_can_be_added_as_goal_collab_with_right_to_review_feedback)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="adminsPrivilegesObject.can_be_added_as_goal_collab_with_right_to_review_feedback === true"
          name="can_be_added_as_goal_collab_with_right_to_review_feedback">
          <span class="checkmark"></span>
        </label>
      </p>


      <p><label class="ck_box">{{translations.goals_admin}} {{headerService?.getGoalAltTranslation(translations.goals_can_view_goal_progress_for_all_goals_in_the_account)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="adminsPrivilegesObject.can_view_goal_progress === true"
          name="can_view_goal_progress">
          <span class="checkmark"></span>
        </label>
      </p>


      <p><label class="ck_box">{{translations.goals_admin}} {{headerService?.getGoalAltTranslation(translations.goals_can_enter_data_for_measurement_where_goal_owners)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="adminsPrivilegesObject.can_enter_data_for_measurement_where_goal_owners === true"
          name="can_enter_data_for_measurement_where_goal_owners">
          <span class="checkmark"></span>
        </label>
      </p>


      <p><label class="ck_box">{{translations.goals_admin}} {{headerService?.getGoalAltTranslation(translations.goals_can_enter_data_for_measurement_for_action_items_in_goals_where_they_are_reviewer)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="adminsPrivilegesObject.can_enter_data_for_measurement_where_goal_reviewers === true"
          name="can_enter_data_for_measurement_where_goal_reviewers">
          <span class="checkmark"></span>
        </label>
      </p>


      <p><label class="ck_box">{{translations.goals_admin}} {{headerService?.getGoalAltTranslation(translations.goals_can_use_frameworks_in_goal_evidence_type)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="adminsPrivilegesObject.can_use_frameworks_in_goal_evidence === true"
          name="can_use_frameworks_in_goal_evidence">
          <span class="checkmark"></span>
        </label>
      </p>
      
      <p><label class="ck_box">{{headerService?.getGoalAltTranslation(translations.goals_are_allowed_to_ab_archived)}}
        <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="adminsPrivilegesObject.can_archive_goals === true"
        name="can_archive_goals">
        <span class="checkmark"></span>
      </label>
    </p>
    </div>


    <div class="acp_right" (change)="userPrivileges($event)">

      <h4>{{translations.goals_account_user_privileges}}</h4>

      <p><label class="ck_box">{{translations.goals_user}} {{headerService?.getGoalAltTranslation(translations.goals_can_create_other_people)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="usersPrivilegesObject.can_create_individual_goals_for_others_people === true"
          name="can_create_individual_goals_for_others_people">
          <span class="checkmark"></span>
        </label></p>

      <p><label class="ck_box">{{translations.goals_user}} {{headerService?.getGoalAltTranslation(translations.goals_can_create_individual_for_themselves)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="usersPrivilegesObject.can_create_individual_goals_for_themselves === true"
          name="can_create_individual_goals_for_themselves">
          <span class="checkmark"></span>
        </label></p>


      <p><label class="ck_box">{{translations.goals_user}} {{headerService?.getGoalAltTranslation(translations.goals_can_create_group_goals)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="usersPrivilegesObject.can_create_group_goals === true"
          name="can_create_group_goals">
          <span class="checkmark"></span>
        </label></p>


      <p><label class="ck_box">{{translations.goals_user}} {{headerService?.getGoalAltTranslation(translations.goals_can_create_goal_templates)}}
          <input type="checkbox" [checked]="usersPrivilegesObject.can_create_group_templates === true"
          name="can_create_group_templates">
          <span class="checkmark"></span>
        </label></p>

      <p><label class="ck_box">{{translations.goals_user}} {{headerService?.getGoalAltTranslation(translations.goals_can_assign_goal_templates_to_other_people)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="usersPrivilegesObject.can_use_templates_to_create_new_goals === true"
          name="can_use_templates_to_create_new_goals">
          <span class="checkmark"></span>
        </label></p>

      <p><label class="ck_box">{{translations.goals_user}} {{headerService?.getGoalAltTranslation(translations.goals_can_create_goal_categories)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="usersPrivilegesObject.can_create_goal_categories === true"
          name="can_create_goal_categories">
          <span class="checkmark"></span>
        </label></p>

      <p><label class="ck_box">{{translations.goals_user}} {{headerService?.getGoalAltTranslation(translations.goals_can_be_added_as_goal_collaborator_with_view_rights)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="usersPrivilegesObject.can_be_added_as_goal_collab_with_view_rights === true"
          name="can_be_added_as_goal_collab_with_view_rights">
          <span class="checkmark"></span>
        </label></p>
      <p><label class="ck_box">{{translations.goals_user}} {{headerService?.getGoalAltTranslation(translations.goals_can_be_added_as_a_goal_collaborator_with_edit_rights)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="usersPrivilegesObject.can_be_added_as_goal_collab_with_edit_rights === true"
          name="can_be_added_as_goal_collab_with_edit_rights">
          <span class="checkmark"></span>
        </label></p>

      <p><label class="ck_box">{{translations.goals_user}} {{headerService?.getGoalAltTranslation(translations.goals_can_be_added_as_goal_collab_with_right_to_add_evidence)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="usersPrivilegesObject.can_be_added_as_goal_collab_with_right_to_add_evidence === true"
          name="can_be_added_as_goal_collab_with_right_to_add_evidence">
          <span class="checkmark"></span>
        </label></p>

      <p><label class="ck_box">{{translations.goals_user}} {{headerService?.getGoalAltTranslation(translations.goals_can_be_added_as_goal_collab_with_right_to_review_feedback)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="usersPrivilegesObject.can_be_added_as_goal_collab_with_right_to_review_feedback === true"
          name="can_be_added_as_goal_collab_with_right_to_review_feedback">
          <span class="checkmark"></span>
        </label></p>

      <p><label class="ck_box">{{translations.goals_user}} {{headerService?.getGoalAltTranslation(translations.goals_can_view_goal_progress_for_all_goals_in_the_account)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="usersPrivilegesObject.can_view_goal_progress === true"
          name="can_view_goal_progress">
          <span class="checkmark"></span>
        </label></p>

      <p><label class="ck_box">{{translations.goals_user}} {{headerService?.getGoalAltTranslation(translations.goals_can_enter_data_for_measurement_where_goal_owners)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="usersPrivilegesObject.can_enter_data_for_measurement_where_goal_owners === true"
          name="can_enter_data_for_measurement_where_goal_owners">
          <span class="checkmark"></span>
        </label></p>

      <p><label class="ck_box">{{translations.goals_user}} {{headerService?.getGoalAltTranslation(translations.goals_can_enter_data_for_measurement_for_action_items_in_goals_where_they_are_reviewer)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="usersPrivilegesObject.can_enter_data_for_measurement_where_goal_reviewers === true"
          name="can_enter_data_for_measurement_where_goal_reviewers">
          <span class="checkmark"></span>
        </label></p>


      <p><label class="ck_box">{{translations.goals_user}} {{headerService?.getGoalAltTranslation(translations.goals_can_use_frameworks_in_goal_evidence_type)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="usersPrivilegesObject.can_use_frameworks_in_goal_evidence === true"
          name="can_use_frameworks_in_goal_evidence">
          <span class="checkmark"></span>
        </label></p>
        <p><label class="ck_box">{{headerService?.getGoalAltTranslation(translations.goals_are_allowed_to_ab_archived)}}
          <input type="checkbox" (change)="changeCount = changeCount + 1" [checked]="usersPrivilegesObject.can_archive_goals === true"
          name="can_archive_goals">
          <span class="checkmark"></span>
        </label></p>



    </div>

        <div class="clear"></div>
  </div>


  </div>
  <div class="tab-pane fade in show active" id="Terminology" role="tabpanel" *ngSwitchCase="'terminology'">

  <div class="term_cls">
  <h4>{{translations.goal_terminology}}</h4>
  <p style="width: 52%;">{{translations.goals_terminology_general_instructions}}</p>

 <div class="term_left">
 <div class="tbox">
  <label>{{translations.goal_terminology_alternative}}</label>
  <input type="text" (change)="changeCount = changeCount + 1" class="form-control"  [(ngModel)]="this.goalsSettingsObject.data.goal_alt_name" placeholder="{{translations.type_alternate_here}}">
  </div>
     <div class="tbox">
      <label>{{translations.goal_action_item_terminology_alternative}}</label>
      <input type="text" (change)="changeCount = changeCount + 1" class="form-control" [(ngModel)]="this.goalsSettingsObject.data.item_alt_name" placeholder="{{translations.type_alternate_here}}">
   </div>
   <div class="tbox">
    <label>{{translations.goal_evidence_terminology_alternative}}</label>
    <input type="text" (change)="changeCount = changeCount + 1" class="form-control" [(ngModel)]="this.goalsSettingsObject.data.evidence_alt_name" placeholder="{{translations.type_alternate_here}}">
 </div>
 <div class="tbox">
  <label>{{translations.goal_measurement_terminology_alternative}}</label>
  <input type="text" (change)="changeCount = changeCount + 1" class="form-control" [(ngModel)]="this.goalsSettingsObject.data.measurement_alt_name" placeholder="{{translations.type_alternate_here}}">
</div>
 </div>
 <div class="clear"></div>
  </div>
  </div>

  </div>

  <div class="save_settingcls row">
     <div class="col-md-6">

     </div>
     <div class="col-md-6 tright">
      <button (click)="cancelChanges()">{{translations.cancel_us}}</button>
      <button type="button" (click)="saveChanges(viewMode)" class="save_btn">{{translations.analytics_save}}</button>
    </div>

  </div>
 </div>
 </div>

 </div>

<div data-toggle="modal" class="modal fade sh_show" bsModal #makeAllGoalPublicModal="bs-modal"
[config]="{backdrop:'static',keyboard:false}" class="modal fade" tabindex="-1" role="dialog"
aria-labelledby="dialog-child-name">
<div class="modal-dialog" style="max-width:600px;">
 <!-- Modal content-->
 <div class="modal-content">


   <div class="modal-body ac_ov">
     <div class="close_md"> <button type="button" class="close" (click)="cancelMakeAllGoalPublic(currentGoalsPublicKey)">&times;</button></div>

     <svg xmlns="http://www.w3.org/2000/svg" width="50.64" height="50.64" viewBox="0 0 50.64 50.64">
       <g id="Group_332" data-name="Group 332" transform="translate(0.36 -0.3)">
         <path id="Path_51" data-name="Path 51"
           d="M25.32,0A25.286,25.286,0,1,1,7.406,7.406,25.258,25.258,0,0,1,25.32,0ZM39.947,10.646A20.73,20.73,0,1,0,46.011,25.32,20.84,20.84,0,0,0,39.947,10.646Z"
           transform="translate(-0.36 0.3)" fill="#010101" />
         <path id="Path_88" data-name="Path 88"
           d="M29.458,18.754q-4.036,5.922-8.425,11.618c-1.308-1.132-2.641-2.263-3.948-3.4-1.459-1.257-3.6.855-2.138,2.138,1.735,1.509,3.47,2.993,5.231,4.5a1.533,1.533,0,0,0,2.138,0c3.4-4.325,6.664-8.777,9.732-13.329C33.155,18.653,30.539,17.145,29.458,18.754Z"
           transform="translate(1.679 -0.266)" stroke="#000" stroke-width="0.7" />
       </g>
     </svg>
     <p>
       <ng-container *ngIf="currentGoalsPublicKey === 'general'">{{translations.goals_viewable_to_everyone_text}}</ng-container>
       <ng-container *ngIf="currentGoalsPublicKey === 'admin_super_owner'">{{translations.goals_viewable_to_admin_super_owner_text}}</ng-container>
       <ng-container *ngIf="currentGoalsPublicKey === 'super_owner'">{{translations.goals_viewable_to_super_owner_text}}</ng-container>
     </p>
   </div>


   <div class="modal-footer ac_foo">


     <div class="modal_btn col-md-12">
       <button type="button" class="btn_n" (click)="cancelMakeAllGoalPublic(currentGoalsPublicKey)">{{translations.no}}</button>
       <button type="button" class="btn" (click)="doneMakeAllGoalPublic(currentGoalsPublicKey)">{{translations.yes}}</button>
     </div>
   </div>
 </div>

</div>
</div>
 <!-- Modal for alert change tab-->
<div data-toggle="modal" class="modal fade sh_show" bsModal #switchTabwithoutChange="bs-modal"
[config]="{backdrop:'static',keyboard:false}" class="modal fade" tabindex="-1" role="dialog"
aria-labelledby="dialog-child-name">
<div class="modal-dialog" style="max-width:600px;">
 <!-- Modal content-->
 <div class="modal-content">


   <div class="modal-body ac_ov">
     <div class="close_md"> <button type="button" class="close" (click)="switchTab()">&times;</button></div>

     <svg id="noun_Error_1582590" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 29 29">
      <g id="Group_332" data-name="Group 332" transform="translate(0 0)">
        <path id="Path_51" data-name="Path 51"
              d="M14.5,0A14.481,14.481,0,1,1,4.241,4.241,14.465,14.465,0,0,1,14.5,0Zm0,18.132a1.957,1.957,0,0,1,1.962,1.962A1.98,1.98,0,0,1,14.5,22.081a2,2,0,0,1-1.988-1.988A1.98,1.98,0,0,1,14.5,18.132Zm0-1.988a1.384,1.384,0,0,1-1.325-1.325l-.663-5.911A2.02,2.02,0,0,1,14.5,6.919a1.979,1.979,0,0,1,1.962,1.988l-.636,5.911A1.384,1.384,0,0,1,14.5,16.144ZM22.877,6.1a11.871,11.871,0,1,0,3.473,8.4A11.934,11.934,0,0,0,22.877,6.1Z"
              transform="translate(0)" fill="#484848"/>
      </g>
    </svg>
     <p>
       {{translations.goals_settings_move_tab}}
     </p>
   </div>


   <div class="modal-footer ac_foo">


     <div class="modal_btn col-md-12">
       <button type="button" class="btn_n" (click)="switchTab()">{{translations.cancel_us}}</button>
       <button type="button" class="btn" (click)="switchTab(true)">{{translations.artifact_ok}}</button>
     </div>
   </div>
 </div>

</div>
</div>
