.modal_container{
	font-family: Roboto !important;
}

.expand_all:hover, .collapse_all:hover{
	cursor: pointer;
}

a.selected_sort{
    color: #057eff !important;
    font-weight: bold !important;
}

@keyframes ngForAnimation {
  0% {
    padding-left: 50px;
  }
  100% {
    padding-left: 0px;
  } 
}


.animate_ngfor {
  animation: fadeIn 1s;
}

.hufooter{
  border-top: none !important;
}

.nothing_label{
      padding: 40px 20px;
}

.align_folder{
    height: 10px;
    display: inline-block;
    width: 12px;
    float: left;
}

.hu_search img{
    position: absolute;
    zoom: 1.5;
    opacity: 0.5;
    margin-left: -14px;
    margin-top: 10px;
    cursor: pointer;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .hu_search img{

      margin-left: -20px !important;
      margin-top: 4px !important;

    }
}

.participant_details{
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
    display: inline-block;
    top: 7px;
    position: relative;
}

.par_email{
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline;
}






.ani_wp1{
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
    background: #d9d9d9;
    background: linear-gradient(to right, #e9e9e9 8%, #F0F0F0 18%, #efefef 33%);
  background-size: 800px 104px;
  position: relative;
}



.wani3{  float:left; width: 25%; height:38px;         margin-right: 2%;}
.wani4{ float:left; width: 57%; height:38px;         margin-right: 2%;}
.wani5{float:left; width: 13%; height:38px;     }

.huani1 { display: block; height: 40px; width: 100px; }
.huani2 {  height: 40px; width: 150px; float: right; margin-left: 10px;}


@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}


.hufooter .col-12{ padding-right:7px;}
.switch_op .s_current rect {
  fill: #057eff;
}

.p_page{
  text-align: center;
  width: 100%;
  padding: 23px 0 0 0;
}

.folders_head{
  padding: 0px 2px;
  width: 110%;
  
}

.create_hu_popop {     padding: 45px 20px 60px 20px!important; text-align:center;}

.create_hu_popop img{ max-height: 51px;max-width: 84px;}
.create_hu_popop strong{ display:block !important; padding:25px 0; font-size:16px;}
.create_hu_popop span {     background: #eaeaea;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 8px 6px;
    border-radius: 4px;
    min-width: 180px;
    cursor: pointer;     position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 150px;
    margin: 0 auto;}
	.imgbox { height:55px;}
	.b1 { border-left:1px solid #ddd; border-right:1px solid #ddd;}
	
	.create_hu_popop .col-md-4{ padding:0px 60px 60px 60px;     position: relative;}
	.create_hu_popop .col-md-12{ padding:0px 60px 60px 60px;     position: relative;}
	.create_hu_popop .col-md-6{ padding:0px 60px 60px 60px;     position: relative;}
	
	.create_hu_popop p{ color:#616161;}
	
	
  .toremovebg{background-color: #fff !important;}


@media(max-width:1500px){
	.fifteenPx-main {    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;}
	
	
	
	
	}
	
	
	
	@media(max-width:1200px){
	.fifteenPx-main {    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;}
	
	.fifteenPx-main2 {    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width:33.33%;}
	
	.new_hu_cls { max-width:1000px !important;}
	.create_hu_popop .col-md-4{ padding:0px 20px 60px 20px;}
	
  }
  
  .panl_heading{
    border-bottom: 1px solid #ddd;
         padding: 5px 10px 4px 10px;
    background: #f9f9f9;
}
.b1.col-md-12{ border:0 !important;}
.b1.col-md-6{ border-left:0 !important;}
.modal-title{ font-weight:500 !important;}