        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal content-->

            <div class="modal-header">
                <h5 class="modal-title pull-left">{{translation?.group}}: {{GroupDetails.name}}</h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();showParentModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <table class="table modal_table">

                    <thead>
                        <tr>
                            <td><label>{{translation?.huddle_table_name}}</label> </td>
                            <td> <label>{{translation?.huddle_table_email}}</label></td>
                        </tr>
                    </thead>
                    <tbody *ngIf="GroupDetails">

                        <tr *ngFor="let user of GroupDetails.users">

                            <td>
                                <span *ngIf="!user.image && user.is_user" class="oi" data-glyph="person"
                                    title="{{translation?.user}}" aria-hidden="true">
                                </span>

                                <span *ngIf="!user.image && !user.is_user" class="oi" data-glyph="people"
                                    title="{{translation?.group}}" aria-hidden="true">
                                </span>

                                <img width="20" *ngIf="user.image" [attr.src]="user?.image"> {{user.first_name}}
                                {{user.last_name}}</td>

                            <td> {{user.email}} </td>
                        </tr>


                    </tbody>

                </table>

            </div>
            <div class="modal-footer">

                <div class="row text-right">

                    <button (click)="modalRef.hide();showParentModal()" class="btn btn-success">{{translation?.ok}}</button>

                </div>

            </div>
        </div>

