<div class="container">              
    <div id="logo">
        <a href="<?php echo Configure::read('sibme_base_url'); ?>"></a>
    </div>
    <nav class="nav nav-header" style="height: 60px;"> </nav>
</div>