<div class="modal_container">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{parentFolderId ? translation?.df_edit_artifact_folder : translation?.huddle_list_huddle_folder_new }}</h4>
            <button type="button" class="close" (click)="bsModalRef.hide()">×</button>
        </div>
          <div class="modal-body">
              <div class="f_name">
                  <p>{{translation?.huddle_list_folder_name}}</p>
                  <input autocomplete="off" name="title" type="text" [(ngModel)]="NewFolderName" class="form-control">
              </div>
          </div>
          <div class="modal-footer hufooter">
              <div class="col-12">
                  <a class="fake_link" (click)="bsModalRef.hide()">{{translation?.huddles_details_cancel}}</a>
                  <button type="button" style="background: #28A745; color: #fff; padding: 10px 30px;border-radius: 4px;border: none;" class="green_btn fake_link" (click)="createFolder();">{{parentFolderId ? translation?.huddle_list_submit : translation?.huddle_list_create_folder}}</button>
              </div>
          </div>
    </div>
</div>
