@media screen and (min-width:1280px) {
    .container {
        max-width: 1250px;
        padding: 0 15px;
        overflow: hidden;
    }
}

@media screen and (min-width:1500px) {
    .container {
        max-width: 1500px;
        padding: 0 15px;
        overflow: hidden;
    }
}
.box_outer {
    margin-top: 0px !important;
}

.box_whcls {
    margin: 20px 0;
}

button:focus {
    outline: none !important;
}

.spdf-wrapper {
    width: 100%;
    border: solid 1px #f5f5f5;
    padding: 20px;
    background-color: #fafafa;
}

.framework-container {
    position: absolute;
    z-index: 10;
    width: 550px;
    height: 506px;
    overflow: auto;
    background-color: #fff;
    padding: 10px;
    right: 352px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: 5px;
}

.spdf-container {
    display: flex;
    flex-direction: column;
    border: solid 2px #E1DDDD;
    border-radius: 10px;
}

.spdf-topper {
    display: flex;
    background-color: #E1DDDD;
    height: 30px;
    margin-top: -1px;
}

.dummy-btn-circle {
    vertical-align: middle;
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #F1F3F5;
    border: solid 0.5px #CFD4DA;
    border-radius: 45px;
    font-size: 10px;
    margin: auto 0;
    margin-left: 5px;
}
.user_img {
    margin-right: 12px;
    float: left;
}

.user_img img {
    border: 0 !important;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.spdf-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spdf-header {
    display: flex;
    background-color: #ececec;
    width: 100%;
    padding: 5px 0;
    justify-content: center;
}

.action-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    border-radius: 4px;
}

.action-btn-container.selected {
    background-color: #d4d1d1 !important;
}

.action-btn {
    height: 25px;
    width: 25px;
}

.spdf-body {
    position: relative;
    display: flex;
    width: 100%;
}

.spdf-renderer {
    display: flex;
    flex: 3 3 75%;
    justify-content: center;
    overflow-y: scroll;
}

.spdf-canvas-container {
    position: relative;
}

.shadow-canvas {
    position: absolute;
    border: 1px solid black;
}

.page-action-items {
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.side-arrow-container {
    padding: 0;
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
}

.side-arrow-container:hover {
    background-color: #fafafa;
}

.side-arrow {
    width: 16px;
    height: 16px;
}

.absolute-icon {
    position: absolute;
    padding: 4px;
}

/** comment sections start **/

.comments-wrapper {
    flex: 1 1 25%;
    background-color: #f5f5f5;
    border-left: 1px solid #d5d5d6;
    padding: 10px 15px;
    overflow-y: scroll;
}

.comment-header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.comment-heading {
    font-weight: 500;
    font-size: 15px;
    color: #9e9e9e;
    margin-bottom: 10px;
}

.comment-body {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.comment-body .heading {
    display: flex;
}

.comment-body textarea {
    width: 100%;
    border: 0;
    resize: none;
}

.comment-body textarea::placeholder {
    color: #c3c3c3;
}

.comment-icon {
    margin-right: 10px;
}

.time {
    opacity: .8;
    font-size: 10px;
    color: #868e96;
}

.action-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.action-item button {
    background: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: 0;
    height: 25px;
    position: relative;
    float: left;
    width: 30px;
    margin-right: 3px;
}

.action-item button.active {
    background-color: #616161 !important;
}

.action-item button.active svg path, .action-item button.active svg text {
    fill: #fff;
}

.action-item svg {
    position: absolute;
    width: 20px;
    height: 20px;
}

.tag svg {
    top: 0.3px;
    left: 5.5px;
}

.framework svg {
    top: -1px;
    left: 5px;
}

.custom-markers {
    margin-left: 8px;
}

.custom-markers button {
    margin-right: 0;
}

.custom-markers button span {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    top: -5.5px;
    left: -3px;
}

.form-actions {
    margin-left: 8px;
}

.form-actions button {
    width: 38px !important;
    height: 30px !important;
}

.form-actions .btn-cancel {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-cancel svg {
    width: 10px !important;
    top: 4px;
    left: 14px;
}

.form-actions .btn-primary {
    background-color: #5db85b;
    border-color: #5db85b;
}

.btn-primary svg {
    width: 13px !important;
    top: 4px;
    left: 12px;
}

.selected-frameworks-container {
    width: 100%;
}

.audio-recorder-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    text-align: center;
}

/** comment sections end **/

/** connector line starts**/

.line-annotation div {
    position: absolute;
    border-color: #00adff !important;
    background:  #00adff !important
}

.line {
    border: 1px solid black;
}

/** connector line ends**/

.replyActiveDiv {
    border-top: 1px solid #cecece;
}
.replyActiveDiv textarea{
    border: 1px solid #cecece;
    border-radius: 4px;
}
.replyViewDiv{
    margin-top: 10px;
}
.comment-icon-reply {
    flex: 0 0 15%;
    max-width: 15%;
}
.comment-details-reply{
    flex: 0 0 70%;
    max-width: 70%;
}
.comment-option-reply {
    flex: 0 0 15%;
    max-width: 15%;
    text-align: right;
}