<div class="container box_outer">
    <div class="box_whcls">
        <div class="spdf-container">
            <div #spdfContent class="spdf-content">
                <div [hidden]="!loaded" #spdfBody class="spdf-body">
                    <div #spdfRenderer class="spdf-renderer" (scroll)="onScrollPdf()">
                        <div #spdfCanvasContainer class="spdf-canvas-container">
                        </div>
                        <div class="page-action-items">
                            <button class="side-arrow-container" (click)="navigatePage('previous')">
                                <div class="side-arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                                        <path class="cls-1" d="M7.5,2l-4,4,4,4,1-1-3-3,3-3Z"></path>
                                    </svg>
                                </div>
                            </button>
                            <div class="page-info">
                                <span>{{currentPage}}</span> / <span>{{totalPages}}</span>
                            </div>
                            <button class="side-arrow-container" (click)="navigatePage('next')">
                                <div class="side-arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                                        <path class="cls-1" d="M4.5,10l4-4-4-4-1,1,3,3-3,3Z"></path>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
