body{background:#f3f2ea; font-family: 'Roboto', sans-serif; }
.box_outer{ border-radius:5px;     margin-top: 15px !important;  background:none !important;}
 .topheader{text-align: center; background:url(/assets/video-library/img/bgrep.png) repeat-x;}
 img{ max-width: 100%; }
.bred_an {}
  @media screen and (min-width:1280px) {

.container {
    max-width: 1250px !important;    padding: 0 40px !important; background:none !important;
}


   }

   @media screen and (min-width:1500px) {

.container {
    max-width: 1500px !important;    padding: 0 40px !important;  background:none !important;
}
   }









 /**top headeing bar start **/
.panl_heading {     
    border-bottom: 1px solid #ddd;
    padding: 2.5px 10px;
    background: #f9f9f9;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;   }
	.panl_heading .col-8{ padding:0 7px;}
.panl_heading  h3{    
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 39px;
    color:#212528;

}
.right_opt { text-align:right;     padding-top: 2px;}
.right_opt button{   border: 0;
    padding: 0;
    background: none;
    outline: none !important;
    cursor: pointer !important;
}
.right_opt .select_outer {
    max-width: 216px;
    float: right;
}
/* .right_opt .form-control{ border:0;  -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background:url(/assets/video-library/img/select_down.png) right / 20px no-repeat;
        padding-right: 25px;     background-size: 14px;}

.right_opt .form-control:focus {
    color: #495057;
  background:url(/assets/video-library/img/select_down.png) right / 20px no-repeat;
    border:0;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
} */

/**top headeing bar End**/




select::-ms-expand { display: none; }
.new_fol img{    width: 20px;
    margin-right: 3px;
    position: relative;
    top: -1px;}
.new_huddles {}
.new_hud{ background:#28A745;    color: #fff;}
.pan_right .new_fol{ border:1px solid #CECECE;  margin-right:15px; color:#484848; padding-right:21px; padding-left:21px;}
.new_hud:hover{ color:#fff;}
.new_hud img{position: relative;top: -1px;}
.new_hud .plus_sign {    width: 14px; position: relative;left: -12px;top: 5px;     margin-right: -11px;}
.panl_nav {
        padding: 6px 0px 13px 0px;

       margin: 0 22px 35px 22px; }

.hu_search { width:77%; margin-right:2%; float:left; position: relative;}
.hu_search img{    position: absolute;
    top: 14px;
    right: 11px;
    cursor: pointer;
    opacity: 0.6;
    padding: 2px;}
.hu_search input[type=text]{ width:100%; height:40px; border:1px solid #ddd; border-radius:4px; padding: 10px 11px 10px 42px;    background: url(/home/assets/img/search_icon.png) no-repeat center left 11px;
    background-size: 19px;
    padding-right: 35px;}
.filter_options {width:57%; float:left; }
.filter_options .btn-secondary {    border-color: #cccccc; background:#fff; color: #484848;        padding-right: 5%;
    padding-left: 5%;}
.filter_options .active{ background:#f5f5f5 !important; color: #484848 !important;     border-color: #cccccc !important;}

.filter_options .ic1{ width:18px; margin-right:8px; position: relative;
    top: -1px;} 
.filter_options .ic2{ width:13px; margin-right:8px;position: relative;
    top: -1px;}
.filter_options .ic3{ width:20px; margin-right:8px; position: relative;
    top: -1px;} 

.filter_cls {width:5%; float:left;     padding-top: 7px;     text-align: right;}
.switch_op {width:9%; float:left;     text-align: center;}
.switch_op a svg{ width:15px;}
.switch_op a .cls-1 {fill:#d8d8d8}
.switch_op .s_current .cls-1{fill:#057eff}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus

{    box-shadow: 0 0 0 0 rgba(108,117,125, 0); border-color: #cccccc !important;}
.btn-secondary.focus, .btn-secondary:focus{box-shadow: 0 0 0 0 rgba(108,117,125, 0);}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle
{background:#fff; opacity:1 !important; color: #484848 !important; border-color: #cccccc !important;} 
.switch_op {     border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px;}

.cont_s { padding:0px 0 20px 0;    margin: 0 -8px;}
.switch_op a { display:inline-block;   
       padding: 6px 7px 0px 7px;
    border-radius: 4px;     background: #fff;} 
.switch_op a.s_current {    background: #EAEEF3;}

.exp {text-align:right; color:#616161;}
.huddlebox .col-md-4{    padding: 0 19px;}
.inner_h {border:1px solid #ddd; border-radius:5px;
   
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.1);         margin-bottom: 28px; 
}




.h_icon { float:left; width:20%;}
.h_text { float:left; width:70%;     padding-top: 9px;}
.h_count { float:right; width:10%;     padding-top: 9px; font-weight:600;}
.h_icon span {     display: inline-block;
    border: 1px solid #28a745;
    border-radius: 50%;
    width: 36px;
    height:36px;
    text-align: center;}
	.h_icon span img { position:relative; top:5px;     width: 20px;}
.bottom_hu { border-top:1px solid #ddd;         padding: 25px 0 5px 0; margin-top:20px;}
.h_row { margin-bottom:15px;}
.top_hu {     padding: 20px 0px 0 0px;}
.hu_title label{}
.hu_title label{margin-bottom: 0;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;    font-size: 16px;
    display: block;
    white-space: nowrap;}
.h_icon span.ass_icon { border:1px solid #057eff;}
.h_icon span.col_icon{ border:1px solid #f69d27;}
.huddlebox {        margin: 0 -5px;    padding-bottom: 0px;}
.huddlebox .col-md-3{    padding: 0 11px;}
.foldercls img { width:23px;}
.hu_title span { font-size:13px;}
.hu_title p { margin-bottom:0;     font-size: 14px;     text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;}
	.h_title { float:left; width:80%;}
	.h_title  label {    margin-bottom: 0;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;    font-size: 16px;
    display: block;
    white-space: nowrap;}
	.hu_detail p{     margin: 2px 0 2px 0;    font-size: 14px;     text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;}
	.h_option { float:right; width:20%;     text-align: right;}
	.created_date span{ font-size:12px;}
	.video_count {     background: #EAEEF3;
    padding: 3px 11px;
    float: right;
    border-radius: 15px;
    color: #057EFF;
    text-align: center;
    margin-right: 10px;
    font-size: 12px;     width: 47px;}
	.file_count { 
	
	  background:#EAF3EB; 
    padding: 3px 11px;
    float: right;
    border-radius: 15px;
    color: #28A745;
 
    text-align: center;
    margin-right: 10px;
    font-size: 12px;    width: 47px;
	
	   }
	
	
	.video_count img{ width:12px;     margin-right: 2px;     position: relative;
    top: -1px;}
	.file_count img{ width:8px;     margin-right: 2px;     position: relative;
    top: -1px;}
	.created_date { padding-top:5px;}
	.hu_op img{ max-width:22px;}
	.h_option img{ max-width:22px;}
	.hu_bottom {border-top: 1px solid #ddd;
    padding: 25px 0 5px 0;    min-height: 216px;
    margin-top: 20px;}
	.img_box img {     max-width: 46px;
    position: relative;
    border: 3px solid #fff;
    border-radius: 50%;}
	.img_box span {   width: 29px;
    display: inline-block;}
	.limt_over {       background: #EAEEF3;
    border-radius: 50%;
    width: 43px !important;
    height: 43px;
    text-align: center;
    line-height: 42px;
    font-weight: 600;
    margin-left: 1px;
    padding-left: 5px;}
	.hu_bottom p{ margin-bottom:5px;}
	.img_box { margin-bottom:20px;}
	.hu_last { font-size:13px; text-align:right; color:#A3A3A3;}
	
	.hu_last span{   display: inline-block;
    border: 1px solid #28a745;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    position: relative;
    top: -6px;
    margin-left: 5px;}
	.hu_last span img{    position: relative; top: 3px;width: 15px;}
	
	
	.hu_op button{ border:0; padding:0; background:none;     outline: none !important; cursor:pointer !important;}
	.hu_op .dropdown-toggle::after { display:none;}
	.hu_op .dropdown-menu{        min-width: 74px !important;
    padding: 10px 0px 6px 0px !important;
    right: 0 !important;
    left: initial !important;}
	.hu_op .dropdown-menu a {      padding: 1px 14px 5px 14px;
    font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 0;
    cursor: pointer !important;}
	
		.filter_cls button{ border:0; padding:0; background:none;     outline: none; cursor:pointer;}
	.filter_cls .dropdown-toggle::after { display:none;}
	.filter_cls .dropdown-menu{      min-width: 20px !important;
       padding: 6px 0;
    left: inherit !important;
    right: 0 !important;}
	.filter_cls .dropdown-menu a { font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 5px;
    padding: 2px 12px 7px 11px;
    margin: 0;}
	.filter_cls .dropdown-menu a.active{    color: #057EFF;}
	
	
	.cur_icon { display:inline-block; width:20px; margin-left:10px;}
	

	
	
	.alert_bg{ background:#F7DF9A; padding:10px; margin:0 0 15px 0;     border-radius: 4px;}
	.alert_bg .col-2{ padding-left:0; text-align:center; -webkit-box-flex: 0;
    -ms-flex: 0 0 14.666667%;
    flex: 0 0 14.666667%;
    max-width: 14.666667%;}
	.alert_bg .col-10{ padding:0;}
	.alert_bg img { width:24px; position:relative; top:19px;}
	.alert_bg h6{ font-weight:400; font-size:15px; margin:0; padding:15px 0 20px 0;}
	.alert_bg p{ font-size:12px;}
	.hufooter a.conf_delete{ border:1px solid #CECECE;     padding-right: 30px;
    padding-left: 30px;}
	.modal-body { padding-left:30px; padding-right:30px;}
	.limt_over a {color:#484848; text-decoration:none;}
	.partci p {}
	.par_heading{    border-bottom: 2px solid #D8D8D8;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 0px;
    line-height: 26px;}
	.par_heading .col-6{ padding-left:0;}
	.hufooter a.okbtn{ background:#057EFF; color:#fff;}
	.par_listing img { width:40px; height:40px; border-radius:50%;     margin-right: 9px;}
	.par_email { padding-left:0;    word-break: break-all;     padding-top: 9px; font-size: 14px;}
	.par_listing { font-size:13px; }
	.par_listing {     padding: 12px 0 0 0;}
	.listing_scroll { overflow:auto; max-height:350px;overflow-x: hidden;}
	.border_bottom {    padding-top: 15px;     border-top: 1px solid #ddd;}
	.parti_list h6{font-weight: 400;font-size: 14px;}
	.move_cls h6{font-weight: 400;font-size: 14px;  border-bottom:2px solid #D8D8D8; padding-bottom:4px;     margin: 6px 0 4px 0;}
	.move_cls h6 img{     width: 7px;
    position: relative;
    top: 0px;
    margin: 0 2px;}
	.folder_row img { width:18px; margin-right:10px;    position: relative;
    top: 0px;     float: left;}
	.folder_row { padding-top:15px; font-size:12px}
	.folder_row span img{float: right;    width: 7px; top:2px; float:right; margin: 0;}
	.folder_row label{ display:inline-block; font-weight:400;     max-width: 359px;}
	.hu_gridview{   margin: 0 38px 25px 38px;}
	.hu_gridview .col-3 { padding:0 8px 0 0;}
	.hu_gridview .col-1{ padding:0 5px; text-align:center;}
	.hu_gridview .lgcell{  -webkit-box-flex: 0;
    -ms-flex: 0 0 12%;
    flex: 0 0 12%;
    max-width: 12%;}
	.hu_grid button{ border:0; padding:0; background:none;     outline: none; cursor:pointer;}
	.hu_grid .dropdown-toggle::after { display:none;}
	.hu_grid .dropdown-menu{    min-width: 85px !important;padding: 10px 6px 6px 9px !important;     left: -55px !important;}
	.hu_grid .dropdown-menu a {  font-size:14px !important; background: none !important; color:#484848; margin-bottom:5px;}
	.folder_grid { float:left; width:15%;}
	.folder_detail { float:left; width:85%;}
	.grid_heading { font-size:13px; border-bottom:1px solid #ddd;     padding: 10px 0 6px 0;}
	.grid_row{ font-size:13px; border-bottom:1px solid #ddd;     padding: 10px 0 10px 0;}
   .grid_row label {     margin: 0 0 2px 0; font-size:15px;}
   .grid_row p{ margin-bottom:0;}
   .hu_gridview .lastcell { text-align:right; padding-right:0 !important;}
   
   
   
   /***/
   
   .huddleHeaderDivider{    height: 38px;
    width: 1px;
    float: left;
    background: #ccc;
    margin-right: 2%;
    margin-left: .8%;}
	
	.tabs_bar{}
	.tabs_bar .nav-tabs .nav-item {
    margin-bottom: -1px;
    border: 1px solid #ddd;
      padding: 6px 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
      margin-left: 0; 
}
   
   .tabs_bar .nav-tabs .nav-item a{ color:#A0A0A0; text-decoration:none;     font-size: 15px;} 
   .tabs_bar .nav-tabs .nav-item a.active{ color:#1C7CD5;}
   
  .tabs_bar .nav-tabs { border:0;     position: relative;
    top: 4px;}
  .tabs_bar .tab-content {    margin: 0 -15px;
    padding: 15px;}
   
   .plus_hu button{ border:0; padding:0;background:#28A745;     outline: none; cursor:pointer;           padding: 7px 18px;
    border-radius: 4px;
    margin-left: 12px;}
	.plus_hu .dropdown-toggle::after { display:none;}
	.plus_hu button img { position:relative; top:-1px;}
	.plus_hu .dropdown-menu{    min-width: 85px !important;padding: 10px 6px 6px 9px !important;        left: -95px !important;     -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.1);}
	
	.plus_hu .dropdown-menu a {  font-size:14px !important; background: none !important; color:#484848; margin-bottom:5px;     margin-left: 0;}
	
	.hu_ac { text-align:right;    position: relative;top: -4px; padding-bottom: 4px;}
	
	.hu_ac .plus_hu{ display:inline-block;}
	.hu_ac a{color:#A1A1A1; text-decoration:none;     margin-left: 20px;}
	.hu_ac .sepline{ border-right:1px solid #D8D8D8;     padding-right: 15px;}
	.hu_ac a img { display:inline-block; margin-right: 7px;}
	.tabs_bar .panl_nav{    margin: 0 2px 13px 4px;}
	.thumb_hu{background: #e0e0e0;
    height: 130px;
    margin: -1px -1px 0 -1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    position: relative;
    display: table;
    width: 101%;
    vertical-align: middle;}
	
	.foldercls { float:left; width:12%;}
.hu_title { float:left; width:70%;}
.hu_op { float:left; text-align:right; width:18%;}

.huddle_detail { padding:10px;}

	.huddle_detail .hu_video{float: left;width: 82%;}
	.huddle_detail .hu_video label{text-overflow: ellipsis;
    font-size: 14px;
    display: block;
      margin-bottom:5px;     line-height: 20px; color: #000;
    font-weight: 500; max-height: 40px;} 
	.huddle_detail .hu_op { float:right; text-align:right; width:14%;}
	.huddle_detail .hu_op img { max-width:22px;}
	.h_by{color:#616161}
	.h_date{color:#A3A3A3}
	.huddle_detail p { margin-bottom:0;}
	.huddle_option a{     text-decoration: none;
    border-radius: 50px;
    display: inline-block;
    padding: 2px 10px;
    line-height: 19px;
    height: 22px;
    font-size: 13px;}
	.huddle_option a img{ width:11px;     margin-right: 3px;     position: relative;
    top: -1px;} 
	.chat_cls { background:#EAEEF3; color:#1485FE; margin-right: 5px;}
	
	.huddlebox img { max-width:100%;}
	
	.h_att{ background:#EAF3EB; color:#28A745}
	.arrow_cls { background:#fff; border:1px solid #CCCCCC; float:right;}
	.huddle_option a.arrow_cls img{    width: 14px;}
	.huddle_option{ margin:10px 0 0 0;}
	
	.huddle_option a.arrow_cls img{ margin:0;     position: relative;
    top: -3px;}
	.thumb_hu img {    border-top-left-radius: 5px;    width: 100%;
    border-top-right-radius: 5px;}
	.icontype {    display: table-cell;
    height: 100%;
    padding: 0;
    width: 100%;
    vertical-align: middle;}
	
	.play_icon{    position: absolute;
        top: 33%;
    left: 0;
    right: 0;
    cursor: pointer;}
	
	.video_time{        position: absolute;
    right: 4px;
    bottom: 4px;
    background-color: rgba(0,0,0, 0.7);
    color: #fff;
    border-radius: 4px;
    padding: 2px 7px 2px 6px;
    font-size: 11px;}
.filter_options .btn{ font-size:15px; line-height: 27px;}

   .share_popup .nav-tabs .nav-item a{ color:#A0A0A0; text-decoration:none;     font-size: 15px;} 
   .share_popup .nav-tabs .nav-item a.active{ color:#1C7CD5;}   
  .share_popup .nav-tabs { border:0;     position: relative;}
  .share_popup .tab-content { border-top:1px solid #E4E4E4;     margin: 0 -15px;padding: 15px;}
	.sharepopup .hu_search{ width:100%;     margin-bottom: 10px;}
	
	
	
	
	
	
	/* The container */
.checkboxcls {
  display: block;
  position: relative;
  padding-left: 30px;
    margin: 13px 0;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
      color: #101010;
}

/* Hide the browser's default checkbox */
.checkboxcls input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
     position: absolute;
    top: -1px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #B4BAC3;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.checkboxcls:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.checkboxcls input:checked ~ .checkmark {
      background-color: #fff;
   
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxcls input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxcls .checkmark:after {
  left: 5.7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #5f5f5f;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}






/***/
.upload_video {     float: left;
    width: 14%;
    margin-left: 2%;
    font-size: 14px;}
.upload_video button { background:#28a745; border:0; border-radius:5px; width:100%; color:#fff;     padding: 8px;}
.video_main {
    border-radius: 5px;
    overflow: hidden;
}
.clear{ clear:both;}
.video_main {    background: #fff; margin-bottom: 40px;}


/**video left start***/
.video_lft{ background:#f7f7f7; border-right:1px solid #eeeeee; -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; padding-top:25px;}
	
	.video_lft_inner ul {    padding: 7px 0; margin:0; list-style:none;}
	.video_lft_inner ul li { padding-bottom:8px;color: #434343;}
	.video_lft_inner ul li ul li { padding-bottom:0;}
	.video_lft_inner ul li ul{ padding: 0 0 0 12px;}
	.video_lft_inner h3{ font-size:18px; font-weight:500; padding-bottom:25px;}
	.all_vd {     background: #fff;
    padding: 8px 15px;
    color: #057eff;
    cursor: pointer;
    margin: 0 -15px; font-size:14px;    margin-bottom: 10px;}
	.all_vd span{ float:right; }
	.set_icon { background: #157EFC;
    display: inline-block;
    float: right;
    border-radius: 4px;
        padding: 6px 17px 7px 17px; cursor: pointer; position: relative;; top: -2px;}
	.set_icon img { max-width:15px;}
    .notes_side { font-size: 14px; color: #7B7B7B; }
    .notes_side img{ max-width: 16px; margin:0 3px;  }
	.sign_ar2 { max-width:15px;}
	
	
	.sign_ar{ width:13px;     margin-right: 2px;}  
	.video_lft ul li p{    margin: 0;
    padding-bottom: 2px;
    font-weight: 500;
    font-size: 14px;}
	
	.video_total {     border-top: 1px solid #ddd;
    padding: 11px 21px;
    margin: 0 -15px;
    color: #717171;
    font-weight: 500;}
	.video_lft_inner .checkboxcls i{    color: #057eff; font-style:normal; font-weight: 500; float: right;}
	
	/**video left end***/
	
.video_rgt{-webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;}
	.count_view{color: #101010; font-size:12px;}
	.play_icon img{ max-width:40px;}
	.count_view span{ display:inline-block; padding:0 2px;}
	
	
	/**POPUP Start**/
	
	.f_name { padding-bottom:15px;}
.sharepopup  .hufooter { padding-top:0;}
.share_popup { padding-bottom:0;}

.footerm .row{     width: 94%;
    border-top: 1px solid #e9ecef;
    padding-top: 16px;
    padding-bottom: 3px;
    margin: 0 3%;}	

.footerm .share_btn{ padding-right:0;}
.footerm .col-6 { padding-left:0;}
.footerm{ border:0;     padding-top: 0;}
.share_btn { text-align:right;}
.footerm button{        padding: 10px 28px;
    margin-left: 10px;
    font-size: 14px; margin-left: 10px; }
.footerm button:focus { box-shadow: 0 0 0 0rem rgba(0,123,255,.25);}
.footerm .btn-default{ background:none;}
.footerm .btn-success{ background:#28A745; border:0;}
.share_popup .tab-pane { min-height:100px;}
.footerm .btnpreview{ background:#057EFF; color:#fff;}
.share_popup .nav-tabs .nav-item {
    margin-bottom: -1px;
    border: 1px solid #ddd;
      padding: 6px 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
      margin-left: 0;      width: 33.33%; border-bottom: 0; text-align: center;
}
   
   .share_popup .nav-tabs .nav-item a{ color:#A0A0A0; text-decoration:none;     font-size: 15px;} 
   .share_popup .nav-tabs .nav-item a.active{ color:#1C7CD5;}
   
  .share_popup .nav-tabs { border:0;     position: relative;
    }
  .share_popup .tab-content { border-top:1px solid #E4E4E4;     margin: 0 -15px;
    padding: 15px;}
	.sharepopup .hu_search{ width:100%;     margin-bottom: 10px;}
	
	
	.sharepopup h4 {
    color: #484848;
    font-size: 18px;
    margin: 10px 0px;
}

	.modal-title {font-family: 'Roboto', sans-serif; font-weight:400; 
    font-size: 18px;    display: block; color: #484848;
    text-align: center;
    width: 95%; }
	.close {
    float: right;
    font-size: 28px !important;
    font-weight: 100 !important;
    line-height: 18px !important;}
	
	/*cat popup*/
	.add_cat_row .form-control{ width:75%;
    display: inline-block;     font-size: 14px;
    padding: 7px 10px;}
	.add_cat_row button{ background: #057EFF;
    color: #fff;
    border: 0;
    width: 22%;
    padding: 6px;
    border-radius: 4px; cursor:pointer;}
	.manage_popup p{    color: #7B7B7B;
    font-size: 14px;
        font-style: italic;     margin-bottom: 0;}
		
		.manage_popup a{ color:#057EFF;}
		
		.manage_popup h4{ color:#484848; font-size:18px;     margin: 10px 0px;}
		.manage_popup .col-md-6 { padding:0 25px;}
		.manage_popup .row{ margin:0 -25px;}
		.r_border{    border-right: 1px solid #ddd;}
		.pop_cal_list { height:150px; overflow:auto;}
		.pop_cal_list ul { margin:0; padding:0; list-style:none;}
		.pop_cal_list ul li{ color:#616161; font-size:14px; padding:4px 0; cursor:pointer;}
		.pop_cal_list ul li:hover{ color:#057EFF;}
		.cat_option {    float: right;
    text-align: right;
    width:18%;}
	.cat_option button {
    border: 0;
    padding: 0;
    background: none;
    outline: none !important;
    cursor: pointer !important;
}

.cat_option .dropdown-menu {
    min-width: 74px !important;
    padding: 10px 0px 6px 0px !important;
    right: -30px !important;
    left: initial !important;
}
.cat_option .dropdown-menu a {
    padding: 1px 14px 5px 14px;
    font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 0;
    cursor: pointer !important;
}
.cat_option .dropdown-toggle::after{ display:none;}
.cat_option img { max-width:22px;}
		.not_ac { opacity:0.6;}
		.add_cat_row { padding-top:10px;}
		.cat_listouter { min-height:190px; }
		
	/*cat popup end*/
	
	/*cat  start*/
	.cat_listouter1{    padding-top: 4px;}
	.manage_popup .col-12 {
    padding: 0 25px 20px 25px ;
}
	
	/*cat  start*/
	
	
	/**POPUP End***/
	
	.no_discussions svg { width:30px; height:30px;}
	
	@media(max-width:991px){
		


		.video_lft{ background:#f7f7f7; border-right:1px solid #eeeeee; -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;}
.video_rgt{-webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;}
	.huddleHeaderDivider { display:none;}
	
	.switch_op {
    width: 81px;
    float: right;
    text-align: center;
    position: absolute;
    right: 21px;
}

.upload_video {
    float: left;
    width: 100%;
    margin-left: 0;
    font-size: 14px;
    margin-top: 10px;
}
.filter_cls {
    width: 5%;
    float: left;
    padding-top: 7px;
    text-align: center;
    position: absolute;
    right: 116px;
}
.tabs_bar .panl_nav{ padding-top:0;}

.hu_search {
    width: 100%;
    margin-right: 0;
    float: none;
    padding-right: 142px;
}


	}
   
	@media(max-width:768px){
		
			.huddle_dis_row  .col-md-4, .huddle_dis_heading .col-md-4 {   -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
	
	
	.huddle_dis_row  .col-md-2, .huddle_dis_heading .col-md-2 { padding:0;     -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;}

	
		}
	
	
		
		
		.animation_cls{    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #dfdfdf;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    position: relative;}
	.imgani {  border-radius:50%; width:50px; height:50px;}
	
	.anh{ width:50%; height:25px;}
	.anp{ width:100%; height:15px;}
	.acc { display:inline-block; height:10px; margin-right:12px; width:35px;}
	
	
	
	
@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

	
	.animate_share{
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  
  position: relative;
}
	.share_ani { margin-bottom:10px;}
	.share_ani .anich{ height:20px; margin-right:1%!important; width:4%;display: inline-block;}
	.share_ani .anitxt {height:20px; margin-right:5px !important; width:92%;display: inline-block;}
	


	.animation_cls2{    -webkit-animation-duration: 1.25s;
        animation-duration: 1.25s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-name: placeHolderShimmer;
        animation-name: placeHolderShimmer;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        background: #dfdfdf;
        background: linear-gradient(to right, #e4e4e4 8%, #F0F0F0 18%, #e4e4e4 33%);
        background-size: 800px 104px;
        position: relative;}
        
        .vani1 {height:40px;  width:50%;}
        
        .vani2 {height:30px;  width:100%;}
        .vani3 {height:20px;  width:100%; margin-bottom:10px;}
        .vani4 {height:20px;  width:120px;}
    

        .no_discussions {
            width: 100%;
            margin: 60px auto;
            text-align: center;
        }
		
        .video_rgt { padding-bottom:40px;}
        
        .video-count {
            position: relative;
            top: -10px;
            left: 4px;
        }
		
		.rghtCls{
            font-size: 16px;
        }
		