<video-library-breadcrumbs></video-library-breadcrumbs>
<div class="container box_outer">
    <div class="row video_main">
        <div class="col-12" *ngIf="isLoadingSidebar">
            <div class="row panl_heading">
                <div class="col-8">
                    <h3 class="animation_cls2 vani1"></h3>
                </div>

                <div class="col-4 right_opt">

                    <div class="select_outer animation_cls2 vani1">

                    </div>
                </div>
            </div>

        </div>
        <div class="col-12" *ngIf="!isLoadingSidebar">
            <div class="row panl_heading">
                <div class="col-8">
                    <h3 *ngIf="userAccounts.length==1 && !(userAccounts.length==1 && !original_account)" > {{translation?.video_library_label}} </h3>
                    <h3 *ngIf="userAccounts.length>1 || (userAccounts.length==1 && !original_account)"> {{translation?.video_library_label}} - {{this.selectedAccount[0].company_name}}</h3>
                </div>

                <div class="col-4 right_opt">

                    <div *ngIf="userAccounts.length==1 && false">
                        <p class="rghtCls">{{userAccounts[0].company_name}}</p>
                      
                    </div>
                    <div *ngIf="userAccounts.length>1" class="select_outer">

                        <select id="account_selection" class="form-control" name='selectAccount'
                            (change)="seletedAccount($event.target.value);accountChange();" (click)="removeFocus()" >
                            <option *ngFor="let user of userAccounts"  [selected]="user.id == selectedLibraryAccountId" [value]="user.id">{{user.company_name}}</option>
                        </select>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-2 video_lft">
            <video-library-sidebar [uncategorized]="sidebarObj?.uncategorized" [categories]='sidebarObj?.subjects'
                [user]='user' [totalVideos]='totalVideos' [loading]="isLoadingSidebar" [original_account] = "original_account">
            </video-library-sidebar>
        </div>
        <div class="col-md-10 video_rgt">
            <div class="tabs_bar">

                <div class="tab-content">
                    <!--Panel 1-->
                    <div class="tab-pane fade in show active" id="grid" role="tabpanel">
                        <div class="panl_nav row" *ngIf="isLoadingSidebar">

                            <div class="hu_search">
                                <div class="animation_cls vani2"></div>
                            </div>
                            <div class="filter_cls dropdown">

                            </div>

                            <div class="upload_video">
                                <div class="animation_cls vani2"></div>
                            </div>

                            <div class="clear"></div>

                        </div>

                        <div *ngIf="!isLoadingSidebar" class="panl_nav row">

                            <div class="hu_search">
                                <input type="text" placeholder="{{translation.poeple_search_placeholder}}" [(ngModel)]="searchString"
                                    (ngModelChange)="OnSearchChange($event)">
                                <img _ngcontent-imv-c16="" src="./assets/img/x.svg" class="ng-star-inserted"
                                    *ngIf="searchString" (click)="searchString = ''; OnSearchChange($event)">


                            </div>
                            <div class="filter_cls dropdown centeralign" dropdown>
                                <button type="button" dropdownToggle class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="assets/video-library/img/filter_icon.svg" width="25">
                                </button>
                                <ul class="dropdown-menu" *dropdownMenu role="menu">
                                    <a class="dropdown-item" [class.active]="orderBy == 'title'"
                                     [routerLink]="[]" [queryParams]="{ orderBy: 'title'}" queryParamsHandling="merge"
                                        (click)="changeOrderBy('title')">{{translation?.huddle_title_list}}<i
                                       *ngIf="orderBy === 'title'" class="cur_icon"><img
                                      src="assets/video-library/img/checkmark.svg"></i></a>
                                    <a class="dropdown-item" [class.active]="orderBy == 'created_date'"
                                        [routerLink]="[]" [queryParams]="{ orderBy: 'created_date'}"
                                        queryParamsHandling="merge"
                                        (click)="changeOrderBy('created_date')">{{translation?.artifact_upload_date}}<i
                                            *ngIf="orderBy === 'created_date'" class="cur_icon"><img
                                                src="assets/video-library/img/checkmark.svg"></i></a>
                                    <a class="dropdown-item" [class.active]="orderBy == 'views'" [routerLink]="[]"
                                        [queryParams]="{ orderBy: 'views'}" queryParamsHandling="merge" role="menuitem"
                                        (click)="changeOrderBy('views')">{{translation?.most_watched_vl}}
                                        <i *ngIf="orderBy === 'views'" class="cur_icon"><img
                                                src="assets/video-library/img/checkmark.svg"></i></a>
                                    <a class="dropdown-item" [class.active]="orderBy == 'updated_date'"
                                        [routerLink]="[]" [queryParams]="{ orderBy: 'updated_date'}"
                                        queryParamsHandling="merge" role="menuitem"
                                        (click)="changeOrderBy('updated_date')">{{translation?.artifact_last_modified}}
                                        <i *ngIf="orderBy === 'updated_date'" class="cur_icon"><img
                                                src="assets/video-library/img/checkmark.svg"></i></a>

                                </ul>
                            </div>
                            <div class="upload_video" *ngIf="(original_account) && (sessionData.user_current_account.users_accounts.role_id == 100 || sessionData.user_current_account.users_accounts.role_id == 110  || (sessionData.user_current_account.users_accounts.permission_video_library_upload == 1))">
                                <button (click)="openUploadVideoModal()">
                                    {{translation?.artifacts_upload_videos}}
                                </button>
                            </div>

                            <div class="clear"></div>

                        </div>
                        <ng-container *ngIf="videosList.length==0  && !isLoading ; else elseTemplate">
                            <div class="no_discussions">
                                <svg id="Group_332" data-name="Group 332" xmlns="http://www.w3.org/2000/svg"
                                    width="90.7" height="90.7" viewBox="0 0 90.7 90.7">
                                    <path id="Path_51" data-name="Path 51"
                                        d="M45.35,0A45.29,45.29,0,1,1,13.265,13.265,45.239,45.239,0,0,1,45.35,0Zm0,56.708a6.121,6.121,0,0,1,6.135,6.135,6.192,6.192,0,0,1-6.135,6.218,6.263,6.263,0,0,1-6.218-6.218A6.192,6.192,0,0,1,45.35,56.708Zm0-6.218A4.329,4.329,0,0,1,41.2,46.345L39.132,27.857c-.332-3.233,3.068-6.218,6.218-6.218s6.55,2.985,6.135,6.218L49.5,46.345A4.329,4.329,0,0,1,45.35,50.49Zm26.2-31.422A37.129,37.129,0,1,0,82.409,45.35,37.325,37.325,0,0,0,71.549,19.069Z"
                                        transform="translate(0)" fill="#616161" />
                                </svg>
                                <br>
                                <br>
                                <b *ngIf = "searchString != ''" style="font-size:18px">
                                    {{translation?.library_you_search_didnt_match_any_video}}
                                </b>
                                <b *ngIf = "searchString == '' && totalVideos != 0" style="font-size:18px">
                                    {{translation?.no_videos_in_this_category}}
                                </b>
                                <b *ngIf = "searchString == '' && totalVideos == 0 " style="font-size:18px">
                                    {{translation?.no_library_video_available}}
                                    {{translation?.click_upload_video_button}}
                                </b>
                            </div>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <b class="video-count" *ngIf="!isLoading && (videoCount > 1 ||  videoCount < 1)">{{videoCount}} {{translation?.videos}} </b>
                            <b class="video-count" *ngIf="!isLoading && (videoCount == 1)">{{videoCount}} Video </b>
                            <shared-artifact-grid-box [original_account] = "original_account" [artifacts]="videosList" [loading]="isLoading"
                                [additionalData]="additionalData" pageType='library-page'></shared-artifact-grid-box>
                        </ng-template>




                        <!-- <video-listing [videosList]="videosList"></video-listing> -->


                    </div>

                </div>

            </div>
        </div>

    </div>

</div>