<?php
$sibme_base_url = Configure::read('sibme_base_url');
$users = $this->Session->read('user_current_account');

$profile_image = isset($users['User']['image']) ? $users['User']['image'] : '';
$profile_image_real_path = realpath(dirname(__FILE__) . '/../../../../../') . "/app/webroot/img/users/$profile_image";

if ($profile_image != '') {
    //$profile_image = $this->webroot . "img/users/$profile_image";
    $profile_image = $this->Custom->getSecureSibmecdnImageUrl("static/users/" . $users['User']['id'] . "/" . $users['User']['image']);
} else {
    //$profile_image = $this->webroot . "img/profile.jpg";
    $profile_image = $this->Custom->getSecureSibmeResouceUrl($this->webroot . "img/profile.jpg");
}
if ($data['huddle_type'] == '1') {
    ?>
    <html>
        <body>
            <table width="100%">
                <tbody>
                    <tr>
                        <td style="width: 100px;">
                            <p style="margin-bottom: 270px;">
                                <img src="<?php echo $_SERVER['HTTP_HOST'] . $profile_image; ?>" alt="img" height="75px" width="75px"/>
                            </p>
                        </td>
                        <td>
                            <table  width="100%" cellspacing="5">
                                <tbody>
                                    <tr>
                                        <td><?php echo $data['User']['first_name'] . " " . $data['User']['last_name'] ?> invited you to a Collaboration Huddle.</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 10px;">
                                            <h2 style="color:#3d9bc2"><?php echo $data['AccountFolder']['name']; ?></h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><?php $this->Custom->get_site_settings('site_title') ?> is an awesome video coaching and collaboration platform we use to improve teaching and learning.</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h2><a href="<?php echo $sibme_base_url; ?>/huddles/view/<?php echo $data['AccountFolder']['account_folder_id']; ?>">Click here to get started!</a></h2>
                                        </td>
                                    </tr>
                                    <?php
                                    if (isset($message) && !empty($message)) :
                                        ?>
                                        <tr>
                                            <td>Read <?php echo $data['User']['first_name'] . " " . $data['User']['last_name'] ?>'s message below:</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <?php echo $message; ?>
                                            </td>
                                        </tr>
                                        <?php
                                    endif;
                                    ?>
                                    <tr>
                                        <td>
                                            Still  have questions?
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Contact <?php echo $users['User']['first_name'] . " " . $users['User']['last_name'] ?> at <a href="mailto:<?php echo $users['User']['email']; ?>"><?php echo $users['User']['email']; ?></a>
                                        </td>
                                    </tr>
                                    <?php if (isset($data['participated_user']) && count($data['participated_user']) > 0): ?>
                                        <tr>
                                            <td>
                                                People participating in Huddle include:
                                                <?php
                                                if (isset($data['participated_user']) && count($data['participated_user']) > 0) {
                                                    $user_counter = 0;
                                                    foreach ($data['participated_user'] as $row) {
                                                        if ($user_counter > 0)
                                                            echo ", ";
                                                        echo $participated_user = $row['User']['first_name'] . " " . $row['User']['last_name'];
                                                        $user_counter +=1;
                                                    }
                                                }
                                                ?>
                                            </td>
                                        </tr>
                                    <?php endif; ?>

                                    <tr>
                                        <td>
                                            Delivered by <?php $this->Custom->get_site_settings('site_title') ?> <a href='www.sibme.com' target="_blank">www.sibme.com</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&#160;</td>
                        <td>
                            <a href="<?php echo $sibme_base_url; ?>subscription/unsubscirbe_now/<?php echo $user_id; ?>/4"> Unsubscribe Now  </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </body>
    </html>
<?php }elseif ($data['huddle_type'] == '3') {
    ?>
    <html>
        <body>
            <table width="100%">
                <tbody>
                    <tr>
                        <td style="width: 100px;">
                            <p style="margin-bottom: 270px;">
                                <img src="<?php echo $_SERVER['HTTP_HOST'] . $profile_image; ?>" alt="img" height="75px" width="75px"/>
                            </p>
                        </td>
                        <td>
                            <table  width="100%" cellspacing="5">
                                <tbody>
                                    <tr>
                                        <td><?php echo $data['User']['first_name'] . " " . $data['User']['last_name'] ?> invited you to participate in an Assessment Huddle.</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 10px;">
                                            <h2 style="color:#3d9bc2"><?php echo $data['AccountFolder']['name']; ?></h2>
                                        </td>
                                    </tr>
                                    <?php if (isset($data['AccountFolder']['desc']) && $data['AccountFolder']['desc'] != ''): ?>
                                        <tr>
                                            <td style="padding-bottom: 10px;">
                                                <h2 style="color:#3d9bc2">Description/Instructions:</h2><?php echo $data['AccountFolder']['desc']; ?>
                                            </td>
                                        </tr>
                                    <?php endif; ?>
                                    <tr>
                                        <td style="padding-bottom: 10px;">
                                            <h2 style="color:#3d9bc2">Submission is due:</h2><?php echo $data['submission_time']; ?>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <h2><a href="<?php echo $sibme_base_url; ?>/huddles/view/<?php echo $data['AccountFolder']['account_folder_id']; ?>">Click here to participate!</a></h2>
                                        </td>
                                    </tr>
                                    <?php
                                    if (isset($message) && !empty($message)) :
                                        ?>
                                        <tr>
                                            <td>Read <?php echo $data['User']['first_name'] . " " . $data['User']['last_name'] ?>'s message below:</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <?php echo $message; ?>
                                            </td>
                                        </tr>
                                        <?php
                                    endif;
                                    ?>
                                    <tr>
                                        <td>
                                            Still  have questions?
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Contact <?php echo $users['User']['first_name'] . " " . $users['User']['last_name'] ?> at <a href="mailto:<?php echo $users['User']['email']; ?>"><?php echo $users['User']['email']; ?></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Delivered by <?php $this->Custom->get_site_settings('site_title') ?> <a href='www.sibme.com' target="_blank">www.sibme.com</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&#160;</td>
                        <td>
                            <a href="<?php echo $sibme_base_url; ?>subscription/unsubscirbe_now/<?php echo $user_id; ?>/4"> Unsubscribe Now  </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </body>
    </html>
    <?php
}



else {
    ?>
    <html>
        <body>
            <table  width="100%">
                <tbody>
                    <tr>
                        <td style="width: 100px;">
                            <p style="margin-bottom: 270px;">
                                <img src="<?php echo $_SERVER['HTTP_HOST'] . $profile_image; ?>" alt="img" height="75px" width="75px"/>
                            </p>
                        </td>
                        <td>
                            <table  width="100%" cellspacing="5">
                                <tbody>

                                    <tr>
                                        <td><?php echo $data['User']['first_name'] . " " . $data['User']['last_name'] ?> invited you to participate in a Coaching Huddle.</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 10px;">
                                            <h2 style="color:#3d9bc2"><?php echo $data['AccountFolder']['name']; ?></h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><?php $this->Custom->get_site_settings('site_title') ?> is an awesome video coaching and collaboration platform we use to improve teaching and learning.</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h2><a href="<?php echo $sibme_base_url; ?>/huddles/view/<?php echo $data['AccountFolder']['account_folder_id']; ?>">Click here to get started!</a></h2>
                                        </td>
                                    </tr>
                                    <?php
                                    if (isset($message) && !empty($message)) :
                                        ?>
                                        <tr>
                                            <td>Read <?php echo $data['User']['first_name'] . " " . $data['User']['last_name'] ?>'s message below:</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <?php echo $message; ?>
                                            </td>
                                        </tr>
                                        <?php
                                    endif;
                                    ?>
                                    <tr>
                                        <td>
                                            Still  have questions?
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Contact <?php echo $users['User']['first_name'] . " " . $users['User']['last_name'] ?> at <a href="mailto:<?php echo $users['User']['email']; ?>"><?php echo $users['User']['email']; ?></a>
                                        </td>
                                    </tr>
                                    <?php if (isset($data['participated_user']) && count($data['participated_user']) > 0): ?>
                                        <tr>
                                            <td>
                                                People participating in Coaching Huddle
                                                <?php
                                                if (isset($data['participated_user']) && count($data['participated_user']) > 0) {
                                                    $user_counter = 0;
                                                    $is_ment = "";
                                                    $is_cochee = "";
                                                    foreach ($data['participated_user'] as $row) {
                                                        if ($row['huddle_users']['is_mentee'] == '1') {
                                                            $is_ment = $row['User']['first_name'] . " " . $row['User']['last_name'] . ",";
                                                        } elseif ($row['huddle_users']['is_coach'] == '1') {
                                                            $is_cochee = $row['User']['first_name'] . " " . $row['User']['last_name'] . ",";
                                                        }
                                                        $user_counter +=1;
                                                    }
                                                }
                                                ?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Coach: &#160;  <?php echo rtrim($is_cochee, ','); ?>

                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                Coachee: &#160; <?php echo rtrim($is_ment, ','); ?>

                                            </td>

                                        </tr>
                                    <?php endif; ?>

                                    <tr>
                                        <td>
                                            Delivered by <?php $this->Custom->get_site_settings('site_title') ?> <a href='www.sibme.com' target="_blank">www.sibme.com</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&#160;</td>
                        <td>
                            <a href="<?php echo $sibme_base_url; ?>subscription/unsubscirbe_now/<?php echo $user_id; ?>/4"> Unsubscribe Now  </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </body>
    </html>
<?php } ?>
