<?php $sibme_base_url = Configure::read('sibme_base_url'); ?>
<p>
    Your credit card was declined due to following reason.


</p>
<p><strong><?php echo $error_message ?></strong></p>
<p>
    Regards,<br/>
    <?php $this->Custom->get_site_settings('site_title') ?> Team.
</p>
<p>Still have questions?</p>
<p><a href="<?php echo $sibme_base_url; ?>subscription/unsubscirbe_now/<?php echo $user_id; ?>/5"> Unsubscribe Now  </a></p>
<p>Contact <a href="mailto:<?php echo $this->custom->get_site_settings('static_emails')['info']; ?>"><?php echo $this->custom->get_site_settings('static_emails')['info']; ?></a></p>
