<div id=":6r" style="overflow: hidden;">
    <p>Hi <?php $this->Custom->get_site_settings('site_title') ?> Support,</p>
    <p>
        <?php echo $current_user_email; ?> under account ID = <?php echo $account_id; ?> has reached its Account user limit of : <?php echo $this->Custom->get_allowed_users($account_id); ?>
        for the purchased plan. They have tried to add a user : <?php echo $user_email; ?>, and <?php $this->Custom->get_site_settings('site_title') ?> has stopped the current action.
    </p>

    <br/>

    <p>Thank You.</p>
    <div class="yj6qo"></div>
    <div class="adL">
    </div>

</div>