<nav class="nav nav-header">
    <ul>
        <li data-intercom-target="Workspace" [class.active]="selectedNavItem === navItems.WORKSPACE"
            *ngIf="details.user_current_account.users_accounts.parmission_access_my_workspace=='1' ">
            <a [routerLink]="['/workspace/workspace/home']">{{translation?.header_list_worksapce}}</a>
        </li>

        <li data-intercom-target="Huddles" [class.active]="selectedNavItem === navItems.HUDDLE">
            <a [routerLink]="['/video_huddles/list']">{{translation?.huddle_breadcrumb_huddle}}</a>
        </li>

        <li *ngIf="enableGoals" [class.active]="selectedNavItem === navItems.GOALS">
            <a [routerLink]="['/goals/list']">{{goalAltName}}</a>
        </li>

        <li [class.active]="selectedNavItem === navItems.LIBRARY" *ngIf="details?.library_permission==1">
            <a [routerLink]="['/VideoLibrary']">{{translation?.header_list_library}}</a>
        </li>

        <li [class.active]="selectedNavItem === navItems.ANALYTICS"
            *ngIf="checkAccountAnalyticsPermission && (checkAnalyticsPermission==1 || details?.user_permissions?.UserAccount?.permission_view_analytics==1  || details?.user_current_account?.roles?.role_id==115) && !details?.user_current_account?.accounts?.in_trial">
            <a (click)="submitEvent()"
                [routerLink]="['/analytics_angular/overview']">{{translation?.header_list_analytics}}</a>
        </li>

        <li [class.active]="selectedNavItem === navItems.PEOPLE" *ngIf="isAllowedPeople()">
            <a [routerLink]="['/people']">{{translation?.header_list_people}}</a>

        </li>

    </ul>
</nav>
