<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    
            alert(localStorage.getItem('local_storage_lang'));
            if(localStorage.getItem('local_storage_lang') == null)
            {
                localStorage.setItem('local_storage_lang','en');
            }
            else
            {
                var lang = localStorage.getItem('local_storage_lang');
            }
    
     $(document).ready(function (e) {
                                

                                $.ajax({url: 'https://staging.sibme.com/app/local_storage_language_update/',
                                    data: {user_id: '181',lang:lang},
                                    type: 'post',
                                    dataType: 'json',
                                    success: function (response) {
                                     
                                    }
                                });



                            });
    
</script>    