<div class="modal fade"
        id="sibme_learning_center_modal"
        tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">SLCM</h5>
                <button type="button"  class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><div class="body">Here's body of sibme_learning_center_modal
                    <input type="password" id="password" name="password">
                    <input type="password" id="confirm_password" name="confirm_password">
                </div></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                </button>
                <button type="button" class="btn btn-success"><a
                        href="<?php echo $this->base; ?>">Submit</a>
                </button>
            </div>
        </div>
    </div>
</div>
