.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
	margin: 0 0 3px 10px;
}

.f-preview {
	font:300 14px Roboto;
}

.f-group {
	display: flex;
	margin-bottom: .8em;
	padding: 5px 10px;
}

.f-group:hover {
	cursor: pointer;
}

.selected {
	/*border-left: solid 1px #998B7D;*/
	background-color: #F1F1F1;
	/*padding: 5px 10px;*/
}

.L1 {
	margin-left: 0;
}

.L2 {
	margin-left: 35px;
}

.L3 {
	margin-left: 70px;
}

.pre {
	margin-right: 15px;
}

.form-check-input {
	position: relative;
	margin: .3rem .5rem 0 0;
}

.d-none, .display-none {
	display: none;
}

.overflow-hidden {
	overflow: hidden;
}

.no-padding {
	padding: 0;
}