/**POPUP Start**/

.f_name { padding-bottom:15px;}
.sharepopup  .hufooter { padding-top:0;}
.share_popup { padding-bottom:0;}

.footerm .row{     width: 94%;
    border-top: 1px solid #e9ecef;
    padding-top: 16px;
    padding-bottom: 3px;
    margin: 0 3%;}

.footerm .share_btn{ padding-right:0;     border-top: 1px solid #ddd;
    padding-top: 13px;}
.footerm .col-6 { padding-left:0;}
.footerm{ border:0;          padding: 0 18px 20px 18px;}
.share_btn { text-align:right;}
.footerm button{        padding: 10px 28px;
    margin-left: 10px;
    font-size: 14px; margin-left: 10px; }
.footerm button:focus { box-shadow: 0 0 0 0rem rgba(0,123,255,.25);}
.footerm .btn-default{ background:none;}
.footerm .btn-success{ background:#28A745; border:0;}
.share_popup .tab-pane { min-height:100px;}
.footerm .btnpreview{ background:#057EFF; color:#fff;}
.share_popup .nav-tabs .nav-item {
    margin-bottom: -1px;
    border: 1px solid #ddd;
      padding: 6px 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
      margin-left: 0;      width: 33.33%; border-bottom: 0; text-align: center;
}

   .share_popup .nav-tabs .nav-item a{ color:#A0A0A0; text-decoration:none;     font-size: 15px;}
   .share_popup .nav-tabs .nav-item a.active{ color:#1C7CD5;}

  .share_popup .nav-tabs { border:0;     position: relative;
    }
  .share_popup .tab-content { border-top:1px solid #E4E4E4;     margin: 0 -15px;
    padding: 15px;}
	.sharepopup .hu_search{ width:100%;     margin-bottom: 10px;}


	.sharepopup h4 {
    color: #484848;
    font-size: 18px;
    margin: 10px 0px;
}

	.modal-title {font-family: 'Roboto', sans-serif; font-weight:400;
    font-size: 18px;    display: block; color: #484848;
    text-align: center;
    width: 95%; }
	.close {
    float: right;
    font-size: 28px !important;
    font-weight: 100 !important;
    line-height: 18px !important;}

	/*cat popup*/
	.add_cat_row .form-control{ width:86%;
    display: inline-block;     font-size: 14px;
    padding: 7px 10px;}
	.add_cat_row button{ background: #057EFF;
    color: #fff;
    border: 0;
    width: 13%;
    padding: 6px;
    border-radius: 4px; cursor:pointer;}
	.manage_popup p{    color: #7B7B7B;
    font-size: 14px;
        font-style: italic;     margin-bottom: 0;}

		.manage_popup a{ color:#057EFF;}

		.manage_popup h4{ color:#484848; font-size:18px;     margin: 10px 0px;}
		.manage_popup .col-md-12 { padding:0 25px;}
		.manage_popup .row{ margin:0 -25px;}
		.r_border{    border-right: 1px solid #ddd;}
		.pop_cal_list { height:250px; overflow:auto;}
		.pop_cal_list ul { margin:0; padding:0; list-style:none;}
		.pop_cal_list ul li{ color:#616161; font-size:14px; padding:4px 0; cursor:pointer;}
		.pop_cal_list ul li:hover{ color:#057EFF;}
		.cat_option {    float: right;
    text-align: right;
    width:18%;}
	.cat_option button {
    border: 0;
    padding: 0;
    background: none;
    outline: none !important;
    cursor: pointer !important;
}

.cat_option .dropdown-menu {
   min-width: 74px !important;
    padding: 10px 0px 6px 0px !important;
    right: 5px;
    left: initial !important;
    transform: translate3d(0px, 20px, 0px) !important;
}
.cat_option .dropdown-menu a {
    padding: 1px 14px 5px 14px;
    font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 0;
    cursor: pointer !important;
}
.cat_option .dropdown-toggle::after{ display:none;}
.cat_option img { max-width:22px;}
		.not_ac { opacity:0.6;}
		.add_cat_row { padding-top:10px;}
		.cat_listouter { min-height:190px; }

	/*cat popup end*/

	/*cat  start*/
	.cat_listouter1{    padding-top: 4px;}
	.manage_popup .col-12 {
    padding: 0 25px 20px 25px ;
}

	/*owner*/
.owner_pop{padding: 1rem 32px;}
	.owner_h { font-weight: 500;          border-bottom: 1px solid #ddd; font-size: 14px; margin-bottom: 10px;}
  .owner_h .col-6, .owner_nr .col-6{ padding-left: 0; white-space: normal;    word-break: break-all; font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;    padding-right: 30px;
  }
  .owner_nr { padding: 10px 0; position:relative; font-size: 14px;}
	.br_sky{ background: #057EFF !important; }
  .owner_nr .col-6 img { margin-right:5px; width: 35px; height: 35px; border-radius: 50%;    object-fit: cover;
}
.ow_srch { padding:0; margin-bottom:20px;}
.br0 { border-radius: 0 !important;
    object-fit: contain !important;}
	.cross_ow { position:absolute; right:0; top:15px; cursor:pointer;}

/*Owner*/
/*Add New Start*/

.newgoal_popup .g_role i{    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 4px;}

 .g_role_pop {
    justify-content: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    }
	.g_role_pop .btn-secondary {
    border-color: #cccccc !important;
    background: #fff !important;
    color: #484848 !important;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 15px;
    line-height: 27px;
    margin-right: -3px; box-shadow: 0 0 0 0rem rgba(108,117,125,.5) !important;}

.g_role_pop .active {
    background: #f5f5f5 !important;
    color: #484848 !important;
    border-color: #cccccc !important;
}

.g_role_pop .btn-secondary img { position:relative; top:-2px; margin-right:2px;}
.g_role_pop { margin:20px 0px;     width: 100%;}
.g_role_pop  .rck { display:none;}
.g_role_pop .active .rck { display:inline-block;}
.g_role_pop  .active .run { display:none;}
.g_role_pop .btn-secondary i{display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 4px;}
.mb50{ margin-bottom:50px;}

/*Add New End*/

/*Collaborators Start*/

.owner_h .col-2{ padding-left:0;     -webkit-box-flex: 0;
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;}

.owner_h .col-3{ padding-left:0;     -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;}
 .owner_h .col-7{ padding-left:0;     -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;}


.owner_nr .col-2{ padding-left:0;     -webkit-box-flex: 0;
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;     margin-top: auto;
    margin-bottom: auto;}
.owner_nr .col-3{ padding-left:0;     -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;     margin-top: auto;
    margin-bottom: auto;}
.owner_nr .col-7{ padding-left:0;   -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;     margin-top: auto;
    margin-bottom: auto;}
	.collab_pop .cross_ow{ top:7px;}


 .collab_btn {
    justify-content: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    }
	.collab_btn .btn-secondary {
    border-color: #cccccc !important;
    background: #fff !important;
    color: #484848 !important;
    padding-right: 6%;
    padding-left: 6%;
    font-size: 15px;
    line-height: 27px;
    margin-right: -3px; box-shadow: 0 0 0 0rem rgba(108,117,125,.5) !important;}

.collab_btn .active {
    background: #f5f5f5 !important;
    color: #484848 !important;
    border-color: #cccccc !important;
}

.collab_btn .btn-secondary img { position:relative; top:-2px; margin-right:2px;}
.collab_btn { margin:0px 0px;     width: 100%;}
.collab_btn  .rck { display:none;}
.collab_btn .active .rck { display:inline-block;}
.collab_btn  .active .run { display:none;}
.collab_btn .btn-secondary i{display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 4px;}

	.owner_nr .col-3 label{ display:block; white-space:nowrap; overflow:hidden;     text-overflow: ellipsis;}

/*Collaborators End*/

/*Delete Conf Start*/

.connf_bg {     padding: 25px 20px 25px 63px; background:#F7DF9A; margin-bottom:20px; position:relative; border-radius:5px;}
.connf_bg b{ color:#707070; font-weight:500; display:block; font-size:15px; }
.connf_bg label{ color:#000; font-weight:500; display:block; font-size:15px; margin-bottom:10px;}
.connf_bg p{ color:#707070; font-weight:400; font-size:14px; margin:0;}
.delt_f { border:0 !important;}
.del_btn {     border: 1px solid #CED4DA; background:none !important;}
.connf_bg img { position:absolute; left:20px; top:20px;}
/*Delete Conf End*/


/**Goal Work HTML**/

.added_btn { background:#28A745; display:inline-block; text-align:center; color:#fff !important;
 border-radius:50px;     padding: 4px 3px;

    width: 92px;     text-decoration: none !important;}
.video_addbtn { border-radius:50px; display:inline-block; text-align:center;
  border:1px solid #CCCCCC; color:#616161 !important; padding: 4px 3px;

        width: 92px;     text-decoration: none !important;     background: #fff;}

.video_heading_e { border-top:1px solid #ddd; padding:10px 0 10px 0; margin:0; margin-top: 11px;}
.video_list_e { border-top:1px solid #ddd; padding:10px 0 10px 0;     font-size: 14px; margin: 0;}
.vide_th_e img{    border-radius: 4px;}

.video_list_e img { max-width:100%;}
.video_list_e .col-2{ padding: 0; }
.video_heading_e .col-2{ padding: 0; }

.video_list_e .col-7{flex: 0 0 50%;
    max-width: 50%; padding-left:0;}
.video_list_e .col-3{flex: 0 0 25%;
    max-width: 25%;     margin-top: auto;
    margin-bottom: auto;}
.video_list_e .col-2{flex: 0 0 25%;
    max-width: 25%;     margin-top: auto;
    margin-bottom: auto;     text-align: right;}





 .thumbnail_e {
    background: #e0e0e0;
    height: 65px;
    margin: -1px 0 0 0px;
    border-radius: 4px;
    text-align: center;
    position: relative;
    width: 37%;
    float: left;
}
 .title_cls {
    width:58%;
    float: left;
    margin-left: 5%;
    color: #010101; word-break: break-word;
}
.thumbnail_e.audio_thumbnail {
  background: white !important;
  border: 1px solid #e1e1e1;
}




.time_cls {
    position: absolute;
    right: 4px;
    bottom: 4px;
    background-color: rgba(0,0,0, 0.7);
    color: #fff;
    border-radius: 4px;
    padding: 3px 9px 3px 6px;font-size: 12px;
}



.addvideo_e { width:100%;}
.addvideo_e input[type=text]{ width:100%; height:40px; border:1px solid #ddd; border-radius:5px; padding:10px 11px;    background: url(/home/assets/goals/img/search_icon.svg) no-repeat center left 11px;
    background-size: 19px;
    padding-left: 35px;     margin-bottom: 20px;     font-size: 14px;}


.evi_footer .btn-success {
    background: #28a745!important;
    border: 0;
    font-weight: 500;
}
.evi_footer button{ font-size:14px; padding: 9px 24px;}

.evi_footer .row {
    width: 100%;
    border-top: 1px solid #e9ecef;
    padding-top: 16px;
    padding-bottom: 3px;
    margin: 0!important;
}
.evi_footer { border:0 !important;     padding: 0;}
.evi_footer .modal_btn { text-align:right;     border-top: 1px solid #e9ecef; padding-top:12px; padding-right:0;}

.play_icon_e {      background: #fff;
    border-radius: 3px;
    position: absolute;
    left: 3px;
    bottom: 3px;
    padding: 0px 7px 1px 7px;
    line-height: 21px}
.bgnone {
    background: none;
}
.addv_footer button{ font-size:14px;}
.video_addbtn img {    max-width: 10px;margin-right: 2px;}
.video_list_e b{ font-size:14px; color:#484848;     font-weight: normal;}


	.evi_popup .nav-tabs .nav-item {
    margin-bottom: -1px;
    border: 1px solid #ddd;
      padding: 0px 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
      margin-left: 0;      width: 130px; border-bottom: 0; text-align: center;cursor: pointer;
}

   .evi_popup .nav-tabs .nav-item a{ color:#A0A0A0; text-decoration:none;     font-size: 15px; display:block; padding:6px 0;}
   .evi_popup .nav-tabs .nav-item a.active{ color:#1C7CD5;}

  .evi_popup .nav-tabs { border:0;     position: relative;
    }
  .evi_popup .tab-content { border-top:1px solid #E4E4E4;     margin: 0 -15px;
    padding: 15px;}
	.modal-header {
    background: #f9f9f9;
}
.btn_w { width:130px !important;}
.gw_title span{ position:absolute;     right: 0;
    top: 17px;}
.gw_title {     position: relative;
    border-bottom: 1px solid #ddd;
    padding: 16px 0px;
       font-weight: 500;
    top: 1px; margin:0; }
	.expen_list {    background: #F7F7F7;
    margin: 0 -15px;
    padding: 0 15px;     border-top: 1px solid #ddd;     border-bottom: 1px solid #ddd;}
	.expen_list .title_wk { border:0;     margin: 0 -15px;
    padding: 10px 15px; background: #fff;     border-bottom: 1px solid #ddd;
    position: relative;
    top: 1px;
}

	.gfile_icon {    display: flex;
    width: 100%;
    text-align: center;
    height: 100%;
    align-items: center;
    justify-content: center;}
	.frm_popup { font-size:14px; padding-bottom:20px;}

	.frme_list { background:#F3F3F3; padding:15px; margin-top:20px;}
	.hulist_list_e .col-1{ padding:0; text-align:center;}
	.hud-mrg{ margin-left: -7px;}
	.hulist_list_e {
    border-top: 1px solid #ddd;
    padding: 10px 0 10px 0;
    font-size: 14px;
    margin: 0;
}
.hulist_list_e .col-6 { padding-left:0;     -webkit-box-flex: 0;
    -ms-flex: 0 0 46%;
    flex: 0 0 46%;
    max-width: 46%;     margin-bottom: auto;
    margin-top: auto;}

.hulist_list_e .col-2{-webkit-box-flex: 0;
    -ms-flex: 0 0 19%;
    flex: 0 0 19%;
    max-width: 18%;     margin-bottom: auto;
    margin-top: auto;
    padding-right: 11px !important;
    padding-left: 10px !important;
}

	.hulist_list_e .col-3{-webkit-box-flex: 0;
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;     text-align: right;
    padding-right: 0;     margin-bottom: auto;
    margin-top: auto;}


.hulist_list_e .col-1 { padding-left:0;     -webkit-box-flex: 0;
    -ms-flex: 0 0 13%;
    flex: 0 0 13%;
    max-width: 13%;     margin-bottom: auto;
    margin-top: auto;}
	.hulist_list_e b {    font-size: 14px;
    color: #484848;
    font-weight: normal;}


	/*Goal Work**/


    /**POPUP End***/


    .popup_scroll {
        max-height: 260px !important;
        overflow: auto;
        overflow-x: hidden;
        padding-right: 18px;
        min-height: 175px !important
    }
    .popup_scroll_h {
        max-height: 260px !important;
        overflow: auto;
        overflow-x: hidden;
        padding-right: 18px;
    }
    /* .slimscroll-wrapper .popup_scroll .slimscroll-bar{
        height: 78.037px !important;
    } */




/* animations css */


@-webkit-keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }

  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
   .g_ani2{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
        background: linear-gradient(to right, #ededed 8%, #e9e9e9 18%, #ededed 33%);
    background-size: 800px 104px;

    position: relative;
  }


   .g_ani3{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
        background: linear-gradient(to right, #dddddd 8%, #d5d5d5 18%, #d5d5d5 33%);
    background-size: 800px 104px;

    position: relative;
  }



  .g_ani{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;

    position: relative;
  }

  .gn1{ width:50%; height:40px;}
  .gn2{ width:50px; height:40px; float:right;}
  .gn3{ width:100%; height:37px;}
  .gn4 {    border-radius: 50%;
      width: 35px;
      height: 35px; display:inline-block;}
      .mleft8 {    margin-left: -9px !important;}
      .cg1 { height:20px; width:100%; margin-bottom:10px;}
      .cg2 { height:20px; width:40%; margin-bottom:10px;}
      .cg3 { height:30px; width:100%; margin-bottom:10px;}
      .cg4 { height:60px; width:100%; margin-bottom:10px;}


  .goa1{width:50%; height:40px;}
  .goa2{    width: 34%;
      height: 32px;
      display: inline-block;
      position: relative;
      top: 4px;}
  .p0 { padding:0;}


  .goa3{    margin-right: 5px;
      width: 38px;
      height: 38px;
      border-radius: 50%; display:block;}
      .goa4{ height:18px;
      display: block; width: 34%; margin-bottom:10px !important;}
      .goa5{ height:32px;
      display:block; width: 34%;}


  .goa6{    float: right;
      width: 61%;
      position: relative;
      top: 20px;
      height: 18px;
      display: block;}

          .goa7{ height:18px;
      display:block; width: 80%; margin:0  0 10px 0!important;}
      .goa8{ height:18px;
      display:block; width: 80%; margin:0  0 0px 0!important;}

      .goa9{ height:35px;
      display:block; width: 50%; margin:0  0 10px 0!important;}

      .goa10{ height:18px;
      display:block; width: 100%; margin:0  0 10px 0!important;}


      .goa11{
      width: 10%;

      height: 18px;
      display: block; margin-bottom:8px !important;}


      .goa12{
      width: 40%;

      height: 18px;
      display: block;}

      .goa13{
      width: 100%;

      height: 18px;
      display: block;}

          .goa14{
      width: 100%;

      height: 40px;
      display: block;     margin-bottom: 20px;}

          .goa15{
      width: 100%;

      height: 18px;
      display: block; margin-bottom:8px;}


      .goa16{
        height: 29px;
      display: inline-block;
      border-radius: 50px;
      padding: 4px 3px;
      width: 92px;
      margin-left: 18px;}
      .pop_nofound {
        text-align: center;
        display: block;
        margin: 0;
        padding: 40px;
        font-size: 21px;
    }

  .vide_th_e img {height: 65px;
    width: 100%;
    object-fit: cover;}

.disableButton{
    opacity: 0.2;
}
.thumbnail_text {
    background: #000;
    color: #fff;
    font-size: 9px;
    line-height: 11px;
    padding: 5px 4px 7px 4px;
    max-width: 99px;
    border-radius: 4px;
    min-height: 70px;
}
.thumbnail_text a
{
  font-size: 9px;
  color: blue;
  padding: 5px 0 0 0;
  display: block;
  text-align: center;
}

.gfile_icon img{ max-width:30px;}
.thumbnail_default_cl{object-fit: contain !important;max-width: 92% !important;}
.custom_padding
{
  padding: 7px 3px 3px 3px !important;
}
