
        <!-- Modal content-->
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="evidenceType=='video'">{{translation?.artifact_videos}}</h4>
                <h4 class="modal-title" *ngIf="evidenceType=='resource'">{{translation?.artifacts_resource}}</h4>
                <h4 class="modal-title" *ngIf="evidenceType=='huddle'">{{translation?.huddle}}</h4>
                <h4 class="modal-title" *ngIf="evidenceType=='scripted_notes'">{{translation?.artifact_scripted_notes}}
                </h4>
                <button type="button" class="close" (click)="modalRef.hide()">×</button>

            </div>

            <div class="modal-body evi_popup" *ngIf="evidenceType!='huddle'">

                <ul class="nav nav-tabs">
                    <li class="nav-item" (click)="switchTabs(0)">

                        <a class="" [class.active]='!switch' data-toggle="tab" data-target="#Sharetoworkspace2"
                            role="tab">{{translation?.analytics_workspace}}</a>
                    </li>
                    <li class="nav-item itm2" (click)="switchTabs(1)">
                        <a [class.active]='switch' data-toggle="tab" data-target="#Sharetohuddle2" role="tab">{{translation?.huddle}}</a>
                    </li>
              </ul>

                <div class="tab-content">
                    <div class="row">
                        <div class="col-12">
                            <div class="addvideo_e">


                                <input type="text" placeholder="{{searchText}}" [(ngModel)]="SearchString"
                                (ngModelChange)="OnSearchChange($event)">

                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="!switch; then workspaceTab;">
                    </ng-container>
                    <ng-container *ngIf="switch; then huddleTab;">
                    </ng-container>

                </div>
                <div class="modal-footer evi_footer">
                    <div class="col-12 modal_btn">
                        <button type="button" class="btn btn-default bgnone"
                            data-dismiss="modal" (click)="modalRef.hide()">{{translation?.cancel_popup}}</button>
                        <button type="button" [disabled]="selectedEvidence==undefined || selectedEvidence.length==0" class="btn btn-success" (click)="save()">{{translation?.artifacts_done}}</button>
                    </div>


                </div>
            </div>



            <ng-container *ngIf="evidenceType=='huddle'; then huddle;">
            </ng-container>









<ng-template #workspaceTabLoading>
    <div style="height: 266px;">
        <div style="padding-top: 26px;" class="row video_list_e">
            <div class="col-7">
                <div class="thumbnail_e g_ani3">
                        <div class="gfile_icon"></div>
                       </div>


                       <div class="title_cls">
         <p><span class="goa15 g_ani"></span><span class="goa15 g_ani"></span></p>


      </div>

            </div>
            <div class="col-3"><span class="goa13 g_ani"></span></div>
            <div class="col-2"><span class="goa16 g_ani"></span></div>
        </div>
        <div class="row video_list_e">
            <div class="col-7">
                <div class="thumbnail_e g_ani3">
                        <div class="gfile_icon"></div>
                       </div>


                       <div class="title_cls">
         <p><span class="goa15 g_ani"></span><span class="goa15 g_ani"></span></p>


      </div>

            </div>
            <div class="col-3"><span class="goa13 g_ani"></span></div>
            <div class="col-2"><span class="goa16 g_ani"></span></div>
        </div>
        <div class="row video_list_e">
            <div class="col-7">
                <div class="thumbnail_e g_ani3">
                        <div class="gfile_icon"></div>
                       </div>


                       <div class="title_cls">
         <p><span class="goa15 g_ani"></span><span class="goa15 g_ani"></span></p>


      </div>

            </div>
            <div class="col-3"><span class="goa13 g_ani"></span></div>
            <div class="col-2"><span class="goa16 g_ani"></span></div>
        </div>
        </div>
</ng-template>

<ng-template #workspaceTab>

        <div *ngIf="evidenceList.length == 0 && !evidenceLoading && evidenceType == 'resource' " class="row pop_nofound"><img style="margin: 13px;" src="assets/img/no_info.svg">{{translation?.goals_no_resource_found}}
        </div>
        <div *ngIf="evidenceList.length == 0 && !evidenceLoading && evidenceType == 'video' " class="row pop_nofound"><img style="margin: 13px;" src="assets/img/no_info.svg">{{translation?.goals_no_video_found}}
        </div>
        <div *ngIf="evidenceList.length == 0 && !evidenceLoading && evidenceType == 'scripted_notes' " class="row pop_nofound"><img style="margin: 13px;" src="assets/img/no_info.svg">{{translation?.goals_no_scripted_notes_found}}
        </div>

        <div *ngIf="evidenceList.length > 0 && !evidenceLoading" class="row video_list_e">
            <div class="col-7"><b>{{translation?.analytics_name}}</b></div>
            <div class="col-3"><b>{{translation?.artifact_upload}}</b></div>
            <div class="col-2"></div>
        </div>

    <ng-container *ngIf="evidenceLoading; then workspaceTabLoading"></ng-container>
    <ng-container *ngIf="!evidenceLoading">
    <div style="height: 250px;">
        <div class="popup_scroll" (scroll)="onScroll($event)" #evidence_scroll slimScroll
        [options]="opts" [scrollEvents]="scrollEvents">
        <div class="row video_list_e" *ngFor="let item of evidenceList">
            <!-- {{item|json}} -->
                        <!-- video box -->
                        <div *ngIf="evidenceType =='video'" class="col-7" [ngClass]="{'disableButton': (item?.published==0  || item?.thubnail_url ==null) && (item?.transcoding_status!=5 && item?.encoder_status!='Error')}">
                            <div class="thumbnail_e"
                                *ngIf="item?.published==1 && item?.thubnail_url !=null  && item?.video_duration > 0 && (item?.transcoding_status!=5 && item?.encoder_status!='Error')">
                                <div class="vide_th_e" *ngIf=" (item?.transcoding_status!=5 || item?.encoder_status!='Error')">
                                    <img [ngClass]="{'thumbnail_default_cl':item.thumbnail_type =='default'}" [src]="item.thubnail_url"></div>
                                <span class="play_icon_e"> <img src="assets/goals/img/play_gry-sml.svg"> </span>
                                <span class="time_cls">{{goalWorkService?.FormatSeconds(item?.video_duration)}}</span>
                            </div>


                            <div class="thumbnail_e"
                                *ngIf="item?.published==1 && item?.thubnail_url !=null  && item?.video_duration == 0 && (item?.transcoding_status!=5 && item?.encoder_status!='Error')">

                                <div *ngIf=" (item?.transcoding_status!=5 || item?.encoder_status!='Error')" class="vide_th_e">
                                    <img [ngClass]="{'thumbnail_default_cl':item.thumbnail_type =='default'}" [src]="item.thubnail_url"></div>
                                <span class="play_icon_e"> <img src="assets/img/play_gry-sml.svg"> </span>
                                <span class="time_cls ">{{detailsService?.FormatSeconds(item?.video_duration)}}</span>
                            </div>
                            <div class="thumbnail_e"
                                *ngIf="item?.published==1 && item?.thubnail_url !=null  && item?.video_duration ==-1 && (item?.transcoding_status!=5 && item?.encoder_status!='Error')">

                                <div *ngIf=" (item?.transcoding_status!=5 || item?.encoder_status!='Error')" class="vide_th_e">
                                    <img [ngClass]="{'thumbnail_default_cl':item.thumbnail_type =='default'}" [src]="item.thubnail_url"></div>
                                <span class="play_icon_e"> <img src="assets/img/play_gry-sml.svg"> </span>
                                <span class="time_cls ">{{detailsService?.FormatSeconds(item?.video_duration)}}</span>
                            </div>
                            <div class="thumbnail_e"
                                *ngIf="(item?.published==0  || item?.thubnail_url ==null) && (item?.transcoding_status!=5 && item?.encoder_status!='Error')">
                                <ng-container>
                                    <div class="video_crope thumbnail_text" style="padding: 5px 4px 20px 4px;">
                                        <p
                                            *ngIf="(item?.transcoding_status!=5 || item?.encoder_status!='Error') && !this.headerService.isAValidAudio(item?.file_type) && item?.upload_status != 'cancelled'">
                                            {{translation?.artifacts_video_currently_processing}}

                                        </p>
                                        <p
                                            *ngIf="(item?.transcoding_status!=5 || item?.encoder_status!='Error') && !this.headerService.isAValidAudio(item?.file_type) && item?.upload_status == 'cancelled'">
                                            {{translation?.artifact_cancelled_uploadvideo}}

                                        </p>
                                        <p
                                            *ngIf="(item?.transcoding_status!=5 || item?.encoder_status!='Error') && this.headerService.isAValidAudio(item?.file_type)">
                                            {{translation?.artifacts_audio_currently_processing}}

                                        </p>
                                    </div>

                                </ng-container>
                            </div>

                            <div class="thumbnail_e" *ngIf=" (item?.transcoding_status==5 || item?.encoder_status=='Error')">
                                <div class="video_crope thumbnail_text" style="margin-top:0px;padding: 5px 4px 20px 4px;">
                                    {{translation?.video_not_processed}}<a class="btn btn-link">support@sibme.com</a>
                                </div>

                            </div>


                            <div class="title_cls">
                                <p>{{item.title | slice: 0:50}}<span *ngIf="item.title.length>=50">...</span></p>


                            </div>

                        </div>
                        <!-- resource box -->
                        <div class="col-7" *ngIf="evidenceType =='resource'">
                            <div class="thumbnail_e">

                                <div class="gfile_icon" *ngIf="item.doc_type == '5'; else other">
                                    <img style="max-width: 45px;" src="assets/img/url-icon.svg">
                                </div>
                                <ng-template #other>
                                    <div class="gfile_icon">
                                    <img [src]="item.thubnail_url">
                                </div>
                                </ng-template>
                            </div>




                            <div class="title_cls">
                                <p>{{item?.title}}</p>


                            </div>

                        </div>
                        <!-- scripted notes box -->
                        <div class="col-7" *ngIf="evidenceType =='scripted_notes'">
                            <div class="thumbnail_e">
                                <div class="gfile_icon"><img [src]="item.thubnail_url"></div>
                            </div>


                            <div class="title_cls">
                                <p>{{item?.title}}</p>


                            </div>

                        </div>

                        <div class="col-3" [ngClass]="{'disableButton': (item?.published==0  || item?.thubnail_url ==null) && (item?.transcoding_status!=5 && item?.encoder_status!='Error')}">{{headerService?.formateDate(item?.created_date,"ll")}}</div>
                        <ng-container *ngIf="item.selected then addedBtn else addBtn"></ng-container>

                        <ng-template #addBtn>
                            <div class="col-2" (click)="toggleSelectedEvidence(item)" *ngIf="item?.published==1 && item?.encoder_status!='Error'"><a class="video_addbtn"><img src="assets/goals/img/plus_gry.svg"> {{translation?.artifact_add}}</a></div>
                            <div class="col-2 disableButton" *ngIf="item?.published==0 || item?.encoder_status=='Error'"><a class="video_addbtn"><img src="assets/goals/img/plus_gry.svg"> {{translation?.artifact_add}}</a></div>

                        </ng-template>
                        <ng-template #addedBtn>
                        <div class="col-2"><a class="added_btn" ><img src="assets/goals/img/video_added_check.svg">
                            {{translation?.artifacts_video_added}} </a>
                            </div>
                        </ng-template>
        </div>
        </div>
    </div>
    </ng-container>
</ng-template>

<ng-template #huddleTabLoading>
    <!-- AQIB -->

        <div *ngFor="let arr of [1,1,1,1,1,1,1,1]">
            <div class="worksp_line">
                <p class="gw_title"><span class="goa13 g_ani"></span></p>
                <div class="expen_list" style="display:none">
                   <div class="row video_list_e title_wk">
                      <div class="col-7"><span class="goa13 g_ani"></span></div>
                      <div class="col-3"><span class="goa13 g_ani"></span></div>
                      <div class="col-2"></div>
                   </div>
                   <div class="row video_list_e">
                      <div class="col-7">
                         <div class="thumbnail_e">
                            <div class="gfile_icon"><img src="img/file_icon1.svg"></div>
                         </div>
                         <div class="title_cls">
                            <p>Faculty meeting presentation</p>
                         </div>
                      </div>
                      <div class="col-3">12/20/2018</div>
                      <div class="col-2"><a class="added_btn" href="#"><img src="img/video_added_check.svg"> {{translation?.artifacts_video_added}}</a></div>
                   </div>
                </div>
             </div>
        </div>
</ng-template>

<ng-template #huddleTab>
    <div style="height: 266px;">
        <ng-container *ngIf="!SearchString && evidenceLoading; then huddleTabLoading"></ng-container>
        <ng-container *ngIf="!SearchString && !apiLoading">
            <div  [ngClass]="{'popup_scroll': !evidenceLoading, 'popup_scroll_h': evidenceLoading }" (scroll)="onScroll($event)" #evidence_scroll slimScroll
            [options]="opts" [scrollEvents]="scrollEvents">
            <div class="worksp_line" *ngFor="let evidence of evidenceList">

                        <p class="gw_title"> {{evidence.title}} <span class="cp" (click)="toggleList(evidence)"><img *ngIf="evidence.toggle" src="assets/goals/img/arrow_up.svg"> <img *ngIf="!evidence.toggle" src="assets/goals/img/arrow_down.svg"></span></p>
                        <div class="expen_list" *ngIf="evidence.toggle">
                            <div class="row video_list_e title_wk">
                                <div class="col-7"><b>{{translation?.analytics_name}}</b></div>
                                <div class="col-3"><b>{{translation?.artifact_upload}}</b></div>
                                <div class="col-2"></div>
                            </div>
                        <div class="popup_scroll" slimScroll [options]="opts">
                            <div *ngIf="evidence.loadingDocuments">
                                <div *ngFor="let arr of [1,2,3]" class="row video_list_e">
                                    <div class="col-7">
                                        <div class="thumbnail_e g_ani3">
                                                <div class="gfile_icon"></div>
                                            </div>


                                            <div class="title_cls">
                                <p><span class="goa15 g_ani"></span><span class="goa15 g_ani"></span></p>


                            </div>

                                    </div>
                                    <div class="col-3"><span class="goa13 g_ani"></span></div>
                                    <div class="col-2"><span class="goa16 g_ani"></span></div>
                                </div>
                            </div>
                            <div *ngIf="evidence.documents.length === 0 && !evidence.loadingDocuments && evidenceType == 'resource' " class="row pop_nofound"><img style="margin: 13px;" src="assets/img/no_info.svg">{{translation?.goals_no_resource_found_evidence}}
                            </div>
                            <div *ngIf="evidence.documents.length === 0 && !evidence.loadingDocuments && evidenceType == 'video' " class="row pop_nofound"><img style="margin: 13px;" src="assets/img/no_info.svg">{{translation?.goals_no_video_found_evidence}}
                            </div>
                            <div *ngIf="evidence.documents.length === 0 && !evidence.loadingDocuments && evidenceType == 'scripted_notes' " class="row pop_nofound"><img style="margin: 13px;" src="assets/img/no_info.svg">{{translation?.goals_no_scripted_notes_found_evidence}}
                            </div>
                        <div class="row video_list_e" *ngFor="let item of evidence.documents">
                            <!-- video box -->
                            <div *ngIf="evidenceType =='video'" class="col-7">
                                <div class="thumbnail_e"
                                    *ngIf="item?.published==1 && item?.thubnail_url !=null  && item?.video_duration > 0 && (item?.transcoding_status!=5 && item?.encoder_status!='Error')">
                                    <div class="vide_th_e" *ngIf=" (item?.transcoding_status!=5 || item?.encoder_status!='Error')">
                                        <img [ngClass]="{'thumbnail_default_cl':item.thumbnail_type =='default'}" [src]="item.thubnail_url"></div>
                                    <span class="play_icon_e"> <img src="assets/goals/img/play_gry-sml.svg"> </span>
                                    <span class="time_cls">{{goalWorkService?.FormatSeconds(item?.video_duration)}}</span>
                                </div>


                                <div class="thumbnail_e"
                                    *ngIf="item?.published==1 && item?.thubnail_url !=null  && item?.video_duration == 0 && (item?.transcoding_status!=5 && item?.encoder_status!='Error')">

                                    <div *ngIf=" (item?.transcoding_status!=5 || item?.encoder_status!='Error')" class="vide_th_e">
                                        <img [ngClass]="{'thumbnail_default_cl':item.thumbnail_type =='default'}" [src]="item.thubnail_url"></div>
                                    <span class="play_icon_e"> <img src="assets/img/play_gry-sml.svg"> </span>
                                    <span class="time_cls ">{{detailsService?.FormatSeconds(item?.video_duration)}}</span>
                                </div>
                                <div class="thumbnail_e"
                                    *ngIf="item?.published==1 && item?.thubnail_url !=null  && item?.video_duration ==-1 && (item?.transcoding_status!=5 && item?.encoder_status!='Error')">

                                    <div *ngIf=" (item?.transcoding_status!=5 || item?.encoder_status!='Error')" class="vide_th_e">
                                        <img [ngClass]="{'thumbnail_default_cl':item.thumbnail_type =='default'}" [src]="item.thubnail_url"></div>
                                    <span class="play_icon_e"> <img src="assets/img/play_gry-sml.svg"> </span>
                                    <span class="time_cls ">{{detailsService?.FormatSeconds(item?.video_duration)}}</span>
                                </div>
                                <div class="thumbnail_e"
                                    *ngIf="(item?.published==0  || item?.thubnail_url ==null) && (item?.transcoding_status!=5 && item?.encoder_status!='Error')">
                                    <ng-container>
                                        <div class="video_crope thumbnail_text" style="padding: 5px 4px 20px 4px;">
                                            <p
                                                *ngIf="(item?.transcoding_status!=5 || item?.encoder_status!='Error') && !this.headerService.isAValidAudio(item?.file_type) && item?.upload_status != 'cancelled'">
                                                {{translation?.artifacts_video_currently_processing}}

                                            </p>
                                            <p
                                                *ngIf="(item?.transcoding_status!=5 || item?.encoder_status!='Error') && !this.headerService.isAValidAudio(item?.file_type) && item?.upload_status == 'cancelled'">
                                                {{translation?.artifact_cancelled_uploadvideo}}

                                            </p>
                                            <p
                                                *ngIf="(item?.transcoding_status!=5 || item?.encoder_status!='Error') && this.headerService.isAValidAudio(item?.file_type)">
                                                {{translation?.artifacts_audio_currently_processing}}

                                            </p>
                                        </div>

                                    </ng-container>
                                </div>

                                <div class="thumbnail_e" *ngIf=" (item?.transcoding_status==5 || item?.encoder_status=='Error')">
                                    <div class="video_crope thumbnail_text" style="margin-top:0px;padding: 5px 4px 20px 4px;">
                                        {{translation?.video_not_processed}}<a class="btn btn-link">support@sibme.com</a>
                                    </div>

                                </div>


                                <div class="title_cls">
                                    <p>{{item.title | slice: 0:50}}<span *ngIf="item.title.length>=50">...</span></p>


                                </div>

                            </div>
                            <!-- resource box -->
                            <div class="col-7 " *ngIf="evidenceType =='resource'">
                            <div class="thumbnail_e">

                                <div class="gfile_icon" *ngIf="item.doc_type == '5'; else other">
                                <img style="max-width: 45px;" src="assets/img/url-icon.svg">
                                </div>
                                <ng-template #other>
                                <div class="gfile_icon">
                                    <img [src]="item.thubnail_url">
                                </div>
                                </ng-template>
                            </div>


                                <div class="title_cls">
                                    <p>{{item?.title}}</p>


                                </div>

                            </div>
                            <!-- scripted notes box -->
                            <div class="col-7" *ngIf="evidenceType =='scripted_notes'">
                                <div class="thumbnail_e">
                                    <div class="gfile_icon"><img [src]="item.thubnail_url"></div>
                                </div>


                                <div class="title_cls">
                                    <p>{{item?.title}}</p>


                                </div>

                            </div>

                            <div class="col-3">{{headerService?.formateDate(item?.created_date,"ll")}}</div>
                            <ng-container *ngIf="item.selected then addedBtn else addBtn"></ng-container>

                            <ng-template #addBtn>
                                <div class="col-2" (click)="toggleSelectedEvidence(item)" *ngIf="item?.published==1 && item?.encoder_status!='Error'"><a class="video_addbtn"><img src="assets/goals/img/plus_gry.svg"> {{translation?.artifact_add}}</a></div>
                                <div class="col-2 disableButton" *ngIf="item?.published==0 || item?.encoder_status=='Error'"><a class="video_addbtn"><img src="assets/goals/img/plus_gry.svg"> {{translation?.artifact_add}}</a></div>
                            </ng-template>
                            <ng-template #addedBtn>
                            <div class="col-2"><a class="added_btn"><img src="assets/goals/img/video_added_check.svg">
                                {{translation?.artifacts_video_added}} </a>
                                </div>
                            </ng-template>
                        </div>
                    </div>


                        </div>
            </div>
            </div>
        </ng-container>
        <ng-container *ngIf="SearchString || (evidenceList.length == 0 && !evidenceLoading) ; then workspaceTab ">
        </ng-container>
    </div>
</ng-template>







<ng-template #huddle>
    <div class="modal-body evi_popup">

        <div class="row">
            <div class="col-12">
                <div id="huddle-search" class="addvideo_e">
                    <input type="text" placeholder="{{searchText}}" [(ngModel)]="SearchString">
                </div>
            </div>
        </div>
        <div class="row hulist_list_e">
            <div class="col-6"><b>Nam</b>e</div>
            <div class="col-1 hud-mrg"><b>Type</b></div>
            <div class="col-2"><b>{{translation?.date_created}}</b></div>
            <div class="col-3"></div>
        </div>
        <ng-container *ngIf="evidenceLoading">
            <div class="row hulist_list_e">
                <div class="col-6"><span class="goa13 g_ani"></span></div>
               <div class="col-1"><span class="goa13 g_ani"></span></div>
                <div class="col-2"><span class="goa13 g_ani"></span></div>
                <div class="col-3"><span class="goa16 g_ani"></span></div>
            </div>
            <div class="row hulist_list_e">
                <div class="col-6">

               <span class="goa13 g_ani"></span>
                </div>
                <div class="col-1"><span class="goa13 g_ani"></span></div>
                <div class="col-2"><span class="goa13 g_ani"></span></div>
                <div class="col-3"><span class="goa16 g_ani"></span></div>
            </div>
            <div class="row hulist_list_e">
                <div class="col-6">

               <span class="goa13 g_ani"></span>
                </div>
                <div class="col-1"><span class="goa13 g_ani"></span></div>
                <div class="col-2"><span class="goa13 g_ani"></span></div>
                <div class="col-3"><span class="goa16 g_ani"></span></div>
            </div>
            <div class="row hulist_list_e">
                <div class="col-6">

               <span class="goa13 g_ani"></span>
                </div>
                <div class="col-1"><span class="goa13 g_ani"></span></div>
                <div class="col-2"><span class="goa13 g_ani"></span></div>
                <div class="col-3"><span class="goa16 g_ani"></span></div>
            </div>
            <div class="row hulist_list_e">
                <div class="col-6">

               <span class="goa13 g_ani"></span>
                </div>
                <div class="col-1"><span class="goa13 g_ani"></span></div>
                <div class="col-2"><span class="goa13 g_ani"></span></div>
                <div class="col-3"><span class="goa16 g_ani"></span></div>
            </div>
            <div class="row hulist_list_e">
                <div class="col-6">

               <span class="goa13 g_ani"></span>
                </div>
                <div class="col-1"><span class="goa13 g_ani"></span></div>
                <div class="col-2"><span class="goa13 g_ani"></span></div>
                <div class="col-3"><span class="goa16 g_ani"></span></div>
            </div>
            <div class="row hulist_list_e">
                <div class="col-6">

               <span class="goa13 g_ani"></span>
                </div>
                <div class="col-1"><span class="goa13 g_ani"></span></div>
                <div class="col-2"><span class="goa13 g_ani"></span></div>
                <div class="col-3"><span class="goa16 g_ani"></span></div>
            </div>

        </ng-container>
        <div *ngIf="!evidenceLoading" class="popup_scroll" (scroll)="onScroll($event)" #popup_scroll slimScroll
            [options]="opts" [scrollEvents]="scrollEvents">
        <div class="row hulist_list_e" *ngFor="let item of evidenceList | filter: SearchString; let index=index">
            <div class="col-6">

                {{item.title}}
            </div>
            <div class="col-1">
                <span tooltip="{{item.huddle_type}}" placement="{{index==0?'bottom':'top'}}"><img  *ngIf="item.huddle_type=='Coaching'"  src="assets/goals/img/huddle_icon1.svg"></span>
                <span tooltip="{{item.huddle_type}}" ><img  *ngIf="item.huddle_type=='Collaboration'"  src="assets/goals/img/huddle_icon2.svg"></span>
                <span tooltip="{{item.huddle_type}}" ><img  *ngIf="item.huddle_type=='Assessment'"  src="assets/goals/img/huicon3.png"></span>
            </div>
            <div class="col-2">{{headerService?.formateDate(item?.created_on,"ll")}}</div>
            <div class="col-3"  (click)="toggleSelectedhuddle(item)" *ngIf="!item.selected"><a class="video_addbtn"><img src="assets/goals/img/plus_gry.svg"> {{translation?.artifact_add}}</a></div>
            <div class="col-3"><a class="added_btn" *ngIf="item.selected"><img src="assets/goals/img/video_added_check.svg"> {{translation?.artifacts_video_added}}
            </a></div>
        </div>
        </div>

        <div class="modal-footer evi_footer">
            <div class="col-12 modal_btn">
                <button type="button" class="btn btn-default bgnone" (click)="modalRef.hide()">{{translation?.artifact_cancle}}</button>
                <button type="button" [disabled]="selectedEvidence==undefined || selectedEvidence.length==0" class="btn btn-success" (click)="save()">{{translation?.artifacts_done}}</button>
            </div>

        </div>
    </div>

</ng-template>
