.no-comment-found {
    font-size: 13px;
    font-family: 'Roboto-light';
    margin-top: 10px;
    font-weight: 600;
}




/** comment sections start **/

.comments-wrapper {
    flex: 1 1 25%;
    background-color: #f5f5f5;
    border-left: 1px solid #d5d5d6;
    padding: 10px 15px;
    overflow-y: scroll;
}

.comment-header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.comment-heading {
    font-weight: 500;
    font-size: 15px;
    color: #9e9e9e;
    margin-bottom: 10px;
}

.comment-body {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.comment-body .heading {
    display: flex;
    margin-bottom: 5px;
}

.comment-body textarea {
    width: 100%;
    border: 0;
    resize: none;
}
.user_img {
    margin-right: 12px;
    float: left;
}

.user_img img {
    border: 0 !important;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.comment-body textarea::placeholder {
    color: #c3c3c3;
}
.content-pdf{
    margin-left: 16%;
}
.content-pdf .desc{
    font-size: 14px;
    color: #595959;
    margin-bottom: 6px;
    font-family: 'Roboto';
    word-break: break-word;
    text-overflow: ellipsis;
    white-space: break-spaces;
}
.content-pdf .time{
    font-size: 12px;
    color: #595959;
    font-family: 'Roboto';
    word-break: break-word;
    text-overflow: ellipsis;
    white-space: break-spaces;
}
.comment-icon {
    margin-right: 10px;
}