<ng-container *ngIf="from != 'document'">
  <button *ngIf="enablePublish && checkForSampleData()" class="btn btn-success form-control" (click)="PublishFeedback(confirmPublishDialog)"
    [style.marginBottom.px]="10">
    {{translation?.vd_publish_feedback}}
  </button>

<search-form [permissions]="permissions"[from]="from" [VideoInfo]="VideoInfo" [customMarkers]="CustomMarkers" [params]="params"
  (settingsChanged)="ApplySettings($event)" (autoScrollChanged)="toggleAutoscroll($event)" [classes]="colorClasses">
</search-form>
<!-- check if cinenma mode on then removes the slim scroll  else slimscroll  -->
<div *ngIf="isCinemaModeOn">
  <ng-container *ngFor="let comment of comments; let i=index;">
    <comment *ngIf="comment.valid" [from]="from" [VideoInfo]="VideoInfo" [permissions]="permissions" [index]="i"
      [staticFiles]="staticFiles" [isActive]="currentComment[0] == comment" [attr.id]="'comment_'+i"
      [customMarkers]="CustomMarkers" [classes]="colorClasses" [comment]="comment" [params]="params"
      [allow_evidence_view]="allow_evidence_view"
      (onDelete)="onCommentDelete($event)" (onEdit)="onEdit($event)"
      (retryAddCommentEvent)="retryAddComment($event)"
      (retryEditCommentEvent)="retryEditComment($event)"
      (onReplyEdit)="onReplyEdit($event)"
      >
    </comment>
  </ng-container>
  <div class="text-center animated fadeIn no-comment-found" *ngIf="getValidCommentCount()==0">
    {{noMatchCommentFound}}
  </div>
  <div class="text-center animated fadeIn no-comment-found" *ngIf="comments?.length==0">
    {{noCommentExist}}
  </div>
</div>

  <!-- <div *ngIf="!isCinemaModeOn && checkPermission()"> -->
  <div *ngIf="!isCinemaModeOn">
  <div  class="comm_outer" >
    <ng-container *ngFor="let comment of comments; let i=index;">
      <comment *ngIf="comment.valid" [original_account] = "original_account" [from]="from" [VideoInfo]="VideoInfo" [permissions]="permissions" [index]="i"
        [staticFiles]="staticFiles" [isActive]="currentComment[0] == comment" [attr.id]="'comment_'+i"
        [customMarkers]="CustomMarkers" [classes]="colorClasses" [comment]="comment" [params]="params"
        [allow_evidence_view]="allow_evidence_view"
        (onDelete)="onCommentDelete($event)" (onEdit)="onEdit($event)"
        (retryAddCommentEvent)="retryAddComment($event)"
        (retryEditCommentEvent)="retryEditComment($event)"
        (onReplyEdit)="onReplyEdit($event)"
        >
      </comment>
    </ng-container>
    <div class="text-center animated fadeIn no-comment-found" *ngIf="(!marker_Search || marker_Search == -1) && getValidCommentCount()==0">
      {{noMatchCommentFound}}
    </div>
    <div *ngIf="marker_Search  && getValidCommentCount()==0 && pageType == 'huddle-page'" class="text-center animated fadeIn no-comment-found" >
      {{"No comment found matching this custom marker."}}
    </div>
    <div *ngIf="marker_Search && getValidCommentCount()==0 && pageType == 'workspace-page'" class="text-center animated fadeIn no-comment-found" >
      {{"No note found matching this custom marker."}}
    </div>
    <div class="text-center animated fadeIn no-comment-found" *ngIf="comments?.length==0">
      {{from != 'vobody'?noCommentExist :translation?.no_notes_exist}}
    </div>
    
  </div>
  </div>
  <!-- <div class="text-center animated fadeIn no-comment-found" *ngIf="!isCinemaModeOn && (publishAll && !is_published_feedback) && VideoInfo.h_type == 3 && checkSampleData == undefined"> The Assessor has not published this information yet </div> -->
</ng-container>

 <!-- Modals section start -->
 <ng-template #confirmPublishDialog>
  <div class="modal-header">
    <h6 class="modal-title pull-left">{{translation?.vd_confirm}}</h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{translation?.vd_your_comments}} </div>
  <div class="modal-footer text-right">
    <div>
      <button class="btn btn-default" (click)="ResolvePublish(0)">
        {{translation?.vd_cancel}}
      </button>
      <button class="btn btn-primary" (click)="ResolvePublish(1)">
        {{translation?.vd_ok}}
      </button>
    </div>
  </div>
</ng-template>
<!-- Modals section end -->
