@media screen and (min-width:1280px) {
    .container {
        max-width: 1200px !important;
        padding: 0 40px;
        overflow: hidden;
    }
}

@media screen and (min-width:1500px) {
    .container {
        max-width: 1450px !important;
        padding: 0 40px;
    }
}

.goals_box_outer {
    border-radius: 5px;
    margin-top: 15px !important;
}
.exportHeader {
    color: #6c757d;
    padding-left: 10px !important;
}

.box_whcls {
    background: #fff;
    margin-bottom: 40px;
}
.listing_heading{
    font-size: 14px;
    padding: .25rem 10px !important;
    color: #9e9e9e;
}
.panl_heading {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    background: #f9f9f9;
}

.panl_heading h3 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #212529;
}

.goals_outer {
    width: 100%;
    padding-bottom: 40px;
    background: #F7F7F7;
}

.ghrading {
    font-weight: 600;
    font-size: 14px;
    background: #fff;
    padding: 9px 12px;
    margin: 0;
}

.gh_rw {
    font-size: 14px;
    border-bottom: 1px solid #E4E4E4;
    padding: 9px 12px;
    margin: 0;
}

.gh_rw_ani {
    font-size: 14px;
    border-bottom: 1px solid #E4E4E4;
    padding: 9px 12px;
    margin: 0;
}

.gh_rw .col-3, .gh_rw .col-2 {
    padding: 0 5px;
    flex: 0 0 11%;
    max-width: 11%;
}

.golc7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
    margin-top: auto;
    margin-bottom: auto;
    flex: 0 0 9% !important;
    max-width: 9% !important;
}

.gol_opt2 {
    width: 40%;
    float: right;
    text-align: center;
}

.gol_opt2 img {
    width: 10px;
}

.com_bg {
    background: #EAF3EB;
    float: right;
    color: #28A745;
    border-radius: 50px;
    padding: 1px 8px;
    font-size: 11px;
    font-weight: 500;
}

.incom_bg {
    background: #F4E7E7;
    float: right;
    color: #D35959;
    border-radius: 50px;
    padding: 1px 8px;
    font-size: 11px;
    font-weight: 500;
}

.st_bar {
    background: #E8E8E8;
    border: 1px solid #D9D9D9;
    height: 10px;
    border-radius: 21px;
    position: relative;
}

.st_bar .bar_pg {
    background: #157EFC;
    display: inline-block;
    height: 7.5px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;    max-width: 100%;
}

.back_to_goal .col-4, .panl_heading .col-4 {
    text-align: right;
}

.back_to_goal .col-4 a, .panl_heading .col-4 a {
    text-align: right;
    color: #8B8B8B;
    font-size: 14px;
    padding-right: 0;
    padding-top: 0px;
    cursor: pointer;
    float: right;
    font-weight: 400;
    text-decoration: none !important;
    margin-top: 8px;
}

.back_to_goal {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #ddd;
    padding: 12px 8px;
}

.back_to_goal .col-4 img, .panl_heading .col-4 img {
    margin-right: 5px;
}

.back_to_goal .col-8 i {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 4px;
}

.back_to_goal .col-8 h4 {
    font-size: 18px;
}

.back_to_goal .col-8 p {
    margin: 0;
    font-size: 14px;
    color: #616161;
}

.back_to_goal .col-8 p b {
    color: #000;
}

.back_to_goal .col-8 p span {
    display: inline-block;
    padding: 0 5px;
}

.own_img img {
    margin-right: 5px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}

.own_img {
    position: absolute;
    left: 0;
    top: 3px;
}

.own_txt {
    padding-left: 52px;
}

.own_txt label {
   font-weight: 600;
    margin: 0;
    font-size: 16px;
    color: #000000;    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    margin-bottom: -4px;
}

.own_txt p {
    font-weight: 400;
    margin: 0;
    font-size: 14px;
    color: #000;    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.goal_detailrw {
    position: relative;
}

.goal_detailrw .golc1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
}

.goal_detailrw .golc1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 63%;
    flex: 0 0 63%;
    max-width: 63%;
}

.goal_detailrw .golc1, .goal_detailrw .golc3, .goal_detailrw .golc6 {
    padding: 0;
}

.goal_detailrw .col-2 {
    flex: 0 0 13%;
    max-width: 13%;color: #000;
    margin-top: AUTO;
    margin-bottom: auto;
}

.goal_detailrw .golc6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}

.goal_detailrw a:hover {
    text-decoration: none;
}

.goal_detailrw a label {
    cursor: pointer;
}

.goal_detailrw a span {
    color: #000;
}

.gsortouter {
    position: absolute;
    width: 50px;
    right: 12px;
    top: 14px;
}

.gsortouter .dropdown-item {
    font-size: 14px;
    padding: .25rem 10px !important;
}

.gsortouter .dropdown-menu {
    right: 22px !important;
}

.gsort button {
    border: 0;
    padding: 0;
    background: none;
    outline: none;
    cursor: pointer;
}

.gsort .dropdown-toggle::after {
    display: none;
}

.gsort .dropdown-menu {
    background: #fff;
    border-radius: 4px;
    min-width: 20px !important;
    padding: 6px 0;
    left: inherit !important;
    right: 0 !important;
}

.gsort .dropdown-menu a {
    font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 5px;
    padding: 2px 12px 7px 11px;
    margin: 0;
}

.gsort .dropdown-menu a.active {
    color: #057EFF;
}

.export {
    color: #16181b !important;
}
.export:hover{
    color: #16181b !important;
    background-color: #f8f9fa !important;
}

/* Animation section start */

@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.sub-header {
    height: 75px;
    width: 100%;
    padding: 12px 8px;
    display: flex;
    justify-content: space-between;
}

.goal-detail {
    width: 40%;
    float: left;
    padding-left: 12px;
}

.sort-loader {
    width: 5%;
    float: left;
    padding-right: 12px;
}

.cat_mg {
    width: 15%;
    float: left;
    padding-right: 35px;
    position: relative;
}

.g_ani2 {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #ededed 8%, #e9e9e9 18%, #ededed 33%);
    background-size: 800px 104px;
    position: relative;
}

.g_ani {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    position: relative;
}

.gn1 {
    width: 50%;
    height: 40px;
}

.gn2 {
    width: 50px;
    height: 40px;
    float: right;
}

.gn3 {
    width: 100%;
    height: 37px;
}

.gn33 {
    width: 100%;
    height: 50px;
}

.gn4 {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
}

.mleft8 {
    margin-left: -9px !important;
}

.gr_option {margin-right:46px;
    position: relative;
    top: 17px;}

    
.gr_option button {
    border: 0;
    padding: 0;
    background: none;
    outline: none;
    cursor: pointer;
}

.gr_option .dropdown-toggle::after {
    display: none;
}

.gr_option .dropdown-menu {
    background: #fff;
    border-radius: 4px;
    min-width: 20px !important;
    padding: 6px 0;
    left: inherit !important;
    right: 0 !important;
}

.gr_option .dropdown-menu a {
    font-size: 14px !important;
    background: none;
    color: #484848;
    margin-bottom: 5px;
    padding: 2px 12px 7px 11px;
    margin: 0;
        min-width: 76px;
    display: block;
    text-align: left;
}

.gr_option .dropdown-menu a.active {
    color: #057EFF;
}

.panl_heading .col-8{ padding-left:7px;}



/* Animation section end */