<ng-container *ngIf="!loaded then preLoaderSection else dataSection"></ng-container>
<ng-template #dataSection>
    <div class="container goals_box_outer">
        <div *ngIf="loaded" class="row box_whcls">
            <div class="col-12">
                <div class="row panl_heading">
                    <div class="col-8">
                        <h3>{{goalAltName}}</h3>
                    </div>
                    <div class="col-4">
                        <a [routerLink]="['/goals/list']"><img src="assets/goals/img/left-arrow.svg">
                            {{translation?.goals_back_to_listing}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="back_to_goal row">
                <div class="col-8">
                    <a class="simple-link" [routerLink]="['/goals/view', data.goal_data.id]">
                        <h4><i [class]="goalsTypeByValue[data.goal_data.goal_type].CLASS"></i>{{data.goal_data.title}}
                        </h4>
                        <p><b>{{translation?.analytics_start_date}}:</b> {{parseDate(data.goal_data.start_date) | date}} <span> --
                            </span> <b>{{translation?.due_date_all}}:</b>
                            {{parseDate(data.goal_data.end_date) | date}}
                        </p>
                    </a>
                </div>

                <div class="col-4">
                    <!-- <div class="gr_option dropdown" dropdown>
                        <button dropdownToggle type="button" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="assets/img/dots_dark.svg" width="30">
                        </button>
                        <div *dropdownMenu class="dropdown-menu">
                            <a class="dropdown-item export" (click)="goalsDetailExportData('excel')">{{translation?.vd_excel}}</a>
                            <a class="dropdown-item export" (click)="goalsDetailExportData('pdf')">{{translation?.vd_pdf}}</a>
                        </div>
                    </div> -->

                    <div class="gsortouter">
                        <div class="gsort" dropdown>
                            <button id="user-sort-btn" dropdownToggle type="button" class="dropdown-toggle"
                                aria-controls="user-sort-dropdown">
                                <img src="assets/goals/img/filter_icon.svg" width="25">
                            </button>
                            <ul id="user-sort-dropdown" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="user-sort-btn">
                                <li role="menuitem" class="dropdown-item cp" [class.active]="sortBy.active"
                                    *ngFor="let sortBy of usersSortBy" (click)="onSort(sortBy)">
                                    {{translation[sortBy.T_KEY]}}</li>
                                <li class="divider dropdown-divider"></li>
                                <li role="menuitem" class="exportHeader"> 
                                    {{translation?.vd_export}}
                                </li>
                                <li role="menuitem" class="dropdown-item cp" (click)="goalsDetailExportData('excel')">{{translation?.vd_excel}}</li>
                                <li role="menuitem" class="dropdown-item cp" (click)="goalsDetailExportData('pdf')">{{translation?.vd_pdf}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--listing start--->
            <div class="goals_outer">
                <div class="row ghrading goal_detailrw">
                    <div class="col-3 golc1">
                        {{translation?.analytics_user}}
                    </div>
                    <div class="col-2 golc3">
                        {{translation?.last_update}}
                    </div>
                    <div class="col-2 golc6">
                        {{translation?.status_all}}
                    </div>
                    <div class="col-2 golc7">
                    </div>
                </div>
                <ng-container *ngIf="!sortLoading">
                    <div *ngFor="let user of data.user_data" class="row gh_rw goal_detailrw">
                        <a class="col-3 golc1" [routerLink]="[user.routerLink]" [class.disabled]="user.disabled">
                            <div class="own_img">
                                <img [src]="getAvatarPath(user.image, user.user_id)" [alt]="user.image">
                            </div>
                            <div class="own_txt">
                                <label>{{user.first_name}} {{user.last_name}}</label>
                                <p>{{user.email}}</p>
                            </div>
                        </a>
                        <a class="col-2 golc3" [routerLink]="[user.routerLink]" [class.disabled]="user.disabled">
                            {{(user.last_edit_date !== null) ? (parseDate(user.last_edit_date) | date) : ""}}
                        </a>
                        <a class="col-2 golc6" [routerLink]="[user.routerLink]" [class.disabled]="user.disabled">
                            <span>{{user.is_complete ? '100%' : user.percentage}}</span>
                            <span *ngIf="user.is_complete" class="com_bg"><img src="assets/goals/img/com_icon.svg">
                                {{translation?.complete}}
                            </span>
                            <span *ngIf="user.is_incomplete" class="incom_bg"><img
                                    src="assets/goals/img/incom_icon.svg">
                                {{translation?.incomplete}} </span>
                            <div class="clearfix"></div>
                            <div class="st_bar"><span class="bar_pg" [ngStyle]="{'width': user.percentage}"></span>
                            </div>
                        </a>
                        <a *ngIf="!user.disabled" class="col-2 golc7" [routerLink]="[user.routerLink]">
                            <div class="gol_opt2">
                                <img src="assets/goals/img/right_op.svg">
                            </div>
                        </a>
                    </div>
                </ng-container>
                <!-- Pagination / Filter loader start -->
                <ng-container *ngIf="paginationLoading || sortLoading">
                    <div *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]" class="row gh_rw_ani">
                        <div class="col-7 golc1">
                            <div class="g_ani2 gn3"></div>
                        </div>
                        <div class="col-2">
                            <div class="g_ani2 gn3"></div>
                        </div>
                        <div class="col-3">
                            <div class="g_ani2 gn3"></div>
                        </div>
                    </div>
                </ng-container>
                <!-- Pagination / Filter loader end -->
            </div>
        </div>
    </div>
</ng-template>
<ng-template #preLoaderSection>
    <div class="container goals_box_outer">
        <div class="row box_whcls">
            <div class="col-12">
                <div class="row panl_heading">
                    <div class="col-8">
                        <h3 class="g_ani2 gn1 mleft8"></h3>
                    </div>
                    <div class="col-4">
                        <h3 class="g_ani2 gn1 mleft8" style="float: right;"></h3>
                    </div>
                </div>
            </div>
            <div class="sub-header">
                <div class="goal-detail">
                    <div class="g_ani gn33"></div>
                </div>
                <div class="sort-loader">
                    <div class="g_ani gn33"></div>
                </div>
            </div>
            <!--listing start--->
            <div class="goals_outer">
                <div class="row ghrading">
                    <div class="col-7 golc1">
                        <div class="g_ani gn3"></div>
                    </div>
                    <div class="col-2 golc2">
                        <div class="g_ani gn3"></div>
                    </div>
                    <div class="col-3 golc3">
                        <div class="g_ani gn3"></div>
                    </div>
                </div>
                <div *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]" class="row gh_rw_ani">
                    <div class="col-7 golc1">
                        <div class="g_ani2 gn3"></div>
                    </div>
                    <div class="col-2">
                        <div class="g_ani2 gn3"></div>
                    </div>
                    <div class="col-3">
                        <div class="g_ani2 gn3"></div>
                    </div>
                </div>
            </div>
            <!--listing end--->
        </div>
    </div>
</ng-template>