<div class="container box_outer notfoundpage">

  <div class="">

    <div class="nf_img">
      <svg xmlns="http://www.w3.org/2000/svg" width="282.96" height="150.204" viewBox="0 0 282.96 150.204">
        <g id="Group_926" data-name="Group 926" transform="translate(-75.426 -171.698)">
          <g id="Group_886" data-name="Group 886" transform="translate(279.165 172.762)">
            <path id="Path_61" data-name="Path 61"
              d="M344.352,349.315c-2.029,2.63-4.412,4.585-3.889,5.473,0,0,1.08.785,4.059.785,5.109,0,10.129-.389,9.3-.907-1.143-.717-4.45-.977-7.61-2.071-.781-.271,1.709-1.784,1.029-2.031A15.317,15.317,0,0,1,344.352,349.315Z"
              transform="translate(-329.393 -206.433)" fill="#002e4f" />
            <path id="Path_62" data-name="Path 62"
              d="M409.791,354.823s.671.942,3.247.942c4.418,0,9.021-.6,8.309-1.048-.987-.619-8.729-2.235-8.729-2.235l-1.736-2.156-2.944,1.629Z"
              transform="translate(-342.198 -206.625)" fill="#002e4f" />
            <g id="Group_874" data-name="Group 874" transform="translate(45.548 55.672)">
              <path id="Path_63" data-name="Path 63"
                d="M391.074,269.135a23.811,23.811,0,0,1-5.764-.687,3.1,3.1,0,0,1,1.623-5.987c.108.028,7.083,1.815,11.154-1.678,2.725-2.34,3.76-6.744,3.077-13.094l-.217-2.025,6.272-3.554a3.1,3.1,0,1,1,3.058,5.4l-2.773,1.571c.438,7.479-1.379,13.005-5.412,16.443A16.791,16.791,0,0,1,391.074,269.135Z"
                transform="translate(-383.024 -241.705)" fill="#057eff" />
            </g>
            <g id="Group_876" data-name="Group 876" transform="translate(0)">
              <path id="Path_65" data-name="Path 65"
                d="M377.1,234.436c-1.182-.53-2.344-1.1-3.488-1.706-10.935,6.227-24.907,14.205-25.183,14.483,0,0,6.944,11.057,7.388,11.5.284.285,17.5-12.066,29.89-21.016C382.853,236.591,379.906,235.692,377.1,234.436Z"
                transform="translate(-330.918 -184.332)" fill="#057eff" />
              <path id="Path_66" data-name="Path 66"
                d="M383.26,232.4c2.863,1.263,5.872,2.18,8.783,3.324,6.82-4.928,12.092-8.764,12.092-8.764l-11.656-3.275s-5.609,3.184-12.52,7.119C381.042,231.373,382.14,231.91,383.26,232.4Z"
                transform="translate(-336.894 -182.618)" fill="#057eff" />
              <path id="Path_67" data-name="Path 67" d="M359.238,214.769l6.863,18.579,13.416,4.923-16.994-31.043Z"
                transform="translate(-332.967 -179.498)" fill="#005ec2" />
              <path id="Path_68" data-name="Path 68" d="M382.836,251.164H372.9l8.847,15.455L395.23,272.3Z"
                transform="translate(-335.556 -187.827)" fill="#006091" />
              <path id="Path_69" data-name="Path 69"
                d="M389.128,258.2l-7.913-13.5-33.851,19.846-6.657-11.356,4.18-67.512,15.213-8.918,27.38,46.708,9.213-5.4,7.662,13.07-9.213,5.4,7.913,13.5Zm-30.71-52.385-.856.5-2.327,36.054,18.318-10.739Z"
                transform="translate(-329.454 -173.722)" fill="#057eff" />
              <path id="Path_70" data-name="Path 70" d="M326.821,267.258l11.253,3.09,6.657,11.356-11.891-3.012Z"
                transform="translate(-326.821 -190.877)" fill="#3195ff" />
              <path id="Path_71" data-name="Path 71" d="M326.821,251.611l11.253,3.09,4.18-67.512-10.325-2.471Z"
                transform="translate(-326.821 -175.23)" fill="#3195ff" />
              <path id="Path_72" data-name="Path 72" d="M333.125,182.5l10.325,2.471,15.212-8.918-10.456-3.04Z"
                transform="translate(-328.016 -173.011)" fill="#3195ff" />
            </g>
            <path id="Path_73" data-name="Path 73"
              d="M357.664,300.453s1.655,17.841,1.655,24.09c0,0-12.991,10.125-16.172,15.422,1.366,1.04,4.067,2.42,5.836,2.366a126.377,126.377,0,0,1,18.181-14.184s4.1-11.905,5.382-21.985Z"
              transform="translate(-329.916 -197.17)" fill="#002e4f" />
            <path id="Path_74" data-name="Path 74"
              d="M370.28,294.291a17.479,17.479,0,0,0,8.431-1.849c-.844-3.563.954-14.075,3.213-19.693,0,0,1.782-3.911.533-5.113-4.621-4.444-8.554-4.081-9.777-4.129-4.242,3.58-12.135,14.148-11.819,28.113C363.041,293.911,367.468,294.273,370.28,294.291Z"
              transform="translate(-333.272 -190.167)" fill="#e1f3f6" />
            <path id="Path_75" data-name="Path 75"
              d="M398.942,342.685a7.927,7.927,0,0,0,4.354-2.635c-5.017-8.137-23.411-38.02-24.407-40.359-.026-.061-.049-.13-.072-.2a17.768,17.768,0,0,1-9.049,1.849c-2.722-.1-6.662-.486-8.884-2.5.006.144.006.286.013.432.384,7.8,26.26,33.809,36.442,43.754A13.3,13.3,0,0,0,398.942,342.685Z"
              transform="translate(-333.278 -196.865)" fill="#00396a" />
            <g id="Group_877" data-name="Group 877" transform="translate(6.02 72.974)">
              <path id="Path_76" data-name="Path 76"
                d="M340.478,286.117a6.429,6.429,0,0,1-2.067-.325,6.266,6.266,0,0,1-4.033-4.494,3.1,3.1,0,1,1,5.947-1.763,2.138,2.138,0,0,0,.149.384c.331.015,1.558-.093,4.549-1.85,2.671-1.568,5.831-3.906,8.887-6.167,5.163-3.821,10.04-7.428,14.067-8.7a3.1,3.1,0,0,1,1.872,5.914c-3.042.963-7.723,4.427-12.251,7.775C350.971,281.793,345.126,286.117,340.478,286.117Z"
                transform="translate(-334.249 -263.055)" fill="#005ec2" />
            </g>
            <g id="Group_878" data-name="Group 878" transform="translate(6.02 72.974)">
              <path id="Path_77" data-name="Path 77"
                d="M346.282,287.133a12.957,12.957,0,0,0-1.934-5.343c-2.5,1.385-3.568,1.478-3.873,1.465a2.141,2.141,0,0,1-.149-.384,3.1,3.1,0,1,0-5.947,1.763,6.266,6.266,0,0,0,4.033,4.494,6.429,6.429,0,0,0,2.067.325,13.546,13.546,0,0,0,5.923-1.735Q346.341,287.426,346.282,287.133Z"
                transform="translate(-334.249 -266.39)" fill="#005ec2" />
              <path id="Path_78" data-name="Path 78"
                d="M374.308,265.221a3.1,3.1,0,0,0-3.893-2.021c-4.028,1.275-8.9,4.882-14.067,8.7-3.056,2.26-6.216,4.6-8.887,6.167-.122.073-.237.136-.353.2,1.16,1.533,3.167,9.089,3.2,9.262,3.288-1.721,19.064-13.73,22.484-17.355C373.97,268.934,374.825,266.855,374.308,265.221Z"
                transform="translate(-336.687 -263.055)" fill="#e1f3f6" />
            </g>
            <path id="Path_79" data-name="Path 79" d="M331.773,281.365" transform="translate(-327.76 -193.552)"
              fill="none" stroke="#20c6f0" stroke-linecap="round" stroke-miterlimit="10" stroke-width="7.654" />
            <g id="Group_879" data-name="Group 879" transform="translate(3.52 86.902)">
              <path id="Path_80" data-name="Path 80"
                d="M335.507,286.869a.911.911,0,0,1-.529-.169,12.682,12.682,0,0,1-3.756-5.228.912.912,0,1,1,1.709-.639h0a10.967,10.967,0,0,0,3.108,4.383.913.913,0,0,1-.532,1.654Z"
                transform="translate(-331.164 -280.24)" fill="#005ec2" />
            </g>
            <g id="Group_880" data-name="Group 880" transform="translate(4.895 83.792)">
              <path id="Path_81" data-name="Path 81"
                d="M335.831,283.918a.91.91,0,0,1-.746-.387c-1.164-1.649-2.1-5.568-2.2-6.009a.912.912,0,0,1,1.777-.413,21.455,21.455,0,0,0,1.912,5.369.913.913,0,0,1-.744,1.439Z"
                transform="translate(-332.862 -276.403)" fill="#005ec2" />
            </g>
            <g id="Group_881" data-name="Group 881" transform="translate(7.1 82.72)">
              <path id="Path_82" data-name="Path 82"
                d="M337.6,283.154a.912.912,0,0,1-.845-.568,29.22,29.22,0,0,1-1.175-6.526.912.912,0,0,1,1.819-.135,26.929,26.929,0,0,0,1.045,5.972.912.912,0,0,1-.844,1.257Z"
                transform="translate(-335.582 -275.08)" fill="#005ec2" />
            </g>
            <g id="Group_882" data-name="Group 882" transform="translate(9.34 84.371)">
              <path id="Path_83" data-name="Path 83"
                d="M339.5,283.1a.913.913,0,0,1-.883-.684,10.725,10.725,0,0,1-.028-4.6.912.912,0,0,1,1.776.418,9,9,0,0,0,.019,3.723.912.912,0,0,1-.656,1.111A.888.888,0,0,1,339.5,283.1Z"
                transform="translate(-338.346 -277.117)" fill="#005ec2" />
            </g>
            <g id="Group_883" data-name="Group 883" transform="translate(44.249 71.638)">
              <path id="Path_84" data-name="Path 84"
                d="M384.337,269.867A2.919,2.919,0,0,1,381.7,265.7a17.514,17.514,0,0,1,2.166-3.259,2.92,2.92,0,0,1,4.465,3.764h0a11.537,11.537,0,0,0-1.353,1.99A2.921,2.921,0,0,1,384.337,269.867Z"
                transform="translate(-381.42 -261.406)" fill="#057eff" />
            </g>
            <g id="Group_884" data-name="Group 884" transform="translate(46.091 71.638)">
              <path id="Path_85" data-name="Path 85"
                d="M385.189,268.364c.345.382.707.741,1.084,1.083a2.9,2.9,0,0,0,1.136-1.252,11.54,11.54,0,0,1,1.353-1.99,2.92,2.92,0,0,0-4.465-3.764c-.058.07-.3.354-.605.766C383.72,265.046,383.913,266.958,385.189,268.364Z"
                transform="translate(-383.693 -261.406)" fill="#057eff" />
            </g>
            <g id="Group_885" data-name="Group 885" transform="translate(46.551 64.209)">
              <path id="Path_86" data-name="Path 86"
                d="M394.882,263.406a5.519,5.519,0,0,1-7.2,3h0a5.521,5.521,0,0,1-3-7.207l1.46-3.541a5.518,5.518,0,0,1,7.206-3h0a5.519,5.519,0,0,1,3,7.206Z"
                transform="translate(-384.26 -252.24)" fill="#057eff" />
            </g>
            <path id="Path_87" data-name="Path 87"
              d="M384.261,258.007c-.449,1.9-3.173,1.289-4.2.3-1.409-1.362-2.251-5.22.872-5.014-2.249-3.4,5.38-7.078,6.181-3.154.6-1.012,1.206-1.922,2.533-2.007.955-.061,2.629.678,2.49,1.849a3.958,3.958,0,0,1,4.889.1c.449.363,1.259,1.17.853,1.759-.223.324-1.373.425-1.757.541.664-.3,3.382.306,2.847,1.436-.249.527-1.579.054-1.969-.059a1.174,1.174,0,0,0,0,.119,3,3,0,0,1,1.876,3.411c-.08.831-.473,2.4-1.462,2.52-.507.06-1.091-.259-1.083-.79,1.213,1.212-.5,4.453-2.037,2.854a1.639,1.639,0,0,1,.259-2.219c-.906-.521-2.872-3.277-1.473-4.014-.654.015-3.681-1.011-2.718-1.883.254,1.011-1,2.318-1.991,1.8.619,1.347-1.2,2.353-2.32,2.4.685.861-1.426,1.883-2.07.635Z"
              transform="translate(-336.675 -187.25)" fill="#00396a" />
          </g>
          <g id="Group_920" data-name="Group 920" transform="translate(160.201 175.54)">
            <path id="Path_88" data-name="Path 88" d="M257.558,244.763s-1.772-6.781,7.016-8.392l-.669,8.148Z"
              transform="translate(-194.699 -187.8)" fill="#005ec2" />
            <g id="Group_887" data-name="Group 887" transform="translate(13.375 54.011)">
              <path id="Path_89" data-name="Path 89"
                d="M210.807,263.157a12.379,12.379,0,0,1-5.362-1.169c-7.982-3.772-8.869-15.1-8.9-15.585a3.1,3.1,0,0,1,6.187-.443c.173,2.281,1.477,8.593,5.379,10.426,3.223,1.513,8.222-.027,14.457-4.456a3.1,3.1,0,1,1,3.591,5.059C220.373,261.1,215.234,263.157,210.807,263.157Z"
                transform="translate(-196.534 -243.084)" fill="#cde5e8" />
            </g>
            <g id="Group_890" data-name="Group 890" transform="translate(14.119)">
              <g id="Group_888" data-name="Group 888">
                <path id="Path_90" data-name="Path 90"
                  d="M227.485,256.344c.862-2.264,1.661-4.562,2.593-6.8a17.679,17.679,0,0,1-1.9-.252,15.536,15.536,0,0,1-7.642-3.672A18.543,18.543,0,0,1,215.7,238.5a30.7,30.7,0,0,1-1.983-9.8,52.031,52.031,0,0,1,4.345-22.747,30.776,30.776,0,0,1,5.444-8.316,18.558,18.558,0,0,1,7.118-4.834,16.39,16.39,0,0,1,14.764,2.082c.879-1.755,1.824-3.477,2.724-5.195,1.062-2.032,2.05-4.1,2.995-6.189.4-.893.754-1.812,1.12-2.724a33.074,33.074,0,0,0-10.255-3.7,31.6,31.6,0,0,0-15.156.582,33.986,33.986,0,0,0-12.8,7.1,43.052,43.052,0,0,0-9.658,12.5,63.4,63.4,0,0,0-6.594,34.519,43.056,43.056,0,0,0,4.368,15.183,33.958,33.958,0,0,0,9.28,11.317,31.225,31.225,0,0,0,12.778,5.9C225.352,261.6,226.475,259,227.485,256.344Z"
                  transform="translate(-197.452 -176.439)" fill="#3195ff" />
                <path id="Path_91" data-name="Path 91"
                  d="M275.831,210.773a43.1,43.1,0,0,0-4.369-15.183,34.021,34.021,0,0,0-9.279-11.318,29.252,29.252,0,0,0-3.3-2.247c-.364.911-.711,1.829-1.122,2.718-.964,2.08-1.928,4.158-2.995,6.188-.909,1.729-1.862,3.463-2.747,5.231.314.24.621.49.918.755a19.164,19.164,0,0,1,4.895,7.13,29.854,29.854,0,0,1,2.058,9.749,52.073,52.073,0,0,1-4.346,22.747,29.774,29.774,0,0,1-5.517,8.364,19.11,19.11,0,0,1-7.179,4.823,14.913,14.913,0,0,1-6.056.9c-1.033,2.448-1.9,4.969-2.842,7.449-.931,2.452-1.978,4.856-3.055,7.248.242.05.484.1.729.148a31.572,31.572,0,0,0,15.154-.583,33.986,33.986,0,0,0,12.8-7.1,43.062,43.062,0,0,0,9.658-12.5,63.386,63.386,0,0,0,6.594-34.517Z"
                  transform="translate(-203.793 -177.498)" fill="#006091" />
              </g>
              <g id="Group_889" data-name="Group 889" transform="translate(9.477 3.221)">
                <path id="Path_92" data-name="Path 92"
                  d="M236.979,268.392a31.62,31.62,0,0,1-13.874-6.128,33.947,33.947,0,0,1-9.279-11.318,43.03,43.03,0,0,1-4.37-15.183,63.409,63.409,0,0,1,6.594-34.517,43.055,43.055,0,0,1,9.658-12.5,33.993,33.993,0,0,1,12.8-7.1,33.675,33.675,0,0,1,29.028,5.545,34.013,34.013,0,0,1,9.28,11.318,43.107,43.107,0,0,1,4.369,15.183,63.392,63.392,0,0,1-6.594,34.518,43.06,43.06,0,0,1-9.658,12.5,33.971,33.971,0,0,1-12.8,7.1A31.617,31.617,0,0,1,236.979,268.392Zm2.89-15.124a15.316,15.316,0,0,0,8.335-.621,19.127,19.127,0,0,0,7.179-4.823,29.811,29.811,0,0,0,5.517-8.364,52.064,52.064,0,0,0,4.345-22.749,29.849,29.849,0,0,0-2.056-9.748,19.178,19.178,0,0,0-4.9-7.13,15.337,15.337,0,0,0-7.52-3.649,15.566,15.566,0,0,0-8.458.6,18.554,18.554,0,0,0-7.119,4.835,30.756,30.756,0,0,0-5.444,8.315,52.084,52.084,0,0,0-4.346,22.748,30.717,30.717,0,0,0,1.984,9.8,18.544,18.544,0,0,0,4.835,7.118A15.532,15.532,0,0,0,239.869,253.268Z"
                  transform="translate(-209.146 -180.413)" fill="#057eff" />
              </g>
            </g>
            <g id="Group_904" data-name="Group 904" transform="translate(44.005 41.26)">
              <path id="Path_93" data-name="Path 93" d="M309.614,232.436l.237,11.4s-3.256,2.918-6.173,0L304.753,231Z"
                transform="translate(-247.475 -228.042)" fill="#00396a" />
              <path id="Path_94" data-name="Path 94"
                d="M292.293,344.8c-.186-.148-1.457-.739-1.633-.887a15.173,15.173,0,0,1-1.98,2.435,4.117,4.117,0,0,1,1.493,3.881,17.1,17.1,0,0,1-1.978,1.5c-1.774.874-5.046,2.088-5.046,2.088l8.24.646L297.5,348.2A38.686,38.686,0,0,1,292.293,344.8Z"
                transform="translate(-243.583 -249.447)" fill="#002e4f" />
              <path id="Path_95" data-name="Path 95"
                d="M250.755,345.547c-1.313-.229-2.969.776-4.037,0a27.108,27.108,0,0,0-.2,3.542l-12.191,5.027H249.9c.14-1.659-.157-3.251.066-4.788C250.077,348.538,250.612,346.308,250.755,345.547Z"
                transform="translate(-234.328 -249.75)" fill="#002e4f" />
              <path id="Path_96" data-name="Path 96"
                d="M268.886,277.283l-13.775,26.174s5.581,4.722,11.077,6.3l10.327-30.839Z"
                transform="translate(-238.268 -236.816)" fill="#cde5e8" />
              <path id="Path_97" data-name="Path 97"
                d="M286.721,337.193a19.487,19.487,0,0,0,2.188-2.878c-3.563-3.054-5.307-6.2-10.149-11.615-2-2.242,3.3-15.076,4.592-17.228,2.315-3.868,2.673-6.673,4.483-13.294L274.382,297.2c-3.2,11.471-6.933,22.944-3.192,28.415,3.952,5.786,10.967,10.446,14.352,12.772C285.671,338.479,286.608,337.107,286.721,337.193Z"
                transform="translate(-241.019 -239.64)" fill="#002e4f" />
              <g id="Group_891" data-name="Group 891" transform="translate(22.138 9.398)">
                <path id="Path_98" data-name="Path 98"
                  d="M262.556,243.905a.912.912,0,0,1-.741-1.443,7.759,7.759,0,0,0,1.324-2.765.912.912,0,0,1,1.8.314,9.361,9.361,0,0,1-1.639,3.513A.911.911,0,0,1,262.556,243.905Z"
                  transform="translate(-261.644 -238.947)" fill="#005ec2" />
              </g>
              <path id="Path_99" data-name="Path 99"
                d="M287.707,287.109c4-11,7.424-28.248,8.7-35.134a17.315,17.315,0,0,0-1.974-.676,7.113,7.113,0,0,0-3.83-.336,7.361,7.361,0,0,0-1.708.85,19.644,19.644,0,0,0-.705,2.754s-8.6,16.443-14.206,27.656A55.874,55.874,0,0,1,287.707,287.109Z"
                transform="translate(-241.846 -231.797)" fill="#f6ee9e" />
              <path id="Path_100" data-name="Path 100"
                d="M268.912,289.987l-.007,0c-.5.994-.968,1.946-1.405,2.837h0c-1.1,1.954-2.29,3.76-3.441,5.495C252.987,315,248.807,328.3,248.069,334.6c1.057.825,5.054,1.292,6.385,1.523,2.042-10.434,7.355-17.1,16.876-24.965,3.186-2.634,5.569-5.98,7.663-8.758a31.375,31.375,0,0,0,3.675-7.525A55.719,55.719,0,0,0,268.912,289.987Z"
                transform="translate(-236.933 -239.224)" fill="#00396a" />
              <g id="Group_892" data-name="Group 892" transform="translate(18.137 18.66)">
                <path id="Path_101" data-name="Path 101"
                  d="M259.809,287.069a3.1,3.1,0,0,1-1.016-6.032c3.764-1.3,9.535-6.449,13.426-11.967a209.735,209.735,0,0,1,13.674-17.664,3.1,3.1,0,1,1,4.617,4.141h0a208.522,208.522,0,0,0-13.222,17.1c-3.841,5.447-10.632,12.231-16.463,14.253A3.087,3.087,0,0,1,259.809,287.069Z"
                  transform="translate(-256.707 -250.375)" fill="#005ec2" />
              </g>
              <g id="Group_893" data-name="Group 893" transform="translate(49.465 12.285)">
                <path id="Path_102" data-name="Path 102"
                  d="M298.285,251.429c-.071,0-.143,0-.216-.008a2.92,2.92,0,0,1-2.7-3.125,17.5,17.5,0,0,1,.849-3.82,2.919,2.919,0,0,1,5.519,1.9,11.673,11.673,0,0,0-.545,2.343A2.922,2.922,0,0,1,298.285,251.429Z"
                  transform="translate(-295.363 -242.509)" fill="#057eff" />
              </g>
              <g id="Group_894" data-name="Group 894" transform="translate(50.685 12.285)">
                <path id="Path_103" data-name="Path 103"
                  d="M299.425,248.35a13.191,13.191,0,0,0,1.677,1.6,2.9,2.9,0,0,0,.378-1.232,11.673,11.673,0,0,1,.545-2.343,2.918,2.918,0,0,0-5.155-2.615A10.8,10.8,0,0,0,299.425,248.35Z"
                  transform="translate(-296.869 -242.509)" fill="#057eff" />
              </g>
              <g id="Group_895" data-name="Group 895" transform="translate(49.727 2.332)">
                <path id="Path_104" data-name="Path 104"
                  d="M306.722,239.7a5.519,5.519,0,0,1-5.641,5.393h0a5.519,5.519,0,0,1-5.393-5.641l.086-3.83a5.518,5.518,0,0,1,5.641-5.394h0a5.519,5.519,0,0,1,5.393,5.641Z"
                  transform="translate(-295.686 -230.228)" fill="#057eff" />
              </g>
              <g id="Group_896" data-name="Group 896" transform="translate(11.942 51.716)">
                <path id="Path_105" data-name="Path 105"
                  d="M253.981,293.945a11.446,11.446,0,0,1-4.358-1.028.912.912,0,0,1,.707-1.682c2.4,1.01,4.312,1.154,5.529.418a.912.912,0,1,1,.944,1.56A5.344,5.344,0,0,1,253.981,293.945Z"
                  transform="translate(-249.063 -291.164)" fill="#005ec2" />
              </g>
              <g id="Group_897" data-name="Group 897" transform="translate(12.9 53.322)">
                <path id="Path_106" data-name="Path 106"
                  d="M255.3,295.647a15.776,15.776,0,0,1-3.941-.6l-.411-.1a.912.912,0,0,1,.425-1.774l.414.1a11.672,11.672,0,0,0,6.91.054.913.913,0,0,1,.455,1.768A15.275,15.275,0,0,1,255.3,295.647Z"
                  transform="translate(-250.246 -293.145)" fill="#005ec2" />
              </g>
              <g id="Group_898" data-name="Group 898" transform="translate(11.577 49.265)">
                <path id="Path_107" data-name="Path 107"
                  d="M253.833,291.575a7.822,7.822,0,0,1-4.924-1.852.912.912,0,0,1,1.23-1.347,5.757,5.757,0,0,0,5.012,1.2.912.912,0,1,1,.455,1.767A7.086,7.086,0,0,1,253.833,291.575Z"
                  transform="translate(-248.613 -288.139)" fill="#005ec2" />
              </g>
              <g id="Group_899" data-name="Group 899" transform="translate(14.067 47.667)">
                <path id="Path_108" data-name="Path 108"
                  d="M256.327,290.222c-.036,0-.071,0-.107-.007a5.88,5.88,0,0,1-4.423-2.7.912.912,0,0,1,1.6-.885,4.061,4.061,0,0,0,3.038,1.768.912.912,0,0,1-.1,1.819Z"
                  transform="translate(-251.685 -286.168)" fill="#005ec2" />
              </g>
              <g id="Group_900" data-name="Group 900" transform="translate(21.947 12.935)">
                <path id="Path_109" data-name="Path 109"
                  d="M269.072,246.049a.853.853,0,0,1-.149-.013c-1.511-.25-5.641-.9-6.6-.9a.913.913,0,1,1,0-1.825c1.284,0,6.328.83,6.9.926a.912.912,0,0,1-.148,1.812Z"
                  transform="translate(-261.409 -243.311)" fill="#005ec2" />
              </g>
              <g id="Group_901" data-name="Group 901" transform="translate(21.526 14.424)">
                <path id="Path_110" data-name="Path 110"
                  d="M268.39,248.312a.878.878,0,0,1-.241-.032,46.085,46.085,0,0,0-6.4-1.307.912.912,0,0,1,.1-1.821,46.485,46.485,0,0,1,6.777,1.369.912.912,0,0,1-.24,1.792Z"
                  transform="translate(-260.889 -245.148)" fill="#005ec2" />
              </g>
              <g id="Group_902" data-name="Group 902" transform="translate(21.203 16.189)">
                <path id="Path_111" data-name="Path 111"
                  d="M267.875,250.731a.953.953,0,0,1-.28-.042c-4.108-1.327-5.12-1.408-5.663-1.451a3.949,3.949,0,0,1-.761-.117.913.913,0,1,1,.467-1.764,2.218,2.218,0,0,0,.439.062c.662.053,1.768.143,6.078,1.533a.911.911,0,0,1-.28,1.779Z"
                  transform="translate(-260.491 -247.326)" fill="#005ec2" />
              </g>
              <g id="Group_903" data-name="Group 903" transform="translate(22.426 18.168)">
                <path id="Path_112" data-name="Path 112"
                  d="M266.356,252.655c-.021,0-.044,0-.066,0-4.114-.294-4.285-2.527-4.29-2.781l1.824-.043a.216.216,0,0,0,0-.059c0,.01.19.892,2.6,1.065a.912.912,0,0,1-.065,1.822Z"
                  transform="translate(-262 -249.768)" fill="#005ec2" />
              </g>
              <path id="Path_113" data-name="Path 113"
                d="M262.076,250.215a5.244,5.244,0,0,0-2.025-.366c-1.037,0-2.448-1.76-2.448-3.587,0,0-.507-5.386,5.179-2.95Z"
                transform="translate(-238.738 -230.257)" fill="#005ec2" />
              <path id="Path_114" data-name="Path 114"
                d="M283.354,267.8l-7.971,39.246s12.344,2.974,19.916-1.387l1.915-54.53S288.741,248.161,283.354,267.8Z"
                transform="translate(-242.111 -231.828)" fill="#cde5e8" />
              <path id="Path_115" data-name="Path 115"
                d="M287.307,298.283l7.636-.41s.183,11.677-4.378,11.221C290.565,309.094,284.323,310.458,287.307,298.283Z"
                transform="translate(-244.218 -240.72)" fill="#e1f3f6" />
              <path id="Path_116" data-name="Path 116"
                d="M294.008,249.74a4.562,4.562,0,0,0-6.44.348,210.646,210.646,0,0,0-13.78,17.8c-.522.739-1.1,1.494-1.707,2.245l-.81.994.883.931c.94.994,1.927,1.963,2.881,2.9q.777.762,1.546,1.529l1.127,1.13,1.024-1.223c.915-1.091,1.759-2.183,2.509-3.245a206.366,206.366,0,0,1,13.116-16.966A4.567,4.567,0,0,0,294.008,249.74Z"
                transform="translate(-241.331 -231.374)" fill="#e1f3f6" />
              <rect id="Rectangle_17" data-name="Rectangle 17" width="4.611" height="10.79"
                transform="translate(28.65 39.673) rotate(-48.062)" fill="#f8fdff" />
              <path id="Path_117" data-name="Path 117"
                d="M288.852,241.359l7.014,2.748s2.982-14.511.806-16.687C296.672,227.421,288.852,226.68,288.852,241.359Z"
                transform="translate(-244.664 -227.363)" fill="#00396a" />
              <path id="Path_118" data-name="Path 118"
                d="M298.828,229.935c.249.37,5.69,4,9.963,3,0,0-.73-6.415-10.7-5.491Z"
                transform="translate(-246.415 -227.351)" fill="#00396a" />
              <path id="Path_119" data-name="Path 119"
                d="M302.758,238.268a3.05,3.05,0,1,1-3.05-3.049A3.05,3.05,0,0,1,302.758,238.268Z"
                transform="translate(-246.144 -228.842)" fill="none" stroke="#dddd67" stroke-miterlimit="10"
                stroke-width="0.868" />
              <path id="Path_120" data-name="Path 120"
                d="M311.444,239.1a2.653,2.653,0,1,1-2.653-2.653A2.653,2.653,0,0,1,311.444,239.1Z"
                transform="translate(-247.941 -229.075)" fill="none" stroke="#dddd67" stroke-miterlimit="10"
                stroke-width="0.755" />
              <path id="Path_121" data-name="Path 121" d="M304.185,238.951a1.651,1.651,0,0,1,1.616.207"
                transform="translate(-247.571 -229.526)" fill="none" stroke="#dddd67" stroke-miterlimit="10"
                stroke-width="0.868" />
            </g>
            <g id="Group_919" data-name="Group 919" transform="translate(0 33.285)">
              <g id="Group_905" data-name="Group 905" transform="translate(8.963 13.823)">
                <path id="Path_122" data-name="Path 122"
                  d="M194.012,243.486c-.071,0-.143,0-.215-.009a2.919,2.919,0,0,1-2.7-3.124,17.537,17.537,0,0,1,.848-3.82,2.919,2.919,0,0,1,5.52,1.9,11.688,11.688,0,0,0-.545,2.345A2.921,2.921,0,0,1,194.012,243.486Z"
                  transform="translate(-191.09 -234.566)" fill="#057eff" />
              </g>
              <g id="Group_906" data-name="Group 906" transform="translate(0 17.871)">
                <path id="Path_123" data-name="Path 123"
                  d="M192.557,336.737a23.965,23.965,0,0,0,9.121,2.232c3.153-5.61,12.649-20.8,4.01-33.267l-12.219-6.567S205.688,311.883,192.557,336.737Z"
                  transform="translate(-182.405 -250.855)" fill="#002e4f" />
                <path id="Path_124" data-name="Path 124"
                  d="M198.441,350.608s1.129-2.29,2.011-3.829a25.64,25.64,0,0,1-4.837-.668,62.247,62.247,0,0,1-5.384,8.086H206.65Z"
                  transform="translate(-181.964 -259.76)" fill="#002e4f" />
                <path id="Path_125" data-name="Path 125"
                  d="M217.569,302.379c-2.042-3.964-16.874-15.9-18.218-22.756-.118-.605-.22-1.229-.309-1.867a19.739,19.739,0,0,1-7.924,1.727c-2.779.14-4.44.313-7.129-1,.228,4.255-.464,8.363,2.017,12.673,4.927,8.551,21.294,15.873,23.12,18.7,3.6,5.575,4.845,17.676,6.071,25.059,1.927,0,6.5-.083,8.374-.75C222.937,330.381,223.966,314.8,217.569,302.379Z"
                  transform="translate(-180.781 -246.802)" fill="#00396a" />
                <path id="Path_126" data-name="Path 126"
                  d="M230.422,350.1s-.532-2.159-.692-3.166c-1.879.661-2.972,0-4.9,0,.293,1.832.076,5.254.246,7.263h15.568Z"
                  transform="translate(-188.522 -259.916)" fill="#002e4f" />
                <path id="Path_127" data-name="Path 127"
                  d="M190.482,274.482c2.371-.109,7.351-.769,9.35-2.767-.409-3.254-1.864-8.49-1.352-12.7,1.736-14.286-5.239-18.569-5.239-18.569s-3.212-2.246-5.815.436c-3.924,4.042-7.753,15.472-7.369,32.369C182.762,274.644,187.639,274.611,190.482,274.482Z"
                  transform="translate(-180.03 -239.562)" fill="#cde5e8" />
              </g>
              <g id="Group_907" data-name="Group 907" transform="translate(11 19.188)">
                <path id="Path_128" data-name="Path 128"
                  d="M228.831,279.3a3.045,3.045,0,0,1-.7-.081c-11.241-2.608-20.762-9.343-27.532-19.479a52.107,52.107,0,0,1-6.9-14.694,3.1,3.1,0,0,1,6.014-1.52,46.855,46.855,0,0,0,6.158,12.943c5.953,8.823,13.912,14.445,23.659,16.707a3.1,3.1,0,0,1-.7,6.123Z"
                  transform="translate(-193.603 -241.187)" fill="#005ec2" />
              </g>
              <path id="Path_129" data-name="Path 129"
                d="M221.87,269.853A39.057,39.057,0,0,1,206.2,256.035a46.513,46.513,0,0,1-6.082-12.771,3.649,3.649,0,0,0-7.076,1.788l.015.067a52.086,52.086,0,0,0,6.958,16.256,46.593,46.593,0,0,0,21.42,17.695.561.561,0,0,0,.2.038.54.54,0,0,0,.306-.095.547.547,0,0,0,.24-.453v-8.214A.545.545,0,0,0,221.87,269.853Z"
                transform="translate(-182.475 -221.87)" fill="#e1f3f6" />
              <g id="Group_908" data-name="Group 908" transform="translate(44.634 54.704)">
                <path id="Path_130" data-name="Path 130"
                  d="M239,287.829a16.092,16.092,0,0,1-3.163-.334.912.912,0,1,1,.357-1.789,10.016,10.016,0,0,0,6.736-.588.912.912,0,1,1,.857,1.609A10.045,10.045,0,0,1,239,287.829Z"
                  transform="translate(-235.105 -285.01)" fill="#005ec2" />
              </g>
              <g id="Group_909" data-name="Group 909" transform="translate(46.544 52.357)">
                <path id="Path_131" data-name="Path 131"
                  d="M239.578,285.238a9.211,9.211,0,0,1-1.336-.095.913.913,0,0,1,.263-1.806,9.965,9.965,0,0,0,5.646-1.1.912.912,0,0,1,.908,1.583A12.078,12.078,0,0,1,239.578,285.238Z"
                  transform="translate(-237.462 -282.114)" fill="#005ec2" />
              </g>
              <g id="Group_910" data-name="Group 910" transform="translate(46.561 50.323)">
                <path id="Path_132" data-name="Path 132"
                  d="M238.772,282.967c-.142,0-.286,0-.434-.015a.912.912,0,1,1,.115-1.82,4.132,4.132,0,0,0,3.3-1.19.912.912,0,1,1,1.416,1.149A5.824,5.824,0,0,1,238.772,282.967Z"
                  transform="translate(-237.483 -279.605)" fill="#005ec2" />
              </g>
              <g id="Group_911" data-name="Group 911" transform="translate(43.784 48.405)">
                <path id="Path_133" data-name="Path 133"
                  d="M234.969,280.98a.912.912,0,0,1,0-1.823,3.834,3.834,0,0,0,2.913-1.527.912.912,0,0,1,1.5,1.04A5.7,5.7,0,0,1,234.969,280.98Z"
                  transform="translate(-234.056 -277.237)" fill="#005ec2" />
              </g>
              <g id="Group_912" data-name="Group 912" transform="translate(39.318 26.599)">
                <path id="Path_134" data-name="Path 134"
                  d="M230.942,255.291a.909.909,0,0,1-.742-.38,9.377,9.377,0,0,1-1.64-3.513.912.912,0,0,1,1.8-.309,7.788,7.788,0,0,0,1.324,2.759.911.911,0,0,1-.21,1.272A.9.9,0,0,1,230.942,255.291Z"
                  transform="translate(-228.546 -250.33)" fill="#005ec2" />
              </g>
              <g id="Group_913" data-name="Group 913" transform="translate(34.825 29.736)">
                <path id="Path_135" data-name="Path 135"
                  d="M230.081,256.428a.976.976,0,0,1-.173-.015,44.155,44.155,0,0,0-5.995-.388.912.912,0,1,1,0-1.823,45.03,45.03,0,0,1,6.338.42.912.912,0,0,1-.17,1.807Z"
                  transform="translate(-223.001 -254.201)" fill="#005ec2" />
              </g>
              <g id="Group_914" data-name="Group 914" transform="translate(34.325 31.565)">
                <path id="Path_136" data-name="Path 136"
                  d="M223.3,258.756a.912.912,0,0,1-.112-1.817c.579-.073,5.7-.7,7.36-.4a.912.912,0,0,1-.319,1.8,40.656,40.656,0,0,0-6.817.416A.9.9,0,0,1,223.3,258.756Z"
                  transform="translate(-222.384 -256.458)" fill="#005ec2" />
              </g>
              <g id="Group_915" data-name="Group 915" transform="translate(35.511 32.491)">
                <path id="Path_137" data-name="Path 137"
                  d="M224.759,261.035a.912.912,0,0,1-.171-1.808,25.824,25.824,0,0,0,3.869-.959c.5-.161,1.125-.361,2.054-.631a.912.912,0,1,1,.507,1.752c-.9.263-1.488.451-2,.615a27.415,27.415,0,0,1-4.084,1.015A.909.909,0,0,1,224.759,261.035Z"
                  transform="translate(-223.847 -257.6)" fill="#005ec2" />
              </g>
              <g id="Group_916" data-name="Group 916" transform="translate(37.476 33.317)">
                <path id="Path_138" data-name="Path 138"
                  d="M227.183,262.678a.912.912,0,0,1-.152-1.811c2.954-.507,3.543-1.609,3.546-1.619a.912.912,0,1,1,1.733.571c-.118.353-.905,2.149-4.971,2.845A1.018,1.018,0,0,1,227.183,262.678Z"
                  transform="translate(-226.272 -258.62)" fill="#005ec2" />
              </g>
              <path id="Path_139" data-name="Path 139"
                d="M231.572,260.533l-.7-7.435a3.53,3.53,0,0,1,3.255,3.654C234.129,257.894,233.8,259.165,231.572,260.533Z"
                transform="translate(-189.669 -224.256)" fill="#005ec2" />
              <g id="Group_917" data-name="Group 917" transform="translate(8.871 3.801)">
                <path id="Path_140" data-name="Path 140"
                  d="M203.48,230.454a5.83,5.83,0,0,1-4.145,7.127h0a5.831,5.831,0,0,1-7.129-4.145l-1.035-3.914a5.831,5.831,0,0,1,4.145-7.128h0a5.83,5.83,0,0,1,7.129,4.145Z"
                  transform="translate(-190.976 -222.2)" fill="#057eff" />
              </g>
              <g id="Group_918" data-name="Group 918" transform="translate(9.995 9.987)">
                <path id="Path_141" data-name="Path 141"
                  d="M203.2,229.833a7.737,7.737,0,0,1-2.032,3.29,8.677,8.677,0,0,1-8.8,1.358l.106.4a5.831,5.831,0,0,0,11.274-2.982Z"
                  transform="translate(-192.363 -229.833)" fill="#00396a" />
              </g>
              <path id="Path_142" data-name="Path 142"
                d="M191.807,233.933c-2.191-1.406-4.555-6.75-1.1-7.92,2.14-.724,1.278,5.873,1.278,7.738Z"
                transform="translate(-181.723 -219.111)" fill="#00396a" />
              <path id="Path_143" data-name="Path 143"
                d="M190.089,224.852c-2.647-1.917.633-7.343,7.172-7.343,4.042,0,4.012,3.1,1.217,4.768-2.319,1.387-5.917.575-7.659,2.939Z"
                transform="translate(-181.763 -217.51)" fill="#00396a" />
              <path id="Path_144" data-name="Path 144"
                d="M204.812,229.484a53.813,53.813,0,0,1-3.462-5.855c-.451-1.018-1.067-2.754.972-1.52,1.708,1.032,2.634,4.671,2.473,6.515Z"
                transform="translate(-183.986 -218.301)" fill="#00396a" />
            </g>
          </g>
          <g id="Group_925" data-name="Group 925" transform="translate(75.426 171.698)">
            <g id="Group_921" data-name="Group 921">
              <path id="Path_145" data-name="Path 145"
                d="M144.919,246.419a39.364,39.364,0,0,0-3.022,2.838l-13.169,27.507,9.8-12.653,10.412-21.523C147.611,243.875,146.279,245.162,144.919,246.419Z"
                transform="translate(-85.53 -185.137)" fill="#006091" />
              <path id="Path_146" data-name="Path 146"
                d="M129.255,238.13c.956-1.306,1.875-2.841,2.961-4.192l-23.049-11.253L87.3,224.876l38.316,17.669C126.873,241.112,128.136,239.661,129.255,238.13Z"
                transform="translate(-77.677 -181.364)" fill="#005ec2" />
              <path id="Path_147" data-name="Path 147"
                d="M141.585,236.77c-1.225,1.533-2.219,3.336-3.4,4.768-1.055,1.285-2.115,2.568-3.2,3.831L152.41,253.4l6.325-8.258Z"
                transform="translate(-86.718 -184.034)" fill="#3195ff" />
              <path id="Path_148" data-name="Path 148"
                d="M104.063,258.086l6.757-14.113L75.426,227.03l5.684-11.872,58.285-34.326,15.9,7.614-23.378,48.833,9.632,4.612-6.541,13.663-9.633-4.611-6.756,14.113Zm26.219-54.769-.9-.43L98.208,221.14l19.153,9.17Z"
                transform="translate(-75.426 -173.43)" fill="#3195ff" />
              <path id="Path_149" data-name="Path 149" d="M155.441,254.454l5.89-7.353-4.622,10.248-8.027,11.211Z"
                transform="translate(-89.313 -185.992)" fill="#006091" />
              <path id="Path_150" data-name="Path 150"
                d="M152.513,230.3,175.5,179.915l-6.983,8.357-23.378,48.833C145.788,236.477,152.141,230.67,152.513,230.3Z"
                transform="translate(-88.641 -173.256)" fill="#005ec2" />
              <path id="Path_151" data-name="Path 151" d="M82.439,213.426l10.386-9.041L149.776,171.7l-9.052,7.4Z"
                transform="translate(-76.756 -171.698)" fill="#3195ff" />
              <path id="Path_152" data-name="Path 152" d="M154.357,179.1l15.9,7.614,6.983-8.358L163.41,171.7Z"
                transform="translate(-90.389 -171.698)" fill="#3195ff" />
            </g>
            <path id="Path_153" data-name="Path 153"
              d="M128.356,225.963a4.554,4.554,0,0,0-4.243-.636,2.587,2.587,0,0,1-1.794-.405.912.912,0,0,0-.992,1.53,8.237,8.237,0,0,0,2.23.9c-1.518,1.383-3.064,3.052-3.15,3.145a.912.912,0,1,0,1.34,1.238c.018-.019,1.1-1.182,2.3-2.341-1.118,1.4-2.166,2.853-2.358,3.12a.913.913,0,0,0,.21,1.273.913.913,0,0,0,1.272-.21c.6-.833,1.439-1.96,2.244-2.97-.3.592-.679,1.262-1.44,2.486a.912.912,0,0,0,1.55.963c.313-.5.566-.921.776-1.28a.912.912,0,0,0,1.612.836,9.718,9.718,0,0,0,1.447-3.234l.037.028C129.9,227.842,129.286,226.624,128.356,225.963Zm-1.827,6.418c.3-.53.507-.931.7-1.33A9.877,9.877,0,0,1,126.529,232.381Z"
              transform="translate(-83.907 -181.76)" fill="#057eff" />
            <path id="Path_154" data-name="Path 154"
              d="M93.374,237.75c-2.888-.164-7.079,5.49-2.792,7.028-3.881-.092-4.83,5.4-1.272,6.91-6.231-1.212-5.506,6.862-2.559,9.784a3.357,3.357,0,0,0-3.714,3.668c.3,2.093,1.134,4.994,6.312,6.548s8.343-1.357,10.92-4.1c1.649,3.37,9.8-1.184,8.9-5.215,3.076,1.09,5.833-2.4,5.9-5.191.06-2.722-1.847-4.8-3.66-6.569,1.277-1.169,1.52-3.339,1.183-5-.559-2.753-4.006-3.027-4.006-5.218,0-.767.147-3.149-.507-4.195-1.041-1.665-2.851-3.314-5.129-2.5C93.374,229.163,93.374,237.75,93.374,237.75Z"
              transform="translate(-76.863 -183.201)" fill="#00396a" />
            <path id="Path_155" data-name="Path 155"
              d="M99.953,348.062c-2.632-.459-3.057-.327-5.657-.962l-6.02,7.357h23.353l-13.562-3.649Z"
              transform="translate(-77.862 -204.949)" fill="#002e4f" />
            <path id="Path_156" data-name="Path 156"
              d="M155.088,350.465l-1.38-1.813a18.377,18.377,0,0,1-3.949,1.984l3.687,4.115h13.682Z"
              transform="translate(-89.517 -205.243)" fill="#002e4f" />
            <path id="Path_157" data-name="Path 157"
              d="M92.653,337.331c2.616.641,5.231,1.308,7.88,1.757l19.283-23.724-3.284-9.426-13.5-15.568,3.889,22.062Z"
              transform="translate(-78.692 -194.195)" fill="#002e4f" />
            <path id="Path_158" data-name="Path 158"
              d="M120.894,282.192c-5.291-1.4-12.464.373-17.611,2.315,0,0,3.157,12.57,5.23,16.32,6.037,10.917,32.144,38.165,32.144,38.165,1.434-.488,4.2-2.511,5.462-3.329Z"
              transform="translate(-80.707 -192.549)" fill="#00396a" />
            <path id="Path_159" data-name="Path 159"
              d="M101.65,284.539c5.109-1.918,15.357-5.154,20.616-3.84,0,0-6.964-16.359-10.126-19.968-2.134-2.434-13.782-9.288-13.782-.327A102.878,102.878,0,0,0,101.65,284.539Z"
              transform="translate(-79.773 -187.665)" fill="#cde5e8" />
            <g id="Group_922" data-name="Group 922" transform="translate(22.171 63.164)">
              <path id="Path_160" data-name="Path 160"
                d="M107.03,258.447c-.068.023-.136.045-.207.065a2.921,2.921,0,0,1-3.579-2.058,17.555,17.555,0,0,1-.461-3.886,2.919,2.919,0,0,1,5.838-.028,11.691,11.691,0,0,0,.259,2.392A2.919,2.919,0,0,1,107.03,258.447Z"
                transform="translate(-102.783 -249.637)" fill="#057eff" />
            </g>
            <g id="Group_923" data-name="Group 923" transform="translate(22.171 63.164)">
              <path id="Path_161" data-name="Path 161"
                d="M108.977,255.561a3,3,0,0,0-.1-.63,11.691,11.691,0,0,1-.259-2.392,2.919,2.919,0,0,0-5.838.028c0,.036,0,.125,0,.247C104.226,254.44,106.6,255.2,108.977,255.561Z"
                transform="translate(-102.783 -249.637)" fill="#0086cf" />
            </g>
            <g id="Group_924" data-name="Group 924" transform="translate(19.266 52.878)">
              <path id="Path_162" data-name="Path 162"
                d="M111.152,244.4a5.52,5.52,0,0,1-3.544,6.954h0a5.52,5.52,0,0,1-6.954-3.544l-1.183-3.644a5.52,5.52,0,0,1,3.543-6.954h0a5.519,5.519,0,0,1,6.954,3.544Z"
                transform="translate(-99.199 -236.945)" fill="#057eff" />
            </g>
            <path id="Path_163" data-name="Path 163"
              d="M143.793,241.2a.9.9,0,0,0-.387-.188c.133-.145.276-.3.442-.481a.912.912,0,0,0-.053-1.289.928.928,0,0,0-.146-.109.907.907,0,0,0-1.056-1.372c.416-.42.674-.712.705-.747a.912.912,0,1,0-1.368-1.206,19.476,19.476,0,0,1-4.044,3.422,4.934,4.934,0,0,0-2.14-1.833.908.908,0,0,0-1.168.523.918.918,0,0,0,.513,1.18,3.077,3.077,0,0,1,1.28,1.146,4.332,4.332,0,0,0-.212.844c-13.425,18.17-31.225,11.72-32.031,11.414a3.1,3.1,0,0,0-2.233,5.787,32.3,32.3,0,0,0,10.79,1.742,33.943,33.943,0,0,0,3.957-.229c6.7-.777,16.612-4.637,24.533-14.844a5.892,5.892,0,0,0,.556-.365,5.06,5.06,0,0,0,.5-.36l-.021-.016a14.034,14.034,0,0,0,1.7-1.734A.911.911,0,0,0,143.793,241.2Z"
              transform="translate(-80.068 -183.793)" fill="#057eff" />
            <path id="Path_164" data-name="Path 164"
              d="M118.945,256.354l-.755.163a26.983,26.983,0,0,1-5.672.6,25.106,25.106,0,0,1-8.33-1.321,3.648,3.648,0,0,0-4.709,2.088,3.277,3.277,0,0,0,.063,2.79c1.781,3.161,6.673,4.439,13.007,4.439a35.378,35.378,0,0,0,4.019-.229c.807-.094,1.655-.233,2.519-.415l.531-.139a21.81,21.81,0,0,1-.921-4.643A27.873,27.873,0,0,1,118.945,256.354Z"
              transform="translate(-79.933 -187.594)" fill="#e1f3f6" />
            <path id="Path_165" data-name="Path 165"
              d="M99.032,246.606c1.916-1.217,2.577-3.5,2.367-5.778,1.68,1.13,3.009.44,4.058-1.5,3.183,4.461,8.035-2.176,1.419-4.579-5.291-1.922-10.477,3.311-9.121,8.573Z"
              transform="translate(-79.617 -183.574)" fill="#00396a" />
          </g>
        </g>
      </svg>
    </div>

    <div class="nf_op">
      <svg xmlns="http://www.w3.org/2000/svg" width="340.55" height="108.22" viewBox="0 0 340.55 108.22">
        <g id="Group_927" data-name="Group 927" transform="translate(-110.203 -175.245)">
          <path id="Path_166" data-name="Path 166"
            d="M201.23,217.933c0,24.53-19.48,43.167-45.574,43.167-25.973,0-45.453-18.518-45.453-43.167,0-24.53,19.48-42.688,45.453-42.688C181.75,175.245,201.23,193.522,201.23,217.933Zm-69.143.12c0,14.189,10.943,25.132,23.809,25.132,12.987,0,23.327-10.943,23.327-25.132s-10.34-24.891-23.327-24.891S132.088,203.863,132.088,218.052Z"
            transform="translate(0 0)" fill="#262626" />
          <path id="Path_167" data-name="Path 167"
            d="M259.546,224.016c0,19.96-14.189,33.189-35.352,33.189-21.284,0-35.473-13.229-35.473-33.189s14.189-33.068,35.473-33.068C245.357,190.948,259.546,204.055,259.546,224.016Zm-49.9.24c0,10.1,5.892,16.835,14.55,16.835,8.538,0,14.429-6.734,14.429-16.835,0-9.98-5.892-16.835-14.429-16.835C215.536,207.421,209.644,214.276,209.644,224.256Z"
            transform="translate(18.284 3.657)" fill="#262626" />
          <path id="Path_168" data-name="Path 168"
            d="M326.314,224.377c0,19.72-11.784,32.827-29.941,32.827-8.417,0-15.27-3.368-19.84-9.38v31.984h-20.8v-88.14h20.8v8.538a23.617,23.617,0,0,1,19.36-9.259C314.169,190.948,326.314,204.295,326.314,224.377Zm-20.923-.6c0-9.86-5.892-16.835-14.549-16.835-8.418,0-14.31,6.974-14.31,16.835,0,10.1,5.892,16.954,14.31,16.954C299.5,240.73,305.391,233.755,305.391,223.775Z"
            transform="translate(33.887 3.657)" fill="#262626" />
          <path id="Path_169" data-name="Path 169"
            d="M373.162,198.087l-7.1,13.468c-7.816-4.209-15.031-6.493-20.442-6.493-3.727,0-6.373,1.444-6.373,4.449,0,8.9,34.149,4.569,34.029,27.176,0,13.347-11.664,20.682-27.3,20.682-10.822,0-21.283-3.127-29.1-9.139L323.5,235c7.336,5.171,15.752,8.057,22.967,8.057,4.088,0,7.1-1.442,7.1-4.449,0-9.5-33.549-4.569-33.429-27.3,0-13.347,11.3-20.562,26.334-20.562A53.007,53.007,0,0,1,373.162,198.087Z"
            transform="translate(48.128 3.611)" fill="#262626" />
          <path id="Path_170" data-name="Path 170"
            d="M390.125,250.772a9.659,9.659,0,0,1-10.1,10.1c-5.772,0-9.98-4.088-9.98-10.1a9.6,9.6,0,0,1,9.98-9.98C385.916,240.792,390.125,244.88,390.125,250.772Zm-3.487-19.72H374.132l-3.607-33.429v-21.4h19.721v21.4Z"
            transform="translate(60.507 0.227)" fill="#262626" />
        </g>
      </svg>
      <br>
      <h4>{{translation?.dashobard_page_not_found}}</h4>
      <a class="home_btn" (click)="gotTo('/')">{{translation?.dashobard_homepage}}</a>

    </div>

    <div class="nf_links">

      <a (click)="gotTo('workspace')"
        *ngIf="details?.user_current_account?.users_accounts?.parmission_access_my_workspace=='1' "><svg
          xmlns="http://www.w3.org/2000/svg" width="24.101" height="19.774" viewBox="0 0 24.101 19.774">
          <g id="old-fashion-briefcase" transform="translate(0.001 -4.509)">
            <g id="Group_840" data-name="Group 840" transform="translate(-0.001 4.509)">
              <g id="Group_839" data-name="Group 839">
                <path id="Path_32" data-name="Path 32"
                  d="M25.023,27.924v-.536a1.182,1.182,0,0,0-2.363,0v.536a1.182,1.182,0,0,0,2.363,0Z"
                  transform="translate(-11.791 -15.8)" fill="#626262" />
                <path id="Path_33" data-name="Path 33"
                  d="M14.568,30.795a2.078,2.078,0,0,1-3.984,0H2.445a3.33,3.33,0,0,1-1.435-.327v5.4a1.924,1.924,0,0,0,1.919,1.919H22.223a1.924,1.924,0,0,0,1.919-1.919v-5.4a3.329,3.329,0,0,1-1.434.327Z"
                  transform="translate(-0.525 -18.017)" fill="#626262" />
                <path id="Path_34" data-name="Path 34"
                  d="M22.1,7.583H17.5a3.654,3.654,0,0,0-3.6-3.074H10.2A3.654,3.654,0,0,0,6.6,7.583H2A1.966,1.966,0,0,0,0,9.5V13.93a1.919,1.919,0,0,0,1.919,1.919H9.966a2.084,2.084,0,0,1,.639-1.407c.012-.011.025-.02.037-.03a2.107,2.107,0,0,1,.264-.211c.034-.023.072-.038.107-.058a2.05,2.05,0,0,1,.238-.126,2.088,2.088,0,0,1,.206-.064c.059-.018.116-.041.178-.054a2.076,2.076,0,0,1,.414-.042,2.1,2.1,0,0,1,.414.042c.061.012.118.036.178.054a2.044,2.044,0,0,1,.206.064,2.073,2.073,0,0,1,.237.125c.035.021.073.036.108.059a2.056,2.056,0,0,1,.263.21c.012.011.027.02.037.031a2.081,2.081,0,0,1,.639,1.407h8.048A1.919,1.919,0,0,0,24.1,13.931V9.5A1.966,1.966,0,0,0,22.1,7.583Zm-13.65,0A1.852,1.852,0,0,1,10.2,6.3h3.69a1.852,1.852,0,0,1,1.754,1.278Z"
                  transform="translate(0.001 -4.509)" fill="#626262" />
              </g>
            </g>
          </g>
        </svg>
        {{translation?.hp_workspace}}

      </a>

      <a (click)="gotTo('video_huddles')">
        <svg xmlns="http://www.w3.org/2000/svg" width="22.004" height="21.54" viewBox="0 0 22.004 21.54">
          <g id="Group_6" data-name="Group 6" transform="translate(-165 -255)">
            <g id="Group_830" data-name="Group 830" transform="translate(165 255)">
              <g id="noun_bubble_443990">
                <path id="Path_1" data-name="Path 1"
                  d="M24.22,23.312l.293-.391a10.65,10.65,0,0,0,2-6.252,10.765,10.765,0,1,0-5.739,9.524l.269-.147.293.1a19.429,19.429,0,0,0,5.544.952H27a30.305,30.305,0,0,1-2.491-3.37Z"
                  transform="translate(-5 -5.9)" fill="#626262" />
              </g>
              <g id="iconfinder_group_309042" transform="translate(4.933 6.577)">
                <g id="Group_11" data-name="Group 11" transform="translate(6.522 0)">
                  <g id="Group_9" data-name="Group 9" transform="translate(0 4.933)">
                    <path id="Path_4" data-name="Path 4"
                      d="M14.873,14a4.021,4.021,0,0,0-1.973.493,5.327,5.327,0,0,1,1.151,1.48l.055.11v1.206H18.49v-1.1A4.023,4.023,0,0,0,14.873,14Z"
                      transform="translate(-12.9 -14)" fill="#fff" />
                  </g>
                  <g id="Group_10" data-name="Group 10" transform="translate(0.055)">
                    <circle id="Ellipse_1" data-name="Ellipse 1" cx="1.918" cy="1.918" r="1.918" fill="#fff" />
                  </g>
                </g>
                <g id="Group_12" data-name="Group 12" transform="translate(0 0)">
                  <path id="Path_5" data-name="Path 5"
                    d="M2.644,6.918A1.942,1.942,0,0,1,4.563,5a1.918,1.918,0,1,1,0,3.837A1.942,1.942,0,0,1,2.644,6.918ZM4.563,9.933A3.809,3.809,0,0,0,1,12.125v1.1H8.125v-1.1A3.809,3.809,0,0,0,4.563,9.933Z"
                    transform="translate(-1 -5)" fill="#fff" />
                </g>
              </g>
            </g>
          </g>
        </svg> {{translation?.hp_huddle}}
      </a>


      <a (click)="gotTo('people')" *ngIf="isAllowedPeople()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24.854" height="16.869" viewBox="0 0 24.854 16.869">
          <g id="Group_6" data-name="Group 6" transform="translate(-174 -267)">
            <g id="iconfinder_group_309042" transform="translate(174 267)">
              <g id="Group_11" data-name="Group 11" transform="translate(13.383 0)">
                <g id="Group_9" data-name="Group 9" transform="translate(0 10.122)">
                  <path id="Path_4" data-name="Path 4"
                    d="M16.949,14A8.25,8.25,0,0,0,12.9,15.012a10.93,10.93,0,0,1,2.362,3.036l.112.225v2.474h9V18.5A8.255,8.255,0,0,0,16.949,14Z"
                    transform="translate(-12.9 -14)" fill="#626262" />
                </g>
                <g id="Group_10" data-name="Group 10" transform="translate(0.112)">
                  <circle id="Ellipse_1" data-name="Ellipse 1" cx="3.936" cy="3.936" r="3.936" fill="#626262" />
                </g>
              </g>
              <g id="Group_12" data-name="Group 12" transform="translate(0 0)">
                <path id="Path_5" data-name="Path 5"
                  d="M4.374,8.936A3.985,3.985,0,0,1,8.31,5a3.985,3.985,0,0,1,3.936,3.936A3.985,3.985,0,0,1,8.31,12.872,3.985,3.985,0,0,1,4.374,8.936ZM8.31,15.122A7.815,7.815,0,0,0,1,19.62v2.249H15.62V19.62A7.815,7.815,0,0,0,8.31,15.122Z"
                  transform="translate(-1 -5)" fill="#626262" />
              </g>
            </g>
          </g>
        </svg> {{translation?.invite_people}}
      </a>



      <a *ngIf="details?.library_permission==1" routerLink = '/VideoLibrary/'>

        <svg xmlns="http://www.w3.org/2000/svg" id="Group_3" data-name="Group 3" width="23.766" height="23.766"
          viewBox="0 0 23.766 23.766">
          <g id="Group_831" data-name="Group 831">
            <circle id="Oval" cx="11.883" cy="11.883" r="11.883" fill="#626262" />
            <path id="Path"
              d="M0,.717C0,.164.485-.183.868.1L3.792,2.184,6.716,4.25a.819.819,0,0,1,0,1.246L3.792,7.579.868,9.677C.485,9.961,0,9.614,0,9.062V.717Z"
              transform="translate(9.031 7.605)" fill="#fff" />
          </g>
        </svg> {{translation?.hp_library}}
      </a>




    </div>


  </div>

</div>