.box_outer {
    background: #fff;
    border-radius: 5px;
    margin-top: 14px !important;
    margin-bottom: 20px !important;
}
.breadcrumb-animate {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #d9d9d9;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #e9e9e9), color-stop(18%, #F0F0F0), color-stop(33%, #efefef));
    background: linear-gradient(to right, #e9e9e9 8%, #F0F0F0 18%, #efefef 33%);
    background-size: 800px 104px;
    height: 20px;
    position: relative;
}

.topheader {
    text-align: center;
    background: url(/assets/img/bgrep.png) repeat-x;
}

.pan_heading {
    border-bottom: 1px solid #ddd;
    padding: 5.5px 10px;
    background: #f9f9f9;     border-top-left-radius: 5px;     border-top-right-radius: 5px;
}

img {
    max-width: 100%;
}

.pan_heading h3 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #484848;
}

.tabs_barcls {
    padding: 15px 0 0 0;
    height: 55px;
}

.tabs_barcls .nav-tabs {
    border: 0;
    position: relative;
    top: 4px;
}

.tabs_barcls .nav-tabs .nav-item {
    margin-bottom: -1px;
    border: 1px solid #ddd;
    padding: 6px 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 0;
    height: 37px;
}

.tabs_barcls .nav-tabs .nav-item a {
    color: #A0A0A0;
    text-decoration: none;
    font-size: 15px;
}

.tabs_barcls .nav-tabs .nav-item a.active {
    color: #1C7CD5;
}

.tracker_as {
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.search_coaching input[type=text] {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 4px 25px 4px 35px;
    background: url(/home/assets/trackers/img/search_icon.svg) no-repeat center left 11px;
    background-size: 19px;
}

.search_coaching {
    width: 31.5%;
    float: left; position:relative;
}

.coaching_filter {
    float: left;
    padding-left: 15px;
}

.date_coaching {
    width: 28%;
    float: left;
    float: left;
}

.co_or {
    float: left;
    text-align: center;
    width: 4%;
    line-height: 41px;
}

.date_coaching input[type=text] {
    width: 231px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 4px 35px 4px 15px;
    background: url(/home/assets/trackers/img/cal_ic.svg) no-repeat center right 11px;
    background-size: 19px;
}

.coaching_option {
    position: relative;
    float: right;
}

.open_coachrow {
    float: right;
}

.open_coachrow {
    cursor: pointer;
}

.coaching_option button {
    border: 0;
    padding: 0;
    background: none;
    outline: none;
    cursor: pointer;
    margin-right: 13px;
}

.coaching_option .dropdown-toggle::after {
    display: none;
}

.coaching_option .dropdown-menu {
    min-width: 85px !important;
    padding: 10px 6px 6px 9px !important;
    left: inherit !important;
    right: 0 !important;
}

.coaching_option .dropdown-menu a {
    font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 5px;
    cursor: pointer !important;
}

.coaching_option .dropdown-item {
    padding: 1px 13px;
}

.coachingopt_row .col-10 {
    padding-left: 0;
}

.coachingopt_row {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.coachingopt_row p {
    margin: 0;
    color: #010101;
}

.coachingopt_row p span {
    color: #616161;
}

.coachingopt_row h3 {
    color: #000;
    font-size: 16px;
    margin: 0;
}

.coachingopt_row .col-2 {
    text-align: right;
}

.coachingopt_row .col-10 p {
    color: #010101;
    margin: 0;
}

.coaching_filter .btn-secondary {
    border-color: #cccccc;
    background: #fff;
    color: #484848;
    min-width: 75px;
    text-align: center;
    line-height: 26px;
    padding-left: 2px;
    padding-right: 2px;
}

.coaching_filter .active {
    background: #f5f5f5 !important;
    color: #484848 !important;
    border-color: #cccccc !important;
}

.coaching_filter .ic1 {
    width: 18px;
    margin-right: 8px;
    position: relative;
    top: -1px;
}

.coaching_filter .ic2 {
    width: 13px;
    margin-right: 8px;
    position: relative;
    top: -1px;
}

.coaching_filter .ic3 {
    width: 20px;
    margin-right: 8px;
    position: relative;
    top: -1px;
}

.coaching_filter .btn-secondary:not(:disabled):not(.disabled).active:focus,
.coaching_filter .btn-secondary:not(:disabled):not(.disabled):active:focus,
.coaching_filter .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(108, 117, 125, 0);
    border-color: #cccccc !important;
}

.coaching_filter .btn-secondary.focus,
.coaching_filter .btn-secondary:focus {
    box-shadow: 0 0 0 0 rgba(108, 117, 125, 0);
}

.coaching_filter .btn-secondary:not(:disabled):not(.disabled).active,
.coaching_filter .btn-secondary:not(:disabled):not(.disabled):active,
.coaching_filter .show>.btn-secondary.dropdown-toggle {
    background: #fff;
    opacity: 1 !important;
    color: #484848 !important;
    border-color: #cccccc !important;
}

.right_co {
    padding-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.onlyborder {
    border-bottom: 1px solid #ddd;
    margin: 0 15px;
    display: block;
    flex: auto;
    padding-top: 15px;
}

.clear {
    clear: both;
}

.no_coaching {
    text-align: center;
    padding: 70px 15px;
    color: #484848;
    font-size: 16px;
    border: 0 !important;
}

.no_coaching img {
    margin-right: 5px;
}


/****/

.coach_inercls {
    width: 100%;
}

.innerheading {
    border-bottom: 1px solid #ddd;
    padding: 30px 0 15px 0;
}

.coacheecls {
    float: left;
    width: 25%;
    padding-top: 7px;
}

.feedback_cls {
    float: left;
    width: 50%;
    padding-top: 7px;
}

.coachee_search {
    float: left;
    width: 25%;
}

.coachee_search input[type=text] {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 4px 25px 4px 35px;
    background: url(/home/assets/img/search_icon.svg) no-repeat center left 11px;
    background-size: 19px;
}

.feedback_cls span {
    margin-right: 15px;
    color: #484848;
}

.feedback_cls i {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-right: 6px;
}

.fed1 i {
    border: 2px solid #FF6969;
}

.fed2 i {
    border: 2px solid #FFD169;
}

.fed3 i {
    border: 2px solid #28A745;
}

.coach_bx {}

.coach_detail {}

.open_coachrow img {
    width: 18px;
}

.coaching_option button img {
    width: 17px;
}

.p0 {
    padding: 0;
}

@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.tran {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #d9d9d9;
    background: linear-gradient(to right, #e9e9e9 8%, #F0F0F0 18%, #efefef 33%);
    background-size: 800px 104px;
    position: relative;
}

.tracker_opt .activecls {
    font-weight: 600;
    color: #057eff!important;
}

.tracker_opt .activecls svg {
    float: right;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 6px;
    right: 6px;
}

.tracker_opt a svg path {
    fill: #057eff;
}

.trac1 {
    height: 20px;
    width: 200px;
    margin-bottom: 10px !important;
}

.trac2 {
    height: 15px;
    width: 430px;
}

.trac3 {
    height: 20px;
    width: 20px;
    float: right;
}

.trac4 {
    width: 100px;
    height: 16.2px;
    display: block;
    margin: 3px 0px;
}

.trac5 {
    height: 40px;
    width: 60%;
}

.trac6 {
    height: 22px;
    width: 22px;
    float: right;
    position: relative;
    top: 5px;
    margin-right: 15px;
}

.trc_row .col-11 {
    padding-left: 0;
}

.trc_row .col-9 {
    padding-left: 0;
}

.trc_row {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.trc_row p {
    margin: 0;
    color: #010101;
}

.trc_row p span {
    color: #616161;
}

.trc_row h3 {
    color: #000;
    font-size: 16px;
    margin: 0;
}

.trc_row .col-1 {
    text-align: right;
}

.trc_row .col-11 p {
    color: #010101;
    margin: 0;
}

.trc_row .col-11 p span {
    color: #616161;
}

.x_hu_cross {
    cursor: pointer;
    position: absolute;
    right: 14px;
    opacity: 0.6;
    top: 16px;
}

.coaching_filter .active {
    font-weight: 800;
}

.pan_heading .col-6 {
    padding: 0 7px;
}

.pan_heading h3 {
   font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #212528;
}
