<h6 class='wb'>{{singleGoalData?.title}}</h6>
<div class="gsort" *ngIf="allowEditDelete" dropdown>
    <button id="goal-action-btns" dropdownToggle type="button"
        class="dropdown-toggle" aria-controls="goal-action-dropdown">
        <img src="assets/goals/img/dots_3.svg" width="25">
    </button>
    <ul id="goal-action-dropdown" *dropdownMenu
        class="action-dropdown dropdown-menu" role="menu"
        aria-labelledby="goal-action-btn">
        <a class="dropdown-item" [routerLink]="['/goals/edit', goal_id]" [queryParams]="{addNew: true}">
            {{translation.add_angular_rubrics}}
        </a>
        <a class="dropdown-item" [routerLink]="['/goals/edit', goal_id]" [queryParams]="{editAction: singleGoalData?.id}">
            {{translation.edit_all}}
        </a>
        <a  class="dropdown-item" (click)="deleteActionItem(singleGoalData?.id)">
            {{translation.delete_all}}
        </a>
    </ul>
</div>
<!-- <p class='wb' [innerHtml]="singleGoalData?.description  | safeHtml"></p> -->
<div *ngIf="singleGoalData?.description">
<p *ngIf="singleGoalData?.description.includes('h1') || singleGoalData?.description.includes('h2')" class="goal-desc wb" [innerHtml]="singleGoalData?.description | safeHtml"></p>        
<p *ngIf="!singleGoalData?.description.includes('h2') && !singleGoalData?.description.includes('h1')" class='wb' [innerHtml]="singleGoalData?.description | safeHtml"></p>
</div>
<div class="acti_item">
    <label class="checkboxcls">
        <input type="checkbox"  (change)="actionItemDone($event.target)" [(ngModel)]='singleGoalData.is_done'>
        <span class="checkmark"></span>
       <p><b>{{headerService.getGoalAltTranslation(translation?.action_item_done)}}</b></p>
    </label>
</div>
<ng-container *ngIf="(checkDueDate() && edit_mode_reflection && owner) || (addReview && headerData.goal_settings.review_collaborators && edit_mode_reflection) || (goalSettings.goal_owner_setting && owner && edit_mode_reflection)">
<label class="rb_cls">{{translation.goal_reflection}}</label>
    <quill-editor *ngIf="edit_mode_reflection"
    [placeholder]="translation?.placeholder_type"
    [style]="{ height: '100px' }"
    [modules]="editGoalService.GetEditorOptionsCom().modules"
    name="description"
    [(ngModel)]="reflection"
    ></quill-editor>
<div class="sav_canc">
    <button class="btn" [disabled]="reflection=='' || reflection=='<p></p>'" (click)="cancelEditMode(2)">{{translation?.cancel_popup}}</button>
    <button class="btn btn_save" [disabled]="!reflection || reflection =='' ||  trimSpaces(reflection) =='<p></p>'" (click)="saveReflection(singleGoalData)">{{translation?.save_popup}}</button>
</div>
</ng-container>

<ng-container *ngIf="!edit_mode_reflection && singleGoalData?.reflection">
<label class="rb_cls">{{translation.goal_reflection}}</label>
<p *ngIf="singleGoalData?.reflection.includes('h1') || singleGoalData?.reflection.includes('h2')" class="goal-desc break_word" [innerHtml]="singleGoalData?.reflection | safeHtml"></p>
<p *ngIf="!singleGoalData?.reflection.includes('h1') && !singleGoalData?.reflection.includes('h2')" class="break_word" [innerHtml]="singleGoalData?.reflection | safeHtml"></p>

</ng-container>
<p *ngIf="(!edit_mode_reflection && singleGoalData.is_done !=1 && checkDueDate() && owner) || (addReview && headerData.goal_settings.review_collaborators && !edit_mode_reflection) || (goalSettings.goal_owner_setting && owner && !edit_mode_reflection)" class="edit_wf"> <a (click)="edit(singleGoalData,1)"><img src="assets/goals/img/pencil.svg"> {{translation?.goals_edit}}</a> </p>

<ng-container *ngIf="(singleGoalData.add_measurement && goalSettings.enable_measurement && addMeasurement) || (addReview && headerData.goal_settings.review_collaborators && singleGoalData.add_measurement) || (goalSettings.goal_owner_setting && owner && singleGoalData.add_measurement)">
    <label class="rb_cls">{{headerService?.getGoalAltTranslation(translation.goals_measurement_value)}}</label>
    <input type="text"(keyup.enter)="measurementChange(singleGoalData.current_value)" (ngModelChange)="measurementChange($event)" [(ngModel)]="singleGoalData.current_value" class="form-control" [disabled] = '((singleGoalData.is_done || !checkDueDate()) && (!addReview || !headerData.goal_settings.review_collaborators) && (!goalSettings.goal_owner_setting && !owner))'>
</ng-container>
<ng-container *ngIf="((!singleGoalData.feedback || edit_mode_feedback) && addReview && singleGoalData.is_done ==1) || (addReview && headerData.goal_settings.review_collaborators &&  singleGoalData.is_done ==1 && (!singleGoalData.feedback || edit_mode_feedback)) ">
    <label class="rb_cls ">{{translation?.feedback}}</label>
    <quill-editor 
    [style]="{ height: '100px' }"
    [modules]="editGoalService.GetEditorOptionsCom().modules"
    name="description"
    (ngModelChange)="fbFocus($event)"
    [(ngModel)]="singleGoalData.feedback"
    ></quill-editor>
    <div *ngIf="feedbackFocus" class="sav_canc">
        <button class="btn" [disabled]="singleGoalData.feedback=='' || singleGoalData.feedback=='<p></p>' " (click)="cancelEditMode(1)">{{translation?.cancel_popup}}</button>
        <button class="btn btn_save"  [disabled]="!singleGoalData.feedback || singleGoalData.feedback =='' || trimSpaces(singleGoalData.feedback) =='<p></p>' " (click)="save(singleGoalData,1)">{{translation?.save_popup}}</button>
    </div>
</ng-container>

<ng-container *ngIf="!edit_mode_feedback && singleGoalData?.feedback">
    <label class="rb_cls">{{translation?.feedback}}</label>
    <p *ngIf="singleGoalData?.feedback.includes('h1') || singleGoalData?.feedback.includes('h2')" class="goal-desc break_word" [innerHtml]="singleGoalData?.feedback  | safeHtml"></p>
    <p *ngIf="!singleGoalData?.feedback.includes('h1') && !singleGoalData?.feedback.includes('h2')" class="break_word" [innerHtml]="singleGoalData?.feedback  | safeHtml"></p>

    <p *ngIf="(!edit_mode_feedback && checkDueDate() && addReview) || (addReview && headerData.goal_settings.review_collaborators && !edit_mode_feedback) " class="edit_wf"> <a (click)="edit(singleGoalData);feedbackFocus=true"><img src="assets/goals/img/pencil.svg"> {{translation?.goals_edit}}</a> </p>
</ng-container>

<div class="evi_dence scroll_width"  *ngIf="evidenceAllowed.length > 0">
    <label>{{headerService?.getGoalAltTranslation(translation?.goals_evidence)}}</label>
    <div class="evi_option" *ngIf="singleGoalData.is_done !=1">
        <div class="evsort" dropdown>
            <button type="button" class="dropdown-toggle" data-toggle="dropdown" dropdownToggle *ngIf="(addEvidence && checkDueDate()) || (addReview && headerData.goal_settings.review_collaborators) || (goalSettings.goal_owner_setting && owner)">
                <img src="assets/goals/img/plus_gry.svg"> 
            </button>
            <div class="dropdown-menu" *dropdownMenu role="menu">
                <a *ngIf="evidenceAllowed?.includes(1)" class="dropdown-item" role="menuitem" data-toggle="modal" (click)="openEvidenceModal('video')">{{translation?.artifact_videos}}</a>
                <a *ngIf="evidenceAllowed?.includes(2)" class="dropdown-item" role="menuitem" data-toggle="modal" (click)="openEvidenceModal('resource')">{{translation?.artifacts_resource}}</a>
                <a *ngIf="evidenceAllowed?.includes(3)" class="dropdown-item" role="menuitem" data-toggle="modal" (click)="openEvidenceModal('huddle')">{{translation?.huddle}}</a>
                <a *ngIf="evidenceAllowed?.includes(4) && canUseFramework" class="dropdown-item" role="menuitem" data-toggle="modal" (click)="openFrameworkModal()">{{translation?.huddle_more_frameworks}}</a>
                <a *ngIf="evidenceAllowed?.includes(5)" class="dropdown-item" role="menuitem" data-toggle="modal" (click)="openEvidenceModal('scripted_notes')">{{translation?.workspace_scriptednotes}}</a>
            </div>
        </div>
    </div>
    <div class="popup_scroll" slimScroll [options]="opts" [scrollEvents]="scrollEvents">
        <div class="sample_data">
            <ng-container *ngFor="let evidence of singleGoalData?.submitted_evidence">
                <div class="row sample_top" *ngIf="evidence.title">
                    <!-- <span>{{evidenceType[evidence.evidence_type-1]}}</span> -->
                    <!-- <div class="evi_del" dropdown *ngIf="(addEvidence && checkDueDate() && singleGoalData.is_done !=1) || (addReview && headerData.goal_settings.review_collaborators) || (goalSettings.goal_owner_setting && owner)">
                        <button type="button" class="dropdown-toggle" data-toggle="dropdown" dropdownToggle>
                            <img src="assets/goals/img/dots_3.svg" width="25">
                        </button>
                        <div class="dropdown-menu" *dropdownMenu role="menu">
                            <a class="dropdown-item" role="menuitem" (click)="deleteEvidence(evidence,evidenceType[evidence.evidence_type-1])">{{translation?.artifact_delete}}</a>
                        </div>
                    </div> -->
                    <div   *ngIf="(evidence.evidence_type == 1) && evidence?.title && evidence?.title.split('___')[2] == 1" class="col-12">
                        <!-- this will run for huddle videos -->
                        <div class="sample_inner">
                            <a  target="_blank" routerLink="/video_details/home/{{evidence?.title.split('___')[1]}}/{{evidence?.evidence_ref_id}}" [queryParams]="{ goalEvidence: true }">
                              <div class="thumb_ac" >
                               <div  [ngClass]="evidence.thumbnail_type == 'custom' ?'placeholder_v' :'thumbnail_default_cl' "><img [src]="evidence?.thumbnail"></div>
                               <span class="play_acc"> <img src="assets/goals/img/video_ply.svg"> </span>
                               <span class="acc_time">{{FormatSeconds(evidence.duration)}}</span>
                            </div>
                        </a>
                              
                              
                              <div class="sample_detail">
                                <a  target="_blank" routerLink="/video_details/home/{{evidence?.title.split('___')[1]}}/{{evidence?.evidence_ref_id}}" [queryParams]="{ goalEvidence: true }">
                              <div class="ac_video">
                               <label>{{evidence?.title ? evidence?.title.split('___')[0] : '--'}}</label>
                              </div> 
                              </a>
                              <div class="ac_op dropdown" dropdown *ngIf="(addEvidence && checkDueDate() && singleGoalData.is_done !=1) || (addReview && headerData.goal_settings.review_collaborators) || (goalSettings.goal_owner_setting && owner)">
                                <button type="button" class="dropdown-toggle" data-toggle="dropdown" dropdownToggle>
                                    <img src="assets/goals/img/dots_3.svg" width="25">
                                </button>
                                <div class="dropdown-menu" *dropdownMenu role="menu">
                                    <a class="dropdown-item" role="menuitem" (click)="deleteEvidence(evidence,evidenceType[evidence.evidence_type-1])">{{translation?.artifact_delete}}</a>
                                </div>
                            </div>
                             <div class="clear"></div>
                             <p class="h_by">By: <b>{{evidence.username}}</b></p>
                             <p class="h_date">Uploaded: {{dateFormat(evidence.created_date)}}</p>
                             
                             <div class="acc_option">
                                 <a class="chat_cls"  tooltip="Video Comments"> <img src="assets/goals/img/comm_icon.svg"> {{evidence.total_comments}}</a>
                                    <a class="h_att"  tooltip="Video Attachments"><img src="assets/goals/img/attachment_icon.svg"> {{evidence.total_attachment}} </a>
                                
                               
                                
                             </div>
                             
                             
                             </div>
                             <div class="clear"></div>
                             
                            </div>
                    
                 </div>
                    <div   *ngIf="(evidence.evidence_type == 1 ) && evidence?.title && evidence?.title.split('___')[2] == 3" class="col-12">
                        <!-- this will run for workspace videos only -->
                        <div class="sample_inner">
                            <a target="_blank" routerLink="/workspace_video/home/{{evidence?.title.split('___')[1]}}/{{evidence?.evidence_ref_id}}" [queryParams]="{ goalEvidence: true }">
                              <div class="thumb_ac">
                               <div [ngClass]="evidence.thumbnail_type == 'custom' ?'placeholder_v' :'thumbnail_default_cl' "><img [src]="evidence?.thumbnail"></div>
                               <span  class="play_acc"> <img src="assets/goals/img/video_ply.svg"> </span>
                               <span  class="acc_time">{{FormatSeconds(evidence.duration)}}</span>
                            </div>
                        </a>
                              
                              <div class="sample_detail">
                                <a target="_blank" routerLink="/workspace_video/home/{{evidence?.title.split('___')[1]}}/{{evidence?.evidence_ref_id}}" [queryParams]="{ goalEvidence: true }">
                              <div class="ac_video">
                               <label>{{evidence?.title ? evidence?.title.split('___')[0] : '--'}}</label>
                              </div> 
                            </a>
                            
                              <div class="ac_op dropdown" dropdown *ngIf="(addEvidence && checkDueDate() && singleGoalData.is_done !=1) || (addReview && headerData.goal_settings.review_collaborators) || (goalSettings.goal_owner_setting && owner)">
                                <button type="button" class="dropdown-toggle" data-toggle="dropdown" dropdownToggle>
                                    <img src="assets/goals/img/dots_3.svg" width="25">
                                </button>
                                <div class="dropdown-menu" *dropdownMenu role="menu">
                                    <a class="dropdown-item" role="menuitem" (click)="deleteEvidence(evidence,evidenceType[evidence.evidence_type-1])">{{translation?.artifact_delete}}</a>
                                </div>
                            </div>
                             <div class="clear"></div>
                             <p class="h_by">By: <b>{{evidence.username}}</b></p>
                             <p class="h_date">Uploaded: {{dateFormat(evidence.created_date)}}</p>
                             
                             <div class="acc_option">
                                <a class="chat_cls"  tooltip="Video Comments"> <img src="assets/goals/img/comm_icon.svg" > {{evidence.total_comments}}</a>
                                <a class="h_att"  tooltip="Video Attachments"> <img src="assets/goals/img/attachment_icon.svg"> {{evidence.total_attachment}} </a>   
                             </div>
                             
                             
                             </div>
                             <div class="clear"></div>
                             
                            </div>
                    
                 </div>
                 <div   *ngIf="evidence.evidence_type == 2" class="col-12">
                           
                    <div class="sample_inner">
                        <a target="_blank" href="{{evidence?.stack_url}}">
                          <div class="thumb_ac">
                           <div  [ngClass]="evidence.thumbnail_type == 'custom' ?'placeholder_v' :'doc_icons' "><img [src]="evidence?.thumbnail"></div>
                        </div>
                          </a>
                          
                          <div class="sample_detail">
                            <a target="_blank" href="{{evidence?.stack_url}}">
                          <div class="ac_video">
                           <label>{{evidence?.title ? evidence?.title.split('___')[0] : '--'}}</label>
                          </div> 
                          </a>
                          <div class="ac_op dropdown" dropdown *ngIf="(addEvidence && checkDueDate() && singleGoalData.is_done !=1) || (addReview && headerData.goal_settings.review_collaborators) || (goalSettings.goal_owner_setting && owner)">
                            <button type="button" class="dropdown-toggle" data-toggle="dropdown" dropdownToggle>
                                <img src="assets/goals/img/dots_3.svg" width="25">
                            </button>
                            <div class="dropdown-menu" *dropdownMenu role="menu">
                                <a class="dropdown-item" role="menuitem" (click)="deleteEvidence(evidence,evidenceType[evidence.evidence_type-1])">{{translation?.artifact_delete}}</a>
                            </div>
                        </div>
                         <div class="clear"></div>
                         <p *ngIf="evidence.doc_type == 5" class="h_by">URL: <b>{{evidence.url}}</b></p>
                         <p class="h_by">By: <b>{{evidence.username}}</b></p>
                         <p class="h_date">{{evidence.doc_type == 5?'Created':'Uploaded'}}: {{dateFormat(evidence.created_date)}}</p>
                         
                         <div class="acc_option">
                            
                           
                            
                         </div>
                         
                         
                         </div>
                         <div class="clear"></div>
                         
                        </div>
                
             </div>
                   
                    <div  *ngIf="evidence.evidence_type ==3" class="col-12">
                           
                        <div class="sample_inner">
                            <a target="_blank" [routerLink]="['/video_huddles/huddle/details', evidence.evidence_ref_id, 'artifacts', 'grid']" [queryParams]="{ goalEvidence: true }">
                            <div class="thumb_ac">
                             <div class="doc_icons"><img src="assets/goals/img/for_huddle.svg"></div>
                          
                          </div>
                            </a>
                            
                            <div class="sample_detail">
                                <a target="_blank" [routerLink]="['/video_huddles/huddle/details', evidence.evidence_ref_id, 'artifacts', 'grid']" [queryParams]="{ goalEvidence: true }">
                            <div class="ac_video">
                             <label>{{evidence?.title ? evidence?.title : '--'}}</label>
                            </div> 
                            </a>
                            <div class="ac_op dropdown" dropdown *ngIf="(addEvidence && checkDueDate() && singleGoalData.is_done !=1) || (addReview && headerData.goal_settings.review_collaborators) || (goalSettings.goal_owner_setting && owner)">
                              <button type="button" class="dropdown-toggle" data-toggle="dropdown" dropdownToggle>
                                  <img src="assets/goals/img/dots_3.svg" width="25">
                              </button>
                              <div class="dropdown-menu" *dropdownMenu role="menu">
                                  <a class="dropdown-item" role="menuitem" (click)="deleteEvidence(evidence,evidenceType[evidence.evidence_type-1])">{{translation?.artifact_delete}}</a>
                              </div>
                          </div>
                           <div class="clear"></div>
                           <p class="h_by">By: <b>{{evidence.username}}</b></p>
                           <p class="h_date">Created: {{dateFormat(evidence.created_date)}}</p>
                           
                           <div class="acc_option">
                              
                            <a class="chat_cls"  tooltip="Videos"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 8 8">
                                <path style="fill:#057EFF;" d="M0 0v6l6-3-6-3z" transform="translate(1 1)" />
                              </svg>{{evidence.total_vidoe}}</a>
                            <a class="h_att"  tooltip="Resources"> <img src="assets/img/file_icon.svg" width="14" height="11">{{evidence.total_docs}} </a>   
                              
                           </div>
                           
                           
                           </div>
                           <div class="clear"></div>
                           
                          </div>
                 </div>
                    <div  *ngIf="evidence.evidence_type ==4" class="col-12">
                           
                        <div class="sample_inner">
                            <a target="_blank" [routerLink]="['/goals/framework', goal_id, singleGoalData.id, evidence.id, evidence.evidence_ref_id]">
                            <div class="thumb_ac">
                             <div class="doc_icons">
                                 <img src="assets/goals/img/framework.svg">                    
                                  
                             </div>
                          </div>
                          </a>
                            
                            
                            <div class="sample_detail">
                                <a target="_blank" [routerLink]="['/goals/framework', goal_id, singleGoalData.id, evidence.id, evidence.evidence_ref_id]">
                            <div class="ac_video">
                             <label>{{evidence?.title ? evidence?.title : '--'}}</label>
                            </div> 
                            </a>
                            <div class="ac_op dropdown" dropdown *ngIf="(addEvidence && checkDueDate() && singleGoalData.is_done !=1) || (addReview && headerData.goal_settings.review_collaborators) || (goalSettings.goal_owner_setting && owner)">
                              <button type="button" class="dropdown-toggle" data-toggle="dropdown" dropdownToggle>
                                  <img src="assets/goals/img/dots_3.svg" width="25">
                              </button>
                              <div class="dropdown-menu" *dropdownMenu role="menu">
                                  <a class="dropdown-item" role="menuitem" (click)="deleteEvidence(evidence,evidenceType[evidence.evidence_type-1])">{{translation?.artifact_delete}}</a>
                              </div>
                          </div>
                           <div class="clear"></div>
                           <p class="h_by">By: <b>{{evidence.username}}</b></p>
                           <p class="h_date">Created: {{dateFormat(evidence.created_date)}}</p>
                           
                           <div class="acc_option">
                              
                             
                              
                           </div>
                           
                           
                           </div>
                           <div class="clear"></div>
                           
                          </div>
                    
                 </div>
                 <div  *ngIf="evidence.evidence_type ==5 && evidence?.title" class="col-12">
                           <!-- this will run for huddle or workspace scripted -->
                    <div class="sample_inner">
                        <a  target="_blank" routerLink="/video_details/scripted_observations/{{evidence?.title.split('___')[1]}}/{{evidence?.evidence_ref_id}}" [queryParams]="{ goalEvidence: true,  workspace: evidence?.title.split('___')[2] == 3 ? true : ''}">
                        <div class="thumb_ac">
                         <div *ngIf="evidence.evidence_type == 5" class="doc_icons"><img src="assets/goals/img/nots_gry_con.svg"></div>
                        
                      </div>
                        </a>
                        
                        <div class="sample_detail">
                            <a  target="_blank" routerLink="/video_details/scripted_observations/{{evidence?.title.split('___')[1]}}/{{evidence?.evidence_ref_id}}" [queryParams]="{ goalEvidence: true,  workspace: evidence?.title.split('___')[2] == 3 ? true : ''}">
                        <div class="ac_video">
                         <label>{{evidence?.title ? evidence?.title.split('___')[0] : '--'}}</label>
                        </div> 
                        </a>
                        <div class="ac_op dropdown" dropdown *ngIf="(addEvidence && checkDueDate() && singleGoalData.is_done !=1) || (addReview && headerData.goal_settings.review_collaborators) || (goalSettings.goal_owner_setting && owner)">
                          <button type="button" class="dropdown-toggle" data-toggle="dropdown" dropdownToggle>
                              <img src="assets/goals/img/dots_3.svg" width="25">
                          </button>
                          <div class="dropdown-menu" *dropdownMenu role="menu">
                              <a class="dropdown-item" role="menuitem" (click)="deleteEvidence(evidence,evidenceType[evidence.evidence_type-1])">{{translation?.artifact_delete}}</a>
                          </div>
                      </div>
                       <div class="clear"></div>
                       <p class="h_by">By: <b>{{evidence.username}}</b></p>
                       <p class="h_date">Uploaded: {{dateFormat(evidence.created_date)}}</p>
                       
                       <div class="acc_option">
                          <a class="chat_cls"  tooltip="Notes Comments"> <img src="assets/goals/img/comm_icon.svg"> {{evidence.total_comments}}</a>
                          <a class="h_att"     tooltip="Notes Attachments"> <img src="assets/goals/img/attachment_icon.svg"> {{evidence.total_attachment}} </a>
                          
                         
                          
                       </div>
                       
                       
                       </div>
                       <div class="clear"></div>
                       
                      </div>
              
                
             </div>
                  <!-- <label *ngIf="(evidence.evidence_type == 1) && evidence?.title && evidence?.title.split('___')[2] == 1"><img [src]="evidence.thumbnail"><a  target="_blank" routerLink="/video_details/home/{{evidence?.title.split('___')[1]}}/{{evidence?.evidence_ref_id}}" [queryParams]="{ goalEvidence: true }">{{evidence?.title ? evidence?.title.split('___')[0] : '--'}}</a></label>
                    <label *ngIf="(evidence.evidence_type == 1 || evidence.evidence_type ==5) && evidence?.title && evidence?.title.split('___')[2] == 3"><img [src]="evidence?.thumbnail" height="65px" width="65px"><a target="_blank" routerLink="/workspace_video/home/{{evidence?.title.split('___')[1]}}/{{evidence?.evidence_ref_id}}" [queryParams]="{ goalEvidence: true }">{{evidence?.title ? evidence?.title.split('___')[0] : '--'}}</a><p>{{evidence.total_attachment}}</p><p>{{evidence.total_comments}}</p><p>{{dateFormat(evidence.created_date)}}</p></label>
                    <label *ngIf="evidence.evidence_type == 2"><img [src]="evidence.thumbnail"><a target="_blank" href="{{evidence?.stack_url}}">{{evidence?.title ? evidence?.title.split('___')[0] : '--'}}</a></label>
                    <label *ngIf="evidence.evidence_type ==3"><a target="_blank" [routerLink]="['/video_huddles/huddle/details', evidence.evidence_ref_id, 'artifacts', 'grid']" [queryParams]="{ goalEvidence: true }">{{evidence?.title ? evidence?.title : '--'}}</a></label>
                    <label *ngIf="evidence.evidence_type ==4"><a target="_blank" [routerLink]="['/goals/framework', goal_id, singleGoalData.id, evidence.id, evidence.evidence_ref_id]">{{evidence?.title ? evidence?.title : '--'}}</a></label>
                    <label *ngIf="evidence.evidence_type ==5 && evidence?.title && (evidence?.title.split('___')[2] == 1 || evidence?.title.split('___')[2] == 3)"><a  target="_blank" routerLink="/video_details/scripted_observations/{{evidence?.title.split('___')[1]}}/{{evidence?.evidence_ref_id}}" [queryParams]="{ goalEvidence: true,  workspace: evidence?.title.split('___')[2] == 3 ? true : ''}">{{evidence?.title ? evidence?.title.split('___')[0] : '--'}}</a></label> -->
            
                </div>
            </ng-container>
  
    </div>
    <!-- <div class="sample_data">
        <div class="row sample_top" *ngFor="let evidence of singleGoalData?.submitted_evidence">
         
      
            </div>
            </div>
    </div> -->
</div>
<div *ngIf="singleGoalData?.submitted_evidence?.length === 0 && evidenceAllowed.length >0 " class="noevidence">
    <img src="assets/goals/img/nogoal_icon.svg">
    {{headerService?.getGoalAltTranslation(translation.goals_no_evidence_added)}}
</div>

</div>





<!-- Error Message -->
<ng-template #error>
                <!-- Modal content-->
                <div class="modal-header">
                    <h4 class="modal-title modal_box">
                        {{translation?.error}}</h4>
                    <button type="button" class="close" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</button>
                </div>
                <div class="modal-body">
                <div class="short_msg">
                    <label *ngIf="singleGoalData.add_measurement !=1 || !goalSettings.enable_measurement">{{translation?.goal_work_error}}</label>
                    <label *ngIf="singleGoalData.add_measurement && goalSettings.enable_measurement" class="t_left">{{headerService?.getGoalAltTranslation(translation?.goal_work_error_detail)}}</label>
                    </div>
                </div>
                <div class="modal-footer footerm" style="text-align: right;">
                    <div class="col-12 share_btn">
                        <button type="button" class="btn btn-success" (click)="bsModalRef.hide()">{{translation?.myfile_ok}}</button>
                    </div>
                </div>
</ng-template>







<!-- UNCHECK Message -->
<ng-template #uncheckConfirmation>
                <!-- Modal content-->
                <div class="modal-header">
                    <h4 class="modal-title modal_box">
                        {{translation?.artifacts_confirmation_required}}</h4>
                    <button type="button" class="close" data-dismiss="modal" (click)="uncheck(false)">&times;</button>
                </div>
                <div class="modal-body">
                <div class="short_msg">
                    <label>{{headerService?.getGoalAltTranslation(translation?.goal_action_item_done_uncheck_confirmation)}}</label>
                    </div>
                </div>
                <div class="modal-footer footerm" style="text-align: right;">
                    <div class="col-12 share_btn delt_f">
                         <button type="button" class="btn btn-default" data-dismiss="modal" (click)="uncheck(false)">{{translation?.vd_cancel}}</button>
                         <button type="button" class="btn btn-success" (click)="uncheck(true)">{{translation?.myfile_confirm}}</button>
                      </div>
              </div>
</ng-template>


<ng-template #checkConfirmation>
    <!-- Modal content-->
    <div class="modal-header">
        <h4 class="modal-title modal_box">
            {{translation?.artifacts_confirmation_required}}</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="check(false)">&times;</button>
    </div>
    <div class="modal-body">
    <div class="short_msg">
        <label>{{headerService?.getGoalAltTranslation(translation?.goal_action_item_done_check_confirmation)}}</label>
        </div>
    </div>
    <div class="modal-footer footerm" style="text-align: right;">
        <div class="col-12 share_btn delt_f">
             <button type="button" class="btn btn-default" data-dismiss="modal" (click)="check(false)">{{translation?.vd_cancel}}</button>
             <button type="button" class="btn btn-success" (click)="check(true)">{{translation?.myfile_confirm}}</button>
          </div>
  </div>
</ng-template>

<ng-template #deleteTemplate>
    <!-- Modal content-->
        <div class="modal-header">
          <h4 class="modal-title">{{translation?.artifacts_confirmation_required}}</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</button>

        </div>

       <div class="modal-body conf_popup">

            <div class="connf_bg">
           <img src="assets/goals/img/del_conf.svg">
                 <b>{{headerService?.getGoalAltTranslation(translation?.goals_user_already_added_evidence)}} </b>
            </div>


            <label>{{translation?.poeple_type_delete_to_confirm}}</label>
            <input type="text" class="form-control" [(ngModel)]="confirmation">
       </div>

        <div class="modal-footer footerm">
              <div class="col-12 share_btn delt_f">
                   <button type="button" class="btn btn-default" data-dismiss="modal" (click)="bsModalRef.hide()">{{translation?.cancel_popup}}</button>
                   <button [disabled]="!(confirmation =='DELETE') || confirmation =='' " type="button" class="btn del_btn" (click)="deleteActionItem(singleGoalData?.id, 1)">{{translation?.huddle_delete_btn}}</button>
              </div>
        </div>

</ng-template>
