.checkboxcls {
    display: block;
    position: relative;
    padding-left: 30px;
    margin: 13px 0;
    cursor: pointer;
    font-size: 13px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #101010 !important;
}
.break_word{
    word-wrap: break-word;
}

/* Hide the browser's default checkbox */

.checkboxcls input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #B4BAC3;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */

.checkboxcls:hover input~.checkmark {
    background-color: #fff;
}

/* When the checkbox is checked, add a blue background */

.checkboxcls input:checked~.checkmark {
    background-color: #157EFC;
    border: 1px solid #157EFC;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.checkboxcls input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.checkboxcls .checkmark:after {
    left: 5.7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

.rb_cls {
    font-weight: 500;
    color: #000;
    margin: 15px 0 3px 0;
}

.wrapRef {
    word-wrap: break-word;
}

.edit_wf {
    text-align: right;
}

.edit_wf a {
    color: #373A3C;
    cursor: pointer;
}

.sav_canc {
    text-align: right;
    padding-top: 15px;
}

.sav_canc button {
    background: none;
    font-size: 14px;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25) !important;
}

.sav_canc .btn_save {
    background: #28A745;
    color: #fff;
}

.evi_dence {
    position: relative;
    padding-top: 20px;
}

.evi_dence label {
    font-weight: 500;
    color: #2B2B2B;
}



.evi_dence label a{
   font-weight: 500;
    color: #2B2B2B;
    text-decoration: none !important;
    white-space: nowrap;
    padding-right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 31px 15px 10px 10px;
}

.evi_option {
    float: right;
    width: 50%;
}

.evi_option .dropdown-menu {
    transform: translate3d(0px, 24px, 0px) !important;
}

.evsort {
    text-align: right;
}

.evsort button {
    border: 0;
    padding: 0;
    background: none;
    outline: none;
    cursor: pointer;
}

.evsort .dropdown-toggle::after {
    display: none;
}

.evsort .dropdown-menu {
    min-width: 20px !important;
    padding: 6px 0;
    left: inherit !important;
    right: 0 !important;
    top: 31px !important;
}

.evsort .dropdown-menu a {
    font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 5px;
    padding: 2px 12px 7px 11px;
    margin: 0;
}

.evsort .dropdown-menu a.active {
    color: #057EFF;
}

.evsort .dropdown-menu {
    background: #fff;
    border-radius: 4px;
}

.evsort button img {
    background: #fff;
     padding: 10px 16px;
    border-radius: 3px;
}

.evi_list {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 15px;
    position: relative; min-height:64px;
}

.evi_list span {
    color: #818181;
    font-size: 14px;
}

.evi_list label {
    display: block;
    margin: 0;
}

.evi_del {
    float: right;
    width: 40px;
    text-align: right;    position: relative;
    z-index: 9;
}

.evi_del button {
    border: 0;
    padding: 0;
    background: none;
    outline: none;
    cursor: pointer;
}

.evi_del .dropdown-toggle::after {
    display: none;
}

.evi_del .dropdown-menu {
    min-width: 20px !important;
    padding: 6px 0;
    left: inherit !important;
       right: -1px !important;
    top: -10px !important;
}

.evi_del .dropdown-menu a {
    font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 5px;
        padding: 0px 12px 0px 11px;
    margin: 0;
}

.evi_del .dropdown-menu a.active {
    color: #057EFF;
}

.evi_del .dropdown-menu {
    background: #fff;
    border-radius: 4px;
    transform: translate3d(0px, 25px, 0px) !important;
}

.evi_del button img {
    width: 21px;
}

.noevidence {
    text-align: center;
    padding: 30px 0;
}

.noevidence img {
    margin-right: 20px;
}


/* css of slim scroll  */
.popup_scroll {
    max-height: 400px;
    overflow: auto;
    overflow-x: hidden;
    padding-right: 18px;
}

.modal_box{
    text-align: center;
    width: 100%;
    font-weight: 400;
}


.short_msg {
    padding: 20px;
    font-size: 14px;
    text-align: center;
}

.b0{ border:0 !important;}

.modal-header {
    background: #f9f9f9;
}


	.modal-title { 
        font-family: 'Roboto', sans-serif;
        font-weight:400; 
        font-size: 18px;    display: block; color: #484848;
        text-align: center;
        width: 95%; }
	.close {
    float: right;
    font-size: 28px !important;
    font-weight: 100 !important;
    line-height: 18px !important;}
	
	.footerm button {
    padding: 10px 28px;
    margin-left: 10px;
    font-size: 14px;
    margin-left: 10px;
}
.t_left { text-align:left;}

.modal-header .close {    outline: 0 !important;}


.wb{
    overflow-wrap: break-word;
}
.panl_heading .col-8{ padding-left:7px;}

.gsort button {
    border: 0;
    padding: 0;
    background: none;
    outline: none;
    cursor: pointer;
}

.gsort .dropdown-toggle::after {
    display: none;
}

.gsort .dropdown-menu {
    min-width: 20px !important;
    padding: 6px 0;
    left: inherit !important;
    right: 0 !important;
}

.gsort .dropdown-menu a {
    font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 5px;
    padding: 2px 12px 7px 11px;
    margin: 0;
}

.gsort .dropdown-menu a.active {
    color: #057EFF;
}

.gsort .dropdown-menu {
    background: #fff;
    border-radius: 4px;
}

.gsort {
    right: 0;
    top: 0;
    position: absolute;
    margin-top: 1.5rem;
    margin-right: 2rem;
}

.connf_bg {
    padding: 25px 20px 25px 63px;
    background: #F7DF9A;
    margin-bottom: 20px;
    position: relative;
    border-radius: 5px;
}

.connf_bg b {
    color: #707070;
    font-weight: 500;
    display: block;
    font-size: 15px;
}

.connf_bg label {
    color: #000;
    font-weight: 500;
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}

.connf_bg p {
    color: #707070;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.connf_bg img {
    position: absolute;
    left: 20px;
    top: 20px;
}

.footerm .row {
    width: 94%;
    border-top: 1px solid #e9ecef;
    padding-top: 16px;
    padding-bottom: 3px;
    margin: 0 3%;
}

.footerm .share_btn {
    padding-right: 0;
    border-top: 1px solid #ddd;
    padding-top: 13px;
}

.footerm .col-6 {
    padding-left: 0;
}

.footerm {
    border: 0;
    padding: 0 18px 20px 18px;
}

.footerm button {
    padding: 10px 28px;
    margin-left: 10px;
    font-size: 14px;
    margin-left: 10px;
}

.footerm button:focus {
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25);
}

.footerm .btn-default {
    background: none;
}

.footerm .btn-success {
    background: #28A745;
    border: 0;
}

.footerm .btnpreview {
    background: #057EFF;
    color: #fff;
}

.manage_popup .col-12 {
    padding: 0 25px 20px 25px;
}

.share_btn {
    text-align: right;
}

.delt_f {
    border: 0 !important;
}

.del_btn {
    border: 1px solid #CED4DA;
    background: none !important;
}

/* new design */

.acc_edit a{    padding: 7px 6px 7px 6px; border-radius:4px; width:85%; background:#fff; display:inline-block; color:#484848; text-decoration:none; text-align:center;}

.sample_data { max-width:100%;}
.sample_data .h_date {
    color: #818181;
}
.sample_data .h_by b{ font-weight:400;}
.sample_data .h_by{color:#010101; white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}

.doc_icons img {
    max-width: 50px;
}

.thumb_ac {
    height: 124px;
}


.doc_icons {
    display: table-cell;
    height: 100%;
    padding: 0;
    width: 100%;
    vertical-align: middle;
}


.ac_video label {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flow-root;
    line-height: 20px;
    color: #010101;
    font-size: 16px;
}
.ac_op button img{    max-width: 25px;}
.plus_acc { text-align:right;     position: relative;}
.plus_acc button{ border:0; padding:0;background:#28A745;     outline: none; cursor:pointer;           padding: 7px 18px;
    border-radius: 4px;
    margin-left: 12px;}
  .plus_acc .dropdown-toggle::after { display:none;}
  .plus_acc button img { position:relative; top:-1px;}
  .plus_acc .dropdown-menu{    padding: 10px 6px 6px 9px !important;            -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.1); left:-124px !important;}
  
  .plus_acc .dropdown-menu a {  font-size:14px !important; background: none !important; color:#484848; margin-bottom:5px;     margin-left: 0;}
  .sample_inner{    box-shadow: 0 1px 7px 0 rgba(0,0,0,.1); background:#fff; border-radius:5px;     border: 1px solid #ddd;
    margin: 10px 0;     border-bottom-left-radius: 5px;   border-top-left-radius: 5px;    border-top-right-radius: 5px;     
    padding-left: 150px;
    position: relative;    min-height: 124px;
  }

  .placeholder_v img{   border-bottom-left-radius: 5px;   border-top-left-radius: 5px;}
  
  .acc_option { margin: 10px 0 0 0; position:relative;}
  
 
  
  .acc_option a {
    text-decoration: none;
    border-radius: 50px;
    display: inline-block;
    padding: 3px 10px;
    line-height: 19px;
    height: 25px;
    font-size: 13px;
}
  
  .ac_op button {
    border: 0;
    padding: 0;
    background: none;
    outline: none !important;
    cursor: pointer !important;
}

.ac_op .dropdown-toggle::after { display:none;}
  .ac_op .dropdown-menu{    min-width: 85px !important;padding: 5px 6px 0px 9px !important;    left: -75px !important;}
  .ac_op .dropdown-menu a {  font-size:14px !important; background: none !important; color:#484848; margin-bottom:5px; cursor:pointer !important;}
  

  .chat_cls {
    background: #EAEEF3;
    color: #1485FE;
    margin-right: 5px;
}

.h_att {
    background: #EAF3EB;
    color: #28A745;
}

.thumb_ac {
    background: #e0e0e0;

    margin: -1px -1px 0 -1px;
      border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    position: relative;
    display: table;
    width: 135px;
    vertical-align: middle;    position: absolute;
    left: 0;
}

.play_acc {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    cursor: pointer;
}
.play_acc img { max-width:50px;}

.acc_time {
    position: absolute;
    right: 4px;
    bottom: 4px;
    background-color: rgba(0,0,0, 0.7);
    color: #fff;
    border-radius: 4px;
    padding: 3px 9px 3px 6px;
}
.sample_detail {padding-top: 5px;}
.sample_detail .ac_video {
    float: left;
    width: 80%;    margin-bottom: 6px;
}

.sample_detail .ac_op {
   position: absolute;
    right: 10px; top:5px;
}
.sample_detail p{ margin-bottom:4px;}
.sample_detail label{ margin-bottom:0;}

.placeholder_v img{    height: 123px;     object-fit: cover;
    width: 100%;}

.thumbnail_default_cl img{    height: 124px;     object-fit: contain;
        width: 100%;     border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.sample_top .col-6 { padding-bottom:10px;}
.list_img{ float:left; width:25%;}
.list_detail{float:left; width:75%;}

  .modal-title {font-family: 'Roboto', sans-serif; font-weight:400; 
    font-size: 18px;    display: block; color: #484848;
    text-align: center;
    width: 95%; }
  
  .modal-body {
    padding: 1rem 20px!important;
}





.ani2{
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
    background: #d9d9d9;
    background: linear-gradient(to right, #e9e9e9 8%, #F0F0F0 18%, #efefef 33%);
  background-size: 800px 104px;
  position: relative;
}

.ani{
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}


.aniheading { display:block; height:20px;}
.anipara { display:block; height:10px;}

.acc_publish {
    text-align: right; margin-bottom:6px;
}

.acc_publish a{    border: 1px solid #28A745;
      padding: 7px 6px 7px 6px;
    border-radius: 4px;
    width: 85%;
    background: #28A745;
    display: inline-block;
    color: #fff !important;
    text-decoration: none !important;
    text-align: center;}
.anib { display:block; height:15px; width:121px;}
.rcircle { width:30px; height:30px; border-radius:50%;     display: block;}
.an40{ display:block; width:40%; height:10px; margin:8px 0 10px 0 !important;}
.an10 { max-width:10%;}
.sa_ani { display:block;     width: 120px; height: 20px;}
.thumbani { display:block; width:100%; height:120px;}
.anititle {display:block; width:80%; height:12px; margin:10px 0 4px 0 !important;}
.anby {display:block; width:90%; height:12px; margin:10px 0 4px 0 !important;}
.andate {display:block; width:100%; height:12px; margin:10px 0 4px 0 !important;}
.ancount {display:block; width:30px; height:16px; margin:10px 10px 4px 0 !important; float:left;}
.asse_par h2{     margin: 0; padding: 23px 0;font-size: 20px; font-weight:400; color:#010101;}
.asse_par_heading  { border-bottom:1px solid #ddd; padding:10px 0; margin-bottom:8px;}
.asse_par_list  { padding:9px 0;}
.asse_par_list p { margin:0;}
.asse_par_list label{ margin:0; color:#616161; font-weight:600; font-size:16px;}



