<div class="container box_outer" *ngIf="!loader">
    <div class="row box_whcls">
        <div class="col-12">
            <div class="row panl_heading">
                <div class="col-8">
                    <h3>{{goalAltName}}</h3>
                </div>
                <div class="col-4 bk_goal2">
                    <a routerLink='/goals/list'><img
                            src="assets/goals/img/left-arrow.svg">{{headerService?.getGoalAltTranslation(translation?.goals_back_to_goals)}}</a>
                </div>
            </div>
        </div>
        <!-- preview of gaol -->
        <div class="col-6 goalleft" *ngIf="!isEditGoal">
            <div class="g_heading">
                <h3>{{this.goal.title}} </h3>
                <div class="gsort left_opt" dropdown>
                    <button type="button" class="dropdown-toggle" data-toggle="dropdown" dropdownToggle>
                        <img src="assets/goals/img/dots_3.svg" width="25">
                    </button>
                    <div class="dropdown-menu" id="dropdown-basic" *dropdownMenu role="menu">
                        <a *ngIf="canEditDelete" class="dropdown-item" role="menuitem" (click)="editModeOn()">{{translation?.goals_edit}}</a>
                        <a class="dropdown-item" role="menuitem"
                            *ngIf="goalUserSettings?.can_use_templates_to_create_new_goals=='1' && goal.goal_type ==1" (click)="useTemplate()">{{translation?.goals_use}}</a>
                        <a *ngIf="canEditDelete" class="dropdown-item" role="menuitem"
                            (click)="deleteGoal(goal)">{{translation?.goals_delete}}</a>
                    </div>
                </div>
                <div *ngIf="!goal.is_published" class="gsort left_opt goal-type" dropdown>
                    <button type="button" class="dropdown-toggle" data-toggle="dropdown" dropdownToggle>
                        <img src="assets/goals/img/dots_3.svg" width="25">
                    </button>
                    <div class="dropdown-menu" id="dropdown-basic" *dropdownMenu role="menu">
                        <a [class.active]="goal.goal_type == 2" *ngIf="userCurrAcc.roles.role_id ==='100' || userCurrAcc.roles.role_id ==='110'" class="dropdown-item" role="menuitem" (click)="goal.goal_type = 2">{{translation?.vd_account}}</a>
                        <a [class.active]="goal.goal_type == 3" *ngIf="goalUserSettings?.can_create_group_goals ==='1' || userCurrAcc.roles.role_id ==='100' || userCurrAcc.roles.role_id ==='110'" class="dropdown-item" role="menuitem" (click)="goal.goal_type = 3">{{translation?.group}}</a>
                        <a [class.active]="goal.goal_type == 4" *ngIf="goalUserSettings?.can_create_individual_goals_for_themselves ==='1' || goalUserSettings?.can_create_individual_goals_for_others_people ==='1' || userCurrAcc.roles.role_id ==='100' || userCurrAcc.roles.role_id ==='110'" class="dropdown-item" role="menuitem" (click)="goal.goal_type = 4">{{translation?.individual}}</a>
                    </div>
                </div>
            </div>
            <div class="g_title">
                <h4>{{translation?.goals_title}}
                    <span *ngIf="!goal.is_published" class="drop-arrow-mar"><img src="assets/goals/img/arrow_down.svg"></span>
                    <span *ngIf="goal.goal_type == 1"><i class="temp_c"></i>{{translation?.template}}</span>
                    <span *ngIf="goal.goal_type == 2"><i class="acc_c"></i>{{translation?.vd_account}}</span>
                    <span *ngIf="goal.goal_type == 3"><i class="gro_c"></i>{{translation?.group}}</span>
                    <span *ngIf="goal.goal_type == 4"><i class="ind_c"></i>{{translation?.individual}}</span>
                </h4>
                <p>{{goal.title}}</p>
            </div>
            <div class="g_des wb" *ngIf="goal?.desc">
                <h4>{{translation?.goals_description}} </h4>
                <p *ngIf="goal.desc.includes('h1') || goal.desc.includes('h2')" class="goal-desc" [innerHtml]="goal?.desc | safeHtml"></p>
                <p *ngIf="!goal.desc.includes('h2') && !goal.desc.includes('h1')" [innerHtml]="goal?.desc | safeHtml"></p>
                
            </div>
            <div class="goals_st" *ngIf="goal?.goal_type!='1'">
                {{translation?.goals_owners}}
                <i *ngIf="goal?.goal_type=='2'">({{users?.length}}) </i>
                <i *ngIf="goal?.goal_type=='3' || goal?.goal_type=='4'">({{goal?.owners?.length + goal?.ownerGroupIds?.length || 0}})
                </i>
                <!-- <i *ngIf="goal?.goal_type=='4'">({{goal?.owners?.length}}) <img src="assets/goals/img/info_icon.svg" width="12"></i> -->
                <label *ngIf="goal?.goal_type=='2'">All Account Members</label>
                <label
                    *ngIf="goal?.goal_type=='4' && goalUserSettings?.can_create_individual_goals_for_themselves=='1' && goalUserSettings?.can_create_individual_goals_for_others_people == '0' && userCurrAcc.roles.role_id !=='100' && userCurrAcc.roles.role_id !='110'">{{user?.first_name}}
                    {{user?.last_name}} - {{user?.email}}</label>
                <span *ngIf="goal?.goal_type=='3' && goal?.goal_type!='4'"><img (click)="openOwnerModal()"
                        src="assets/goals/img/manag_icon.svg"></span>
                <span
                    *ngIf="goal?.goal_type=='4' && (goalUserSettings?.can_create_individual_goals_for_others_people=='1' || userCurrAcc.roles.role_id =='100' || userCurrAcc.roles.role_id =='110')"><img
                        (click)="openOwnerModal()" src="assets/goals/img/manag_icon.svg"></span>
            </div>
            <div class="goals_st" *ngIf="goal?.goal_type!=1">
                {{translation?.goals_collaborators}}
                <i>({{this.goal?.collaborators?.length + this.goal?.collaboratorsGroupIds?.length || 0}})
                    <img src="assets/goals/img/info_icon.svg" width="12"
                    [ngbPopover]="popContent"  popoverClass="popover-custom-class" placement="top"  aria-hidden="true"></i>
                <span><img (click)="openCollaboratorModal()" src="assets/goals/img/manag_icon.svg"></span>
            </div>
            <div class="goals_st" dropdown *ngIf="categories.length>0">
                {{translation?.goals_category}} <i> </i>
                <label>{{categoryString}}<b *ngIf="catLength> 0"> +{{catLength}}</b></label>
                <span class="have_option">
                    <div class="gsort">
                        <button type="button" class="dropdown-toggle" data-toggle="dropdown" dropdownToggle aria-controls="goal-category-dropdown">
                            <img src="assets/goals/img/cat_goal.svg" width="18">
                        </button>
                            <div id="goal-category-dropdown"  class="dropdown-menu" *dropdownMenu role="menu"
                            aria-labelledby="goal-category-btn">
                            <div class="slimscroll-container" id="cat_dropdown" slimScroll [options]="opts" [scrollEvents]="scrollEvents">
                            <label class="checkboxcls"   role="menuitemcheckbox" *ngFor="let category of categories">
                                <input type="checkbox"   (click)="checkCategory(category);changeOccur(true)" [checked]="category.check" >
                                <span class="checkmark"></span>
                                {{category.name}}
                            </label>
                        </div>
                    </div>
                    </div>
                </span>
            </div>
            <ng-container *ngIf="goal.goal_type!==1">
                <div class="date_st">
                    <label>{{translation?.goals_start_date}}</label>
                
                    <p>{{changeDateFormat(goal.start_date)}}</p>
                </div>
                <div class="date_st">
                    <label>{{translation?.goals_due_date}}</label>
                    <p>{{changeDateFormat(goal.end_date)}}</p>
                </div>
            </ng-container>
            <div class="g_publish g_des">
                <h4>{{translation?.goal_published}} </h4>
                <p *ngIf="goal?.publish_date==null || !goal?.publish_date"><i>{{translation?.goal_unpublished}}</i></p>
                <p *ngIf="goal?.publish_date">{{changeDateFormat(goal?.publish_date)}}</p>
            </div>
            <div class="clear"></div>
            <div class="save_goal d-flex justify-content-between">
                <div class="try-again-container flex-wrap"></div>
            <div class="action-items" *ngIf="!goal.is_published && canEditDelete">
                <button class="pub-btn" (click)="publish()" [class.not-allowed]="goal.tryAgain" [disabled]="goal.tryAgain">{{translation?.publish_all}}</button>
            </div>
            </div>
        </div>
        <!-- Add/Edit Goal -->
        <div class="col-6 goalleft leftedit" *ngIf="isEditGoal">
            <div class="g_heading">
                <h3>{{this.goal.title}}</h3>
                <!-- dropdown area -->
                <div class="gsort left_opt" dropdown *ngIf="goalDetailsObj.goal_id > 0 && !templateId">
                    <button type="button" class="dropdown-toggle" data-toggle="dropdown" dropdownToggle>
                        <img src="assets/goals/img/dots_3.svg" width="25">
                    </button>
                    <div class="dropdown-menu" id="dropdown-basic" *dropdownMenu role="menu">
                        <a class="dropdown-item" role="menuitem" (click)="editModeOn()">{{translation?.goals_edit}}</a>
                        <a class="dropdown-item" role="menuitem"
                            *ngIf="goalUserSettings?.can_use_templates_to_create_new_goals=='1' && goal.goal_type ==1" (click)="useTemplate()">{{translation?.goals_use}}</a>
                        <a class="dropdown-item" role="menuitem"
                            (click)="deleteGoal(goal)">{{translation?.goals_delete}}</a>
                    </div>
                </div>
                <div *ngIf="!goal.is_published" class="gsort left_opt goal-type" dropdown>
                    <button type="button" class="dropdown-toggle" data-toggle="dropdown" dropdownToggle>
                        <img src="assets/goals/img/dots_3.svg" width="25">
                    </button>
                    <div class="dropdown-menu" id="dropdown-basic" *dropdownMenu role="menu">
                        <a [class.active]="goal.goal_type == 2" *ngIf="userCurrAcc.roles.role_id ==='100' || userCurrAcc.roles.role_id ==='110'" class="dropdown-item" role="menuitem" (click)="goal.goal_type = 2">{{translation?.vd_account}}</a>
                        <a [class.active]="goal.goal_type == 3" *ngIf="goalUserSettings?.can_create_group_goals ==='1' || userCurrAcc.roles.role_id ==='100' || userCurrAcc.roles.role_id ==='110'" class="dropdown-item" role="menuitem" (click)="goal.goal_type = 3">{{translation?.group}}</a>
                        <a [class.active]="goal.goal_type == 4" *ngIf="goalUserSettings?.can_create_individual_goals_for_themselves ==='1' || goalUserSettings?.can_create_individual_goals_for_others_people ==='1' || userCurrAcc.roles.role_id ==='100' || userCurrAcc.roles.role_id ==='110'" class="dropdown-item" role="menuitem" (click)="goal.goal_type = 4">{{translation?.individual}}</a>
                    </div>
                </div>
            </div>
            <!-- title area -->
            <div class="g_title">
                <h4>{{translation?.goals_title}}
                    <span *ngIf="!goal.is_published" class="drop-arrow-mar"><img src="assets/goals/img/arrow_down.svg"></span>
                    <span *ngIf="goal?.goal_type == 1"><i class="temp_c"></i>{{translation?.template}}</span>
                    <span *ngIf="goal?.goal_type == 2"><i class="acc_c"></i>{{translation?.vd_account}}</span>
                    <span *ngIf="goal?.goal_type == 3"><i class="gro_c"></i>{{translation?.group}}</span>
                    <span *ngIf="goal?.goal_type == 4"><i class="ind_c"></i>{{translation?.individual}}</span>
                </h4>
                <input type="text" class="form-control" [(ngModel)]="title" (ngModelChange)="changeOccur(true)"
                    [placeholder]="translation?.title" [class.not-allowed]="goal.tryAgain"
                    [disabled]="goal.tryAgain">
            </div>
            <!-- description area -->
            <div class="g_des">
                <label>{{translation?.goals_description_optional}} </label>
                <quill-editor
                    [placeholder]="translation?.artifact_insert_text"
                    [style]="{ height: '100px' }"
                    [modules]="editGoalService.GetEditorOptionsCom().modules" (ngModelChange)="changeOccur(true)"
                    name="description"
                    [(ngModel)]="goal.desc"
                    ></quill-editor>                
            </div>
            <!-- owner area -->
            <div class="goals_st" *ngIf="goal?.goal_type!='1'">
                {{translation?.goals_owners}}
                <i *ngIf="goal?.goal_type=='2'">({{users?.length}}) </i>
                <i *ngIf="goal?.goal_type=='3' || goal?.goal_type=='4'">({{goal?.owners?.length + this.goal?.ownerGroupIds?.length || 0}})
                </i>
                <label *ngIf="goal?.goal_type=='2'">{{translation?.goal_all_account_members}}</label>
                <label
                    *ngIf="goal?.goal_type=='4' && goalUserSettings?.can_create_individual_goals_for_themselves=='1' && goalUserSettings?.can_create_individual_goals_for_others_people == '0' && userCurrAcc.roles.role_id !='100' && userCurrAcc.roles.role_id !='110'">{{user?.first_name}}
                    {{user?.last_name}} - {{user?.email}}</label>
                <span *ngIf="goal?.goal_type=='3' && goal?.goal_type!='4'"><img (click)="openOwnerModal()"
                        src="assets/goals/img/manag_icon.svg"></span>
                <span
                    *ngIf="goal?.goal_type=='4' && (goalUserSettings?.can_create_individual_goals_for_others_people=='1' || userCurrAcc.roles.role_id =='100' || userCurrAcc.roles.role_id =='110')"><img
                        (click)="openOwnerModal()" src="assets/goals/img/manag_icon.svg"></span>
            </div>
            <!-- collaborator area -->
            <div class="goals_st" *ngIf="goal?.goal_type!=1">
                {{translation?.goals_collaborators}}
                <i>({{this.goal?.collaborators?.length + this.goal?.collaboratorsGroupIds?.length || 0}})
                    <img src="assets/goals/img/info_icon.svg" width="12"
                        [ngbPopover]="popContent"  popoverClass="popover-custom-class" placement="top"  aria-hidden="true"></i>
                <span><img (click)="openCollaboratorModal()" src="assets/goals/img/manag_icon.svg"></span>
            </div>
            <!-- categories area -->
            <div class="goals_st" dropdown [insideClick]="true" *ngIf="categories.length>0">
                {{translation?.vl_category}} <i> </i>
                <label>{{categoryString}}<b *ngIf="catLength> 0"> +{{catLength}}</b></label>
                <span class="have_option">
                    <div class="gsort">
                        <button type="button" class="dropdown-toggle" data-toggle="dropdown" dropdownToggle>
                            <img src="assets/goals/img/cat_goal.svg" width="18">
                        </button>
                        <div id="goal-category-dropdown" class="dropdown-menu" *dropdownMenu role="menu"
                        aria-labelledby="goal-category-btn">
                        <div class="slimscroll-container" id="cat_dropdown" slimScroll [options]="opts" [scrollEvents]="scrollEvents">
                            <label class="checkboxcls"  role="menuitemcheckbox" *ngFor="let category of categories">
                                <input type="checkbox"  (click)="checkCategory(category)" [checked]="category.check" (change)="changeOccur(true)">
                                <span class="checkmark"></span>
                                {{category.name}}
                            </label>
                        </div>
                    </div>
                    </div>
                </span>
            </div>
            <!-- date area -->
            <div class="row goal_dates" *ngIf="goal.goal_type!==1">
                <div class="col-6">
                    <label>{{translation?.goals_start_date}}</label>
                    <input type="text" class="form-control" bsDatepicker [(ngModel)]='start_date' 
                        (ngModelChange)='changeStartDate($event);changeOccur(true)' [readonly]="true" placeholder="MM/DD/YYYY"
                        [bsConfig]="{dateInputFormat: 'MM/DD/YYYY', isAnimated: true}" placement="top"
                        [class.not-allowed]="goal.tryAgain" [disabled]="goal.tryAgain" #startDate="bsDatepicker">
                    <img class="cp" src="assets/goals/img/cal_icon.svg" (click)="startDate.toggle()">
                </div>
                <div class="col-6">
                    <label>{{translation?.goals_due_date}}</label>
                    <input type="text" class="form-control" [(ngModel)]='end_date' bsDatepicker [minDate]='minEndDate'
                        (ngModelChange)='changeEndDate($event);changeOccur(true)' [readonly]="true" placeholder="MM/DD/YYYY" 
                        [bsConfig]="{dateInputFormat: 'MM/DD/YYYY', isAnimated: true}" placement="top"
                        [class.not-allowed]="goal.tryAgain" [disabled]="goal.tryAgain" #endDate="bsDatepicker">
                    <img class="cp" src="assets/goals/img/cal_icon.svg" (click)="endDate.toggle()">
                </div>
            </div>
            <div class="save_goal d-flex justify-content-between">
                <div class="try-again-container flex-wrap">
                    <ng-container *ngIf="goal.tryAgain">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16.329" height="15.374"
                            viewBox="0 0 16.329 15.374">
                            <g id="Group_351" data-name="Group 351" transform="translate(-270.467 -1166.164)">
                                <path id="Path_52" data-name="Path 52"
                                    d="M20.256,22.985a1.562,1.562,0,0,1,2.75,0l6.6,12.25a1.562,1.562,0,0,1-1.375,2.3h-13.2a1.562,1.562,0,0,1-1.375-2.3Z"
                                    transform="translate(257 1144)" fill="#c10f12" />
                                <path id="Union_1" data-name="Union 1"
                                    d="M.253,5.369h0V5.337L.006,1.079A.952.952,0,0,1,0,.97.985.985,0,0,1,1,0,.985.985,0,0,1,2,.97a.947.947,0,0,1-.01.136l-.3,4.221A.709.709,0,0,1,.969,6,.711.711,0,0,1,.253,5.369Z"
                                    transform="translate(277.7 1170)" fill="#fff" />
                                <circle id="Ellipse_9" data-name="Ellipse 9" cx="1" cy="1" r="1"
                                    transform="translate(277.7 1177)" fill="#fff" />
                            </g>
                        </svg>
                        <span
                            class="try-again-message">{{headerService?.getGoalAltTranslation(translation?.goal_not_saved)}}</span>
                        <span class="try-again-btn"
                            (click)="retryGoal(goal);">{{translation?.try_again}}</span>
                    </ng-container>
                </div>
                <div class="action-items">
                    <button [class.es-cancel-btn]="translation?.current_lang == 'es'" [class.disabled]="actionItemEditMode" (click)="cancel(confirmationPopUp)" [disabled]="actionItemEditMode">{{translation?.cancel_popup}}</button>
                    
                    <button *ngIf="(goal.id || goal.is_published) && canBePusblished" [class.disabled]="actionItemEditMode" class="btn_sv_pub" (click)="publish()" [class.not-allowed]="goal.tryAgain" [disabled]="goal.tryAgain" [disabled]="actionItemEditMode">{{translation?.goal_save_publish}}</button>
                    <button class="btn_sv" *ngIf="!goal?.is_published"
                        (click)="save()" [class.not-allowed]="goal.tryAgain" [class.disabled]="actionItemEditMode" [disabled]="goal.tryAgain" [disabled]="actionItemEditMode">{{translation?.save_popup}}</button>
                </div>
            </div>
        </div>
        <div class="col-6 goalright scroll_hid">
            <action-item-list [actionItems]="goal.action_items" [account_id]="goalDetailsObj.account_id"
                [user_id]="goalDetailsObj.user_id" [goal_id]="goalDetailsObj.goal_id" [start_date]='goal.start_date'
                [end_date]='this.goal.end_date' [goal_type]='goal?.goal_type' [is_published]="goal.is_published" [checkActionItemSaved]="checkActionItemSaved"
                (notifyParent)="isItemSave($event)" (editModeOn)="checkActionItemEditModeOn($event)" (isChangeOccur)= "changeOccurInChild($event)">
            </action-item-list>
        </div>
    </div>
</div>
<!-- loading animation -->
<div class="container box_outer" *ngIf="loader">
    <div class="row box_whcls">
        <div class="col-12">
            <div class="row panl_heading">
                <div class="col-8">
                    <h3 class="g_ani2 gn1"></h3>
                </div>
                <div class="col-4 goal_add">
                </div>
            </div>
        </div>
        <div class="col-6 goalleft">
            <div class="g_heading">
                <h3 class="g_ani2 gn1"></h3>
                <div class="gsort left_opt">
                </div>
            </div>
            <div class="g_title">
                <div class="g_ani2 cg1"></div>
            </div>
            <div class="g_des">
                <div class="g_ani2 cg1"></div>
                <div class="g_ani2 cg1"></div>
                <div class="g_ani2 cg1"></div>
            </div>
            <div class="goals_st">
                <div class="g_ani2 cg2"></div>
            </div>
            <div class="goals_st">
                <div class="g_ani2 cg1"></div>
            </div>
            <div class="goals_st">
                <div class="g_ani2 cg1"></div>
            </div>
            <div class="date_st">
                <div class="g_ani2 cg1"></div>
            </div>
            <div class="date_st">
                <div class="g_ani2 cg1"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="col-6 goalright">
            <div class="g_heading">
                <div class="g_ani2 gn1"></div>
            </div>
            <div class="row row_gl">
                <div class="col-9">
                    <div class="g_ani2 cg1"></div>
                </div>
                <div class="col-3">
                    <div class="g_ani2 cg1"></div>
                </div>
                <div class="add_goal">
                    <div class="g_ani2 cg2"></div>
                    <div class="g_ani2 cg3"></div>
                    <div class="g_ani2 cg2"></div>
                    <div class="g_ani2 cg4"></div>
                    <div class="goals_st">
                        <div class="g_ani2 cg2"></div>
                    </div>
                    <ul>
                        <li>
                            <div class="g_ani2 cg2"></div>
                        </li>
                        <li>
                            <div class="g_ani2 cg2"></div>
                        </li>
                        <li>
                            <div class="g_ani2 cg2"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row row_gl">
                <div class="col-9">
                    <div class="g_ani2 cg2"></div>
                </div>
                <div class="col-3">
                    <div class="g_ani2 cg2"></div>
                </div>
            </div>
            <div class="row row_gl">
                <div class="col-9">
                    <div class="g_ani2 cg2"></div>
                </div>
                <div class="col-3">
                    <div class="g_ani2 cg2"></div>
                </div>
            </div>
            <div class="row row_gl">
                <div class="col-9">
                    <div class="g_ani2 cg2"></div>
                </div>
                <div class="col-3">
                    <div class="g_ani2 cg2"></div>
                </div>
            </div>
            <div class="row row_gl">
                <div class="col-9">
                    <div class="g_ani2 cg2"></div>
                </div>
                <div class="col-3">
                    <div class="g_ani2 cg2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #popContent>{{headerService?.getGoalAltTranslation(translation?.goals_collaborator_info)}} <b><a target="_blank" href="https://help.sibme.com/en/articles/4294862-how-do-i-add-or-remove-a-collaborator-to-a-goal-sibme-help-center">{{translation?.goals_read_more}}</a></b></ng-template>
<ng-template #confirmationPopUp>
    <div class="modal-header confirmation-header">
        <h4 class="modal-title">{{translation.confirmation}}</h4>
        <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>
    </div>
    <div class="modal-body confirmation-body">
        {{goal.id ? headerService?.getGoalAltTranslation(translation?.cancel_editing_goal) : headerService?.getGoalAltTranslation(translation?.cancel_new_goal)}}
        <br>
        {{translation?.goal_entered_data_will_be_lost}}
    </div>
    <div class="modal-footer footerm">
        <div class="col-12 share_btn">
            <button type="button" class="btn btn-default"
                (click)="bsModalRef.hide()">{{translation?.cancel_popup}}</button>
            <button type="button" class="btn btn-success" (click)="confirmed()">{{translation?.ok}}</button>
        </div>
    </div>
</ng-template>
