body {
    background: #f3f2ea;
    font-family: 'Roboto', sans-serif;
}

.box_outer {
    border-radius: 5px;
    margin-top: 15px !important;
}

.topheader {
    text-align: center;
    background: url(/home/assets/img/bgrep.png) repeat-x;
}

img {
    max-width: 100%;
}

@media screen and (min-width:1280px) {
    .container {
        max-width: 1200px !important;
        padding: 0 15px !important;
        overflow: hidden;
    }
}

@media screen and (min-width:1500px) {
    .container {
        max-width: 1460px !important;
        padding: 0 15px !important;
    }
}

/**top headeing bar start **/

.panl_heading {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    background: #f9f9f9;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.panl_heading h3 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #212529;
}

.right_opt {
    text-align: right;
    padding-top: 2px;
}

.right_opt button {
    border: 0;
    padding: 0;
    background: none;
    outline: none !important;
    cursor: pointer !important;
}

.right_opt .select_outer {
    max-width: 216px;
    float: right;
}

.right_opt .form-control {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/home/assets/img/select_down.png) right / 20px no-repeat;
    padding-right: 25px;
    background-size: 14px;
}

.right_opt .form-control:focus {
    color: #495057;
    background: url(/home/assets/img/select_down.png) right / 20px no-repeat;
    border: 0;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25);
}

/**top headeing bar End**/

*filter*/ .goal_filter {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    position: relative;
    padding-right: 70px;
}

.g_search {
    width: 40%;
    float: left;
    padding-right: 12px;
}

.g_tyle {
    width: 15%;
    float: left;
    padding-right: 12px;
}

.cat_mg {
    width: 15%;
    float: left;
    padding-right: 35px;
    position: relative;
}

.st-date {
    width: 15%;
    float: left;
    position: relative;
    padding-left: 35px;
    padding-right: 12px;
}

.gsortouter {
    position: absolute;
    width: 50px;
    right: 0;
    top: 20px;
}

.cat_mg a {
    position: absolute;
    right: 7px;
    top: 0px;
    background: #f6f6f6;
    display: inline-block;
    padding: 5.5px 8px;
    border: 1px solid #ddd;
    z-index: 1;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.st-date label {
    position: absolute;
    left: 0;
    top: 8px;
    font-size: 13px;
}

.st-date input[type=text] {
    width: 100%;
    height: 37px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 11px;
    font-size: 14px;
}

.g_search input[type=text] {
    width: 100%;
    height: 37px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 11px;
    background: url(/home/assets/goals/img/search_icon.svg) no-repeat center right 11px;
    background-size: 19px;
    padding-right: 35px;
    font-size: 14px;
}

.st-date img {
    position: absolute;
    top: 10px;
    right: 20px;
}

.gsort button {
    border: 0;
    padding: 0;
    background: none;
    outline: none;
    cursor: pointer;
}

.gsort .dropdown-toggle::after {
    display: none;
}

.gsort .dropdown-menu {
    min-width: 20px !important;
    padding: 6px 0;
    left: inherit !important;
    right: 11px !important;
    
    
}

.gsort .dropdown-menu a {
    font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 5px;
    padding: 2px 12px 7px 11px;
    margin: 0;
    
}

.gsort .dropdown-menu a.active {
    color: #057EFF;
}


.g_tyle select {
    background: #f8f8f8;
    height: 37px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 13px;
}

.cat_mg select {
    background: #f8f8f8;
    height: 37px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 13px;
}

/*filter end*/

/*GoalListing Start*/

.goals_outer {
    width: 100%;
    padding-bottom: 40px;
    background: #F7F7F7;
}

.golc1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    margin-top: auto;
    margin-bottom: auto;
}

.golc2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.golc3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.golc4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.golc5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 14%;
    flex: 0 0 14%;
    max-width: 14%;
    margin-top: auto;
    margin-bottom: auto;
}

.golc6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16%;
    flex: 0 0 16%;
    max-width: 16%;
    margin-top: auto;
    margin-bottom: auto;
}

.golc7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.ghrading {
    font-weight: 600;
    font-size: 14px;
    background: #fff;
    padding: 9px 12px;
    margin: 0;
}

.gh_rw {}

.golc5 img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    position: relative;
    margin-right: -12px;
}

.ow_count {
    display: inline-block;
    background: #EAEEF3;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 5px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    font-weight: 600;
}

.gh_rw {
    font-size: 14px;
    border-bottom: 1px solid #E4E4E4;
    padding: 9px 12px;
    margin: 0;
}

.golc2 i {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 4px;
}

.temp_c {
    background: #FF5BDA;
}

.acc_c {
    background: #BD8AFF;
}

.gro_c {
    background: #31C987;
}

.ind_c {
    background: #22D1E5;
}

.gol_opt img {
    max-width: 18px;
}

.com_bg {
    background: #EAF3EB;
    float: right;
    color: #28A745;
    border-radius: 50px;
    padding: 1px 8px;
    font-size: 11px;
    font-weight: 500;
}

.incom_bg {
    background: #F4E7E7;
    float: right;
    color: #D35959;
    border-radius: 50px;
    padding: 1px 8px;
    font-size: 11px;
    font-weight: 500;
}

.st_bar {
    background: #E8E8E8;
    border: 1px solid #D9D9D9;
    height: 10px;
    border-radius: 21px;
    position: relative;
}

.st_bar .bar_pg {
    background: #157EFC;
    display: inline-block;
    height: 7.5px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
}

.gol_opt {
    position: relative;
    width: 60%;
    float: left;
    text-align: right;
}

.gol_opt2 {
    width: 40%;
    float: right;
    text-align: center;
}

.gol_opt2 img {
    width: 10px;
}

.ghrading .col-3, .ghrading .col-2 {
    padding: 0 5px;
}

.gh_rw .col-3, .gh_rw .col-2 {
    padding: 0 5px;
}

.golc7 .gsort .dropdown-menu {
    transform: translate3d(0px, 20px, 0px) !important;
}

.nogoals {
    text-align: center;
    padding: 80px 0 40px 0;
}

.nogoals img {
    margin-right: 20px;
}

.ow_count a {
    color: #484848;
    text-decoration: none;
}

/*GoalListing End*/

/*Create Sart*/

.have_option {
    position: relative;
}

.have_option label {
    max-width: 120px;
    width: 120px !important;
    text-align: left !important;
    padding-left: 29px !important;
    margin: 7px 0;
}

.have_option {
    float: right;
}

.have_option .dropdown-menu {
    padding: 10px !important;
}

.g_heading {
    padding: 10px 18px;
    border-bottom: 1px solid #ddd;
    margin: 0 -15px;
    background-color: #ffffff;
}

.g_heading h3 {
    font-size: 18px;
    padding: 11px 0;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 23px;
}

.goalleft {
    border-right: 1px solid #ddd;
    background: #f7f7f7;
    padding-bottom: 40px;
}

.bk_goal {
    text-align: right;
    color: #8B8B8B !important;
    font-size: 14px;
    padding-right: 45px;
    padding-top: 3px;
    cursor: pointer;
    float: right;
    font-weight: 400;
    text-decoration: none !important;
}

.bk_goal img {
    margin-right: 5px;
}

.g_title h4 {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    
}


.g_title span {
    float: right;
}

.g_title i {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 4px;
}

.g_title p {
    color: #4c4c4c;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    
}

.goal-type{
    top: 75px !important;
    z-index: 99;
}

.goal-type button{    width: 76px;}
.goal-type button img{ opacity: 0;}

.g_des h4 {
    color: #000;
    font-size: 14px;
    font-weight: 500;
}

.g_des p {
    color: #4c4c4c;
    font-size: 14px;
    overflow: hidden;
}

.goals_st {
    padding: 7px 0;
    font-weight: 500;
}

.goals_st span {
    float: right;
}

.goals_st span img {
    cursor: pointer;
}

.goals_st i {
    font-style: inherit;
    color: #818181;
    font-weight: 400;
    font-size: 13px;
}

.goals_st i img {
    cursor: pointer;
}

.goals_st b {
    font-weight: 600;
}

.goals_st label {
    padding-left: 15px;
    font-weight: 400;
    font-size: 14px;
    width: 73%;
    display: inline-block;
    text-align: center;
}

.slimscroll-container {
    max-height: 200px;

}
.date_st {
    float: left;
    width: 150px;
    margin-right: 15px;
}

.date_st label {
    font-weight: 500;
    margin-bottom: 0;
}

.date_st p {
    color: #4c4c4c;
    font-size: 14px;
}

.g_heading a.add_gl {
    background: #157EFC;
    color: #fff;
    display: inline-block;
    padding: 3px 13px;
    border-radius: 4px;
    float: right;
}

.row_gl {
    border-bottom: 1px solid #ddd;
    padding: 12px 10px;
}

.row_gl b {
    font-size: 15px;
}

.ar_gl {
    float: right;
    padding: 0 15px;
    position: relative;
    max-width: 50px;
}

.ar_g2 {
    float: right;
    position: relative;
    max-width: 30px;
}

.date_icon {
    position: relative;
    max-width: 50%;
}

.date_icon img {
    position: absolute;
    top: 9px;
    right: 6px;
}

.save_goal {
    border-top: 1px solid #ddd;
    padding: 15px 0;
    margin-top: 20px;
}

.save_goal .action-items {
    min-width: 335px;
    text-align: right;
}

.es-cancel-btn {
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.save_goal button {
    background: none;
    border: 0;
    color: #333;
    outline: 0;
    padding: 6px 19px;
    font-size: 15px;
    line-height: 1.5;
    margin-left: 10px;
}

.save_goal .btn_sv {
    background: #28a745;
    color: #fff;
    border-radius: 4px;
}

.add_goal {
    width: 100%;
    padding: 20px;
}

.add_goal ul {
    list-style: none;
    padding: 0;
}

.mtop20 {
    margin-top: 20px;
}

/* The container */

.checkboxcls {
    display: block;
    position: relative;
    padding-left: 30px;
    margin: 13px 0;
    cursor: pointer;
    font-size: 13px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #101010 !important;
}

/* Hide the browser's default checkbox */

.checkboxcls input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #B4BAC3;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */

.checkboxcls:hover input~.checkmark {
    background-color: #fff;
}

/* When the checkbox is checked, add a blue background */

.checkboxcls input:checked~.checkmark {
    background-color: #157EFC;
    border: 1px solid #157EFC;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.checkboxcls input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.checkboxcls .checkmark:after {
    left: 5.7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

.left_opt {
    position: absolute;
    right: 15px;
    top: 21px;
}

.goalleft label, .goalright label {
    color: #616161;
    font-size: 15px;
    font-weight: 400;
}

.mea_opt {
    justify-content: center;
    margin: 0 auto;
    display: block;
    width: 100%;
}

.mea_opt .btn-secondary {
    border-color: #cccccc !important;
    background: #fff !important;
    color: #484848 !important;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 15px;
    line-height: 27px;
    margin-right: -3px;
    box-shadow: 0 0 0 0rem rgba(108, 117, 125, .5) !important;
}

.mea_opt .active {
    background: #f5f5f5 !important;
    color: #484848 !important;
    border-color: #cccccc !important;
}

.mea_opt .btn-secondary img {
    position: relative;
    top: -2px;
    margin-right: 2px;
}

.mea_opt {
    margin: 10px 0px;
    width: 100%;
}

.mea_opt .rck {
    display: none;
}

.mea_opt .active .rck {
    display: inline-block;
}

.mea_opt .active .run {
    display: none;
}

.mea_opt .btn-secondary i {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 4px;
}

.adgoal_view label {
    font-weight: 500 !important;
    color: #000 !important;
    margin-bottom: 0;
}

.adgoal_view p {
    color: #484848;
    font-size: 14px;
}

.adgoal_view ul li img {
    margin-right: 8px;
    width: 10px;
}

.adgoal_view ul li {
    color: #616161;
    font-size: 14px;
    padding: 4px 0;
}

/*Goal create End*/

/*Goal_detail Start**/

.back_to_goal .col-8 {}

.back_to_goal .col-4 {
    text-align: right;
}

.back_to_goal .col-4 a {
    text-align: right;
    color: #8B8B8B !important;
    font-size: 14px;
    padding-right: 0;
    padding-top: 3px;
    cursor: pointer;
    float: right;
    font-weight: 400;
    text-decoration: none !important;
    margin-top: 15px;
}

.back_to_goal {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #ddd;
    padding: 12px 8px;
}

.back_to_goal .col-4 img {
    margin-right: 5px;
}

.back_to_goal .col-8 i {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 4px;
}

.back_to_goal .col-8 h4 {
    font-size: 18px;
}

.back_to_goal .col-8 p {
    margin: 0;
    font-size: 14px;
    color: #616161;
}

.back_to_goal .col-8 p b {
    color: #000;
}

.back_to_goal .col-8 p span {
    display: inline-block;
    padding: 0 5px;
}

.own_img img {
    margin-right: 5px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}

.own_img {
    position: absolute;
    left: 0;
    top: 3px;
}

.own_txt {
    padding-left: 42px;
}

.own_txt label {
    font-weight: 500;
    margin: 0;
    font-size: 16px;
    color: #000;
}

.own_txt p {
    font-weight: 400;
    margin: 0;
    font-size: 14px;
    color: #000;
}

.goal_detailrw {
    position: relative;
}

.goal_detailrw .golc1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
}

.goal_detailrw .golc1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
}

.goal_detailrw .golc6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}

.leftedit h4 label {
    margin: 0;
}

.leftedit .g_des {
    padding: 20px 0;
}

.leftedit .g_des textarea {
    height: 90px;
}

.goal_dates .col-6 {
    position: relative;
}

.goal_dates img {
    position: absolute;
    top: 42px;
    right: 22px;
}

.btn_sv_pub {
    border: 1px solid #707070;
}

/**Goal Detail End*/

/**Goal Edit start*/

.nogoals2 {
    text-align: center;
    padding: 20px 0 40px 0;
    font-size: 15px;
}

.nogoals2 img {
    margin-right: 20px;
}

.btn_sv_pub {
    border: 1px solid #616161 !important;
    border-radius: 4px;
}

/**Goal Edit End*/

.animation_cls {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #dfdfdf;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    position: relative;
}

.imgani {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.anh {
    width: 50%;
    height: 25px;
}

.anp {
    width: 100%;
    height: 15px;
}

.acc {
    display: inline-block;
    height: 10px;
    margin-right: 12px;
    width: 35px;
}

@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.animate_share {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    position: relative;
}

.share_ani {
    margin-bottom: 10px;
}

.share_ani .anich {
    height: 20px;
    margin-right: 1%!important;
    width: 4%;
    display: inline-block;
}

.share_ani .anitxt {
    height: 20px;
    margin-right: 5px !important;
    width: 92%;
    display: inline-block;
}

/****/

.hec {
    background: #004061;
}

.logocls {
    width: 175px;
    height: 64px;
    background: #fff;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.logocls img {
    max-width: 119px;
    position: relative;
    top: 3px;
}

.hec .col-4 {
    padding-left: 0;
}

.bred img {
    margin: 0 5px;
}

.bred {
    color: #838383!important;
    font-weight: 400;
    padding: 15px 0 0 0;
    font-size: 14px;
}

.bred .container {
    padding-left: 26px;
}

.bred span {
    color: #000;
}

.box_whcls {
    background: #fff;
    margin-bottom: 40px;
}

.goal_add {
    text-align: right;
}

.goal_add a {
    background: #157EFC;
    color: #fff;
    display: inline-block;
    padding: 3px 13px;
    border-radius: 4px;
}

.g_title {
    padding-top: 12px;
}

/**POPUP Start**/

.f_name {
    padding-bottom: 15px;
}

.sharepopup .hufooter {
    padding-top: 0;
}

.share_popup {
    padding-bottom: 0;
}

.footerm .row {
    width: 94%;
    border-top: 1px solid #e9ecef;
    padding-top: 16px;
    padding-bottom: 3px;
    margin: 0 3%;
}

.footerm .share_btn {
    padding-right: 0;
    border-top: 1px solid #ddd;
    padding-top: 13px;
}

.footerm .col-6 {
    padding-left: 0;
}

.footerm {
    border: 0;
    padding: 0 18px 20px 18px;
}

.share_btn {
    text-align: right;
}

.footerm button {
    padding: 10px 28px;
    margin-left: 10px;
    font-size: 14px;
    margin-left: 10px;
}

.footerm button:focus {
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25);
}

.footerm .btn-default {
    background: none;
}

.footerm .btn-success {
    background: #28A745;
    border: 0;
}

.share_popup .tab-pane {
    min-height: 100px;
}

.footerm .btnpreview {
    background: #057EFF;
    color: #fff;
}

.share_popup .nav-tabs .nav-item {
    margin-bottom: -1px;
    border: 1px solid #ddd;
    padding: 6px 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 0;
    width: 33.33%;
    border-bottom: 0;
    text-align: center;
}

.share_popup .nav-tabs .nav-item a {
    color: #A0A0A0;
    text-decoration: none;
    font-size: 15px;
}

.share_popup .nav-tabs .nav-item a.active {
    color: #1C7CD5;
}

.share_popup .nav-tabs {
    border: 0;
    position: relative;
}

.share_popup .tab-content {
    border-top: 1px solid #E4E4E4;
    margin: 0 -15px;
    padding: 15px;
}

.sharepopup .hu_search {
    width: 100%;
    margin-bottom: 10px;
}

.sharepopup h4 {
    color: #484848;
    font-size: 18px;
    margin: 10px 0px;
}

.modal-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: block;
    color: #484848;
    text-align: center;
    width: 95%;
}

.close {
    float: right;
    font-size: 28px !important;
    font-weight: 100 !important;
    line-height: 18px !important;
}

/*cat popup*/

.add_cat_row .form-control {
    width: 86%;
    display: inline-block;
    font-size: 14px;
    padding: 7px 10px;
}

.add_cat_row button {
    background: #057EFF;
    color: #fff;
    border: 0;
    width: 13%;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
}

.manage_popup p {
    color: #7B7B7B;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 0;
}

.manage_popup a {
    color: #057EFF;
}

.manage_popup h4 {
    color: #484848;
    font-size: 18px;
    margin: 10px 0px;
}

.manage_popup .col-md-12 {
    padding: 0 25px;
}

.manage_popup .row {
    margin: 0 -25px;
}

.r_border {
    border-right: 1px solid #ddd;
}

.pop_cal_list {
    height: 250px;
    overflow: auto;
}

.pop_cal_list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pop_cal_list ul li {
    color: #616161;
    font-size: 14px;
    padding: 4px 0;
    cursor: pointer;
}

.pop_cal_list ul li:hover {
    color: #057EFF;
}

.cat_option {
    float: right;
    text-align: right;
    width: 18%;
}

.cat_option button {
    border: 0;
    padding: 0;
    background: none;
    outline: none !important;
    cursor: pointer !important;
}

.cat_option .dropdown-menu {
    min-width: 74px !important;
    padding: 10px 0px 6px 0px !important;
    right: 5px;
    left: initial !important;
    transform: translate3d(0px, 20px, 0px) !important;
}

.cat_option .dropdown-menu a {
    padding: 1px 14px 5px 14px;
    font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 0;
    cursor: pointer !important;
}

.cat_option .dropdown-toggle::after {
    display: none;
}

.cat_option img {
    max-width: 22px;
}

.not_ac {
    opacity: 0.6;
}

.add_cat_row {
    padding-top: 10px;
}

.cat_listouter {
    min-height: 190px;
}

/*cat popup end*/

/*cat  start*/

.cat_listouter1 {
    padding-top: 4px;
}

.manage_popup .col-12 {
    padding: 0 25px 20px 25px;
}

/*owner*/

.owner_pop {
    padding: 1rem 32px;
}

.owner_h {
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    margin-bottom: 10px;
}

.owner_h .col-6, .owner_nr .col-6 {
    padding-left: 0;
    white-space: normal;
    word-break: break-all;
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 30px;
}

.owner_nr {
    padding: 10px 0;
    position: relative;
    font-size: 14px;
}

.br_sky {
    background: #057EFF !important;
}

.owner_nr .col-6 img {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.ow_srch {
    padding: 0;
    margin-bottom: 20px;
}

.br0 {
    border-radius: 0 !important;
    object-fit: contain !important;
}

.cross_ow {
    position: absolute;
    right: 0;
    top: 15px;
    cursor: pointer;
}

/*Owner*/

/*Add New Start*/

.newgoal_popup .g_role i {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 4px;
}

.g_role_pop {
    justify-content: center;
    margin: 0 auto;
    display: block;
    width: 100%;
}

.g_role_pop .btn-secondary {
    border-color: #cccccc !important;
    background: #fff !important;
    color: #484848 !important;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 15px;
    line-height: 27px;
    margin-right: -3px;
    box-shadow: 0 0 0 0rem rgba(108, 117, 125, .5) !important;
}

.g_role_pop .active {
    background: #f5f5f5 !important;
    color: #484848 !important;
    border-color: #cccccc !important;
}

.g_role_pop .btn-secondary img {
    position: relative;
    top: -2px;
    margin-right: 2px;
}

.g_role_pop {
    margin: 20px 0px;
    width: 100%;
}

.g_role_pop .rck {
    display: none;
}

.g_role_pop .active .rck {
    display: inline-block;
}

.g_role_pop .active .run {
    display: none;
}

.g_role_pop .btn-secondary i {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 4px;
}

.mb50 {
    margin-bottom: 50px;
}

/*Add New End*/

/*Collaborators Start*/

.owner_h .col-2 {
    padding-left: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;
}

.owner_h .col-3 {
    padding-left: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
}

.owner_h .col-7 {
    padding-left: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
}

.owner_nr .col-2 {
    padding-left: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;
    margin-top: auto;
    margin-bottom: auto;
}

.owner_nr .col-3 {
    padding-left: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
    margin-top: auto;
    margin-bottom: auto;
}

.owner_nr .col-7 {
    padding-left: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
    margin-top: auto;
    margin-bottom: auto;
}

.collab_pop .cross_ow {
    top: 7px;
}

.collab_btn {
    justify-content: center;
    margin: 0 auto;
    display: block;
    width: 100%;
}

.collab_btn .btn-secondary {
    border-color: #cccccc !important;
    background: #fff !important;
    color: #484848 !important;
    padding-right: 6%;
    padding-left: 6%;
    font-size: 15px;
    line-height: 27px;
    margin-right: -3px;
    box-shadow: 0 0 0 0rem rgba(108, 117, 125, .5) !important;
}

.collab_btn .active {
    background: #f5f5f5 !important;
    color: #484848 !important;
    border-color: #cccccc !important;
}

.collab_btn .btn-secondary img {
    position: relative;
    top: -2px;
    margin-right: 2px;
}

.collab_btn {
    margin: 0px 0px;
    width: 100%;
}

.collab_btn .rck {
    display: none;
}

.collab_btn .active .rck {
    display: inline-block;
}

.collab_btn .active .run {
    display: none;
}

.collab_btn .btn-secondary i {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 4px;
}

.owner_nr .col-3 label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Collaborators End*/

/*Delete Conf Start*/

.connf_bg {
    padding: 25px 20px 25px 63px;
    background: #F7DF9A;
    margin-bottom: 20px;
    position: relative;
    border-radius: 5px;
}

.connf_bg b {
    color: #707070;
    font-weight: 500;
    display: block;
    font-size: 15px;
}

.connf_bg label {
    color: #000;
    font-weight: 500;
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}

.connf_bg p {
    color: #707070;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.delt_f {
    border: 0 !important;
}

.del_btn {
    border: 1px solid #CED4DA;
    background: none !important;
}

.connf_bg img {
    position: absolute;
    left: 20px;
    top: 20px;
}

/*Delete Conf End*/

/**POPUP End***/

.form-control {
    background-color: #fff !important;
}

.g_ani2 {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #ededed 8%, #e9e9e9 18%, #ededed 33%);
    background-size: 800px 104px;
    position: relative;
}

.g_ani {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    position: relative;
}

.gn1 {
    width: 50%;
    height: 40px;
}

.gn2 {
    width: 50px;
    height: 40px;
    float: right;
}

.gn3 {
    width: 100%;
    height: 37px;
}

.gn4 {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
}

.mleft8 {
    margin-left: -9px !important;
}

.cg1 {
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
}

.cg2 {
    height: 20px;
    width: 40%;
    margin-bottom: 10px;
}

.cg3 {
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
}

.cg4 {
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
}

.bk_goal2 {
    text-align: right;
    padding: 10px 0 0 0;
}

.bk_goal2 a {
    text-align: right;
    color: #8B8B8B !important;
    font-size: 14px;
    padding-top: 0px;
    cursor: pointer;
    float: right;
    font-weight: 400;
    text-decoration: none !important;
}

.bk_goal2 img {
    margin-right: 4px;
}

.pub-btn {
    background: #28a745 !important;
    color: #fff !important;
    border-radius: 4px;
}

#cat_dropdown {
    max-height: 170px;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #D9D9D9;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #888 #D9D9D9;
}

@media(max-width:1270px) {
    .bred .container {
        padding-left: 5px;
    }
}

/* Confirmation popup starts */
.confirmation-header {
    background: #f9f9f9;
}

.confirmation-body {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}
/* Confirmation popup ends */



.g_publish {
    width: 100%;
    clear: both;
}


.wb{
    overflow-wrap: break-word;
}

.drop-arrow-mar{
    margin-left: 7px;
}
.panl_heading .col-8{ padding-left:7px;}



.disabled{
    opacity: 0.5;
}