.audio-recorder-play-wrapper { position: relative; }

.disable-select {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.audio-recorder {
    position: absolute;
       right: 1px;
    top: -1px;
}

.record-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #b3b3b3; */
    border-radius: 50%;
    width: 35px !important;
    height: 35px !important;
}

.record-icon span {
    color: #000000;
}

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4e4e4;
    margin: -6px -6px 12px -6px;
    padding: 10px;
}

.stop-audio-wrapper {
    width: 80px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 50px;
}

.stop-audio-wrapper span {
    color: #fd1515;
}

.stop-audio-wrapper svg {
    cursor: pointer;
}

.resume-audio {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #757474;
    border-radius: 50%;
    margin-left: 6px;
}

.cancel-audio {
    position: absolute;
    top: 2px;
    right: 0px;
    cursor: pointer;
}

.audioLoading {
    width: 100%;
    height: 30px;
}

.stop-audio-wrapper {
    position: relative;
}

.tooltiptext {
    visibility: hidden;
    width: 165px;
    background-color: black;
    color: #ffffff !important;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 40px;
    left: 0px;
}

.stop-audio-container:hover .tooltiptext {
    visibility: visible;
}

.browser-not-support-tooltip {
    visibility: hidden;
    width: 165px;
    background-color: black;
    color: #ffffff !important;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 52px;
    left: 0px;
}

.disable-record-icon {
    background-color: #e6e4e4 !important;

}

.disable-record-icon:hover .browser-not-support-tooltip {
    visibility: visible;
}

.bg_count { display:inline-block; width:35px; height:35px; color:#fff !important; line-height:35px; border-radius:50%; background:#616161; 
text-align:center; }







