<div class="asse_par main_list">
    <div *ngIf="!dataLoading" class="row r_h1">
        <div class="col-12" style="display: flex;white-space: nowrap;">
            <h2>{{translation?.artifacts_assessment_participants }}</h2>
            <div class="hlastc" style="width: 100%;">
            
                <div class="filter_cls dropdown" style="margin-right: -14px;">
                    <span dropdown>
                        <button dropdownToggle id="basic-link" type="button" aria-controls="basic-link-dropdown"
                            class="noOutline">
                            <img src="./assets/img/dots_dark.svg" width="23">
                        </button>
                        <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                            aria-labelledby="basic-link" style="width: 140px">
                            <li (click)="exportParticipantsList('excel')">{{translation?.cf_excel_export}} </li>
                            <li (click)="exportParticipantsList('csv')">{{translation?.cf_csv_export}} </li>
                            <li (click)="exportParticipantsList('pdf')">{{translation?.cf_pdf_export}} </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
            <div *ngIf="showDeadlineBar && !isSubmissionValid" class="col-12 submitcls">
                <p class="date_passed" style="font-weight: bold; border-radius: 3px;"> {{translation?.submission_date_passed}}
                    <button type="button" class="close" style="padding: revert;" (click)="showDeadlineBar=false">×</button>
                </p>
                
            </div>
        <!-- <div class="col-8"> -->
            
            <a class="link" (click)="goToHuddleReport()" role="tab">
                <u>{{translation?.reporting_go_to_assessment_report}}</u>
                <i class="oi ar_hu" data-glyph="external-link" title="" aria-hidden="true"> </i>
            </a>
        <!-- </div> -->
        
        <!-- <div class="hlastc">
        
                <div class="filter_cls dropdown">
                    <span dropdown>
                        <button dropdownToggle id="basic-link" type="button" aria-controls="basic-link-dropdown"
                            class="noOutline">
                            <img src="./assets/img/dots_dark.svg" width="23">
                        </button>
                        <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                            aria-labelledby="basic-link" style="width: 140px">
                            <li (click)="exportParticipantsList('excel')">{{translation?.cf_excel_export}} </li>
                            <li (click)="exportParticipantsList('csv')">{{translation?.cf_csv_export}} </li>
                            <li (click)="exportParticipantsList('pdf')">{{translation?.cf_pdf_export}} </li>
                        </ul>
                    </span>
                </div> -->
                
                <!-- <div class="filter_cls dropdown">
                    <span dropdown>
                        <button dropdownToggle id="basic-link" type="button" aria-controls="basic-link-dropdown"
                            class="noOutline">
                            <img src="./assets/img/filter_icon.svg" width="25" height="25">
                        </button>
                        <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                            aria-labelledby="basic-link" style="width: 140px">
                            <li>

                                <a *ngFor="let option of sortOptions" class="dropdown-item fake_link"
                                    [class.selected_sort]="option.selected"  [tooltip]="option.field_label"
                                    (click)="sortParticipants(option.key, option);">{{option.field_label}}</a>
                            </li>
                        </ul>
                    </span>
                </div> -->
                
                
            <!-- </div> -->
            
    </div>
    
    <ng-container *ngIf="dataLoading">
        <div class="asse_par_list row" *ngFor="let item of [1,2,3,4,5]">
            <div class="col-md-3">
                <div class="list_img acc_profile"> <span class="ani2 rcircle2"></span></div>

                <div class="list_detail">
                    <label class="ani anititle2"></label>
                    <p class="ani anby2"></p>
                </div>
                <div class="clear"></div>
            </div>

            <div class="col-md-2">
                <span class="ani anititle"></span>
            </div>

            <div class="col-md-2">
                <span class="ani anititle"></span>
            </div>


            <div class="col-md-1">
                <span class="ani count1"></span>
            </div>


            <div class="col-md-1">
                <span class="ani count1"></span>
            </div>


            <div class="col-md-1">
                <span class="ani count1"></span>
            </div>


            <div class="col-md-1">
                <span class="ani count1"></span>
            </div>

            <div class="col-md-1 cross_c">
                <span class="ani count1"></span>
            </div>


        </div>
    </ng-container>
    <ng-container *ngIf="!dataLoading && (!participantsList || participantsList?.length == 0)" #noParticipantsSection>
        <div class="row">
            <div class="col-12 no_part">
                <img src="assets/img/no_participants.svg">
                <h3>{{translation?.artifacts_no_participants_available_now }} </h3>
            </div>
            
            
            
            
        </div>
    </ng-container>
    <ng-container *ngIf="!dataLoading && participantsList?.length > 0" #participantsSection>
    <!-- <div class="forscroll"> -->
        <ng-scrollbar track="horizontal">
           
            <div class="pb-4" [class.mh2500]='list_container_height'>
                <div class="asse_par_heading row stickme header_s">
                    <div class="firstcol">
                        <span (click)="sortParticipants('user_name', sortOptions[0])"> <i *ngIf="sortOptions[0].showArrow" class="fontAwesomeArrow fa fa-chevron-down"></i>{{translation?.artifact_assessee }}</span>
                    </div>
                    <div class="col-md-2">
                        <span (click)="sortParticipants('last_modified_with_time', sortOptions[1])"> <i *ngIf="sortOptions[1].showArrow" class="fontAwesomeArrow fa fa-chevron-down"></i>{{translation?.artifacts_last_modified}}</span>
                    </div>
                    <div class="col-md-2">
                        <span (click)="sortParticipants('last_submission_with_time', sortOptions[2])"> <i *ngIf="sortOptions[2].showArrow" class="fontAwesomeArrow fa fa-chevron-down"></i>{{translation?.artifacts_last_submission }}</span>
                    </div>
                    <div class="col-md-1">
                        <span (click)="sortParticipants('videos_count', sortOptions[5])"> <i *ngIf="sortOptions[5].showArrow" class="fontAwesomeArrow fa fa-chevron-down"></i>{{translation?.huddles_details_videos }}</span>
                    </div>
                    <div class="col-md-1">
                        <span (click)="sortParticipants('resources_count', sortOptions[6])"> <i *ngIf="sortOptions[6].showArrow" class="fontAwesomeArrow fa fa-chevron-down"></i> {{translation?.artifact_recources }}</span>
                    </div>
                    <div class="col-md-1">
                        <span (click)="sortParticipants('comments_count', sortOptions[7])"> <i *ngIf="sortOptions[7].showArrow" class="fontAwesomeArrow fa fa-chevron-down"></i>{{translation?.artifact_comments }}</span>
                    </div>
                    <!-- Assessment Summary -->
                    <div class="col-md-1">
                        <span> <i class="fontAwesomeArrow fa fa-chevron-down"></i> {{translation?.vd_assessment_summary}}</span>
                    </div>
                      <!-- Starts Dymanic header for custom Fields -->
                    <ng-container *ngFor="let item of participantsCustomFieldList;let i=index" >
                                <div class="col-md-1">
                                    <span [tooltip]="item.field_label" placement="bottom" (click)="sortCustomFields(item)"> 
                                        <i *ngIf="item.showArrow" class="fontAwesomeArrow fa fa-chevron-down"></i> 
                                        {{item.field_label}}</span>
                                </div>
                    </ng-container>
                            <!-- Ends Dymanic header for custom Fields -->
                    <div class="col-md-2">
                        <span (click)="sortParticipants('avg_performance_level_rating', sortOptions[4])" tooltip="Avg. Performance Level" placement="bottom"> <i *ngIf="sortOptions[4].showArrow" class="fontAwesomeArrow fa fa-chevron-down"></i>{{translation?.cf_avg_performance_level}}</span>
                    </div>
                    <div class="col-md-1">
                        <span (click)="sortParticipants('assessed', sortOptions[3])"> <i *ngIf="sortOptions[3].showArrow" class="fontAwesomeArrow fa fa-chevron-down"></i>{{translation?.cf_assessed_status }}</span>
                    </div>
                </div>
                <ng-container *ngFor="let item of participantsList;let i=index;let participantsListIndex=index">
                    <div class="asse_par_list row stickme">
                        <ng-container>
                            <div class="firstcol" (click)="getSingleAsignment(item)" style="cursor:pointer">
                                <div class="list_img acc_profile">
                                    <img *ngIf="ImageUrlBuilder(item)==true" aria-hidden="true" src="assets/video-huddle/img/group.png">
                                    <img *ngIf="ImageUrlBuilder(item)!=true" src="{{ImageUrlBuilder(item)}}">
                                </div>
                                <div class="list_detail">
                                    <label *ngIf="item.user_name.length<=18">{{item?.user_name}}s</label>
                                    <label *ngIf="item.user_name.length>18">{{item?.user_name| slice:0:15}}...</label>
                                    <p *ngIf="item.user_email.length<=18" [tooltip]="item.user_email">{{item?.user_email}}</p>
                                    <p *ngIf="item.user_email.length>18" [tooltip]="item.user_email">{{item?.user_email | slice:0:15}}...
                                    </p>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="col-md-2" (click)="getSingleAsignment(item)" style="cursor:pointer">
                                <ng-container *ngIf="item?.last_modified then lastModified else noLastModified"></ng-container>
                                <ng-template #lastModified>{{headerService?.formateDate(item?.last_modified,"ll")}}</ng-template>
                                <ng-template #noLastModified>{{translation?.cf_na}}</ng-template>
                            </div>
                            <div class="col-md-2" (click)="getSingleAsignment(item)" style="cursor:pointer">
                                <ng-container *ngIf="item?.last_submission then lastSubmission else noSubmission">
                                </ng-container>
                                <ng-template #lastSubmission>{{headerService?.formateDate(item?.last_submission,"ll") }}</ng-template>
                                <ng-template #noSubmission>{{translation?.cf_na}}</ng-template>
                            </div>
                            <div class="col-md-1" (click)="getSingleAsignment(item)" style="cursor:pointer">
                                <span class="video_cou" [class.gyr_cl]="item?.videos_count == 0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="7" height="9.333" viewBox="0 0 7 9.333">
                                        <g id="Group_3" data-name="Group 3" transform="translate(-4 -1.183)">
                                            <path id="Path"
                                                d="M0,.684C0,.157.485-.174.868.1L3.79,2.084,6.713,4.057a.76.76,0,0,1,0,1.19L3.79,7.234l-2.923,2C.485,9.508,0,9.176,0,8.649V.684Z"
                                                transform="translate(4 1.183)" fill="#935aff" />
                                        </g>
                                    </svg>
                                    {{item?.videos_count}}
                                </span>
                            </div>
                            <div class="col-md-1" (click)="getSingleAsignment(item)" style="cursor:pointer">
                                <span class="res_file " [class.gyr_cl]="item?.resources_count == 0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6.923" height="9" viewBox="0 0 6.923 9">
                                        <g id="Group_530" data-name="Group 530" transform="translate(0 0)">
                                            <g id="noun_File_2044110_000000" transform="translate(0 0)">
                                                <path id="Path" d="M0,0V3.057H3.056Z" transform="translate(3.866)"
                                                    fill="#28A745" />
                                                <path id="Path-2" data-name="Path" d="M3.1,3.864V0H0V9H6.923V3.864Z"
                                                    transform="translate(0 0)" fill="#28A745" />
                                            </g>
                                        </g>
                                    </svg> {{item?.resources_count}}
                                </span>
                            </div>
                            <div class="col-md-1" (click)="getSingleAsignment(item)" style="cursor:pointer">
                                <span class="video_comm" [class.gyr_cl]="item?.comments_count == 0">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="noun_comment_847914" width="9" height="8.1"
                                        viewBox="0 0 9 8.1">
                                        <path id="Path"
                                            d="M1.691,6.027c-.169-.123-.34-.238-.5-.369A3.17,3.17,0,0,1,.214,4.405,2.553,2.553,0,0,1,.4,2.011,3.787,3.787,0,0,1,2.38.411,5.735,5.735,0,0,1,6.465.343,4.035,4.035,0,0,1,8.478,1.8a2.679,2.679,0,0,1-.125,3.335A4.471,4.471,0,0,1,5.885,6.593a6.046,6.046,0,0,1-2.027.131.277.277,0,0,0-.18.074,5.479,5.479,0,0,1-2.49,1.255c-.085.018-.171.03-.256.043a.22.22,0,0,1-.252-.121.252.252,0,0,1,.034-.291c.08-.1.162-.2.249-.3A3.027,3.027,0,0,0,1.691,6.027Z"
                                            fill="#1485fe" />
                                    </svg> {{item?.comments_count}}
                                </span>
                            </div>
  
                            <!--Assessment Summary Start-->
                            <div class="col-md-1 tip_main" (clickOutside)="onClickedOutside($event,1)">
                                <ng-container *ngIf="item.summaryToShow">
                                        <div  class="para cu_tip"  (click)="openAssessmentSummaryDetailsBox(item.summaryToShow,i,$event)">
                                            <span *ngIf='item.summaryToShow.length>0'>{{item.summaryToShow.length}}</span>
                                            
                                                <div  *ngIf='item.summaryToShow.length>0'  class="tex_elip">
                                                 <a class="green_border">
                                                    {{HtmlFiletr(item.summaryToShow[0].comment)}}
                                                 </a>
                                                    
                                                </div>
                                          
                                          
                                        </div>
                                        <div class="tip_show" [class.autohight]='autohight' *ngIf='isOpenBoxAssessmentSummary && i==selectedRowSummary'>
                                        <div class="arrow_tip tip_summary" [class.tip_arrow_down]='autohight'>
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="38" viewBox="0 0 32 38">
                                <defs>
                                    <filter id="Path_112" x="0" y="0" width="32" height="38" filterUnits="userSpaceOnUse">
                                    <feOffset dy="3" input="SourceAlpha"/>
                                    <feGaussianBlur stdDeviation="3" result="blur"/>
                                    <feFlood flood-opacity="0.161"/>
                                    <feComposite operator="in" in2="blur"/>
                                    <feComposite in="SourceGraphic"/>
                                    </filter>
                                </defs>
                                <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Path_112)">
                                    <g id="Path_112-2" data-name="Path 112" transform="translate(23 6) rotate(90)" fill="#fff">
                                    <path d="M 19.02840232849121 13.5 L 0.9715985655784607 13.5 L 10 0.8602380156517029 L 19.02840232849121 13.5 Z" stroke="none"/>
                                    <path d="M 10 1.720461845397949 L 1.943187713623047 13 L 18.05681228637695 13 L 10 1.720461845397949 M 10 0 L 20 14 L 0 14 L 10 0 Z" stroke="none" fill="#f4f4f4"/>
                                    </g>
                                </g>
                                </svg>
                            </div>
                                            <div class="title_tip">
                                        <span class="summary_ar"> <i> <svg (click)="assessmentSummaryLeft($event,item.summaryToShow)" xmlns="http://www.w3.org/2000/svg" width="8.706" height="13.671" viewBox="0 0 8.706 13.671">
                                        <path id="Path_101" data-name="Path 101" d="M4869,629.976l5.857,5.824,4.99-5.824" transform="translate(637.268 -4867.586) rotate(90)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                        </svg> </i> {{currentIndex}}/{{item.summaryToShow.length}} <i> <svg (click)="assessmentSummaryRight($event,item.summaryToShow)" xmlns="http://www.w3.org/2000/svg" width="8.706" height="13.671" viewBox="0 0 8.706 13.671">
                                        <path id="Path_110" data-name="Path 110" d="M4869,629.976l5.857,5.824,4.99-5.824" transform="translate(-628.562 4881.257) rotate(-90)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                        </svg> </i>
                                        </span>
                                <h3>{{item.summaryToShow[currentIndex-1].title}}</h3>
                                <div (click)="closeBoxAssessmentSummary()" class="close_win"><svg  xmlns="http://www.w3.org/2000/svg" width="11.786" height="11.786" viewBox="0 0 11.786 11.786">
                                <g id="Group_1912" data-name="Group 1912" transform="translate(-1456.242 -691.586)">
                                    <path id="Path_103" data-name="Path 103" d="M10860.656,693l8.958,8.958" transform="translate(-9403)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="2"/>
                                    <path id="Path_104" data-name="Path 104" d="M10860.656,693l8.958,8.958" transform="translate(2159.614 -10167.656) rotate(90)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="2"/>
                                </g>
                                </svg></div>
                                             </div>
                                           
                                             <div style="word-wrap: break-word !important; max-height: 220px !important;min-height: 40px;" [options]="opts" [scrollEvents]="scrollEvents" slimScroll class="scroll-container content_tip"
                                             [innerHTML]="item.summaryToShow[currentIndex-1].comment">
                                             </div>
                                              
                                        </div>
                                
                                </ng-container>
                                <ng-container *ngIf="item.assessment_summary?.length == 0">-</ng-container>
                            </div> 
                            <!--Assessment Summary End -->

                            <div class="col-md-1 tip_main" *ngFor="let customField of item.custom_fields_data;let x=index">
                               
                                <ng-container *ngIf="customField?.assessment_custom_field_value">
                                    <ng-container *ngIf="customField?.field_type == 4 then checkboxDiv else noCheckboxDiv"></ng-container>
                                    <ng-template #checkboxDiv>
                                        <span *ngIf="customField?.assessment_custom_field_value == 'true'">{{translation?.yes}}</span>
                                        <span *ngIf="customField?.assessment_custom_field_value == 'false'">{{translation?.no}}</span>
                                    </ng-template>
                               
                                    <ng-template  #noCheckboxDiv>
                                        <div *ngIf="customField?.field_type != 5">
                                            {{customField.assessment_custom_field_value}}
                                        </div>
                                        <div (click)="openDetailsBox(item.custom_fields_data,x,participantsListIndex,$event)" class="para cu_tip no_padding" *ngIf="customField?.field_type == 5">
                                         
                                            <div id='testContainer' class="tex_elip">
                                                <a class="green_border">
                                                    {{HtmlFiletr(customField.assessment_custom_field_value)}}
                                                </a>
                                                
                                            </div>
                                            
                                        </div>
                                     
                                        <div class="tip_show" [class.autohight]='autohight' *ngIf="isOpenBox && customField?.field_type == 5 && x == lastParaIndex && i==onetime">
                                            <div class="arrow_tip" [class.tip_arrow_down]='autohight' >
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="38" viewBox="0 0 32 38">
                                    <defs>
                                        <filter id="Path_112" x="0" y="0" width="32" height="38" filterUnits="userSpaceOnUse">
                                        <feOffset dy="3" input="SourceAlpha"/>
                                        <feGaussianBlur stdDeviation="3" result="blur"/>
                                        <feFlood flood-opacity="0.161"/>
                                        <feComposite operator="in" in2="blur"/>
                                        <feComposite in="SourceGraphic"/>
                                        </filter>
                                    </defs>
                                    <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Path_112)">
                                        <g id="Path_112-2" data-name="Path 112" transform="translate(23 6) rotate(90)" fill="#fff">
                                        <path d="M 19.02840232849121 13.5 L 0.9715985655784607 13.5 L 10 0.8602380156517029 L 19.02840232849121 13.5 Z" stroke="none"/>
                                        <path d="M 10 1.720461845397949 L 1.943187713623047 13 L 18.05681228637695 13 L 10 1.720461845397949 M 10 0 L 20 14 L 0 14 L 10 0 Z" stroke="none" fill="#f4f4f4"/>
                                        </g>
                                    </g>
                                    </svg>
                                </div>


                                             <div class="title_tip">

                                <h3>{{paragraph_field_label}}</h3>
                                <div (click)="closeDetailsBox()" class="close_win"><svg  xmlns="http://www.w3.org/2000/svg" width="11.786" height="11.786" viewBox="0 0 11.786 11.786">
                                <g id="Group_1912" data-name="Group 1912" transform="translate(-1456.242 -691.586)">
                                    <path id="Path_103" data-name="Path 103" d="M10860.656,693l8.958,8.958" transform="translate(-9403)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="2"/>
                                    <path id="Path_104" data-name="Path 104" d="M10860.656,693l8.958,8.958" transform="translate(2159.614 -10167.656) rotate(90)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="2"/>
                                </g>
                                </svg></div>
                                             </div>
                                             
                                             <div style="word-wrap: break-word !important; height: 220px !important;min-height: 40px;" *ngIf="assessment_custom_field_value != '' && x == lastParaIndex" [options]="opts" [scrollEvents]="scrollEvents" slimScroll class="scroll-container content_tip"
                                             [innerHTML]="assessment_custom_field_value"
                                             >
                                             </div>
                                             
                                        </div>
                                    </ng-template>
                                </ng-container>
                                <ng-container *ngIf="!customField?.assessment_custom_field_value">-</ng-container>
                            </div>
                    
                            <div class="col-md-2" (click)="getSingleAsignment(item)" style="cursor:pointer">
                                <ng-container *ngIf="item?.avg_performance_level_rating then avg_performance else noAvg_performance"></ng-container>
                                <ng-template #avg_performance>{{item?.avg_performance_level_rating}}</ng-template>
                                <ng-template #noAvg_performance>{{translation?.cf_na}}</ng-template>
                            </div>
                            <div class="col-md-1" (click)="getSingleAsignment(item)" style="cursor:pointer" *ngIf="item?.assessed">
                                <span class="asses_count ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.749" height="7.668"
                                        viewBox="0 0 10.749 7.668">
                                        <path id="Path_99" data-name="Path 99" d="M-3257.017-10298.373l2.378,2.514,6.871-6.168"
                                            transform="translate(3257.767 10302.777)" fill="none" stroke="#f45a26"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                                    </svg>
                                </span>
                            </div>
                            <div class="col-md-1" (click)="getSingleAsignment(item)" style="cursor:pointer" *ngIf="!item?.assessed">
                                <span class="asses_count gyr_cl gyt">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22.746" height="22.746"
                                        viewBox="0 0 10.746 10.746">
                                        <g id="Group_508" data-name="Group 508" transform="translate(-15.863 -6.031)">
                                            <path id="Path_92" data-name="Path 92" d="M-3249.157-10301.331l-5.482,5.472"
                                                transform="translate(-4961.532 9593.05) rotate(45)" fill="none" stroke="#fff"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                                        </g>
                                    </svg>
                                </span>
                            </div>
                            <div *ngIf="userAccountLevelRoleId != '125'" class="col-sm-1 cross_c lastcol" (click)="OnclickDeleteModal(item?.user_id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14.129" viewBox="0 0 14 14.129">
                                    <path id="Path"
                                        d="M7.334,6.5l5.5-5.478a.562.562,0,0,0,0-.795h0a.568.568,0,0,0-.8,0l-5.5,5.475L.964.164a.568.568,0,0,0-.8,0,.562.562,0,0,0,0,.795L5.733,6.5.168,12.041a.562.562,0,0,0,0,.795h0a.568.568,0,0,0,.8,0L6.532,7.3l5.5,5.472a.568.568,0,0,0,.8,0,.562.562,0,0,0,0-.795Z"
                                        transform="translate(0.5 0.564)" stroke="#000" stroke-miterlimit="10"
                                        stroke-width="1" />
                                </svg>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <ng-container *ngIf="loadingParticipants">
                    <div class="asse_par_list row" *ngFor="let item of [1,2,3,4,5]">
                        <div class="col-md-3">
                            <div class="list_img acc_profile"> <span class="ani2 rcircle2"></span></div>

                            <div class="list_detail">
                                <label class="ani anititle2"></label>
                                <p class="ani anby2"></p>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="col-md-2">
                            <span class="ani anititle"></span>
                        </div>

                        <div class="col-md-2">
                            <span class="ani anititle"></span>
                        </div>


                        <div class="col-md-1">
                            <span class="ani count1"></span>
                        </div>

                        <div class="col-md-1 cross_c">
                            <span class="ani count1"></span>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-scrollbar>
    
    </ng-container>
</div>
<!--delete modal start-->



<ng-template #delete>


    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{translation?.artifacts_confirmation_required}}</h4>
            <button type="button" class="close" (click)="ModalRefs.participentsModal.hide()">&times;</button>

        </div>
        <div class="modal-body">
            <div class="alert_bg row">
                <div class="col-2">
                    <img src="assets/img/alert_i.svg">
                </div>
                <div class="col-10">
                    <h6>{{messageDelete}}
                    </h6>
                </div>
            </div>

        </div>
        <div class="modal-footer hufooter de_footer">
            <div class="col-12">
                <a (click)="ModalRefs.participentsModal.hide()">{{translation?.artifact_cancle }}</a>
                <a class="conf_delete" (click)="deleteAssessee()">{{translation?.artifact_delete   }} </a>

            </div>



        </div>
    </div>



</ng-template>
<!--delete modal end-->

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">{{translation?.title_alert}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert_bg row">
                    <div class="col-2">
                        <img src="assets/img/alert_i.svg" style="top: 13px;">
                    </div>
                    <div class="col-10">
                        <h6>{{translation?.artifacts_user_not_submitted_assessment }}</h6>
                    </div>
                </div>

            </div>

            <div class="modal-footer hufooter de_footer">
                <div class="col-12">

                    <a class="conf_delete" (click)="hideChildModal()">{{translation?.huddle_list_ok}}</a>

                </div>

            </div>
        </div>
    </div>
</div>

<ng-template #loadingModal>
	<div class="modal_container">
		<div class="modal-content">
			<div class="modal-header">
                <h4 class="modal-title">{{translation?.analytics_please_wait}}</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="loadingModalRef.hide()">&times;</button>
			</div>
			<div class="modal-body container">
				<div class="row text-center" style="margin-left: 10px;">
					<img class="animated infinite rotateIn" src="./assets/img/cog.svg"
						style="width: 27px; height: 20px;">
					{{translation?.reporting_file_is_pareparing}}
				</div>
			</div>
		</div>
	</div>
</ng-template>