a.selected_sort{
    color: #057eff !important;
    font-weight: bold !important;
}
.stickme {    -ms-flex-wrap: inherit;
    flex-wrap: inherit;}
.stickme .firstcol{cursor: pointer;
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    left: 0px;
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
    z-index: 99;}
    
    .dropdown-menu-right{
        box-shadow: rgb(206, 206, 206) 0px 5px 15px;
    }
    .dropdown-menu-right li{
        cursor: pointer;
        padding: 5px 10px;
        font-size: 15px;
    }
	.asse_par_list .col-md-2 {
        flex: 0 0 170px;
        max-width: 170px;
        font-size: 14px;
        padding: 0 5px;
    }
    .asse_par_heading .col-md-2 {
        flex: 0 0 170px;
        max-width: 170px;
        font-size: 14px;
        padding: 0 5px;
    }
	
	.stickme .lastcol{cursor: pointer;
    width: 30px;
    min-width:30px;
    max-width: 30px;
    right: 0px;
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
    z-index: 99;     height: 34px;
    line-height: 30px;
    padding-top: 10px;}
	
	.filter_cls .dropdown-menu a {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .fontAwesomeArrow{
        color: #949494;
        margin-right: 2px;
        font-size: 8px;
    }
	.asse_par_list .col-md-2{
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
    }
    .asse_par_list .col-md-1{
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
	.forscroll { overflow:auto;         margin: 0 15px;}
	.header_s { white-space:nowrap; padding-bottom:0;     border-bottom: 1px solid #ddd !important;}
	
	.header_s span { display:block; overflow:hidden; text-overflow: ellipsis;    text-transform: capitalize;}
	
	.header_s .col-md-1, .header_s .col-md-2, .header_s .firstcol{ padding-bottom:8px; border-bottom:1px solid #ddd; padding-right:12px !important;     height: 27px;     margin-bottom: -1px;}
	.list_detail { padding-left:8px;}
	
	.asse_par h2 { padding-bottom:8px;}
	.asse_par_list .col-md-2, .asse_par_list .col-md-1, .asse_par_list .col-md-3, .asse_par_list .firstcol { padding-right:12px !important;}
	
	
	.filter_cls {
    width: 42px;
    float: right;
    padding-top: 8px;
    text-align: center;
}

.hlastc { padding-top:15px;}
.asse_par_heading .col-md-1 {
    flex: 0 0 170px;
    max-width: 170px;
    font-size: 14px;
    padding-left: 0;
}
.asse_par_list .col-md-1 {
    flex: 0 0 170px;
    max-width: 170px;
    padding-left: 0;
    font-size: 14px;
}
.asse_par_list .col-sm-1 {
    flex: 0 0 35px;
    max-width: 35px;
    padding-left: 0;
    font-size: 14px;
}
.asse_par .row .col-8{
    padding: 0
}
.asse_par .row .col-4{
    padding: 20px 0
}
.asse_par {
    padding: 0px 10px;
}
ng-scrollbar {
    --scrollbar-size: 8px;
    --scrollbar-thumb-color: rgba(75, 75, 75, 0.5);
    --scrollbar-thumb-hover-color: rgba(75, 75, 75, 0.5);
  
   
  }
  .asse_par_heading div span{
      cursor: pointer;
  }

  .link{
    color: #007ad9;
    cursor: pointer;
  }

  .para {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flow-root;
    cursor: pointer;
  }

  .para:hover {
      color: #28A745;
      
  }
  
  .tip_main { position: relative;     min-height: 28px; }
  .cu_tip { position:relative;padding-left: 45px;}
  .cu_tip span{    display: inline-block;
    
    min-width: 38px;
    height: 27px;
    background: #fff;
    border: 2px solid #979797;
    text-align: center;
    border-radius: 15px;
    line-height: 23px; position:absolute; left:0;}
  .cu_tip:hover span{ color:#28A745;  border: 2px solid #28A745;}
  .cu_tip div{ position: relative;
    top: 3px; min-height: 27px;}
	
	.tip_show{ position: absolute;
    top: 0;
    right: 170px;
    width: 350px;
    background: #fff;

  padding: 18px 15px;
    border: 1px solid #f4f4f4;     -webkit-box-shadow: 0px 1px 7px 0px rgb(0 0 0 / 10%);
    box-shadow: 0px 1px 7px 0px rgb(0 0 0 / 10%);
    z-index: 999;
}

     ::ng-deep .tip_show p  {
        white-space: normal !important;
        display: block;
        text-transform: initial;
    }
	
	.tip_main {    overflow: visible !important;}
	.title_tip { display:flex;     margin: -5px; padding-bottom:10px;}
	.title_tip h3{    font-size: 15px; padding: 0 8px;     margin: 0;}
	.title_tip span i{ margin:0 5px; display:inline-block;     position: relative;
    top: -1px;     cursor: pointer;}
	.close_win{margin-left: auto;
    cursor: pointer;}
	.content_tip p{ white-space:normal; overflow:inherit; margin-bottom:10px; height: 220px !important;}
	
	.arrow_tip {
		    position: absolute;
    right: -16px;
    top: 0px;
    overflow: hidden;
    width: 16px;

}

.arrow_tip svg{    width: 45px;
    position: relative;
    left: -17px;}

.date_passed {
    /* background-color: #D6EAFF;
    text-align: left;
    padding-left: 20px;
    margin-left: -1px;
    margin-right: -16px; */

    background-color: #d6eaff;
    text-align: left;
    padding-left: 16px;
    margin-left: 2px;
    margin-right: -18px;
    height: 40px;
    padding-right: 8px;
    padding-top: 10px;

}
    
.autohight{
    bottom: 0;
    top: auto !important;
}
.mh2500{
    min-height: 600px !important;
}

.tip_arrow_down{
    bottom: 0;
    top:auto !important;
}

.sum_para { padding-left:45px;}
.summary_ar{
    display: flex;
}
.green_border{
    border-bottom: 2px dotted #28A745;
    color: black;
    
    overflow: hidden;
    text-overflow: ellipsis;
}

.green_border:hover{
    border-bottom: 2px solid #28A745;
    color: #28A745;
    text-decoration: none;

}

.no_padding{
    padding-left: 0px !important;
}

.ar_hu{color: #A0A0A0; margin-left: 10px; position: relative;
    top: 2px;}
	
	::ng-deep .asse_par .ng-scrollbar-thumb {
       background: #28A745 !important;}
	   
	   .tex_elip {    text-overflow: ellipsis;
    overflow: hidden;}
	
	.asse_par .asse_par_list:nth-of-type(odd)  {background: #EAEAEA; padding-top:0; padding-bottom:0;}
	.asse_par .asse_par_list:nth-of-type(odd) .firstcol{background: #EAEAEA;    height: 63px;
    padding-top: 10px;}
	
	.asse_par .asse_par_list:nth-of-type(odd) .lastcol  {background: #EAEAEA;    height: 63px;
    padding-top: 14px !important;}
	
	.asse_par .asse_par_list:nth-of-type(odd)  .col-md-1, .asse_par .asse_par_list:nth-of-type(odd) .col-md-2 {background: #EAEAEA;    height: 63px;
    padding-top: 20px;}
	
	
	.main_list {    margin: 0 -25px;}
	
	.main_list .r_h1{    padding: 0 25px;}
	.main_list .firstcol { padding-left:25px !important;}