.box_outer{ background:#fff;  border-radius:5px;     margin-top: 15px !important;     max-width: 1024px; margin-bottom: 20px !important;}
@media screen and (min-width:1280px) { 
  .container { max-width: 1200px !important;
      padding: 0 15px !important;
      }
     }

@media screen and (min-width:1500px) {

  .container { max-width: 1450px !important;    padding: 0 15px !important; }
} 
.topheader{text-align: center; background:url('/assets/img/bgrep.png') repeat-x;}
.panl_headingac { border-bottom:1px solid #ddd; padding:5.5px 10px;     background: #f9f9f9;     border-top-right-radius: 5px;     border-top-left-radius: 5px;}

.panl_headingac  h3{ 
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #212528;
}
.theModal {cursor: pointer; }
.toPointer {cursor: pointer; }

.user_acount {border-bottom:1px solid #ddd; padding:18px 10px;}
.user_acount {background: #F9F9F9;}
.user_acount label{ margin:0; color:#010101; font-weight:500;}
.user_acount p{ margin:0; color:#010101;}
.acc_img img { width:55px; height:55px; border-radius:50%;}
.acc_img  { float:left; width:65px;}
.acc_detail2 { float:left; width:226px; overflow: hidden;     padding-top: 7px;}
.user_opt { padding:30px 10px;}
.user_opt h4{color:#212528; font-size:18px; margin:0 0 10px 0;     font-weight: 400;}
.setcsl1 { float:left; width:55%;}
.setcsl2 { float:right; width:38%;}
.user_opt label{color: #616161;
    margin: 21px 0 4px 0;}
.user_opt .col-md-5 { padding-right:40px;}
.user_opt .col-md-7 { padding-left:80px;}
.sub_ac{padding:20px 0 2px 0;}
.sub_ac a{ color:#1C7CD5 !important; cursor:pointer; }
.user_opt .ckoptions label{ margin:14px 0 4px 0; display: block;}

.tab-form {
  margin-left: 30px !important;
}
	/* The container */
.ck_box {
  display: block;
  position: relative;
  padding-left: 30px;
    margin: 13px 0;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color:#616161;
}

/* Hide the browser's default checkbox */
.ck_box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.ck_box .checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
   border: 1px solid #B4BAC3;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.ck_box:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.ck_box input:checked ~ .checkmark {
      background-color: #1C7CD5;
   
}

/* Create the checkmark/indicator (hidden when not checked) */
.ck_box .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.ck_box input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.ck_box .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

.user_sebtn {border-top:1px solid #ddd; padding:18px 0px;  margin: 0 12px; margin-top:40px; text-align:right;}

.user_sebtn button{ border:0;     padding: 9px 24px; outline:0; color:#484848; background:none; cursor:pointer;}
.user_sebtn .set_sav{ background:#28a745; color:#fff; border-radius:4px;}
.user_opt select{ background:#f8f8f8 !important;}

.gicons { text-align:right; padding-top: 7px;} 
.gicons a {color:#8B8B8B; text-decoration:none !important; }
.gicons img {max-width: 26px; margin-right:10px; }

.edit_gs {     float: right;
    width:660px;
    padding-top: 20px;
   
    border: 1px solid #DADADA;
    background: #fff;
    padding: 10px 11px;
    border-radius: 3px;     text-align: center;}
	
	
	.edit_gs2 {     float: right;width:683px;     text-align: right;}
	
.edit_gs a { color:#484848;text-decoration:none !important; }
.edit_gs img {max-width: 15px;
    position: relative;
    top: -1px;
    margin-right: 7px;}
	
	
	.user_opt h5 {
    color: #212528;
    font-size: 18px;
    margin: 35px 0 25px 0;
    font-weight: 400;
}

.edit_gs2 button{ background:none; border:0; outline:0; cursor:pointer;}
.edit_gs2 button img { width:15px;}
.edit_gs2 .form-control{ width:300px; display:inline-block; border:1px solid #CCCCCC;  height:44px !important;}

.edit_gs2 a{ background:#28A745; padding: 12px 15px 10px; display:inline-block; color:#fff; text-decoration:none;     border-radius: 4px;
    margin: 0 11px;}

.sh_show { text-align: left; padding-left:45px;}
.sh_show a{     background: #F5F5F5;
    color: #616161;
    display: inline-block;
    padding: 7px 30px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    text-decoration: none; margin-top:10px;}
	
	.pt7{    padding-top: 7px;}

/**copy from here**/


@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.ani_us{
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
}

.us1 { width:250px; height:40px;}
.uimg { width:55px; height:55px; border-radius:50%; display:inline-block;}
.use_lab { width:150px; height:20px;}
.use_lab2 { width:220px; height:24px;}
.use_lab3 {width:100%; height:40px; margin:20px 0 0 0;}
	.use_lab4 {width:100%; height:20px; margin:18px 0 0 0;}
	.use_lab5 {width:91px; height:39px; display:inline-block;}
	
	
	.modal-header {
    background: #f9f9f9;
}
.addv_footer { border:0 !important;     border: 0 !important;
        padding: 0 20px 20px 20px;}
.addv_footer .row {
    width: 100%;
    border-top: 1px solid #e9ecef;
    padding-top: 16px;
    padding-bottom: 3px;
    margin: 0!important;
}
.addv_footer .col-6 {
    padding: 0;
}
.modal_btn {
    text-align: right;     padding-right: 0;
}
.modal_btn .btn {
    outline: 0 !important;
	background: none;
}

.addv_footer .btn-success {
    background: #28a745!important;
    border: 0;
    font-weight: 500;
}


.modal-title {
    font-size: 25px;
    font-family: Roboto;
    padding-left: 3px;
    margin: 1px 0;
    color: #414141;
    font-weight: 300;
    text-align: center !important;
    width: 100%;
}

.eright { text-align:right;}
.eright img { max-width:12px;     position: relative;
    top: -1px;}
	.edt_rw { padding:10px 11px;}
	.edt_rw a{ color:#616161; text-decoration:none;}
	
	.edt_rw .form-control{display: inline-block;
    width: 92%;}
	.edone { padding-top:5px;}
	.edone a { color:#057EFF;}
  .donecls{ cursor: pointer; color: #057eff !important;}
  .gcross { display: inline-block;
    margin:0 0 0 5px !important;     cursor: pointer;}
    .s_di{    padding: 35px 50px 12px 50px!important;
      text-align: center;}
      .close_d { text-align: right; 
        padding: 0 15px 0 0;
        position: relative;
        top: 10px;}
      .close_d button{ border: 0; outline: 0;     font-weight: 200;}
      .change_act_owner{
        background: #FFF !important;
        border: 1px solid #DADADA; 
        border-radius: 4px;
        display:inline-block;
        color: #919191 !important;
        padding: 9px 25px !important;
       }

       .change_act_owner svg
       {
          margin-right: 6px;
       }
       .checkmark_act_settings img{
          margin-right: 18px;
          width: 12px;
       }
       .checkmark_act_settings
       {
         color:#616161;
         font-size:13px;
         margin: 14px 0 5px 0;
       }
       .greyout_cls
       {
         opacity: 0.5;
       }


       
	.f_name { padding-bottom:15px;}
  .sharepopup  .hufooter { padding-top:0;}
  .share_popup { padding-bottom:0;}
  
  .footerm .row{     width: 94%;
      border-top: 1px solid #e9ecef;
      padding-top: 16px;
      padding-bottom: 3px;
      margin: 0 3%;}	
  
  .footerm .share_btn{ padding-right:0;     border-top: 1px solid #ddd;
      padding-top: 13px;}
  .footerm .col-6 { padding-left:0;}
  .footerm{ border:0;          padding: 0 18px 20px 18px;}
  .share_btn { text-align:right;}
  .footerm button{        padding: 10px 28px;
      margin-left: 10px;
      font-size: 14px; margin-left: 10px; }
  .footerm button:focus { box-shadow: 0 0 0 0rem rgba(0,123,255,.25);}
  .footerm .btn-default{ background:none;}
  .footerm .btn-success{ background:#28A745; border:0;}
  .share_popup .tab-pane { min-height:100px;}
  .footerm .btnpreview{ background:#057EFF; color:#fff;}
  .share_popup .nav-tabs .nav-item {
      margin-bottom: -1px;
      border: 1px solid #ddd;
        padding: 6px 26px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
        margin-left: 0;      width: 33.33%; border-bottom: 0; text-align: center;
  }
     
     .share_popup .nav-tabs .nav-item a{ color:#A0A0A0; text-decoration:none;     font-size: 15px;} 
     .share_popup .nav-tabs .nav-item a.active{ color:#1C7CD5;}
     
    .share_popup .nav-tabs { border:0;     position: relative;
      }
    .share_popup .tab-content { border-top:1px solid #E4E4E4;     margin: 0 -15px;
      padding: 15px;}
    .sharepopup .hu_search{ width:100%;     margin-bottom: 10px;}
    
    
    .sharepopup h4 {
      color: #484848;
      font-size: 18px;
      margin: 10px 0px;
  }
  
    .modal-title {font-family: 'Roboto', sans-serif; font-weight:400; 
      font-size: 18px;    display: block; color: #484848;
      text-align: center;
      width: 95%; }
    .close {
      float: right;
      font-size: 28px !important;
      font-weight: 100 !important;
      line-height: 18px !important;}
    
    .conf_popup {
        text-align: center;
        padding-top: 35px;
        padding-bottom: 35px;
    }
	.container.bred_an{ padding-left:0 !important;     top: 11px !important;     padding-bottom: 9px !important;}
  .panl_headingac .col-6{ padding-left:7px;}
  .br_anp {
    height: 20px;
    margin: 0;
  }
  .p_ani {
      -webkit-animation-duration: 1.25s;
      animation-duration: 1.25s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: placeHolderShimmer;
      animation-name: placeHolderShimmer;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      background: #D9D9D9;
      background: linear-gradient(to right, #E9E9E9 8%, #F0F0F0 18%, #EFEFEF 33%);
      background-size: 800px 104px;
      position: relative;
  }
  .msg{
    text-align: center;
  }