<!-- Breadcrumb-->

<div class="clear"></div>
<div *ngIf="skelton_loading" class="container bred_an">
  <div class="p_ani br_anp m0"></div>
</div>
<div *ngIf="!skelton_loading" class="container bred_an">
    <a [routerLink]="['/']">{{translations.home_global}}</a>
    <img src="assets/img/breadcrumarrow.svg" />

    <a [routerLink]="['/account-settings']">{{translations.account_settings_all}}</a>
    <ng-container>
        <img src="assets/img/breadcrumarrow.svg" />
        <a>
            <b>{{translations.general_settings_all_new}}</b>
        </a>
    </ng-container>
</div>

<div class="clear"></div>

<!-- Component content-->

<div *ngIf="!skelton_loading" class="container box_outer">

    <div class="row panl_headingac">
        <div class="col-6">
            <h3>{{translations.general_settings_all_new}}</h3>

        </div>
        <!-- Change Account Owner-->

        <div data-toggle="modal" class="modal fade sh_show" bsModal #changeAccount="bs-modal" [config]="{backdrop:'static',keyboard:false}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
            <div class="modal-dialog" style="max-width:500px;">
                <div class="modal-content">
                    <div class="close_d">
                        <button class="close" data-dismiss="modal" (click)="changeAccount.hide();" type="button">×</button>
                    </div>
                    <div class="modal-body s_di">
                        <p>{{translations.account_ownership_changed}} <strong>{{changedAccountOwner}}</strong>. {{translations.any_further_changes}} <strong>{{changedAccountOwner}}.</strong>
                        </p>
                    </div>
                    <div>
                        <div class="clear"></div>
                    </div>
                    <div class="modal-footer addv_footer">
                        <div class="clear"></div>
                        <div class="row">

                            <div class="col-12 modal_btn">
                                <button type="button" (click)="redirectToHome()" class="btn btn-success">Done</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-6 gicons">
            <a routerLink="/account-settings"><img src="assets/img/g_setting.png"> {{translations.back_to_account_settings_global_2}}
            </a>
        </div>
    </div>
    <ng-container *ngIf="!skelton_loading">
        <plans-billings-shared></plans-billings-shared>
    </ng-container>
    <div class="row user_acount">
        <div class="col-12">

            <div class="acc_img">
                <img *ngIf="!image" src="assets/trackers/img/photo-default.png">
                <img *ngIf="image" [src]="image">
            </div>
            <div class="acc_detail2">
                <label>{{generalSettingsObject.user_detail.first_name + " " + generalSettingsObject.user_detail.last_name}}</label>
                <p>{{header_data.user_current_account?.roles?.name}}</p>
            </div>

            <div class="edit_gs2">
                <select *ngIf="change_account_owner_check" class="form-control" (change)="changeAccountOwner($event)" [(ngModel)]="this.generalSettingsObject.account_owner_id">
          <option *ngFor="let owner of owners | keyvalue" value={{owner.key}}>{{owner.value}} </option>

        </select>

                <a *ngIf="change_account_owner_check" class="toPointer" (click)="changeNewAccountOwner()">{{translations.set_as_new_account_owner}}</a>
                <button (click)="changeNewAccountOwnerBack()" *ngIf="change_account_owner_check"><img src="assets/img/cros_gs.png"></button>

                <a *ngIf="!change_account_owner_check" class="toPointer change_act_owner" (click)="changeAccountCheck()"> <svg xmlns="http://www.w3.org/2000/svg" width="10.378" height="10.378" viewBox="0 0 10.378 10.378">
          <path id="pencil" d="M7.784,0l-1.3,1.3L9.081,3.892l1.3-1.3ZM5.189,2.595,0,7.784v2.595H2.595L7.784,5.189Z" fill="#919191"/>
        </svg> {{translations.change_account_owner_all}}</a>

            </div>

            <div class="clear"></div>

        </div>

    </div>

    <div class="row user_opt">
        <div *ngIf="false" class="col-md-5">
            <h4>{{translations.general_information}}</h4>
            <div class="ckoptions">
                <label>{{translations.account_name_all}}</label>
                <input type="text" class="form-control" [(ngModel)]="this.generalSettingsObject.account_detail.company_name" required>

            </div>
        </div>


        <div class="col-md-5">
            <h4>{{translations.general_information}}</h4>
            <div class="ckoptions">
                <label>{{translations.account_name_all}}</label>
                <input type="text" class="form-control" [(ngModel)]="this.generalSettingsObject.account_detail.company_name" required>

                <h5>{{translations.account_features}}</h5>

                <div class="ckoptions " (change)="updateAccountfeatures($event, forceDelete)">

                    <label class="ck_box">{{translations.enable_custom_marker_tags}}
            <input type="checkbox" [checked]="generalSettingsObject.enable_custom_markers_in_workspace === true"
              name="enable_custom_markers_in_workspace">
            <span class="checkmark"></span>
          </label>

                    <label class="ck_box">{{translations.enable_custom_marker_tags_in_account}}
            <input type="checkbox" [checked]="generalSettingsObject.enable_custom_markers_in_account === true"
              name="enable_custom_markers_in_account">
            <span class="checkmark"></span>
          </label>

                    <div class="sh_show">

                        <a *ngIf="custumMarkChecked" data-toggle="modal" class="theModal" (click)="showCustomMarker()">{{translations.edit_custom_marker_tags}}</a>
                    </div>
                    <ng-container>
                        <label [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box">{{translations.enable_best_practices_lib_all}}
              <input [disabled]="!proFeatures" type="checkbox" [checked]="generalSettingsObject.enable_video_library === true"
                     name="enable_video_library">
              <span class="checkmark"></span>
            </label>

                        <label *ngIf="generalSettingsObject.transcribe_library_option === true" [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box"> {{translations.enable_video_library_transcription_new_settings}}
              <input [disabled]="!proFeatures" type="checkbox" [checked]="generalSettingsObject.transcribe_library_videos === true"
                     name="transcribe_library_videos">
              <span class="checkmark"></span>
            </label>

            <label *ngIf="generalSettingsObject.transcribe_workspace_option === true" [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box tab-form">{{translations?.enable_transcription_for_workspace_video}}
                <input [disabled]="!proFeatures" type="checkbox" [checked]="generalSettingsObject.transcribe_workspace_videos === 1"
                       name="transcribe_workspace_videos">
                <span class="checkmark"></span>
              </label>


              <label *ngIf="generalSettingsObject.transcribe_huddle_option === true" [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box tab-form">{{translations?.enable_transcription_for_huddle_video}}
                <input [disabled]="!proFeatures" type="checkbox" [checked]="generalSettingsObject.transcribe_huddle_videos === 1"
                       name="transcribe_huddle_videos">
                <span class="checkmark"></span>
              </label>
    

                        <label [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box">{{translations.enable_analytics_all}}
              <input [disabled]="!proFeatures" type="checkbox" [checked]="generalSettingsObject.enable_analytics === true" name="enable_analytics">
              <span class="checkmark"></span>
            </label>

            <label *ngIf="header_data.analytics_permissions" class="ck_box">{{translations.enable_leader_board_analytics}}
              <input type="checkbox" [checked]="generalSettingsObject.enable_analytics_enableleaderboard === true"
                name="enable_analytics_enableleaderboard">
              <span class="checkmark"></span>
            </label>
                    </ng-container>

                    <ng-container>
                        <label [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box">{{translations.enable_rubric_in_account_all}}
            <input [disabled]="!proFeatures" type="checkbox" [checked]="generalSettingsObject.enable_framework_in_account === true"
                   name="enable_framework_in_account">
            <span class="checkmark"></span>
          </label>
                        <div class="sh_show">
                            <label [ngClass]="{'greyout_cls' : !proFeatures}">{{translations.default_framework_rubric_all}}</label>
                            <select [disabled]="!proFeatures" [ngClass]="{'greyout_cls' : !proFeatures}" class="form-control" (change)="selectDefaultFramework($event)" [(ngModel)]="default_framework">
              <option [disabled]="!proFeatures" value="">{{translations.select_framework_all}}</option>
              <option [disabled]="!proFeatures" *ngFor="let frm of generalSettingsObject.frameworks_list"
                      value={{frm.account_tag_id}}>{{frm.tag_title}}</option>
            </select>
                        </div>

                        <label [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box">{{translations.enable_frameworks_in_workspace_new_settings}}
            <input [disabled]="!proFeatures" type="checkbox" [checked]="generalSettingsObject.enable_framework_in_workspace === true"
                   name="enable_framework_in_workspace">
            <span class="checkmark"></span>
          </label>
          
          <label [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box">{{translations.enable_coaching_all}}
            <input [disabled]="!proFeatures" type="checkbox" [checked]="generalSettingsObject.enable_coaching_tracker === true"
                   name="enable_coaching_tracker">
            <span class="checkmark"></span>
          </label>

          <label [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box">{{"Enable Assessment Huddles in this account"}}
            <input [disabled]="!proFeatures" type="checkbox" [checked]="generalSettingsObject.is_evaluation_activated === true"
                   name="is_evaluation_activated">
            <span class="checkmark"></span>
          </label>
          <label [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box">{{"Enable Performance Levels in Assessment Huddles"}}
            <input [disabled]="!proFeatures" type="checkbox" [checked]="generalSettingsObject.assessment_perfomance_level === true"
                   name="assessment_perfomance_level">
            <span class="checkmark"></span>
          </label>
          

                        <label [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box">{{translations.enable_assessment_all}}
            <input [disabled]="!proFeatures" type="checkbox" [checked]="generalSettingsObject.enable_assessment_tracker === true"
                   name="enable_assessment_tracker">
            <span class="checkmark"></span>
          </label>

                        <!-- Disable this feature asked by ali amjad on 14th July 2020 after testing goal pro feature  -->
                        <!-- <label [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box" *ngIf="!generalSettingsObject.account_detail.in_trial">{{translations.goals_enable_in_account}}
            <input [disabled]="!proFeatures"  type="checkbox" [checked]="generalSettingsObject.enable_goals === 1"
                    (change)="changeGoalsPremission($event)">
            <span class="checkmark"></span>
          </label> -->

                        <div class="sh_show">
                            <a *ngIf="assessmentRatingsChecked && metric_in_account_settings" data-toggle="modal" class="theModal" (click)="showAssessmentRatings()">{{translations.edit_assessment_ratings}}</a>
                            <label [ngClass]="{'greyout_cls' : !proFeatures}">{{translations.tracker_feedback_duration_all}}</label>
                        
                            <select [disabled]="!proFeatures" [ngClass]="{'greyout_cls' : !proFeatures}" class="form-control" [(ngModel)]="analyticsDuration">
                              
                              <option [disabled]="!proFeatures" *ngFor="let duration of analyticsDurationList" value={{duration.key}}>{{duration.value}}</option>
            </select>
                        </div>

                        <label [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box"> {{translations.enable_live_streaming_new_settings}}
            <input [disabled]="!proFeatures" type="checkbox" [checked]="generalSettingsObject.enable_live_rec === true"
                   name="enable_live_rec">
            <span class="checkmark"></span>
          </label>

          <label [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box">{{translations?.df_allow_users_to_turn_on_auto_delete}}
            <input [disabled]="!proFeatures" type="checkbox" [checked]="generalSettingsObject.allow_auto_delete_on_mobile === true"
                   name="allow_auto_delete_on_mobile">
            <span class="checkmark"></span>
          </label>

          <label [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box tab-form" *ngIf="generalSettingsObject.allow_auto_delete_on_mobile === true">{{translations?.df_force_auto_delete}}
            <input [disabled]="!proFeatures" type="checkbox" [checked]="generalSettingsObject.force_auto_delete === true"
                   name="force_auto_delete">
            <span class="checkmark"></span>
          </label>

          </ng-container>

        </div>
        <div *ngIf="header_data.user_current_account.roles.role_id==100">
        <h5 [ngClass]="{'greyout_cls' : !proFeatures}">{{translations.single_sign_on}}</h5>

        <label [ngClass]="{'greyout_cls' : header_data.user_current_account.accounts.in_trial}" class="ck_box">{{translations.enable_saml}}
          <input type="checkbox" [(ngModel)]="generalSettingsObject.account_detail.is_saml_enabled"  (click)="checkForcedSSO()"
            name="is_saml_enabled1" [disabled]="!proFeatures">
          <span class="checkmark"></span>
        </label>
        <label [ngClass]="{'greyout_cls' : !proFeatures}">{{translations.single_sign_on_url}}</label>
        <input type="text" [ngClass]="{'greyout_cls' : !proFeatures}" class="form-control" [(ngModel)]="generalSettingsObject.account_detail.sso_url"
          name="sso_url" [disabled]="!proFeatures">

        <label [ngClass]="{'greyout_cls' : !proFeatures}">{{translations.sso_certificate}}</label>
        <textarea [ngClass]="{'greyout_cls' : !proFeatures}" class="form-control" [(ngModel)]="generalSettingsObject.account_detail.sso_certificate"
          name="sso_certificate" cols="20" rows="5" [disabled]="!proFeatures"></textarea>

        <label [ngClass]="{'greyout_cls' : header_data.user_current_account.accounts.in_trial}" class="ck_box">{{translations.force_saml_sign_on}}
          <input type="checkbox" [(ngModel)]="generalSettingsObject.account_detail.is_force_sso_enabled"
            name="is_saml_enabled2" [disabled]="!proFeatures || !generalSettingsObject.account_detail.is_saml_enabled">
          <span class="checkmark"></span>
        </label>

        <label [ngClass]="{'greyout_cls' : !proFeatures}">{{translations.idp_entity_id}}</label>
        <input [ngClass]="{'greyout_cls' : !proFeatures}" type="text" class="form-control" [(ngModel)]="generalSettingsObject.account_detail.idp_entityId"
          name="idp_entityId" [disabled]="!proFeatures">
        </div>
      </div>
    </div>

        <div class="col-md-7">
            <h4>{{translations.account_user_priviliges}}</h4>

            <div class="ckoptions pt7" (change)="updateAccountUserPrivileges($event)">

                <label [ngClass]="{'greyout_cls' : header_data.user_current_account.accounts.in_trial}" class="ck_box">{{translations.users_can_create_manage_new_settings}}
          <input [disabled]="header_data.user_current_account.accounts.in_trial" type="checkbox" [checked]="generalSettingsObject.users_privileges_check.folders_check === true"
                 name="folders_check">
          <span class="checkmark"></span>
        </label>

                <label [ngClass]="{'greyout_cls' : header_data.user_current_account.accounts.in_trial}" class="ck_box">{{translations.users_can_create_mange_collab_all}}
          <input [disabled]="header_data.user_current_account.accounts.in_trial" type="checkbox" [checked]="generalSettingsObject.users_privileges_check.manage_collab_huddles === true"
                 name="manage_collab_huddles">
          <span class="checkmark"></span>
        </label>

                <label [ngClass]="{'greyout_cls' : header_data.user_current_account.accounts.in_trial}" class="ck_box">{{translations.users_can_access_private_workspace_all}}
          <input [disabled]="header_data.user_current_account.accounts.in_trial" type="checkbox"
            [checked]="generalSettingsObject.users_privileges_check.parmission_access_my_workspace === true"
            name="parmission_access_my_workspace">
          <span class="checkmark"></span>
        </label>

                <label [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box">{{translations.users_can_access_video_lib_all}}
          <input [disabled]="!proFeatures" type="checkbox"
            [checked]="generalSettingsObject.users_privileges_check.permission_access_video_library === true"
            name="permission_access_video_library">
          <span class="checkmark"></span>
        </label>

                <label [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box">{{translations.users_can_upload_vid_res_all}}
          <input [disabled]="!proFeatures" type="checkbox"
            [checked]="generalSettingsObject.users_privileges_check.permission_video_library_upload === true"
            name="permission_video_library_upload">
          <span class="checkmark"></span>
        </label>

                <label [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box"> {{translations.users_can_share_videos_new_settings}}
          <input [disabled]="!proFeatures" type="checkbox"
            [checked]="generalSettingsObject.users_privileges_check.permission_share_library === true"
            name="permission_share_library">
          <span class="checkmark"></span>
        </label>

                <label [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box"> {{translations.users_can_download_new_settings}}
          <input [disabled]="!proFeatures" type="checkbox"
            [checked]="generalSettingsObject.users_privileges_check.permission_video_library_download === true"
            name="permission_video_library_download">
          <span class="checkmark"></span>
        </label>

                <label [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box"> {{translations.users_can_comment_videos_new_settings}}
          <input [disabled]="!proFeatures" type="checkbox"
            [checked]="generalSettingsObject.users_privileges_check.permission_video_library_comments === true"
            name="permission_video_library_comments">
          <span class="checkmark"></span>
        </label>

                <label [ngClass]="{'greyout_cls' : !proFeatures}" *ngIf="false" class="ck_box">{{translations.users_can_access_analytics_dash_all}}
          <input [disabled]="!proFeatures" type="checkbox"
            [checked]="generalSettingsObject.users_privileges_check.permission_view_analytics === true"
            name="permission_view_analytics">
          <span class="checkmark"></span>
        </label>

                <p [ngClass]="{'greyout_cls' : !proFeatures}" class="checkmark_act_settings"><span><img
              src="assets/img/checkmarck.svg"></span>{{translations.users_can_access_analytics_dash_all}}
                </p>

                <label [ngClass]="{'greyout_cls' : header_data.user_current_account.accounts.in_trial}"
          class="ck_box">{{translations.users_can_start_scripted_notes}}
          <input [disabled]="header_data.user_current_account.accounts.in_trial" type="checkbox"
            [checked]="generalSettingsObject.users_privileges_check.permission_start_synced_scripted_notes === true"
            name="permission_start_synced_scripted_notes">
          <span class="checkmark"></span>
        </label>

                <h5>{{translations.account_admin_privileges_all}}</h5>

                <div class="ckoptions" (change)="updateAccountAdminPrivileges($event)">

                    <label [ngClass]="{'greyout_cls' : !proFeatures}" *ngIf="false"
            class="ck_box">{{translations.admins_can_view_video_library_new_settings}}
            <input [disabled]="!proFeatures" type="checkbox"
              [checked]="generalSettingsObject.admins_privileges_check.admin_permission_access_video_library === true"
              name="admin_permission_access_video_library">
            <span class="checkmark"></span>
          </label>

                    <p [ngClass]="{'greyout_cls' : !proFeatures}" class="checkmark_act_settings"><span><img
                src="assets/img/checkmarck.svg"></span>{{translations.admins_can_view_video_library_new_settings}}
                    </p>

                    <label [ngClass]="{'greyout_cls' : !proFeatures}"
            class="ck_box">{{translations.admins_can_upload_vid_res_all}}
            <input [disabled]="!proFeatures" type="checkbox"
              [checked]="generalSettingsObject.admins_privileges_check.admin_permission_video_library_upload === true"
              name="admin_permission_video_library_upload">
            <span class="checkmark"></span>
          </label>

                    <label [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box">{{translations.admins_can_share_from_video_library_new_settings}}
              <input [disabled]="!proFeatures" type="checkbox"
                     [checked]="generalSettingsObject.admins_privileges_check.admin_permission_share_library === true"
                     name="admin_permission_share_library">
              <span class="checkmark"></span>
          </label>

                    <label [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box">{{translations.admins_can_download_new_settings}}
              <input [disabled]="!proFeatures" type="checkbox"
                     [checked]="generalSettingsObject.admins_privileges_check.admin_permission_video_library_download === true"
                     name="admin_permission_video_library_download">
              <span class="checkmark"></span>
          </label>

                    <label [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box">{{translations.admins_can_comment_new_settings}}
              <input [disabled]="!proFeatures" type="checkbox"
                     [checked]="generalSettingsObject.admins_privileges_check.admin_permission_video_library_comments === true"
                     name="admin_permission_video_library_comments">
              <span class="checkmark"></span>
          </label>

                    <label [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box">{{translations.admins_can_view_wide_analytics_all}}
            <input [disabled]="!proFeatures" type="checkbox"
              [checked]="generalSettingsObject.admins_privileges_check.admin_view_analytics === true"
              name="admin_view_analytics">
            <span class="checkmark"></span>
          </label>

          <label *ngIf="generalSettingsObject.enable_analytics_enableleaderboard" [ngClass]="{'greyout_cls' : !proFeatures}" class="ck_box">{{translations.admins_can_view_leaderboard}}
            <input [disabled]="!proFeatures" type="checkbox"
              [checked]="generalSettingsObject.admins_privileges_check.admins_can_view_leaderboard === true"
              name="admins_can_view_leaderboard">
            <span class="checkmark"></span>
          </label>

                    <label [ngClass]="{'greyout_cls' : header_data.user_current_account.accounts.in_trial}" class="ck_box">{{translations.admins_can_manage_users_in_account_all}}
            <input [disabled]="header_data.user_current_account.accounts.in_trial" type="checkbox"
              [checked]="generalSettingsObject.admins_privileges_check.admin_permission_administrator_user_new_role === true"
              name="admin_permission_administrator_user_new_role">
            <span class="checkmark"></span>
          </label>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="header_data.user_current_account.accounts.in_trial" class="alert alert-warning mt-5">
        {{translations.interested_in_learning_new_settings}} <a href="https://sibme.com/#contact-modal">{{translations.contact_us_new_settings}}</a> {{translations.please_contact_us_new_settings}}
    </div>

    <div class="user_sebtn">
        <button (click)="cancelChanges()">{{translations.cancel_all}}</button>
        <button class="set_sav" (click)="updateChanges()">{{translations.save_new_settings}}</button>
    </div>

</div>

<div *ngIf="skelton_loading" class="container box_outer">

    <div class="row panl_headingac">
        <div class="col-6">
            <h3 class="ani_us us1"></h3>

        </div>

    </div>

    <div class="row user_acount">
        <div class="col-12">

            <div class="acc_img">
                <span class="uimg ani_us"></span>
            </div>
            <div class="acc_detail2">
                <label class="ani_us use_lab"></label>
                <p class="ani_us use_lab"></p>
            </div>

        </div>

    </div>

    <div class="row user_opt">
        <div class="col-md-5">
            <h4 class="use_lab2 ani_us"></h4>
            <div class="ckoptions">
                <div class="use_lab3 ani_us"></div>
                <div class="use_lab3 ani_us"></div>
                <div class="use_lab3 ani_us"></div>

                <div class="ckoptions">
                    <div class="use_lab4 ani_us"></div>
                    <div class="use_lab4 ani_us"></div>
                    <div class="use_lab4 ani_us"></div>
                    <div class="use_lab4 ani_us"></div>
                    <div class="use_lab4 ani_us"></div>
                    <div class="use_lab4 ani_us"></div>
                    <div class="use_lab4 ani_us"></div>
                    <div class="use_lab4 ani_us"></div>
                    <div class="use_lab4 ani_us"></div>
                    <div class="use_lab4 ani_us"></div>

                </div>

            </div>
        </div>

        <div class="col-md-7">
            <h4 class="use_lab2 ani_us"></h4>

            <div class="ckoptions">
                <div class="use_lab4 ani_us"></div>
                <div class="use_lab4 ani_us"></div>
                <div class="use_lab4 ani_us"></div>
                <div class="use_lab4 ani_us"></div>
                <div class="use_lab4 ani_us"></div>
                <div class="use_lab4 ani_us"></div>
                <div class="use_lab4 ani_us"></div>
                <div class="use_lab4 ani_us"></div>
                <div class="use_lab4 ani_us"></div>
                <div class="use_lab4 ani_us"></div>

            </div>
        </div>

    </div>

    <div class="user_sebtn">
        <span class="use_lab5 ani_us"></span>
        <span class="use_lab5 ani_us"></span>
    </div>

</div>

<!-- Modal Cutom Mark content-->
<div bsModal #customMarker="bs-modal" [config]="{backdrop:'static',keyboard:false}" data-toggle="modal" class="theModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog" style="max-width:600px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{translations.custom_marker_tags_new_settings}}</h4>
                <button type="button" class="close" (click)="cancelCustomMarker()" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">


                <!--assesement-->


                <div class="row edt_rw" *ngFor="let cutomMark of custom_marker_tags; let i = index">
                    <div class="col-6"><span *ngIf="cutomMark.account_tag_id != currentMark">{{i + 1}}. {{cutomMark.tag_title?cutomMark.tag_title:'Add Tag'}} </span> <input *ngIf="cutomMark.account_tag_id == currentMark" type="text" class="form-control" (change)="getChangedMarker($event)"
                            [id]="cutomMark.account_tag_id" [value]="cutomMark.tag_title?cutomMark.tag_title:'Add Marker'">
                    </div>
                    <div class="col-6 eright">
                        <a *ngIf="cutomMark.account_tag_id != currentMark" class="toPointer" (click)="editMarking(cutomMark.account_tag_id); isEditMode=true"><img src="assets/img/edit_gs.png"> {{translations.myfile_edit}}
                        </a>

                        <a (click)="customMarkEditingDone(); isEditMode=false" *ngIf="cutomMark.account_tag_id == currentMark" class="donecls">
              {{translations.done_ng}} </a>
                    </div>

                </div>
            </div>
            <div class="modal-footer addv_footer">
                <div class="clear"></div>
                <div class="row">

                    <div class="col-12 modal_btn">
                        <button type="button" class="btn btn-default" (click)="cancelCustomMarker()" data-dismiss="modal">{{translations.cancel_all}}
            </button>
                        <button type="button" [disabled]="isEditMode" (click)="saveChangedMarkings();isEditMode=false" class="btn btn-success">{{translations.save_us}}</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<!-- Modal Assessment content-->

<div class="modal fade" bsModal #assessmentRatings="bs-modal" [config]="{backdrop:'static',keyboard:false}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">

    <div class="modal-dialog" style="max-width:600px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{translations.assessment_ratings_new_settings}}</h4>
                <button type="button" (click)="cancelAssessmentRatings()" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">


                <div class="row edt_rw" *ngFor="let rating of assessment_ratings">
                    <div class="col-6"><span *ngIf="rating.meta_data_value != currentValue">{{rating.meta_data_value}}. {{rating.rating_name?rating.rating_name:'Add Rating'}} </span> <input *ngIf="rating.meta_data_value == currentValue" type="text" class="form-control"
                            (change)="getChangedRatingName($event)" [id]="rating.meta_data_value" [value]="rating.rating_name?rating.rating_name:'Add Rating'">
                    </div>
                    <div class="col-6 eright">

                        <a *ngIf="rating.meta_data_value!=currentValue" class="toPointer" (click)="editRating(rating.meta_data_value); isEditMode=true"><img src="assets/img/edit_gs.png"> {{translations.myfile_edit}}
                        </a>

                        <a (click)="assessmentEditingDone(); isEditMode=false" *ngIf="rating.meta_data_value==currentValue" class="donecls"> {{translations.done_ng}} </a>


                    </div>

                </div>


            </div>
            <div class="modal-footer addv_footer">
                <div class="clear"></div>
                <div class="row">

                    <div class="col-12 modal_btn">
                        <button type="button" class="btn btn-default" (click)="cancelAssessmentRatings()" data-dismiss="modal">{{translations.cancel_all}}</button>
                        <button type="button" [disabled]="isEditMode" (click)="saveChangedRatings();isEditMode=false" class="btn btn-success">{{translations.save_us}}</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<ng-template #no_user_in_account>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()">&times;</button>
        </div>

        <div class="modal-body conf_popup">
            <label *ngIf="users_count===0 && admins_count!=0">{{translations?.no_user_in_account}}.</label>
            <label *ngIf="users_count!=0 && admins_count===0">{{translations?.no_admin_in_account}}.</label>
            <label *ngIf="users_count===0 && admins_count===0">{{translations?.no_user_admin_in_account}}.</label>
        </div>

        <div class="modal-footer footerm">
            <div class="col-12 share_btn delt_f">
                <button type="button" class="btn btn-success" (click)="modalRef.hide()">{{translations?.ok}}</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #forced_SAML_alert>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()">&times;</button>
  </div>

   <div class="modal-body conf_popup">
      <p [innerHTML]="translations?.forced_saml_signon_msg"></p>

   </div>

    <div class="modal-footer footerm">
          <div class="col-12 share_btn delt_f">
               <a class="btn btn-default" (click)="modalRef.hide()">{{translations?.artifact_cancle}}</a>
               <button type="button" class="btn btn-success" (click)="updateSetting(settingsModalObj);modalRef.hide()">{{translations?.ok}}</button>
          </div>
    </div>
  </div>
</ng-template>

<ng-template #forceDelete>
      <div class="modal-content">
        <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" (click)="this.modalRef.hide()">&times;</button>
        </div>
        <div>
          <div class="modal-body">
            <div class="msg">
              <div [outerHTML]="translations?.df_force_auto_delete_confirmation"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer footerm">
          <div class="col-12 share_btn">
                <button type="button" class="btn bgnone" data-dismiss="modal" (click)="this.modalRef.hide()">{{translations?.cancel_angular_rubrics}}</button>
                <button type="button" class="btn btn-success" (click)="this.modalRef.hide(); confirmForceDelete()">{{translations?.df_i_agree}}</button>
          </div>
    </div>
  </div>
</ng-template>
  
