.go-back-screen-sharing {
    position: absolute;
    top: 90px;
    left: 5px;
}

.go-back-screen-sharing a {
    text-decoration: none;
    background: #28a745;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}

.screen-recording-back {
    margin-left: 22px;
    position: fixed;
    background: #f9b1b1;
    padding: 5px 20px;
    z-index: 9999;
    border-radius: 20px;
}

.modal-body-popup{padding-bottom: 0px !important;}

.screen-recording-back a {
    text-decoration: none;
}


#screen-recording-cam-container {
    position: absolute;
    opacity: 0;
    z-index: -10;
}
.loaderBox{
   max-width: 600px;
   
    position: fixed;
    bottom: 15px;
    background: #fff;
    box-shadow: 0 0 8px rgb(0 0 0 / 60%);
    max-height: 490px;
    overflow: auto;
    margin: 0px auto;
    left: 0;
    right: 0;
    z-index: 2;
}
.loaderBoxHeader {
    background: #F9F9F9;
    color: #000;
    padding: 15px 10px;
}
.loaderBoxContainer {
    background-color: #fff;
    padding: 10px 5px;
}
.loaderBoxHeader .toggleBtn {
    cursor: pointer;
}
.loaderBoxHeader .closeDiv {
    cursor: pointer;
}

.upload_bar {   
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 8px;
    overflow: hidden;
    width: 60%;
    display: inline-block;
    vertical-align: middle;}

.upload_bar_percentage{
    display: inline-block;
    vertical-align: middle;
    margin:0 0 0 10px;
    width: 35%;
}    
.pbar {    height: 6.5px;
    background: blue;
    display: inline-block;
    float:left;
}
	



/* css for file uploader modal  */
.progress-cont {
    height: 7px;
    width: 100%;
    border-radius: 4px;
    background-color: #d0d0d0;
    position: relative;
}
    .progress-cont Progress {
      width: 0;
      height: 0.5rem !important;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      border-radius: 4px;
      background-color: #4c97cb;
      transition: 0.5s all;
    }


    .files-list {
        margin-top: 1.5rem;
    }
        .single-file {
          display: flex;
          padding: 0.5rem;
          justify-content: space-between;
          align-items: center;
         
          margin-bottom:25px;
          display: flex;
          flex-grow: 1;
		  background: #EAEAEA;
    border-radius: 5px;
        }
          .delete {
            display: flex;
            margin-left: 0.5rem;
            cursor: pointer;
            align-self: flex-end;
          }
      
      
         
      
          .name {
            font-size: 14px;
            font-weight: 500;
            color: #353f4a;
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
      
          .size {
            font-size: 12px;
            font-weight: 500;
            color: #a4a4a4;
            margin: 0;
            margin-bottom: 0.25rem;
          }
      
          .info {
            width: 80%
          }
        
		.loaderBoxHeader { position:relative;     text-align: center;
    font-weight: 500;
    font-size: 20px;}
		.head_right { position:absolute; right:15px; top:15px; display: flex;}
		.toggleBtn { margin-right:20px;}
      
	  .cancel_files { float:right;}
	  .cancel_files button{ background:none; border:0; font-weight:400;}
	  .cancel_files span{ font-size:15px; font-weight:400;}