<app-header *ngIf="showHeader"></app-header>
<div *ngIf="isLoggedIn">
  <div *ngIf="screenIsRecording()" class="screen-recording-back">
    <a [routerLink]="screenRecordingUrl.link" [queryParams]="screenRecordingUrl.queryParams">{{translation?.rs_go_back_recording_screen}}</a>
  </div>
  <div *ngIf="liveStreamScreenSharing()" class="screen-recording-back">
    <a [routerLink]="liveStreamData.link" [queryParams]="liveStreamData.queryParams">{{translation?.rs_go_back_live_stream_page || 'Go back to live stream page'}}</a>
  </div>
  <!-- <div id="screen-recording-cam-container-1"> -->
    <!-- <div id="testt"></div> -->
  <video id="screen-recording-cam-container" autoplay></video>
<!-- </div> -->
  <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>

  <!-- <div *ngIf="screenSharingStarted && screenSharingVideoData" class="go-back-screen-sharing">
    <a [routerLink]="['/workspace_video/home/screen-sharing-preview', screenSharingVideoData.huddle_id, screenSharingVideoData.video_id, screenSharingVideoData.af_doc_id]">Go back to screen sharing preview</a>
  </div> -->
  <div *ngIf="checkScreenSharingPreview()" class="go-back-screen-sharing">
    <a
      [routerLink]="['/workspace_video/home/screen-sharing-preview', screenRecordingData.params.huddle_id, screenRecordingData.params.video_id, screenRecordingData.params.af_doc_id]">Back
      to Screen Recording Preview</a>
  </div>
</div>
<ngx-loading-bar [color]="colors?.loading_bar_color||'transparent'"></ngx-loading-bar>

<!-- uploading box  -->

<div [ngStyle]="{'display': loaderDivBox?'block': 'none'}" class="container-fluid loaderBox">
  <div class="row loaderBoxHeader">
    <div class="col-12">{{translation?.multi_file_upload_title}}&nbsp;&nbsp;{{count}}/{{files.length}}</div>
    <div class="head_right">
    <div class="toggleBtn">
      <span *ngIf="minimizeBox == false" (click)="minimizeBox = true"><svg xmlns="http://www.w3.org/2000/svg" width="21.108" height="11.8" viewBox="0 0 21.108 11.8">
  <path id="Path" d="M10.7.277a.946.946,0,0,0-1.338,0L.274,9.477A1.135,1.135,0,0,0,0,10.123H0v.031H0v.031H0v.031H0a1.044,1.044,0,0,0,.274.615l9.092,9.2a.946.946,0,0,0,1.338,0,.956.956,0,0,0,0-1.385L2.311,10.154,10.7,1.662A.957.957,0,0,0,10.7.277Z" transform="translate(0.4 11.4) rotate(-90)" fill="#aaa" stroke="#aaa" stroke-width="0.8"/>
</svg></span>
      <span *ngIf="minimizeBox == true" (click)="minimizeBox = false">
      <svg xmlns="http://www.w3.org/2000/svg" width="21.108" height="11.8" viewBox="0 0 21.108 11.8">
  <path id="Path" d="M10.7.277a.946.946,0,0,0-1.338,0L.274,9.477A1.135,1.135,0,0,0,0,10.123H0v.031H0v.031H0v.031H0a1.044,1.044,0,0,0,.274.615l9.092,9.2a.946.946,0,0,0,1.338,0,.956.956,0,0,0,0-1.385L2.311,10.154,10.7,1.662A.957.957,0,0,0,10.7.277Z" transform="translate(20.708 0.4) rotate(90)" fill="#aaa" stroke="#aaa" stroke-width="0.8"/>
</svg>
      </span>
    </div>
    <div class="closeDiv">
    <span (click)="pauseUploading()">
	<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.151" viewBox="0 0 18 18.151">
  <g id="noun_Cross_929505" transform="translate(-142.5 0.575)" opacity="0.313">
    <path id="Path" d="M7.41,8.5.215,1.341A.735.735,0,0,1,.215.3h0A.743.743,0,0,1,1.26.3l7.2,7.159L15.74.214a.743.743,0,0,1,1.045,0,.735.735,0,0,1,0,1.039L9.5,8.5l7.277,7.246a.735.735,0,0,1,0,1.039h0a.743.743,0,0,1-1.045,0L8.459,9.544,1.269,16.7a.743.743,0,0,1-1.045,0,.735.735,0,0,1,0-1.039Z" transform="translate(143)" stroke="#000" stroke-miterlimit="10" stroke-width="1"/>
  </g>
</svg>
</span>

</div>
    </div>
  </div>
  <div *ngIf="minimizeBox == false">
    <!-- <div class="row loaderBoxContainer" *ngFor="let file of files | keyvalue">
      <div class="col-10 fileName">{{file.value.name}}</div>
      <div class="col-2 fileProgress"><i class="fa fa-times"></i></div>
    </div> -->
    <div class="files-list">
      <div class="single-file" *ngFor="let file of files | keyvalue">
        <div class="file-icon">
          
          <!-- <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;" xml:space="preserve">
            <polygon style="fill:#EDEADA;" points="51.5,14 37.5,0 6.5,0 6.5,58 51.5,58 " />
            <g>
              <path style="fill:#CEC9AE;"
                d="M16.5,23h25c0.552,0,1-0.447,1-1s-0.448-1-1-1h-25c-0.552,0-1,0.447-1,1S15.948,23,16.5,23z" />
              <path style="fill:#CEC9AE;"
                d="M16.5,15h10c0.552,0,1-0.447,1-1s-0.448-1-1-1h-10c-0.552,0-1,0.447-1,1S15.948,15,16.5,15z" />
              <path style="fill:#CEC9AE;"
                d="M41.5,29h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,29,41.5,29z" />
              <path style="fill:#CEC9AE;"
                d="M41.5,37h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,37,41.5,37z" />
              <path style="fill:#CEC9AE;"
                d="M41.5,45h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,45,41.5,45z" />
            </g>
            <polygon style="fill:#CEC9AE;" points="37.5,0 37.5,14 51.5,14 " />
          </svg> -->
        <!-- {{file.value.fileTypeUrl | json}} -->
        

        <div *ngIf="file.value.fileTypeUrl;else other_content">
          <img src="{{file.value.fileTypeUrl}}">
      </div>
      
      <ng-template #other_content><img src="{{uploadFileTypes[lastUploadFileType].url}}"></ng-template>


        <!-- <img src={{file.value.fileTypeUrl ? {file.value.fileTypeUrl} : {}}}>
         -->
        
        </div>
        <div class="info">
          <h4 class="name">
            {{ file.value.name }}
          </h4>
          <p class="size">
            {{ formatBytes(file.value.size) }}
          </p>
          <!-- <span *ngIf="file.value.progress == 100" class="badge bg-success">Completed</span> -->
          <!-- <div class="upload_bar" *ngIf="file.value.progress != 100 && !file.value.fileCancelled">
            <span class="pbar" [style.width.%]="file.value.progress">
            </span>
          </div> -->

          <div class="upload_bar" *ngIf="!file.value.error">
            <span class="pbar" [style.width.%]="file.value.progress">
            </span>
          </div>

          <!-- <div class="upload_bar_cancel" *ngIf="file.value.progress != 100 && file.value.fileCancelled">
            <span class="upload_cancel"> {{file.value.fileCancelled}}
            </span>
          </div> -->
          <div class="upload_bar_cancel" *ngIf="file.value.progress != 100 && file.value.error">
            <span class="upload_cancel"> {{file.value.error}}
            </span>
          </div>
          <div class="upload_bar_percentage" *ngIf="!file.value.error">
            <span class="progress_bar_result">{{file.value.progress}}{{'%'}}</span>
          </div>
          <!-- <div class="upload_bar_percentage" *ngIf="file.value.error">
            <span class="progress_bar_result">{{file.value.error}}</span>
          </div> -->

        </div>
        <div class="cancel_files">
        <span *ngIf="file.value.progress != 100 && !file.value.error">
            <button (click)= "cancel(file)">{{translation?.multi_file_upload_cancel}}</button>
          </span>
          <!-- <span *ngIf="file.value.fileCancelled">
            <button (click)= "retry(file)">RetryOne</button>
          </span> -->
          <span *ngIf="file.value.error">
            <button (click)= "retry(file)">{{translation?.multi_file_upload_retry}}</button>
          </span>
          <span *ngIf="file.value.progress == 100" class="badge">{{translation?.multi_file_upload_done}}</span>
          
          </div>
          
    
        <!-- <div *ngIf="file.value.progress < 100" class="delete" (click)="deleteFile(file)">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18">
            <path fill="#B1B1B1" fill-rule="nonzero"
              d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H3c-1.1 0-2 .9-2 2v10zm3.17-7.83a.996.996 0 0 1 1.41 0L7 9.59l1.42-1.42a.996.996 0 1 1 1.41 1.41L8.41 11l1.42 1.42a.996.996 0 1 1-1.41 1.41L7 12.41l-1.42 1.42a.996.996 0 1 1-1.41-1.41L5.59 11 4.17 9.58a.996.996 0 0 1 0-1.41zM10.5 1L9.79.29C9.61.11 9.35 0 9.09 0H4.91c-.26 0-.52.11-.7.29L3.5 1H1c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1h-2.5z" />
          </svg>
        </div> -->
      </div>
    </div>
  </div>
</div>

<!-- uploading box  -->

<!-- modal for change role to viewer -->
<div bsModal #accountChange="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-child-name">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">{{account_switch_title}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideAccountChange()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          {{account_switch_message}} {{changed_account_name}}.
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="hideAccountChange()">{{ok_text}}</button>
      </div>
    </div>
  </div>
</div>


<div bsModal #confirmToCanelUploading="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-cancel-uploading">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-cancel-uploading" class="modal-title pull-left">{{translation?.multi_file_upload_warning_title}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="noToCancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-popup">
        <p>
          <!-- {{translation?.cancel_uploading_rest_files}} -->
          <svg id="Group_332" data-name="Group 332" xmlns="http://www.w3.org/2000/svg" width="32.859" height="32.859" viewBox="0 0 32.859 32.859">
            <path id="Path_51" data-name="Path 51" d="M16.43,0A16.408,16.408,0,1,1,4.806,4.806,16.39,16.39,0,0,1,16.43,0Zm0,20.545a2.218,2.218,0,0,1,2.223,2.223A2.243,2.243,0,0,1,16.43,25.02a2.269,2.269,0,0,1-2.253-2.253A2.243,2.243,0,0,1,16.43,20.545Zm0-2.253a1.568,1.568,0,0,1-1.5-1.5l-.751-6.7A2.289,2.289,0,0,1,16.43,7.839a2.242,2.242,0,0,1,2.223,2.253l-.721,6.7A1.568,1.568,0,0,1,16.43,18.292ZM25.921,6.908a13.451,13.451,0,1,0,3.935,9.521A13.523,13.523,0,0,0,25.921,6.908Z" transform="translate(0)" fill="#616161"/>
          </svg> {{translation?.multi_file_upload_remaining_text}}
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn" (click)="noToCancel()">{{translation?.multi_file_upload_no}}</button>
        <button class="btn btn-success" (click)="yesToCancel()">{{translation?.multi_file_upload_yes}}</button>
        
      </div>
    </div>
  </div>
</div>



<!-- Wowza Notification Popup Model  START -->
<div bsModal #wowzaNotification="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="wowzaNotification" [config]="{'backdrop':false}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="wowzaNotification" class="modal-title pull-left">Live Streaming</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="wowzaNotification.hide();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Click here to watch Live Streaming!
      </div>
    </div>
  </div>
</div>
<!-- Wowza Notification Popup Model End -->