<?php
$users = $this->Session->read('user_current_account');
if (empty($_SERVER['HTTPS']) || $_SERVER['HTTPS'] == "off") {
    $redirect = 'https://' . $_SERVER['HTTP_HOST'];
} else {
    $redirect = 'http://' . $_SERVER['HTTP_HOST'];
}
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><?php echo $this->custom->get_site_settings('site_title') ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            img { max-width:100%;}
        </style>

    </head>
    <body style="margin: 0; padding: 0;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';">
            <tr>
                <td>
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">

                        <tr>
                            <td style="text-align:center; padding:20px 0;">

                                <img src="<?php echo $redirect ?>/img/logo-dark.png" width="180" height="87"/>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align:center; border-bottom:1px solid #ddd;">

                            </td>
                        </tr>

                        <tr>
                            <td style="text-align:center; font-size:16px; padding:30px 0; line-height:26px; font-family:Arial, Helvetica, sans-serif;">



                                <b><?php echo $users['User']['first_name'] . " " . $users['User']['last_name']; ?></b> <br />
                                added a resource in <br />
                                <b><?php echo $data['huddle_name']; ?></b>




                            </td>

                        </tr>
                        <tr>
                            <td style="text-align:center;padding:20px 0;">
                                <a href="<?php echo $redirect . $data['video_link']; ?>"> <img src="<?php echo $redirect ?>/img/resource.png" /></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 15px; text-align: center; color: #212121; padding:20px 0;">
                                <a href="<?php echo $redirect; ?>/subscription/unsubscirbe_now/<?php echo $data['user_id'] ?>/1"> Unsubscribe Now  </a>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 15px; text-align: center; color: #212121; padding-top:25px;">
                                <a href="www.sibme.com" target="_blank" style="color:#616161; text-decoration:none;">Powered by Sibme</a>
                            </td>
                        </tr>




                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>