<div  *ngIf="!loaded" class="container box_outer">
  <div class="box_whcls row">
  <div  class="col-12">
      <div class="row panl_heading">
         <div class="col-8">
           <h3 class="goa1 g_ani2"></h3>
         </div>
         <div class="col-4 bk_goal2 p0">
         <span class="goa2 g_ani2"></span>
          </div>
         </div>
     </div>
     <div class="back_to_goal row">
       <div class="col-8">
        <h4 class="goa5 g_ani"></h4>
        <p class="goa4 g_ani"> </p>
       </div>
    </div>
     <div class="row goal_work">
            <div class="col-10">
              <div class="own_img ">
                 <span class="goa3 g_ani"></span>
              </div>

              <div class="own_txt">
               <p class="goa4 g_ani"> </p>
               <p class="goa4 g_ani"> </p>
              </div>

            </div>



             <div class="col-2">
            <p class="goa6 g_ani"> </p>
            </div>


        </div>




     <div class="row goal_w_list">
            <div class="col-7 w_left">
              <div class="wl_1"><p class="goa7 g_ani"> </p></div>
              <div class="wl_2"><p class="goa7 g_ani"> </p></div>
              <div class="wl_3"><p class="goa7 g_ani"> </p></div>
              <div class="wl_4"><p class="goa7 g_ani"> </p></div>
              <div class="wl_5"><p class="goa7 g_ani"> </p></div>
              <div class="wl_6"><p class="goa7 g_ani"> </p></div>
            </div>
            <div class="col-5">
            </div>
            </div>


     <div class="row goal_w_list">
            <div class="col-7 w_left">
            <div class="rep_wk">
              <div class="wl_1"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_2"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_3"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_4"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_5"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_6">  <p class="goa8 g_ani2"> </p></div>
            </div> <!--rw_rep-->

            <div class="rep_wk">
              <div class="wl_1"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_2"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_3"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_4"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_5"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_6">  <p class="goa8 g_ani2"> </p></div>
            </div> <!--rw_rep-->

            <div class="rep_wk">
              <div class="wl_1"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_2"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_3"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_4"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_5"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_6">  <p class="goa8 g_ani2"> </p></div>
            </div> <!--rw_rep-->
            <div class="rep_wk">
              <div class="wl_1"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_2"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_3"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_4"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_5"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_6">  <p class="goa8 g_ani2"> </p></div>
            </div> <!--rw_rep-->
            <div class="rep_wk">
              <div class="wl_1"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_2"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_3"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_4"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_5"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_6">  <p class="goa8 g_ani2"> </p></div>
            </div> <!--rw_rep-->
            <div class="rep_wk">
              <div class="wl_1"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_2"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_3"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_4"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_5"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_6">  <p class="goa8 g_ani2"> </p></div>
            </div> <!--rw_rep-->
            <div class="rep_wk">
              <div class="wl_1"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_2"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_3"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_4"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_5"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_6">  <p class="goa8 g_ani2"> </p></div>
            </div> <!--rw_rep-->
            <div class="rep_wk">
              <div class="wl_1"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_2"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_3"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_4"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_5"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_6">  <p class="goa8 g_ani2"> </p></div>
            </div> <!--rw_rep-->

            <div class="rep_wk">
              <div class="wl_1"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_2"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_3"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_4"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_5"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_6">  <p class="goa8 g_ani2"> </p></div>
            </div> <!--rw_rep-->
            <div class="rep_wk">
              <div class="wl_1"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_2"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_3"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_4"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_5"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_6">  <p class="goa8 g_ani2"> </p></div>
            </div> <!--rw_rep-->
            <div class="rep_wk">
              <div class="wl_1"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_2"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_3"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_4"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_5"><p class="goa8 g_ani2"> </p></div>
              <div class="wl_6">  <p class="goa8 g_ani2"> </p></div>
            </div> <!--rw_rep-->

            </div>
     <div class="col-5 w_right bgright">
       <h4 class="goa9 g_ani3"></h4>
       <p class="goa10 g_ani3"></p>
       <p class="goa10 g_ani3"></p>
       <p class="goa10 g_ani3"></p>

   <!-- action item skeleton -->
   <div class="sample_inner">
    <div class="thumb_ac">
      <div class="ani2 thumbani"></div>
  </div>
    
    
    <div class="sample_detail">
    
    <div class="ac_video">
     <label class="ani2 anititle"></label>
    </div> 
    <div class="ac_op dropdown">
      <div class="ani2 anititle"></div>
    </div>
   <div class="clear"></div>
   <p class="ani2 anby"></p>
   <p class="ani2 andate"> </p>
   
   <div class="acc_option">
      <div class="ani2 ancount"> </div>
      <div class="ani2 ancount"> </div>
      
     
      
   </div>
   
   
   </div>
   <div class="clear"></div>
   
  </div>
  <div class="sample_inner">
    <div class="thumb_ac">
      <div class="ani2 thumbani"></div>
  </div>
    
    
    <div class="sample_detail">
    
    <div class="ac_video">
     <label class="ani2 anititle"></label>
    </div> 
    <div class="ac_op dropdown">
      <div class="ani2 anititle"></div>
    </div>
   <div class="clear"></div>
   <p class="ani2 anby"></p>
   <p class="ani2 andate"> </p>
   
   <div class="acc_option">
      <div class="ani2 ancount"> </div>
      <div class="ani2 ancount"> </div>
      
     
      
   </div>
   
   
   </div>
   <div class="clear"></div>
   
  </div>
  <div class="sample_inner">
    <div class="thumb_ac">
      <div class="ani2 thumbani"></div>
  </div>
    
    
    <div class="sample_detail">
    
    <div class="ac_video">
     <label class="ani2 anititle"></label>
    </div> 
    <div class="ac_op dropdown">
      <div class="ani2 anititle"></div>
    </div>
   <div class="clear"></div>
   <p class="ani2 anby"></p>
   <p class="ani2 andate"> </p>
   
   <div class="acc_option">
      <div class="ani2 ancount"> </div>
      <div class="ani2 ancount"> </div>
      
     
      
   </div>
   
   
   </div>
   <div class="clear"></div>
   
  </div>
   <!-- end -->
       </div>
     </div>
  </div>
</div>
<div *ngIf="loaded" class="container work_box_outer">
  <div class="box_whcls row">
      <div class="col-12">
          <div class="row panl_heading">
              <div class="col-8">
                  <h3>{{goalAltName}}</h3>
              </div>
              <div class="col-4 bk_goal2">
              <a routerLink='/goals/list'><img src="assets/goals/img/left-arrow.svg">{{headerService?.getGoalAltTranslation(translation?.goals_back_to_goals)}}</a>
              </div>
          </div>
      </div>
      <div class="back_to_goal row">
        <div class="gsort" dropdown
          *ngIf="goal.goal_type !== 1">
          <button id="goal-action-btns" dropdownToggle type="button"
              class="dropdown-toggle" aria-controls="goal-action-dropdown">
              <img src="assets/goals/img/dots_3.svg" width="25">
          </button>
          <ul id="goal-action-dropdown" *dropdownMenu
              class="action-dropdown dropdown-menu" role="menu"
              aria-labelledby="goal-action-btn">
              <a *ngIf="checkEditDeletePermission() && goal.goal_type !== 1" class="dropdown-item"
                  [routerLink]="['/goals/edit', goal.id]">
                  {{translation.edit_all}}</a>
              <a *ngIf="goal.goal_type !== 1" class="dropdown-item" (click)="exportGoal('pdf')">
                {{translation?.goals_export_pdf}}</a>
              <a *ngIf="goal.goal_type !== 1" class="dropdown-item" (click)="exportGoal('excel')">
                {{translation?.goals_export_excel}}</a>
          </ul>
        </div>
        <div class="col-9 wb">
            <h4><i [class]="goalsTypeByValue[goal?.goal_type]?.CLASS"></i>{{goal?.title}}</h4>
            <div class="row"><p class="col-2" *ngIf="goal?.desc" style="text-align: justify; position: absolute;"><b>{{translation?.goals_description}}:</b> </p>
              <!-- <p class="col-10 goal-work-des" [innerHtml]="goal?.desc  | safeHtml"></p> -->
              <p class="col-10 goal-work-des goal-desc" *ngIf="goal?.desc.includes('h1') || goal?.desc.includes('h2')" [innerHtml]="goal?.desc | safeHtml"></p>
              <p class="col-10 goal-work-des" *ngIf="!goal?.desc.includes('h2') && !goal?.desc.includes('h1')" [innerHtml]="goal?.desc | safeHtml"></p>

            </div>
            <p><b>{{translation?.goals_start_date}}:</b> {{changeDateFormat(goal?.start_date)}} <span> -- </span> <b> {{translation?.goals_due_date}}:</b> {{changeDateFormat(goal?.end_date)}} </p>
        </div>
      </div>
      <div  class="row goal_work">
          <div class="col-10">
            <ng-container *ngIf="goalOwner">
              <div class="own_img">
                  <img *ngIf="goalOwner?.image"  [src]="getAvatarPath(goalOwner.image, goalOwner.user_id)">
                  <!-- <img *ngIf="!goal?.owners[0].image" src="assets/goals/img/user_wicon.svg"> -->
                  <span *ngIf="!goalOwner?.image" class="oi alternate_icon" data-glyph="person" aria-hidden="true">
              </span>
              </div>
              <div class="own_txt">
                  <label>{{goalOwner?.first_name}} {{goalOwner?.last_name}}</label>
                  <p>{{goalOwner?.email}}</p>
              </div>
            </ng-container>
              <div *ngIf="goal.goal_type == 3" class="owners-container">
                  <div class="owner-title cp" (click)="displayOwners(goal.owners)">{{translation.goal_group_goal}} {{translation.goals_owners}}</div>
                  <ng-container *ngFor="let owner of goal.owners; let i = index; let first = first">
                      <img *ngIf="i <= 2" [class.margin-left]="first" [src]="getAvatarPath(owner.image, owner.user_id)"
                          [alt]="owner.image" (click)="displayOwners(goal.owners)">
                  </ng-container>
                  <span *ngIf="goal.owners.length > 3" class="more-owners"
                      (click)="displayOwners(goal.owners)">{{goal.owners.length - 3}}+</span>
              </div>
              <div class="collaborator-container">
                  <div class="collab-title cp" (click)="displayCollaborators(goal.collaborators)">{{translation.goals_collaborators}}</div>
                  <ng-container *ngFor="let collaborator of goal.collaborators; let i = index; let first = first">
                      <img *ngIf="i <= 2" [class.margin-left]="first" [src]="getAvatarPath(collaborator.image, collaborator.user_id)"
                          [alt]="collaborator.image" (click)="displayCollaborators(goal.collaborators)">
                  </ng-container>
                  <span *ngIf="goal.collaborators.length > 3" class="more-collaborators"
                      (click)="displayCollaborators(goal.collaborators)">{{goal.collaborators.length - 3}}+</span>
              </div>

          </div>
          <div class="col-2">
              <span><b>{{translation?.edtpa_status}}</b></span>
              <div class="st_bar2"><span class="bar_pg" [style.width.%]="getGoalStatus()"></span> <i>{{getGoalStatus()}}% </i> </div>
          </div>
      </div>
      <div class="row goal_w_list">
          <div class="col-7 w_left">
              <div class="wl_1">{{translation?.artifact_title}}</div>
              <div class="wl-deadline">{{translation?.goals_due_date}}</div>
              <div class="wl_2">{{translation?.last_update}}</div>
              <div  class="wl_3">{{measurement ? translation?.myfile_start : '&nbsp;&nbsp;'}}</div>
              <div class="wl_4">{{measurement ? translation?.end : '&nbsp;&nbsp;'}}</div>
              <div class="wl_5">{{measurement ? translation?.goal_current : '&nbsp;&nbsp;'}}</div>
              <div class="wl_6">{{translation?.status_all}}</div>
          </div>
          <div class="col-5">
          </div>
      </div>
      <div class="row goal_w_list">
          <div class="col-7 w_left">
              <div   *ngFor="let item of goal?.action_items; let i = index">
                <a (click)="updateSingleGoalData(item, i)">
                  <div class="rep_wk" [class.goal_selected]="item == singleGoalData">
                  <div class="wl_1">{{item?.title}}</div>
                  <div class="wl-deadline">{{changeDateFormat(item?.deadline)}}</div>
                  <div class="wl_2">{{changeDateFormat(item?.last_edit_date)}}</div>
                  <div *ngIf="!measurement" class="wl_3"></div>
                  <div *ngIf="!measurement" class="wl_4"></div>
                  <div *ngIf="!measurement" class="wl_5"></div>
                  <div *ngIf="measurement" class="wl_3"><span *ngIf="item?.start_value != null && item?.add_measurement ==1">{{item?.start_value}}<span *ngIf="item?.measurement_type==1">%</span></span><span *ngIf="item?.start_value == null ||  item?.add_measurement !=1">-</span></div>
                  <div *ngIf="measurement" class="wl_4"><span *ngIf="item?.end_value != null && item?.add_measurement ==1">{{item?.end_value}}<span *ngIf="item?.measurement_type==1">%</span></span><span *ngIf="item?.end_value == null || item?.add_measurement !=1">-</span></div>
                  <div *ngIf="measurement" class="wl_5"><span *ngIf="item?.current_value != 0 || item?.add_measurement ==1">{{item?.current_value ? item?.current_value : 0}}<span *ngIf="item?.measurement_type==1">%</span></span><span *ngIf="item?.current_value == 0 && item?.add_measurement !=1">-</span></div>
                  <div class="wl_6">
                      <span *ngIf="item.is_done == 1" [ngClass]="(item?.is_completed_on_time != 1) ? 'com_bg1' : 'com_bg'">
                        <img [src]="(item?.is_completed_on_time != 1) ? 'assets/goals/img/com_icon_copy.svg' : 'assets/goals/img/com_icon.svg'">
                         {{translation?.complete}}
                      </span>
                      <span *ngIf="item.is_done != 1 && checkIncomplete(item)" class="incom_bg"><img src="assets/goals/img/incom_icon.svg"> {{translation?.incomplete}}</span>
                      <span class="to_center" *ngIf="!checkItemProgress(item) && item.is_done != 1 && checkPending(item)" > - </span>
                        <div *ngIf="checkItemProgress(item) && !checkIncomplete(item) && item.is_done != 1" class="st_bar2 action_item_status">
                          <label>{{checkItemProgress(item)}}% </label>
                          <span class="bar_pg" [style.width.%]="checkItemProgress(item)"></span>
                        </div>
                  </div>
                  <div *ngIf="getAccessCheck == 0" class="right-arrow gola_wr">
                    <img src="assets/goals/img/right_op.svg">
                </div>
              </div>
            </a>
          </div>
              <!--rw_rep-->
              <!-- <div class="rep_wk">
                  <div class="wl_1">Think positive thoughts</div>
                  <div class="wl_2">Mar 31, 2020</div>
                  <div class="wl_3">52</div>
                  <div class="wl_4">100</div>
                  <div class="wl_5">72</div>
                  <div class="wl_6"> <span class="incom_bg"><img src="assets/goals/img/incom_icon.svg"> incomplete
                      </span>
                      <div class="gola_wr">
                          <img src="assets/goals/img/right_op.svg">
                      </div>
                  </div>
              </div>

              <div class="rep_wk goal_selected">
                  <div class="wl_1">Think positive thoughts</div>
                  <div class="wl_2">Mar 31, 2020</div>
                  <div class="wl_3">52</div>
                  <div class="wl_4">100</div>
                  <div class="wl_5">72</div>
                  <div class="wl_6">
                      <div class="gnone"> -- </div>
                  </div>
              </div> -->
              <!--rw_rep-->
          </div>
          <div *ngIf="getAccessCheck == 1" class="col-5 text-center textBwteenCenter">
            <img _ngcontent-rip-c148="" src="assets/goals/img/nogoal_icon.svg" class="mr-2">
            <b>{{translation?.no_access_to_view_action_item_details}}</b>
          </div>
          <div *ngIf="getAccessCheck == 0 && singleGoalData" class="col-5 w_right bgright">
            <goals-work-details [allowEditDelete]="checkEditDeletePermission()" [singleGoalData]="singleGoalDataCopy" [owner_id]="goalDetailsObj.owner_id" [reflection]="singleGoalDataCopy.reflection"
              [goal_id]="goalDetailsObj.goal_id" [evidenceAllowed]="evidenceAllowed" [addEvidence] = 'addEvidence'
              [addMeasurement]='addMeasurement' [afterDueDate]="afterDueDate"
              [owner]='owner' [collaborator] = 'collaborator' [addReview] = 'addReview' [viewer] ='veiwer' [goal]="goal" [totalActionItems]="goal.action_items.length" (deletedItem)="removeDeletedActionItem($event)"></goals-work-details>
          </div>

      </div>
      <!-- <a href="#confirmation" data-toggle="modal">Confirmation</a> ------ ---
      <a href="#error_msg" data-toggle="modal">Error</a> -->
  </div>
</div>
