<div id="main" class="container">


    <div class="skicls" *ngIf="isLoading">
        <div class="analy_b">
            <div class="header_an">
                <h2 class="aa_ani addani"></h2>
            </div>

            <div class="new_coachingcls mtoptw">

                <div class="coaching_row">
                    <label class="anaddhu1 aa_ani"></label>
                    <div class="anaddhu2 aa_ani"></div>
                </div>

            </div>

<div class="clear"></div>
            <div class="new_coachingcls mtoptw">

                <div class="coaching_row">
                    <label class="anaddhu1 aa_ani"></label>
                    <div class="anaddhu3 aa_ani"></div>
                    <div class="anaddhu4 aa_ani"></div>
                </div>

            </div>

<div class="clear"></div>
            <div class="new_coachingcls mtoptw">

                <div class="coaching_row">

                    <div class="anaddhu2 aa_ani"></div>
                </div>

            </div>

<div class="clear"></div>

            <div class="new_coachingcls mtoptw">

                <div class="coaching_row">
                    <label class="anaddhu5 aa_ani"></label>
                    <div class="anaddhu6 aa_ani"></div>
                    <div class="anaddhu6 aa_ani"></div>
                    <div class="clear"> </div>
                </div>

            </div>



        </div>
    </div>



    <div class="analy_b" *ngIf="!isLoading">

        <div class="row panl_heading">
          <div class="col-12">
            <h3 *ngIf="!EditMode">{{huddle_data.title}}</h3>
          </div>
        </div>

        <div class="new_coachingcls">

            <div class="coaching_row">
                <label>{{translation?.huddle_name_label}}</label>
                <input type="text" [(ngModel)]="huddle_data.hname" class="form-control" placeholder="{{translation?.huddle_name_placeholder}}">
            </div>


            <div class="add_user_main">
            <div class="coaching_row2">
                <label>{{translation?.huddle_participants}} </label>
                <input [(ngModel)]="asyncSelected" #input [typeahead]="dataSource" (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeaheadOptionsLimit]="5" [typeaheadMinLength]="0" typeaheadOptionField="first" [typeaheadItemTemplate]="customItemTemplate"
                    [placeholder]="translation?.huddle_collaboration_search_person_plcholder" class="form-control">

            </div>

            <ng-template #customItemTemplate let-model="item" let-index="index">
                <div class="row overcls" [style.width.px]="730">
                    <span>
			<span *ngIf="!model?.image && model.is_user" class="oi alternate_icon" data-glyph="person" title="{{translation.huddle_avatar_available}}" aria-hidden="true">
			</span>

                    <span *ngIf="!model?.image && !model.is_user" class="oi alternate_icon" data-glyph="people" title="Group" aria-hidden="true">
			</span>

                    <img width="20" *ngIf="model?.image" [attr.src]="model?.image">
                    </span>
                    <div class="col-sm-5 " *ngIf="model.is_user"> {{model.first_name}} {{model.last_name}} </div>
                    <div *ngIf="model.is_user" class="col-sm-5"> {{model.email}} </div>

                    <div *ngIf="!model.is_user" class="col-sm-5 "> {{model.name}}</div>

                </div>
            </ng-template>

            <div class="coach_or">{{translation?.huddle_or}}</div>

            <new-user></new-user>

<div class="clear"></div>
</div>


            <div class="coaching_table">
                <table>
                    <tbody>
                        <tr class="t_heading">
                            <th>{{translation?.huddle_table_name}}</th>
                            <th>{{translation?.huddle_table_email}}</th>
                            <th style="width:145px;">{{translation?.huddle_table_role}}</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td colspan="4" *ngIf="selecedusers?.length==0 || !selecedusers" class="text-center">

                                <h6>{{translation?.no_user_selected}} </h6>

                            </td>
                        </tr>
                        <tr *ngFor="let user of selecedusers; let index" >
                            <td class="coadd_0">
                                <span class="coadd_1">
              <span *ngIf="!user.image && user.is_user" class="oi" data-glyph="person" title="{{translation?.user}}" aria-hidden="true">
              </span>

                                <span *ngIf="!user.image && !user.is_user" class="oi" data-glyph="people" title="{{translation?.group}}" aria-hidden="true">
              </span>

                                <img width="20" *ngIf="user.image" [attr.src]="user?.image">
                                </span>
                                <span *ngIf="user.is_user" class="coadd_2"> {{user.first_name}} {{user.last_name}} </span>
                                <span class="coadd_2" *ngIf="!user.is_user" (click)="GetGroupDetails(template, user.id)"> {{user.name}} </span>
                            </td>
                            <td class="u_email">
                                <span class="coadd_3">{{user.email ||'n/a'}}</span>
                            </td>
                            <td class="btn_grup">

                                <div class="btn-group role_group">

                                    <ng-container *ngIf="currentUser.id != user.id">
                                        <label class="btn btn-light" [(ngModel)]="user.isCoach" btnRadio="true" tabindex="0" role="button">{{translation?.huddle_role_coach}}</label>

                                        <label class="btn btn-light"  [class.disable-container]="!user.is_user" [(ngModel)]="user.isCoach" btnRadio="false" tabindex="0" role="button" (click)="roleChanged($event,user)">{{translation?.huddle_role_coachee}}</label>
                                    </ng-container>
                                    <div class="text-center" *ngIf="currentUser.id == user.id">
                                        {{translation?.huddle_role_coach}}
                                    </div>


                                </div>




                            </td>
                            <td class="coach_cross">
                                <img [hidden]="!IsEligible(user) || isCreator(user)" class="remove_img" src="assets/img/cross_icons.svg" (click)="DeleteUser(user)">

                            </td>
                        </tr>

                    </tbody>
                </table>



            </div>




            <div class="huddle_settings">
                <button class="hu_cancel" (click)="cancel()">{{translation?.huddle_cancel_btn}}</button>
                <more-settings [enable_framework_standard]="enable_framework_standard" [EditMode]="EditMode" [huddle_type]="huddle_data.huddle_type" [HuddleSettings]="moreSettingsToPublish" [cirqEnabled]="cirqEnabled"></more-settings>
                <button class="create_btn" (click)="submitHuddle()" [style.backgroundColor]="primery_button_color">{{translation?.artifacts_create}}</button>
                <div class="clear"></div>

            </div>

        </div>
    </div>

</div>


<ng-template #template>
    <div class="modal-header">
        <h5 class="modal-title pull-left">{{GroupDetails.name}}</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">

        <table class="table modal_table">

            <thead>
                <tr>
                    <td><label>{{translation?.huddle_table_name}}</label> </td>
                    <td> <label>{{translation?.huddle_table_email}}</label></td>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let user of GroupDetails.users">

                    <td>
                        <span *ngIf="!user.image && user.is_user" class="oi" data-glyph="person" title="{{translation?.user}}" aria-hidden="true">
	              </span>

                        <span *ngIf="!user.image && !user.is_user" class="oi" data-glyph="people" title="{{translation?.group}}" aria-hidden="true">
	              </span>

                        <img width="20" *ngIf="user.image" [attr.src]="user?.image"> {{user.first_name}} {{user.last_name}}</td>

                    <td> {{user.email}} </td>
                </tr>

            </tbody>

        </table>

    </div>
    <div class="modal-footer">

        <div class="row text-right">

            <button (click)="modalRef.hide()" class="hu_primary">{{translation?.ok}}</button>

        </div>

    </div>
</ng-template>
