<div class="container box_outer">
    <!-- <div class="spdf-wrapper"> -->
    <div class="box_whcls">
        <div class="spdf-container">
            <div class="spdf-topper">
                <span class="dummy-btn-circle" *ngFor="let i of [1, 2, 3]"></span>
            </div>
            <div #spdfContent class="spdf-content">
                <div class="spdf-header">
                    <button class="action-btn-container selected" [class.selected]="currentAction === 'text-comment'"
                        (click)="changeActionBtn('text-comment')">
                        <div class="action-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="-21 -47 682.66669 682"
                                width="25px">
                                <path
                                    d="m552.011719-1.332031h-464.023438c-48.515625 0-87.988281 39.464843-87.988281 87.988281v283.972656c0 48.414063 39.300781 87.816406 87.675781 87.988282v128.863281l185.191407-128.863281h279.144531c48.515625 0 87.988281-39.472657 87.988281-87.988282v-283.972656c0-48.523438-39.472656-87.988281-87.988281-87.988281zm50.488281 371.960937c0 27.835938-22.648438 50.488282-50.488281 50.488282h-290.910157l-135.925781 94.585937v-94.585937h-37.1875c-27.839843 0-50.488281-22.652344-50.488281-50.488282v-283.972656c0-27.84375 22.648438-50.488281 50.488281-50.488281h464.023438c27.839843 0 50.488281 22.644531 50.488281 50.488281zm0 0" />
                                <path d="m171.292969 131.171875h297.414062v37.5h-297.414062zm0 0" />
                                <path d="m171.292969 211.171875h297.414062v37.5h-297.414062zm0 0" />
                                <path d="m171.292969 291.171875h297.414062v37.5h-297.414062zm0 0" />
                            </svg>
                        </div>
                    </button>
                    <button class="action-btn-container" [class.selected]="currentAction === 'audio-comment'"
                        (click)="changeActionBtn('audio-comment')">
                        <div class="action-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" height="25px" width="25px"
                                viewBox="0 0 250.189 250.189" style="enable-background:new 0 0 250.189 250.189;"
                                xml:space="preserve">
                                <g>
                                    <path
                                        d="M214.408,119.658c0-4.143-3.358-7.5-7.5-7.5s-7.5,3.357-7.5,7.5c0,40.976-33.337,74.313-74.313,74.313   c-40.976,0-74.313-33.338-74.313-74.313c0-4.143-3.358-7.5-7.5-7.5s-7.5,3.357-7.5,7.5c0,46.722,36.062,85.173,81.813,88.995   v26.536H84.188c-4.142,0-7.5,3.357-7.5,7.5c0,4.143,3.358,7.5,7.5,7.5h81.813c4.142,0,7.5-3.357,7.5-7.5c0-4.143-3.358-7.5-7.5-7.5   h-33.407v-26.536C178.345,204.831,214.408,166.38,214.408,119.658z" />
                                    <path
                                        d="M125.094,168.064c26.692,0,48.407-21.715,48.407-48.406V48.406C173.501,21.715,151.786,0,125.094,0   C98.403,0,76.688,21.715,76.688,48.406v71.252C76.688,146.35,98.403,168.064,125.094,168.064z M91.688,48.406   c0-18.42,14.986-33.406,33.406-33.406c18.421,0,33.407,14.986,33.407,33.406v71.252c0,18.42-14.986,33.406-33.407,33.406   c-18.42,0-33.406-14.986-33.406-33.406V48.406z" />
                                </g>
                            </svg>
                        </div>
                    </button>
                </div>
                <div [hidden]="!loaded" #spdfBody class="spdf-body">
                    <div #spdfRenderer class="spdf-renderer" (scroll)="onScrollPdf()">
                        <div #spdfCanvasContainer class="spdf-canvas-container"
                            [ngStyle]="{cursor: currentAction ? 'crosshair' : 'default'}"
                            (click)="shadowCanvasClicked($event)">
                        </div>
                        <div *ngIf="activeBtn === 2 " class="framework-container">
                            <input type="text" placeholder="{{translations?.vd_search_framework}}" class="form-control"
                                [(ngModel)]="term">
                            <rubrics [isCreater]="true" [term]="term" [data]="rubrics"></rubrics>
                        </div>
                        <div class="page-action-items">
                            <button class="side-arrow-container" (click)="navigatePage('previous')">
                                <div class="side-arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                                        <path class="cls-1" d="M7.5,2l-4,4,4,4,1-1-3-3,3-3Z"></path>
                                    </svg>
                                </div>
                            </button>
                            <div class="page-info">
                                <span>{{currentPage}}</span> / <span>{{totalPages}}</span>
                            </div>
                            <button class="side-arrow-container" (click)="navigatePage('next')">
                                <div class="side-arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                                        <path class="cls-1" d="M4.5,10l4-4-4-4-1,1,3,3-3,3Z"></path>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div #spdfCommentsWrapper *ngIf="comments.length > 0" class="comments-wrapper" (scroll)="onScrollComments()"
                        [ngStyle]="{'max-height': viewPortHeight + 'px'}">
                        <div class="comment-header">Comments</div>
                        <div class="comment-container" *ngFor="let comment of comments; let index = index">
                            <div *ngIf="comments[index-1]?.page !== comment.page" class="comment-heading">Page:
                                {{comment.page}}</div>
                            <div #CommentsDom class="comment-body" [id]="comment.id+'-comment'" (click)="changeActiveComment(comment)" 
                                [ngStyle]="{'cursor': (activeComment.id !== comment.id) ? 'pointer' : 'default'}">
                                <div class="heading">
                                    <div class="comment-icon"><img [src]="'assets/img/' +comment.icon+ '.svg'" /></div>
                                    <div class="comment-details">
                                        <div class="user-details">{{comment.user.name || 'Guest'}}</div>
                                    </div>
                                </div>
                                <div *ngIf="activeComment.id !== comment.id" class="content">
                                    <div class="desc">{{comment.text}}</div>
                                    <div class="time">{{comment.time | date: 'medium'}}</div>
                                </div>
                                <div *ngIf="activeComment.id === comment.id" class="comment-form">
                                    <textarea *ngIf="comment.type === 'text-comment'" rows="4" [(ngModel)]="comment.text" autofocus
                                        [placeholder]="translations?.vd_plcholder_add_comment"></textarea>

                                    <div *ngIf="comment.type === 'audio-comment'" class="audio-recorder-container">
                                        <!-- <audio-recorder-play [localAudioData]="localAudioData"
                                        [autoSaveAudio]="autoSaveAudio"
                                        (currentState)="currentState($event)"
                                        (audioPath)="audioPath($event)" -->
                                        <audio-recorder-play-poc></audio-recorder-play-poc>
                                    </div>
                                    <div class="action-item">

                                        <div class="buttons">
                                            <button container="body" tooltip="Add tag" class="tag"
                                                [class.active]="activeBtn === 1"
                                                (click)="activeBtn !== 1 ? activeBtn = 1 : activeBtn = 0">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24.034" height="20.229"
                                                    viewBox="0 0 24.034 20.229">
                                                    <g id="add_tag" data-name="add tag"
                                                        transform="translate(-157.887 -608)">
                                                        <path id="tag"
                                                            d="M3.78,2.7A1.08,1.08,0,0,0,2.7,1.62,1.08,1.08,0,0,0,1.62,2.7,1.08,1.08,0,0,0,2.7,3.78,1.08,1.08,0,0,0,3.78,2.7Zm9,4.86a1.034,1.034,0,0,1-.312.759L8.328,12.471a1.081,1.081,0,0,1-.768.312,1.034,1.034,0,0,1-.759-.312L.768,6.429a2.515,2.515,0,0,1-.544-.852A2.605,2.605,0,0,1,0,4.59V1.08A1.038,1.038,0,0,1,.321.321,1.038,1.038,0,0,1,1.08,0H4.59a2.605,2.605,0,0,1,.987.224,2.616,2.616,0,0,1,.861.544l6.033,6.024A1.081,1.081,0,0,1,12.783,7.56Z"
                                                            transform="translate(170.67 615.446) rotate(90)"
                                                            fill="#616161" />
                                                        <text id="_" data-name="+" transform="translate(172.921 624)"
                                                            fill="#616161" font-size="15"
                                                            font-family="Roboto-Medium, Roboto" font-weight="500">
                                                            <tspan x="0" y="0">+</tspan>
                                                        </text>
                                                    </g>
                                                </svg>
                                                <i class="arrow-active"></i>
                                            </button>
                                            <button container="body" tooltip="Add framework" class="framework"
                                                [class.active]="activeBtn === 2"
                                                (click)="activeBtn !== 2 ? activeBtn = 2 : activeBtn = 0">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="21.767"
                                                    viewBox="0 0 24 21.767">
                                                    <g id="Group_1530" data-name="Group 1530"
                                                        transform="translate(0 2.037)">
                                                        <text id="_" data-name="+" transform="translate(15 13.963)"
                                                            fill="#616161" font-size="15"
                                                            font-family="Roboto-Medium, Roboto" font-weight="500">
                                                            <tspan x="0" y="0">+</tspan>
                                                        </text>
                                                        <path id="list"
                                                            d="M1.8,136.335v1.352a.228.228,0,0,1-.225.225H.225a.217.217,0,0,1-.158-.067A.217.217,0,0,1,0,137.687v-1.352a.216.216,0,0,1,.067-.158.216.216,0,0,1,.158-.067H1.577a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H.225a.216.216,0,0,1-.158-.067A.216.216,0,0,1,0,134.984v-1.352a.216.216,0,0,1,.067-.158.217.217,0,0,1,.158-.067H1.577a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H.225a.216.216,0,0,1-.158-.067A.216.216,0,0,1,0,132.28v-1.352a.216.216,0,0,1,.067-.158.217.217,0,0,1,.158-.067H1.577a.228.228,0,0,1,.225.225Zm10.814,5.407v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352a.228.228,0,0,1,.225-.225h9.462a.228.228,0,0,1,.225.225ZM1.8,128.225v1.352a.228.228,0,0,1-.225.225H.225a.217.217,0,0,1-.158-.067A.217.217,0,0,1,0,129.577v-1.352a.217.217,0,0,1,.067-.158A.217.217,0,0,1,.225,128H1.577a.228.228,0,0,1,.225.225Zm10.814,5.407v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352a.228.228,0,0,1,.225-.225h9.462a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352a.228.228,0,0,1,.225-.225h9.462a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352A.228.228,0,0,1,2.929,128h9.462a.228.228,0,0,1,.225.225Z"
                                                            transform="translate(0 -118.183)" fill="#616161" />
                                                    </g>
                                                </svg>
                                                <i class="arrow-active"></i>
                                            </button>
                                            <!-- <button class="file">
                                                <fs-uploader
                                                    (click)="playerService.ModifyPlayingState('pause');closeInfo(1,0,2);"
                                                    [label]="translation?.vd_upload" [source]="'comment'"
                                                    [configuration]="videoOptions" (onUpload)="AppendNewFiles($event);"
                                                    [actv_class]="active_class"></fs-uploader>
                                            </button> -->
                                            <div class="clear"></div>
                                        </div>

                                        <div class="btn-group btn-group-toggle custom-markers" data-toggle="buttons">
                                            <ng-container *ngFor="let marker of customMarkers; let i = index">
                                                <button container="body" [tooltip]="marker.tag_title"
                                                    class="btn btn-secondary" (click)="selectMarker(comment, marker)">
                                                    <span
                                                        [ngStyle]="{'border-color': marker.color, 'background-color': marker.id === comment.marker.id ? marker.color : 'transparent'}"></span>
                                                </button>
                                            </ng-container>
                                        </div>

                                        <div class="form-actions">
                                            <button container="body" tooltip="Cancel" class="btn-cancel"
                                                (click)="cancelComment(comment, index, $event)">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
                                                    x="0px" y="0px" width="20px" height="20px" viewBox="0 0 357 357"
                                                    style="enable-background:new 0 0 357 357;" xml:space="preserve">
                                                    <g id="close">
                                                        <polygon
                                                            points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3     214.2,178.5   " />
                                                    </g>
                                                </svg>
                                            </button>
                                            <button container="body" tooltip="Add" class="btn-primary"
                                                (click)="addComment(comment, index, $event)">
                                                <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                                    enable-background="new 0 0 515.556 515.556" height="20px"
                                                    viewBox="0 0 515.556 515.556" width="20px">
                                                    <path
                                                        d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z" />
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="tags-container">
                                            <custom-tags [predefinedTags]="comment.tags" [active]="activeBtn"
                                                (Tags)="updateCustomTags($event)">
                                            </custom-tags>
                                        </div>

                                        <div *ngIf="activeBtn === 2" class="selected-frameworks-container">
                                            <span *ngFor="let standard of comment.standards | slice:0:3; let i=index"
                                                class="tag_rounded full_width">
                                                {{standard.tag_code}} {{standard.tag_html}}
                                                <span class="pull-right cross_span"
                                                    (click)="unSelectRubric(comment, standard,i)">x</span>
                                            </span>
                                            <a *ngIf="comment.standards.length > 3" class="tag_popup"
                                                (click)="opentagsModal()">
                                                {{comment.standards.length-3 + " more..."}}
                                            </a>
                                        </div>

                                        <!-- <div *ngIf="active_class == 3" class="">
                                            <span *ngIf="newComment.files.length < 4">
                                                <span *ngFor="let file of newComment.files; let i=index"
                                                    class="tgouter">
                                                    <span>
                                                        {{file.filename || file.title}}
                                                    </span>
                                                    <span class="pull-right cross_span"
                                                        (click)="closeInfo();RemoveFileFromComment(file, i)">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="7"
                                                            height="7" viewBox="0 0 7 7">
                                                            <defs>
                                                                <clipPath id="clip-path">
                                                                    <path id="Path_29" data-name="Path 29"
                                                                        d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z"
                                                                        transform="translate(0 11)" fill="#919191" />
                                                                </clipPath>
                                                                <clipPath id="clip-path-2">
                                                                    <path id="Path_28" data-name="Path 28"
                                                                        d="M-1057,89.727h763.636V-483H-1057Z"
                                                                        transform="translate(1057 483)"
                                                                        fill="#919191" />
                                                                </clipPath>
                                                            </defs>
                                                            <g id="Group_26" data-name="Group 26"
                                                                clip-path="url(#clip-path)">
                                                                <g id="Group_25" data-name="Group 25"
                                                                    transform="translate(-672.636 -300.364)"
                                                                    clip-path="url(#clip-path-2)">
                                                                    <path id="Path_27" data-name="Path 27"
                                                                        d="M-5-2.636H8.364V-16H-5Z"
                                                                        transform="translate(674.455 313.182)"
                                                                        fill="#919191" />
                                                                </g>
                                                            </g>
                                                        </svg>
                                                    </span>
                                                </span>
                                            </span>
                                            <span *ngIf="newComment.files.length > 3">
                                                <span *ngFor="let file of newComment.files| slice:0:3; let i=index"
                                                    class="tgouter">
                                                    <span>
                                                        {{file.filename || file.title}}
                                                    </span>
                                                    <span class="pull-right cross_span"
                                                        (click)="closeInfo();RemoveFileFromComment(file, i)">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="7"
                                                            height="7" viewBox="0 0 7 7">
                                                            <defs>
                                                                <clipPath id="clip-path">
                                                                    <path id="Path_29" data-name="Path 29"
                                                                        d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z"
                                                                        transform="translate(0 11)" fill="#919191" />
                                                                </clipPath>
                                                                <clipPath id="clip-path-2">
                                                                    <path id="Path_28" data-name="Path 28"
                                                                        d="M-1057,89.727h763.636V-483H-1057Z"
                                                                        transform="translate(1057 483)"
                                                                        fill="#919191" />
                                                                </clipPath>
                                                            </defs>
                                                            <g id="Group_26" data-name="Group 26"
                                                                clip-path="url(#clip-path)">
                                                                <g id="Group_25" data-name="Group 25"
                                                                    transform="translate(-672.636 -300.364)"
                                                                    clip-path="url(#clip-path-2)">
                                                                    <path id="Path_27" data-name="Path 27"
                                                                        d="M-5-2.636H8.364V-16H-5Z"
                                                                        transform="translate(674.455 313.182)"
                                                                        fill="#919191" />
                                                                </g>
                                                            </g>
                                                        </svg>
                                                    </span>
                                                </span>
                                                <a class="tag_popup" (click)="opentagsModal()">
                                                    {{newComment.files.length-3 + " more..."}}
                                                </a>

                                            </span>
                                        </div> -->


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line-annotation" #spdfLineContainer>
                        <div #spdfFirstHLine></div>
                        <div #spdfVLine></div>
                        <div #spdfSecondHLine></div>
                    </div>
                </div>
                <!-- <div class="connector-lines-container">
                <div class="line first-hor-line" style="width: 200px;"></div>
                <div class="line ver-line" style="width: 20px;"></div>
                <div class="line second-hor-line" style="width: 50px;"></div>
            </div> -->
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>

<ng-template #selectedrubricsTemplate>
    <div class="modal-header">
        <h4 *ngIf="activeBtn == 2" class="modal-title">Framework Standards</h4>
        <h4 *ngIf="activeBtn == 3" class="modal-title">Attachments</h4>
        <button type="button" class="close" (click)="bsModalRef.hide()" data-dismiss="modal">&times;</button>

    </div>

    <div class="modal-body">

        <div class="tags_div">
            <span *ngIf="activeBtn == 2">
                <span *ngFor="let standard of activeComment.standards; let i=index" class="tag_rounded full_width">
                    {{standard.tag_code}} {{standard.tag_html}}<span class="pull-right cross_span"
                        (click)="unSelectRubric(activeComment, standard,i)"> <svg xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="7" viewBox="0 0 7 7">
                            <defs>
                                <clipPath id="clip-path">
                                    <path id="Path_29" data-name="Path 29"
                                        d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z"
                                        transform="translate(0 11)" fill="#919191" />
                                </clipPath>
                                <clipPath id="clip-path-2">
                                    <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z"
                                        transform="translate(1057 483)" fill="#919191" />
                                </clipPath>
                            </defs>
                            <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
                                <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)"
                                    clip-path="url(#clip-path-2)">
                                    <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z"
                                        transform="translate(674.455 313.182)" fill="#919191" />
                                </g>
                            </g>
                        </svg>
                    </span>
                </span>
            </span>
            <!-- <span *ngIf="active_class == 3">
                <span *ngFor="let file of newComment.files; let i=index" class="tgouter">
                    <span>
                        {{file.filename || file.title}}
                    </span>
                    <span class="pull-right cross_span" (click)="closeInfo();RemoveFileFromComment(file, i)">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7"
                            height="7" viewBox="0 0 7 7">
                            <defs>
                                <clipPath id="clip-path">
                                    <path id="Path_29" data-name="Path 29"
                                        d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z"
                                        transform="translate(0 11)" fill="#919191" />
                                </clipPath>
                                <clipPath id="clip-path-2">
                                    <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z"
                                        transform="translate(1057 483)" fill="#919191" />
                                </clipPath>
                            </defs>
                            <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
                                <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)"
                                    clip-path="url(#clip-path-2)">
                                    <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z"
                                        transform="translate(674.455 313.182)" fill="#919191" />
                                </g>
                            </g>
                        </svg>
                    </span>
                </span>
            </span> -->
        </div>
    </div>
</ng-template>