<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{translation?.huddle_list_confirmation_required}}</h4>
        <button type="button" class="close" (click)="bsModalRef.hide()">×</button>
    </div>
    <div class="modal-body">
        <div class="alert_bg singleline row">
            <div class="col-2">
                <img src="./assets/img/alert_i.svg">
            </div>
            <div class="col-10">
                <h6>{{translation?.huddle_list_delete_alert}} {{translation.huddle_folder}}: {{title}}</h6>
                <p>{{translation?.huddle_list_cnf_delete_alert}}</p>
            </div>
        </div>
        <div class="f_name">
            <p>{{translation?.huddle_resource_type}} {{translation.Huddle_confirmation_bit}}
                {{translation?.huddle_list_to_confrim}}</p>
            <input type="text" class="form-control" [(ngModel)]="confirmation">
        </div>
    </div>
    <div class="modal-footer hufooter">
        <div class="col-12">
            <a class="fake_link" (click)="bsModalRef.hide()">{{translation?.huddles_details_cancel}}</a>
            <a class="conf_delete fake_link" (click)="confirmDelete()">{{translation?.huddle_delete_btn}}</a>
        </div>
    </div>
</div>