<div class="clear"></div>
<div class="container bred_an">
  <a [routerLink]="['/']">{{translations.home_global}}</a>
  <img src="assets/img/breadcrumarrow.svg"/>

  <a [routerLink]="['/account-settings']">{{translations.account_settings_all}}</a>
    <img src="assets/img/breadcrumarrow.svg"/>
    <a>
       <b> {{"Archiving"}} </b>
    </a>
</div>

<div class="clear"></div>



<div class="container box_outer">

  <div class="row panl_headingac">

    <div class="col-md-6">
      <h3>{{translations.archiving_all}}</h3>
    </div>

    <div class="col-md-6 back_ac myPointer">
      <a [routerLink]="['/account-settings']"> <img class="myPointer" src="assets/dashboard/assets/img/left-arrow.svg"> {{translations.back_to_account_settings}}</a>

    </div>

  </div>
<plans-billings-shared></plans-billings-shared>
  <div class="row tabscls myPointer">
    <ul class="nav nav-tabs col-12 myPointer" >
      <li class="nav-item myPointer">

        <a class="myPointer" data-toggle="tab" [ngClass]="{'active': isArchived==false}" (click)="isSelectedAll=false;getUnarchived()"
           role="tab">{{translations.visible_new_settings}}</a>
      </li>
      <li class="nav-item itm2 myPointer">
        <a data-toggle="tab" [ngClass]="{'active': isArchived==true}" (click)="isSelectedAll=false;getArchived()" role="tab">{{translations.archived_new_settings}}</a>
      </li>

    </ul>
  </div>

  <div class="tab-content arch_content">
    <!--Panel 1-->
    <div class="tab-pane fade in show active" id="visible" role="tabpanel">
      <div class="">

     <div class="arch_top">
     
        <div class="arch_search" >
          <input [(ngModel)]="searchString" type="text" (ngModelChange)="findHuddle($event)" placeholder="{{translations.poeple_search_placeholder}}">
          
        </div>
        
        <div class="btn-group btn-group-toggle filter_options" data-toggle="buttons">
          <label class="btn btn-secondary" [ngClass]="{'active': userObject.huddle_type==0}"  (click)="isSelectedAll=false;getAllHuddles()">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> {{translations.huddle_all_button}}
          </label>
          <label class="btn btn-secondary " [ngClass]="{'active': isCoaching==true}" (click)="getCoachingHuddles()">
            <input type="radio" name="options" id="option2" autocomplete="off">
            <img class="ic1" src="assets/dashboard/assets/img/coaching_icon.svg">
            {{translations.coaching_title}}
          </label>
          <label class="btn btn-secondary" [ngClass]="{'active': isCollaboration==true}"
                 (click)="getCollaborationHuddles()">
            <input type="radio" name="options" id="option3" autocomplete="off">
            <img class="ic2" src="assets/dashboard/assets/img/collaboration_icon.svg">
            {{translations.collaboration_huddle_name}}
          </label>

          <label class="btn btn-secondary" [ngClass]="{'active': isAssessment==true}" (click)="getAssessmentHuddles()">
            <input type="radio" name="options" id="option2" autocomplete="off">
            <img class="ic3" src="assets/dashboard/assets/img/aeesessment_icon.svg">
            {{translations.assessment_huddle_name}}
          </label>


</div>

        <div class="date_rng" >
          <input type="text" (ngModelChange)="getHuddlesOfThisDate($event)" [(ngModel)]="date"  placeholder="{{startDate}} - {{endDate}}" bsDaterangepicker >
        </div>
        <div class="filter_cls dropdown" dropdown>
          <button type="button"  dropdownToggle  class="dropdown-toggle" aria-controls="dropdown-basic" data-toggle="dropdown">
            <img [ngClass]="{'sort_ie': isIEOpened}" src="assets/dashboard/assets/img/filter_icon.svg" width="25">
          </button>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item " [ngClass]="{'activecls': isTitle==true}" (click)="sortByTitle()">{{translations.huddle_title_list}}</a>
            <a class="dropdown-item" [ngClass]="{'activecls': isDateCreated==true}" (click)="sortBYDateCreated()">{{translations.huddle_date_created}}</a>
            <a class="dropdown-item" [ngClass]="{'activecls': isDateModified==true}" (click)="sortByDateModified()">{{translations.huddle_last_modified}}</a>
          </div>
        </div>
        
        <div class="arch">
         <input *ngIf="!isArchived" type="submit" value="{{translations.archive_all}}" (click)="archive()">
          <input *ngIf="isArchived" type="submit"  value="{{translations.unarchive_all}}" (click)="unArchive()">
        </div>
        <div class="clear"></div>
   </div>

        <div class="arch_listed">
          <div class="list_heading row">

            <div class="col-2 ar_1">
              <label class="ck_box">{{translations.name_simple_people_section}}
                <input type="checkbox" [checked]="isSelectedAll" (click)="selectAll()">
                <span class="checkmark"></span>
              </label></div>
            <div class="col-2 ar_2">{{translations.huddles_details_videos}}</div>
            
            <div class="col-2 ar_3">{{translations.resources_tab_huddles}}</div>
            <div class="col-2 ar_6">{{translations.created}}</div>
            <div class="col-2 ar_7">{{translations.huddle_last_modified}}</div>
            <div class="clear"></div>
          </div>
          <!-- Main Folder starts here-->
          <ng-container *ngIf="onlyHuddles">
            <ul>
              <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: list }"></ng-container>
            </ul>

            <ng-template #recursiveListTmpl let-list>
              <li *ngFor="let item of list; let i = index" class="row_rp">
                <img *ngIf="item.folder_type == 5 && !item.collapsed && item.child_count != 0" class="ar_ri" src="assets/dashboard/assets/img/arrow_rt.png" (click)="getChild(item, i)">
                <img *ngIf="item.folder_type == 5 && item.collapsed && item.child_count != 0" class="ar_ri2" src="assets/dashboard/assets/img/account-settings/arrow_dw.png" (click)="getChild(item, i)">
                <label *ngIf="item.folder_type == 5" class="ck_box sg1">
                  <input type="checkbox" [indeterminate]="item.indeterminate"  [checked]='item.checked' (change)="check(list, item)"><span
                  class="checkmark"></span>
                  <img [ngClass]="isIEOpened?'folder_ic_ie':'folder_ic'" src="assets/dashboard/assets/img/folder_gry.svg">
                  <b>{{item.name}}</b> </label>
                <div class="row inner1 hu1" *ngIf="item.folder_type == 1">
                  <div class="col-2 ar_1">

                    <label class="ck_box"><input type="checkbox" [checked]='item.checked' (change)="check(list, item)">
                      <span
                      class="checkmark"></span> </label>
                    <span class="last_lev"><i
                      [ngClass]="{'circle_green': item.huddle_type == 'Coaching', 'circle_orange': item.huddle_type == 'Collaboration', 'circle_blue': item.huddle_type == 'Assessment'}"></i> {{item.name}}</span>
                  </div>
                  <div class="col-2 ar_2"> {{item.total_videos}} </div>
                  <div class="col-2 ar_3"> {{item.total_docs}} </div>

                  <div class="col-2 ar_6" [tooltip]="item.created_on" >{{item.created_on}}</div>
                  <div class="col-2 ar_7" [tooltip]="item.created_on">{{item.created_on}}</div>
                  <div class="clear"></div>
                </div>
                <ul *ngIf="item?.children?.length > 0">
                  <!--                  style="list-style: url('../../../../../../../assets/dashboard/assets/img/arrow_rt.png')">-->
                  <ng-container
                    *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: item.children }"></ng-container>
                </ul>
              </li>
            </ng-template>
          </ng-container>
          <div class="list_details row" *ngFor="let huddle of huddles">
            <div class="col-2 ar_1">

               <label class="ck_box"><input type="checkbox" [checked]="huddle.checked" (click)="checkHuddles(huddle)"><span class="checkmark"></span> </label>
              
              <span class="last_lev left_p">
                 <i [ngClass]="{'circle_green': huddle.huddle_type == 'Coaching', 'circle_orange': huddle.huddle_type == 'Collaboration', 'circle_blue': huddle.huddle_type == 'Assessment'}"></i> {{huddle.name}}</span>

            </div>
            <div class="col-2 ar_2"> {{huddle.total_videos}} </div>
            <div class="col-2 ar_3"> {{huddle.total_docs}} </div>

            <div class="col-2 ar_6" [tooltip]="huddle.created_on" >{{huddle.created_on}}</div>
            <div class="col-2 ar_7" [tooltip]="huddle.modified_on" >{{huddle.modified_on}}</div>
            <div class="clear"></div>

          </div>
          
          
          <ng-container *ngIf="skeletonLoading">
          <div class="list_details row">
           <div class="col-2 ar_1">
           
          <div class="ani_us ar1"></div>
           
        </div>
          <div class="col-2 ar_2"><div class="ani_us ar2"></div></div>
          <div class="col-2 ar_3"><div class="ani_us ar2"></div></div>
          
           <div class="col-2 ar_6"><div class="ani_us ar2"></div></div>
           <div class="col-2 ar_7"><div class="ani_us ar2"></div></div>
           <div class="clear"></div>
           </div>
           <div class="list_details row">
           <div class="col-2 ar_1">
           
          <div class="ani_us ar1"></div>
           
        </div>
          <div class="col-2 ar_2"><div class="ani_us ar2"></div></div>
          <div class="col-2 ar_3"><div class="ani_us ar2"></div></div>
          
           <div class="col-2 ar_6"><div class="ani_us ar2"></div></div>
           <div class="col-2 ar_7"><div class="ani_us ar2"></div></div>
           <div class="clear"></div>
           </div>
           <div class="list_details row">
            <div class="col-2 ar_1">
            
           <div class="ani_us ar1"></div>
            
         </div>
           <div class="col-2 ar_2"><div class="ani_us ar2"></div></div>
           <div class="col-2 ar_3"><div class="ani_us ar2"></div></div>
           
            <div class="col-2 ar_6"><div class="ani_us ar2"></div></div>
            <div class="col-2 ar_7"><div class="ani_us ar2"></div></div>
            <div class="clear"></div>
            </div>
            <div class="list_details row">
              <div class="col-2 ar_1">
              
             <div class="ani_us ar1"></div>
              
           </div>
             <div class="col-2 ar_2"><div class="ani_us ar2"></div></div>
             <div class="col-2 ar_3"><div class="ani_us ar2"></div></div>
             
              <div class="col-2 ar_6"><div class="ani_us ar2"></div></div>
              <div class="col-2 ar_7"><div class="ani_us ar2"></div></div>
              <div class="clear"></div>
              </div>
              <div class="list_details row">
                <div class="col-2 ar_1">
                
               <div class="ani_us ar1"></div>
                
             </div>
               <div class="col-2 ar_2"><div class="ani_us ar2"></div></div>
               <div class="col-2 ar_3"><div class="ani_us ar2"></div></div>
               
                <div class="col-2 ar_6"><div class="ani_us ar2"></div></div>
                <div class="col-2 ar_7"><div class="ani_us ar2"></div></div>
                <div class="clear"></div>
                </div>
                <div class="list_details row">
                  <div class="col-2 ar_1">
                  
                 <div class="ani_us ar1"></div>
                  
               </div>
                 <div class="col-2 ar_2"><div class="ani_us ar2"></div></div>
                 <div class="col-2 ar_3"><div class="ani_us ar2"></div></div>
                 
                  <div class="col-2 ar_6"><div class="ani_us ar2"></div></div>
                  <div class="col-2 ar_7"><div class="ani_us ar2"></div></div>
                  <div class="clear"></div>
                  </div>
          </ng-container>
        </div>


        <ng-container *ngIf="isArchived">
          <ng-container *ngIf="huddles?.length == 0 && list?.length == 0 && skeletonLoading == false && searchFound == false">
            <div class="row">
              <div class="no_found">
                 <svg xmlns="http://www.w3.org/2000/svg" width="90.7" height="90.7" viewBox="0 0 90.7 90.7">
              <g id="noun_Error_1582590" transform="translate(181 41)">
                <g id="Group_332" data-name="Group 332" transform="translate(-181 -41)">
                  <path id="Path_51" data-name="Path 51" d="M45.35,0A45.29,45.29,0,1,1,13.265,13.265,45.239,45.239,0,0,1,45.35,0Zm0,56.708a6.121,6.121,0,0,1,6.135,6.135,6.192,6.192,0,0,1-6.135,6.218,6.263,6.263,0,0,1-6.218-6.218A6.192,6.192,0,0,1,45.35,56.708Zm0-6.218A4.329,4.329,0,0,1,41.2,46.345L39.132,27.857c-.332-3.233,3.068-6.218,6.218-6.218s6.55,2.985,6.135,6.218L49.5,46.345A4.329,4.329,0,0,1,45.35,50.49Zm26.2-31.422A37.129,37.129,0,1,0,82.409,45.35,37.325,37.325,0,0,0,71.549,19.069Z" transform="translate(0)" fill="#616161"/>
                </g>
              </g>
            </svg> {{translations.no_folder_archived_new_settings}}
              </div>
            </div>
        </ng-container>
        </ng-container>
        <ng-container *ngIf="!isArchived">
          <ng-container *ngIf="huddles?.length == 0 && list?.length == 0 && skeletonLoading == false && searchFound == false">
            <div class="row">
              <div class="no_found">
                   <svg xmlns="http://www.w3.org/2000/svg" width="90.7" height="90.7" viewBox="0 0 90.7 90.7">
              <g id="noun_Error_1582590" transform="translate(181 41)">
                <g id="Group_332" data-name="Group 332" transform="translate(-181 -41)">
                  <path id="Path_51" data-name="Path 51" d="M45.35,0A45.29,45.29,0,1,1,13.265,13.265,45.239,45.239,0,0,1,45.35,0Zm0,56.708a6.121,6.121,0,0,1,6.135,6.135,6.192,6.192,0,0,1-6.135,6.218,6.263,6.263,0,0,1-6.218-6.218A6.192,6.192,0,0,1,45.35,56.708Zm0-6.218A4.329,4.329,0,0,1,41.2,46.345L39.132,27.857c-.332-3.233,3.068-6.218,6.218-6.218s6.55,2.985,6.135,6.218L49.5,46.345A4.329,4.329,0,0,1,45.35,50.49Zm26.2-31.422A37.129,37.129,0,1,0,82.409,45.35,37.325,37.325,0,0,0,71.549,19.069Z" transform="translate(0)" fill="#616161"/>
                </g>
              </g>
            </svg>  {{translations.all_folders_archived_new_settings}}
              </div>
            </div>
        </ng-container>
        </ng-container>
        <ng-container *ngIf="searchFound">
          <ng-container *ngIf="huddles?.length == 0 && list?.length == 0 && skeletonLoading == false && searchFound == true">
            <div class="row">
              <div class="no_found">
                   <svg xmlns="http://www.w3.org/2000/svg" width="90.7" height="90.7" viewBox="0 0 90.7 90.7">
              <g id="noun_Error_1582590" transform="translate(181 41)">
                <g id="Group_332" data-name="Group 332" transform="translate(-181 -41)">
                  <path id="Path_51" data-name="Path 51" d="M45.35,0A45.29,45.29,0,1,1,13.265,13.265,45.239,45.239,0,0,1,45.35,0Zm0,56.708a6.121,6.121,0,0,1,6.135,6.135,6.192,6.192,0,0,1-6.135,6.218,6.263,6.263,0,0,1-6.218-6.218A6.192,6.192,0,0,1,45.35,56.708Zm0-6.218A4.329,4.329,0,0,1,41.2,46.345L39.132,27.857c-.332-3.233,3.068-6.218,6.218-6.218s6.55,2.985,6.135,6.218L49.5,46.345A4.329,4.329,0,0,1,45.35,50.49Zm26.2-31.422A37.129,37.129,0,1,0,82.409,45.35,37.325,37.325,0,0,0,71.549,19.069Z" transform="translate(0)" fill="#616161"/>
                </g>
              </g>
            </svg>  {{translations.no_results_found_matching_new_settings}}
              </div>
            </div>
        </ng-container>
        </ng-container>


    </div>
    <div class="modal fade" bsModal #openPopup="bs-modal" [config]="{backdrop:'static',keyboard:false}"
         class="modal archive_popcls fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
      <div class="modal-dialog" style="max-width:600px;">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{translations.archiving_main}}</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>

          </div>

          <div class="modal-body">
            <div class="arch_icon">
              <img src="assets/dashboard/assets/img/account-settings/archive_ic.svg">
            </div>
            <p>
              {{translations.archiving_allows_new_settings}} {{translations.tab_new_settings}}
            </p>
          </div>

          <div class="modal-footer arch_p">
            <div class="col-md-8">

              <label class="ck_box"><input type="checkbox" (click)="boxChecked($event.target.checked)"><span class="checkmark"></span> {{translations.dont_show_new_settings}}
              </label>
            </div>
            <div class="col-md-4">
              <button type="button" (click)="archivingModal()" class="btn">{{translations.done_ng}}</button>
            </div>

           


          </div>
        </div>

      </div>
    </div>

  </div>
</div>
