.dot_ani{
    height: 10px;
}

.dot_ani2{
    height: 10px;
}

.lineane{
    height: 12px;
}

.huddle_option span.animate_me{
    margin-right: 2%;
}

ul.disabled_ul a:not(.available){
	color: grey;
}

.folder_container { position:relative;}
.drage_file { background-color: rgba(0,0,0, 0.5);
    text-align: center;
    padding: 25px;
    height: 150px;
    width: 20%;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;     border-radius: 5px;}
.drag_over { background-color: rgba(0,0,0, 0.3);
    top: -7px;
    position: absolute;
    left: -7px;
    right: -7px;
    bottom:-7px;
    display: none;
   }
   .minHeight160{
    min-height: 160px;
}

.minHeight80{
    min-height: 80px;
}

.drage_file b { color:#fff; display:block; padding-top:20px;}


.trimming{
	background: #000 !important;
}
.live-time{
    padding: 0px 4px;
    border-radius: 3px;
    background-color: #db2e2e;
    font-size: 9px;
}
.minHeight40{
    min-height: 40px;
    background-color: #fff !important;
    opacity: 1 !important;
}
.list_heading {
    border-top: none;
}
.share_icon {
    font-size: 13px;
}
.paddingZero{
    padding-left: 0;
}
.huddlelist_view .list_row .col-md-2 {
    max-width: 15%
}
.huddlelist_view {
    padding: 0 0px;
    margin-top: 15px;
    font-size: 13px;
}
.label-title {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #010101;
    text-decoration: none;
    margin-bottom: 0;
    text-overflow: ellipsis;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
}

.loadingimgIE{
    height: 28px !important;
    margin-top: 10px;
}

.url-artifact-list-link {
    color: #606060; 
    font-size: 13px;
}

.hu_op .dropdown-menu {
    min-width: 85px !important;
    padding: 10px 6px 6px 10px !important;
    left: -97px !important;
    width: 135px;
}

.video_crope_list_box {
    height: 60px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 9px;
    max-width: 91px;
    line-height: 12px;
}

.a_color {
    color: #007ad9;
}


