<div class="huddlelist_view">
  <!--onFileDropped)="uploadFiles($event)"-->
  
  <div fileDropUpload  (drop)="uploadFiles($event)" (dragenter)="callTochange($event)" (dragleave)="changeBackgroundDefault($event)" dndDropzone [ngClass]="artifacts.length == 0 ? 'minHeight80' : 'minHeight40'">
    <div class="folder_container" style="min-height: 80px;">
  <div *ngIf="artifacts.length > 0">
    <div class="huddlelist_view">
      <!-- <div class="row list_heading">
        <div class="col-md-5"> <label>{{translation?.artifact_name}}</label> </div>
        <div class="col-md-2"> <label>{{translation?.artifact_created_by}}</label> </div>
        <div class="col-md-2"> <label>{{translation?.artifact_upload}}</label> </div>
        <div class="col-md-3"> <label>{{translation?.artifact_action}}</label> </div>
      </div> -->
      <div *ngFor="let artifact of artifacts" (mouseenter)="artifact.mouseEntered=true"
        (mouseleave)="artifact.mouseEntered=false">

        <div class="row list_row" [dndDraggable]="artifact" dndEffectAllowed="move">
          <div class="col-md-8 paddingZero">
            <!-- Video box start -->
            <a *ngIf="artifact?.doc_type == 1" [routerLink]="[getArtifactUrl(artifact)]" [queryParams]="{goalEvidence: goalEvidence}">
              <div class="thumblist" [class.trimming]="artifact.published==0">
                <ng-container *ngIf="artifact.published==1 && artifact?.encoder_status!='Error'">
                  <div class="th_img">
                    <img [src]="artifact?.thubnail_url" [ngStyle]="{'object-fit': (artifact.thumbnail_type == 'default') ? 'contain' : 'cover'}">
                  </div>
                  <span class="list_play"> <img src="assets/video-huddle/img/play_gry-sml.svg"> </span>
                  <span class="video_time"
                    *ngIf="artifact?.video_is_saved !=0">{{headerService?.FormatSeconds(artifact?.video_duration)}}</span>
                </ng-container>
                <ng-container *ngIf="(!isIEOpened && artifact.published==0) && artifact?.encoder_status!='Error'">
                  <img _ngcontent-c11="" class="loader" height="50" src="assets/video-huddle/img/spinner.svg">
                </ng-container>

                <ng-container *ngIf="(isIEOpened && artifact.published==0) && artifact?.encoder_status!='Error'">
                  <img _ngcontent-c11="" class="loader loadingimgIE" src="assets/video-huddle/img/spin.gif">
                </ng-container>
                <ng-container *ngIf="(artifact?.transcoding_status==5  || artifact?.encoder_status=='Error') ">
                  <div class="video_crope_list_box">
                      {{artifact.file_type=='mp3' ? translation?.audio_not_processed : translation?.video_not_processed}}<a target="_top" class="a_color">support@sibme.com</a>
                  </div>
              </ng-container>
              </div>
            </a>
            <!-- Video box start -->
            <!-- Resource box start -->
            <a *ngIf="artifact?.doc_type == 2" (click)="getArtifactUrl(artifact)">
              <div class="thumblist">
                <div>
                  <img [src]="artifact?.thubnail_url">
                </div>
              </div>
            </a>
            <!-- Resource box end -->
            <!-- Scripted-note box start -->
            <a *ngIf="artifact?.doc_type == 3 && artifact?.is_processed < 4" [routerLink]="[getArtifactUrl(artifact)]"
              [queryParams]="getArtifactQueryParams(artifact)">
              <div class="thumblist">
                <div class="icontype">
                  <img [src]="artifact?.thubnail_url">
                </div>
              </div>
            </a>
            <!-- Scripted-note box start -->
            <!-- Sync-note box end -->
            <a *ngIf="artifact?.doc_type == 3 && (artifact?.is_processed == 4 || artifact?.is_processed == 5)"
              [routerLink]="[getArtifactUrl(artifact)]" [queryParams]="{goalEvidence: goalEvidence}">
              <div class="thumblist">
                <ng-container *ngIf="artifact?.published==0 && artifact.video_duration > 0">
                  <div class="video_reco">
                    <span *ngIf="artifact?.upload_progress==0">
                      {{translation?.workspace_liverecording}}
                    </span>
                    <span *ngIf="artifact?.upload_status == 'paused' || artifact?.upload_status == 'Paused'">
                      {{translation?.workspace_paused}}
                    </span>
                    <span *ngIf="artifact?.upload_status == 'cancelled'">
                      {{translation?.workspace_cancelleduploadvideo}}
                    </span>
                    <span *ngIf="(artifact?.upload_status=='uploading' && (artifact?.upload_progress>0)<100)">
                      {{translation?.workspace_uploading}} {{artifact?.upload_progress}}%
                    </span>
                  </div>
                </ng-container>
                <ng-container
                  *ngIf="artifact?.published==0 && artifact?.upload_status == null && artifact?.is_processed == 1">
                  <div class="video_reco">
                    <span>{{translation?.workspace_cancelleduploadvideo}}</span>
                  </div>
                </ng-container>
                <div class="th_img">
                  <ng-container *ngIf="artifact?.published==1 || (artifact?.upload_progress==100)">
                    <img class="thumbnail_i" src="{{artifact.thubnail_url}}">
                    <span class="list_play"> <img src="assets/img/play_gry-sml.svg"> </span>
                  </ng-container>
                  <span class="video_time">{{headerService?.FormatSeconds(artifact?.video_duration)}}</span>
                  <ng-container *ngIf="artifact?.upload_status == 'cancelled' && artifact?.video_duration == 0">
                    <div class="video_crope"> {{translation?.workspace_cancelleduploadvideo}} </div>
                  </ng-container>
                </div>
              </div>
            </a>
            <!-- Sync-note box end -->
            <!-- Live-stream box start -->
            <a *ngIf="artifact?.doc_type == 4" [routerLink]="[getArtifactUrl(artifact)]" [queryParams]="{goalEvidence: goalEvidence}">
              <div class="thumblist"
                [class.trimming]="artifact.published==0 || artifact?.thubnail_url ==null || (artifact?.transcoding_status==5  || artifact?.encoder_status=='Error')">
                <span class="video_time live-time">LIVE</span>
              </div>
            </a>
            <!-- Live-stream box end -->
            <!-- URL artifact box start -->
            <a *ngIf="artifact.doc_type == 5" (click)="updateURLViews(artifact)" target="_blank" [href]="getArtifactUrl(artifact)">
              <div class="thumblist">
                <div>
                  <img src="{{artifact.thubnail_url}}">
                </div>
              </div>
            </a>
            <!-- URL artifact box end -->
            <div class="detail_list" [class.pt16]="artifact.doc_type == 2">
              <a *ngIf="artifact?.doc_type != 2 && artifact.doc_type != 5" [routerLink]="[getArtifactUrl(artifact)]"
                [queryParams]="getArtifactQueryParams(artifact)" [tooltip]="artifact.title" class="label-title">
                {{artifact.title}}
              </a>
              <a *ngIf="artifact?.doc_type == 2" (click)="getArtifactUrl(artifact)"
                [tooltip]="getArtifectTooltip(artifact)" class="label-title">
                {{artifact.title}}
              </a>
              <a *ngIf="artifact.doc_type == 5" target="_blank" (click)="updateURLViews(artifact)" [href]="getArtifactUrl(artifact)"
                [tooltip]="artifact.title" class="label-title" >
                {{artifact.title}}
              </a>
              <a *ngIf="artifact.doc_type == 5" target="_blank" (click)="updateURLViews(artifact)" [href]="getArtifactUrl(artifact)"
                [tooltip]="artifact.url" class="label-title url-artifact-list-link">
                {{artifact.url}}
              </a>
              <div *ngIf="artifact.doc_type != 2 && artifact.doc_type != 5" class="huddle_option">
                <a class="chat_cls" tooltip="{{translation?.artifact_comments}}"> <img
                    src="assets/video-huddle/img/comm_icon.svg"> {{artifact?.total_comments||0}}</a>
                <a class="h_att" tooltip="{{translation?.artifact_attachments}}"> <img
                    src="assets/video-huddle/img/attachment_icon.svg"> {{artifact?.total_attachment||0}} </a>
              </div>
            </div>
          </div>
          <div class="col-md-1">
            <label>{{artifact?.first_name}} {{ artifact?.last_name}}</label>
          </div>
          <div class="col-md-1">
            <label>{{headerService?.formatDate(artifact.created_date, "MMM DD, YYYY")}}</label>
          </div>
          <div class="col-md-2 list_share">
            <a class="share_icon"
              *ngIf="getPermission(artifact,'copy')  && artifact.published==1 && artifact?.video_is_saved !=0"
              (click)="openNewShareModal(artifact)"> <img src="assets/video-huddle/img/icon_arrow.svg">
              {{translation.artifact_share}} </a>
            <ng-container *ngIf="getActionPermission(artifact)">
              <div class="hu_op dropdown" *ngIf="!(artifact?.mouseEntered || isDropdownOpen)">
                <button type="button">
                  <img src="assets/video-huddle/img/dots_dark.svg" width="30">
                </button>
              </div>
              <div class="hu_op dropdown" dropdown *ngIf="artifact?.mouseEntered || isDropdownOpen">
                <span (isOpenChange)="isOpen(artifact, $event)" dropdown>
                  <button type="button" id="button-basic" dropdownToggle>
                    <img src="assets/video-huddle/img/dots_dark.svg" width="30">
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic"
                    [class.diabled_ul]="artifact.published==0">
                    <ng-container *ngIf="artifact.published==1">
                      <a *ngIf="artifact.doc_type != 5" class="dropdown-item" (click)="openRenameModal(artifact);">{{translation.artifact_rename}}</a>
                      <ng-container
                        *ngIf="artifact.doc_type == 1 || artifact.doc_type == 2 || artifact.doc_type == 4 || (artifact?.doc_type == 3 && (artifact.is_processed == 4 || artifact.is_processed == 5))">
                        <a *ngIf="getPermission(artifact,'crop') && artifact?.video_is_saved !=0 && artifact.doc_type != 2" class="dropdown-item"
                          (click)="openCropModal(artifact);">{{translation.artifact_crop}}</a>
                        <a *ngIf="getPermission(artifact,'duplicate') && artifact?.video_is_saved !=0"
                          class="dropdown-item"
                          (click)="OpenDuplicateResourceModal(artifact)">{{translation.artifact_duplicate}}</a>
                      </ng-container>

                      <ng-container>
                        <a *ngIf="artifact?.parent_folder_id || haveFolders" class="dropdown-item" (click)="onMoveFolder(artifact)">{{translation?.df_move_to_folder}}</a>
                      </ng-container>

                      <a *ngIf="getPermission(artifact,'rename') && artifact.doc_type == 5" class="dropdown-item"
                        (click)="openURLArtifactModal(artifact)">{{translation?.vd_edit}}</a>

                      <a *ngIf="getPermission(artifact,'download') && artifact.doc_type != 5 && (artifact.doc_type != 3 || (artifact?.doc_type == 3 && (artifact.is_processed == 4 || artifact.is_processed == 5))) && (artifact?.transcoding_status!=5 && artifact?.encoder_status!='Error') && artifact?.video_is_saved !=0"
                        class="dropdown-item"
                        (click)="DownloadResource(artifact,'download')">{{translation.artifact_download}}</a>
                      <a *ngIf="!!additionalData?.submission_date_passed"
                        class="dropdown-item">{{translation.artifact_delete}}</a>
                      <a *ngIf="!additionalData?.submission_date_passed && getPermission(artifact,'delete')"
                        class="dropdown-item" (click)="OpenDeleteModal(artifact)">{{translation.artifact_delete}}</a>
                    </ng-container>
                    
                    <ng-container *ngIf="artifact.published==0">
                      <a class="dropdown-item navailable">{{translation.artifact_rename}}</a>
                      <a class="dropdown-item navailable">{{translation.artifact_crop}}</a>
                      <a class="dropdown-item navailable">{{translation.artifact_duplicate}}</a>
                      <a class="dropdown-item navailable">{{translation.artifact_download}}</a>
                      <a class="dropdown-item available" *ngIf="getPermission(artifact,'delete')" class="dropdown-item"
                        (click)="OpenDeleteModal(artifact)">{{translation.artifact_delete}}</a>
                    </ng-container>
                  </ul>
                </span>
              </div>
            </ng-container>
            <ng-container
              *ngIf="((pageType != 'library-page') ) && artifact.published == 0 && artifact?.encoder_status!='Error' && getPermission(artifact,'delete')">
              <div class="hu_op dropdown" *ngIf="!(artifact?.mouseEntered || isDropdownOpen) ">
                <button type="button">
                  <img src="assets/video-huddle/img/dots_dark.svg" width="30">
                </button>
              </div>
              <div class="hu_op dropdown" dropdown *ngIf="artifact?.mouseEntered || isDropdownOpen">
                <span (isOpenChange)="isOpen(artifact, $event)" dropdown>
                  <button type="button" id="button-basic" dropdownToggle>
                    <img src="assets/video-huddle/img/dots_dark.svg" width="30">
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <a *ngIf="getPermission(artifact,'delete')" class="dropdown-item"
                        (click)="OpenDeleteModal(artifact)">{{translation?.artifact_delete}}</a>
                    <a *ngIf="getPermission(artifact,'delete') || (artifact.created_by == user_id_streamer)" class="dropdown-item"
                    (click)="openRenameModal(artifact)">{{translation?.artifact_rename}}</a>
                  </ul>
                </span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="drag_over" [ngStyle]="{'display':changeBackgroundondrop ==true ? 'flex' : 'none' }">
    <div class="drage_file" [ngStyle]="styleObject()" >
    <svg xmlns="http://www.w3.org/2000/svg" width="66.5" height="47.708" viewBox="0 0 66.5 47.708">
  <g id="noun_upload_cloud_3401869" data-name="noun_upload cloud_3401869" transform="translate(10.087 -122.702)">
  <g id="Group_2066" data-name="Group 2066" transform="translate(-15 105)">
  <path id="Path_120" data-name="Path 120" d="M60.959,36.944v-.627a18.712,18.712,0,0,0-35.884-7.336,11.3,11.3,0,0,0-4.615-.958A11.421,11.421,0,0,0,9.077,39.45a7.954,7.954,0,0,0,.059,1.187A14.532,14.532,0,0,0,19.457,65.41h37.4a14.524,14.524,0,0,0,4.1-28.467ZM45.852,44.022a2.138,2.138,0,0,1-3.03,0l-2.588-2.6V52.943a2.079,2.079,0,0,1-4.158,0V41.515l-2.514,2.507a2.153,2.153,0,1,1-3.045-3.038l6.1-6.068.066-.037a1.054,1.054,0,0,0,.111-.081,2.264,2.264,0,0,1,.31-.206,2.028,2.028,0,0,1,1.054-.347h.177a2.123,2.123,0,0,1,1.475.612l6.068,6.09a2.153,2.153,0,0,1-.022,3.074Z" transform="translate(0)" fill="#fff" fill-rule="evenodd"/>
  </g>
  </g>
  
  </svg>
  <br />         <b [ngStyle]="{'padding-top':artifacts.length > 3 ? '10px':'5px'}">{{translation?.multi_file_upload_drag_files_here}}</b>
    </div>
  </div>
  </div>


</div>


  <!-- List loader animation start -->
  <ng-container *ngIf="loading">
    <div *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" class="row list_row">
      <div class="col-md-5">
        <div class="thumblist animate_me"> </div>
        <div class="detail_list">
          <p class="animate_me lineane"></p>
          <div class="huddle_option ani_2">
            <span class=" animate_me"> </span>
            <span class=" animate_me"> </span>
          </div>
        </div>
      </div>
      <div class="col-md-2"> <label class="animate_me dot_ani2"></label></div>
      <div class="col-md-2"> <label class="animate_me dot_ani2"></label></div>
      <div class="col-md-3 list_share">
        <label class="animate_me dot_ani2"></label>
        <label class="animate_me dot_ani dot_ani3"></label>
      </div>
    </div>
  </ng-container>
  <!-- List loader animation end -->
</div>