<div id="logo" *ngIf="details">
	
	<a *ngIf="!logo_image" [routerLink]="['/']" [style.backgroundImage]='load_bg(details)' [style.backgroundColor]="logo_background_color">{{details.base_url}}</a>
	<a *ngIf="logo_image" [routerLink]="['/']" [style.backgroundImage]='imageUrl()' [style.backgroundColor]="logo_background_color">{{details.base_url}}</a>
	<!-- <img src='{{details.logo_image}}'> -->
	<!-- <a *ngIf="!logo_image" [routerLink]="['/']" [style.backgroundColor]="logo_background_color"> <img src='{{details.logo_image}}'>{{details.base_url}}</a>
	<a *ngIf="logo_image" [routerLink]="['/']"  [style.backgroundColor]="logo_background_color"> <img src='{{details.logo_image}}'>{{details.base_url}}</a>
	 -->
</div>
