#logo{
	display: block;
    position: absolute;
    top: 0;
    text-indent: 100%;
    overflow: hidden;
    font-size: 0;
    width: 175px;
    height: 64px;
    background: #fff;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.3);
}

#logo a {
    width: 179px;
    height: 65px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    top: 0;
    background-size: 107px;
    position: relative;
    left: -1px;
}