body{
      color: #757575 !important;
      font-size: 90% !important;
      font-weight: normal;
      font-family: 'Roboto' !important, sans-serif;
      /*background: url(assets/img/bg.png);*/
    }
    div.clear {
    clear: both;
}

.single_select .multiselect-item-checkbox input[type=checkbox] + div:before{

	position: inherit !important;
	border: 2px solid #337ab700 !important;
	color: #337ab705 !important;
	background: #337ab700 !important;

}

.single_select .multiselect-item-checkbox input[type=checkbox] + div{

	padding-left: 0 !important;

}

.single_select .multiselect-item-checkbox input[type=checkbox] + div:after{

	border-color: transparent !important;

}

.single_select .multiselect-item-checkbox input[type=checkbox]:checked + div:before{

	animation: none !important;
    background: transparent;
    -webkit-animation: none !important;

}

.single_select .multiselect-item-checkbox input[type=checkbox]:checked + div{

	background: #ededed;
    padding: 3px;
    font: 14px/23px "Segoe UI";
    

}

div.multiselect-dropdown span.dropdown-btn span.dropdown-down{

	
    border-left: 6px solid transparent !important;
    border-right: 6px solid transparent !important;
    border-top: 6px solid #000000 !important;
}

.multiselect-dropdown .dropdown-btn .dropdown-up{

	border-bottom: 6px solid #000000 !important;
    border-left: 6px solid transparent !important;
    border-right: 6px solid transparent !important;
}

.dropdown-btn .selected-item a{
	display: none;
}

.multiselect-dropdown .dropdown-btn .selected-item:hover{
	-webkit-box-shadow: 1px 1px #95959500 !important;
    box-shadow: 1px 1px #95959500 !important;
}
.multiselect-dropdown .dropdown-btn .selected-item{

	background: transparent !important;
    border: 0 !important;
    color: #4e4e4e !important;

}


.multiselect-dropdown .dropdown-btn{

	border: 1px solid #e1e2e2 !important;
}

input:focus{

	outline: none;
}

.ana_body{

    min-height: 500px;
}

.ana_body .nav-tabs {
    border: 0;
    margin: 0;
}

.ana_body .tab-content{ display:block; visibility:visible;        padding: 25px 4px 0 4px;   width: 100%;}
.ana_body .nav-tabs { border:0; margin:0;}
.ana_body .nav-tabs .nav-link:focus, .ana_body .nav-tabs .nav-link:hover{ border:0 !important;}
.ana_body .nav-tabs a:hover{ border:0 !important;}
.ana_body .nav-tabs .nav-link{ border:0; font-family: 'Conv_Roboto-Regular'; font-weight:500;     padding: 0 30px 0 0;}
.ana_body .nav-tabs a { color:#616161; font-size:15px;}
.ana_body .nav-tabs a.active{ color:#0275d8;}
.ana_body .tab-content .col-md-3 {     padding-right: 12px;padding-left: 12px;}
.ana_body .tab-content .col-md-3 label{ display:block;  font-size:28px; margin:14px 0;font-family: 'Conv_Roboto-Light'; color:#616161;min-height: 42px;}
.ana_body .ui-datatable thead th{padding:17px 10px !important;   font-family: "Roboto";}
.ana_body .ui-datatable  td{padding:5px 6px !important;}
.ana_body .ui-datatable  td a{    color: #0275d8; text-decoration: underline;}
.ana_body .ui-datatable .ui-paginator {background: #fff !important;
        padding: 24px 14px 6px 1px;    border: 0;
    text-align: left;}
    .ana_body .ui-datatable .ui-paginator-element{    background: none;
    border: 0; margin: 0 5px;
    display: inline-block;
    font-size: 14px;}
    .ana_body .ui-paginator .ui-paginator-page.ui-state-active{color: #0275d8;
     background: none; border: 0;}
    .ana_body .ui-paginator a:not(.ui-state-disabled):not(.ui-state-active):hover{color: #0275d8;
   background: none; border: 0;}
    .ana_body .ui-paginator-last{ display: none !important; }
    .ana_body .ui-paginator-first{display: none !important;}
    .ana_body .fa-backward:before{ display: none; }
     .ana_body .fa-backward {
        /*background: url(assets/img/pagination_arrow_left.svg) no-repeat; */
          width: 11px;
    height: 15px;
    position: relative;
    top: 4px;
    }
    .ana_body .ui-paginator-prev{    margin: 0; padding: 0;}
    .ana_body .ui-paginator-next{    margin: 0; padding: 0;}
.ana_body .fa-forward:before{ display: none; } 
    .ana_body .fa-forward {
        /*background: url(assets/img/pagination_arrow_right.svg) no-repeat; */
          width: 11px;
    height: 15px;
    position: relative;
    top: 4px;
    }

.ui-datatable-tablewrapper{
  overflow-x: scroll !important;
}
.opt_row2{
  z-index: 2;
}
/*
.amcharts-export-menu .export-main > a {
    
    background: url(assets/img/dots.svg) !important;
    background-repeat: no-repeat !important;
    background-position: 10px 16px !important;
    -webkit-box-shadow: 0px 0px 0px 0 rgba(0,0,0) !important;
    box-shadow: 0px 0px 0px 0 rgba(0,0,0) !important;
    border-radius: 0px !important;
    margin: -40px 0px 0 0px !important;
    opacity: 1 !important;
    
}
.amcharts-export-menu .export-main > a:hover {
    
    background: url(assets/img/dots.svg);
    background-repeat: no-repeat;
    background-position: 10px 16px;
    
}*/

#pieContainer .amcharts-legend-div{
  /*left: 27%;*/
}

.ui-widget-content tr td:nth-child(1){

    position: sticky;
    left: -2px;
    width: 165px !important;
    z-index: 0;
    text-align: left;
    background: #FFF;
    padding-left: 12px !important;

}

th.ui-state-default:nth-child(1){
    position: sticky;
    left: -2px;
    width: 165px !important;
    z-index: 0;
    text-align: left;
    background: #FFF;
    padding-left: 10px !important;
}
th.ui-state-default{
    text-align: center;
}

tr.ui-widget-content{
    text-align: center;
    font-family: roboto;
    font-size: 13px;
}
ng-multiselect-dropdown{

    font-family: Conv_Roboto-Regular;

    color: #414141;

}

tr.ui-widget-content.rowSelected{
  background:#dbedff !important;
}

#loading-bar .bar {
background: #33ba3a;
height: 4px;
}

#loading-bar-spinner .spinner-icon {
width: 18px;
height: 18px;
border: solid 4px transparent;
border-top-color: #cadd22;
border-left-color: #cadd22;
border-radius: 10px;
}
tr.ui-widget-content td{
    overflow-x: hidden;
}
/*.hidden{

    display: none;

}*/
.ui-widget-header{
    background: transparent !important;
    border: 0 !important;
}

.dropdown-list{
    -webkit-box-shadow: 0 0px 0px #959595 !important;
    box-shadow: 0 0px 0px #959595 !important;
}

.pagination-previous a, .pagination-previous span {
    display: none !important;
}

.pagination-next a, .pagination-next span {
    display: none !important;
}

.pagination-previous{

	/*background: url(assets/img/pagination_arrow_left.svg) no-repeat !important; */
    width: 11px;
    height: 15px;
    position: relative;
    top: 4px;
    cursor: pointer !important;
    opacity: 1 !important;

}

.pagination-previous.disabled{

	/*background: url(assets/img/pagination_arrow_left.svg) no-repeat !important; */
    width: 11px;
    height: 15px;
    position: relative;
    top: 4px;
    cursor: default !important;
    opacity: 0 !important;

}

.ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before{
	display: none !important;
}


.pagination-next{

	/*background: url(assets/img/pagination_arrow_right.svg) no-repeat !important; */
    width: 11px;
    height: 15px;
    position: relative;
    top: 4px;
    opacity: 1 !important;
    cursor: pointer !important;

}

.pagination-next.disabled{

	/*background: url(assets/img/pagination_arrow_right.svg) no-repeat !important; */
    opacity: 0 !important;
    cursor: default !important;

}

.ngx-pagination .current {
    background: transparent !important;
    color: #0275d8 !important;
}

.ngx-pagination .current {
    background: transparent !important;
    color: #0275d8 !important;
}

.ngx-pagination a:hover, .ngx-pagination button:hover {
    
    background: transparent !important;
    text-decoration: none !important;
    color: #0275d8 !important;
}

.ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after{
	display: none !important;
}

.serialbox{
	padding-left: 10px;
}

.sibme_header .dropdown-toggle::after{

    display: none !important;

}

.user_newDropDown{
    top: 50px !important;
}



.container {
    max-width: 1027px !important;
    margin: 0 auto !important;
    float: none !important;

}
.bred_an span{
font-size: 13px;
}

#main {
    width: 100%;
    margin-top: 34px !important;
    margin-bottom: 48px !important;
    position: relative;
    margin: 32px auto 88px;
   overflow: unset;
}

.header_an {
    background-color: #f9f9f9;
    margin: -10px -15px 0px -15px;
    padding: 9px 20px;
    border-bottom: 1px solid #e1e2e2;
}

.header_an h2 {
    font-size: 30px;
    font-family: 'Roboto-Light';
    padding-left: 3px;
    margin: 10px 0;
}

.video_body {
    padding: 16px 0;
}

.video_body .nav-tabs {
    margin: 0;
}

.video_body .nav-tabs {
    border-bottom: 2px solid #eeeeee;
}

.video_body .nav-tabs .nav-item {
    margin-bottom: 0px;
    margin-left: 0;
}

.nav li {
    float: left;
    margin-left: 3px;
}

.video_body .nav-tabs a.active {
    color: #0275d8;
}

.video_body .nav-tabs .nav-link {
    font-family: 'Roboto-light';
    font-size: 15px;
    padding: 5px 12px 5px 12px;
    min-height: 37px;
}

.video_body .nav-tabs .nav-link {
    border: 1px solid #eeeeee;
    border-bottom: 0;
}
.video_body .nav-tabs a{
    color: #616161;
}
.video_body .nav-tabs a span:first-child {
    display: none;
}
.video_body .nav-tabs a.active span.badge {
    background: #1d7dd4;
}

.video_body .nav-tabs a span {
    background: #616161;
        display: inline-block;
    padding: 4px 10px 5px 10px;
    border-radius: 5px;
    color: #fff;
}

.video_body .tab-content {
    display: block;
    visibility: visible;
    padding: 7px 4px 0 4px;
    width: 100%;
}

.tab-content>.active {
    display: block;
}

.box {
    -moz-box-sizing: border-box;
    background-color: #FFF;
    border: 1px
 solid #DAD6CE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    float: left;
    min-height: 371px;
    overflow: hidden;
    padding: 10px
 20px 20px;
    width: 328px;
}


.switch_container{
    /*float: left;*/
    width: 19%;
}

.switch_text{
    float: left;
    width: 77%;
    font-weight: 600;
    line-height: 16px;
}

.field_title{
    font-weight: 600;
    margin: 15px 0;
    font-size: 16px;
    color: #424242;
    padding-left: 5px;
}

.switch-medium small{

    width: 15px !important;
    height: 15px !important;
    margin-left: 4px;
    margin-right: 4px;
    top: 3px !important;
    position: absolute !important;

}

.switch .off{
    color: #FFF !important;
    top: 1px !important;
}

.switch .on{
    color: #FFF !important;
    top: 1px !important;
}

.switch.switch-medium.switch-labeled{

    width: 55px !important;
    border:none;

}
.switch small{
    box-shadow: none !important;
}

.switch-medium{
    height: 22px !important;
}

.switch-medium.switch-labeled{
    width: 52px;
}

.video_info_main {
    text-align: right;
    padding: 15px 0 6px 0;
}

.video_info {
    border-radius: 4px;
    border: 1px solid #dddddd;
    color: #000000;
    padding: 4px 8px 3px 8px;
    float: right;
    margin-right: 5px;
    font-size: 15px;
    font-family: 'Roboto-Regular';    cursor: pointer;
}

.video_options a {
    border-radius: 4px;
    border: 1px solid #dddddd;
    color: #848484;
    padding: 2px 6px 4px 6px;
    float: right;
    font-size: 16px;
}

.comm_top {
    margin: 0 -15px 8px -15px;
}

.add_comment label {
    display: inline-block;
    color: #010101;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    margin-bottom: 0;
    position: relative;
    top: -2px;
}

.comm_time {
    color: #cbcbcb;
    float: right;
    font-size: 12px;
    margin-bottom: 0px;
    display: inline-block;
}

.comm_time {
    text-align: right;
    padding-top: 3px;
}

.comm_time .switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 17px;
}

.add_comment label {
    display: inline-block;
    color: #010101;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    margin-bottom: 0;
}

.time_com {
    font-family: 'Roboto-light';
    color: #010101;
    position: relative;
    top: -4px;
    display: inline-block;
    margin-left: 6px;
    font-size: 13px;
    text-transform: lowercase;
}

.comment_box {
    border: 1px solid #dddddd;
    padding: 10px;
    border-radius: 4px;
    background: #fff;
}

.add_comment textarea {
    border: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0 0px 0px rgba(0,0,0,0.09) inset;
    padding: 0;
    color: #919191;
    resize: none;
}

.comment_tags {
    padding-bottom: 10px;
}

.plusicon {
    float: left;
}

.plusicon img {
    max-width: 10px;
    position: relative;
    top: -4px;
}

.comment_tags {
    padding-bottom: 10px;
}

.tags_icons {
    float: left;
    margin-right: 3px;
}

textarea:focus{

    outline: 0;

}


.comm_option {
       padding: 9px 0 5px 0;
}

.comm_option {
    color: #383a39;
    font-family: 'Roboto-Regular';
    font-size: 13px;
    cursor: pointer;
}

.comm_option span {
    position: relative;
    top: 1px;
    margin-right: 2px;
    display: inline-block;
}
.custom_tag{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 20px;
    border: 2px solid #000;
}

.q_circle {
    border: 2px solid #5db85b;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.i_circle {
    border: 2px solid #38a0ff;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 20px;
}

.b_circle {
    border: 2px solid #ff5800;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 20px;
}
.r_circle{
    border: 2px solid #df0a00;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 20px;
}

.add_comm {
    padding: 5px 0 0 0;
}

.comm_options {
    border-radius: 4px;
    border: 1px solid #dddddd;
    color: #848484;
    padding: 2px 6px 3px 6px;
    float: left;
    font-size: 16px;    cursor: pointer;
    background: #fff;
}
.add_comm_btn {text-align: right;}
.add_comm_btn a {
    background: #5db85b;
    color: #fff !important;
    display: inline-block;
    padding: 5px 22px;
    border-radius: 4px;
    /*float: right;*/
    font-family: 'Roboto-Light';
    text-decoration: none;
}
.add_comm .btn-group{float: left;}
.video_options .dropdown-toggle::after, .add_comm .dropdown-toggle::after{
    display: none !important;
}

.comm_outer {
    max-height: 600px;
    overflow: auto;
}

.video-js .vjs-big-play-button{

    top: 42% !important;
    left: 42% !important;

}

.fake_link:hover{
    cursor: pointer;
}

.filled{
    background: #e0e0e0;
}
.video_options{    float: right;cursor: pointer;}
.slimScrollDiv{padding-right: 10px !important;}

.settingsMenu{
    width: 260px;
}

.fsp-picker__brand-container{
    display: none !important;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.model-copy {max-width: 600px !important;}
.modal-header {background: #f9f9f9;}
.modal-title {
    font-size: 25px;
    font-family: Roboto-Light;
    padding-left: 3px;
    margin: 1px 0;
    color: #414141;
}
.model-copy .tab-content {    margin-top: 18px;}
.model-copy .nav-tabs .oi{ display: inline-block; margin-right:5px; }
.model-copy .nav-tabs a{    color: #414141;}
.model-copy .nav-tabs .nav-link.active { color: #518fcc;}
.model-copy .filterinput{    width: 100%;
    display: block;
    border: 1px solid #ddd;
    padding: 4px;
    height: 40px;
    border-radius: 4px;}
    .model-copy .files-list {    padding-left: 0;list-style: none; margin-top: 15px;height: 135px;overflow-y: scroll;}
    .model-copy .files-list li { display:block; margin-bottom: 8px; }
    .model-copy .files-list li input[type=checkbox]{    position: relative;
    top: 1px;
    display: inline-block;
    margin-right: 5px;}
    .hu_cancel {
    background: #fff;
    color: #636363;
    border: 0;
    display: inline-block;
    padding: 9px 26px;
    border-radius: 4px;
    font-family: Roboto-Regular;
}
.hu_primary {
    background: #518fcc;
    color: #fff;
    border: 0;
    display: inline-block;
    padding: 9px 26px;
    border-radius: 4px;
    font-family: Roboto-Regular;
    margin-right: 15px;
}
.model-send-email {max-width: 600px !important;}
.model-send-email input[type=text], .model-send-email input[type=email]{    width: 100%;
    display: block;
    border: 1px solid #ddd;
    padding: 4px;
    height: 40px;
    border-radius: 4px;}
    .model-send-email textarea{    width: 100%;
    display: block;
    border: 1px solid #ddd;
    padding: 4px;
    height: 100px;
    border-radius: 4px;     margin-bottom: 11px;}
   .model-send-email label {margin: 12px 0 0 0;}

      .nav-link i{
        color: #848484;
    font-size: 11px;
        margin-left: 10px;
}
.nav-tabs li:last-child a{
    border-color:#fff !important;
}
.observation_body .nav-tabs li:last-child a{
    border:1px solid #eeeeee !important;
}
.model-copy .nav-tabs li:last-child a{
    border-color: transparent !important;
}
.model-copy .nav-tabs li:last-child a.active{
    border-color: #dee2e6 !important;
    border-bottom-color: #fff !important;
}
.model-copy .nav-tabs li:last-child a:hover {
    border-color: #e9ecef #e9ecef #dee2e6 !important;
}
.model-copy .nav-tabs li:last-child a.active:hover {
    border-color: #e9ecef #e9ecef #dee2e6 !important;
    border-bottom-color: #fff !important;
}

.video_options ul{
    right:0px !important;
    left:inherit !important;
}
.dropdown-item {
    
    padding: 2px 10px !important;
    font-size: 15px !important;
    
}
.open .comm_options{
    background: #D6D6D6;
}

.comm_time .switch-medium{
    height: 14px !important;
    width: 30px !important;
}
.comm_time .switch-medium small {
    width: 8px !important;
    height: 8px !important;
}

.tag_rounded{
  border: solid 1px #ccc;
    border-radius: 3px;
    padding: 0px 5px 3px 12px;
    margin-left: 6px;
    vertical-align: top;
    margin-bottom: 4px;
    display: inline-block;
}
 .tag_rounded span   {
            margin-left: 5px;
    cursor: pointer;
    vertical-align: top;
    }
    .comment_tags custom-tags input{
        padding-left: 7px;
        
    }
    .fake_link {
        display: inline-block;;
    }
    .comm_option .custom_tag:first-child{
        margin-left:0px;
    }
    .uploader_adjs{
        margin-right: -4px;
    }
    .marg_top{
        top: 2px;
    }
    #overlay {
    opacity: 0.9;
}
.dropdown-header {
    padding-left: 10px !important;
}
.add_comm_btn .simple_btn, .comment_manage .simple_btn {
    background: none !important;
    color: #616161 !important;
    cursor: pointer !important;
}
.comm_time .switch-medium.checked small {
    left: 14px !important; 
}
.tags_icons{
        color: #8A8A8A;
    font-size: 16px;
    
}
.plusicon {
        color: #8A8A8A;
    font-size: 9px;
    top: 2px;
    position: relative;
    margin-left: 2px;
}
.full_width{
    
    width: 405px;
    text-overflow: ellipsis;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.cross_span{
    position: absolute;
    top: 0px;
    right: 2px;
}

.Pldropdown + .comments_desc .nav-item .nav-link{

    border: 0 !important;

}

.tag_adjusted{
    margin-left: 35px;
}
.text_margin_bottom{
    margin: 10px 0px;
}
.comm_options img{
        top: -2px;
    position: relative;
}
.card{
    color: #7B7280 !important;
}
.tab_no_border .nav-tabs{
border:0px !important;
}
.tab_no_border ul{
border:0px !important;
}
.tab_no_border ul li a{
padding-left: 0px !important;
}

.tab_no_border a.active, .tab_no_border a{
    border: 0 !important;
}

.video-js .vjs-fullscreen-control{
    left: 7px;
}

.ob_add_comment .add_comm_btn{
    height: 0;
    position: relative;
    top: 38px;
}
.ng2-nouislider .noUi-horizontal {
    background-color: #b1bdc3;
    background-image: -webkit-linear-gradient(top, #b1bdc3, #a2aeb4);
    background-image: linear-gradient(to bottom,#b1bdc3,#a2aeb4);
    height: 10px;
}
.ng2-nouislider .noUi-connect {
    background-color: #46ab32;
    background-image: -webkit-linear-gradient(top, #46ab32, #359a21);
    background-image: linear-gradient(to bottom, #46ab32, #359a21);
    -webkit-transition: background 450ms;
    transition: background 450ms;
}
.ng2-nouislider .noUi-handle {
    /*background: url("assets/imgs/sprites.video-editor.png") no-repeat;*/
    cursor: pointer;
    box-shadow: none;
    border: none;
}
.ng2-nouislider .noUi-handle:focus
{
    outline: none;
}
.ng2-nouislider .noUi-handle:before,.ng2-nouislider .noUi-handle:after{
    display: none;
}
.ng2-nouislider .noUi-horizontal .noUi-handle {
    height: 32px;
    width: 19px;
    top: -1px;
}
.ng2-nouislider .noUi-handle-lower {
    background-position: top left;
    right: -2px !important;
}
.ng2-nouislider .noUi-handle-upper {
    background-position: top right;
}
.ng2-nouislider .noUi-target
{
    border-radius: 0;
    box-shadow: none;
}
.video_box > div
{
    margin : 0 auto;
}

.player_fwd{
    left: -26px;
    position: relative;
    display: inline-block;
}

.player_bk{
    left: -20px;
    position: relative;
    display: inline-block;
}
.vjs-volume-panel-horizontal{
    left: 10px !important;
}

.player_bk{
    left: -86%;
    cursor: pointer;
}
.player_fwd{
    left: -87%;
    cursor: pointer;
}

.bk_full{
    left: -95.5% !important;
}

.fw_full{
    left: -96% !important;
}

.play_adjusted{
    left: -10px !important;
}

.vjs-volume-bar{
    margin-right:10px !important;
}

.preview_container .slimScrollDiv{
    border-bottom: 1px solid #d0d0d0;
}

.preview_container #slimscroll{

    padding-bottom: 20px;

}

html{
    font-family: 'Roboto';
}

#header, #header a{
    
    font-family: 'Roboto', sans-serif !important;

}

.dropdown-item.disabled, .dropdown-item:disabled{
    color: #bcbcbc !important;
}

#intercom-container .intercom-launcher-discovery-frame{
    left:20px !important;
}
#intercom-container .intercom-launcher-frame{
    left:20px !important;
}

#intercom-container .intercom-messenger-frame{
    left:20px !important;
}
.intercom-launcher-badge-frame{
    left:65px !important;
}
.intercom-notifications-frame{
    left:20px !important;
}
.rubric_match_found{background: yellow !important;}

app-root{
    font-family: Roboto !important;
}