






















<div style="margin: 32px auto 0px;width: 948px;background: red;color: #fff;padding: 10px;display:none;">We are currently experiencing technical difficulties with video processing. If one of your huddles was inactivated after uploading a video, please let us know immediately. Thank you for your patience as we resolve this issue.</div>
                <div id="main" class="container" >
            
                <a id="btn-new-huddle" href="/Observe/add" class="btn btn-green right">New Observation</a>

<div id="sort-mode" class="dropdown right mmargin-right">
    <ul>
        <li><a href="/Huddles/index/grid/name/" title="View all" class="active">Sort</a></li>
        <li><a href="/Huddles/index/grid/name/" class="">By title</a></li>
        <li><a href="/Huddles/index/grid/date/" class="">By date created</a></li>
    </ul>
</div>

<!--<div id="view" class="mmargin-right right">
    <a href="/Huddles/index/list" class="icon-list " rel="tooltip" title="List View"></a>
    <a href="/Huddles" class="icon-grid active" rel="tooltip" title="Grid View"></a>
</div>-->
<div class="search-box12" style="width: 356px;float: right;position: relative;">
    <input type="hidden" id="search-mode" action="" class="btn-search" value="grid"/>
    <input type="button" id="btnHuddleSearch" action="" class="btn-search" value="" style="width:27px;"/>
    <input class="text-input" name="txtSearchHuddles" id="txtSearchHuddles" type="text" value="" placeholder="Search Huddles..." style="margin-right: 25px;"/>
    <span id="clearSearchHuddles"  style="display: none;" class="clear-video-input-box cross-search search-x-huddles">X</span>
</div>
<h1 class="page-title nomargin-top">Observations <span class="page-title__counter">( 8 )</span></h1>
<hr class="style2">
<style>
    .cross-search{
        margin-left: 6px;
        position: absolute;
        right: 54px;
        width: 327px;
        cursor: pointer;
    }
</style>

            <div class="lmargin-bottom" id="huddle-listings">

                        <div class="row huddles-list huddles-list--grid">
                
                    <div class="box style2 span4 compact observe">
                        <div class="box-wrapper">
                        <h4 class="nomargin-vertical wrap">
                            <a title="Acme H.S. Science Department PLC " class="invitation-title" href="/Observe/detail">
                            Memorial Elementary Workshop</a>
                        </h4>

                        <div style="overflow:hidden;">
                            <p class="smargin-vertical"> <i>May 11, 2015</i> </p>
                        </div>

                        <hr class="full dashed nomargin-vertical">

                        <h5 class="smargin-vertical"><a href="/Observe/details">Observee</a></h5>
                                                                            <div class="widget-scrollable nopadding-left nopadding-top smargin-vertical">
                                <div class="scrollbar" style="height: 44px;">
                                    <div class="track" style="height: 44px;">
                                        <div class="thumb" style="top: 0px; height: 15.3651px;">
                                            <div class="end"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="viewport vshort2">
                                    <div class="overview" style="top: 0px;">                                                                                              
                                        <img src="<?php echo '/img/users/392321_10150571467603916_1423098013_n.jpg' ?>" alt="Lindsey Anderson" class="photo" data-original-title="Lindsey Anderson" height="34" rel="tooltip" width="34" align="left" />                                                                                                                                             </div>
                                </div>
                                
                                <hr class="full dashed nomargin-vertical">
                                
                                  <h5 class="smargin-vertical">Observer</h5>
                                 <div class="viewport vshort2">
                                    <div class="overview" style="top: 0px;">   <img src="img/users/photo_3.jpg" alt="Lindsey Anderson" class="photo" data-original-title="Lindsey Anderson" height="34" rel="tooltip" width="34" align="left" />   </div>
                                </div> 
                            </div> 
                        </div>
                        <hr class="full smargin-vertical">
                        <div class="text-center">
                            <div class="action-buttons btn-group">
                                <a class="btn" href="/Observe/detail">View</a>
                                                                    <a rel="tooltip" class="btn" href="/Huddles/edit/657"
                                       data-original-title="Edit"><img src="img/alert-img.png" /></a>
                                                                                                    <a rel="tooltip" data-method="delete" data-confirm="Are you sure you want to permanently delete this huddle?"
                                       class="btn icon2-trash" href="/Huddles/delete/668"
                                       data-original-title="Delete"></a>
                                                            </div>
                        </div>

                    </div>
                
                     
                
                     
                
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     <div class="box style2 span4 compact observe">
                        <div class="box-wrapper">
                        <h4 class="nomargin-vertical wrap">
                            <a title="Acme H.S. Science Department PLC " class="invitation-title" href="/Observe/detail">
                            Memorial Elementary Workshop</a>
                        </h4>

                        <div style="overflow:hidden;">
                            <p class="smargin-vertical"> <i>May 11, 2015</i> </p>
                        </div>

                        <hr class="full dashed nomargin-vertical">

                        <h5 class="smargin-vertical">Observee</h5>
                                                                            <div class="widget-scrollable nopadding-left nopadding-top smargin-vertical">
                                <div class="scrollbar" style="height: 44px;">
                                    <div class="track" style="height: 44px;">
                                        <div class="thumb" style="top: 0px; height: 15.3651px;">
                                            <div class="end"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="viewport vshort2">
                                    <div class="overview" style="top: 0px;">                                                             <img src="img/users/392321_10150571467603916_1423098013_n.jpg" alt="Lindsey Anderson" class="photo" data-original-title="Lindsey Anderson" height="34" rel="tooltip" width="34" align="left" />                                                                                                                                             </div>
                                </div>
                                
                                <hr class="full dashed nomargin-vertical">
                                
                                  <h5 class="smargin-vertical">Observer</h5>
                                 <div class="viewport vshort2">
                                    <div class="overview" style="top: 0px;">   <img src="img/users/photo_3.jpg" alt="Lindsey Anderson" class="photo" data-original-title="Lindsey Anderson" height="34" rel="tooltip" width="34" align="left" />   </div>
                                </div> 
                            </div> 
                        </div>
                        <hr class="full smargin-vertical">
                        <div class="text-center">
                            <div class="action-buttons btn-group">
                                <a class="btn" href="/Observe/detail">View</a>
                                                                    <a rel="tooltip" class="btn" href="/Huddles/edit/657"
                                       data-original-title="Edit"><img src="img/alert-img.png" /></a>
                                                                                                    <a rel="tooltip" data-method="delete" data-confirm="Are you sure you want to permanently delete this huddle?"
                                       class="btn icon2-trash" href="/Huddles/delete/668"
                                       data-original-title="Delete"></a>
                                                            </div>
                        </div>

                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                     <div class="box style2 span4 compact observe">
                        <div class="box-wrapper">
                        <h4 class="nomargin-vertical wrap">
                            <a title="Acme H.S. Science Department PLC " class="invitation-title" href="/Observe/detail">
                            Memorial Elementary Workshop</a>
                        </h4>

                        <div style="overflow:hidden;">
                            <p class="smargin-vertical"> <i>May 11, 2015</i> </p>
                        </div>

                        <hr class="full dashed nomargin-vertical">

                        <h5 class="smargin-vertical">Observee</h5>
                                                                            <div class="widget-scrollable nopadding-left nopadding-top smargin-vertical">
                                <div class="scrollbar" style="height: 44px;">
                                    <div class="track" style="height: 44px;">
                                        <div class="thumb" style="top: 0px; height: 15.3651px;">
                                            <div class="end"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="viewport vshort2">
                                    <div class="overview" style="top: 0px;">                                                             <img src="img/users/392321_10150571467603916_1423098013_n.jpg" alt="Lindsey Anderson" class="photo" data-original-title="Lindsey Anderson" height="34" rel="tooltip" width="34" align="left" />                                                                                                                                             </div>
                                </div>
                                
                                <hr class="full dashed nomargin-vertical">
                                
                                  <h5 class="smargin-vertical">Observer</h5>
                                 <div class="viewport vshort2">
                                    <div class="overview" style="top: 0px;">   <img src="img/users/photo_3.jpg" alt="Lindsey Anderson" class="photo" data-original-title="Lindsey Anderson" height="34" rel="tooltip" width="34" align="left" />   </div>
                                </div> 
                            </div> 
                        </div>
                        <hr class="full smargin-vertical">
                        <div class="text-center">
                            <div class="action-buttons btn-group">
                                <a class="btn" href="/Observe/detail">View</a>
                                                                    <a rel="tooltip" class="btn" href="/Huddles/edit/657"
                                       data-original-title="Edit"><img src="img/alert-img.png" /></a>
                                                                                                    <a rel="tooltip" data-method="delete" data-confirm="Are you sure you want to permanently delete this huddle?"
                                       class="btn icon2-trash" href="/Huddles/delete/668"
                                       data-original-title="Delete"></a>
                                                            </div>
                        </div>

                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                     <div class="box style2 span4 compact observe">
                        <div class="box-wrapper">
                        <h4 class="nomargin-vertical wrap">
                            <a title="Acme H.S. Science Department PLC " class="invitation-title" href="/Observe/detail">
                            Memorial Elementary Workshop</a>
                        </h4>

                        <div style="overflow:hidden;">
                            <p class="smargin-vertical"> <i>May 11, 2015</i> </p>
                        </div>

                        <hr class="full dashed nomargin-vertical">

                        <h5 class="smargin-vertical">Observee</h5>
                                                                            <div class="widget-scrollable nopadding-left nopadding-top smargin-vertical">
                                <div class="scrollbar" style="height: 44px;">
                                    <div class="track" style="height: 44px;">
                                        <div class="thumb" style="top: 0px; height: 15.3651px;">
                                            <div class="end"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="viewport vshort2">
                                    <div class="overview" style="top: 0px;">                                                             <img src="img/users/392321_10150571467603916_1423098013_n.jpg" alt="Lindsey Anderson" class="photo" data-original-title="Lindsey Anderson" height="34" rel="tooltip" width="34" align="left" />                                                                                                                                             </div>
                                </div>
                                
                                <hr class="full dashed nomargin-vertical">
                                
                                  <h5 class="smargin-vertical">Observer</h5>
                                 <div class="viewport vshort2">
                                    <div class="overview" style="top: 0px;">   <img src="img/users/photo_3.jpg" alt="Lindsey Anderson" class="photo" data-original-title="Lindsey Anderson" height="34" rel="tooltip" width="34" align="left" />   </div>
                                </div> 
                            </div> 
                        </div>
                        <hr class="full smargin-vertical">
                        <div class="text-center">
                            <div class="action-buttons btn-group">
                                <a class="btn" href="/Observe/detail">View</a>
                                                                    <a rel="tooltip" class="btn" href="/Huddles/edit/657"
                                       data-original-title="Edit"><img src="img/alert-img.png" /></a>
                                                                                                    <a rel="tooltip" data-method="delete" data-confirm="Are you sure you want to permanently delete this huddle?"
                                       class="btn icon2-trash" href="/Huddles/delete/668"
                                       data-original-title="Delete"></a>
                                                            </div>
                        </div>

                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                     <div class="box style2 span4 compact observe">
                        <div class="box-wrapper">
                        <h4 class="nomargin-vertical wrap">
                            <a title="Acme H.S. Science Department PLC " class="invitation-title" href="/Observe/detail">
                            Memorial Elementary Workshop</a>
                        </h4>

                        <div style="overflow:hidden;">
                            <p class="smargin-vertical"> <i>May 11, 2015</i> </p>
                        </div>

                        <hr class="full dashed nomargin-vertical">

                        <h5 class="smargin-vertical">Observee</h5>
                                                                            <div class="widget-scrollable nopadding-left nopadding-top smargin-vertical">
                                <div class="scrollbar" style="height: 44px;">
                                    <div class="track" style="height: 44px;">
                                        <div class="thumb" style="top: 0px; height: 15.3651px;">
                                            <div class="end"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="viewport vshort2">
                                    <div class="overview" style="top: 0px;">                                                             <img src="img/users/392321_10150571467603916_1423098013_n.jpg" alt="Lindsey Anderson" class="photo" data-original-title="Lindsey Anderson" height="34" rel="tooltip" width="34" align="left" />                                                                                                                                             </div>
                                </div>
                                
                                <hr class="full dashed nomargin-vertical">
                                
                                  <h5 class="smargin-vertical">Observer</h5>
                                 <div class="viewport vshort2">
                                    <div class="overview" style="top: 0px;">   <img src="img/users/photo_3.jpg" alt="Lindsey Anderson" class="photo" data-original-title="Lindsey Anderson" height="34" rel="tooltip" width="34" align="left" />   </div>
                                </div> 
                            </div> 
                        </div>
                        <hr class="full smargin-vertical">
                        <div class="text-center">
                            <div class="action-buttons btn-group">
                                <a class="btn" href="/Observe/detail">View</a>
                                                                    <a rel="tooltip" class="btn" href="/Huddles/edit/657"
                                       data-original-title="Edit"><img src="img/alert-img.png" /></a>
                                                                                                    <a rel="tooltip" data-method="delete" data-confirm="Are you sure you want to permanently delete this huddle?"
                                       class="btn icon2-trash" href="/Huddles/delete/668"
                                       data-original-title="Delete"></a>
                                                            </div>
                        </div>

                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                     <div class="box style2 span4 compact observe">
                        <div class="box-wrapper">
                        <h4 class="nomargin-vertical wrap">
                            <a title="Acme H.S. Science Department PLC " class="invitation-title" href="/Observe/detail">
                            Memorial Elementary Workshop</a>
                        </h4>

                        <div style="overflow:hidden;">
                            <p class="smargin-vertical"> <i>May 11, 2015</i> </p>
                        </div>

                        <hr class="full dashed nomargin-vertical">

                        <h5 class="smargin-vertical">Observee</h5>
                                                                            <div class="widget-scrollable nopadding-left nopadding-top smargin-vertical">
                                <div class="scrollbar" style="height: 44px;">
                                    <div class="track" style="height: 44px;">
                                        <div class="thumb" style="top: 0px; height: 15.3651px;">
                                            <div class="end"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="viewport vshort2">
                                    <div class="overview" style="top: 0px;">                                                             <img src="img/users/392321_10150571467603916_1423098013_n.jpg" alt="Lindsey Anderson" class="photo" data-original-title="Lindsey Anderson" height="34" rel="tooltip" width="34" align="left" />                                                                                                                                             </div>
                                </div>
                                
                                <hr class="full dashed nomargin-vertical">
                                
                                  <h5 class="smargin-vertical">Observer</h5>
                                 <div class="viewport vshort2">
                                    <div class="overview" style="top: 0px;">   <img src="img/users/photo_3.jpg" alt="Lindsey Anderson" class="photo" data-original-title="Lindsey Anderson" height="34" rel="tooltip" width="34" align="left" />   </div>
                                </div> 
                            </div> 
                        </div>
                        <hr class="full smargin-vertical">
                        <div class="text-center">
                            <div class="action-buttons btn-group">
                                <a class="btn" href="/Observe/detail">View</a>
                                                                    <a rel="tooltip" class="btn" href="/Huddles/edit/657"
                                       data-original-title="Edit"><img src="img/alert-img.png" /></a>
                                                                                                    <a rel="tooltip" data-method="delete" data-confirm="Are you sure you want to permanently delete this huddle?"
                                       class="btn icon2-trash" href="/Huddles/delete/668"
                                       data-original-title="Delete"></a>
                                                            </div>
                        </div>

                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <div class="box style2 span4 compact observe">
                        <div class="box-wrapper">
                        <h4 class="nomargin-vertical wrap">
                            <a title="Acme H.S. Science Department PLC " class="invitation-title" href="/Observe/detail">
                            Memorial Elementary Workshop</a>
                        </h4>

                        <div style="overflow:hidden;">
                            <p class="smargin-vertical"> <i>May 11, 2015</i> </p>
                        </div>

                        <hr class="full dashed nomargin-vertical">

                        <h5 class="smargin-vertical">Observee</h5>
                                                                            <div class="widget-scrollable nopadding-left nopadding-top smargin-vertical">
                                <div class="scrollbar" style="height: 44px;">
                                    <div class="track" style="height: 44px;">
                                        <div class="thumb" style="top: 0px; height: 15.3651px;">
                                            <div class="end"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="viewport vshort2">
                                    <div class="overview" style="top: 0px;">                                                             <img src="img/users/392321_10150571467603916_1423098013_n.jpg" alt="Lindsey Anderson" class="photo" data-original-title="Lindsey Anderson" height="34" rel="tooltip" width="34" align="left" />                                                                                                                                             </div>
                                </div>
                                
                                <hr class="full dashed nomargin-vertical">
                                
                                  <h5 class="smargin-vertical">Observer</h5>
                                 <div class="viewport vshort2">
                                    <div class="overview" style="top: 0px;">   <img src="img/users/photo_3.jpg" alt="Lindsey Anderson" class="photo" data-original-title="Lindsey Anderson" height="34" rel="tooltip" width="34" align="left" />   </div>
                                </div> 
                            </div> 
                        </div>
                        <hr class="full smargin-vertical">
                        <div class="text-center">
                            <div class="action-buttons btn-group">
                                <a class="btn" href="/Observe/detail">View</a>
                                                                    <a rel="tooltip" class="btn" href="/Huddles/edit/657"
                                       data-original-title="Edit"><img src="img/alert-img.png" /></a>
                                                                                                    <a rel="tooltip" data-method="delete" data-confirm="Are you sure you want to permanently delete this huddle?"
                                       class="btn icon2-trash" href="/Huddles/delete/668"
                                       data-original-title="Delete"></a>
                                                            </div>
                        </div>

                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <div class="box style2 span4 compact observe">
                        <div class="box-wrapper">
                        <h4 class="nomargin-vertical wrap">
                            <a title="Acme H.S. Science Department PLC " class="invitation-title" href="/Observe/detail">
                            Memorial Elementary Workshop</a>
                        </h4>

                        <div style="overflow:hidden;">
                            <p class="smargin-vertical"> <i>May 11, 2015</i> </p>
                        </div>

                        <hr class="full dashed nomargin-vertical">

                        <h5 class="smargin-vertical">Observee</h5>
                                                                            <div class="widget-scrollable nopadding-left nopadding-top smargin-vertical">
                                <div class="scrollbar" style="height: 44px;">
                                    <div class="track" style="height: 44px;">
                                        <div class="thumb" style="top: 0px; height: 15.3651px;">
                                            <div class="end"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="viewport vshort2">
                                    <div class="overview" style="top: 0px;">                                                             <img src="img/users/392321_10150571467603916_1423098013_n.jpg" alt="Lindsey Anderson" class="photo" data-original-title="Lindsey Anderson" height="34" rel="tooltip" width="34" align="left" />                                                                                                                                             </div>
                                </div>
                                
                                <hr class="full dashed nomargin-vertical">
                                
                                  <h5 class="smargin-vertical">Observer</h5>
                                 <div class="viewport vshort2">
                                    <div class="overview" style="top: 0px;">   <img src="img/users/photo_3.jpg" alt="Lindsey Anderson" class="photo" data-original-title="Lindsey Anderson" height="34" rel="tooltip" width="34" align="left" />   </div>
                                </div> 
                            </div> 
                        </div>
                        <hr class="full smargin-vertical">
                        <div class="text-center">
                            <div class="action-buttons btn-group">
                                <a class="btn" href="/Observe/detail">View</a>
                                                                    <a rel="tooltip" class="btn" href="/Huddles/edit/657"
                                       data-original-title="Edit"><img src="img/alert-img.png" /></a>
                                                                                                    <a rel="tooltip" data-method="delete" data-confirm="Are you sure you want to permanently delete this huddle?"
                                       class="btn icon2-trash" href="/Huddles/delete/668"
                                       data-original-title="Delete"></a>
                                                            </div>
                        </div>

                    </div>
                     
                     
                     
                     
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                  
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                
                     
                
                     
                
                     
                
                     
                
                     
                            </div>

            </div>
        </div>