pagination-controls {
    width: 100%;
}

.ngx-pagination {
    width: 100%;
    text-align: center;
}

.ngx-pagination .current {
    color: #2199e8 !important;
    background: none !important;
}

.ngx-pagination li a, .ngx-pagination li span {
    font-size: 16px;
    outline: none;
}

.ngx-pagination a:hover, .ngx-pagination button:hover {
    background: none !important;
    text-decoration: none;
}

.ngx-pagination .pagination-previous {
    opacity: 1 !important;
    top: auto !important;
    height: auto !important;
    width: auto !important;
}

.ngx-pagination .pagination-previous.disabled {
    opacity: 1 !important;
    top: auto !important;
    height: auto !important;
    width: auto !important;
}

.ngx-pagination .pagination-previous a, .pagination-previous span {
    display: inherit !important;
}

.ngx-pagination .pagination-next {
    opacity: 1 !important;
    top: auto !important;
    height: auto !important;
    width: auto !important;
}

.ngx-pagination .pagination-next.disabled {
    opacity: 1 !important;
    top: auto !important;
    height: auto !important;
    width: auto !important;
}

.ngx-pagination .pagination-next a, .pagination-next span {
    display: inherit !important;
}

.ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after {
    content: '' !important;
}

.ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before {
    content: '' !important;
}

.selected-item {
    white-space: nowrap !important;
    text-overflow: ellipsis;
    color: #000;
    background: none !important;
    border: 0 !important;
    padding: 0!important;
    font-size: 12px!important;
    max-width: 64%!important;
    overflow: hidden;
}

.dropdown-up {
    border-bottom: 5px solid #adadad!important;
    border-left: 5px solid transparent!important;
    border-right: 5px solid transparent!important;
}

.panl_heading .col-6 {
    padding: 0 7px;
}
