<!-- <p>leader-board works!</p> -->
<div class="sek" *ngIf="isLoading">
    <div class="ana_cl an_ahc"> </div>
    <div class="ana_cl an_ahc"> </div>
    <div class="ana_cl an_ahc"> </div>
    <div class="ana_cl an_ahc_2"> </div>

    <div class="ana_cl an_ahc"> </div>
    <div class="ana_cl an_ahc"> </div>
    <div class="ana_cl an_ahc"> </div>
    <div class="ana_cl an_ahc_2"> </div>

    <div class="ana_cl an_ahc"> </div>
    <div class="ana_cl an_ahc"> </div>
    <div class="ana_cl an_ahc"> </div>
    <div class="ana_cl an_ahc_2"> </div>
</div>
<div *ngIf="!isLoading" [chart]="chart" style="width: 100%; height: 600px; display: block;"></div>