::ng-deep .highcharts-stack-labels text {
  transform: translateX(6px);
}

div {
  border-bottom: 1px solid gray;
}

.an_ahc{
	width: 100%;
	height: 20px;
  margin-bottom: 8px;
  border: 0px !important;
}

.an_ahc_2{
	  width: 50%;
    height: 20px;
    margin-bottom: 30px;
    border: 0px !important;
}

.sek{
    padding-top: 20px;
}