@media screen and (min-width:1280px) { 
    .container { max-width: 1200px !important;
        padding: 0 15px !important;
        }
       }
  
  @media screen and (min-width:1500px) {
  
    .container { max-width: 1450px !important;    padding: 0 15px !important; }
  } 
.bred_an {
    font-size: 14px;
    position: relative;
    top: 11px;
    color: #4d504d !important;
    padding: 0 0 24px 0!important;
}
.bred_an img{ margin:0 15px;}

.bred_an a{ 
    color: #838383 !important;
    font-weight: 400;
    font-family: Roboto;
}
/*.bred_an {
    position: relative;
    top: 24px;
    color: #4d504d;
    font-family: 'Roboto';
}*/

a.disabled {
   pointer-events: none;
   cursor: default;
}
.br_an{    background: #615959 !important; background: linear-gradient(to right, #f1f1f1 8%, #e7e7e7 18%, #dfdfdf 33%) !important;}


.bred_an span:last-child {
    color: #484848!important;
    font-weight: 500;
}
.m0{ margin:0 !important;}

@media screen and (max-width:1279.999px) { 
    .bred_an { padding: 0 0 11px 0!important;}
       }
  