<div class="clear"></div>

<div *ngIf="!isLoadingBread" class="container bred_an">
    <div class="p_ani br_anp m0"></div>
</div>

<div *ngIf="isLoadingBread" class="container bred_an">
    <a [routerLink]="['/']">{{translation?.home_breadcrumb_ppl}}</a>

    <ng-container *ngIf="breadcrubms && breadcrubms?.length>0">
        <img src="assets/img/breadcrumarrow.svg">
        <a [routerLink]="['/list']">
            {{translation?.huddle_breadcrumb_huddle}}
        </a>
        <ng-container *ngFor="let bc of breadcrubms; let last=last">
            <img src="assets/img/breadcrumarrow.svg">
            <a [routerLink]="['/list', bc.folder_id]" [class.disabled]="last">
                {{bc.folder_name}}
            </a>
        </ng-container>
    </ng-container>
    <ng-container>
        <img src="assets/img/breadcrumarrow.svg"> <span>{{translation?.people_people_section}}</span>
    </ng-container>

</div>
<div class="clear"></div>