<div class="new_huser">
     <a (click)="showNewUserModal(template)"><img src="assets/img/user_plus.png" />{{translation?.huddle_new_users}}</a>
    
</div>




<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{translation?.add_new_user}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <div class="row" style="margin: 0">
	  	<div class="col-sm-3">
	  		<label class="field_title"> {{translation?.huddle_first_name}} </label>
	  	</div>

	  	<div class="col-sm-3">
	  		<label class="field_title">  {{translation?.huddle_last_name}} </label>
	  	</div>

	  	<div class="col-sm-6">
	  		<label class="field_title"> {{translation?.huddle_table_email}} </label>
	  	</div>
	</div>
  	<div class="row newUserRow" *ngFor="let row of usersData; let i=index">
  		
  		<div class="col-sm-3">
  			
  			<input type="text" maxlength="25" class="form-control" [(ngModel)]="row.first_name">

  		</div>

  		<div class="col-sm-3">
  			
  			<input type="text" maxlength="25" class="form-control" [(ngModel)]="row.last_name">

  		</div>
  		<div class="col-sm-6">
  			
  			<input type="text" maxlength="256" class="form-control" [(ngModel)]="row.email">

  		</div>

  	</div>

  </div>
  <div class="modal-footer">

  	<div class="row text-right">
  			
  		<button (click)="resolve_new(0, usersData)" class="hu_cancel">{{translation?.huddle_cancel_btn}}</button>
  		<button (click)="resolve_new(1, usersData)" class="hu_primary">{{translation?.huddle_save_and_add_more}}</button>
  		<button (click)="resolve_new(2, usersData)" class="hu_primary">{{translation?.huddle_user_save}}</button>

  	</div>

  </div>
</ng-template>