.activity_main { margin:0; padding:20px 0 0 0;}
.act_left h3{ font-size:18px;     padding: 26px 15px 10px 15px}
.act_right h3{ font-size:18px;     padding: 26px 15px 20px 15px}
/* .act_left h3{ font-size:18px; padding-top: 26px;  padding-bottom: 10px; padding-left: 15px;  }
.act_right h3{ font-size:18px;    padding-top: 26px;  padding-bottom: 20px;  } */
.act_right{border-left: 1px solid #ddd;}

