<div class="row">
  <div class="col-md-7 act_left" *ngIf="enableLeaderBoard">
    <h3>{{translations?.analytics_account_activity}}</h3>
    <overview *ngIf="navTabsLoaded"></overview>
  </div>

  <div class="col-md-12 act_left" *ngIf="!enableLeaderBoard">
    <h3>{{translations?.analytics_account_activity}}</h3>
    <overview *ngIf="navTabsLoaded"></overview>
  </div>

  <div class="col-md-5 act_right" *ngIf="enableLeaderBoard">
    <div class="sek">
      <div class="ana_cl an_ahc"> </div>
      <div class="ana_cl an_ahc"> </div>
      <div class="ana_cl an_ahc"> </div>
      <div class="ana_cl an_ahc_2"> </div>

      <div class="ana_cl an_ahc"> </div>
      <div class="ana_cl an_ahc"> </div>
      <div class="ana_cl an_ahc"> </div>
      <div class="ana_cl an_ahc_2"> </div>

      <div class="ana_cl an_ahc"> </div>
      <div class="ana_cl an_ahc"> </div>
      <div class="ana_cl an_ahc"> </div>
      <div class="ana_cl an_ahc_2"> </div>
    </div>
    
    <h3>{{translations?.analytics_account_leaderboard}}</h3>
    
    <app-leader-board></app-leader-board>
    
  </div>
  
  
  <!-- <div class="col-md-7 col-sm-12 col-12">        </div>
               <div class="col-md-5  col-sm-12 col-12"><app-leader-board></app-leader-board></div> -->
</div>


