<div class="container bred_an">
    <div class="">
        <a [routerLink]="['/']">{{translations.home_global}}</a> <img src="assets/img/breadcrumarrow.svg"> 
        <a [routerLink]="['/account-settings']">{{translations.account_settings_all}}</a> <img src="assets/img/breadcrumarrow.svg">
        <span><b>{{translations.frameworks_angular_rubrics}}</b> </span>
    </div>
</div>
<ng-container *ngIf="loading"> 
  <div class="container box_outer">
    <div class="box_whcls row">
    <div class="col-12">
     <div class="row panl_heading">
     
        <div class="col-8">
          <h3 class="g_ani2 gn1"></h3>
        </div>
        
        <div class="col-4 bk_goal2">
        <span class="g_ani2 gn2"></span>
         </div>
                          
          
        </div>
        <div class="row r_butn">
          <div class="col-md-12">
            <div class="g_ani2 gn5"></div>
          </div>
        </div>
        <div class="fname prc">
        <label class="g_ani2 gn5"> </label>
        <div class="g_ani2 gn6"></div>
        </div>
        
       <div class="fr_left">
         <div class="g_ani2 gn6"></div>
         <div class="g_ani2 gn6"></div>
         <div class="g_ani2 gn6"></div>
         <div class="g_ani2 gn6"></div>
         <div class="g_ani2 gn6"></div>
        </div>
       <div class="fr_right">
          <div class="g_ani2 gn6"></div>
          <div class="g_ani2 gn6"></div>
          <div class="g_ani2 gn6"></div>
          <div class="g_ani2 gn6"></div>
          <div class="g_ani2 gn6"></div>
        </div>
     
     
     <div class="clearfix"></div>
     
     
     
    </div>
    
    </div>
    
    </div>
 
</ng-container>
  <ng-container *ngIf="!loading"> 
<div class="container box_outer">
  <div class="box_whcls row">
    <div class="col-12">
      <div class="row panl_heading">
        <div class="col-8">
          <h3>{{translations.framework_angular_rubrics}}</h3>
        </div>

        <div class="col-4 bk_goal2">
          <a routerLink="/account-settings/rubrics"><img src="assets/rubrics/img/left-arrow.svg"> {{translations.back_to_frameworks_angular_rubrics}} </a>
        </div>


      </div>

      <div class="row r_butn" *ngIf="child_check">
        <div class="col-md-12">
          <label class="switch">
            <input type="checkbox" [(ngModel)]="parent_sharing" >
            <span class="slider round"></span>
          </label> {{translations.share_with_child_angular_rubrics}}
        </div>
      </div>

      <div class="fname">
        <label>{{translations.framework_name_angular_rubrics}}<span *ngIf="rubric_name_check">{{maxChars-rubric_name.length +"/"+maxChars}}</span></label>
        <input  (paste)="preventSpacesFromPaste($event)"  (input)="inputValue($event)" (cut)="preventSpacesFromPaste($event)" type="text" class="form-control" [maxlength]="maxChars" [(ngModel)]="rubric_name" (blur)="onBlurTitle()" (focus)="onFocusTitle()">
      </div>

      <div class="fr_left">
        <h4>{{translations.framework_tiers_angular_rubrics}}</h4>

        <p>{{translations.number_of_tiers_angular_rubrics}}</p>
        <div class="btn-group btn-group-toggle mea_opt" data-toggle="buttons">
          <ng-container *ngFor="let i of [1, 2, 3 , 4]">
            <label class="btn btn-secondary" [ngStyle]="{'background': i === tier_level ? '#cccccc' : '#fff' }">
              <input type="radio" name="options" id="option1" autocomplete="off" checked=""
                (click)="selectTierLevel(i)">
              {{i}}
            </label>
          </ng-container>
        </div>


        <p>{{translations.checkbox_tier_angular_rubrics}}</p>
        <div class="btn-group btn-group-toggle mea_opt" data-toggle="buttons">
          <ng-container *ngFor="let i of [1, 2, 3 , 4]">
            <label class="btn btn-secondary" [ngStyle]="{'background': i === check_box_level ? '#cccccc' : '#fff' }">
              <input type="radio" name="options" id="option1" autocomplete="off" checked="" (click)="checkBoxLevel(i)">
              {{i}}
            </label>
          </ng-container>
        </div>

      </div>
      <div class="fr_right">
        <h4>{{translations.framework_sample_angular_rubrics}}</h4>
        <div #framework_sample>
          <div class="fbox fl_1">
            <label class="checkboxcls" *ngIf="check_box_level == 1">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          <span>1.0</span> {{translations.sample_data_for_angular_rubrics}} 1.0.
          </div>
          <div class="fbox fl_2" *ngIf="tier_level >= 2">
            <label class="checkboxcls" *ngIf="check_box_level == 2">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <span>1.0</span> {{translations.sample_data_for_angular_rubrics}} 1.0.
          </div>
          <div class="fbox fl_3" *ngIf="tier_level >= 3">
            <label class="checkboxcls" *ngIf="check_box_level == 3">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <span>1.0</span> {{translations.sample_data_for_angular_rubrics}} 1.0.
          </div>
          <div class="fbox fl_4" *ngIf="tier_level == 4">
            <label class="checkboxcls" *ngIf="check_box_level == 4">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label> <span>1.0</span> {{translations.sample_data_for_angular_rubrics}} 1.0.
          </div>
        </div>
      </div>


      <div class="clearfix"></div>

      <div class="col-12">
        <div class="rub_btn">
          <button class="ru_cancel" (click)="loadFilterDialogUpdate(dialoguebox)">{{translations.cancel_angular_rubrics}}</button>
          <button type="button" (click)="saveFramework()" class="ru_save">{{translations.next_angular_rubrics}}</button>

        </div>

      </div>

    </div>

  </div>

</div>
</ng-container>

<ng-template #dialoguebox>
  <!-- <div  class="modal fade " >
    <div class="modal-dialog" style="max-width:500px;"> -->
    
      <div class="modal-content">
        <div class="modal-header">
         <h4 *ngIf="(check_new || !framework_id) && !is_duplicate" class="modal-title"><b>{{translations.cancel_framework_angular_rubrics}}</b></h4>
         <h4  *ngIf="framework_id && !is_duplicate && !dublicate_check && !check_new" class="modal-title"><b>{{translations.cancel_framework_edit_angular_rubrics}}</b></h4>
         <h4  *ngIf="is_duplicate ||dublicate_check && !check_new"  class="modal-title"><b>{{translations.cancel_duplicate_framework_angular_rubrics}}</b></h4>

          <button type="button" class="close" data-dismiss="modal" (click)="this.modalRef.hide();">&times;</button>
         
        </div>
          <div *ngIf="(check_new || !framework_id) && !is_duplicate">
          <div class="modal-body">
          <div class="short_msg">
          <p>{{translations.are_you_sure_adding_new_framework_angular_rubrics}}<br>
           {{translations.this_cant_be_undone_angular_rubrics}}</p>
          </div>
          </div>
        </div>
        <div *ngIf="framework_id && !is_duplicate && !dublicate_check && !check_new">
          <div class="modal-body">
          <div class="short_msg">
          <p>{{translations.are_you_sure_editing_new_framework_angular_rubrics}}<br>
              {{translations.all_edits_will_be_lost_angular_rubrics}}</p>
          </div>
          </div>
        </div>
        <div *ngIf="is_duplicate ||dublicate_check && !check_new ">
          <div class="modal-body">
          <div class="short_msg">
          <p>{{translations.are_you_sure_like_to_cancel_duplicate_angular_rubrics}}<br>
            {{translations.this_cant_be_undone_angular_rubrics}}</p>
          </div>
          </div>
        </div>
  
        <div class="modal-footer footerm">
          
           
              <div class="col-12 share_btn">
                 
                   <button type="button" class="btn bgnone" data-dismiss="modal" (click)="this.modalRef.hide();">{{translations.cancel_angular_rubrics}}</button>
                   <button type="button" class="btn btn-success" (click)="navigateTo();this.modalRef.hide()">{{translations.ok_angular_rubrics}}</button>
              </div>
            
         
         
        <!-- </div>
      </div> -->
  
    </div>
  </div>
  </ng-template>
  