<analytics-breadcrumbs></analytics-breadcrumbs>
<div id="main" class="container box">
	<div class="analy_b">
		<div class="row panl_heading">

			<div class="col-md-6">
				<h3 *ngIf="!translationLoaded" class="ani_brcls an_ah1"></h3>
				<h3 *ngIf="translationLoaded">{{translation?.account_analytics}}</h3>

			</div>
			<!-- <div class="col-md-6 topright">
				<h2 *ngIf="!translationLoaded" class="ani_brcls an_ah1"></h2>
			<div  [hidden]="currentTab==1">
			<p *ngIf="translationLoaded && isCached==1 && !loadFromFilter && !saveAndUpdate"></p>
			<p *ngIf="translationLoaded && isCached==1 && loadFromFilter && !saveAndUpdate">{{translation?.search_result_are_displaying}} <b tooltip="{{currentFilter}}" data-placement="left">{{currentFilter | slice: 0:12}}  </b>

				</p>
				<p *ngIf="saveAndUpdate">{{translation?.search_result_are_displaying}} <b tooltip="{{filterNameSU}}" data-placement="left">{{filterNameSU | slice: 0:12}}  </b>
				</p>

					<div class="saved_filter dropdown_row" dropdown>
					  <a id="tagged" dropdownToggle aria-controls="dropdown-basic">
						<button type="button">
						<img class="dd_toggle" src="assets/img/dots.svg" />
						</button>
					  </a>
					  <ul id="tagged" *dropdownMenu class="dropdown-menu dropdown-menu-right positionFix" role="menu"
						aria-labelledby="button-basic">
						<li role="menuitem"><a class="dropdown-item" (click)="loadFilterDialog(ChangeFilter)">{{translation?.analytics_load_filters}}</a></li>

					  </ul>
					</div>
			<p  *ngIf="translationLoaded && isCached==1 && lastCachedDate!=''">{{translation?.data_was_last_refresh}} {{lastCachedDate}} <a (click)="forceRefreshData()">{{translation?.analytics_force_refresh}}</a></p>
			</div>
		</div> -->
		</div>
		<div class="cls-right">

		</div>
		<plans-billings-shared override></plans-billings-shared>
		<!-- analytics_ready condition is added during data migration process   -->
		<div *ngIf="!analytics_ready" class="mg_alert">
			<div class="cs1">
				<svg style="height: 38px;" id="Group_332" data-name="Group 332" xmlns="http://www.w3.org/2000/svg"
					width="90.7" height="90.7" viewBox="0 0 90.7 90.7">
					<path id="Path_51" data-name="Path 51"
						d="M45.35,0A45.29,45.29,0,1,1,13.265,13.265,45.239,45.239,0,0,1,45.35,0Zm0,56.708a6.121,6.121,0,0,1,6.135,6.135,6.192,6.192,0,0,1-6.135,6.218,6.263,6.263,0,0,1-6.218-6.218A6.192,6.192,0,0,1,45.35,56.708Zm0-6.218A4.329,4.329,0,0,1,41.2,46.345L39.132,27.857c-.332-3.233,3.068-6.218,6.218-6.218s6.55,2.985,6.135,6.218L49.5,46.345A4.329,4.329,0,0,1,45.35,50.49Zm26.2-31.422A37.129,37.129,0,1,0,82.409,45.35,37.325,37.325,0,0,0,71.549,19.069Z"
						transform="translate(0)" fill="#616161" />
				</svg>
			</div>
			<div class="mig_msg">
				<span>{{translation?.analytics_migration_msg}}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 mt-2 p-0">
				<!-- <trackers-filters *ngIf="analytics_ready"  [report_type]="'analytics_new'"  (filterKeyEmitter)="filterKeyEmitter($event)" (filterData)="handleChange($event)"
            (SearchEvent)="onSearch($event)" ></trackers-filters> -->
			</div>
		</div>

		<div *ngIf="analytics_ready" class="filter_an">

			<div class="row">

				<div *ngIf="!selectedItem || !translationLoaded" class="selec_opt single_select ana_cl an_ah2"></div>
				<div *ngIf="translationLoaded && selectedItem" class="selec_opt single_select">
					<ng-multiselect-dropdown name="account" [placeholder]="translation.analytics_sub_account"
						[settings]="settings" [data]="sub_accounts" [(ngModel)]="selectedItem"
						(onSelect)="onItemSelect($event)" (onDeSelect)="onItemChange($event,selectedItem)">
					</ng-multiselect-dropdown>
				</div>
				<div *ngIf="!translationLoaded || !selectedItem" class="serch_op ana_cl an_ah2c1 "></div>
				<div *ngIf="translationLoaded && selectedItem" class="serch_op">
					<span (click)="selectDuration(1);" [ngClass]="{'active': filters.duration===1}">1
						{{translation?.analytics_month}}</span>
					<span (click)="selectDuration(3);" [ngClass]="{'active': filters.duration===3}">3
						{{translation?.analytics_month}}</span>
					<span (click)="selectDuration(6);" [ngClass]="{'active': filters.duration===6}">6
						{{translation?.analytics_month}}</span>
					<span (click)="selectDuration(12);" [ngClass]="{'active': filters.duration===12}">12
						{{translation?.analytics_month}}</span>
				</div>
				<div *ngIf="!translationLoaded || !selectedItem" class="an_or ana_cl an_or_sk"></div>
				<div *ngIf="translationLoaded && selectedItem" class="an_or">
					{{translation?.analytics_or}}
				</div>
				<div *ngIf="!translationLoaded || !selectedItem" class="ana_cl an_date_sk"></div>
				<div *ngIf="translationLoaded && selectedItem" class="an_date">
					<input type="text" placeholder="{{translation?.analytics_select_date_range}}" [bsConfig]="bsConfig"
						bsDaterangepicker [(ngModel)]="filters.date_range" (bsValueChange)="deselectDuration($event)"
						#dp>
					<img src="assets/img/calendar.svg" (click)="showdp()" class="an_cal">
				</div>
				<div class="submit-btn-sk-box" [hidden]="currentTab==1">
					<div *ngIf="!translationLoaded || !selectedItem" class="ana_cl submit-btn-sk"></div>
				</div>
				<!-- <div class="submit-btn-sk-box" [hidden]="currentTab==1">
					<div *ngIf="!translationLoaded || !selectedItem" class="ana_cl submit-btn-sk"></div>
				</div> -->
				<div class="submit-btn" [hidden]="currentTab==1">
					<input *ngIf="translationLoaded && selectedItem" type="submit"
						value="{{translation?.analytics_update}}" (click)="updateData(false,false)"
						[style.backgroundColor]="primery_button_color">

				</div>
				<!-- <div class="submit-btn2" [hidden]="currentTab==1" >
					<input *ngIf="translationLoaded && selectedItem" type="submit" value="{{translation?.analytics_save_filter}}" (click)="saveFilterDialog(saveFilter)"
							[style.backgroundColor]="primery_button_color">
				</div> -->
				<div class="clear">
				</div>
				<div class="opt_row2 animated fadeIn" [hidden]="currentTab!=1">
					<div *ngIf="!translationLoaded || !dropdowns.selectedHuddle || !selectedItem"
						class="selec_opt2 single_select ana_cl an_ah2c4"></div>
					<div *ngIf="translationLoaded && dropdowns.selectedHuddle && selectedItem"
						class="selec_opt2 single_select">
						<ng-multiselect-dropdown name="huddles" [placeholder]=translation?.analytics_select_huddle
							[settings]="huddle_settings" [(ngModel)]="dropdowns.selectedHuddle"
							[data]="dropdowns.huddles_filters" (onSelect)="onHuddleSelectSelect($event)"
							(onDeSelect)="onHuddleDeselect($event)">
						</ng-multiselect-dropdown>
					</div>
					<div *ngIf="!translationLoaded || !dropdowns.selectedFramework || !selectedItem"
						class="selec_opt3 single_select ana_cl an_ah2c5"></div>
					<div *ngIf="translationLoaded && dropdowns.selectedFramework && selectedItem"
						class="selec_opt3 single_select">
						<ng-multiselect-dropdown name="frameworks" [placeholder]=translation?.analytics_select_framework
							[settings]="framework_settings" [(ngModel)]="dropdowns.selectedFramework"
							[data]="dropdowns.frameworks" (onSelect)="onFrameworkSelectSelect($event)"
							(onDeSelect)="onFrameworkDeselect($event)">
						</ng-multiselect-dropdown>
					</div>

					<div *ngIf="!translationLoaded || !selectedItem" class="selec_opt4 ana_cl an_ah2c6"></div>
					<div *ngIf="translationLoaded && selectedItem && dropdowns.standards" class="selec_opt4">
						<ng-multiselect-dropdown name="standards" [placeholder]=translation?.analytics_select_standards
							[settings]="standards_settings" [data]="dropdowns.standards" [(ngModel)]="filters.standards"
							(ngModelChange)="onStandardsSelectSelect($event)">
						</ng-multiselect-dropdown>
					</div>
					<div *ngIf="!translationLoaded || !selectedItem" class="an_date2 ana_cl an_ah2c7"></div>
					<div *ngIf="translationLoaded && selectedItem" class="an_date2">
						<input type="submit" value="{{translation?.analytics_update}}"
							[style.backgroundColor]="primery_button_color" (click)="updateData(false,true)"
							[hidden]="currentTab!=1">
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="analytics_ready" class="ana_body">
			<navtabs></navtabs>
		</div>
	</div>
</div>
<!--
<ng-template #saveFilter>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.analytics_save_filter}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideSaveFilterModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body savefilter">
		<label>{{translation?.analytics_filter_name}}</label>
		<input type="text" class="form-control" [(ngModel)]="filterName"/>

		<div class="row">
			<div class="col-7">
				{{translation?.analytics_account_name}}
			</div>
			<div class="col-5">
				{{selectedItem[0].company_name}}
			</div>
		</div>
		<div class="row" *ngIf="selectedControl!='month'">
			<div class="col-7">
				{{translation?.analytics_start_date}}
			</div>
			<div class="col-5">
				{{getFormattedDate(this.filters.date_range[0])}}
			</div>
		</div>
		<div class="row" *ngIf="selectedControl!='month'" >

			<div class="col-7">
				{{translation?.analytics_end_date}}
			</div>
			<div class="col-5">
				{{getFormattedDate(this.filters.date_range[1])}}

			</div>
		</div>
		<div class="row" *ngIf="selectedControl=='month' && filters.duration!=-1">

			<div class="col-12">
				{{translation?.analytics_search_data_past}} {{filters.duration}} {{translation?.analytics_months}}
			</div>

		</div>

		<div class="row" *ngIf="selectedControl!='date'">

			<div class="col-7">
				{{translation?.analytics_selected_duration}}
			</div>
			<div class="col-5">
				{{filters.duration!=-1 ? filters.duration: 'N/A'}}

			</div>
		</div>
		<div class="row">

			<div class="col-6 searchPcls">
				{{translation?.analytics_search_preference}}
			</div>
			<div class="col-3">
				<label class="radiocls">
					<input *ngIf="filters.duration==-1" [disabled]="true" type="radio" name="SFradio">
					<input *ngIf="filters.duration !=-1" type="radio" name="SFradio" [checked]="selectedControl === 'month'" (click)="searchPreference='month';selectedControl='month'">
					<span class="checkmark"></span>
					<p *ngIf="filters.duration !=-1" >{{translation?.analytics_month_full}}</p>
					<p *ngIf="filters.duration ==-1" class="disableCls" >{{translation?.analytics_month_full}}</p>
				</label>
			</div>
				<div class="col-3">
				<label class="radiocls">
					<input type="radio" name="SFradio" [checked]="selectedControl === 'date'" (click)="searchPreference='date';selectedControl='date'">
					<span class="checkmark"></span>
					<p>{{translation?.analytics_date}}</p>
				</label>

			</div>
		</div>
	</div>

    <div class="modal-footer save_mo">
        <div class="text-right">
         <a class="simple_btn" (click)="saveNewFilter(true);saveAndUpdate=true;">{{translation?.analytics_save_update}}</a>
			<a class="scls" (click)="saveNewFilter(false)">{{translation?.analytics_save}}</a>
        </div>
    </div>
</ng-template>

<ng-template #ChangeFilter>
	<div class="modal-header">
		<h6 class="modal-title pull-left">{{translation?.analytics_saved_filter}}</h6>
		<button type="button" class="close pull-right" aria-label="Close" (click)="loadModalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="row saveFilter_row no_saveFilter" *ngIf="savedFilterArray.length==0">
		<div class="col-12">
			<svg id="Group_332" data-name="Group 332" xmlns="http://www.w3.org/2000/svg" width="90.7" height="90.7" viewBox="0 0 90.7 90.7">
				<path id="Path_51" data-name="Path 51"
					d="M45.35,0A45.29,45.29,0,1,1,13.265,13.265,45.239,45.239,0,0,1,45.35,0Zm0,56.708a6.121,6.121,0,0,1,6.135,6.135,6.192,6.192,0,0,1-6.135,6.218,6.263,6.263,0,0,1-6.218-6.218A6.192,6.192,0,0,1,45.35,56.708Zm0-6.218A4.329,4.329,0,0,1,41.2,46.345L39.132,27.857c-.332-3.233,3.068-6.218,6.218-6.218s6.55,2.985,6.135,6.218L49.5,46.345A4.329,4.329,0,0,1,45.35,50.49Zm26.2-31.422A37.129,37.129,0,1,0,82.409,45.35,37.325,37.325,0,0,0,71.549,19.069Z"
					transform="translate(0)" fill="#616161" />
			</svg>
			<br>
			<br>
			<b style="font-size:18px">{{translation?.analytics_no_saved_filter}}
			</b>
		</div>
	</div>
	<div class="modal-body changefilter" *ngIf="savedFilterArray.length>0">
		<table>
			<tr>
				<th>{{translation?.analytics_filter_name}}</th>
				<th>{{translation?.analytics_account_name}}</th>
				<th>{{translation?.analytics_start_date}}</th>
				<th>{{translation?.analytics_end_date}}</th>
				<th>{{translation?.analytics_duration}}</th>
				<th>{{translation?.analytics_search_preference}}</th>
				<th>{{translation?.analytics_load}}</th>
				<th>{{translation?.analytics_delete}}</th>
			</tr>

			<tr *ngFor="let item of savedFilterArray">

				<td>{{item.filter_name }}</td>
				<td>{{item.account_name == 'All Accounts' ? translation.all_accounts : item.account_name }}</td>
				<ng-container *ngIf="item.search_preference=='date' then dateWise else monthWise"></ng-container>

				<ng-template #dateWise>
					<td class="centrcls">{{item.start_date}}</td>
					<td class="centrcls">{{item.end_date}}</td>
					<td class="centrcls">-</td>
				</ng-template>

				<ng-template #monthWise>
					<td class="centrcls">-</td>
					<td class="centrcls">-</td>
					<td class="centrcls">{{item.months}}</td>
				</ng-template>

				<td class="centrcls">{{item.search_preference === "date"? translation.analytics_date : translation.analytics_month_full }}</td>
				<td class="centrcls"><a class="simple_load" (click)="selectedloadFilter=item;loadFilter()">{{translation?.analytics_load}}</a></td>
				<td><img *ngIf="item.id!=-1" class="img-cls"src="assets/img/delete_icon.svg" (click)="deleteDialog(confirmDelete, item); itemTodel=item;" /></td>
			</tr>


		</table>
	</div>
	<div class="modal-footer save_mo">
		<div class="text-right ">
			<button class="btn btn-default" type="button" (click)="loadModalRef.hide()">{{translation?.analytics_cancel}}</button>
		</div>
	</div>
</ng-template>



<ng-template #confirmDelete>
	<div class="modal-header">
		<h4 id="dialog-child-name" class="modal-title pull-left">{{translation?.analytics_confirmation_required}}</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="deleteModalRef.hide(); loadFilterDialog(ChangeFilter)">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="alert_bg singleline row2">
			<div class="col-2 ">
				<img src="assets/img/alert_i.svg">
			</div>
			<div class="col-10">
				<h6>{{translation?.analytics_delete_filter_confirmation_msg }}</h6>
			</div>

		</div>
	</div>
	<div class="modal-footer hufooter de_footer">
		<div class="col-12">
			<a (click)="deleteModalRef.hide(); loadFilterDialog(ChangeFilter)">{{translation?.discussion_cancel}}</a>
			<a (click)="deleteSavedFilter(item)" class="conf_delete">{{translation?.artifact_delete}}</a>

		</div>

	</div>
</ng-template> -->
