.box {
    -moz-box-sizing: border-box;
    background-color: #FFF;
    /* border: 1px solid #DAD6CE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
    float: left;
    min-height: 371px;
    overflow: hidden;
    width: 328px;
    box-sizing: border-box;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.container {
    max-width: 1024px !important;    padding: 0 15px !important;
}

#main {
    width: 100%;
    margin-top: 15px !important;
    margin-bottom: 48px;
    position: relative;
    margin: 32px auto 88px;
    overflow: hidden;
}

.header_an {
    background-color: #f9f9f9;
    margin: -10px -20px 0px -20px;
    padding: 9px 20px;
    border-bottom: 1px solid #e1e2e2;
}

.header_an h2 {
    font-size: 30px;
    font-family: 'Conv_Roboto-Light';
    padding-left: 3px;
    margin: 10px 0;
}


/* .container{
    float: none !important;
} */

.filter_an {
    margin: 0px -20px 20px -20px;
    padding: 15px 0px 16px 35px;
    border-bottom: 1px solid #e1e2e2;
}

.multiselect-item-checkbox {
    display: none !important;
}

.multiselect-item-checkbox div:after {
    display: none !important;
}

.filter_an .selec_opt {
    width: 25%;
    float: left;
    position: relative;
}

.filter_an .serch_op {
    border: 1px solid #e1e2e2;
    border-radius: 6px;
    margin-left: 12px;
    height: 37px;
}

.serch_op span {
    float: left;
    line-height: 13px;
    border-right: 1px solid #e1e2e2;
    cursor: pointer;
    font-family: 'Conv_Roboto-Light';
    font-size: 10pt;
    color: #414141;
    padding: 11px 11px 11px 11px;
}

.serch_op span.active {
    font-weight: 800;
    font-family: 'Conv_Roboto-Regular';
}

.serch_op span:hover,
.serch_op span.active {
    background: #e6e6e6;
}

.an_or {
    padding: 7px 16px;
    text-transform: lowercase;
    font-size: 14px;
    font-family: Conv_Roboto-Regular;
}

.an_date {
    position: relative;
    width: 25%;
    padding-right: 15px;
}

.an_date input[type=text] {
    border-radius: 6px;
    border: 1px solid #e1e2e2;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0) inset;
    height: 37px;
    color: #414141;
    font-weight: 500;
    width: 100%;
    padding: 3px 10px;
}

.an_cal {
    position: absolute;
    right: 0;
    cursor: pointer;
    position: absolute;
    right: 30px;
    cursor: pointer;
    top: 10px;
}

.an_date input[type=submit] {
    background: #5cb85c;
    font-weight: 500;
    font-family: 'Roboto';
    padding: 5px 20px 5px 20px;
    border-radius: 6px;
    font-size: 14px;
    color: #fff;
    border: 0;
    margin-left: 6px;
    cursor: pointer;
    line-height: 26px;
    position: relative;
    top: -3px;
}

.opt_row2 {
    width: 100%;
    margin-top: 11px;
}

.selec_opt2 {
    width: 26%;
    float: left;
}

.selec_opt3 {
    width: 25%;
    float: left;
    margin: 0 1%;
}

.selec_opt4 {
    width: 35%;
    float: left;
}

.an_date2 input[type=submit] {
    background: #5cb85c;
    font-weight: 500;
    font-family: 'Conv_Roboto-Regular';
    padding: 5px 20px 8px 20px;
    border-radius: 6px;
    font-size: 15px;
    color: #fff;
    border: 0;
    margin-left: 6px;
    cursor: pointer;
}

.an_ah2c1 {
    width: 18%;
    border-radius: 0px !important;
}

.an_or_sk {
    height: 36px;
    border: 0 !important;
    margin-left: 12px;
}

.an_date_sk {
    height: 36px;
    border: 0 !important;
    margin-left: 12px;
    width: 20%;
}

.submit-btn input[type=submit] {
    background: #5cb85c;
    font-weight: 500;
    font-family: 'Roboto';
    padding: 5px 20px 5px 20px;
    border-radius: 6px;
    font-size: 14px;
    color: #fff;
    border: 0;
    cursor: pointer;
    line-height: 26px;
    position: relative;
}

.ana_cl.submit-btn-sk {
    height: 36px;
    margin-left: 12px;
    width: 85px;
}

.serch_op span:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: -1px;
}

.serch_op span:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-right: -1px;
}

.exp_notes[_ngcontent-jtw-c11] {

    margin: 0 -20px !important;
}
.topright { text-align:right; margin-top: auto;
margin-bottom: auto;
padding-right: 40px;
min-height: 42px;}
.topright .dropdown-item{color:#000 !important;}
.topright .dropdown-item.active, .topright .dropdown-item:active{ background: none !important;}
.topright img{
    max-width: 22px;
    cursor: pointer;
}
.topright p { margin:0; min-height: 20px;}
.topright a{ color:#057eff; cursor:pointer;}

.topright span{    display: inline-block;
    margin: 0 3px 0 1px;}
    .savefilter .col-7{  padding-left:0;}
    .savefilter .col-12{  padding-left:0;}
	.savefilter .col-5 { padding-right:0;text-align:right;}
	.savefilter .row{ border-bottom:1px solid #ddd; padding:6px 0;     margin:0px;  color: #484848;}
	.save_mo a{    background: #057eff;
    font-weight: 500;
    font-family: 'Roboto';
        padding: 7px 25px 7px 25px;
    border-radius: 6px;
    font-size: 14px;
    color: #fff;
    border: 0;

    cursor: pointer;
    line-height: 26px;
    position: relative;
    cursor: pointer; display:inline-block; margin-left:15px;}
	.save_mo a.simple_btn{    background: #5cb85c;}
	.save_mo { border:0 !important;}
	.savefilter {padding: 22px 20px !important;}
	.savefilter .form-control { margin-bottom:20px;}
	.modal-header {
    background: #f9f9f9;
}
.modal-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: block;
    color: #484848;
    text-align: center;
    width: 95%;
}

.savefilter label{ color: #484848;}
.save_mo .btn { background:none; outline:none !important;}
.changefilter table{ width:100%;}
.changefilter table th{ border-bottom:1px solid #ddd; padding:3px; color: #484848;font-size:13px; font-weight:500;}
.changefilter table td{ border-bottom:1px solid #ddd; padding:5px 3px; color: #484848; font-size:13px;}




.radiocls {

    font-size: 14px;
    line-height: 13px;
    /* padding-top: 6px; */
    margin-top: 6px;

  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radiocls input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
     top: -2px;
  left: 0;
  height:16px;
  width:16px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiocls:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radiocls input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiocls input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
/* .radiocls .checkmark:after {
 	top: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}
.searchPcls{
    padding-left: 0;;
}

.img-cls{
    margin-left: 10px;
    cursor: pointer;
}

.radiocls p{
    font-size: 15px;
}
.centrcls{
    text-align: center;
}


.simple_load{
    background: green;
    padding: 3px 5px;
    color: #fff !important;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}

.saved_filter button {
    border: 0;
    padding: 0;
    background: none;
    outline: none;
    cursor: pointer;
}
.saved_filter{
    position: absolute;
    right: 0;
    top: 2px;
}

.saveFilter_row {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.no_saveFilter {
    text-align: center;
    padding: 70px 15px;
    color: #484848;
    font-size: 16px;
    border: 0 !important;
}

.header_an .col-md-6{
    padding-left: 0;
}

.positionFix{
    left: -134px !important;
    right: 0px;
    top: 19px !important;
    transform: translateY(0px);
    bottom: auto;
}


.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.modal-body {
    padding: 1rem 20px!important;
}

.hufooter {
    border: 0;
    text-align: right;
    padding-bottom: 21px;
}


.modal-footer>* {
    margin: .25rem;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.hufooter a {
    display: inline-block;
    padding: 9px 27px;
    font-weight: 400;
    border-radius: 5px;
    color: #484848;
    text-decoration: none;
}


.hufooter a.conf_delete {
    border: 1px solid #CECECE;
    padding-right: 30px;
    padding-left: 30px;
}

.alert_bg {
    background: #F7DF9A;
    padding: 10px;
    margin: 0 0 15px 0 !important;
    border-radius: 4px;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.singleline img {
    top: 17px !important;
}

.alert_bg img {
    width: 24px;
    position: relative;
    top: 19px;
}

.alert_bg .col-10 {
    padding: 0;
}
.col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.singleline h6 {
    padding: 18px 0 20px 0!important;
}
.alert_bg h6 {
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding: 15px 0 20px 0;
}

.disableCls{

    color: #bbbbbb;
} */

.header_an .col-md-6{
    padding-left: 0px;
}
.mg_alert{
    margin: auto;
    margin-top: 95px;
    width: 68%;
    padding: 10px;
    margin-bottom: 100px;
}

  .cs1 {
    width: 50px;
    height: 200px;
    float: left;
    position: relative;
    top: 5px;
  }

  .mig_msg {
    height: 200px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
  }
  .mig_msg span{
    font-weight: 4;
    font-size: 18px;
    line-height: 20px;
}

.panl_heading {
    border-bottom: 1px solid #ddd;
    padding: 10px 10px;
    background: #f9f9f9;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.panl_heading .col-md-6 {
    padding: 0 7px;
}

.panl_heading h3 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    color: #484848;
}


@media screen and (min-width: 1280px){
.container {
    max-width: 1250px !important;
}
}
