<div class="container" *ngIf="isLoading">
  <div class="box_login">
    <div class="login_inner">
      <div class="log_div">
        <div class="use_lab3 ani_us">

        </div>
      </div>
      <h1 class="use_lab4 ani_us"></h1>
      <div>
        <div class="use_lab5 ani_us"></div>
        <div class="use_lab5 ani_us"></div>
        <div class="resetPass_field_box">
            <form #forgotForm=ngForm (ngSubmit)="forgotPassword()">
                <div class="for_outer">
                    <i><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope" class="svg-inline--fa fa-envelope fa-w-16" role="img" viewBox="0 0 512 512"><path fill="#dcdbdb" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"/></svg></i>
                    <div class="use_lab4 ani_us"></div>
                </div>
                <div class="use_lab4 ani_us"></div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="!isLoading">
  <div class="box_login">
    <div class="login_inner">
      <div class="log_div">
        <img *ngIf="checkPlatform == 1" src="assets/img/logo-dark.svg">
        <img *ngIf="checkPlatform == 2" style="max-width: 368px;" src="assets/img/logo_2.svg">
      </div>
      <h1>{{translation.forgot_password}}</h1>
      <div class="for_pass">
        <p>
          {{translation.reset_password_descritpion}}
          <b class="sibmeLink" [routerLink]="['/login']"> 
            <span *ngIf="checkPlatform == 1">Sibme</span>
            <span *ngIf="checkPlatform == 2">Coaching Studio</span>
          </b>.
        </p>
        <div class="resetPass_field_box">
            <form #forgotForm=ngForm (ngSubmit)="forgotPassword()">
                <div class="for_outer">
                    <i><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope" class="svg-inline--fa fa-envelope fa-w-16" role="img" viewBox="0 0 512 512"><path fill="#dcdbdb" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"/></svg></i>
                    <input type="text" value="" placeholder="{{translation.enter_email_fp_placeholder}}" name="email" [(ngModel)]="forgotEmail" id="email" required>
                </div>
                <button class="resetLink_btn" [ngClass]="{'signin_btn_sibme_bg': checkPlatform == '1', 'signin_btn_hmh_bg': checkPlatform == '2' }" type="submit" [disabled]="!forgotForm.valid">{{translation.send_reset_link}}</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>