.vertical{
	background: grey;
    width: 3px;
    height: 30px;
    top: -20px;
    left: 35px;
    position: absolute;
}

.horizontal{
	background: grey;
    width: 40px;
    height: 3px;
    top: 9px;
    left: 35px;
    position: absolute;
}

.settings_container{
	position: relative;
}

.adjusted_text{
	margin-top: -6px;
}

.switch-text span {
    top: 15% !important;
}
/*
.question_cls {    cursor: pointer;
    width: 17px;
}
*/

.mb20 div:first-child { margin-bottom:20px;}
.enb_pub { padding-top:20px !important;}

.for_child .col-sm-6:first-child { padding-bottom:20px !important;}
.for_child .col-sm-6:nth-child(2) { padding-bottom:20px !important;}
.mtop2{ padding-top:20px !important;}
.for_child .col-sm-6:last-child { padding-bottom:20px !important;}
/*
.ptop_t { position:relative; top:-48px;}

.frame_set2{    margin-top: -49px;}

*/
