<div id="main" class="container box pt-0">
    <div class="analy_b">
        <div class="header_an">
            <h2 class="de_ani header"></h2>
        </div>
        <div class="video_body">
            <ul class="nav nav-tabs anc">
                <li class="nav-item">
                    <a class="nav-link"> <label class="de_ani"> </label> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"> <label class="de_ani"> </label> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link "> <label class="de_ani"> </label> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link "> <label class="de_ani"> </label> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link "> <label class="de_ani"> </label> </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="de_ani loader-video-container"></div>
                        <div class="clear"></div>
                        <div class="de_ani anc6"></div>
                        <div class="de_ani anc6"></div>
                        <div class="clear"></div>
                        <div class="de_ani anc7"></div>
                        <div class="de_ani anc8"></div>
                        <div class="clear"></div>
                        <div class="de_ani anc9"></div>
                        <div class="clear"></div>
                        <span class="de_ani gmore"></span><span class="de_ani gmore"></span>
                        <span class="de_ani gmore"></span><span class="de_ani gmore"></span>
                        <div class="clear"></div>
                        <div class="de_ani anc10"></div>
                        <div class="de_ani anc11"></div>
                        <div class="clear"></div>
                    </div>
                    <div class="col-sm-6 pleft30">
                        <div class="de_ani loader-search-container"></div>
                        <div class="de_ani loader-search-container2 "></div>
                        <div class="de_ani loader-search-container3"></div>
                        <div class="clear"></div>
                        <div class="de_ani gmore"> </div>
                        <div class="de_ani gmore"> </div>
                        <div class="de_ani gmore"> </div>
                        <div class="de_ani gmore"> </div>
                        <div class="clear"></div>
                        <div _ngcontent-c15="" class="comments_box comments_boxanc">
                            <div _ngcontent-c15="" class="time_line">
                                <span _ngcontent-c15="" class="de_ani anc1"></span>
                                <i _ngcontent-c15="" class="comm_circle" style="background-color: transparent;"></i>
                            </div>
                            <div _ngcontent-c15="" class="user_img">
                                <div class="de_ani anc2"> </div>
                            </div>
                            <div _ngcontent-c15="" class="user_comment">
                                <div _ngcontent-c15="" class="User_name">
                                    <span _ngcontent-c15="" class="user_namecls de_ani anc3"></span>
                                    <span _ngcontent-c15="" class="comm_time de_ani anc4"></span>
                                    <div class="clear"></div>
                                </div>
                                <p class="de_ani anc5"></p>
                                <p class="de_ani anc5"></p>
                                <p class="de_ani anc5"></p>
                                <div _ngcontent-c15="" class="comment_manage ng-tns-c15-2 ng-star-inserted">
                                    <span class="de_ani gmore"> </span>
                                    <span class="de_ani gmore"> </span>
                                    <span class="de_ani gmore"> </span>
                                </div>
                            </div>
                            <div _ngcontent-c15="" class="clear"></div>
                        </div>
                        <div _ngcontent-c15="" class="comments_box comments_boxanc">
                            <div _ngcontent-c15="" class="time_line">
                                <span _ngcontent-c15="" class="de_ani anc1"></span>
                                <i _ngcontent-c15="" class="comm_circle" style="background-color: transparent;"></i>
                            </div>
                            <div _ngcontent-c15="" class="user_img">
                                <div class="de_ani anc2"> </div>
                            </div>
                            <div _ngcontent-c15="" class="user_comment">
                                <div _ngcontent-c15="" class="User_name">
                                    <span _ngcontent-c15="" class="user_namecls de_ani anc3"></span>
                                    <span _ngcontent-c15="" class="comm_time de_ani anc4"></span>
                                    <div class="clear"></div>
                                </div>
                                <p class="de_ani anc5"></p>
                                <p class="de_ani anc5"></p>
                                <p class="de_ani anc5"></p>
                                <div _ngcontent-c15="" class="comment_manage ng-tns-c15-2 ng-star-inserted">
                                    <span class="de_ani gmore"> </span>
                                    <span class="de_ani gmore"> </span>
                                    <span class="de_ani gmore"> </span>
                                </div>
                            </div>
                            <div _ngcontent-c15="" class="clear"></div>
                        </div>
                        <div _ngcontent-c15="" class="comments_box comments_boxanc">
                            <div _ngcontent-c15="" class="time_line">
                                <span _ngcontent-c15="" class="de_ani anc1"></span>
                                <i _ngcontent-c15="" class="comm_circle" style="background-color: transparent;"></i>
                            </div>
                            <div _ngcontent-c15="" class="user_img">
                                <div class="de_ani anc2"> </div>
                            </div>
                            <div _ngcontent-c15="" class="user_comment">
                                <div _ngcontent-c15="" class="User_name">
                                    <span _ngcontent-c15="" class="user_namecls de_ani anc3"></span>
                                    <span _ngcontent-c15="" class="comm_time de_ani anc4"></span>
                                    <div class="clear"></div>
                                </div>
                                <p class="de_ani anc5"></p>
                                <p class="de_ani anc5"></p>
                                <p class="de_ani anc5"></p>
                                <div _ngcontent-c15="" class="comment_manage ng-tns-c15-2 ng-star-inserted">
                                    <span class="de_ani gmore"> </span>
                                    <span class="de_ani gmore"> </span>
                                    <span class="de_ani gmore"> </span>
                                </div>
                            </div>
                            <div _ngcontent-c15="" class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>