<div class="clear"></div>
<div *ngIf="skeletonLoading" class="container bred_an">
  <div class="p_ani br_anp m0"></div>
</div>
<div  *ngIf="!skeletonLoading" class="container bred_an">
  <a [routerLink]="['/']">{{translation.home_global}}</a>
  <ng-container>
    <img src="assets/img/breadcrumarrow.svg" />
    <a [routerLink]="['/account-settings']">{{translation.account_settings_main}}</a>
  </ng-container>
  <ng-container>
    <img src="assets/img/breadcrumarrow.svg" />
    <a>
     <b>{{translation.cf_custom_fields}}</b>
    </a>
  </ng-container>
</div>
<div class="clear"></div>

<div class="container box_outer">
  <div class="row panl_headingac">
    <div class="col-md-6">
      <h3>{{translation?.cf_custom_fields}}</h3>
    </div>

    <div class="col-md-6 back_ac">
      <a [routerLink]="['/account-settings']"> <img src="assets/dashboard/assets/img/account-settings/left-arrow.png">
        {{translation?.back_to_account_settings}}</a>
    </div>
  </div>

   <!-- Skeleton loading -->
  <div class="row pt70" *ngIf="skeletonLoading">
    <div class="col-4">
      <div class="ani_aci us2"></div>
    </div>

    <div class="col-4">
      <div class="ani_aci us2"></div>
    </div>

    <div class="col-4">
      <div class="ani_aci us2"></div>
    </div>

    <div class="col-4">
      <div class="ani_aci us2"></div>
    </div>

    <div class="col-4">
      <div class="ani_aci us2"></div>
    </div>

    <div class="col-4">
      <div class="ani_aci us2"></div>
    </div>

    <div class="col-4">
      <div class="ani_aci us2"></div>
    </div>

    <div class="col-4">
      <div class="ani_aci us2"></div>
    </div>

    <div class="col-4">
      <div class="ani_aci us2"></div>
    </div>

    <div class="col-4">
      <div class="ani_aci us2"></div>
    </div>

    <div class="col-4">
      <div class="ani_aci us2"></div>
    </div>


    <div class="col-4">
      <div class="ani_aci us2"></div>
    </div>


    <div class="col-4">
      <div class="ani_aci us2"></div>
    </div>

    <div class="col-4">
      <div class="ani_aci us2"></div>
    </div>

    <div class="col-4">
      <div class="ani_aci us2"></div>
    </div>

    <div class="col-4">
      <div class="ani_aci us2"></div>
    </div>

    <div class="col-4">
      <div class="ani_aci us2"></div>
    </div>

    <div class="col-4">
      <div class="ani_aci us2"></div>
    </div>
    <div class="col-4">
      <div class="ani_aci us2"></div>
    </div>
    <div class="col-4">
      <div class="ani_aci us2"></div>
    </div>
    <div class="col-4">
      <div class="ani_aci us2"></div>
    </div>

  </div>


 <!-- Custom Fields Tab -->
  <div class="row tabscls" *ngIf="!skeletonLoading">
    <ul class="nav nav-tabs col-12">
      <li class="nav-item">
        <a [ngClass]="{'active': tab_toggle==true}" data-toggle="tab" role="tab" (click)="tab_toggle=true">{{translation?.cf_user_summary}}</a>
      </li>
      <li class="nav-item itm2">
        <a [ngClass]="{'active': tab_toggle==false}" data-toggle="tab" role="tab"
          (click)="tab_toggle=false">{{translation?.assessment_huddle_name}}</a>
      </li>
    </ul>
  </div>

  <div class="tab-content custom_fields" *ngIf="!skeletonLoading">
    <div *ngIf="tab_toggle" class="" role="tabpanel">
       <!-- User Summary Checkboxes-->
      <div class="user-summary">
        <h4>{{translation?.cf_user_summary}}</h4>
        <div class="mb-4 mt-4">
          <div>
            <input type="checkbox" [(ngModel)]="adminCustomCheck" class="mr-1" (click)="checkChangeOnPage()"><span>{{translation?.cf_admins_can_modify_custom_fields_in_their_user_settings}}</span>
          </div>
          <div>
            <input type="checkbox" [(ngModel)]="userCustomCheck" class="mr-1" (click)="checkChangeOnPage()"><span>{{translation?.cf_users_can_modify_custom_fields_in_their_user_settings}}</span>
          </div>
        </div>

        <!-- Custom Fields Parents Inputs -->

        <h3 *ngIf="parentSummaryData?.length != 0">{{translation?.cf_parent_account_custom_fields}}</h3>
        <div class="row user-summary-fields cls_row2">
          <div class="col-md-5" *ngFor="let parent_data of parentSummaryData; let i = index">
            <label><b>{{i+1 +'.'}} </b> {{translation?.huddle_table_name+":"}} &nbsp;<b>{{parent_data.field_label}} </b></label>
            <p class="plf15">
              <span>{{translation?.type+":"}}&nbsp;</span>
              <b *ngIf="parent_data.field_type == 1">{{translation?.cf_text}}</b>
              <b *ngIf="parent_data.field_type == 2">{{translation?.cf_percentage}}</b>
              <b *ngIf="parent_data.field_type == 3">{{translation?.cf_number}}</b>
              <b *ngIf="parent_data.field_type == 4">{{translation?.cf_yes_no}}</b> 
            </p>
          </div>
        </div>

         <!-- Custom Fields Inputs -->

        <h3>{{translation?.cf_custom_fields}} <span>{{userSummaryData?.length+"/10"}}</span></h3> 
        <div class="text-right"><button class="btn" (click)="plusRow(userSummaryData, 'Summary'); checkChangeOnPage()" *ngIf="userSummaryData?.length == 0"><img width="11" src="assets/img/plu_grys.svg" /> {{translation?.vd_add}} </button></div>
        <!-- <div class="text-right"><button class="btn" (click)="plusRow(userSummaryData, 'Summary'); checkChangeOnPage()" *ngIf="userSummaryData?.length == 0">{{translation?.vd_add}} <img width="11" src="assets/img/plu_grys.svg" /></button></div> -->
        <div class="row user-summary-fields mb-3" *ngFor="let d of userSummaryData; let i = index">
          <div class="col-md-4"><label>{{translation?.cf_user_summary + (i + 1)}}</label>
            <input class="form-control" [(ngModel)]="d.field_label" [maxlength]="24" (keyup)="checkChangeOnPage()">
          </div>
          <div class="col-md-4">
            <label>{{translation?.type}}</label>
            <select class="form-control" [(ngModel)]="d.field_type"  (change)="checkChangeOnPage()">
              <option *ngIf="d.field_type == ''" value="" selected>{{translation?.select_new_settings}}</option>
              <option *ngFor="let data of dropdownValues" value="{{data.dropdown}}"
                [selected]="d.field_type == data.dropdown">
                <span *ngIf="data.dropdown == 1">{{translation?.cf_text}}</span>
                <span *ngIf="data.dropdown == 2">{{translation?.cf_percentage}}</span>
                <span *ngIf="data.dropdown == 3">{{translation?.cf_number}}</span>
                <span *ngIf="data.dropdown == 4">{{translation?.cf_yes_no}}</span>
              </option>
            </select>
          </div>
          <div class="col-md-4 ckb">
            <ng-container *ngIf="childExistCheck">
              <label class="switch">
                <input type="checkbox" [(ngModel)]="d.is_shared" (click)="onChildAcc(i, d.is_shared, userSummaryData); checkChangeOnPage()"
                  type="checkbox" [checked]="d.is_shared == true">
                <span class="slider round"></span>
              </label>
              <span>{{translation?.share_with_child_angular_rubrics}}</span>
              <span class="sep"></span>
            </ng-container>
            <!-- <span class="sep"></span> -->
            <button (click)="plusRow(userSummaryData, 'Summary'); checkChangeOnPage()" *ngIf="i == arrLengthCheckSum && plusButtonCheckSum == true"><img width="11" src="assets/img/plu_grys.svg" /> {{translation?.vd_add}}</button>
            <button (click)="minusRow(userSummaryData, i, d.id, 'Summary')" > <img src="assets/img/trash.svg" /> {{translation?.huddle_delete_btn}}</button>
          </div>
        </div>

        <div class="user_sebtn">
          <button (click)="getUserSummary()">{{translation?.cancel_all}}</button>
          <button type="button" (click)="update()" class="set_sav" [disabled]="userSummaryData?.length == 0" [disabled]="!saveBtnCheck">{{translation?.save_us}}</button>
        </div>
      </div>
    </div>


     <!-- Assessment Custom Fields -->

    <div *ngIf="!tab_toggle" class="" role="tabpanel">
      <div class="assessment">
        <h4>{{translation?.assessment_huddle_name}}</h4>

        <h3 *ngIf="parentAssessment?.length != 0">{{translation?.cf_parent_account_custom_fields}}</h3>
        <div class="row user-summary-fields cls_row2">
          <div class="col-md-5" *ngFor="let parent_data of parentAssessment; let i = index">
            <div><label><b>{{i+1 +'.'}}</b> {{translation?.huddle_table_name+":"}}  &nbsp;<b>{{parent_data.field_label}}</b> </label>
              <p class="plf15"> 
                <span>{{translation?.type+":"}}  &nbsp;</span>
                <b *ngIf="parent_data.field_type == 1">{{translation?.cf_text}}</b>
                <b *ngIf="parent_data.field_type == 2">{{translation?.cf_percentage}}</b>
                <b *ngIf="parent_data.field_type == 3">{{translation?.cf_number}}</b>
                <b *ngIf="parent_data.field_type == 4">{{translation?.cf_yes_no}}</b> 
              </p>
            </div>
          </div>
        </div>


        <h3>{{translation?.assessment_huddle_name}} {{userAssessment?.length+"/10"}}</h3>
        <div class="text-right"><button class="btn" (click)="plusRow(userAssessment, 'Assessment'); checkChangeOnPage()" *ngIf="userAssessment?.length == 0"><img width="11" src="assets/img/plu_grys.svg" /> {{translation?.vd_add}} </button></div>
        <div class="row user-summary-fields mb-3" *ngFor="let d of userAssessment; let i = index">
          <div class="col-md-4"><label>{{translation?.assessment_huddle_name + (i + 1)}}</label>
            <input class="form-control" [(ngModel)]="d.field_label" [maxlength]="24" (keyup)="checkChangeOnPage()">
          </div>
          <div class="col-md-4">
            <label>{{translation?.type}}</label>
            <select class="form-control" [(ngModel)]="d.field_type" (change)="checkChangeOnPage()">
              <option *ngIf="d.field_type == ''" value="" selected>{{translation?.select_new_settings}}</option>
              <option *ngFor="let data of assessmentDropdownValues" value="{{data.dropdown}}"
                [selected]="d.field_type == data.dropdown">
                <span *ngIf="data.dropdown == 1">{{translation?.cf_text}}</span>
                <span *ngIf="data.dropdown == 5">Paragraph</span>
                <span *ngIf="data.dropdown == 2">{{translation?.cf_percentage}}</span>
                <span *ngIf="data.dropdown == 3">{{translation?.cf_number}}</span>
                <span *ngIf="data.dropdown == 4">{{translation?.cf_yes_no}}</span>
              </option>
            </select>
          </div>

          <div class="col-md-4 ckb">
            <ng-container *ngIf="childExistCheck">
              <label class="switch">
                <input type="checkbox" [(ngModel)]="d.is_shared" (click)="onChildAcc(i, d.is_shared, userAssessment); checkChangeOnPage()"
                  type="checkbox">
                <span class="slider round"></span>
              </label>
              <span>{{translation?.share_with_child_angular_rubrics}}</span>
              <span class="sep"></span>
            </ng-container>
            <!-- <span class="sep"></span> -->
            <button (click)="plusRow(userAssessment, 'Assessment'); checkChangeOnPage()" *ngIf="i == arrLengthCheckAsse && plusButtonCheckAsse == true"> <img width="11" src="assets/img/plu_grys.svg"/> {{translation?.vd_add}}</button>
            <button (click)="minusRow(userAssessment, i, d.id, 'Assessment')"><img src="assets/img/trash.svg" /> {{translation?.huddle_delete_btn}}</button>
          </div>
        </div>

        <div class="user_sebtn">
          <button (click)="getUserSummary()">{{translation?.cancel_all}}</button>
          <button type="button" (click)="update()" class="set_sav" [disabled]="userAssessment?.length == 0" [disabled]="!saveBtnCheck">{{translation?.save_us}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- delete template -->
<ng-template #deleteTemplate>
  <!-- Modal content-->
  <div class="modal-header">
    <h4 class="modal-title">{{translation?.artifacts_confirmation_required}}</h4>
    <button type="button" class="close" data-dismiss="modal" (click)="deleteModalRef.hide()">&times;</button>

  </div>

  <div class="modal-body conf_popup">
    <div class="alert_bg singleline row">
      <div class="col-2">
        <img src="./assets/img/alert_i.svg">
      </div>
      <div class="col-10">
        <h6> <b>{{translation?.cf_confirm_delete_custom_field}}</b> <br>
          {{translation?.cf_full_delete_warning}}</h6>

      </div>
    </div>

    <label>{{translation?.poeple_type_delete_to_confirm}}</label>
    <input type="text" class="form-control" [(ngModel)]="confirmation" (keydown)="enterPressed($event)">
  </div>

  <div class="modal-footer hufooter">
    <div class="col-12">
      <a class="fake_link" (click)="deleteModalRef.hide()">{{translation?.cancel_popup}}
      </a>
      <a class="conf_delete fake_link" (click)="confirmDelete()">{{translation?.huddle_delete_btn}}
      </a>
    </div>
  </div>
</ng-template>

<!-- shareChild template -->
<ng-template #shareChild>
  <!-- Modal content-->
  <div class="modal-header">
    <h4 class="modal-title">{{translation?.artifacts_confirmation_required}}</h4>
    <button type="button" class="close" data-dismiss="modal" (click)="notConfirmShareChild(); shareChildModal.hide()">&times;</button>
  </div>

  <div class="modal-body conf_popup">
    <div class="alert_bg singleline row">
      <div class="col-2">
        <img src="./assets/img/alert_i.svg">
      </div>
      <div class="col-10">
        <h6> <b>{{translation?.cf_confirm_share_custom_field}}</b></h6>
      </div>
    </div>
  </div>

  <div class="modal-footer hufooter">
    <div class="col-12">
      <a class="fake_link" (click)="notConfirmShareChild()">{{translation?.no}}
      </a>
      <a class="conf_delete fake_link" (click)="confirmShareChild()">{{translation?.yes}}
      </a>
    </div>
  </div>
</ng-template>