.panl_headingac { border-bottom:1px solid #ddd; padding:5px 10px;     background: #f9f9f9;     border-top-right-radius: 5px;     border-top-left-radius: 5px;}
.panl_headingac  h3{ 
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #212528;
}
.box_as {    background: #fff;
  padding: 20px 0 20px 0;}
.box_as .as_inner{     float: left;
  width: 16.4%;
  box-shadow: 0 1px 7px 0 rgba(0,0,0,.1);
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 28px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 15px 1.8%; padding: 22px 25px;}
.box_as .as_inner label { display:block; text-align:center; color:#010101; font-size:15px; height: 50px;     display: table-cell;
  vertical-align: middle;
  width: 110px; cursor:pointer; line-height: 18px;}
.box_as .as_inner span {display:block; text-align:center; height:70px; position:relative;}
.box_as .as_inner span  img {     max-width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;}
.box_as .as_inner a { text-decoration:none; display:block;}
.ac_state { background:#F9F9F9;     padding: 30px 20px 26px 20px;     border-bottom-left-radius: 5px;     border-bottom-right-radius: 5px;}
.bar_ful { background:#fff; border:1px solid #ddd; }
.ac_state label { font-size:14px; margin-bottom: 3px;}
.bar_ful span{  height:8px;     display: block;     height: 9px;}

/* modal css */

.hufooter {
    border: 0;
    text-align: right;
    padding-bottom: 21px;
}

.hufooter a {
    display: inline-block;
    padding: 7px 31px;
    border-radius: 5px;
    color: #484848;
    text-decoration: none;
}

.hufooter .green_btn {
    background: #28A745;
    color: #fff;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 500;
}

.hufooter .creat_btn:hover {
    color: #fff;
    text-decoration: none;
}

.modal-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: block;
    color: #484848;
    text-align: center;
    width: 95%;
}

.alert_bg {
    background: #f9f0eb;
    padding: 3px;
    margin: 0 0 15px 0;
    border-radius: 4px;
}

.alert_bg .col-2 {
    padding-left: 0;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 14.666667%;
    flex: 0 0 14.666667%;
    max-width: 14.666667%;
}

.alert_bg .col-10 {
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.alert_bg img {
    width: 34px;
    position: relative;
    top: 9px;
}

.alert_bg h6 {
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding: 15px 0 20px 0;
}

.alert_bg p {
    font-size: 12px;
}

.hufooter a.conf_delete {
    border: 1px solid #CECECE;
    padding-right: 30px;
    padding-left: 30px;
}

.modal-body {
    padding-left: 30px;
    padding-right: 30px;
}

.modal-header {
    background: #f9f9f9;
}
	

/* model css end */
@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.ani_us{
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
}

.us1 { width:250px; height:40px;}
.us2 { width:100%; height:20px;}
.an_bx { width:100%; height:164px; display:inline-block; width: 16.4%;
  box-shadow: 0 1px 7px 0 rgba(0,0,0,.1);     border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 28px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 15px 1.8%;
  padding: 22px 25px; 
  float:left;
}

  .back_ac { text-align:right; padding-top:10px;}
  .back_ac img { display:inline-block; margin-right:5px;}
  .back_ac a{ color:#8B8B8B; text-decoration:none;}

.custom-fields { padding:50px 0;}


.user-summary, .assessment{
    padding: 20px 0;
}

.user_sebtn {border-top:1px solid #ddd; padding:18px 0px;  margin: 0 12px; margin-top:40px; text-align:right;}

.user_sebtn button{ border:0;     padding: 9px 24px; outline:0; color:#484848; background:none; cursor:pointer;}
.user_sebtn .set_sav{ background:#28a745; color:#fff; border-radius:4px;}
.user_opt select{ background:#f8f8f8 !important;}


.tabscls .nav-tabs{ padding:20px 0 0 30px;}

.tabscls .nav-tabs {
  
    position: relative;
   
}

.tabscls .nav-tabs .nav-item {
   margin-bottom: -1px;
    border: 1px solid #ddd;
    padding: 7px 26px 6px 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 0;
    line-height: 26px;
}

.tabscls .nav-tabs .nav-item a {
    color: #A0A0A0;
    text-decoration: none;
    font-size: 15px;
}

.tabscls .nav-tabs .nav-item a.active {
    color: #1C7CD5;
}

.custom_fields { padding:16px;}
.custom_fields h4{font-size: 16px;}
.user-summary-fields { padding-top:15px;}
.user-summary-fields label{margin-bottom: 1px;
    font-size: 14px;}
.custom_fields h3{    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-top: 20px;}


.user-summary-fields .switch {
      position: relative;
    display: inline-block;
    width: 41px;
    height: 20px;
    margin-right:5px;
}

.user-summary-fields .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.user-summary-fields .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9b9b9b;
  -webkit-transition: .4s;
  transition: .4s;
}

.user-summary-fields .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.user-summary-fields input:checked + .slider {
  background-color: #1e7e34;
}

.user-summary-fields input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.user-summary-fields input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.user-summary-fields .slider.round {
  border-radius: 34px;
}

.user-summary-fields .slider.round:before {
  border-radius: 50%;
}


.ckb { padding-top:29px; padding-left: 0;}

.ckb button{     background: none !important;
    outline: none !important;
    color: #616161;
    font-size: 14px;
    padding: 0;
    border: 0 !important;
    margin-left: 30px;
    line-height: 0;
    box-shadow: 0 0 0 0rem rgba(225,83,97,.5);}
	
	.ckb button img{ position:relative; top:-2px;}

.ckb  span{ font-size:13px !important;}

.cls_row2 .col-md-5 {
    padding-bottom: 24px;
}
.plf15 { padding-left:19px;}
.cls_row2 label, .cls_row2 p{ margin:0;}
.sep{background: #CCCCCC;
    height: 13px;
    width: 1px;
    display: inline-block;
    position: relative;
    left: 9px;
    top: 3px;
    margin-right: 5px;}
    @-webkit-keyframes placeHolderShimmer {
      0% {
        background-position: -468px 0;
      }
      100% {
        background-position: 468px 0;
      }
    }
    @keyframes placeHolderShimmer {
      0% {
        background-position: -468px 0;
      }
      100% {
        background-position: 468px 0;
      }
    }
    .ani_aci{
      -webkit-animation-duration: 1.25s;
              animation-duration: 1.25s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-name: placeHolderShimmer;
              animation-name: placeHolderShimmer;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      background: #F6F6F6;
      background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
      background-size: 800px 104px;
      position: relative;
    }
    .us2 { width:100%; height:30px; margin-bottom: 15px;}
    .pt70 {padding: 70px 15px !important;}
  .panl_headingac .col-md-6{ padding-left:7px;}
  .br_anp {
    height: 20px;
    margin: 0;
}
.p_ani {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #D9D9D9;
    background: linear-gradient(to right, #E9E9E9 8%, #F0F0F0 18%, #EFEFEF 33%);
    background-size: 800px 104px;
    position: relative;
}