.animate_box_9{
    width:100%;
    width: 100% !important;
    height: 364px ;
    margin-top: 1px;
}
.animate_box_9 {
    margin-bottom: 5px;
    width: 28%;
    display: inline-block;
    border: solid 1px #e7e7e7;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 12px;
    margin-top: 1px;
    margin-right: 32px;
}

.animate_box_13 {
    height: 10px;
    width: 96%;
    margin-top: 5px;
    display: inline-block;
}

.animate_box_15 {
    height: 40px;
    width: 40px;
    margin: 10px 0px;
    display: inline-block;
    border-radius: 50%;
    border: solid 5px #fff;
    margin-left: -13px;
}

.box_footer {
    text-align: right;
}

.box_footer .animate_box_11 {
    margin: 0px 12px 0px 0px;
    width: 50px;
}

.animate_box_11 {
    height: 15px;
    width: 73%;
    margin: 10px 0px;
    display: inline-block;
    vertical-align: top;
    margin-top: 24px;
}

.box_footer .animate_box_10 {
    width: 30px;
    height: 30px;
    margin: 0px;
    vertical-align: top;
    margin-top: -6px;
}

.animate_box_10 {
    height: 40px;
    width: 40px;
    margin: 10px 0px;
    display: inline-block;
    border-radius: 50%;
}

