/* .bred_an {
    position: relative;
    top: 33px;
    color: #4d504d;
    font-family: 'Conv_Roboto-Light';
}
.bred_an img{ margin:0 15px;}

.bred_an a{ 
	color:#9e9e9e;
	font-weight:400;
	font-family: 'Conv_Roboto-Light';
}
.bred_an {
    position: relative;
    top: 24px;
    color: #4d504d;
    font-family: 'Conv_Roboto-Light';
} */
 
.container {
    max-width: 1027px !important;
    margin: 0 auto !important;
    float: none !important;
}
.padding_11_bread{
    padding: 12px !important
}