<div *ngIf="!translationLoaded" class="container ani_brcls bre_ani padding_11_bread"></div>
<div *ngIf="translationLoaded" class="container bred_an">
 <a [routerLink]="['/profile-page']">{{translation?.analytics_home}}</a>
  <img src="assets/img/breadcrumarrow.svg"> {{translation?.analytics_account_analytics}}
</div>