.goal_tabs_s p{
    position: relative;
    padding-left: 25px;
}

.goal_tabs_s .left_bx{
    position: absolute;
    width: 25px;
    display: inline-block;
    left: 0;
    top: 17px;
}


.static_checkbox p {
    position: relative;
    padding-left: 25px;
    color: #2e2e2e;
}
.static_checkbox .left_bx {
    left: 0;
    position: absolute;
    width: 25px;
    display: inline-block;
}
.priv_checkboxes
{
    padding: 10px;
}

.priv_checkboxes .left_bx
{
    position: absolute;
    width: 25px;
    display: inline-block;
    left: 0;
}

.priv_checkboxes p {
    color: #2e2e2e;
    position: relative;
    padding-left: 22px;
}

.tp15
{
    top:15px;
}

.tp18 .checkboxcls
{
    top:18px;
}
.p0{ padding:0;}

