<div *ngIf="!translationLoaded" class="container ani_brcls bre_ani"></div>
<div *ngIf="translationLoaded" class="container bred_an">
  <a [routerLink]="['/']">{{translation?.analytics_home}}</a>
  <img src="assets/img/breadcrumarrow.svg">
  <a *ngIf="!headerService.isPFanalytics" [routerLink]="['/analytics_angular/home']" [queryParams]="{ tab: 'user-summary' }">{{translation?.analytics_account_analytics}}</a>
  <img *ngIf="!headerService.isPFanalytics" src="assets/img/breadcrumarrow.svg">
  {{translation?.analytics_user_analytics}}
</div>