    /* body{background:#f3f2ea; font-family: 'Roboto', sans-serif; } */
    /* .box_outer{ background:#fff;  border-radius:5px;     margin-top: 15px !important;     max-width: 1024px !important; margin-bottom: 20px !important;} */
    
    .topheader {
        text-align: center;
        background: url(../img/bgrep.png) repeat-x;
    }
    
    .panl_heading {
        border-bottom: 1px solid #ddd;
        padding: 18px 10px;
        background: #f9f9f9;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    
    .modal-footer {
        /* border: 0 !important; */
    }
    
    .panl_heading h3 {
         font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #212529;
    }
    
    .pan_right {
        text-align: right;
    }
    
    .pan_right a {
        display: inline-block;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        border-radius: 4px;
        padding: 8px 17px;
        font-weight: 400;
    }
    
    .new_fol img {
        width: 20px;
        margin-right: 3px;
        position: relative;
        top: -1px;
    }
    
    .new_huddles {}
    
    .new_hud {
        background: #28A745;
        color: #fff;
    }
    
    .pan_right .new_fol {
        border: 1px solid #CECECE;
        margin-right: 15px;
        color: #484848;
        padding-right: 21px;
        padding-left: 21px;
    }
    
    .new_hud:hover {
        color: #fff;
    }
    
    .new_hud img {
        position: relative;
        top: -1px;
    }
    
    .new_hud .plus_sign {
        width: 14px;
        position: relative;
        left: -12px;
        top: 5px;
        margin-right: -11px;
    }
    
   
    
    .hu_search {
        width: 100%;
        margin-right: 2%;
        float: left;
    }
    
    .hu_search input[type=text] {
        width: 100%;
        height: 40px;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px 11px;
        background: url(../img/search_icon.svg) no-repeat center right 11px;
        background-size: 19px;
        padding-right: 35px;
    }
    
    .filter_options {
        width: 56.5%;
        float: left;
    }
    
    .artifact .btn-secondary {
        border-color: #cccccc;
        background: #fff;
        color: #484848;
        padding-right: 2%!important;
        padding-left: 2% !important;
    }
    
    .filter_options .active {
        background: #f5f5f5 !important;
        color: #484848 !important;
        border-color: #cccccc !important;
    }
    
    .artifact .inner_h.over_hidden {
        padding: 0 !important;
    }
    
    .filter_options .ic1 {
        width: 18px;
        margin-right: 8px;
        position: relative;
        top: -1px;
    }
    
    .filter_options .ic2 {
        width: 13px;
        margin-right: 8px;
        position: relative;
        top: -1px;
    }
    
    .filter_options .ic3 {
        width: 19px;
        margin-right: 8px;
        position: relative;
        top: -1px;
    }
    
    .filter_cls {
        width: 5%;
        float: left;
        padding-top: 7px;
        text-align: center;
    }
    
    .switch_op {
        width: 8%;
        float: left;
        text-align: center;
    }
    
    .switch_op a svg {
        width: 15px;
    }
    
    .switch_op a .cls-1 {
        fill: #d8d8d8
    }
    
    .switch_op .s_current .cls-1 {
        fill: #057eff
    }
    
    .btn-secondary:not(:disabled):not(.disabled).active:focus,
    .btn-secondary:not(:disabled):not(.disabled):active:focus,
    .show>.btn-secondary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0 rgba(108, 117, 125, 0);
        border-color: #cccccc !important;
    }
    
    .btn-secondary.focus,
    .btn-secondary:focus {
        box-shadow: 0 0 0 0 rgba(108, 117, 125, 0);
    }
    
    .btn-secondary:not(:disabled):not(.disabled).active,
    .btn-secondary:not(:disabled):not(.disabled):active,
    .show>.btn-secondary.dropdown-toggle {
        background: #fff;
        opacity: 1 !important;
        color: #484848 !important;
        border-color: #cccccc !important;
    }
    
    .switch_op {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px;
    }
    
    .cont_s {
        padding: 0px 0 8px 0;
        margin: 0 -10px !important;
    }
    
    .switch_op a {
        display: inline-block;
        padding: 6px 7px 0px 7px;
        border-radius: 4px;
        background: #fff;
    }
    
    .switch_op a.s_current {
        background: #EAEEF3;
    }
    
    .exp {
        text-align: right;
        color: #616161;
    }
    
    .huddlebox .col-md-4 {
        padding: 0 19px;
    }
    
    .inner_h {
        /* border: 1px solid #ddd; */
        border-radius: 5px;
        padding: 0px 15px 5px 15px;
        -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.1);
        margin-bottom: 28px;
    }
    
    .h_icon {
        float: left;
        width: 20%;
    }
    
    .h_text {
        float: left;
        width: 70%;
        padding-top: 9px;
    }
    
    .h_count {
        float: right;
        width: 10%;
        padding-top: 9px;
        font-weight: 600;
    }
    
    .h_icon span {
        display: inline-block;
        border: 1px solid #28a745;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        text-align: center;
    }
    
    .h_icon span img {
        position: relative;
        top: 5px;
        width: 20px;
    }
    
    .bottom_hu {
        border-top: 1px solid #ddd;
        padding: 25px 0 5px 0;
        margin-top: 20px;
    }
    
    .h_row {
        margin-bottom: 15px;
    }
    
    .top_hu {
        padding: 20px 0px 0 0px;
    }
    
    .hu_title label {}
    
    .hu_title label {
        margin-bottom: 0;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
        display: block;
        white-space: nowrap;
    }
    
    .h_icon span.ass_icon {
        border: 1px solid #057eff;
    }
    
    .h_icon span.col_icon {
        border: 1px solid #f69d27;
    }
    
    .huddlebox {
        padding-bottom: 0px;
    }
    
    .huddlebox .col-md-3 {
        padding: 0 11px !important;
    }
    
    .foldercls img {
        width: 23px;
    }
    
    .hu_title span {
        font-size: 13px;
    }
    
    .hu_title p {
        margin-bottom: 0;
        font-size: 14px;
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .h_title {
        float: left;
        width: 80%;
    }
    
    .h_title label {
        margin-bottom: 0;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
        display: block;
        white-space: nowrap;
    }
    
    .hu_detail p {
        margin: 2px 0 2px 0;
        font-size: 14px;
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .h_option {
        float: right;
        width: 20%;
        text-align: right;
    }
    
    .created_date span {
        font-size: 12px;
    }
    
    .video_count {
        background: #EAEEF3;
        padding: 3px 11px;
        float: right;
        border-radius: 15px;
        color: #057EFF;
        text-align: center;
        margin-right: 10px;
        font-size: 12px;
        width: 47px;
    }
    
    .file_count {
        background: #EAF3EB;
        padding: 3px 11px;
        float: right;
        border-radius: 15px;
        color: #28A745;
        text-align: center;
        margin-right: 10px;
        font-size: 12px;
        width: 47px;
    }
    
    .video_count img {
        width: 12px;
        margin-right: 2px;
        position: relative;
        top: -1px;
    }
    
    .file_count img {
        width: 8px;
        margin-right: 2px;
        position: relative;
        top: -1px;
    }
    
    .created_date {
        padding-top: 5px;
    }
    
    .hu_op img {
        max-width: 22px;
    }
    
    .h_option img {
        max-width: 22px;
    }
    
    .hu_bottom {
        border-top: 1px solid #ddd;
        padding: 25px 0 5px 0;
        min-height: 216px;
        margin-top: 20px;
    }
    
    .img_box img {
        max-width: 46px;
        position: relative;
        border: 3px solid #fff;
        border-radius: 50%;
    }
    
    .img_box span {
        width: 29px;
        display: inline-block;
    }
    
    .limt_over {
        background: #EAEEF3;
        border-radius: 50%;
        width: 43px !important;
        height: 43px;
        text-align: center;
        line-height: 42px;
        font-weight: 600;
        margin-left: 1px;
        padding-left: 5px;
    }
    
    .hu_bottom p {
        margin-bottom: 5px;
    }
    
    .img_box {
        margin-bottom: 20px;
    }
    
    .hu_last {
        font-size: 13px;
        text-align: right;
        color: #A3A3A3;
    }
    
    .hu_last span {
        display: inline-block;
        border: 1px solid #28a745;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
        position: relative;
        top: -6px;
        margin-left: 5px;
    }
    
    .hu_last span img {
        position: relative;
        top: 3px;
        width: 15px;
    }
    
    .hu_op button {
        border: 0;
        padding: 0;
        background: none;
        outline: none !important;
        cursor: pointer !important;
    }
    
    .hu_op .dropdown-toggle::after {
        display: none;
    }
    
    .hu_op .dropdown-menu {
        min-width: 85px !important;
        padding: 10px 6px 6px 9px !important;
        left: -75px !important;
        right: 0 !important;
    }
    
    .hu_op .dropdown-menu a {
        font-size: 14px !important;
        background: none !important;
        color: #484848;
        margin-bottom: 5px;
        cursor: pointer !important;
    }
    
    .filter_cls button {
        border: 0;
        padding: 0;
        background: none;
        outline: none;
        cursor: pointer;
    }
    
    .filter_cls .dropdown-toggle::after {
        display: none;
    }
    
    .filter_cls .dropdown-menu {
        min-width: 85px !important;
        padding: 10px 6px 6px 9px !important;
        left: -105px !important;
    }
    
    .filter_cls .dropdown-menu a {
        font-size: 14px !important;
        background: none !important;
        color: #484848;
        margin-bottom: 5px;
    }
    
    .cur_icon {
        display: inline-block;
        width: 20px;
        margin-left: 10px;
    }
    
    .hu_last.col_b span {
        border: 1px solid #f69d27;
    }
    
    .hu_last.as_h span {
        border: 1px solid #057eff;
    }
    
    .f_name p {
        margin-bottom: 4px;
    }
    
    .hufooter {
        border: 0;
        text-align: right;
        padding-bottom: 21px;
    }
    
    .hufooter a {
        display: inline-block;
        padding: 7px 31px;
        border-radius: 5px;
        color: #484848;
        text-decoration: none;
    }
    
    .hufooter .green_btn {
        background: #28A745;
        color: #fff;
        padding-right: 30px;
        padding-left: 30px;
        font-weight: 500;
    }
    
    .hufooter .creat_btn:hover {
        color: #fff;
        text-decoration: none;
    }
    
    .modal-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
        display: block;
        color: #484848;
        text-align: center;
        width: 95%;
    }
    
    .f_name {
        padding-top: 15px;
    }
    
    .close {
        float: right;
        font-size: 28px !important;
        font-weight: 100 !important;
        line-height: 18px !important;
    }
    
    .alert_bg {
        background: #F7DF9A;
        padding: 10px;
        margin: 0 0 15px 0;
        border-radius: 4px;
    }
    
    .alert_bg .col-2 {
        padding-left: 0;
        text-align: center;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 14.666667%;
        flex: 0 0 14.666667%;
        max-width: 14.666667%;
    }
    
    .alert_bg .col-10 {
        padding: 0;
    }
    
    .alert_bg img {
        width: 24px;
        position: relative;
        top: 19px;
    }
    
    .alert_bg h6 {
        font-weight: 400;
        font-size: 15px;
        margin: 0;
        padding: 15px 0 20px 0;
    }
    
    .alert_bg p {
        font-size: 12px;
    }
    
    .hufooter a.conf_delete {
        border: 1px solid #CECECE;
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .modal-body {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .limt_over a {
        color: #484848;
        text-decoration: none;
    }
    
    .partci p {}
    
    .par_heading {
        border-bottom: 2px solid #D8D8D8;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 0px;
        line-height: 26px;
        font-weight: 500;
    }
    
    .par_heading .col-6 {
        padding-left: 0;
        flex: 0 0 49%;
        max-width: 49%;
    }
    
    .hufooter a.okbtn {
        background: #057EFF;
        color: #fff;
        padding: 9px 27px;
        font-weight: 500;
    }
    
    .par_listing img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 9px;
    }
    
    .par_email {
        padding-left: 0;
        word-break: break-all;
        padding-top: 9px;
        font-size: 14px;
    }
    
    .par_listing {
        font-size: 13px;
    }
    
    .par_listing {
        padding: 12px 0 0 0;
    }
    
    .listing_scroll {
        overflow: auto;
        max-height: 350px;
        overflow-x: hidden;
    }
    
    .border_bottom {
        padding-top: 15px;
        border-top: 1px solid #ddd;
    }
    
    .parti_list h6 {
        font-weight: 400;
        font-size: 14px;
    }
    
    .move_cls h6 {
        font-weight: 400;
        font-size: 14px;
        border-bottom: 2px solid #D8D8D8;
        padding-bottom: 4px;
        margin: 6px 0 4px 0;
    }
    
    .move_cls h6 img {
        width: 7px;
        position: relative;
        top: 0px;
        margin: 0 2px;
    }
    
    /* .folder_row img {
        width: 18px;
        margin-right: 10px !important;
        position: relative !important;
        top: 0px !important;
        float: left !;
    }
    
    .folder_row {
        padding-top: 15px;
        font-size: 12px
    }
    
    .folder_row span img {
        float: right;
        width: 7px;
        top: 2px;
        float: right;
        margin: 0;
    }
    
    .folder_row label {
        display: inline-block;
        font-weight: 400;
        max-width: 359px;
    } */
    
    .hu_gridview {
        margin: 0 38px 25px 38px;
    }
    
    .hu_gridview .col-3 {
        padding: 0 8px 0 0;
    }
    
    .hu_gridview .col-1 {
        padding: 0 5px;
        text-align: center;
    }
    
    .hu_gridview .lgcell {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 12%;
        flex: 0 0 12%;
        max-width: 12%;
    }
    
    .hu_grid button {
        border: 0;
        padding: 0;
        background: none;
        outline: none;
        cursor: pointer;
    }
    
    .hu_grid .dropdown-toggle::after {
        display: none;
    }
    
    .hu_grid .dropdown-menu {
        min-width: 85px !important;
        padding: 10px 6px 6px 9px !important;
        left: -55px !important;
    }
    
    .hu_grid .dropdown-menu a {
        font-size: 14px !important;
        background: none !important;
        color: #484848;
        margin-bottom: 5px;
    }
    
    .folder_grid {
        float: left;
        width: 15%;
    }
    
    .folder_detail {
        float: left;
        width: 85%;
    }
    
    .grid_heading {
        font-size: 13px;
        border-bottom: 1px solid #ddd;
        padding: 10px 0 6px 0;
    }
    
    .grid_row {
        font-size: 13px;
        border-bottom: 1px solid #ddd;
        padding: 10px 0 10px 0;
    }
    
    .grid_row label {
        margin: 0 0 2px 0;
        font-size: 15px;
    }
    
    .grid_row p {
        margin-bottom: 0;
    }
    
    .hu_gridview .lastcell {
        text-align: right;
        padding-right: 0 !important;
    }
    /***/
    
    .huddleHeaderDivider {
        height: 38px;
        width: 1px;
        float: left;
        background: #ccc;
        margin-right: 2%;
        margin-left: .8%;
    }
    
    .tabs_bar {
        padding: 15px 0;
    }
    
    .tabs_bar .nav-tabs .nav-item {
        margin-bottom: -1px;
        border: 1px solid #ddd;
        padding: 6px 26px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        margin-left: 0;
        line-height: 26px;
        height: 36px;
        border-bottom: 0;
    }
    
    .tabs_bar .nav-tabs .nav-item a {
        color: #A0A0A0;
        text-decoration: none;
        font-size: 15px;
    }
    
    .tabs_bar .nav-tabs .nav-item a.active {
        color: #1C7CD5;
        cursor: inherit;
    }
    
    .tabs_bar .nav-tabs {
        border: 0;
        /* position: relative;
        top: 4px; */
    }
    
    .tabs_bar .tab-content {
        border-top: 1px solid #E4E4E4;
        margin: 0 -15px;
        padding: 15px;
    }
    
    .plus_hu button {
        border: 0;
        padding: 0;
        background: #28A745;
        outline: none !important;
        cursor: pointer;
        padding: 7px 18px;
        border-radius: 4px;
        margin-left: 12px;
    }
    
    .plus_hu .dropdown-toggle::after {
        display: none;
    }
    
    .plus_hu button img {
        position: relative;
        top: -1px;
    }
    
    .plus_hu .dropdown-menu {
        min-width: 85px !important;
        padding: 10px 6px 6px 9px !important;
        left: -95px !important;
        -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.1);
    }
    
    .artifact .plus_hu .dropdown-menu {
        right: 0 !important;
        left: inherit !important;
    }
    
    .plus_hu .dropdown-menu a {
        font-size: 14px !important;
        background: none !important;
        color: #484848;
        margin-bottom: 5px;
        margin-left: 0;
    }
    
    .hu_ac {
        text-align: right;
    }

    .hu_ac_v2 {
        position: relative;
        top: -7.5px;
    }
    
    .hu_ac .plus_hu {
        display: inline-block;
    }
    
    .hu_ac a {
        color: #A1A1A1;
        text-decoration: none;
        margin-left: 20px;
    }
    
    .hu_ac .sepline {
        border-right: 1px solid #D8D8D8;
        padding-right: 15px;
    }
    
    .hu_ac a img {
        display: inline-block;
        margin-right: 7px;
    }
    
    .tabs_bar .panl_nav {
        margin: 0 2px 5px 4px;
    }
    
    .thumb_hu {
        background: #e0e0e0;
        height: 150px;
        margin: -1px -1px 0 -1px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-align: center;
        position: relative;
        display: table;
        width: 101%;
        vertical-align: middle;
    }
    
    .foldercls {
        float: left;
        width: 12%;
    }
    
    .hu_title {
        float: left;
        width: 70%;
    }
    
    .hu_op {
        float: left;
        text-align: right;
        width: 18%;
    }
    
    .huddle_detail {
        padding: 10px;
    }
    
    .artifact .huddle_detail {
        min-height: 123px;
    }
    
    .huddle_detail .hu_video {
        float: left;
        width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    .huddle_detail .hu_video label {
        font-size: 16px;
        display: inline-block;
        margin-bottom: 5px;
        line-height: 20px;
        color: #010101;
    }
    
    .artifact .huddle_detail .hu_video label {
        font-weight: 400;
        margin-bottom: -2px;
    }
    
    .huddle_detail .hu_op {
        float: right;
        text-align: right;
        width: 14%;
    }
    
    .h_by {
        color: #616161
    }
    
    .h_date {
        color: #A3A3A3
    }
    
    .huddle_detail p {
        margin-bottom: 0;
    }
    
    .artifact .huddle_detail p {
        padding: 1px 0 0 0;
        font-size: 14px;
    }
    
    .huddle_option a {
        text-decoration: none;
        border-radius: 50px;
        display: inline-block;
        padding: 2px 9px 1px 9px;
        line-height: 19px;
        height: 22px;
        font-size: 12px;
        font-weight: 500;
    }
    
    .huddle_option a.arrow_cls {
        padding: 3px 9px 0px 9px;
        position: relative;
        top: 2px;
    }
    
    .huddle_option a img {
        width: 10px;
        margin-right: 4px;
        position: relative;
        top: -1px;
    }
    
    .chat_cls {
        background: #EAEEF3;
        color: #1485FE !important;
        margin-right: 8px;
    }
    
    .huddlebox img {
        max-width: 100%;
    }
    
    .h_att {
        background: #EAF3EB;
        color: #28A745 !important;
    }
    
    .arrow_cls {
        background: #fff;
        border: 1px solid #CCCCCC;
        float: right;
    }
    
    .huddle_option a.arrow_cls img {
        width: 13px;
    }
    
    .artifact .ic2 {
        height: 20px;
        margin-right: 5px !important;
        width: 92%;
        display: inline-block;
    }
    
    .huddle_option {
        margin: 10px 0 0 0;
    }
    
    .huddle_option a.arrow_cls img {
        margin: 0;
        position: relative;
        top: -3px;
    }
    
    .thumb_hu img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .icontype {
        display: table-cell;
        height: 100%;
        padding: 0;
        width: 100%;
        vertical-align: middle;
    }

    .icontype2 img {
        width: 100%;
        max-height: 150px;
        cursor: pointer;
        object-fit: cover;
        height: 150px;
        object-position: 0 0;
    }
    
    .play_icon {
        position: absolute;
        top: 48px;
        left: 0;
        right: 0;
        cursor: pointer;
    }
    
    .video_time {
        position: absolute;
        right: 8px;
        bottom: 8px;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        border-radius: 4px;
        padding: 3px 7px 3px 5px;
        font-size: 13px;
    }
    
    .filter_options .btn {
        font-size: 15px;
        line-height: 27px;
    }
    
    .list_heading label {
        color: #484848;
    }
    
    .huddlelist_view .th_img img {
        height: 60px;
        width: 100%;
        border-radius: 4px;
        max-height: 60px;
    }
    
    .huddlelist_view .thumblist .list_play img {
        height: inherit;
    }
    
    .list_share a {
        display: inline-block;
    }
    
    .list_share .dropdown {
        float: right;
        position: relative;
        top: 5px;
    }
    
    .share_icon {
        text-decoration: none;
        border-radius: 50px;
        display: inline-block;
        padding: 6px 19px;
        line-height: 19px;
        background: #fff;
        text-decoration: none;
        border: 1px solid #CCCCCC;
        color: #616161;
    }
    
    .share_icon img {
        width: 16px;
        position: relative;
        top: -1px;
    }
    
    .list_heading .col-md-2,
    .list_row .col-md-2 {
        text-align: left;
    }
    
    .list_row .detail_list {
        width: 74%;
        float: left;
        margin-left: 3%;
        color: #010101;
    }
    
    .huddlelist_view .thumblist {
        background: #e0e0e0;
        height: 61px;
        margin: -1px 0 0 -1px;
        border-radius: 4px;
        text-align: center;
        position: relative;
        width: 91px;
        float: left;
        display: table;
    }
    .huddlelist_view {
        margin-bottom: 40px;
        padding: 0 5px;
    }
    
    .list_play {
        position: absolute;
        left: 3px;
        cursor: pointer;
        background: #FFFFFF;
        border-radius: 3px;
        bottom: 5px;
        width: 21px;
        height: 21px;
        padding: 0px 0;
    }
    
    .list_play img {
        border-radius: 0 !important;
        width: 7px !important;
        top: -0.8px;
        position: relative;
    }
    
    .list_row label {
        color: #010101;
    }
    
    .share_icon:hover {
        color: #616161;
        text-decoration: none;
    }
    
    .list_heading {
        margin: 0;
        border-bottom: 1px solid #D8D8D8;
        margin-bottom: 15px;
    }
    
    .list_row {
        margin: 0;
        border-bottom: 1px solid #D8D8D8;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    
    .huddlelist_view .video_time {
        bottom: 4px;
        padding: 2px 4px 2px 4px;
        font-size: 11px;
        right: 5px;
    }
    
    .list_row .col-md-5 {
        padding-left: 0;
    }
    
    .list_row .col-md-3 {
        padding-right: 0;
    }
    
    .list_row .col-md-2 {
        padding-right: 0;
    }
    
    .list_heading .col-md-5 {
        padding-left: 0;
    }
    
    .list_heading .col-md-3 {}
    
    .list_heading .col-md-2 {}
    
    .huddlelist_view img.w13 {
        width: 13px;
    }
    
    .huddlelist_view .huddle_option a {
        text-decoration: none;
        border-radius: 50px;
        display: inline-block;
        padding: 3px 9px 2px 9px;
        line-height: 19px;
        height: 23px;
        font-size: 12px;
    }
    
    .huddlelist_view .huddle_option a img {
        width: 11px;
    }
    
    .list_share .dropdown-toggle img {
        max-width: 22px !important;
    }
    
    .detail_list p {
        margin-bottom: 0;
        text-overflow: ellipsis;
        font-size: 15px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .list_row .icontype {}
    
    .list_row .icontype img {
        max-height: 30px;
        border-radius: 0;
    }
    
    .discuss_counts {
        float: left;
        width: 62%;
        padding-top: 15px;
    }
    
    .hutabs .hu_search {
        width: 32%;
        margin-right: 1%;
    }
    
    .huddle_dis_heading {
        border-top: 1px solid #D8D8D8;
        border-bottom: 1px solid #D8D8D8;
        padding: 15px 0;
        margin: 20px -4px 15px -4px !important;
    }
    
    .huddle_dis_row .col-md-2,
    .huddle_dis_heading .col-md-2 {
        text-align: left;
    }
    
    .huddle_dis_row {
        border-bottom: 1px solid #D8D8D8;
        padding-bottom: 15px;
        margin: 5px -4px 9px -4px !important;
    }
    
    .huddle_dis_row img {
        max-width: 100%;
    }
    
    .hu_dis_img img {
        border-radius: 50%;
        margin-top: 6px;
        object-fit: cover;
        width: 50px;
        height: 50px;
    }
    
    .huddle_dis_row .hu_op {
        float: right;
        width: 100%;
    }
    
    .huddle_dis_row .hu_op img {
        width: 20px;
    }
    
    .huddle_dis_row h4 {
        display: inline-block;
        margin-bottom: 0;
    }
    
    .huddle_dis_row h4 a {
        font-size: 17px;
        color: #010101;
        font-weight: 500;
        text-decoration: none;
        ;
    }
    
    .huddle_dis_row .col-md-4 label {
        margin-bottom: 5px;
        color: #616161;
        display: block;
    }
    
    .huddle_dis_row .col-md-4 p {
        line-height: 18px;
        font-size: 14px;
        margin: 0;
        color: #616161;
    }
    
    .hutabs .dropdown-toggle img {
        max-width: 22px;
        cursor: pointer;
    }
    
    .huddle_dis_row .hu_op .dropdown-menu {
        left: -32px !important;
    }
    
    .huddle_dis_row .col-md-2,
    .huddle_dis_row .list_opt {
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .dis_count span {
        background: #EAEEF3;
        color: #1485FE;
        margin-right: 5px;
        padding: 3px 13px;
        border-radius: 15px;
        font-size: 12px;
    }
    
    .huddle_dis_row .col-md-4,
    .huddle_dis_heading .col-md-4 {
        -ms-flex: 0 0 56%;
        flex: 0 0 56%;
        max-width: 56%;
        padding-left: 0;
        padding-right: 30px;
    }
    
    .huddle_dis_row .col-md-2,
    .huddle_dis_heading .col-md-2 {
        padding: 0;
        -ms-flex: 0 0 11%;
        flex: 0 0 11%;
        max-width: 11%;
    }
    
    .huddle_dis_row .list_center,
    .huddle_dis_heading .list_center {
        padding: 0;
        -ms-flex: 0 0 8%;
        flex: 0 0 8%;
        max-width: 8%;
    }
    
    .huddle_dis_row .hu_dis_img {
        padding: 0 20px 0 5px;
    }
    
    .huddle_dis_heading div {
        color: #484848;
    }
    
    .participants_cls .col-2 {
        padding-top: 9px;
        text-align: center;
        font-size: 14px;
    }
    
    .participants_cls .col-4 {
        padding-left: 0;
        font-size: 14px;
    }
    
    .participants_cls .hufooter {
        padding-top: 0;
    }
    
    .participants_cls .par_listing img {
        float: left;
    }
    
    .participants_cls .col-4 span {
        padding-top: 9px;
        display: inline-block;
    }
    
    .participants_cls .par_listing {
        margin: 0;
    }
    
    .par_heading .col-2 {
        padding-top: 0;
        padding-left: 16px;
    }
    
    .activity_row .ac_1 {
        float: left;
        width: 9%;
        font-size: 12px;
        text-align: center;
        margin-right: 5%;
    }
    
    .activity_row .ac_2 {
        float: left;
        width: 85%;
        font-size: 14px;
    }
    
    .activity_row .ac_2 a {
        border-bottom: 1px dotted #0F83FF;
    }
    
    .ac_2 label {
        margin: 0;
        color: #616161;
        display: contents;
        font-size: 14px;
    }
    
    .ac_2 a {
        color: #010101;
        text-decoration: none;
    }
    
    .activity_row {
        border-bottom: 1px solid #D8D8D8;
        padding: 11px 0;
    }
    
    .ac_1 b {
        font-size: 14px;
        font-weight: 400;
        color: #010101;
    }
    
    .no_discussions {
        padding: 120px 0;
        text-align: center;
    }
    
    .no_discussions p {
        max-width: 528px;
        margin: 0 auto;
        padding-top: 44px;
        font-size: 30px;
        line-height: 35px;
        color: #484848;
    }
    
    
    
    .huddlelist_view .list_row .list_share {
        padding-left: none;
    }
    
    .huddlelist_view .list_heading .col-md-3 {
        padding-left: 0px;
    }
    /* The container */
    
    .checkboxcls {
        display: block;
        position: relative;
        padding-left: 30px;
        margin: 13px 0;
        cursor: pointer;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #616161;
    }
    /* Hide the browser's default checkbox */
    
    .checkboxcls input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    /* Create a custom checkbox */
    
    .checkmark {
        position: absolute;
        top: -1px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #fff;
        border: 1px solid #B4BAC3;
        border-radius: 3px;
    }
    /* On mouse-over, add a grey background color */
    
    .checkboxcls:hover input~.checkmark {
        background-color: #fff;
    }
    /* When the checkbox is checked, add a blue background */
    
    .checkboxcls input:checked~.checkmark {
        background-color: #fff;
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    
    .checkboxcls input:checked~.checkmark:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    
    .checkboxcls .checkmark:after {
        left: 7px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid #B4BAC3;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        transform: rotate(40deg);
    }
    
    .croop_popup {
        text-align: center;
        padding: 10px;
    }
    
    .attachment_popup span {
        border: 1px solid #ced4da;
        display: inline-block;
        padding: 2px 5px 2px 5px;
        border-radius: 3px;
        max-width: 96%;
        float: left;
        color: #616161;
    }
    
    .attachment_popup {
        margin: 23px 0 10px 0;
    }
    
    .attachment_popup img {
        float: left;
        margin-right: 1%;
        width: 12px;
        position: relative;
        cursor: pointer;
        top: 8px;
    }
    
    .email_icon {
        float: left;
        margin-right: 8px !important;
    }
    
    .sendmail label {
        margin: 9px 0 5px 2px;
        color: #616161;
    }
    
    .sendmail .form-control {
        margin-bottom: 10px;
    }
    
    .sendmail textarea {
        min-height: 144px !important;
    }
    
    .sendmail {
        color: #616161;
    }
    
    .modal-body {
        padding: 1rem 20px !important;
    }
    
    .email_footer {
        padding-top: 0!important;
    }
    
    .email_footer .row {
        border: 0 !important;
        padding-top: 0px;
        margin: 0 -7px !important;
    }
    
    .huddlelist_view .list_heading .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
        flex: 0 0 45%;
        max-width: 45%;
    }
    
    .huddlelist_view .list_heading .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 19%;
        flex: 0 0 19%;
        max-width: 19%;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .huddlelist_view .list_heading .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16%;
        flex: 0 0 16%;
        max-width: 16%;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .huddlelist_view .list_row .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
        flex: 0 0 45%;
        max-width: 45%;
    }
    
    .huddlelist_view .list_row .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 19%;
        flex: 0 0 19%;
        max-width: 19%;
        margin-top: 3px;
        /* margin-bottom: auto;
        line-height: 11px;
        padding-top: 7px; */
    }
    
    .huddlelist_view .list_row .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16%;
        flex: 0 0 16%;
        max-width: 16%;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .huddle_detail .hu_op img {
        max-width: 20px;
    }
    
    a {
        cursor: pointer;
    }
    
    .discuss_counts a {
        color: #616161;
        text-decoration: none;
        font-size: 13px;
    }
    
    .discuss_counts a:hover {
        color: #616161;
    }
    
    .discuss_counts img {
        position: relative;
        top: -1px;
        margin-right: 5px;
    }
    
    .huddle_dis_heading2 {
        border-top: 1px solid #D8D8D8;
        padding: 5px 0 0 0;
        margin: 20px -17px -5px -18px !important;
    }
    
    .attachment_cls span {
        border: 1px solid #ced4da;
        display: inline-block;
        padding: 2px 5px 2px 5px;
        border-radius: 3px;
        float: left;
        color: #616161;
        margin: 5px;
    }
    
    .attachment_cls {
        margin: 7px 0;
        display: block;
    }
    
    .attachment_cls img {
        float: left;
        margin-right: 1%;
        width: 12px;
        position: relative;
        top: 12px;
    }
    
    .hu_detailcls h4 {}
    
    .hu_detailcls label {
        font-size: 20px;
        color: #010101;
        font-weight: 500;
    }
    
    .hu_detailcls label.checkboxcls {
        font-size: 14px;
        color: #616161;
        font-weight: 400;
    }
    
    .hu_detailcls img {
        max-width: 100%;
    }
    
    .hu_detailcls .hu_dis_img {
        padding: 0 20px 0 5px;
    }
    
    .hu_detailcls h4 a {
        color: #616161;
        font-size: 15px;
        font-weight: 600;
    }
    
    .hu_detailcls h4 {
        color: #616161;
        font-size: 14px;
        font-weight: 600;
    }
    
    .hu_detailcls .col-md-11 {
        padding-left: 0;
    }
    
    .hu_detailcls {
        border-bottom: 1px solid #D8D8D8;
        padding-bottom: 16px;
        margin: 11px -4px 20px -4px;
    }
    
    .discussion_cls {
        max-width: 91%;
        margin-top: 11px;
        margin-bottom: 20px;
        margin-left: 8% !important;
    }
    
    .discussion_cls h4 span {
        float: right;
        font-weight: 400;
        color: #CCCCCC;
        font-size: 12px
    }
    
    .discussion_options span {
        color: #919191;
        display: inline-block;
        margin-right: 28px;
    }
    
    .discussion_options span a {
        color: #919191;
        font-size: 13px;
        text-decoration: none;
    }
    
    .discussion_options img {
        margin-right: 5px;
        position: relative;
        top: -1px;
    }
    
    .topheader img {
        max-width: 100%;
    }
    
    .editdis_row_ {
        background: #fafafa;
            margin: 0px -21px 20px -24px !important;

        padding: 17px 13px 20px 15px;
    }
    
    .editorcls {
        width: 71%;
        margin: 11px 0 28px 8%;
    }
    
    .editor_btn {
        padding: 8px 0px 0 0px;
        margin-bottom: -10px;
    }
    
    .editor_btn button {
        padding: 10px 28px;
        margin-left: 10px;
        font-size: 14px;
        margin-left: 10px;
    }
    
    .editor_btn button:focus {
        box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25);
    }
    
    .editor_btn .btn-default {
        background: none;
    }
    
    .editor_btn .btn-success {
        background: #28A745;
        border: 0;
    }
    
    .filter_cls .dropdown-menu.sort2 {
        min-width: 130px !important;
        padding: 0 !important;
        left: -91px !important;
        overflow: hidden;
    }
    
    .filter_cls .dropdown-menu.sort2 a img {
        float: right;
        position: relative;
        top: 5px;
        right: -6px;
        width: 10px;
    }
    
    .dropdown-menu.sort2 a.dropdown-item {
        padding: 0px 13px !important;
        font-size: 15px !important;
        margin-bottom: 0;
    }
    
    .dropdown-menu.sort2 a.dropdown-item.active {
       /* background: #F7F7F7 !important; */
        color: #057eff!important;
    }
    
    .dropdown-menu.sort2 a.dropdown-item:hover {
        /* background: #F7F7F7 !important; */
        /* color: #057eff!important; */
    }
    
    /* body {
        ** padding: 0 !important;
        ** Commented this class to fix huddle modal padding issues, as its causing issues.
        ** Previous commit link : https://bitbucket.org/ksaleem81/sibme_prod_optimization/commits/e8930b2d64ac4625498213a38a1a892f75429bfd
        ** Ticket : https://sibmee.atlassian.net/browse/SW-4565
    } */
    
    @media(max-width:768px) {
        .huddle_dis_row .col-md-4,
        .huddle_dis_heading .col-md-4 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .huddle_dis_row .col-md-2,
        .huddle_dis_heading .col-md-2 {
            padding: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    
    .ql-upload-custom,
    .upload-custom-wrapper {
        background-image: url(../img/paperclip.svg) !important;
        background-position: center !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        width: 14px !important;
        height: 20px !important;
    }
    
    .upload-custom-wrapper {
        position: absolute;
        left: 356px;
        top: 145px;
    }
    
    .btn-secondary:not(:disabled):not(.disabled).active:focus,
    .btn-secondary:not(:disabled):not(.disabled):active:focus,
    .show>.btn-secondary.dropdown-toggle:focus {
        box-shadow: none!important;
        -moz-box-shadow: none!important;
        -webkit-box-shadow: none!important;
    }
    
    .discussions .df .row {
        border: 0 !important
    }
    
    .custom_files {
        border: 1px solid #ced4da;
        display: inline-block;
        padding: 0px 6px 2px 6px;
        border-radius: 3px;
        max-width: 96%;
        float: left;
        margin: 5px 7px 5px 0px;
        white-space: normal;
        word-break: break-all;
        font-size: 13px;
    }
    
    .custom_files span {
        cursor: pointer;
        font-size: 13px;
        display: inline-block;
        margin-left: 10px;
    }
    
    .df {
        display: block !important;
    }
    
    .slimscroll-wrapper {
        max-width: 98%;
    }
    
    .linecls {
        height: 12px!important;
        margin-bottom: 10px!important;
        width: 100%;
        display: inline-block;
        
    }
    
    .anrow .col-4 .linecls {
        width: 50%;
        margin: 17px 0 0 13px;
    }
    
    .anrow .par_email .linecls {
        margin-top: 20px;
    }
    
    .anrow .col-2 .linecls {
        margin-top: 10px;
    }
    
    .activity_row .linecls {
        display: block;
        margin-bottom: 0 !important;
    }

    .activity_row .ac_1 b,
    .activity_row .ac_1 strong {
        font-size: 15px;
        color: #000;
        font-weight: 600;
    }
    
    
    .panl_heading h3.linecls {
        background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #ededed 33%);
        height: 24.4px;
        position: relative;
        top: 9px;
        min-height: 25px;
    }
    
    .trimcls p {
        display: inline-block;
    }
    
    .border0 {
        border: 0 !important;
    }
    
    .modal-body .par_listing .animate_me {
        float: left;
    }
    
    .modal-body .par_listing .col-6 .animate_me {
        margin-top: 8px;
    }
    
    .tabsloading {
        margin: 0 !important;
        height: 40px !important;
        width: 100%;
        display: inline-block;
    }
    
    .hu_detailcls h4 span {
        float: right;
        font-weight: 400;
        color: #CCCCCC;
        font-size: 12px;
    }
    
    .detail_edit .hu_dis_img img {
        margin-top: 0;
    }
    
    .discussion_cls .hu_dis_img img {
        margin-top: 0;
        max-width: 50px;
    }
    
    .created_date span {
        float: none;
    }
    
    .created_date .video_count {
        margin-right: 0;
    }
    
    .created_date .video_count,
    .created_date .file_count {
        margin-right: 0;
    }
    
    body {
        font-family: Roboto !important;
    }
    
    .huddle_dis_row .col-md-2 .animate_me,
    .huddle_dis_row .dot_ani3 {
        margin-top: 25px;
    }
    
    .modal-body .par_email {
        padding-left: 5px;
    }
    
    .master_edit {
        color: #919191;
        font-size: 13px;
        text-decoration: none;
        font-weight: 500;
    }
    
    .discussion_options {
        font-weight: 500;
        margin-top: 12px;
    }
    
    .master_edit img {
        margin-right: 5px;
        position: relative;
        top: -1px;
    }
    
    .editor_eidt {
        margin-left: 0 !important;
    }
    
    .editorbottom {
        width: 95%;
        margin-bottom: 0;
        margin-top: -22px !important;
    }
    
    .editorbottom .discussion_cls {
        border: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .artifact .nav-tabs {
        margin-left: 4px;
    }
    
    .artifact .hu_op .dropdown-menu {
        left: -68px !important;
    }
    
    .reply_editor .editor_eidt .col-md-1 {
        flex: 0 0 11%;
        max-width: 11%;
    }
    
    .reply_editor .editor_eidt .col-md-11 {
        flex: 0 0 89%;
        max-width: 89%;
    }
    
    .plus_placeholder {
        display: inline-block;
        height: 29px;
    }
    
    .reply_editor .discussion_cls {
        width: 100%;
        max-width: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    .reply_editor .hu_detailcls {
        border: 0 !important;
    }
    
    .reply_edi {
        padding: 0 5px !important;
    }
    
    .w100 {
        width: 100%;
    }
    
    .moreless {
        font-weight: bold;
        display: inline-block;
        color: #000;
        position: relative;
        margin: 5px 0 5px 0;
        cursor: pointer;
    }
    
    .discu_footer .row {
        padding-top: 0px;
        border: 0;
    }
    
    .discu_footer {
        padding: 11px 5px !important;
    }
    
    .detail_list .huddle_option {
        margin: 2px 0 0 0;
    }
    
    .detail_list p.animate_me {
        display: block;
    }
    
    .ar_an {
        display: block;
        width: 57px;
        height: 23px !important;
    }
    
    .ar_dc {
        display: block;
        width: 81px;
        height: 23px !important;
    }
    
    .ar_co {
        display: block;
        width: 81px;
        height: 18px !important;
        margin-bottom: 16px;
        margin-top: 5px;
    }
    
    .x_hu_cross {
        margin-top: 0px !important;
        width: 6px;
    }
    
    .br_an {
        background: #615959 !important;
        background: linear-gradient(to right, #f1f1f1 8%, #e7e7e7 18%, #dfdfdf 33%) !important;
        height: 19px !important
    }
    
    .reply_owner {
        font-size: 13px !important;
        color: #616161 !important;
        font-weight: 400 !important;
        margin-left: 8px;
    }
    
    .parti_list .par_listing {
        font-size: 14px;
    }
    
    .ac_1 strong {
        font-size: 15px;
        color: #000;
    }
    
    .par_heading .col-4 {
        padding-left: 0;
    }
    
    .ply_box {
        position: relative;
    }
    
    .ply_box .ply_play {
        position: absolute;
        left: 0;
        top: 46%;
        transform: translateY(-50%);
        right: 0;
        bottom: 0;
        margin: 0 auto;
        cursor: pointer;
    }
    
    .ply_box video {
        width: 100%;
        max-height: 350px;
        height: 350px;
    }
    
    .artifact .list_heading {
        border-top: 1px solid #D8D8D8;
        padding-top: 11px;
        padding-bottom: 4px;
        margin-top: 6px;
    }
    
    .modal-header .close {
        outline: 0 !important;
    }
    
    .dis_text {
        margin-bottom: 0;
        margin-bottom: 0;
        overflow: hidden;
    }
    
    .dis_text p {
        margin-bottom: 0;
    }
    
    .reply_owner svg {
        margin-right: 3px;
    }
    
    .discussion_cls p {
        margin-bottom: 0;
    }
    
    .huddle_dis_row .col-md-4 label b {
        font-weight: 500;
        font-size: 14px;
    }
    
    .animation_cls {
        -webkit-animation-duration: 1.25s;
        animation-duration: 1.25s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-name: placeHolderShimmer;
        animation-name: placeHolderShimmer;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        background: #dfdfdf;
        background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
        background-size: 800px 104px;
        position: relative;
    }
    
    .imgani {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    
    .anh {
        width: 50%;
        height: 25px;
    }
    
    .anp {
        width: 100%;
        height: 15px;
    }
    
    .acc {
        display: inline-block;
        height: 10px;
        margin-right: 12px;
        width: 35px;
    }
    
    .new_huddlebox .inner_h .icontype img {
        max-width: 45px;
        border-radius: 0;
    }
    
    .list_center {
        text-align: center !important;
    }
    
    .par_listing .col-4 .g_name {
        display: block;
        width: 140px;
        float: right;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 9px;
        white-space: nowrap;
    }
    
    .par_listing .col-2 {
        padding-top: 8px;
        padding-left: 0
    }
    
    .parti_list .slimscroll-wrapper {
        max-width: 100%;
    }
    
    .par_foo {
        padding-left: 5px !important;
        padding-right: 5px!important;
    }
    
    .h_by b {
        color: #616161;
        font-weight: 500;
        font-size: 13px;
    }
    
    .list_nav2 {
        border-bottom: 1px solid #ddd;
          padding: 18px 139px 18px 0px;
        margin: 0 2px 18px 4px;     position: relative;
    }
    
    .count2 {
        padding: 0 0 20px;
        margin: 0 -5px 0 4px !important;
    }
    
    .count2 .col-6 {
        padding-left: 0;
    }
    
    .list_share .hu_op img {
        width: 20px;
    }
    
    .refooter .col-12 {
        padding-right: 4px;
    }
    
    .de_footer .col-12 {
        padding-right: 4px;
    }
    
    .cro_foo .col-12 {
        padding-right: 1px;
    }
    
    .singleline img {
        top: 15px !important;
    }
    
    .singleline h6 {
        padding: 18px 0 20px 0!important;
    }
    
    .pt16 {
        padding-top: 16px !important;
    }
    
    .hu_video .lineane {
        width: 100%;
    }
    
    .list_row .icontype img[src*="image_icon.png"] {
        max-width: 25px;
    }
    
    .discussions .nav-tabs {
        margin-left: 4px;
    }
    
    .discussions .panl_nav {
        margin: 0 6px 5px 8px;
    }
    
    .dot90 {
        display: inline-block;
        width: 90%;
        top: 0px;
        height: 10px !important;
    }
    
    .dis_count.list_center span {
        margin-right: 0px;
    }
    
    .btn-success:not(:disabled):not(.disabled).active:focus,
    .btn-success:not(:disabled):not(.disabled):active:focus,
    .show>.btn-success.dropdown-toggle:focus {
        box-shadow: 0 0 0 0rem rgba(40, 167, 69, .5) !important;
    }
    
    .list_nav2 .filter_options .btn-secondary {
        padding-right: 4.5%;
        padding-left: 4.5%;
    }
    
    .language_sp .list_nav2 .filter_options .btn-secondary {
        padding-right: 3.5%;
        padding-left: 3.5%;
    }
    
    .animate_share {
        -webkit-animation-duration: 1.25s;
        animation-duration: 1.25s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-name: placeHolderShimmer;
        animation-name: placeHolderShimmer;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        background: #F6F6F6;
        background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
        background-size: 800px 104px;
        position: relative;
    }
    
    .share_ani {
        margin-bottom: 10px;
    }
    
    .share_ani .anich {
        height: 20px;
        margin-right: 1%!important;
        width: 4%;
        display: inline-block;
    }
    
    .share_ani .anitxt {
        height: 20px;
        margin-right: 5px !important;
        width: 92%;
        display: inline-block;
    }
    
    .grid_row .col-12.row {
        padding-right: none;
    }

    .list_row .detail_list .url-artifact-list-link {
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap;
    }
	
	.box_padding { padding:0 5px;}
	
	.box_padding2{ padding:0 10px;     margin: 0 -20px;}
	
	p.dis_text{ padding:0;}
	
	
	@media only screen and (max-width:1500px) and (min-width: 1301px)  {
		.img_box span.fake_link {width: 20px !important;}
		}
		
		
		@media screen and (min-width:1300px) {
			
			.huddle_dis_row .hu_dis_img {
        -ms-flex: 0 0 8.333333%;
    flex: 0 0 6.333333%;
    max-width: 6.333333%;
}

.huddle_dis_row .col-md-4 {
	
	    -ms-flex: 0 0 56%;
    flex: 0 0 56%;
    max-width: 56%;
	}
	
	.hu_detailcls .hu_dis_img {
        -ms-flex: 0 0 6.333333%;
    flex: 0 0 6.333333%;
    max-width: 6.333333%;
}

.hu_detailcls .col-md-11 {
   -ms-flex: 0 0 93.666667%;
    flex: 0 0 93.666667%;
    max-width: 93.666667%;
}
  
}
.dics_dot .col-md-4{
    -ms-flex: 0 0 47%;
flex: 0 0 47%;
max-width: 47%;
}
.dist_hed .col-md-4{
    -ms-flex: 0 0 47%;
flex: 0 0 47%;
max-width: 47%;
}

.tip_show .slimscroll-wrapper {    max-width: 100%;
    padding-right: 11px;}
	
	.tip_show .slimscroll-bar {    width: 6px !important;
    background: #28A745 !important;}
	



