.lineane { height: 12px; }

.thumb-container { height: 150px; }

.processing{
	background: black;
	color: #FFF;
	text-align: center;
}
.processingDisabled{
    background: #595958;
    color: #FFF;
	text-align: center;
}

.remove_background{
    background-color: #fff !important;

    
    /* opacity: 1 !important; */

}
.processing p{
	margin-top: 0;
	padding-top: 20px;
}

.processing img.loader{
	height: 70px;
}
.hu_op .dropdown-menu {
    min-width: 85px !important;
    padding: 10px 6px 6px 10px !important;
    left: -97px !important;
    width: 135px;
}
ul.disabled{
	color: grey;
}

ul.disabled_ul a:not(.available){
	color: grey;
}
.minHeight40{
    min-height: 40px;
}

.minHeight160{
    min-height: 160px;
}

.video_crope {
    height: 149px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 25px 10px 10px 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    line-height: 16px;
}

.video_crope a { color: #007bff !important; }

.live-time {
    padding: 0px 4px;
    border-radius: 3px;
    background-color: #db2e2e;
    font-size: 12px;
}

.hu_video a {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #010101;
    text-decoration: none;
    margin-bottom: -2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.folder_container { position:relative;}
.drage_file { background-color: rgba(0,0,0, 0.5);
    text-align: center;
    padding: 25px;
    height: 150px;
    width: 250px;
    margin: 0 auto;
    margin-top:250px;
    /* margin-top: auto;
    margin-bottom: auto;*/     
    border-radius: 5px;} 

    .styleOne{margin-top:250px;}
    .styleTwo{margin-top:10px;}
.drag_over { background-color: rgba(0,0,0, 0.3);
    top: -7px;
    position: absolute;
    left: -7px;
    right: -7px;
    bottom:-7px;
    display: none;
   }

.drage_file b { color:#fff; display:block; padding-top:20px;}

.loadingimgIE{
    height: 37px !important;
    margin-top: 18px;
}

.url-artifact-link {
   width: 100%;
    height: 18px;
    color: #606060;
    font-size: 13px;
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #424242;
    text-decoration: none;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: -5px;
}

.url-artifact-details {
    margin: 0;
    position: relative;     top: -5px;
}
.url-artifact-details p { padding:0 !important;     line-height: 19px;}

.url-share {
      width: 33px;
    height: 22px;
    position: absolute !important;
    top: 64px !important;
    right: 0;
}

.thumbnail_default_cl{object-fit: contain !important;max-width: 92% !important;}
.thumb_hu.hmh_site
{
  margin: 0 !important;
  width: 100% !important;
  display: block !important;
}
.thumb_hu.hmh_site.processing
{
  display: table !important;
}
.thumb_hu.hmh_site .thumbnail_default_cl
{
  object-fit: cover !important;
  max-width: 100% !important;
}
.fifteenPx-main{
      padding: 0px 10px !important;
}
.cont_ld{    margin: 0px -7px 0 -7px!important;}

@media(max-width:1500px){
	.fifteenPx-main {    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;}
	
	
	
	}
	
	
	
	@media(max-width:1200px){
	.fifteenPx-main {    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;}
	
	}