<div fileDropUpload  (drop)="uploadFiles($event)" (dragenter)="callTochange($event)" (dragleave)="changeBackgroundDefault($event)" dndDropzone class="remove_background">
  <div class="folder_container test123">
    
  <div class="row huddlebox new_huddlebox" [ngClass]="artifacts.length == 0 ? 'minHeight160' : 'minHeight40'">
    <div *ngFor="let artifact of artifacts" class="fifteenPx-main" [ngClass]="(pageType == 'library-page')?'col-md-3':'col-md-2'" (mouseenter)="artifact.mouseEntered=true"
      (mouseleave)="artifact.mouseEntered=false">

      <div class="inner_h" [dndDraggable]="artifact" [dndEffectAllowed]="getActionPermission(artifact) ? 'move': false">
        <div dndHandle>
          <!-- Video box start -->
          <a *ngIf="artifact?.doc_type == 1" [routerLink]="[getArtifactUrl(artifact)]"
            [queryParams]="{goalEvidence: goalEvidence}">
            <div class="thumb_hu" [ngClass]="{'hmh_site' : artifact?.site_id == 2}"
              [class.processing]="artifact.published==0 || artifact?.thubnail_url ==null || (artifact?.transcoding_status==5  || artifact?.encoder_status=='Error')">
              <ng-container
                *ngIf="artifact.published==1 && artifact?.thubnail_url !=null  && artifact?.video_duration > 0 && (artifact?.transcoding_status!=5 && artifact?.encoder_status!='Error')">
                <img *ngIf="!this.headerService.isAValidAudio(this.headerService?.getExtension(artifact?.url))"
                  class="thumbnail_i" [ngClass]="{'thumbnail_default_cl' : artifact?.thumbnail_type == 'default'}"
                  src="{{artifact?.thubnail_url}}" width="230" height="150">
                <img *ngIf="this.headerService.isAValidAudio(this.headerService?.getExtension(artifact?.url))"
                  class="thumbnail_i" [ngClass]="{'thumbnail_default_cl' : artifact?.thumbnail_type == 'default'}"
                  src="{{this.headerService?.getAudioURL()}}" width="230" height="150">
                <span class="play_icon"> <img src="assets/video-huddle/img/video_ply.svg"> </span>
              </ng-container>
              <ng-container
                *ngIf="artifact.published==1 && artifact?.thubnail_url !=null  && (!artifact?.video_duration || artifact?.video_duration == 0) && (artifact?.transcoding_status!=5 && artifact?.encoder_status!='Error')">
                <img *ngIf="!this.headerService.isAValidAudio(this.headerService?.getExtension(artifact?.url))"
                  class="thumbnail_i" [ngClass]="{'thumbnail_default_cl' : artifact?.thumbnail_type == 'default'}"
                  src="{{artifact?.thubnail_url}}" width="230" height="150">
                <img *ngIf="this.headerService.isAValidAudio(this.headerService?.getExtension(artifact?.url))"
                  class="thumbnail_i" [ngClass]="{'thumbnail_default_cl' : artifact?.thumbnail_type == 'default'}"
                  src="{{this.headerService?.getAudioURL()}}" width="230" height="150">
                <span *ngIf="artifact?.video_is_saved !=0" class="play_icon"> <img
                    src="assets/video-huddle/img/video_ply.svg">
                </span>
              </ng-container>
              <ng-container
                *ngIf="artifact.published==1 && artifact?.thubnail_url !=null  && artifact?.video_duration == -1 && (artifact?.transcoding_status!=5 && artifact?.encoder_status!='Error')">
                <img [src]="artifact?.thubnail_url" width="200" height="150">
                <span class="play_icon"> <img src="assets/video-huddle/img/video_ply.svg"> </span>
              </ng-container>
              <ng-container
                *ngIf="(artifact.published==0 && (artifact?.thubnail_url ==null || artifact?.thubnail_url =='' )) && (artifact?.transcoding_status!=5 && artifact?.encoder_status!='Error') ">
                <p class="library_vid_processing"
                  *ngIf="(artifact?.transcoding_status!=5 || artifact?.encoder_status!='Error') && !this.headerService.isAValidAudio(artifact?.file_type)">
                  <span>
                    {{artifact?.video_is_saved ==0 ? translation?.artifacts_video_not_saved : translation?.artifacts_video_currently_processing}}
                  </span>
                  <br />
                  <img *ngIf="!isIEOpened && artifact?.video_is_saved !=0" class="loader" height="70"
                    src="assets/video-huddle/img/spinner.svg">

                  <img *ngIf="isIEOpened && artifact?.video_is_saved !=0" src="assets/video-huddle/img/spin.gif"
                    class="loader loadingimgIE">

                  <img *ngIf="artifact?.video_is_saved ==0" class="thumbnail_i"
                    [ngClass]="{'thumbnail_default_cl' : artifact?.thumbnail_type == 'default'}" height="70"
                    src="assets/img/video-thumbnail-sibme.svg">
                </p>
                <p class="library_vid_processing"
                  *ngIf="(artifact?.transcoding_status!=5 || artifact?.encoder_status!='Error') && this.headerService.isAValidAudio(artifact?.file_type)">
                  {{translation?.artifacts_audio_currently_processing}}
                  <br />
                  <img class="loader" height="70" src="assets/video-huddle/img/spinner.svg">
                </p>
              </ng-container>
              <ng-container *ngIf="(artifact?.transcoding_status==5  || artifact?.encoder_status=='Error') ">
                <div class="video_crope">
                  {{artifact.file_type=='mp3' ? translation?.audio_not_processed :  translation?.video_not_processed}}<a
                    target="_top">support@sibme.com</a>
                </div>
              </ng-container>
              <span class="video_time"
                *ngIf="artifact?.video_is_saved !=0">{{headerService?.FormatSeconds(artifact?.video_duration)}}</span>
            </div>
          </a>
          <!-- Video box end -->
          <!-- Resource box start -->

                <a *ngIf="artifact?.doc_type == 2; else other_content " (click)="getArtifactUrl(artifact)">
                    <div class="thumb_hu">
                        <div [ngClass]="(artifact.s3_thumbnail_url == null)? 'icontype':'icontype2'">
                            <img [src]="artifact?.thubnail_url">
                        </div>
                    </div>
                </a>
                <!-- Resource box ready for download condition added for csv -->
                <ng-template #other_content>
                    <ng-container *ngIf="artifact?.doc_type == 2 && artifact.file_type == 'csv' && artifact.ready_for_download == 1 ">
                        <a (click)="DownloadResource(artifact)">
                            <div class="thumb_hu">
                                <div [ngClass]="(artifact.s3_thumbnail_url == null)? 'icontype':'icontype2'">
                                    <img [src]="artifact?.thubnail_url">
                                </div>
                            </div>
                        </a>
                    </ng-container>
                    <ng-container *ngIf="artifact?.doc_type == 2 && artifact.file_type == 'csv' && (!artifact.ready_for_download || artifact.ready_for_download == 0) ">
                        <a>
                            <div class="thumb_hu">
                                <div [ngClass]="(artifact.s3_thumbnail_url == null)? 'icontype':'icontype2'">
                                    <img [src]="artifact?.thubnail_url">
                                </div>
                            </div>
                        </a>
                    </ng-container>
                </ng-template>

                <!-- Resource box end -->
                <!-- Scripted-note box start -->
                <a *ngIf="artifact?.doc_type == 3 && artifact?.is_processed < 4" [routerLink]="[getArtifactUrl(artifact)]" [queryParams]="getArtifactQueryParams(artifact)">
                    <div class="thumb_hu">
                        <div class="icontype">
                            <img [src]="artifact?.thubnail_url">
                        </div>
                    </div>
                </a>
                <!-- Scripted-note box end -->
                <!-- Sync-note box start -->
                <a *ngIf="artifact?.doc_type == 3 && (artifact?.is_processed == 4 || artifact?.is_processed == 5)" [routerLink]="[getArtifactUrl(artifact)]" [queryParams]="{goalEvidence: goalEvidence}">
                    <div class="thumb_hu">
                        <ng-container *ngIf="artifact?.published==0 && artifact?.upload_progress <= 100 && (artifact?.upload_status == 'uploading' || artifact?.upload_status == 'paused' || artifact?.upload_status == 'Paused' || artifact?.upload_status == 'cancelled' || artifact?.upload_progress == 0)">
                            <div class="video_reco">
                                <span *ngIf="artifact?.upload_progress==0 && artifact?.upload_status != 'cancelled'">
                  {{translation?.workspace_liverecording}}
                </span>
                                <span *ngIf="artifact?.upload_status == 'paused' || artifact?.upload_status == 'Paused'">
                  {{translation?.workspace_paused}}
                </span>
                                <span *ngIf="artifact?.upload_status == 'cancelled'">
                  {{translation?.workspace_cancelleduploadvideo}}
                </span>
                                <span *ngIf="(artifact?.upload_status=='uploading' && (artifact?.upload_progress>0)<=100)">
                  {{translation?.workspace_uploading}} {{artifact?.upload_progress}}%
                </span>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="artifact?.published==0 && artifact?.upload_status == null && artifact?.is_processed == 1">
                            <div class="video_reco">
                                <span>{{translation?.workspace_cancelleduploadvideo}}</span>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="(artifact?.published==1 && artifact?.upload_status != 'cancelled') || (artifact?.upload_progress=='100' && artifact?.upload_status == 'uploaded')">
                            <img *ngIf="artifact.thubnail_url" class="thumbnail_i" [ngClass]="{'thumbnail_default_cl' : artifact?.thumbnail_type == 'default'}" src="{{artifact.thubnail_url}}" width="230" height="150" style="object-fit:cover">
                            <span *ngIf="artifact.thubnail_url" class="play_icon"> <img src="assets/img/video_ply.svg"> </span>
                        </ng-container>
                        <span class="video_time">{{headerService?.FormatSeconds(artifact?.video_duration)}}</span>
                        <ng-container *ngIf="artifact?.published==1 && artifact?.upload_status == 'cancelled'">
                            <div class="video_crope"> {{translation?.workspace_cancelleduploadvideo}} </div>
                        </ng-container>
                    </div>
                </a>
                <!-- Sync-note box end -->
                <!-- Live-stream box start by same user-->
                <a *ngIf="artifact?.doc_type == 4 && artifact?.created_by == user_id_streamer" (click)="userOwnStream()">
                    <div class="thumb_hu" [class.processingDisabled]="artifact.published==0 || artifact?.thubnail_url ==null || (artifact?.transcoding_status==5  || artifact?.encoder_status=='Error')">
                        <span class="video_time live-time">LIVE</span>
                    </div>
                </a>
                <!-- Live-stream box end by same user-->
                <!-- Live-stream box start -->
                <a *ngIf="artifact?.doc_type == 4 && artifact?.created_by != user_id_streamer" [routerLink]="[getArtifactUrl(artifact)]" [queryParams]="{goalEvidence: goalEvidence}">
                    <div class="thumb_hu" [class.processing]="artifact.published==0 || artifact?.thubnail_url ==null || (artifact?.transcoding_status==5  || artifact?.encoder_status=='Error')">
                        <span class="video_time live-time">LIVE</span>
                    </div>
                </a>
                <!-- Live-stream box end -->
                <!-- URL artifact box start -->
                <a *ngIf="artifact?.doc_type == 5" (click)="updateURLViews(artifact)" target="_blank" [href]="getArtifactUrl(artifact)">
                    <div class="thumb_hu">
                        <div [ngClass]="(artifact.thubnail_url == 'assets/img/url-icon.svg')? 'icontype':'icontype2'">
                            <!-- <img src="assets/img/url-icon.svg"> -->
                            <img *ngIf="artifact?.thubnail_url != null" src="{{artifact?.thubnail_url}}">
                        </div>
                    </div>
                </a>
                <!-- URL artifact box end -->
                <div class="huddle_detail">
                    <div class="hu_video">
                        <a *ngIf="artifact?.doc_type != 2 && artifact?.doc_type != 5 && artifact?.doc_type != 4" [routerLink]="[getArtifactUrl(artifact)]" [queryParams]="getArtifactQueryParams(artifact)" [tooltip]="artifact.title">
              {{artifact.title}}
            </a>
                        <a *ngIf="artifact?.doc_type == 4 && artifact?.created_by != user_id_streamer" [routerLink]="[getArtifactUrl(artifact)]" [queryParams]="getArtifactQueryParams(artifact)" [tooltip]="artifact.title">
              {{artifact.title}}
            </a>
                        <a *ngIf="artifact?.doc_type == 4 && artifact?.created_by == user_id_streamer" (click)="userOwnStream()" [tooltip]="artifact.title">
              {{artifact.title}}
            </a>
                        <a *ngIf="artifact?.doc_type == 2; else else_part" (click)="getArtifactUrl(artifact)" [tooltip]="getArtifectTooltip(artifact)">
              {{artifact.title}}.{{artifact.file_type}}
            </a>
                        <ng-template #else_part>
                            <ng-container *ngIf="artifact?.doc_type == 2 && artifact.file_type == 'csv' && artifact.ready_for_download == 1 ">
                                <a (click)="DownloadResource(artifact)">
                  {{artifact.title}}
                </a>
                            </ng-container>
                            <ng-container *ngIf="artifact?.doc_type == 2 && artifact.file_type == 'csv' && (!artifact.ready_for_download || artifact.ready_for_download == 0) ">
                                <a>
                  {{artifact.title}}
                </a>
                            </ng-container>
                        </ng-template>
                        <a *ngIf="artifact?.doc_type == 5" target="_blank" (click)="updateURLViews(artifact)" [href]="getArtifactUrl(artifact)" [tooltip]="artifact.title">
              {{artifact.title}}
            </a>
                    </div>
                    <ng-container *ngIf="( (original_account && pageType == 'library-page') || (pageType != 'library-page') ) && (getActionPermission(artifact))">
                        <div class="hu_op dropdown" *ngIf="!(artifact?.mouseEntered || isDropdownOpen) ">
                            <button type="button">
                <img src="assets/video-huddle/img/dots_dark.svg" width="30">
              </button>
                        </div>
                        <div class="hu_op dropdown" dropdown *ngIf="artifact?.mouseEntered || isDropdownOpen">
                            <span (isOpenChange)="isOpen(artifact, $event)" dropdown>
                <button type="button" id="button-basic" dropdownToggle>
                  <img src="assets/video-huddle/img/dots_dark.svg" width="30">
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic"
                  [class.disabled_ul]="artifact.published==0">
                  <ng-container
                    *ngIf="artifact.published==1 && pageType == 'library-page' && getPermission(artifact,'category')">
                    <a class="dropdown-item" (click)="openCategoryModal(artifact);"
                      *ngIf="(artifact?.transcoding_status!=5 && artifact?.encoder_status!='Error')">{{ translation?.vl_category }}</a>
                  </ng-container>
                  <ng-container *ngIf="artifact.published==1">
                    <a class="dropdown-item" (click)="openRenameModal(artifact)"
                      *ngIf="(artifact.doc_type != 5 && artifact?.transcoding_status!=5 && artifact?.encoder_status!='Error' && ((pageType == 'library-page' && getPermission(artifact,'rename')) || pageType != 'library-page'))">{{translation?.artifact_rename}}</a>

                      <ng-container
                        *ngIf="artifact.published==1 && pageType == 'library-page' && getPermission(artifact,'rename')">
                        <a class="dropdown-item" (click)="openDescriptionModal(artifact);"
                          *ngIf="(artifact?.transcoding_status!=5 && artifact?.encoder_status!='Error')">{{translation?.description_vl}}</a>
                      </ng-container>

                    <ng-container
                      *ngIf="artifact.doc_type == 1 || artifact.doc_type == 2 || artifact.doc_type == 4 || (artifact?.doc_type == 3 && (artifact.is_processed == 4 || artifact.is_processed == 5))">
                      <a *ngIf="getPermission(artifact,'crop') && pageType != 'library-page' && (artifact?.transcoding_status!=5 && artifact?.encoder_status!='Error') && artifact?.video_is_saved !=0 && artifact.doc_type != 2"
                        class="dropdown-item" (click)="openCropModal(artifact);">{{translation?.artifact_crop}}</a>
                      <a *ngIf="getPermission(artifact ,'duplicate') && (artifact?.transcoding_status!=5 && artifact?.encoder_status!='Error') && artifact?.video_is_saved !=0"
                        class="dropdown-item"
                        (click)="OpenDuplicateResourceModal(artifact)">{{translation?.artifact_duplicate}}</a>
                    </ng-container>

                      <ng-container>
                        <a *ngIf="artifact?.parent_folder_id || haveFolders" class="dropdown-item" (click)="onMoveFolder(artifact)">{{translation?.df_move_to_folder}}</a>
                      </ng-container>

                      <a *ngIf="getPermission(artifact,'rename') && artifact.doc_type == 5" class="dropdown-item"
                        (click)="openURLArtifactModal(artifact)">{{translation?.vd_edit}}</a>

                      <a *ngIf="getPermission(artifact,'download') && ((artifact.ready_for_download == 1 && artifact.doc_type == 2 ) ||  artifact.doc_type != 2 ) && artifact.doc_type != 5 && (artifact.doc_type != 3 || (artifact?.doc_type == 3 && (artifact.is_processed == 4 || artifact.is_processed == 5))) && (artifact?.transcoding_status!=5 && artifact?.encoder_status!='Error') && artifact?.video_is_saved !=0"
                        class="dropdown-item" (click)="DownloadResource(artifact)">{{translation?.artifact_download}}</a>
                      <a *ngIf="getPermission(artifact,'delete')" class="dropdown-item"
                        (click)="OpenDeleteModal(artifact)">{{translation?.artifact_delete}}</a>
                    </ng-container>
                    <ng-container *ngIf="artifact.published==0">
                      <a *ngIf="!!additionalData?.submission_date_passed"
                        class="dropdown-item">{{translation?.artifact_delete}}</a>
                      <a *ngIf="!additionalData?.submission_date_passed && getPermission(artifact,'delete') && (artifact?.transcoding_status!=5 && artifact?.encoder_status!='Error')"
                        class="dropdown-item" (click)="OpenDeleteModal(artifact)">{{translation?.artifact_delete}}</a>
                      <a *ngIf="getPermission(artifact,'delete') || (artifact?.transcoding_status==5 || artifact?.encoder_status=='Error')"
                        class="dropdown-item" (click)="OpenDeleteModal(artifact)">{{translation?.artifact_delete}}</a>
                    </ng-container>
                  </ul>
                </span>
              </div>
            </ng-container>

            <ng-container
              *ngIf="( (original_account && pageType == 'library-page') || (pageType != 'library-page') ) && artifact.published == 0 && artifact?.encoder_status!='Error' && getPermission(artifact,'delete')">
              <div class="hu_op dropdown" *ngIf="!(artifact?.mouseEntered || isDropdownOpen) ">
                <button type="button">
                  <img src="assets/video-huddle/img/dots_dark.svg" width="30">
                </button>
              </div>
              <div class="hu_op dropdown" dropdown *ngIf="artifact?.mouseEntered || isDropdownOpen">
                <span (isOpenChange)="isOpen(artifact, $event)" dropdown>
                  <button type="button" id="button-basic" dropdownToggle>
                    <img src="assets/video-huddle/img/dots_dark.svg" width="30">
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <a *ngIf="getPermission(artifact,'delete')|| (artifact.created_by == user_id_streamer)" class="dropdown-item"
                        (click)="OpenDeleteModal(artifact)">{{translation?.artifact_delete}}</a><a *ngIf="getPermission(artifact,'delete') || (artifact.created_by == user_id_streamer)" class="dropdown-item"
                                        (click)="openRenameModal(artifact)">{{translation?.artifact_rename}}</a>
                  </ul>
                </span>
              </div>
            </ng-container>


                    <div class="clear"></div>
                    <ng-container *ngIf="artifact.doc_type != 5 && pageType!='library-page'">
                        <p class="h_by">{{translation?.artifacts_by}}: <b *ngIf="(artifact?.first_name +' '+ artifact?.last_name).length < 25">{{artifact?.first_name +" "+ (artifact?.last_name != null ? artifact?.last_name : '')}}</b>
                            <b *ngIf="(artifact?.first_name +' '+ artifact?.last_name).length > 25">{{artifact?.first_name +" "+  (artifact?.last_name != null ? artifact?.last_name : '')  | slice:0:25}}...</b>
                        </p>
                        <p class="h_date">
                            {{translation?.artifact_upload}} {{headerService?.formatDate(artifact.created_date, "MMM DD, YYYY")}}</p>
                    </ng-container>
                    <ng-container *ngIf="artifact.doc_type != 5 && pageType=='library-page'">
                        <p class="h_date">
                            <span *ngIf="artifact.view_count > 0" style="display: inline-block;white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;width: 166px;" class="h_view width100" tooltip="{{
                  ((artifact.view_count==1 ? translation?.vd_view.length : translation?.vd_views.length)+artifact.created_date_string.length+5) > 20? artifact.created_date_string : translation?.library_last_viewed}}">
                {{artifact.view_count}} {{artifact.view_count==1 ? translation?.vd_view :translation?.vd_views}} -
                {{artifact.created_date_string}}
              </span>
                            <span *ngIf="artifact.view_count == 0" class="h_view width100">
                {{artifact.view_count}} {{translation?.vd_views}}
              </span>
                        </p>
                    </ng-container>
                    <div class="huddle_option" [class.url-artifact-details]="artifact.doc_type == 5">
                        <ng-container *ngIf="artifact?.doc_type != 2 && artifact?.doc_type != 5">
                            <a class="chat_cls" tooltip="{{translation?.artifact_comments}}"> <img src="assets/video-huddle/img/comm_icon.svg"> {{artifact?.total_comments}}</a>
                            <a class="h_att" tooltip="{{translation?.artifact_attachments}}"> <img src="assets/video-huddle/img/attachment_icon.svg"> {{artifact?.total_attachment}}
                            </a>
                        </ng-container>
                        <ng-container *ngIf="artifact.doc_type == 5">
                            <a class="url-artifact-link" (click)="updateURLViews(artifact)" target="_blank" [href]="getArtifactUrl(artifact)" [tooltip]="artifact.url">
                {{artifact.url}}
              </a>
                            <p class="h_by">{{translation?.artifacts_by}}: <b *ngIf="(artifact?.first_name +' '+ artifact?.last_name).length < 25">{{artifact?.first_name +" "+  (artifact?.last_name != null ? artifact?.last_name : '')}}</b>
                                <b *ngIf="(artifact?.first_name +' '+ artifact?.last_name).length > 25">{{artifact?.first_name +" "+  (artifact?.last_name != null ? artifact?.last_name : '')  | slice:0:25}}...</b>
                            </p>
                            <p style="float: left;">
                                {{translation?.artifact_upload}} {{headerService?.formatDate(artifact.created_date, "MMM DD, YYYY")}}</p>
                        </ng-container>
                        <a tooltip="{{translation?.artifact_share}}" [class.url-share]="artifact.doc_type == 5" *ngIf=" ( (original_account && pageType == 'library-page' && (userAccountLevelRoleId == 100 || userAccountLevelRoleId == 110 || (userAccountLevelRoleId == 120 && permission_share_library=='1') || (userAccountLevelRoleId == 115 && permission_share_library=='1') ) ) || (pageType != 'library-page') ) && (getPermission(artifact,'copy') && artifact?.published==1 && artifact?.video_is_saved !=0)"
                            class="arrow_cls" (click)="openNewShareModal(artifact)"> <img src="assets/video-huddle/img/icon_arrow.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-container *ngIf="loading">
    <div [ngClass]="(pageType == 'library-page')?'col-md-3':'col-md-2 fifteenPx-main'" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
      <div class="inner_h over_hidden">
        <div class="thumb-container animate_me"> </div>
        <div class="huddle_detail">
          <div class="hu_video"> <label class="animate_me lineane"></label> </div>
          <div class="clear"></div>
          <p class="h_by animate_me lineane"></p>
          <p class="h_date animate_me lineane"></p>
          <div class="huddle_option animate_a">
            <a class="chat_cls animate_me" href="#"></a>
            <a class="h_att animate_me" href="#"> </a>
            <a class="arrow_cls animate_me" href="#"> </a>
          </div>
        </div>
      </div>
    </div>

    </ng-container>

  </div>
  
  <div class="drag_over" [ngStyle]="{'display':changeBackgroundondrop ==true ? 'flex' : 'none' }">


    <div class="drage_file" [ngClass]="artifacts.length > 5 ? 'styleOne' : 'styleTwo'">
    <svg xmlns="http://www.w3.org/2000/svg" width="66.5" height="47.708" viewBox="0 0 66.5 47.708">
<g id="noun_upload_cloud_3401869" data-name="noun_upload cloud_3401869" transform="translate(10.087 -122.702)">
<g id="Group_2066" data-name="Group 2066" transform="translate(-15 105)">
<path id="Path_120" data-name="Path 120" d="M60.959,36.944v-.627a18.712,18.712,0,0,0-35.884-7.336,11.3,11.3,0,0,0-4.615-.958A11.421,11.421,0,0,0,9.077,39.45a7.954,7.954,0,0,0,.059,1.187A14.532,14.532,0,0,0,19.457,65.41h37.4a14.524,14.524,0,0,0,4.1-28.467ZM45.852,44.022a2.138,2.138,0,0,1-3.03,0l-2.588-2.6V52.943a2.079,2.079,0,0,1-4.158,0V41.515l-2.514,2.507a2.153,2.153,0,1,1-3.045-3.038l6.1-6.068.066-.037a1.054,1.054,0,0,0,.111-.081,2.264,2.264,0,0,1,.31-.206,2.028,2.028,0,0,1,1.054-.347h.177a2.123,2.123,0,0,1,1.475.612l6.068,6.09a2.153,2.153,0,0,1-.022,3.074Z" transform="translate(0)" fill="#fff" fill-rule="evenodd"/>
</g>
</g>

</svg>
<br />         <b>{{translation?.multi_file_upload_drag_files_here}}</b>
    </div>
  </div>
</div>
</div>

<!-- Grid loader animation start -->
<div class="row cont_ld">

</div>
<!-- Grid loader animation end -->
