<div #modalContentBody>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{translation?.artifact_activity}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="height: 370px;">
        <ng-container *ngIf="!popupisloading">
            <div class="listing_scroll" slimScroll [options]="opts" [scrollEvents]="scrollEvents">
                <div class="activity_row" *ngFor="let act of actvities">
                    <div class="ac_1">
                        <b>{{timedateSpanish(act?.activityTimestampDate,1)}}</b>
                        <br> {{timedateSpanish(act?.activityTimestamp,2)}}
                    </div>
                    <div class="ac_2">
                        <label>{{act?.activityLogs_users}} {{act?.resource_name}}: </label>
                        <a href="{{path}}{{act?.resource_url}}" target="_blank">{{act.resource_video_name}}</a>
                    </div>
                    <div class="clear"></div>

                </div>

            </div>
        </ng-container>

        <ng-container *ngIf="popupisloading">
            <div class="activity_row ac_pb0" *ngFor="let arr of [1,1,1,1,1]">
                <div class="ac_1">
                    <b><span class="animate_me linecls"></span></b>
                    <br>
                    <span class="animate_me linecls"></span>
                </div>
                <div class="ac_2">
                    <label class="animate_me linecls"></label>
                </div>

                <div class="clear"></div>

            </div>
        </ng-container>
    </div>
    <div class="modal-footer hufooter">
        <div class="col-12">

            <a  *ngIf="!popupisloading" class="okbtn" (click)="bsModalRef.hide()">{{translation?.artifact_ok}}</a>

        </div>
    </div>
</div>
