
	/**POPUP Start**/
	
	.f_name { padding-bottom:15px;}
.sharepopup  .hufooter { padding-top:0;}
.share_popup { padding-bottom:0;}

.footerm .row{     width: 94%;
    border-top: 1px solid #e9ecef;
    padding-top: 16px;
    padding-bottom: 3px;
    margin: 0 3%;}	

.footerm .share_btn{ padding-right:0;}
.footerm .col-6 { padding-left:0;}
.footerm{ border:0;     padding-top: 0;}
.share_btn { text-align:right;}
.footerm button{        padding: 10px 28px;
    margin-left: 10px;
    font-size: 14px; margin-left: 10px; }
.footerm button:focus { box-shadow: 0 0 0 0rem rgba(0,123,255,.25);}
.footerm .btn-default{ background:none;}
.footerm .btn-success{ background:#28A745; border:0;     color: #fff !important;} 
.share_popup .tab-pane { min-height:100px;}
.footerm .btnpreview{ background:#057EFF; color:#fff;}
.share_popup .nav-tabs .nav-item {
    margin-bottom: -1px;
    border: 1px solid #ddd;
      padding: 6px 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
      margin-left: 0;      width: 33.33%; border-bottom: 0; text-align: center;
}
   
   .share_popup .nav-tabs .nav-item a{ color:#A0A0A0; text-decoration:none;     font-size: 15px;} 
   .share_popup .nav-tabs .nav-item a.active{ color:#1C7CD5;}
   
  .share_popup .nav-tabs { border:0;     position: relative;
    }
  .share_popup .tab-content { border-top:1px solid #E4E4E4;     margin: 0 -15px;
    padding: 15px;}
	.sharepopup .hu_search{ width:100%;     margin-bottom: 10px;}
	
	
	.sharepopup h4 {
    color: #484848;
    font-size: 18px;
    margin: 10px 0px;
}

	.modal-title {font-family: 'Roboto', sans-serif; font-weight:400; 
    font-size: 18px;    display: block; color: #484848;
    text-align: center;
    width: 95%; }
	.close {
    float: right;
    font-size: 28px !important;
    font-weight: 100 !important;
    line-height: 18px !important;}
	
	/*cat popup*/
	.add_cat_row .form-control{ width:75%;
    display: inline-block;     font-size: 14px;
    padding: 7px 10px;}
	.add_cat_row button{ background: #057EFF;
    color: #fff;
    border: 0;
    width: 22%;
    padding: 6px;
    border-radius: 4px; cursor:pointer;}
	.manage_popup p{    color: #7B7B7B;
    font-size: 14px;
        font-style: italic;     margin-bottom: 0;}
		
		.manage_popup a{ color:#057EFF;}
		
		.manage_popup h4{ color:#484848; font-size:18px;     margin: 10px 0px;}
		.manage_popup .col-md-6 { padding:0 25px;}
		.manage_popup .row{ margin:0 -25px;}
		.r_border{    border-right: 1px solid #ddd;}
		.pop_cal_list { height:150px; overflow:auto;}
		.pop_cal_list ul { margin:0; padding:0; list-style:none;}
		.pop_cal_list ul li{ color:#616161; font-size:14px; padding:4px 0; cursor:pointer;}
		.pop_cal_list ul li:hover{ color:#057EFF;}
		.cat_option {    float: right;
    text-align: right;
    width:18%;}
	.cat_option button {
    border: 0;
    padding: 0;
    background: none;
    outline: none !important;
    cursor: pointer !important;
}

.cat_option .dropdown-menu {
    min-width: 74px !important;
    padding: 10px 0px 6px 0px !important;
    right: -30px !important;
    left: initial !important;
}
.cat_option .dropdown-menu a {
    padding: 1px 14px 5px 14px;
    font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 0;
    cursor: pointer !important;
}
.cat_option .dropdown-toggle::after{ display:none;}
.cat_option img { max-width:22px;}
		.not_ac { opacity:0.6;}
		.add_cat_row { padding-top:10px;}
		.cat_listouter { min-height:190px; }
		
	/*cat popup end*/
	
	/*cat  start*/
	.cat_listouter1{    padding-top: 4px;}
	.manage_popup .col-12 {
    padding: 0 25px 20px 25px ;
}
	
	.manage_popup h4 {
    color: #484848;
    font-size: 18px;
    margin: 10px 0px;
}