<div class="modal-header">
    <h4 id="dialog-child-name" class="modal-title pull-left">{{translation?.artifacts_video}} {{translation?.description_vl}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <div class="f_name">
        <p>{{translation?.artifacts_video}} {{translation?.description_vl}}</p>
        <textarea type="text" class="form-control" [maxlength]="maxChars"  [(ngModel)]="description"   required> {{description}} </textarea>

    </div>

</div>


<div class="modal-footer footerm">
            <div class="row">
             <div class="col-6"></div>
                <div class="col-6 share_btn">
                    <a class="btn btn-default" (click)="bsModalRef.hide()">{{translation?.artifact_cancle}}</a>
                    <a class="btn btn-success" (click)="SubmitRename();">{{translation?.vd_save}}</a>

                </div>
</div>

            </div>
            
            
            

