form .error-message {
    color: #9E2424;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}

.cake-error,
.cake-debug,
.notice,
p.error{
    background: #ffcc00;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
    background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
    background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
    background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
    background-image: linear-gradient(top, #ffcc00, #E6B800);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 18px;
    padding: 7px 14px;
    color: #404040;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.error-message{
    color:#9E2424;
}

p.error {
    font-family: Monaco, Consolas, Courier, monospace;
    font-size: 120%;
    padding: 0.8em;
    margin: 1em 0;
}

p.error em {
    font-weight: normal;
    line-height: 140%;
}

.notice,
.message,
.success {
    clear: both;
    margin: 1em 0;
    padding: .5em;
    border: 1px solid;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    border-radius: 4px;
}

.notice {
    color: #4c6fcd;
    background: #dbecff;
    border-color: #9fc7f5;
}

.message {
    color: #878314;
    background: #fefccb;
    border-color: #e5db55;
}

.success {
    color: #258815;
    background: #d4ffcd;
    border-color: #9adf8f;
}