.clearcls{ clear:both;}
.col-4sm{
    background-color: #FFF;
    border: 2px solid #DAD6CE;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    float: left;
    min-height:268px;
    overflow: hidden;
    padding: 10px 10px 0 10px; 
    width:310px; 
    margin:10px 1.5%;
}
.col-4sm .topsection span{    color: #545454;
                              font-family: "Segoe UI",Helvetica,Arial,sans-serif; font-size:14px; font-weight: 600;}
.ficoncls{display:inline-block; width:13%;}
.namecls{    white-space: nowrap; display:inline-block;
             text-overflow: ellipsis;
             overflow: hidden; width:58%; position:relative; top:4px;}
.optioncls{display:inline-block; width:25%; text-align:right;}
.leftviewcls { float:left; width:48%; margin:0 1%;    height: 191px; background:#DDDAD2; border:solid 2px #C6C4BF;}
/*	.leftviewcls img{ height: 199px;}*/
.rightviewcls{ float:left; width:48%;  margin:0 1%;border: solid 2px #C6C4BF; margin-bottom:5px;}
.rightviewcls img{ width:100%;    height: 89px;}
.foldetviewcls{ margin-top:10px;}
.leftviewcls img{margin:52px 0px;}
.leftviewcls img{height: 89px;width: 133px;}
/*.foldetviewcls img{ border:2px solid #c6c4bf;}*/
.datecls{ width:72%;     white-space: nowrap;
          display: inline-block;
          text-overflow: ellipsis;
          overflow: hidden; position:relative; top:4px;}
.postedfile { color:#9E9E9E; font-size:12px; padding:8px 0 0 0;}
.postedfile span{ color:#9E9E9E;}
.postedfile img{ position:relative; top:-2px;}
.partcls { margin:6px 0;}
.partcls label{ display:block; font-weight:600;}
.partcls img{ margin-bottom:5px;}
.pbtm{ padding-bottom:4px !important;}
.hcurrent{ border: 2px solid #44cc2e;
           border-radius: 2px 2px 2px 2px;
           box-shadow: 0 0 5px rgba(68, 204, 46, 0.1); box-shadow: 1px 1px 1px 1px rgba(68, 204, 46, 0.1);}
.folderlist { list-style:none;}
.mainfold {  padding-left:0;}
.mainfold li{}

.huddle_list_detail{
    background:#fff; border:2px solid #dddad2; padding:10px;    display: block;
    margin-bottom: -8px; width:100%;}
.huddle_list_detail_folder{
    background:#fff; border:2px solid #dddad2; padding:10px;    display: block;
    margin-bottom: -8px; width:100%;
}
.folderlist .huddle_list_detail{
    display:none;
}

.mainfold li:last-child{border-bottom:0px solid #dddad2;}
.folderlist span{ display:inline-block;}
.folderlist .foldrcl1 {}
.folderlist .foldrcl2 {color: #000;font-weight: 600;}
.folderlist .foldrcl3 { float:right;     font-size: 12px;  margin-left:2px; width:100px;}
.folderlist .foldrcl4 {float:right;     font-size: 12px;  margin-left:2px;width:55px;}
.folderlist .foldrcl5 {float:right; margin-left:2px;width:70px;}
.folderlist i{ font-style:normal; position:relative; top:2px;}


.huddlist { list-style:none;}
.huddlist span{ display:inline-block;}
.huddlist .foldrcl1 {color: #000;font-weight: 600;}
.huddlist .foldrcl2 {}
.huddlist .foldrcl3 { float:right;     font-size: 12px;  margin-left:2px; width:100px;}
.huddlist .foldrcl4 {float:right;     font-size: 12px;  margin-left:2px;width:55px;}
.huddlist .foldrcl5 {float:right; margin-left:2px;width:70px;}
.huddlist .foldrcl6 {float:right; margin-left:2px;width:52px;}
.huddlist .foldrcl7 {float:right; margin-left:2px;width:55px;}
.huddlist i{ font-style:normal; position:relative; top:2px;}
.makefoldr input[type=text]{ width:50%; height:35px; display:block; border-radius:0;}
.makefoldr textarea{ width:100%; height:75px; display:block; border-radius:0;}
.makefoldr { padding:15px; } 
.makefoldr label{ display:block; font-weight:600; margin:10px 0 5px 0; }
.savefoldr{ border-top:1px solid #ddd; margin:10px 0; padding-top:10px; text-align:right;}
.foldrmn{ padding:0 15px 15px 0px;}
.mastercl{ background:none !important;}
.mastercl span{ cursor:pointer;}
.filetree .hitarea { display:none !important;}
.headfilder{border: 1px solid #ddd;padding-top: 10px !important;padding-bottom: 10px !important;background-position: 4px; display:inline-block; cursor:pointer;}
.headfilder i{ float:right; font-style:normal; margin-right:10px;}
.mastercl ul li span.folder{    background-size:20px !important;}
.thrcol{ color:#000; font-weight:bold; padding:0 3px 5px 17px;}
.adata{ float:right;}

@media (max-width:992px){
    .col-4sm{ width:47%; margin:10px 1.5%;}


}

@media (max-width:540px){
    .col-4sm{ width:97%; margin:10px 1.5%;}


}
.optioncls a, .foldrcl5 a{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 2px #1297e0;
    display: inline-block;
    position: relative;
    text-align: center;
}
.optioncls a img, .foldrcl5 a img{
    top: -4px;
    position: relative;
}

/**************/
.bridcrm{     

    height: 43px;

    margin:4px 0px 2px 0px;
    position: relative;}

.bridcrm ul{ padding:0 0 0 16px;     margin: 0;}
.bridcrm ul li{ list-style:none; float:left;}
.bridcrm ul li a:first-child{
    top:0px;
}
.bridcrm ul li a{    position: relative; color:#7f969f;     font-family: "Segoe UI",Helvetica,Arial,sans-serif;
                     font-weight: 300;     max-width: 90px;display: inline-block;   
                     text-overflow: ellipsis;
                     white-space: nowrap;
                     overflow: hidden;
                     text-decoration: underline;
                     top: 2px;
}
.bridcrm ul li a:hover{
    text-decoration: none;
}
.bridlast span{     max-width: 90px;
                    color: #1297e0;
                    position: relative;
                    top: 2px;
                    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
                    font-weight: 300;
                    display: inline-block;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin: 0px 5px;}
.bridcrm ul li:first-child::after{
    top: -3px; 
}
.bridcrm ul li::after{  display: inline-block;
                        content: "";
                        width: 10px;
                        height: 10px;
                        background: url(/app/img/bridnext.png) no-repeat;
                        position: relative;
                        top: -1px;
                        margin: 0px 5px; }
.bridcrm ul li.foldericon::before{   display: inline-block;top:2px;
                                     content: ""; width:26px; height:21px;background:url(/app/img/crhfiles.png) no-repeat; margin-right:5px; margin-left:5px;     position: relative;
}

.bridcrm ul li.fileicon::before{   display: inline-block;top:2px;
                                   content: ""; width:26px; height:21px;background:url(/app/img/crhfiles.png) no-repeat; margin-right:5px; margin-left:5px;     position: relative;
}
.bridcrm ul li:first-child::before{ display:none;}
.bridcrm ul li:first-child a{ width:32px;}
.extramenudots::before{ display:none !important;}
.extramenudots::after{ display:none !important;}
.extramenudots i{ display:inline-block; background:#fff; width:10px; height:10px; border:2px solid #7f969f; border-radius:50%;}
ul.extramenu { position:absolute; right:0; top:39px; width:150px; z-index: 999;background: #fff;     padding-top:34px; background:#fff;     border: 1px solid #ddd;}
ul.extramenu li a{ width:86px; display: inline-block;}
ul.extramenu li:first-child a{width:86px;}
ul.extramenu li:first-child::before{ display:inline-block;}
ul.extramenu li::after{ display:none !important;}
.extramenu li{ margin-bottom:8px;}
.extramenudots { cursor: pointer;     padding-top: 10px;
                 padding-left: 13px;}
.arrowcls {width: 0; 
           height: 0; 
           border-left: 10px solid transparent;
           border-right: 10px solid transparent;

           border-bottom: 10px solid #ddd; position:relative;     top: -44px;     float: right;
           right: 34px;}

@media (max-width:992px){
    .col-4sm{ width:47%; margin:10px 1.5%;}


}

@media (max-width:540px){
    .col-4sm{ width:97%; margin:10px 1.5%;}


}
.bridcrm ul li:last-child::after{  display:none;}
.tree_scroll_box{
    height: 311px;
    overflow-x: hidden;
    overflow-y:auto;
    margin-bottom: 16px;
}