/* ================================================================ 
This copyright notice must be kept untouched in the stylesheet at 
all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.stunicholls.com/menu/pro_drop_2.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */

.preload1 {background: url(../img/submenus/three_1.gif);}
.preload2 {background: url(../img/submenus/three_1a.gif);}

/*#nav {padding:0; margin:0; list-style:none; height:38px; background:#fff url(../img/submenus/three_0.gif) repeat-x; position:relative; z-index:500; font-family:arial, verdana, sans-serif;}*/
#nav li.top {display:block; float:left; height:38px;}
#nav li a.top_link {display:block; float:left; height:35px; line-height:33px; color:#ccc; text-decoration:none; font-size:11px; font-weight:bold; padding:0 0 0 12px; cursor:pointer;background: rgb(50,89,126)}
#nav li a.top_link span {float:left; display:block; padding:0 24px 0 12px; height:35px; background: rgb(50,89,126) right top no-repeat;}
#nav li a.top_link span.down {float:left; display:block; padding:0 24px 0 12px; height:35px; background:rgb(50,89,126) no-repeat right top;}

#nav li:hover a.top_link {color:#fff; background:rgb(50,89,126) no-repeat;}
#nav li:hover a.top_link span {background:rgb(50,89,126) no-repeat right top;}
#nav li:hover a.top_link span.down {background:rgb(50,89,126) no-repeat right top;}

/* Default list styling */

#nav li:hover {position:relative; z-index:200;}

#nav li:hover ul.sub
{
    left:1px; top:38px; background:#ffffff; padding:3px; border:1px solid #ffffff; white-space:nowrap; width:175px; height:auto; z-index:300;
}
#nav li:hover ul.sub li
{
    display:block; height:20px; position:relative; float:left; width:175px; font-weight:normal;
}
#nav li:hover ul.sub li a
{
    display:block; font-size:11px; height:18px; width:175px; line-height:18px; text-indent:5px; color:#000; text-decoration:none;border:1px solid #ffffff;
}
#nav li ul.sub li a.fly
{
    background:#ffffff url(../img/submenus/arrow.gif) 125px 6px no-repeat;
}
#nav li:hover ul.sub li a:hover 
{background:rgb(67,131,180); color:#fff; border-color:#fff;}
#nav li:hover ul.sub li a.fly:hover
{background:rgb(67,131,180); color:#fff;}


#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul
{
    left:178px; top:-4px; background: #ffffff; padding:3px;  white-space:nowrap; width:175px; z-index:400; height:auto;
}

#nav ul, 
#nav li:hover ul ul,
#nav li:hover li:hover ul ul,
#nav li:hover li:hover li:hover ul ul,
#nav li:hover li:hover li:hover li:hover ul ul
{
    position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;
}

#nav li:hover li:hover a.fly,
#nav li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover li:hover a.fly
{
    background:#ffffff url(../img/submenus/arrow_over.gif) 178px 6px no-repeat; color:#000; border-color:#fff;
} 

#nav li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li:hover li a.fly
{
    background:#ffffff url(../img/submenus/arrow.gif) 125px 6px no-repeat; color:#000; border-color:#bbd37e;
} 
.down-active{
    background: rgb(67,131,180);

}
.down-active a{
    color: #ffffff !important;
}
.dropdown-arrows{
    background: url(../img/sort_desc_disabled.png)125px 6px no-repeat;
}
