.progress-indicator-form .progressbar{width:250px;background:#eee;border:1px solid #DDDDDD;margin:0px 0px 0px 10px;position:relative}.progress-indicator-form .progressbar .percents{position:absolute;left:0px;top:0px;font-size:12px;line-height:16px;width:100%;text-align:center;color:#000}.progress-indicator-form .progressbar .bar{width:0px;height:15px;background:#3DAB28}
