@charset "utf-8";
/* CSS Document */
.clear{
	clear:both;
}

.virtual_tracker_container{
	/*margin:5px 0px;
	width: 1024px;*/
}
.virtual_header_box h1{
	    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 26px;
    color: #555555;
    font-weight: normal;
    background: #f9f9f9;
    margin: -10px -20px 15px -20px;

    padding: 12px 15px 15px 19px;
    border-bottom: 1px solid #ebebeb;}

.virtual_legend_box{

	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:14px;
	color:#747474;
	margin-top:10px;
    margin-bottom:12px;
}
.virtual_legend_box2{
    float: right;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 13px;
    color: #747474;
    margin-top: 7px;
    margin-bottom: 4px;
    margin-right: 37px;
}
.virtual_legend_box img{
	vertical-align:middle;
	      margin: 0px 2px 0 7px;
	width: 14px;
    height: 14px;
    position: relative;
    top: -2px;
}
.dots_img { display: inline-block; position: relative; top:7px;     font-size: 12px;}
.dots_img img {vertical-align:middle;
	     margin: 0px 2px 0 7px;
	width: 14px;
    height: 14px;
    position: relative;
    top: -2px;}
.virtual_legend_box select{
	width:175px;
	height:35px;
	border:solid 1px #f0f0f0;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:14px;
	color:#747474;
	outline:none;
	margin-left:10px;    float: right;
}
.coach_container{
	margin-bottom:1px;
}
.coach_container_header{
	background:#E0E0E0;
	color:#474747;
	/*height:58px;*/
	margin-bottom:1px;
	padding:5px 10px;
}
.coach_container_header span{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	        font-size: 15px;
    font-weight: 700;
    float: left;
    top: 5px;
    position: relative;
    margin-right: 11px;
}
.video_session{
    float: right !important;
    font-weight: normal !important;
    font-size: 18px !important;
    top: 3px !important;
}
.coach_container_header h1{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:15px;
	font-weight: 700;
	margin:0px;
    color: #474747;
    float:left;
    margin:5px;
}
.coachee_box{
	width:190px;
	padding:8px 8px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
        font-weight: 600;
	color:#3D3D3D;
	font-size:15px;
	border:solid 1px #dddddd;
	box-sizing:border-box;
	float:left;
}
.videos_box{
	width:790px;
	padding:8px 8px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
        font-weight: 600;
	color:#3D3D3D;
	font-size:15px;
	text-align:center;
	box-sizing:border-box;
	border:solid 1px #dddddd;
	float:left;
	border-left:0px;
}
.video_sub_box a{
    color: #696969;
}
.virtual_data_Left{
	float:left;
	width:188px;
}
.virtual_data_Right{
	float:right;
	width:792px;
	overflow-y:hidden;
	overflow-x:auto;
	white-space: nowrap;
	border-right: solid 1px #dddddd;
	position: relative;
}
.videos_box_container{
	display:block;
	margin-top:-1px;
    border-bottom: solid 1px #ddd;
    height: 38px;
}
.coachee_box_inner{
	width:190px;
	padding:9px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:13px;
	color:#696969;
	border:solid 1px #dddddd;
	border-top:0px;
	background:#fff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}
.coachee_box_inner img{
	vertical-align:middle;
	margin-right:5px;
}
.video_sub_box{
	display: table-cell;
}
.video_sub_box > div {
	width:70px;
	height:37px;
	padding:8px;
	box-sizing:border-box;
    white-space: normal;
	border:solid 1px #dddddd;
        border-bottom:0px;
	border-left:0px;
	text-align:center;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:13px;
	color:#696969;
	background:#fff;
}
.red_legend_bg{
	background:#fcd2bb !important;
}
.yellow_legend_bg{
	background:#fffaa5 !important;
}
.green_legend_bg{
	background:#b3eaa2 !important;
}
.blue_legend_bg{
	background:#ccf2fd !important;
}
.orange_legend_bg{
	background:#f7dfa7 !important;
}
.video_dialog{
	width:800px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:14px;
}
.video_left{
	width:238px;
	float:left;
	text-align:center;
}
.video_left h3{
	font-weight:normal;
	font-size:15px;
	margin:6px;
}
.video_right{
	width:550px;
	float:right;
            margin-right: 8px;
}
.video_upload_date{
	font-size:13px;
	color:#696969;
}
.video_upload_date span{
	color:#5E6366;
        font-weight: 600;
}
.tracker_name{
    font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:20px;
        font-weight: 300;
}
.video_upload_date .virtual_legend_box2{
    float: none;
}
.remove_tracker_button{
	background:#e74c3c;
	width:175px;
	color:#fff;
	border-radius:5px;
    float: left;
}
.dialog_btn_box{
    padding:0px 10px 12px 10px;
    position:relative;
}
.remove_tracker_button:hover{
	background:#b43326;
}
.actions_btn_box{
    float:right;
}
.remove_tracker_button a{
	color:#fff;
	text-decoration:none;
	display:block;
	    padding: 7px 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.green_count_box{
	background:#E0E0E0;
	padding:10px;
	width:180px;
	box-sizing:border-box;
	text-align:center;
	float:left;
	color:#494949;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:12px;
	margin-right:5px;
        font-weight: 300 !important;
}
.green_count_box b{
        font-weight: 300 !important;
        font-size:13px;
}
.comment_box{
	padding:5px;
	font-size:13px;
}
div.green_count_box:nth-child(3){
	margin-right:0px;
}
.green_count_box_number{
	font-size:25px;
        font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
        font-weight: 300 !important;
}
.dialog_text_area{
	width:100%;
	border:solid 1px #d9d9d9;
	height:100px;
	padding:10px;
	box-sizing:border-box;
	resize:none;
	outline:none;
}
.video_right select {
    width: 175px;
    height: 35px;
    border: solid 1px #f0f0f0;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 14px;
    color: #747474;
    outline: none;
}
