.dupcls{
    text-align: left;
    font-size: 16px;
    padding-top: 26px;
}


.sup_share_btn .btn-success{
    padding: 6px 29px;
}
.modal-body {
    padding: 1rem 20px!important;
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6 !important;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}