<div class="modal-header">
    <h4 id="dialog-child-name" class="modal-title pull-left">{{translation?.workspace_duplicate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p class="dupcls"> {{translation?.duplicate_comments_tags_attachments}}</p>
</div>
<div class="modal-footer sup_share_btn">
    <button [disabled]="duplicateIsinProcess" type="button" class="btn btn-default" (click)="duplicateResourceNow(0)">
        {{translation?.no}}
    </button>
    <button [disabled]="duplicateIsinProcess" type="button" class="btn btn-success" (click)="duplicateResourceNow(1)">
        {{translation?.yes}}
    </button>

</div>