<ng-container *ngIf="showConfirmationDialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{translation?.huddle_list_confirmation_required}}</h4>
            <button type="button" class="close" (click)="bsModalRef.hide()">×</button>

        </div>
        <div class="modal-body">
            <div class="alert_bg singleline row">
                <div class="col-2">
                    <img src="./assets/img/alert_i.svg">
                </div>
                <div *ngIf="!showEdtpaConfirmationDialog" class="col-10">
                    <h6 *ngIf="artifact.doc_type==1">{{translation?.about_to_delete_video_you_didnt}} <b>{{artifact.title}}</b></h6>
                    <h6 *ngIf="artifact.doc_type==1 && headerService.isAValidAudio(artifact.file_type)==true">audio file?</h6>
                    <h6 *ngIf="artifact.doc_type==2"> {{translation?.about_to_delete_resource_you_didnt}} <b>{{artifact.title}}</b></h6>
                    <h6 *ngIf="artifact.doc_type==3">{{translation?.about_to_delete_scripted_notes_you_didnt}} <b>{{artifact.title}}</b></h6>
                    <h6 *ngIf="artifact.doc_type==5">{{translation?.about_to_delete_url_you_didnt}} <b>{{artifact.title}}</b></h6>
                    <p>{{translation?.about_to_this_cant_be_undone}}</p>
                </div>
                <div *ngIf="showEdtpaConfirmationDialog" class="col-10">
                   {{assignmentCon_Msg}}
                </div>

            </div>
            <div class="f_name">
                <p>{{translation?.huddle_resource_type}} {{Inputs.ConfirmationKey}} {{translation?.huddle_list_to_confrim}}</p>
                <input type="text" class="form-control" [(ngModel)]="Inputs.Confirmation" (keydown)="TriggerTextChange($event)">
            </div>

        </div>
        <div class="modal-footer hufooter">
            <div class="col-12">
                <a class="fake_link" (click)="bsModalRef.hide(); Inputs.Confirmation=null">{{translation?.huddles_details_cancel}}</a>
                <a class="conf_delete fake_link" *ngIf="!showEdtpaConfirmationDialog" (click)="SubmitDelete()">{{translation?.huddle_delete_btn}}</a>
                <a *ngIf="showEdtpaConfirmationDialog" class="conf_delete fake_link" (click)="SubmitDelete(true)">{{translation?.huddle_delete_btn}}</a>
            </div>


        </div>
    </div>
</ng-container>
<ng-container  *ngIf="!showConfirmationDialog">
    <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">{{translation?.artifacts_confirmation_required}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="alert_bg singleline row">
            <div class="col-2 ">
                <img src="assets/img/alert_i.svg">
            </div>
            <div class="col-10">
                <h6 *ngIf="!showEdtpaConfirmationDialog">{{translation?.artifacts_are_you_sure_you_want_to_delete}}
                    <ng-container *ngIf="artifact.doc_type==1 && headerService.isAValidAudio(artifact.file_type)!=true">{{translation?.artifacts_video}}?</ng-container>
                                <ng-container *ngIf="artifact.doc_type==1 && headerService.isAValidAudio(artifact.file_type)==true"> {{translation?.an_audio_file}}?</ng-container>
                                <ng-container *ngIf="artifact.doc_type==2"> {{translation?.workspace_resources_s}}?</ng-container>
                                <ng-container *ngIf="artifact.doc_type==3"> {{translation?.only_note}}?</ng-container>
                                <ng-container *ngIf="artifact.doc_type==5">{{translation?.url}}?</ng-container>
                                
                            </h6>
                            <h6 *ngIf="showEdtpaConfirmationDialog">{{assignmentCon_Msg}}</h6>
            </div>

        </div>
    </div>
    <div class="modal-footer hufooter de_footer">
      <div class="row">
      <div class="col-12">
            <a (click)="bsModalRef.hide()">{{translation?.discussion_cancel}}</a>
            <a *ngIf="!showEdtpaConfirmationDialog" (click)="SubmitDeleteWithoutConfirmation()" class="conf_delete">{{translation?.artifact_delete}}</a>
            <a *ngIf="showEdtpaConfirmationDialog" (click)="SubmitDeleteWithoutConfirmation(true)" class="conf_delete">{{translation?.artifact_delete}}</a>

        </div>
      </div>
    </div>
</ng-container>
