<ng-container *ngIf="!loaded then preLoaderSection else actualDataSection"></ng-container>
<ng-template #preLoaderSection>
    <video-page-loader-animation></video-page-loader-animation>
</ng-template>
<ng-template #actualDataSection>
    <div id="main" class="container box pt-0" *ngIf="isAuthenticatedUser">
        <div class="analy_b">



            <div class="panl_heading headindfix row pl15">
                <div class="col-8 pl2">
                    <h3>{{VideoInfo?.title ? VideoInfo?.title : streamTitle}}</h3>
                </div>
                <div class="col-4 bkv">
                    <span *ngIf="pageType == 'library-page'"><a [routerLink]="['/VideoLibrary']"> <svg
                                xmlns="http://www.w3.org/2000/svg" width="18.03" height="11.186"
                                viewBox="0 0 18.03 11.186">
                                <g id="left-arrow" transform="translate(-454 88.086)">
                                    <path id="Path_88" data-name="Path 88"
                                        d="M17.249,80.727H2.665l3.48-3.48a.78.78,0,0,0-1.1-1.1L.229,80.955a.78.78,0,0,0,0,1.1l4.813,4.813a.78.78,0,1,0,1.1-1.1l-3.48-3.481H17.249a.78.78,0,1,0,0-1.561Z"
                                        transform="translate(454 -164)" fill="#949494" />
                                </g>
                            </svg> {{translation.back_to_library}}</a></span>
                </div>
            </div>



            <div class="video_body" #container>
                <tabset *ngIf="isCinemaModeOn == false" #staticTabs [tabWidth]="container.offsetWidth" [enable]="isCinemaModeOn" [width]="elemWidth" divType="tab" scrollToFixed>
                    <tab (selectTab)="SelectTab(0)" *ngIf="true" [active]='currentTab == 0'>
                        <ng-template tabHeading>
                            <ng-container *ngIf="pageType === 'workspace-page'">
                                {{translation?.myfile_notes}}
                            </ng-container>
                            <ng-container *ngIf="pageType === 'huddle-page'">
                                {{translation?.vd_comments}}
                            </ng-container>
                            <ng-container *ngIf="pageType === 'library-page'">
                                {{translation?.vd_comments}}
                            </ng-container>
                            <span class="badge badge-primary">{{totalStats.comment_count}}</span>
                        </ng-template>
                    </tab>
                    <tab (selectTab)="SelectTab(1)" *ngIf="videoExist" [active]='currentTab == 1'>
                        <ng-template tabHeading>
                            {{translation?.vd_attachment}} <span class="badge badge-primary">{{staticFiles.length}}</span>
                        </ng-template>
                    </tab>
                    <tab (selectTab)="SelectTab(2)" *ngIf="permissions?.rubric_check && userAccountLevelRoleId != '125'" [active]='currentTab == 2'>
                        <ng-template tabHeading>
                            <ng-container *ngIf="VideoInfo.h_type==3">
                                {{translation?.vd_rubrics}}
                            </ng-container>
                            <ng-container *ngIf="VideoInfo.h_type!=3">
                                {{translation?.vd_frameworks}}
                            </ng-container>
                        </ng-template>
                    </tab>
                    <tab (selectTab)="TranscribeTab(6)" *ngIf="userAccountLevelRoleId != '125' && subtitles_data_available" [active]='currentTab == 6'>
                        <ng-template tabHeading>
                            <ng-container>
                                {{translation?.vd_transcription}}
                            </ng-container>
                        </ng-template>
                    </tab>
                    <tab (selectTab)="SelectTab(3)" *ngIf="getCoachingSummaryCheck() && userAccountLevelRoleId != '125'" [active]='currentTab == 3'>
                        <ng-template tabHeading>
                            <ng-container *ngIf="VideoInfo?.h_type==2"> {{translation?.vd_coaching_summary}}
                            </ng-container>
                            <ng-container *ngIf="VideoInfo?.h_type==3">{{translation?.vd_assessment_summary}}
                            </ng-container>
                        </ng-template>
                    </tab>
                    <tab (selectTab)="SelectTab(4)" *ngIf="checkPerformanceLevelPermission()" [active]='currentTab == 4'>
                        <ng-template tabHeading>
                            {{translation?.vd_performance_level}}
                        </ng-template>
                    </tab>
                    <tab (selectTab)="PointToLink()" [active]='currentTab == 5' *ngIf="(VideoInfo?.h_type==2 || VideoInfo?.h_type==3) && (VideoInfo.assessment_link || VideoInfo.coaching_link) && userAccountLevelRoleId != '125' && header_data.tracker_permission" customClass="extrnl-lnk">
                        <ng-template tabHeading>
                            {{VideoInfo?.h_type==2?translation?.reporting_coaching_tracker_report:VideoInfo?.h_type==3?translation?.reporting_assessment_report:""}}
                            <i class="oi" data-glyph="external-link" title="" aria-hidden="true"> </i>
                        </ng-template>
                    </tab>
                    <tab (selectTab)="pointToHuddleReport()"  *ngIf="pageType === 'huddle-page' && VideoInfo?.h_type==1 && (userAccountLevelRoleId != '125') && header_data.tracker_permission"
                    customClass="extrnl-lnk">
                        <ng-template tabHeading>
                            {{translation?.reporting_huddle_report}}
                            <i class="oi" data-glyph="external-link" title="" aria-hidden="true"> </i>
                        </ng-template>
                    </tab>

                </tabset>
                <div class="tab-content">
                    <div class="row">
                        <div [class]="isCinemaModeOn?'col-md-12': 'col-md-6 '" id="col6" [hidden]="currentTab == 4 && !isCinemaModeOn" >
                            <!-- oncontextmenu is used to disable right click option on video to prevent "save video as" option -->
                            <div [enable]="isCinemaModeOn" [width]="elemWidth" divType="player" scrollToFixed>
                            <div *ngIf="!screenSharing && !screenSharingPreview" oncontextmenu="return false;">
                                <ng-container>
                                    <video-player *ngIf="!isVideoProcessing && (transCodingStatus!=5 && !errorStatus) && VideoInfo.video_is_saved !=0" [params]="params" (IsPlaying)="isPlaying=$event" [VideoInfo]="VideoInfo" [comments]="comments" [customMarkers]="CustomMarkers" [colors]="colorClasses"
                                        [ShowInfo]="ShowInfo" [src]="src" (ShowInfoBack)="ShowInfo=$event">
                                    </video-player>
                                    <!-- <video *ngIf="isIEOpened" [src]="src?.path" class="video_ie" controls></video> -->
                                </ng-container>

                                <div class="fake_player" [ngClass]="{'lib_class_process': pageType == 'library-page'}" *ngIf="(isVideoProcessing || VideoInfo.video_is_saved ==0) && (transCodingStatus!=5 && !errorStatus)">
                                    <video-player *ngIf="VideoInfo.video_is_saved ==0" [src]="src" [params]="params" (IsPlaying)="isPlaying=$event" [VideoInfo]="VideoInfo" [ShowInfo]="ShowInfo">
                                    </video-player>
                                    <h6 *ngIf="!isAudio && VideoInfo.video_is_saved !=0">
                                        <span> {{ translation?.vd_video_is_currently}} </span>
                                    </h6>
                                    <h6 *ngIf="isAudio">
                                        {{translation?.vd_audio_is_currently}}
                                    </h6>

                                </div>

                                <div class="fake_player" *ngIf="(transCodingStatus==5  || errorStatus)">
                                    <h6>
                                        {{translation?.video_not_processed}}<a target="_top">support@sibme.com</a>
                                    </h6>
                                </div>
                            </div>

                            <div class="video_des_main">
                                <div class="video_desc">
                                    <div class="cat_video" *ngIf="pageType == 'library-page' && categoriesString" (click)="ShowInfo=!ShowInfo">
                                        <label>{{ translation?.vl_category }}:</label> {{ categoriesString }} <span *ngIf="remainingCatCount">+{{ remainingCatCount }}</span>
                                    </div>



                                </div>
                                <div class="video_descright">
                                    <div class="video_info_main" *ngIf="!isVideoProcessing && (transCodingStatus!=5 && !errorStatus)">
                                        <div *ngIf="( (original_account && pageType == 'library-page') || (pageType != 'library-page') ) &&  ((pageType == 'library-page' && (permissions.can_download == '1' || permissions.can_share == '1' )) || (permissions.showCopy && userAccountLevelRoleId != '125') ) && userAccountLevelRoleId != '125'"
                                            class="video_options btn-group" dropdown>
                                            <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle" aria-controls="dropdown-basic" (click)="closeInfo();">

                                                <img src="assets/img/dot.svg">
                                            </div>
                                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                                                <li *ngIf="VideoInfo.video_is_saved !=0  && VideoInfo.h_type!='3' && ( (pageType == 'library-page' && permissions.can_share == '1') || pageType != 'library-page' )" role="menuitem" (click)="openNewShareModal()">
                                                    <span class="dropdown-item">{{translation?.artifact_share}}</span>
                                                </li>
                                                <li *ngIf="(pageType == 'library-page' && permissions.can_dl_edit_delete_copy_video == 1)  || (pageType != 'library-page' && VideoInfo.h_type!='3') || ( VideoInfo.h_type=='3' && ( (!VideoInfo.is_coach && !VideoInfo.is_submitted) || (VideoInfo.is_coach &&  VideoInfo.created_by == header_data.user_current_account.User.id) ) )"
                                                    role="menuitem" (click)="openRenameModal(VideoInfo)">
                                                    <span class="dropdown-item">{{translation?.artifact_rename}}</span>
                                                </li>
                                                <li role="menuitem" *ngIf="!isCroLoading && permissions.can_crop_video && VideoInfo.video_is_saved !=0 && pageType != 'library-page'  && VideoInfo.h_type!='3' " (click)="openCropModal()">
                                                    <span class="dropdown-item">{{translation?.artifact_crop}}</span>
                                                </li>
                                                <li *ngIf="pageType != 'library-page' && VideoInfo?.encoder_status!='Error' && VideoInfo?.video_is_saved !=0 &&  VideoInfo.h_type!='3'" role="menuitem" (click)="OpenDuplicateResourceModal(VideoInfo)">
                                                    <span class="dropdown-item">{{translation?.artifact_duplicate}}</span>
                                                </li>
                                                <li role="menuitem" *ngIf="isCroLoading">
                                                    <span class="dropdown-item">{{translation?.artifact_processing}}
                                                        <span class="oi animated rotateIn infinite"
                                                            data-glyph="loop-circular"></span> </span>
                                                </li>
                                                <li *ngIf="VideoInfo.video_is_saved !=0 && ((pageType == 'library-page' && ( (userAccountLevelRoleId == 100 || userAccountLevelRoleId == 110)  || ((header_data.user_current_account.users_accounts.permission_video_library_download == 1 || permissions.can_download ==1) && (userAccountLevelRoleId == 115 || userAccountLevelRoleId == 120) ) ) ) || pageType != 'library-page')"
                                                    role="menuitem" (click)="DownloadVideo()">
                                                    <span class="dropdown-item">{{translation?.artifact_download}}</span>
                                                </li>
                                                <li *ngIf="(permissions.can_crop_video && VideoInfo.h_type!='3' ) || ( VideoInfo.h_type=='3' && ( (!VideoInfo.is_coach && !VideoInfo.is_submitted) || VideoInfo.is_coach) )" role="menuitem" (click)="InitiateDeleteVideo(confirmDialogDel)">
                                                    <span class="dropdown-item">{{translation?.artifact_delete}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--  -->
                                        <div *ngIf=" VideoInfo.h_type=='3' && ( !VideoInfo.is_coach && VideoInfo.is_submitted)   && !(( (original_account && pageType == 'library-page') || (pageType != 'library-page') ) &&  ((pageType == 'library-page' && (permissions.can_download == '1' || permissions.can_share == '1' )) || (permissions.showCopy && userAccountLevelRoleId != '125') ) && userAccountLevelRoleId != '125')"
                                            class="video_options btn-group" dropdown>
                                            <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle" aria-controls="dropdown-basic" (click)="closeInfo();">

                                                <img src="assets/img/dot.svg">
                                            </div>
                                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                                                <li *ngIf="VideoInfo.video_is_saved !=0 && ((pageType == 'library-page' && ( (userAccountLevelRoleId == 100 || userAccountLevelRoleId == 110)  || ((header_data.user_current_account.users_accounts.permission_video_library_download == 1 || permissions.can_download ==1) && (userAccountLevelRoleId == 115 || userAccountLevelRoleId == 120) ) ) ) || pageType != 'library-page')"
                                                    role="menuitem" (click)="DownloadVideo()">
                                                    <span class="dropdown-item">{{translation?.artifact_download}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="video_info" [class.filled]="ShowInfo" (click)="ShowInfo=!ShowInfo">
                                            {{translation?.vd_info}}
                                        </div>
                                        <div *ngIf="!videoIsLessAutoCommentPlayRange"
                                            [ngStyle]="{'opacity': videoCommentPlayAvailable ? 1 : 0.9}"
                                            class="auto-play-on-off-container">
                                            <img [tooltip]="autoplay_tootliptext"
                                                src="assets/img/autoplay-off.svg"
                                                *ngIf="videoCommentPlayState === 'off'"
                                                (click)="toggleVideoCommentPlayState('on', videoCommentPlayAvailable)"
                                                style="height: 19px;" />
                                            <img [tooltip]="autoPlayTooltip" src="assets/img/autoplay-on.svg"
                                                *ngIf="videoCommentPlayState === 'on'"
                                                (click)="toggleVideoCommentPlayState('off')" style="height: 19px;" />
                                        </div>
                                        <div *ngIf="videoIsLessAutoCommentPlayRange && VideoInfo?.video_is_saved == '1'" class="auto-play-on-off-container">
                                            <img [tooltip]="translation?.video_must_be_longer_than_one_minute" src="assets/img/autoplay-disabled.svg" *ngIf="!videoCommentPlayAvailable" style="height: 19px;" />
                                        </div>
                                        <span class="iconic iconic-plus iconic-sm" title="plus" aria-hidden="true"></span>
                                        <span class="iconic iconic-plus iconic-md" title="plus" aria-hidden="true"></span>
                                        <span class="iconic iconic-plus iconic-lg" title="plus" aria-hidden="true"></span>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="video_info_main" *ngIf="isVideoProcessing || transCodingStatus==5 || errorStatus">
                                        <div *ngIf="permissions.showCopy && userAccountLevelRoleId != '125'" class="video_options btn-group" dropdown>
                                            <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle" aria-controls="dropdown-basic" (click)="closeInfo();">

                                                <img src="assets/img/dot.svg">
                                            </div>
                                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                                                <li role="menuitem disabled">
                                                    <span class="dropdown-item disabled">{{translation?.vd_copy}}</span>
                                                </li>
                                                <li role="menuitem disabled" *ngIf="!isCroLoading">
                                                    <span class="dropdown-item disabled">{{translation?.vd_crop}}</span>
                                                </li>
                                                <li role="menuitem disabled" *ngIf="isCroLoading">
                                                    <span class="dropdown-item disabled">{{translation?.vd_processing}}
                                                        <span class="oi animated rotateIn infinite"
                                                            data-glyph="loop-circular"></span> </span>
                                                </li>
                                                <li *ngIf="(transCodingStatus!=5 || !errorStatus)" role="menuitem" (click)="InitiateDeleteVideo(confirmDialogDel)">
                                                    <span class="dropdown-item">{{translation?.vd_delete}}</span>
                                                </li>

                                                <li *ngIf="(transCodingStatus==5 || errorStatus)" role="menuitem" (click)="InitiateDeleteVideo(confirmDialogDel)">
                                                    <span class="dropdown-item">{{translation?.vd_delete}}</span>
                                                </li>
                                                <li role="menuitem disabled">
                                                    <span class="dropdown-item disabled">{{translation?.vd_download}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="video_info" [class.filled]="ShowInfo" (click)="ShowInfo=!ShowInfo">
                                            {{translation?.vd_info}}
                                        </div>
                                        <span class="iconic iconic-plus iconic-sm" title="plus" aria-hidden="true"></span>
                                        <span class="iconic iconic-plus iconic-md" title="plus" aria-hidden="true"></span>
                                        <span class="iconic iconic-plus iconic-lg" title="plus" aria-hidden="true"></span>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="des_short" *ngIf="description">

                                <p style="align-items: left;" *ngIf="descShow"> {{description}}</p>

                                <button (click)="descShow = !descShow" class="btn"><i
                                        [class]="descShow? 'fa fa-angle-up': 'fa fa-angle-down'"></i></button>

                                <div class="clear"></div>
                            </div>

                            <tabset *ngIf="!isCinemaModeOn == false" #staticTabs>
                                <tab (selectTab)="SelectTab(0)" *ngIf="true" [active]='currentTab == 0'>
                                    <ng-template tabHeading>
                                        <ng-container *ngIf="pageType === 'workspace-page'  ">
                                            {{translation?.myfile_notes}}
                                        </ng-container>
                                        <ng-container *ngIf="pageType === 'huddle-page'">
                                            {{translation?.vd_comments}}
                                        </ng-container>
                                        <ng-container *ngIf="pageType === 'library-page'">
                                            {{translation?.vd_comments}}
                                        </ng-container>
                                        <span class="badge badge-primary">{{totalStats.comment_count}}</span>
                                    </ng-template>
                                </tab>
                                <tab (selectTab)="SelectTab(1)" *ngIf="true" [active]='currentTab == 1'>
                                    <ng-template tabHeading>
                                        {{translation?.vd_attachment}} <span class="badge badge-primary">{{staticFiles.length}}</span>
                                    </ng-template>
                                </tab>
                                <tab (selectTab)="SelectTab(2)" *ngIf="permissions?.rubric_check && userAccountLevelRoleId != '125'" [active]='currentTab == 2'>
                                    <ng-template tabHeading>
                                        <ng-container *ngIf="VideoInfo.h_type==3">
                                            {{translation?.vd_rubrics}}
                                        </ng-container>
                                        <ng-container *ngIf="VideoInfo.h_type!=3">
                                            {{translation?.vd_frameworks}}
                                        </ng-container>
                                    </ng-template>
                                </tab>
                                <tab (selectTab)="TranscribeTab(6)" *ngIf="userAccountLevelRoleId != '125' && subtitles_data_available" [active]='currentTab == 6'>
                                    <ng-template tabHeading>
                                        <ng-container>
                                            {{translation?.vd_transcription}}
                                        </ng-container>
                                    </ng-template>
                                </tab>
                                <tab (selectTab)="SelectTab(3)" *ngIf="getCoachingSummaryCheck() && userAccountLevelRoleId != '125'" [active]='currentTab == 3'>
                                    <ng-template tabHeading>
                                        <ng-container *ngIf="VideoInfo?.h_type==2"> {{translation?.vd_coaching_summary}}
                                        </ng-container>
                                        <ng-container *ngIf="VideoInfo?.h_type==3">
                                            {{translation?.vd_assessment_summary}}
                                        </ng-container>
                                    </ng-template>
                                </tab>
                                <tab (selectTab)="SelectTab(4)" *ngIf="checkPerformanceLevelPermission()" [active]='currentTab == 4'>
                                    <ng-template tabHeading>
                                        {{translation?.vd_performance_level}}
                                    </ng-template>
                                </tab>
                                <tab (selectTab)="PointToLink()" [active]='currentTab == 5' *ngIf="(VideoInfo?.h_type==2 || VideoInfo?.h_type==3) && (VideoInfo.assessment_link || VideoInfo.coaching_link) && userAccountLevelRoleId != '125'" customClass="extrnl-lnk">
                                    <ng-template tabHeading>
                                        {{VideoInfo?.h_type==2?translation?.vd_coaching_tracker:VideoInfo?.h_type==3?translation?.vd_assessment_tracker:""}}
                                        <i class="oi" data-glyph="external-link" title="" aria-hidden="true"> </i>
                                    </ng-template>
                                </tab>

                            </tabset>

                            <video-page-video-add-comment *ngIf="videoExist && !((currentTab ==1 || currentTab ==3  || currentTab ==4 || currentTab ==6) && isCinemaModeOn)" [class]="isCinemaModeOn?'cinema-mode-on': ''" [VideoInfo]="VideoInfo" [huddleId]="params.huddle_id" [isVideoProcessing]="isVideoProcessing"
                                [permissions]="permissions" [userAccountLevelRoleId]="userAccountLevelRoleId" [CustomMarkers]="CustomMarkers" [original_account]="original_account" [currentTab]="currentTab" [isCinemaModeOn]="isCinemaModeOn">
                            </video-page-video-add-comment>
                            </div>
                        </div>
                        <div *ngIf="videoExist" [class.cinma_right_com]="isCinemaModeOn" class="col-sm-6 scroll_height min_h" [hidden]="currentTab != 0">
                            <video-comment-list [original_account]="original_account" [permissions]="permissions"
                                [VideoInfo]="VideoInfo" [customMarkers]="CustomMarkers" [params]="params"
                                [publishAll]="publishAll" [is_published_feedback]="is_published_feedback"
                                [colorClasses]="colorClasses" [comments]="comments" [CustomMarkers]="CustomMarkers"
                                (commentAdded)="commentAdded($event)" [allow_evidence_view]="allow_evidence_view"
                                (commentEdited)="commentEdited($event)" (commentDeleted)="commentDeleted($event)"
                                (playAvailable)="playAvailable($event)"
                                (autoCommentPlayRange)="autoCommentPlayRange($event)"
                                (videoCmntPlayTimeSlots)="videoCmntPlayTimeSlots($event)"
                                (commentPlayState)="commentPlayState($event)"
                                [screenSharing]="screenSharing || screenSharingPreview" [from]="'video-page'">
                            </video-comment-list>
                        </div>
                        <div  [class.cinma_right_com2]="isCinemaModeOn" class="col-sm-6 scroll_height" [hidden]="currentTab != 2" *ngIf="checkPermission()">
                            <ng-container *ngIf="permissions?.framework_selected_for_video!=1">
                                <div class="preview_container" *ngIf="getSelectFrameworkPermission()">
                                    <div>
                                        {{translation?.vd_choose_framework}} </div>
                                    <select class="form-control" [(ngModel)]="VideoHuddleFramework" (ngModelChange)="GetRubricById($event)">
                                        <option value=""> {{translation?.vd_select_framework}} </option>
                                        <option *ngFor="let framework of frameworks"
                                            [attr.value]="framework.account_tag_id">
                                            {{framework.tag_title}}
                                        </option>
                                    </select>
                                    <ng-container *ngIf="rubricPreview">
                                        <div [style.margin-top.px]="20" size="7px" transition="0.2" railVisible="true" railOpacity="0.2" railColor="#000" height="385px" id="slimscroll" slimScroll>
                                            <rubrics [isCreater]="'true'" [data]="rubricPreview" [previewMode]="true">
                                            </rubrics>
                                        </div>
                                        <div class="text-right pull-from-top">
                                            <button class="btn btn-default" (click)="AssignFramework(confirmFrameworkSet, 0)">
                                                {{translation?.vd_cancel}} </button>
                                            <button [disabled]="!VideoHuddleFramework" class="btn btn-success" (click)="AssignFramework(confirmFrameworkSet, 1)" [style.backgroundColor]="primery_button_color">
                                                {{translation?.vd_use_framework}} </button>
                                        </div>
                                    </ng-container>
                                </div>
                                <div *ngIf="!getSelectFrameworkPermission()" class="text-center">
                                    {{translation?.vd_you_must_define}}
                                </div>

                            </ng-container>
                            <ng-container *ngIf="permissions?.framework_selected_for_video==1">
                                <input type="text" placeholder="{{translation?.vd_search_framework}}" class="form-control" [(ngModel)]="term">
                                <rubrics [isCreater]="'true'" [term]="term" [data]="rubrics"></rubrics>
                            </ng-container>

                        </div>

                        <div class="animated text-center fadeIn no-comment-found w-50" *ngIf="publishAll && !is_published_feedback && permissions.huddle_permission == 210 && !checkSampleData && (currentTab == 2 || currentTab == 4)"> The Assessor has not published this information yet </div>

                        <div *ngIf="!screenSharing && !screenSharingPreview" [class.cinma_right_com2]="isCinemaModeOn" class="col-sm-6 scroll_height" [hidden]="currentTab != 6">
                            <video-page-transcription [showCopy]="permissions.showCopy" [huddleId]="huddleId" [video_url]="VideoInfo.url" [videoId]="params.video_id" [subtitles_data]="subtitles_data" [currnetUser]="currnetUser" [VideoCreatedBy]="VideoInfo.created_by" [pageType]="pageType" [huddle_type]="VideoInfo.h_type"></video-page-transcription>
                        </div>
                        <div  [class.cinma_right_com2]="isCinemaModeOn" class="col-sm-6 scroll_height" *ngIf="currentTab === 3">

                            <coaching-summary [VideoInfo]="VideoInfo" [params]="params" [huddle_permission]="permissions.huddle_permission" [coaching_perfomance_level]="permissions.coaching_perfomance_level"></coaching-summary>
                        </div>
                        <div [class.cinma_right_com2]="isCinemaModeOn"  class="col-sm-6 scroll_height" *ngIf="currentTab==1">
                            <video-page-attachments [original_account]="original_account"
                                [huddle_type]="VideoInfo.h_type" [permissions]="permissions"
                                [huddle_id]="params.huddle_id" [video_id]="params.video_id" [currnetUser]="currnetUser"
                                [userAccountLevelRoleId]="userAccountLevelRoleId" [pageType]="pageType">
                            </video-page-attachments>
                        </div>
                    </div>



                    <div class="row" *ngIf="currentTab == 4 && checkPermission()">
                        <div class="avg_performance_level" *ngIf="permissions?.framework_selected_for_video==1 && PLTabData?.average_rating">
                            <label>{{translation?.vd_avrg_pl}} <b>{{PLTabData?.average_rating}}</b> </label>
                        </div>
                        <div class="col-sm-6 min_h2" *ngIf="permissions?.framework_selected_for_video==1">
                            <rubrics [isCreater]="'true'" [data]="PLTabData?.standards?.data" [from]="'tab'" (RubricClicked)="OnRubricClicked($event)">
                            </rubrics>
                        </div>
                        <div class="col-sm-6 min_h2" *ngIf="permissions?.framework_selected_for_video!=1">
                            {{translation?.vd_you_must_define_frameworks}}
                        </div>
                        <div class="col-sm-6 min_h2 mt-38" *ngIf="SelectedPLRubric">
                            <div *ngIf="SelectedPLRubric?.account_tag_id" class="selectedPl">
                                <div class="flex_box_pLevel">
                                    <div class="rub_nu flex_box_pLevel_left">{{SelectedPLRubric?.tag_code}}</div>
                                    <div class="flex_box_pLevel_right">{{SelectedPLRubric?.tag_html}}
                                        <div class="pl-bottom">
                                            <div class="number_tagged">
                                                {{translation?.vd_times_observed}}: <span class="badge badge-primary">{{SelectedPLRubric?.get_standard_tagged_count}}</span>
                                            </div>
                                            <a *ngIf="getSettings('enable_unique_desc') && SelectedPLRubric.standard_level==rubrics.account_framework_settings.checkbox_level" (click)="openPlUniqueDescModal()" [tooltip]="translation?.performance_level_unique_desc" container="body">
                                                <img src="assets/img/pl-unique-desc.svg"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Pldropdown" *ngIf="(SelectedPLRubric | json) != '{}'">
                            <label *ngIf="currnetUser.huddle_role_id == 210 && SelectedPLRubric.selectedRating">
                                            {{translation?.vd_performance_level_ratting}}:
                                            <b [style.display]="'inherit'">
                                                <select class="form-control fake_select" disabled
                                                    [(ngModel)]="SelectedPLRubric.selectedRating"
                                                    (ngModelChange)="RatingChanged($event)">
                                                    <option [value]="0" selected="selected"> {{translation?.rating_select}}
                                                    </option>
                                                    <option *ngFor="let pl of SelectedPLRubric.selectOptions" [value]="pl.id">
                                                        {{pl.text}}
                                                    </option>
                                                </select>
                                            </b>
                                        </label>
                            <select *ngIf="getRatingPerm()" class="form-control" [(ngModel)]="SelectedPLRubric.selectedRating" (ngModelChange)="RatingChanged($event)">
                                            <option [value]="0" selected="selected"> {{translation?.rating_select}} </option>
                                            <option *ngFor="let pl of SelectedPLRubric.selectOptions" [value]="pl.id">
                                                {{pl.text}}
                                            </option>
                                        </select>
                        </div>
                        <div class="comments_desc" *ngIf="PLcomments && PLcomments.length>0">
                            <tabset class="tab_no_border">
                                <tab>
                                    <ng-template tabHeading>
                                        {{translation?.vd_comments}}
                                    </ng-template>
                                    <div class="comm_option comm_option2" *ngIf="PLcomments && PLcomments.length>0">
                                        <ng-container *ngFor="let marker of CustomMarkers; let i = index">
                                            <label [tooltip]="marker.tag_title"  >
                                            <span class="custom_tag" [style.background]="colorClasses[i]" [ngStyle]="{'border-color': colorClasses[i]}" (click)="SelectTag(marker)" ></span> 
                                            <span (mouseenter)="textWidth(marker,i)"  [id]="'text-width'+i" >{{marker.tag_title}}</span>
                                        </label>
                                        </ng-container>
                                        <div class="clear"></div>
                                    </div>
                                    <comment [from]="'tab'" *ngFor="let comment of PLcomments" [staticFiles]="staticFiles" [permissions]="permissions" [allow_evidence_view]="allow_evidence_view" (onDelete)="onCommentDelete($event)" [isActive]="currentComment == comment" [customMarkers]="CustomMarkers"
                                        [classes]="colorClasses" [comment]="comment" [params]="params" (onReplyEdit)="onReplyEdit($event)"> </comment>
                                </tab>
                                <tab *ngIf="getSettings('enable_performance_level') && !getSettings('enable_unique_desc')">
                                    <ng-template tabHeading>
                                        {{translation?.vd_performance_level_desc}}
                                    </ng-template>
                                    <div class="performance_level_detail pl_white_space" *ngFor="let settings of SelectedPLRubric?.account_framework_settings_performance_levels">
                                        <div>
                                            <h6> {{settings.performance_level}} </h6>
                                        </div>
                                        <div> {{settings.description}} </div>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>
</ng-template>
<ng-template #confirmDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{translation?.vd_are_sure_that}}
    </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolveDeleteFile(0)">
                {{translation?.vd_cancel}}
            </button>
            <button class="btn btn-primary" (click)="ResolveDeleteFile(1)">
                {{translation?.vd_ok}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #confirmDialogDel>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefDel.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{translation?.vd_are_you_sure}}
    </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolveDeleteVideo(0)">
                {{translation?.vd_cancel}}
            </button>
            <button class="btn btn-primary" (click)="ResolveDeleteVideo(1)">
                {{translation?.vd_ok}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #confirmFrameworkSet>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="ResolveAssignFramework(0)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{translation?.vd_assigning_a_framework}}
    </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolveAssignFramework(0)">
                {{translation?.vd_cancel}}
            </button>
            <button class="btn btn-primary" (click)="ResolveAssignFramework(1)">
                {{translation?.vd_ok}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #copyDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left">
            {{translation?.workspace_share}}
        </h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <tabset id="tabs_copy_video">
            <tab id="tab1" (selectTab)="currentCopyTab=0" *ngIf="true">
                <ng-template tabHeading>
                    {{translation?.workspace_sharetohuddle}}
                </ng-template>
                <div id="header-container" class="filterform">
                    <div class="filterform hu_search">
                        <input id="input-filter" placeholder="{{translation?.vd_search_huddles}}" class="filterinput" type="text" style="width: 100%; display: block;" [(ngModel)]="CopyData.searchHuddleText" (ngModelChange)="onSearchHuddleChange($event)">
                        <div id="cancel-btn" type="text" style=" width: 10px;  position: absolute; right: 40px; top: 161px; display:none;cursor: pointer; " class="filterinput">X</div>
                    </div>
                </div>
                <div class="filter_data_box">
                    <ul id="list-containers" class="inset-area clear-list files-list">
                        <ng-container *ngFor="let huddle of CopyData.all_huddles; let i=index">
                            <li *ngIf="huddle?.meta_data_value!='3'" [hidden]="!huddle.valid">

                                <label class="checkboxcls">{{huddle.name}}
                                    <input type="checkbox" [(ngModel)]="huddle.selected">
                                    <span class="checkmark"></span>
                                </label>

                            </li>
                        </ng-container>

                        <li *ngIf="CopyData?.huddles_matched==0">
                            {{translation?.vd_no_huddles_match}} </li>
                    </ul>
                </div>
            </tab>
            <tab (selectTab)="currentCopyTab=1" *ngIf="permissions?.permission_video_library_upload && permissions?.get_account_video_library_permissions">
                <ng-template tabHeading>
                    {{translation?.artifacts_share_to_library}}
                </ng-template>
                <ul class="inset-area clear-list files-list">

                    <li>

                        <label class="checkboxcls"> {{translation?.artifacts_share_to_library}}
                            <input name="account_folder_id" id="account_folder_name" type="checkbox"
                                [(ngModel)]="CopyData.LibrarySelected">
                            <span class="checkmark"></span>
                        </label>

                    </li>
                </ul>
            </tab>
            <tab (selectTab)="currentCopyTab=2" *ngIf="getCopyToAccPerm()">
                <ng-template tabHeading>
                    {{translation?.share_to}} {{CopyData.all_accounts.length>1?translation?.vd_account:translation?.vd_workspace}}
                </ng-template>
                <div id="header-container" class="filterform">
                    <div class="filterform hu_search">
                        <input id="input-filter" [placeholder]="translation?.vd_search_accounts" class="filterinput" type="text" style="width: 100%; display: block;" [(ngModel)]="CopyData.searchAccountText" (ngModelChange)="onSearchAccountChange($event)">
                        <div id="cancel-btn" type="text" style=" width: 10px;  position: absolute; right: 40px; top: 161px; display:none;cursor: pointer; " class="filterinput">X</div>
                    </div>
                </div>
                <div class="filter_data_box">
                    <ul id="list-containers" class="inset-area clear-list files-list">
                        <li *ngFor="let account of CopyData.all_accounts; let i=index" [hidden]="!account.valid">

                            <label class="checkboxcls"> {{account.company_name}} -
                                <b>{{translation?.header_list_worksapce}}</b>
                                <input name="account_folder_id" class="copyFiles_checkbox" [attr.id]="'account'+i"
                                    type="checkbox" [(ngModel)]="account.selected">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li *ngIf="CopyData?.accounts_matched==0">
                            {{translation?.vd_no_accounts}} </li>
                    </ul>
                </div>
            </tab>
        </tabset>
    </div>
    <div class="modal-footer ">
        <div class="text-left copy_comments col-7" *ngIf="currentCopyTab!=1 && comments.length>0">

            <label class="checkboxcls">
                <ng-container *ngIf="pageType === 'huddle-page'">{{translation?.share_comments_tags_attachments}}
                </ng-container>
                <ng-container *ngIf="pageType === 'workspace-page'">{{translation?.share_notes_tags_attachments}}
                </ng-container>

                <input [(ngModel)]="CopyData.CopyComments" id="copy_comments" type="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="text-right model-btns col-5">
            <a class="simple_btn" (click)="ResolveCopyVideo(0)">{{translation?.vd_cancel}}</a>
            <a class="green" (click)="ResolveCopyVideo(1)" [style.backgroundColor]="primery_button_color">
                {{translation?.workspace_share}}
            </a>
        </div>
    </div>
</ng-template>
<ng-template #cropDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_crop_video}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideCropModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-crop-video-player (CropIsPlaying)="CropIsPlaying=$event" (CropVideoTotalTime)="CaptureTotalTime($event)" [VideoInfo]="VideoInfo" [comments]="comments" [customMarkers]="CustomMarkers" [colors]="colorClasses" [ShowInfo]="ShowInfo" [src]="src" (ShowInfoBack)="ShowInfo=$event"></app-crop-video-player>
        <div>
            <span>{{cropStartValue}}</span>
            <span style="float: right;">{{cropEndValue}}</span>
        </div>
        <nouislider *ngIf="videoEnd" [config]="cropRangeSliderConfig" [(ngModel)]="cropRange" (ngModelChange)="onCropSliderChange($event)"></nouislider>
        <div>
            <span>00:00</span>
            <span style="float: right;">{{videoEnd}}</span>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-left copy_comments col-5" *ngIf="currentCopyTab!=1 && totalStats.comment_count>0">

            <label class="checkboxcls">
                <ng-container *ngIf="pageType === 'huddle-page'">{{translation?.share_comments_tags_attachments}}
                </ng-container>
                <ng-container *ngIf="pageType === 'workspace-page'">{{translation?.share_notes_tags_attachments}}
                </ng-container>

                <input [(ngModel)]="trim_copy_comments" id="copy_comments" type="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="col-7 text-right model-btns">
            <a class="simple_btn" (click)="hideCropModal()">{{translation?.vd_cancel}}</a>
            <a class="blue" (click)="CropPreviewVideo()">{{translation?.vd_preview_video}}</a>
            <a class="green" (click)="TrimVideo()" [style.backgroundColor]="primery_button_color">{{translation?.vd_trim}}</a>
        </div>
    </div>
</ng-template>