.headindfix h2 {
    font-family: 'Roboto', sans-serif;
    margin: 9px 0 9px -7px;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #484848;
}

.modal-md {
    max-width: 600px;
}

.selectedPl {
    font-family: 'Roboto-Regular';
    margin-bottom: 10px;
    color: #464646;
    font-size: 14px;
}
.pl_white_space{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces; word-break: break-word;
}
.Pldropdown {
    margin: 10px 0 20px 0;
}

.btn_resources_upload_wrapper {
    margin-bottom: 10px;
}

.table.resources td,
.table th {
    border-top: 2px solid #dee2e6;
}

.video_options ul.dropdown-menu li {
    width: 100%;
}

.table.resources td,
.table.resources th {
    color: #808080;
    font-size: 13px;
    vertical-align: middle;
}

.file_icon {
    font-size: 13px;
    color: #6D6D6D;
    top: -2px;
    position: relative;
}

.flex_box_pLevel {
    display: flex;
    padding: 10px;
    background: #e9e9e9;
}

.flex_box_pLevel_right {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces; word-break: break-word;
}

.flex_box_pLevel_left {
    padding-right: 12px;
}

.pl-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 35.5px;
}

.flex_box_pLevel .number_tagged {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C1C1C2;
}

.performance_level_detail h6 {
    margin-bottom: 0px;
}

.performance_level_detail {
    margin-bottom: 8px;
}

.no-comment-found {
    font-size: 13px;
    font-family: 'Roboto-light';
    margin-top: 10px;
    font-weight: 600;
}

.nopointer {
    cursor: default !important;
}

.model-btns a.blue,
.model-btns a.green {
    cursor: pointer;
    color: #fff !important;
    display: inline-block;
    padding: 5px 22px;
    border-radius: 4px;
    font-family: 'Roboto-Light';
    text-decoration: none;
}

.model-btns a.green {
    background: #5db85b;
}

.model-btns a.blue {
    background: #337ab7;
    margin: 0 6px;
}

.model-btns a.simple_btn {
    cursor: pointer;
    padding: 5px 22px;
}

.clickable {
    cursor: pointer;
}

.copy_comments label {
    margin-bottom: 0;
}

.copy_comments input[type=checkbox] {
    position: relative;
    top: 2px;
    margin-right: 3px;
}

.pull-from-top {
    margin-top: 10px;
}

.file_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 275px;
    display: inline-block;
    position: relative;
    /*top: 4px;*/
}

.fake_player {
    height: 350px;
    background: black;
    color: white;
    text-align: center;
}

.fake_player h6 {
    position: absolute;
    margin-top: 31%;
    margin-left: 0;
    text-align: center;
    display: block;
    width: 92%;
}

.fake_player h6 a {
    color: #007bff;
}

.custom-form-control {
    width: 19px;
    padding: 2px;
    height: 25px;
    border-radius: 4px;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: 0;
    padding: 0px 0;
    font-size: 12px;
    height: 20px;
}

.avg_performance_level {
    display: block;
    width: 100%;
    font-size: 12pt;
    text-align: center;
}

.fake_select {
    display: inline-block;
    border: none;
    background: transparent;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0;
    text-overflow: '';
    margin: 0;
    padding: 0px 0 0px 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.de_ani {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #d9d9d9;
    background: linear-gradient(to right, #e9e9e9 8%, #F0F0F0 18%, #efefef 33%);
    background-size: 800px 104px;
    position: relative;
}

.header {
    height: 36px
}

.anc a {
    height: 20px;
    width: 120px;
}

.anc li {
    padding: 0 5px 0px 0 !important;
}

.tab-nav-el {
    min-width: 130px
}

.loader-video-container {
    width: 100%;
    height: 380px;
}

.loader-search-container {
    height: 31px;
    margin-bottom: 14px;
}

.loader-search-container2 {
    width: 88%;
    min-height: 2%;
    float: left;
    height: 31px;
}

.loader-search-container3 {
    width: 8%;
    height: 31px;
    float: right;
}

.an_icon {
    height: 20px;
}

.an_para {
    height: 20px;
}

.an_fak {
    height: 20px;
    width: 150px;
}

.anc .de_ani {
    display: inline-block;
    width: 100%;
    height: 20px;
    position: relative;
    top: 2px;
}

.anc li:last-child a {
    border-color: #eeeeee!important;
}

.an {
    margin-bottom: 7px;
}

.gmore {
    width: 15%;
    float: left;
    height: 15px;
    margin-right: 2%;
    margin-top: 10px;
}

.user_img {
    margin-right: 12px;
    float: left;
}

.comments_boxanc {
    border-top: 1px solid #ddd;
    padding-bottom: 23px;
    margin-top: 11px;
}

.user_comment {
    float: left;
    width: 85%;
    font-family: Roboto-Light;
}

.anc1 {
    height: 15px;
    width: 93px;
    display: inline-block;
    margin: 7px 3px 9px 0px;
}

.pleft30 {
    padding-left: 20px;
}

.anc2 {
    width: 35px;
    height: 35px;
}

.anc3 {
    height: 15px;
    width: 93px;
    display: inline-block;
}

.anc4 {
    height: 15px;
    width: 150px;
    display: inline-block;
}

.anc5 {
    height: 15px;
    width: 100%;
    display: block;
    margin-bottom: 6px !important;
}

.anc6 {
    height: 30px;
    width: 40px;
    float: right;
    margin: 8px 0 10px 17px;
}

.anc7 {
    float: left;
    height: 15px;
    width: 20%;
    display: inline-block;
}

.anc8 {
    float: right;
    height: 15px;
    width: 40%;
    display: inline-block;
}

.anc9 {
    float: right;
    height: 200px;
    width: 100%;
    display: inline-block;
    margin: 15px 0 0 0;
}

.anc10 {
    height: 30px;
    width: 40px;
    float: left;
    margin: 8px 0 10px 0px;
}

.anc11 {
    height: 30px;
    width: 40px;
    float: right;
    margin: 8px 0 10px 0px;
}


.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25) !important;
}



.des_short p {
    word-break: break-all;
    max-width: 90% !important; margin-bottom: 3px;
}

.lft { float:left;}
.clear{ clear:both;}
.min_h2 { min-height:300px;}


@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.box {
    padding: 10px 15px 20px 15px !important;
}

.clear {
    clear: both;
}

.disable-comment-play {
    pointer-events: none;
    opacity: 0.4;
}
.video_ie {
    width: 100%;
    height: 360px;
}
.cancel-audio {
    position: absolute;
    right: 28px;
    cursor: pointer;
    top: 505px;
}

.checkboxcls {
    display: block;
    position: relative;
    padding-left: 30px;
    margin: 3px 0;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #616161;
}
/* Hide the browser's default checkbox */

.checkboxcls input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #B4BAC3;
    border-radius: 3px;
}
/* On mouse-over, add a grey background color */

.checkboxcls:hover input~.checkmark {
    background-color: #fff;
}
/* When the checkbox is checked, add a blue background */

.checkboxcls input:checked~.checkmark {
    background-color: #fff;
}
/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */

.checkboxcls input:checked~.checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */

.checkboxcls .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #B4BAC3;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

.modal-footer>*{
    margin:0;
    padding-left:4px
}

.hu_search input[type=text] {
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 35px 10px 30px;
    background: url('../../../../assets/img/search_icon.svg') center left/18px 18px no-repeat;
    background-position-x: 8px;
}

.video_desc {padding-right: 130px; min-height:45px;     padding-top: 6px;}
.video_descright { position: absolute; top:0; right:0;}
.video_des_main { position:relative; z-index:999;}
.des_short { position:relative; }
.des_short button{ padding:0; float:right;}
.des_short button .fa{    font-size: 29px;
    color: #373A3C;}
.des_short p{    float: left;
    max-width: 78%;     max-width: 538px;color: #373A3C;}
	
	.cat_video {    font-size: 12px;
    line-height: 12px; color: #373A3C;
    cursor: pointer;}
	.des_short { padding-top:0px;}
	.cat_video label{    color: #373A3C;font-size: 14px;
    font-weight: 500;}
	.cat_video span{ font-weight:500; font-size: 14px;}
	
	.bkv {
    text-align: right;
    color: #8B8B8B;
    font-size: 14px;
    padding-right: 18px;
    padding-top:5px;
    cursor: pointer;
}
.bkv  a {   color: #8B8B8B;
    font-size: 14px;     text-decoration: none;}
	
	.header_an{ color:#333;}
	.header_an h3{     margin: 3px 0;
    font-size: 22px;}
	
	.video_options ul { min-width:inherit;}
	.video_options ul .dropdown-item {
    padding: 4px 18px !important;
    font-size: 15px !important; 
}
.comm_options {min-width: 36px;
    text-align: center;    border-radius: 4px;
    border: 1px solid #dddddd;}
	.comm_options img { position:relative; top:-2px;}
    .pleft0 { padding-left:0 !important;}
    
    .lib_class_process
    {
        width:100% !important;
    }

    .lib_class_process h6
    {
        margin-top: 150px !important;
    }

    .video_sav_confirm
    {
        border: 0 !important;
        background: #FFF;
    }
    
    .video_sav_confirm_body
    {
        text-align: center;
    }
    
    .video_sav_confirm_body label
    {
        color: #484848;
        font-size: 18px;
        font-weight: 600;
        display: block;
        margin: 30px 0px 0px 0px;
    
    }
    
    .video_sav_confirm_body p
    {
        color:#484848;
        font-size: 15px;
    }
    
    .video_save_bt
    {
        text-align: center;
        padding: 20px;
    
    }
    .video_save_bt .btn-primary 
    {
        background: #28A745;
        border: 0px;
    }
    .permission-error {
        width: 478px;
        height: 400px;
        background-color: #000;
        color: #fff;
        margin-bottom: 15px;
        padding: 20px 20px;
        vertical-align: middle;
        font-size: 16px;
        font-weight: 300;
        display: flex;
        align-items: center;
        text-align:center;
    }
    .st_bar2 {
        background: #E8E8E8;
        border: 1px solid #D9D9D9;
        height: 10px;
        border-radius: 21px;
        position: relative;
        margin-right: 32px;
        margin-top: 10px;
    }
    
    .st_bar2 .bar_pg {
        background: #157EFC;
        display: inline-block;
        height: 7.5px;
        border-radius: 20px;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .st_bar2 i {
        font-style: normal;
        position: absolute;
        right: -38px;
        top: -9px;
    }
    .start_button{
        background: #DE2828;
        border-radius: 4px;
        display: inline-block;
        border: 0px;
        color: #FFF;
        padding: 5px 10px;
        outline: none;
        margin-top: 10px;
    }

    .panl_heading {
        border-bottom: 1px solid #ddd;
        padding: 5.2px 10px;
        background: #f9f9f9;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    .panl_heading .col-8 {
        padding: 0 7px;
    }
    
    .panl_heading h3 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #212529;
    padding-left: 5px;
    }

    .pt-0{
        padding-top: 0px !important ;
        
    }
	.pl2 { padding-left:2px !important;}
	
	.scroll_height { min-height:800px;}
	.cinma_right_com {     margin-left: auto;
    padding-left: 20px;
    margin-top: 39px; min-height:330px;}
	
	.cinma_right_com2 {      min-height:400px;}

    #main{
        margin-bottom: 0px!important;
        padding-bottom: 0px !important;
    }
    .video_options .comm_options{
        padding: 4px 6px 0 6px !important;
        height: 27px;
    }