 <ul>
        <li><a href="<?php echo $this->base . '/Huddles/index/' . $view_mode . '/'.$sort . ((isset($huddleSearch) ? ('/' . $huddleSearch) : '')) ?>" title="View all" class="active"><?php if($sort == 'name'){ echo 'Title'; }elseif($sort == 'date'){ echo 'Date Created'; }elseif($sort == 'coaching'){ echo 'Coaching Huddles'; }elseif($sort == 'collaboration'){ echo 'Collaboration Huddles'; }elseif($sort == 'folders' && !empty($folders)){ echo 'Folders'; }elseif($sort == 'flat_view'){ echo 'All Huddles'; }else{ echo 'Sort';} ?></a></li>
        <li <?php if($sort=='name'){ echo  'style="display:none;"';}?> ><a href="<?php echo $this->base . '/Huddles/index/' . $view_mode . '/name' . ((isset($huddleSearch) ? ('/' . $huddleSearch) : '')) ?>" class="">Title</a></li>
        <li <?php if($sort=='date'){ echo  'style="display:none;"';}?> ><a href="<?php echo $this->base . '/Huddles/index/' . $view_mode . '/date' . ((isset($huddleSearch) ? ('/' . $huddleSearch) : '')) ?>" class="">Date Created</a></li>
        <li <?php if($sort=='coaching'){ echo  'style="display:none;"';}?> ><a href="<?php echo $this->base . '/Huddles/index/' . $view_mode . '/coaching' . ((isset($huddleSearch) ? ('/' . $huddleSearch) : '')) ?>" class="">Coaching Huddles</a></li>
        <li <?php if($sort=='collaboration'){ echo  'style="display:none;"';}?> ><a href="<?php echo $this->base . '/Huddles/index/' . $view_mode . '/collaboration' . ((isset($huddleSearch) ? ('/' . $huddleSearch) : '')) ?>" class="">Collaboration Huddles</a></li>
        <li <?php if($sort=='folders'){ echo  'style="display:none;"';}?> ><a href="<?php echo $this->base . '/Huddles/index/' . $view_mode . '/folders' . ((isset($huddleSearch) ? ('/' . $huddleSearch) : '')) ?>" class="">Folders</a></li>
        <li <?php if($sort=='flat_view'){ echo  'style="display:none;"';}?> ><a href="<?php echo $this->base . '/Huddles/index/' . $view_mode . '/flat_view' . ((isset($huddleSearch) ? ('/' . $huddleSearch) : '')) ?>" class="">All Huddles</a></li>
    </ul>