<div *ngIf="( (original_account && pageType == 'library-page') || (pageType != 'library-page') ) && ((VideoInfo.video_is_saved !=0 || EditMode) && (permissions.can_comment) && userAccountLevelRoleId != '125')"
    class="add_comment" [ngClass]="{'edit_spanish' : EditMode==true}" [ngClass]="{'hide_add_comment' : (cinemaModeOn && currentTab==2)}" [style.backgroundColor]="EditMode?'#fcf9d1':'transparent'" [style.padding]="EditMode?'6px':'0'">
    <div *ngIf="EditMode" class="updateLable">
        <label>
            {{updateComment}}

        </label>
    </div>
    <div class="row comm_top">
        <div *ngIf="!EditMode" class="col-md-6">
            <label>
                {{addCommentTitle}}
            </label>
        </div>
        <div [class.col-md-6]="!EditMode" [class.flat]="EditMode" class="comm_time">
            <span class="switch_container">
                <ui-switch (click)="closeInfo();" [disabled]="EditMode" defaultBgColor="#a3a3a3"
                    [(ngModel)]="newComment.timeEnabled">
                </ui-switch>
            </span>
            <span class="time_com">{{commentTime}} - <span class="video_time_cls">
                    <div *ngIf="newComment.timeEnabled && EditMode">
                        <div class="btn-group" dropdown>
                            <button type="button" dropdownToggle class="comm_options dropdown-toggle"
                                aria-controls="start-hours">
                                {{commentStartTime[0] | DoubleDigit}}
                            </button>
                            <ul id="start-hours" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="start-hours" style="min-width: 0rem;">
                                <div size="5px" transition="0.2" railVisible="true" railOpacity="0.2" railColor="#000"
                                    height="120px" id="slimscroll-sh" slimScroll>
                                    <li role="menuitem" class="fake_link" *ngFor="let value of availableHours"
                                        (click)="updateCommentStartTime(0, value)">
                                        <span class="dropdown-item">{{value | DoubleDigit}}</span>
                                    </li>
                                </div>
                            </ul>
                        </div>
                        <div class="btn-group" dropdown>
                            <button type="button" dropdownToggle class="comm_options dropdown-toggle"
                                aria-controls="start-minutes">
                                {{commentStartTime[1] | DoubleDigit}}
                            </button>
                            <ul id="start-minutes" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="start-minutes" style="min-width: 0rem;">
                                <div size="5px" transition="0.2" railVisible="true" railOpacity="0.2" railColor="#000"
                                    height="120px" id="slimscroll-sh" slimScroll>
                                    <li role="menuitem" class="fake_link" *ngFor="let value of availableMntsNScnds"
                                        (click)="updateCommentStartTime(1, value)">
                                        <span class="dropdown-item">{{value | DoubleDigit}}</span>
                                    </li>
                                </div>
                            </ul>
                        </div>
                        <div class="btn-group" dropdown>
                            <button type="button" dropdownToggle class="comm_options dropdown-toggle"
                                aria-controls="start-seconds">
                                {{commentStartTime[2] | DoubleDigit}}
                            </button>
                            <ul id="start-seconds" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="start-seconds" style="min-width: 0rem;">
                                <div size="5px" transition="0.2" railVisible="true" railOpacity="0.2" railColor="#000"
                                    height="120px" id="slimscroll-sh" slimScroll>
                                    <li role="menuitem" class="fake_link" *ngFor="let value of availableMntsNScnds"
                                        (click)="updateCommentStartTime(2, value)">
                                        <span class="dropdown-item">{{value | DoubleDigit}}</span>
                                    </li>
                                </div>
                            </ul>
                        </div>
                        <span style="margin: 0 5px;">-</span>
                        <div class="btn-group" dropdown>
                            <button type="button" dropdownToggle class="comm_options dropdown-toggle"
                                aria-controls="start-hours">
                                {{commentEndTime[0] | DoubleDigit}}
                            </button>
                            <ul id="start-hours" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="start-hours" style="min-width: 0rem;">
                                <div size="5px" transition="0.2" railVisible="true" railOpacity="0.2" railColor="#000"
                                    height="120px" id="slimscroll-sh" slimScroll>
                                    <li role="menuitem" class="fake_link" *ngFor="let value of availableHours"
                                        (click)="updateCommentEndTime(0, value)">
                                        <span class="dropdown-item">{{value | DoubleDigit}}</span>
                                    </li>
                                </div>
                            </ul>

                        </div>
                        <div class="btn-group" dropdown>
                            <button type="button" dropdownToggle class="comm_options dropdown-toggle"
                                aria-controls="start-minutes">
                                {{commentEndTime[1] | DoubleDigit}}
                            </button>
                            <ul id="start-minutes" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="start-minutes" style="min-width: 0rem;">
                                <div size="5px" transition="0.2" railVisible="true" railOpacity="0.2" railColor="#000"
                                    height="120px" id="slimscroll-sh" slimScroll>
                                    <li role="menuitem" class="fake_link" *ngFor="let value of availableMntsNScnds"
                                        (click)="updateCommentEndTime(1, value)">
                                        <span class="dropdown-item">{{value | DoubleDigit}}</span>
                                    </li>
                                </div>
                            </ul>
                        </div>
                        <div class="btn-group" dropdown>
                            <button type="button" dropdownToggle class="comm_options dropdown-toggle"
                                aria-controls="start-seconds">
                                {{commentEndTime[2] | DoubleDigit}}
                            </button>
                            <ul id="start-seconds" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="start-seconds" style="min-width: 0rem;">
                                <div size="5px" transition="0.2" railVisible="true" railOpacity="0.2" railColor="#000"
                                    height="120px" id="slimscroll-sh" slimScroll>
                                    <li role="menuitem" class="fake_link" *ngFor="let value of availableMntsNScnds"
                                        (click)="updateCommentEndTime(2, value)">
                                        <span class="dropdown-item">{{value | DoubleDigit}}</span>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <span *ngIf="newComment.timeEnabled && !EditMode">
                        {{formattedVideoCurrentTime}}
                    </span>
                    <span [hidden]="newComment.timeEnabled">{{translation?.vd_all_videos}}</span>
                </span>
            </span>
        </div>
    </div>
    <div class="comment_box">
        <audio-recorder-play
            *ngIf="(!newComment.commentText || (newComment.commentText && newComment.ref_type==6)) && (!EditMode || (EditMode && newComment.ref_type!=6))"
            [localAudioData]="localAudioData" [autoSaveAudio]="autoSaveAudio" (currentState)="currentState($event)"
            (audioPath)="audioPath($event)"></audio-recorder-play>
        <textarea *ngIf="!EditMode && (audioRecorderState === 'comfortZone' || audioRecorderState === 'recording')"
            [(ngModel)]="newComment.commentText" (keydown)="TriggerTextChange($event)"
            [placeholder]="[placeholder]" onfocus="" (click)="closeInfo(1,0,2)"></textarea>
        <textarea id="editTextBox"
            *ngIf="EditMode && newComment.ref_type!=6 && (audioRecorderState === 'comfortZone' || audioRecorderState === 'recording')"
            [(ngModel)]="newComment.commentText" (keydown)="TriggerTextChange($event)"
            [placeholder]="placeholder" onfocus="" (click)="closeInfo(1,0,2)"></textarea>
        <div *ngIf="EditMode && newComment.ref_type==6" class="audio-recorder-play-wrapper">
            <div class="audio-container">
                <audio controls #audioPlayer>
                    <source [src]="newComment.audioUrl != '' ? newComment.audioUrl : newComment.commentText">
                    {{translation?.vd_your_browser_does_not}}
                </audio>
                <div class="cancel-audio" (click)="cancel()">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        id="Capa_2" x="0px" y="0px" width="15px" height="15px" viewBox="0 0 47.971 47.971"
                        style="enable-background:new 0 0 47.971 47.971;" xml:space="preserve" fill="#757474">
                        <g>
                            <path
                                d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88   c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242   C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879   s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z" />
                        </g>
                    </svg>
                </div>
            </div>
        </div>
        <div *ngIf="pageType!='library-page'" class="comment_tags">

            <div class="tag_outer">
            <div class="tag_left_icon">
            <div class="tags_icons fake_link"
                (click)="playerService.ModifyPlayingState('pause');mainService.FocusCustomTag();closeInfo(1,0,2);"
                style="transform: rotate(86deg);">
                <span class="oi" data-glyph="tag"></span>
            </div>
            <div class="plusicon fake_link"
                (click)="playerService.ModifyPlayingState('pause');mainService.FocusCustomTag();closeInfo();">

                <span class="oi" data-glyph="plus"></span>
            </div>
            </div>

            <custom-tags [predefinedTags]="tags" (Tags)="SetCustomTags($event)">
            </custom-tags>



            <div class="clear"></div>
             </div>
        </div>

        <div class="comment_tags" *ngIf="permissions?.rubric_check">
        <div class="tag_outer">
       <div class="tag_left_icon">

            <div class="tags_icons fake_link"
                (click)="playerService.ModifyPlayingState('pause');updateCurrentTab(2);closeInfo();">
                <img src="assets/img/list-2x.png">
            </div>
            <div class="plusicon fake_link"
                (click)="playerService.ModifyPlayingState('pause');updateCurrentTab(2);closeInfo();">

                <span class="oi" data-glyph="plus"></span>
            </div>
            </div>
            <div class="pouter">
            <span *ngFor="let rubric of selectedRubrics; let i=index"
                class="tag_rounded full_width">
                {{rubric.tag_code}} {{rubric.tag_html}}<span class="pull-right cross_span"
                    (click)="playerService.ModifyPlayingState('pause');closeInfo();deSelectRubric(rubric,i)"> x
                </span>
            </span>
            </div>
            <div class="clear"></div>
            </div>
        </div>


       <div class="tag_outer">
       <div class="tag_left_icon">
        <fs-uploader (click)="playerService.ModifyPlayingState('pause');closeInfo(1,0,2);"
            [label]="translation?.vd_upload" [source]="'comment'" [configuration]="videoOptions"
            (onUpload)="AppendNewFiles($event)"></fs-uploader>
</div>
        <div class="tgright">
            <span *ngFor="let file of newComment.files; let i=index" class="tgouter">
                <span>
                    {{file.filename || file.title}}
                </span>
                <span class="pull-right cross_span" (click)="closeInfo();RemoveFileFromComment(file, i)">
                    x
                </span>
            </span>
        </div>
        <div class="clear"></div>

        </div>

    </div>
    <div class="comm_option" *ngIf="permissions?.AllowCustomMarkers">
        <ng-container *ngFor="let marker of CustomMarkers; let i = index">
            <span [style.backgroundColor]="getMarkerBg(marker, i)" class="custom_tag"
                [ngStyle]="{'border-color': markerColors[i]}"
                (click)="playerService.ModifyPlayingState('pause');ChooseCustomTag(marker)"></span>
            <span (click)="playerService.ModifyPlayingState('pause');ChooseCustomTag(marker)"> {{marker.tag_title}}
            </span>
        </ng-container>
    </div>






    <div class="add_comm">
        <div class="btn-group" dropdown>
            <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle" aria-controls="dropdown-basic"
                (click)="closeInfo();">

                <img src="assets/img/dot.svg">
            </div>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu settingsMenu" role="menu"
                aria-labelledby="button-basic">
                <li role="menuitem" (click)="ToggleEnterPost()" class="fake_link" style="width: 100%;">
                    <span class="dropdown-item">{{translation?.vd_press_enter}}
                        <span *ngIf="settings.EnterToPost" class="oi pull-right" data-glyph="check" title=""
                            aria-hidden="true">
                        </span>
                    </span>
                </li>
                <li role="menuitem" (click)="TogglePause()" class="fake_link" style="width: 100%;">
                    <span class="dropdown-item">{{translation?.vd_pause_while}} <span *ngIf="settings.PauseWhileTyping"
                            class="oi pull-right" data-glyph="check" title="" aria-hidden="true">
                        </span> </span>
                </li>
            </ul>
        </div>

        <div class="account_per" *ngIf="pageType == 'library-page'">
          <svg xmlns="http://www.w3.org/2000/svg" width="17.25" height="16" viewBox="0 0 17.25 16">
  <path id="warning" d="M8.842,13.221V11.394a.307.307,0,0,0-.091-.226.3.3,0,0,0-.216-.091H6.688a.3.3,0,0,0-.216.091.307.307,0,0,0-.091.226v1.827a.307.307,0,0,0,.091.226.3.3,0,0,0,.216.091H8.534a.3.3,0,0,0,.216-.091A.307.307,0,0,0,8.842,13.221Zm-.019-3.6L9,5.212a.212.212,0,0,0-.1-.183.372.372,0,0,0-.231-.106H6.554a.372.372,0,0,0-.231.106.23.23,0,0,0-.1.2L6.39,9.625a.185.185,0,0,0,.1.159.414.414,0,0,0,.231.063H8.5a.391.391,0,0,0,.226-.062A.214.214,0,0,0,8.823,9.625ZM8.688.644l7.385,13.538a1.147,1.147,0,0,1-.019,1.212A1.23,1.23,0,0,1,15,16H.227a1.2,1.2,0,0,1-.611-.163,1.208,1.208,0,0,1-.447-.442A1.147,1.147,0,0,1-.85,14.183L6.534.644A1.228,1.228,0,0,1,6.986.173a1.215,1.215,0,0,1,1.25,0A1.228,1.228,0,0,1,8.688.644Z" transform="translate(1.014)" fill="#777"></path>
</svg>
<span > {{translation.comments_visible_to_account}}</span>
         </div>

        <div class="add_comm_btn" *ngIf="!EditMode">
            <a class="fake_link" [class.disable-container]="audioRecorderState === 'uploading'" (click)="addComment()"
                [style.backgroundColor]="primery_button_color">{{translation?.vd_add}}</a>
        </div>
        <div class="add_comm_btn" *ngIf="EditMode">
            <a class="simple_btn" (click)="editComment(0)">{{translation?.vd_cancel}}</a>
            <a class="fake_link" (click)="editComment(1)"
                [style.backgroundColor]="primery_button_color">{{translation?.vd_update}}</a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<ng-template #commentEndTimePopup>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <info-red-svg class="info-red-svg"></info-red-svg>
        <span>{{translation?.end_time_is_less_than_start_time}}</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()"
            style="background-color: rgb(61, 171, 40); color: #ffffff;">OK</button>
    </div>
</ng-template>
