div.dndDraggingSource{
	background: #cccbcb !important;
    /* border-radius: 7px; */
    padding-left: 6px;
}

.dndDraggingSource > div{
    background: transparent !important;
    border-radius: 0 !important;
}

.type_container{

    border-radius: 50%;
    padding: 2px;
    width: 28px;
    height: 28px;
    display: inline-block;
}

.coaching_icon{
	border: 1px solid #29a746
}
.collaboration_icon{
	border: 1px solid #f69d28
}
.assessment_icon{
	border: 1px solid #067fff
}

.huddle_title{
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    color: #000;
    font-weight: 500;
        padding-top: 5px;
}
.paddingTop{
    padding-top: 5px;
}

div[dndHandle]{
    padding-left: 0;
    left: 15px;
}

.lastcell{
    left: 0;
}

.folder_container { position:relative;}
.drage_file { background-color: rgba(0,0,0, 0.5);
    text-align: center;
    padding: 3px;
    height: 70px;
    width: 20%;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;     border-radius: 5px;}
.drag_over { background-color: rgba(0,0,0, 0.3);
    top: -7px;
    position: absolute;
    left: -7px;
    right: -7px;
    bottom:-7px;
    display: none;
   }
   .minHeight160{
    min-height: 160px;
}

.minHeight80{
    min-height: 80px;
}

.drage_file b { color:#fff; display:block; padding-top:0px;}

.grid_row{position: relative;}