<div class="row grid_row" [dndDraggable]="data" dndEffectAllowed="move" [dndDisableIf]="block_move">
    <div class="row col-12" dndHandle>
        <div (click)="RequestDetails.emit(data)" class="col-3">
            <a class="fake_link external_link_container">
                <div class="huddle_title" tooltip="{{data?.title}}">
                    {{data?.title}}
                </div>
            </a>
        </div>

        <div (click)="RequestDetails.emit(data)" class="col-1">
            <span [class]="getClass(data?.type)">
            <img [src]="getSrc(data?.type)" width="18">
          </span>
        </div>
        <div class="col-1 paddingTop">{{data?.total_videos}}</div>
        <div class="col-1 paddingTop">{{data?.total_docs}}</div>
        <div class="col-1 lgcell paddingTop">{{data?.created_on}}</div>
        <div class="col-1 lgcell paddingTop">{{data?.last_edit_date}}</div>
        <div class="col-1 paddingTop"> </div>
        <div class="col-1 paddingTop">{{getParticipentCount(data?.participants, data?.type)}}</div>
        <div class="col-1 lastcell paddingTop">
            <ng-container *ngIf="data?.huddle_permissions  && userAccountLevelRoleId !='125'">
                <div *ngIf="!(data?.mouseEntered || isDropdownOpen)" class="hu_grid dropdown">
                    <a>
                        <img src="./assets/img/doted.svg" width="22">
                    </a>
                </div>

                <div *ngIf="data?.mouseEntered || isDropdownOpen" class="hu_grid dropdown">

                    <span (isOpenChange)="isOpen($event)" dropdown>
              <button dropdownToggle id="basic-link" type="button" aria-controls="basic-link-dropdown" class="noOutline">
                  <img src="./assets/img/doted.svg" width="22">
              </button>
                <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="basic-link" style="width: 20px">
                  <li>
                    <a class="dropdown-item fake_link" (click)="OnEdit.emit({huddle_id: data.huddle_id, type: data.type})">{{translation?.huddle_edit_btn}}</a>
                    
                    <a class="dropdown-item fake_link" (click)="OnDelete.emit(data)">{{translation?.huddle_delete_btn}}</a>
                    <a *ngIf="!block_move && (folders > 0 || data?.parent_folder_id)" class="dropdown-item fake_link" (click)="OnMove.emit(data.huddle_id)">{{translation?.huddle_move_btn}}</a>
                  </li>
                </ul>
            </span>


                </div>
            </ng-container>
        </div>
    </div>
    <div class="drag_over" [ngStyle]="{'display':data.huddle_id == dragHuddleId && changeBackgroundColor == true ? 'flex' : 'none' }">
        <div class="drage_file">
          <svg xmlns="http://www.w3.org/2000/svg" width="66.5" height="47.708" viewBox="0 0 66.5 47.708">
            <g id="noun_upload_cloud_3401869" data-name="noun_upload cloud_3401869" transform="translate(10.087 -122.702)">
              <g id="Group_2066" data-name="Group 2066" transform="translate(-15 105)">
                <path id="Path_120" data-name="Path 120" d="M60.959,36.944v-.627a18.712,18.712,0,0,0-35.884-7.336,11.3,11.3,0,0,0-4.615-.958A11.421,11.421,0,0,0,9.077,39.45a7.954,7.954,0,0,0,.059,1.187A14.532,14.532,0,0,0,19.457,65.41h37.4a14.524,14.524,0,0,0,4.1-28.467ZM45.852,44.022a2.138,2.138,0,0,1-3.03,0l-2.588-2.6V52.943a2.079,2.079,0,0,1-4.158,0V41.515l-2.514,2.507a2.153,2.153,0,1,1-3.045-3.038l6.1-6.068.066-.037a1.054,1.054,0,0,0,.111-.081,2.264,2.264,0,0,1,.31-.206,2.028,2.028,0,0,1,1.054-.347h.177a2.123,2.123,0,0,1,1.475.612l6.068,6.09a2.153,2.153,0,0,1-.022,3.074Z" transform="translate(0)" fill="#fff" fill-rule="evenodd"/>
              </g>
            </g>
          </svg>
          <br/>         
          <b>{{translation?.multi_file_upload_drag_files_here}}</b>
        </div>
      </div>
</div>