                  
    <div class="col-md-1 hu_dis_img"><span class="animate_me aniimg"></span></div>
    <div class="col-md-4">
    <h4 class="animate_me lineane"></h4>
    <p class="animate_me lineane dot_ani4"></p>
    <p class="animate_me lineane">
</p>
    </div>
    <div class="col-md-2"><label class="animate_me dot90"></label></div>
    <div class="col-md-2 col-md-2 list_center"><label class="animate_me dot90"></label></div>
    <div class="col-md-2 col-md-2 dis_count list_center"><label class="animate_me dot90"></label></div>
    <div class="col-md-1 list_opt"><label class="animate_me dot_ani dot_ani3"></label></div>
    