body{background:#f3f2ea; font-family: 'Roboto', sans-serif; }
/* .container{
  max-width: 1027px !important;
  margin: 0 auto !important;
  float: none !important;
} */
@media screen and (min-width:1280px) { 
  .container { max-width: 1200px !important;
      padding: 0 15px !important;
      }
     }

@media screen and (min-width:1500px) {

  .container { max-width: 1450px !important;    padding: 0 15px !important; }
}
.box_outer{ background:#fff;  border-radius:5px;     margin-top: 15px !important;   margin-bottom: 20px !important;}
.topheader{text-align: center; background:url('/assets/dashboard/img/bgrep.png') repeat-x;}
.panl_headingac { border-bottom:1px solid #ddd; padding:5.5px 10px;     background: #f9f9f9;     border-top-right-radius: 5px;     border-top-left-radius: 5px;}
.panl_headingac  h3{  
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  color: #212528;
}
.b_drow { padding-top:15px; margin:0; color:#484848;}
.b_heading{padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; margin:0; color:#484848; font-size:14px;}
	.b_drow  .col-2 { padding-left:0;}
	.b_heading .col-2 { padding-left:0;}
	.exp_notes { background:#FFEBEB; padding:20px; margin: 0 -15px;}

  .exp_notes p { margin:0; color:#616161;}
  
  
  .progressbarcls {
  counter-reset: step;
}
.progressbarcls li {
  list-style: none;
  display: inline-block;
  width: 30.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.progressbarcls li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height : 30px;
  border: 1px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
}
.progressbarcls li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index : -1;
}
.progressbarcls li:first-child:after {
  content: none;
}
.progressbarcls li.active {
  color: green;
}
.progressbarcls li.active:before {
  border-color: green;
} 
.progressbarcls li.active + li:after {
  background-color: green;
}






.header__btn {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  padding: 10px 20px;
  display: inline-block;
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid #2c2c2c;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}
.header__btn:last-child {
  margin-right: 0;
}
.header__btn:hover, .header__btn.js-active {
  color: #fff;
  background-color: #2c2c2c;
}

.header {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.header__title {
  margin-bottom: 30px;
  font-size: 2.1rem;
}

.content {
  width: 95%;
  margin: 0 auto 50px;
}

.content__title {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}

.content__title--m-sm {
  margin-bottom: 10px;
}

.multisteps-form__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.multisteps-form__progress-btn {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 20px;
  color: rgba(108, 117, 125, 0.7);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}
@media (min-width: 500px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
  }
}
.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 13px;
  height: 13px;
  content: '';
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
}
.error{
  color:red;
}
.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: currentColor;
  z-index: 1;
}
.multisteps-form__progress-btn:first-child:after {
  display: none;
}
.multisteps-form__progress-btn.js-active {
  color: #007bff;
}
.multisteps-form__progress-btn.js-active:before {
  -webkit-transform: translateX(-50%) scale(1.2);
          transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}

.multisteps-form__form {
  position: relative;
}

.multisteps-form__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.multisteps-form__panel[data-animation="scaleOut"] {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.multisteps-form__panel[data-animation="scaleOut"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.multisteps-form__panel[data-animation="slideHorz"] {
  left: 50px;
}
.multisteps-form__panel[data-animation="slideHorz"].js-active {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  transition-delay: 0s;
  left: 0;
}
.multisteps-form__panel[data-animation="slideVert"] {
  top: 30px;
}
.multisteps-form__panel[data-animation="slideVert"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  top: 0;
}
.multisteps-form__panel[data-animation="fadeIn"].js-active {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.multisteps-form__panel[data-animation="scaleIn"] {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.multisteps-form__panel[data-animation="scaleIn"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}



@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.ani_us{
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
}

.us1 { width:250px; height:40px;}
	
	
	/**copy from here**/
	
.back_ac { text-align:right; padding-top:10px;}
.back_ac img { display:inline-block; margin-right:5px;}
.back_ac a{ color:#8B8B8B; text-decoration:none;}


/***GloabalEXport***/
.tabscls .nav-tabs {
  
    position: relative;
   
}

.tabscls .nav-tabs .nav-item {
   margin-bottom: -1px;
    border: 1px solid #ddd;
    padding: 7px 26px 6px 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 0;
    line-height: 26px;
}

.tabscls .nav-tabs .nav-item a {
    color: #A0A0A0;
    text-decoration: none;
    font-size: 15px;
}

.tabscls .nav-tabs .nav-item a.active {
    color: #1C7CD5;
}


	.save_settingcls {  text-align:right; padding-top:20px; padding-bottom:20px;}
	.save_settingcls button{ background: #fff;
    color: #484848;
    border: 0;
    padding: 6px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;}
	.save_settingcls .save_btn {    background: #28A745;
    color: #fff;}

	.save_settingcls .col-md-6 { padding:0;}
    .save_settingcls a{ color:#616161; text-decoration:underline;}
	
	.tabscls .nav-tabs{ padding:40px 0 0 30px;}
	
	.ck_box2 {margin: 13px 0;font-size: 13px;     display: block; color: #616161;}
	.ck_box2 svg {    margin-right: 12px;}
	.global_content { padding:15px;}
	
	.global_content h3 {font-weight: 400;
    font-size:18px;
    line-height: 40px;
    color: #484848;}
	.crddiv p{ text-align:right;}
	.billingmain {    padding: 30px 15px;}
	.billingmain h4{ color: #A0A0A0;
    font-weight: 400;
    font-size: 16px;}
	
	.billingmain  h3{ color:#1A1A1A; font-size:22px;}
	/* .billingleft {} */
	.billingright { border-left:1px solid #ddd; padding-left:55px;}
	.billingbtn button{background:#F5F5F5;
    color: #484848;
    border: 0;
    padding: 6px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer; border:1px solid #CCCCCC;
    outline: 0;     min-width:160px;
    margin-right: 10px;}
	
	.billingbtn button.changebtn{ background:#28A745; color:#fff;}
	.billingmain label{ color:#616161;     margin: 15px 0 0 0;}
	.billingbtn { padding:20px 15px;}
	.billingmain h2 {
    color: #1A1A1A;
    font-size:18px;    margin-top:30px; font-weight:400;
}
.btn-new{
  background: #fff;
  color: #484848;
  border: 0;
  padding: 6px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
  text-decoration: none !important;
}
	.billingleft .col-6{ padding-bottom:10px;}
	.text_bill { padding-bottom:20px;}
  .text_bill p{ color:#616161; margin-bottom:0;}
  .text_bill p a u{ color:#000;}
	.braintree img {    max-width: 124px;}
  .ac_billing{    padding: 30px 15px;}
  .multisteps-form__progress-btn.js-active b{
    color: #000 !important;
  }
  .contact_us{color:#757575 !important}
  .ac_billing h2{ color: #1A1A1A;
    
    font-size:18px;    margin-top:30px; font-weight:400;}
	
	.bill_opt {    text-align: center;}
	
	.bill_opt button {
    border: 0;
    padding: 0;
    background: none;
    outline: none;
    cursor: pointer;
}
.bill_opt .dropdown-toggle::after { display:none;}
.bill_opt .dropdown-menu { text-align:left;}
.bill_opt .dropdown-menu a{ color:#484848;}
	.bill_opt .dropdown-menu {
    min-width:75px !important;
    padding: 10px 6px 6px 9px !important;
    left: -55px !important;
}
	
	.multisteps-form { padding-top:40px;}
	
	
	.plan_opt { padding-left:0;}
.plan_opt .btn-secondary {    border-color: #cccccc; background:#fff; color: #484848;       margin: 10px 60px 10px 0!important;
    border-radius: 4px !important; min-width:180px;     text-align: left;} 
	
	.plan_opt .btn-secondary img{ position:relative; top:-2px; margin-right:10px;}
	
div.plan_opt .active{ background:#f5f5f5 !important; color: #484848 !important;     border-color: #28A745 !important;-webkit-box-shadow: -1px 1px 6px -3px #28A745 !important; 
box-shadow: -1px 1px 6px -3px #28A745 !important;}
.plan_opt .normal_st{ display:inline-block;}
.plan_opt .c_active{ display:none;}
.plan_opt .active .normal_st{ display:none;}
.plan_opt .active .c_active{ display:inline-block;}


.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0rem rgba(255,555,255,0) !important;
}

.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: 0 0 0 0rem rgba(108,117,125,0) !important;
}
.svoption { padding: 11px 0 0 0;}
	
	
	
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.svoption i{ font-style:normal;     display: inline-block;
    margin: 0px 5px;     position: relative;
    top: 6px; }

.save10 { color: #28A745;
    font-size: 12px;
    position: relative;
    top: 18px !important;
    left: -6px;}


.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{     background:none;
    border-color: #cccccc;      color: #00bc2b;}
	
	.plan_heading {     margin: 0 15px 40px 15px; border:1px solid #ddd; border-left:0; border-right:0;}
	.p_heading button{ background: #28A745;
    color: #fff;
    display: inline-block;
    border: 0;
    padding: 6px 19px;
    border-radius: 3px;
    width: 118px;
    font-size: 16px; }
	.p_heading .col-md-2{ text-align:center;}
	.p_heading label { display:block; color:#212528; font-weight:600; font-size:18px;  margin:0;}
	.p_heading p { color: #1485FE;
    font-weight: 600;
    font-size:20px;     margin: 6px 0 9px 0; min-height: 31px;}
	.p_heading p sub{ font-weight:400;}
	.p_heading { padding-bottom:20px;  border-bottom: 1px solid #ddd;
    }
	.optiondata {padding: 0 15px 0px 15px;}
	.optiondata .row { margin:0;     padding: 17px 0; border-bottom: 1px solid #ddd;}
	.optiondata .row .col-md-2 img { max-width:20px;}
	.storage_ms { text-align:center; padding:15px 0; color:#616161;}
	.storage_ms p a{ color:#616161; font-weight:600;}
   .storage_ms  label{ color:#1485FE; display:block;}
   .optiondata .col-md-2 { text-align:center; -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;}
	.optiondata .col-md-2 .form-control{    max-width: 120px;
    margin: 0 auto;}
  .optiondata .col-md-5 { padding-left:0;    -webkit-box-flex: 0;
    -ms-flex: 0 0 38%;
    flex: 0 0 38%;
    max-width: 38%; }
  .storage_ms { border:0 !important;}
   .last_select { border:0 !important;}
  .last_select button{background: #28A745;
    color: #fff;
    display: inline-block;
    border: 0;
    padding: 6px 19px;
    border-radius: 3px;
    width: 118px;
    font-size: 16px;}
	
	.content_popup { padding:40px; text-align:center; color:#616161;}
	.mbtn { text-align:right;}
	.mbtn .btn{outline:0 !important; box-shadow: 0 0 0 0rem rgba(0,123,255,.25) !important;     padding: 5px 19px;} 
	.mbtn .btn-default  { background:none; outline:0; }
	.new_plan {border: 1px solid #E7E7E7; margin-bottom:25px;     max-width: 90%;
}
	.new_plan label{ background:#F9F9F9; padding:15px 20px; margin: 0;
    display: block; font-weight:400; color:#212528; font-size:20px;}
	.new_plan .row { padding: 20px 35px;}
	.new_plan .col-6 { padding-left:0;}
	.new_plan .col-12 { padding-left:0;}
	.new_plan .brd{    border-top: 1px solid #ddd; padding-top:10px;}
	.new_plan .changebtn { background:#057EFF !important;}
	.re_title label{ font-weight:400; margin:0; font-size:18px;}
	/* .re_title{ } */
	.re_title p { font-size:14px;}
	.rect { padding:15px;}
	.rect .row{ margin:0; }
	.re_heading { border:1px solid #ddd; border-left:0; border-right:0;     padding: 11px 0;}
	.rect .col-md-6 { padding-left:0;}
	.detail_rw { padding:11px 0;}
	.detail_rw2 { padding:5px 0;}
	.detail_rw2 .col-md-8, .col-md-11{ padding-left:0;}
	.border1 {border:1px solid #ddd; border-left:0; border-right:0; padding:15px 0;}
	.detail_rw2 b{ color:#2D2D2D;}
	.pt40 { padding-top:40px !important;}
	.rec_btn { text-align:right; padding-top:70px;}
	.rec_btn button{    background: #F5F5F5;
    color: #484848;
    border: 0;
    padding: 6px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #CCCCCC;
    outline: 0;
    min-width: 100px;
    margin-left: 10px;}
	.rec_btn button.done_re {    background: #28A745;
    color: #fff;}
    @-webkit-keyframes placeHolderShimmer {
      0% {
        background-position: -468px 0;
      }
      100% {
        background-position: 468px 0;
      }
    }
    
    @keyframes placeHolderShimmer {
      0% {
        background-position: -468px 0;
      }
      100% {
        background-position: 468px 0;
      }
    }
    .bill_ani{
      -webkit-animation-duration: 1.25s;
              animation-duration: 1.25s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-name: placeHolderShimmer;
              animation-name: placeHolderShimmer;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      background: #F6F6F6;
      background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
      background-size: 800px 104px;
      position: relative;
    }
    
    .bill_ani2{
      -webkit-animation-duration: 1.25s;
              animation-duration: 1.25s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-name: placeHolderShimmer;
              animation-name: placeHolderShimmer;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      background: #e1e1e1;
      background: linear-gradient(to right, #e1e1e1 8%, #F0F0F0 18%, #e1e1e1 33%);
      background-size: 800px 104px;
      position: relative;
    }
    
    
    .bil_a1 { width:100%; height:18px; margin-bottom:8px;}
    .bil_a0 { display:inline-block; width:90px; height:20px; margin-bottom:0px;}
    .bil_a01 { display:inline-block; width:150px; height:30px; margin-bottom:0px;}
    .bil_a2 { width:40%;  display:inline-block; height:38px;}
    .bil_a3 { width:100%;  height:38px;     margin-top: 10px;}
    .bil_a4 {width:15%;  height:38px; margin-right:8%; display:inline-block;     margin-top: 9px;}
    .bil_a5 {width:100%;  height:38px;  display:inline-block;     margin-top:29px;}
    .bil_a6 {width:100%;  height:20px;  display:inline-block;  }
    .bil_a7 {width:50px;  height:20px;  display:inline-block;  }
    .bil_a8 {width:100px;  height:38px;  display:inline-block;  }
    .bil_a9 {width:190px;  height:28px;  display:inline-block;  }
    
    h3 .bil_a9{    position: relative;
        top: 7px;}
      .bil_a10{width:190px;  height:20px;  display:inline-block;  }
      .bil_a11{width:80px;  height:20px;  display:inline-block;  }
      .bil_a12{width:90px;  height:40px;  display:inline-block;  }
      b.custom-card{
        color: black;
        font-weight: 600;
      }
     .save_settingcls .card-color{
      background: #F5F5F5;
      color: #484848;
      border: 0;
      padding: 6px 16px;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
      border: 1px solid #CCCCCC;
      outline: 0;
      min-width: 160px;
      margin-right: 10px;
      float:left;
      margin-left: -15px;
      }

      button:disabled {
        opacity: 0.5 !important;
    }
    .container.bred_an{ padding-left:0 !important;     top: 11px !important;     padding-bottom: 9px !important;}
	.panl_headingac .col-md-6{ padding-left:7px;}