<ng-container *ngIf="skeletonLoading">
  <div class="container box_outer">
   
    <div class="row panl_headingac">
        
        <div class="col-md-6">
          <h3><span class="bill_ani2 bil_a9"></span></h3>
        </div>
        
        <div class="col-md-6 back_ac">
           <span class="bill_ani2 bil_a9"></span>
            
        </div>
        
    </div>
    
    
    <div class="multisteps-form">
         <!--progress bar-->
         <div class="row">
           <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
             <span class="bill_ani bil_a9"></span>
              <span class="bill_ani bil_a9"></span>
               <span class="bill_ani bil_a9"></span>
           </div>
         </div>
         <!--form panels-->
         
       </div>
       
       <div class="row billingmain">
     
     <div class="col-md-5 billingleft">
     
      <h4><span class="bill_ani bil_a0"></span></h4>
        
       <h3><span class="bill_ani bil_a01"></span></h3>
       
       <div class="row">
         <div class="col-12"><div class="bill_ani bil_a1"></div></div>
         <div class="col-12"><div class="bill_ani bil_a1"></div></div>
         <div class="col-12"><div class="bill_ani bil_a1"></div></div>
         <div class="col-12"><div class="bill_ani bil_a1"></div></div>
         <div class="col-12"><div class="bill_ani bil_a1"></div></div>
         
         
         
         <div class="col-12 billingbtn">
          <span class="bill_ani bil_a2"></span>
          
         </div>
         
       </div>
       
       
     
       <h4><span class="bill_ani bil_a0"></span></h4>
        
       <h3><span class="bill_ani bil_a01"></span></h3>
       
       <div class="row">
         <div class="col-12"><div class="bill_ani bil_a1"></div></div>
         <div class="col-12"><div class="bill_ani bil_a1"></div></div>
         <div class="col-12"><div class="bill_ani bil_a1"></div></div>
         <div class="col-12"><div class="bill_ani bil_a1"></div></div>
         <div class="col-12"><div class="bill_ani bil_a1"></div></div>
         
         
         
         <div class="col-12 billingbtn">
          <span class="bill_ani bil_a2"></span>
          <span class="bill_ani bil_a2"></span>
         </div>
         
       </div>
       
     </div>
     
     <div class="col-md-7 billingright">
       <div class="row">
        
        <div class="col-12">
         <h4><span class="bill_ani bil_a0"></span></h4>
        </div>
         
         <div class="col-md-6">
         <div class="bill_ani bil_a3"></div>
         </div>
         <div class="col-md-6">
          <div class="bill_ani bil_a3"></div>
         </div>
         
         <div class="col-md-6">
          <div class="bill_ani bil_a3"></div>
         </div>
         <div class="col-md-6">
          <div class="bill_ani bil_a3"></div>
         </div>
         
         
          <div class="col-md-6">
          <div class="bill_ani bil_a3"></div>
         </div>
         <div class="col-md-6">
          <div class="bill_ani bil_a3"></div>
         </div>
         
         <div class="col-md-6">
          <div class="bill_ani bil_a3"></div>
         </div>
         <div class="col-md-6">
         <div class="bill_ani bil_a3"></div>
         </div>
         <div class="col-md-12">
          <div class="bill_ani bil_a3"></div>
         </div>
         
          <div class="col-md-6 crddiv">
            
            <div class="bill_ani bil_a3"></div>
          </div>
          
          <div class="col-md-4">
           <div class="bill_ani bil_a3"></div>
          </div>
          
          <div class="col-md-2">
           <div class="bill_ani bil_a3"></div>
          </div>
          
          <div class="col-md-9">
         <div class="bill_ani bil_a3"></div>
          </div>
          
          <div class="col-md-3">
            <div class="bill_ani bil_a3"></div>
          </div>
          
          <div class="col-12 save_settingcls">
    
               <span class="bill_ani bil_a2"></span>
          <span class="bill_ani bil_a2"></span>
      
       </div>
          
          <div class="col-md-12 text_bill">
          <div class="bill_ani bil_a1"> </div>
          <div class="bill_ani bil_a1"> </div>
          </div>
          
          
          <div class="col-md-12 text_bill">
           <div class="bill_ani bil_a1"></div>
           <div class="bill_ani bil_a1"></div>
          </div>
         
       </div>
     </div>
     
      </div>
    
    
    
    
             
    
 
    
    
    
    
   </div>
</ng-container>
<div class="clear"></div>
<div class="container bred_an">
  <a [routerLink]="['/']">{{translations.home_global}}</a>
  <img src="assets/img/breadcrumarrow.svg" />
  <a [routerLink]="['/account-settings']">{{translations.account_settings_all}}</a>

  <img src="assets/img/breadcrumarrow.svg" />

  <a [routerLink]="['/account-settings/plans']"> <b> {{translations.plans_main}} </b></a>
  
</div>
<div *ngIf="!skeletonLoading" class="container box_outer">

  <div class="row panl_headingac">

    <div class="col-md-6">
      <h3>{{translations.change_plan_new_settings}}</h3>
    </div>

    <div class="col-md-6 back_ac">
      <a (click)="loadFilterDialogUpdate(dialogue_box)"> <img src="assets/img/left-arrow.svg"> {{translations.back_to_plans_new_settings}}</a>
    </div>

  </div>

  
  <div class="multisteps-form">
    <!--progress bar-->
    <div class="row">
      <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
        <div class="multisteps-form__progress">
          <button class="multisteps-form__progress-btn js-active" type="button" title="Choose Plan"><b>{{translations.choose_plan_new_settings}}</b></button>
          <button class="multisteps-form__progress-btn js-active" type="button" title="Payment"><b>{{translations.payment_new_settings}}</b></button>
          <button class="multisteps-form__progress-btn" type="button" title="Receipt">{{translations.receipt_new_settings}}</button>

        </div>
      </div>
    </div>
    <!--form panels-->

  </div>

  <div  class="row billingmain">

    <div class="col-md-5 billingleft">

      <ng-container *ngIf="!noPlanFlag">
        <div class="new_plan" *ngFor="let data of accountData">
          <label>New Plan</label>
          <div class="row">
            <div class="col-12">
              <h3>{{data.selected_plan_name}}</h3>
            </div>
            <div class="col-6">{{translations.user_new_settings}}:</div>
            <div class="col-6">{{data.selected_user_cost}}</div>

            <div class="col-6">{{translations.total_users_new_settings}}:</div>
            <div class="col-6">{{this.selected_number_of_users}}</div>


            <div class="col-6">{{translations.total_storage_new_settings}}:</div>
            <div class="col-6">{{data.selected_storage}}GB</div>

            <div class="col-6">{{translations.renews_on_new_settings}}:</div>
            <div class="col-6">{{data.selected_renews_on}}</div>

            <div class="col-6">{{translations.cost_new_settings}}:</div>
            <div class="col-6">{{data.selected_cost}}</div>

            <div class="col-6 brd">
              <h3>{{translations.total_new_settings}}</h3>
            </div>
            <div class="col-6 brd">
              <h3>{{data.selected_cost}}</h3>
            </div>
            <div class="col-12 billingbtn">
              <button class="changebtn" (click)="loadFilterDialog(confirmModal)">{{translations.change_plan_new_settings}}</button>

            </div>

          </div>

        </div>
      </ng-container>
      <div class="new_plan" *ngIf="noPlanFlag">
        <label>New Plan</label>
        <div class="row">
          <div class="col-12">

            <span> Plan not selected </span>
          </div>
        </div>
      </div>
      <ng-container *ngFor="let data of accountData">
        <h4>Current Plan</h4>

        <h3>{{data.plan_name}}</h3>

        <div class="row">
          <div class="col-6">{{translations.user_new_settings}}:</div>
          <div class="col-6">{{data.user_cost}}</div>

          <div class="col-6">{{translations.total_users_new_settings}}:</div>
          <div class="col-6">{{data.number_of_users}}</div>


          <div class="col-6">{{translations.total_storage_new_settings}}:</div>
          <div class="col-6">{{data.storage}}GB</div>

          <div class="col-6">{{translations.renews_on_new_settings}}:</div>
          <div class="col-6">{{data.next_billing}}</div>

          <div class="col-6">{{translations.cost_new_settings}}:</div>
          <div class="col-6">{{data.cost}}</div>

          <!-- <div class="col-12 billingbtn">
            <button class="changebtn" (click)="loadFilterDialog(confirmModal)">{{translations.change_plan_new_settings}}</button>
            <button (click)="cancelAccount()">{{translations.cancel_account_new_settings}}</button>
          </div> -->

        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="hideCC;else showForm">
      
      <div class="col-md-7 billingright">
        
          <h4>Payment Method</h4>
         
        <img class="mr-2" width="30" src="{{accountData[0].creditCardImage}}">
        <b class="custom-card"> {{accountData[0].creditCardNumber}}</b>
        <div class="col-12 save_settingcls">
        
          <button class="card-color" (click)="showUpdateAndPay = true; hideCC=false">{{translations.update_card_new_settings}}</button>
          <!-- <button (click)="cancelPressed()">Cancel</button> -->
          <button  (click)="loadFilterDialogUpdate(dialogue_box)">{{translations.cancel_us}}</button>
          <a>
            <button class="save_btn" (click)="payWithCurrentCard()">{{translations.pay_now_new_settings}}</button>
          </a>
        </div>
        <p>{{translations.for_ten_licenses_new_settings}} </p>
      <p>{{translations.please_new_settings}} <b> <a href="https://sibme.com/#contact-modal" target="_blank"> <u class="contact_us">{{translations.contact_us_new_settings}}</u> </a> </b> {{translations.call_us_new_settings}} <b>
        888-601-6786 x1</b> {{translations.for_an_invoice_new_settings}} </p>
        <div class="row">
      <div class="col-md-3 braintree">
        <img src="assets/img/braintree.png">
      </div>
      <div class="col-md-9 text_bill">
        <p>{{translations.our_payment_billing_new_settings}}</p>
      </div>
      </div>
      </div>
    </ng-container>
    <ng-template #showForm>
      <div class="col-md-7 billingright">
        <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
          <div class="row">

            <div class="col-12">
              <h4>{{translations.payment_method_new_settings}}</h4>
            </div>

            <div class="col-md-6">
              <label>{{translations.first_name_new_settings}}</label>
              <input type="text" [(ngModel)]="planObj.first_name" name="firstName" #firstName="ngModel" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required>
              <div *ngIf="firstName.invalid" class="invalid-feedback">
                <div *ngIf="firstName.errors?.required">First Name is required</div>
            </div>
            </div>
            <div class="col-md-6">
              <label>{{translations.last_name_new_settings}}</label>
              <input type="text" name="lastName" class="form-control" [(ngModel)]="planObj.last_name" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required>
              <div *ngIf="lastName.invalid" class="invalid-feedback">
                  <div *ngIf="lastName.errors?.required">Last Name is required</div>
              </div>
            </div>

            <div class="col-md-6">
              <label>{{translations.email_new_settings}}</label>
              <input type="text" name="email" class="form-control" [(ngModel)]="planObj.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
                <div *ngIf="email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors?.required">Email is required</div>
                    <div *ngIf="email.errors?.email">Email must be a valid email address</div>
                </div>
            </div>
            
            <div class="col-md-6">
              <label>{{translations.account_name_new_settings}}</label>
              <input type="text" name="address" class="form-control" [(ngModel)]="planObj.address" #address="ngModel" [ngClass]="{ 'is-invalid': f.submitted && address.invalid }" required>
              <div *ngIf="address.invalid" class="invalid-feedback">
                  <div *ngIf="address.errors?.required">Address is required</div>
              </div>
            </div>


            <div class="col-md-6">
              <label>{{translations.billing_address_new_settings}}</label>
              <input type="text" name="extendedAddress" class="form-control" [(ngModel)]="planObj.extendedAddress" #extendedAddress="ngModel" >
              <!-- <div *ngIf="extendedAddress.invalid" class="invalid-feedback">
                  <div *ngIf="extendedAddress.errors?.required">Address is required</div>
              </div> -->
            </div>
            <div class="col-md-6">
              <label>{{translations.city_new_settings}}</label>
              <input type="text" name="city" class="form-control" [(ngModel)]="planObj.city" #city="ngModel" [ngClass]="{ 'is-invalid': f.submitted && city.invalid }" required>
              <div *ngIf="city.invalid" class="invalid-feedback">
                  <div *ngIf="city.errors?.required">City is required</div>
              </div>
            </div>

            <div class="col-md-6">
            
              <label>{{translations.state_new_settings}}</label>
                <select [(ngModel)]="planObj.state" name="state" class="form-control"  #state="ngModel" [ngClass]="{ 'is-invalid': f.submitted && state.invalid }" required>
                <option *ngFor="let c of states" [value]="c.name">{{c.name}}</option>
              </select>
              <div *ngIf="state.invalid" class="invalid-feedback">
                <div *ngIf="state.errors?.required">State is required</div>
                </div>
            </div>

            <div class="col-md-6">
              <label>{{translations.zip_code_new_settings}}</label>
              <input type="text" [(ngModel)]="planObj.zip_code" name="zip" class="form-control">
            </div>
            <div class="col-md-12">
              <h2>{{translations.enter_payment_details_new_settings}} </h2>
            </div>

            <div class="col-md-6 crddiv">
              <label>{{translations.card_number_new_settings}}</label>
              <input id="cc-number" type="tel" autocomplete="cc-number" name="cc" ccNumber placeholder="xxxx-xxxx-xxxx-xxxx" minlength="16" [(ngModel)]="planObj.card_number" [ngModelOptions]="{standalone: true}"
                #cc="ngModel" class="form-control"  class="form-control" [ngClass]="{ 'is-invalid': f.submitted && cc.invalid }" required>
              <div *ngIf="cc.errors?.minlength" class="error">
                {{translations.card_must_be_new_settings}}
              </div>
              <div *ngIf="cc.invalid" class="invalid-feedback">
                <div *ngIf="cc.errors?.required">Card Number is required</div>
                </div>
              <p><img src="assets/img/cardimg.png"></p>
            </div>

            <div class="col-md-4">
              <label> {{translations.expiration_date_new_settings}}</label>
              <input placeholder="MM/YR" id="cc-exp-date" type="tel" autocomplete="cc-exp" ccExp [(ngModel)]="planObj.card_expiration" name="cDate" class="form-control"  #cDate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cDate.invalid }" required>
              <div *ngIf=" cDate.invalid" class="invalid-feedback">
                <div *ngIf="cDate.errors?.required">Expiration Date is required</div>
                </div>
            </div>

            <div class="col-md-2">
              <label>{{translations.cw_new_settings}}</label>
              <input id="cc-cvc" type="tel" autocomplete="off" ccCVC placeholder="xxx" name="cvv" [(ngModel)]="planObj.card_cvv" [ngModelOptions]="{standalone: true}" #cvv="ngModel"
                class="form-control" [ngClass]="{ 'is-invalid': f.submitted && cvv.invalid }" required>
              <div *ngIf="cvv.errors?.minlength" class="error">
                Must be 3 characters long.
              </div>
              <div *ngIf="cvv.invalid" class="invalid-feedback">
                <div *ngIf="cvv.errors.required">CVV Number is required</div>
                </div>
            </div>

            <div class="col-md-9">
              <label>{{translations.country_new_settings}}</label>
              <select [(ngModel)]="planObj.country" (change)="countrySelected($event.target.value)" name="country" class="form-control"  #country="ngModel" [ngClass]="{ 'is-invalid': f.submitted && country.invalid }" required>
                <option *ngFor="let c of countires" [value]="c.name">{{c.name}}</option>
              </select>
              <div *ngIf="country.invalid" class="invalid-feedback">
                <div *ngIf="country.errors?.required">Country is required</div>
            </div>
            </div>


            <div *ngIf="!showUpdateAndPay" class="col-12 save_settingcls">

              <a class="btn-new" (click)="loadFilterDialogUpdate(go_back)" >{{translations.cancel_us}}</a>
              <a>
                <button class="save_btn" >{{translations.save_new_settings}}</button>
              </a>
            </div>

            <div class="btn-new" *ngIf="showUpdateAndPay" class="col-12 save_settingcls">

              <a  class="btn-new" (click)="loadFilterDialogUpdate(dialoguebox);" >{{translations.cancel_update}}</a>
              <a>
                <button class="save_btn" >{{translations.update_pay_new_settings}}</button>
              </a>
            </div>

            <div class="col-md-12 text_bill">
              <p>{{translations.for_ten_licenses_new_settings}} </p>
              <!-- <p>{{translations.please_new_settings }} </p>
              <p>  {{ translations.contact_us_new_settings }}  </p> 
              <p> {{translations.or_call_at_new_settings}} </p> -->
              <p>{{translations.please_new_settings}} <b> <a href="https://sibme.com/#contact-modal" target="_blank"> <u class="contact_us">{{translations.contact_us_new_settings}}</u> </a> </b> {{translations.call_us_new_settings}} <b>
                888-601-6786 x1</b> {{translations.for_an_invoice_new_settings}} </p>
            </div>

            <div class="col-md-3 braintree">
              <img src="assets/img/braintree.png">
            </div>
            <div class="col-md-9 text_bill">
              <p>{{translations.our_payment_billing_new_settings}}</p>
            </div>
          </div>
        </form>
      </div>
    </ng-template>


  </div>
 
</div>
<ng-template #confirmModal>
  <div class="modal-content ">

    <div class="modal-body ">
      <button type="button" class="close" (click)="this.modalRef.hide();" data-dismiss="modal">×</button>

      <div class="content_popup">
        <p>{{translations.are_you_sure_new_settings}}</p>
      </div>

      <div class="col-12 mbtn">
        <button type="button" class="btn btn-default" (click)="this.modalRef.hide();"
          data-dismiss="modal">{{translations.cancel_us_new_settings}}</button>
        <button type="button" (click)="changePlan()" class="btn btn-success">Ok</button>
      </div>

    </div>


  </div>
</ng-template>
<ng-template #dialoguebox>
  <div class="modal-content ">

    <div class="modal-body ">
      <button type="button" class="close" (click)="this.modalRef.hide();" data-dismiss="modal">×</button>

      <div class="content_popup">
        <p>{{translations.are_you_sure_like_to_cancel_cc_changes_new_settings}}</p>
         <p> {{translations.you_will_lose_any_updated_cc_info_new_settings}}</p>
      </div>

      <div class="col-12 mbtn">
     
          <a class="btn" (click)="this.modalRef.hide();">{{translations.cancel_us}}</a>
        <button type="button"  (click)="showUpdateAndPay = false; hideCC=true;this.modalRef.hide();resetFormToBack() " class="btn btn-success">{{translations.ok}}</button>
        
      </div>

    </div>
    </div>
  </ng-template>
  <ng-template #dialogue_box>
    <div class="modal-content ">
  
      <div class="modal-body ">
        <button type="button" class="close" (click)="this.modalRef.hide();" data-dismiss="modal">×</button>
  
        <div class="content_popup">
          <p>{{"Are you sure you'd like to cancel plan changes ?
            This action cannot be undone"}}</p>
        </div>
  
        <div class="col-12 mbtn">
       
            <button type="button" class="btn" (click)="this.modalRef.hide();">{{translations.cancel_us}}</button>
          <button type="button"  (click)="cancelPressed();this.modalRef.hide()" class="btn btn-success">{{translations.ok}}</button>
          
        </div>
  
      </div>
      </div>
      </ng-template>
      <ng-template #dialogue_box>
    <div class="modal-content ">
  
      <div class="modal-body ">
        <button type="button" class="close" (click)="this.modalRef.hide();" data-dismiss="modal">×</button>
  
        <div class="content_popup">
          <p>{{translations.are_you_user_like_to_cancel_new_settings }}</p>
        </div>
  
        <div class="col-12 mbtn">
       
            <button type="button" class="btn" (click)="this.modalRef.hide();">{{translations.cancel_us}}</button>
          <button type="button"  (click)="cancelPressed();this.modalRef.hide()" class="btn btn-success">{{translations.ok}}</button>
          
        </div>
  
      </div>
      </div>
      </ng-template>
      <ng-template #go_back>
        <div class="modal-content ">
      
          <div class="modal-body ">
            <button type="button" class="close" (click)="this.modalRef.hide();" data-dismiss="modal">×</button>
      
            <div class="content_popup">
              <p>{{translations.are_you_user_like_to_cancel_new_settings }}</p>
            </div>
      
            <div class="col-12 mbtn">
           
                <button type="button" class="btn" (click)="this.modalRef.hide();">{{translations.cancel_us}}</button>
              <button type="button"  (click)="cancelPressed();this.modalRef.hide()" class="btn btn-success">{{translations.ok}}</button>
              
            </div>
      
          </div>
          </div>
          </ng-template>