.forget_container {
    width: 700px;
    margin: 0 auto;
    margin-top: 0px;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
    margin-top: 100px;
}

.f_box {
    max-width: 368px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px;
}

.forget_container h4 {
    color: #010101;
    font-size: 24px;
    padding: 30px 0;
}

.forget_container input[type=password],
.forget_container input[type=text] {
    display: block;
    width: 100%;
    height: 45px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.forget_container label {
    text-align: right;
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
}

.forget_container button {
    background: #28A745;
    padding: 12px 10px;
    border: 0;
    color: #fff;
    display: block;
    width: 100%;
    margin-top: 25px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.forget_container .f_field {
    position: relative;
}

.fa-eye-slash {}

.forget_container .f_field .svg-inline--fa {
    position: absolute;
    top: 16px;
    right: 9px;
    width: 16px;
    cursor: pointer;
    z-index: 9;
}

.forget_container .f_field svg path {
    fill: #afafaf;
}

.login_logo img {
    /* width: 368px !important; */
}

.logocl {
    height: 81px
}

.forget_container .text_ani {
    height: 28px;
    padding: 0;
    margin: 20px 0;
}

.forget_container .fieldani {
    height: 45px;
    padding: 0;
    margin: 20px 0;
}

.skicls {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    position: relative;
}

@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}