<div id="main" class="container box">
	<div class="analy_b">
		<div class="row panl_heading">
			<div class="col-6">
			<h3 *ngIf="!userDetailsLoaded" class="ani_brcls an_ah1"></h3>
			<h3 *ngIf="userDetailsLoaded">
				{{userDetails?.user_essentials[0]?.first_name}} {{userDetails?.user_essentials[0]?.last_name}}
			</h3>
		</div>
		</div>
		<div  *ngIf="!analytics_ready" class="mg_alert">
			<div class="cs1">
				<svg style="height: 38px;" id="Group_332" data-name="Group 332" xmlns="http://www.w3.org/2000/svg" width="90.7"
						height="90.7" viewBox="0 0 90.7 90.7">
						<path id="Path_51" data-name="Path 51"
							d="M45.35,0A45.29,45.29,0,1,1,13.265,13.265,45.239,45.239,0,0,1,45.35,0Zm0,56.708a6.121,6.121,0,0,1,6.135,6.135,6.192,6.192,0,0,1-6.135,6.218,6.263,6.263,0,0,1-6.218-6.218A6.192,6.192,0,0,1,45.35,56.708Zm0-6.218A4.329,4.329,0,0,1,41.2,46.345L39.132,27.857c-.332-3.233,3.068-6.218,6.218-6.218s6.55,2.985,6.135,6.218L49.5,46.345A4.329,4.329,0,0,1,45.35,50.49Zm26.2-31.422A37.129,37.129,0,1,0,82.409,45.35,37.325,37.325,0,0,0,71.549,19.069Z"
							transform="translate(0)" fill="#616161" />
					</svg>
			</div>
			<div class="mig_msg">
			<span>{{translation?.analytics_migration_msg}}</span>
			</div>
		</div>
		<div *ngIf="analytics_ready" class="filter_an">
			<div class="row">
				<div *ngIf="!translationLoaded" class="serch_op ana_cl an_ah2c1 "></div>
				<div *ngIf="translationLoaded" class=" serch_op">
					<span [ngClass]="{'duration_active':filters.duration==1}" (click)="selectDuration(1)">1
						{{translation?.analytics_month}}</span>
					<span [ngClass]="{'duration_active':filters.duration==2}" (click)="selectDuration(2)">3
						{{translation?.analytics_month}}</span>
					<span [ngClass]="{'duration_active':filters.duration==3}" (click)="selectDuration(3)">6
						{{translation?.analytics_month}}</span>
					<span [ngClass]="{'duration_active':filters.duration==4}" (click)="selectDuration(4)">12
						{{translation?.analytics_month}}</span>
				</div>
				<div *ngIf="!translationLoaded" class="an_or ana_cl an_ah2c2"></div>
				<div *ngIf="translationLoaded" class="an_or">
					{{translation?.analytics_or}}
				</div>
				<div *ngIf="!translationLoaded" class="an_date ana_cl an_ah2c3"></div>
				<div *ngIf="translationLoaded" class="an_date">
					<input type="text" placeholder="{{translation?.analytics_date_range}}" [bsConfig]="bsConfig"
						bsDaterangepicker [(ngModel)]="filters.date_range" (ngModelChange)="deselectDuration($event)"
						#dp>
					<img src="assets/img/calendar.svg" (click)="showdp()" class="an_cal">
				</div>
				<div class="clear">
				</div>
				<div class="opt_row2 animated fadeIn">
					<div *ngIf="!translationLoaded" class="selec_opt2 single_select ana_cl an_ah2c4"></div>
					<div *ngIf="translationLoaded" class="selec_opt2 single_select">
						<ng-multiselect-dropdown name="huddles" [placeholder]=translation?.analytics_select_huddle
						[settings]="huddle_settings" [(ngModel)]="dropdowns.selectedHuddle"
						[data]="dropdowns.huddles_filters" (onSelect)="onHuddleSelectSelect($event)"
							(onDeSelect)="onHuddleDeselect($event)">
						</ng-multiselect-dropdown>
					</div>
					<div *ngIf="!translationLoaded" class="selec_opt3 single_select ana_cl an_ah2c5"></div>
					<div *ngIf="translationLoaded" class="selec_opt3 single_select">
						<ng-multiselect-dropdown name="frameworks" [placeholder]=translation?.analytics_select_framework
							[settings]="framework_settings" [(ngModel)]="dropdowns.selectedFramework"
							[data]="dropdowns.frameworks" (onSelect)="onFrameworkSelectSelect($event)"
							(onDeSelect)="onFrameworkDeselect($event)">
						</ng-multiselect-dropdown>
					</div>
					<div *ngIf="!translationLoaded" class="selec_opt4 ana_cl an_ah2c6"></div>
					<div *ngIf="translationLoaded" class="selec_opt4">
						<ng-multiselect-dropdown name="standards" [placeholder]=translation?.analytics_select_standards
							[settings]="standards_settings" [data]="dropdowns.standards" [(ngModel)]="filters.standards"
							(ngModelChange)="onStandardsSelectSelect($event)">
						</ng-multiselect-dropdown>
					</div>
					<div *ngIf="!translationLoaded" class="an_date2 ana_cl an_ah2c7"></div>
					<div *ngIf="translationLoaded" class="an_date2">
						<input type="submit" value="{{translation?.analytics_update}}" (click)="updateData()"
							[style.backgroundColor]="primery_button_color">
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="analytics_ready" class="ana_body">
			<pctabs [data]="userDetails"></pctabs>
		</div>
	</div>
</div>