<div class="container box_outer" *ngIf="isLoading">
    <div class="row box_whcls">
        <div class="col-2 profile_left">

            <div class="profile_ttile p_ani pan1"></div>

            <div class="profile_opt fright">
                <div class="p_ani pan1"></div>
            </div>
            <div class="clearfix"></div>

            <div class="profile_info">
                <span class="p_ani pan2"></span>
                <br>
                <h3> <span class="pan3 p_ani"></span></h3>
                <span class="pan4 p_ani"></span>
                <label><span class="pan3 p_ani"></span></label>
                <p class="p_ani pan5"></p>
                <p class="p_ani pan5"></p>
                <p class="p_ani pan6"></p>
            </div>



            <div class="get_mobile">
                <p class="p_ani pan6"></p>
                <p class="p_ani pan7"></p>
                <p class="p_ani pan7"></p>

            </div>


        </div>
        <div class="col-8 profile_center">



            <div class="stats_detail mtop30">

                <div class="stats_box">
                    <span class="p_ani pan8">

                    </span>
                    <p><span class="p_ani pan9">

                        </span></p>
                    <label><span class="p_ani pan10">

                        </span></label>
                </div>

                <div class="stats_box">
                    <span class="p_ani pan8">

                    </span>
                    <p><span class="p_ani pan9">

                        </span></p>
                    <label><span class="p_ani pan10">

                        </span></label>
                </div>

                <div class="stats_box">
                    <span class="p_ani pan8">

                    </span>
                    <p><span class="p_ani pan9">

                        </span></p>
                    <label><span class="p_ani pan10">

                        </span></label>
                </div>

                <div class="stats_box">
                    <span class="p_ani pan8">

                    </span>
                    <p><span class="p_ani pan9">

                        </span></p>
                    <label><span class="p_ani pan10">

                        </span></label>
                </div>

                <div class="stats_box">
                    <span class="p_ani pan8">

                    </span>
                    <p><span class="p_ani pan9">

                        </span></p>
                    <label><span class="p_ani pan10">

                        </span></label>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="recent_activity">
                <div class="rec_rw">
                    <span class="p_ani pan11"></span>
                    <p class="p_ani pan5"></p>
                    <span class="p_ani pan6"></span>
                </div>
                <div class="rec_rw">
                    <span class="p_ani pan11"></span>
                    <p class="p_ani pan5"></p>
                    <span class="p_ani pan6"></span>
                </div>
                <div class="rec_rw">
                    <span class="p_ani pan11"></span>
                    <p class="p_ani pan5"></p>
                    <span class="p_ani pan6"></span>
                </div>
                <div class="rec_rw">
                    <span class="p_ani pan11"></span>
                    <p class="p_ani pan5"></p>
                    <span class="p_ani pan6"></span>
                </div>
                <div class="rec_rw">
                    <span class="p_ani pan11"></span>
                    <p class="p_ani pan5"></p>
                    <span class="p_ani pan6"></span>
                </div>
                <div class="rec_rw">
                    <span class="p_ani pan11"></span>
                    <p class="p_ani pan5"></p>
                    <span class="p_ani pan6"></span>
                </div>
                <div class="rec_rw">
                    <span class="p_ani pan11"></span>
                    <p class="p_ani pan5"></p>
                    <span class="p_ani pan6"></span>
                </div>
                <div class="rec_rw">
                    <span class="p_ani pan11"></span>
                    <p class="p_ani pan5"></p>
                    <span class="p_ani pan6"></span>
                </div>
            </div>
        </div>
        <div class="col-2 profile_right">
            <div class="right_top">
                <label><span class="pan3 p_ani"></span></label>
                <span class="p_ani pan13"></span>
                <span class="p_ani pan12"></span>
            </div>
            <div class="right_opt">
                <p class="p_ani pan5"></p>
            </div>
            <div class="right_opt">
                <p class="p_ani pan5"></p>
            </div>
            <div class="right_opt">
                <p class="p_ani pan5"></p>
            </div>
            <div class="right_opt">
                <p class="p_ani pan5"></p>
            </div>
        </div>
    </div>
</div>

<div class="container box_outer" *ngIf="!isLoading">
    <div class="row box_whcls">


        <div class="col-2 profile_left">

            <div class="profile_ttile">{{translations.dashboard_my_profile}}</div>

            <div class="profile_opt" dropdown>
                <div class="">
                    <button type="button" class="dropdown-toggle" dropdownToggle aria-controls="profile-dropdown">
                        <img src="assets/profile-page/img/dots_3.svg" width="25">
                    </button>
                    <div class="dropdown-menu" id="profile-dropdown" *dropdownMenu>
                        <a class="dropdown-item" *ngIf="userData.roleId === '100' || userData.roleId === '110'"
                            routerLink="/account-settings">{{translations.dashboard_account_settings}}</a>
                        <a class="dropdown-item" [routerLink]="['/user-settings']">{{translations.user_settings}}</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="profile_info">
                <img [src]="userData?.image">
                <h3>{{userData?.first_name +' '+userData?.last_name | slice:0:24}}<ng-container
                     *ngIf="(userData?.first_name +' '+userData?.last_name).length>24">...</ng-container>
                </h3>
                <span>{{userData?.email}}</span>
                <label>{{userData?.role}}</label>
                <p>{{userData?.userDescription}}</p>
            </div>



            <div class="get_mobile">
                <label>{{translations.dashboard_app_links}}</label>
                <a target="_blank" *ngIf="site_id == '1'" href="https://apps.apple.com/us/app/sibme/id629939151"><img
                        src="assets/profile-page/img/appstore_icon.svg"></a>
                <a target="_blank" *ngIf="site_id == '1'"
                    href="https://play.google.com/store/apps/details?id=com.sibme.mobileapp"><img
                        src="assets/profile-page/img/play_icon_.svg"></a>

                <a target="_blank" *ngIf="site_id == '2'"
                    href="https://itunes.apple.com/us/app/hmh-coaching-studio/id1447107504?"><img
                        src="assets/profile-page/img/appstore_icon.svg"></a>
                <a target="_blank" *ngIf="site_id == '2'"
                    href="https://play.google.com/store/apps/details?id=com.hmh.mobileapp"><img
                        src="assets/profile-page/img/play_icon_.svg"></a>

            </div>


        </div>
        <div class="col-8 profile_center">

            <!-- <div class="welcome_notes">
          <span><img src="assets/profile-page/img/cross_icon.svg"></span>
          <h2>Hi, Welcome to Sibme</h2>
          <p>Sibme is an online video coaching and collaboration platform changing the way people learn at work</p>

        </div> -->

            <!-- <div class="welcome_notes banner1" *ngIf="banner == 0 && !isVisible && header_data.banner_redirect_url==undefined">
                <span (click)="hideBanner()"><img src="assets/profile-page/img/cross_icon.svg"></span>
                <h2>{{banner_heading}}</h2>
                <p [innerHTML]="header_data.site_id==1 ? banner_desc: translations?.dashboard_welcom_banner_desc_hmh">
                </p>

            </div> -->

            <div class="welcome_notes banner1" *ngIf="banner == 0 && !isVisible">
                <div class="w_70">
                    <span (click)="hideBanner()"><img src="assets/profile-page/img/cross_icon.svg"></span>
                    <a href="{{header_data.banner_redirect_url}}" [class.no_banner_url]='header_data.banner_redirect_url == ""' target="_blank" style="text-decoration: none;">
                        
                        <h2>{{banner_heading}}</h2>
                        <p  [innerHTML]="header_data.site_id==1 ? banner_desc: translations?.dashboard_welcom_banner_desc_hmh">
                        </p>
                    </a>
                </div>
              
            </div>


            <!-- <div class="welcome_notes banner2">
                <span (click)="hideBanner()"><img src="assets/profile-page/img/cross_icon.svg"></span>
                <h2>{{banner_heading}}</h2>
                <p>{{header_data.site_id==1 ? translations?.dashboard_welcom_banner_desc: translations?.dashboard_welcom_banner_desc_hmh}}
                </p>

            </div> -->


            <!-- <div class="welcome_notes banner3">
                <span><img src="assets/profile-page/img/cross_icon.svg"></span>
                <h2>Hi, Welcome to Sibme</h2>
                <p>Sibme is an online video coaching and collaboration platform changing the way people learn at work
                </p>

            </div> -->

            <!-- <div (click)="redirectToBetterTogether()" class="welcome_notes banner4" *ngIf="banner && isVisible">
                <span (click)="hideBanner()"><img src="assets/profile-page/img/cross_icon.svg"></span>

                <div class="ban_img4"><img src="assets/profile-page/img/profile_banne1.svg"></div>
                <div class="banner4_text">
                    <h2>BETTER TOGETHER SUMMIT</h2>
                    <p>Transforming Professional Learing</p>
                    <button>June 29-30, 2020</button>
                </div>
                <div class="clearfix"></div>

            </div> -->

            <div (click)="redirectToBetterTogether()" class="welcome_notes banner6" *ngIf="banner && isVisible">
                <span (click)="hideBanner()"><img src="assets/profile-page/img/cross_icon.svg"></span>



                <div class="ban_img4 bn6"><img src="assets/profile-page/img/BetterTogether_Logo_Landscape.png"></div>

                <div class="banner6_text">
                    <h2>{{translations.dashboard_better_together}}</h2>
                    <p>{{translations.dashboard_Transforming_Learning}}</p>
                    <span>June 29-30</span>
                </div>
                <div class="clearfix"></div>

            </div>



            <!-- <div (click)="redirectToBetterTogether()" class="welcome_notes banner5" *ngIf="banner &&  isVisible">
                <span (click)="hideBanner()"><img src="assets/profile-page/img/cross_icon.svg"></span>


                <div class="banner5_text">
                    <h2>BETTER TOGETHER SUMMIT</h2>
                    <p>Transforming Professional Learing</p>
                    <button>June 29-30, 2020</button>
                </div>

                <div class="ban_img5"><img src="assets/profile-page/img/profile_banne2.svg"></div>

                <div class="clearfix"></div>

            </div> -->
            <!-- analytics_ready condition is added during data migration process   -->
            <div class="stats_detail" *ngIf="analytics_ready && user_role !== '125'">

                <div class="stats_box">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="52.342" height="51" viewBox="0 0 52.342 51">
                            <g id="Group_1591" data-name="Group 1591" transform="translate(-42.621 -41.621)">
                                <g id="Group_1631" data-name="Group 1631" transform="translate(42.621 41.621)">
                                    <g id="Group_1613" data-name="Group 1613">
                                        <circle id="Ellipse_5" data-name="Ellipse 5" cx="22.48" cy="22.48" r="22.48"
                                            fill="#eff3f9" />
                                        <path id="Polygon_1" data-name="Polygon 1"
                                            d="M8.528,1.112a1,1,0,0,1,1.617,0l7.373,10.137a1,1,0,0,1-.809,1.588H1.964a1,1,0,0,1-.809-1.588Z"
                                            transform="translate(31.335 12.488) rotate(90)" fill="#004061" />
                                    </g>
                                    <g id="Group_1612" data-name="Group 1612" transform="translate(29.001 27.659)">
                                        <g id="Ellipse_4" data-name="Ellipse 4" transform="translate(0 0)"
                                            fill="#004061" stroke="#fff" stroke-width="2.3">
                                            <circle cx="11.67" cy="11.67" r="11.67" stroke="none" />
                                            <circle cx="11.67" cy="11.67" r="10.67" fill="none" />
                                        </g>
                                        <g id="Group_1610" data-name="Group 1610" transform="translate(9.249 7.907)">
                                            <line id="Line_4" data-name="Line 4" y2="7.849"
                                                transform="translate(2.684 0)" fill="none" stroke="#fff"
                                                stroke-linecap="round" stroke-width="1.5" />
                                            <line id="Line_6" data-name="Line 6" x1="2.684" y2="2.684"
                                                transform="translate(0 0)" fill="none" stroke="#fff"
                                                stroke-linecap="round" stroke-width="1.5" />
                                            <line id="Line_5" data-name="Line 5" x2="2.684" y2="2.684"
                                                transform="translate(2.684 0)" fill="none" stroke="#fff"
                                                stroke-linecap="round" stroke-width="1.5" />
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </span>
                    <p>{{translations.dashboard_videos_uploaded}}</p>
                    <label>{{analytics_data.total_account_videos ? analytics_data.total_account_videos : '0'}}</label>
                </div>
                <div class="stats_box">
                    <span class="ptop6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48.402" height="43.362"
                            viewBox="0 0 48.402 43.362">
                            <g id="Group_1639" data-name="Group 1639" transform="translate(-696 -125)">
                                <circle id="Ellipse_5" data-name="Ellipse 5" cx="20.986" cy="20.986" r="20.986"
                                    transform="translate(696 125)" fill="#eff3f9" />
                                <g id="Group_1614" data-name="Group 1614" transform="translate(706.65 134.397)">
                                    <line id="Line_7" data-name="Line 7" x1="10.023" transform="translate(0 12.529)"
                                        fill="none" stroke="#004061" stroke-linecap="round" stroke-width="2.5" />
                                    <line id="Line_8" data-name="Line 8" y1="12.529" transform="translate(10.023)"
                                        fill="none" stroke="#004061" stroke-linecap="round" stroke-width="2.5" />
                                </g>
                                <g id="Group_1618" data-name="Group 1618" transform="translate(723.188 147.328)">
                                    <g id="Ellipse_4" data-name="Ellipse 4" transform="translate(0.214 0.034)"
                                        fill="#004061" stroke="#fff" stroke-width="2.3">
                                        <circle cx="10.5" cy="10.5" r="10.5" stroke="none" />
                                        <circle cx="10.5" cy="10.5" r="9.5" fill="none" />
                                    </g>
                                    <path id="Path_92" data-name="Path 92"
                                        d="M10325.562,2201.977c3.577-4.724,9.248-4.2,12.194,0C10334.9,2206.129,10329.253,2206.8,10325.562,2201.977Z"
                                        transform="translate(-10320.643 -2190.977)" fill="#fff" stroke="#004061"
                                        stroke-width="1" />
                                    <circle id="Ellipse_6" data-name="Ellipse 6" cx="2" cy="2" r="2"
                                        transform="translate(9.214 9.034)" fill="#004061" />
                                </g>
                            </g>
                        </svg>
                    </span>

                    <p>{{translations.dashboard_minutes_viewed}}</p>
                    <label>{{analytics_data.total_hours_viewed ? analytics_data.total_hours_viewed : '0'}}</label>
                </div>
                <div class="stats_box">
                    <span class="ptop6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="52" height="47" viewBox="0 0 52 47">
                            <g id="Group_1638" data-name="Group 1638" transform="translate(-681 -336)">
                                <g id="Group_1635" data-name="Group 1635" transform="translate(681 336)">
                                    <g id="Group_1619" data-name="Group 1619">
                                        <circle id="Ellipse_5" data-name="Ellipse 5" cx="21.261" cy="21.261" r="21.261"
                                            fill="#eff3f9" />
                                        <rect id="Rectangle_81" data-name="Rectangle 81" width="21.888" height="3"
                                            rx="1.5" transform="translate(10.064 14.62)" fill="#004061" />
                                        <rect id="Rectangle_82" data-name="Rectangle 82" width="15.006" height="3"
                                            rx="1.5" transform="translate(10.196 22.518)" fill="#004061" />
                                    </g>
                                    <path id="Path_93" data-name="Path 93"
                                        d="M9.738,0S4.083,3.652.6,1.429s9.545,8.777,8.138,6.528S9.738,0,9.738,0Z"
                                        transform="translate(0.049 42.38) rotate(-56)" fill="#eff3f9" />
                                </g>
                                <g id="Group_1621" data-name="Group 1621" transform="translate(710.591 357.92)">
                                    <g id="Ellipse_4" data-name="Ellipse 4" transform="translate(0.409 0.08)"
                                        fill="#004061" stroke="#fff" stroke-width="2.3">
                                        <circle cx="11" cy="11" r="11" stroke="none" />
                                        <circle cx="11" cy="11" r="10" fill="none" />
                                    </g>
                                    <g id="Group_1617" data-name="Group 1617" transform="translate(8.314 7.447)">
                                        <line id="Line_4" data-name="Line 4" y2="6.347" transform="translate(3.173 0)"
                                            fill="none" stroke="#fff" stroke-linecap="round" stroke-width="1.5" />
                                        <line id="Line_9" data-name="Line 9" x1="6.346" transform="translate(0 3.173)"
                                            fill="none" stroke="#fff" stroke-linecap="round" stroke-width="1.5" />
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </span>

                    <p>{{translations.dashboard_comments_added}}</p>
                    <label>{{analytics_data.total_comments_added ? analytics_data.total_comments_added: '0'}}</label>
                </div>
                <div class="stats_box b0">
                    <span class="ptop6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="57" height="46.707" viewBox="0 0 57 46.707">
                            <g id="Group_1634" data-name="Group 1634" transform="translate(-922 -248)">
                                <g id="Group_1627" data-name="Group 1627" transform="translate(922 248)">
                                    <circle id="Ellipse_5" data-name="Ellipse 5" cx="22.478" cy="22.478" r="22.478"
                                        fill="#eff3f9" />
                                    <g id="iconfinder_group_309042" transform="translate(12.783 13.465)">
                                        <g id="Group_11" data-name="Group 11" transform="translate(11.013 0)">
                                            <g id="Group_9" data-name="Group 9" transform="translate(0 8.33)">
                                                <path id="Path_4" data-name="Path 4"
                                                    d="M16.232,14a6.789,6.789,0,0,0-3.332.833,8.995,8.995,0,0,1,1.944,2.5l.093.185v2.036h7.4V17.7A6.793,6.793,0,0,0,16.232,14Z"
                                                    transform="translate(-12.9 -14)" fill="#004061" />
                                            </g>
                                            <g id="Group_10" data-name="Group 10" transform="translate(0.093)">
                                                <circle id="Ellipse_1" data-name="Ellipse 1" cx="3.239" cy="3.239"
                                                    r="3.239" fill="#004061" />
                                            </g>
                                        </g>
                                        <g id="Group_12" data-name="Group 12" transform="translate(0 0)">
                                            <path id="Path_5" data-name="Path 5"
                                                d="M3.777,8.239A3.279,3.279,0,0,1,7.016,5a3.239,3.239,0,0,1,0,6.479A3.279,3.279,0,0,1,3.777,8.239Zm3.239,5.09A6.432,6.432,0,0,0,1,17.032v1.851H13.032V17.032A6.432,6.432,0,0,0,7.016,13.33Z"
                                                transform="translate(-1 -5)" fill="#004061" />
                                        </g>
                                    </g>
                                </g>
                                <g id="Group_1626" data-name="Group 1626" transform="translate(956.878 272.548)">
                                    <g id="Ellipse_4" data-name="Ellipse 4" transform="translate(0.122 0.159)"
                                        fill="#004061" stroke="#fff" stroke-width="2.3">
                                        <circle cx="11" cy="11" r="11" stroke="none" />
                                        <circle cx="11" cy="11" r="10" fill="none" />
                                    </g>
                                    <g id="Group_1625" data-name="Group 1625" transform="translate(8.066 7.66)">
                                        <line id="Line_4" data-name="Line 4" y2="6.71" transform="translate(4.697)"
                                            fill="none" stroke="#fff" stroke-linecap="round" stroke-width="1" />
                                        <line id="Line_10" data-name="Line 10" y2="6.71" transform="translate(2.013)"
                                            fill="none" stroke="#fff" stroke-linecap="round" stroke-width="1" />
                                        <line id="Line_9" data-name="Line 9" x1="6.71" transform="translate(0 4.697)"
                                            fill="none" stroke="#fff" stroke-linecap="round" stroke-width="1" />
                                        <line id="Line_11" data-name="Line 11" x1="6.71" transform="translate(0 2.013)"
                                            fill="none" stroke="#fff" stroke-linecap="round" stroke-width="1" />
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </span>
                    <p>{{translations.huddle_participating}}</p>
                    <label>{{huddleParticipations ? huddleParticipations: '0'}}</label>
                </div>

                <div class="stats_box2">

                    <svg xmlns="http://www.w3.org/2000/svg" width="79" height="65" viewBox="0 0 79 65">
                        <g id="Group_1843" data-name="Group 1843" transform="translate(-922.482 -248)">
                            <g id="Group_1627" data-name="Group 1627" transform="translate(922 248)">
                                <circle id="Ellipse_5" data-name="Ellipse 5" cx="31.423" cy="31.423" r="31.423"
                                    transform="translate(0.482)" fill="#fff" />
                                <g id="stats" transform="translate(15.482 -15.932)">
                                    <g id="Group_1845" data-name="Group 1845" transform="translate(0 32.932)">
                                        <path id="Path_585" data-name="Path 585"
                                            d="M33.348,32.932a3.567,3.567,0,0,0-2.32,6.278l-6.59,11.025a3.558,3.558,0,0,0-2.176-.066L16.632,44.13a3.57,3.57,0,1,0-5.7,1.061L4.075,58A3.574,3.574,0,1,0,6.09,59.006l6.88-12.848a3.6,3.6,0,0,0,.431.027,3.547,3.547,0,0,0,1.678-.42l5.312,5.7a3.57,3.57,0,1,0,5.834.173l6.916-11.57c.069,0,.138.007.208.007a3.569,3.569,0,0,0,0-7.139ZM3.569,62.849a1.318,1.318,0,1,1,1.318-1.318A1.32,1.32,0,0,1,3.569,62.849ZM13.4,43.933a1.318,1.318,0,1,1,1.318-1.318A1.32,1.32,0,0,1,13.4,43.933Zm9.846,10.984A1.318,1.318,0,1,1,24.565,53.6,1.32,1.32,0,0,1,23.247,54.918Zm10.1-17.1A1.318,1.318,0,1,1,34.667,36.5,1.32,1.32,0,0,1,33.348,37.82Z"
                                            transform="translate(-2.049 -34.717)" fill="#004061" />
                                    </g>
                                </g>
                            </g>
                            <g id="Group_1626" data-name="Group 1626" transform="translate(970.934 282.262)">
                                <g id="Ellipse_4" data-name="Ellipse 4" transform="translate(-0.451 -0.262)"
                                    fill="#004061" stroke="#e3e3e3" stroke-width="3.3">
                                    <circle cx="15.5" cy="15.5" r="15.5" stroke="none" />
                                    <circle cx="15.5" cy="15.5" r="14" fill="none" />
                                </g>
                                <g id="Group_1625" data-name="Group 1625" transform="translate(11.098 10.762)">
                                    <g id="Group_1844" data-name="Group 1844" transform="translate(-1 -3)">
                                        <line id="Line_10" data-name="Line 10" y2="9.38" transform="translate(4.814 3)"
                                            fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2" />
                                        <line id="Line_9" data-name="Line 9" x1="9.38" transform="translate(0 7.566)"
                                            fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2" />
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <a (click)="headerService.isPFanalytics=true"
                        [routerLink]="['/analytics_angular/playercard' , anaylyticsObj.account_id , anaylyticsObj.user_id, anaylyticsObj.start_date, anaylyticsObj.end_date]">
                        {{windowWidth <= 1024? translations.dashboard_more_analytics: translations.dashboard_view_more_analytics}}
                        <img src="assets/profile-page/img/ar_white.svg"> </a>
                </div>

                <div class="clearfix"></div>

            </div>


            <div class="recent_activity">
                <div class="row rec_heading">
                    <div class="col-8"><label>{{translations.recent_activity}}</label></div>
                    <!-- <div class="col-4 recent_opt">
                        <div class="">
                            <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <img src="assets/profile-page/img/icon_recent.svg">
                            </button>
                            <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">option 1</a>
                            <a class="dropdown-item" href="#">option 2</a>
                            </div>
                        </div>

                    </div> -->
                </div>
                <div *ngIf="activitySkelton">
                    <div class="rec_rw" *ngFor="let i of [0, 1, 2, 3]">
                        <span class="p_ani pan11"></span>
                        <p class="p_ani pan5"></p>
                        <span class="p_ani pan6"></span>
                    </div>
                </div>
                <span *ngIf="recent_activities && recent_activities.length == 0 && !activitySkelton"
                    class="no_recent_activity"><svg _ngcontent-c8="" data-name="Group 332" height="90.7" id="Group_332"
                        viewBox="0 0 90.7 90.7" width="90.7" xmlns="http://www.w3.org/2000/svg">
                        <path _ngcontent-c8=""
                            d="M45.35,0A45.29,45.29,0,1,1,13.265,13.265,45.239,45.239,0,0,1,45.35,0Zm0,56.708a6.121,6.121,0,0,1,6.135,6.135,6.192,6.192,0,0,1-6.135,6.218,6.263,6.263,0,0,1-6.218-6.218A6.192,6.192,0,0,1,45.35,56.708Zm0-6.218A4.329,4.329,0,0,1,41.2,46.345L39.132,27.857c-.332-3.233,3.068-6.218,6.218-6.218s6.55,2.985,6.135,6.218L49.5,46.345A4.329,4.329,0,0,1,45.35,50.49Zm26.2-31.422A37.129,37.129,0,1,0,82.409,45.35,37.325,37.325,0,0,0,71.549,19.069Z"
                            data-name="Path 51" fill="#616161" id="Path_51" transform="translate(0)"></path>
                    </svg>
                    <br><br>{{translations.no_recent_activity}}
                </span>
                <div *ngIf="recent_activities.length > 0 && !activitySkelton" style="height: 400px;">
                    <div class="activty_scroll" (scroll)="onScroll($event)" #box slimScroll [options]="a"
                        [scrollEvents]="scrollEvents">
                        <div class="rec_rw" *ngFor="let value of recent_activities;">
                            <img [src]="value.image ? value.image : imageStaticUrl">
                            <p><span
                                    *ngIf="value.type != 45 && value.type != 46 && value.type != 47 && value.type != 48 && value.type != 57 && value.type != 58">{{value.activityLogs_users}}
                                </span>
                              <ng-container *ngFor="let item of value.resource_name.split('{Link_SEPRATE}'); let i = index">
                                <ng-container *ngIf="i == 0 || i == 2">
                                  <span>{{item}}</span>
                                </ng-container>
                                <ng-container *ngIf="i == 1">
                                  <span><a class="goals_link" routerLink="{{value.resource_url}}">{{item}}</a></span>
                                </ng-container>
                              </ng-container>
                              <span *ngIf="value.resource_video_name">: </span><span><a
                                        href="{{value.resource_url}}" target="_blank">{{value.resource_video_name | slice:0:100}}</a></span>
                            </p>
                            <span *ngIf="value.type != 45 && value.type != 46 && value.type != 47 && value.type != 48 && value.type != 57 && value.type != 58">{{value.activityTimestampDate}} at {{value.activityTimestampTime}}</span>

                        </div>
                        <div *ngIf="activityLoading">
                            <div class="rec_rw" *ngFor="let i of [0, 1, 2, 3]">
                                <span class="p_ani pan11"></span>
                                <p class="p_ani pan5"></p>
                                <span class="p_ani pan6"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-2 profile_right">

            <div class="right_top" *ngIf="enable_goals === '1' && user_role !== '125'">

                <label class="break-word">{{headerService?.getGoalAltTranslation(translations?.goals)}}</label>
                <div class="circle_r">
                    <img src="assets/profile-page/img/goal_green.svg">
                </div>

                <a class="break-word" routerLink="/goals/list">{{headerService?.getGoalAltTranslation(translations.dashboard_view_goals)}} <img src="assets/profile-page/img/ar_white.svg"> </a>

            </div>

            <div class="right_top" *ngIf="checkHuddleTracker && enable_goals !== '1'">

                <label>{{translations.reporting_huddle_tracker_reporting}}</label>
                <div class="circle_r">
                    <img src="assets/profile-page/img/huddle_icon2.svg">
                </div>

                <a [routerLink]="['/trackers/coaching']">{{translations.dashboard_view_tracker}} <img
                        src="assets/profile-page/img/ar_white.svg"> </a>

            </div>


            <div class="right_opt"
                *ngIf="checkHuddleTracker && enable_goals !== '0'">
                <a [routerLink]="['/trackers/coaching']" style="color: #7d7d7d;">
                    <span><img src="assets/profile-page/img/ricon_1.svg"></span>
                    {{translations.reporting_huddle_tracker_reporting}}
                    <img src="assets/profile-page/img/right_ar.svg" class="ri_option">
                </a>
            </div>

            <div class="right_top" *ngIf="!checkHuddleTracker && enable_goals !== '1'">

                <label>{{translations.resource_center_dashboard}}</label>
                <div class="circle_r">
                    <img src="assets/profile-page/img/book_icon.svg">
                </div>

                <a target="_blank" style="cursor:pointer;" (click)="RedirectToLearningCenterOrCreateUser()">
                    {{translations.dashboard_open_btn_learning_center}}<img src="assets/profile-page/img/ar_white.svg">
                </a>

            </div>

            <div class="right_opt" *ngIf="enable_goals === '1' || checkHuddleTracker">
                <a class="learing-center-button-a" target="_blank" style="cursor:pointer;"
                    (click)="RedirectToLearningCenterOrCreateUser()">
                    <span> <img src="assets/profile-page/img/ricon_2.svg"></span>
                    {{translations.resource_center_dashboard}}
                    <img src="assets/profile-page/img/right_ar.svg" class="ri_option">
                </a>
            </div>


            <div class="right_opt" *ngIf="enable_edtpa === '1' && user_role != 125">
                <a [attr.href]="header_data?.base_url+'/Edtpa/edtpa/'" href="#" style="color: #7d7d7d;">
                    <span><img src="assets/profile-page/img/ricon_3.svg"></span>
                    edTPA
                    <img src="assets/profile-page/img/right_ar.svg" class="ri_option">
                </a>
            </div>

            <div class="right_opt">
                <a target="_blank" href="https://updates.sibme.com" style="color: #7d7d7d;">
                    <span><img src="assets/profile-page/img/ricon_5.svg"></span>
                    {{translations?.profile_whats_new}}
                    <img src="assets/profile-page/img/right_ar.svg" class="ri_option">
                </a>
            </div>

            <div class="right_opt">
                <a target="_blank" href="https://help.sibme.com" style="color: #7d7d7d;">
                    <span><img src="assets/profile-page/img/ricon_4.svg"></span>
                    {{translations.help_center}}
                    <img src="assets/profile-page/img/right_ar.svg" class="ri_option">
                </a>
            </div>

        </div>
    </div>

    <div bsModal #gettingStartedModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-child-name">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header geheadercl">
                    <h4 class="modal-title">{{translations.getting_started}}</h4>
                    <button (click)="hideGettingStartedModal()" type="button" class="close"
                        data-dismiss="modal">&times;</button>

                </div>

                <div class="modal-body">

                    <div class="get_text">{{translations.to_get_started_dashboard}} <a
                            href="https://help.sibme.com">help.sibme.com</a></div>

                    <a *ngIf="site_id == '1'" target="_blank" style="cursor:pointer;"
                        (click)="RedirectToLearningCenterOrCreateUser()" class="linksallcls">
                        <div class="gets_rowcls row">
                            <div class="col-2">
                                <img src="assets/dashboard/assets/img/resource_icon.svg" style="width: 42px;">
                            </div>
                            <div class="col-10">
                                <h4>{{translations?.resource_center_getting_started_heading}}</h4>
                                <p>{{translations?.resource_center_getting_started_text}}</p>
                            </div>
                        </div>
                    </a>

                    <a [routerLink]="['/workspace/workspace/home']"
                        *ngIf="user_role == 100 || user_role == 110 || user_role == 115 || (user_role == 120 && permission_access_my_workspace == '1' ) "
                        class="linksallcls">
                        <div class="gets_rowcls row">
                            <div class="col-2">
                                <img src="assets/dashboard/assets/img/wiconss.svg">
                            </div>
                            <div class="col-10">
                                <h4>{{translations.my_workspace}}</h4>
                                <p>{{translations.my_workspace_desc}}</p>
                            </div>
                        </div>
                    </a>

                    <a class="linksallcls" [routerLink]="['/video_huddles/list']">
                        <div class="gets_rowcls row">
                            <div class="col-2">
                                <img src="assets/dashboard/assets/img/hiconss.svg">
                            </div>
                            <div class="col-10">
                                <h4>{{translations.huddles}}</h4>
                                <p>{{translations.huddles_desc}}</p>
                            </div>
                        </div>
                    </a>

                    <a *ngIf="user_role == 100 || user_role == 110 || user_role == 115" class="linksallcls"
                        [routerLink]="['/people/home/people']">
                        <div class="gets_rowcls row">
                            <div class="col-2">
                                <img src="assets/dashboard/assets/img/piconss.svg">
                            </div>
                            <div class="col-10">
                                <h4>{{translations.invite_people}}</h4>
                                <p>{{translations.invite_people_desc}}</p>
                            </div>
                        </div>
                    </a>

                    <a *ngIf="library_permission == '1'" class="linksallcls"
                        [attr.href]="session_detail?.base_url + '/VideoLibrary/' ">
                        <div class="gets_rowcls row">
                            <div class="col-2">
                                <img src="assets/dashboard/assets/img/vicons.svg">
                            </div>
                            <div class="col-10">
                                <h4>{{translations.account_video_library}}</h4>
                                <p>{{translations.account_video_library_desc}}</p>
                            </div>
                        </div>
                    </a>




                </div>

                <div class="modal-footer get_sfooter">
                    <div class="clear"></div>
                    <div class="row">

                        <div class="col-6">

                            <label *ngIf="getting_started_box == 1"
                                class="checkboxcls">{{translations.dont_show_this_again_dashboard}}
                                <input name="dont_show_box" [(ngModel)]="dont_show_box" type="checkbox">
                                <span class="checkmark"></span>
                            </label>

                        </div>



                        <div class="col-6 tright pr0">

                            <button (click)="hideGettingStartedModalDone()" type="button"
                                class="btn btn-success">Done</button>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>

    <div bsModal #createNewLearningCenterUser="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-child-name">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="dialog-child-name" class="modal-title pull-left">{{translations?.resource_center_dashboard}}
                    </h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <ng-container *ngIf="show_question">
                    <div class="modal-body">
                        {{translations?.resource_center_signup_alert}} learn.sibme.com?
                    </div>

                    <div class="modal-footer sharefooter">
                        <div class="clear"></div>
                        <div class="row">
                            <div class="col-12 share_btn">
                                <button type="button" class="btn btn-default"
                                    (click)="createUser(0)">{{translations?.no}}</button>
                                <button type="button" class="btn btn-success"
                                    (click)="createUser(1)">{{translations?.yes}}</button>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="!show_question">
                    <div class="modal-body">
                        <div class="forget_container">


                            <div class="f_box">



                                <h4>{{translations?.resource_center_popup_signup}}</h4>
                                <div class="f_field">
                                    <input type="{{showPassword}}" placeholder="{{translations?.new_password}}"
                                        name="password" [(ngModel)]="model.password">
                                    <svg (click)="toggleNewPassword()" *ngIf="!showPasswordFlag" aria-hidden="true"
                                        focusable="false" data-prefix="far" data-icon="eye" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                                        class="svg-inline--fa fa-eye fa-w-18 fa-9x">
                                        <path fill="currentColor"
                                            d="M288 144a110.94 110.94 0 0 0-31.24 5 55.4 55.4 0 0 1 7.24 27 56 56 0 0 1-56 56 55.4 55.4 0 0 1-27-7.24A111.71 111.71 0 1 0 288 144zm284.52 97.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400c-98.65 0-189.09-55-237.93-144C98.91 167 189.34 112 288 112s189.09 55 237.93 144C477.1 345 386.66 400 288 400z"
                                            class=""></path>
                                    </svg>
                                    <svg (click)="toggleNewPassword()" *ngIf="showPasswordFlag" aria-hidden="true"
                                        focusable="false" data-prefix="fas" data-icon="eye-slash" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"
                                        class="svg-inline--fa fa-eye-slash fa-w-20 fa-9x">
                                        <path fill="currentColor"
                                            d="M320 400c-75.85 0-137.25-58.71-142.9-133.11L72.2 185.82c-13.79 17.3-26.48 35.59-36.72 55.59a32.35 32.35 0 0 0 0 29.19C89.71 376.41 197.07 448 320 448c26.91 0 52.87-4 77.89-10.46L346 397.39a144.13 144.13 0 0 1-26 2.61zm313.82 58.1l-110.55-85.44a331.25 331.25 0 0 0 81.25-102.07 32.35 32.35 0 0 0 0-29.19C550.29 135.59 442.93 64 320 64a308.15 308.15 0 0 0-147.32 37.7L45.46 3.37A16 16 0 0 0 23 6.18L3.37 31.45A16 16 0 0 0 6.18 53.9l588.36 454.73a16 16 0 0 0 22.46-2.81l19.64-25.27a16 16 0 0 0-2.82-22.45zm-183.72-142l-39.3-30.38A94.75 94.75 0 0 0 416 256a94.76 94.76 0 0 0-121.31-92.21A47.65 47.65 0 0 1 304 192a46.64 46.64 0 0 1-1.54 10l-73.61-56.89A142.31 142.31 0 0 1 320 112a143.92 143.92 0 0 1 144 144c0 21.63-5.29 41.79-13.9 60.11z"
                                            class=""></path>
                                    </svg>
                                </div>

                                <label>{{translations?.minimum_six_char_cp}}</label>
                                <div class="f_field">
                                    <input type="{{showConfirmPassword}}"
                                        placeholder="{{translations?.retype_password}}" name="confirm_password"
                                        [(ngModel)]="model.confirm_password">
                                    <svg (click)="toggleConfirmPassword()" *ngIf="!showConfirmPasswordFlag"
                                        aria-hidden="true" focusable="false" data-prefix="far" data-icon="eye"
                                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                                        class="svg-inline--fa fa-eye fa-w-18 fa-9x">
                                        <path fill="currentColor"
                                            d="M288 144a110.94 110.94 0 0 0-31.24 5 55.4 55.4 0 0 1 7.24 27 56 56 0 0 1-56 56 55.4 55.4 0 0 1-27-7.24A111.71 111.71 0 1 0 288 144zm284.52 97.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400c-98.65 0-189.09-55-237.93-144C98.91 167 189.34 112 288 112s189.09 55 237.93 144C477.1 345 386.66 400 288 400z"
                                            class=""></path>
                                    </svg>
                                    <svg (click)="toggleConfirmPassword()" *ngIf="showConfirmPasswordFlag"
                                        aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye-slash"
                                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"
                                        class="svg-inline--fa fa-eye-slash fa-w-20 fa-9x">
                                        <path fill="currentColor"
                                            d="M320 400c-75.85 0-137.25-58.71-142.9-133.11L72.2 185.82c-13.79 17.3-26.48 35.59-36.72 55.59a32.35 32.35 0 0 0 0 29.19C89.71 376.41 197.07 448 320 448c26.91 0 52.87-4 77.89-10.46L346 397.39a144.13 144.13 0 0 1-26 2.61zm313.82 58.1l-110.55-85.44a331.25 331.25 0 0 0 81.25-102.07 32.35 32.35 0 0 0 0-29.19C550.29 135.59 442.93 64 320 64a308.15 308.15 0 0 0-147.32 37.7L45.46 3.37A16 16 0 0 0 23 6.18L3.37 31.45A16 16 0 0 0 6.18 53.9l588.36 454.73a16 16 0 0 0 22.46-2.81l19.64-25.27a16 16 0 0 0-2.82-22.45zm-183.72-142l-39.3-30.38A94.75 94.75 0 0 0 416 256a94.76 94.76 0 0 0-121.31-92.21A47.65 47.65 0 0 1 304 192a46.64 46.64 0 0 1-1.54 10l-73.61-56.89A142.31 142.31 0 0 1 320 112a143.92 143.92 0 0 1 144 144c0 21.63-5.29 41.79-13.9 60.11z"
                                            class=""></path>
                                    </svg>
                                </div>
                                <button [style.background]="color"
                                    (click)="OpenModalcreateNewLearningCenterUser()">{{translations?.save_changes_cp}}</button>

                            </div>


                        </div>
                    </div>

                </ng-container>


            </div>
        </div>
    </div>

    <div data-toggle="modal" class="modal fade sh_show" bsModal #changeAccount="bs-modal"
        [config]="{backdrop:'static',keyboard:false}" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-child-name">
        <div class="modal-dialog" style="max-width:500px;">
            <div class="modal-content" style="text-align: center">
                <div class="close_d">
                    <button class="close" data-dismiss="modal" (click)="changeAccount.hide();" type="button">×</button>
                </div>
                <div class="modal-body s_di">
                    <p>{{translations.account_ownership_changed}} <strong>{{changedAccountOwner}}</strong>.<br>
                        {{translations.any_further_changes}} <strong>{{changedAccountOwner}}</strong>
                    </p>
                </div>
                <div>
                    <div class="clear"></div>
                </div>
                <div class="modal-footer footerm">
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-6 share_btn">
                            <button type="button" (click)="closeChangeAccountModal()"
                                class="btn btn-success">Done</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
