.slimscroll-bar {
    height: 150px;
}
body{background:#f3f2ea; font-family: 'Roboto', sans-serif; }
.box_outer{ border-radius:5px;     margin-top:15px !important;}
 /* .topheader{text-align: center; background:url(assets/profile-page/img/bgrep.png) repeat-x;} */
 img{ max-width: 100%; }





  @media screen and (min-width:1280px) {




.container {


	max-width: 1210px !important;
    padding: 0 15px !important;

}

.stats_box2 {
    width: 30%;
}
.stats_box {
    width: 18%;
}

   }

   @media screen and (min-width:1500px) {

.container {
    max-width: 1450px !important;
    padding: 0 15px !important;
}

   }


   .box_whcls {
    background: #fff;
    margin-bottom: 40px;
}

   .profile_opt button{ border:0; padding:0; background:none;     outline: none; cursor:pointer;}
	.profile_opt .dropdown-toggle::after { display:none;}
	.profile_opt .dropdown-menu{      min-width: 20px !important;
       padding: 6px 0;
    left: inherit !important;
    right: 0 !important;}
	.profile_opt .dropdown-menu a { font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 5px;
    padding: 2px 12px 7px 11px;
    margin: 0;}
	.profile_opt .dropdown-menu a.active{    color: #057EFF;}
	.profile_opt .dropdown-menu{    background: #fff;border-radius: 4px; }
.hec{ background:#004061;}
.logocls{     width: 175px;height: 64px;background: #fff;box-shadow: 0px 2px 7px rgba(0,0,0,0.3);     text-align: center;}
.logocls img{ max-width:119px;    position: relative;top: 3px;}
.hec .col-4{padding-left: 0;}

/***/
.profile_left{     border-right: 1px solid #ddd;  -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; padding-top: 16px;}
.profile_ttile { float:left;     font-size: 14px;     color: #454545;}
.profile_opt { float:right;     position: relative;}
.profile_info { text-align:center;    padding: 40px 0;}
.profile_info img { width:88px; height:88px; border-radius:50%;     object-fit: cover;}
.get_mobile { text-align:center; padding-top:230px;}
.get_mobile label{
    font-weight:500;
        color: #414141;
    font-size: 18px;
}
.get_mobile a { margin-bottom:15px; display:inline-block;}
.profile_opt img { max-width:22px;}
.profile_info h3{    font-size: 22px;margin: 15px 0 4px 0; color: #414141; word-break: break-word;}
.profile_info span{ font-size:13px; text-decoration:underline; display:block; word-break: break-all; color: #000000;}
.profile_info label{    font-weight: 500;
    margin: 0;color: #616161;     padding-top: 4px;}
.profile_info p{ font-size:14px; padding-top:25px;}

.circle_r img{    max-width: 61px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;}


/***/

.profile_center{-webkit-box-flex: 0;
    -ms-flex: 0 0 59%;
    flex: 0 0 60%;
    max-width: 60%;}

.welcome_notes {
    padding: 22px 22px;
    border-radius:5px;
    border:1px solid #ddd;
    position:relative;
    /* margin:25px 0; */
    margin: 25px 0px 0px 0px;     overflow: hidden;
}
.welcome_notes h2{
    margin:0;
    font-size: 22px;
    color: #000;
}
.welcome_notes p{ margin:0;}
.welcome_notes img{ position: absolute; right:9px; top:10px; cursor:pointer;}
.stats_detail{
    border-radius:5px;
    border:1px solid #ddd;
    padding:20px;
    margin-top: 25px;
    display: flex;
}
.stats_box { float:left; width:19%; text-align:center; border-right: 1px solid #ddd;}
.stats_box p { margin: 0 0 6px 0;
    font-size: 14px;
    padding: 0 3px;    color: #626262;
}
.stats_box label{ margin:0; font-weight:800; font-size:26px; color: #000000;}
.stats_box2{ float:right; width:27%; text-align:center;     margin: -20px -20px -20px 0px; background:#E3E3E3; padding:21px 10px;}
.stats_box span{ display:block;    height: 63px;}
.stats_box2 button {     background: #2A87EA;
    color: #fff;
    border: 0;
    padding: 7px 20px;
    border-radius: 4px;
    margin: 15px 0;
    font-size: 13px; outline: 0;}

	.stats_box2 a {     background: #1688C2;
    color: #fff;
    border: 0;
    padding: 7px 5px;
    border-radius: 4px;
    margin: 15px 0;
    font-size: 13px; outline: 0; text-decoration:none; display:inline-block;
     width: 100%;
}

.ptop6{padding-top: 6px;}
.b0 { border:0 !important;}

.recent_opt { text-align:right; position:relative;     padding-right: 5px;}

.recent_opt button{ border:0; padding:0; background:none;     outline: none; cursor:pointer;}
	.recent_opt .dropdown-toggle::after { display:none;}
	.recent_opt .dropdown-menu{      min-width: 20px !important;
       padding: 6px 0;
    left: inherit !important;
    right: 0 !important;}
	.recent_opt .dropdown-menu a { font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 5px;
    padding: 2px 12px 7px 11px;
    margin: 0;}
	.recent_opt .dropdown-menu a.active{    color: #057EFF;}
	.recent_opt .dropdown-menu{    background: #fff;border-radius: 4px; transform: translate3d(-17px, 23px, 0px) !important; }

	.recent_activity { padding:25px 0 0 0;}

	.rec_heading label{    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}
    .rec_heading { border-bottom:1px solid #ddd; margin:0;     padding-bottom: 8px;}
	.rec_heading .col-8{ padding-left:0;}
	.rec_rw {border-bottom:1px solid #ddd; position:relative; padding: 10px 10px 10px 50px;     margin-right: 15px; min-height: 59px;}
	.rec_rw img { position:absolute; left:0; width:34px; height:34px; border-radius:50%; object-fit: cover;}
	.rec_rw p {     margin: 0 0 -2px 0; font-size:14px; color:#000000;     line-height: 19px;    font-weight: 500;}
	.rec_rw p span { font-size:14px; color:#000000; }
	.rec_rw p a { font-size:14px; color:#000000;     border-bottom: 1px dotted #000;}
	.rec_rw p span a{ font-size:14px; color:#000000; text-decoration:none !important;}
	.rec_rw span{ color:#616161; font-size:12px;}

	.stats_box2 button img { position:relative; top:-1px; left: 2px;}
	.stats_box2 a img { position:relative; top:-1px; left: 2px;}
	.recent_pagination { padding-top:20px;   display: flex;
  align-items: center;
  justify-content: center;}
  .recent_pagination ul li a { border:0 !important; color:#868686 !important; font-size:14px;}
  .recent_pagination ul li a{ background:none !important;}
   .recent_pagination ul li a svg {position: relative;
    top: 1px;}
   .recent_pagination ul li a:hover svg path {stroke:#2A87EA !important;}
  .recent_pagination ul li.active a, .recent_pagination ul li a:hover { color:#2A87EA !important; background:none !important;}

  .recent_pagination .page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25) !important;
}


/**/
.profile_right{ background:#F4F4F4; padding:20px; -webkit-box-flex: 0;
    -ms-flex: 0 0 21%;
    flex: 0 0 20%;
    max-width: 20%;}
.right_top { background:#fff; border-radius:5px; padding: 15px 5px 22px 5px; text-align: center;}
.right_top label{ font-size:16px; font-weight:500; padding-bottom:10px; color: #000;}

.circle_r{
    background:#EAF3EB;
    border-radius:50px;
    padding:5px;
    width:100px;
    height:100px;
    margin:0 auto;
    padding-top: 12px;
    margin-bottom: 15px;    position: relative;
}
.right_top a {     background: #039542;
    color: #fff;
    border: 0;
    padding: 7px 10px;
    border-radius: 4px;
    margin: 15px 0;
    font-size: 14px; outline: 0;
    /* width: 100%; */
    display: inline-block;
    text-align: center;
    min-width: 160px;text-decoration: none !important;
}
.right_top a img{
    position: relative;
    left: 4px;    top: -1px;
}
.right_top button img { position:relative; top:-1px; left: 2px;}
.right_opt { background:#fff; border-radius:5px;        padding: 22px 20px 21px 45px; margin:15px 0 0 0; font-size:14px; position:relative; min-height: 42px;}
.right_opt a{ text-decoration: none !important;
    color: #3F3F3F !important;}
	.right_opt {color: #3F3F3F;}
.right_opt span{
    width: 40px;
    text-align: center; position:absolute;  display:flex;     top: 0;
    bottom: 0; left: 2px;}
	.right_opt span img { display:block; max-width: 26px ; margin:0 auto; }
.ri_option {    position: absolute;
    right: 11px;
    top: 0;
    cursor: pointer;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}




  @media screen and (max-width:1280px) {
.stats_box2 {
    width: 32%; padding:36px 10px;
}
.stats_box {
    width: 18%;
}
.stats_box2 button {padding: 5px 7px;}
.stats_box p { font-size: 14px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 53px;
    line-height: 18px;}

    .stats_box label { font-size:20px;
        color: #000;

    }
.profile_right {    padding: 20px 10px;}


.profile_right{  -webkit-box-flex: 0;
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;
}

	.profile_left{    -webkit-box-flex: 0;
    -ms-flex: 0 0 18%;
    flex: 0 0 18%;
    max-width: 18%;}


   }

   .no_recent_activity {
    display: block;
    text-align: center;
    padding: 50px 10px;
    font-size: 18px;
    color: #101010;
}


/* loadin CSS */


@-webkit-keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }

  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
   .g_ani2{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
        background: linear-gradient(to right, #ededed 8%, #e9e9e9 18%, #ededed 33%);
    background-size: 800px 104px;

    position: relative;
  }

  .p_ani{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;

    position: relative;
  }


  .pan1{ height:15px; width:50%;}

  .fright { float:right; width:40%;}
  .fright .pan1{ float:right;}

  .pan2{width: 88px;
      height: 88px;
      border-radius: 50%;
      object-fit: cover; margin: 0 auto;}

  .pan3{ display:inline-block; width:110px; height:20px; margin:0 auto; margin-bottom:5px; }
  .pan4{ display:inline-block; width:70%; height:20px;  margin:0 auto; margin-bottom:5px;}
  .pan5{ display:inline-block; width:100%; height:20px;  margin:0 auto; margin-bottom:5px;}
  .pan6{ display:inline-block; width:52%; height:20px;  margin:0 auto; margin-bottom:5px;}

  .pan7{ display:inline-block; width:52%; height:40px; margin:0 auto;  margin-bottom:10px;}

  .pan8{width:50px !important;
      height:50px !important;
      border-radius: 50%;
      object-fit: cover; margin: 0 auto; margin-bottom:10px !important;}
      .mtop30 { margin-top:30px;}
      .pan9{ display:inline-block; width:50%; height:15px !important; margin:0 auto;  margin-bottom:10px;}

  .pan10{ display:inline-block; width:40px; height:25px !important; margin:0 auto;  margin-bottom:10px;}


  .pan12{ display:inline-block; width:120px; height:35px !important; margin:0 auto;  margin-bottom:10px;}

  .pan11{width:34px !important;
      height:34px !important;
      border-radius: 50%;
      object-fit: cover; margin: 0 auto;      position: absolute;
      left: 0;}
      .right_opt .pan5 {
      display: inline-block;
      width: 100%;
      height: 24px;
      margin: 0 auto;
      margin-bottom: -4px;
  }




  .pan13{width:90px !important;
      height:90px !important;
      border-radius: 50%;
      object-fit: cover; margin: 0 auto; margin-bottom:10px !important;     display: block;}

      .banner1{ background:#F4F4F4 url(../../../assets/profile-page/img/bg1.png) no-repeat top right -35px; }

.banner1 p {
    color: #585858;
    line-height: 21px;
    padding-top: 5px;

}


.banner2{ background:#E1F3E3 url(../../../assets/profile-page/img/bg2.png) no-repeat center right; background-size: contain;}
.banner2 p {    max-width: 444px;}



.banner3{ background:#E3EDFD url(../../../assets/profile-page/img/bg3.png) no-repeat center right; background-size: contain;}
.banner3 p {    max-width: 444px;}

.learing-center-button-a:hover{
    text-decoration: underline !important;
}

.modal-header {
    background: #f9f9f9;
}

.modal-header .close {
    outline: 0;
    float: right;
    font-size: 28px !important;
    font-weight: 600 !important;
    line-height: 18px !important;
    font-family: initial;
}

.forget_container {
    margin: 0 auto;
    margin-top: 0px;
}

.forget_container {
    margin: 0 auto;
    margin-top: 0px;
}

.f_box {
    max-width: 368px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0px;
}

.forget_container h4 {
    color: #010101;
    font-size: 24px;
    padding-bottom: 30px;
}

.forget_container input[type=password],
.forget_container input[type=text] {
    display: block;
    width: 100%;
    height: 45px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.forget_container label {
    text-align: right;
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
}

.forget_container button {
    background: #28A745;
    padding: 12px 10px;
    border: 0;
    color: #fff;
    display: block;
    width: 100%;
    margin-top: 25px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.forget_container .f_field {
    position: relative;
}

.fa-eye-slash {}

.forget_container .f_field .svg-inline--fa {
    position: absolute;
    top: 16px;
    right: 9px;
    width: 16px;
    cursor: pointer;
    z-index: 9;
}

.forget_container .f_field svg path {
    fill: #afafaf;
}

.login_logo img {
    /* width: 368px !important; */
}

.logocl {
    height: 81px
}

.forget_container .text_ani {
    height: 28px;
    padding: 0;
    margin: 20px 0;
}

.forget_container .fieldani {
    height: 45px;
    padding: 0;
    margin: 20px 0;
}

ngx-pagination .current,
.btn-info {
  background:red !important;
  border: transparent !important;
  border-radius: 20px !important;
}

.ngx-pagination .current:hover {
  background: red !important;
  border-radius: 20px !important;
  border: transparent !important;
}

.modal-title{
    font-weight: 400;
    display: block;
    text-align: center;
    width: 95%;
    color: #484848;
    font-size: 18px;
}

.activty_scroll{
    height: 400px;
    /* overflow: auto;
    overflow-x: hidden; */
    /* padding-right: 18px; */
}

.banner4_text { float:left; width:50%;     text-align: center; padding-top:10px; cursor: pointer;}
    .banner4_text p { padding:2px 0 0 0;}
   .banner4_text  button{     color: #F3651E;
    border: 1px solid #F3651E;
    border-radius: 20px;
    padding: 5px 30px 4px 30px;
    outline: 0;
    font-size: 14px;
    display: inline-block;
    margin-top:5px;
    background: #FFF8F4;}
   .ban_img4 { float:left; width:32%;}
   .ban_img4 img{ position:relative; left:0; top:0; right:0;}


    .banner5_text { float:left; width:62%;     text-align: left; padding-top:10px; cursor: pointer;}
    .banner5_text p { padding:2px 0 0 0;}
   .banner5_text  button{     color: #149542;
    border: 1px solid #149542;
    border-radius: 20px;
    padding: 5px 30px 4px 30px;
    outline: 0;
    font-size: 14px;
    display: inline-block;
    margin-top:5px;
    background: #F2F6F2;}
   .ban_img5 { float:left; width:32%;}
   .ban_img5 img{ position:relative; left:0; top:0; right:0;}
   .banner5 { padding-bottom:0;}
.banner5 h2, .banner4 h2 {
    margin: 0;
    font-size: 25px;
    color: #1D365C;
    font-weight: 800;
}

.banner6 { padding:0; cursor: pointer;}
.banner6  h2{ border-bottom:2px solid #039542;     font-size: 24px;
    color: #1D365C;
    font-weight: 600; display:inline-block;}
	.banner6  p{ text-transform:uppercase;     padding-bottom: 5px; color:#1D365C; font-size:16px;}
	.banner6 span { display: block; text-align:right; font-size:18px; color: #D1441A;     font-weight: 500;    margin-right: -40px;}
	.bn6  img{   max-width: 179px;
    margin-bottom: -50px;
    margin-top: -15px;}
	.banner6_text {
        text-align: center;
      padding: 21px 20px 9px 20px;
   width: 57%;
    margin: 0 auto;
    float: left;
}
.bn6 {
    width: 28%;position: relative;
}
.get_mobile img { max-width:160px;}



  @media screen and (max-width:1280px) {
	  .banner6_text {width:62%; padding-right: 0;}
  }

  .w_70 {
      width: 70% !important;
  }


  .close_d { text-align: right; 
    padding: 0 15px 0 0;
    position: relative;
    top: 10px;}
    .footerm .row{     width: 94%;
        border-top: 1px solid #e9ecef;
        padding-top: 16px;
        padding-bottom: 3px;
        margin: 0 3%;}	
    
    .footerm .share_btn{ padding-right:0;}
    .footerm .col-6 { padding-left:0;}
    .footerm{ border:0;     padding-top: 0;}
    .share_btn { text-align:right;}
    .footerm button{        padding: 10px 28px;
        margin-left: 10px;
        font-size: 14px; margin-left: 10px; }
    .footerm button:focus { box-shadow: 0 0 0 0rem rgba(0,123,255,.25);}
    .footerm .btn-success{ background:#28A745; border:0;     color: #fff !important;} 

    .no_banner_url {
        pointer-events: none;
        cursor: default;
        }