<div class="modal-header">
    <h4 id="dialog-child-name" class="modal-title pull-left">{{translation?.artifacts_crop_video}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="croop_popup">
        <div class="ply_box" (click)="playImageRemover()">
            <img class="ply_play" id="ply_butn" src="assets/video-huddle/img/video_ply.svg">
            <video controlsList="nodownload" class="ply_video" controls="" class="vjs-matrix video-js"
                [id]="'artifact_'+artifact.doc_id" [src]="artifact.static_url">
            </video>
        </div>
        <range-slider *ngIf="!disableCrop" [min]="sliderValues.min" [max]="sliderValues.max" [step]="1" [toolTips]="[false,false]"
            [(ngModel)]="sliderValues.range" [highlightClass]="'highlightClass'" [barClass]="'barClass'"
            [sliderClass]="'sliderClass'" class="scroll">
        </range-slider>
        <div class="row" *ngIf="!disableCrop">
            <div class="col-6 text-left">
                {{ getFormattedTime(sliderValues.range[0]) }}
            </div>
            <div class="col-6 text-right">
                {{ getFormattedTime(sliderValues.range[1]) }}
            </div>
        </div>
        <span *ngIf="sliderValues?.range[0]==sliderValues?.range[1]"
            style="color:red">{{translation?.artifacts_crop_min_and_max}}</span>
    </div>
</div>
<div class="crop-footer sharefooter cro_foo">
    
    
    <div class="col-6f po" *ngIf="(artifact?.total_comments!=0)">
        <ng-container>
            <label
                class="checkbox-container">
                {{translation?.share_comments_tags_attachments}}
                <input type="checkbox" [(ngModel)]="copy_comments">
                <span class="checkbox-mark"></span>
            </label>
        </ng-container>
    </div>
    <div class="share_btn" [ngClass] = "(artifact?.total_comments!=0) ? 'col-6f crop_share_comment_option' : 'col-12'">
            <button type="button" class="btn btn-default" data-dismiss="modal"
                (click)="bsModalRef.hide()">{{translation?.discussion_cancel}}</button>
            <button type="button" class="btn btnpreview" [disabled]="disableCrop"
                (click)="onPreviewVideo(sliderValues.range)">{{translation?.artifacts_preview_video}}</button>
            <button type="button" [disabled]="isTrimming || sliderValues?.range[0]==sliderValues?.range[1] || disableCrop"
                class="btn btn-success" (click)="onTrim(sliderValues.range)">{{translation?.artifact_crop}}</button>
    </div>
    <div class="clear"></div>
    
</div>