.btnpreview{
    background: #057EFF;
    color: #fff;
    font-weight: 500;
}

.cro_foo button{
    padding: 6px 10px;
    font-size: 14px;
    margin-left: 10px;

}


.share_btn {
    text-align: right;
}

.po 
{
    padding:0 !important;
}

.col-6f {
    float: left;
    width: 50%;
}

.crop-footer {
    border-top: 1px solid #ddd;
    padding: 15px 10px 15px 10px;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin: 13px 0;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #616161;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-mark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #B4BAC3;
    border-radius: 3px;
}

.crop_share_comment_option
{
    text-align: right;
}

.checkbox-container:hover input~.checkbox-mark {
    background-color: #fff;
}

.checkbox-container input:checked~.checkbox-mark {
    background-color: #fff;
}

.checkbox-mark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkbox-mark:after {
    display: block;
}

.checkbox-container .checkbox-mark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #B4BAC3;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}