<div class="clear"></div>
<div class="container bred_an">
  <div *ngIf="breadcrumb" >
  <a [routerLink]="['/']">{{translations.home_user_settings}}</a>
    <img src="assets/img/breadcrumarrow.svg" />
    <a>{{translations.user_settings}}</a>
  </div>
  <div *ngIf="!breadcrumb" class="container ani_brcls bre_ani"></div>
</div>

<div class="clear"></div>


<!-- User Settings-->

<div *ngIf="skelton_loading" class="container box_outer">

  <div class="row panl_headingac">
    <div class="col-6">
      <h3 class="ani_us us1"></h3>


    </div>

  </div>


  <div class="row user_acount">
    <div class="col-12">

      <div class="acc_img">
        <span class="uimg ani_us"></span>
      </div>
      <div class="acc_detail">
        <label class="ani_us use_lab"></label>
        <p class="ani_us use_lab"></p>
      </div>


    </div>

  </div>

  <div class="row user_opt">
    <div class="col-md-5">
      <h4 class="use_lab2 ani_us"></h4>
      <div class="ckoptions">
        <div class="use_lab3 ani_us"></div>
        <div class="use_lab3 ani_us"></div>
        <div class="use_lab3 ani_us"></div>
        <div class="use_lab3 ani_us"></div>
        <div class="use_lab3 ani_us"></div>
        <div class="use_lab3 ani_us"></div>
        <div class="use_lab3 ani_us"></div>
        <div class="use_lab3 ani_us"></div>
      </div>
    </div>


    <div class="col-md-7">
      <h4 class="use_lab2 ani_us"></h4>

      <div class="setcsl1">
        <div class="use_lab3 ani_us"></div>
      </div>
      <div class="setcsl2">
        <div class="use_lab3 ani_us"></div>

      </div>
      <div class="clear"></div>

      <div class="ckoptions">
        <div class="use_lab4 ani_us"></div>
        <div class="use_lab4 ani_us"></div>
        <div class="use_lab4 ani_us"></div>
        <div class="use_lab4 ani_us"></div>
        <div class="use_lab4 ani_us"></div>
        <div class="use_lab4 ani_us"></div>
        <div class="use_lab4 ani_us"></div>
        <div class="use_lab4 ani_us"></div>

      </div>
    </div>


  </div>


  <div class="user_sebtn">
    <span class="use_lab5 ani_us"></span>
    <span class="use_lab5 ani_us"></span>
  </div>

</div>


<div *ngIf="!skelton_loading" class="container box_outer">

  <div class="row panl_heading">
    <div class="col-6">
      <h3>{{translations.user_settings}}</h3>


    </div>

  </div>
  <br>
  <plans-billings-shared></plans-billings-shared>


  <div class="row tabscls myPointer">
    <ul class="nav nav-tabs col-12 myPointer">
      <li class="nav-item myPointer">

        <a class="myPointer" [ngClass]="{'active': tab_toggle==true}" (click)="tab_toggle=true;"
          role="tab">{{translations?.cf_personal_info}}</a>
      </li>
      <li class="nav-item itm2 myPointer">
        <a [ngClass]="{'active': tab_toggle==false}" (click)="tab_toggle=false;" role="tab">{{translations?.cf_email_notification}}</a>
      </li>

    </ul>
  </div>
  <div class="row user_acount" *ngIf="userSettings.user">
    <div class="col-12">

      <div class="acc_img">
        <form>
          <img data-intercom-target="User-Image" *ngIf="!userSettings.user.image" src="assets/trackers/img/photo-default.png" (click)="showPopup()">
          <img data-intercom-target="User-Image" *ngIf="userSettings.user.image" [src]="url" (click)="showPopup()">
          <div class="pic_upload_popup" *ngIf="popup">
            <h4>Change your photo</h4>
            <input type="file" accept="image/*" (change)="onFileChanged($event.target.files)" #photo>
            <div class="pic_upload_btn">
              <button class="btn btn-primary btn-sm" type="submit"
                (click)="onUpload()">{{translations.submit_us}}</button>&nbsp;&nbsp;
              <button class="btn btn-secondary btn-sm" (click)="reset()">{{translations.vd_cancel}}</button>
            </div>
          </div>
        </form>
      </div>
      <div class="acc_detail">
        <label>{{firstName+" "+lastName}}</label>
        <p>{{email}}</p>
      </div>


    </div>

  </div>

  <div class="tab_inner">
    <form #updateUser="ngForm" class="user_setings" autocomplete="off">
      <div *ngIf='tab_toggle' class="row">
        <div class="col-md-12"><h4>{{translations.personal_information}}</h4></div>
        <div class="col-md-4" *ngIf="userSettings.user">

          <div class="ckoptions">
            <label>{{translations.title_placeholder}} </label>
            <input type="text" class="form-control" [(ngModel)]="userSettings.user.title" name="title">
            <div>
              <label>{{translations.fname_placeholder}}</label>
              <input type="text" class="form-control" [(ngModel)]="userSettings.user.first_name" #firstName="ngModel"
                name="first_name" maxlength="190" required> <!-- manxlength limit is according to corresponding db field limit -->
              <span *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                <small *ngIf="firstName.errors.required" class="form-control-feedback">
                  {{translations.this_is_required}}
                </small>
              </span>
            </div>




            <div>
              <label>{{translations.username_placeholder}}</label>
              <input type="text" class="form-control" [(ngModel)]="userSettings.user.username" name="usu"
                #username="ngModel" required>
              <span *ngIf="username.invalid && (username.dirty || username.touched)">
                <small *ngIf="username.errors.required" class="form-control-feedback">
                  {{translations.this_is_required}}
                </small>
              </span>
            </div>







          </div>
        </div>

        <div class="col-md-4" *ngIf="userSettings.user">

          <div class="ckoptions">

            <div>
              <label>{{translations.email_global}}</label>
              <input type="email" class="form-control" [(ngModel)]="userSettings.user.email"
                pattern="[A-Za-zzÄÖÜäöüß0-9._%+-]+@[a-zA-Z0-9.-]+\.[A-Za-z]{2,}$" #email='ngModel' required
                name="email">
              <span *ngIf="email.invalid && (email.dirty || email.touched)">
                <small *ngIf="email.errors.required" class="form-control-feedback">
                  {{translations.this_is_required}}
                </small>
                <small *ngIf="email.errors.pattern" class="form-control-feedback">
                  {{translations.email_must_be_valid}}
                </small>
              </span>
            </div>


            <div>
              <label>{{translations.lname_placeholder}}</label>
              <input type="text" class="form-control" [(ngModel)]="userSettings.user.last_name" required
                #last_name="ngModel" name="last_name" maxlength="190"> <!-- manxlength limit is according to corresponding db field limit -->
              <span *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)">
                <small *ngIf="last_name.errors.required" class="form-control-feedback">
                  {{translations.this_is_required}}
                </small>
              </span>
            </div>




            <label>{{translations.intitution_id_all_global_user_settings}}</label>
            <input type="text" class="form-control" [(ngModel)]="userSettings.user.institution_id"
              name="institution_id">




          </div>
        </div>



      </div>

      <!-- custom field start-->

      <div class="row row_custom" *ngIf='Editable && tab_toggle'>

        <div class="col-md-6" *ngFor="let Customfield of Customfield_array; let i = index">

          <label class="label_firstcaptilize">{{Customfield.field_label}} </label>
          <input class="form-control" *ngIf='Customfield.field_type === 1' [name]="'text'+i" type='text' maxlength="50"
            [(ngModel)]="Customfield.custom_field_value" />

          <div *ngIf='Customfield.field_type === 4'>
            <!-- <label>{{translations?.yes}} </label> -->
            <!-- <input (click)="d.custom_field_value='true'" type='radio' [checked]="d.custom_field_value == 'true'" />
          <label>{{translations?.no}}</label>
          <input (click)="d.custom_field_value='false'" type='radio' [checked]="d.custom_field_value == 'false'" /> -->
            <select class="form-control" [name]="'option'+i" [(ngModel)]="Customfield.custom_field_value">
              <option [value]="true">{{translations?.yes}}</option>
              <option [value]="false">{{translations?.no}}</option>
            </select>
          </div>
          <input class="form-control" *ngIf='Customfield.field_type === 2' type="text" [name]="'Percentage'+i"
           (paste)="onpaste($event,'Percentage')" (input)="onChange($event,Customfield)"
            [(ngModel)]="Customfield.custom_field_value" numberOnly>

          <input class="form-control" *ngIf='Customfield.field_type === 3' type="text" [name]="'Number'+i"
          maxlength="10" (paste)="onpaste($event,'Number')" [(ngModel)]="Customfield.custom_field_value" numberOnly>

        </div>
      </div>
      <div class="row row_custom" *ngIf='!Editable && tab_toggle'>
        <div class="col-md-6" *ngFor="let Customfield of Customfield_array; let i = index">
          <div *ngIf="Customfield.custom_field_value != null">
            <!-- <label><b>{{i + 1}}.</b> &nbsp;<b>{{data.field_label}}</b></label> -->
            <p class="plf15">
                {{i + 1}}. &nbsp;{{Customfield.field_label}}:
                <b *ngIf="Customfield.field_type == 4 && Customfield.custom_field_value == 'true'">{{translations?.yes}}</b>
                <b *ngIf="Customfield.field_type == 4 && Customfield.custom_field_value == 'false'">{{translations?.no}}</b>
                <b *ngIf="Customfield.field_type != 4">{{Customfield.custom_field_value}}</b>
            </p>
        </div>
        </div>
      </div>
      <!-- custom field end -->
      <div *ngIf='tab_toggle' class="row row_custom">
        <div class="col-md-6">
          <label>{{translations.personal_profile_information}}</label>
          <textarea data-intercom-target="User-Description" class="form-control" [(ngModel)]="userDescription" name="user_description"></textarea>
        </div>


      </div>

      <div *ngIf='tab_toggle' class="row row_custom">
        <div class="col-md-4">
          <label>{{translations.new_password_placeholder}}</label>
          <input type="password" class="form-control" [(ngModel)]="password" name="password" togglePassword
            autocomplete="new-password">
        </div>

        <div class="col-md-4">
          <label>{{translations.confirm_password_placeholder}}</label>
          <input type="password" class="form-control" [(ngModel)]="confirm_password" name="confirm_password"
            togglePassword autocomplete="new-password">
        </div>

      </div>

      <div *ngIf='!tab_toggle'>
        <div class="" *ngIf="userSettings.email_unsubscribers">

          <div class="row">
            <div class="setcsl1 col-3">
              <label>{{translations.account_user_settings}}</label>
              <select class="form-control" (change)="showSubscribers($event)"
                (click)="updateButton(email_unsubscribers.account_name)" [(ngModel)]="userAccount"
                name="showSubscribers">
                <option *ngFor="let email_unsubscribers of  userSettings.email_unsubscribers"
                  value={{email_unsubscribers.account_name}}>{{email_unsubscribers.account_name}}</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="setcsl2 col-3">
              <label>{{translations.language_desktop_only}}</label>
              <select class="form-control" [(ngModel)]="userSettings.user.lang" name="userSettings">
                <option value="en">English</option>
                <option value="es">Spanish</option>
              </select>

            </div>
          </div>



        </div>
        <div class="clear"></div>
        <div class="sub_ac" *ngIf="!isChecked"><a
            (click)="subscribeAll(email_unsubscribers.account_name)">{{translations.subscribe_all_user_settings}}</a>
        </div>
        <div class="sub_ac" *ngIf="isChecked"><a
            (click)="unsubscribeAll(email_unsubscribers.account_name)">{{translations.unsubscribe_all_user_settings}}</a>
        </div>

        <div class="ckoptions check_cu" *ngFor="let unsubscribers of  email_unsubscribers.unsubscribers">
          <label
            *ngIf="(unsubscribers.full_name !='Sibme\'s Weekly Summary Report' && unsubscribers.full_name !='Sibme\'s Monthly Summary Report') || (userRoleId ==100) || (userRoleId ==110)"
            class="switch">
            <input type="checkbox" [checked]="unsubscribers.status === 'checked'"
              (change)="updateSubscribers($event,email_unsubscribers.account_name,unsubscribers.id)" name="checks">

            <span class="slider round"></span>
            <span class="text_cls">{{unsubscribers.full_name}}</span>
          </label>
        </div>


  <h4 class="mt-4">{{translations.default_account}}</h4>

      <div class="ckoptions">
        <select name="default_account" class="form-control" [(ngModel)]="userSettings.default_account" id="">
          <option *ngFor="let account of userSettings.user_accounts" value={{account.id}}>{{ account.company_name }}</option>
        </select>
      </div>
    </div>

      <!-- SAVE BUTTON -->

      <div class="user_sebtn">
        <button (click)="getUserSettings()">{{translations.vd_cancel}}</button>
        <button data-intercom-target="Save-User-Setting" [disabled]="!(updateUser.form.valid)" type="submit" (click)="update()"
          class="set_sav">{{translations.save_us}}</button>
      </div>



    </form>


  </div>
</div>
