	.bred_an { top:11px;}
.box_outer {
    background: #fff;
    border-radius: 5px;
    margin-top: 15px !important;    margin-bottom: 10px !important;}

@media screen and (min-width: 1280px){

	.container{
		    max-width: 1200px !important;
    padding: 0 15px !important;
		}
	}


@media screen and (min-width: 1500px){
.container{max-width: 1450px !important;padding: 0 15px !important;}
}


.container.bred_an{padding-bottom: 9px !important;
    padding-left: 0px !important;}

 .topheader{text-align: center; background:url(../../../assets/img/bgrep.png) repeat-x;}
.panl_headingac {
	border-bottom: 1px solid #ddd;
    padding: 9.8px 10px;
    background: #f9f9f9;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
	}

.panl_headingac  h3{     font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  color: #212528; }
	.panl_headingac .col-6 { padding:0 7px;}

.user_acount {border-bottom:1px solid #ddd;     padding: 10px 10px;
    background: #eaeaea;}

.user_acount label{ margin:0; color:#010101; font-weight:500;}
.user_acount p{ margin:0; color:#010101;}
.acc_img img { width:55px; height:55px; border-radius:50%;}
.acc_img  { float:left; width:65px;}
.acc_detail { float:left; width:900px; overflow: hidden;     padding-top: 7px;}
.user_opt { padding:30px 10px;}
.user_opt h4{color:#212528; font-size:18px; margin:0 0 10px 0;     font-weight: 400;}
.setcsl1 { float:left; width:55%;}
.setcsl2 { float:right; width:38%;}
.user_opt label{color: #616161;
    margin: 21px 0 4px 0;}
.user_opt .col-md-5 { padding-right:40px;}
.user_opt .col-md-7 { padding-left:80px;}
.sub_ac{padding:20px 0 2px 0;}
.sub_ac a{ color:#1C7CD5 !important; cursor:pointer; }
.user_opt .ckoptions label{ margin:14px 0 4px 0;}


	/* The container */
.ck_box {
  display: block;
  position: relative;
  padding-left: 30px;
    margin: 13px 0;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color:#616161;
}

.form-control-feedback{
  color: red;
}

/* Hide the browser's default checkbox */
.ck_box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.ck_box .checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
   border: 1px solid #B4BAC3;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.ck_box:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.ck_box input:checked ~ .checkmark {
      background-color: #1C7CD5;

}

/* Create the checkmark/indicator (hidden when not checked) */
.ck_box .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.ck_box input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.ck_box .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

.user_sebtn {border-top:1px solid #ddd; padding:18px 0px;  margin: 0 12px; margin-top:40px; text-align:right;}

.user_sebtn button{ border:0;     padding: 9px 24px; outline:0; color:#484848; background:none; cursor:pointer;}
.user_sebtn .set_sav{ background:#28a745; color:#fff; border-radius:4px;}
.user_opt select{ background:#f8f8f8 !important;}

a.disabled {
  pointer-events: none;
  cursor: default;
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.ani_us{
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
}

.us1 { width:250px; height:40px;}
.uimg { width:55px; height:55px; border-radius:50%; display:inline-block;}
.use_lab { width:150px; height:20px;}
.use_lab2 { width:220px; height:24px;}
.use_lab3 {width:100%; height:40px; margin:20px 0 0 0;}
	.use_lab4 {width:100%; height:20px; margin:18px 0 0 0;}
	.use_lab5 {width:91px; height:39px; display:inline-block;}
  .pic_upload_popup{
    position: absolute;
    width: 236px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    top: 0px;
    left: 85px;
    z-index: 9;
  }
  .pic_upload_popup:after, .pic_upload_popup:before {
    right: 100%;
    top: 23%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .pic_upload_popup:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 10px;
    margin-top: -10px;
  }
  .pic_upload_popup:before {
    border-color: rgba(204, 204, 204, 0);
    border-right-color: #ccc;
    border-width: 11px;
    margin-top: -11px;
  }
  .pic_upload_popup h4{    padding: 10px 8px;
    font-weight: bold;
    border-bottom: 1px dashed #ddd;
    font-size: 14px;
    line-height: 18px;
    margin: -8px -10px 15px -10px;}
    .pic_upload_btn{
      margin-top:10px;
    }
    .pic_upload_popup input[type=file]{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;
    }





.tabscls {
    padding: 0px 0 0 27px;
    height: 39px;
}

.tabscls .nav-tabs {
    border: 0;
    position: relative;
    top: 4px;
    height: 35px;
}

.tabscls .nav-tabs .nav-item {
    margin-bottom: -1px;
    border: 1px solid #ddd;
    padding: 6px 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 0;
       height: 35.5px;

    text-align: center;
}

.tabscls .nav-tabs .nav-item a {
    color: #A0A0A0;
    text-decoration: none;
    font-size: 15px;
    line-height: 24px;
}

.tabscls .nav-tabs .nav-item a.active {
    color: #1C7CD5;
}


.tab_inner{padding: 35px 15px;}

.tab_inner h4{ font-size:18px; padding-bottom:10px;}

.tab_inner label{margin-bottom: 4px;
    font-size: 14px;}

.tab_inner .form-control{    margin-bottom:24px;}

.row_custom { max-width:68%;}

.radio-inline input[type=radio]{     margin-right: 18px;
    position: relative;
    top: 2px;
    margin-left: 6px;
}




.check_cu .switch {
  position: relative;
  display: inline-block;
     width: 36px;
    height: 21px;
}

.check_cu .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.check_cu .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #616161;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.check_cu input:checked + .slider {
  background-color: #28a745;
}

.check_cu input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.check_cu input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.check_cu .slider.round {
  border-radius: 34px;
}

.check_cu .slider.round:before {
  border-radius: 50%;
}

.check_cu {    padding-top: 10px;}
.text_cls{    position: absolute;
    width: 440px;
    left: 46px;
    top: 1px;
}
.row.row_custom .label_firstcaptilize{
  text-transform: capitalize;


}
.plf15 { padding-left:19px;}

    .ani_brcls {
      -webkit-animation-duration: 1.25s;
      animation-duration: 1.25s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: placeHolderShimmer;
      animation-name: placeHolderShimmer;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      background: #d9d9d9;
      background: linear-gradient(to right, #e9e9e9 8%, #F0F0F0 18%, #efefef 33%);
      background-size: 800px 104px;
      position: relative;
}

.bre_ani {
      padding: 2px !important;
      height: 20px;
      /* margin-bottom: 26px !important; */
      position: relative;
      /* top: 3px; */
}

.panl_heading {
  border-bottom: 1px solid #ddd;
  padding: 3px 10px;
  background: #f9f9f9;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.panl_heading .col-6 {
 padding: 2.5px 7px;
}

.panl_heading h3 {
font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #212528;
}
