 @media screen and (min-width:1280px) { 
        .container { max-width: 1200px !important;
            padding: 0 15px !important;
            }
           }
    
     @media screen and (min-width:1500px) {
    
        .container { max-width: 1450px !important;    padding: 0 15px !important; }
    }