#user.dropdown {
    position: relative;
    height: 34px;
}

#user {
    width: auto;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    float: right;
}
#user {
    width: auto;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    float: right;
}
#user {
    width: auto;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    float: right;
}
.dropdown {
    position: relative;
    width: 182px;
    height: 34px;
}
.dropdown {
    position: relative;
    width: 182px;
    height: 34px;
}
#user .photo {
    margin-right: 10px;
    padding: 0px;
   
    display: inline-block;
	    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
    top: -9px;
}
.photo {
    padding: 4px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    font-size: 8px;
    overflow: hidden;
}
.ph {
    float: left;
}

#user span.wrap {
    position: relative;
    top: 0px;
}
.span-wrap {
    text-align: left;
    margin-left: 0px;
}
#user.dropdown .dropdown-toggle {
    float: right;
    padding: 21px 0 20px 12px;
    margin-top: 0px;
    background: none;
    border-radius: 3px;
    box-shadow: none;
    color: #f3f1ec;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    white-space: nowrap;
    width: 100%;
}

#user .dropdown-toggle {
    float: right;
    padding: 5px 8px 5px 8px;
    background: url(/app/img/new/blank.png);
    box-shadow: 0 1px 0 rgba(255,255,255,0.1);
    color: #f3f1ec;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
}
#user .dropdown-toggle {
    float: right;
    padding: 5px 8px 5px 8px;
    background: url(/app/img/blank.png);
    box-shadow: 0 1px 0 rgba(255,255,255,0.1);
    color: #f3f1ec;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
    width: 100%;
}

.user_newDropDown {
       background: #fff;
    padding: 18px 22px;
    width: 356px;
    position: absolute;
    right: 0px;
   top: 71px !important;
    z-index: 999;
    box-shadow: 0px 0 2px #c7c7c7;
}  
.user_newDropDown :before {
    content: '';
    right: 7%;
    margin-left: -9px;
    bottom: 100%;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    z-index: 1;
} 

.user_dropDown_info {
   float: left;
    width: 155px;
    word-wrap: break-word;
    font-size: 13px;
}

.user_dropDown_info p {
    display: block;
    color: #424242;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 4px;
}
.user_dropDown_info span{
    color: #757575;
    font-size: 13px;
}
.account_info {
        margin-top: 15px;
    background: #eaeaea;
    color: #5b5b5b;
    padding: 6px 16px 7px 16px;
    border-radius: 3px;
    text-align: center;
    display: block;
}

ul, ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

.user_newDropDown ol {
    float: right;
    border-left: solid 1px #eaeaea;
    list-style: none;
    margin: 0px;
    padding-bottom: 0px;
    width: 128px;
    min-height: 88px;
    padding-left: 18px;
    margin-left: 22px !important;
}

ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

#user .user_newDropDown ol li {
    padding: 0px;
}
#user .user_newDropDown ol li a {
    display: block;
    padding: 0px 0px;
    color: #515151;
    font-size: 12px;
    font-weight: normal;
    line-height: 27px;
}
#user .user_newDropDown ol li a:hover {
    color: #2074bd;
    background: none;
    text-decoration: none;
}

.account_info {
    display: block;
}
.user_info_bottom {
       background: #eaeaea;
    color: #5b5b5b;
    margin: 19px -22px -20px -22px;
    cursor: pointer;
   padding: 7px 4px 9px 9px;
}

.user_newDropDown a:hover{
    text-decoration: none;
}

.user_info_bottom span{
    font-size: 13px;
}

.user_info_bottom img{
    width: 15px;
}


 .dropdown-toggle::after{ display:none !important;}