<div id="user" class="dropdown" dropdown>
    <div data-intercom-target="Username-Avatar" dropdownToggle class="dropdown-toggle">

      <img *ngIf="userImage === ''" [attr.src]="getAvatarPath(details)" id="user_top_photo" class="photo ph" height="25" rel="tooltip" width="25" data-original-title="" title="">
        <img *ngIf="userImage !==''" [attr.src]="userImage" id="user_top_photo" class="photo ph" height="25" rel="tooltip" width="25" data-original-title="" title="">
      <span class="span-wrap wrap" style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;height: 18px;float:left;">{{userFirstName}}</span>

    </div>
    <div *dropdownMenu class="dropdown-menu dropdown-menu-right user_newDropDown" role="menu">
        <div class="user_dropDown_info">
            <p>{{userFirstName+" "+userLastName}}</p>
            <span>{{userEmail}}</span>
            <span class="account_info">{{details?.user_current_account?.roles?.name}}</span>


        </div>
        <ol>
            <li data-intercom-target="User-Settings"><a [routerLink]="['user-settings']" >{{translation?.huddle_list_user_settings}}</a></li>
            <li *ngIf="SettingsAllowed(details)"><a [routerLink]="['account-settings']">{{translation?.huddle_list_account_settings}}</a></li>

            <li><a target="_blank" href="https://updates.sibme.com">{{translation?.profile_whats_new}}</a></li>
            <li><a (click)="setAlertPreventValue()">{{translation?.huddle_list_logout}}</a></li>
        </ol>

        <div class="clear"></div>

        <a href="/launchpad" *ngIf="details?.is_change_account_enable==1">
            <div class="user_info_bottom">
                <span>{{userCurrentAccount}}</span>
                <img width="19" src="assets/img/new/icon-switch-account_grey.svg">
            </div>
        </a>

        <a  *ngIf="details?.is_change_account_enable!=1">
            <div class="user_info_bottom">
                <span>{{userCurrentAccount}}</span>
            </div>
        </a>

    </div>
</div>
