<div class="container" *ngIf="loadLoginData">
  <div class="box_login">

    <div class="login_inner">
      <div class="log_div">
        <img *ngIf="checkPlatform == 1" src="assets/img/logo-dark.svg">
        <img *ngIf="checkPlatform == 2" style="max-width: 368px;" src="assets/img/logo_2.svg">
      </div>
      <h1 *ngIf="checkPlatform == 1">{{translation.login_to_sibme}}</h1>
      <h1 *ngIf="checkPlatform == 2">Login to Coaching Studio</h1>

      <div class="login_field_box">

        <form #loginForm=ngForm (ngSubmit)="signIn()">
          <input type="text" name="data[User][username]" placeholder="{{translation.email_placeholder_login}}" [(ngModel)]="userLoginCre.username" id="UserUsername" class="email_icon" required>
          <div class="password_outr">
            <input *ngIf="hidePass" type="password" name="data[User][password]" placeholder="{{translation.password_placeholder_login}}" [(ngModel)]="userLoginCre.password" id="UserPassword" class="password_icon" autocomplete="off" required>
            <input *ngIf="showPass" type="text" name="data[User][password]" placeholder="{{translation.password_placeholder_login}}" [(ngModel)]="userLoginCre.password" id="UserPassword" class="password_icon" autocomplete="off" required>
            <i *ngIf="hidePass" class="showHidePass fa fa-eye" (click)="showPass = true; hidePass = false"></i>
            <i *ngIf="showPass" class="showHidePass fa fa-eye-slash" (click)="showPass = false; hidePass = true"></i>
          </div>

          <div class="signin_btn" [ngClass]="{'signin_btn_sibme_bg': checkPlatform == '1', 'signin_btn_hmh_bg': checkPlatform == '2' }">
            <button type="submit" [disabled]="!loginForm.valid">{{translation.sign_in}}</button>
          </div>
          <div class="forget_pass">
            <a [routerLink]="['/forgot_password']">{{translation.forgot_password}}</a>
            <div class="remeber_me">
              <input name="data[User][remember_me]" [(ngModel)]="userLoginCre.remember_me" type="checkbox" value="1">{{translation.remember_me}}</div>
          </div>
      </form>

        <div class="clear"></div>
      </div>

      <div class="or_txt">

        <span>{{translation.or_login}}</span>
      </div>


      <a class="google_signin_btn" href="/GoogleApi/google_login">
        <img src="assets/img/gicon.png" alt="">{{translation.sign_in_google}}
      </a>

      <a (click)="loginBySso(SsoModal)" class="sso_signin_btn">
        <span class="sso_img">
          <img src="assets/img/sso-icon.svg" alt="">
        </span>{{translation.sign_in_sso}}
      </a>

      <div class="terms_policy">
        {{translation.by_signing_agreement}} <a target="_blank" class="blue_color" href="http://sibme.com/privacy-policy.html">
        {{translation.privacy_policy_payment}}</a> {{translation.and}} <a target="_blank" class="blue_color" href="http://sibme.com/terms.html">
        {{translation.terms_of_use_payment}}</a>.
      </div>



    </div>

    <div class="input-group select" *ngIf="checkPlatform == 1">
      <select class="language_switch" name="userLangugage" [(ngModel)]="selectedLanguage" (change)="languageChange()" required="required">
        <option value="en" selected="">English</option>
        <option value="es">Spanish</option>
      </select>
    </div>
  </div>

</div>

<ng-template #SsoModal>
  <div class="modal-header">
      <h6 class="modal-title pull-left">{{translation.sign_in_sso}}</h6>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body mt-3 mb-5">
      <input class="form-control" placeholder="{{translation.email_placeholder_login}}..." [(ngModel)]="ssoEmail">
  </div>
  <div class="modal-footer text-right">
      <div>
          <button class="btn btn-default" (click)="modalRef.hide()">
            {{translation.sign_in_model_close}}
          </button>
          <button class="btn btn-success" (click)="signInSso()">
            {{translation.sign_in}}
          </button>
      </div>
  </div>
</ng-template>