<div class="col-md-1 hu_dis_img">
    <img src="{{ detailService.ImageUrlBuilder(discussion, discussion?.discussion?.tryAgain) }}" />

</div>
<div *ngIf="discussion?.tryAgain" class="col-md-4">
    <h4 tooltip="{{ discussion?.title }}">
        <a href="JavaScript:Void(0);">
      {{ discussion?.title }}
    </a>
    </h4>
    <label>{{translation?.discussion_by}}: <b>{{ discussion?.first_name }} {{ discussion?.last_name }}</b></label>
    <p style="overflow: hidden;"><span innerHtml="{{discussion?.parsedComment | slice:0:135}}"></span><span *ngIf="findLength()>135">...</span></p>
    <div>
        <div class="try-again-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="16.329" height="15.374" viewBox="0 0 16.329 15.374">
          <g id="Group_351" data-name="Group 351" transform="translate(-270.467 -1166.164)">
              <path id="Path_52" data-name="Path 52" d="M20.256,22.985a1.562,1.562,0,0,1,2.75,0l6.6,12.25a1.562,1.562,0,0,1-1.375,2.3h-13.2a1.562,1.562,0,0,1-1.375-2.3Z" transform="translate(257 1144)" fill="#c10f12"/>
              <path id="Union_1" data-name="Union 1" d="M.253,5.369h0V5.337L.006,1.079A.952.952,0,0,1,0,.97.985.985,0,0,1,1,0,.985.985,0,0,1,2,.97a.947.947,0,0,1-.01.136l-.3,4.221A.709.709,0,0,1,.969,6,.711.711,0,0,1,.253,5.369Z" transform="translate(277.7 1170)" fill="#fff"/>
              <circle id="Ellipse_9" data-name="Ellipse 9" cx="1" cy="1" r="1" transform="translate(277.7 1177)" fill="#fff"/>
          </g>
        </svg>
            <span class="try-again-message">{{translation?.discussion_not_saved}} </span>
            <span class="try-again-btn" *ngIf="!discussion?.editTryAgain" (click)="saveDiscussionAgain(discussion)">{{translation?.try_again}}</span>
            <span class="try-again-btn" *ngIf="discussion?.editTryAgain" (click)="editDiscussionTryAgain(discussion)">{{translation?.try_again}}</span>
        </div>
    </div>
</div>

<div *ngIf="!discussion?.tryAgain" class="col-md-4">
    <h4 tooltip="{{ discussion?.title }}">
        <a [routerLink]="['../details', discussion?.id]" [queryParams]="{ sort: 'newest', goalEvidence: goalEvidence, tab:'discussion' }">
        {{ discussion?.title }}
      </a>
    </h4>
    <ng-container *ngIf="!!discussion?.first_name;else posting">
        <label [routerLink]="['../details', discussion?.id]" [queryParams]="{goalEvidence: goalEvidence, tab:'discussion'}">{{translation?.discussion_by}}: <b>{{ discussion?.first_name }} {{ discussion?.last_name }}</b></label>
        <p [routerLink]="['../details', discussion?.id]" [queryParams]="{goalEvidence: goalEvidence, tab:'discussion'}" style="overflow: hidden;"><span innerHtml="{{discussion?.parsedComment | slice:0:135}}"></span><span *ngIf="findLength()>135">...</span></p>
        <span *ngIf="isRequestCompleted && selectedId== (discussion.id || discussion.discussion_id) ">
    <span class="fake_link">{{translation?.comment_updating}}</span>
        </span>
    </ng-container>
    <ng-template #posting>
        <p>{{translation?.myfile_posting}}</p>
    </ng-template>





</div>
<ng-container *ngIf="!!discussion?.first_name">
    <div *ngIf="!discussion?.tryAgain" [routerLink]="['../details', discussion?.id]" [queryParams]="{goalEvidence: goalEvidence, tab:'discussion'}" class="col-md-2">{{ headerService?.formatDate(discussion?.created_date, "MM/DD/YYYY") }}</div>
    <div *ngIf="!discussion?.tryAgain" [routerLink]="['../details', discussion?.id]" [queryParams]="{goalEvidence: goalEvidence, tab:'discussion'}" class="col-md-2 list_center po_sp">{{ discussion?.reply_count }}</div>
    <div *ngIf="!discussion?.tryAgain" [routerLink]="['../details', discussion?.id]" [queryParams]="{goalEvidence: goalEvidence, tab:'discussion'}" class="col-md-2 list_center po_sp"><span>{{discussion?.attachment_count}}</span></div>
    <div *ngIf="!discussion?.tryAgain" [routerLink]="['../details', discussion?.id]" [queryParams]="{goalEvidence: goalEvidence, tab:'discussion'}" class="col-md-2 dis_count list_center un_sp"><span>{{discussion?.unread_comments}}</span></div>

    <div class="col-md-1 list_opt">
        <div dropdown class="hu_op dropdown" *ngIf="actMain">
            <button type="button" dropdownToggle class="dropdown-toggle" data-toggle="dropdown">
              <img src="assets/video-huddle/img/dots_dark.svg" width="30" />
            </button>
            <div class="dropdown-menu" *dropdownMenu>
                <a *ngIf="actEdit" class="dropdown-item" (click)="editDiscussion_popup(discussion)">{{translation?.discussion_edit}}</a>
                <!-- <a class="dropdown-item" (click)="exportDiscussion(discussion)">{{translation?.discussion_export}}</a> -->
                <a *ngIf="actDelete && ((discussion?.huddle_type != '2') || (discssionRoles.role_id == 200 && discussion?.huddle_type == '2')  || (discssionRoles.role_id == 210 && discussion?.coachee_permission == '1' && discussion?.huddle_type == '2' ))" class="dropdown-item" (click)="onDelete.emit(discussion)"
                 >{{translation?.discussion_delete}}</a>
            </div>
        </div>
        <div dropdown class="hu_op dropdown" *ngIf="exportPermission">
                    <button type="button" dropdownToggle class="dropdown-toggle" data-toggle="dropdown">
                      <img src="assets/video-huddle/img/dots_dark.svg" width="30" />
                    </button>
                    <div class="dropdown-menu" *dropdownMenu>
                       <!-- <a *ngIf="actEdit" class="dropdown-item" (click)="editDiscussion_popup(discussion)">{{translation?.discussion_edit}}</a> -->
                        <a class="dropdown-item" (click)="exportDiscussion(discussion)">{{translation?.discussion_export}}</a>
                        <!-- <a *ngIf="actDelete && ((discussion?.huddle_type != '2') || (discssionRoles.role_id == 200 && discussion?.huddle_type == '2')  || (discssionRoles.role_id == 210 && discussion?.coachee_permission == '1' && discussion?.huddle_type == '2' ))" class="dropdown-item" (click)="onDelete.emit(discussion)"
                         >{{translation?.discussion_delete}}</a> -->
                    </div>
                </div>
    </div>
</ng-container>


<!--edit modal start-->
<ng-template #editDiscussion>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{translation?.discussion_edit_discussion}}</h4>
      <button
        type="button"
        class="close"
        (click)="cancelEditDiscussionModal()"
      >
        &times;
      </button>
    </div>
    <div class="modal-body sendmail quil-container">
      <label>{{translation?.artifact_discussion_topic}}</label>
      <input
        name="d-topic"
        [(ngModel)]="editDiscData.title"
        type="text"
        class="form-control"
        (ngModelChange)="editModalChange('title', editDiscData.title)"
      />

      <label>{{translation?.artifact_discription}}</label>
      <span class="upload-custom-wrapper fake_link" (click)="TriggerUpload()">
      </span>
      <input
        type="file"
        (change)="onUpload($event)"
        [id]="'file_' + discussion?.id"
        style="display: none;"
        accept="image/*,application/*,text/*"
      />
      <quill-editor
      [placeholder]="translation?.artifact_insert_text"
        [modules]="discussionService?.GetEditorOptions(discussion.id)?.modules"
        [style]="{ height: '250px' }"
        toolbar=""
        name="d-description"
        [(ngModel)]="editDiscData.comment"
        (ngModelChange)="editModalChange('comment', editDiscData.comment)">
      </quill-editor>

      <ng-container >
        <div class="row" >
          <div class="col-12">
            <ng-container *ngIf="Files.length > 0">
                <div class="custom_files" *ngFor="let file of Files; let i = index">
                  {{file.name |slice:0:30}} <span *ngIf="file?.name.length>30">...</span>
                    <span class="fake_link" (click)="Files.splice(index, 1)"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="7" viewBox="0 0 7 7">
                      <defs>
                        <clipPath id="clip-path">
                          <path id="Path_29" data-name="Path 29" d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z" transform="translate(0 11)" fill="#919191"/>
                        </clipPath>
                        <clipPath id="clip-path-2">
                          <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z" transform="translate(1057 483)" fill="#919191"/>
                        </clipPath>
                      </defs>
                      <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
                        <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)" clip-path="url(#clip-path-2)">
                          <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z" transform="translate(674.455 313.182)" fill="#919191"/>
                        </g>
                      </g>
                     </svg> </span>
                  </div>
            </ng-container>
                <ng-container *ngIf="discussion?.attachments?.length > 0">
                <ng-container *ngFor="let file of discussion.attachments; let i = index">
                            <div class="custom_files" *ngIf="!file.isDeleted">
                              <ng-container>
                                {{file.original_file_name |slice:0:30}} <span *ngIf="file?.original_file_name.length>30">...</span>
                              </ng-container>
                                <span *ngIf="!file.isDeleted"
                                  class="fake_link"
                                  (click)="
                                    (discussion?.attachments)[i].isDeleted = true
                                  "
                                >
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="7" viewBox="0 0 7 7">
                                  <defs>
                                    <clipPath id="clip-path">
                                      <path id="Path_29" data-name="Path 29" d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z" transform="translate(0 11)" fill="#919191"/>
                                    </clipPath>
                                    <clipPath id="clip-path-2">
                                      <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z" transform="translate(1057 483)" fill="#919191"/>
                                    </clipPath>
                                  </defs>
                                  <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
                                    <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)" clip-path="url(#clip-path-2)">
                                      <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z" transform="translate(674.455 313.182)" fill="#919191"/>
                                    </g>
                                  </g>
                                 </svg>
                                </span>
                              </div>
                  </ng-container>
                  </ng-container>
          </div>
        </div>
      </ng-container>



    </div>
    <div class="modal-footer sharefooter discu_footer">
      <div class="clear"></div>
      <div class="row">
        <div class="col-12 share_btn">
          <button
            type="button"
            class="btn btn-default"
            (click)="cancelEditDiscussionModal()"
          >
            {{translation?.discussion_cancel}}
          </button>
          <button
            type="button"
            class="btn btn-success"
            (click)="selectedComment();onEditSubmission()"
          >
            {{translation?.discussion_update}}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!--edit modal end-->