<div class="clear"></div>
<div class="container bred_an" *ngIf="breadcrubms">
  <a [routerLink]="['/']">{{translation?.huddle_breadcrumb_home}}</a>

  <ng-container *ngIf="breadcrubms && breadcrubms?.length > 0">
    <img src="assets/img/breadcrumarrow.svg" />
    <a [routerLink]="['home/grid']">
      {{translation?.artifacts_workspace_txt}}
    </a>
    <ng-container *ngFor="let bc of breadcrubms; let last = last">
      <img src="assets/img/breadcrumarrow.svg" />

      <a *ngIf="!bc.isCustom && !bc.location && !bc?.is_document" [routerLink]="['home/grid/', bc.folder_id]"
        [class.disabled]="last">
        {{ bc?.folder_name | slice:0:50 }}
      </a>
      <a *ngIf="!bc.isCustom && !bc.location && bc?.folder_name.length > 50">...</a>
      <a *ngIf="!bc.isCustom" [routerLink]="['home/grid/', bc.folder_id]"
        [class.disabled]="last" [title]="bc?.folder_name">
        {{ bc?.folder_name | sibmeSlice }}
      </a>
      <a *ngIf="bc.isCustom" [routerLink]="['/home/grid', bc.folder_id]"
        [class.disabled]="last">
        {{ bc?.folder_name | sibmeSlice }}
      </a>
      
    </ng-container>
  </ng-container>

  <ng-container *ngIf="breadcrubms?.length == 0">
    <img src="assets/img/breadcrumarrow.svg" /> 
    <a>{{translation?.artifacts_workspace_txt}} </a>
  </ng-container>
</div>
<div class="container bred_an" *ngIf="!breadcrubms">
  <div class="animate_me br_an"></div>
</div>
<div class="clear"></div>