

    .h_row{ 
         font-size:14px; 
       
        -ms-flex-wrap: initial;
        flex-wrap: initial;
        margin: 0 !important
    }
	.h_row .col-1{ padding:15px 7px; text-align:center; 
    flex: 0 0 150px;
    max-width: 150px; background: #eaeaea !important;
}
.img_width{
    background: #eaeaea;
    display: inline-block;
    width: 50px;
    height: 50px;
    float: right;
    padding-top: 14px;
}

	
    .rep_row{  font-size: 14px;  border-bottom:1px solid #fff;
        -ms-flex-wrap: initial;
        flex-wrap: initial;
        margin: 0 !important

    }
	.rep_row .col-1{ padding:25px 7px 15px 7px; text-align:center;  -ms-flex: 0 0 150px;
    flex: 0 0 150px;
    max-width: 150px; background:#cccccc;
}
.rep_row .col1{ background:#cccccc; padding:15px 7px;  }


	.col1 img{ width:45px; height:45px; border-radius:50%;     margin: 0 15px;     object-fit: cover;}
	.col1 b { text-transform:uppercase; font-size:25px;     line-height: 46px;}
	.inner_1 { display:flex;}
	.inner_1 label { margin:0; font-weight:600;}
	.inner_1 p{ margin:0;    overflow: hidden;
    text-overflow: ellipsis;
    display: block;}
	.name_detail { width:180px; white-space:nowrap; overflow: hidden;    text-overflow: ellipsis; }
	
	.col1 { 
        
    
    position: sticky;
    left: 0;
    background: #cccccc;
    z-index: 2;
    -ms-flex: 0 0 350px;
    flex: 0 0 350px;
    max-width: 350px;
}
	
	.lastcol {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px !important;
    flex: 0 0 80px!important;
    max-width: 80px!important;
    position: sticky;
    right: 0;
}
.pointer {
    cursor: pointer;
}
.left_img{
    width: 8px !important;
    height: auto !important;
    float: right !important;
    position: relative !important;
    top: 4px !important;
}
.bg_even{
    background:#fff !important;
}
.bg_odd{
    background:#eaeaea !important;
}

.inner_rep .rep_row{ background:#eaeaea;}
	
.rep_row_odd{ background:#eaeaea !important;}
.rep_row_even { background:#fff !important;}

.ngx-pagination .current{
    background: transparent !important;
    color: #7777d6 !important;
    cursor: default;
}

.scroll_cls{
    overflow: auto;
}

.scroll_cls .col-1{
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
    max-width: 150px;
}

.bg-none{
    background: none !important;
}


.pagination_row {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    position: relative;

}


.row_per {
    left: 0;
    position: absolute;
    font-size: 14px;
    margin-left: 22px;
    
}
.page-link {
    border: none;
}

.row_per select {
    height: 32px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.export_option {
    right: 0;
    position: absolute;
}

.export_option .dropdown-toggle::after {
    display: none;
}

.export_option button {
    background: none;
    border: none;
    outline: none;
}
.export_option .dropdown-menu.show {
    position: relative;
}
.text_elipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.rep_row_even .bg-none{background:#fff !important;}
.rep_row_even  .col-1{background:#fff !important;}

.rep_row_odd  .col-1{background:#eaeaea !important;}
.rep_row_odd .bg-none{background:#eaeaea !important;}

.h_row .bg-none{    background: #eaeaea !important;}

.recent_pagination .page-item.current  div a {
    color: #2a87ea!important;
}

.pill:hover{ background:#2fa9e8; color:#fff; display:inline-block; border-radius: 20px;
    padding: 2px 12px;
    font-size: 14px; cursor:pointer;}
	
	.selected-item {    white-space: nowrap !important;
    text-overflow: ellipsis;
    color: #000;
    background: none !important;
    border: 0 !important;
   padding: 0!important;
    font-size: 12px!important;
    max-width: 64%!important;
    overflow: hidden;}
	
	.dropdown-up {border-bottom: 5px solid #adadad!important;
    border-left: 5px solid transparent!important;
    border-right: 5px solid transparent!important;}


    .page-link{
        color: black !important;
    }

    /* Animation Css */

    
@-webkit-keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
  
  
  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
   .g_ani2{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
        background: linear-gradient(to right, #ededed 8%, #e9e9e9 18%, #ededed 33%);
    background-size: 800px 104px;
    
    position: relative;
  }
  
   .g_ani3{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
       background: linear-gradient(to right, #d3d3d3 8%, #d3d3d3 18%, #cacaca 33%);
    background-size: 800px 104px;
    
    position: relative;
  }
  
  
  
  
  
  
   .g_ani3{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
        background: linear-gradient(to right, #dddddd 8%, #d5d5d5 18%, #d5d5d5 33%);
    background-size: 800px 104px;
    
    position: relative;
  }
  
  
  
  .g_ani{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    
    position: relative;
  }
  
  .gn1{ width:50%; height:40px;}
  .gn2{ width:50px; height:40px; float:right;}
  .gn3{ width:100%; height:37px;}
  .gn4 {    border-radius: 50%;
      width: 35px;
      height: 35px; display:inline-block;}
      .mleft8 {    margin-left: -9px !important;}
      .cg1 { height:20px; width:100%; margin-bottom:10px;}
      .cg2 { height:20px; width:40%; margin-bottom:10px;}
      .cg3 { height:30px; width:100%; margin-bottom:10px;}
      .cg4 { height:60px; width:100%; margin-bottom:10px;}
      
      
  .goa1{width:50%; height:40px;}
  .goa2{    width: 34%;
      height: 32px;
      display: inline-block;
      position: relative;
      top: 4px;}
  .p0 { padding:0;}
  
  
  .goa3{    margin-right: 5px;
      width: 38px;
      height: 38px;
      border-radius: 50%; display:block;}
      .goa4{ height:18px;
      display: block; width: 34%; margin-bottom:10px !important;}
      .goa5{ height:32px;
      display:block; width: 34%;}
      
  
  .goa6{    float: right;
      width: 61%;
      position: relative;
      top: 20px;
      height: 18px;
      display: block;}
      
          .goa7{ height:18px;
      display:block; width: 80%; margin:0  0 10px 0!important;}
      .goa8{ height:18px;
      display:block; width: 80%; margin:0  0 0px 0!important;}
      
      .goa9{ height:35px;
      display:block; width: 50%; margin:0  0 10px 0!important;}
      
      .goa10{ height:18px;
      display:block; width: 100%; margin:0  0 10px 0!important;}
      
      
      .goa11{   
      width: 10%;
      
      height: 18px;
      display: block; margin-bottom:8px !important;}
      
          
      .goa12{   
      width: 40%;
      
      height: 18px;
      display: block;}
      
      .goa13{   
      width: 100%;
      
      height: 18px;
      display: block;}
      
          .goa14{   
      width: 100%;
      
      height: 40px;
      display: block;     margin-bottom: 20px;}
      
          .goa15{   
      width: 100%;
      
      height: 18px;
      display: block; margin-bottom:8px;}
      
      
      .goa16{   
        height: 29px;
      display: inline-block;
      border-radius: 50px;
      padding: 4px 3px;
      width: 92px;
      margin-left: 18px;}
      .tabscls .nav-tabs .nav-item a.g_ani{    margin: 7px;
      height: 20px;}
      
      .gn3_s { display:block; height:15px; margin-bottom:5px;}
      
      .gn3_i{width: 56px;
      height: 45px;
      border-radius: 50%;
      margin: 0 15px;
      object-fit: cover;}

      .ani_sc .h_row .col-1{
        flex: 0 0 20% !important;
        max-width: 20% !important; margin: 0 auto;
      }

      .ani_sc .rep_row .col-1{
        flex: 0 0 20% !important;
        max-width: 20% !important; margin: 0 auto;
      }
      
   .skborder { border-bottom:1px solid #fff;}
	  .ani_sc .h_row .col-1.ani_fs {    -ms-flex: 0 0 350px!important;
    flex: 0 0 350px !important;
    max-width: 350px!important;}
	
    .ani_sc .h_row, .ani_sc .h_row .col-1{     background: #f3f3f3 !important;}
    

    .ani_sc .rep_row .col1{
        background: #f3f3f3;
    }

    .ani_sc .rep_row .col-1{
        background: #f3f3f3;
    }
	
    /* End Animation Css */

    

.main{
    padding-top: 26px;
}

.top-c{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.c_custom1c{
    display: inline-block;
    width: 225px;
    height: 50px;
    float: left;
    padding-top: 25px;
    text-align: center;
}
.img_width{
    background: #eaeaea;
    display: inline-block;
    width: 50px;
    height: 50px;
    float: right;
    padding-top: 14px;
}

.left_img{
    width: 9px !important;
    height: auto !important;
    float: right !important;
    position: relative !important;
    top: 3px !important;
}

.cursor{
    cursor: pointer;
}

.bg_even{
    background:#fff !important;
}
.bg_odd{
    background:#eaeaea !important;
}