<div class="main">
  <div class="scroll" *ngIf="isLoading">
    <div class="scroll_inner ani_sc" style="overflow: hidden;">

      <div class="row h_row skborder">
        <div class="col-1 ani_fs">
          <div class="g_ani3 gn3"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3"></div>
        </div>

      </div>

      <div class="row rep_row">
        <div class="col-2 col1">
          <div class="inner_1">

            <span class=" g_ani3 gn3_i"></span>

            <div class="name_detail">
              <div class="g_ani3 gn3_s"></div>
              <div class="g_ani3 gn3_s"></div>
            </div>

          </div>

        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>

      </div>

    </div>

  </div>
  <ng-scrollbar id="scrollBar" *ngIf="!isLoading" #scrollable track="horizontal" pointerEventsMethod="scrollbar">
    <div class="min_w" [ngStyle]="{'width': width}">
      <div class="row h_row" #stickyDiv>
        <div class="col-2 col1 bg-none">
          <div class="c_custom1c">
            {{translation?.reporting_name_and_email}}
          </div>
          <div class="img_width">
            <img *ngIf="showArrowLeft()" (click)="scrollLeft()" class="cursor left_img " src="assets/img/Path.svg">
          </div>
        </div>
        <ng-container *ngFor="let value of headers; index as i">

          <div class="col-1" [tooltip]='value.name.length > 30 ? value.name: ""' placement="bottom">
            {{(value.name.length > 30)? (value.name | slice: 0:30)+'...':(value.name)}}
          </div>
        </ng-container>
        
        <div class="col-1 lastcol">
          <img *ngIf="showArrowRight()" class="cursor" (click)="scrollRight()" src="assets/goals/img/right_op.svg">
        </div>
        <!-- <div class="col-1 lastcol"></div> -->

      </div>

      <ng-container *ngIf="attributes.length > 0">
        <ng-container *ngFor="let coach of attributes | paginate: config;  index as i ">
          <div class="row rep_row" [ngClass]="i%2?'rep_row_odd':'rep_row_even'">
            <div class="col-2 col1 bg-none">
              <div class="inner_1">
                <b>{{coach.huddle_role}}</b>
                <img [src]="getImage(coach.user_id , coach.image)">

                <div class="name_detail">
                  <label [tooltip]='coach.user_name.length > 23 ? coach.user_name: ""'>{{coach.user_name}}</label>
                  <p  [tooltip]='coach.email.length > 23 ? coach.email: ""'>{{coach.email}}</p>
                </div>

              </div>

            </div>
            <ng-container *ngFor="let c of coach | keyvalue: originalOrder; index as j">
              <div *ngIf="j<headers.length" class="col-1">
                <span class="pill" *ngIf="!isNumeric(c.value)" (click)="navigateToDetail(coach , j)">{{c.value}}</span>
                <span *ngIf="isNumeric(c.value)">{{c.value}}</span>

              </div>
              <!-- <div class="col-1 lastcol" *ngIf="j==headers.length && !coach.collapse"
                      (click)="turnOnCollapse(coach)"><img src="assets/trackers/couching-report/img/arrow_down.svg">
                    </div>
                    <div class="col-1 lastcol" *ngIf="j==headers.length && coach.collapse"
                      (click)="coach.collapse = false"><img src="assets/trackers/couching-report/img/arrow_up.svg">
                    </div> -->
            </ng-container>
            <div *ngIf="headers.length > 6" [ngClass]="i%2?' lastcol bg_odd':' lastcol bg_even'">
              <!-- FOR RIGHT -->
            </div>
          </div>
          <!-- <ng-container *ngIf="coach.collapse">
            <ng-scrollbar track="vertical" pointerEventsMethod="scrollbar" >
            <ng-container *ngFor="let caochee of coach.coachees | keyvalue: originalOrder; index as k">
              <div class="inner_rep">

                <div class="row rep_row" [ngClass]="k%2?'rep_row_odd':'rep_row_even'">
                  <div class="col-2 col1 bg-none">
                    <div class="inner_1">
                      <img [src]="getImage(caochee.value.user_id , caochee.value.image)">

                      <div class="name_detail">
                        <label>{{caochee.value.user_name}}</label>
                        <p>{{caochee.value.email}}</p>
                      </div>

                    </div>

                  </div>
                  <ng-container *ngFor="let ce of caochee.value | keyvalue: originalOrder; index as l">
                    <div class="col-1" *ngIf="l<headers.length">
                      <span class="pill" *ngIf="!isNumeric(ce.value)">{{ce.value}}</span>
                      <span *ngIf="isNumeric(ce.value)">{{ce.value}}</span>
                    </div>
                  </ng-container>
                  <div class="col-1 lastcol"></div>
                </div>

              </div>
            </ng-container>
            </ng-scrollbar>
          </ng-container> -->
        </ng-container>
      </ng-container>

    </div>
  </ng-scrollbar>
  <div class="top-c" *ngIf="attributes.length == 0 && !isLoading">


    <p class="font-h"><img src="assets/img/nogoal_icon.svg"> No Data Found
    </p>
  </div>
</div>