 .an_box{
	text-align:center;
	background-color: #FFF;
	border: 1px solid #DAD6CE;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	padding-top: 20px; margin-bottom: 20px;
}
.an_boxb{
	background:#f5f5f5;
	padding: 6px 10px 7px 10px;
	border-top:1px solid #cccccc;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	color:#3e3e3e; font-size:14px;
	font-family: 'Conv_Roboto-Regular';
}
.an_img { min-height:30px;}



.box_main { margin:0;}
.ac_box{border: 1px solid #DAD6CE;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  padding: 27px 5px 20px 5px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 22.6%;
      flex: 0 0 22.6%;
    max-width: 24%;
    margin: 1.2%;}
.ac_box strong{ font-size:18px;}
.ac_box p {       margin: 20px 0 7px 0;     font-size: 14px;}
.ac_box strong{margin: 0;
    font-weight: 800;
	font-size: 26px;}
	.img_bx{
        height: 60px !important;
    }
.img_bx img { max-height: 70px !important; }




