<!-- <div class="row">
  <div class="col-md-3">
    <div *ngIf="!dataLoaded" class="an_box">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </div>
    <div *ngIf="dataLoaded" class="an_box">
      <div class="an_img"><img src="assets/img/total_users.svg"></div>
      <label>{{overview_data?.total_account_users}}</label>
      <div class="an_boxb"> {{translation?.analytics_total_user}}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div *ngIf="!dataLoaded" class="an_box">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </div>
    <div *ngIf="dataLoaded" class="an_box">
      <div class="an_img"><img src="assets/img/active_user.svg"></div>
      <label>{{overview_data?.active_users}}</label>
      <div class="an_boxb"> {{translation?.analytics_active_users}}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div *ngIf="!dataLoaded" class="an_box">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </div>
    <div *ngIf="dataLoaded" class="an_box">
      <div class="an_img"><img src="assets/img/huddles.svg"></div>
      <label>{{overview_data?.total_account_huddles}}</label>
      <div class="an_boxb">
        {{translation?.analytics_huddles}}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div *ngIf="!dataLoaded" class="an_box">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </div>
    <div *ngIf="dataLoaded" class="an_box">
      <div class="an_img"><img src="assets/img/total_video_uploaded.svg">
      </div>
      <label>{{overview_data?.total_account_videos}}</label>
      <div class="an_boxb"> {{translation?.analytics_total_videos_upload}}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div *ngIf="!dataLoaded" class="an_box">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </div>
    <div *ngIf="dataLoaded" class="an_box">
      <div class="an_img"><img src="assets/img/comments_added.svg">
      </div>
      <label>{{overview_data?.total_comments_added}}</label>
      <div class="an_boxb"> {{translation?.analytics_comment_added}}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div *ngIf="!dataLoaded" class="an_box">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </div>
    <div *ngIf="dataLoaded" class="an_box">
      <div class="an_img"><img src="assets/img/video_view.svg">
      </div>
      <label>{{overview_data?.total_viewed_videos}}</label>
      <div class="an_boxb"> {{translation?.analytics_video_views}}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div *ngIf="!dataLoaded" class="an_box">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </div>
    <div *ngIf="dataLoaded" class="an_box">
      <div class="an_img"><img src="assets/img/total_video_uploaded.svg">
      </div>
      <label>{{overview_data?.total_video_duration | number : '1.2-2'}}</label>
      <div class="an_boxb"> {{translation?.analytics_video_hours_uploaded}}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div *ngIf="!dataLoaded" class="an_box">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </div>
    <div *ngIf="dataLoaded" class="an_box">
      <div class="an_img"><img src="assets/img/video_view.svg">
      </div>
      <label>{{overview_data?.total_min_watched}}</label>
      <div class="an_boxb"> {{translation?.analytics_video_hours_viewed}}
      </div>
    </div>
  </div>
  <div *ngIf="isLiveStreamingEnabled?.enable_live_rec==1" class="col-md-3">
    <div *ngIf="!dataLoaded" class="an_box">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </div>
    <div *ngIf="dataLoaded" class="an_box">
      <div class="an_img"><img src="assets/img/live_session.svg">
      </div>
      <label>{{overview_data?.total_live_sessions}}</label>
      <div class="an_boxb"> {{translation?.analytics_live_session}}
      </div>
    </div>
  </div>
  <div *ngIf="isLiveStreamingEnabled?.enable_live_rec==1" class="col-md-3">
    <div *ngIf="!dataLoaded" class="an_box">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </div>
    <div *ngIf="dataLoaded" class="an_box">
      <div class="an_img"><img src="assets/img/live_hour.svg">
      </div>
      <label>{{overview_data?.total_live_vide_duration}}</label>
      <div class="an_boxb"> {{translation?.analytics_live_hours_streamed}}
      </div>
    </div>
  </div>
  <div *ngIf="isLiveStreamingEnabled?.enable_live_rec==1" class="col-md-3">
    <div *ngIf="!dataLoaded" class="an_box">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </div>
    <div *ngIf="dataLoaded" class="an_box">
      <div class="an_img"><img src="assets/img/liveHourView.svg">
      </div>
      <label>{{overview_data?.total_live_min_watched}}</label>
      <div class="an_boxb"> {{translation?.analytics_live_hours_viewed}}
      </div>
    </div>
  </div>
  <div *ngIf="isLiveStreamingEnabled?.enable_live_rec==1" class="col-md-3">
    <div *ngIf="!dataLoaded" class="an_box">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </div>
    <div *ngIf="dataLoaded" class="an_box">
      <div class="an_img"><img src="assets/img/total_users.svg">
      </div>
      <label>{{overview_data?.total_viewers}}</label>
      <div class="an_boxb"> {{translation?.analytics_total_live_viewers}}
      </div>
    </div>
  </div>
</div> -->



<div class="row box_main">
  <div class="col-md-3 ac_box">
    <ng-container *ngIf="!dataLoaded">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </ng-container>
    <ng-container *ngIf="dataLoaded">
      <div class="img_bx">
        <img  src="assets/img/analytics/total_user.png">
      </div>
      <p>{{translation?.analytics_total_user}}</p>
      <strong>{{overview_data?.total_account_users}}</strong>
    </ng-container>
  </div>

  <div class="col-md-3 ac_box">
    <ng-container *ngIf="!dataLoaded">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </ng-container>
    <ng-container *ngIf="dataLoaded">
      <div class="img_bx">
        <img  src="assets/img/analytics/active_user.png">
      </div>
      <p>{{translation?.analytics_active_users}}</p>
      <strong>{{overview_data?.active_users || 0}}</strong>
    </ng-container>
  </div>

  <div class="col-md-3 ac_box">
    <ng-container *ngIf="!dataLoaded">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </ng-container>
    <ng-container *ngIf="dataLoaded">
      <div class="img_bx">
        <img src="assets/img/analytics/huddle_icons.png">
      </div>
      <p> {{translation?.analytics_huddles}}</p>
      <strong>{{overview_data?.total_account_huddles || 0}}</strong>
    </ng-container>
  </div>

 


  <div class="col-md-3 ac_box">
    <ng-container *ngIf="!dataLoaded">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </ng-container>
    <ng-container *ngIf="dataLoaded">
      <div class="img_bx">
        <img src="assets/img/analytics/total_video.png">
      </div>
      <p>{{translation?.analytics_total_videos_upload}}</p>
      <strong>{{overview_data?.total_account_videos || 0}}</strong>
    </ng-container>
  </div>


  <div class="col-md-3 ac_box">
    <ng-container *ngIf="!dataLoaded">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </ng-container>
    <ng-container *ngIf="dataLoaded">
      <div class="img_bx">
        <img src="assets/img/analytics/comm_added.png">
      </div>
      <p>{{translation?.analytics_comment_added}}</p>
      <strong>{{overview_data?.total_comments_added || 0}}</strong>
    </ng-container>
  </div>

  <div class="col-md-3 ac_box">
    <ng-container *ngIf="!dataLoaded">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </ng-container>
    <ng-container *ngIf="dataLoaded">
      <div class="img_bx">
        <img src="assets/img/analytics/video_viewed.png">
      </div>
      <p> {{translation?.analytics_video_views}}</p>
      <strong>{{overview_data?.total_viewed_videos || 0}}</strong>
    </ng-container>
  </div>

  <div class="col-md-3 ac_box">
    <ng-container *ngIf="!dataLoaded">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </ng-container>
    <ng-container *ngIf="dataLoaded">
      <div class="img_bx">
        <img src="assets/img/analytics/vhu.png">
      </div>
      <p>{{translation?.analytics_video_hours_uploaded}}</p>
      <strong>{{(overview_data?.total_video_duration | number : '1.2-2' || 0)}}</strong>
    </ng-container>
  </div>

  <div class="col-md-3 ac_box">
    <ng-container *ngIf="!dataLoaded">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </ng-container>
    <ng-container *ngIf="dataLoaded">
      <div class="img_bx">
        <img src="assets/img/analytics/vhv.png">
      </div>
      <p>{{translation?.analytics_video_hours_viewed}}</p>
      <strong>{{overview_data?.total_min_watched || 0}}</strong>
    </ng-container>
  </div>

    <div class="col-md-3 ac_box">
        <ng-container *ngIf="!dataLoaded">
            <div class="ana_cl an_ah4"> </div>
            <div class="ana_cl an_ah5"> </div>
        </ng-container>
        <ng-container *ngIf="dataLoaded">
            <div class="img_bx">
                <img src="assets/img/analytics/resource_count.png">
            </div>
            <p>{{translation?.analytics_leaderboard_resources_uploaded}}</p>
            <strong>{{overview_data?.total_documents_uploaded || 0}}</strong>
        </ng-container>
    </div>
    <div class="col-md-3 ac_box">
        <ng-container *ngIf="!dataLoaded">
            <div class="ana_cl an_ah4"> </div>
            <div class="ana_cl an_ah5"> </div>
        </ng-container>
        <ng-container *ngIf="dataLoaded">
            <div class="img_bx">
                <img src="assets/img/analytics/resource_comments.png">
            </div>
            <p>{{translation?.analytics_leaderboard_resources_comments}}</p>
            <strong>{{overview_data?.total_documents_comments || 0}}</strong>
        </ng-container>
    </div>
    <div class="col-md-3 ac_box">
        <ng-container *ngIf="!dataLoaded">
            <div class="ana_cl an_ah4"> </div>
            <div class="ana_cl an_ah5"> </div>
        </ng-container>
        <ng-container *ngIf="dataLoaded">
            <div class="img_bx">
                <img src="assets/img/analytics/view_resource.png">
            </div>
            <p>{{translation?.analytics_leaderboard_resources_viewed}}</p>
            <strong>{{overview_data?.total_documents_viewed || 0}}</strong>
        </ng-container>
    </div>

    <div class="col-md-3 ac_box">
        <ng-container *ngIf="!dataLoaded">
            <div class="ana_cl an_ah4"> </div>
            <div class="ana_cl an_ah5"> </div>
        </ng-container>
        <ng-container *ngIf="dataLoaded">
            <div class="img_bx">
                <img src="assets/img/analytics/comm_added.png">
            </div>
            <p>{{translation?.analytics_leaderboard_discussion_posts}}</p>
            <strong>{{overview_data?.total_discussion_posts || 0}}</strong>
        </ng-container>
    </div>

  <div class="col-md-3 ac_box" *ngIf="isLiveStreamingEnabled?.enable_live_rec==1">
    <ng-container *ngIf="!dataLoaded">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </ng-container>
    <ng-container *ngIf="dataLoaded">
      <div class="img_bx">
        <img src="assets/img/analytics/live_session.png">
      </div>
      <p>{{translation?.analytics_live_session}}</p>
      <strong>{{overview_data?.total_live_sessions  || 0}}</strong>
    </ng-container>
  </div>

  <div class="col-md-3 ac_box" *ngIf="isLiveStreamingEnabled?.enable_live_rec==1">
    <ng-container *ngIf="!dataLoaded">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </ng-container>
    <ng-container *ngIf="dataLoaded">
      <div class="img_bx">
        <img src="assets/img/analytics/lhs.png">
      </div>
      <p>{{translation?.analytics_live_hours_streamed}}</p>
      <strong>{{overview_data?.total_live_vide_duration || 0}}</strong>
    </ng-container>
  </div>

  <div class="col-md-3 ac_box" *ngIf="isLiveStreamingEnabled?.enable_live_rec==1">
    <ng-container *ngIf="!dataLoaded">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </ng-container>
    <ng-container *ngIf="dataLoaded">
      <div class="img_bx">
        <img src="assets/img/analytics/lhv.png">
      </div>
      <p>{{translation?.analytics_live_hours_viewed}}</p>
      <strong>{{overview_data?.total_live_min_watched || 0}}</strong>
    </ng-container>
  </div>

  <div class="col-md-3 ac_box" *ngIf="isLiveStreamingEnabled?.enable_live_rec==1">
    <ng-container *ngIf="!dataLoaded">
      <div class="ana_cl an_ah4"> </div>
      <div class="ana_cl an_ah5"> </div>
    </ng-container>
    <ng-container *ngIf="dataLoaded">
      <div class="img_bx">
        <img src="assets/img/analytics/thv.png">
      </div>
      <p> {{translation?.analytics_total_live_viewers}}</p>
      <strong>{{overview_data?.total_viewers || 0}}</strong>
    </ng-container>
  </div>
</div>