.alert_bg img {
    width: 24px;
    position: relative;
    top: 13px;
}
.share_btn{
    text-align: right;
    }
	
	@media screen and (min-width: 1300px){
	.dsi_col1 {    -ms-flex: 0 0 8.333333%;
    flex: 0 0 6.333333%;
    max-width: 6.333333%; padding: 0 20px 0 5px;}
	}

    .linemargine{
      margin: 10px -10px;
    }

    
    .filter_cls button {
        border: 0;
        padding: 0;
        background: none;
        outline: none !important;
        cursor: pointer;
    }

    .filter_cls .dropdown-toggle::after {
        display: none;
    }
    .filter_img_size{
        max-width: 26px !important;
    }
    .filter_cls .dropdown-menu {
        min-width: 143px!important;
        padding: 10px 6px 6px 9px!important;
        left: -98px!important;
    }

    .language_sp .filter_cls .dropdown-menu {
        min-width: 163px!important;
        padding: 10px 6px 6px 9px!important;
        left: inherit !important;
        right: 10px !important;
    }

    .filter_cls .dropdown-menu a {
        font-size: 14px !important;
        background: none !important;
        color: #484848;
        margin-bottom: 5px;
    }

    .cur_icon {
        display: inline-block;
        width: 20px;
        margin-left: 10px;
    }

    .filter_cls .dropdown-menu a svg {
        float: right;
        width: 12px;
        height: 12px;
        position: relative;
        top: 4px;
        right: -9px;
    }

    .dropdown-menu.sort2 a.dropdown-item.active svg path {
        fill: #057eff !important;
    }
    .dropdown-menu.sort2 a.dropdown-item.active{
        font-weight: 400;
        color: #057eff!important
    }

    .dropfnt{
        font-weight: 500;
    }