<img [hidden]="true" src="assets/video-huddle/img/c1.png" />  
<ng-container *ngIf="!Loadings.isNextPageLoading && discussions.length == 0 && !bysearch">
  <no-discussion></no-discussion>
</ng-container>
<ng-container *ngIf="discussions.length > 0 || bysearch">
<div class="discuss_counts">
  <ng-container *ngIf="total_discussions >= 0"> {{translation?.discussion_huddle_discussions}} ({{ total_discussions }}) </ng-container>
  <ng-container  *ngIf="total_discussions < 0"> <div class="animate_me ar_co"></div> </ng-container>
</div>

<div class="hu_search">
  <input
    type="text"
    autocomplete="off"
    id="searchString"
    placeholder="{{translation?.artifacts_search}}"
    [(ngModel)]="SearchString"
    (ngModelChange)="OnSearchChange($event)"
    #searchString
  />
  <img *ngIf="SearchString?.length> 0" src="./assets/img/x.svg" (click)=" OnSearchChange('');SearchString='';">
</div>

<div class="filter_cls dropdown" dropdown>
  <button
    type="button"
    dropdownToggle
    class="dropdown-toggle"
    data-toggle="dropdown"
  >
    <img class="filter_img_size" src="assets/video-huddle/img/filter_icon.svg" width="30" />
  </button>
  <ul class="dropdown-menu sort2" *dropdownMenu>
    <a class="dropdown-item dropfnt">{{translation?.discussion_sort}}</a>
    <a
      class="dropdown-item active"
      [class.active]="selectedSort == filterOptions.topic"
      (click)="setSortLS('topic',1);setQueryparams('topic', filterOptions.topic)"
      >{{translation?.discussion_topic}}
      <svg *ngIf="selectedSort == filterOptions.topic" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
      viewBox="0 0 8 8">
      <path
          d="M6.41 0l-.69.72-2.78 2.78-.81-.78-.72-.72-1.41 1.41.72.72 1.5 1.5.69.72.72-.72 3.5-3.5.72-.72-1.44-1.41z"
          transform="translate(0 1)" />
  </svg></a>

    <a
      class="dropdown-item"
      [class.active]="selectedSort == filterOptions.date_created"
      (click)="setSortLS('date_created',2);setQueryparams('date_created', filterOptions.date_created)"
      >{{translation?.discussion_date_created}}
      <svg *ngIf="selectedSort == filterOptions.date_created" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
      viewBox="0 0 8 8">
      <path
          d="M6.41 0l-.69.72-2.78 2.78-.81-.78-.72-.72-1.41 1.41.72.72 1.5 1.5.69.72.72-.72 3.5-3.5.72-.72-1.44-1.41z"
          transform="translate(0 1)" />
  </svg></a>

    <a
      class="dropdown-item"
      [class.active]="selectedSort == filterOptions.last_modified"
      (click)="setSortLS('last_modified',3);setQueryparams('last_modified', filterOptions.last_modified)"
      >{{translation?.artifact_last_modified}}
      <svg *ngIf="selectedSort == filterOptions.last_modified" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
      viewBox="0 0 8 8">
      <path
          d="M6.41 0l-.69.72-2.78 2.78-.81-.78-.72-.72-1.41 1.41.72.72 1.5 1.5.69.72.72-.72 3.5-3.5.72-.72-1.44-1.41z"
          transform="translate(0 1)" />
  </svg></a>

    <a
      class="dropdown-item"
      [class.active]="selectedSort == filterOptions.created_by"
      (click)="setSortLS('created_by',4);setQueryparams('created_by', filterOptions.created_by)"
      >{{translation?.artifact_created_by}}
      <svg *ngIf="selectedSort == filterOptions.created_by" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
      viewBox="0 0 8 8">
      <path
          d="M6.41 0l-.69.72-2.78 2.78-.81-.78-.72-.72-1.41 1.41.72.72 1.5 1.5.69.72.72-.72 3.5-3.5.72-.72-1.44-1.41z"
          transform="translate(0 1)" />
  </svg></a>

    <a
      class="dropdown-item"
      [class.active]="selectedSort == filterOptions.unread"
      (click)="setSortLS('unread',5);setQueryparams('unread', filterOptions.unread)"
      >{{translation?.discussion_unread}}
      <svg *ngIf="selectedSort == filterOptions.unread" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
      viewBox="0 0 8 8">
      <path
          d="M6.41 0l-.69.72-2.78 2.78-.81-.78-.72-.72-1.41 1.41.72.72 1.5 1.5.69.72.72-.72 3.5-3.5.72-.72-1.44-1.41z"
          transform="translate(0 1)" />
  </svg></a>
  <hr class="linemargine">
  <a class="dropdown-item dropfnt">{{translation?.discussion_export}}</a>
  <!-- <hr class="linemargine"> -->
  <a
   class="dropdown-item"
   [class.active]="selectedSort == filterOptions.export_word"
   (click)="huddleExportData('word')"
   >{{translation?.discussion_word}}
   <svg *ngIf="selectedSort == filterOptions.export_word" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
   viewBox="0 0 8 8">
   <path
       d="M6.41 0l-.69.72-2.78 2.78-.81-.78-.72-.72-1.41 1.41.72.72 1.5 1.5.69.72.72-.72 3.5-3.5.72-.72-1.44-1.41z"
       transform="translate(0 1)" />
 </svg></a>
   <a
   class="dropdown-item"
   [class.active]="selectedSort == filterOptions.export_pdf"
   (click)="huddleExportData('pdf')"
   >{{translation?.myfile_pdf | uppercase}}
   <svg *ngIf="selectedSort == filterOptions.export_pdf" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
   viewBox="0 0 8 8">
   <path
       d="M6.41 0l-.69.72-2.78 2.78-.81-.78-.72-.72-1.41 1.41.72.72 1.5 1.5.69.72.72-.72 3.5-3.5.72-.72-1.44-1.41z"
       transform="translate(0 1)" />
</svg></a>

  </ul>
</div>
<div class="clear"></div>
<div class="row huddle_dis_heading dist_hed">
  <div class="col-md-1 dsi_col1"></div>
  <div class="col-md-4">{{translation?.discussion_topic}}</div>
  <div class="col-md-2">{{translation?.discussion_created}}</div>
  <div class="col-md-2 list_center po_sp">{{translation?.discussion_posts}}</div>
  <div class="col-md-2 list_center po_sp">{{translation?.vd_attachment}}</div>
  <div class="col-md-2 list_center un_sp">{{translation?.discussion_unread}}</div>
  <div class="col-md-1"></div>
</div>
</ng-container>
<ng-container *ngFor="let item of discussions | orderBy:sort:isReverse:true">
  <single-discussion
    [discussion]="item"
    [discssionRoles]="discssionRoles"
    [params]="params"
    class="row huddle_dis_row dics_dot"
    style="cursor: pointer;"
    (onDelete)="onDiscussionDelete($event)"
  ></single-discussion>

</ng-container>
<ng-container *ngIf="Loadings.isNextPageLoading">
  <discussion-loading
    *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
    class="row huddle_dis_row"
  >
  </discussion-loading>
</ng-container>

<ng-container *ngIf="!Loadings.isNextPageLoading && discussions.length == 0 && bysearch">
  <no-discussion></no-discussion>
</ng-container>
<!--delete modal start-->
<ng-template #deleteTemplate>
  <ng-container  *ngIf="!showConfirmationDialog; else other_content">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{translation?.huddle_list_confirmation_required}}</h4>
      <button
        type="button"
        class="close"
        (click)="ModalRefs.deletableDiscussion.hide()"
      >
        &times;
      </button>
    </div>
    <div class="modal-body">
      <div class="alert_bg row">
        <div class="col-2">
          <img src="assets/video-huddle/img/alert_i.svg" />
        </div>
        <div class="col-10">
          <h6>
            {{translation?.discussion_you_are_about_to_delete_discussion}}:
            {{ deletableDiscussion?.title }}
          </h6>
        </div>
      </div>
    </div>
    <div class="modal-footer hufooter">
      <div class="col-12">
        <a (click)="ModalRefs.deletableDiscussion.hide()">{{translation?.discussion_cancel}}</a>
        <a class="conf_delete" (click)="ConfirmDelete()">{{translation?.discussion_delete}}</a>
      </div>

    </div>
  </div>
  </ng-container>
</ng-template>
<ng-template #other_content>
  <div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{translation?.huddle_list_confirmation_required}}</h4>
        <button type="button" class="close" (click)="ModalRefs.deletableDiscussion.hide()">×</button>


    </div>
    <div class="modal-body">
        <div class="alert_bg singleline row">
            <div class="col-2">
                <img src="./assets/img/alert_i.svg">
            </div>
            <div class="col-10">
               <h6>  {{translation?.about_to_delete_discussion_thread_you_didnt}}
                <b>{{ deletableDiscussion?.title }}</b></h6>
                <p>{{translation?.all_data_deleted_associated_huddle}}</p>
            </div>
        </div>
        <div class="f_name">
            <p>{{translation?.huddle_resource_type}} {{Inputs.ConfirmationKey}} {{translation?.huddle_list_to_confrim}}</p>
            <input type="text" class="form-control" [(ngModel)]="Inputs.Confirmation" (keydown)="TriggerTextChangeConfig($event)">
        </div>

    </div>
    <div class="modal-footer hufooter">
        <div class="col-12">
            <a class="fake_link" (click)="ModalRefs.deletableDiscussion.hide()">
                {{translation?.vd_cancel}}
            </a>
            <a class="conf_delete fake_link" (click)="ConfirmDeleteWithConfig()" >
                {{translation?.delete_all}}
            </a>
        </div>


    </div>
</div>
  </ng-template>

<!--delete modal end-->
