
	/**POPUP Start**/

	.f_name { padding-bottom:15px;}
.sharepopup  .hufooter { padding-top:0;}
.share_popup { padding-bottom:0;}

.footerm .row{     width: 94%;
    border-top: 1px solid #e9ecef;
    padding-top: 16px;
    padding-bottom: 3px;
    margin: 0 3%;}
.pointer{
    cursor: pointer;
}
.footerm .share_btn{ padding-right:0;     border-top: 1px solid #ddd;
    padding-top: 13px;}
.footerm .col-6 { padding-left:0;}
.footerm{ border:0;          padding: 0 18px 20px 18px;}
.share_btn { text-align:right;}
.footerm button{        padding: 10px 28px;
    margin-left: 10px;
    font-size: 14px; margin-left: 10px; }
.footerm button:focus { box-shadow: 0 0 0 0rem rgba(0,123,255,.25);}
.footerm .btn-default{ background:none;}
.footerm .btn-success{ background:#28A745; border:0;}
.share_popup .tab-pane { min-height:100px;}
.footerm .btnpreview{ background:#057EFF; color:#fff;}
.share_popup .nav-tabs .nav-item {
    margin-bottom: -1px;
    border: 1px solid #ddd;
      padding: 6px 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
      margin-left: 0;      width: 33.33%; border-bottom: 0; text-align: center;
}

   .share_popup .nav-tabs .nav-item a{ color:#A0A0A0; text-decoration:none;     font-size: 15px;}
   .share_popup .nav-tabs .nav-item a.active{ color:#1C7CD5;}

  .share_popup .nav-tabs { border:0;     position: relative;
    }
  .share_popup .tab-content { border-top:1px solid #E4E4E4;     margin: 0 -15px;
    padding: 15px;}
	.sharepopup .hu_search{ width:100%;     margin-bottom: 10px;}


	.sharepopup h4 {
    color: #484848;
    font-size: 18px;
    margin: 10px 0px;
}

	.modal-title {font-family: 'Roboto', sans-serif; font-weight:400;
    font-size: 18px;    display: block; color: #484848;
    text-align: center;
    width: 95%; }
	.close {
    float: right;
    font-size: 28px !important;
    font-weight: 100 !important;
    line-height: 18px !important;}

	/*cat popup*/
	.add_cat_row .form-control{ width:86%;
    display: inline-block;     font-size: 14px;
    padding: 7px 10px;}
	.add_cat_row button{ background: #057EFF;
    color: #fff;
    border: 0;
    width: 13%;
    padding: 6px;
    border-radius: 4px; cursor:pointer;}
	.manage_popup p{    color: #7B7B7B;
    font-size: 14px;
        font-style: italic;     margin-bottom: 0;}

		.manage_popup a{ color:#057EFF;}

		.manage_popup h4{ color:#484848; font-size:18px;     margin: 10px 0px;}
		.manage_popup .col-md-12 { padding:0 25px;}
		.manage_popup .row{ margin:0 -25px;}
		.r_border{    border-right: 1px solid #ddd;}
		.pop_cal_list { height:250px; overflow:auto;}
		.pop_cal_list ul { margin:0; padding:0; list-style:none;}
		.pop_cal_list ul li{ color:#616161; font-size:14px; padding:4px 0; cursor:pointer;}
		.pop_cal_list ul li:hover{ color:#057EFF;}
		.cat_option {    float: right;
    text-align: right;
    width:18%;}
	.cat_option button {
    border: 0;
    padding: 0;
    background: none;
    outline: none !important;
    cursor: pointer !important;
}

.cat_option .dropdown-menu {
   min-width: 74px !important;
    padding: 10px 0px 6px 0px !important;
    right: 5px;
    left: initial !important;
    transform: translate3d(0px, 20px, 0px) !important;
}
.cat_option .dropdown-menu a {
    padding: 1px 14px 5px 14px;
    font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 0;
    cursor: pointer !important;
}
.cat_option .dropdown-toggle::after{ display:none;}
.cat_option img { max-width:22px;}
		.not_ac { opacity:0.6;}
		.add_cat_row { padding-top:10px;}
		.cat_listouter { min-height:190px; }

	/*cat popup end*/

	/*cat  start*/
	.cat_listouter1{    padding-top: 4px;}
	.manage_popup .col-12 {
    padding: 0 25px 20px 25px ;
}

	/*owner*/
.owner_pop{padding: 1rem 32px; min-height:360px;}
	.owner_h { font-weight: 500;          border-bottom: 1px solid #ddd; font-size: 14px; margin-bottom: 10px;padding-bottom: 12px;}
  .owner_h .col-6, .owner_nr .col-6{ padding-left: 0; white-space: normal;    word-break: break-all; font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;    padding-right: 30px;
  }
  .owner_nr { padding: 10px 0; position:relative; font-size: 14px; margin:0;}
	.br_sky{ background: #057EFF !important; }
  .owner_nr .col-6 img { margin-right:5px; width: 35px; height: 35px; border-radius: 50%;    object-fit: cover;
}
 .owner_nr .col-2 img { margin-right:5px; width: 35px; height: 35px; border-radius: 50%;    object-fit: cover;
}
.collab_pop .slimscroll-wrapper{ margin-left:-15px !important; margin-right:-15px !important;}
.ow_srch { padding:0; margin-bottom:12px; padding-bottom: 20px; border-bottom: 1px solid #ddd;}
.br0 { border-radius: 0 !important;
    object-fit: contain !important;}
	.cross_ow { position:absolute; right:0; top:15px; cursor:pointer;}

/*Owner*/
/*Add New Start*/

.newgoal_popup .g_role i{    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 4px;}

 .g_role_pop {
    justify-content: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    }
	.g_role_pop .btn-secondary {
    border-color: #cccccc !important;
    background: #fff !important;
    color: #484848 !important;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 15px;
    line-height: 27px;
    margin-right: -3px; box-shadow: 0 0 0 0rem rgba(108,117,125,.5) !important;}

.g_role_pop .active {
    background: #f5f5f5 !important;
    color: #484848 !important;
    border-color: #cccccc !important;
}

.g_role_pop .btn-secondary img { position:relative; top:-2px; margin-right:2px;}
.g_role_pop { margin:20px 0px;     width: 100%;}
.g_role_pop  .rck { display:none;}
.g_role_pop .active .rck { display:inline-block;}
.g_role_pop  .active .run { display:none;}
.g_role_pop .btn-secondary i{display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 4px;}
.mb50{ margin-bottom:50px;}

/*Add New End*/

/*Collaborators Start*/

.owner_h .col-2{ padding-left:0;     -webkit-box-flex: 0;
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;}

.owner_h .col-3{ padding-left:0;     -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;}
 .owner_h .col-7{ padding-left:0;     -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;}


.owner_nr .col-2{ padding-left:0;     -webkit-box-flex: 0;
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;     margin-top: auto;
    margin-bottom: auto;}
.owner_nr .col-3{ padding-left:0;     -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;     margin-top: auto;
    margin-bottom: auto;}
.owner_nr .col-7{ padding-left:0;   -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;     margin-top: auto;
    margin-bottom: auto;}
	.collab_pop .cross_ow{ top:7px;}


 .collab_btn {
    justify-content: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    }
	.collab_btn .btn-secondary {
    border-color: #cccccc !important;
    background: #fff !important;
    color: #484848 !important;
    padding-right: 6%;
    padding-left: 6%;
    font-size: 15px;
    line-height: 27px;
    margin-right: -3px; box-shadow: 0 0 0 0rem rgba(108,117,125,.5) !important;}

	.collab_btn .btn-secondary.dis_colla{color: #d7d7d7 !important; pointer-events:none;}

.collab_btn .active {
    background: #f5f5f5 !important;
    color: #484848 !important;
    border-color: #cccccc !important;
}

.collab_btn .btn-secondary img { position:relative; top:-2px; margin-right:2px;}
.collab_btn { margin:0px 0px;     width: 100%;}
.collab_btn  .rck { display:none;}
.collab_btn .active .rck { display:inline-block;}
.collab_btn  .active .run { display:none;}
.collab_btn .btn-secondary i{display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 4px;}

	.owner_nr .col-3 label{ display:block; white-space:nowrap; overflow:hidden;     text-overflow: ellipsis;}

/*Collaborators End*/

/*Delete Conf Start*/

.connf_bg {     padding: 25px 20px 25px 63px; background:#F7DF9A; margin-bottom:20px; position:relative; border-radius:5px;}
.connf_bg b{ color:#707070; font-weight:500; display:block; font-size:15px; }
.connf_bg label{ color:#000; font-weight:500; display:block; font-size:15px; margin-bottom:10px;}
.connf_bg p{ color:#707070; font-weight:400; font-size:14px; margin:0;}
.delt_f { border:0 !important;}
.del_btn {     border: 1px solid #CED4DA; background:none !important;}
.connf_bg img { position:absolute; left:20px; top:20px;}
/*Delete Conf End*/


    /**POPUP End***/


.fake_link:hover{       color: #cecece; }
.fake_link{      color: #616161;}
.scroll-container {
    overflow: auto;
    max-height: 300px;
}


.owner_pop .slimscroll-wrapper{ margin-left:-15px !important; margin-right:-15px !important;     padding-right: 20px;
    width: 104% !important;}

  .owner_nr .col-2 span
  {    max-width: 125px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    top: 8px;
    white-space: nowrap;
  }
  .x_hu_cross {
    vertical-align: middle;
    border-style: none;
    position: absolute;
    position: absolute;
    right: 9px;
    top: 14px;
    cursor: pointer;
  }

  .modal-header {
    background: #F9F9F9;
}
.modal-title {
    font-weight: 400;
    font-size: 18px;
    display: block;
    color: #484848;
    text-align: center;
    width: 95%;
}
