        <div class="modal-content">
            <div class="modal-header">
             <h4 class="modal-title">{{translation.goals_collaborators}}</h4>
              <button type="button" class="close" (click)="modalRef.hide()">&times;</button>
             
            </div>
           
          <div class="modal-body owner_pop collab_pop">
        
                 <div class="row owner_h">
                 
                    <div class="col-12 ow_srch">
                        <input [(ngModel)]="asyncSelected" #input [typeahead]="dataSource"
                          (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)"
                          [typeaheadOptionsLimit]="5" [typeaheadMinLength]="0" typeaheadOptionField="first"
                          [typeaheadItemTemplate]="customItemTemplate" [placeholder]="translation?.goals_collaboration_search_person_placeholder" class="form-control">
                          <img *ngIf="asyncSelected?.length>0" class="x_hu_cross"  src="assets/goals/img/cross_oicon.svg" (click)="asyncSelected=''">
                        </div>
                      <ng-template #customItemTemplate let-model="item" let-index="index">
                        <div class="row overcls" [style.width.px]="848">
                          <span>
                            <span *ngIf="!model?.image && model.is_user" class="oi alternate_icon" data-glyph="person"
                              title="{{translation.huddle_avatar_available}}" aria-hidden="true">
                            </span>
            
                            <span *ngIf="!model?.image && !model.is_user" class="oi alternate_icon" data-glyph="people"
                              title="Group" aria-hidden="true">
                            </span>
            
                            <img width="20" *ngIf="model?.image" [attr.src]="model?.image">
                          </span>
                          <div class="col-sm-5 " *ngIf="model.is_user"> {{model.first_name}} {{model.last_name}} </div>
                          <div *ngIf="model.is_user" class="col-sm-5"> {{model.email}} </div>
            
                          <div *ngIf="!model.is_user" class="col-sm-5 "> {{model.name}}</div>
            
                        </div>
                      </ng-template>
                    <div class="col-2">
                      {{translation?.name_all}}
                    </div>
      
                    <div class="col-3">
                      {{translation?.artifact_email}}
                    </div>
                    
                    <div class="col-7">
                      {{translation?.goals_permissions}}
                    </div>
      
                 </div>
      
      
                <div class="scroll-container" slimScroll [options]="opts" [scrollEvents]="scrollEvents">
                 <div class="row owner_nr" *ngFor="let user of selectedUsers; let index">
                    <div class="col-2 pointer" (click)="openGroupDetailModal(user.id,selectedUsers,users)">
                        <img *ngIf="!user.image && user.is_user" src="assets/img/photo-default.png">
                        <img *ngIf="!user.image && !user.is_user" src="assets/goals/img/tean_icon.svg" class="br0">
                        <img *ngIf="user.image" [attr.src]="user?.image">
                        <span *ngIf="user.is_user" class="coadd_2"> {{user.first_name}} {{user.last_name}} </span>
                        <span class="coadd_2" class="fake_link " *ngIf="!user.is_user" > {{user.name}} </span>
            
                    </div>
                    <div class="col-3" (click)="openGroupDetailModal(user.id,selectedUsers,users)">
                      <label class="pointer">{{user.email ||'n/a'}}</label>
                    </div>
                    
                 
                 
                 <div class="col-7">
                 <div class="btn-group btn-group-toggle collab_btn" data-toggle="buttons">
        <label class="btn btn-secondary" [class.active] = "checkPermission(user, 1)" [class.dis_colla] ='user.can_be_added_as_goal_collab_with_view_rights == 0' >
          <input type="radio" name="options" id="option1" autocomplete="off" (click)="addPermission(user, 1)"[disabled]='user.can_be_added_as_goal_collab_with_view_rights == 0' > 
        
        {{translation?.vd_view}} 
        </label>
        <label class="btn btn-secondary" [class.active] = "checkPermission(user,2)" [class.dis_colla] ='user.can_be_added_as_goal_collab_with_edit_rights == 0'> 
          <input type="radio" name="options" id="option2" autocomplete="off" (click)="addPermission(user, 2)" [disabled]='user.can_be_added_as_goal_collab_with_edit_rights == 0'>
      
           {{translation?.goals_edit}}
        </label>
         <label class="btn btn-secondary" [class.active] = "checkPermission(user,3)" [class.dis_colla] ='user.can_be_added_as_goal_collab_with_right_to_add_evidence == 0'>
          <input type="radio" name="options" id="option3" autocomplete="off" (click)="addPermission(user, 3)"  [disabled]='user.can_be_added_as_goal_collab_with_right_to_add_evidence ==0'> 
       
         {{headerService?.getGoalAltTranslation(translation?.goals_evidence)}}
        </label>
        
         <label class="btn btn-secondary" [class.active] = "checkPermission(user,4)" [class.dis_colla] ='user.can_be_added_as_goal_collab_with_right_to_review_feedback == 0'>
          <input type="radio" name="options" id="option2" autocomplete="off" (click)="addPermission(user, 4)" [disabled]='user.can_be_added_as_goal_collab_with_right_to_review_feedback == 0' > 
          {{translation?.goals_review}}
        </label>
        
       
      </div>
      <span class="cross_ow " (click)="openDeleteModal(template, user)">
                     <img src="assets/goals/img/cross_oicon.svg">
                    </span>
      
      </div>
      
      </div>
    </div>
    
      
         
             </div>
      
            <div class="modal-footer footerm">
                  <div class="col-12 share_btn">
                       <button type="button" class="btn btn-default" (click)="modalRef.hide()">{{translation?.cancel_popup}}</button>
                       <button type="button" class="btn btn-success" (click)="save()">{{translation?.save_popup}}</button>
                  </div>
            </div>
          </div>
      





<ng-template #template>

  <!-- Modal content-->
      <!-- Modal content-->
        <!-- Modal content-->
      <div class="modal-header">
       <h4 class="modal-title">{{translation?.artifacts_confirmation_required}}</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="showParentModal()">&times;</button>
       
      </div>
     
     <div class="modal-body conf_popup">
          
          <div class="connf_bg">
         <img src="assets/goals/img/del_conf.svg">
               <b>{{headerService?.getGoalAltTranslation(translation?.goals_collab_primary_msg)}}: </b>
               <label>{{userToDelete.first_name}} {{userToDelete.last_name}} - {{userToDelete.email}}</label>
               <p>{{headerService?.getGoalAltTranslation(translation?.goals_collab_secondary_msg)}}</p>
          </div>
         
        
         <label>{{translation?.poeple_type_delete_to_confirm}}</label>
         <input type="text" class="form-control" [(ngModel)]="confirmation">
     </div>
  
      <div class="modal-footer footerm">
            <div class="col-12 share_btn delt_f">
                 <button type="button" class="btn btn-default" data-dismiss="modal" (click)="showParentModal()">{{translation?.cancel_popup}}</button>
                 <button  [disabled]="confirmation != ConfirmationKey" type="button" class="btn del_btn" (click)="deleteCollaborator()">{{translation?.huddle_delete_btn}}</button>
            </div>
      </div>


</ng-template>


