<?php
$user_current_account = $this->Session->read('user_current_account');
$user_id = $user_current_account['User']['id'];
$ChurnZero = Configure::read('ChurnZero');
?>
<script type="text/javascript">
    $(document).ready(function (e) {
        //var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;
        var iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
        if (iOS) {
            var now = new Date().valueOf();
            setTimeout(function () {
                if (new Date().valueOf() - now > 100)
                    return;
                //window.location = "https://app.sibme.com/forgot_password?app=notinstalled";
                return;
            }, 50);
            window.location = "sibme://signup_redirect/?verification_code=<?php echo $verification_code; ?>&user_id=<?php echo $user_id; ?>";
        }



        var ua = navigator.userAgent.toLowerCase();
        var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");
        if (isAndroid) {
            var now = new Date().valueOf();
            setTimeout(function () {
                if (new Date().valueOf() - now > 100)
                    return;
                //window.location = "https://app.sibme.com/forgot_password?app=notinstalled";
                return;
            }, 50);
            window.location = "sibme://signup_redirect/";
        }


        
        

    });

</script>

<?php
$user = $this->Session->read('Auth');
$user_current_account = $this->Session->read('user_current_account');
$user_permissions = $this->Session->read('user_permissions');
$analytics_permission = $user_permissions['UserAccount']['permission_view_analytics'];
$user_id = $user_current_account['User']['id'];
$permission_maintain_folders = $user_current_account['users_accounts']['permission_maintain_folders'];
$user_role_id = $user_current_account['roles']['role_id'];
$account_id = $user_current_account['accounts']['account_id'];
$bool = 0;
//$total_logins = $this->Custom->getLoginCount($account_id,$user_id);
$alert_messages = $this->Custom->get_page_lang_based_content('alert_messages');
$user_role_name = $this->Custom->get_user_role_name($user_role_id);
if($ChurnZero == '1')
{
//$user_data = $this->Custom->get_single_user_stat($account_id,$user_id);
//$comment_tags_count = $this->Custom->get_counts_of_comment_tags($account_id,$user_id);
}
//        print_r($user_data);die;
//$space_left_check = $this->Custom->account_storage_limit($account_id);
?>

<script type="text/javascript"> 
<?php if(false){ ?>
    
  //  var js_arr = JSON.parse('<?php //echo JSON_encode($user_data);?>');
 //   console.log(js_arr[0]);
  //  console.log(js_arr[0][0].minutes_watched_total);
//    console.log(js_arr[0][0].total_document_durations);
//    ChurnZero.push(['setAttribute', 'contact', 'Videos Uploaded to Workspace', js_arr[0].workspace_upload_counts.workspace_upload_counts]);
//    ChurnZero.push(['setAttribute', 'contact', 'Videos Uploaded to Huddles', js_arr[0].video_upload_counts.video_upload_counts]);
//    ChurnZero.push(['setAttribute', 'contact', 'Videos Shared to Huddles', js_arr[0].shared_upload_counts.shared_upload_counts]);
//    ChurnZero.push(['setAttribute', 'contact', 'Videos Uploaded to Video Library', js_arr[0].library_upload_counts.library_upload_counts]);
//    ChurnZero.push(['setAttribute', 'contact', 'Videos Shared to Video Library', js_arr[0].library_shared_upload_counts.library_shared_upload_counts]);
//    ChurnZero.push(['setAttribute', 'contact', 'Workspace Video Views', js_arr[0].workspace_videos_viewed_count.workspace_videos_viewed_count]);
//    ChurnZero.push(['setAttribute', 'contact', 'Huddle Video Views', js_arr[0].videos_viewed_count.videos_viewed_count]);
//    ChurnZero.push(['setAttribute', 'contact', 'Library Video Views', js_arr[0].library_videos_viewed_count.library_videos_viewed_count]);
//    ChurnZero.push(['setAttribute', 'contact', 'Total Videos Hours Uploaded', js_arr[0][0].total_document_durations]);
//    ChurnZero.push(['setAttribute', 'contact', 'Huddles Created', js_arr[0].huddle_created_count.huddle_created_count]);
//    ChurnZero.push(['setAttribute', 'contact', 'Workspace Video Notes', js_arr[0].workspace_comments_initiated_count.workspace_comments_initiated_count]);
//    ChurnZero.push(['setAttribute', 'contact', 'Huddle Video Comments', js_arr[0].comments_initiated_count.comments_initiated_count]);
//    ChurnZero.push(['setAttribute', 'contact', 'Huddle Video Replies', js_arr[0].replies_initiated_count.replies_initiated_count]);
//    ChurnZero.push(['setAttribute', 'contact', 'Resources Uploaded', js_arr[0].documents_uploaded_count.documents_uploaded_count]);
//    ChurnZero.push(['setAttribute', 'contact', 'Resources Viewed', js_arr[0].documents_viewed_count.documents_viewed_count]); 
//    ChurnZero.push(['setAttribute', 'contact', 'Scripted Video Observations', js_arr[0].scripted_video_observations.scripted_video_observations]);
//    ChurnZero.push(['setAttribute', 'contact', 'Scripted Observations', js_arr[0].scripted_observations.scripted_observations]);
//    ChurnZero.push(['setAttribute', 'contact', 'Total Logins', js_arr[0].web_login_counts.web_login_counts]);
//    ChurnZero.push(['setAttribute', 'contact', 'Total Videos Hours Viewed', js_arr[0][0].minutes_watched_total]);
//    ChurnZero.push(['setAttribute', 'contact', 'User Role', '<?php //echo $user_role_name; ?>']);
//    ChurnZero.push(['setAttribute', 'contact', 'User ID', '<?php //echo $user_id; ?>']);
//    ChurnZero.push(['setAttribute', 'contact', 'Access Video Library', '<?php //echo $user_current_account['users_accounts']['permission_access_video_library']; ?>']);
//    ChurnZero.push(['setAttribute', 'contact', 'Upload Videos to Video Library', '<?php //echo $user_current_account['users_accounts']['permission_video_library_upload']; ?>']);
//    ChurnZero.push(['setAttribute', 'contact', 'Manage Folders', '<?php //echo $user_current_account['users_accounts']['permission_maintain_folders']; ?>']);
//    ChurnZero.push(['setAttribute', 'contact', 'Manage Collaboration Huddles', '<?php //echo $user_current_account['users_accounts']['manage_collab_huddles']; ?>']);
//    ChurnZero.push(['setAttribute', 'contact', 'Manage Coaching Huddles', '<?php //echo $user_current_account['users_accounts']['manage_coach_huddles']; ?>']);
//    ChurnZero.push(['setAttribute', 'contact', 'Manage Users', '<?php //echo $user_current_account['users_accounts']['permission_administrator_user_new_role']; ?>']);
//    ChurnZero.push(['setAttribute', 'contact', 'Access Account-wide analytics', '<?php //echo $user_current_account['users_accounts']['permission_view_analytics']; ?>']);
//    ChurnZero.push(['setAttribute', 'contact', 'Access personal analytics', '1']);
//    ChurnZero.push(['setAttribute', 'contact', 'User Created Date', '<?php //echo $user_current_account['User']['created_date']; ?>']);
    
    
 ChurnZero.push(['setAttribute', 'contact', {
//  "Videos Uploaded to Workspace": js_arr[0].workspace_upload_counts.workspace_upload_counts,
//  "Videos Uploaded to Huddles": js_arr[0].video_upload_counts.video_upload_counts,
//  "Videos Shared to Huddles": js_arr[0].shared_upload_counts.shared_upload_counts,
//  "Videos Uploaded to Video Library": js_arr[0].library_upload_counts.library_upload_counts,
//  "Videos Shared to Video Library": js_arr[0].library_shared_upload_counts.library_shared_upload_counts,
//  "Workspace Video Views": js_arr[0].workspace_videos_viewed_count.workspace_videos_viewed_count,
//  "Huddle Video Views": js_arr[0].videos_viewed_count.videos_viewed_count,
//  "Library Video Views": js_arr[0].library_videos_viewed_count.library_videos_viewed_count,
//  "Total Videos Hours Uploaded": js_arr[0][0].total_document_durations,
//  "Huddles Created": js_arr[0].huddle_created_count.huddle_created_count,
//  "Workspace Video Notes": js_arr[0].workspace_comments_initiated_count.workspace_comments_initiated_count,
//  "Huddle Video Comments": js_arr[0].comments_initiated_count.comments_initiated_count,
//  "Huddle Video Replies": js_arr[0].replies_initiated_count.replies_initiated_count,
//  "Resources Uploaded": js_arr[0].documents_uploaded_count.documents_uploaded_count,
//  "Resources Viewed": js_arr[0].documents_viewed_count.documents_viewed_count,
//  "Scripted Video Observations": js_arr[0].scripted_video_observations.scripted_video_observations,
//  "Scripted Observations": js_arr[0].scripted_observations.scripted_observations,
//  "Total Logins": js_arr[0].web_login_counts.web_login_counts,
//  "Total Videos Hours Viewed": js_arr[0][0].minutes_watched_total,
    "User Role": '<?php echo $user_role_name; ?>',
    "User ID": '<?php echo $user_id; ?>',
    "Access Video Library": '<?php echo $user_current_account['users_accounts']['permission_access_video_library']; ?>',
    "Upload Videos to Video Library": '<?php echo $user_current_account['users_accounts']['permission_video_library_upload']; ?>',
    "Manage Folders": '<?php echo $user_current_account['users_accounts']['permission_maintain_folders']; ?>',
    "Manage Collaboration Huddles": '<?php echo $user_current_account['users_accounts']['manage_collab_huddles']; ?>',
    "Manage Coaching Huddles": '<?php echo $user_current_account['users_accounts']['manage_coach_huddles']; ?>',
    "Manage Users": '<?php echo $user_current_account['users_accounts']['permission_administrator_user_new_role']; ?>',
    "Access Account-wide analytics": '<?php echo $user_current_account['users_accounts']['permission_view_analytics']; ?>',
    "Access personal analytics": '1',
    "User Created Date": '<?php echo $user_current_account['User']['created_date']; ?>',
//  "Tagged Standards": '<?php //echo $comment_tags_count['tagged_standards']; ?>',
//  "Custom Marker Tags": '<?php //echo $comment_tags_count['custom_markers']; ?>',
//  "Average Performance Levels": '<?php //echo $comment_tags_count['avg_rating']; ?>',
  } ]);



    ChurnZero.push(['setAttribute', 'account', {
    "Account Number": '<?php echo $user_current_account['accounts']['account_id']; ?>',
    //"Total Number of Super Admins": '<?php //echo $comment_tags_count['total_super_admins']; ?>',
    //"Total Number of Admins": '<?php //echo $comment_tags_count['total_admins']; ?>',
    //"Total Number of Users": '<?php //echo $comment_tags_count['total_users']; ?>',
    //"Total Number of Viewers": '<?php //echo $comment_tags_count['total_viewers']; ?>',
    //"Number of Frameworks": '<?php //echo $comment_tags_count['number_of_frameworks']; ?>',
    "Performance Levels Enabled in Assessment Huddles": '<?php echo $comment_tags_count['assessment_perfomance_level']; ?>',
    "Performance Levels Enabled in Coaching Huddles": '<?php echo $comment_tags_count['coaching_perfomance_level']; ?>',
    "Frameworks Enabled": '<?php echo $comment_tags_count['account_framework_setting']; ?>',
    "Custom Marker Tags Enabled": '<?php echo $comment_tags_count['account_custom_marker_setting']; ?>',
    "Account Created Date": '<?php echo $comment_tags_count['account_detail']['Account']['created_at']; ?>',
    "Assessment Tracker Enabled": '<?php echo $comment_tags_count['assessment_tracker']; ?>',
    "Coaching Tracker Enabled": '<?php echo $comment_tags_count['coaching_tracker']; ?>',
    "Video Library Enabled": '<?php echo $comment_tags_count['enable_video_library']; ?>',
    "edTPA Enabled": '<?php echo $comment_tags_count['account_detail']['Account']['enable_edtpa']; ?>',
    "Credit Card Customer": '<?php echo $comment_tags_count['account_detail']['Account']['braintree_customer_id']; ?>',
    "Number of Child Accounts": '<?php echo $comment_tags_count['number_of_child_accounts']; ?>',
    "Tracker feedback duration": '<?php echo $comment_tags_count['tracking_duration']; ?>',
    "Student Fee Type": '<?php echo $comment_tags_count['payment_type']; ?>',
    "Student Fee Amount": '<?php echo $comment_tags_count['payment_amount']; ?>',
    "Type of Account": '<?php echo $comment_tags_count['type_of_account'];  ?>',
    "User Limit": '<?php echo $comment_tags_count['user_limit']; ?>'
    
    } ]);
    
    <?php if($comment_tags_count['account_detail']['Account']['parent_account_id'] != '0' ) { ?>
    
    ChurnZero.push(['setAttribute', 'account', {
        
      "ParentAccountExternalId": '<?php echo $comment_tags_count['account_detail']['Account']['parent_account_id']; ?>'
      
    } ]);
    
    <?php } ?>
    
    
    
    
    
    
    <?php } ?>
    
        
    
    
</script>

<?php if($user_current_account['accounts']['in_trial'] == '1' ): ?>
<script type="text/javascript"> 

dataLayer.push({
'email' : '<?php echo $user_current_account['User']['email'] ?>',
'event' : 'log_in_success'
});

</script>
<?php endif; ?>

<style>
    @charset "utf-8";
    /* CSS Document */
    .clear{
        clear:both;
    }
    .dashboard_container{
        padding:5px;
        font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
        width:998px;
        margin:0 auto;
    }
    .dashboard_container h1{
        margin:0px;
        font-size: 33px;
        color: #000;
        font-weight: 600;
    }
    .dashboard_left{
        float:left;
        width:48%;
        margin:15px 0px;
    }
    .dashboard_right{
        float:right;
        width:48%;
        margin:15px 0px;
    }

    .section-heading {
        margin-top: 2px;
        cursor: pointer;
        border-bottom:solid 1px #3c3c3c;
        padding:8px 0px;
        font-size: 18px;
        font-weight: 600;
        color:#386897;
    }
    .section-content {
        padding:5px;
    }
    .arrow-up {
        width: 13px;
        height: 9px;
        background: url(/app/img/dbimages/arrow_up.png) no-repeat;
        float:right;
        margin-top: 8px;
        margin-right: 5px;
    }
    .arrow-down {
        width: 13px;
        height: 9px;
        background: url(/app/img/dbimages/arrow_down.png) no-repeat;
        float:right;
        margin-top: 8px;
        margin-right: 5px;
    }
    .section-content ul{
        margin:0px;
        padding:0px;
        list-style:none;
        padding-top:6px;
    }
    .section-content ul li{
        padding:6px 0px;
    }
    .started_icon{
        display:inline-block;
        width: 45px;
        vertical-align: top;
        margin-top: 6px;
    }
    .started_detail{
        display:inline-block;
        width:88%;
    }
    .started_detail h1{
        font-size: 22px;
        font-weight: 500;
        color:#000000;
    }
    .started_detail h1 a{
        color:#000000;
        font-weight: 600;
        text-decoration:none;
    }
    .started_detail h1 a:hover{
        color:#366799;
        text-decoration:none;
    }
    .started_detail p{
        font-size:14px;
        font-weight: 600;
        color:#696969;
        margin:5px 0px;
    }
    .recentActivity_left{
        display:inline-block;
        width: 60px;
        vertical-align: top;
    }
    .recentActivity_right{
        display:inline-block;
        width:85%;
    }
    .recentActivity_left h4{
        font-size:18px;
        font-weight: 600;
        color:#000;
        margin:0px;
    }
    .recentActivity_left h5{
        font-size:12px;
        font-weight: 600;
        color:#2e6092;
        margin:0px;
    }
    .recentActivity_right p{
        font-size:14px;
        font-weight: 600;
        color:#696969;
        margin:0px;
    }
    .recentActivity_right p a{
        color:#000 !important;
        border-bottom:dotted 1px #000;
        text-decoration:none;
    }
    .recentActivity_right p a:hover{
        color:#37689a;
        border-bottom:dotted 1px #37689a;
        text-decoration:none;
    }
    .settings_box{
        margin:30px 0px;
    }
    .settings_box a{
        text-decoration:none;
        font-size:18px;
        font-weight: 600;
        color:#696969;
        margin:0px;
    }
    .settings_box a:hover{
        color:#37689a;
    }
    .settings_box a img{
        vertical-align:middle;
        margin-right:5px;
    }
    .Application_box{
        margin:30px 0px;
    }
    .chart_box{
        width:95px;
        display:inline-block;
        margin:0px 14%;
        text-align:center;
        vertical-align:top;
    }
    .chart_box p{
        margin:4px;
        font-size:17px;
        font-weight: 600;
        color:#323232;
    }
    .mobile_box{
        margin:30px 0px;
        text-align:center;
    }
    .trial_box{
        margin:0px 0px 30px 0px;
        text-align:center;
    }
    .trial_box h1{
        font-size: 22px;
        font-weight: 500;
        color: #386897;
        margin-bottom:10px;
    }

</style>
<?php //if ($space_left_check):    ?>
<!--<div id="flashMessage_storage" class="message error" style="cursor: pointer;">You are exceeding your storage limit!</div>-->
<?php //endif ;    ?>
<script>
    $(document).ready(function () {
        $(".section-content").show();
        $(".arrow-up").hide();

        //Getting Started
        $("#getting_started").click(function () {
            var attr = $("#getting_started").attr("heading");
            check = !$("#getting_started").next(".section-content").is(":visible");

            $.ajax({
                type: 'POST',
                data: {
                    attr: attr,
                    check: check,
                    account_id: <?php echo $account_id; ?>,
                    user_id: <?php echo $user_id; ?>
                },
                url: home_url + '/Dashboard/dashboard_settings',
                success: function (response) {

                },
                errors: function (response) {

                }

            });


        });

        //GettingStarted Ends


        //Recent Activity

        $("#recent_activity").click(function () {
            var attr = $("#recent_activity").attr("heading");
            check = !$("#recent_activity").next(".section-content").is(":visible");

            $.ajax({
                type: 'POST',
                data: {
                    attr: attr,
                    check: check,
                    account_id: <?php echo $account_id; ?>,
                    user_id: <?php echo $user_id; ?>
                },
                url: home_url + '/Dashboard/dashboard_settings',
                success: function (response) {

                },
                errors: function (response) {

                }

            });


        });


        //Recent Activity Ends

        //SettingandAssistanceStarted

        $("#setting_assistance").click(function () {
            var attr = $("#setting_assistance").attr("heading");
            check = !$("#setting_assistance").next(".section-content").is(":visible");

            $.ajax({
                type: 'POST',
                data: {
                    attr: attr,
                    check: check,
                    account_id: <?php echo $account_id; ?>,
                    user_id: <?php echo $user_id; ?>
                },
                url: home_url + '/Dashboard/dashboard_settings',
                success: function (response) {

                },
                errors: function (response) {

                }

            });


        });


        //SettingandAssistanceEnds

        //Application Insight Started

        $("#application_insight").click(function () {
            var attr = $("#application_insight").attr("heading");
            check = !$("#application_insight").next(".section-content").is(":visible");

            $.ajax({
                type: 'POST',
                data: {
                    attr: attr,
                    check: check,
                    account_id: <?php echo $account_id; ?>,
                    user_id: <?php echo $user_id; ?>
                },
                url: home_url + '/Dashboard/dashboard_settings',
                success: function (response) {

                },
                errors: function (response) {

                }

            });


        });


        //Application Insight Ends


        //Go Mobile Starts

        $("#mobile_go").click(function () {
            var attr = $("#mobile_go").attr("heading");
            check = !$("#mobile_go").next(".section-content").is(":visible");

            $.ajax({
                type: 'POST',
                data: {
                    attr: attr,
                    check: check,
                    account_id: <?php echo $account_id; ?>,
                    user_id: <?php echo $user_id; ?>
                },
                url: home_url + '/Dashboard/dashboard_settings',
                success: function (response) {

                },
                errors: function (response) {

                }

            });


        });
        //Go Mobile Starts

        $("#setting_assistance_edTPA").click(function () {
            var attr = $("#setting_assistance_edTPA").attr("heading");
            check = !$("#setting_assistance_edTPA").next(".section-content").is(":visible");

            $.ajax({
                type: 'POST',
                data: {
                    attr: attr,
                    check: check,
                    account_id: <?php echo $account_id; ?>,
                    user_id: <?php echo $user_id; ?>
                },
                url: home_url + '/Dashboard/dashboard_settings',
                success: function (response) {

                },
                errors: function (response) {

                }

            });


        });

        //Go Mobile Ends



        $(".section-heading").click(function () {
            $(this).next(".section-content").slideToggle(500);
            $(this).find(".arrow-up, .arrow-down").toggle();
        });


<?php if ($getting_started == '0' && isset($getting_started)) { ?>
            $('#getting_started_content').hide();
            $('#getting_started_up').show();
            $('#getting_started_down').hide();
    <?php
} else {
    ?>
            $('#getting_started_up').hide();
            $('#getting_started_down').show();

<?php }
?>

<?php if ($recent_activity == '0' && isset($recent_activity)) { ?>
            $('#recent_activity_content').hide();
            $('#recent_activity_up').show();
            $('#recent_activity_down').hide();
    <?php
} else {
    ?>
            $('#recent_activity_up').hide();
            $('#recent_activity_down').show();

<?php }
?>



<?php if ($setting_assistance == '0' && isset($setting_assistance)) { ?>
            $('#setting_assistance_content').hide();
            $('#setting_assistance_up').show();
            $('#setting_assistance_down').hide();
    <?php
} else {
    ?>
            $('#setting_assistance_up').hide();
            $('#setting_assistance_down').show();

<?php } ?>

<?php if ($setting_assistance_edTPA == '0' && isset($setting_assistance_edTPA)) {
    ?>
            $('#submission_edTPA').hide();
            $('#edTPA_up').show();
            $('#edTPA_down').hide();
    <?php
} else {
    ?>
            $('#edTPA_up').show();
            $('#edTPA_down').hide();

<?php }
?>

<?php if ($application_insight == '0' && isset($application_insight)) { ?>
            $('#application_insight_content').hide();
            $('#application_insight_up').show();
            $('#application_insight_down').hide();
    <?php
} else {
    ?>
            $('#application_insight_up').hide();
            $('#application_insight_down').show();

<?php }
?>

<?php if ($mobile_go == '0' && isset($mobile_go)) { ?>
            $('#mobile_go_content').hide();
            $('#mobile_go_up').show();
            $('#mobile_go_down').hide();
    <?php
} else {
    ?>
            $('#mobile_go_up').hide();
            $('#mobile_go_down').show();

<?php }
?>








    });
</script>
<div class="dashboard_container">
    <h1><?php echo $language_based_content['welcome'].' ';  ?> <?php echo $user_current_account['User']['first_name'] . " " . $user_current_account['User']['last_name']; ?></h1>
    <div class="dashboard_left">

        <div heading="getting_started" id="getting_started" class="section-heading"> <?php echo $language_based_content['getting_started'];  ?>
            <div id="getting_started_up" class="arrow-up"></div>
            <div id="getting_started_down" class="arrow-down"></div>
        </div>
        <div class="section-content" id="getting_started_content" style="display:none;">
            <ul>
                <?php if ((isset($user_current_account['users_accounts']['parmission_access_my_workspace']) || $user_current_account['users_accounts']['parmission_access_my_workspace'] == 1 ) && ($user_role_id != 125)): ?>
                    <?php if ($user_permissions['UserAccount']['parmission_access_my_workspace'] == '1'): ?>
                        <li>
                            <div class="started_icon">
                                <img src="<?php echo $this->Custom->getSecureSibmeResouceUrl($this->webroot . 'img/dbimages/workspace_icon.png'); ?>" width="25" height="22" alt=""/>
                            </div>
                            <div class="started_detail">

                                <h1><a href="<?php echo $this->base . '/MyFiles/' ?>"><?php echo $language_based_content['my_workspace'];  ?></a></h1>
                                <?php if ($user_role_id == 100 || $user_role_id == 110): ?>
                                    <p><?php echo $language_based_content['my_workspace_desc'];  ?></p>
                                <?php elseif ($user_role_id == 120 || $user_role_id == 125 || $user_role_id == 115): ?>
                                    <p><?php echo $language_based_content['my_workspace_desc'];  ?></p>
                                <?php endif; ?>

                            </div>
                        </li>
                    <?php endif; ?>
                <?php endif; ?>
                <li>
                    <div class="started_icon"><img src="<?php echo $this->Custom->getSecureSibmeResouceUrl($this->webroot . 'img/dbimages/huddles_icon.png'); ?>" width="27" height="22" alt=""/></div>
                    <div class="started_detail">
                        <h1><a href="<?php echo $this->base . '/Huddles/' ?>"><?php echo $language_based_content['huddles'];  ?></a></h1>
                        <?php if ($user_role_id == 100 || $user_role_id == 110): ?>
                            <p><?php echo $language_based_content['huddles_desc'];  ?></p>
                        <?php elseif ($user_role_id == 120 || $user_role_id == 125 || $user_role_id == 115): ?>
                            <?php if ($permission_maintain_folders == 1): ?>
                                <p><?php echo $language_based_content['huddles_desc'];  ?></p>
                            <?php elseif ($permission_maintain_folders != 1): ?>
                                <p><?php echo $language_based_content['huddles_desc'];  ?></p>
                            <?php endif; ?>
                        <?php endif; ?>
                    </div>
                </li>
                <?php if ($user_permissions['UserAccount']['role_id'] == '100' || $user_permissions['UserAccount']['role_id'] == '110' || ($user_permissions['UserAccount']['role_id'] == '120' && $user_permissions['UserAccount']['permission_administrator_user_new_role'] == '1')): ?>
                    <li>
                        <div class="started_icon"><img src="<?php echo $this->Custom->getSecureSibmeResouceUrl($this->webroot . 'img/dbimages/invite_peoples.png'); ?>" width="37" height="18" alt=""/></div>
                        <div class="started_detail">
                            <h1><a href="<?php echo $this->base . '/users/administrators_groups' ?>"><?php echo $language_based_content['invite_people'];  ?></a></h1>
                            <?php if ($user_role_id == 100 || $user_role_id == 110): ?>
                                <p><?php echo $language_based_content['invite_people_desc'];  ?></p>
                            <?php elseif ($user_role_id == 120 || $user_role_id == 125 || $user_role_id == 115): ?>
                                <p><?php echo $language_based_content['invite_people_desc'];  ?></p>
                            <?php endif; ?>
                        </div>
                    </li>
                <?php endif; ?>
                <?php if ($user_permissions['UserAccount']['role_id'] == '100' || $user_permissions['UserAccount']['role_id'] == '110' || ($user_permissions['UserAccount']['role_id'] == '120' && $user_permissions['UserAccount']['permission_access_video_library'] == '1') || ($user_permissions['UserAccount']['role_id'] == '115' && $user_permissions['UserAccount']['permission_access_video_library'] == '1')): ?>
                    <?php if ($this->Custom->get_account_video_permissions($user_current_account['users_accounts']['account_id'])): ?>
                        <li>
                            <div class="started_icon"><img src="<?php echo $this->Custom->getSecureSibmeResouceUrl($this->webroot . 'img/dbimages/video_icon.png'); ?>" width="26" height="26" alt=""/></div>
                            <div class="started_detail">
                                <h1><a href="<?php echo $this->base . '/VideoLibrary/' ?>"><?php echo $language_based_content['account_video_library'];  ?></a></h1>
                                <?php if ($user_role_id == 100 || $user_role_id == 110): ?>
                                    <p><?php echo $language_based_content['account_video_library_desc'];  ?></p>
                                <?php elseif ($user_role_id == 120 || $user_role_id == 125 || $user_role_id == 115): ?>
                                    <p><?php echo $language_based_content['account_video_library_desc_user_role'];  ?></p>
                                <?php endif; ?>
                            </div>
                        </li>
                    <?php endif; ?>
                <?php endif; ?>
                        <?php if(IS_QA): ?>
                         <li>
                            <div class="started_icon"><img src="<?php echo $this->Custom->getSecureSibmeResouceUrl($this->webroot . 'img/dbimages/video_icon.png'); ?>" width="26" height="26" alt=""/></div>
                            <div class="started_detail">
                                <h1><a href="<?php echo $this->base . '/MyFiles/view_live' ?>">Live Video Streaming</a></h1>
                                
                            </div>
                        </li>
                        <?php endif; ?>
            </ul>

        </div>

        <div id="recent_activity" heading="recent_activity" class="section-heading"> <?php echo $language_based_content['recent_activity'];  ?>
            <div id="recent_activity_up" class="arrow-up"></div>
            <div id="recent_activity_down" class="arrow-down"></div>
        </div>
        <div class="section-content"  style="display:none;">
            <ul class="recent_activity_content">
                <?php
                if ($activityLogs):
                    $recent_activity_des = '';
                    $counter = 0;
                    ?>
                    <?php foreach ($activityLogs as $row): ?>
                        <?php
                        if ($counter >= 10) {
                            break;
                        }
                        $id = '';
                        if ($row['UserActivityLog']['type'] == '1' || $row['UserActivityLog']['type'] == '2' || $row['UserActivityLog']['type'] == '3' || $row['UserActivityLog']['type'] == '5' || $row['UserActivityLog']['type'] == '6' || $row['UserActivityLog']['type'] == '22') {
                            $p_huddle_users = $AccountFolder->getHuddleUsers($row['UserActivityLog']['account_folder_id']);
                            $p_huddle_info = $AccountFolder->get($row['UserActivityLog']['account_folder_id']);
                            $userGroups = $AccountFolderGroup->getHuddleGroups($row['UserActivityLog']['account_folder_id']);
                            $loggedInUserRole = $this->Custom->has_admin_access($p_huddle_users, $userGroups, $user_current_account['User']['id']);

                            $huddle_found = false;
                            if ($myHuddles && count($myHuddles) > 0) {
                                for ($i = 0; $i < count($myHuddles); $i++) {
                                    $myHuddle = $myHuddles[$i];
                                    if ($myHuddles[$i]['AccountFolder']['account_folder_id'] == $row['UserActivityLog']['account_folder_id']) {
                                        $huddle_found = true;
                                        break;
                                    }
                                }
                            }
                            if ($this->Custom->check_if_eval_huddle($row['UserActivityLog']['account_folder_id'])) {
                                $evaluators_ids = $this->Custom->get_evaluator_ids($row['UserActivityLog']['account_folder_id']);
                                if ($this->Custom->check_if_evaluated_participant($row['UserActivityLog']['account_folder_id'], $user_id)) {
                                    if ($row['UserActivityLog']['user_id'] != $user_id && !(isset($evaluators_ids) && is_array($evaluators_ids) && in_array($row['UserActivityLog']['user_id'], $evaluators_ids))) {
                                        continue;
                                    }
                                }
                            }
                            $video_details = $this->Custom->get_video_details($row['UserActivityLog']['ref_id']);
                            // print_r($video_details);die;

                            if ($video_details['Document']['doc_type'] == 3 && ($video_details['Document']['is_associated'] == 0 || empty($video_details['Document']['is_associated']) )) {
                                continue;
                            }

                            //if ($huddle_found == false) continue;
                        } elseif ($row['UserActivityLog']['type'] == '4') {
                            if ($user_permissions['UserAccount']['permission_access_video_library'] == '0') {
                                continue;
                            }
                        } elseif ($row['UserActivityLog']['type'] == '7') {

                            $huddle_found = false;
                            if ($myHuddles && count($myHuddles) > 0) {

                                for ($i = 0; $i < count($myHuddles); $i++) {

                                    $myHuddle = $myHuddles[$i];
                                    if ($myHuddles[$i]['AccountFolder']['account_folder_id'] == $row['UserActivityLog']['account_folder_id']) {
                                        $huddle_found = true;

                                        break;
                                    }
                                }
                            }

//                            if ($huddle_found == false)
//                                continue;

                            if ($user_permissions['UserAccount']['permission_administrator_user_new_role'] == '0') {
                                continue;
                            }
                        } elseif ($row['UserActivityLog']['type'] == '17') {

                            $huddle_found = false;
                            if ($myHuddles && count($myHuddles) > 0) {

                                for ($i = 0; $i < count($myHuddles); $i++) {

                                    $myHuddle = $myHuddles[$i];
                                    if ($myHuddles[$i]['AccountFolder']['account_folder_id'] == $row['UserActivityLog']['account_folder_id']) {
                                        $huddle_found = true;

                                        break;
                                    }
                                }
                            }

//                            if ($huddle_found == false)
//                                continue;

                            if ($user_permissions['UserAccount']['permission_administrator_user_new_role'] == '0') {
                                continue;
                            }
                        } elseif ($row['UserActivityLog']['type'] == '18') {

                            $huddle_found = false;
                            if ($myHuddles && count($myHuddles) > 0) {

                                for ($i = 0; $i < count($myHuddles); $i++) {

                                    $myHuddle = $myHuddles[$i];
                                    if ($myHuddles[$i]['AccountFolder']['account_folder_id'] == $row['UserActivityLog']['account_folder_id']) {
                                        $huddle_found = true;

                                        //  break;
                                    }
                                }
                            }

                            if (!$huddle_found) {
                                continue;
                            }
//                            if ($huddle_found == false)
//                                continue;
//                            if ($user_permissions['UserAccount']['permission_administrator_user_new_role'] == '0') {
//                                continue;
//                            }
                        } elseif ($row['UserActivityLog']['type'] == '19') {

                            $huddle_found = false;
                            if ($myHuddles && count($myHuddles) > 0) {

                                for ($i = 0; $i < count($myHuddles); $i++) {

                                    $myHuddle = $myHuddles[$i];
                                    if ($myHuddles[$i]['AccountFolder']['account_folder_id'] == $row['UserActivityLog']['account_folder_id']) {
                                        $huddle_found = true;

                                        //    break;
                                    }
                                }
                            }
                            if (!$huddle_found) {
                                continue;
                            }

//                            if ($huddle_found == false)
//                                continue;
//                            if ($user_permissions['UserAccount']['permission_administrator_user_new_role'] == '0') {
//                                continue;
//                            }
                        } elseif ($row['UserActivityLog']['type'] == '8') {

                            $huddle_found = false;
                            if ($myHuddles && count($myHuddles) > 0) {

                                for ($i = 0; $i < count($myHuddles); $i++) {

                                    $myHuddle = $myHuddles[$i];
                                    if ($myHuddles[$i]['AccountFolder']['account_folder_id'] == $row['UserActivityLog']['account_folder_id']) {
                                        $huddle_found = true;

                                        break;
                                    }
                                }
                            }

                            if ($huddle_found == false)
                                continue;
                        }


                        $activityLogs_users = '';
                        $activityDescription = $row['UserActivityLog']['desc'];
                        $activityType = $row['UserActivityLog']['type'];
                        $activityUrl = $row['UserActivityLog']['url'];
                        $activityDate = $row['UserActivityLog']['date_added'];

                        if ($row['UserActivityLog']['user_id'] == $user_id) {
                             if($_SESSION['LANG'] == 'es')
                                {
                                    $activityLogs_users = 'Tú';
                                }
                                else {
                                    $activityLogs_users = 'You';
                                }
                        } else {
                            $activityLogs_users = $row['User']['first_name'] . " " . $row['User']['last_name'];
                        }

                        $comment = '';
                        $comment2 = '';
                        $bool = false;
                        $huddle_name = $AccountFolder->getHuddleName($row['UserActivityLog']['account_folder_id']);
                        if (isset($row['UserActivityLog']['type']) && $row['UserActivityLog']['type'] == '1') {
                            $comment2 = 'create huddle';
                            if ($row['UserActivityLog']['user_id'] == $user_id) {
                                $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, $huddle_name, $activityDescription, $activityUrl, $activityDate, $row['UserActivityLog']['account_folder_id'], 0, 1);
                            } elseif ($row['UserActivityLog']['user_id'] != $user_id && $this->Custom->user_present_huddle($user_id, $row['UserActivityLog']['account_folder_id'])) {
                                $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, $huddle_name, $activityDescription, $activityUrl, $activityDate, $row['UserActivityLog']['account_folder_id'], 0, 2);
                            } else {
                                continue;
                                // $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, $huddle_name, $activityDescription, $activityUrl, $activityDate,$row['UserActivityLog']['account_folder_id'],0,2);
                            }
                        } elseif (isset($row['UserActivityLog']['type']) && $row['UserActivityLog']['type'] == '2') {
                            if ($row['UserActivityLog']['user_id'] != $user_id && !$this->Custom->user_present_huddle($user_id, $row['UserActivityLog']['account_folder_id'])) {
                                continue;
                            }
                            $comment2 = 'Upload Video';
                            $video_name = $AccountFolderDocument->get_document_name($row['UserActivityLog']['ref_id']);
                            $video_name = isset($video_name) ? $video_name : 'Untitled Video';
                            if (strlen($video_name) > 50) {
                                $video_name = mb_substr($video_name, 0, 50) . '...';
                            }
                            $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, $video_name, $activityDescription, $activityUrl, $activityDate, $huddle_name, $row['UserActivityLog']['ref_id'], 1, $row['UserActivityLog']['account_folder_id']);
                        } elseif (isset($row['UserActivityLog']['type']) && $row['UserActivityLog']['type'] == '22') {
                            if ($row['UserActivityLog']['user_id'] != $user_id && !$this->Custom->user_present_huddle($user_id, $row['UserActivityLog']['account_folder_id'])) {
                                continue;
                            }
                            $comment2 = 'Upload Video';
                            $video_name = $AccountFolderDocument->get_document_name($row['UserActivityLog']['ref_id']);
                            $video_name = isset($video_name) ? $video_name : 'Untitled Video';
                            if (strlen($video_name) > 50) {
                                $video_name = mb_substr($video_name, 0, 50) . '...';
                            }
                            $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, $video_name, $activityDescription, $activityUrl, $activityDate, $huddle_name, $row['UserActivityLog']['ref_id'], 1, $row['UserActivityLog']['account_folder_id']);
                        } elseif (isset($row['UserActivityLog']['type']) && $row['UserActivityLog']['type'] == '3') {
                            if ($row['UserActivityLog']['user_id'] != $user_id && !$this->Custom->user_present_huddle($user_id, $row['UserActivityLog']['account_folder_id'])) {
                                continue;
                            }
                            $video_id = explode('/', $row['UserActivityLog']['url']);
                            $get_video_details = $this->Custom->get_video_details($video_id[5]);
                            $users = $this->Session->read('user_current_account');
                            $user_id_per = $users['User']['id'];
                            $role_id_per = $users['roles']['role_id'];
                            if ($this->Custom->_check_evaluator_permissions($row['UserActivityLog']['account_folder_id'], $get_video_details['Document']['created_by'], $user_id_per, $role_id_per) == false) {
                                continue;
                            }

                            if ($row['UserActivityLog']['user_id'] == $user_id) {
                                $comment2 = 'You';
                            } else {
                                $comment2 = $row['User']['first_name'] . " " . $row['User']['last_name'];
                            }
                            $document_name = $AccountFolderDocument->get_document_name($row['UserActivityLog']['ref_id']);
                            if (strlen($document_name) > 50) {
                                $document_name = mb_substr($document_name, 0, 50) . '...';
                            }

                            $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, $document_name, $activityDescription, $activityUrl, $activityDate, $huddle_name, 0, 1, $row['UserActivityLog']['account_folder_id']);
                        } elseif ($row['UserActivityLog']['type'] == '4') {
                            $comment2 = 'Video Library';
                            $video_title = $huddle_name;
                            $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, $video_title, $activityDescription, $activityUrl, $activityDate);
                        } elseif (isset($row['UserActivityLog']['type']) && $row['UserActivityLog']['type'] == '5') {
                            if ($row['UserActivityLog']['user_id'] != $user_id && !$this->Custom->user_present_huddle($user_id, $row['UserActivityLog']['account_folder_id'])) {
                                continue;
                            }

                            $video_comments = $Comment->get($row['UserActivityLog']['ref_id']);

                            $get_video_details = $this->Custom->get_video_details($video_comments['Comment']['ref_id']);
                            $users = $this->Session->read('user_current_account');
                            $user_id_per = $users['User']['id'];
                            $role_id_per = $users['roles']['role_id'];
                            if ($this->Custom->_check_evaluator_permissions($row['UserActivityLog']['account_folder_id'], $get_video_details['Document']['created_by'], $user_id_per, $role_id_per) == false) {
                                continue;
                            }


                            $video_title = $AccountFolderDocument->get_document_name(isset($video_comments['Comment']['ref_id']) ? $video_comments['Comment']['ref_id'] : '');
                            $video_id = isset($video_comments['Comment']['ref_id'])?$video_comments['Comment']['ref_id']:'';
                            if ($video_comments['Comment']['ref_type'] == '6') {
                                $bool = true;
                            }

                            if (isset($video_comments['Comment']) && $video_comments['Comment']['active'] == '1') {
                                $comment = isset($video_comments['Comment']['comment']) ? $video_comments['Comment']['comment'] : '';
                                if (strlen($comment) > 80) {
                                    $comment = mb_substr($comment, 0, 80) . '...';
                                }
                                $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, $huddle_name, $comment, $activityUrl, $activityDate, $video_title, $video_id, 1, $row['UserActivityLog']['account_folder_id']);
                            }
                        } elseif (isset($row['UserActivityLog']['type']) && $row['UserActivityLog']['type'] == '6') {
                            if ($row['UserActivityLog']['user_id'] != $user_id && !$this->Custom->user_present_huddle($user_id, $row['UserActivityLog']['account_folder_id'])) {
                                continue;
                            }
                            $orignal_comment = $Comment->get_parent_discussion($row['UserActivityLog']['ref_id']);
                            if (count($orignal_comment) > 0) {

                                if ($orignal_comment['Comment']['active'] == '1') {

                                    $commnet_title = $orignal_comment['Comment']['title'];
                                    $comment = $activityDescription;
                                    $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, $commnet_title, $activityDescription, $activityUrl, $activityDate, $huddle_name, 0, 1, $row['UserActivityLog']['account_folder_id']);
                                }
                            } else {
                                $recent_activity_des = '';
                            }
                        } elseif (isset($row['UserActivityLog']['type']) && $row['UserActivityLog']['type'] == '8') {
                            if ($row['UserActivityLog']['user_id'] != $user_id && !$this->Custom->user_present_huddle($user_id, $row['UserActivityLog']['account_folder_id'])) {
                                continue;
                            }
                            $child_comments = $Comment->get_parent_discussion($row['UserActivityLog']['ref_id']);

                            if (count($child_comments) > 0 && $child_comments['Comment']['parent_comment_id'] != '') {
                                $topic_name = $Comment->get_parent_discussion($child_comments['Comment']['parent_comment_id']);

                                if ($topic_name['Comment']['active'] == '1') {

                                    $commnet_title = $topic_name['Comment']['title'];
                                    $comment = $activityDescription;
                                    $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, $commnet_title, $activityDescription, $activityUrl, $activityDate, $huddle_name);
                                }
                            } else {
                                $recent_activity_des = '';
                            }
                        } elseif (isset($row['UserActivityLog']['type']) && $row['UserActivityLog']['type'] == '7') {
                            if ($huddle_name != '') {
                                continue;
                            }
                            if ($row['UserActivityLog']['type'] == '7' && $row['UserActivityLog']['account_folder_id'] != '') {
                                $comment2 = 'User Invited';
                                $username = $User->findByid($row['UserActivityLog']['ref_id']);
                                $activityDescription = $username['User']['first_name'] . "  " . $username['User']['last_name'];
                                $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, $huddle_name, $activityDescription, $activityUrl, $activityDate);
                            } else {
                                $comment2 = 'User Invited';
                                $username = $User->findByid($row['UserActivityLog']['ref_id']);
                                $activityDescription = $username['User']['first_name'] . "  " . $username['User']['last_name'];
                                $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, '', $activityDescription, $activityUrl, $activityDate);
                            }
                        } elseif (isset($row['UserActivityLog']['type']) && $row['UserActivityLog']['type'] == '17') {
                            if ($huddle_name != '') {
                                continue;
                            }
                            if ($row['UserActivityLog']['type'] == '17' && $row['UserActivityLog']['account_folder_id'] != '') {
                                $comment2 = 'User Invited';
                                $username = $User->findByid($row['UserActivityLog']['ref_id']);
                                $activityDescription = $username['User']['first_name'] . "  " . $username['User']['last_name'];
                                $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, $huddle_name, $activityDescription, $activityUrl, $activityDate);
                            } else {
                                $comment2 = 'User Invited';
                                $username = $User->findByid($row['UserActivityLog']['ref_id']);
                                $activityDescription = $username['User']['first_name'] . "  " . $username['User']['last_name'];
                                $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, '', $activityDescription, $activityUrl, $activityDate);
                            }
                        } elseif (isset($row['UserActivityLog']['type']) && $row['UserActivityLog']['type'] == '18') {

                            $users = $this->Session->read('user_current_account');
                            $user_id_per = $users['User']['id'];
                            $role_id_per = $users['roles']['role_id'];
                            if ($this->Custom->_check_evaluator_permissions_invite($row['UserActivityLog']['account_folder_id'], $user_id_per, $row['UserActivityLog']['ref_id']) == false) {
                                continue;
                            }

                            if ($row['UserActivityLog']['type'] == '18' && $row['UserActivityLog']['account_folder_id'] != '') {
                                $comment2 = 'User Invited';
                                $username = $User->findByid($row['UserActivityLog']['ref_id']);
                                $activityDescription = $username['User']['first_name'] . "  " . $username['User']['last_name'];
                                $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, $huddle_name, $activityDescription, $activityUrl, $activityDate, '', 0, 1, $row['UserActivityLog']['account_folder_id']);
                            } else {
                                $comment2 = 'User Invited';
                                $username = $User->findByid($row['UserActivityLog']['ref_id']);
                                $activityDescription = $username['User']['first_name'] . "  " . $username['User']['last_name'];
                                $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, '', $activityDescription, $activityUrl, $activityDate);
                            }
                        } elseif (isset($row['UserActivityLog']['type']) && $row['UserActivityLog']['type'] == '19') {

                            $users = $this->Session->read('user_current_account');
                            $user_id_per = $users['User']['id'];
                            $role_id_per = $users['roles']['role_id'];
                            if ($this->Custom->_check_evaluator_permissions_invite($row['UserActivityLog']['account_folder_id'], $user_id_per, $row['UserActivityLog']['ref_id']) == false) {
                                continue;
                            }

                            if ($row['UserActivityLog']['type'] == '19' && $row['UserActivityLog']['account_folder_id'] != '') {
                                $comment2 = 'User Invited';
                                $username = $User->findByid($row['UserActivityLog']['ref_id']);
                                $activityDescription = $username['User']['first_name'] . "  " . $username['User']['last_name'];
                                $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, $huddle_name, $activityDescription, $activityUrl, $activityDate, '', 0, 1, $row['UserActivityLog']['account_folder_id']);
                            } else {
                                $comment2 = 'User Invited';
                                $username = $User->findByid($row['UserActivityLog']['ref_id']);
                                $activityDescription = $username['User']['first_name'] . "  " . $username['User']['last_name'];
                                $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, '', $activityDescription, $activityUrl, $activityDate);
                            }
                        } elseif (isset($row['UserActivityLog']['type']) && $row['UserActivityLog']['type'] == '20') {
                            if ($row['UserActivityLog']['user_id'] != $user_id && !$this->Custom->user_present_huddle($user_id, $row['UserActivityLog']['account_folder_id'])) {
                                continue;
                            }

                            if ($this->Custom->check_if_evaluated_participant($row['UserActivityLog']['account_folder_id'], $user_id)) {
                                continue;
                            }

                            $comment2 = 'Observation Started';
                            $video_name = $AccountFolderDocument->get_document_name($row['UserActivityLog']['ref_id']);
                            $video_name = isset($video_name) ? $video_name : 'Untitled Video';
                            if (strlen($video_name) > 50) {
                                $video_name = mb_substr($video_name, 0, 50) . '...';
                            }
                            $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, $video_name, $activityDescription, $activityUrl, $activityDate, $huddle_name, $row['UserActivityLog']['ref_id'], 1, $row['UserActivityLog']['account_folder_id']);
                            if (!$this->Custom->check_if_recording_stopped($row['UserActivityLog']['ref_id'])) {
                                if(!empty($recent_activity_des))
                                {
                                $recent_activity_des = $recent_activity_des . '<img src="/img/recording_img.png" id="img_recording_live" style="margin-right: 0px;margin-left: 10px;"> '.$alert_messages['live_recording_alert'];
                                }
                                else {
                                    $recent_activity_des = '';
                                }
                            }

                            $id = "processing-message-" . $row['UserActivityLog']['id'];
                        }elseif(isset($row['UserActivityLog']['type']) && $row['UserActivityLog']['type'] == '24'){
                            if ($row['UserActivityLog']['user_id'] != $user_id && !$this->Custom->user_present_huddle($user_id, $row['UserActivityLog']['account_folder_id'])) {
                                continue;
                            }

                            if ($this->Custom->check_if_evaluated_participant($row['UserActivityLog']['account_folder_id'], $user_id)) {
                                continue;
                            }
                            $comment2 = 'Live Stream Started';
                            $video_name = $AccountFolderDocument->get_document_name($row['UserActivityLog']['ref_id']);
                            $video_name = isset($video_name) ? $video_name : 'Untitled Video';
                            if (strlen($video_name) > 50) {
                                $video_name = mb_substr($video_name, 0, 50) . '...';
                            }
                            $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, $video_name, $activityDescription, $activityUrl, $activityDate, $huddle_name, $row['UserActivityLog']['ref_id'], 1, $row['UserActivityLog']['account_folder_id']);
                            if (!$this->Custom->check_if_recording_stopped($row['UserActivityLog']['ref_id'])) {
                                $recent_activity_des = $recent_activity_des . '<img src="/img/recording_img.png" id="img_recording_live" style="margin-right: 0px;margin-left: 10px;"> Live';
                            }

                            $id = "live-stream-processing-message-" . $row['UserActivityLog']['id'];
                        }elseif(isset($row['UserActivityLog']['type']) && $row['UserActivityLog']['type'] == '25'){
                            if ($row['UserActivityLog']['user_id'] != $user_id && !$this->Custom->user_present_huddle($user_id, $row['UserActivityLog']['account_folder_id'])) {
                                continue;
                            }

                            if ($this->Custom->check_if_evaluated_participant($row['UserActivityLog']['account_folder_id'], $user_id)) {
                                continue;
                            }
                            $comment2 = 'Live Stream Started';
                            $video_name = $AccountFolderDocument->get_document_name($row['UserActivityLog']['ref_id']);
                            $video_name = isset($video_name) ? $video_name : 'Untitled Video';
                            if (strlen($video_name) > 50) {
                                $video_name = mb_substr($video_name, 0, 50) . '...';
                            }
                            $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, $video_name, $activityDescription, $activityUrl, $activityDate, $huddle_name, $row['UserActivityLog']['ref_id'], 1, $row['UserActivityLog']['account_folder_id']);
                            if (!$this->Custom->check_if_recording_stopped($row['UserActivityLog']['ref_id'])) {
                                $recent_activity_des = $recent_activity_des ;
                            }

                            $id = "live-stream-processing-message-" . $row['UserActivityLog']['id'];
                        } elseif (isset($row['UserActivityLog']['type']) && $row['UserActivityLog']['type'] == '21') {
                            if ($row['UserActivityLog']['user_id'] != $user_id && !$this->Custom->user_present_huddle($user_id, $row['UserActivityLog']['account_folder_id'])) {
                                continue;
                            }

                            if ($this->Custom->check_if_evaluated_participant($row['UserActivityLog']['account_folder_id'], $user_id)) {
                                continue;
                            }

                            $comment2 = 'Observation Stopped';
                            $video_name = $AccountFolderDocument->get_document_name($row['UserActivityLog']['ref_id']);
                            $video_name = isset($video_name) ? $video_name : 'Untitled Video';
                            if (strlen($video_name) > 50) {
                                $video_name = mb_substr($video_name, 0, 50) . '...';
                            }
                            $recent_activity_des = $this->Custom->log_activity($activityType, $activityLogs_users, $video_name, $activityDescription, $activityUrl, $activityDate, $huddle_name, $row['UserActivityLog']['ref_id'], 1, $row['UserActivityLog']['account_folder_id']);
                        }
                        ?>
                        
                        <?php if($recent_activity_des == ''){ 
                                            
                                            continue;
                                            
                                        }
                            ?>
                        
                        <?php
                        if (isset($comment) && ($comment != '' || $comment2 != '')):
                            ?>
                            <li id="<?php echo $id; ?>">
                                <div class="recentActivity_left">
                                    <h4><?php if($_SESSION['LANG'] == 'es') {echo $this->Custom->SpanishDate(strtotime($activityDate),'dashboard');}else{ echo date('M d', strtotime($activityDate));} ?></h4>
                                    <h5><?php echo date('h:i A', strtotime($activityDate)); ?></h5>
                                </div>
                                <div class="recentActivity_right">
                                    <p>
                                        <?php echo $recent_activity_des; ?>

                                        <?php
                                        if ($recent_activity_des != '') {
                                            $counter++;
                                        }
                                        ?>

                                        <?php if (isset($comment) && $comment != ''): ?>
                                            <?php
                                            if ($bool) {
                                                echo 'You have added an audio Annotation';
                                            } else {
                                                echo (strlen($comment) > 200 ? mb_substr(strip_tags($comment, ""), 0, 150) . "..." : strip_tags($comment, ""));
                                            }
                                            ?>
                                        <?php endif; ?>
                                    </p>
                                </div>
                            </li>
                        <?php endif; ?>
                        <?php $bool = 0; ?>
                    <?php endforeach; ?>
                    <?php
                        if(empty($counter)){
                    ?>
                    <li>
                        No recent activity found.
                    </li>
                    <?php
                        }
                    ?>
                <?php else: ?>
                    <li>
                        No recent activity found.
                    </li>
                <?php endif; ?>
            </ul>

        </div>

    </div>
    <div class="dashboard_right">



        <?php if ($this->Session->read('role') == '100' && $current_user['accounts']['in_trial']): ?>

            <?php
            $trial_duration = Configure::read('trial_duration');
            $account_create_date = $current_user['accounts']['created_at'];
            $account_end_date = date('Y-m-d H:i:s', strtotime("+{$trial_duration} day", strtotime($account_create_date)));
            $current_date = date('Y-m-d H:i:s', time());
            $expiry_date = date('Y-m-d H:i:s', strtotime($account_end_date));
            $current_date = strtotime($current_date);
            $expiry_date = strtotime($expiry_date);

            $timeLeft = $expiry_date - $current_date;
            if ($timeLeft < 0)
                $timeLeft = 0;

            $trialDaysLeft = ceil($timeLeft / 86400); // 24 * 60 * 60 = 86400
            if ($trialDaysLeft > $trial_duration)
                $trialDaysLeft = $trial_duration;
            ?>
            <div class="trial_box">
                <h1><?php echo $trialDaysLeft; ?> Days Left in your free trial!</h1>
                <a href="<?php echo $this->base . '/accounts/account_settings_all/' . $user_current_account['accounts']['account_id'] . '/4' ?>" class="btn btn-pure">Upgrade Options</a>
            </div>
        <?php endif; ?>
        <div id="setting_assistance" heading="setting_assistance" class="section-heading"> <?php echo $language_based_content['settings_and_assistance'];  ?>
            <div id="setting_assistance_up" class="arrow-up"></div>
            <div id="setting_assistance_down" class="arrow-down"></div>
        </div>
        <div class="section-content" id="setting_assistance_content" style="display:none;">
            <div class="settings_box">
                <?php if ($this->Session->read('role') == '100'): ?>
                    <a href="<?php echo $this->base . '/accounts/account_settings_all/' . $user_current_account['accounts']['account_id'] . '/1' ?>" style="margin-right:60px;"><img src="/app/img/dbimages/dashboard_settings.png" width="21" height="21" alt=""/><?php echo ' '.$language_based_content['customize_your_account'] ?></a>
                <?php else: ?>
                    <a href="<?php echo $this->base . '/Users/editUser/' . $user_current_account['User']['id'] ?>" style="margin-right:60px;"><img src="/app/img/dbimages/dashboard_settings.png" width="21" height="21" alt=""/><?php echo ' '.$language_based_content['your_user_settings'] ?></a>
                <?php endif; ?>
                <a href="http://sibme.helpscoutdocs.com/" target="_blank"><img src="/app/img/dbimages/dashboard_help.png" width="21" height="22" alt=""/><?php echo ' '.$language_based_content['help_center'] ?></a>

            </div>
        </div>


        <?php
        $is_tracker_active = 0;
        $tracker_active = 0;
        if (($enable_tracker == 1 && $bool > 0) || ($enable_matric == 1 && $bool > 0)):
            $is_tracker_active = 1;
        endif;
        if (($this->Session->read('role') == '100' || $this->Session->read('role') == '110') || $this->Custom->check_if_coach($account_id, $user_id)):
            $tracker_active = 1;
        elseif (($this->Session->read('role') == '120' && $bool > 0)):
            $tracker_active = 1;
        endif;
        if ($is_tracker_active == 1 || ($this->Session->read('role') == '100' || $this->Session->read('role') == '110' || $this->Session->read('role') == '120' || $this->Session->read('role') == '115') || $this->Custom->check_if_coach($account_id, $user_id)):
            ?>
            <?php if (($enable_tracker == 1 && $tracker_active == 1) || ($enable_matric == 1 && $tracker_active == 1) || ( ( $this->Custom->check_enable_analytics($account_id) && $this->Session->read('role') == '120' && $analytics_permission == '1' ) || ($this->Custom->check_enable_analytics($account_id) && $this->Session->read('role') == '110') || ( $this->Custom->check_enable_analytics($account_id) && $this->Session->read('role') == '100') || ( $this->Custom->check_enable_analytics($account_id) && $this->Session->read('role') == '115' ) )): ?>
                <?php if ($this->Session->read('role') != '125'): ?>
                    <div id="application_insight" heading="application_insight" class="section-heading"> <?php echo $language_based_content['application_insight'];  ?>
                        <div id="application_insight_up" class="arrow-up"></div>
                        <div id="application_insight_down" class="arrow-down"></div>
                    </div>
                <?php endif; ?>

            <?php endif; ?>

            <?php if ($this->Session->read('role') != '125'): ?>
                <div class="section-content" id="application_insight_content" style="display:none;">
                    <div class="Application_box">
                        <?php if (($enable_tracker == 1 && $tracker_active == 1) || ($enable_matric == 1 && $tracker_active == 1) || ($this->Custom->check_enable_analytics($account_id))): ?>
                            <?php if ($enable_tracker == 1 && $tracker_active == 1 && $this->Session->read('role') != '120'): ?>
                                <a href="<?php echo $this->base . '/Dashboard/coach_tracker' ?>">
                                    <div class="chart_box" style="margin: 0px 5%;">
                                        <img src="/app/img/dbimages/chart_1.png" width="95" height="71" alt=""/>
                                        <p><?php echo $language_based_content['coaching_tracker'];  ?></p>
                                    </div>
                                </a>
                            <?php endif; ?>
                        <?php endif; ?>
                        <?php if ($this->Custom->check_if_eval_huddle_active($account_id)): ?>
                            <?php if ($this->Custom->is_enable_assessment($account_id) && $this->Session->read('role') != '120') { ?>
                                <?php if ($assessor_or_not_check == 1 || $user_permissions['UserAccount']['role_id'] == '100' || $user_permissions['UserAccount']['role_id'] == '110') { ?>
                                    <a href="<?php echo $this->base . '/Dashboard/assessment_tracker' ?>">
                                        <div class="chart_box" style="margin: 0px 5%;">
                                            <img src="/app/img/dbimages/chart_1.png" width="95" height="71" alt=""/>
                                            <p><?php echo $language_based_content['assessment_tracker'];  ?></p>
                                        </div>
                                    </a>
                                <?php } ?>
                            <?php } ?>
                        <?php endif; ?>
                        <?php //if ($this->Session->read('role') == '100' || $this->Session->read('role') == '110'):  ?>
                        <?php if ($this->Custom->check_enable_analytics($account_id)) { ?>
                            <?php if (($analytics_permission == 0 && $this->Session->read('role') == '115')  || $analytics_permission == 1 || $this->Session->read('role') == '100' || $this->Session->read('role') == '110') { ?>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <!--                            <a href="<?php //echo $this->base . '/dashboard/analytics';                                ?>">-->
                                <a href="<?php echo $this->base . '/analytics_angular/home'; ?>">
                                    <div class="chart_box" style="margin: 0px 5%;">
                                        <img src="/app/img/dbimages/chart_2.png" width="95" height="71" alt=""/>
                                        <p><?php echo $language_based_content['analytics'];  ?></p>
                                    </div>
                                </a>
                            <?php } ?>
                        <?php } ?>

                        <?php //endif;    ?>
                    </div>
                </div>
            <?php endif; ?>
        <?php endif; ?>
        
        <?php if(IS_PROD && $this->Session->read('role') != '125'): ?>
            <?php  if(empty($current_user['accounts']['in_trial']) || $current_user['accounts']['in_trial']==0):?>       
            <div id="setting_assistance_edTPA" heading="setting_assistance_edTPA" class="section-heading"><?php echo $language_based_content['integrations'];  ?>
                <div id="edTPA_up" class="arrow-up"></div>
                <div id="edTPA_down" class="arrow-down"></div>
            </div>
            <div class="section-content" id="submission_edTPA">
                <?php if (isset($user_permissions['accounts']['enable_edtpa']) && $user_permissions['accounts']['enable_edtpa'] == '1') { ?>
                <a class ="sub_edtpa" href="<?php echo $this->base . '/Edtpa/edtpa/' ?>" ><img src="/app/img/dbimages/edtpa_icon.png"  alt=""/>&nbsp;</a>
                <?php } ?>
            </div>
            <?php endif; ?>
        <?php endif; ?>

        <div id="mobile_go" heading="mobile_go" class="section-heading"> <?php echo $language_based_content['go_mobile'];  ?>
            <div id="mobile_go_up" class="arrow-up"></div>
            <div id="mobile_go_down" class="arrow-down"></div>
        </div>
        <div class="section-content" id="mobile_go_content" style="display:none;">
            <div class="mobile_box">
                <a href="<?php echo $this->custom->get_site_settings('static_apps_urls')['ios']; ?>" target="_blank"><img src="<?php echo $this->custom->get_site_settings('app_store_image'); ?>" width="172" height="51" alt=""/></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="<?php echo $this->custom->get_site_settings('static_apps_urls')['android']; ?>" target="_blank"><img src="<?php echo $this->custom->get_site_settings('play_store_image'); ?>" width="172" height="51" alt=""/> </a>

            </div>

        </div>


    </div>
    <div class="clear"></div>
</div>

<script>
    $(document).on("click", "#flashMessage_storage", function () {
        $("#flashMessage_storage").fadeOut();
    });

    function create_recent_activity_template(obj) {
        var html = '<li id="processing-message-' + obj.UserActivityLog.id + '">';
        html += '<div class="recentActivity_left">';
        html += '<h4>' + obj.UserActivityLog.date_added_day_month + '</h4>';
        html += '<h5>' + obj.UserActivityLog.date_added_time + '</h5>';
        html += '</div>';

        html += '<div class="recentActivity_right">';
        html += '<p style="margin-left: 4px;">' + obj.UserActivityLog.default_text + ' <a style="color:#6191bb" href=' + obj.UserActivityLog.redirect_link + '>-' + obj.UserActivityLog.title + '</a><img src="/img/recording_img.png" id="img_recording_live" style="margin-right: 0px;margin-left: 10px;"> <?php echo $alert_messages['live_recording_alert'];?></p>';
        html += '</div>';
        html += '</li>';
        if ($('#processing-message-' + obj.UserActivityLog.id).length == 0) {
            $('ul.recent_activity_content').prepend(html);
        }

    }
    function create_recent_live_stream_template(obj) {
        var html = '<li id="live-stream-processing-message-' + obj.UserActivityLog.id + '">';
        html += '<div class="recentActivity_left">';
        html += '<h4>' + obj.UserActivityLog.date_added_day_month + '</h4>';
        html += '<h5>' + obj.UserActivityLog.date_added_time + '</h5>';
        html += '</div>';

        html += '<div class="recentActivity_right">';
        html += '<p style="margin-left: 4px;">' + obj.UserActivityLog.default_text + ' <a style="color:#6191bb" href=' + obj.UserActivityLog.redirect_link + '>-' + obj.UserActivityLog.title + '</a><img src="/img/recording_img.png" id="img_recording_live" style="margin-right: 0px;margin-left: 10px;"> Live</p>';
        html += '</div>';
        html += '</li>';
        if ($('#live-stream-processing-message-' + obj.UserActivityLog.id).length == 0) {
            $('ul.recent_activity_content').prepend(html);
        }

    }

    (function get_live_recent_activity() {
        setTimeout(function () {
            $.ajax({
                url: home_url + '/Huddles/get_live_video_observations',
                type: 'post',
                dataType: 'json',
            }).success(function (res) {
                if (res.live_observations != undefined) {
                    for (var i = 0; i < res.live_observations.length; i++) {
                        var live_observation = res.live_observations[i];
                        create_recent_activity_template(live_observation);
                    }
                }
            }).always(function () {
                get_live_recent_activity();
            });
        }, 2000);
    })();

    (function get_live_stream_recent_activity() {
        setTimeout(function () {
            $.ajax({
                url: home_url + '/Huddles/get_live_stream_video',
                type: 'post',
                dataType: 'json',
            }).success(function (res) {
                if (res.live_steam != undefined) {
                    for (var i = 0; i < res.live_steam.length; i++) {
                        var live_stream_video = res.live_stream_video[i];
                        create_recent_live_stream_template(live_stream_video);
                    }
                }
            }).always(function () {
                get_live_stream_recent_activity();
            });
        }, 2000);
    })();
    
    
    $(document).ready(function (e) {
      var comment_tags_count = JSON.parse('<?php echo JSON_encode($comment_tags_count);?>');
      var user_current_account = JSON.parse('<?php echo JSON_encode($user_current_account);?>');
       $.ajax({
                type: 'POST',
                data: {
                    comment_tags_count: comment_tags_count,
                    user_current_account: user_current_account,
                    account_id: <?php echo $account_id; ?>
                },
                async: true,        
                url: home_url + '/Dashboard/churnzero_attribute_list',
                success: function (response) {

                },
                errors: function (response) {

                }

            });
            
            });
    
    

</script>