        <!-- Modal content-->
            <div class="modal-header">
                <h4 class="modal-title">{{headerService?.getGoalAltTranslation(translation?.goals_framework_evidence)}}</h4>
                <button type="button" class="close" (click)="modalRef.hide()">×</button>
            </div>
            <div class="modal-body evi_popup">
                <div class="frm_popup">
                    <p>{{translation?.goals_choose_framework}}</p>
                    <select *ngIf="frameworks.length > 0; else selectLoader" #framework class="form-control"
                        [(ngModel)]="selectedFrameworkId" (change)="frameworkChange(framework.value)">
                        <option value="0"> {{translation?.select_framework_all}} </option>
                        <option *ngFor="let framework of frameworks" [value]="framework.account_tag_id">
                            {{framework.tag_title}} </option>
                    </select>
                    <ng-template #selectLoader>
                        <div class="g_ani2 select-loader"></div>
                    </ng-template>
                    <div *ngIf="selectedFrameworkData && !frameworkStandardLoading" class="frme_list">
                        <div class="slimscroll-container slim-padding" slimScroll [options]="slimScrollOpts"
                            [scrollEvents]="scrollEvents">
                            <div style="padding-right: 15px;">
                            <ng-container *ngFor="let framework of selectedFrameworkData?.account_tag_type_0">
                                <label class="wrap" *ngIf="framework.standard_level === 1">
                                    <span class="wrap">{{framework.tag_code}}</span> {{framework.tag_html}}
                                </label>
                                <p class="wrap" *ngIf="framework.standard_level !== 1"
                                    [class]="'standard-level-' + framework.standard_level">
                                    <span class="wrap">{{framework.tag_code}}</span> {{framework.tag_html}}
                                </p>
                            </ng-container>
                        </div>

                        </div>
                    </div>
                    <div *ngIf="frameworkStandardLoading" class="frme_list standard-loading-container">
                        <ng-container *ngFor="let index of [1, 2]">
                            <div class="g_ani2 loader-heading"></div>
                            <div *ngFor="let i of [1, 2, 3]" class="g_ani2 loader-row"></div>
                        </ng-container>
                    </div>
                </div>
                <div class="modal-footer evi_footer">
                    <div class="col-12 modal_btn">
                        <button type="button" class="btn btn-default bgnone"
                            (click)="modalRef.hide()">{{translation?.cancel_all}} </button>
                        <button type="button" class="btn btn-success" (click)="useFramework()"
                            [disabled]="!selectedFrameworkData || addingFramework">{{translation?.vd_use_framework}}</button>
                    </div>
                </div>
            </div>
