.audio-recorder-play-wrapper { position: relative; }
::ng-deep .onEditAudio .audio-recorder-play-wrapper .audio-recorder { 
    position: absolute !important;
    right: 5px !important;
    top: 52px !important;
    z-index: 1000;
 }

.disable-select {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.audio-recorder {
    position: absolute;
       right: -3px;
    top: -5px;
}

.record-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #b3b3b3; */
    border-radius: 50%;
    width: 35px !important;
    height: 35px !important;
}

.record-icon span {
    color: #000000;
}

.audio-container {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #CECECE;
        margin: -1px 0 -1px -1px !important;
       padding: 10px 30px 10px 10px;    border-radius: 4px;

}

.stop-audio-wrapper {
   
    display: flex;
    align-items: center;
    justify-content: space-around;
  
}

.stop-audio-wrapper span {
    color: #fd1515;
}

.stop-audio-wrapper svg {
    cursor: pointer;
}

.resume-audio {
    
	width: auto !important;
    height: auto !important;
}

.cancel-audio {
    position: absolute;
      top: 9px;
    right: 8px;
    cursor: pointer;
}

.audioLoading {
    width: 100%;
    height: 30px;
}

.stop-audio-wrapper {
    position: relative;     margin-right: 5px;
}

.tooltiptext {
    visibility: hidden;
    width: 165px;
    background-color: black;
    color: #ffffff !important;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 40px;
    left: 0px;
}

.stop-audio-container:hover .tooltiptext {
    visibility: visible;
}

.browser-not-support-tooltip {
    visibility: hidden;
    width: 165px;
    background-color: black;
    color: #ffffff !important;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 52px;
    left: 0px;
}

.disable-record-icon {
    background-color: #e6e4e4 !important;

}

.disable-record-icon:hover .browser-not-support-tooltip {
    visibility: visible;
}

.bg_count { display:inline-block; width:35px; height:35px; color:#fff !important; line-height:35px; border-radius:50%; background:#616161; 
text-align:center; }

.time_stm{position: relative;
    top: 2px;
    display: inline-block;
    padding-left: 10px;
font-size: 12px;}

.green_icon { display: inline-block; margin-right:5px;}

.post_reply .audio-recorder img {    max-width: 29px;
    top: -4px;
    position: relative;}






