<div class="audio-recorder-play-wrapper">
    <ng-container
        *ngIf="recordingState === 'comfortZone' || recordingState === 'recording'; then audioRecorder; else audioContainer">
    </ng-container>

    <ng-template #audioRecorder>
        <div class="audio-recorder disable-select">
            <ng-container *ngIf="browserSupportAudioRecording; then browserSupportAudio; else browserNotSupportAudio">
            </ng-container>
            <ng-template #browserSupportAudio>
                <ng-template #recordAudioTooltipTemplate>{{ recordAudioTooltip }}</ng-template>
                <div containerClass="audio-record-tooltip" class="record-icon"
                    holdable [type]="'record'" (hold)="hold($event)">
                    <!-- <svg *ngIf="recordingState === 'comfortZone'" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                        viewBox="0 0 261.075 261.075" style="enable-background:new 0 0 261.075 261.075;"
                        xml:space="preserve" width="50px" height="30px">
                        <path
                            d="M126.855,174.05h5.744c22.447,0,40.641-18.194,40.641-40.641V40.641    C173.24,18.194,155.046,0,132.599,0h-5.744c-22.447,0-40.641,18.194-40.641,40.641v92.769    C86.215,155.856,104.408,174.05,126.855,174.05z"
                            data-original="#010002" class="active-path" data-old_color="#010002" fill="#FFFFFF" />
                        <path
                            d="M124.288,201.147v43.61H86.215c-4.504,0-8.159,3.65-8.159,8.159s3.655,8.159,8.159,8.159h92.464    c4.504,0,8.159-3.65,8.159-8.159s-3.655-8.159-8.159-8.159h-38.073v-43.823c34.832-3.138,63.262-34.44,63.262-71.208    c0-4.509-3.655-8.159-8.159-8.159s-8.159,3.65-8.159,8.159c0,29.92-24.122,55.201-52.672,55.201h-8.686    c-28.544,0-52.666-24.699-52.666-53.939c0-4.509-3.655-8.159-8.159-8.159s-8.159,3.65-8.159,8.159    C57.208,169.073,87.134,200.109,124.288,201.147z"
                            data-original="#010002" class="active-path" data-old_color="#010002" fill="#FFFFFF" />
                    </svg> -->
                    <img  *ngIf="recordingState === 'comfortZone'"  [tooltip]="recordAudioTooltipTemplate" src="assets/img/mic_2.svg" >
                    <span class="bg_count" *ngIf="recordingState === 'recording'">{{seconds | displayTime}}</span>
                </div>
            </ng-template>
            <ng-template #browserNotSupportAudio>
                <div [tooltip]="translations?.browser_does_not_support_audio_recording"
                    containerClass="audio-record-tooltip" class="record-icon disable-record-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        id="Capa_1" x="0px" y="0px" viewBox="0 0 261.075 261.075"
                        style="enable-background:new 0 0 261.075 261.075;" xml:space="preserve" width="50px"
                        height="30px">
                        <path
                            d="M126.855,174.05h5.744c22.447,0,40.641-18.194,40.641-40.641V40.641    C173.24,18.194,155.046,0,132.599,0h-5.744c-22.447,0-40.641,18.194-40.641,40.641v92.769    C86.215,155.856,104.408,174.05,126.855,174.05z"
                            data-original="#010002" class="active-path" data-old_color="#010002" fill="#FFFFFF" />
                        <path
                            d="M124.288,201.147v43.61H86.215c-4.504,0-8.159,3.65-8.159,8.159s3.655,8.159,8.159,8.159h92.464    c4.504,0,8.159-3.65,8.159-8.159s-3.655-8.159-8.159-8.159h-38.073v-43.823c34.832-3.138,63.262-34.44,63.262-71.208    c0-4.509-3.655-8.159-8.159-8.159s-8.159,3.65-8.159,8.159c0,29.92-24.122,55.201-52.672,55.201h-8.686    c-28.544,0-52.666-24.699-52.666-53.939c0-4.509-3.655-8.159-8.159-8.159s-8.159,3.65-8.159,8.159    C57.208,169.073,87.134,200.109,124.288,201.147z"
                            data-original="#010002" class="active-path" data-old_color="#010002" fill="#FFFFFF" />
                    </svg>
                </div>
            </ng-template>
        </div>
    </ng-template>

    <ng-template #audioContainer>
        <div class="audio-container">
            <ng-container *ngIf="recordingState === 'resume' && !uploadingAudio ; then resumeRecorder; else playAudio">
            </ng-container>
            <ng-template #resumeRecorder>
                <div class="stop-audio-wrapper disable-select">
                    <div class="stop-audio-container" [tooltip]="translations?.stop_upload_audio"
                        containerClass="stop-upload-tooltip">
                        
                        <!-- <span class="green_icon">
                          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                            <g id="Group_1896" data-name="Group 1896" transform="translate(-535 -826)">
                              <g id="Group_890" data-name="Group 890" transform="translate(535 826)">
                                <g id="Ellipse_4" data-name="Ellipse 4" fill="#fff" stroke="#616161" stroke-width="1">
                                  <circle cx="13" cy="13" r="13" stroke="none"/>
                                  <circle cx="13" cy="13" r="12.5" fill="none"/>
                                </g>
                              </g>
                              <circle id="Ellipse_24" data-name="Ellipse 24" cx="4.5" cy="4.5" r="4.5" transform="translate(544 834.684)" fill="#039542"/>
                            </g>
                          </svg>

                        </span> -->

                        <svg (click)="stopAndUploadAudio()" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                        <g id="Group_1901" data-name="Group 1901" transform="translate(-535 -826)">
                          <g id="Group_890" data-name="Group 890" transform="translate(535 826)">
                            <g id="Ellipse_4" data-name="Ellipse 4" fill="#fff" stroke="#616161" stroke-width="1">
                              <circle cx="13" cy="13" r="13" stroke="none"/>
                              <circle cx="13" cy="13" r="12.5" fill="none"/>
                            </g>
                          </g>
                          <rect id="Rectangle_187" data-name="Rectangle 187" width="7" height="7" transform="translate(545 835.31)" fill="#d30000"/>
                        </g>
                      </svg>
                    </div>
                     
                </div>
                <ng-template #resumeAudioTooltipTemplate>{{ resumeAudioTooltip }}</ng-template>
                
                
                <div containerClass="audio-record-tooltip" class="resume-audio"
                    holdable [type]="'resume'" (hold)="hold($event)">
                    


                    <svg [tooltip]="resumeAudioTooltipTemplate" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                    <g id="Group_1886" data-name="Group 1886" transform="translate(-535 -826)">
                      <g id="Group_890" data-name="Group 890" transform="translate(535 826)">
                        <g id="Ellipse_4" data-name="Ellipse 4" fill="#fff" stroke="#616161" stroke-width="1">
                          <circle cx="13" cy="13" r="13" stroke="none"/>
                          <circle cx="13" cy="13" r="12.5" fill="none"/>
                        </g>
                      </g>
                      <g id="Group_1902" data-name="Group 1902" transform="translate(-879.5 434.887)">
                        <line id="Line_66" data-name="Line 66" y2="6.723" transform="translate(1425.5 400.752)" fill="none" stroke="#616161" stroke-linecap="round" stroke-width="2"/>
                        <line id="Line_67" data-name="Line 67" y2="6.723" transform="translate(1429.5 400.752)" fill="none" stroke="#616161" stroke-linecap="round" stroke-width="2"/>
                      </g>
                    </g>
                  </svg>
                </div>
            </ng-template>
            <span *ngIf="!uploadingAudio && recordingState != 'play'" class="time_stm">Record Time <b>{{seconds | displayTime}} </b></span>
            <ng-template #playAudio>
                <div *ngIf="uploadingAudio" class="audioLoading sibme-animation"></div>
                <div #audioPlayerContainer></div>
            </ng-template>
            <div *ngIf="!uploadingAudio" class="cancel-audio" (click)="cancel()">
                <svg xmlns="http://www.w3.org/2000/svg" width="9.585" height="9.585" viewBox="0 0 9.585 9.585">
                <g id="Group_1907" data-name="Group 1907" transform="translate(-542.318 -832.395)">
                  <line id="Line_62" data-name="Line 62" x2="6.757" y2="6.757" transform="translate(543.732 833.81)" fill="none" stroke="#616161" stroke-linecap="round" stroke-width="2"/>
                  <line id="Line_63" data-name="Line 63" x1="6.757" y2="6.757" transform="translate(543.732 833.81)" fill="none" stroke="#616161" stroke-linecap="round" stroke-width="2"/>
                </g>
              </svg>
            </div>
        </div>
    </ng-template>
</div>
<ng-template #maxLimitPopup>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <svg class="info-red-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve" width="30px" height="30px">
            <g>
              <path d="M165,0C74.019,0,0,74.02,0,165.001C0,255.982,74.019,330,165,330s165-74.018,165-164.999C330,74.02,255.981,0,165,0z    M165,300c-74.44,0-135-60.56-135-134.999C30,90.562,90.56,30,165,30s135,60.562,135,135.001C300,239.44,239.439,300,165,300z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FF0303"/>
              <path d="M164.998,70c-11.026,0-19.996,8.976-19.996,20.009c0,11.023,8.97,19.991,19.996,19.991   c11.026,0,19.996-8.968,19.996-19.991C184.994,78.976,176.024,70,164.998,70z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FF0303"/>
              <path d="M165,140c-8.284,0-15,6.716-15,15v90c0,8.284,6.716,15,15,15c8.284,0,15-6.716,15-15v-90C180,146.716,173.284,140,165,140z   " data-original="#000000" class="active-path" data-old_color="#000000" fill="#FF0303"/>
            </g>
          </svg>
        <span>{{translations?.limit_audio_5_minutes}}</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()"
            style="background-color: rgb(61, 171, 40); color: #ffffff;">OK</button>
    </div>
</ng-template>