<div class="modal-header">
    <h4 class="modal-title">Share Folder</h4>
    <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>
</div>

<div class="modal-body share-modal-body manage_popup">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a [ngClass]="{'active':isActive=='t1'}" (click)="setIsActive('t1')">
                Share to Workspace</a>
        </li>
        <li  class="nav-item">
            &nbsp;
            <a [ngClass]="{'active':isActive=='t2'}"
                (click)="setIsActive('t2')">Share to Huddle</a>
        </li>
    </ul>

    <div class="tab-content">
        <div *ngIf="isActive=='t1'">
            <div class="row">
                <div class="col-12">
                    <div class="search-container">
                        <input type="text" #filter placeholder="Search Workspace"
                            [(ngModel)]="search_Huddle_Input">
                        <img *ngIf="search_Huddle_Input?.length> 0" src="./assets/img/x.svg"
                        (click)="clearSearchFilter(filter)">
                    </div>
                </div>
                <div class="col-12 scroll-container" slimScroll [options]="opts" [scrollEvents]="scrollEvents">
                    <div *ngIf="!workspaceFolderData">
                        <div class="skeleton-container" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <div class="sibme-animation checkbox-skeleton"></div>
                            <div class="sibme-animation huddle-name-skeleton"></div>
                        </div>
                    </div>
                    <br>
                    <p *ngIf="workspaceFolderLength == 0">
                        {{translation?.artifacts_no_huddle_found}}</p>
                </div>
            </div>
        </div>
        <div *ngIf="isActive=='t2'">
            <div class="row">
                <div class="col-12">
                    <div class="search-container">
                        <input type="text" #filter placeholder="{{translation?.artifacts_search_to_huddle}}"
                            [(ngModel)]="search_Huddle_Input">
                        <img *ngIf="search_Huddle_Input?.length> 0" src="./assets/img/x.svg"
                        (click)="clearSearchFilter(filter)">
                    </div>
                </div>
                
                <p *ngIf="workspaceFolderLength == 0">
                    {{translation?.artifacts_no_huddle_found}}</p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer share-modal-footer">
    <div class="share_btn">
        <button type="button" class="btn btn-default"
            (click)="bsModalRef.hide()">{{translation?.discussion_cancel}}</button>
        <button type="button" class="btn btn-success" (click)="shareFolder()">Share</button>
    </div>
</div>