<div class="box_con">
    <div class="heading">
      <h2>Orders</h2>
    </div>
  
   <div class="hmh_licencing">
   
   
       
       
       <div class="row lic_inner h_b">
          <div  class="col-2 lc1"><span tooltip="Order_Date">Order Date</span></div>
          <div  class="col-2"><span tooltip="Sales_Doc">Sales Doc</span></div>
          <div  class="col-3"><span tooltip="ShipTo_Cust">Ship To Customer</span></div>
          <div  class="col-1"><span tooltip="Qty">QTY</span></div>
          <div  class="col-3"><span tooltip="Admin_Email">Admin Email</span></div>
          <div class="col-2">Licenses</div>
          <div class="col-1 lastc">Order</div>
          
          
       </div>
       
       <div class="row lic_inner" *ngFor="let order of orders">
          <div class="col-2 lc1"><span tooltip="{{order?.Order_Date | date}}">{{order?.Order_Date | date:'MM/dd/yyyy'}} </span></div>
          <div class="col-2"><span tooltip="{{order?.Sales_Doc}}">{{order?.Sales_Doc}}</span></div>
          <div class="col-3"><span tooltip="{{order?.ShipTo_Cust}}"> {{order?.ShipTo_Cust==null?'No Name':order?.ShipTo_Cust  | slice:0:22 }} <span *ngIf="order?.ShipTo_Cust?.length>22">...</span> </span></div>
          <div class="col-1"><span tooltip="{{order?.Qty}}">{{order?.Qty}}</span></div>
          <div class="col-3"><span tooltip="{{order?.Admin_Email}}">{{order?.Admin_Email  | slice:0:22}}
            <span *ngIf="order?.Admin_Email?.length>22">...</span></span></div>
          <div class="col-2"><a  href="javascript(void);" [routerLink]="[order?.id+'/manage-license']" >Manage</a></div>
          <div class="col-1 lastc" style="color:#007bff;cursor: pointer;"><a data-toggle="modal" (click)="showModal('Order_detail',order)">Details</a> </div>
          
               
          
       </div>
       <p *ngIf="orders?.length==0">No Orders Found!</p>
   </div>
  
</div>


<!--order new html end-->

<!--order detail modal start-->

<div bsModal #Order_detail="bs-modal" class="modal fade sharepopup" tabindex="-1" role="dialog"
aria-labelledby="Order_detail">
    <div class="modal-dialog" style="max-width:900px;">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
         <h4 class="modal-title">Order Details</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="hideModal('Order_detail')">&times;</button>
         
        </div>
        <div class="modal-body lic_popup2">
         
          
              <div class="row ">
              
               <div class="col-5"><p><label>Order Date:<br><span>Order_Date</span></label>{{order_Detail.Order_Date | date}}</p>
               
               </div> <div class="col-7"><p><label>Sold To Customer:<br><span>SoldTo_Cust</span></label>{{order_Detail?.SoldTo_Cust}}</p></div>
               <div class="col-5"><p><label>Line:<br><span>Line</span></label>{{order_Detail?.Line}}</p>
               
               </div> <div class="col-7"><p><label>Ship to customer:<br><span>ShipTo_Cust</span></label>{{order_Detail?.ShipTo_Cust}}</p></div>
               <div class="col-5"><p><label>Sales Doc:<br><span>Sales_Doc</span></label>{{order_Detail?.Sales_Doc}}</p>
               
               </div> <div class="col-7"><p><label>Sold to customer #:<br><span>SoldTo_Cust_Number</span></label>{{order_Detail?.SoldTo_Cust_Number}}</p></div>
               <div class="col-5"><p><label>ISBN13:<br><span>ISBN13</span></label>{{order_Detail?.ISBN13}}</p>
               
               </div> <div class="col-7"><p><label>Ship to City:<br><span>ShipTo_City</span></label>{{order_Detail?.ShipTo_City}}</p></div>
               <div class="col-5"><p><label>Subscription Start:<br><span>Subscription_Start</span></label>{{order_Detail.Subscription_Start=='0000-00-00 00:00:00'?'0':(order_Detail.Subscription_Start | date)}}</p>
               
               </div> <div class="col-7"><p><label>Ship to State:<br><span>ShipTo_State</span></label>{{order_Detail?.ShipTo_State}}</p></div>
               <div class="col-5"><p><label>Subscription End:<br><span>Subscription_End</span></label>{{order_Detail.Subscription_End=='0000-00-00 00:00:00'?'0':(order_Detail.Subscription_End | date)}}</p>
               
               </div> <div class="col-7"><p><label>Is Ship to the District(Y/N)<br><span>Is_ShipTo_the_District_Y_N</span></label>{{order_Detail?.Is_ShipTo_the_District_Y_N}}</p></div>
               <div class="col-5"><p><label>Material:<br><span>Material</span></label>{{order_Detail?.Material}}</p>
               
               </div> <div class="col-7"><p><label>Admin email:<br><span>Admin_Email</span></label>{{order_Detail?.Admin_Email}}</p></div>
               <div class="col-5"><p><label>Qty:<br><span>Qty</span></label>{{order_Detail?.Qty}}</p>
               
               </div>
               <!-- <div class="col-7"><p><label>Notes (for OM only):<br><span>notes_for_on_only</span></label>{{order_Detail?.Notes}}</p></div> -->
                       
               </div>
               
        </div>
        
        <div class="modal-footer mfooter">
         
          <button type="button" class="btngreen" (click)="hideModal('Order_detail')">Done</button>
        </div>
        
      </div>
  
    </div>
  </div>

<!--order detail modal end-->