<div class="box_con">
    <div class="heading">
      <h2>FAQ</h2>
    </div>
  
   <div class="faqcls" >
       <div *ngIf="lessData==true">
            <h3>How will I know that licenses I’ve assigned have been sent to the correct people's email addresses?</h3>
            <p>From the main licensing screen find the order that contains the users email in question, click manage licenses. Any licenses that have been assigned will have an entry on this page that include full name <span *ngIf="lessData==true"  (click)="completeData=true;lessData=false" style="color:#007bff;cursor: pointer;">See More</span></p>
        </div>
        <div *ngIf="completeData==true">
                <h3>How will I know that licenses I’ve assigned have been sent to the correct people's email addresses?</h3>
                <p>From the main licensing screen find the order that contains the users email in question, click manage licenses. Any licenses that have been assigned will have an entry on this page that include full name, email address and when the invitation email was sent. You can also click the  'Send invitation button to send the invitation again. <span *ngIf="completeData==true" (click)="lessData=true;completeData=false;" style="color:#007bff;cursor: pointer;">See Less</span></p>
        </div>

        <div *ngIf="lessData2==true">
          <h3>I’ve made a mistake when assigning a license, how do I edit the assigned license to fix the mistake?</h3>
          <p>Licensing screens only provide the ability to make initial assignment of licenses. If an error was made when assigning a license, such as entering and incorrect name or email address,<span *ngIf="lessData2==true" (click)="completeData2=true;lessData2=false" style="color:#007bff;cursor: pointer;">See More</span></p>
      </div>
      <div *ngIf="completeData2==true">
              <h3>I’ve made a mistake when assigning a license, how do I edit the assigned license to fix the mistake?</h3>
              <p>Licensing screens only provide the ability to make initial assignment of licenses. If an error was made when assigning a license, such as entering and incorrect name or email address, you’ll need to contact <a class="link_colr">support@sibme.com</a> with all needed details so they can make the correction for you.<span *ngIf="completeData2==true" (click)="lessData2=true;completeData2=false;" style="color:#007bff;cursor: pointer;">See Less</span></p>
      </div>

      <div>
        <h3>I previously assigned a license to a user but I  need to reassign that license to a different person. How do I get this done?</h3>
        <p>It’s not possible to swap out licensees in the license manager. Please contact <a class="link_colr">support@sibme.com</a> to have this done for you.</p>
    </div>

    <div>
      <h3>I see that I have too few or too many licenses than I should have. How can I correct this?</h3>
      <p>You’ll need to contact your Coaching Studio representative to get this number corrected.</p>
    </div>

    <div>
      <h3>Information in my order details is incorrect. How can I correct this?</h3>
      <p>You’ll need to contact your Coaching Studio representative to correct this information.</p>
    </div>

    <div *ngIf="lessData3==true">
      <h3>One or more people that I have assigned licenses to have not received the invitation email, even though I’ve resent them the invitation. What can I do to fix this?</h3>
      <p>First, check that you’ve entered their email correctly. Next, ask them to check their spam folder in their email application. If these don’t resolve the problem you can contact<a class="link_colr">support@sibme.com</a> on their behalf or <span *ngIf="lessData3==true"  (click)="completeData3=true;lessData3=false" style="color:#007bff;cursor: pointer;">See More</span></p>
    </div>
    <div *ngIf="completeData3==true">
      <h3>One or more people that I have assigned licenses to have not received the invitation email, even though I’ve resent them the invitation. What can I do to fix this?</h3>
      <p>First, check that you’ve entered their email correctly. Next, ask them to check their spam folder in their email application. If these don’t resolve the problem you can contact <a class="link_colr">support@sibme.com</a> on their behalf or you can ask them to contact <a class="link_colr">support@sibme.com</a> directly. Please ask them to send an email from the email address that was used to add them to Coaching Studio.<span *ngIf="completeData3==true" (click)="lessData3=true;completeData3=false;" style="color:#007bff;cursor: pointer;">See Less</span></p>
    </div>

    <div>
      <h3>What if I have a question that wasn’t addressed anywhere in this FAQ?</h3>
      <p>If you have a billing question or questions related to your HMH bundle please contact your HMH representative directly. If you or any of your users have a technical issue with Coaching Studio please contact <a class="link_colr">support@sibme.com.</a></p>
    </div>

    <!-- <div *ngIf="completeData3==true">
            <h3>I previously assigned a license to a user but I  need to reassign that license to a different person. How do I get this done?</h3>
            <p>Licensing screens only provide the ability to make initial assignment of licenses. If an error was made when assigning a license, such as entering and incorrect name or email address, you’ll need to contact support@sibme.com with all needed details so they can make the correction for you.</p><span *ngIf="completeData2==true" (click)="lessData2=true;completeData2=false;" style="color:#007bff;cursor: pointer;">See Less</span>
    </div> -->
      
   </div>
  
</div>