<div class="clear"></div>
<div class="container bred_an">
  <a [routerLink]="['/']">{{translations.home_global}}</a>
  <img src="assets/img/breadcrumarrow.svg" />
  <a [routerLink]="['/account-settings']">{{translations.account_settings_all}}</a>

  <img src="assets/img/breadcrumarrow.svg" />

  <a [routerLink]="['/account-settings/plans']"> {{translations.plans_main}}</a>
  <img src="assets/img/breadcrumarrow.svg" />

  <a [routerLink]="['/account-settings/plans/cancel']"> <b> {{translations.cancel_account}} </b></a>
</div>
<div class="container box_outer ">

    <div class="row panl_headingac">

        <div class="col-md-6">
            <h3>{{translations.cancel_account_all}}</h3>
        </div>

        <div class="col-md-6 back_ac">
            <a [routerLink]="['/account-settings/plans']"> <img
                    src="assets/dashboard/assets/img/account-settings/left-arrow.png"> {{translations.back_to_plans_new_settings}}</a>

        </div>

    </div>


    <div class="cancel_account">
        <img src="assets/dashboard/assets/img/account-settings/user_cancel_icon.svg">

        <div class="account_labels">
            <label>{{translations.sure_to_cancel_account_all}}</label>
            <p>{{translations.continue_to_have_access_to_Sibme }} </p>
            <p>  {{translations.plan_subscription_period  }} </p>
            <p>     {{translations.period_expires_all_account_data  }}
                
            </p>

            <div class="cancel_btns">
                <button routerLink="/account-settings">{{translations.nevermind_let_me_all}}</button>
                <button data-toggle="modal" data-target="#cancel_account" class="cancel_ac"
                    (click)="showCancelAccount()">{{translations.cancel_your_account_all}}
                </button>
            </div>


        </div>

    </div>


</div>


<div id="cancel_account" bsModal #cancel_account="bs-modal" [config]="{backdrop:'static',keyboard:false}"
    class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog" style="max-width:600px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{translations.confirmation_required_new_settings}}</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="hideCancelAccount()">&times;</button>

            </div>
            <div class="modal-body">
                <h5>{{translations.reasons_for_leaving_new_settings}}:</h5>
                <label class="ck_box" *ngFor="let reason of reasons">{{reason.key}}
                    <input type="checkbox" [checked]="reason.checked" (change)="reason.checked = !reason.checked">
                    <span class="checkmark"></span>
                </label>

                <p>{{translations.elaborate_new_settings}}</p>
                <textarea class="form-control" [(ngModel)]="reasonsDetails"></textarea>

                <div class="alert_b">
                    <svg id="noun_Error_1582590" xmlns="http://www.w3.org/2000/svg" width="29" height="29"
                        viewBox="0 0 29 29">
                        <g id="Group_332" data-name="Group 332" transform="translate(0 0)">
                            <path id="Path_51" data-name="Path 51"
                                d="M14.5,0A14.481,14.481,0,1,1,4.241,4.241,14.465,14.465,0,0,1,14.5,0Zm0,18.132a1.957,1.957,0,0,1,1.962,1.962A1.98,1.98,0,0,1,14.5,22.081a2,2,0,0,1-1.988-1.988A1.98,1.98,0,0,1,14.5,18.132Zm0-1.988a1.384,1.384,0,0,1-1.325-1.325l-.663-5.911A2.02,2.02,0,0,1,14.5,6.919a1.979,1.979,0,0,1,1.962,1.988l-.636,5.911A1.384,1.384,0,0,1,14.5,16.144ZM22.877,6.1a11.871,11.871,0,1,0,3.473,8.4A11.934,11.934,0,0,0,22.877,6.1Z"
                                transform="translate(0)" fill="#484848" />
                        </g>
                    </svg>


                    <label>{{translations.about_to_cancel_new_settings}}</label>
                    <p>{{translations.once_you_confirm_new_settings}}</p>
                </div>

                <label>{{translations.type_delete_new_settings}}</label>
                <input type="text" class="form-control" pattern="DELETE" [(ngModel)]="deleteConfirm" required
                    #delete="ngModel" name="delete">
                <span *ngIf="delete.invalid && (delete.dirty || delete.touched)">
                    <small *ngIf="delete.errors.required" class="form-control-feedback">
                        {{translations.is_required_new_settings}}
                    </small>
                    <small *ngIf="delete.errors.pattern" class="form-control-feedback">
                        {{translations.type_delete_to_delete_new_settings}}
                    </small>
                </span>

            </div>

            <div class="modal-footer">


                <div class="modal_btn">
                    <button type="button" class="btn" data-dismiss="modal" (click)="hideCancelAccount()">{{translations.cancel_us}}</button>
                    <button [disabled]="!(delete.valid)" (click)="deleteAccount()" type="button"
                        class="btn btn-del2">{{translations.delete_account_new_settings}}</button>
                </div>


            </div>
        </div>

    </div>
</div>