
/* .container{
  max-width: 1027px !important;
  float: none !important;
} */
@media screen and (min-width:1280px) { 
  .container { max-width: 1200px !important;
      padding: 0 15px !important;
      }
     }

@media screen and (min-width:1500px) {

  .container { max-width: 1450px !important;    padding: 0 15px !important; }
}
.panl_headingac { border-bottom:1px solid #ddd; padding:5.5px 10px;     background: #f9f9f9;     border-top-right-radius: 5px;     border-top-left-radius: 5px;}

.panl_headingac  h3{  
  font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #212528;
}

.box_as {    background: #fff;
  padding: 20px 0 20px 0;}
  .modal-header{
    background: #f9f9f9;
  }
.box_as .as_inner{     float: left;
  width: 16.4%;
  box-shadow: 0 1px 7px 0 rgba(0,0,0,.1);
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 28px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 15px 1.8%; padding: 22px 25px;}
.box_as .as_inner label { display:block; text-align:center; color:#010101; font-size:15px; height: 50px;     display: table-cell;
  vertical-align: middle;
  width: 110px; cursor:pointer; line-height: 18px;}
.box_as .as_inner span {display:block; text-align:center; height:70px; position:relative;}
.box_as .as_inner span  img {     max-width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;}
.box_as .as_inner a { text-decoration:none; display:block;}
.ac_state { background:#F9F9F9;     padding: 30px 20px 26px 20px;     border-bottom-left-radius: 5px;     border-bottom-right-radius: 5px;}
.bar_ful { background:#fff; border:1px solid #ddd; }
.ac_state label { font-size:14px; margin-bottom: 3px;}
.bar_ful span{  height:8px;     display: block;     height: 9px;}



@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.ani_us{
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
}

.us1 { width:250px; height:40px;}
.us2 { width:100%; height:20px;}
.an_bx { width:100%; height:164px; display:inline-block; width: 16.4%;
  box-shadow: 0 1px 7px 0 rgba(0,0,0,.1);     border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 28px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 15px 1.8%;
  padding: 22px 25px; float:left;}



/**copy from here**/

.back_ac { text-align:right; padding-top:10px;}
.back_ac img { display:inline-block; margin-right:5px;}
.back_ac a{ color:#8B8B8B; text-decoration:none;}
.logo_area{ background:#F8F8F8; border:1.3px dashed #B8B8B8; padding:40px; text-align:center; max-width:800px; margin:0 auto; margin-top:40px;}
.logo_area img{ max-width:150px; }
.logo_label { text-align:center; font-size:14px;         padding: 15px 10px;}
.select_logo { text-align:center;     padding: 0 15px;}
.logo_select button{    background: #28A745;
  color: #fff;
  border: 0;
  padding: 6px 45px;
  font-size: 16px;
  border-radius: 4px;
  margin: 40px 0;
  width: 200px;
  text-align: center;
  cursor: pointer;     outline: 0;}
.color_picker {max-width:800px; margin:0 auto;     padding-bottom:140px;}
.color_picker input[type=color]{ height:33px; cursor: pointer;}
.color_picker label { margin:0; position:relative;  margin-left: 6px; top:-5px;}
.tright { text-align:right;}
.logo_save { text-align:left; margin:0;}
.logo_save button{ background: #fff;
  color: #484848;
  border: 0;
  padding: 6px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;}
.logo_save .save_btn {    background: #28A745;
  color: #fff;}
.logo_save { border-top:1px solid #D8D8D8; padding:20px 0;}
.logo_save .col-md-6 { padding:0;}
.logo_save a{ color:#616161; text-decoration:underline;}
.cancel_account { padding:50px 0; text-align:center;}
.account_labels { max-width:800px; margin:0 auto;}
.account_labels p { margin-bottom: 0rem !important}
.account_labels label { font-size:22px; font-weight:500; padding: 25px 0 6px 0; color:#484848;}
/* .account_labels p{} */
.cancel_btns { padding:60px 0;}
.cancel_btns button{ background: #F5F5F5;
  color: #616161;
  border: 1px solid #CCCCCC;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
  margin: 0 5px;     width: 200px;}

.cancel_btns .cancel_ac{ background:#FF5050; border: 1px solid #FF5050; color:#fff;}

.modal-title {
  font-size: 25px;
  font-family: Roboto;
  padding-left: 3px;
  margin: 1px 0;
  color: #414141;
  font-weight: 300;
  text-align: center !important;
  width: 100%;
}
#cancel_account h5{
  font-size: 19px !important;
}

/* The container */
.ck_box {
  display: block;
  position: relative;
  padding-left: 27px;
  margin: 13px 0;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color:#616161;
}

/* Hide the browser's default checkbox */
.ck_box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.ck_box .checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #fff;
  border: 1px solid #B4BAC3;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.ck_box:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.ck_box input:checked ~ .checkmark {
  background-color: #1C7CD5;

}

/* Create the checkmark/indicator (hidden when not checked) */
.ck_box .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.ck_box input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.ck_box .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

.alert_b{ background:#F7DF9A;     padding: 15px 15px 15px 80px; position:relative;     margin: 30px 0 26px 0; border-radius: 3px;}
.alert_b label{ font-size:16px; color:#484848; margin: 0;     font-weight: 500;
}
.alert_b p {color:#484848; font-size:14px; margin:0;     font-weight:300;
}

.alert_b svg{    position: absolute;
  left: 22px;
  top: 23px;}
.confirmation_del p { margin:0;}
.confirmation_del h5{ color:#616161; font-size:16px;}
.confirmation_del .modal-footer{   margin: 0 18px;
  padding: 15px 0;}
.confirmation_del .modal-footer button {
  background: #fff;
  color: #484848;
  border: 0px solid #CCCCCC;
  padding: 7px 15px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
  margin: 0 0 0 10px;

}
.btn-del2 {
  background: #F5F5F5;
  color: #616161;
  border: 1px solid #CCCCCC;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
  margin: 0 5px;
  width: 100px;
  


}

.container.bred_an{ padding-left:0 !important;     top: 11px !important;     padding-bottom: 9px !important;}
	.panl_headingac .col-md-6{ padding-left:7px;}