.recent_activity {     padding: 30px 10px 0 10px;}

.rec_heading {
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding-bottom: 8px;
}
.rec_heading .col-8{ padding-left:0;}
.rec_heading .col-8 label { margin:0; 
    font-size: 22px;
    font-weight: 600;}

    .recent_opt button{ border:0; padding:0; background:none;     outline: none; cursor:pointer;}
	.recent_opt .dropdown-toggle::after { display:none;}
	.recent_opt .dropdown-menu{      min-width: 20px !important;
       padding: 6px 0;
    left: inherit !important;
        right: -16px !important;}
	.recent_opt .dropdown-menu a { font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 5px;
    padding: 2px 12px 7px 11px;
    margin: 0;}
	.recent_opt .dropdown-menu a.active{    color: #057EFF;}
	.recent_opt .dropdown-menu{    background: #fff;border-radius: 4px; transform: translate3d(-17px, 23px, 0px) !important; }
	.recent_activity {     padding: 30px 10px 0 10px;}
	.recent_opt {
    text-align: right;
    position: relative;
    padding-right: 5px;
}

.ghrading .col-3, .ghrading .col-2 {
    padding: 0 5px; font-size:14px;
}
.gh_rw .col-3, .gh_rw .col-2 {
    padding: 0 5px;
}
.ghrading { margin:0; font-size:14px;     border-bottom: 1px solid #E4E4E4;
    padding: 10px 0;}

    .gh_rw {
        font-size: 14px;
        border-bottom: 1px solid #E4E4E4;
        padding: 9px 0px;
        margin: 0;
    }
    .gh_rw .golc1{font-weight: 500;}

    .gh_rw .col-3, .gh_rw .col-2 {
        padding: 0 5px;
    }
    .gh_rw {
        font-size: 14px;
        border-bottom: 1px solid #E4E4E4;
        padding: 9px 0px;
        margin: 0;
    }
    .gh_rw .golc1{font-weight: 500;}
    .gh_rw .col-3, .gh_rw .col-2 {
        padding: 0 5px;
    }
    .golc1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
        margin-top: auto;
        margin-bottom: auto;     
    }

    .golc1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
        margin-top: auto;
        margin-bottom: auto;     
    }
    .gh_rw .golc1{font-weight: 500;}
    .golc2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 14%;
        flex: 0 0 14%;
        max-width: 14%;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .golc3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 14%;
        flex: 0 0 14%;
        max-width: 14%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .golc4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 14%;
        flex: 0 0 14%;
        max-width: 14%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .golc6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 19%;
        flex: 0 0 19%;
        max-width: 19%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .golc7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 9%;
        flex: 0 0 9%;
        max-width: 9%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .golc2 i {
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-right: 4px;
    }

    .st_bar {
        background: #E8E8E8;
        border: 1px solid #D9D9D9;
        height: 10px;
        border-radius: 21px;
        position: relative;
    }
    .st_bar .bar_pg {
        background: #157EFC;
        display: inline-block;
        height: 7.5px;
        border-radius: 20px;
        position: absolute;
        left: 0;
        top: 0;
    }
    .gol_opt {
        position: relative;
        width: 60%;
        float: left;
        text-align: right;
    }

    
	.gsort button{ border:0; padding:0; background:none;     outline: none; cursor:pointer;}
	.gsort .dropdown-toggle::after { display:none;}
	.gsort .dropdown-menu{      min-width: 20px !important;
       padding: 6px 0;
    left: inherit !important;
    right: 0 !important;}
	.gsort .dropdown-menu a { font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 5px;
    padding: 2px 12px 7px 11px;
    margin: 0;}
	.gsort .dropdown-menu a.active{    color: #057EFF;}
    .gsort .dropdown-menu{    background: #fff;border-radius: 4px; }
    
    .gol_opt2 {
        width: 40%;
        float: right;
        text-align: center;
    }
    .gol_opt2 img {
        width: 10px;
    }
    .com_bg {
        background: #EAF3EB;
        float: right;
        color: #28A745;
        border-radius: 50px;
        padding: 1px 8px;
        font-size: 11px;
        font-weight: 500;
    }
    .incom_bg {
        background: #F4E7E7;
        float: right;
        color: #D35959;
        border-radius: 50px;
        padding: 1px 8px;
        font-size: 11px;
        font-weight: 500;
    }
    .progress_bg {
        background: #E9EFF8;
        float: right;
        color: #1688C2;
        border-radius: 50px;
        padding: 1px 8px;
        font-size: 11px;
        font-weight: 500;
    }
    .recent_pagination .page-item.current  div a {
        color: #2a87ea!important;
    }
    .page-link{
        color: black !important;
    }
    .page-link {
        border: none;
    }
    .recent_pagination .page-item.current  div a {
        color: #2a87ea!important;
    }
    .row_per {
        margin-top: 76px;
        position: absolute;
        font-size: 14px;
        margin-left: 22px;
        margin-bottom: 90px;
    }
    .listing_heading{
        font-size: 14px;
        padding: .25rem 10px !important;
        color: #9e9e9e;
    }
    
.pointer {
    cursor: pointer;
}

.listing_heading{
    font-size: 14px;
    padding: .25rem 10px !important;
    color: #9e9e9e;
}

.pagination_row {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    position: relative;
  
}


.row_per {
    left: 0;
    position: absolute;
    font-size: 14px;
    margin-left: 22px;
    margin-top: 90px;
}
.page-link {
    border: none;
}

.row_per select {
    height: 32px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.cursor {
    cursor:pointer;
}




.row_per {
    left: 0;
    position: absolute;
    font-size: 14px;
    margin-left: 22px;
    
}

.recent_pagination .page-item.current  div a {
    color: #2a87ea!important;
}

.ngx-pagination .current{
    background: transparent !important;
    color: #7777d6 !important;
    cursor: default;
}


.panl_heading .col-8{ padding:0 7px;}
.panl_heading .col-8{ padding-left:7px;}

.g_ani2 {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #ededed 8%, #e9e9e9 18%, #ededed 33%);
    background-size: 800px 104px;
    position: relative;
}

.goal_add a {
    background: #157EFC;
    color: #fff;
    display: inline-block;
    padding: 5px 17px;
    border-radius: 4px;
    position: relative;
    top: 4px;
    line-height: 20px;
}

.g_ani2 {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #ededed 8%, #e9e9e9 18%, #ededed 33%);
    background-size: 800px 104px;
    position: relative;
}


.g_ani2 {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #ededed 8%, #e9e9e9 18%, #ededed 33%);
    background-size: 800px 104px;
    position: relative;
}

.g_ani {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    position: relative;
}

.gn3 {
    width: 100%;
    height: 37px;
}


.try-again-container {
    flex: 0 0 26%;
    max-width: 26%;
    justify-content: flex-end;
}

.row_per {
    margin-left: 0;
    margin-top: 78px;
}


   /*.... model css */
    
   .hufooter a.conf_delete {
    border: 1px solid #CECECE;
    padding-right: 30px;
    padding-left: 30px;
}

.hufooter a.okbtn {
    background: #057EFF;
    color: #fff !important;
}

.hufooter {
    border: 0;
    text-align: right;
    padding-bottom: 21px;
}

.hufooter a {
    display: inline-block;
    padding: 9px 22px;
    border-radius: 5px;
    color: #484848;
    text-decoration: none;
}

.hufooter .green_btn {
    background: #28A745;
    color: #fff !important;
    padding-right: 30px;
    padding: 10px 30px;
    border-radius: 4px;
    border: none;
}

.hufooter .creat_btn:hover {
    color: #fff;
    text-decoration: none;
}

    .alert_bg {
    background: #F7DF9A;
    padding: 10px;
    margin: 0 0 15px 0 !important;
    border-radius: 4px;
}

.alert_bg .col-2 {
    padding-left: 0;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 14.666667%;
    flex: 0 0 14.666667%;
    max-width: 14.666667%;
}

.alert_bg .col-10 {
    padding: 0;
}

.alert_bg img {
    width: 24px;
    position: relative;
    top: 19px;
}

.alert_bg h6 {
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding: 15px 0 20px 0;
}

.alert_bg p {
    font-size: 12px;
}

.modal-header{    background: #f9f9f9;}

.modal-title {
    padding-left: 200px !important;
}