<div class="recent_activity" *ngIf="loaded && enableGoals">
    <div class="row rec_heading">
        <div class="col-8">
            <label>{{goalAltName}}</label>
        </div>
        <div class="col-4 recent_opt">
            <div dropdown>
                <button type="button" dropdownToggle class="dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/profile-page/img/icon_recent.svg" width="25">
                </button>
                <ul class="dropdown-menu" *dropdownMenu>
                    <li class="menuitem listing_heading">{{translation.myfile_sorting}}</li>
                    <li *ngFor="let sortBy of goalsSortBy; let index = index" (click)="onSort(sortBy)"
                        class="dropdown-item pointer" [class.active]="sortBy.active">
                        {{translation[sortBy.T_KEY]}}
                    </li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem" class="listing_heading">
                        {{translation.analytics_export}}
                    </li>
                    <li role="menuitem" class="dropdown-item pointer" (click)="goalsExportData('pdf')">
                        Export PDF
                    </li>
                    <li role="menuitem" class="dropdown-item pointer" (click)="goalsExportData('excel')">
                        Export Excel
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row ghrading" *ngIf="goals?.data.length != 0">
        <div class="col-3 golc1 cursor" (click)="sortTable('title')">
            {{translation.title}}
        </div>
        <div class="col-2 golc2 cursor" (click)="sortTable('g_type')">
            {{translation.edtpa_type}}
        </div>
        <div class="col-2 golc4 cursor" (click)="sortTable('end_date')">
            {{translation.due_date_all}}
        </div>
        <div class="col-2 golc3 cursor" (click)="sortTable('published_date')">
            {{translation.goal_published}}
        </div>
        <div class="col-3 golc6 cursor" (click)="sortTable('g_percentage')">
            {{translation.status_all}}
        </div>
    </div>
    <div class="row gh_rw" *ngFor="let goal of goals?.data  | paginate: config ">
        <div class="col-3 golc1 cursor" (click)="navigateToGoalWork(goal)">
            {{goal.title}}
        </div>
        <div class="col-2 golc2">
            <i [class]="goalsTypeByValue[goal.goal_type].CLASS"></i>
            <a class="simple-link" (click)="navigateToGoalWork(goal)">
                {{translation[goalsTypeByValue[goal.goal_type].T_KEY]}}
            </a>
        </div>
        <div class="col-2 golc3 cursor" (click)="navigateToGoalWork(goal)">
            {{parseDate(goal.end_date) | date}}
        </div>
        <div class="col-2 golc4 cursor" (click)="navigateToGoalWork(goal)">
            {{ parseDate(goal.publish_date) | date }}
        </div>
        <div class="col-3 golc6" *ngIf="!goal.tryAgain; else TryAgainContainer">
            <a *ngIf="goal.goal_type === 3 || (goal.goal_type === 4 && goal.owners_updated.length === 1)"
                class="simple-link" (click)="navigateToGoalWork(goal)">
                <span>{{goal.percentage}}</span>
                <span *ngIf="goal.is_complete" class="com_bg">
                    <img src="assets/goals/img/com_icon.svg">
                    {{translation.complete}}
                </span>
                <span *ngIf="goal.is_incomplete" class="incom_bg">
                    <img style="width:8px" class="img-center" src="assets/goals/img/incom_icon.svg">
                    {{translation.incomplete}}
                </span>
                <span *ngIf="goal.is_progress" class="progress_bg">
                    <img class="img-center" src="assets/goals/img/progress_icon.svg">
                    {{translation.in_progress}}
                </span>
                <div class="clearfix"></div>
                <div class="st_bar">
                    <span class="bar_pg" [ngStyle]="{'width': goal.percentage}"></span>
                </div>
            </a>
        </div>
        <ng-template #TryAgainContainer>
            <div class="col-4 try-again-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="16.329" height="15.374"
                    viewBox="0 0 16.329 15.374">
                    <g id="Group_351" data-name="Group 351" transform="translate(-270.467 -1166.164)">
                        <path id="Path_52" data-name="Path 52"
                            d="M20.256,22.985a1.562,1.562,0,0,1,2.75,0l6.6,12.25a1.562,1.562,0,0,1-1.375,2.3h-13.2a1.562,1.562,0,0,1-1.375-2.3Z"
                            transform="translate(257 1144)" fill="#c10f12" />
                        <path id="Union_1" data-name="Union 1"
                            d="M.253,5.369h0V5.337L.006,1.079A.952.952,0,0,1,0,.97.985.985,0,0,1,1,0,.985.985,0,0,1,2,.97a.947.947,0,0,1-.01.136l-.3,4.221A.709.709,0,0,1,.969,6,.711.711,0,0,1,.253,5.369Z"
                            transform="translate(277.7 1170)" fill="#fff" />
                        <circle id="Ellipse_9" data-name="Ellipse 9" cx="1" cy="1" r="1"
                            transform="translate(277.7 1177)" fill="#fff" />
                    </g>
                </svg>
                <span
                    class="try-again-message">{{headerService?.getGoalAltTranslation(translation?.goal_not_saved)}}</span>
                <span class="try-again-btn" (click)="retryGoal(goal)">{{translation?.try_again}}</span>
            </div>
        </ng-template>
        <div class="col-2 golc7">
            <div class="gol_opt">
                <div class="gsort" dropdown [isDisabled]="!goal.canEditDelete && goal.goal_type !== 1"
                    [ngStyle]="{'opacity': (!goal.canEditDelete && goal.goal_type !== 1) ? '0.5' : '1' }">
                    <button type="button" dropdownToggle class="dropdown-toggle" data-toggle="dropdown">
                        <img src="assets/img/dots_3.svg" width="25">
                    </button>
                    <div class="dropdown-menu" *dropdownMenu>
                        <a *ngIf="goal.canEditDelete" class="dropdown-item" (click)="navigateToEditDelete(goal.id)">
                            {{translation.edit_all}}
                        </a>
                        <a *ngIf="goal.goal_type === 1" (click)="useTemplate(goal)" class="dropdown-item">
                            {{translation.goals_use}}
                        </a>
                        <a *ngIf="goal.canEditDelete" (click)="deleteGoal(goal)" class="dropdown-item">
                            {{translation.delete_all}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="gol_opt2">
                <a *ngIf="goal.is_published" class="simple-link" (click)="navigateToGoalWork(goal)"
                    [class.disabled]="goal.disabled || goal.tryAgain">
                    <img src="assets/goals/img/right_op.svg">
                </a>
            </div>
        </div>
    </div>
    <ng-container *ngIf="goals?.data.length == 0">
        <p>
            {{translation?.no_user_goals_found +' '+ goalAltName + '.'}}
        </p>
    </ng-container>
  
    <div class="pagination_row" *ngIf="goals?.data.length != 0">
        <div class="row_per">
            <span>
                {{translation?.reporting_rows_per_page}}:
            </span>
            <select [(ngModel)]="config.itemsPerPage" (change)="onPerPageLimitChange()">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <pagination-template #p="paginationApi" [id]="config.id" maxSize="12" (pageChange)="onPageChange($event)">
            <div class="recent_pagination">
                <nav>
                    <ul class="pagination">
                        <li class="page-item page_fi" [class.disabled]="p.isFirstPage()">
                            <a class="page-link" (click)="p.previous()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.987"
                                    viewBox="0 0 7.071 11.987">
                                    <g id="Group_1838" data-name="Group 1838" transform="translate(-673 -903.938)">
                                        <path id="Path"
                                            d="M5.907.148a.534.534,0,0,0-.738,0L.151,5.07A.6.6,0,0,0,0,5.415H0v.016H0v.016H0v.016H0a.551.551,0,0,0,.151.329l5.018,4.922a.534.534,0,0,0,.738,0,.5.5,0,0,0,0-.741L1.275,5.432,5.907.889A.5.5,0,0,0,5.907.148Z"
                                            transform="translate(673.5 904.5)" fill="#2D2D2D" stroke="#2D2D2D"
                                            stroke-width="1" opacity="0.7"></path>
                                    </g>
                                </svg>
                            </a>
                        </li>
                        <li class="page-item " [class.disabled]="p.isFirstPage()">
                            <a class="page-link" (click)="p.setCurrent(1)">
                                {{translation?.first_angular_rubrics}}
                            </a>
                        </li>
                        <li class="page-item" *ngFor="let page of p.pages"
                            [class.current]="p.getCurrent() === page.value">
                            <a class="page-link" (click)="p.setCurrent(page.value)"
                                *ngIf="p.getCurrent() !== page.value">
                                {{ page.label }}
                            </a>
                            <div *ngIf="p.getCurrent() === page.value">
                                <a class="page-link">{{ page.label }}</a>
                            </div>
                        </li>
                        <li class="page-item " [class.disabled]="p.isLastPage()">
                            <a class="page-link" (click)="p.setCurrent(p.getLastPage())">
                                {{translation?.last_angular_rubrics}}
                            </a>
                        </li>
                        <li class="page-item page_la" [class.disabled]="p.isLastPage()">
                            <a class="page-link" (click)="p.next()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.987"
                                    viewBox="0 0 7.071 11.987">
                                    <g id="Group_1839" data-name="Group 1839" transform="translate(-11.929 -7.938)">
                                        <path id="Path"
                                            d="M.164.148A.534.534,0,0,1,.9.148L5.92,5.07a.6.6,0,0,1,.151.346h0v.016h0v.016h0v.016h0a.551.551,0,0,1-.151.329L.9,10.716a.534.534,0,0,1-.738,0,.5.5,0,0,1,0-.741L4.8,5.432.164.889A.5.5,0,0,1,.164.148Z"
                                            transform="translate(12.429 8.5)" fill="#2D2D2D" stroke="#2D2D2D"
                                            stroke-width="1" opacity="0.7"></path>
                                    </g>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </pagination-template>
    </div>
</div>
<ng-container *ngIf="!loaded">
    <div class="goals_outer">
                <div class="row ghrading">
                    <div class="col-3 golc1">
                        <div class="g_ani gn3"></div>
                    </div>
                    <div class="col-2 golc2">
                        <div class="g_ani gn3"></div>
                    </div>
                    <div class="col-2 golc3">
                        <div class="g_ani gn3"></div>
                    </div>
                    <div class="col-2 golc3">
                        <div class="g_ani gn3"></div>
                    </div>
                    <div class="col-2 golc4">
                        <div class="g_ani gn3"></div>
                    </div>
                    <div class="col-2 golc4">
                        <div class="g_ani gn3"></div>
                    </div>
                 
                </div>
                <div *ngFor="let item of [1, 2, 3, 4, 5]" class="row gh_rw">
                    <div class="col-3 golc1">
                        <div class="g_ani2 gn3"></div>
                    </div>
                    <div class="col-2 golc2">
                        <div class="g_ani2 gn3"></div>
                    </div>
                    <div class="col-2 golc3">
                        <div class="g_ani2 gn3"></div>
                    </div>
                    <div class="col-2 golc3">
                        <div class="g_ani2 gn3"></div>
                    </div>
                    <div class="col-2 golc4">
                        <div class="g_ani2 gn3"></div>
                    </div>
                    <div class="col-2 golc4">
                        <div class="g_ani2 gn3"></div>
                    </div>
                </div>
            </div>
</ng-container>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="dialog-child-name" class="modal-title">{{translation?.title_alert}}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert_bg row">
            <div class="col-2">
              <img src="assets/img/alert_i.svg" style="top: 13px;">
            </div>
            <div class="col-10">
              <h6>{{translation?.no_permission_to_access_this_goal }}</h6>
            </div>
          </div>
        </div>
        <div class="modal-footer hufooter de_footer">
          <div class="col-12">
            <a class="conf_delete" (click)="hideChildModal()">{{translation?.huddle_list_ok}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>