<div class="modal-header">
    <div class="main-header">
        <img src="assets/img/video-icon.svg">
    </div>
    <div class="header-action">
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div class="modal-body">
    <div *ngIf="(recordingState !== 'stopped' && recordingState !== 'uploading' && recordingState !== 'uploaded') else UploadProgressSection"
        class="record-video-body">
        <img *ngIf="permissionLoading || recordingState === 'startring' || recordingState === 'stopping'"
            src="assets/img/loading-spinner.png" class="spinner">
        <div *ngIf="browserSupportedRecording && cam_and_mic_perm" class="video-container">
            <video #camView autoplay></video>
        </div>
        <div *ngIf="recordingState === 'started'" class="recording-icon-container">
            <span class="recording-time">{{recordedTime | sharedTimeFormatPipe}}</span>
            <span class="recording-icon" [ngStyle]="{'opacity': (showRecIcon) ? 1 : 0 }"></span>
        </div>
        <div class="permission-container" *ngIf="!cam_and_mic_perm && !permissionLoading">
            <img src="assets/img/video-icon-disabled.svg">
            <div class="disabled-heading">translation?.webcam_disabled</div>
            <div class="disabled-message">{{translation?.rs_click_block_button}}</div>
            <img src="assets/screen-sharing/img/screen_r.png">
            <button type="button" class="btn btn-outline-primary"
                (click)="retry()">{{translation?.rs_retry_camera}}</button>
        </div>
        <div class="browser-not-supported" *ngIf="!browserSupportedRecording && !permissionLoading">
            <img src="assets/img/video-icon-disabled.svg">
            <h2 class="header"> {{translation.rs_browser_not_support}} </h2>
            <div class="description"> {{translation.rs_use_chrome_or_firefox}} </div>
        </div>
    </div>
    <ng-template #UploadProgressSection>
        <div class="upload-video-body">
            <div class="file-label">{{translation.vd_file}}</div>
            <div class="file-container">
                <div class="file-info">
                    <div class="file-icon">
                        <img src="assets/img/icon-file-grey.svg">
                    </div>
                    {{filename}}
                </div>
                <button type="button" class="close" aria-label="Close" (click)="cancelFile()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="progress-bar" [style.width.%]="uploadProgress"></div>
        </div>
    </ng-template>

</div>

<div class="modal-footer"
    [ngStyle]="{'border-top': (cam_and_mic_perm && !permissionLoading && browserSupportedRecording) ? '1px solid #dee2e6' : 'none', 'justify-content': (recordingState !== 'stopped' && recordingState !== 'uploading' && recordingState !== 'uploaded') ? 'center' : 'flex-end'}">
    <ng-container *ngIf="cam_and_mic_perm && !permissionLoading && browserSupportedRecording">
        <ng-container
            *ngIf="(recordingState !== 'stopped' && recordingState !== 'uploading' && recordingState !== 'uploaded') else DownloadVideoLocally">
            <button *ngIf="recordingState === 'comfort-zome' || recordingState === 'startring'"
                [disabled]="recordingState === 'startring'" type="button" class="btn btn-primary"
                (click)="startRecording()">
                <img src="assets/img/record-video-start.svg">
            </button>
            <button *ngIf="recordingState !== 'comfort-zome' && recordingState !== 'startring'"
                [disabled]="recordingState === 'stopping'" type="button" class="btn btn-light"
                (click)="stopRecording()">
                <img src="assets/img/record-video-stop.svg">
            </button>
        </ng-container>
        <ng-template #DownloadVideoLocally>
            <button class="btn btn-primary" [tooltip]="translation?.rs_save_screen_recording_locally"
                (click)="downloadVideoRecorded()">{{translation?.rs_download_video}}</button>
            <button class="btn btn-primary" [disabled]="recordingState === 'uploading' || recordingState === 'uploaded'"
                (click)="uploadStream()">{{translation?.vd_upload}}</button>
        </ng-template>
    </ng-container>
</div>

<ng-template #confirmModal>
    <div class="modal-header">
        <h4 class="modal-title">{{translation?.artifacts_confirmation_required}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="confirmModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="alert_bg singleline row">
            <div class="col-2 ">
                <img src="assets/img/alert_i.svg">
            </div>
            <div class="col-10">
                <h6>{{translation?.video_will_lost}}
                </h6>
            </div>

        </div>
    </div>
    <div class="modal-footer hufooter de_footer">
        <div class="row">
            <div class="col-12">
                <a (click)="confirmModalRef.hide()">{{translation?.discussion_cancel}}</a>
                <a (click)="confirmed()" class="conf_delete">{{translation?.vd_submit}}</a>
            </div>
        </div>
    </div>
</ng-template>