<div class="trial_message" *ngIf="details?.user_current_account?.accounts
?.in_trial">
	<span  class="trial_message_quote">{{translation?.huddle_list_trial_expires}} {{details?.expiry_date}} </span> <a *ngIf="details?.user_permissions.roles.role_id == 100" [routerLink]="['/account-settings/plans/change']" class="upgrade_link"> {{translation?.huddle_list_upgrade}} </a>
</div>
  
<!-- <a *ngIf="details?.user_permissions.roles.role_id == 100" href="" [attr.href]="details.base_url+'/accounts/account_settings_all/'+details?.user_current_account?.accounts?.account_id+'/4'" class="upgrade_link"> {{translation?.huddle_list_upgrade}} </a> -->
