<style>


    .attached_document_class a{width: initial !important ;display: inline-block!important; margin: 0 !important;}
    .attached_document_class  a.del {    width: 11px !important;height: 9px;}
    .attached_document_class form{ float: right;     position: relative;top: 7px;    margin-right: 10px;}
    .file_download_cls { float: right;}
    .attached_document_class .synchro-time{color: #5a80a0; display: inline-block;    top: -2px;     position: relative;
                                           margin-right: 5px; font-size: 12px;width: 46px;}
    .attached_document_class .synchro-time:hover{
        text-decoration: underline;
    }
</style>

<?php
$users = $this->Session->read('user_current_account');
$user_id = $users['User']['id'];

function formatSeconds($seconds) {
    $hours = 0;
    $milliseconds = str_replace("0.", '', $seconds - floor($seconds));

    if ($seconds > 3600) {
        $hours = floor($seconds / 3600);
    }
    $seconds = $seconds % 3600;


    return str_pad($hours, 2, '0', STR_PAD_LEFT)
            . gmdate(':i:s', $seconds)
            . ($milliseconds ? ".$milliseconds" : '');
}
?>
<div id="flashMessage2" class="message error" style="display:none;"></div>
<div class="heading">
    <h3>Related Attachments</h3>
    <?php if (!empty($huddle_id) && $this->Custom->check_if_eval_huddle($huddle_id) == 1): ?>
        <?php if ($this->Custom->check_if_evalutor($huddle_id, $user_id) == true || ($videoDetails['Document']['created_by'] == $user_id)): ?>
            <!--<a href="javascript:void(0)" id="video_document_upload" class="upload">Upload</a>-->
            <!--            <a href="javascript:OpenFilePicker('doc');" id="video_document_upload" class="upload">Upload</a>-->
        <?php endif; ?>
    <?php else: ?>
        <!--<a href="javascript:void(0)" id="video_document_upload" class="upload">Upload</a>-->
    <?php endif; ?>
</div>
<ul class="video-docs scroll">
    <?php if (isset($vidDocuments) && count($vidDocuments) > 0): ?>
        <?php foreach ($vidDocuments as $row): ?>



            <li class="attached_document_class" id="li_video_doc_<?php echo $row['Document']['id']; ?>" style="width: 100%;">
                <span  data-time="<?php echo $row['Document']['scripted_current_duration']; ?>" class="synchro-time" style="cursor: pointer"><?php echo ($row['Document']['scripted_current_duration'] == 0 ? "All" : formatSeconds($row['Document']['scripted_current_duration']) ); ?></span>


                <?php
                if (isset($row['Document']['stack_url']) && $row['Document']['stack_url'] != '') {
                    $url_code = explode('/', $row['Document']['stack_url']);
                    $url_code = $url_code[3];
                    $href = 'id = "view_resource_' . $row['Document']['id'] . '" target="_blank" href="' . $this->base . '/app/view_document/' . $url_code . '"';
                } else {
                    $href = 'href="' . $this->base . '/Huddles/download/' . $row['Document']['id'] . '"';
                }
                ?>
                                                                                                                                                                <!--<a <?php //echo $href;                  ?> class="wrap">-->
                                                                                                                                                                    <!--<span class="<?php echo $this->Custom->getIcons($row['Document']['url']); ?>">Icon</span>-->
                <?php
                // if (strlen($row['afd']['title']) > 30) {
                //   echo substr($row['afd']['title'], 0, 30) . '...';
                //} else {
                echo $row['afd']['title'];
                //}
                ?>
                <!--</a>-->


                <?php if ($this->Custom->check_if_eval_huddle($huddle_id) == 1): ?>
                    <?php if ($this->Custom->check_if_evalutor($huddle_id, $user_id) == 1 || ($row['Document']['created_by'] == $user_id)): ?>
                                                                                                                                                                                                                                                                                                                                <!--                        <form id="delete-video-document<?php echo $row['Document']['id']; ?>" data-async accept-charset="UTF-8"
                                                                                                                                                                                                                                                                                                                                                              action="<?php echo $this->base . '/Huddles/deleteVideoDocument/' . $row['Document']['id'] . '/' . $videoID . '/' . $row['afd']['account_folder_id']; ?>">
                                                                                                                                                                                                                                                                                                                                                            <a rel="nofollow" data-confirm="Are you sure you want to delete this Resource?"
                                                                                                                                                                                                                                                                                                                                                               id="delete-main-comments" class="del"
                                                                                                                                                                                                                                                                                                                                                               href="javascript:$('#delete-video-document<?php echo $row['Document']['id']; ?>').submit()">&nbsp;</a>
                                                                                                                                                                                                                                                                                                                                                        </form>-->
                    <?php endif; ?>
                <?php else: ?>
                                                                                                                                                                                                                                                <!--                    <form id="delete-video-document<?php echo $row['Document']['id']; ?>" data-async accept-charset="UTF-8"
                                                                                                                                                                                                                                                                          action="<?php echo $this->base . '/Huddles/deleteVideoDocument/' . $row['Document']['id'] . '/' . $videoID . '/' . $row['afd']['account_folder_id']; ?>">
                                                                                                                                                                                                                                                                        <a rel="nofollow" data-confirm="Are you sure you want to delete this Resource?"
                                                                                                                                                                                                                                                                           id="delete-main-comments" class="del"
                                                                                                                                                                                                                                                                           href="javascript:$('#delete-video-document<?php echo $row['Document']['id']; ?>').submit()">&nbsp;</a>
                                                                                                                                                                                                                                                                    </form>-->
                <?php endif; ?>



                <?php
                if (isset($row['Document']['stack_url']) && $row['Document']['stack_url'] != '') {

                    $url_code = explode('/', $row['Document']['stack_url']);
                    $url_code = $url_code[3]
                    ?>

                                                                                                                                                                                                                                                                                    <!--                    <a download class="file_download_cls" href="http://www.filestackapi.com/api/file/<?php echo $url_code; ?>" >
                                                                                                                                                                                                                                                                                                            <img alt="Download" class="right smargin-right" style="height: 24px;" rel="tooltip" src="<?php echo $this->Custom->getSecureSibmeResouceUrl($this->webroot . 'img/new/download-2.png'); ?>" title="download video"  />

                                                                                                                                                                                                                                                                                                        </a>-->

                <?php } ?>






            </li>

            <script>
                $('#delete-video-document<?php echo $row['Document']['id']; ?>').on('submit', function (event) {
                    var attachment_no = $("#attachment").text();
                    var attach_new = attachment_no.substring(13, 14);
                    attachment_no = parseInt(attach_new) - 1;
                    $("#attachment").text('Attachments (' + attachment_no + ')');
                    //  getVideoComments();

                });
            </script>

        <?php endforeach; ?>
    <?php else: ?>
        <li style="clear:left;">No Attachments have been added.</li>
        <?php endif; ?>
</ul>
<script>
    $('#video_document_upload').click(function (e) {
        $.ajax({
            url: '<?php echo $this->base; ?>/Huddles/check_storage_full',
            type: 'POST',
            success: function (response) {
                if (response != '') {
                    $('#flashMessage2').css('display', 'block');
                    $('#flashMessage2').html(response);

                } else {
                    OpenFilePicker('doc');
                }
            }
        });
    });

    $('#flashMessage2').click(function (e) {

        $('#flashMessage2').fadeOut();
    });

</script>