
.ani_wp1{
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
    background: #d9d9d9;
    background: linear-gradient(to right, #e9e9e9 8%, #F0F0F0 18%, #efefef 33%);
  background-size: 800px 104px;
  position: relative;
}

.wani1{ display: inline-block; width: 80px; height:20px;    margin-top: 10px; }
.wani2{ display: inline-block; width: 150px; height:38px; float: right;     margin-bottom: 5px;}

.wani3{  float:left; width: 25%; height:38px;         margin-right: 2%;}
.wani4{ float:left; width: 57%; height:38px;         margin-right: 2%;}
.wani5{float:left; width: 13%; height:38px;     }

.hu_search img {
  top: 0px;
}
.grid_heading {
  border-top: 1px solid #ddd;
  padding: 10px 0px 6px 2px;
}
.cont_s {
  padding: 4px 0 10px 0px;
}
.pl-30px{
  padding-left: 30px
}
.new_fol_huddle{
  border: 1px solid #CECECE;
  margin-right: 8px;
  color: #484848;
  background: #fff !important;
  padding: 5px 12px 6px 18px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  border-radius: 4px;
  font-weight: 400;
}
.new_fol_huddle img{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  position: relative;
  /* top: -1px; */
}
@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.ie_x_margin{
  margin-top: 16px;
}
.switch_op .s_current rect {
  fill: #057eff;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }

.beta, .beta1{
  background: red;
    color: white;
    padding: 1px 5px;
    border-radius: 3px;
    display: inline-block;
    font-size: 12px;
}

.toremovebg{background-color: #fff !important;}

.beta1{
  background-color: #bcbcbc !important;
}

.disabled-beta {
  background-color: #bcbcbc !important;
}
.panl_heading{
    border-bottom: 1px solid #ddd;
        padding: 5.5px 10px;
    background: #f9f9f9;
}

.expand_all:hover, .collapse_all:hover{
	cursor: pointer;
}

.no_artifact {
  padding: 0px 0 !important
}

