<div class="container box_outer" [ngStyle]="{'min-height.px': containerInnerHeight ? containerInnerHeight : 'auto' }">
    <div class="row panl_heading">
        <div class="col-6" *ngIf=" !showSkeleton || !Loadings.isNextPageLoading && artifacts.length!=0">
            <h3>{{workspace_header_title}}</h3>
        </div>

        <div class="col-md-6" *ngIf="showSkeleton">

            <span class="ani_wp1 wani3"></span>
        </div>

    </div>
    <ng-container *ngIf="!showSkeleton">
        <plans-billings-shared></plans-billings-shared>
    </ng-container>
    <div class="tabs_bar workspacecls">

        <ng-container #skeleton *ngIf="showSkeleton">
            <div class="row">
                <div class="col-md-6">
                    <!-- <span class="ani_wp1 wani1"></span> -->
                </div>
                <div class="col-md-6">

                    <span class="ani_wp1 wani2"></span>
                    <div class="clear"></div>
                </div>

            </div>
        </ng-container>

        <div class="row" *ngIf="!showSkeleton">

            <div class="col-md-6">
                <!-- <div class="cont_s row">

                    <ng-container *ngIf="total_artifacts!=0 && !total_artifactsload">
                        <ng-container *ngIf="resourceFilter==0">{{translation?.workspace_artifacts}}</ng-container>
                        <ng-container *ngIf="resourceFilter==1">{{translation?.workspace_videos}}</ng-container>
                        <ng-container *ngIf="resourceFilter==2">{{translation?.workspace_resources}}</ng-container>
                        <ng-container *ngIf="resourceFilter==3">{{translation?.workspace_scriptednotes}}</ng-container>
                        <ng-container *ngIf="resourceFilter==5">{{translation?.urls}}</ng-container>
                        ({{total_artifacts}})
                    </ng-container>
                    <ng-container *ngIf="total_artifacts==0 && (total_artifactsload && !total_artifactsload)">
                        <div class="animate_me ar_co"></div>
                    </ng-container>
                </div> -->
            </div>

            <div class="col-md-6 hu_ac teset_albert">
                <a (click)="openActivityModal()"
                    [class.sepline]="userAccountLevelRoleId != '125' && ((userAccountLevelRoleId == '120' && sessionData.user_permissions.UserAccount.permission_video_workspace_upload == '1') || userAccountLevelRoleId != '120')">
                    <img src="assets/img/activity_gry.svg"> {{translation?.workspace_activity}}
                </a>

                <a (click)="openNewFolderModal()" class="new_fol_huddle fake_link sepline" [tooltip]="translation?.huddle_new_folder"> <img src="assets/img/folder_icon.svg "></a>
                <div class="plus_hu"
                    *ngIf="userAccountLevelRoleId != '125' && ((userAccountLevelRoleId == '120' && sessionData.user_permissions.UserAccount.permission_video_workspace_upload == '1') || userAccountLevelRoleId != '120')">
                    <div dropdown class="dropdown">
                        <button data-intercom-target="Plus-Button" type="button" dropdownToggle class="dropdown-toggle" data-toggle="dropdown">
                            <img src="assets/img/plus_white.svg">
                        </button>
                        <div class="dropdown-menu" *dropdownMenu>
                            <a data-intercom-target="Upload-Video" class="dropdown-item" appFSUploader [selectedConfiguration]="'videoOptions'"
                                [source]="'Upload'"
                                (onUpload)="onMediaUpload($event)">{{translation?.workspace_uploadvideo}}</a>
                            <a class="dropdown-item " appFSUploader [selectedConfiguration]=" 'audioOptions' "
                                [source]=" 'Upload' "
                                (onUpload)="onMediaUpload($event) ">{{translation?.artifact_uploadaudio}}</a>
                            <a *ngIf="browserAgent !== 'ie'" [class.disabled]="screenSharingStarted || liveStreamStarted" class="dropdown-item" (click)="openRecordVideoModal()">
                                {{translation?.workspace_recordvideo}} <span *ngIf="screenSharingStarted"> - </span><span *ngIf="screenSharingStarted" class="beta1">{{translation?.rs_unavailable || 'Unavailable'}}</span></a>
                            <!-- <a *ngIf="browserAgent === 'safari'" [class.disabled]="screenSharingStarted || liveStreamStarted" data-toggle="modal" class="dropdown-item" appFSUploader
                                [selectedConfiguration]="'cameraOptions'" [source]="'Record'"
                                (onUpload)="onMediaUpload($event)">{{translation?.workspace_recordvideo}}<span *ngIf="screenSharingStarted"> - </span><span *ngIf="screenSharingStarted" class="beta1">{{translation?.rs_unavailable || 'Unavailable'}}</span></a> -->
                          <a data-toggle="modal" [class.disabled]="screenSharingStarted || liveStreamStarted" class="dropdown-item" routerLink="/workspace_video/record-screen" [queryParams]="{folderId: folderId}">{{translation?.start_screen_sharing}} - <span class="beta" [class.disabled-beta]="screenSharingStarted || liveStreamStarted">{{translation?.beta}}</span></a>
                          <a data-toggle="modal" class="dropdown-item" appFSUploader
                                [selectedConfiguration]="'resourceOptions'" [source]="'Resource'"
                                (onUpload)="onMediaUpload($event)">{{translation?.workspace_uploadresource}}</a>
                            <a data-toggle="modal" class="dropdown-item" (click)="openURLArtifactModal()"
                                >{{translation?.artifact_add}} {{translation?.url}}</a>
                            <ng-container
                                *ngIf="!(sessionData.user_permissions.UserAccount.permission_start_synced_scripted_notes==0 && sessionData.user_role=='User')">
                                <a data-toggle="modal" class="dropdown-item"
                                    (click)="startScriptedNotes()">{{translation?.workspace_startscriptednotes}}</a>
                                <a data-toggle="modal" class="dropdown-item"
                                    (click)="showModal('sync_notes')">{{translation?.workspace_startsyncednotes}}</a>
                            </ng-container>
                            <!-- <a class="dropdown-item" (click)="openNewFolderModal()">{{translation?.df_new_folder}}</a> -->
<!--
                            <a data-toggle="modal" class="dropdown-item" routerLink="/workspace_video/pdf-renderer-poc">Document Commenting POC</a>
-->

                        </div>
                    </div>


                </div>


            </div>




        </div>







        <div class="tab-content">
            <div class="tab-pane fade in show active" id="artifacts" role="tabpanel">
                <ng-container #skeleton *ngIf="showSkeleton">
                    <div class="panl_nav">
                        <span class="ani_wp1 wani3"></span>
                        <span class="ani_wp1 wani4"></span>
                        <span class="ani_wp1 wani5"></span>
                        <div class="clear"></div>
                    </div>
                </ng-container>

                <div class="panl_nav" *ngIf="!showSkeleton">

                    <div class="hu_search">
                        <input type="text" autocomplete="off" placeholder="{{translation?.workspace_search}}...."
                            [(ngModel)]="searchString" (ngModelChange)="OnSearchChange($event)">
                        <img *ngIf="searchString?.length> 0 && browserAgent !== 'ie'" src="./assets/img/x.svg"
                            (click)="OnSearchChange('');searchString='';">
                        <img *ngIf="searchString?.length> 0 && browserAgent === 'ie'" class="ie_x_margin" src="./assets/img/x.svg"
                            (click)="OnSearchChange('');searchString='';">
                    </div>

                    <div class="btn-group btn-group-toggle filter_options" data-toggle="buttons">
                        <label class="btn btn-secondary" [class.active]="resourceFilter==0" [routerLink]="[]"
                            [queryParams]="{ resource: 0}" queryParamsHandling="merge">
                            <input type="radio" value="0" name="options" [(ngModel)]="resourceFilter" id="option1"
                                autocomplete="off" checked=""> {{translation?.workspace_all}}
                        </label>

                        <label class="btn btn-secondary" [class.active]="resourceFilter==1" [routerLink]="[]"
                            [queryParams]="{ resource: 1}" queryParamsHandling="merge">
                            <input type="radio" value="1" name="options" [(ngModel)]="resourceFilter" id="option2"
                                autocomplete="off">
                            <img class="ic1" src="assets/img/video_gry_icon.svg">
                            {{translation?.workspace_videos}}
                        </label>
                        <label class="btn btn-secondary" [class.active]="resourceFilter==2" [routerLink]="[]"
                            [queryParams]="{ resource: 2}" queryParamsHandling="merge">
                            <input type="radio" value="2" name="options" [(ngModel)]="resourceFilter" id="option2"
                                autocomplete="off">
                            <img class="ic2" src="assets/img/resource_gry_icon.svg">
                            {{translation?.workspace_resources}}
                        </label>
                        <label class="btn btn-secondary" [class.active]="resourceFilter==5" [routerLink]="[]"
                            [queryParams]="{ resource: 5}" queryParamsHandling="merge">
                            <input type="radio" value="5" name="options" [(ngModel)]="resourceFilter" id="option4"
                                autocomplete="off">
                            <img class="ic2" src="assets/img/url-icon.svg">
                            {{translation?.urls}}
                        </label>

                        <label class="btn btn-secondary" [class.active]="resourceFilter==3" [routerLink]="[]"
                            [queryParams]="{ resource: 3}" queryParamsHandling="merge">
                            <input type="radio" value="3" name="options" [(ngModel)]="resourceFilter" id="option2"
                                autocomplete="off">
                            <img class="ic3" src="assets/img/notes_gry_icon.svg">
                            {{translation?.workspace_scriptednotes}}
                        </label>

                    </div>

                    <div class="right_nav">
                    <div class="filter_cls dropdown" dropdown>




                        <button type="button" dropdownToggle class="dropdown-toggle" data-toggle="dropdown">
                            <img src="assets/img/filter_icon.svg" width="25" height="{{filterIconHeight}}">
                        </button>
                        <ul class="dropdown-menu" *dropdownMenu>
                            <a class="dropdown-item" (click)="sort='uploaded_date'"
                                [class.dropdown-acitve]="sort=='uploaded_date'" [routerLink]="[]"
                                [queryParams]="{ sort: 'uploaded_date'}"
                                queryParamsHandling="merge">{{translation?.workspace_uploadeddate}}<i
                                    class="cur_icon"></i>

                                <svg *ngIf="sort=='uploaded_date'" xmlns="http://www.w3.org/2000/svg" width="8"
                                    height="8" viewBox="0 0 8 8">
                                    <path
                                        d="M6.41 0l-.69.72-2.78 2.78-.81-.78-.72-.72-1.41 1.41.72.72 1.5 1.5.69.72.72-.72 3.5-3.5.72-.72-1.44-1.41z"
                                        transform="translate(0 1)" />
                                </svg>

                            </a>
                            <a class="dropdown-item" (click)="sort='video_title'"
                                [class.dropdown-acitve]="sort=='video_title'" [routerLink]="[]"
                                [queryParams]="{ sort: 'video_title'}" queryParamsHandling="merge" href="">
                                <!-- <ng-container>
                                    <ng-container *ngIf="resourceFilter==0">{{translation?.workspace_artifacts}}
                                    </ng-container>
                                    <ng-container *ngIf="resourceFilter==1">{{translation?.workspace_videos}}
                                    </ng-container>
                                    <ng-container *ngIf="resourceFilter==2">{{translation?.workspace_resources}}
                                    </ng-container>
                                    <ng-container *ngIf="resourceFilter==3">{{translation?.workspace_scriptednotes}}
                                    </ng-container>
                                </ng-container> -->
                                {{translation?.huddle_title_list}}

                                <svg *ngIf="sort=='video_title'" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
                                    viewBox="0 0 8 8">
                                    <path
                                        d="M6.41 0l-.69.72-2.78 2.78-.81-.78-.72-.72-1.41 1.41.72.72 1.5 1.5.69.72.72-.72 3.5-3.5.72-.72-1.44-1.41z"
                                        transform="translate(0 1)" />
                                </svg>

                            </a>
                            <a class="dropdown-item" (click)="sort='last_modified'"
                                [class.dropdown-acitve]="sort=='last_modified'" [routerLink]="[]"
                                [queryParams]="{ sort: 'last_modified'}"
                                queryParamsHandling="merge">{{translation?.huddle_last_modified}}

                                <svg *ngIf="sort=='last_modified'" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
                                    viewBox="0 0 8 8">
                                    <path
                                        d="M6.41 0l-.69.72-2.78 2.78-.81-.78-.72-.72-1.41 1.41.72.72 1.5 1.5.69.72.72-.72 3.5-3.5.72-.72-1.44-1.41z"
                                        transform="translate(0 1)" />
                                </svg>

                            </a>



                        </ul>



                    </div>

                    <div class="huddleHeaderDivider">

                    </div>

                    <div class="switch_op">
                        <a tooltip="Grid View" [routerLink]="folderId ? ('/workspace/workspace/home/grid'+'/'+folderId) : (['/workspace/workspace/home', 'grid'])" (click)="toggleStyleView='grid'" queryParamsHandling="merge"
                            [ngClass]="{'s_current':toggleStyleView=='grid' }"><svg xmlns="http://www.w3.org/2000/svg"
                                id="noun_grid_887265" viewBox="0 0 16 16">
                                <defs>

                                </defs>
                                <g id="Group">
                                    <path id="Path" class="cls-1"
                                        d="M7,1.261A1.261,1.261,0,0,0,5.739,0H1.261A1.261,1.261,0,0,0,0,1.261V5.739A1.261,1.261,0,0,0,1.261,7H5.739A1.261,1.261,0,0,0,7,5.739Z" />
                                    <path id="Path-2" data-name="Path" class="cls-1"
                                        d="M7,1.261A1.261,1.261,0,0,0,5.739,0H1.261A1.261,1.261,0,0,0,0,1.261V5.739A1.261,1.261,0,0,0,1.261,7H5.739A1.261,1.261,0,0,0,7,5.739Z"
                                        transform="translate(9)" />
                                    <path id="Path-3" data-name="Path" class="cls-1"
                                        d="M7,1.261A1.261,1.261,0,0,0,5.739,0H1.261A1.261,1.261,0,0,0,0,1.261V5.739A1.261,1.261,0,0,0,1.261,7H5.739A1.261,1.261,0,0,0,7,5.739Z"
                                        transform="translate(0 9)" />
                                    <path id="Path-4" data-name="Path" class="cls-1"
                                        d="M7,1.261A1.261,1.261,0,0,0,5.739,0H1.261A1.261,1.261,0,0,0,0,1.261V5.739A1.261,1.261,0,0,0,1.261,7H5.739A1.261,1.261,0,0,0,7,5.739Z"
                                        transform="translate(9 9)" />
                                </g>
                            </svg></a>
                        <a tooltip="List View" [routerLink]="folderId ? ('/workspace/workspace/home/list'+'/'+folderId) : (['/workspace/workspace/home', 'list'])" (click)="toggleStyleView='list'" queryParamsHandling="merge"
                            [ngClass]="{'s_current':toggleStyleView=='list' }">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="17" viewBox="0 0 15 17">
                                <g id="noun_list_view_1544629" data-name="noun_list view_1544629"
                                    transform="translate(15) rotate(180)">
                                    <rect id="Rectangle" class="cls-1" width="12" height="3" rx="1"
                                        transform="translate(12) rotate(180)" fill="#D8D8D8"/>
                                    <rect id="Rectangle-2" data-name="Rectangle" class="cls-1" width="15" height="3"
                                        rx="1" transform="translate(15 -6) rotate(180)" fill="#D8D8D8"/>
                                    <rect id="Rectangle-3" data-name="Rectangle" class="cls-1" width="15" height="3"
                                        rx="1" transform="translate(15 -12) rotate(180)" fill="#D8D8D8"/>
                                </g>
                              </svg>
                        </a>


                    </div>
                    </div>


                    <div class="clear"></div>

                </div>

                <div>
                    <div class="row count2" *ngIf="folders?.length > 0">
                        <div class="col-md-6" *ngIf="toggleStyleView == 'grid'">
                            <div class="row cont_s alert234">
                                {{translation?.huddle_folder_count}} ({{folders.length}})
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="toggleStyleView == 'list'">
                            <div class="row cont_s alert10">
                                <!-- <ng-container *ngIf="total_artifacts!=0 && !total_artifactsload">
                                    <ng-container *ngIf="resourceFilter==0">{{translation?.workspace_artifacts}}</ng-container>
                                    <ng-container *ngIf="resourceFilter==1">{{translation?.workspace_videos}}</ng-container>
                                    <ng-container *ngIf="resourceFilter==2">{{translation?.workspace_resources}}</ng-container>
                                    <ng-container *ngIf="resourceFilter==3">{{translation?.workspace_scriptednotes}}</ng-container>
                                    <ng-container *ngIf="resourceFilter==5">{{translation?.urls}}</ng-container>
                                    ({{total_artifacts}})
                                </ng-container> -->
                                <ng-container *ngIf="total_artifacts==0 && (total_artifactsload && !total_artifactsload)">
                                    <div class="animate_me ar_co"></div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-6 exp" *ngIf="toggleStyleView == 'grid'">
                            <span class="collapse_all" *ngIf="foldersExpanded" (click)="ToggleFoldersExpand(false)">
                                {{translation?.huddle_collapse_all}}
                                <i>
                                    <img src="./assets/img/arrow_up.svg" width="15">
                                </i>
                            </span>
                            <span class="expand_all" *ngIf="!foldersExpanded" (click)="ToggleFoldersExpand(true)">
                                {{translation?.huddle_expan_all}}
                                <i>
                                    <img src="./assets/img/arrowndown.svg" width="15">
                                </i>
                            </span>
                        </div>
                    </div>
                </div>
               
                <div class="row huddlebox box_padding" *ngIf="displayStyle === 'grid'">
                    <shared-folder-thumb-view [isExpanded]="foldersExpanded" class="col-md-3 noOutline animated fadeIn  fifteenPx-main2 animate_ngfor toremovebg" *ngFor="let folder of folders; let i=index" [data]="folder"
                    (mouseenter)="folder.mouseEntered=true" (dragenter)="changeBackground(folder.folder_id,$event,dosomething=true)" (dragleave)="changeDefaultBackground($event)" (mouseleave)="folder.mouseEntered=false" (OnEdit)="folderEdit($event,folder.name)" (OnDelete) = "OnFolderDelete($event)" [isHuddle] = "false" dndDropzone dndEffectAllowed="move" [pageType]="pageType" [changeBackgroundColor]= "changeBackgroundColor" [dragFolderId]="dragFolderId" (drop)="uploadFiles($event, folder)" fileDropUpload (dndDrop)="onDrop($event, folder)" (shareFolderModal)="openShareFolderModal($event)">
                    </shared-folder-thumb-view>
                    
                    
                    
                </div>

                <ng-container *ngIf="displayStyle === 'list' && (folders.length > 0 || artifacts.length > 0)">
                    <div class="col-12 row grid_heading">
                        <div class="col-3">{{translation?.huddle_resource_name}}</div>
                        <div class="col-1 text-center">{{translation?.workspace_videos}}</div>
                        <div class="col-1 text-center">{{translation?.workspace_resources}}</div>
                        <div class="col-1 lgcell text-center">{{translation?.urls}}</div>
                        <div class="col-1 lgcell text-center">{{translation?.workspace_scriptednotes}}</div>
                        <div class="col-1 lgcell_2 text-center">{{translation?.huddle_folder_count}}</div>
                        <div class="col-1 lgcell_2 text-center">{{translation?.artifact_created_by}}</div>
                        <div class="col-1 lgcell_2 text-center">{{translation?.artifact_upload}}</div>
                        <div class="col-2 lastcell pl-30px">Actions</div>
                    </div>
                <shared-folder-list-view *ngFor="let folder of folders" [data]="folder" (OnEdit)="folderEdit($event,folder.name)" class="animate_ngfor noOutline" (dragenter)="changeBackground(folder.folder_id,$event)" (dragleave)="changeDefaultBackground($event)"
                (mouseenter)="folder.mouseEntered=true" (mouseleave)="folder.mouseEntered=false; toTest()" (drop)="uploadFiles($event, folder)" fileDropUpload (OnDelete) = "OnFolderDelete($event)" [isHuddle] = "false" [changeBackgroundColor]= "changeBackgroundColor" [dragFolderId]="dragFolderId"
                dndDropzone dndEffectAllowed="move"  [pageType]="pageType" (dndDrop)="onDrop($event, folder)">
                </shared-folder-list-view>
            </ng-container>

            <ng-container #skeleton *ngIf="Loadings.isNextPageLoading">
                <div class="row">
                    <div class="col-md-6">
                        <span class="ani_wp1 wani1"></span>
                    </div>
                </div>
            </ng-container>

            <div class="row" *ngIf="toggleStyleView == 'grid'">
                <div class="col-md-6">
                    <div class="cont_s row alert5">
                        <ng-container *ngIf="total_artifacts!=0 && !total_artifactsload">
                            <ng-container *ngIf="resourceFilter==0">{{translation?.workspace_artifacts}}</ng-container>
                            <ng-container *ngIf="resourceFilter==1">{{translation?.workspace_videos}}</ng-container>
                            <ng-container *ngIf="resourceFilter==2">{{translation?.workspace_resources}}</ng-container>
                            <ng-container *ngIf="resourceFilter==3">{{translation?.workspace_scriptednotes}}</ng-container>
                            <ng-container *ngIf="resourceFilter==5">{{translation?.urls}}</ng-container>
                            ({{total_artifacts}})
                        </ng-container>
                        <ng-container *ngIf="total_artifacts==0 && (total_artifactsload && !total_artifactsload)">
                            <div class="animate_me ar_co"></div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
                <shared-artifact-grid-box *ngIf="displayStyle === 'grid'" [artifacts]="artifacts" [loading]="Loadings.isNextPageLoading" [additionalData]="additionalData" [pageType]="pageType" [folderPath]="bcFolders" [haveFolders]="this.folders.length > 0 ? true:false"></shared-artifact-grid-box>
                <shared-artifact-list-box *ngIf="displayStyle === 'list'" [artifacts]="artifacts" [loading]="Loadings.isNextPageLoading" [additionalData]="additionalData" [pageType]="pageType" [haveFolders]="this.folders.length > 0 ? true:false"></shared-artifact-list-box>
                <ng-container *ngIf="artifacts?.length==0 && !Loadings.isNextPageLoading && bysearch ">
                    <div class="no_discussions">
                        <svg id="Group_332" data-name="Group 332" xmlns="http://www.w3.org/2000/svg" width="90.7"
                            height="90.7" viewBox="0 0 90.7 90.7">
                            <path id="Path_51" data-name="Path 51"
                                d="M45.35,0A45.29,45.29,0,1,1,13.265,13.265,45.239,45.239,0,0,1,45.35,0Zm0,56.708a6.121,6.121,0,0,1,6.135,6.135,6.192,6.192,0,0,1-6.135,6.218,6.263,6.263,0,0,1-6.218-6.218A6.192,6.192,0,0,1,45.35,56.708Zm0-6.218A4.329,4.329,0,0,1,41.2,46.345L39.132,27.857c-.332-3.233,3.068-6.218,6.218-6.218s6.55,2.985,6.135,6.218L49.5,46.345A4.329,4.329,0,0,1,45.35,50.49Zm26.2-31.422A37.129,37.129,0,1,0,82.409,45.35,37.325,37.325,0,0,0,71.549,19.069Z"
                                transform="translate(0)" fill="#616161" />
                        </svg>
                        <br>
                        <br>
                        <b style="font-size:18px">{{translation?.workspace_nomatching}}
                            <ng-container *ngIf="resourceFilter==0">{{translation?.workspace_artifacts_s}}
                            </ng-container>
                            <ng-container *ngIf="resourceFilter==1">{{translation?.workspace_videos_s}}</ng-container>
                            <ng-container *ngIf="resourceFilter==2">{{translation?.artifact_resources_s}}
                            </ng-container>
                            <ng-container *ngIf="resourceFilter==3">{{translation?.workspace_scriptednotes}}
                            </ng-container>
                            <ng-container *ngIf="resourceFilter==5">{{translation?.url}}
                            </ng-container> {{translation?.workspace_found}}.
                        </b>
                    </div>
                </ng-container>
                <ng-container *ngIf="artifacts?.length==0 && !Loadings.isNextPageLoading  && !bysearch">
                    <div class="no_discussions no_artifact">
                        <svg id="Group_332" data-name="Group 332" xmlns="http://www.w3.org/2000/svg" width="90.7"
                            height="90.7" viewBox="0 0 90.7 90.7">
                            <path id="Path_51" data-name="Path 51"
                                d="M45.35,0A45.29,45.29,0,1,1,13.265,13.265,45.239,45.239,0,0,1,45.35,0Zm0,56.708a6.121,6.121,0,0,1,6.135,6.135,6.192,6.192,0,0,1-6.135,6.218,6.263,6.263,0,0,1-6.218-6.218A6.192,6.192,0,0,1,45.35,56.708Zm0-6.218A4.329,4.329,0,0,1,41.2,46.345L39.132,27.857c-.332-3.233,3.068-6.218,6.218-6.218s6.55,2.985,6.135,6.218L49.5,46.345A4.329,4.329,0,0,1,45.35,50.49Zm26.2-31.422A37.129,37.129,0,1,0,82.409,45.35,37.325,37.325,0,0,0,71.549,19.069Z"
                                transform="translate(0)" fill="#616161" />
                        </svg>
                        <br>
                        <br>
                        <b style="font-size:18px">{{translation?.workspace_no}}
                            <ng-container *ngIf="resourceFilter==0">{{translation?.workspace_artifacts_s}}
                            </ng-container>
                            <ng-container *ngIf="resourceFilter==1">{{translation?.workspace_videos_s}}</ng-container>
                            <ng-container *ngIf="resourceFilter==2">{{translation?.artifact_resources_s}}
                            </ng-container>
                            <ng-container *ngIf="resourceFilter==3">{{translation?.workspace_scriptednotes}}
                            </ng-container>
                            <ng-container *ngIf="resourceFilter==5">{{translation?.url}}
                            </ng-container> {{translation?.workspace_available}}.<br>
                            <ng-container> {{translation?.workspace_clickthegreenplusbuttontoadd}}<ng-container
                                    *ngIf="resourceFilter==0"> {{translation?.workspace_an}} </ng-container>
                                <ng-container *ngIf="resourceFilter!=0"> {{translation?.workspace_a}} </ng-container>
                                <ng-container *ngIf="resourceFilter==0">{{translation?.workspace_artifacts_s}}.
                                </ng-container>
                                <ng-container *ngIf="resourceFilter==1">{{translation?.workspace_videos_s}}.
                                </ng-container>
                                <ng-container *ngIf="resourceFilter==2">{{translation?.artifact_resource}}.
                                </ng-container>
                                <ng-container *ngIf="resourceFilter==3">{{translation?.workspace_scriptednote}}.
                                </ng-container>
                                <ng-container *ngIf="resourceFilter==5">{{translation?.url}}.
                                </ng-container>
                            </ng-container>
                        </b>
                    </div>
                </ng-container>

            </div>


        </div>

    </div>

</div>



<!--sync notes modal start-->
<ng-container *ngIf="sessionData.site_id==1">
    <div bsModal #syncnotes="bs-modal" id="syncedNotes1" class="modal fade sharepopup" role="dialog">
        <div class="modal-dialog" style="max-width:1000px;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{translation?.workspace_syncednotes}}</h4>
                    <button type="button" class="close" data-dismiss="modal" (click)="hideModal('sync_notes')">&times;</button>

                </div>
                <div class="modal-body snotes">

                    <div class="row snoteinner">
                        <div class="col-md-4">
                            <div class="simgbox">
                                <img src="assets/img/img1.png">
                            </div>
                            <h4>{{translation?.workspace_startsynednotesonmobile}}</h4>
                            <p>{{translation?.workspace_startsynednotesonmobiledesc}}</p>
                        </div>
                        <div class="col-md-4">
                            <div class="simgbox">
                                <img src="assets/img/img2.png">
                            </div>

                            <h4>{{translation?.workspace_getalertondesktopapp}}</h4>
                            <p>{{translation?.workspace_getalertondesktopappdesc}} </p>


                        </div>
                        <div class="col-md-4">
                            <div class="simgbox">
                                <img src="assets/img/img3.png">
                            </div>

                            <h4>{{translation?.workspace_starttypingnotes}}</h4>
                            <p>{{translation?.workspace_starttypingnotesdesc}}</p>


                        </div>

                        <div class="col-12 synced_link">
                            <a href="https://help.sibme.com/coaching-huddle-observations/what-are-synced-video-observation-notes-and-how-do-i-use-it" target="_blank">See
                {{translation?.workspace_seemoredetailedinstructions}} <img src="assets/img/arrow_sky.png"> </a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</ng-container>
<!--sync notes modal end-->

<ng-container *ngIf="sessionData.site_id!=1">
    <div bsModal #syncnotes="bs-modal" id="syncedNotes2" class="modal fade sharepopup" role="dialog">
        <div class="modal-dialog" style="max-width:1000px;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{translation?.workspace_syncednotes}}</h4>
                    <button type="button" class="close" data-dismiss="modal" (click)="hideModal('sync_notes')">&times;</button>

                </div>
                <div class="modal-body snotes">

                    <div class="row snoteinner">
                        <div class="col-md-4">
                            <div class="simgbox">
                                <img src="assets/img/img4.png">
                            </div>
                            <h4>{{translation?.workspace_startsynednotesonmobile}}</h4>
                            <p>{{translation?.workspace_startsynednotesonmobiledesc}}</p>
                        </div>
                        <div class="col-md-4">
                            <div class="simgbox">
                                <img src="assets/img/img5.png">
                            </div>

                            <h4>{{translation?.workspace_getalertondesktopapp}}</h4>
                            <p>{{translation?.workspace_getalertondesktopappdesc}} </p>


                        </div>
                        <div class="col-md-4">
                            <div class="simgbox">
                                <img src="assets/img/img6.png">
                            </div>

                            <h4>{{translation?.workspace_starttypingnotes}}</h4>
                            <p>{{translation?.workspace_starttypingnotesdesc}}</p>


                        </div>

                        <div class="col-12 synced_link hlink2">
                            <a href="https://help.sibme.com/coaching-huddle-observations/what-are-synced-video-observation-notes-and-how-do-i-use-it">{{translation?.workspace_seemoredetailedinstructions}} <img src="assets/img/arrowgolden.png"> </a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</ng-container>
<!-- HMH Sync Notes End-->
