<div *ngIf="!translationLoaded" style="display: flex">
    <div class="an_ah3 ana_cl"></div>
    <div class="an_ah3 ana_cl"></div>
    <div class="an_ah3 ana_cl"></div>
</div>
<tabset [hidden]="!translationLoaded" #navTabs>
    <tab heading="{{translation?.analytics_overview}}" id="tab1" class="animated fadeIn" (selectTab)="selectTab(0)">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-12">        <overview *ngIf="navTabsLoaded"></overview></div>
               <div class="col-md-5  col-sm-12 col-12"><app-leader-board></app-leader-board></div>
        </div>

    </tab>
    <tab heading="{{translation?.analytics_tp_level}}" class="animated fadeIn" (selectTab)="selectTab(1)">
        <div *ngIf="!isIEOpened">
            <!-- <tagsnpls [hidden]="filters?.subAccount =='' || !filters?.subAccount"> </tagsnpls> -->

            <div class="gbox" *ngIf="filters?.subAccount =='' || !filters?.subAccount">
                <h6> {{translation?.analytics_huddle_video_session}}</h6>
                <label style="font-style: italic;">
                    {{translation?.analytics_please_select_an_account_at}}

                </label>
            </div>
        </div>
        <div *ngIf="isIEOpened">
            <h3 class="ie_msg">Graphs are not supported on Internet Explorer!</h3>
        </div>
    </tab>

    <tab heading="{{translation?.analytics_user_summary}}" class="animated fadeIn" (selectTab)="selectTab(2)">
        <user-summary *ngIf="navTabsLoaded"></user-summary>
    </tab>
</tabset>