<header>
    <div class="container">
    <div class="row">
       <div class="col-3">
       <div class="logo"><img src="assets/img/logohmh.png"></div>
       </div>
       
       <div class="col-9 menucls">
          <a [routerLink]="['orders']" routerLinkActive="active" >Orders</a>
           <a [routerLink]="['FAQs']" routerLinkActive="active">FAQ</a>
       </div>
       </div>
       
    </div>
 </header>
 <router-outlet></router-outlet>





<!-- <div class="box_con">
    <div class="toplogo">
        <img src="assets/img/logohmh.png">
        <h2>HMH Coaching Studio Licensing</h2>
    </div>

    <div class="hmh_licencing">

        <div class="nav_li">
            <select [(ngModel)]="sap_type" [routerLink]="[]" [queryParams]="{ sap_type: sap_type}">
                <option value="1">SAP 1</option>
                <option value="2">SAP 2</option>
            </select>

            <a [routerLink]="['orders']" [queryParams]="{ sap_type: sap_type}" routerLinkActive="current_a">Orders</a>
            <a [routerLink]="['FAQs']" [queryParams]="{ sap_type: sap_type}" routerLinkActive="current_a">Licensing FAQ</a>
        </div>
        <router-outlet></router-outlet>








    </div>

</div> -->