<style>
    [class*="icon-"]::before
    {
        background: none !important;
        
    }
 </style>   
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://fonts.googleapis.com/css?family=Dosis" rel="stylesheet" type="text/css"/>
        <!-- bitdash player -->
        <script src="https://content.jwplatform.com/libraries/gXmBKmOv.js"> </script>


  
        <div id="myElement"></div>
        <script type="text/JavaScript">
        var playerInstance = jwplayer("myElement");
        playerInstance.setup({
            file: "https://59ec70ba7b9df.streamlock.net/livecf/SIbmeStream/playlist.m3u8"
        });
        </script>
   
</html>