<div class="modal-header pl-modal-header">
    <h4 class="modal-title">{{translation?.performance_level_descriptions || translation?.vd_performance_level_desc}}
    </h4>
    <button type="button" class="close" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</button>
</div>
<div class="modal-body pl-modal-body">
    <div class="pl-unique-item-container"
        *ngFor="let pld of plUniqueDescriptions; let i=index; let l=last">
        <div class="pl-unique-item">
            <div class="pl-unique-item-title"
                [ngStyle]="{'height': (plUniqTitleHeight > 0) ? plUniqTitleHeight+'px' : false}">{{pld.title}}</div>
            <div *ngIf="pld.description" class="description">
                {{(pld.description.length > maxDescCharacters && !pld.showMore) ? (pld.description |
                slice:0:maxDescCharacters) : pld.description}}
            </div>
            <div *ngIf="!pld.description" class="no-description">
                <img src="assets/img/no-found.svg">
                {{translation?.no_description || 'No description'}}
            </div>
            <div class="action-item">
                <button *ngIf="(pld.description.length > maxDescCharacters && !pld.showMore)"
                    (click)="pld.showMore = true;">{{translation?.see_more || 'See More'}} <img
                        src="assets/img/arrow_down.svg" /></button>
                <button *ngIf="(pld.description.length > maxDescCharacters && pld.showMore)"
                    (click)="pld.showMore = false;">{{translation?.see_less || 'See Less'}} <img
                        src="assets/img/arrow_up.svg" /></button>
            </div>
        </div>
        <div *ngIf="!l && i !== 3 && i !== 7" class="pl-unique-item-separator"></div>
    </div>
    <div *ngIf="plUniqueDescriptions.length === 0" class="no-pl-unique-items">
        <img src="assets/img/no-found.svg">
        {{translation?.no_performance_level_angular_rubrics}}
    </div>
</div>