.pl-modal-header {
    position: relative;
}

.pl-modal-header .modal-title {
    width: 100% !important;
    font-weight: 500 !important;
    color: #000000;
}

.pl-modal-header .close {
    position: absolute;
    right: 16px;
}

.pl-modal-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 0 !important;
    padding-bottom: 35px !important;
}

.pl-unique-item-container {
    display: flex;
    width: 25%;
    margin-top: 35px !important;
}

.pl-unique-item {
    padding: 0 20px;
    width: 100%;
}

.pl-unique-item-title {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
    word-break: break-word;
}

.pl-unique-item .description {
    min-height: 150px;
    text-align: center;
    color: #616161;
    font-size: 15px;
}

.pl-unique-item .action-item {
    text-align: center;
    margin-top: 10px;
}

.pl-unique-item .action-item button {
    outline: none;
    border: 1px solid #efefef;
    background: #fff;
    border-radius: 3px;
    padding: 4px 15px;
}

.pl-unique-item .action-item button img {
    margin-left: 5px;
}

.pl-unique-item-separator {
    border-left: 1px solid #9c9c9c;
    max-height: 250px;
}

.no-description {
    margin-top: 0 !important;
    color: #616161;
    font-size: 15px;
}

.no-pl-unique-items, .no-description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.no-pl-unique-items img, .no-description img {
    margin-right: 5px;
}