            <div class="modal-header">
                <h4 *ngIf="pageType!='library-page'" id="dialog-child-name" class="modal-title pull-left">{{translation?.artifact_rename}}</h4>
                <h4 *ngIf="pageType=='library-page'" id="dialog-child-name" class="modal-title pull-left">{{translation?.artifact_vd_rename}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="f_name">
                    <p *ngIf="pageType!='library-page'">{{translation?.artifact_rename}}</p>
                    <p *ngIf="pageType=='library-page'">{{translation?.artifact_vd_name}}</p>
                    <input type="text" class="form-control" name="edit_title" [(ngModel)]="rename" #title=ngModel #renameTitle required> {{renameTitle.focus()}}

                </div>

            </div>
            <div class="modal-footer footerm">
            <div class="row">
             <div class="col-6"></div>
                <div class="col-6 share_btn">
                    <a class="btn btn-default" (click)="bsModalRef.hide()">{{translation?.artifact_cancle}}</a>
                    <a *ngIf="pageType!='library-page'" class="btn btn-success" (click)="SubmitRename();">{{translation?.artifacts_done}}</a>
                    <a *ngIf="pageType=='library-page'" class="btn btn-success" (click)="SubmitRename();">{{translation?.vd_save}}</a>

                </div>
</div>

            </div>
  