
<!-- Modal content-->

<div class="modal-content" [ngClass]="{'hide': hideModal}" style="width:700px;">
  <div class="modal-header">
    <h4 class="modal-title">{{translation?.vl_manage_categories}}</h4>
    <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>

  </div>

  <div class="modal-body manage_popup">

    <div class="row">
      <div class="col-md-6 r_border">

        <h4>{{translation?.vl_categories}}</h4>
        <div class="cat_listouter">
          <p *ngIf="!categories?.length">{{translation?.vl_add_categories_below}}</p>
          <div class="pop_cal_list scroll-container" slimScroll [options]="opts" [scrollEvents]="scrollEvents">
            <ul>

              <li *ngFor="let category of categories" [class.active_row] = "category === subCategories "
                (click)="subCategories = category; isSubCategorySelected = true">{{category.name}} 
                <div class="cat_option dropdown" dropdown>
                  <ng-template #confirmDialog>
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{{translation?.huddle_list_confirmation_required}}</h4>
                            <button type="button" class="close" (click)="modalRef.hide(); ; Inputs.Confirmation=null; this.hideModal = false">×</button>
                  
                        </div>
                        <div class="modal-body">
                            <div class="alert_bg singleline row">
                                <div class="col-2">
                                    <img src="./assets/img/alert_i.svg">
                                </div>
                                <div class="col-10">
                                    <h6> {{translation?.are_you_sure_want_to_delete_this_category}}</h6>
                                </div>
                            </div>
                            <div class="f_name">
                                <p>{{translation?.huddle_resource_type}} {{Inputs.ConfirmationKey}} {{translation?.huddle_list_to_confrim}}</p>
                                <input type="text" class="form-control" [(ngModel)]="Inputs.Confirmation" >
                            </div>
                  
                        </div>
                        <div class="modal-footer hufooter">
                            <div class="col-12">
                                <a class="fake_link"  (click)="modalRef.hide(); Inputs.Confirmation=null; this.hideModal = false">
                                    {{translation?.vd_cancel}}
                                </a>
                                <a class="conf_delete fake_link" (click)="deleteCategory(category)">
                                    {{translation?.delete_all}}
                                </a>
                            </div>
                  
                  
                        </div>
                    </div>
                    </ng-template>
                  <button type="button" class="dropdown-toggle" id="button-basic" dropdownToggle
                  aria-controls="dropdown-basic" (click)="IsScrollToBottom(categories, category, 'category')" >
                    <img src="assets/video-library/img/dots_dark.svg" width="30">
                  </button>
                  <div class="dropdown-menu" id="dropdown-basic" *dropdownMenu role="menu" aria-labelledby="button-basic">
                    <a class="dropdown-item" role="menuitem" (click)="setRenameCategory(category)">{{translation?.artifact_rename}} </a>
                    <a class="dropdown-item" role="menuitem" (click)="openModal(confirmDialog)">{{translation?.artifact_delete}}</a>
                  </div>
                </div>
              </li>
              <div class="category-bottom"></div>
            </ul>
          </div>
        </div>
        <div class="add_cat_row" [class.not_ac] = "!category" *ngIf="!isRenameCategory">
          <input class="form-control" type="text" placeholder="{{translation?.add_new_category}}" [(ngModel)]="category" name="category" (change) ="category = category.trim()">
           <img _ngcontent-imv-c16="" src="./assets/img/x.svg" class="ng-star-inserted" *ngIf="category" (click)="category =''">
          <button [disabled] = '!category' name="category" (click)="addCategory()">{{translation?.artifact_add}}</button>
        </div>
        <div class="add_cat_row" [class.not_ac] = "!renameCategory.name" *ngIf="isRenameCategory">
          <input class="form-control" type="text" placeholder="{{translation?.add_new_category}}" [(ngModel)]="renameCategory.name" name="category" (change)="renameCategory.name = renameCategory.name.trim()">
          <img _ngcontent-imv-c16="" src="./assets/img/x.svg" class="ng-star-inserted" *ngIf="renameCategory.name" (click)="renameCategory.name =''">
          <button [disabled] = '!renameCategory.name' name="category" (click)="updateCategory()">{{translation?.vd_update}}</button>
        </div>

      </div>
      <div class="col-md-6">
        <h4>{{translation?.vl_subcategories}}</h4>
        <div class="cat_listouter">

          <p *ngIf="subCategories.childs && !(subCategories.childs.length > 0)">{{translation?.vl_add_subcategories}} <a>{{subCategories.name}}</a> {{translation?.vl_below_optional}}</p>
          <p *ngIf="!subCategories.name">Subcategories require categories</p>
          <div class="pop_cal_list" slimScroll [options]="opts" [scrollEvents]="scrollEvents">
            <ul>
              <li *ngFor="let subCategory of subCategories.childs"><i class="dt"></i>{{subCategory.name}} 
                <div class="cat_option dropdown" dropdown>
                  <button type="button" class="dropdown-toggle" id="button-basic" dropdownToggle
                  aria-controls="dropdown-basic" (click)="IsScrollToBottom(subCategories.childs, subCategory, 'subCategory')" >
                    <img src="assets/video-library/img/dots_dark.svg" width="30">
                  </button>
                  <ng-template #confirmDialog>
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{{translation?.huddle_list_confirmation_required}}</h4>
                            <button type="button" class="close" (click)="modalRef.hide(); ; Inputs.Confirmation=null; this.hideModal = false">×</button>
                  
                        </div>
                        <div class="modal-body">
                            <div class="alert_bg singleline row">
                                <div class="col-2">
                                    <img src="./assets/img/alert_i.svg">
                                </div>
                                <div class="col-10">
                                    <h6>{{translation?.are_you_sure_want_to_delete_this_subcategory}}</h6>
                                </div>
                            </div>
                            <div class="f_name">
                                <p>{{translation?.huddle_resource_type}} {{Inputs.ConfirmationKey}} {{translation?.huddle_list_to_confrim}}</p>
                                <input type="text" class="form-control" [(ngModel)]="Inputs.Confirmation" >
                            </div>
                  
                        </div>
                        <div class="modal-footer hufooter">
                            <div class="col-12">
                                <a class="fake_link"  (click)="modalRef.hide(); Inputs.Confirmation=null; this.hideModal = false">
                                    {{translation?.vd_cancel}}
                                </a>
                                <a class="conf_delete fake_link" (click)="deleteSubCategory(subCategory)">
                                    {{translation?.delete_all}}
                                </a>
                            </div>
                  
                  
                        </div>
                    </div>
                    </ng-template>
                  <div class="dropdown-menu" id="dropdown-basic" *dropdownMenu role="menu" aria-labelledby="button-basic">
                    <a class="dropdown-item" role="menuitem" (click)="setRenameSubCategory(subCategory)">{{translation?.artifact_rename}}</a>
                    <a class="dropdown-item" role="menuitem" (click)="openModal(confirmDialog)">{{translation?.artifact_delete}}</a>
                  </div>
                </div>
              </li>
              <div class="subcategory-bottom"></div>
            </ul>
          </div>
        </div>
        <div class="add_cat_row " [class.not_ac] = "!isSubCategorySelected || !subCategory"  *ngIf="!isRenameSubCategory">
          <input class="form-control" type="text" placeholder="{{translation?.add_new_sub_category}}" name="subCategory" [(ngModel)]="subCategory" (change)="subCategory=subCategory.trim()">
          <img _ngcontent-imv-c16="" src="./assets/img/x.svg" class="ng-star-inserted" *ngIf="subCategory" (click)="subCategory = ''">
          <button [disabled] = '!isSubCategorySelected || !subCategory' (click)="addSubCategory()">{{translation?.artifact_add}}</button>
        </div>
        <div class="add_cat_row" [class.not_ac] = "!renameSubCategory.name" *ngIf="isRenameSubCategory">
          <input class="form-control" type="text" placeholder="{{translation?.add_new_category}}" [(ngModel)]="renameSubCategory.name" name="category" (change)="renameSubCategory.name= renameSubCategory.name.trim()">
          <img _ngcontent-imv-c16="" src="./assets/img/x.svg" class="ng-star-inserted" *ngIf="renameSubCategory.name" (click)="renameSubCategory.name = ''">
          <button [disabled] = '!renameSubCategory.name' name="category" (click)="updateSubCategory()">{{translation?.vd_update}}</button>
        </div>

      </div>
    </div>

  </div>

  <div class="modal-footer footerm">
    <div class="clear"></div>
    <div class="row">
      <div class="col-6">

      </div>
      <div class="col-6 share_btn">
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{translation?.artifact_cancle}}</button>
        <button [disabled] = "disableBtn" type="button" class="btn btn-success" (click)="save()">{{translation?.save_popup}}</button>
      </div>
    </div>


  </div>
</div>
