.f_name p {
  margin-bottom: 4px;
}

.hufooter {
  border: 0;
  text-align: right;
  padding-bottom: 21px;
}
.hide{
  display: none;
}
.hufooter a {
  display: inline-block;
  padding: 9px 22px;
  border-radius: 5px;
  color: #484848;
  text-decoration: none;
}

.hufooter .green_btn {
  background: #28A745;
  color: #fff !important;
  padding-right: 30px;
  padding: 10px 30px;
  border-radius: 4px;
  border: none;
}

.hufooter .creat_btn:hover {
  color: #fff;
  text-decoration: none;
}

.modal-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: block;
  color: #484848;
  text-align: center;
  width: 95%;
}

.f_name {
  padding-top: 15px;
}

.close {
  float: right;
  font-size: 28px !important;
  font-weight: 600 !important;
  line-height: 18px !important;
  font-family: initial;
}

.alert_bg {
  background: #F7DF9A;
  padding: 10px;
  margin: 0 0 15px 0 !important;
  border-radius: 4px;
}

.alert_bg .col-2 {
  padding-left: 0;
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 14.666667%;
  flex: 0 0 14.666667%;
  max-width: 14.666667%;
}

.alert_bg .col-10 {
  padding: 0;
}

.alert_bg img {
  width: 24px;
  position: relative;
  top: 19px;
}

.alert_bg h6 {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  padding: 15px 0 20px 0;
}

.alert_bg p {
  font-size: 12px;
}

.hufooter a.conf_delete {
  border: 1px solid #CECECE;
  padding-right: 30px;
  padding-left: 30px;
}

.modal-body {
  padding-left: 30px;
  padding-right: 30px;
}

.limt_over a {
  color: #484848;
  text-decoration: none;
}

.partci p {}

.par_heading {
  border-bottom: 2px solid #D8D8D8;
  margin: 0 0 7px 0 !important;
  padding-top: 11px;
  padding-bottom: 3px;
}

.par_heading .col-6 {
  padding-left: 0;
}

.hufooter a.okbtn {
  background: #057EFF;
  color: #fff !important;
}

.f_name { padding-bottom:15px;}
.sharepopup  .hufooter { padding-top:0;}
.share_popup { padding-bottom:0;}

.footerm .row{     width: 94%;
    border-top: 1px solid #e9ecef;
    padding-top: 16px;
    padding-bottom: 3px;
    margin: 0 1%;}	

.footerm .share_btn{ padding-right:0;}
.footerm .col-6 { padding-left:0;}
.footerm{ border:0;     padding-top: 0;}
.share_btn { text-align:right;}
.footerm button{        padding: 10px 28px;
    margin-left: 10px;
    font-size: 14px; margin-left: 10px; }
.footerm button:focus { box-shadow: 0 0 0 0rem rgba(0,123,255,.25);}
.footerm .btn-default{ background:none;}
.footerm .btn-success{ background:#28A745; border:0;}
.share_popup .tab-pane { min-height:100px;}
.footerm .btnpreview{ background:#057EFF; color:#fff;}
.share_popup .nav-tabs .nav-item {
    margin-bottom: -1px;
    border: 1px solid #ddd;
      padding: 6px 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
      margin-left: 0;      width: 33.33%; border-bottom: 0; text-align: center;
}
   
   .share_popup .nav-tabs .nav-item a{ color:#A0A0A0; text-decoration:none;     font-size: 15px;} 
   .share_popup .nav-tabs .nav-item a.active{ color:#1C7CD5;}
   
  .share_popup .nav-tabs { border:0;     position: relative;
    }
  .share_popup .tab-content { border-top:1px solid #E4E4E4;     margin: 0 -15px;
    padding: 15px;}
	.sharepopup .hu_search{ width:100%;     margin-bottom: 10px;}
	
	
	.sharepopup h4 {
    color: #484848;
    font-size: 18px;
    margin: 10px 0px;
}

	.modal-title {font-family: 'Roboto', sans-serif; font-weight:400; 
    font-size: 18px;    display: block; color: #484848;
    text-align: center;
    width: 95%; }
	.close {
    float: right;
    font-size: 28px !important;
    font-weight: 100 !important;
    line-height: 18px !important;}
	
	/*cat popup*/
	.add_cat_row .form-control{ width:75%;
    display: inline-block;     font-size: 14px;
    padding: 7px 10px;}
	.add_cat_row button{ background: #057EFF;
    color: #fff;
    border: 0;
    width: 22%;
    padding: 6px;
    border-radius: 4px; cursor:pointer; margin-left: 3%;}
	.manage_popup p{    color: #5B5B5B;
    font-size: 14px;
        font-style: italic;     margin-bottom: 0;}
		
		.manage_popup a{ color:#057EFF;}
		
		.manage_popup h4{ color:#484848; font-size:18px;     margin: 10px 0px;}
		.manage_popup .col-md-6 { padding:0 17px;}
		.manage_popup .row{ margin:0 -25px;}
		.r_border{    border-right: 1px solid #ddd;}
		.pop_cal_list { height:150px; overflow:auto;}
		.pop_cal_list ul { margin:0; padding:0; list-style:none; max-width:95%;}
		.pop_cal_list ul li{ color:#616161; font-size:14px; padding:4px 0; cursor:pointer;}
		.pop_cal_list ul li:hover{ color:#057EFF;}
		.cat_option {    float: right;
    text-align: right;
    width:18%;}
	.cat_option button {
    border: 0;
    padding: 0;
    background: none;
    outline: none !important;
    cursor: pointer !important;
}

.cat_option .dropdown-menu {
    min-width: 74px !important;
    padding: 10px 0px 6px 0px !important;
    right: 0px !important;
    left: initial !important;
}
.cat_option .dropdown-menu a {
    padding: 1px 14px 5px 14px;
    font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 0;
    cursor: pointer !important;
}
.cat_option .dropdown-toggle::after{ display:none;}
.cat_option img { width:21px;}
		.not_ac { opacity:0.6;}
		.add_cat_row { padding-top:10px; position:relative;}
		.add_cat_row  img{    position: absolute;
    top: 24px;
    right: 86px;
    cursor: pointer;}
		.cat_listouter { min-height:201px; }
		.dt { display: inline-block;
    margin-right: 7px;
    background: #9d9c9c;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: relative;
    top: -1px;}
		
		
	/*cat popup end*/
	
	/*cat  start*/
	.cat_listouter1{    padding-top: 4px;}
	.manage_popup .col-12 {
    padding: 0 25px 20px 25px ;
}
	
	.active_row {color: #057EFF;}	

		.animation_cls{    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #dfdfdf;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    position: relative;}
	.imgani {  border-radius:50%; width:50px; height:50px;}
	
	.anh{ width:50%; height:25px;}
	.anp{ width:100%; height:15px;}
	.acc { display:inline-block; height:10px; margin-right:12px; width:35px;}
	
	.active_row {color: #057EFF !important; }	
	
	
@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

	
	.animate_share{
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  
  position: relative;
}
	.share_ani { margin-bottom:10px;}
	.share_ani .anich{ height:20px; margin-right:1%!important; width:4%;display: inline-block;}
	.share_ani .anitxt {height:20px; margin-right:5px !important; width:92%;display: inline-block;}
	


	