<div class="modal-header">
  <h4 class="modal-title">{{translation?.goals_collaborators}}</h4>
  <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>
</div>
<div class="modal-body collaborator_pop">
  <div *ngIf="collaboratorsList.length > 10" class="search-container">
    <input type="text" [placeholder]="translation?.search_placeholder_lp" [(ngModel)]="searchCollaborator">
    <img *ngIf="!searchCollaborator" src="assets/img/search_icon.png">
    <button *ngIf="searchCollaborator" type="button" class="close" (click)="searchCollaborator = ''">&times;</button>
  </div>
  <div class="collaborator_h">
    <div class="col-3 d-flex align-items-center">
      {{translation?.name_global}}
    </div>
    <div class="col-4 d-flex align-items-center">
      {{translation?.email_global}}
    </div>
    <div class="col-5 d-flex align-items-center">
      {{translation?.goals_permissions}}
    </div>
  </div>
  <div class="collaborator-body-content" slimScroll [options]="slimScrollOpts" [scrollEvents]="scrollEvents">
    <ng-container *ngIf="(collaboratorsList | search: searchCollaborator:'first_name,last_name,email') as resultArray">
      <div *ngFor="let collaborator of resultArray" class="collaborator_nr">
        <div class="col-3 d-flex align-items-center">
          <img [src]="getAvatarPath(collaborator.image, collaborator.user_id)" [alt]="collaborator.image">
          {{collaborator.first_name}} {{collaborator.last_name}}
        </div>
        <div class="col-4 d-flex align-items-center">
          {{collaborator.email}}
        </div>
        <div class="col-5 d-flex align-items-center">
          <span *ngIf="collaborator.permission.includes(1)" class="badge badge-pill badge-light permission-badge">{{translation?.vd_view}} </span>
          <span *ngIf="collaborator.permission.includes(2)" class="badge badge-pill badge-light permission-badge">{{translation?.goals_edit}}</span>
          <span *ngIf="collaborator.permission.includes(3)" class="badge badge-pill badge-light permission-badge">{{headerService?.getGoalAltTranslation(translation?.goals_evidence)}}</span>
          <span *ngIf="collaborator.permission.includes(4)" class="badge badge-pill badge-light permission-badge">{{translation?.goals_review}}</span>
        </div>
      </div>
      <div *ngIf="resultArray.length === 0" class="no-result">
        <img class="" src="assets/img/exclamation.svg">
        <span>{{translation?.no_result_found}}</span>
      </div>
    </ng-container>
  </div>
</div>
<div class="modal-footer">
  <div class="col-12 action-btn">
    <button type="button" class="btn btn-success br_sky" (click)="bsModalRef.hide()">{{translation?.ok}}</button>
  </div>
</div>