.dcenter{
text-align: center;
}
.dcenter p {
    font-size: 16px;
    color: black;
}
.dcenter img{
    max-width: 27px;
    margin-right: 10px;
    position: relative;
    top: -1px;
}
.dinline{
    display: inline-block;
}