<div class="box_con">
    <div class="heading">
      <h2>Manage Licenses</h2>
    </div>

   <div class="managecls">
     <div class="m_search">
       <input type="text" placeholder="Search.." [(ngModel)]="search" (ngModelChange)="p=1;">
     </div>


     <div class="row">
     <div class="col-6 bkcls">
        <img src="assets/img/arrow_left.png"> <a [routerLink]="['../../']" >See All Orders</a>
     </div>
     <div class="col-6 asscls">
         <a (click)="showModal('Assigin_license')" data-toggle="modal" style="color: white;cursor: pointer;">Assign Licenses</a>
     </div>

     <div class="col-12 lic_count" *ngIf="licencesData">
        <label *ngIf="licencesData?.licenses?.used"><b>Used Licenses</b> ({{(licencesData?.licenses?.used | search:search:'full_name,email':false)?.length}}/{{licencesData?.licenses?.unused?.length+licencesData?.licenses?.used?.length}})</label>
     </div>

     </div>


     <div class="row rwc" *ngIf="licencesData">
         <div class="col-md-12">
           <div class="col-md-6 dinline" *ngFor="let item of licencesData?.licenses?.used | search:search:'full_name,email':false | paginate: { itemsPerPage: 10, currentPage: p};index as i;">
              <div class="row row_cont">

                  <div class="col-md-6 lic_c">
                    <label tooltip="{{item.full_name}}"><span>{{item.n}}.</span> {{item.full_name}}</label>
                    <p><span tooltip="{{item.email}}">{{item.email}}</span></p>
                  </div>

                  <div class="col-md-6 re_invitation" *ngIf="item.user_activated==0">
                     <button type="button" (click)="reSendInvite(item)">Resend Invitation </button>
                     <p><img src="assets/img/sent_icon.svg">Sent: {{item.updated_at | date}}</p>
                  </div>

                  <div class="col-md-6 re_invitation" *ngIf="item.user_activated==1">
                     <p><img src="assets/img/sent_icon.svg">Registered: {{item.updated_at | date}}</p>
                  </div>

               </div>
           </div>
           <div class="col-12" style="text-align: center;">
              <pagination-controls *ngIf="(licencesData?.licenses?.used | search:search:'full_name,email':false)?.length>10" (pageChange)="p = $event"  previousLabel="<" nextLabel=">"></pagination-controls>
           </div>


         </div>

     </div>
     <div class="dcenter" *ngIf="(licencesData?.licenses?.used | search:search:'full_name,email':false)?.length==0">
        <span><p><img src="assets/img/no_info.svg">No licenses assigned yet.</p></span>
    </div>

   </div>

</div>

<!--assigin license modal start-->

<div bsModal #Assigin_license="bs-modal" class="modal fade sharepopup" tabindex="-1" role="dialog"
aria-labelledby="Assigin_license" [config]="{ignoreBackdropClick:true}">
    <div class="modal-dialog" style="max-width:900px;">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
         <h4 class="modal-title">Assign Licences</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="hideModal('Assigin_license')">&times;</button>

        </div>
        <div class="modal-body assign_lc">

              <div class="row" *ngFor="let itemz of popupData?.license?.unused">
               <div class="col-md-4">
               <label>Email</label>
               <input type="email" class="form-control" [(ngModel)]="itemz.email" (keyup)="touchedChecker(itemz)"  pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required>
               </div>
               <div class="col-md-4"><label>First Name</label>
                <input type="text" class="form-control" [(ngModel)]="itemz.first_name" (keyup)="touchedChecker(itemz)" required>
                </div>
                <div class="col-md-4"><label>Last Name</label>
                  <input type="text" class="form-control" [(ngModel)]="itemz.last_name" (keyup)="touchedChecker(itemz)" required>
                </div>
                <!-- <div class="col-md-2"><label>Role</label>
                  <select name="role" class="form-control" id="role" [(ngModel)]="itemz.role">
                    <option>Super Admin</option>
                    <option>Admin</option>
                    <option>User</option>
                    <option selected="selected">Viewer</option>
                  </select>
                </div> -->
               </div>
               <p *ngIf="popupData?.license?.unused.length==0">No Open Licenses Available!</p>
        </div>

         <div class="modal-footer mfooter" *ngIf="popupData?.license?.unused?.length!=0">
          <button type="button" class="btncan" data-dismiss="modal" (click)="hideModal('Assigin_license')">Cancel</button>
          <button type="button" class="btngreen" (click)="sendInvites()">Assign</button>
        </div>


      </div>

    </div>
  </div>

<!--assign license modal end-->
