        <!-- Modal content-->
        <div class="modal-header">
            <h4 class="modal-title" *ngIf="templateId">{{headerService?.getGoalAltTranslation(translation?.new_goal_from_template)}}</h4>
            <ng-container *ngIf="!templateId">
                <h4 class="modal-title" *ngIf="count>1">{{headerService?.getGoalAltTranslation(translation?.goal_new_goal)}}
                </h4>
                <h4 class="modal-title" *ngIf="count==1 && goalType==4">{{translation?.new_all}}
                    {{translation?.goal_individual_goal}} {{goalAltName}}</h4>
                <h4 class="modal-title" *ngIf="count==1 && goalType==3">{{translation?.new_all}}
                    {{translation?.goal_group_goal}} {{goalAltName}}</h4>
                <h4 class="modal-title" *ngIf="count==1 && goalType==2">{{translation?.new_all}}
                    {{translation?.goal_account_goal}} {{goalAltName}}</h4>
                <h4 class="modal-title" *ngIf="count==1 && goalType==1">{{translation?.new_all}} {{translation?.template}}
                    {{goalAltName}}</h4>
            </ng-container>
            <button type="button" class="close" (click)="modalRef.hide()">×</button>
        </div>
            <div class="modal-body newgoal_popup">
                <div class="btn-group btn-group-toggle g_role_pop" data-toggle="buttons" *ngIf="count>1">
                    <label class="btn btn-secondary" [class.active]="goalType == 4"
                        *ngIf="goalUserSettings?.can_create_individual_goals_for_themselves ==='1' || goalUserSettings?.can_create_individual_goals_for_others_people ==='1' || user.user_current_account.roles.role_id ==='100' || user.user_current_account.roles.role_id ==='110'">
                        <input type="radio" value="4" name="options" id="option1" autocomplete="off"
                            (click)="goalType = 4">
                        <i class="individual-color"></i>
                        {{headerService?.getGoalAltTranslation(translation?.goal_individual_goal)}}
                    </label>
                    <label class="btn btn-secondary" [class.active]="goalType == 3"
                        *ngIf="goalUserSettings?.can_create_group_goals ==='1' || user.user_current_account.roles.role_id ==='100' || user.user_current_account.roles.role_id ==='110'">
                        <input type="radio" value="3" name="options" id="option2" autocomplete="off"
                            (click)="goalType = 3">
                        <i class="group-color"></i>
                        {{headerService?.getGoalAltTranslation(translation?.goal_group_goal)}}
                    </label>
                    <label class="btn btn-secondary" [class.active]="goalType == 2" *ngIf="user.user_current_account.roles.role_id ==='100' || user.user_current_account.roles.role_id ==='110'">
                        <input type="radio" value="2" name="options" id="option3" autocomplete="off"
                            (click)="goalType = 2">
                        <i class="account-color"></i>
                        {{headerService?.getGoalAltTranslation(translation?.goal_account_goal)}}
                    </label>
                    <label class="btn btn-secondary" [class.active]="goalType == 1"
                        *ngIf="(goalUserSettings?.can_create_group_templates === '1' || user.user_current_account.roles.role_id ==='100' || user.user_current_account.roles.role_id ==='110') && useTemplate">
                        <input type="radio" value="1" name="options" id="option4" autocomplete="off"
                            (click)="goalType = 1">
                        <i class="template-color"></i>
                        {{translation?.template}}
                    </label>
                </div>
                <label>{{headerService?.getGoalAltTranslation(translation?.goal_new_title)}}</label>
                <input type="text" class="form-control mb50" [(ngModel)]="goalTitle"
                    (change)="goalTitle=goalTitle.trim()">
            </div>
            <div class="modal-footer footerm">
                <div class="col-12 share_btn">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancel()">{{translation?.cancel_us}}</button>
                    <button [disabled]="!goalTitle || goalTitle.trim() =='' " type="button" class="btn btn-success"
                        (click)="createGoal()">{{translation?.save_us}}</button>
                        
                </div>
            </div>
