.goals_box_outer {
    border-radius: 5px;
    margin-top: 13px !important; 
    overflow: hidden;
    min-height: 400px;
}

.goals_box_outer img {
    max-width: 100% !important;
}
.listing_heading{
    font-size: 14px;
    padding: .25rem 10px !important;
    color: #9e9e9e;
}

@media screen and (min-width:1280px) {
    .container {
        max-width: 1200px !important;
        padding: 0 15px;
        overflow: hidden;
    }
}
.dot {
    white-space: nowrap;
    width: 95px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 2px;
}

.pointer {
    cursor: pointer;
}

@media screen and (min-width:1500px) {
    .container {
        max-width: 1450px !important;
        padding: 0 40px;
    }
}

/**top headeing bar start **/

.golc7 .gsort {
    position: relative;
    top: 2px;
}

.panl_heading {
    border-bottom: 1px solid #ddd;
   padding: 5px 10px 6px 10px;
    background: #f9f9f9;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.panl_heading h3 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #212528;
}

.goal_add {
    text-align: right;
}

.goal_add a {
    background: #157EFC;
    color: #fff;
    display: inline-block;
    padding: 5px 17px;
    border-radius: 4px;
    position: relative;
    top: 4px;
    line-height: 20px;
}

.right_opt {
    text-align: right;
    padding-top: 2px;
}

.right_opt button {
    border: 0;
    padding: 0;
    background: none;
    outline: none !important;
    cursor: pointer !important;
}

.right_opt .select_outer {
    max-width: 216px;
    float: right;
}

.right_opt .form-control {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*background: url(/assets/goals/img/select_down.png) right / 20px no-repeat;*/
    padding-right: 25px;
    background-size: 14px;
}

.right_opt .form-control:focus {
    color: #495057;
    /*
    background: url(/assets/goals/img/select_down.png) right / 20px no-repeat;
    */
    border: 0;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25);
}

.scroll-en{
    left: 0px;
    right: auto;
    top: 100%;
    transform: translateY(0px);
    bottom: auto;
    max-height: 200px !important;
    overflow: auto!important;
}

/**top headeing bar End**/

.slimscroll-container {
    max-height: 200px;
}

.form-control[readonly] {
    background-color: #fff;
}

.box_whcls {
    background: #fff;
    margin-bottom: 40px;
}

.slimscroll-wrapper{
    height: auto !important;
}
/*filter*/

.goal_filter {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    position: relative;
    padding-right: 70px;
}

.goal-type {
    width: 15%;
    float: left;
    padding-right: 12px;
    position: relative;
}

.goal-type .dropdown-toggle::after {
    position: absolute;
    right: 25px;
    top: 17px;
}

.goal-type .dropdown-menu {
    right: 11px !important;
}

.goal-type .dropdown-menu label {
    font-size: 14px;
}

.goal-category {
    width: 15%;
    float: left;
    padding-right: 35px;
    position: relative;
}

.goal-category .dropdown-toggle::after {
    position: absolute;
    right: 50px;
    top: 17px;
}

.goal-category .dropdown-menu label {
    font-size: 14px;
    white-space: nowrap;
    /* max-width: 0px; */
}

.st-date {
    width: 15%;
    float: left;
    position: relative;
    /* padding-left: 35px; */
    padding-right: 12px;
}

.gsortouter {
    position: absolute;
    width: 50px;
    right: 0;
    top: 20px;
}

.goal-category a {
    position: absolute;
    height: 37px;
    right: 7px;
    top: 0px;
    background: #f6f6f6;
    display: inline-block;
    padding: 5.5px 8px;
    border: 1px solid #ddd;
    z-index: 1;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.st-date label {
    position: absolute;
    left: 0;
    top: 8px;
    font-size: 13px;
}

.st-date input[type=text] {
    width: 100%;
    height: 37px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 11px;
    font-size: 14px;
}

.st-date input[type=text]:focus {
    outline: none !important;
    box-shadow: none !important;
}

.st-date img, .st-date button {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.st-date button {
    top: 6px !important;
}

.gsort button {
    border: 0;
    padding: 0;
    background: none;
    outline: none;
    cursor: pointer;
}

.gsort .dropdown-toggle::after {
    display: none;
}

.gsort .dropdown-menu {
    min-width: 20px !important;
    padding: 6px 0;
    left: inherit !important;
    right: 0 !important;
}

.gsort .dropdown-menu a {
    font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 5px;
    padding: 2px 12px 7px 11px;
    margin: 0;
}

.gsort .dropdown-menu a.active {
    color: #057EFF;
}

.goal_filter .gsortouter .dropdown-item {
    font-size: 14px;
    padding: .25rem 10px !important;
}

.goal_filter .gsortouter .dropdown-menu {
    right: 22px !important;
}

.gsort .dropdown-menu {
    background: #fff;
    border-radius: 4px;
}

.goal-type button, .goal-category button {
    background: #f8f8f8;
    height: 37px;
    border-radius: 4px;
    width: 98%;
    border: 1px solid #ddd;
    font-size: 13px;
    text-align: start;
    text-overflow: ellipsis;
    line-height: 1;
    overflow: hidden;
    white-space: pre;
    padding-right: 18px;
}

.goal-type button:focus, .goal-category button:focus {
    box-shadow: none !important;
    outline: none !important;
}

/*filter end*/

/*GoalListing Start*/

.goals_outer {
    width: 100%;
    padding-bottom: 40px;
    background: #F7F7F7;
}

.golc1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    margin-top: auto;
    margin-bottom: auto;
    text-overflow: ellipsis;
    overflow: hidden;
}

.golc2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 10%;
}

.golc-published {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 9%;
    flex: 0 0 9%;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 9%;
}

.golc3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 9%;
    flex: 0 0 9%;
    max-width: 9%;
    margin-top: auto;
    margin-bottom: auto;
}

.golc4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 9%;
    flex: 0 0 9%;
    max-width: 9%;
    margin-top: auto;
    margin-bottom: auto;
}

.golc5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 13%;
    flex: 0 0 13%;
    max-width: 13%;
    margin-top: auto;
    margin-bottom: auto;
}

.golc6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
    margin-top: auto;
    margin-bottom: auto;
}

.golc7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.ghrading {
    font-weight: 600;
    font-size: 14px;
    background: #fff;
    padding: 9px 12px;
    margin: 0;
}

.golc5 img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    position: relative;
    margin-right: -12px;
}

.golc5 img, .golc5 span {
    cursor: pointer;
}

.ow_count {
    display: inline-block;
    background: #EAEEF3;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 5px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    font-weight: 600;
    position: relative;
}

.gh_rw {
    font-size: 14px;
    border-bottom: 1px solid #E4E4E4;
    padding: 9px 12px;
    margin: 0;
}

.golc2 i {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 4px;
}

.gol_opt img {
    max-width: 18px !important;
}

.com_bg {
    background: #EAF3EB;
    float: right;
    color: #28A745;
    border-radius: 50px;
    padding: 1px 8px;
    font-size: 11px;
    font-weight: 500;
}

.com_bg1 {
    background: #FEF5E7;
    float: right;
    color: orange;
    border-radius: 50px;
    padding: 1px 8px;
    font-size: 11px;
    font-weight: 500;
}

.incom_bg {
    background: #F4E7E7;
    float: right;
    color: #FF1D1D;
    border-radius: 50px;
    padding: 1px 8px;
    font-size: 11px;
    font-weight: 500;
}


.st_bar {
    background: #E8E8E8;
    border: 1px solid #D9D9D9;
    height: 10px;
    border-radius: 21px;
    position: relative;
}

.st_bar .bar_pg {
    background: #157EFC;
    display: inline-block;
    height: 7.5px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
}

.gol_opt {
    position: relative;
    width: 60%;
    float: left;
    text-align: right;
}

.gol_opt2 {
    width: 40%;
    float: right;
    text-align: center;
}

.gol_opt2 img {
    width: 10px;
}

.ghrading .col-3, .ghrading .col-2 {
    padding: 0 5px;
}

.gh_rw .col-3, .gh_rw .col-2 {
    padding: 0 5px;
}

.golc7 .gsort .dropdown-menu {
    transform: translate3d(0px, 20px, 0px) !important;
}

.nogoals {
    text-align: center;
    padding: 80px 0 40px 0;
}

.nogoals img {
    margin-right: 20px;
}

.menuitem {
    margin: 0 15px;
    position: relative;
}

.menuitem input {
    margin-right: 8px;
    position: relative;
    top: 0.5px;
}

.menuitem span {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
}

.action-dropdown {
    top: 0 !important;
}

.nogoals {
    text-align: center;
    padding: 80px 0 40px 0;
}

.nogoals img {
    margin-right: 20px;
}

/*GoalListing End*/

/* Animation section start */

@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.g_search {
    position: relative;
    width: 40%;
    float: left;
    padding-right: 12px;
}

.g_search input[type=text] {
    width: 100%;
    height: 37px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 11px;
    background-size: 19px;
    padding-right: 35px;
    font-size: 14px;
}

.g_search input[type=text]:focus {
    outline: none;
}

.g_search img, .g_search button {
    height: 20px;
    position: absolute;
    top: 9px;
    right: 20px;
}

.g_search button {
    top: 6px !important;
}

.g_tyle {
    width: 15%;
    float: left;
    padding-right: 12px;
}

.cat_mg {
    width: 15%;
    float: left;
    padding-right: 35px;
    position: relative;
}

.g_ani2 {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #ededed 8%, #e9e9e9 18%, #ededed 33%);
    background-size: 800px 104px;
    position: relative;
}

.g_ani {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    position: relative;
}

.gn1 {
    width: 50%;
    height: 40px;
}

.gn2 {
    width: 50px;
    height: 40px;
    float: right;
}

.gn3 {
    width: 100%;
    height: 37px;
}

.gn4 {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
}

.mleft8 {
    margin-left: -9px !important;
}

/* Animation section end */

.try-again-container {
    flex: 0 0 26%;
    max-width: 26%;
    justify-content: flex-end;
}


.panl_heading .col-8{ padding:0 7px;}
.progress_bg {
    background: #E9EFF8;
    float: right;
    color: #1688C2;
    border-radius: 50px;
    padding: 1px 8px;
    font-size: 11px;
    font-weight: 500;
}
.img-center{
    position: relative;
    top: -1px
}
.panl_heading .col-8{ padding-left:7px;}

::ng-deep .multiselect-dropdown .dropdown-btn .selected-item:hover {
    box-shadow: 0px 0px #959595 !important;
}

::ng-deep .multiselect-dropdown .dropdown-btn .selected-item a {
    display:none !important;
}