<ng-container *ngIf="!loaded then preLoaderSection else dataSection"></ng-container>
<ng-template #dataSection>
    <div class="container goals_box_outer">
        <div *ngIf="loaded" class="row box_whcls">
            <div class="col-12">
                <div class="row panl_heading">
                    <div class="col-8">
                        <h3>{{goalAltName}}</h3>
                    </div>
                    <div class="col-4 goal_add" *ngIf="this.canAddGoal">
                        <a (click)="openAddGoalModal()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
                                <path id="Rectangle_3" data-name="Rectangle 3"
                                    d="M5.2,13V7.8H0V5.2H5.2V0H7.8V5.2H13V7.8H7.8V13Z" fill="#fff" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="goal_filter">
                <div class="g_search" [ngStyle]="{'width': (goalsFilters.goalTypes.length > 1) ? '25%' : '40%'}">
                    <input type="text" [(ngModel)]="goalsFilters.search" (ngModelChange)="onSearch($event)"
                        [placeholder]="translation.search_title_description_owner">
                    <img *ngIf="!goalsFilters.search" src="assets/img/search_icon.png">
                    <button *ngIf="goalsFilters.search" type="button" class="close"
                        (click)="goalsFilters.search = ''; onFiltersChage()">&times;</button>
                   
                </div>
                <div class="goal-type">
                    <ng-container>
                        <ng-multiselect-dropdown [placeholder]="translation.all_goals" [settings]="dropdownSettings"
                            [data]="goalsTypes" [(ngModel)]="selectedGoalsTypes" (onSelect)="onGoalTypeSelect($event)"
                            (onSelectAll)="onGoalTypeSelectAll($event)" (onDeSelect)="onGoalTypeDeselect($event)"
                            (onDeSelectAll)="onGoalTypeDeselectAll($event)">
                        </ng-multiselect-dropdown>
                    </ng-container>
                </div>
                <div *ngIf="goalsFilters.goalTypes.length > 1" class="goal-type" dropdown>
                    <button id="goal-type-btn" dropdownToggle type="button" class="dropdown-toggle"
                        aria-controls="goal-type-dropdown">
                        {{headerService?.getGoalAltTranslation(translation.goal_type)}} <span class="caret"></span>
                    </button>
                    <ul id="goal-type-dropdown" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="goal-type-btn">
                        <li *ngFor="let goalType of goalsFilters.goalTypes" class="menuitem" role="menuitem">
                            <input type="checkbox" [(ngModel)]="goalType.checked" (ngModelChange)="onFiltersChage()"
                                [checked]="goalType.checked" [id]="translation[goalType.T_KEY]">
                            <label [for]="translation[goalType.T_KEY]"> <span [class]="goalType.CLASS"></span>
                                {{translation[goalType.T_KEY]}}
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="goal-category" #categoryDropdown="bs-dropdown" dropdown [insideClick]="true"
                    [isDisabled]="goalsFilters.categories.length === 0">

                    <button id="goal-category-btn" dropdownToggle type="button" class="dropdown-toggle"
                        aria-controls="goal-category-dropdown">
                        {{headerService?.getGoalAltTranslation(translation.goal_category)}} <span class="caret"></span>
                    </button>

                    
                    <ul id="goal-category-dropdown"  *dropdownMenu class="dropdown-menu scroll-en" role="menu"
                        aria-labelledby="goal-category-btn">
                            <li *ngFor="let category of goalsFilters.categories; let i = index;" class="menuitem"
                                role="menuitem">
                                <input type="checkbox" [(ngModel)]="category.checked" (ngModelChange)="onFiltersChage()"
                                    [checked]="category.checked" [id]="'category-' + i">
                                <label class="dot" >{{category.name}} </label>
                                <!-- [ngClass]="{'dot': category.name.length>20}" -->
                            </li>
                    </ul>
                    <a *ngIf="canCreateCategories" (click)="openManageCategories()"><img
                            src="assets/goals/img/manag_icon.svg">
                    </a>
                </div>
                <div class="st-date">
                    <!-- <label>{{translation.myfile_start}}</label> -->
                    <input type="text" [(ngModel)]="goalsFilters.startDate" (ngModelChange)="onFiltersChage()"
                        [placeholder]="translation.myfile_start" [readonly]="true" class="form-control pointer"
                        bsDatepicker #startDP="bsDatepicker">
                    <img *ngIf="!goalsFilters.startDate" src="assets/goals/img/cal_icon.svg" (click)="startDP.toggle()">
                    <button *ngIf="goalsFilters.startDate" type="button" class="close"
                        (click)="goalsFilters.startDate = null; onFiltersChage()">&times;</button>
                </div>
                <div class="st-date">
                    <!-- <label>{{translation.end}}</label> -->
                    <input type="text" [(ngModel)]="goalsFilters.endDate" (ngModelChange)="onFiltersChage()"
                        [placeholder]="translation.end" [readonly]="true" class="form-control pointer" bsDatepicker
                        #endDP="bsDatepicker">
                    <img *ngIf="!goalsFilters.endDate" src="assets/goals/img/cal_icon.svg" (click)="endDP.toggle()">
                    <button *ngIf="goalsFilters.endDate" type="button" class="close"
                        (click)="goalsFilters.endDate = null; onFiltersChage()">&times;</button>
                </div>
                <div class="gsortouter">
                    <div class="gsort" dropdown>
                        <button id="goal-sort-btn" dropdownToggle type="button" class="dropdown-toggle"
                            aria-controls="goal-sort-dropdown">
                            <img src="assets/goals/img/filter_icon.svg" width="25">
                        </button>
                        <ul id="goal-sort-dropdown" *dropdownMenu class="dropdown-menu" role="menu"
                            aria-labelledby="goal-sort-btn">
                            <li role="menuitem" class="listing_heading">Sorting</li>
                            <li role="menuitem" class="dropdown-item pointer" [class.active]="sortBy.active"
                                *ngFor="let sortBy of goalsSortBy; let index = index"  (click)="onSort(sortBy)">
                                
                                {{translation[sortBy.T_KEY]}}
                            </li>

                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem" class="listing_heading">Export</li>
                            <li role="menuitem" class="dropdown-item pointer" (click)="goalsExportData('pdf')">{{translation?.goals_export_pdf}}
                            </li>
                            <li role="menuitem" class="dropdown-item pointer" (click)="goalsExportData('excel')">{{translation?.goals_export_excel}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!--listing start--->
            <div class="goals_outer" id="content" #content>
                <div class="row ghrading" style="cursor: pointer;">
                    <div class="col-3 golc1" (click)="sortTable('title')">
                        {{translation.title}}
                    </div>
                    <div class="col-2 golc2" (click)="sortTable('g_type')">
                        {{translation.edtpa_type}}
                    </div>
                    <div class="col-2 golc3" (click)="sortTable('last_edit_date')">
                        {{translation.last_update}}
                    </div>
                    <div class="col-2 golc4" (click)="sortTable('end_date')">
                        {{translation.due_date_all}}
                    </div>
                    <div class="col-2 golc-published" (click)="sortTable('published_date')">
                        {{translation.goal_published}}
                    </div>
                    <div class="col-2 golc5" (click)="sortTable('owner_name')">
                        {{translation.goals_owner}}
                    </div>
                    <div class="col-2 golc6" (click)="sortTable('g_percentage')">
                        {{translation.status_all}}
                    </div>
                    <div class="col-2 golc7">
                    </div>
                </div>
                <ng-container *ngIf="!filterLoading">
                    <div class="row gh_rw" *ngFor="let goal of goals.data">
                        <div class="col-3 golc1">
                            <a class="simple-link" [routerLink]="[goal.routerLink]" [queryParams]="goal.queryParams"
                                [class.disabled]="goal.disabled || goal.tryAgain"> {{goal.title}} </a>
                        </div>
                        <div class="col-2 golc2">
                            <i [class]="goalsTypeByValue[goal.goal_type].CLASS"></i>
                            <a class="simple-link" [routerLink]="[goal.routerLink]" [queryParams]="goal.queryParams"
                                [class.disabled]="goal.disabled || goal.tryAgain">
                                {{translation[goalsTypeByValue[goal.goal_type].T_KEY]}} </a>
                        </div>
                        <div class="col-2 golc3">
                            
                            <a class="simple-link" [routerLink]="[goal.routerLink]" [queryParams]="goal.queryParams"
                                [class.disabled]="goal.disabled || goal.tryAgain">
                                {{parseDate(goal.last_edit_date) | date}}</a>
                        </div>
                        <div class="col-2 golc4">
                            <a class="simple-link" [routerLink]="[goal.routerLink]" [queryParams]="goal.queryParams"
                                [class.disabled]="goal.disabled || goal.tryAgain">{{parseDate(goal.end_date) | date}}</a>
                        </div>
                        <div class="col-2 golc-published">
                            <a *ngIf="goal.is_published" class="simple-link" [routerLink]="[goal.routerLink]"
                                [queryParams]="goal.queryParams"
                                [class.disabled]="goal.disabled || goal.tryAgain">{{ parseDate(goal.publish_date) | date }}</a>
                            <a *ngIf="!goal.is_published" class="simple-link" [routerLink]="[goal.routerLink]"
                                [queryParams]="goal.queryParams"
                                [class.disabled]="goal.disabled || goal.tryAgain">{{ translation.goal_unpublished }}</a>
                        </div>
                        <div class="col-2 golc5">
                            <ng-container *ngFor="let owner of goal.owners_updated; let i = index">
                                <img *ngIf="i <= 2" [src]="getAvatarPath(owner.image, owner.user_id)"
                                    [alt]="owner.image" (click)="displayOwners(goal.owners_updated)">
                            </ng-container>
                            <span *ngIf="goal.owners_updated.length > 3" class="ow_count"
                                (click)="displayOwners(goal.owners_updated)">{{getParticipantLimit(goal.owners_updated.length-3)}}+</span>
                        </div>
                        <ng-container *ngIf="!goal.tryAgain; else TryAgainContainer">
                            <div class="col-2 golc6">
                                <a *ngIf="goal.goal_type === 3 || (goal.goal_type === 4 && goal.owners_updated.length === 1)"
                                    class="simple-link" [routerLink]="[goal.routerLink]"
                                    [queryParams]="goal.queryParams" [class.disabled]="goal.disabled || goal.tryAgain">
                                    <span>{{goal.percentage}}</span>
                                    <span *ngIf="goal.is_complete" [ngClass]="(!goal.is_completed_on_time) ? 'com_bg1' : 'com_bg'"><img
                                            [src]="(!goal.is_completed_on_time) ? 'assets/goals/img/com_icon_copy.svg' : 'assets/goals/img/com_icon.svg'">
                                        {{translation.complete}}
                                    </span>
                                    <span *ngIf="goal.is_incomplete" class="incom_bg"><img style="width:8px" class="img-center"
                                            src="assets/goals/img/incom_icon.svg">
                                        {{translation.incomplete}} </span>
                                        
                                    <span *ngIf="goal.is_progress" class="progress_bg"><img class="img-center"
                                            src="assets/goals/img/progress_icon.svg">
                                        {{translation.in_progress}} </span>
                                    <div class="clearfix"></div>
                                    <div class="st_bar"><span class="bar_pg"
                                            [ngStyle]="{'width': goal.percentage}"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-2 golc7">
                                <div class="gol_opt">
                                    <div class="gsort" dropdown
                                        [isDisabled]="(!goal.canEditDelete && !can_archive(goal) ) && goal.goal_type !== 1"
                                        [ngStyle]="{'opacity': ((!goal.canEditDelete && !can_archive(goal) ) && goal.goal_type !== 1) ? '0.5' : '1' }">
                                        <button id="goal-action-btns" dropdownToggle type="button"
                                            class="dropdown-toggle" aria-controls="goal-action-dropdown">
                                            <img src="assets/goals/img/dots_3.svg" width="25">
                                        </button>
                                        <ul id="goal-action-dropdown" *dropdownMenu
                                            class="action-dropdown dropdown-menu" role="menu"
                                            aria-labelledby="goal-action-btn">
                                            <a *ngIf="goal.canEditDelete" class="dropdown-item"
                                                [routerLink]="['/goals/edit', goal.id]">
                                                {{translation.edit_all}}</a>
                                            <a *ngIf="goal.goal_type === 1" class="dropdown-item"
                                                (click)="useTemplate(goal)">
                                                {{translation.goals_use}}</a>
                                            <a *ngIf="goal.canEditDelete" class="dropdown-item"
                                                (click)="deleteGoal(goal)">
                                                {{translation.delete_all}}</a>
                                                <a *ngIf="can_archive(goal) &&  (goal?.is_archived != 1 && goal.owners[0]?.is_archived != 1) &&  (!(goal.goal_type == 4 && (CCUGP(goal, 'isCollaboratorE', 1) || CCUGP(goal, 'isCreator', 1)) && goal.owners_updated.length > 1))" class="dropdown-item"
                                                (click)="archive_Goal(goal.id,1)">
                                                {{translation.archive_all }}</a>
                                                <a *ngIf="can_archive(goal) && goal.goal_type == 4 && goal.canEditDelete && goal.owners_updated.length > 1" class="dropdown-item"
                                                (click)="archiveAllModal(goal.id)">
                                                {{translation.goals_archive_all }}</a>
                                                <a *ngIf="can_archive(goal) && myGoals.includes(4) && (goal.is_archived == 1 || (goal.goal_type == 4 && goal.owners[0].is_archived == 1))" class="dropdown-item"
                                                (click)="archive_Goal(goal.id,0)"
                                                >
                                                {{translation.unarchive_all }}</a>
                                        </ul>
                                    </div>
                                </div>
                                <div class="gol_opt2">
                                    <a *ngIf="goal.is_published" class="simple-link" [routerLink]="[goal.routerLink]"
                                        [queryParams]="goal.queryParams"
                                        [class.disabled]="goal.disabled || goal.tryAgain">
                                        <img src="assets/goals/img/right_op.svg">
                                    </a>

                                </div>
                            </div>
                        </ng-container>
                        <ng-template #TryAgainContainer>
                            <div class="col-4 try-again-container">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.329" height="15.374"
                                    viewBox="0 0 16.329 15.374">
                                    <g id="Group_351" data-name="Group 351" transform="translate(-270.467 -1166.164)">
                                        <path id="Path_52" data-name="Path 52"
                                            d="M20.256,22.985a1.562,1.562,0,0,1,2.75,0l6.6,12.25a1.562,1.562,0,0,1-1.375,2.3h-13.2a1.562,1.562,0,0,1-1.375-2.3Z"
                                            transform="translate(257 1144)" fill="#c10f12" />
                                        <path id="Union_1" data-name="Union 1"
                                            d="M.253,5.369h0V5.337L.006,1.079A.952.952,0,0,1,0,.97.985.985,0,0,1,1,0,.985.985,0,0,1,2,.97a.947.947,0,0,1-.01.136l-.3,4.221A.709.709,0,0,1,.969,6,.711.711,0,0,1,.253,5.369Z"
                                            transform="translate(277.7 1170)" fill="#fff" />
                                        <circle id="Ellipse_9" data-name="Ellipse 9" cx="1" cy="1" r="1"
                                            transform="translate(277.7 1177)" fill="#fff" />
                                    </g>
                                </svg>
                                <span
                                    class="try-again-message">{{headerService?.getGoalAltTranslation(translation?.goal_not_saved)}}</span>
                                <span class="try-again-btn" (click)="retryGoal(goal)">{{translation?.try_again}}</span>
                            </div>
                        </ng-template>

                    </div>
                </ng-container>
                <div *ngIf="goals.data.length === 0 && !filterLoading && !searchResult" class="nogoals">
                    <img src="assets/goals/img/nogoal_icon.svg">
                    {{headerService?.getGoalAltTranslation(translation.no_goals_added)}}
                </div>
                <div *ngIf="goals.data.length === 0 && !filterLoading && searchResult" class="nogoals">
                    <img src="assets/goals/img/nogoal_icon.svg">
                    {{headerService?.getGoalAltTranslation(translation.no_goals_found)}}
                </div>
                <!-- Pagination / Filter loader start -->
                <ng-container *ngIf="paginationLoading || filterLoading">
                    <div *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]" class="row gh_rw">
                        <div class="col-3 golc1">
                            <div class="g_ani2 gn3"></div>
                        </div>
                        <div class="col-2 golc2">
                            <div class="g_ani2 gn3"></div>
                        </div>
                        <div class="col-2 golc3">
                            <div class="g_ani2 gn3"></div>
                        </div>
                        <div class="col-2 golc4">
                            <div class="g_ani2 gn3"></div>
                        </div>
                        <div class="col-2 golc5">
                            <div class="g_ani2 gn4"></div>
                            <div class="g_ani2 gn4"></div>
                            <div class="g_ani2 gn4"></div>
                        </div>
                        <div class="col-2 golc6">
                            <div class="g_ani2 gn3"></div>
                        </div>
                        <div class="col-2 golc7">
                            <div class="g_ani2 gn3"></div>
                        </div>
                    </div>
                </ng-container>
                <!-- Pagination / Filter loader end -->
            </div>
            <!--listing end--->
        </div>
    </div>
</ng-template>
<ng-template #preLoaderSection>
    <div class="container goals_box_outer">
        <div class="row box_whcls">
            <div class="col-12">
                <div class="row panl_heading">
                    <div class="col-8">
                        <h3 class="g_ani2 gn1 mleft8"></h3>
                    </div>
                    <div class="col-4 goal_add">
                        <div class="g_ani2 gn2"></div>
                    </div>
                </div>
            </div>
            <div class="goal_filter">
                <div class="g_search">
                    <div class="g_ani gn3"></div>
                </div>
                <div class="g_tyle">
                    <div class="g_ani gn3"></div>
                </div>
                <div class="cat_mg">
                    <div class="g_ani gn3"></div>
                </div>
                <div class="st-date">
                    <div class="g_ani gn3"></div>
                </div>
                <div class="st-date">
                    <div class="g_ani gn3"></div>
                </div>
                <div class="gsortouter">
                    <div class="gsort">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!--listing start--->
            <div class="goals_outer">
                <div class="row ghrading">
                    <div class="col-3 golc1">
                        <div class="g_ani gn3"></div>
                    </div>
                    <div class="col-2 golc2">
                        <div class="g_ani gn3"></div>
                    </div>
                    <div class="col-2 golc3">
                        <div class="g_ani gn3"></div>
                    </div>
                    <div class="col-2 golc4">
                        <div class="g_ani gn3"></div>
                    </div>
                    <div class="col-2 golc5">
                        <div class="g_ani gn3"></div>
                    </div>
                    <div class="col-2 golc6">
                        <div class="g_ani gn3"></div>
                    </div>
                    <div class="col-2 golc7">
                        <div class="g_ani gn3"></div>
                    </div>
                </div>
                <div *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]" class="row gh_rw">
                    <div class="col-3 golc1">
                        <div class="g_ani2 gn3"></div>
                    </div>
                    <div class="col-2 golc2">
                        <div class="g_ani2 gn3"></div>
                    </div>
                    <div class="col-2 golc3">
                        <div class="g_ani2 gn3"></div>
                    </div>
                    <div class="col-2 golc4">
                        <div class="g_ani2 gn3"></div>
                    </div>
                    <div class="col-2 golc5">
                        <div class="g_ani2 gn4"></div>
                        <div class="g_ani2 gn4"></div>
                        <div class="g_ani2 gn4"></div>
                    </div>
                    <div class="col-2 golc6">
                        <div class="g_ani2 gn3"></div>
                    </div>
                    <div class="col-2 golc7">
                        <div class="g_ani2 gn3"></div>
                    </div>
                </div>
            </div>
            <!--listing end--->
        </div>
    </div>
</ng-template>
<ng-template #checkConfirmation>
    <!-- Modal content-->
    <div class="modal-header">
        <h4 class="modal-title modal_box">
            {{translation?.artifacts_confirmation_required}}</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</button>
    </div>
    <div class="modal-body">
    <div class="short_msg">
        <label>{{translation?.goals_archive_for_all}}</label>
        </div>
    </div>
    <div class="modal-footer footerm" style="text-align: right;">
        <div class="col-12 share_btn delt_f">
             <button type="button" class="btn btn-default" data-dismiss="modal" (click)="bsModalRef.hide()">{{translation?.vd_cancel}}</button>
             <button type="button" class="btn btn-success" (click)="archive_Goal(allArchive_userid,2)">{{translation?.myfile_confirm}}</button>
          </div>
  </div>
</ng-template>