<!doctype html>

<?php echo '<pre>'.count($my_videos) ; print_r($my_videos); die;?>
<link rel="stylesheet" type="text/css" href="edtpa.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $(".section-content").show();
    $(".arrow-up").hide();
    $(".section-heading").click(function(){
            $(this).next(".section-content").slideToggle(500);
            $(this).find(".arrow-up, .arrow-down").toggle();
    });
});
</script>

</head>

<body>
<div class="edtpa_container">
  <h1>Available edTPA Submission</h1>
  <div class="edtpa_sub">
   <table cellpadding="0" cellspacing="0">
     <tr>
      <th class="edt_cell1">Assessment Name</th>
      <th class="edt_cell2">Submit to EdTPA</th>
      <th class="edt_cell3">Version</th>
      <th class="edt_cell3"> </th>
     </tr>
     
      <tr>
      <td class="edt_cell1"><a href="<?php echo $this->base . '/Edtpa/edtpa_detail/'?>">Secondary English-Language Arts</a></td>
      <td class="edt_cell2"><a class="submit_edt" href="#">Submit</a></td>
      <td class="edt_cell3">v2</td>
      <td class="edt_cell3"><img src="/app/img/edtpa/edt_dot3.png"></td>
     </tr>
     
     <tr>
      <td class="edt_cell1">Secondary English-Language Arts</td>
      <td class="edt_cell2"><a class="resubmit_edt" href="#">ReSubmit</a></td>
      <td class="edt_cell3">v3</td>
      <td class="edt_cell3"><img src="/app/img/edtpa/edt_dot3.png"></td>
     </tr>
     
   </table>
   
   <div class="edt_attchment">
      <div class="atch_left">Attachments</div>
      <div class="atch_right">
        <div class="adt_thumb">
          <div class="adt_video">
          <img src="/app/img/edtpa/video_thm.png"></div>
          
          <div class="adt_desc">
          <h4>Video Name will</h4>
           <p>Huddle</p>
          </div>
          <div class="clear"></div>
          
        </div>
        <div class="adt_thumb">
          <div class="adt_video">
          <img src="/app/img/edtpa/video_thm.png"></div>
          
          <div class="adt_desc">
          <h4>Video Name will</h4>
           <p>Huddle</p>
          </div>
          <div class="clear"></div>
          
        </div>
        <div class="adt_thumb">
          <div class="adt_video">
          <img src="/app/img/edtpa/video_thm.png"></div>
          
          <div class="adt_desc">
          <h4>Video Name will</h4>
           <p>Huddle</p>
          </div>
          <div class="clear"></div>
          
        </div>
      </div>
      <div class="clear"></div>
   </div>
  </div>
  
  <div class="clear"></div>
</div>
</body>
</html>

