<div class="main">
  <div class="scroll" *ngIf="isLoading">
    <div class="scroll_inner ani_sc" style="overflow: hidden;">

      <div class="row h_row skborder">
        <div class="col-1 ani_fs">
          <div class="g_ani3 gn3"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3"></div>
        </div>

      </div>


      <div class="row rep_row">
        <div class="col-2 col1">
          <div class="inner_1">

            <span class=" g_ani3 gn3_i"></span>

            <div class="name_detail">
              <div class="g_ani3 gn3_s"></div>
              <div class="g_ani3 gn3_s"></div>
            </div>

          </div>

        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>

      </div>


      <div class="row rep_row">
        <div class="col-2 col1">
          <div class="inner_1">

            <span class=" g_ani3 gn3_i"></span>

            <div class="name_detail">
              <div class="g_ani3 gn3_s"></div>
              <div class="g_ani3 gn3_s"></div>
            </div>

          </div>

        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>

      </div>


      <div class="row rep_row">
        <div class="col-2 col1">
          <div class="inner_1">

            <span class=" g_ani3 gn3_i"></span>

            <div class="name_detail">
              <div class="g_ani3 gn3_s"></div>
              <div class="g_ani3 gn3_s"></div>
            </div>

          </div>

        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>

      </div>

      <div class="row rep_row">
        <div class="col-2 col1">
          <div class="inner_1">

            <span class=" g_ani3 gn3_i"></span>

            <div class="name_detail">
              <div class="g_ani3 gn3_s"></div>
              <div class="g_ani3 gn3_s"></div>
            </div>

          </div>

        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>

      </div>

      <div class="row rep_row">
        <div class="col-2 col1">
          <div class="inner_1">

            <span class=" g_ani3 gn3_i"></span>

            <div class="name_detail">
              <div class="g_ani3 gn3_s"></div>
              <div class="g_ani3 gn3_s"></div>
            </div>

          </div>

        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>

      </div>

      <div class="row rep_row">
        <div class="col-2 col1">
          <div class="inner_1">

            <span class=" g_ani3 gn3_i"></span>

            <div class="name_detail">
              <div class="g_ani3 gn3_s"></div>
              <div class="g_ani3 gn3_s"></div>
            </div>

          </div>

        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>

      </div>

      <div class="row rep_row">
        <div class="col-2 col1">
          <div class="inner_1">

            <span class=" g_ani3 gn3_i"></span>

            <div class="name_detail">
              <div class="g_ani3 gn3_s"></div>
              <div class="g_ani3 gn3_s"></div>
            </div>

          </div>

        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>

      </div>

      <div class="row rep_row">
        <div class="col-2 col1">
          <div class="inner_1">

            <span class=" g_ani3 gn3_i"></span>

            <div class="name_detail">
              <div class="g_ani3 gn3_s"></div>
              <div class="g_ani3 gn3_s"></div>
            </div>

          </div>

        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>
        <div class="col-1">
          <div class="g_ani3 gn3_s"></div>
        </div>

      </div>

    </div>

  </div>
  <ng-scrollbar #headerScrollBar track="horizontal" pointerEventsMethod="scrollbar" class="sticky-header scrollBar" *ngIf="!isLoading && attributes.length > 0">
    <div class="min_w" [ngStyle]="{'width': width}">
      <div class="row h_row" #stickyDiv>
        <div class="col-2 col1  bg-none pad cursor">
          <div class="c_custom1c" (click)="sortTable('user_name')">
            {{translation?.reporting_name_and_email}}
          </div>
          <div class="img_width">
            <img *ngIf="showArrowLeft()" (click)="scrollLeft()" class="pointer left_img " src="assets/img/Path.svg">
          </div>
        </div>

        <ng-container *ngFor="let value of headers; index as i">

          <div class="col-1 cursor" [tooltip]='value.name.length > 30 ? value.name: ""' placement="bottom" (click)="setSortingOrder(value, 'ASC', i)">
            <span class="">
              <i *ngIf="value.sorting && sort_by!=value.sorting_key" class="sort-by"></i>
              <i *ngIf="value.sorting && sort_by==value.sorting_key && sort_by_order=='ASC'" class="sort-up"></i>
              <i *ngIf="value.sorting && sort_by==value.sorting_key && sort_by_order=='DESC'" class="sort-down"></i>
              {{(value.name.length > 30)? (value.name | slice: 0:30)+'...':(value.name)}}</span>
            
          </div>
        </ng-container>

        <div class="col-1 lastcol">
          <img *ngIf="showArrowRight()" class="pointer" (click)="scrollRight()" src="assets/goals/img/right_op.svg">
        </div>

      </div>
    </div>
  </ng-scrollbar>
  <ng-scrollbar id="scrollBar" #scrollable track="horizontal" pointerEventsMethod="scrollbar" *ngIf="!isLoading">
    <div class="min_w" [ngStyle]="{'width': width}">
      <!-- <div class="row h_row" #stickyDiv>
        <div class="col-2 col1  bg-none pad cursor">
          <div class="c_custom1c" (click)="sortTable('user_name')">
            {{translation?.reporting_name_and_email}}
          </div>
          <div class="img_width">
            <img *ngIf="showArrowLeft()" (click)="scrollLeft()" class="pointer left_img " src="assets/img/Path.svg">
          </div>
        </div>

        <ng-container *ngFor="let value of headers; index as i">

          <div class="col-1 cursor" [tooltip]='value.name.length > 30 ? value.name: ""' placement="bottom" (click)="setSortingOrder(value, 'ASC', i)">
            <span class="">
              <i *ngIf="value.sorting && sort_by!=value.sorting_key" class="sort-by"></i>
              <i *ngIf="value.sorting && sort_by==value.sorting_key && sort_by_order=='ASC'" class="sort-up"></i>
              <i *ngIf="value.sorting && sort_by==value.sorting_key && sort_by_order=='DESC'" class="sort-down"></i>
              {{(value.name.length > 30)? (value.name | slice: 0:30)+'...':(value.name)}}</span>
            
          </div>
        </ng-container>

        <div class="col-1 lastcol">
          <img *ngIf="showArrowRight()" class="pointer" (click)="scrollRight()" src="assets/goals/img/right_op.svg">
        </div>

      </div> -->
      <div>
        <ng-container *ngIf="attributes?.length > 0">
          <ng-container *ngFor="let coach of attributes | paginate: config;  index as i ">
            <div class="row rep_row" [ngClass]="i%2?'rep_row_odd':'rep_row_even'">
              <div class="col-2 col1 bg-none cursor" (click)="navigateToPlayerCard(coach.user_id,coach.account_id)">
                <div class="inner_1">
                  <b>{{coach.huddle_role}}</b>
                  <img [src]="getImage(coach.user_id , coach.image)">

                  <div class="name_detail">
                    <label class="cursor" [tooltip]='coach.user_name.length > 34 ? coach.user_name : ""'>{{coach.user_name}}</label>
                    <p [tooltip]='coach.email.length > 34 ? coach.email : ""'>{{coach.email}}</p>
                  </div>
                </div>

              </div>
              <!-- <div *ngIf="headers.length > 6" [ngClass]="i%2?' col-1 lastcol bg_odd':' col-1 lastcol bg_even'"> -->
              <!-- FOR LEFT -->
              <!-- </div> -->
              <ng-container *ngFor="let c of coach | keyvalue: originalOrder; index as j">
                <div *ngIf="j<headers.length" class="col-1">
                  <ng-container
                    *ngIf="headers[j]?.custom_fields || headers[j]?.avg_performance_levels || headers[j]?.detail== false  then customField; else notCustomField">
                  </ng-container>
                  <ng-template #customField><span>{{c.value}}</span> </ng-template>
                  <ng-template #notCustomField>
                    <span class="pill" *ngIf="!isNumeric(c.value)"
                      (click)="navigateToDetail(coach , j)">{{c.value}}</span>
                    <span *ngIf="isNumeric(c.value)">{{c.value}}</span>
                  </ng-template>
                </div>
                <!-- <div class="col-1 lastcol" *ngIf="j==headers.length && !coach.collapse"
                      (click)="turnOnCollapse(coach)"><img src="assets/trackers/couching-report/img/arrow_down.svg">
                    </div>
                    <div class="col-1 lastcol" *ngIf="j==headers.length && coach.collapse"
                      (click)="coach.collapse = false"><img src="assets/trackers/couching-report/img/arrow_up.svg">
                    </div> -->
              </ng-container>
              <div *ngIf="headers.length > 6" [ngClass]="i%2?' lastcol bg_odd':' lastcol bg_even'">
                <!-- FOR RIGHT -->
              </div>
            </div>

          </ng-container>
        </ng-container>
      </div>

    </div>
  </ng-scrollbar>
  <div class="top-c" *ngIf="attributes?.length == 0 && !isLoading">


    <p class="font-h"><img src="assets/img/nogoal_icon.svg"> {{translation?.reporting_no_data_found}}
    </p>
  </div>
  <div class="pagination_row" *ngIf="attributes?.length > 0 && !isLoading">
    <div class="row_per">
      <span>{{translation?.reporting_rows_per_page}}: </span>
      <select [(ngModel)]="config.itemsPerPage" (change)="onPerPageLimitChange()">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <pagination-template #p="paginationApi" [id]="config.id" maxSize="12" (pageChange)="onPageChange($event)">


      <div class="recent_pagination">
        <nav>
          <ul class="pagination">
            <li class="page-item page_fi" [class.disabled]="p.isFirstPage()">

              <a class="page-link" (click)="p.previous()">
                <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.987" viewBox="0 0 7.071 11.987">
                  <g id="Group_1838" data-name="Group 1838" transform="translate(-673 -903.938)">
                    <path id="Path"
                      d="M5.907.148a.534.534,0,0,0-.738,0L.151,5.07A.6.6,0,0,0,0,5.415H0v.016H0v.016H0v.016H0a.551.551,0,0,0,.151.329l5.018,4.922a.534.534,0,0,0,.738,0,.5.5,0,0,0,0-.741L1.275,5.432,5.907.889A.5.5,0,0,0,5.907.148Z"
                      transform="translate(673.5 904.5)" fill="#2D2D2D" stroke="#2D2D2D" stroke-width="1" opacity="0.7">
                    </path>
                  </g>
                </svg>
              </a>
            </li>
            <li class="page-item " [class.disabled]="p.isFirstPage()"> <a class="page-link" (click)="p.setCurrent(1)">
                {{translation?.first_angular_rubrics}}</a>
            </li>

            <li class="page-item" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
              <a class="page-link" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{
                page.label }}</a>
              <div *ngIf="p.getCurrent() === page.value">
                <a class="page-link">{{ page.label }}</a>
              </div>
            </li>


            <li class="page-item " [class.disabled]="p.isLastPage()"> <a class="page-link"
                (click)="p.setCurrent(p.getLastPage())">{{translation?.last_angular_rubrics}}</a></li>
            <li class="page-item page_la" [class.disabled]="p.isLastPage()"> <a class="page-link"
                (click)="p.next()"><svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.987"
                  viewBox="0 0 7.071 11.987">
                  <g id="Group_1839" data-name="Group 1839" transform="translate(-11.929 -7.938)">
                    <path id="Path"
                      d="M.164.148A.534.534,0,0,1,.9.148L5.92,5.07a.6.6,0,0,1,.151.346h0v.016h0v.016h0v.016h0a.551.551,0,0,1-.151.329L.9,10.716a.534.534,0,0,1-.738,0,.5.5,0,0,1,0-.741L4.8,5.432.164.889A.5.5,0,0,1,.164.148Z"
                      transform="translate(12.429 8.5)" fill="#2D2D2D" stroke="#2D2D2D" stroke-width="1" opacity="0.7">
                    </path>
                  </g>
                </svg></a>
            </li>
          </ul>
        </nav>
      </div>

    </pagination-template>
  </div>
</div>