<!-- Breadcrumb Start -->
<div class="clear"></div>
<div class="container bred_an">
  <a [routerLink]="['/profile-page']">{{translation?.home_coaching_tracker_new}}</a> <img src="assets/img/breadcrumarrow.svg"><span>{{translation?.reporting_huddle_tracker_reporting}}</span>
</div>
<div class="clear"></div>
<!-- Breadcrumb End  -->
<div class="box_outer container">
  <div class="">
    <div class="row">
      <div class="col-12 panl_heading">
        <h3>{{translation?.reporting_huddle_tracker_reporting}}</h3>
      </div>

      <!--content-->
    </div>
    <div class="row tabscls m0" *ngIf="isLoadingTabs">
      <ul class="nav nav-tabs col-12">
        <li class="nav-item">
          <a class="g_ani" data-toggle="tab" role="tab"></a>
        </li>
        <li class="nav-item" *ngIf="user_data.roles.role_id != '120'">
          <a class="g_ani" data-toggle="tab" role="tab"></a>
        </li>
        <li class="nav-item" *ngIf="user_data.roles.role_id != '120'">
          <a class="g_ani" data-toggle="tab" role="tab"></a>
        </li>
        <li class="nav-item" *ngIf="user_data.roles.role_id != '120'">
          <a class="g_ani" data-toggle="tab" role="tab"></a>
        </li>

      </ul>
    </div>
    <div class="row tabscls m0" *ngIf="!isLoadingTabs">
      <ul class="nav nav-tabs col-12">
        <li class="nav-item" *ngIf="user_data.roles.role_id != '120'">

          <a [routerLink]="['/trackers/coaching']" data-toggle="tab"
            role="tab">{{translation?.coaching_tracker_new}}</a>
        </li>
        <li class="nav-item">

          <a class="active" data-toggle="tab" role="tab">{{translation?.reporting_coaching_report}}</a>
        </li>
        <li class="nav-item itm2" *ngIf="user_data.roles.role_id != '120'">
          <a [routerLink]="['/trackers/assessment-report']" data-toggle="tab"
            role="tab">{{translation?.reporting_assessment_report}}</a>
        </li>
        <li class="nav-item itm2" *ngIf="user_data.roles.role_id != '120'">
          <a [routerLink]="['/trackers/huddle-report']" data-toggle="tab"
            role="tab">{{translation?.reporting_huddle_report}}</a>
        </li>
        <li>
          <div class="export_option dropdown" dropdown>
            <button type="button" class="dropdown-toggle" data-toggle="dropdown" dropdownToggle>
              <img src="assets/trackers/couching-report/img/dots_dark.svg" width="30">
            </button>
            <div class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item"
                (click)="exportReport('coaching_report_excel','true')">{{translation?.reporting_excel_export_all}}</a>
              <a class="dropdown-item"
                (click)="exportReport('coaching_report_excel', false)">{{translation?.reporting_excel_export_filtered}}</a>
              <a class="dropdown-item"
                (click)="exportReport('coaching_report_csv','true')">{{translation?.reporting_csv_all}}</a>
              <a class="dropdown-item"
                (click)="exportReport('coaching_report_csv', false)">{{translation?.reporting_csv_filtered}}</a>
              <a class="dropdown-item"
                (click)="exportReport('coaching_report_pdf','true')">{{translation?.reporting_pdf_export_all}}</a>
              <a class="dropdown-item"
                (click)="exportReport('coaching_report_pdf', false)">{{translation?.reporting_pdf_export_filtered}}</a>
            </div>
          </div>
        </li>
        <div class="clear"></div>

      </ul>
    </div>



    <div class="row m0">
      <div class="tab-content col-12">

        <div class="tab-pane active show" id="" role="tabpanel">


          <trackers-filters [report_type]="'coaching_report'" (filterData)="handleChange($event)"
            (SearchEvent)="onSearch($event)" (filterKeyEmitter)="filterObj=$event" (isLoading)="isLoading=$event">
          </trackers-filters>
          <div class="scroll" *ngIf="isLoading">
            <div class="scroll_inner ani_sc" style="overflow: hidden;">

              <div class="row h_row skborder">
                <div class="col-1 ani_fs">
                  <div class="g_ani3 gn3"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3"></div>
                </div>

              </div>


              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">

                    <span class=" g_ani3 gn3_i"></span>

                    <div class="name_detail">
                      <div class="g_ani3 gn3_s"></div>
                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>


              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">

                    <span class=" g_ani3 gn3_i"></span>

                    <div class="name_detail">
                      <div class="g_ani3 gn3_s"></div>
                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>


              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">

                    <span class=" g_ani3 gn3_i"></span>

                    <div class="name_detail">
                      <div class="g_ani3 gn3_s"></div>
                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>

              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">

                    <span class=" g_ani3 gn3_i"></span>

                    <div class="name_detail">
                      <div class="g_ani3 gn3_s"></div>
                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>

              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">

                    <span class=" g_ani3 gn3_i"></span>

                    <div class="name_detail">
                      <div class="g_ani3 gn3_s"></div>
                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>

              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">

                    <span class=" g_ani3 gn3_i"></span>

                    <div class="name_detail">
                      <div class="g_ani3 gn3_s"></div>
                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>

              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">

                    <span class=" g_ani3 gn3_i"></span>

                    <div class="name_detail">
                      <div class="g_ani3 gn3_s"></div>
                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>

              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">

                    <span class=" g_ani3 gn3_i"></span>

                    <div class="name_detail">
                      <div class="g_ani3 gn3_s"></div>
                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>

            </div>

          </div>
          <div class="top-c" *ngIf="attributes.length == 0 && !isLoading">


            <p class="font-h"><img src="assets/img/nogoal_icon.svg">
              {{translation?.reporting_no_coaching_huudle_tracked}}
            </p>
          </div>
          <ng-scrollbar #headerScrollBar track="horizontal" pointerEventsMethod="scrollbar" class="sticky-header scrollBar" *ngIf="!isLoading && attributes.length > 0">
            <div class="m_w100"  [ngStyle]="{'width': width}">
              <div class="row h_row sticky_header_reports" #stickyDiv>
                <div class="col-2 col1 bg-none pad">
                  <div class="img_width">
                    <img *ngIf="showArrowLeft()" (click)="scrollLeft()" class="pointer img_adj "  src="assets/img/Path.svg" style="width: 11px; height: 11px;">
                    </div>
                </div>
                <ng-container *ngFor="let value of headers; index as i">

                  <div class="col-1 cursor" [tooltip]='value.name.length > 30 ? value.name: ""' placement="bottom" (click)="setSortingOrder(value, 'ASC', i)">
                    <span class="">
                      <i *ngIf="value.sorting && sort_by!=value.sorting_key" class="sort-by"></i>
                      <i *ngIf="value.sorting && sort_by==value.sorting_key && sort_by_order=='ASC'" class="sort-up"></i>
                      <i *ngIf="value.sorting && sort_by==value.sorting_key && sort_by_order=='DESC'"class="sort-down"></i>
                      {{(value.name.length > 30)? (value.name | slice: 0:30)+'...':(value.name)}}</span>
                    
                  </div>
                </ng-container>

                <div class="col-1 lastcol">
                  <img *ngIf="showArrowRight()" class="pointer adj" (click)="scrollRight()" src="assets/goals/img/right_op.svg" style="width: 11px; height: 11px;">
                </div>

              </div>
            </div>
          </ng-scrollbar>
          <ng-scrollbar id="scrollBar" #scrollable track="horizontal" pointerEventsMethod="scrollbar"
            *ngIf="!isLoading && attributes.length > 0">
            <div class="m_w100"  [ngStyle]="{'width': width}">
              <!-- <div class="row h_row sticky_header_reports" #stickyDiv>
                <div class="col-2 col1 bg-none pad">
                  <div class="img_width">
                    <img *ngIf="showArrowLeft()" (click)="scrollLeft()" class="pointer img_adj "  src="assets/img/Path.svg" style="width: 11px; height: 11px;">
                    </div>
                </div>
                <ng-container *ngFor="let value of headers; index as i">

                  <div class="col-1 cursor" [tooltip]='value.name.length > 30 ? value.name: ""' placement="bottom" (click)="setSortingOrder(value, 'ASC', i)">
                    <span class="">
                      <i *ngIf="value.sorting && sort_by!=value.sorting_key" class="sort-by"></i>
                      <i *ngIf="value.sorting && sort_by==value.sorting_key && sort_by_order=='ASC'" class="sort-up"></i>
                      <i *ngIf="value.sorting && sort_by==value.sorting_key && sort_by_order=='DESC'"class="sort-down"></i>
                      {{(value.name.length > 30)? (value.name | slice: 0:30)+'...':(value.name)}}</span>
                    
                  </div>
                </ng-container>

                <div class="col-1 lastcol">
                  <img *ngIf="showArrowRight()" class="pointer adj" (click)="scrollRight()" src="assets/goals/img/right_op.svg" style="width: 11px; height: 11px;">
                </div>

              </div> -->
              
              <ng-container *ngFor="let coach of attributes | paginate: config | filter: SearchString;  index as i ">
                <div class="row rep_row">
                  <div class="col-2 col1">
                    <div class="inner_1">
                      <b>{{coach.huddle_role}}</b>
                      <img [src]="getImage(coach.user_id , coach.image)">

                      <div class="name_detail">
                        <label class="cursor" (click)="navigateToPlayerCard(coach.user_id,coach.account_id)"
                          [tooltip]='coach.user_name.length > 23 ? coach.user_name : ""'>{{coach.user_name}}</label>
                        <p [tooltip]='coach.email.length > 23 ? coach.email : ""'>{{coach.email}}</p>
                      </div>

                    </div>

                  </div>
                  <ng-container *ngFor="let c of coach | keyvalue: originalOrder; index as j">
                    <div *ngIf="j<headers.length" class="col-1">
                      <ng-container *ngIf="headers[j]?.custom_fields|| headers[j]?.avg_performance_levels then customField; else notCustomField">
                      </ng-container>
                      <ng-template #customField><span>{{c.value}}</span> </ng-template>
                      <ng-template #notCustomField>
                        <span (click)="navigateToDetail(coach , j)" class="pill"
                          *ngIf="!isNumeric(c.value)">{{c.value}}</span>
                        <span *ngIf="isNumeric(c.value)">{{c.value}}</span>
                      </ng-template>
                    </div>
                    <div class="col-1 lastcol" *ngIf="j==headers.length && !coach.collapse"
                      (click)="turnOnCollapse(coach); sortData(coach.coachees,j)"><img *ngIf="coach.coachees.length > 0"
                        src="assets/trackers/couching-report/img/arrow_down.svg" style="cursor: pointer;">
                    </div>
                    <div class="col-1 lastcol" *ngIf="j==headers.length && coach.collapse"
                      (click)="coach.collapse = false"><img *ngIf="coach.coachees.length > 0" src="assets/trackers/couching-report/img/arrow_up.svg"
                        style="cursor: pointer;">
                    </div>
                  </ng-container>

                </div>
                <ng-container *ngIf="coach.collapse">
                  <!-- <ng-scrollbar track="vertical" pointerEventsMethod="scrollbar" > -->
                  <ng-container *ngFor="let caochee of coach.coachees | keyvalue: originalOrder; index as k">
                    <div class="inner_rep">

                      <div class="row rep_row" [ngClass]="k%2?'rep_row_odd':'rep_row_even'">
                        <div class="col-2 col1 bg-none">
                          <div class="inner_1">
                            <img [src]="getImage(caochee.value.user_id , caochee.value.image)">

                            <div class="name_detail">
                              <label class="cursor" [tooltip]='caochee.value.user_name' (click)="navigateToPlayerCard(caochee.value.user_id,caochee.value.account_id)">{{caochee.value.user_name}}</label>
                              <p [tooltip]='caochee.value.email'>{{caochee.value.email}}</p>
                            </div>

                          </div>

                        </div>
                        <ng-container *ngFor="let ce of caochee.value | keyvalue: originalOrder; index as l">
                          <div class="col-1" *ngIf="l<headers.length">
                            <ng-container *ngIf="headers[l]?.custom_fields || headers[l]?.avg_performance_levels then customFieldCoachee; else notCustomFieldCoachee">
                            </ng-container>
                            <ng-template #customFieldCoachee><span>{{ce.value}}</span> </ng-template>
                            <ng-template #notCustomFieldCoachee>
                            <span class="pill" (click)="navigateToDetail(caochee.value , l)"
                              *ngIf="!isNumeric(ce.value)">{{ce.value}}</span>
                            <span *ngIf="isNumeric(ce.value)">{{ce.value}}</span>
                            </ng-template>
                          </div>
                        </ng-container>
                        <div class="col-1 lastcol"></div>
                      </div>

                    </div>
                  </ng-container>
                  <!-- </ng-scrollbar> -->
                </ng-container>
              </ng-container>
            </div>
          </ng-scrollbar>
          <div class="pagination_row" *ngIf="!isLoading && attributes.length > 0">
            <!-- <div class="row_per">
              <span>{{translation?.reporting_rows_per_page}}: </span>
              <select [(ngModel)]="config.itemsPerPage" (change)="onPerPageLimitChange()">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div> -->
            <pagination-template #p="paginationApi" [id]="config.id" maxSize="12" (pageChange)="onPageChange($event)">


              <div class="recent_pagination">
                <nav>
                  <ul class="pagination">
                    <li class="page-item page_fi" [class.disabled]="p.isFirstPage()">

                      <a class="page-link" (click)="p.previous()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.987"
                          viewBox="0 0 7.071 11.987">
                          <g id="Group_1838" data-name="Group 1838" transform="translate(-673 -903.938)">
                            <path id="Path"
                              d="M5.907.148a.534.534,0,0,0-.738,0L.151,5.07A.6.6,0,0,0,0,5.415H0v.016H0v.016H0v.016H0a.551.551,0,0,0,.151.329l5.018,4.922a.534.534,0,0,0,.738,0,.5.5,0,0,0,0-.741L1.275,5.432,5.907.889A.5.5,0,0,0,5.907.148Z"
                              transform="translate(673.5 904.5)" fill="#2D2D2D" stroke="#2D2D2D" stroke-width="1"
                              opacity="0.7"></path>
                          </g>
                        </svg>
                      </a>
                    </li>
                    <li class="page-item " [class.disabled]="p.isFirstPage()"> <a class="page-link"
                        (click)="p.setCurrent(1)"> {{translation?.first_angular_rubrics}}</a>
                    </li>

                    <li class="page-item" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                      <a class="page-link" (click)="p.setCurrent(page.value)"
                        *ngIf="p.getCurrent() !== page.value">{{ page.label }}</a>
                      <div *ngIf="p.getCurrent() === page.value">
                        <a class="page-link">{{ page.label }}</a>
                      </div>
                    </li>


                    <li class="page-item " [class.disabled]="p.isLastPage()"> <a class="page-link"
                        (click)="p.setCurrent(p.getLastPage())">{{translation?.last_angular_rubrics}}</a></li>
                    <li class="page-item page_la" [class.disabled]="p.isLastPage()"> <a class="page-link"
                        (click)="p.next()"><svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.987"
                          viewBox="0 0 7.071 11.987">
                          <g id="Group_1839" data-name="Group 1839" transform="translate(-11.929 -7.938)">
                            <path id="Path"
                              d="M.164.148A.534.534,0,0,1,.9.148L5.92,5.07a.6.6,0,0,1,.151.346h0v.016h0v.016h0v.016h0a.551.551,0,0,1-.151.329L.9,10.716a.534.534,0,0,1-.738,0,.5.5,0,0,1,0-.741L4.8,5.432.164.889A.5.5,0,0,1,.164.148Z"
                              transform="translate(12.429 8.5)" fill="#2D2D2D" stroke="#2D2D2D" stroke-width="1"
                              opacity="0.7"></path>
                          </g>
                        </svg></a>
                    </li>
                  </ul>
                </nav>
              </div>

            </pagination-template>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>