#main {
    width: 100%;
    margin-top: 48px;
    margin-bottom: 48px;
    position: relative;
    margin: 32px auto 88px;
    overflow: hidden;
}

.container {
    float: none !important;
}
.deadlinecls {
    padding: 5px 0px 20px 10px;
}
.rw4 {
    padding: 5px 10px 20px 10px !important;
}
.rw4 .col-md-3 {
    -ms-flex: 0 0 25% !important;
    flex: 0 0 25% !important;
    max-width: 25% !important;
}   
.rw4 .col-md-2 {
    -ms-flex: 0 0 25% !important;
    flex: 0 0 25% !important;
    max-width: 25% !important;
}  
.box {
    -moz-box-sizing: border-box;
    background-color: #FFF;
    border: 1px solid #DAD6CE;
    border-radius: 3px 3px 3px 3px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    float: left;
    min-height: 371px;
    overflow: hidden;
    padding: 10px 20px 20px;
    width: 328px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.header_an h2 {
    font-size: 30px;
    font-family: Conv_Roboto-Light;
    padding-left: 3px;
    margin: 0px 0;
    color: #414141;
}

.header_an h2>small {
    font-size: 50%;
}
.assessment-type {
    width: 100%;
    float: left;
    padding-right: 35px;
    position: relative;
    }
    .assessment-type .dropdown-toggle::after {
    position: absolute;
    right: 50px;
    top: 17px;
    }
    .assessment-type .dropdown-toggle{
       background: #f9f9f9;
      height: 41px;
      border-radius: 4px;
      width: 98%;
      border: 1px solid #ddd;
      font-size: 13px;
      text-align: start;
      text-overflow: ellipsis;
      line-height: 1;
      overflow: hidden;
      white-space: pre;
      padding-right: 18px;
    }
    .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "s";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    }
    
    .assessment_dropdown_div{
    left: 0px;
    right: auto;
    top: 92% !important;
    transform: translateY(0px);
    bottom: auto;
    padding: 10px 0;
    width: 98%;
    }
    .customFieldLi{
        font-size: 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .assessment_dropdown_div li{
    margin: 5px 20px;
    }
    .dropdown-toggle .caret{
    
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 12px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  
    border: solid black;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 3px;
    }
.new_huddlecls {
    padding: 90px 0 51px 0;
    max-width: 867px;
    margin: 0 auto;
}

.huddle_type {
    width: 33.33%;
    float: left;
}

.btn-group.role_group .disabled_btns label.active {
    background: transparent !important;
    border: none !important;
    font-size: 10pt;
    cursor: default;
}

.btn-group.role_group .disabled_btns label.active:focus {
    box-shadow: none;
}

.btn-group.role_group .disabled_btns label:not(.active) {
    display: none !important;
}

.addani {
    height: 36px;
    width: 100%;
    display: block;
}

.mbtop {
    margin-top: 40px;
}

.skicls {
    padding-bottom: 60px;
}

.anaddhu1 {
    height: 20px;
    width: 20%;
    display: block;
    margin-bottom: 10px;
}

.anaddhu2 {
    height: 38px;
    width: 100%;
    display: block;
}

.anaddhu3 {
    height: 38px;
    width: 80%;
    display: inline-block;
    float: left;
    ;
}

.anaddhu4 {
    height: 38px;
    width: 15%;
    display: inline-block;
    float: right;
    ;
}

.anaddhu5 {
    height: 38px;
    width: 150px;
    display: inline-block;
    float: left;
    ;
}

.anaddhu6 {
    height: 30px;
    width: 100px;
    display: inline-block;
    float: right;
    margin-left: 20px;
}

.aa_ani {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #d9d9d9;
    background: linear-gradient(to right, #e9e9e9 8%, #F0F0F0 18%, #efefef 33%);
    background-size: 800px 104px;
    position: relative;
}

.header_an {
    background-color: #f9f9f9;
    margin: 0 -15px;
    padding: 9px 20px;
    border-bottom: 1px solid #e1e2e2;
}

@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.addani {
  height: 29px;
  width: 100%;
  display: block; 
    margin-bottom: 0 !important;
}
.mbtop {
    margin-top: 40px;
}

.skicls {
    padding-bottom: 60px;
}

.anaddhu1 {
    height: 20px;
    width: 20%;
    display: block;
    margin-bottom: 10px;
}

.anaddhu2 {
    height: 38px;
    width: 100%;
    display: block;
}

.anaddhu3 {
    height: 38px;
    width: 80%;
    display: inline-block;
    float: left;
    ;
}

.anaddhu4 {
    height: 38px;
    width: 15%;
    display: inline-block;
    float: right;
    ;
}

.anaddhu5 {
    height: 38px;
    width: 150px;
    display: inline-block;
    float: left;
    ;
}

.anaddhu6 {
    height: 30px;
    width: 100px;
    display: inline-block;
    float: right;
    margin-left: 20px;
}

.bs-datepicker-body table>tr>td>span.selecetd {
    background: lightgray !important;
}


.deadlinecls .col-md-2 {
    flex: 0 0 21%;
    max-width: 21%;
    padding: 0 7px;
}

.deadlinecls .col-md-3{-ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 19%; padding: 0 7px;     
}

.deadlinecls .col-md-3.dateicon {
    flex: 0 0 23%;
    max-width: 16%;
    padding-right: 7px;
}


.deadlinecls .assessment-type { padding-right:0;}


.mtoptw{ margin-top:20px; padding-top:0 !important;}


