      <div class="modal-header">
        <h4 class="modal-title">{{translation.goals_owners}}</h4>
        <button type="button" class="close" (click)="modalRef.hide()">&times;</button>

      </div>

      <div class="modal-body owner_pop">

        <div class="row owner_h">

          <div class="col-12 ow_srch">
            <input [(ngModel)]="asyncSelected" #input [typeahead]="dataSource"
              (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)"
              [typeaheadOptionsLimit]="5" [typeaheadMinLength]="0" typeaheadOptionField="first"
              [typeaheadItemTemplate]="customItemTemplate" placeholder="{{translation?.huddle_collaboration_search_person_plcholder}}" class="form-control">
              <img *ngIf="asyncSelected?.length>0" class="x_hu_cross" src="assets/goals/img/cross_oicon.svg" (click)="asyncSelected=''">
            </div>
          <ng-template #customItemTemplate let-model="item" let-index="index">
            <div class="row overcls" [style.width.px]="645">
              <span>
                <span *ngIf="!model?.image && model.is_user" class="oi alternate_icon" data-glyph="person"
                  title="{{translation.huddle_avatar_available}}" aria-hidden="true">
                </span>

                <span *ngIf="!model?.image && !model.is_user" class="oi alternate_icon" data-glyph="people"
                  title="Group" aria-hidden="true">
                </span>

                <img width="20" *ngIf="model?.image" [attr.src]="model?.image">
              </span>
              <div class="col-sm-5 " *ngIf="model.is_user"> {{model.first_name}} {{model.last_name}} </div>
              <div *ngIf="model.is_user" class="col-sm-5"> {{model.email}} </div>

              <div *ngIf="!model.is_user" class="col-sm-5 "> {{model.name}}</div>

            </div>
          </ng-template>
          <div class="col-6">
            {{translation?.name_all}}
          </div>

          <div class="col-6">
            {{translation?.artifact_email}}
          </div>

        </div>


<div class="scroll-container" slimScroll [options]="opts" [scrollEvents]="scrollEvents">

        <div class="row owner_nr" *ngFor="let user of selectedUsers; let index">

          <div *ngIf="user.is_user" class="col-6" >
            <img *ngIf="!user.image" src="assets/img/photo-default.png">
            <img *ngIf="user.image" [attr.src]="user?.image">
            <span  class="coadd_2"> {{user.first_name}} {{user.last_name}}</span>
          </div>

          <div *ngIf="!user.is_user" class="col-6 group_pointer" (click)="openGroupDetailModal(user.id,selectedUsers,users); ">
            <img *ngIf="!user.image" src="assets/goals/img/tean_icon.svg" class="br0">
            <img *ngIf="user.image" [attr.src]="user?.image">
            <span class="coadd_2" class="fake_link"  > {{user.name}} </span>
          </div>

          <div *ngIf="user.is_user" class="col-6">
            {{user.email}}
          </div>
          <div *ngIf="!user.is_user" class="col-6 group_pointer" (click)="openGroupDetailModal(user.id,selectedUsers,users,true);">
            {{'n/a'}}
          </div>
          <span class="cross_ow" [hidden]="(user.is_user && user.user_id==currentUser.user_id && currentUser.user_id != created_by && created_by !=0) || (selectedUsers.length == 1 && goal_id>0)">
            <!-- <a data-toggle="modal" (click)="editGoalService.DeleteUser(user, selectedUsers,users)"><img src="assets/goals/img/cross_oicon.svg"></a> -->
            <a data-toggle="modal" (click)="openDeleteModal(template, user)"><img src="assets/goals/img/cross_oicon.svg"></a>
          </span>
        </div>
</div>


      </div>

      <div class="modal-footer footerm">
        <div class="col-12 share_btn">
          <button type="button" class="btn btn-default" (click)="modalRef.hide()">{{translation?.cancel_popup}}</button>
          <button type="button" class="btn btn-success" (click)="save()">{{translation?.save_popup}}</button>
        </div>
      </div>


<ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title">{{translation?.artifacts_confirmation_required}}</h4>
              <button type="button" class="close" data-dismiss="modal" (click)="showParentModal()">&times;</button>
             
            </div>
           
           <div class="modal-body conf_popup">
                
                <div class="connf_bg">
               <img src="assets/goals/img/del_conf.svg">
                     <b>{{headerService?.getGoalAltTranslation(translation?.goal_owners_primary_msg)}}: </b>
                     <label>{{userToDelete.first_name}} {{userToDelete.last_name}} - {{userToDelete.email}}</label>
                     <p>{{translation?.goals_owners_seconday_msg}}</p>
                </div>
               
              
                <label>{{translation?.poeple_type_delete_to_confirm}}</label>
                <input type="text" class="form-control" [(ngModel)]="confirmation">
           </div>
        
            <div class="modal-footer footerm">
                  <div class="col-12 share_btn delt_f">
                       <button type="button" class="btn btn-default" data-dismiss="modal" (click)="showParentModal()">{{translation?.cancel_popup}}</button>
                       <button  [disabled]="confirmation != ConfirmationKey" type="button" class="btn del_btn" (click)="deleteOwner()">{{translation?.huddle_delete_btn}}</button>
                  </div>
            </div>

</ng-template>