<div class="container">

  <div class="offset-md-3 col-md-6 trial_box">

  	<div class="applogo">
  		<img src="./assets/img/logo-dark.svg" width="150px">
  	</div>

    <router-outlet></router-outlet> 
  </div>

 
</div>
<ng2-toasty [position]="'top-right'"></ng2-toasty>
<ngx-loading-bar></ngx-loading-bar>

<div class="text-hider"></div>

 <!-- previous: [color]="'#27a745'" -->
