<div class="comm_search_box">
    <div class="search_field">
     <input [(ngModel)]="searchData.text" (ngModelChange)="searchTextChanged($event)" type="text" placeholder="{{translation?.vd_search_notes}}">
    </div>
<div [ngClass]="{'margin_bottom_fixed':!permissions?.AllowCustomMarkers}" class="video_options btn-group" *ngIf="options && (options.export || options.sorting || options.others)" placement="right" dropdown>

<div id="button-basic2" dropdownToggle class="comm_options dropdown-toggle"
     aria-controls="dropdown-basic">
<img src="assets/img/dot.svg">
</div>
<ul id="dropdown-basic2" *dropdownMenu class="dropdown-menu"
 role="menu" aria-labelledby="button-basic2">
 <ng-container *ngIf="options.sorting">
 <li role="menuitem" class="no_anchor">
     <h6 class="dropdown-header">{{translation?.myfile_sorting}}</h6>
 </li>
<li role="menuitem" (click)="sortBy(0)">
 <span class="dropdown-item"> {{translation?.myfile_newest}} 

     <span  *ngIf="settings.sortBy==0" class="oi pull-right" data-glyph="check" aria-hidden="true">
 </span>

 </span>
</li>
<li role="menuitem" (click)="sortBy(1)">
 <span class="dropdown-item"> {{translation?.myfile_oldest}} 

     <span  *ngIf="settings.sortBy==1" class="oi pull-right" data-glyph="check" aria-hidden="true">
 </span>

 </span>
</li>

<li role="menuitem" (click)="sortBy(2)">
 <span class="dropdown-item"> {{translation?.myfile_timestamp}} 

   <span  *ngIf="settings.sortBy==2" class="oi pull-right" data-glyph="check" aria-hidden="true">
 </span>

 </span>
</li>
</ng-container>
<ng-container *ngIf="options.others">
<li role="menuitem" class="no_anchor">
     <h6 class="dropdown-header">{{translation?.myfile_other_settings}} </h6>
</li>
<li role="menuitem" (click)="ToggleAutoScroll()">
 <span class="dropdown-item"> {{translation?.myfile_autoscroll}}
     <span  *ngIf="settings.autoscroll" class="oi pull-right" data-glyph="check" aria-hidden="true">
 </span>
 </span>
</li>
</ng-container>
<ng-container *ngIf="options.export">

<li class="divider dropdown-divider"></li>

<li role="menuitem" class="no_anchor">
     <h6 class="dropdown-header">{{translation?.myfile_export}}</h6>
</li>
<li role="menuitem" (click)="ExportComments('excel')">
 <span class="dropdown-item">{{translation?.myfile_excel}}</span>
</li>
<li role="menuitem" (click)="ExportComments('pdf')">
 <span class="dropdown-item">{{translation?.myfile_pdf}}</span>
</li>
</ng-container>
</ul>


</div>
</div>
<div class="clear"></div>
<!-- <div class="comm_option comm_option2" *ngIf="permissions?.AllowCustomMarkers">

<ng-container *ngFor="let marker of customMarkers; let i = index">
    <
 <span class="custom_tag" [style.background]="getBg(marker, i)" [style.borderColor]="[classes[i]]" (click)="SelectTag(marker)"></span> 
 <span (click)="SelectTag(marker)">{{marker.tag_title}}</span> 
</ng-container>

</div> -->
<div class="comm_option comm_option2" *ngIf="permissions?.AllowCustomMarkers">

    <ng-container *ngFor="let marker of customMarkers; let i = index">
      <label  	[tooltip]="marker.tag_title"  [tooltipEnable]="marker.tooltipEnable"  >
      <span class="custom_tag" [style.background]="getBg(marker, i)" [ngStyle]="{'border-color': classes[i]}" (click)="SelectTag(marker)"></span>
      <span (mouseenter)="textWidth(marker,i)" (mouseLeave)="marker.tooltipEnable=false;" [id]="'text-width'+i" (click)="SelectTag(marker)">{{marker.tag_title}}</span>
      </label>
    </ng-container>

  </div>