<div class="clear"></div>
<div class="container bred_an">
  <a [routerLink]="['/']">{{translations.home_global}}</a>
  <img src="assets/img/breadcrumarrow.svg"/>

  <a [routerLink]="['/account-settings']">{{translations.account_settings_all}}</a>
    <img src="assets/img/breadcrumarrow.svg"/>
    <a>
       <b> {{"Colors & Logo"}} </b>
    </a>
</div>

<div class="clear"></div>

<div class="container box_outer">

  <div class="row panl_headingac">

    <div class="col-md-6">
      <h3>{{translations.colors_logos_new_settings}}</h3>
    </div>

    <div class="col-md-6 back_ac">
      <a (click)="showSaveChangesModal()"> <img
        src="assets/dashboard/assets/img/account-settings/left-arrow.png"> {{translations.back_to_account_settings}}</a>
    </div>

  </div>
  <plans-billings-shared></plans-billings-shared>
  <div class="select_logo">
    <div class="logo_area">
      <img *ngIf="!url && header_data.site_id==1" src="assets/dashboard/assets/img/account-settings/logo-3.png" width="150">
      <img *ngIf="!url && header_data.site_id==2" src="assets//img/logohmh.png" width="150">
      
      <img *ngIf="url" [src]='url' width="150">
    </div>
    <div class="logo_label">{{translations.recommend_size_logo_all}}
    </div>


    <div class="logo_select">
      <input type="file" hidden id="file" accept="image/*"
             (change)="onFileChanged($event.target.files)">
      <button (click)="selectFile()">{{translations.select_file_new_settings}}</button>
    </div>

    <div class="color_picker row">
      <div class="col-md-6">
        <p-colorPicker [(ngModel)]="headerBgColor?headerBgColor:defaultColor" (ngModelChange)="onHeaderColorChanged($event)"></p-colorPicker>
        <input type="hidden" id="head" name="head"
               [value]="headerBgColor"><label> {{translations.custom_header_background_all}}</label>
      </div>
      <div class="col-md-6">
        <p-colorPicker [(ngModel)]="logoBgColor? logoBgColor: defaultColor" [inline]="false" (ngModelChange)="onLogoBgColorChanged($event)"></p-colorPicker>
        <input type="hidden" id="head1" name="head1"
               [value]="logoBgColor"> <label>{{translations.custom_logo_background_all}} </label>
      </div>
    </div>


    <div class="logo_save row">
      <div class="col-md-6">
        <a (click)="resetColorsLogo()">{{translations.reset_colors_new_settings}}</a>
      </div>
      <div class="col-md-6 tright">
        <button (click)="cancel_colors_logo()">{{translations.cancel_us}}</button>
        <button *ngIf = "not_loading_save" class="save_btn" (click)="saveChanges()" >{{translations.save_us}}</button>
        <button *ngIf = "!not_loading_save" class="save_grey_btn">{{translations.save_us}}</button>
      </div>

    </div>
  </div>

</div>

<!-- save changes modal-->
<div id="save_changes" bsModal #save_changes="bs-modal" [config]="{backdrop:'static',keyboard:false}"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog" style="max-width:600px;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{translations.confirmation_required_new_settings}}</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hideSaveChangesModal()">&times;</button>

      </div>
      <div class="modal-body">
        <div class="alert_b">
          <svg id="noun_Error_1582590" xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29">
            <g id="Group_332" data-name="Group 332" transform="translate(0 0)">
              <path id="Path_51" data-name="Path 51"
                    d="M14.5,0A14.481,14.481,0,1,1,4.241,4.241,14.465,14.465,0,0,1,14.5,0Zm0,18.132a1.957,1.957,0,0,1,1.962,1.962A1.98,1.98,0,0,1,14.5,22.081a2,2,0,0,1-1.988-1.988A1.98,1.98,0,0,1,14.5,18.132Zm0-1.988a1.384,1.384,0,0,1-1.325-1.325l-.663-5.911A2.02,2.02,0,0,1,14.5,6.919a1.979,1.979,0,0,1,1.962,1.988l-.636,5.911A1.384,1.384,0,0,1,14.5,16.144ZM22.877,6.1a11.871,11.871,0,1,0,3.473,8.4A11.934,11.934,0,0,0,22.877,6.1Z"
                    transform="translate(0)" fill="#484848"/>
            </g>
          </svg>


          <label>{{translations.your_changes_have_not_saved_new_settings}}</label>
          <p>{{translations.are_you_leave_page_new_settings}}</p>
        </div>

      </div>

      <div class="modal-footer">


        <div class="modal_btn">
          <button type="button" class="btn" data-dismiss="modal" (click)="hideSaveChangesModal()">{{translations.cancel_us}}</button>
          <button class="save_btn" (click)="goBack()"  [routerLink]="['/account-settings']">{{"Yes"}}</button>
        </div>


      </div>
    </div>

  </div>
</div>
