<ng-container *ngIf="!loaded then preLoaderSection else actualDataSection"></ng-container>
<ng-template #preLoaderSection>
    <video-page-loader-animation></video-page-loader-animation>
</ng-template>
<ng-template #actualDataSection>
    <div id="main" class="container liv_st" (window:beforeunload)="confirmExit($event)" *ngIf="isAuthenticatedUser">
        <div class="analy_b">
            <div class="header_an">
                <h2>{{VideoInfo?.title}}</h2>
            </div>
            <div class="video_body">
                <tabset #staticTabs>
                    <tab (selectTab)="SelectTab(0)" *ngIf="true">
                        <ng-template tabHeading>
                            {{translation?.vd_comments}} <span *ngIf="liveStreamStarted"
                                class="badge badge-primary">{{totals.comment_count}}</span>
                        </ng-template>
                    </tab>
                    <tab (selectTab)="SelectTab(1)" *ngIf="liveStreamStarted">
                        <ng-template tabHeading>
                            {{translation?.vd_attachment}} <span
                                class="badge badge-primary">{{staticFiles.length}}</span>
                        </ng-template>
                    </tab>
                    <tab (selectTab)="SelectTab(2)"
                        *ngIf="permissions?.rubric_check && userAccountLevelRoleId != '125'">
                        <ng-template tabHeading>
                            <ng-container *ngIf="VideoInfo.h_type==3">
                                {{translation?.vd_rubrics}}
                            </ng-container>
                            <ng-container *ngIf="VideoInfo.h_type!=3">
                                {{translation?.vd_frameworks}}
                            </ng-container>
                        </ng-template>
                    </tab>
                    <tab (selectTab)="SelectTab(3)"
                        *ngIf="getCoachingSummaryCheck() && userAccountLevelRoleId != '125'">
                        <ng-template tabHeading>
                            <ng-container *ngIf="VideoInfo?.h_type==2"> {{translation?.vd_coaching_summary}}
                            </ng-container>
                            <ng-container *ngIf="VideoInfo?.h_type==3">{{translation?.vd_assessment_summary}}
                            </ng-container>
                        </ng-template>
                    </tab>
                    <tab (selectTab)="SelectTab(4)"
                        *ngIf="permissions?.performance_level_check && permissions?.rubric_check && getPLTabPermission() && userAccountLevelRoleId != '125'">
                        <ng-template tabHeading>
                            {{translation?.vd_performance_level}}
                        </ng-template>
                    </tab>
                    <tab (selectTab)="PointToLink()"
                        *ngIf="(VideoInfo?.h_type==2 || VideoInfo?.h_type==3) && (VideoInfo.assessment_link || VideoInfo.coaching_link) && userAccountLevelRoleId != '125'"
                        customClass="extrnl-lnk">
                        <ng-template tabHeading>
                            {{VideoInfo?.h_type==2?translation?.vd_coaching_tracker:VideoInfo?.h_type==3?translation?.vd_assessment_tracker:""}}
                            <i class="oi" data-glyph="external-link" title="" aria-hidden="true"> </i>
                        </ng-template>
                    </tab>
                </tabset>
                <div class="tab-content">
                    <div class="row">
                        <div class="col-md-6 live_start_left" id="col6" [hidden]="currentTab == 4">
                            <div [enable]="false" [width]="elemWidth" scrollToFixed>
                            <ng-container>
                                <div oncontextmenu="return false;">
                                    <div *ngIf="liveStreamStarted" class="live-cls">
                                        <span class="live_cell">{{translation?.live_live_streaming}}</span>
                                        <span class="viewers_count">
                                            <span style="font-size: 11px" class="oi" data-glyph="person"></span>
                                            {{viewers_count}}
                                        </span>
                                    </div>
                                    <div *ngIf="play" class=live_start_counter>{{time}}</div>
                                    <video *ngIf="streaming_platform == 1 && !live_streamer" width="100%" height="400"
                                        controls disablePictureInPicture controlsList="nodownload"
                                        id="live_video"></video>
                                    <!-- <iframe id="live_stream_iframe" *ngIf="streaming_platform == 2 && !live_streamer" allowfullscreen="true"
                                        webkitallowfullscreen="true" mozallowfullscreen="true" class="millicast_frame"
                                        width="100%" height="400" [src]="src.path"></iframe> -->
                                    <video *ngIf="streaming_platform == 2 && !live_streamer"
                                        class="videoStreamCss" width="100%" height="400"
                                        controls disablePictureInPicture autoplay controlsList="nodownload" id="cam-view-live-stream"></video>
                                        <div class="clear"></div>
                                    <ng-container *ngIf="live_streamer && !micCamPermError && browserSupportRecording">
                                        <video
                                            [hidden]="windowRef['liveStreamState'] === 'initialized-screen-sharing' || windowRef['liveStreamState'] === 'started-screen-sharing'"
                                            class="flip_video video_sm_sc" width="100%" height="400" autoplay
                                            controlsList="nodownload" id="cam-view"></video>
                                        <div class="video-placeholder"
                                            *ngIf="windowRef['liveStreamState'] === 'initialized-screen-sharing'">
                                            Starting screen share</div>
                                        <div *ngIf="windowRef['liveStreamState'] === 'started-screen-sharing'"
                                            class="video-placeholder">
                                            <h3>{{liveStreamVideoTime | sibmeTimeFormatPipe}}</h3>
                                            <img src="assets/screen-sharing/img/rec_ic2.svg" width="54">
                                            <h2>sharing your screen</h2>
                                            <p>you can minimize your window now. <br>
                                            Return here to stop sharing screen</p>

                                            <button class="btn_c3" (click)="stopScreenSharing()"> <img
                                                    src="assets/screen-sharing/img/stop_re.svg">
                                                    {{translation?.stop_screen_sharing}}</button>
                                        </div>
                                    </ng-container>
<div class="clear"></div>

                                    <div *ngIf="live_streamer && micCamPermError && browserSupportRecording"
                                        class="permission-error">
                                        {{translation?.kindly_allow_permission_live_streaming}}
                                    </div>
                                    <div *ngIf="live_streamer && !browserSupportRecording" class="permission-error">
                                        {{translation?.browser_doesnt_support_live_streaming}}
                                    </div>
                                </div>
                            </ng-container>
                            
                            <div class="clear"></div>
                            <div class="block_fv">
                            <button *ngIf="live_streamer && !liveStreamStarted"
                                [disabled]="!browserSupportRecording || micCamPermError || disableGoLive "
                                class="go_live_btn" (click)="startTimer()"><svg xmlns="http://www.w3.org/2000/svg"
                                    width="24.876" height="14" viewBox="0 0 24.876 14">
                                    <g id="Group_1537" data-name="Group 1537" transform="translate(-6210 837)">
                                        <rect id="Rectangle_138" data-name="Rectangle 138" width="20" height="14" rx="3"
                                            transform="translate(6210 -837)" fill="#fff" />
                                        <text id="LIVE" transform="translate(6213 -827)" fill="#DE2828" font-size="7"
                                            font-family="Roboto-Black, Roboto" font-weight="800"
                                            letter-spacing="0.007em">
                                            <tspan x="0" y="0">LIVE</tspan>
                                        </text>
                                        <path id="Path_34" data-name="Path 34" d="M6259.876-933.5v10.316l-5.029-5.028Z"
                                            transform="translate(-25 98.5)" fill="#fff" />
                                    </g>
                                </svg> {{translation?.go_live_web_streaming}}</button>
                            <button
                                *ngIf="live_streamer && liveStreamStarted && windowRef['liveStreamState'] !== 'started-screen-sharing'"
                                [disabled]="windowRef['liveStreamState'] === 'initialized-screen-sharing'"
                                class="screen-share" (click)="startScreenSharing()">
                                <img src="assets/img/share-screen.png" alt="start screen sharing">
                                {{translation?.start_screen_sharing_livestream}}
                            </button>
                            <button *ngIf="live_streamer && liveStreamStarted" class="go_live_btn"
                                (click)="save_or_not(liveVideoSave)"> <svg xmlns="http://www.w3.org/2000/svg" width="12"
                                    height="12" viewBox="0 0 12 12">
                                    <rect id="Rectangle_138" data-name="Rectangle 138" width="12" height="12" rx="1"
                                        fill="#fff" />
                                </svg> {{translation?.stop_streaming_live_streaming}}</button>
                            <div class="video_info_main opt_right"
                                *ngIf="!isVideoProcessing && (transCodingStatus!=5 && !errorStatus)">
                                <div *ngIf="permissions.showCopy && userAccountLevelRoleId != '125'"
                                    class="video_options btn-group" dropdown>
                                    <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle"
                                        aria-controls="dropdown-basic" (click)="closeInfo();">
                                        <img src="assets/img/dot.svg">
                                    </div>
                                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                        aria-labelledby="button-basic">
                                        <li role="menuitem" (click)="InitiateCopyDialog(copyDialog)">
                                            <span class="dropdown-item">{{translation?.vd_copy}}</span>
                                        </li>
                                        <li role="menuitem" *ngIf="!isCroLoading && permissions.can_crop_video"
                                            (click)="InitiateCropDialog(cropDialog)">
                                            <span class="dropdown-item">{{translation?.vd_crop}}</span>
                                        </li>
                                        <li role="menuitem" *ngIf="isCroLoading">
                                            <span class="dropdown-item">{{translation?.vd_processing}} <span
                                                    class="oi animated rotateIn infinite"
                                                    data-glyph="loop-circular"></span> </span>
                                        </li>
                                        <li *ngIf="permissions.can_crop_video" role="menuitem"
                                            (click)="InitiateDeleteVideo(confirmDialogDel)">
                                            <span class="dropdown-item">{{translation?.vd_delete}}</span>
                                        </li>
                                        <li role="menuitem" (click)="DownloadVideo()">
                                            <span class="dropdown-item">{{translation?.vd_download}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- <div *ngIf="liveStreamStarted" class="video_info" [class.filled]="ShowInfo"
                                    (click)="ShowInfo=!ShowInfo">
                                    {{translation?.vd_info}}
                                </div> -->
                                <span class="iconic iconic-plus iconic-sm" title="plus" aria-hidden="true"></span>
                                <span class="iconic iconic-plus iconic-md" title="plus" aria-hidden="true"></span>
                                <span class="iconic iconic-plus iconic-lg" title="plus" aria-hidden="true"></span>
                                <div class="clear"></div>
                            </div>
                            <div class="video_info_main opt_right"
                                *ngIf="isVideoProcessing || transCodingStatus==5 || errorStatus">
                                <div *ngIf="permissions.showCopy && userAccountLevelRoleId != '125'"
                                    class="video_options btn-group" dropdown>
                                    <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle"
                                        aria-controls="dropdown-basic" (click)="closeInfo();">
                                        <img src="assets/img/dot.svg">
                                    </div>
                                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                        aria-labelledby="button-basic">
                                        <li role="menuitem disabled">
                                            <span class="dropdown-item disabled">{{translation?.vd_copy}}</span>
                                        </li>
                                        <li role="menuitem disabled" *ngIf="!isCroLoading">
                                            <span class="dropdown-item disabled">{{translation?.vd_crop}}</span>
                                        </li>
                                        <li role="menuitem disabled" *ngIf="isCroLoading">
                                            <span class="dropdown-item disabled">{{translation?.vd_processing}} <span
                                                    class="oi animated rotateIn infinite"
                                                    data-glyph="loop-circular"></span> </span>
                                        </li>
                                        <li *ngIf="(transCodingStatus!=5 || !errorStatus)" role="menuitem">
                                            <span class="dropdown-item disabled">{{translation?.vd_delete}}</span>
                                        </li>
                                        <li *ngIf="(transCodingStatus==5 || errorStatus)" role="menuitem"
                                            (click)="InitiateDeleteVideo(confirmDialogDel)">
                                            <span class="dropdown-item">{{translation?.vd_delete}}</span>
                                        </li>
                                        <li role="menuitem disabled">
                                            <span class="dropdown-item disabled">{{translation?.vd_download}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <span class="iconic iconic-plus iconic-sm" title="plus" aria-hidden="true"></span>
                                <span class="iconic iconic-plus iconic-md" title="plus" aria-hidden="true"></span>
                                <span class="iconic iconic-plus iconic-lg" title="plus" aria-hidden="true"></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                            </div>
                            
                           
                                <div class="add_comment pb10" *ngIf="permissions.can_comment && userAccountLevelRoleId != '125'"
                                [style.backgroundColor]="EditMode?'#fcf9d1':'transparent'"
                                [style.padding]="EditMode?'6px':'0'">
                                <div class="row comm_top com_heading">
                                    <div class="col-md-6 label_p0">
                                        <label>{{EditMode? translation?.vd_update_comments : translation?.vd_new_comments}}</label>
                                    </div>
                                    <div class="col-md-6 comm_time">
                                        <span class="switch_container">
                                            <ui-switch (click)="closeInfo();" [disabled]="EditMode"
                                                defaultBgColor="#a3a3a3" [(ngModel)]="newComment.timeEnabled">
                                            </ui-switch>
                                        </span>
                                        <span class="time_com">{{translation?.myfile_note_time}} <span
                                                class="video_time_cls">
                                                <span
                                                    [hidden]="newComment.timeEnabled">-{{translation?.vd_all_videos}}</span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="chane_position">
                                <div class="comment_box" id="plz_change">
                                    <textarea id="lagend"></textarea>
                                    <textarea id="editTextBox"  [(ngModel)]="newComment.commentText" (keydown)="TriggerTextChange($event)"
                                        placeholder="{{translation?.vd_plcholder_add_comment}}" onfocus=""
                                        (blur)="focusOut(0)" (focus)="focusOut(1)" (input)="textbox(newComment.commentText)"
                                        (click)="closeInfo(1,0,2)"></textarea>
                                    <!-- <div class="comment_tags">
                                        <div class="tags_icons fake_link"
                                            (click)="mainService.FocusCustomTag();closeInfo(1,0,2);"
                                            style="transform: rotate(86deg);">
                                            <span class="oi" data-glyph="tag"></span>
                                        </div>
                                        <div class="plusicon fake_link"
                                            (click)="mainService.FocusCustomTag();closeInfo();">
                                            <span class="oi" data-glyph="plus"></span>
                                        </div>
                                        <custom-tags [predefinedTags]="tags" (Tags)="SetCustomTags($event)">
                                        </custom-tags>
                                        <div class="clear"></div>
                                    </div> -->
                                    <!-- <div class="comment_tags" *ngIf="permissions?.rubric_check">
                                        <div class="tags_icons fake_link" (click)="ActivateTab(2);closeInfo();">
                                            <img src="assets/img/list-2x.png">
                                        </div>
                                        <div class="plusicon fake_link" (click)="ActivateTab(2);closeInfo();">
                                            <span class="oi" data-glyph="plus"></span>
                                        </div>
                                        <span *ngFor="let rubric of selectedRubrics; let i=index"
                                            [ngClass]="{'tag_adjusted':i>0}" class="tag_rounded full_width">
                                            {{rubric.tag_code}} {{rubric.tag_html}}<span class="pull-right cross_span"
                                                (click)="closeInfo();RemoveSelectedRubric(rubric,i)"> x </span>
                                        </span>
                                        <div class="clear"></div>
                                    </div> -->
                                    <!-- <fs-uploader (click)="closeInfo(1,0,2);" [label]="translation?.vd_upload"
                                        [source]="'comment'" [configuration]="videoOptions"
                                        (onUpload)="AppendNewFiles($event)"></fs-uploader> -->
                                    <!-- <span *ngFor="let file of newComment.files; let i=index"
                                        [ngClass]="{'tag_adjusted':i>0}" class="tag_rounded full_width marg_top">
                                        <span>
                                            {{file.filename || file.title}}
                                        </span>
                                        <span class="pull-right cross_span"
                                            (click)="closeInfo();RemoveFileFromComment(file, i)">
                                            x
                                        </span>
                                    </span> -->
                                    <div class="new_comm_sec">
                                    <div  class="attach_video">
                                        <button *ngIf="pageType!='library-page'"  class="att1" [ngClass]="{'active_c': active_class == 1}" (click)="mainService.FocusCustomTag();closeInfo(1,0,2);active_check(1);"><svg (click)="playerService.ModifyPlayingState('pause');mainService.FocusCustomTag();closeInfo();" xmlns="http://www.w3.org/2000/svg" width="24.034" height="20.229" viewBox="0 0 24.034 20.229">
                                       <g id="add_tag" data-name="add tag" transform="translate(-157.887 -608)">
                                         <path id="tag" d="M3.78,2.7A1.08,1.08,0,0,0,2.7,1.62,1.08,1.08,0,0,0,1.62,2.7,1.08,1.08,0,0,0,2.7,3.78,1.08,1.08,0,0,0,3.78,2.7Zm9,4.86a1.034,1.034,0,0,1-.312.759L8.328,12.471a1.081,1.081,0,0,1-.768.312,1.034,1.034,0,0,1-.759-.312L.768,6.429a2.515,2.515,0,0,1-.544-.852A2.605,2.605,0,0,1,0,4.59V1.08A1.038,1.038,0,0,1,.321.321,1.038,1.038,0,0,1,1.08,0H4.59a2.605,2.605,0,0,1,.987.224,2.616,2.616,0,0,1,.861.544l6.033,6.024A1.081,1.081,0,0,1,12.783,7.56Z" transform="translate(170.67 615.446) rotate(90)" fill="#616161"/>
                                         <text id="_" data-name="+" transform="translate(172.921 624)" fill="#616161" font-size="15" font-family="Roboto-Medium, Roboto" font-weight="500"><tspan x="0" y="0">+</tspan></text>
                                       </g>
                                     </svg>
                                     <i class="arrow-active"></i>
                                    </button>
                                        <div *ngIf="permissions?.rubric_check">   <button class="att2" [ngClass]="{'active_c': active_class == 2}" (click)="closeInfo();active_check(2);"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="21.767" viewBox="0 0 24 21.767">
                                       <g id="Group_1530" data-name="Group 1530" transform="translate(0 2.037)">
                                         <text id="_" data-name="+" transform="translate(15 13.963)" fill="#616161" font-size="15" font-family="Roboto-Medium, Roboto" font-weight="500"><tspan x="0" y="0">+</tspan></text>
                                         <path id="list" d="M1.8,136.335v1.352a.228.228,0,0,1-.225.225H.225a.217.217,0,0,1-.158-.067A.217.217,0,0,1,0,137.687v-1.352a.216.216,0,0,1,.067-.158.216.216,0,0,1,.158-.067H1.577a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H.225a.216.216,0,0,1-.158-.067A.216.216,0,0,1,0,134.984v-1.352a.216.216,0,0,1,.067-.158.217.217,0,0,1,.158-.067H1.577a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H.225a.216.216,0,0,1-.158-.067A.216.216,0,0,1,0,132.28v-1.352a.216.216,0,0,1,.067-.158.217.217,0,0,1,.158-.067H1.577a.228.228,0,0,1,.225.225Zm10.814,5.407v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352a.228.228,0,0,1,.225-.225h9.462a.228.228,0,0,1,.225.225ZM1.8,128.225v1.352a.228.228,0,0,1-.225.225H.225a.217.217,0,0,1-.158-.067A.217.217,0,0,1,0,129.577v-1.352a.217.217,0,0,1,.067-.158A.217.217,0,0,1,.225,128H1.577a.228.228,0,0,1,.225.225Zm10.814,5.407v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352a.228.228,0,0,1,.225-.225h9.462a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352a.228.228,0,0,1,.225-.225h9.462a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352A.228.228,0,0,1,2.929,128h9.462a.228.228,0,0,1,.225.225Z" transform="translate(0 -118.183)" fill="#616161"/>
                                       </g>
                                     </svg><i class="arrow-active"></i></button>
                                     </div> 
                                        <div>   <button class="att3" [ngClass]="{'active_c': active_class == 3}" (click)="active_check(3);">   <fs-uploader (click)="closeInfo(1,0,2);"
                                                [label]="translation?.vd_upload" [source]="'comment'" [configuration]="videoOptions"
                                                 (onUpload)="AppendNewFiles($event);" [actv_class]="active_class"></fs-uploader>
                                         
                                            </button> 
                                            
                                        </div> 
                                     <div class="clear"></div>
                                             </div>
                              
                              
                                             <div *ngIf="permissions?.AllowCustomMarkers" class="btn-group btn-group-toggle reaction_btn" data-toggle="buttons">
        
                                                <!-- <label class="btn btn-secondary feeb">
                                                <input type="radio" name="options" id="option2" autocomplete="off"> 
                                                <i class="q_circle2"></i> Feedback
                                                </label> -->
                                                 <ng-container *ngFor="let marker of CustomMarkers; let i = index">
                                                 <label 	[tooltip]="marker.tag_title"  [tooltipEnable]="marker.tooltipEnable"
                                                 class="btn btn-secondary" [style.backgroundColor]="getMarkerBg(marker, i)" [ngClass]="{'active': marker ==selectedTag}" (click)="ChooseCustomTag(marker)">
                                           
                                                    <span  class="custom_tag"
                                                        [ngStyle]="{'border-color': colorClasses[i]}" ></span>
                                                    <span (mouseenter)="textWidth(marker,i)" (mouseLeave)="marker.tooltipEnable=false;" [id]="'text-width'+i"> {{marker.tag_title}}
                                                    </span>
                                               
                                          </label>
                                           </ng-container>
                                                
                                                
                                                
                                                </div>
                                                <div class="add_com_btn larg_sc">
              
              
        
                                                    <div class="add_comm_btn lg-scren fright_cls" *ngIf="!EditMode">
                                                        <a class="fake_link" (click)="AddTextComment()"
                                                            [style.backgroundColor]="primery_button_color">{{translation?.vd_add}}</a>
                                                    </div>
                                              
                                                    <div class="btn-group fright_cls" dropdown>
                                                        <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle"
                                                            aria-controls="dropdown-basic" (click)="closeInfo();">
                                                            <img src="assets/img/dot.svg">
                                                        </div>
                                                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu settingsMenu"
                                                            role="menu" aria-labelledby="button-basic">
                                                            <li role="menuitem" (click)="ToggleEnterPost()" class="fake_link"
                                                                style="width: 100%;">
                                                                <span class="dropdown-item">{{translation?.vd_press_enter}}
                                                                    <span *ngIf="settings.EnterToPost" class="oi pull-right"
                                                                        data-glyph="check" title="" aria-hidden="true">
                                                                    </span>
                                                                </span>
                                                            </li>
                                                            <!-- <li role="menuitem" (click)="TogglePause()" class="fake_link"
                                                                style="width: 100%;">
                                                                <span class="dropdown-item">{{translation?.vd_pause_while}} <span
                                                                        *ngIf="settings.PauseWhileTyping" class="oi pull-right"
                                                                        data-glyph="check" title="" aria-hidden="true">
                                                                    </span> </span>
                                                            </li> -->
                                                        </ul>
                                                    </div>
                                                    
                                                 
                                              <div class="clear"></div>
                                                   </div> 
                                                   
                                                   
                                                   <div class="clear"></div>
                                                   <div class="tags_div tags_clk3">
                                                    <custom-tags [predefinedTags]="tags" [active]="active_class" (Tags)="SetCustomTags($event)">
                                                  </custom-tags> 
                                               </div>
                                               <div *ngIf="active_class == 2"  class="pouter">
                                                <span *ngIf="selectedRubrics.length < 4">   <span *ngFor="let rubric of selectedRubrics; let i=index" 
                                                       class="tag_rounded full_width">
                                                       {{rubric.tag_code}} {{rubric.tag_html}}<span class="pull-right cross_span"
                                                           (click)="closeInfo();RemoveSelectedRubric(rubric,i)"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="7" viewBox="0 0 7 7">
                                     <defs>
                                       <clipPath id="clip-path">
                                         <path id="Path_29" data-name="Path 29" d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z" transform="translate(0 11)" fill="#919191"/>
                                       </clipPath>
                                       <clipPath id="clip-path-2">
                                         <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z" transform="translate(1057 483)" fill="#919191"/>
                                       </clipPath>
                                     </defs>
                                     <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
                                       <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)" clip-path="url(#clip-path-2)">
                                         <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z" transform="translate(674.455 313.182)" fill="#919191"/>
                                       </g>
                                     </g>
                                   </svg>
                                                       </span>
                                                   </span>
                                               </span>
                                               <span *ngIf="selectedRubrics.length > 3">
                                                   <span *ngFor="let rubric of selectedRubrics| slice:0:3; let i=index" 
                                                   class="tag_rounded full_width">
                                                   {{rubric.tag_code}} {{rubric.tag_html}}<span class="pull-right cross_span"
                                                       (click)="closeInfo();RemoveSelectedRubric(rubric,i)"> x
                                                   </span>
                                               </span>
                                               <a class="tag_popup" (click)="opentagsModal()">
                                                   {{selectedRubrics.length-3 + " more..."}}  
                                               </a>
                                           </span>
                                                   </div>
                                                   
                                                   <div *ngIf="active_class == 3" class="">
                                                       <span *ngIf="newComment.files.length < 4">
                                                           <span *ngFor="let file of newComment.files; let i=index" class="tgouter">
                                                               <span>
                                                                   {{file.filename || file.title}}
                                                               </span>
                                                               <span class="pull-right cross_span" (click)="closeInfo();RemoveFileFromComment(file, i)">
                                                                   <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="7" viewBox="0 0 7 7">
                                     <defs>
                                       <clipPath id="clip-path">
                                         <path id="Path_29" data-name="Path 29" d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z" transform="translate(0 11)" fill="#919191"/>
                                       </clipPath>
                                       <clipPath id="clip-path-2">
                                         <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z" transform="translate(1057 483)" fill="#919191"/>
                                       </clipPath>
                                     </defs>
                                     <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
                                       <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)" clip-path="url(#clip-path-2)">
                                         <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z" transform="translate(674.455 313.182)" fill="#919191"/>
                                       </g>
                                     </g>
                                   </svg>
                                                               </span>
                                                           </span>
                                                       </span>
                                                           <span *ngIf="newComment.files.length > 3"> 
                                                           <span *ngFor="let file of newComment.files| slice:0:3; let i=index" class="tgouter">
                                                               <span>
                                                                   {{file.filename || file.title}}
                                                               </span>
                                                               <span class="pull-right cross_span" (click)="closeInfo();RemoveFileFromComment(file, i)">
                                                                   <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="7" viewBox="0 0 7 7">
                                     <defs>
                                       <clipPath id="clip-path">
                                         <path id="Path_29" data-name="Path 29" d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z" transform="translate(0 11)" fill="#919191"/>
                                       </clipPath>
                                       <clipPath id="clip-path-2">
                                         <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z" transform="translate(1057 483)" fill="#919191"/>
                                       </clipPath>
                                     </defs>
                                     <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
                                       <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)" clip-path="url(#clip-path-2)">
                                         <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z" transform="translate(674.455 313.182)" fill="#919191"/>
                                       </g>
                                     </g>
                                   </svg>
                                                               </span>
                                                           </span>
                                                           <a class="tag_popup" (click)="opentagsModal()">
                                                               {{newComment.files.length-3 + " more..."}}  
                                                           </a>
                                                       
                                                   </span>
                                                       </div>
                                                
                              </div>
                                </div>
                                </div>
                                <div class="clear"></div>
                                <!-- <div class="comm_option" *ngIf="permissions?.AllowCustomMarkers">
                                    <ng-container *ngFor="let marker of CustomMarkers; let i = index">
                                        <span [style.backgroundColor]="getMarkerBg(marker, i)" class="custom_tag"
                                            [ngStyle]="{'border-color': colorClasses[i]}"
                                            (click)="ChooseCustomTag(marker)"></span>
                                        <span (click)="ChooseCustomTag(marker)"> {{marker.tag_title}} </span>
                                    </ng-container>
                                </div> -->
                                <!-- <div class="add_comm">
                                    <div class="btn-group" dropdown>
                                        <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle"
                                            aria-controls="dropdown-basic" (click)="closeInfo();">
                                            <img src="assets/img/dot.svg">
                                        </div>
                                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu settingsMenu"
                                            role="menu" aria-labelledby="button-basic">
                                            <li role="menuitem" (click)="ToggleEnterPost()" class="fake_link"
                                                style="width: 100%;">
                                                <span class="dropdown-item">{{translation?.vd_press_enter}}
                                                    <span *ngIf="settings.EnterToPost" class="oi pull-right"
                                                        data-glyph="check" title="" aria-hidden="true">
                                                    </span>
                                                </span>
                                            </li>
                                            <li role="menuitem" (click)="TogglePause()" class="fake_link"
                                                style="width: 100%;">
                                                <span class="dropdown-item">{{translation?.vd_pause_while}} <span
                                                        *ngIf="settings.PauseWhileTyping" class="oi pull-right"
                                                        data-glyph="check" title="" aria-hidden="true">
                                                    </span> </span>
                                            </li> 
                                        </ul>
                                    </div>
                                    <div class="add_comm_btn" *ngIf="!EditMode">
                                        <a class="fake_link" (click)="AddTextComment()"
                                            [style.backgroundColor]="primery_button_color">{{translation?.vd_add}}</a>
                                    </div>
                                    <div class="add_comm_btn" *ngIf="EditMode">
                                        <a class="simple_btn"
                                            (click)="EditTextComment(0)">{{translation?.vd_cancel}}</a>
                                        <a class="fake_link" (click)="EditTextComment(1)"
                                            [style.backgroundColor]="primery_button_color">{{translation?.vd_update}}</a>
                                    </div>
                                    <div class="clear"></div>
                                </div> -->
                                <div class="add_comm_btn edit_sc" *ngIf="EditMode">
                                    <a class="simple_btn"
                                        (click)="EditTextComment(0)">{{translation?.vd_cancel}}</a>
                                    <a class="fake_link" (click)="EditTextComment(1)"
                                        [style.backgroundColor]="primery_button_color">{{translation?.vd_update}}</a>
                                </div>
                                <div class="add_com_btn smsc_sc">
              
              
                                       
                                    <div class="add_comm_btn " *ngIf="!EditMode">
                                        <a class="fake_link" (click)="AddTextComment()"
                                            [style.backgroundColor]="primery_button_color">{{translation?.vd_add}}</a>
                                    </div>
                                              
                                    <div class="btn-group" dropdown>
                                        <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle"
                                            aria-controls="dropdown-basic" (click)="closeInfo();">
                                            <img src="assets/img/dot.svg">
                                        </div>
                                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu settingsMenu"
                                            role="menu" aria-labelledby="button-basic">
                                            <li role="menuitem" (click)="ToggleEnterPost()" class="fake_link"
                                                style="width: 100%;">
                                                <span class="dropdown-item">{{translation?.vd_press_enter}}
                                                    <span *ngIf="settings.EnterToPost" class="oi pull-right"
                                                        data-glyph="check" title="" aria-hidden="true">
                                                    </span>
                                                </span>
                                            </li>
                                            <!-- <li role="menuitem" (click)="TogglePause()" class="fake_link"
                                                style="width: 100%;">
                                                <span class="dropdown-item">{{translation?.vd_pause_while}} <span
                                                        *ngIf="settings.PauseWhileTyping" class="oi pull-right"
                                                        data-glyph="check" title="" aria-hidden="true">
                                                    </span> </span>
                                            </li> -->
                                        </ul>
                                    </div>
                                    
                              <div class="clear"></div>
                                   </div>
                                
                                
                               
                                <div class="clear"></div>
                                                   
                            </div>
                            
                            
                        
                        
                        </div>
                    </div>
                        <div class="col-sm-6" *ngIf="currentTab==0">
                            <button class="btn btn-success form-control" *ngIf="EnablePublish"
                                (click)="PublishFeedback(confirmPublishDialog)" [style.marginBottom.px]="10">
                                {{translation?.vd_publish_feedback}} </button>
                            <search-form [permissions]="permissions" [VideoInfo]="VideoInfo"
                                [customMarkers]="CustomMarkers" [params]="params"
                                (settingsChanged)="ApplySettings($event)" [classes]="colorClasses"></search-form>
                            <div class="com_height" >
                                <ng-container *ngFor="let comment of comments; let i=index;">
                                    <comment [fromLiveStream]="true" [VideoInfo]="VideoInfo" [permissions]="permissions"
                                        [index]="i" [staticFiles]="staticFiles" (onDelete)="onCommentDelete($event)"
                                        (onEdit)="onCommentEdit($event)" [isActive]="currentComment == comment"
                                        [attr.id]="'comment_'+i" [customMarkers]="CustomMarkers"
                                        [allow_evidence_view]="allow_evidence_view" [classes]="colorClasses"
                                        *ngIf="comment.valid" [comment]="comment" [params]="params"
                                        (onReplyEdit)="onReplyEdit($event)" (onAdd)="OnCommentAdded($event)"> </comment>
                                </ng-container>
                                <div class="text-center animated fadeIn no-comment-found"
                                    *ngIf="getValidCommentCount()<=0">
                                    {{translation?.vd_no_comments_matched}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 com_height" *ngIf="currentTab==2">
                            <ng-container *ngIf="permissions?.framework_selected_for_video!=1">
                                <div class="preview_container" *ngIf="getSelectFrameworkPermission()">
                                    <div>
                                        {{translation?.vd_choose_framework}} </div>
                                    <select class="form-control" [(ngModel)]="VideoHuddleFramework"
                                        (ngModelChange)="GetRubricById($event)">
                                        <option value=""> {{translation?.vd_select_framework}} </option>
                                        <option *ngFor="let framework of frameworks"
                                            [attr.value]="framework.account_tag_id">
                                            {{framework.tag_title}}
                                        </option>
                                    </select>
                                    <ng-container *ngIf="rubricPreview">
                                        <div [style.margin-top.px]="20" size="7px" transition="0.2" railVisible="true"
                                            railOpacity="0.2" railColor="#000" height="385px" id="slimscroll"
                                            slimScroll>
                                            <rubrics [isCreater]="'true'" [data]="rubricPreview" [previewMode]="true">
                                            </rubrics>
                                        </div>
                                        <div class="text-right pull-from-top">
                                            <button class="btn btn-default"
                                                (click)="AssignFramework(confirmFrameworkSet, 0)">
                                                {{translation?.vd_cancel}} </button>
                                            <button [disabled]="!VideoHuddleFramework" class="btn btn-success"
                                                (click)="AssignFramework(confirmFrameworkSet, 1)"
                                                [style.backgroundColor]="primery_button_color">
                                                {{translation?.vd_use_framework}} </button>
                                        </div>
                                    </ng-container>
                                </div>
                                <div *ngIf="!getSelectFrameworkPermission()" class="text-center">
                                    {{translation?.vd_you_must_define}}
                                </div>
                            </ng-container>
                            <ng-container *ngIf="permissions?.framework_selected_for_video==1">
                                <input type="text" placeholder="{{translation?.vd_search_framework}}"
                                    class="form-control" [(ngModel)]="term">
                                <rubrics [isCreater]="'true'" [term]="term" [data]="rubrics"></rubrics>
                            </ng-container>
                        </div>
                        <div class="col-sm-6 com_height" *ngIf="currentTab==3">
                            <coaching-summary [VideoInfo]="VideoInfo" [params]="params"
                                [huddle_permission]="permissions.huddle_permission"
                                [coaching_perfomance_level]="permissions.coaching_perfomance_level"></coaching-summary>
                        </div>
                        <div class="col-sm-6 com_height" *ngIf="currentTab==1">
                            <div class="row btn_resources_upload_wrapper">
                                <div class="add_comm_btn col-sm-12" *ngIf="userAccountLevelRoleId != '125'">
                                    <fs-uploader [label]="translation?.vd_upload" [source]="'resources'"
                                        [configuration]="videoOptions" (onUpload)="GetNewFiles($event)"></fs-uploader>
                                </div>
                            </div>
                            <table class="table table-hover resources" *ngIf="staticFiles.length>0">
                                <thead>
                                    <tr>
                                        <th>
                                            {{translation?.vd_time}}
                                        </th>
                                        <th>
                                            {{translation?.vd_file}}
                                        </th>
                                        <th class="text-right">
                                            {{translation?.vd_action}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let file of staticFiles">
                                        <td class="clickable" style="width: 90px;" (click)="Seek(file.time)">
                                            <span> {{file.time}} </span>
                                        </td>
                                        <td class="clickable" (click)="FileClicked('td', file)">
                                            <span class="oi file_icon" data-glyph="file"></span> <span class="file_name"
                                                title="{{file?.title}}">{{file?.title}}</span>
                                        </td>
                                        <td *ngIf="file.id && userAccountLevelRoleId != '125'">
                                            <div class="video_options btn-group" dropdown>
                                                <div id="button-basic" dropdownToggle
                                                    class="comm_options dropdown-toggle" aria-controls="dropdown-basic"
                                                    (click)="closeInfo();">
                                                    <img src="assets/img/dot.svg">
                                                </div>
                                                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                                    aria-labelledby="button-basic">
                                                    <li role="menuitem" class="fake_link"
                                                        *ngIf="currnetUser.id == file.created_by">
                                                        <span class="dropdown-item"
                                                            (click)="InitiateDeleteResource(confirmDialog, file)">{{translation?.vd_delete}}</span>
                                                    </li>
                                                    <li role="menuitem" class="fake_link"
                                                        (click)="FileClicked('li', file)">
                                                        <span class="dropdown-item">{{translation?.vd_download}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td *ngIf="!file.id">
                                            {{translation?.vd_uploading}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" *ngIf="currentTab == 4">
                        <div class="avg_performance_level"
                            *ngIf="permissions?.framework_selected_for_video==1 && PLTabData?.average_rating">
                            <label>{{translation?.vd_avrg_pl}} <b>{{PLTabData?.average_rating}}</b> </label>
                        </div>
                        <div class="col-sm-6 com_height" *ngIf="permissions?.framework_selected_for_video==1">
                            <rubrics [isCreater]="'true'" [data]="PLTabData?.standards?.data" [from]="'tab'"
                                (RubricClicked)="OnRubricClicked($event)">
                            </rubrics>
                        </div>
                        <div class="col-sm-6 com_height" *ngIf="permissions?.framework_selected_for_video!=1">
                            {{translation?.vd_you_must_define_frameworks}}
                        </div>
                        <div class="col-sm-6 com_height mt-38" *ngIf="PLcomments && SelectedPLRubric && SelectedPLRubric.tag_code">
                            <div class="selectedPl">
                                <div class="flex_box_pLevel">
                                    <div class="rub_nu flex_box_pLevel_left">{{SelectedPLRubric?.tag_code}}</div>
                                    <div class="flex_box_pLevel_right">{{SelectedPLRubric?.tag_html}}
                                        <div class="pl-bottom">
                                            <div class="number_tagged">
                                                {{translation?.vd_times_observed}}: <span class="badge badge-primary">{{SelectedPLRubric?.get_standard_tagged_count}}</span>
                                            </div>
                                            <a *ngIf="getSettings('enable_unique_desc') && SelectedPLRubric.standard_level==rubrics.account_framework_settings.checkbox_level" (click)="openPlUniqueDescModal()" [tooltip]="translation?.performance_level_unique_desc" container="body">
                                                <img src="assets/img/pl-unique-desc.svg"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Pldropdown" *ngIf=" PLcomments.length>0">
                                <label *ngIf="currnetUser.huddle_role_id == 210 && SelectedPLRubric.selectedRating">
                                    {{translation?.vd_performance_level_ratting}}:
                                    <b [style.display]="'inherit'">
                                        <select class="form-control fake_select" disabled
                                            [(ngModel)]="SelectedPLRubric.selectedRating"
                                            (ngModelChange)="RatingChanged($event)">
                                            <option [value]="0" selected="selected"> {{translation?.rating_select}}
                                            </option>
                                            <option *ngFor="let pl of SelectedPLRubric.selectOptions" [value]="pl.id">
                                                {{pl.text}}
                                            </option>
                                        </select>
                                    </b>
                                </label>
                                <select *ngIf="permissions.can_rate && currnetUser.huddle_role_id == 200"
                                    class="form-control" [(ngModel)]="SelectedPLRubric.selectedRating"
                                    (ngModelChange)="RatingChanged($event)">
                                    <option [value]="0" selected="selected"> {{translation?.rating_select}} </option>
                                    <option *ngFor="let pl of SelectedPLRubric.selectOptions" [value]="pl.id">
                                        {{pl.text}}
                                    </option>
                                </select>
                            </div>
                            <div class="comments_desc" *ngIf="PLcomments && PLcomments.length>0">
                                <tabset class="tab_no_border">
                                    <tab>
                                        <ng-template tabHeading>
                                            {{translation?.vd_comments}}
                                        </ng-template>
                                        <div class="comm_option comm_option2 nopointer com_list_cir"
                                            *ngIf="PLcomments && PLcomments.length>0">
                                            <ng-container *ngFor="let marker of CustomMarkers; let i = index">
                                                <label>
                                                <span class="custom_tag" [style.background]="colorClasses[i]"
                                                    [style.borderColor]="[colorClasses[i]]" 
                                                    (click)="SelectTag(marker)"></span> <span (mouseenter)="textWidth(marker,i)" (mouseLeave)="marker.tooltipEnable=false;" [id]="'text-width'+i" class="com_tg"> {{marker.tag_title}}</span>
                                                </label>
                                                </ng-container>
                                            <div class="clear"></div>
                                        </div>
                                        <comment [from]="'tab'" *ngFor="let comment of PLcomments"
                                            [staticFiles]="staticFiles" (onDelete)="onCommentDelete($event)"
                                            (onEdit)="onCommentEdit($event)" [isActive]="currentComment == comment"
                                            [customMarkers]="CustomMarkers" [classes]="colorClasses" [comment]="comment"
                                            [allow_evidence_view]="allow_evidence_view" [params]="params"
                                            (onReplyEdit)="onReplyEdit($event)"> </comment>
                                    </tab>
                                    <tab *ngIf="getSettings('enable_performance_level') && !getSettings('enable_unique_desc')">
                                        <ng-template tabHeading>
                                            {{translation?.vd_performance_level_desc}}
                                        </ng-template>
                                        <div class="performance_level_detail pl_white_space"
                                            *ngFor="let settings of SelectedPLRubric?.account_framework_settings_performance_levels">
                                            <div>
                                                <h6> {{settings.performance_level}} </h6>
                                            </div>
                                            <div> {{settings.description}} </div>
                                        </div>
                                    </tab>
                                </tabset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #confirmDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{translation?.vd_are_sure_that}}
    </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolveDeleteFile(0)">
                {{translation?.vd_cancel}}
            </button>
            <button class="btn btn-primary" (click)="ResolveDeleteFile(1)">
                {{translation?.vd_ok}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #confirmPublishDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{translation?.vd_your_comments}} </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolvePublish(0)">
                {{translation?.vd_cancel}}
            </button>
            <button class="btn btn-primary" (click)="ResolvePublish(1)">
                {{translation?.vd_ok}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #confirmDialogDel>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefDel.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{translation?.vd_are_you_sure}}
    </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolveDeleteVideo(0)">
                {{translation?.vd_cancel}}
            </button>
            <button class="btn btn-primary" (click)="ResolveDeleteVideo(1)">
                {{translation?.vd_ok}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #confirmFrameworkSet>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="ResolveAssignFramework(0)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{translation?.vd_assigning_a_framework}}
    </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolveAssignFramework(0)">
                {{translation?.vd_cancel}}
            </button>
            <button class="btn btn-primary" (click)="ResolveAssignFramework(1)">
                {{translation?.vd_ok}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #copyDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_copy_video}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <tabset id="tabs_copy_video">
            <tab id="tab1" (selectTab)="currentCopyTab=0" *ngIf="true">
                <ng-template tabHeading>
                    <span class="oi" data-glyph="comment-square" title="" aria-hidden="true"></span>
                    {{translation?.vd_copy_to_huddle}}
                </ng-template>
                <div id="header-container" class="filterform">
                    <div class="filterform">
                        <input id="input-filter" placeholder="{{translation?.vd_search_huddles}}" class="filterinput"
                            type="text" style="width: 100%; display: block;" [(ngModel)]="CopyData.searchHuddleText"
                            (ngModelChange)="onSearchHuddleChange($event)">
                        <div id="cancel-btn" type="text"
                            style=" width: 10px;  position: absolute; right: 40px; top: 161px; display:none;cursor: pointer; "
                            class="filterinput">X</div>
                    </div>
                </div>
                <div class="filter_data_box">
                    <ul id="list-containers" class="inset-area clear-list files-list">
                        <ng-container *ngFor="let huddle of CopyData.all_huddles; let i=index">
                            <li *ngIf="huddle?.meta_data_value!='3'" [hidden]="!huddle.valid">
                                <label class="ui-checkbox model">
                                    <input class="copyFiles_checkbox" [attr.id]="'huddle'+i" type="checkbox"
                                        [(ngModel)]="huddle.selected">
                                </label>
                                <label [attr.for]="'huddle'+i">
                                    <a class="copy_link"> {{huddle.name}}</a>
                                </label>
                            </li>
                        </ng-container>
                        <li *ngIf="CopyData?.huddles_matched==0">
                            {{translation?.vd_no_huddles_match}} </li>
                    </ul>
                </div>
            </tab>
            <tab (selectTab)="currentCopyTab=1"
                *ngIf="permissions?.permission_video_library_upload && permissions?.get_account_video_library_permissions">
                <ng-template tabHeading>
                    <span class="oi" data-glyph="video" title="" aria-hidden="true"></span>
                    {{translation?.vd_copy_to_vl}}
                </ng-template>
                <ul class="inset-area clear-list files-list">
                    <li>
                        <label class="ui-checkbox model">
                            <input class="copyFiles_checkbox" name="account_folder_id" id="account_folder_name"
                                type="checkbox" [(ngModel)]="CopyData.LibrarySelected">
                        </label>
                        <label for="account_folder_name">{{translation?.vd_copy_to_vl}} </label>
                    </li>
                </ul>
            </tab>
            <tab (selectTab)="currentCopyTab=2" *ngIf="CopyData.all_accounts.length>1">
                <ng-template tabHeading><span class="oi" data-glyph="people" title="" aria-hidden="true"></span>Copy to
                    {{CopyData.all_accounts.length>1?translation?.vd_account:translation?.vd_workspace}}
                </ng-template>
                <div id="header-container" class="filterform">
                    <div class="filterform">
                        <input id="input-filter" placeholder="{{translation?.vd_search_accounts}}" class="filterinput"
                            type="text" style="width: 100%; display: block;" [(ngModel)]="CopyData.searchAccountText"
                            (ngModelChange)="onSearchAccountChange($event)">
                        <div id="cancel-btn" type="text"
                            style=" width: 10px;  position: absolute; right: 40px; top: 161px; display:none;cursor: pointer; "
                            class="filterinput">X</div>
                    </div>
                </div>
                <div class="filter_data_box">
                    <ul id="list-containers" class="inset-area clear-list files-list">
                        <li *ngFor="let account of CopyData.all_accounts; let i=index" [hidden]="!account.valid">
                            <label class="ui-checkbox model">
                                <input class="copyFiles_checkbox" [attr.id]="'account'+i" type="checkbox"
                                    [(ngModel)]="account.selected">
                            </label>
                            <label [attr.for]="'account'+i">
                                <a class="copy_link"> {{account.company_name}} -
                                    <b>{{translation?.vd_workspace}}</b></a>
                            </label>
                        </li>
                        <li *ngIf="CopyData?.accounts_matched==0">
                            {{translation?.vd_no_accounts}} </li>
                    </ul>
                </div>
            </tab>
        </tabset>
    </div>
    <div class="modal-footer ">
        <div class="text-left copy_comments" *ngIf="currentCopyTab!=1 && comments.length>0">
            <input type="checkbox" [(ngModel)]="CopyData.CopyComments" id="copy_comments">
            <label for="copy_comments"> {{translation?.vd_copy_comments}} </label>
        </div>
        <div class="text-right model-btns">
            <a class="simple_btn" (click)="ResolveCopyVideo(0)">{{translation?.vd_cancel}}</a>
            <a class="green" (click)="ResolveCopyVideo(1)"
                [style.backgroundColor]="primery_button_color">{{translation?.vd_ok}}</a>
        </div>
    </div>
</ng-template>
<ng-template #cropDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_crop_video}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideCropModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-crop-video-player (CropIsPlaying)="CropIsPlaying=$event" (CropVideoTotalTime)="CaptureTotalTime($event)"
            [VideoInfo]="VideoInfo" [comments]="comments" [customMarkers]="CustomMarkers" [colors]="colorClasses"
            [ShowInfo]="ShowInfo" [src]="src" (ShowInfoBack)="ShowInfo=$event"></app-crop-video-player>
        <div>
            <span>{{cropStartValue}}</span>
            <span style="float: right;">{{cropEndValue}}</span>
        </div>
        <nouislider *ngIf="videoEnd" [config]="cropRangeSliderConfig" [(ngModel)]="cropRange"
            (ngModelChange)="onCropSliderChange($event)"></nouislider>
        <div>
            <span>00:00</span>
            <span style="float: right;">{{videoEnd}}</span>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-right model-btns">
            <a class="simple_btn" (click)="hideCropModal()">{{translation?.vd_cancel}}</a>
            <a class="blue" (click)="CropPreviewVideo()">{{translation?.vd_preview_video}}</a>
            <a class="green" (click)="TrimVideo()"
                [style.backgroundColor]="primery_button_color">{{translation?.vd_trim}}</a>
        </div>
    </div>
</ng-template>
<ng-template #liveVideoSave>
    <div class="modal-header video_sav_confirm">
        <button type="button" class="close pull-right" aria-label="Close" (click)="ResolveAssignFramework(0)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body video_sav_confirm_body">
        <svg xmlns="http://www.w3.org/2000/svg" width="50.64" height="50.64" viewBox="0 0 50.64 50.64">
            <g id="noun_Error_1582590" transform="translate(181.36 40.7)">
                <g id="Group_332" data-name="Group 332" transform="translate(-181 -41)">
                    <path id="Path_51" data-name="Path 51"
                        d="M25.32,0A25.286,25.286,0,1,1,7.406,7.406,25.258,25.258,0,0,1,25.32,0ZM39.947,10.646A20.73,20.73,0,1,0,46.011,25.32,20.84,20.84,0,0,0,39.947,10.646Z"
                        transform="translate(-0.36 0.3)" fill="#010101" />
                    <path id="Path_88" data-name="Path 88"
                        d="M29.458,18.754q-4.036,5.922-8.425,11.618c-1.308-1.132-2.641-2.263-3.948-3.4-1.459-1.257-3.6.855-2.138,2.138,1.735,1.509,3.47,2.993,5.231,4.5a1.533,1.533,0,0,0,2.138,0c3.4-4.325,6.664-8.777,9.732-13.329C33.155,18.653,30.539,17.145,29.458,18.754Z"
                        transform="translate(1.679 -0.266)" stroke="#000" stroke-width="0.7" />
                </g>
            </g>
        </svg>
        <label>{{translation?.save_live_streaming_to_huddle_live_streaming}}</label>
        <p>{{translation?.this_operation_cant_undone_live_streaming}}</p>
        <div class="video_save_bt">
            <button class="btn btn-default" (click)="no_save_video()">
                {{translation?.discard_video_live_streaming}}
            </button>
            <button class="btn btn-primary" (click)="save_video()">
                {{translation?.save_video_live_streaming}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #selectedrubricsTemplate>
    <div class="modal-header">
     <h4 *ngIf="active_class == 2" class="modal-title">Framework Standards</h4>
     <h4 *ngIf="active_class == 3" class="modal-title">Attachments</h4>
      <button type="button" class="close" (click)="modalRef.hide()" data-dismiss="modal">&times;</button>
     
    </div>
    
     <div class="modal-body">
         
         <div class="tags_div">
             <span *ngIf="active_class == 2">
            <span *ngFor="let rubric of selectedRubrics; let i=index" 
            class="tag_rounded full_width">
            {{rubric.tag_code}} {{rubric.tag_html}}<span class="pull-right cross_span"
                (click)="closeInfo();RemoveSelectedRubric(rubric,i)"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="7" viewBox="0 0 7 7">
  <defs>
    <clipPath id="clip-path">
      <path id="Path_29" data-name="Path 29" d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z" transform="translate(0 11)" fill="#919191"/>
    </clipPath>
    <clipPath id="clip-path-2">
      <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z" transform="translate(1057 483)" fill="#919191"/>
    </clipPath>
  </defs>
  <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
    <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)" clip-path="url(#clip-path-2)">
      <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z" transform="translate(674.455 313.182)" fill="#919191"/>
    </g>
  </g>
</svg>
            </span>
        </span>
    </span>
        <span *ngIf="active_class == 3"> 
        <span *ngFor="let file of newComment.files; let i=index" class="tgouter">
            <span>
                {{file.filename || file.title}}
            </span>
            <span class="pull-right cross_span" (click)="closeInfo();RemoveFileFromComment(file, i)">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="7" viewBox="0 0 7 7">
  <defs>
    <clipPath id="clip-path">
      <path id="Path_29" data-name="Path 29" d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z" transform="translate(0 11)" fill="#919191"/>
    </clipPath>
    <clipPath id="clip-path-2">
      <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z" transform="translate(1057 483)" fill="#919191"/>
    </clipPath>
  </defs>
  <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
    <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)" clip-path="url(#clip-path-2)">
      <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z" transform="translate(674.455 313.182)" fill="#919191"/>
    </g>
  </g>
</svg>
            </span>
        </span>
    </span>
          
       </div>
           

     </div>

    
</ng-template>