.modal-md {
    max-width: 600px;
}

.selectedPl {
    font-family: 'Roboto-Regular';
    margin-bottom: 10px;
    color: #464646;
    font-size: 14px;
}
.videoStreamCss{
    object-fit: contain;
    background: #000;
}
.Pldropdown {
    margin: 10px 0 20px 0;
}

.btn_resources_upload_wrapper {
    margin-bottom: 10px;
}
.displayNone{
    display: none;
}
.pl_white_space {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
    word-break: break-word;
}

.table.resources td, .table th {
    border-top: 2px solid #dee2e6;
}

.video_options ul.dropdown-menu li {
    width: 100%;
}

.table.resources td, .table.resources th {
    color: #808080;
    font-size: 13px;
    vertical-align: middle;
}

.file_icon {
    font-size: 13px;
    color: #6D6D6D;
    top: -2px;
    position: relative;
}

.flex_box_pLevel {
    display: flex;
    padding: 10px;
    background: #e9e9e9;
}

.flex_box_pLevel .number_tagged{
	display: flex;
    justify-content: center;
    align-items: center;
    color: #C1C1C2;
}

.flex_box_pLevel_left{
    padding-right: 12px;
}

.flex_box_pLevel_right{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces; word-break: break-word;
}

.pl-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 35.5px;
}

.performance_level_detail h6 {
    margin-bottom: 0px;
}

.performance_level_detail {
    margin-bottom: 8px;
}

.no-comment-found {
    font-size: 13px;
    font-family: 'Roboto-light';
    margin-top: 10px;
    font-weight: 600;
}

.nopointer {
    cursor: default !important;
}

.video_time_cls {
    display: inline-block;
    /*width: 50px;*/
}

.model-btns a.blue, .model-btns a.green {
    cursor: pointer;
    color: #fff !important;
    display: inline-block;
    padding: 5px 22px;
    border-radius: 4px;
    font-family: 'Roboto-Light';
    text-decoration: none;
}

.model-btns a.green {
    background: #5db85b;
}

.model-btns a.blue {
    background: #337ab7;
    margin: 0 6px;
}

.model-btns a.simple_btn {
    cursor: pointer;
    padding: 5px 22px;
}

.clickable {
    cursor: pointer;
}

.copy_comments label {
    margin-bottom: 0;
}

.copy_comments input[type=checkbox] {
    position: relative;
    top: 2px;
    margin-right: 3px;
}

.pull-from-top {
    margin-top: 10px;
}

.file_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 275px;
    display: inline-block;
    position: relative;
    /*top: 4px;*/
}

.fake_player {
    width: 484px;
    height: 350px;
    background: black;
    color: white;
    text-align: center;
}

.fake_player h6 {
    position: absolute;
    margin-top: 31%;
    margin-left: 0;
    text-align: center;
    display: block;
    width: 95%;
}

.fake_player h6 a {
    color: #007bff;
}

.custom-form-control {
    width: 19px;
    padding: 2px;
    height: 25px;
    border-radius: 4px;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: 0;
    padding: 0px 0;
    font-size: 12px;
    height: 20px;
}

.avg_performance_level {
    display: block;
    width: 100%;
    font-size: 12pt;
    text-align: center;
}

.fake_select {
    display: inline-block;
    border: none;
    background: transparent;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0;
    text-overflow: '';
    margin: 0;
    padding: 0px 0 0px 2px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.de_ani {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #d9d9d9;
    background: linear-gradient(to right, #e9e9e9 8%, #F0F0F0 18%, #efefef 33%);
    background-size: 800px 104px;
    position: relative;
}

.header {
    height: 36px
}

.anc a {
    height: 20px;
    width: 120px;
}

.anc li {
    padding: 0 5px 0px 0 !important;
}

.tab-nav-el {
    min-width: 130px
}

.loader-video-container {
    width: 100%;
    height: 380px;
}

.loader-search-container {
    height: 31px;
    margin-bottom: 14px;
}

.loader-search-container2 {
    width: 88%;
    min-height: 2%;
    float: left;
    height: 31px;
}

.loader-search-container3 {
    width: 8%;
    height: 31px;
    float: right;
}

.an_icon {
    height: 20px;
}

.an_para {
    height: 20px;
}

.an_fak {
    height: 20px;
    width: 150px;
}

.anc .de_ani {
    display: inline-block;
    width: 100%;
    height: 20px;
    position: relative;
    top: 2px;
}

.anc li:last-child a {
    border-color: #eeeeee!important;
}

.an {
    margin-bottom: 7px;
}

.gmore {
    width: 15%;
    float: left;
    height: 15px;
    margin-right: 2%;
    margin-top: 10px;
}

.user_img {
    margin-right: 12px;
    float: left;
}

.comments_boxanc {
    border-top: 1px solid #ddd;
    padding-bottom: 23px;
    margin-top: 11px;
}

.user_comment {
    float: left;
    width: 85%;
    font-family: Roboto-Light;
}

.anc1 {
    height: 15px;
    width: 93px;
    display: inline-block;
    margin: 7px 3px 9px 0px;
}

.pleft30 {
    padding-left: 20px;
}

.anc2 {
    width: 35px;
    height: 35px;
}

.anc3 {
    height: 15px;
    width: 93px;
    display: inline-block;
}

.anc4 {
    height: 15px;
    width: 150px;
    display: inline-block;
}

.anc5 {
    height: 15px;
    width: 100%;
    display: block;
    margin-bottom: 6px !important;
}

.anc6 {
    height: 30px;
    width: 40px;
    float: right;
    margin: 8px 0 10px 17px;
}

.anc7 {
    float: left;
    height: 15px;
    width: 20%;
    display: inline-block;
}

.anc8 {
    float: right;
    height: 15px;
    width: 40%;
    display: inline-block;
}

.anc9 {
    float: right;
    height: 200px;
    width: 100%;
    display: inline-block;
    margin: 15px 0 0 0;
}

.anc10 {
    height: 30px;
    width: 40px;
    float: left;
    margin: 8px 0 10px 0px;
}

.anc11 {
    height: 30px;
    width: 40px;
    float: right;
    margin: 8px 0 10px 0px;
}

@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.box {
    padding: 10px 15px 20px 15px !important;
}

.headindfix h2 {
    font-family: 'Roboto', sans-serif;
    margin: 9px 0 9px -7px;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #484848;
}

.live-cls {
    position: absolute;
    right: 27px;
    z-index: 11;
    top: 5px;
    color: #fff;
}

.live_cell {
    background: red;
    padding: 1px 15px;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 15px;
}

.viewers_count {
    background: grey;
    padding: 1px 15px;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 15px;
}

#live_video {
    background: black;
    object-fit: unset;
}

video::-webkit-media-controls-timeline, video::-webkit-media-controls-current-time-display, video::-webkit-media-controls-time-remaining-display {
    display: none;
}

.millicast_frame {
    background: black;
    border: none;
    outline: none;
}

video {
    object-fit: cover;
}

.permission-error {
    width: 478px;
    height: 400px;
    background-color: #000;
    color: #fff;
    margin-bottom: 15px;
    padding: 20px 20px;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    align-items: center;
    text-align: center;
}

.go_live_btn {
    background: #DE2828;
    border-radius: 4px;
    display: inline-block;
    border: 0px;
    color: #FFF;
    padding: 5px 10px;
    outline: none;
    margin-top: 5px;
}

.go_live_btn svg {
    margin-right: 2px;
    position: relative;
    top: -1px;
}

.screen-share {
    background: #004061;
    border-radius: 4px;
    display: inline-block;
    border: 0px;
    color: #FFF;
    padding: 5px 10px;
    outline: none;
    margin-top: 5px;
    margin-right: 10px;
}

.live_ind {
    background: #DE2828;
    color: #FFF;
    display: inline-block;
    padding: 1px 4px;
    border-radius: 3px;
    text-transform: uppercase;
    margin: 15px;
    font-size: 10px;
}

.video_sav_confirm {
    border: 0 !important;
    background: #FFF;
}

.video_sav_confirm_body {
    text-align: center;
}

.video_sav_confirm_body label {
    color: #484848;
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin: 30px 0px 0px 0px;
}

.video_sav_confirm_body p {
    color: #484848;
    font-size: 15px;
}

.video_sav_confirm_body svg {}

.video_save_bt {
    text-align: center;
    padding: 20px;
}

.video_save_bt .btn-primary {
    background: #28A745;
    border: 0px;
}

.live_start_left {
    position: relative;
}

.live_start_counter {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 120px;
    font-weight: 100;
    top: 100px;
    z-index: 2;
}

.flip_video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.video-placeholder {
    height: 400px;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-placeholder h3 {
    color: #616161;
    padding-bottom: 20px;
    font-size: 34px;
    font-weight: 600;
}

.video-placeholder h2 {
    padding: 30px 0 10px 0;
}

.video-placeholder p {
 color: #616161;   
}

.video-placeholder button {
    background: #F92F2F;
    color: #fff;
    border-radius: 4px;
    border: 0;
    padding: 7px 20px;
    font-size: 14px;
    margin: 7px;
    outline: none;
}

.video-placeholder button img {
    margin-right: 5px;
}
.tgouter{
    border: solid 1px #ccc;
    border-radius: 3px;
    padding: 2px 18px 1px 5px;
    vertical-align: top;
    margin: 4px 4px 0 0;
    display: inline-block;
    max-width: 24%;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

#lagend {
    visibility: hidden;
    position: absolute;
    z-index: -2222;
    width: 95%;
    padding: 10px;
  }
  #editTextBox{
    overflow-y: hidden;
  }
    
.attach_video {
    float: left;
  display: flex; width:auto;
}
.attach_video button {
background: none;
border: 1px solid #CCCCCC;
border-radius: 3px;
outline: 0;
cursor: pointer;
height: 35px;
position: relative;
float: left;
width: 38px;
margin-right: 6px;
}
.reaction_btn {
padding: 2px 0 0 6px;
float: left;

}



   .reaction_btn .btn-secondary {
      border-color: #cccccc;
      background: #fff;
      color: #484848;
         padding-right: 7px;
  padding-left: 7px;

  font-size: 14px;
  text-align: center;
         padding-top: 7px;
  padding-bottom: 0px; 
  font-family: 'Roboto';

  }
  .reaction_btn .btn-secondary span:last-child{ display: inline-block;
  padding-left: 2px;
  max-width: 74px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;}
  
  .reaction_btn .btn-secondary .custom_tag{    top: 4px;
    float: left;
    position: relative;
}

  .reaction_btn .active { color:#fff;}
  .reaction_btn .active span { color:#fff !important;}
  .reaction_btn .active .custom_tag { border-color:#fff !important;}
   
   .reaction_btn .custom_tag { margin-left:0;}
   
   
  .add_com_btn .dropdown-toggle::after { display:none;}
  
  
  .add_com_btn {    float: right;
  width: 112px;     }
  
.add_com_btn .comm_options{    border-radius: 4px;
  border: 1px solid #dddddd;     padding: 4px 8px 4px 9px; height: 35px;
  display: flex;}  	

.add_com_btn  .dropdown-menu.show{    left: inherit!important;
  right: 0 !important;}
  .incs{ display:none;}
  .small_sc {   width: auto;padding-top: 4px;}
  .opt_in { float:right; margin-right:10px;}
  
  
  .attach_video .att1 svg{ position:absolute;     top: 5px;left: 6px;}
  .attach_video .att2 svg{     position: absolute;
  top: -1px;
  left: 6px;
  width: 27px;
  height: 27px;}
  .opt_right{ float:right;}
  .label_p0 { padding:6px 15px 0 15px;}
  .com_heading { max-width:100%; padding:0;}
  .com_heading .col-md-6{ padding-right:0;}
  
  .com_heading .comm_time { position:relative; right:-15px;}
  .smsc_sc { display:none;}
  .comment_box { width:100%;}
  
  .com_list_cir .custom_tag{ border:0;}
   .com_list_cir .com_tg {max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; display:inline-block; float: left;}
	.chane_position { min-height:70px;}
	.fright_cls { float:right;}
    .block_fv { position:relative; display: inline-block;
    width: 100%;}
	.pb10 { padding-bottom:10px !important;}
  @media screen and (max-width: 1500px){
      
  .larg_sc { display:none;}
  .small_sc {   width: auto;padding-top: 4px;}	
  .add_com_btn .comm_options{ margin-right:7px;}
  .add_com_btn  .dropdown-menu.show{    left: inherit!important;
  right: 6px !important;}	
  
  .incs{ display:inline-block;}
  
      
  }
  
   
   @media screen and (max-width: 1400px){
       
        .reaction_btn .btn-secondary {
      padding:7px 4px 3px 4px;
      
  }
  .video_sm_sc { max-height:300px;}
       
	   .smsc_sc { padding-top:10px; display:block; width: auto;}
	   .larg_sc { display:none;}
       
   }
   
@media screen and (max-width: 1200px){
  
  .reaction_btn{
 
      float: left;
  
  padding: 2px 0 0 0;
}
.reaction_btn .btn-secondary {
  border-color: #cccccc;
  background: #fff;
  color: #484848;
  padding-right: 4px;
  padding-left: 4px;
  font-size: 12px;
  text-align: center;
 
}

 
  
  
}
      #editTextBox{
        overflow-y: hidden;
      }

      .edit_sc{
padding-top: 10px;
padding-right: 10px;
      }
      .lg-scren{
          margin-left: 10px;
      }