.slimscroll-bar {
    height: 150px;
}
 /**top headeing bar start **/
 .panl_heading { border-bottom:1px solid #ddd; padding:5px;     background: #f9f9f9;    }
 .panl_heading  h3{   
     font-family: 'Roboto', sans-serif;
     margin: 0;
     font-weight: 500;
     font-size: 24px;
     line-height: 35px;
     color: #212528;
 }
 .custom-color{color: #ffff !important; background: #28A745}
 .content_popup { padding:40px; text-align:center; color:#616161;}
 .mbtn { text-align:right;}
 .mbtn .btn{outline:0 !important; box-shadow: 0 0 0 0rem rgba(0,123,255,.25) !important;     padding: 5px 19px;} 
 .mbtn .btn-default  { background:none; outline:0; }
 /****/
.control-height {
    height: 375px;
    overflow: hidden;
}
.sibme-logo-box{
    object-fit: contain !important;
}
.thumbnail_e {
    background: #e0e0e0;
    height: 65px;
    margin: -1px 0 0 0px;
    border-radius: 4px;
    text-align: center;
    position: relative;
    width: 37%;
    float: left;
}

.title_cls {
    width: 58%;
    float: left;
    margin-left: 5%;
    color: #010101;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gfile_icon {
    display: flex;
    width: 100%;
    text-align: center;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.gfile_icon img {
    max-width: 30px;
}
.thumbnail_e.audio_thumbnail {
    background: white !important;
    border: 1px solid #e1e1e1;
}
.disableButton{
    opacity: 0.2;
}

.errorButton{
    opacity: 0.2;
}
.ass_left ol,
.ass_left ul {
    line-height: 12px !important
}
.tooltip-inner{
    white-space: pre;
}

.img_box img:hover{
	z-index: 11;
	transition: all 1s linear;
}

.img_box img{
	animation-name: fadeIn 1s;
	transition: all 1s linear;
}

.ass_left .ani2.aniheading {
    margin-top: 40px;
}

.ass_left .ani2.aniheading {
    margin-top: 40px;
}

.ass_left .anib {
    margin: 10px 0;
}

.ass_left .ani2.aniheading {
    margin-top: 40px;
}

.ass_left .anib {
    margin: 10px 0;
}

.ass_left .ani2.aniheading {
    margin-top: 40px;
}

.ass_left .anib {
    margin: 10px 0;
}

.ass_left .anib {
    margin: 10px 0;
}

.hide-desc-forcefully {
    position: absolute;
    visibility: hidden;
    display: block;
    /* top: -9999px;
    left: -9999px; */
}

.ql-editor {
    padding-bottom: 0 !important;
}

.hu_move ul {
    min-width: 88px;
    right: 0 !important;
    left: inherit !important;
}

.hu_move img {
    max-width: 22px;
    position: relative;
    top: 10px;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }


.cls_row2 .form-control {
    margin-bottom: 24px;
}


.rw_full .col-md-4{    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;}
	

@media(max-width:1200px){
.rw_full .col-md-4{    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;}

}

.word-break{
    word-break: break-all;
}

.resource_thumb img {
    height: 113px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
}