<div class="container bred_an">
  <div class="">
      <a [routerLink]="['/']">{{translations.home_global}}</a> <img src="assets/img/breadcrumarrow.svg"> <a
          [routerLink]="['/account-settings']">{{translations.account_settings_all}}</a> <img
          src="assets/img/breadcrumarrow.svg">
      <span><b>{{translations.frameworks_angular_rubrics}}</b> </span>
  </div>
</div>
<ng-container *ngIf="loading">
<div class="container box_outer">
  <div class="box_whcls row">
  <div class="col-12">
       <div class="row panl_heading">
   
      <div class="col-8">
        <h3 class="g_ani2 gn1"></h3>
      </div>
      
      <div class="col-4 bk_goal2">
      <span class="g_ani2 gn2"></span>
       </div>                  
        
      </div>
      
      <div class="row r_butn">
        <div class="col-md-12">
        
         <span class="g_ani2 gn7"></span>
         <span class="g_ani2 gn7"></span>
         <span class="g_ani2 gn7"></span>
         <span class="g_ani2 gn7"></span>
         <span class="g_ani2 gn7"></span>
         
        </div>
      </div>
      
      
     <div class="row frame_details">
      <div class="col-md-6 frame_left">
      
       <label> <span class="g_ani2 gn8"></span> </label>
       <span class="g_ani2 gn9"></span>
       
       <label> <span class="g_ani2 gn8"></span> </label>
       <span class="g_ani2 gn9"></span>
       
       
        <label> <span class="g_ani2 gn8"></span> </label>
       <span class="g_ani2 gn9"></span>
       
      </div>
      
      <div class="col-md-6 frame_right">
        <div class="rub_group">
        
        <div class="rub_box">
         <span class="g_ani2 gn10"></span>
        </div>
        <div class="rub_box">
         <span class="g_ani2 gn10"></span>
        </div>
        
        <div class="rub_box" >
          <span class="g_ani2 gn10"></span>
        </div>
        
         <div class="rub_box" >
          <span class="g_ani2 gn10"></span>
        </div>
        
        
        
        </div>
        
      </div>     
      
      
      
     </div>
   
   
   
  </div>
  
  </div>
  
  </div>

</ng-container>

<div class="container box_outer" *ngIf="!loading">
  <div class="box_whcls row">
    <div class="col-12">
      <div class="row panl_heading">
        <div class="col-8">
          <h3>{{translations.framework_angular_rubrics}} - {{is_duplicate ? duplicate_framework_data.duplicate_framework_name : framework_settings.framework_name}}</h3>
        </div>

        <div class="col-4 bk_goal2">
          <a routerLink="/account-settings/rubrics"><img src="assets/rubrics/img/left-arrow.svg"> {{translations.back_to_frameworks_angular_rubrics}}
          </a>
        </div>


      </div>

      <div class="row r_butn">
        <div class="col-md-12">

          <button (click)="addrow()">
            <img src="assets/rubrics/img/plus_icon.svg">
          </button>

          <button (click)="deleteRow()">
            <img src="assets/rubrics/img/minus_icon.svg">
          </button>

          <button (click)="indentRow()">
            <img src="assets/rubrics/img/sort1.svg">
          </button>


          <button (click)="outdentRow()">
            <img src="assets/rubrics/img/sort2.svg">
          </button>

          <button (click)="downRow()">
            <img src="assets/rubrics/img/sort3.svg">
          </button>

          <button (click)="upRow()">
            <img src="assets/rubrics/img/sort4.svg">
          </button>

        </div>
      </div>


      <div class="row frame_details">
        <div class="col-md-6 frame_left">
          <label>{{translations.prefix_angular_rubrics}}<span *ngIf="prefix_check">{{prefix_maxChars-prefix.length +"/"+prefix_maxChars}}</span></label>
          <input type="text" id="prefix" [(ngModel)]="prefix"  (input)="inputValue($event)" [maxlength]="prefix_maxChars" (click)="prefixCheck()"  (paste)="preventSpacesFromPaste($event)" (cut)="preventSpacesFromPaste($event)" [disabled]="index < 0 || index > standards.length || index === null" class="form-control bold_500">
          <label>{{translations.standard_text_angular_rubrics}} <span *ngIf="standard_check">{{maxChars-standard_text.length +"/"+maxChars}}</span></label>
          <textarea  id="standard_text" [(ngModel)]="standard_text" (input)="inputValue($event)"  (click)="standardCheck()"[disabled]="index < 0 || index > standards.length || index === null" [maxlength]="maxChars" class="form-control bold_500"></textarea>
          <label *ngIf="analytics_label">{{translations.standard_analytics_label_angular_rubrics}}<span *ngIf="analytic_check">{{analytic_maxChars-standard_analytics_label.length +"/"+analytic_maxChars}}</span></label>
          <input id="analytics_label" *ngIf="analytics_label"  [(ngModel)]="standard_analytics_label" (input)="inputValue($event)" [maxlength]="analytic_maxChars" (click)="analyticCheck()"  (paste)="preventSpacesFromPaste($event)" (cut)="preventSpacesFromPaste($event)" type="text" [disabled]="index < 0 || index > standards.length || index === null" class="form-control bold_500">

        </div>
      
        <div class="col-md-6 frame_right custom-scroll"  >
          <!-- <div class="slimscroll-container" slimScroll [options]="opts" [scrollEvents]="scrollEvents"> -->
          <div  class="rub_group" dragula="standard" [(dragulaModel)]="standards">
            
            <ng-container *ngFor="let value of standards | slice: 0; let i = index">
              <div class="rub_box rl_{{value.standard_level}}" (click)="selectRow(i)" [ngClass]="{'las_ru':index === i}">
                <img src="assets/rubrics/img/three_line.svg" (click)="hashCheck($event)" class="ru_img">
                <label class="checkboxcls" *ngIf="value.standard_level === checkbox_level">
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <span class="r_nu">{{value.prefix}}</span> 
                <span class="r_p">{{value.standard_text}}</span>
              </div>
            </ng-container>
           
          </div>
         <!-- </div> -->
        </div>
         

        <div class="col-12">
          <div class="rub_btn">
            <button class="ru_cancel" (click)="loadFilterDialogUpdate(dialoguebox)">{{translations.cancel_angular_rubrics}}</button>
            <button class="ru_prev" (click)="pervious()">{{translations.previous_angular_rubrics}}</button>
            <button class="ru_save"  (click)="save()">{{translations.save_angular_rubrics}}</button>
            <div class="rub_savp" >
              <div class="rsort" dropdown>
                <button type="button" class="dropdown-toggle" dropdownToggle data-toggle="dropdown">
                  <img src="assets/rubrics/img/down_angle.svg" width="6">
                </button>
                <div class="dropdown-menu" *dropdownMenu >
                  <a class="dropdown-item" (click)="publish()">{{translations.save_publish_angular_rubrics}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #dialoguebox>
  <!-- <div  class="modal fade " >
    <div class="modal-dialog" style="max-width:500px;"> -->
    
      <div class="modal-content">
        <div class="modal-header">
         <h4 *ngIf="!edit_mode && !is_duplicate && !duplicate_framework_data" class="modal-title"><b>{{translations.cancel_framework_angular_rubrics}}</b></h4>
         <h4 *ngIf="edit_mode && !is_duplicate && !duplicate_framework_data" class="modal-title"><b>{{translations.cancel_framework_edit_angular_rubrics}}</b></h4>
         <h4 *ngIf="is_duplicate ||duplicate_framework_data" class="modal-title"><b>{{translations.cancel_duplicate_framework_angular_rubrics}}</b></h4>
         <button type="button" class="close" data-dismiss="modal" (click)="this.modalRef.hide();">&times;</button>
         
        </div>
        <div *ngIf="!edit_mode && !is_duplicate && !duplicate_framework_data">
          <div class="modal-body">
          <div class="short_msg">
          <p>{{translations.are_you_sure_adding_new_framework_angular_rubrics}}<br>
              {{translations.this_cant_be_undone_angular_rubrics}}</p>
          </div>
          </div>
        </div>
        <div *ngIf="edit_mode && !is_duplicate && !duplicate_framework_data">
          <div class="modal-body">
          <div class="short_msg">
          <p>{{translations.are_you_cancel_editing_framework_angular_rubrics}}<br>
              {{translations.this_cant_be_undone_angular_rubrics}}</p>
          </div>
          </div>
        </div>
        <div *ngIf="is_duplicate ||duplicate_framework_data">
          <div class="modal-body">
          <div class="short_msg">
          <p>{{translations.are_you_sure_like_to_cancel_duplicate_angular_rubrics}}<br>
            {{translations.this_cant_be_undone_angular_rubrics}}</p>
          </div>
          </div>
        </div>
        <div class="modal-footer footerm">
          
           
              <div class="col-12 share_btn">
                 
                   <button type="button" class="btn bgnone" data-dismiss="modal" (click)="this.modalRef.hide();">{{translations.cancel_angular_rubrics}}</button>
                   <button type="button" class="btn btn-success" (click)="navigateTo();this.modalRef.hide()">{{translations.ok_angular_rubrics}}</button>
              </div>
            
         
         
        <!-- </div>
      </div> -->
  
    </div>
  </div>
  </ng-template>
  