	<div class="row box_main">
		<div class="col-md-3 ac_box" *ngFor="let config of details" [tooltip]="config?.title === translation?.huddle_created? translation?.huddle_created_tooltip : false">
		  <div class="img_bx">
		  <img [attr.src]="config?.iconUrl">
		  </div>
		  <p>{{config?.title}}</p>
		  <strong>{{config?.value}}</strong>
		</div>
	  </div>
	