.box_main { margin:0;}

.ac_box{
	border: 1px solid #DAD6CE;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 27px 5px 20px 5px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 22.6%;
    flex: 0 0 22.6%;
    max-width: 24%;
	margin: 1.2%;
}
	
.ac_box strong{ font-size:18px;}
.ac_box p {    text-align: center;   margin: 20px 0 7px 0;     font-size: 14px;}
.ac_box strong{margin: 0;
    font-weight: 800;
	font-size: 26px;}
	.img_bx{
        height: 60px !important;
    }
.img_bx img { max-width:60px; }