<div style="width: 500px; margin-left:25px">
<form method = "post" action="<?php echo $this->base ?>/huddles/admin">
	
	emails: <textarea name='emails' id="emails" ></textarea> </br></br>
	
	<input type="submit" value="Submit">
	
</form>
</div>