<h1>Test</h1>

<?php 
	
	$thumbnail_image_path = $this->Custom->getSecureAmazonCloudFrontUrl("uploads/34/1981/2015/01/24/vE9MBTEDRCSwiF8tLOJgIMG0120_thumb_00001.png");

	$video_path = $this->Custom->getSecureAmazonCloudFrontUrl("uploads/34/1981/2015/01/24/vE9MBTEDRCSwiF8tLOJgIMG0120_enc.mp4");

?>

<video id="vid" class="video-js vjs-default-skin" controls preload="none" width="640" height="264" poster="<?php echo $thumbnail_image_path; ?>" >
    <source src="<?php echo $video_path; ?>" type='video/mp4'/>
</video>
<br />
<canvas id="canvas" width="640" height="16"></canvas>

