@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic.css';
@import '~ngx-bootstrap/datepicker/bs-datepicker.css';
@import '~ngx-toastr/toastr.css';
@import '~font-awesome/css/font-awesome.css';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~video.js/dist/video-js.min.css';
@import '~nouislider/distribute/nouislider.min.css';
@import '~animate.css/animate.min.css';
@import '~angular-tree-component/dist/angular-tree-component.css';
@import '~quill/dist/quill.snow.css';
@import '~@ng-select/ng-select/themes/material.theme.css';
@import '~ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.min.css';
@import '~ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.min.css';
@import '~dragula/dist/dragula.css';
.node-content-wrapper-focused {
    background-color: none !important;
}

.node-content-wrapper-active, .node-content-wrapper.node-content-wrapper-active:hover, .node-content-wrapper-active.node-content-wrapper-focused {
    background-color: none !important;
}

.node-content-wrapper-active, .node-content-wrapper-focused, .node-content-wrapper:hover {
    box-shadow: none !important;
}

body {
    /* color: #757575 !important; */
    font-size: 90% !important;
    font-weight: normal;
    font-family: 'Roboto' !important;
    background: #f3f2ea !important;
}

div.clear {
    clear: both;
}

.container {
    max-width: 1027px !important;
    margin: 0px auto !important;
    float: none !important;
    overflow: unset;
}

/* workspace 1500px */

@media screen and (min-width:1280px) {
    .container {
        max-width: 1200px !important;
        padding: 0 15px !important;
    }
}

@media screen and (min-width:1500px) {
    .container {
        max-width: 1450px !important;
        padding: 0 15px !important;
    }
}

.btn:hover {
    cursor: pointer;
}

a {
    cursor: pointer;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.sibme-animation {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    position: relative;
}

.box_outer {
    background: #fff;
    border-radius: 5px;
    margin-top: 15px !important;
    margin-bottom: 20px !important;
    /* border: 1px solid #dad6ce;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
    box-shadow: 0 0 5px rgba(0,0,0,.1); */
    /* padding: 10px 20px 20px; */
}

.bred_an {
    font-size: 14px;
    position: relative;
    top: 13px;
    color: #4d504d !important;
    padding: 0 0 11px !important;
}

.bred_an img {
    margin: 0 15px;
}

.bred_an a {
    color: #838383!important;
    font-weight: 400;
}

.bred_an a:last-child {
    color: #484848!important;
    font-weight: 500;
}

.bred_an span:last-child {
    color: #484848!important;
    font-weight: 500;
}

.btn.active {
    z-index: 0 !important;
}

.language_sp #header div.user_newDropDown ol {
    width: 143px !important;
    min-height: 104px !important;
    padding-left: 8px !important;
    margin-left: 0 !important;
}

.language_sp .model-copy .nav-tabs a {
    padding: 6px 8px !important;
    font-size: 13px !important;
}

.word-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.word-break {
    word-break: break-all;
}

.break-word {
    word-break: break-word;
}

#loading-bar .bar {
    background: #33ba3a;
    height: 4px;
}

#loading-bar-spinner .spinner-icon {
    width: 18px;
    height: 18px;
    border: solid 4px transparent;
    border-top-color: #cadd22;
    border-left-color: #cadd22;
    border-radius: 10px;
}

.coach_bx2 .owl-nav .owl-prev {
    background: 0 !important;
    color: darkgray !important;
    padding: 0 !important;
    position: absolute;
    left: -40px;
    top: -1px;
}

.coach_bx2 .owl-nav .owl-next {
    background: 0 !important;
    color: darkgray !important;
    padding: 0 !important;
    position: absolute;
    right: -40px;
    top: -1px;
}

.coach_bx2 .owl-nav [class*=owl-]:hover {
    background: none;
    color: #000;
    text-decoration: none;
    outline: 0;
}

.coach_bx2 .owl-nav [class*=owl-] {
    font-size: 34px !important;
}

app-assessment-main .ngx-pagination .pagination-previous {
    opacity: 1 !important;
    top: auto !important;
    height: auto !important;
    width: auto !important;
}

app-assessment-main pagination-controls {
    width: 100%;
    text-align: center;
}

app-assessment-main .ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before {
    content: '' !important;
}

app-assessment-main .ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after {
    content: '' !important;
}

app-assessment-main .ngx-pagination a:hover, .ngx-pagination button:hover {
    background: none !important;
    text-decoration: none;
    outline: none;
}

app-assessment-main .ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: none;
    color: #2199e8;
    cursor: default;
}

app-coaching-detail .ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: none;
    color: #2199e8;
    cursor: default;
}

app-assessment-main .ngx-pagination .pagination-previous.disabled {
    opacity: 1 !important;
    top: auto !important;
    height: auto !important;
    width: auto !important;
}

app-assessment-main .ngx-pagination .pagination-previous a, .pagination-previous span {
    display: inherit !important;
}

app-assessment-main .ngx-pagination .pagination-next {
    opacity: 1 !important;
    top: auto !important;
    height: auto !important;
    width: auto !important;
}

app-assessment-main .ngx-pagination .pagination-next.disabled {
    opacity: 1 !important;
    top: auto !important;
    height: auto !important;
    width: auto !important;
}

app-assessment-main .ngx-pagination .pagination-next a, .pagination-next span {
    display: inherit !important;
}

.tip_font {
    font-size: 11.5px !important;
}

.owl-carousel.owl-drag .owl-item {
    max-width: 162px;
}

.video-js .vjs-picture-in-picture-control {
    display: none !important;
}

#mainVideo .vjs-fullscreen-control {
    display: none !important;
}

#mainVideo .vjs-control-bar .vjs-fullscreen-control {
    display: block !important;
}

.try-again-container {
    display: flex;
    align-items: center;
    font-family: Roboto !important;
    font-weight: 500;
    color: #c12112;
}

.try-again-message {
    margin-left: 8px;
}

.try-again-btn {
    margin-left: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.disable-container {
    pointer-events: none;
    opacity: 0.5;
}

.fsp-picker__brand-container {
    display: none !important;
}

/* filestack upload icon issue resolved */

.fsp-navbar--video {
    background-repeat: no-repeat !important;
}

audio {
    height: 30px;
    width: 400px;
}

.auto-play-on-off-container {
    padding: 2px 7px 2px 8px;
    cursor: pointer;
    border-radius: 4px;
    float: right;
    border: 1px solid #dddddd;
    margin-right: 5px;
}

.video-must-longer-tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    bottom: 6px;
    right: 132px;
}

.fake-player-btn {
    width: 22px;
    cursor: default;
}

.transcode-audio-message {
    font-style: italic;
    font-family: 'Roboto-Regular';
    color: #313131;
    background-color: #ececec;
    height: 25px;
    text-align: center;
    border-radius: 25px;
    padding-top: 3px;
}

.video-js .btn-large {
    font-size: 15px;
}

.video-js span.hide-media-forward-button-tooltip, span.hide-media-backward-button-tooltip {
    display: none;
}

.video-js span.media-forward-button-tooltip {
    position: absolute;
    left: 4px;
    font-size: 12px;
    background-color: rgb(15, 15, 15);
    padding: 5px 10px;
    border-radius: 4px;
    width: 97px;
    bottom: 26px;
}

.video-js span.media-backward-button-tooltip {
    position: absolute;
    left: 0;
    font-size: 12px;
    background-color: rgb(15, 15, 15);
    padding: 5px 10px;
    border-radius: 4px;
    width: 97px;
    bottom: 26px;
}

.video-js span.media-forward-button-tooltip::after, span.media-backward-button-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.video-js span.media-backward-button-tooltip::after {
    left: 40% !important;
}

.modal .comment-end-time-popup, .modal .max-limit-popup {
    max-width: 560px;
}

.modal .comment-end-time-popup .modal-header, .modal .max-limit-popup .modal-header {
    border-bottom: none;
    padding: 1rem 1rem 0 1rem;
}

.modal .comment-end-time-popup .modal-body, .modal .max-limit-popup .modal-body {
    padding: 1rem 1rem 2rem 1rem;
}

.modal .comment-end-time-popup .info-red-svg, .modal .max-limit-popup .info-red-svg {
    margin-right: 10px;
}

.stop-upload-tooltip {
    width: 120px;
    margin-bottom: 3px !important;
}

.audio-record-tooltip {
    width: 170px !important;
}

.pl-unique-desc-modal-650 {
    max-width: 650px !important;
}

.pl-unique-desc-modal-900 {
    max-width: 900px !important;
}

.pl-unique-desc-modal-1200 {
    max-width: 1200px !important;
}

.pl-unique-desc-modal-1450 {
    max-width: 1450px !important;
}

/*Toaster styling for live streaming alert*/

.live_re_msg p {
    font-weight: normal;
}

.notification_cross {
    position: absolute;
    right: 8px;
    top: 5px;
    font-weight: normal;
    z-index: 15;
}

.icon_box_notification {
    margin: -16px 0px 0 -50px;
    padding: 22px 13px 13px 13px;
    background: #DD554B;
    float: left;
    width: 30%;
    text-align: center;
    height: 113px;
    margin-bottom: -64px;
}

.modalcls2 {
    max-width: 700px !important;
}

.noteificationRight {
    float: right;
    width: 72%;
    margin: -11px 16px -18px 0;
}

.noteificationRight p {
    font-size: 13px;
    margin: 8px 0 0 0;
    height: 39px;
    overflow: hidden;
}

.crop-modal-container {
    max-width: 700px !important;
}

.share-modal-container {
    max-width: 640px !important;
}

.rename-modal-container {
    max-width: 600px !important;
}

.delete-modal-container {
    max-width: 500px !important;
}

.duplicate-modal-container {
    max-width: 500px !important;
}

.evidance-modal-container {
    max-width: 900px !important;
}

.e-framework-modal-container {
    max-width: 600px !important;
}

.e-delete-modal-container {
    max-width: 700px !important;
}

.collab-delete-modal-container {
    max-width: 700px !important;
}

.collaborators-modal-container {
    max-width: 900px !important;
}

.owner-modal-container {
    max-width: 700px !important;
}

.modal-container-500 {
    max-width: 500px !important;
}

.modal-container-700 {
    max-width: 700px !important;
}

.modal-container-750 {
    max-width: 750px !important;
}

.modal-container-600 {
    max-width: 600px !important;
}

.language_sp .sp-label {
    width: 150px !important;
}

.url-artifact-modal-container {
    max-width: 550px !important;
}

.language_sp .sp-more-settings {
    padding-left: 30px !important;
}

.ql-container {
    color: #000000 !important;
}

/* primeng table styles start */

thead.ui-table-thead th {
    padding: 23px 10px !important;
    font-family: "Roboto";
    font-weight: 400 !important;
    text-align: center;
    color: #555 !important;
    background: #ebedf0 !important;
    word-wrap: break-word;
}

.ui-table-thead tr th:first-child, .ui-table-tbody tr td:first-child {
    background: #ffffff !important;
    text-align: left;
}

tbody.ui-table-tbody tr {
    text-align: center;
    font-family: "Roboto";
    font-size: 13px;
}

tbody.ui-table-tbody tr td {
    word-wrap: break-word;
}

.ui-paginator {
    padding: 24px 14px 6px 1px !important;
    text-align: left;
}

.ui-table-tbody .rowSelected {
    background: #dbedff !important;
}

.custom-frozen {
    position: sticky;
    left: -2px;
}

/* primeng table styles start */

.editorbottom .ql-container {
    height: 250px !important;
    color: #000000;
}

.quil-container .ql-container {
    height: 250px !important;
    color: #000000;
}

.reply_editor .ql-container {
    height: 100px;
    color: #000000;
}

.not-allowed {
    cursor: not-allowed;
}

.cp {
    cursor: pointer;
}

input:focus {
    outline: none;
}

/* Goals module CSS start */

.owners-list-popup, .manage-categories-popup {
    max-width: 700px;
}

.collaborators-list-popup {
    max-width: 900px;
}

owners-list, collaborators-list, manage-categories {
    display: block !important;
    position: relative !important;
}

goals-list-details {
    width: 100%;
}

.template-color {
    background: #FF5BDA;
}

.account-color {
    background: #BD8AFF;
}

.group-color {
    background: #31C987;
}

.individual-color {
    background: #22D1E5;
}

a.simple-link, a.simple-link:hover {
    color: #212529;
    text-decoration: none;
}

.close:focus {
    outline: none;
}

/* Goals module CSS end */

.modal-container-800 {
    max-width: 800px !important;
}

.popover-custom-class {
    background: #000;
    font-size: 100%;
    width: 200px;
}

.popover-custom-class .arrow::after {
    border-top-color: #000 !important;
}

.popover-body {
    color: #ffffff;
}

.popover-custom-class a {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
}

.popover-custom-class a:hover {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
}

.box_whcls .tooltip-inner {
    max-width: 300px;
    /* If max-width does not work, using width instead */
    width: 300px;
}

.sample_detail .tooltip-inner {
    width: inherit;
}

.scroll-container {
    overflow: auto;
    max-height: 350px;
}

.ql-toolbar {
    background-color: #fff !important;
}

.ql-container {
    background-color: #fff !important;
    height: 100px !important;
}

.pdf-ql>.ql-container {
    background-color: #fff !important;
    height: auto !important;
    min-height: 100px !important;
}

.beta, .beta1 {
    background: #de2828;
    color: white;
    padding: 0px 5px;
    border-radius: 3px;
    display: inline-block;
    font-size: 12px;
}

.beta1 {
    background-color: #bcbcbc !important;
}

.disabled-beta {
    background-color: #bcbcbc !important;
}

.slimscroll-wrapper {
    max-width: 98%;
}

.selected-item {
    white-space: nowrap !important;
    text-overflow: ellipsis;
    color: #000 !important;
    background: none !important;
    border: 0 !important;
    padding: 0!important;
    font-size: 13px!important;
    max-width: 64%!important;
    overflow: hidden;
}

.dropdown-up {
    border-bottom: 5px solid #adadad!important;
    border-left: 5px solid transparent!important;
    border-right: 5px solid transparent!important;
}

.dropdown-up {
    border-bottom: 5px solid #adadad!important;
    border-left: 5px solid transparent!important;
    border-right: 5px solid transparent!important;
}

.dropdown-down {
    border-top: 5px solid #adadad !important;
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
}

.vjs-break-overlay-text {
    opacity: 0;
}

.panl_heading .col-6 {
    padding: 0 7px;
}

.new_hu_cls {
    max-width: 1300px !important;
}

.new_hu_cls2 .b1 {
    border-right: 0 !important;
}

.new_hu_cls2 {
    max-width: 900px !important;
}

.new_hu_cls1 {
    max-width: 600px !important;
}

.new_hu_cls2 .modal-body .col-md-6:last-child {
    border-left: 1px solid #ddd !important;
}

.add_user_main .dropdown-menu {
    width: -webkit-fill-available;
    margin-right: 200px !important;
}

.min_h {
    min-height: 315px;
}

.tooltip-inner {
    font-size: 13px !important;
}

.edit_scr {
    display: flex;
}

.edit_scr_img {
    min-width: 31px;
    width: 31;
    position: relative;
}

.edit_scr .tgright {
    padding-left: 0px !important;
}

.edit_scr_img .plusicon {}

.filter .multiselect-dropdown .dropdown-btn {
    padding: 8px 4px 6px 4px !important;
    height: 37px;
    border: 1px solid #ddd !important;
}

.filter .multiselect-dropdown .dropdown-btn span {
    white-space: nowrap;
    min-width: 24px !important;
    display: inline-block;
    max-width: 74% !important;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    margin-right: 0 !important;
    line-height: 21px !important;
}

.filter .multiselect-dropdown .dropdown-btn .selected-item:hover {
    box-shadow: 0px 0px #fff !important;
}

.filter .multiselect-item-checkbox {
    border-bottom: 0 !important;
}

.filter .dropdown-list li {
    border-bottom: 0 !important;
    padding: 3px 4px 9px 7px!important;
}

.filter .multiselect-item-checkbox input[type=checkbox]+div:before {
    border: 1px solid #333 !important;
    top: 10px !important;
    border-radius: 2px;
}

.filter .multiselect-item-checkbox input[type=checkbox]+div:after {
    top: 10px !important;
    left: 4px !important;
    width: 6px !important;
    height: 2px !important;
    border-color: #fff !important;
}

.filter .multiselect-item-checkbox input[type=checkbox]+div:before {
    box-sizing: content-box;
    content: "";
    color: #337ab7;
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -9px;
    text-align: center;
    transition: .4s;
    display: inline-block !important;
}

.filter .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
    background: #157EFC !important;
    border: 1px solid #157EFC !important;
}

.filter .multiselect-item-checkbox input[type=checkbox]+div {
    padding-left: 21px !important;
    font-size: 13px;
    line-height: 16px;
}

.filter .dropdown-btn {
    position: relative;
}

.filter .dropdown-btn span:last-child {}

.filter .selected-item {
    white-space: nowrap !important;
    text-overflow: ellipsis;
    color: #000 !important;
    background: none !important;
    border: 0 !important;
    padding: 0!important;
    font-size: 13px!important;
    max-width: 64%!important;
    overflow: hidden;
}

.filter ul.item1 input[type=checkbox]+div {
    line-height: 20px !important;
}

.filter div.multiselect-dropdown span.dropdown-btn span.dropdown-up {
    border-bottom: 5px solid #adadad!important;
    border-left: 5px solid transparent!important;
    border-right: 5px solid transparent!important;
    border-top: 0 !important;
}

.filter div.multiselect-dropdown span.dropdown-btn span.dropdown-down {
    border-top: 5px solid #adadad !important;
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
}

.filter .dropdown-list ul {
    overflow: hidden !important;
    height: inherit !important;
    max-height: inherit !important;
}

.filter .dropdown-list {
    overflow: auto;
}

.m_w100 {
    min-width: 100%;
}

.video-js .vjs-play-progress:before {
    border: 4px solid #fff;
    border-radius: 50%;
    color: #000;
    background: #fff;
    top: -5px;
}

.video-js .vjs-slider {
    background-color: #D5D5D5 !important;
}

.video-js .vjs-progress-holder {
    height: 6px!important;
    border-radius: 11px !important;
}

.video-js .vjs-play-progress {
    border-radius: 11px !important;
}

.video-js .vjs-load-progress div {
    border-radius: 11px !important;
}

.video_descright {
    z-index: 9;
}

.video-js .vjs-play-progress:before {
    z-index: 991 !important;
}

/*
.vjs-playback-rate .vjs-playback-rate-value {
    pointer-events: none;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    background: #fff;
    color: #000;
    border-radius: 3px;
    height: 20px;
    top: 4.5px;
    line-height: 21px;     left: 4px;
}*/

.vjs-playback-rate .vjs-playback-rate-value {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: auto;
    font-size: 11.5px !important;
    background-color: #fff;
    color: #000;
    top: 10%;
    padding: 0 3px;
    border-radius: 2px;
}

.vjs-marker {
    border-radius: 0 !important;
    width: 4px !important;
}

.vjs-progress-control {
    padding-left: 5px !important;
}

.vjs-tip .vjs-tip-inner {
    background: #fff !important;
    color: #000 !important;
    text-align: center;
    word-break: break-all !important;
    max-width: 150% !important;
    line-height: 18px !important;
    font-size: 13px;
    margin-left: 13px !important;
    margin-right: -37px !important;
    display: block !important;
    position: relative;
    left: -22px;
}

.vjs-playback-rate {
    width: 37px !important;
    position: relative;
    margin-right: 8px !important;
    margin-left: 8px !important;
    top: 1.8px !important;
}

.vjs-tip .vjs-tip-arrow {
    width: 0 !important;
    height: 0!important;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff !important;
}

.vjs-tip {
    left: 0 !important;
    right: 0 !important;
    margin: 0 !important;
    min-width: 100% !important;
    opacity: 1!important;
    text-align: left !important;
}

.vjs-tip .vjs-tip-inner {
    text-align: left !important;
}

.video-js .vjs-load-progress div {
    background: none !important;
}

.video-js .vjs-big-play-button {
    margin: 0 auto !important;
    left: 0 !important;
    right: 0!important;
    margin-top: auto!important;
    margin-bottom: auto!important;
    bottom: 0!important;
    top: 0!important;
}

.vjs-modal-dialog {
    height: 100% !important;
    bottom: 0 !important;
    z-index: 1000;
}

.video-js .vjs-time-tooltip {
    background: #fff !important;
    color: #000 !important;
    font-size: 12px !important;
    padding: 4px 8px 4px 8px !important;
    top: -3.2em !important;
}

.vjs-slider-bar .vjs-time-tooltip {
    display: none !important;
}

.vjs-break-overlay {
    bottom: 50px !important;
    top: initial !important;
}

.tooltip_vsjs {
    display: inline-block;
    border: 1.8px solid #ddd;
    padding: 4px 5px 3px 5px;
    border-radius: 3px;
    margin-bottom: 4px;
    font-weight: 600;
    color: #000;
    font-size: 14px;
}

.tooltip_vsjs img {
    margin-right: 6px;
    position: relative;
    top: -2px;
}

.vjs-tip .vjs-tip-inner {
    padding: 7px 8px 7px 8px !important;
}

.vjs-break-overlay {
    padding: 0 30px;
}

.vjs-has-started .vjs-control-bar {
    z-index: 100 !important;
}

.vjs-break-overlay .vjs-break-overlay-text {
    padding: 9px;
    text-align: center;
    background: #fff !important;
    color: #000 !important;
    border-radius: 4px;
}

.color_picker .ui-colorpicker-preview {
    width: 2.5em;
    cursor: pointer;
    height: 2.5em;
}

.rec_btn {
    padding-bottom: 20px;
}

@media screen and (max-width:1350px) {
    .new_hu_cls {
        max-width: 1000px !important;
    }
}

.scroll-to-fixed {
    z-index: 1000;
    position: fixed;
    top: 0px;
    margin-left: 0px;
}

@media screen and (max-width:1200px) {
    .filter .multiselect-dropdown .dropdown-btn span {
        display: inline;
        max-width: 64% !important;
    }
}

.filter .multiselect-dropdown .dropdown-btn .dropdown-down {
    top: 17px !important;
    right: 4px !important;
    position: absolute !important;
    min-width: 0px !important;
}

.filter .multiselect-dropdown .dropdown-btn .dropdown-up {
    top: 17px !important;
    right: 4px !important;
    position: absolute !important;
    min-width: 0px !important;
}

.liv_st {
    background-color: #fff;
}

.video-js .vjs-progress-control:hover .vjs-progress-holder {
    font-size: 1em;
}

.shared-record-video-modal {
    background-color: #ececec;
}

.mt-38 {
    margin-top: 38px !important;
}

/* //////////////       Tree Component CSS        //////////// */

tree-node-checkbox {
    order: 1;
    padding-top: 6px;
}

tree-node-expander {
    order: 0
}

.node-content-wrapper {
    order: 2
}

span.toggle-children-wrapper {
    left: -12px;
    margin-right: -7px !important;
    top: 0px !important;
}

.goal-desc h1 {
    font-size: 2em;
}

.goal-desc h2 {
    font-size: 1.5em;
}

.sticky_header_reports {
    position: sticky !important;
    top: 0 !important;
    z-index: 999 !important;
}

.scroll_hid .slimscroll-wrapper {
    max-width: 100%!important;
    padding-right: 10px;
}

.scroll_width .slimscroll-wrapper {
    max-width: 103%!important;
    width: 103%!important;
    padding-right: 10px !important;
    padding-top: 10px !important;
}

.scroll_width .slimscroll-bar {
    width: 5px!important;
}

.scroll_width .popup_scroll {
    padding-right: 0px !important;
}

.content-pdf audio, .user_comment audio {
    width: 100%;
    max-width: 100%;
    outline: none !important;
}

.comment_box .audio-recorder img {
    /* max-width: 29px;
    top: -4px; */
    position: relative;
}

tree-node-content span:last-child {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 318px;
    display: inline-block;
}

/* .folder_row img {
    width: 25px !important;
    margin-right: 10px !important;
    position: relative !important;
    top: 0px !important;
    float: left !important;
}

.folder_row {
    padding-top: 15px !important;
    font-size: 12px
}

.folder_row span img {
    float: right;
    width: 7px;
    top: 2px;
    float: right;
    margin: 0;
}

.folder_row label {
    display: inline-block;
    font-weight: 400;
    max-width: 359px;
}
*/

.tree-node {
    font-size: 15px;
    color: #000;
    font-weight: 600;
    padding-left: 15px;
    margin-bottom: 8px;
}

span.toggle-children-wrapper-collapsed>span.toggle-children {
    background: url("assets/img/plus.svg") !important;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    height: 8px;
    width: 8px;
    top: 3px;
    left: 1px;
}

span.toggle-children-wrapper-expanded>span.toggle-children {
    background: url("assets/img/minus.svg") !important;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    width: 9px;
    height: 2px;
}

span.toggle-children-wrapper {
    padding: 1px 5px 7px 3px;
    background: #057eff;
    display: inline-block;
    line-height: 0;
    position: relative;
    top: -3px;
    border-radius: 2px;
    margin-right: 6px;
    width: 16px;
}

.evi_popup .node-content-wrapper {
    width: 100% !important;
}

.bglist_all .tree-node-level-1 {
    border-bottom: 1px solid #ddd;
    background: #f7f7f7;
    margin-bottom: 0;
    padding-top: 5px;
}

.bglist_all {
    margin-top: -12px;
}

.evi_popup .expen_list .slimscroll-wrapper {
    max-width: 100% !important;
}

.add_wps .node-content-wrapper {
    width: 100%;
    font-weight: 400;
}

.add_wps .tree-node-level-1, .evi_popup .tree-node-level-1 {
    border-bottom: 1px solid #ddd;
    position: relative;
}

.text-layer-pdf-page, .annotation-layer-pdf-page {
    margin-bottom: 8px !important;
}

	.add_wps .tree-node-level-1, .evi_popup .tree-node-level-1{    border-bottom: 1px solid #ddd;  position: relative;}

    .goal-type .multiselect-item-checkbox input[type=checkbox] + div:before {
        border-radius: 3px;
        width: 12px !important;
        height: 12px !important;
        border: 1px solid #333 !important;
    }

    .goal-type .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret:before {

        border-width: 4px 4px 0 !important;
        border-color: #000 transparent !important;

    }

    .goal-type .multiselect-item-checkbox input[type=checkbox] + div:after {
    top: 10px !important;
    left: 3px !important;
    border-width: 0 0 2px 2px !important;
    width: 6px !important;
    height: 2px  !important;
    }

        .goal-type .dropdown-multiselect--active span{
            position: relative;
            right: 4px;
}

/* .goal_type .dropdown-btn{
    border: 1px solid #ddd !important;
    background-color: #f8f8f8 !important;
} */


.goal-type .multiselect-dropdown .dropdown-btn {

    border: 1px solid #ddd !important;
    background-color: #f8f8f8 !important;
}


 .assessment_list  .ng-scrollbar-wrapper {
    --scrollbar-thumb-color: rgb(3, 149, 66) !important;
    --scrollbar-thumb-hover-color: rgb(3, 149, 66) !important;
 }
.text-layer-pdf-page:last-child, .annotation-layer-pdf-page:last-child {
    margin-bottom: 0 !important;
}

#outBox{
    cursor: pointer;
}

.custom-scrollbar-css {
    overflow: auto !important ;
    overflow-x: hidden !important;
    /*scroll-behavior: smooth;*/
    padding-right: 5px;
}
.custom-scrollbar-css::-webkit-scrollbar {
   width: 6px; height:6px;
}
.custom-scrollbar-css::-webkit-scrollbar-thumb {
    background-color: #28A745 !important;
    opacity: 0.8;
    border-radius: 20px;
    height: 6px;
    min-height: 20px;
}



.custom-scrollbar-css {
    overflow: auto !important ;
    overflow-x: hidden !important;
    /*scroll-behavior: smooth;*/
    padding-right: 5px;
}
.custom-scrollbar-css ::-webkit-scrollbar {
    width: 6px; height:6px;
}
.custom-scrollbar-css ::-webkit-scrollbar-thumb {
    background-color: #28A745 !important;
    opacity: 0.8;
    border-radius: 20px;
    height: 6px;
    min-height: 20px;
}
.user_comment p p, .comment-body #outBox p {
    margin-bottom: 0 !important;
}
.text-tool-div p {
    margin-bottom: 0 !important;
}
pdf-add-comment .ql-editor
{
    white-space: break-spaces;
}

