<div class="box_whcls">
    <div class="container">
        <div class="box_outer">
            <div class="row panl_heading">
                <div class="col-8">
                    <h3>{{pdf_name}}</h3>
                </div>

                <div class="col-4 right_opt">

                    <!-- <button *ngIf="pageType == 'workspace-video-page'" [routerLink]="['/workspace/workspace/home/grid']"> <img src="assets/pdf/img/left-arrow.svg"> {{translations?.vd_backtoworkspace}}</button>
                    <button *ngIf="pageType == 'huddle-video-page'" [routerLink]="['/video_huddles/list']"> <img src="assets/pdf/img/left-arrow.svg"> {{translations?.back_to_huddle_listing}}</button> -->
                    <span class="beta_cls">Beta</span>
                </div>


            </div>

            <div class="pdf_tools">
                <div class="left_tools">
                    <button><img class="tools_opacity" src="assets/pdf/img/Tool-ThumbnailPanel.svg"></button>
                    <!-- <button (click)="pdfPreviewDiv = !pdfPreviewDiv"><img src="assets/pdf/img/Tool-ThumbnailPanel.svg"></button> -->
                    <span class="t_div"></span>
                    <button><img class="tools_opacity" src="assets/pdf/img/Tool-Rotate.svg"></button>
                    <select [(ngModel)]="pdfCurrentScale" (ngModelChange)="updatePDFScale($event)">
                        <option id="pageAutoOption" title="" value="auto" selected="selected">Automatic Zoom</option>
                        <option id="pageActualOption" title="" value="page-actual">Actual Size</option>
                        <option id="pageFitOption" title="" value="page-fit">Page Fit</option>
                        <option id="pageWidthOption" title="" value="page-width">Page Width</option>
                        <option id="customScaleOption" title="" value="{{pdfCurrentScale}}" [hidden]="pdfAllowedScale.includes(pdfCurrentScale)" [disabled]="pdfAllowedScale.includes(pdfCurrentScale)">{{(pdfCurrentScale * 100).toFixed(0) + "%"}}</option>
                        <option title="" value="0.1">10%</option>
                        <option title="" value="0.25">25%</option>
                        <option title="" value="0.5" >50%</option>
                        <option title="" value="0.75">75%</option>
                        <option title="" value="1">100%</option>
                        <option title="" value="1.25">125%</option>
                        <option title="" value="1.5">150%</option>
                        <option title="" value="2">200%</option>
                        <option title="" value="3">300%</option>
                        <option title="" value="4">400%</option>
                        <option title="" value="5">500%</option>
                    </select>
                    <button><img src="assets/pdf/img/Tool-ZoomIn.svg" (click)="zoomIn()"></button>
                    <!--(click)="zoomIn()"-->
                    <button><img src="assets/pdf/img/Tool-ZoomOut.svg" (click)="zoomOut()"></button>
                    <!--(click)="zoomOut()"-->
                    <button (click)="handToolActivate = !handToolActivate; handTool()" [attr.disabled]="viewer_mode == 'true' ? 'disabled' : null" [ngClass]="{'selectedToolBg':handToolActivate === true}"><img src="assets/pdf/img/Tool-Pan.svg"></button>
                    <button><img src="assets/pdf/img/Tool-Info.svg" (click)="openFileInfoModal()"></button>
                    <span class="t_div"></span>
                    <button [tooltip]=[translations.dc_only_note] [disabled]="viewer_mode == 'true' ? true : false" [ngClass]="{'selectedToolBg':currentAction === 'text-comment'}" [class.selected]="currentAction === 'text-comment'" (click)="changeActionBtn('text-comment'); pdfCommentDiv = true"> <img src="assets/pdf/img/Tool-Comment.svg"></button>
                    <button [tooltip]=[translations.dc_rectangle] [disabled]="viewer_mode == 'true' ? true : false" [ngClass]="{'selectedToolBg':currentAction === 'rect-comment'}" [class.selected]="currentAction === 'rect-comment'" (click)="changeActionBtn('rect-comment'); pdfCommentDiv = true"><img src="assets/pdf/img/Tool-Rectangle.svg"></button>
                    <button [tooltip]=[translations.dc_circle] [disabled]="viewer_mode == 'true' ? true : false" [ngClass]="{'selectedToolBg':currentAction === 'ellipse-comment'}" [class.selected]="currentAction === 'ellipse-comment'" (click)="changeActionBtn('ellipse-comment'); pdfCommentDiv = true"><img src="assets/pdf/img/Tool-Circle.svg"></button>
                    <button [tooltip]=[translations.dc_arrow] [disabled]="viewer_mode == 'true' ? true : false" [ngClass]="{'selectedToolBg':currentAction === 'line-comment'}" [class.selected]="currentAction === 'line-comment'" (click)="changeActionBtn('line-comment'); pdfCommentDiv = true"><img src="assets/pdf/img/Tool-Arrow.svg"></button>
                    <button [tooltip]=[translations.cf_text] [disabled]="viewer_mode == 'true' ? true : false" [ngClass]="{'selectedToolBg':currentAction === 'textbox-comment'}" [class.selected]="currentAction === 'textbox-comment'"
                            (click)="changeActionBtn('textbox-comment'); pdfCommentDiv = true"><img src="assets/pdf/img/Tool-Text.svg"></button>
                    <button [disabled]="viewer_mode == 'true' ? true : false"><img class="tools_opacity" src="assets/pdf/img/Tool-Pencil.svg"></button>
                    <!-- <button [disabled]="viewer_mode == 'true' ? true : false" [ngClass]="{'selectedToolBg':currentAction === 'freeDrawing-comment'}" [class.selected]="currentAction === 'freeDrawing-comment'"
                            (click)="changeActionBtn('freeDrawing-comment'); pdfCommentDiv = true"><img src="assets/pdf/img/Tool-Pencil.svg"></button> -->
                    <button [disabled]="viewer_mode == 'true' ? true : false"><img class="tools_opacity" src="assets/pdf/img/Tool-Highlighter.svg"></button>
                    <span class="t_div"></span>

                    <button [disabled]="viewer_mode == 'true' ? true : false"><img class="tools_opacity" src="assets/pdf/img/Tool-Eraser.svg"></button>
                    <button [disabled]="viewer_mode == 'true' ? true : false"><img class="tools_opacity" src="assets/pdf/img/Tool-Undo.svg"></button>
                    <button [disabled]="viewer_mode == 'true' ? true : false"><img class="tools_opacity" src="assets/pdf/img/Tool-Redo.svg"></button>
                </div>

                <div class="right_tools">
                    <span class="t_div"></span>
                    <button (click)="pdfSearchDiv = !pdfSearchDiv;hideLineAnnot(); clearSearch();" class="t_search" [ngClass]="{'selectedToolBg':pdfSearchDiv === true}"><img src="assets/pdf/img/Tool-Search.png"></button>
                    <button (click)="pdfCommentDiv = !pdfCommentDiv; onScrollComments(); updateCurrentTab(0); changeFramworkSettingTab(0);" class="t_comment" [ngClass]="{'selectedToolBg':pdfCommentDiv === true}"><img src="assets/pdf/img/chat_s.svg"></button>

                    <div *ngIf="documentDetail && optionMainCheck" class="ac_op dropdown" dropdown>
                        <span dropdown>
                            <button type="button" id="button-basic" dropdownToggle>
                                <img src="assets/video-huddle/img/dots_dark.svg" width="30">
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="button-basic">
                                <a *ngIf = "documentPermissions('share')" class="dropdown-item"
                                    (click)="openNewShareModal()">{{translations?.artifact_share}}</a>
                                <a *ngIf = "documentPermissions('rename')" class="dropdown-item"
                                    (click)="openRenameModal()">{{translations?.artifact_rename}}</a>
                                <a *ngIf = "documentPermissions('download')" class="dropdown-item"
                                    (click)="DownloadResource(documentDetail)">{{translations?.artifact_download}}</a>
                                <a *ngIf = "documentPermissions('downloadWithAnnotation')" class="dropdown-item"
                                    (click)="DownloadResourceAnnotation(documentDetail)">Download with Annotation</a>
                                <a *ngIf = "documentPermissions('duplicate')" class="dropdown-item"
                                    (click)="OpenDuplicateResourceModal(documentDetail)">{{translations?.artifact_duplicate}}</a>
                                <a *ngIf = "documentPermissions('delete')" class="dropdown-item"
                                    (click)="OpenDeleteModal()">{{translations?.artifact_delete}}</a>
                            </ul>
                        </span>
                    </div>
                </div>

            </div>

            <div class="row pdf_view">
                <div [hidden]="!loaded" #spdfBody class="spdf-body">
                    <div [style.display]="pdfPreviewDiv === true && activeBtn != 2?'block':'none'" id="pdfPreview" class="col-2 maxHeightOverflow pt-4"></div>
                    <div [ngClass]="[pdfCommentDiv == false && pdfPreviewDiv == false && (activeBtn == 0 || activeBtn == 1) ? 'col-12' : '', pdfPreviewDiv == false &&  (activeBtn == 0 || activeBtn == 1) ? 'col-8' : 'col-5', pdfPreviewDiv == true && pdfCommentDiv == false &&  (activeBtn == 0 || activeBtn == 1) ? 'col-8' : 'col-5']">


                        <!--  DOCUMENT SEARCH DIV -->
                        <div *ngIf="pdfSearchDiv" class="search_outer" [ngClass]="{'displayBlockImp':activeBtn == 2}">
                            <div class="arch_search">
                                <input type="text" placeholder="Search PDF..." [(ngModel)]="find.searchString" (ngModelChange)="onSearch()">
                                <button *ngIf="find.searchString" type="button" class="close" (click)="clearSearch();">&times;</button>
                                <img src="assets/img/search_icon.png" *ngIf="!find.searchString">
                            </div>

                            <div class="search_type">
                                <input type="checkbox" [(ngModel)]="find.caseSensitive" (click)="find.caseSensitive = !find.caseSensitive;onSearch()" /><label>case sensitive </label>
                                <input type="checkbox" [(ngModel)]="find.entireWord" (click)="find.entireWord = !find.entireWord;onSearch()" /><label>whole word </label>
                            </div>

                            <div class="right_search">
                                {{find.totalMatches}} Search Results
                                <button (click)="nextSearch()"> <svg xmlns="http://www.w3.org/2000/svg" width="12.112" height="10.58" viewBox="0 0 12.112 10.58">
                                    <g id="Group_1628" data-name="Group 1628" transform="translate(1.379 9.201) rotate(-90)">
                                        <line id="Line_44" data-name="Line 44" x1="7.821" y2="4.932" fill="none" stroke="#363636" stroke-linecap="round" stroke-width="2"/>
                                        <line id="Line_45" data-name="Line 45" x1="7.821" y1="4.438" transform="translate(0 4.932)" fill="none" stroke="#363636" stroke-linecap="round" stroke-width="2"/>
                                    </g>
                                    </svg> 
                                </button>
                                <button (click)="previousSearch()"> <svg xmlns="http://www.w3.org/2000/svg" width="12.112" height="10.58" viewBox="0 0 12.112 10.58">
                                    <g id="Group_1660" data-name="Group 1660" transform="translate(10.733 1.379) rotate(90)">
                                        <line id="Line_44" data-name="Line 44" x1="7.821" y2="4.932" fill="none" stroke="#363636" stroke-linecap="round" stroke-width="2"/>
                                        <line id="Line_45" data-name="Line 45" x1="7.821" y1="4.438" transform="translate(0 4.932)" fill="none" stroke="#363636" stroke-linecap="round" stroke-width="2"/>
                                    </g>
                                    </svg> 
                                </button>
                            </div>
                        </div>
                       
                     
                        <div class="spdf-wrapper">
                            <div #spdfRenderer id="viewerContainer" class="spdf-renderer custom-scrollbar-css" (scroll)="onScrollPdf()">
                                <!-- <div #spdfCanvasContainer id="viewer" class="spdf-canvas-container pdfViewer" (mousedown)="handleMouseDown($event)"
                                (mouseup)="handleMouseUp($event)" (mousemove)="onMouseMove($event)"
                                    [ngStyle]="{cursor: currentAction ? 'crosshair' : 'default'}" style="height: 500px;"
                                    (click)="shadowCanvasClicked($event)">
                                </div> -->
                                <div #spdfCanvasContainer id="viewer" class="spdf-canvas-container pdfViewer" style="height: 500px; width: 100%;" [ngStyle]="{cursor: currentAction ? 'crosshair' : 'default'}">
                                </div>
                            </div>
                            <div class="page-action-items">
                                <button class="side-arrow-container" (click)="navigatePage('previous')">
                                    <div class="side-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                                            <path class="cls-1" d="M7.5,2l-4,4,4,4,1-1-3-3,3-3Z"></path>
                                        </svg>
                                    </div>
                                </button>
                                <div class="page-info">
                                    <span>{{pdfViewer.currentPageNumber}}</span> / <span>{{totalPages}}</span>
                                </div>
                                <button class="side-arrow-container" (click)="navigatePage('next')">
                                    <div class="side-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                                            <path class="cls-1" d="M4.5,10l4-4-4-4-1,1,3,3-3,3Z"></path>
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        </div>
                        
                        
                        
                    </div>

                    <div class="col-4 pdf_comm custom-scrollbar-css maxHeightOverflow" (scroll)="onScrollComments()" [style.display]="pdfCommentDiv === true?'block':'none'">


                        <div class="comm_search">
                            <input [(ngModel)]="searchData" (ngModelChange)="OnSearchChange($event)" type="text" placeholder="Search Comments">
                            <div class="ac_op dropdown" dropdown>
                                <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" dropdownToggle>
                                    <img src="assets/pdf/img/filter_icon.svg" width="30">
                                </button>
                                <div class="dropdown-menu" x-placement="top-start" *dropdownMenu>
                                    <label>Sort</label>
                                    <a [ngClass]="{'colorBlue':page_sort === 7}" (click)="page_sort=7; getDocumentComments()">Page <span *ngIf="page_sort==7"><img
                                                src="assets/pdf/img/blue.svg" width="30"></span></a>
                                    <a [ngClass]="{'colorBlue':page_sort === 3}" (click)="page_sort=3; getDocumentComments()">Author <span *ngIf="page_sort==3"><img
                                                src="assets/pdf/img/blue.svg" width="30"></span></a>

                                    <hr />
                                    <label>Status Filters</label>


                                    <a [ngClass]="{'colorBlue':comment_status == ''}" (click)="comment_status=''; getDocumentComments()">All <span *ngIf="comment_status==''"><img src="assets/pdf/img/blue.svg" width="30"></span></a>
                                    <a [ngClass]="{'colorBlue':comment_status == '1'}" (click)="comment_status='1'; getDocumentComments()">No Status <span *ngIf="comment_status=='1'"><img
                                                src="assets/pdf/img/blue.svg" width="30"></span></a>
                                    <a [ngClass]="{'colorBlue':comment_status == '2'}" (click)="comment_status='2'; getDocumentComments()">Accepted <span *ngIf="comment_status=='2'"><img
                                                src="assets/pdf/img/blue.svg" width="30"></span></a>
                                    <a [ngClass]="{'colorBlue':comment_status == '3'}" (click)="comment_status='3'; getDocumentComments()">Rejected <span *ngIf="comment_status=='3'"><img
                                                src="assets/pdf/img/blue.svg" width="30"></span></a>

                                    <hr />
                                    <label>Market Tag Filters</label>

                                    <a (click)="custom_marker = ''; getDocumentComments()"><i class="comm_circle grey_cir"
                                        [style.background]="'grey'"></i>None <span style="float:right;"
                                            *ngIf="custom_marker == ''"><img src="assets/pdf/img/blue.svg"
                                                width="30"></span></a>
                                    <ng-container *ngFor="let marker of customMarkers; let i = index">
                                        <a (click)="custom_marker = marker.account_tag_id; getDocumentComments()">
                                            <i class="comm_circle" [style.background]="colorClasses[i]"></i> {{marker.tag_title}} <span style="float:right;" *ngIf="custom_marker==marker.account_tag_id"><img
                                                    src="assets/pdf/img/blue.svg" width="30"></span></a>
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                        <div #spdfCommentsWrapper class="comments-wrapper" (scroll)="onScrollComments()" [ngStyle]="{'max-height': viewPortHeight + 'px'}">
                            <!-- <div class="comment-header">Comments</div> -->
                            <div class="comment-container" *ngIf="(comments | json) != '{}'">
                                <div *ngIf="comments.page" class="comment-heading">Page: {{comments.page}}
                                </div>
                                <div #CommentsDom class="comment-body pdf_add_con" [id]="comments.id+'-comment'" (click)="triggerActiveComment(comments, true)" [ngStyle]="{'cursor': (activeComment.id !== comments.id) ? 'pointer' : 'default'}">

                                    <div class="comm_box">
                                        <div class="comm_img">
                                            <div class="img_box">
                                                <img [attr.src]="getUserImgUrl()" width="30">
                                                <span class="live_user"></span>
                                            </div>
                                        </div>

                                        <div class="comm_des">
                                            <div class="com_name">
                                                <div class="name_inner">
                                                    {{userName || 'Guest'}}
                                                    <span class="time_com">{{comments?.time | date: 'medium'}}</span>
                                                </div>

                                                <div class="com_opt">
                                                    <button>
                                                        <img [tooltip]=[translations.dc_only_note] *ngIf="comments.type == 'text-comment'" src="assets/pdf/img/chat.svg">
                                                        <img [tooltip]=[translations.dc_rectangle] *ngIf="comments.type == 'rect-comment'" style="width: 13px" src="assets/pdf/img/Tool-Rectangle.svg">
                                                        <img [tooltip]=[translations.dc_circle] *ngIf="comments.type == 'ellipse-comment'" style="width: 13px" src="assets/pdf/img/Tool-Circle.svg">
                                                        <img [tooltip]=[translations.dc_arrow] *ngIf="comments.type == 'line-comment'" style="width: 13px" src="assets/pdf/img/Tool-Arrow.svg">
                                                        <img [tooltip]=[translations.cf_text] *ngIf="comments.type == 'foreignObject-comment'" style="width: 13px" src="assets/pdf/img/Tool-Text.svg">
                                                    </button>
                                                    <div *ngIf="permissions?.AllowCustomMarkers == '1'" class="ac_op dropdown" dropdown>
                                                        <span>
                                                            <button type="button" id="button-basic-circle"
                                                                dropdownToggle>
                                                                <i class="comm_circle"
                                                                    [style.background]="selectedTagColor"></i>
                                                            </button>
                                                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                                                role="menu" aria-labelledby="button-basic-circle">
                                                                <a (click)="ChooseCustomTag('','')"><i class="comm_circle grey_cir"
                                                                    [style.background]="'grey'"></i> None <span
                                                                        style="float:right;"
                                                                        *ngIf="(selectedTag | json) == '{}'"><img
                                                                            src="assets/pdf/img/blue.svg"
                                                                            width="30"></span></a>
                                                        <ng-container *ngFor="let marker of customMarkers; let i = index">
                                                            <a (click)="ChooseCustomTag(marker, i)"><i class="comm_circle"
                                                                        [style.background]="colorClasses[i]"></i>
                                                                        {{marker.tag_title}} <span style="float:right;"
                                                                            *ngIf="selectedTag?.tag_title==marker.tag_title"><img
                                                                                src="assets/pdf/img/blue.svg"
                                                                                width="30"></span></a>
                                                        </ng-container>
                                                        </ul>

                                                        </span>
                                                    </div>
                                                    <div class="ac_op dropdown" dropdown>
                                                        <span>
                                                            <button type="button" id="button-basic-min" dropdownToggle>
                                                                <img *ngIf="add_comment_status==1"
                                                                    src="assets/pdf/img/min.svg" width="30">
                                                                <img *ngIf="add_comment_status==2"
                                                                    src="assets/pdf/img/green.svg" width="30">
                                                                <img *ngIf="add_comment_status==3"
                                                                    src="assets/pdf/img/red.svg" width="30">
                                                            </button>
                                                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                                                role="menu" aria-labelledby="button-basic-min">
                                                                <a (click)="add_comment_status=1">None <span
                                                                        *ngIf="add_comment_status==1"><img
                                                                            src="assets/pdf/img/blue.svg"
                                                                            width="30"></span></a>
                                                        <a (click)="add_comment_status=2">Accepted <span
                                                                        *ngIf="add_comment_status==2"><img
                                                                            src="assets/pdf/img/blue.svg"
                                                                            width="30"></span></a>
                                                        <a (click)="add_comment_status=3">Rejected <span
                                                                        *ngIf="add_comment_status==3"><img
                                                                            src="assets/pdf/img/blue.svg"
                                                                            width="30"></span></a>
                                                        </ul>
                                                        </span>
                                                    </div>
                                                    <button> <img src="assets/pdf/img/dots_dark.svg"></button>
                                                </div>
                                            </div>

                                            <div *ngIf="activeComment.id !== comments.id" class="content">
                                                <div class="desc">{{comments?.text}}</div>
                                            </div>
                                            <div *ngIf="activeComment.id === comments.id" class="comment-form mt-2">
                                                <pdf-add-comment [VideoInfo]="artifactDataId" [huddleId]="null" [isVideoProcessing]="0" [permissions]="permissions" [comment_status]="add_comment_status" [selectedTag]="selectedTag" [userAccountLevelRoleId]="userAccountLevelRoleId" [CustomMarkers]="customMarkers"
                                                    [original_account]="null" [isCinemaModeOn]="false" [artifactComment]="true" [from]="'document'" (redrawLine)="drawLineHelper(commentId, commentType)" (cancelNewComment)="cancelNewComment()" (cancelDocumentComment)="cancelComment(comments)">
                                                </pdf-add-comment>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ng-container>
                                <pdf-comment-list [permissions]="permissions" [VideoInfo]="artifactDataId" [documentInfo]="documentInfo" [customMarkers]="customMarkers" [CustomMarkers]="customMarkers" [params]="{huddle_id: huddle_id, video_id: artifacts_id}" [publishAll]="false" [is_published_feedback]="false"
                                    [colorClasses]="colorClasses" [comments]="commentsList" [ifNoSearchResult]="ifNoSearchResult" [screenSharing]="false" [from]="'document'" (activatedComment)='changeActiveComment($event)' (hideLine)='hideLineAnnot(1)' (commentAdded)="commentAdded($event)"
                                    (commentEdited)="commentEdited($event)" (commentDeleted)='cancelComment($event, true)'>
                                </pdf-comment-list>
                            </ng-container>
                        </div>
                    </div>
 
                    <div class="col-3 pt-1 pr12 custom-scrollbar-css maxHeightOverflow" [style.display]="activeBtn === 2?'block':'none' ">
                        <ng-container>
                            <button type="button" class="close pull-right mb-2" aria-label="Close" (click)="closeFrameworkDiv(); changeActiveComment(activeComment)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="!currentFrameworkId">
                            <div class="preview_container" *ngIf="getSelectFrameworkPermission()" >
                                <div>
                                    {{translations?.vd_choose_framework}} </div>
                                <select class="form-control" [(ngModel)]="VideoHuddleFramework" (ngModelChange)="GetRubricById($event)">
                                    <option value=""> {{translations?.vd_select_framework}} </option>
                                    <option *ngFor="let framework of frameworks"
                                        [attr.value]="framework.account_tag_id">
                                        {{framework.tag_title}}
                                    </option>
                                </select>
                                <ng-container *ngIf="rubricPreview">
                                    <div [style.margin-top.px]="20" size="7px" transition="0.2" railVisible="true" railOpacity="0.2" railColor="#000">
                                        <rubrics [isCreater]="'true'" [data]="rubricPreview" [previewMode]="true">
                                        </rubrics>
                                    </div>
                                    <div class="text-right pull-from-top">
                                        <button class="btn btn-default" (click)="AssignFramework(confirmFrameworkSet, 0)">
                                            {{translations?.vd_cancel}} </button>
                                        <button [disabled]="!VideoHuddleFramework" class="btn btn-success" (click)="AssignFramework(confirmFrameworkSet, 1)" [style.backgroundColor]="primery_button_color">
                                            {{translations?.vd_use_framework}} </button>
                                    </div>
                                </ng-container>
                            </div>
                            <div *ngIf="!getSelectFrameworkPermission()" class="text-center">
                                {{translations?.vd_you_must_define}}
                            </div>
                        </ng-container>
                        <ng-container *ngIf="currentFrameworkId">
                            <input type="text" placeholder="{{translations?.vd_search_framework}}" class="form-control" [(ngModel)]="term">
                            <rubrics [isCreater]="'true'" [term]="term" [data]="rubrics"></rubrics>
                        </ng-container>
                    </div>
                    <div class="line-annotation" #spdfLineContainer>
                        <div #spdfFirstHLine id="first_annot_line"></div>
                        <div #spdfVLine></div>
                        <div #spdfSecondHLine></div>
                    </div>
                    <svg id="resize-dots-container">
                        <circle cx="0" cy="0" fill="#008000" r="4" #resizeUpDot id="resize-action-up"></circle>
                        <circle cx="0" cy="0" fill="#008000" r="4" #resizeDownDot id="resize-action-down"></circle>
                    </svg>
                    <svg id="line-arrow-head-container">
                        <defs>
                            <marker id="arrow" viewBox="0 0 10 10" refX="9" refY="5"
                            markerWidth="6" markerHeight="6"
                            orient="auto-start-reverse">
                          <path d="M 0 0 L 10 5 L 0 10 z" fill="#008000" />
                        </marker>
                        </defs>
                      </svg>
                </div>

            </div>



        </div>

    </div>
</div>
<!-- </div> -->


<ng-template #selectedrubricsTemplate>
    <div class="modal-header">
        <h4 *ngIf="activeBtn == 2" class="modal-title">Framework Standards</h4>
        <h4 *ngIf="activeBtn == 3" class="modal-title">Attachments</h4>
        <button type="button" class="close" (click)="bsModalRef.hide()" data-dismiss="modal">&times;</button>

    </div>

    <div class="modal-body">

        <div class="tags_div">
            <span *ngIf="activeBtn == 2">


                <span *ngFor="let standard of activeComment.standards; let i=index" class="tag_rounded full_width">
                    {{standard.tag_code}} {{standard.tag_html}}<span class="pull-right cross_span"
                        (click)="unSelectRubric(activeComment, standard,i)"> <svg xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="7" viewBox="0 0 7 7">
                            <defs>
                                <clipPath id="clip-path">
                                    <path id="Path_29" data-name="Path 29"
                                        d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z"
                                        transform="translate(0 11)" fill="#919191" />
                                </clipPath>
                                <clipPath id="clip-path-2">
                                    <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z"
                                        transform="translate(1057 483)" fill="#919191" />
                                </clipPath>
                            </defs>
                            <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
                                <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)"
                                    clip-path="url(#clip-path-2)">
                                    <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z"
                                        transform="translate(674.455 313.182)" fill="#919191" />
                                </g>
                            </g>
                        </svg>
                    </span>
            </span>
            </span>
            <!-- <span *ngIf="active_class == 3">
                <span *ngFor="let file of newComment.files; let i=index" class="tgouter">
                    <span>
                        {{file.filename || file.title}}
                    </span>
                    <span class="pull-right cross_span" (click)="closeInfo();RemoveFileFromComment(file, i)">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7"
                            height="7" viewBox="0 0 7 7">
                            <defs>
                                <clipPath id="clip-path">
                                    <path id="Path_29" data-name="Path 29"
                                        d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z"
                                        transform="translate(0 11)" fill="#919191" />
                                </clipPath>
                                <clipPath id="clip-path-2">
                                    <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z"
                                        transform="translate(1057 483)" fill="#919191" />
                                </clipPath>
                            </defs>
                            <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
                                <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)"
                                    clip-path="url(#clip-path-2)">
                                    <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z"
                                        transform="translate(674.455 313.182)" fill="#919191" />
                                </g>
                            </g>
                        </svg>
                    </span>
                </span>
            </span> -->
        </div>
    </div>
</ng-template>



<ng-template #confirmFrameworkSet>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translations?.dc_framework_select_warning}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="ResolveAssignFramework(0)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{translations?.dc_assigning_a_framework}}
    </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolveAssignFramework(0)">
                {{translations?.vd_cancel}}
            </button>
            <button class="btn btn-success" (click)="ResolveAssignFramework(1)">
                {{translations?.vd_ok}}
            </button>
        </div>
    </div>
</ng-template>
<!-- 
<div id="viewerContainer">
    <div id="viewer" class="pdfViewer"></div>
  <canvas id="the-canvas"></canvas>
  
  </div>
   -->
<ng-template #fileInfoTemplate>
    <div class="modal-header">
        <h4 class="modal-title">File Info</h4>
        <button type="button" class="close" (click)="bsModalRef.hide()" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body">
        <div class="file_info_div">
            <div class="row">
                <div class="col-6 ileft"><label>{{translations?.dc_file_name}}</label> </div>
                <div class="col-6"><span class="start-straight">{{documentDetail.title}}</span></div>
            </div>
            <div class="row">
                <div class="col-6 ileft"> <label>{{translations?.dc_original_file_name}}</label></div>
                <div class="col-6"><span class="start-straight">{{documentDetail.original_file_name}}</span> </div>
            </div>
            <div class="row">
                <div class="col-6 ileft"><label>{{translations?.dc_pages}}</label></div>
                <div class="col-6"> <span class="start-straight">{{totalPages}}</span></div>
            </div>
            <div class="row">
                <div class="col-6 ileft"><label>{{translations?.dc_original_file_size}} </label></div>
                <div class="col-6"><span class="start-straight">{{fileSizeFileInfo}}</span></div>
            </div>
            <div class="row">
                <div class="col-6 ileft"> <label>{{translations?.workspace_uploadedby}}</label> </div>
                <div class="col-6"> <span class="start-straight">{{documentDetail.first_name}} {{documentDetail.last_name}}</span> </div>
            </div>
            <div class="row">
                <div class="col-6 ileft"><label> {{translations?.dc_number_of_comments}}</label></div>
                <div class="col-6"> <span class="start-straight">{{commentsList.length + totalReplies}}</span></div>
            </div>
            <div class="row">
                <div class="col-6 ileft"><label>{{translations?.date_uploaded_videos}} </label></div>
                <div class="col-6"><span class="start-straight">{{documentDetail.created_date | date:'MMMM d, y - h:mm aaaaa\'m\''}}</span> </div>
            </div>

            <div class="row">
                <div class="col-6 ileft"><label>{{translations?.artifact_last_modified}}</label></div>
                <div class="col-6"> <span class="start-straight">{{documentDetail.last_edit_date | date:'MMMM d, y - h:mm aaaaa\'m\''}}</span></div>
            </div>
        </div>
    </div>
    <div class="modal-footer text-right fb0">
        <button class="btn btn-success" (click)="bsModalRef.hide()">
            {{translations?.artifacts_done}}
        </button>
    </div>
</ng-template>