@media screen and (min-width:1280px) {
    .container {
        max-width: 1250px;
        padding: 0 15px;
        overflow: hidden;
    }
    .displayBlockImp{
        display: block !important;
        font-size: 12px !important;
    }
    .displayBlockImp .search_type label{
        font-size: 12px !important;
    }
    .displayBlockImp .right_search {
        text-align: right!important;
    }
}

@media screen and (min-width:1500px) {
    .container {
        max-width: 1500px;
        padding: 0 15px;
        overflow: hidden;
    }
    .displayBlockImp{
        display: flex !important;
        /* font-size: 12px !important; */
    }
    /* .displayBlockImp .search_type label{
        font-size: 12px !important;
    }
    .displayBlockImp .right_search {
        text-align: right!important;
    } */
}

::ng-deep :root {
    /* --some-scale: 1; */
    --some-cursor: pointer;
    --foreign-cursor: scroll-all;
}

.box_whcls {
    margin: 15px 0 0 0;
}

button:focus {
    outline: none !important;
}

.spdf-wrapper {
    display: flex;
    justify-content: center;
}

.framework-container {
    position: fixed;
    z-index: 10;
    width: 550px;
    height: 506px;
    overflow: auto;
    background-color: #fff;
    padding: 10px;
    right: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: 50px;
}

.spdf-container {
    display: flex;
    flex-direction: column;
    border: solid 5px #E1DDDD;
    border-radius: 10px;
}

.spdf-topper {
    display: flex;
    background-color: #E1DDDD;
    height: 30px;
    margin-top: -1px;
}

.dummy-btn-circle {
    vertical-align: middle;
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #F1F3F5;
    border: solid 0.5px #CFD4DA;
    border-radius: 45px;
    font-size: 10px;
    margin: auto 0;
    margin-left: 5px;
}

.user_img {
    margin-right: 12px;
    float: left;
}

.user_img img {
    border: 0 !important;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.spdf-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spdf-header {
    display: flex;
    background-color: #ececec;
    width: 100%;
    padding: 5px 0;
    justify-content: center;
}

.action-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    border-radius: 4px;
}

.action-btn-container.selected {
    background-color: #d4d1d1 !important;
}

.action-btn {
    height: 25px;
    width: 25px;
}

.spdf-body {
    position: relative;
    display: flex;
    width: 100%;
}

.spdf-renderer {
    position: relative;
    display: flex;
    flex: 3 3 75%;
    justify-content: center;
    overflow: auto;
    padding-top: 5px;
}

.spdf-canvas-container {
    /* position: absolute; */
}

.shadow-canvas {
    position: absolute;
    border: 1px solid black;
}

.page-action-items {
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.side-arrow-container {
    padding: 0;
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    position: relative;
    top: -4px;
}

.side-arrow-container:hover {
    background-color: #fafafa;
}

.side-arrow {
    width: 16px;
    height: 16px;
}

.absolute-icon {
    position: absolute;
    cursor: var(--some-cursor);
    /* padding: 4px; */
}
.text-tool-div:hover:not(:focus) {
    cursor: var(--foreign-cursor);
}

#first_annot_line::before {
    content: " ";
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 12px solid #039542;
    border-bottom: 6px solid transparent;
    position: absolute;
    top: -6px;
    left: -10px;
}


/** comment sections start **/

.comments-wrapper {}

.comment-header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.comment-heading {
    font-weight: 500;
    font-size: 15px;
    color: #9e9e9e;
    margin-bottom: 10px;
}

.comment-body {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.comment-body .heading {
    display: flex;
}

.comment-body textarea {
    width: 100%;
    border: 0;
    resize: none;
}

.comment-body textarea::placeholder {
    color: #c3c3c3;
}

.comment-icon {
    margin-right: 10px;
}

.comment-icon img {
    border: 0 !important;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.time {
    opacity: .8;
    font-size: 10px;
    color: #868e96;
}

.action-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.action-item button {
    background: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: 0;
    height: 25px;
    position: relative;
    float: left;
    width: 30px;
    margin-right: 3px;
}

.action-item button.active {
    background-color: #616161 !important;
}

.action-item button.active svg path,
.action-item button.active svg text {
    fill: #fff;
}

.action-item svg {
    position: absolute;
    width: 20px;
    height: 20px;
}

.tag svg {
    top: 0.3px;
    left: 5.5px;
}

.framework svg {
    top: -1px;
    left: 5px;
}

.custom-markers {
    margin-left: 8px;
}

.custom-markers button {
    margin-right: 0;
}

.custom-markers button span {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    top: -5.5px;
    left: -3px;
}

.form-actions {
    margin-left: 8px;
}

.form-actions button {
    width: 38px !important;
    height: 30px !important;
}

.form-actions .btn-cancel {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-cancel svg {
    width: 10px !important;
    top: 4px;
    left: 14px;
}

.form-actions .btn-primary {
    background-color: #5db85b;
    border-color: #5db85b;
}

.btn-primary svg {
    width: 13px !important;
    top: 4px;
    left: 12px;
}

.selected-frameworks-container {
    width: 100%;
}

.audio-recorder-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    text-align: center;
}


/** comment sections end **/


/** connector line starts**/

.colorBlue {
    color: #5facfd !important;
}

.line-annotation div {
    position: absolute;
    border-color: #039542 !important;
    background: #039542 !important
}

.selectedToolBg {
    background: #d7ecff !important;
}

.line {
    border: 1px solid black;
}


/** connector line ends**/

.replyActiveDiv {
    border-top: 1px solid #cecece;
}

.replyActiveDiv textarea {
    border: 1px solid #cecece;
    border-radius: 4px;
}

.replyViewDiv {
    margin-top: 10px;
}

.comment-icon-reply {
    flex: 0 0 15%;
    max-width: 15%;
}

.comment-details-reply {
    flex: 0 0 70%;
    max-width: 70%;
}

.comment-option-reply {
    flex: 0 0 15%;
    max-width: 15%;
    text-align: right;
}

.box_outer {
    border-radius: 5px;
    margin-top: 0px !important;
    background: #fff;
    margin: 0 -15px;
    overflow: visible;
}

.topheader {
    text-align: center;
    background: url(/../../../assets/pdf/img/bgrep.png) repeat-x;
}

img {
    max-width: 100%;
}


/****/

.hec {
    background: #004061;
}

.logocls {
    width: 175px;
    height: 64px;
    background: #fff;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.logocls img {
    max-width: 119px;
    position: relative;
    top: 3px;
}

.hec .col-4 {
    padding-left: 0;
}

.bred img {
    margin: 0 5px;
}

.bred {
    color: #838383!important;
    font-weight: 400;
    padding: 15px 0 0 0;
    font-size: 14px;
}

.bred .container {
    padding-left: 5px;
}

.bred span {
    color: #000;
}

.box_outer .m0 {
    margin: 0;
}

.tabscls {
    padding: 20px 0;
}

.modal-header {
    background: #f9f9f9;
}

@media screen and (min-width:1280px) {
    .container {
        max-width: 1250px;
        padding: 0 15px;
    }
}

@media screen and (min-width:1500px) {
    .container {
        max-width: 1500px;
        padding: 0 15px;
    }
}

.container {
    overflow: visible !important;
}


/**top headeing bar start **/

.panl_heading {
    border-bottom: 1px solid #ddd;
    padding: 4px 0px;
    background: #f9f9f9;
    margin: 0;
}

.panl_heading h3 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #212529;
    font-weight: 500;
}

.right_opt {
    text-align: right;
    padding-top: 8px;
}

.right_opt button {
    border: 0;
    padding: 0;
    background: none;
    outline: none !important;
    cursor: pointer !important;
    color: #8c8c8c;
    font-size: 14px;
}

.pdf_tools {
    background: #f9f9f9;
    padding: 4px 8px;
    display: flex;
    border-bottom: 1px solid #ddd;
}

.left_tools {}

.right_tools {
    margin-left: auto;
    display: flex;
}

.right_tools img {}

.pdf_tools button {
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 1px 6px;
    margin: 0px;
}

.ac_op button img {
    max-width: 25px;
}

.tools_opacity {
    opacity: 0.5;
}

.acc_option {
    margin: 10px 0 0 0;
}

.acc_option a {
    text-decoration: none;
    border-radius: 50px;
    display: inline-block;
    padding: 3px 10px;
    line-height: 19px;
    height: 25px;
    font-size: 13px;
}

.ac_op button {
    border: 0;
    padding: 0;
    background: none;
    outline: none !important;
    cursor: pointer !important;
}

.ac_op .dropdown-toggle::after {
    display: none;
}

.ac_op .dropdown-menu {
    min-width: 85px !important;
    padding: 10px 6px 6px 9px !important;
    left: inherit !important;
    right: 0 !important;
    transform: translate3d(0px, 24px, 0px) !important;
}

.ac_op .dropdown-menu a {
    font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 5px;
    cursor: pointer !important;
}

.t_div {
    border-right: 1px solid #ddd;
    min-height: 25px;
    margin: 0 6px;
}

.pdf_tools select {
    border: 0;
    background: none;
    outline: none !important;
    background: #e5e5e5;
}

.t_search img {
    width: 19px;
    margin-right: 6px;
    margin-left: 6px;
}

.t_comment img {
    margin-right: 6px;
    margin-left: 6px;
}

.ac_op {
    margin: 0 0 0 7px;
}

.pdf_view {
    padding-top: 5px;
    background: #f1f1f1;
    margin: 0;
}

.pdf_comm {
    padding: 20px;
}

.comm_search {
    display: flex;
    padding-bottom: 15px;
}

.comm_search input[type=text] {
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 11px;
    background: #fff url(/../../../assets/pdf/img/search_icon.svg) no-repeat center right 11px;
    background-size: 19px;
    padding-right: 35px;
}

.comm_box {
    display: block;
    width: 100%;
    background: #fff;
    padding: 15px 0 15px 45px;
    position: relative;
}

.comm_img {
    position: absolute;
    top: 17px;
    left: 0;
}

.comm_img img {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 0;
}

.img_box {
    position: relative;
    width: 45px;
}

.live_user {
    background: #039542;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 2px;
}

.comm_des {
    padding-left: 10px;
    width: 100%;
}

.comm_des label {
    font-weight: 600;
    margin: 0;
}

.comm_des p {
    font-size: 15px;
    line-height: 20px;
    color: #000;
}

.time_com {
    color: #8c8c8c;
    display: block;
    font-size: 12px;
    margin: 0px;
}

.chat_c {
    position: relative;
    margin-top: 15px;
}

.chat_c img {
    border-radius: 0;
    width: 32px;
    height: auto;
}

.chat_c span {
    position: absolute;
    left: 0;
    top: 0px;
    color: #fff;
    width: 25px;
    text-align: center;
    font-size: 14px;
}

.post_com {
    border: 1px solid #ddd;
    display: flex;
    padding: 1px;
    border-radius: 4px;
}

.post_com input[type=text] {
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 3px 5px;
    background: #fff;
    border: 0;
    outline: none;
}

.post_com button {
    background: #039542;
    padding: 4px 13px;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
}

.post_comm {
    display: flex;
    padding: 1px;
    border-radius: 4px;
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.post_comm input[type=text] {
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 3px 35px 3px 5px;
    background: #fff;
    border: 0;
    outline: none;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 13px;
}

.post_comm button {
    background: #039542;
    padding: 4px 13px;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    margin-left: auto;
}

.post_comm .voic_rec {
    position: absolute;
    top: 5px;
    right: 8px;
}

.com_opt button {
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 0 1px;
    margin: 0 5px 0 5px;
    margin-bottom: auto;
}

.com_opt .ac_op {
    margin: 0;
}

.com_opt .ac_op img {
    width: 10px;
}

.pdf_comm {
    border-left: 1px solid #d5d5d6;
    padding: 12px 15px;
    margin: 0;
    font-size: 16px;
}

.com_name {
    display: flex;
}

.com_opt {
    margin-left: auto;
    display: flex;
    min-width: 94px;
}

.mtop15 {
    margin-top: 15px;
}

.maxHeightOverflow {
    max-height: calc(100vh - 200px);
    overflow: auto;
}

.pdf_comm h4 {
    margin: 0;
    font-size: 18px;
    padding: 13px 0;
}

.first_comm {
    padding: 20px;
    text-align: center;
}

.first_comm p {
    color: #808080;
    font-size: 14px;
    line-height: 18px;
    max-width: 250px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.frm_op span {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

.frame_works h4 {
    font-size: 16px;
    font-weight: 500;
    color: #2D2D2D;
}

.checkboxfram {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #101010 !important;
    padding-left: 20px;
}


/* Hide the browser's default checkbox */

.checkboxfram input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkboxfram .checkmark {
    position: absolute;
    top: -5px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px solid #B4BAC3;
    border-radius: 3px;
}


/* On mouse-over, add a grey background color */

.checkboxfram:hover input~.checkmark {
    background-color: #fff;
}


/* When the checkbox is checked, add a blue background */

.checkboxfram input:checked~.checkmark {
    background-color: #157EFC;
    border: 1px solid #157EFC;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkboxfram .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.checkboxfram input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.checkboxfram .checkmark:after {
    left: 5px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

.fl_1 {
    padding-left: 0;
}

.fl_2 {
    padding-left: 42px;
}

.fl_3 {
    padding-left: 86px;
}

.fl_4 {
    padding-left: 130px;
}

.fbox span {
    display: inline-block;
    padding-right: 16px;
}

.fbox {
    font-size: 15px;
}

.pdf_add_con .comment_box {
    border: 0 !important;
}

.pdf_add_con .att1,
.pdf_add_con .att2 {
    border: 0 !important;
}

.right_tools .dropdown-menu {
    top: 11px !important;
}

.comm_search .ac_op {
    padding-top: 6px !important;
}

.ac_op .dropdown-toggle::after {
    display: none;
}

.ac_op .dropdown-menu {
    min-width: 130px !important;
    padding: 10px 6px 6px 9px !important;
    left: inherit !important;
    right: 0 !important;
    transform: translate3d(0px, 24px, 0px) !important;
    top: 18px !important;
}

.ac_op .dropdown-menu a {
    font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 5px;
    cursor: pointer !important;
}

.com_opt {
    max-height: 25px;
}

.com_opt .dropdown-menu {
    top: -3px !important;
}

.com_opt .dropdown-menu a {
    display: block !important;
}

.comm_search .dropdown-menu label {
    opacity: 0.7;
    font-size: 15px;
    margin-bottom: 5px;
    white-space: nowrap;
}

.comm_search hr {
    margin: 8px -7px 6px -9px;
}

.comm_circle {
    background: #ff5800;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: relative;
    top: 0;
}

.com_opt .dropdown-menu a {
    position: relative;
}

.com_opt .comm_circle {
    float: right;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: relative;
    top: 0;
}

.com_opt .dropdown-menu .comm_circle {
    top: 6px !important;
    margin-right: 6px;
    float: left !important;
}

.comm_search .dropdown-menu img {
    max-width: 10px;
}

.comm_search .dropdown-menu .comm_circle {
    float: left;
    top: 6px !important;
    margin-right: 6px;
}

.comm_search .dropdown-menu a {
    position: relative;
    display: block;
}

.comm_search .dropdown-menu a span {
    float: right;
    position: absolute;
    right: 2px;
    top: -3px;
}

.com_opt .dropdown-menu a {
    position: relative;
}

.com_opt .dropdown-menu a span {
    float: right;
    position: absolute;
    right: 2px;
    top: -3px;
}

.tgouter {
    max-width: 100% !important;
}

.pdf_comm_update .tgouter {
    max-width: 100% !important;
}

.grey_cir {
    background: #FFF !important;
    border: 2px solid grey;
}

.arch_search {
    position: relative;
    /* width: 39%; */
    float: left;
    padding-right: 12px;
}

.arch_search input[type=text] {
    width: 100%;
    height: 37px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 11px;
    background-size: 19px;
    padding-right: 35px;
    font-size: 14px;
}

.arch_search input[type=text]:focus {
    outline: none;
}

.arch_search img,
.arch_search button {
    height: 20px;
    position: absolute;
    top: 9px;
    right: 20px;
}

.arch_search button {
    top: 9px !important;
}

.search_outer {
    display: flex;
    padding: 3px 15px 3px 15px;
    max-width: 1163px;
    margin: 0 auto;
}

.right_search {
    margin-left: auto!important;
    padding-top: 10px;
}

.right_search button {
    background: none;
    border: 0;
    cursor: pointer;
    margin: 0 0 0 8px;
    padding: 0;
}

.arch_search {
    width: 30%;
}

.search_type {
    padding: 8px 10px 0 15px;
}

.search_type input[type=checkbox] {
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.search_type label {
    color: #808080;
    font-size: 14px;
    font-weight: 300;
    margin-right: 15px;
}

#resize-action-down,
#resize-action-up {
    position: absolute;
    border-style: solid;
    border-width: 4px;
    border-color: #008000;
    border-radius: 8px;
    display: none;
}

.active-annot #resize-action-down,
.active-annot #resize-action-up {
    display: block;
}

#resize-action-down:hover,
#resize-action-down:active,
#resize-action-up:hover,
#resize-action-up:active {
    cursor: nwse-resize;
}

.resizable-draggable {
    stroke: rgb(3, 149, 66);
    /* stroke-width: 2px; */
    stroke-width: 2px;
    cursor: var(--some-cursor);
    /* transform: scale(var(--some-scale)); */
}

.resizable-draggable.active {
    outline-style: dashed;
    background-color: #80ff800d;
}

.resizable-draggable.active-annot:hover {
    cursor: all-scroll;
}

::ng-deep .comment_box .audio-recorder img {
    width: 29px;
    top: -4px;
    position: relative;
    right: -3px;
}

::ng-deep .pdfViewer .page {
    border: none !important;
    /* margin-bottom: 8px !important; */
    box-shadow: 0 0 6px 0 #bbb;
}

.spdf-annot-container {
    position: relative;
}

::ng-deep #pdfPreview .page_number {
    width: 85%;
    text-align: center;
    padding: 2px;
    float: left;
    margin-bottom: 10px;
}

::ng-deep #pdfPreview canvas {
    box-shadow: 0 0 6px 0 #bbb;
}

.arrowHead {
    position: absolute !important;
    top: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 10px solid #039542;
    transform: translateX(-100%) translateY(-50%) translateY(0px) !important;
    border-color: none;
    background-color: none;
}

svg .highlightShape {
    outline: 2px dashed darkgray;
    outline-offset: 2px;
}

::ng-deep .comment-body.highlightShape {
    box-shadow: 0 0 7px 2px darkgray;
}

.pdf_tools button:disabled {
    opacity: 0.5;
}

.beta_cls {
    display: inline-block;
    background: #69BD45;
    color: #FFF;
    border-radius: 50px;
    position: absolute;
    top: -43px;
    right: 2px;
    padding: 2px 18px;
    line-height: 22px;
}

.pr0 { padding-right:0 !important;}
.preview_container { font-size:14px;}

/* ::ng-deep .text-layer-pdf-page{
    height: 499px !important;
    width: 353px !important;
} */

.file_info_div {
    padding-left: 20px;
}


.title:empty:not(:focus):before {
    content: attr(data-placeholder)
  }
.start-straight {
    padding-left: 10px;
}

 .ileft:after {
       content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #039542;
    right: 0;
    top: 10px;
    position: absolute;
      }
	  
	   .ileft label{ background:#fff;     position: relative; z-index:1; padding-right: 5px;}
	    .ileft{ padding-left:0;}
		
		.fb0{ border:0 !important; }
		.page-action-items { position:fixed !important;     bottom: 45px !important;}
		.custom-scrollbar-css { overflow: auto !important;}
		::ng-deep .cancel-audio {    right: -5px;position: relative;}
		::ng-deep .pr12{ padding-right:12px !important;}
::ng-deep button .tooltip-inner,::ng-deep .pdf_tools .tooltip-inner {
    width: 100px !important;
}
