@charset "utf-8";
/* CSS Document */

.customecont{ max-width:1020px; margin:0 auto; font-family:Arial, Helvetica, sans-serif;}
.tabs_dashboard span{ margin-bottom:15px;}
.tabs_dashboard span{ display:inline-block; background:#bbb!important; border-radius:5px; color:#fff; padding: 4px 10px 3px 6px;
    line-height: 36px; width:150px; text-align:center; cursor:pointer;}
    .tabs_dashboard span.analytics-icon{    width: 299px !important;}
	.tabs_dashboard span.dashboard-icon{ background:#5daf46;}
.tabs_dashboard span img{ float:left;}
.col-sm-33{ float:left; width:50%;     margin-top: 23px;}
.clrcls1{ clear:both;}
.tabs_analytical{ float:right;     margin-top: -118px;
    position: relative;
    z-index: 1;}
	
	.tabs_analytical span{ background:#d7d7d7;  display:inline-block; border-radius:5px; color:#000; padding: 4px 10px 3px 6px;
    line-height: 36px; width:121px; text-align:center; cursor:pointer;}
	.huddlediv-inner{ display:none;}
	.userdiv-inner{ display:none;}
.counterBg{
 /*z-index: -1;*/
 height: auto;
 padding: 10px 0;


 position: relative;
 //background: url(../../img/parallexBg.jpg);
 background-repeat:repeat-y;
 max-width: 100%;
 width: 100%;
 height: 100%;
 -webkit-background-size: cover;
 background-size: cover;
}
.analyticsdiv-inner h2{     margin: 0 0 40px 0;font-family: sans-serif;
    font-size: 31px;}
   .analyticsdiv-inner h3{   font-family: sans-serif;
font-size: 24px;
    margin-bottom: 20px;
    font-weight: 400;}
.analyticsdiv{
    background-color: #FFF;
    border: 1px solid #DAD6CE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    float: left;
    min-height: 371px;
    overflow: hidden;
    padding: 10px 20px 20px;
}
.counterBg .features {

 padding: 20px 10px 10px 10px;
 position: relative;
 text-align: center;
 display: inline-block;
 border-radius: 50% !important;

}         

.counterBg .features::after {

 border-radius: 50%;
 bottom: -9px;
 content: " ";
 left: -9px;
 position: absolute;
 right: -9px;
 top: -9px;
}

.counterBg .features span {
 color: #333333;
 display:inline !important;
 font-weight: 200;
     font-size: 12px;
}

.counterBg .features span.counter {
 font-size: 30px;
}

.counterBg .features span.words {
 font-size: 30px;
 display:inline !important;
}

.counterBg .features span.features-info {
 text-transform: uppercase;
}
.overviewdiv{ border-bottom:1px solid #ddd;          padding-bottom: 40px;
    margin-bottom: 33px;}
.overviewdiv select{ width:200px; height:30px; margin-bottom:20px;}
.overviewleft { float:left; width:50%;     margin-top: 20px;}
.overviewright { float:left; width:50%;     margin-top: 18px;}
.overviewright h4{ margin:0 0 7px 0; border-bottom:1px solid #ddd; padding-bottom:6px; }
.overviewleft .counter{ font-size:50px;    color: #000;}
.video_ana{ float:left; width:33%;}
.video_ana .counter{ display:block; font-size:18px;}
.video_ana .features-info{ font-size:14px; margin-top:0px; display:inline-block;}
.gra-div{ text-align:left;    
    padding-bottom: 20px; margin-top: 60px;}
.gra-div select{ width:100px; height:30px; margin-bottom:20px;}
.gra-div p span{ display:inline-block; margin-right:10px;}
.listofdate th{ background-color: #ededed; padding:2px; font-size:11px; border-right:1px solid #000; border-top:1px solid #000; min-width: 77px;}
.bordnone{ border:none !important}
.listofdate input[type=text]{    border: 1px solid #c5c5c5;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.09) inset;
    font-size: 13px;
    font-weight: bold;
    color: #b2b2b2;
    padding: 8px 4px; float:right; margin:10px;}
.listofdate table{ border:1px solid #000; border-top: 0;border-right: 0;max-height: 285px;}
.listofdate { margin-top:0px;}
.listofdate td{ text-align:center; font-size:12px; padding:2px; border-top:1px solid #000; border-right:1px solid #000;border-bottom-color: #000 !important; }
.accountselect{ float:right; display:inline-block;}
.accountselect input[type=text]{    width: 100px; height: 24px; margin-left:30px; margin-right: 3px;}
	.accountselect label{ display:inline-block;  margin-left:0px; font-size:14px;}
	
	.accountselect2{ float:left; display:inline-block;margin-right: 15px;}
.accountselect2 input[type=text]{    width: 100px; height: 30px; margin-right:2px;}
	.accountselect2 label{ display:inline-block;  margin-right:32px; font-size:14px;}
     .ui-datepicker{ background:#fff; border: 1px solid #ddd;}
     .ui-datepicker td{ padding:2px !important;     text-align: center;}
     .ui-datepicker th{ padding:2px !important;     text-align: center;} 
     .ui-datepicker td span{ font-size:10px;} 
      .ui-datepicker th span{ font-size:10px;}  
     .ui-datepicker td a{ font-size:10px;} 
     .ui-datepicker-trigger{ background:none; border:none;}
 .ui-datepicker-prev{display: inline-block;width:55px; text-align: left !important;    color: #fff; width: 57px;}
 .ui-datepicker-next{display: inline-block;width: 80px; text-align: right;    float: right;     color: #fff; width: 57px;} 

.ui-datepicker-header { padding:4px 5px;}
 .ui-datepicker-title {float: right; display: inline-block;}
.ui-icon:before{display:none!important }
.analyticsdiv form{ margin-left:0 !important;     margin-top: 20px;}
div.groups-table-content .widget-scrollable .viewport{ height:300px !important;}
.tbl-scroll{    overflow: scroll;    max-height: 300px;}
.ui-datepicker-trigger img{height:20px !important;}
.action-buttons{position: relative;top: 19px;float:left;}
@media screen and (max-width:768px) {
 .counterBg .features {
  width: 110px;
  height: 110px;
  padding: 20px;
 }

 .counterBg .features span.counter {
  font-size: 18px;
 }

 .counterBg .features span.words {
  font-size: 18px;
  display:inline !important;
 }

 .counterBg .features span.features-info {
  font-size: 9px;
 }
 .overviewleft{width:100%;}
 .overviewright  {width:100%;}     
 
}
.graphDiv{
    float:left;
}
.accountselect1{
    float:left;
    display:inline-block;
    margin-right: 15px;
}

.accountselect1 input[type=text] {
    width: 100px;
    height: 30px;
    margin-right: 2px;
}