.data_grid_green .ui-jqgrid{
	border-radius:0px;
	border:solid 1px #f0f0f0;
}
.data_grid_green .ui-widget-header {
    border: 0px;
    background: #e0e0e0;
    color: #000;
	height:50px;
	line-height:36px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:300;
	font-size:16pt;
	border-radius:0px;
}
.data_grid_green .ui-jqgrid-hbox table th {
	background:#e0e0e0;
	color:#4c4c4c;
	font-weight:normal;
	font-size:13px;
	word-wrap:break-word;
	border: 1px solid #f0f0f0;
    text-shadow: none;
}
.data_grid_green .ui-state-default {
	background:#fff;
	color:#4c4c4c;
	font-weight:normal;
	font-size:13px;
	word-wrap:break-word;
}
.data_grid_green .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	border: solid 1px #f0f0f0;
	border-radius:0px;
}
.data_grid_green .ui-search-toolbar th{
	background:#fff !important;
}
.data_grid_green .ui-search-input input[type="text"]{
	border:solid 1px #f0f0f0;
	border-bottom:solid 2px #f0f0f0;
	height:27px;
	box-sizing:border-box;
	outline:none;
	margin:10px 0px 5px 0px;
	background:url(images/search_icon.png) center left no-repeat #fff;
	padding:0px 8px 0px 20px !important;
}
.data_grid_green .ui-search-clear a{
	color:#9e0b0f;
}
.data_grid_green .ui-icon-triangle-1-s {
    background-position:-205px -16px;
}
.data_grid_green .ui-icon-triangle-1-n {
    background-position:-160px -16px;
}
.data_grid_green .ui-icon-circle-triangle-n{
	background-position: -144px -80px;
}
.data_grid_green .ui-icon-circle-triangle-s {
    background-position: -129px -80px;
}
.data_grid_green .ui-jqgrid .ui-jqgrid-titlebar-close:hover{
	padding:1px;
}
.data_grid_green .ui-pager-control{
	background:#f6f6f6;
}
.data_grid_green .ui-jqgrid-bdiv table td{
	    border-right-width: 1px;
    border-right-color: #f0f0f0;
    border-right-style: solid;
}
.data_grid_green .ui-jqgrid tr.jqgrow td{
	border-bottom-width: 1px;
    border-bottom-color: #f0f0f0;
    border-bottom-style: solid;
	padding:10px 5px;
	color:#818181;
	font-size:13px;
}
.data_grid_green .ui-jqgrid .ui-jqgrid-toppager .ui-pager-control, .ui-jqgrid .ui-jqgrid-pager .ui-pager-control{
	height:46px;
	border-radius:0px;
	margin-top: 1px;
}
.data_grid_green .ui-icon-seek-end {
    background-position:-196px -160px;
}
.data_grid_green .ui-icon-seek-next {
    background-position:-162px -160px;
}
.data_grid_green .ui-icon-seek-prev {
    background-position:-176px -172px;
}
.data_grid_green .ui-icon-seek-first {
    background-position:-207px -172px;
}
.detail_text{
	color:#8cb4cb !important;
}
.data_grid_green .ui-jqgrid .ui-pg-button:hover {
    padding:1px;
}
.ui-jqgrid .ui-jqgrid-pager{
        height: 44px;
}
.data_grid_green .ui-search-table td{
    border:0px;
    padding:0px;
    background:#fff;
    
}
.data_grid_green .clearsearchclass{
position: relative;
top: 5px; 
    top: 12px;
    margin-left: 5px;
    text-decoration:none;   
}
.data_grid_green .ui-jqgrid-btable .ui-state-hover{
    background:#f6f6f6;
}
.data_grid_green .ui-jqgrid-btable tr{
    border:0px;
}
.data_grid_green .ui-jqgrid tr.jqgrow td a{
    font-weight: normal;
}
.data_grid_green .ui-jqgrid-hdiv{
    border-right: solid 1px #f0f0f0 !important;
}
#accUsersAnalytics .ui-jqgrid-hdiv{
        width: 982px !important;
    border-right: solid 1px #f0f0f0 !important;
}
.data_grid_green .ui-jqgrid .ui-jqgrid-titlebar-close{
        margin: -10px 12px 0 0;
        display: none;
}
.data_grid_green .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
    background: inherit;
    border: 0px;    
}
#pager2 .ui-pg-div span{
    display:none;
}