.analytics_new{    background-color: #FFF; border: 1px solid #DAD6CE;border-radius: 3px 3px 3px 3px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); padding-bottom:25px; font-family: "Segoe UI",Helvetica,Arial,sans-serif;}
.analytics_new img{ max-width:100%;}
.analytics_top{ background:#fff; border-bottom:2px solid #e8e8e8; padding:8px 10px 15px 8px;}
.analytic_img_cls { float:left;    width: 98px;}
.analytic_detail_cls{ float:left;padding: 7px 17px 9px 16px;    width: 580px;}
.analytic_detail_cls h3{    font-family: "Segoe UI",Helvetica,Arial,sans-serif;font-weight: 400;font-size: 23px;}
.analytic_detail_cls h4{    font-family: "Segoe UI",Helvetica,Arial,sans-serif;font-weight: 400;font-size:15px;}
.analytic_detail_cls label{ color:#668dab;}
.analytic_detail_cls span{ display:inline-block; margin-right:7px;}
.analytic_topnav { float:right;    font-family: "Segoe UI",Helvetica,Arial,sans-serif;    font-weight: 600;     width:325px;    text-align: right;}
.analytic_topnav a{ color:#668dab;    font-family: "Segoe UI",Helvetica,Arial,sans-serif;    font-weight: 600;}
.analytic_topnav  img{ margin:0 4px;}
.analytic_overview { background:#fcfcfc; padding:12px;     border-bottom: 2px solid #e8e8e8;}
.analytic_overview  h3{    font-family: "Segoe UI",Helvetica,Arial,sans-serif;font-weight: 400;font-size: 23px;}
.over_datecls {color:#668dab;    font-size: 14px;padding: 4px 0 5px 0;}
.over_datecls img{ margin-right:5px; position:relative; top:-1px;}
.analytic_countsbox {    border: 1px solid #DAD6CE; border-radius: 2px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); float:left; width:23%; background:#fff;     margin: 12px 1%;}
.analytic_countsbox .anbox1{ background:#fcfcfc; text-align:center;    padding: 19px 4px;width:25%;    float: left;}
.analytic_countsbox .anbox2{    padding: 10px 8px; width:75%; float:right;}
.analytic_countsbox .anbox2 h4{  font-family: "Segoe UI",Helvetica,Arial,sans-serif;    font-weight: 600; font-size:18px; color:#000000;}
.analytic_countsbox .anbox2 h5{  font-family: "Segoe UI",Helvetica,Arial,sans-serif;    font-weight: 400; font-size:13px; color:#878787;}
.analytic_overview2 { background:#fff; padding:12px;     border-bottom: 2px solid #e8e8e8; position:relative; min-height: 89px;}
.over_select { position:absolute; top:24px; right:15px;}
.over_select select{ width:170px; height: 38px;border-radius: 0px; padding: 5px 9px 6px 4px;       border: 1px solid #ddd; background: #fff;}
.am_chart1 { border:2px solid #e8e8e8; padding:10px; float:left; width:47%; margin:20px 1%;}
.am_chart2 { padding:20px 0;}
.analytic_filter { float:left; width:100%;     padding: 0 15px 15px 20px;}
.analytic_filter h3{font-family: "Segoe UI",Helvetica,Arial,sans-serif;font-weight: 400;font-size: 23px; margin:-6px 0 5px 0;}
.analytic_filter select { width:100px; border:0;     border: 1px solid #ddd; margin:0 6px 0 4px; padding: 5px 5px 6px 4px;background: #fff;}
.analytic_filter input[type=text] { width:70px; border:1px solid #ddd; margin:0 6px 0 4px;}
.analytic_filter .btn{ margin-left:10px;}
.analytic_custombtn { float: right;color:#668dab; cursor:pointer;}
.analytic_custombtn a{color:#668dab; text-decoration:none;}
.analytic_custom2 { display:none;}
.framework_filter{background: #fcfcfc; padding: 12px; border-bottom: 2px solid #e8e8e8;}
.flter_leftcls { float:left; width:45%;}
.flter_leftcls select { width:150px; border:0;     border: 1px solid #ddd; margin:0 6px 0 4px;background: #fff; padding: 5px 9px 6px 4px;  }
.flter_rightcls { float:left; width:55%;}
.flter_rightcls input[type=text]{ border:0; outline:0 !important;     box-shadow: 0 0px 0px rgba(0,0,0,0.09) inset; background:#ffffff url(/app/img/dropdown.png)no-repeat center right 4px !important; color:#668dab;     cursor: pointer;    width: 119px;}
.analytics_new .amcharts-export-menu .export-main > a{ background:url(/app/img/amchart-download.png)no-repeat !important;background-size: 17px !important;
                                                       background-position: 7px 6px !important;
                                                       box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5) !important;}
.flter_rightcls ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #668dab;
}
.flter_rightcls ::-moz-placeholder { /* Firefox 19+ */
    color: #668dab;
}
.flter_rightcls :-ms-input-placeholder { /* IE 10+ */
    color: #668dab;
}
.flter_rightcls :-moz-placeholder { /* Firefox 18- */
    color: #668dab;
}

.flter_rightcls .token_filter{    -webkit-box-sizing: border-box;
                                  -moz-box-sizing: border-box;
                                  box-sizing: border-box;
                                  -webkit-border-radius: 3px;
                                  -moz-border-radius: 3px;
                                  border-radius: 3px;
                                  display: inline-block;
                                  border: 1px solid #b9b9b9;
                                  background-color: #fff;
                                  white-space: nowrap;

                                  vertical-align: top;
                                  cursor: default; border-radius:5px;    }
.flter_rightcls .token-label{display: inline-block;
                             overflow: hidden;
                             text-overflow: ellipsis;
                             padding-left: 4px;
                             vertical-align: top; max-width:100px;     font-size: 12px;}
.flter_rightcls .close {
    font-family: Arial;
    display: inline-block;
    line-height: 100%;
    font-size: 1.1em;
    line-height: 1.49em;
    margin-left: 5px;
    float: none;
    height: 100%;
    vertical-align: top;
    padding-right: 4px;
    position: absolute;
    right: 15px;
    top: 6px;
    font-weight: 400;
    color: #998c8c;
}

.flter_rightcls .token {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    white-space: nowrap;
    margin: 4px 5px 5px 0;

    vertical-align: top;
    cursor: default; position: relative;
    border-radius: 34px;
    padding: 3px 20px 0px 4px;
}
.analytic_custom12 {    position: relative;}
.calander_date_st { position:relative;}
.calander_date_st .ui-datepicker-trigger { position:absolute;     right: 5px;top: 1px;    outline: 0;}
.am_chart1 h4 {    font-size: 17px !important;color: #000;}
.ana_spinner{ background-color:rgba(0,0,0,0.7); position:fixed; left:0; right:0; top:0; bottom:0; z-index:9999; text-align:center; width:100%; height:100%; padding-top:25%;}
.ana_spinner img{}
.amcharts-export-menu li > a{
    color: #000 !important;
    font-weight: normal !important;
}
.flter_rightcls {     position: relative;}
.down_pdcls{    color:#668dab;
                display: inline-block;
                font-family: "Segoe UI",Helvetica,Arial,sans-serif;
                margin-top: 10px;
                cursor: pointer;
                position: relative;
                z-index: 1;}


