@import url('demo.css');

*::-moz-selection {
    background: #f6701b none repeat scroll 0 0 !important;
    color: #fff;
    text-shadow: none;
}
*::-moz-selection {
    background: #f6701b none repeat scroll 0 0 !important;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #f6701b !important;
    color: #fff;
    text-shadow: none;
}

.container
{
    max-width:1024px !important;
}

.observe .widget-scrollable .viewport.vshort2 {
    padding-bottom: 10px;
}

.observe .box-wrapper {
    min-height:100% !important;
}


.observe .widget-scrollable {
    padding-right: 0px !important;
}

.observe .widget-scrollable .scrollbar {
    margin-right: -5px !important;
}


.box.style2.span4.compact.observe {
    margin-right: 5px;
    min-height: 100% !important;
    margin-left: 37px !important;
    margin-bottom:38px;
}

.observe .text-center {
    margin: 20px 0 9px auto;
}




/* page-2 style   */



.videos-list__item-aside {

    overflow: hidden;
}

.photo.observee-new-img {
    margin-right: 10px;
    margin-bottom: 10px;
}
.observee-new-video-1 h4 {
    margin: 0;
    padding: 0;
    font-weight:normal;
    color:#1873bd;
    font-size:15px;
}

.observee-new-video-1 b {
    color:#2a2a2a;
    font-weight:normal;
    font-size:14px;
}
.observee-new-video-1 h3, .observee-observers-list-1 h5 {
    color: #424242;
    font-family: "Segoe UI",Frutiger,"Frutiger Linotype";
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 8px;
    padding-top: 3px;
}
.observee-new-video-1 {
    background: #fafafa none repeat scroll 0 0;
    padding: 0 0 10px 10px;
}
.videos-list__item-aside.observee-wrape-box
{
    padding:0px !important;
}


.observee-wrape-box .videos-list__item-title, .observee-wrape-box .videos-list__item-added
{
    padding:7px;
}

.play-icon {
    top: 120px !important;
}


.observee-observers-list-1
{
    padding:7px;
}

.observee-wrape-1 .right.smargin-right {
    margin-right: 15px !important;
}

.videos-list__item.observee-wrape-1 {
    width: 23%;
}

.observee-wrape-1 .videos-list__item-added {
    font-size: 13px;
}



#tab-area .tabset {

    width: 1011px !important;
}
.lock-observee-1-a
{
    float:right;
    margin-right:10px;
}

.videos-list__item {
    margin: 0 0 40px 30px !important;
}
/* page-2 style   */







/* page-3     */
.observetion-input-area
{
    width:100% !important;
    float:left;
}
.error {
    color: #be1616 !important;
    background-color: #fff2f2 !important;
    border-color: #d93f3f !important;
}   
.newCoachingHuddle select.error {
    color: #be1616 !important;
    background-color: #fff2f2 !important;
    border-color: #d93f3f !important;
}       

.new-observation-1-a {
    background: rgba(0, 0, 0, 0) url("/app/img/calender-obervation.png") no-repeat scroll 98% 2px;
    float: left;
    width: 70% !important;
    cursor: pointer;
}
.new-observation-time {
    float: right;
    margin-left: 0px;
    width: 25% !important;
}


#observation-time-picker {
    background: rgba(0, 0, 0, 0) url("/app/img/drop-down-arrow-ob.png") no-repeat scroll 92% 14px;
}
/*.drop-select-observee
{
        width:350px;
        
}
.observee-list-members
{
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
    color: #b2b2b2;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 4px;
        width:380px;
        margin-top:30px;
}*/



/*

#fancy-drop {
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
  clear: both;
  color: #b2b2b2;
  font-size: 13px;
  font-weight: bold;
  line-height: 3em;
  margin-top: 60px;
  overflow: hidden;
  padding: 0 6px;
  vertical-align: bottom;
  width: 97%;
}



#fancy-drop select {
  background: rgba(0, 0, 0, 0) url("/app/img/drop-down-arrow-ob.png") no-repeat scroll 93% 7px;
  border: medium none;
  border-radius: 1px;
  min-height: auto;
  width: 392px;
}


 #fancy-drop select option
 {
     background: #f8f8f8;
 }
  #fancy-drop select option:hover
 {
     background: red;
 }*/












*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    background: transparent; 
}

::-moz-selection {
    background: transparent; 
}







/* DEMO 2 */

.wrapper-dropdown-2 {
    /* Size and position */
    position: relative; /* Enable absolute positionning for children and pseudo elements */
    width: 100%;
    margin: 30px auto auto auto;
    border-left: 5px solid grey;
    cursor: pointer;
    outline: none;
    clear: both;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
    padding: 8px 4px;
    color: #b2b2b2;

    background:#fff url("/app/img/finder-h-o.png") no-repeat;
    background-position: 10px 10px;
    padding-left: 30px;

}

.wrapper-dropdown-2:after {
    content: none;
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #b2b2b2 transparent;
    background: url("/app/img/drop-down-arrow-ob.png") no-repeat;
}

.wrapper-dropdown-2 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: -5px;
    right: 0px;
    content: none !important;
    /* Styles */
    background: white;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    list-style: none;
    border: 1px solid #c5c5c5;
    overflow: visible;
    /* Hiding */
    opacity: 0;
    pointer-events: none;
    width: 100%;
    margin: 0px;
    padding: 0px;

}
.wrapper-dropdown-2 .dropdown::after {
    content: none !important;

}
.wrapper-dropdown-2 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #b2b2b2;

    padding: 15px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


.wrapper-dropdown-2 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */
.wrapper-dropdown-2 .dropdown li {
    color: #ffffff;
}
.wrapper-dropdown-2 .dropdown li:hover {
    color: #fafafa;
    border-bottom: 1px dashed #1873bd;
}
.wrapper-dropdown-2 .dropdown b {
    color: #1873bd;
    font-weight: bold;
    font-size: 15px;
}
.wrapper-dropdown-2 .dropdown p {
    color: #545454;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}
/* Active state */

.wrapper-dropdown-2.active:after {
    border-width: 0 6px 6px 6px;
}

.wrapper-dropdown-2.active .dropdown {
    min-height: 210px;
    opacity: 1;
    overflow-y: scroll;
    pointer-events: auto;
    margin-top: 0px;
    margin-left: 5px;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-2 .dropdown,
.no-pointerevents .wrapper-dropdown-2 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-2.active .dropdown,
.no-pointerevents .wrapper-dropdown-2.active .dropdown {
    display: block;
}









.float-right-ob
{
    float: right !important;
}
.observee-list-members-b
{
    width: 100%;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
    color: #c5c5c5;
    font-size: 13px;
    font-weight: normal;
    padding: 0px 4px;
    margin-top: 30px;
    min-height: 34px;
}
.observee-list-members-b option
{
    padding-left: 10px;
    color: #c5c5c5;
    padding-bottom: 8px;
    padding-top: 8px;
    line-height: 1.4em;
}


.observee-list-members-b option:hover
{
    padding-left: 10px;
    color: #c5c5c5;
    background: none;
}

.size-big.huddle-name.notifications-1-a
{
    width: 70%;
    float: left;

}

.observee-list-members-b.notifications-1-a-time {
    float: right;
    margin-top: 0;
    width: 25%;
}

.row.observetion-input-area > h3 {
    color: #0152a4;
    font-family: "Segoe UI",Frutiger,"Frutiger Linotype";
    font-size: 22px;
    font-weight: normal;
    padding-bottom: 10px;
}


.alret-people-a {
    float: left;
    font-size: 22px;
    color: #0152a4;
    font-weight:normal;
    font-family: "Segoe UI",Frutiger,"Frutiger Linotype";
    line-height:1.8em;
}

.plus-Invite {
    background: rgba(0, 0, 0, 0) url("/app/img/plus-Invite-icon.png") no-repeat scroll 0 9px;
    font-family: "Segoe UI",Frutiger,"Frutiger Linotype";
    font-size: 20px;
    height: 18px !important;
    padding: 5px 6px 0 40px;
}
.btn.btn-small.btn-green.plus-Invite-main {
    padding: 8px 20px;
    float: right;
    border-radius: 0px !important;
}

.observee-table-header-main
{
    margin-top: 20px;
}

.observee-table-header {
    background: rgba(0, 0, 0, 0) url("/app/img/gradient-1-a.png") repeat scroll 0 0 !important;
    height: 46px;
    padding: 0 0 5px 20px;
}

.observee-table-header .widget-scrollable {
    padding-right: 0px !important;
}
.observee-table-header #people-lists ul {
    background: #fafafa none repeat scroll 0 0 !important;
    margin: 0;
    padding: 0;
}
.observee-table-header #list-containers li {
    background: #fafafa none repeat scroll 0 0;
    padding: 15px 10px;
    margin: 0px;
}

.observee-list-admin .permissions {
    margin-right: 90px !important;
}

.size-big.huddle-name.location-observer-a
{
    width: 100%;
}





/* page 4 */


.fancy-check-box-ob input[type=checkbox] {
    display: none;
}
.fancy-check-box-ob input[type="checkbox"] + label {
    background: url("/app/img/un-checked.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    float: none;
    height: 34px;
    padding: 0;
    width: 33px;
    cursor: pointer;
    vertical-align: bottom;
}
.fancy-check-box-ob input[type="checkbox"]:checked + label {
    background: url("/app/img/checked.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 34px;
    padding: 0;
    width: 33px;
    cursor: pointer;
    vertical-align: bottom;
}

.fancy-check-box-ob {
    margin-top: 50px;
    vertical-align: top;
}
.fancy-check-box-ob b {
    padding-left: 10px;
    vertical-align: super;
}

.heading-back-t-a {
    margin: 5px 0 30px;
    color: #6588a6;
}
/* page4 End  */
















/* page5   */
#observee-table-list-o thead {
    background:#f3f3f3 url("/app/img/gradient-1-a.png") repeat !important;
}
.slimtable-container-div {
    display: inline-block;
    width: 100%;
}

.slimtable {
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 100%;
}

.slimtable th {

    border: 1px solid #ddd;
    color: #545454;
    text-align: left;
    height: 31px;
    line-height: 17px;
    background:#f3f3f3 url("/app/img/gradient-1-a.png") repeat !important;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-shadow: 0px !important;
}

.slimtable th.slimtable-activeth {
    background-color: #2a487f;
}

.slimtable td {
    border: 1px solid #ddd;
    color: #222;
    padding: 2px;
}

.slimtable tr {
    background-color: #fafafa;
}



/* Paging */
.slimtable-paging-div {
    margin-top: 5px;
    display: inline-block;
    width: 100%;
}

.slimtable-paging-seldiv {
    display: inline;
    float: right;
}

.slimtable-paging-select {
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 3px;
}

.slimtable-paging-btnsdiv {
    display: inline-block;
}

.slimtable-page-btn {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}

.slimtable-page-btn.active {
    background-color: #ccc;
}

/* Sprites */

.slimtable-sprites:first-child {
    margin-left: 2px;
    margin-right: 5px;
    vertical-align: middle;

    display: inline-block;
    background-image: url("/app/img/arrows.png");
    width: 17px;
    height: 17px;
}

.slimtable-sortboth {
    background-position: -1px -1px;
}

.slimtable-sortnone {
    background-position: -19px -19px;
}

.slimtable-sortasc {
    background-position: -1px -19px;
}

.slimtable-sortdesc {
    background-position: -19px -1px;
}


#observee-table-list-o img {
    margin-right: 10px;
    vertical-align: top;
}

#observee-table-list-o tbody tr td b {
    line-height: 2em;
    font-weight: normal;
}

.observee-view-del-alert {
    border-bottom: 1px solid #ccc;
    margin: 5px 0 5px 0px;
    overflow: hidden;
    padding-bottom: 0;
    padding-left: 2px !important;
    width: 106px;
}
.observee-view-del-alert > li {
    border-right: 1px solid #ccc;
    float: left;
    list-style-type: none;
    min-height: 30px;
    padding-bottom: 7px;
    padding-left: 5px;
    width: 34px;
}
.observee-view-del-alert > li:last-child
{
    border-right: 0px;
}

.slimtable-paging-div {
    display: none;
}
















































.pagination-ob-table {
    margin: 50px auto auto;
    width: 400px;
}

.pagination-ob-table .container .pagination {
    margin: 15px 0;
}

.pagination-ob-table .pagination {
    background: #ededed none repeat scroll 0 0;
    border-color: #cccccc;
    border-image: none;
    border-radius: 150px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 0 #c0c0c0;
    display: inline-block;
    float: none !important;
    margin: auto;
    min-height: 36px;
    overflow: visible;
    padding: 0 30px;
    text-decoration: none;
    transition: all 0.1s ease-out 0s;
    vertical-align: baseline;
    width: 264px;
}
.pagination-ob-table .pagination > a, .pagination-ob-table .pagination > span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-right: 1px solid #999999;
    box-shadow: none !important;
    color: #d4d4d4;
    float: left;
    font-weight: 500;
    line-height: 33px;
    margin-left: 2px;
    min-width: 27px;
    padding: 0 6px;
    text-align: center;
    text-decoration: none;
}
.pagination-ob-table .pagination :first-child {
    margin-left: 0;
}
.pagination-ob-table .pagination > a {
    background-clip: padding-box;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0));
    color: #000;
}
.pagination-ob-table .pagination > a:hover {
    background-color: #333;
    background-color: rgba(255, 255, 255, 0.05);
}
.pagination-ob-table .pagination > span, .pagination-ob-table .pagination > a:active {
    color: #ffffff; 
    background:url(/app/img/active-pagination-bg.png) repeat;


}
.pagination-ob-table .pagination .prev, .pagination-ob-table .pagination .next {
    color: #0152a4;
}

.pagination-ob-table .pagination-blue {
    background-color: rgba(0, 5, 50, 0.1);
}
.pagination-ob-table .pagination-blue > a {
    background-color: rgba(170, 170, 255, 0.01);
}
.pagination-ob-table .pagination-blue > a.hover {
    background-color: rgba(120, 130, 255, 0.08);
}




/* page 5 end  */


/*.lock-observee-1-a {
  display: none;
  float: right;
  margin-right: 10px;
}*/
input#txthuddles {
    border: medium none;
    box-shadow: none;
    width: 100%;
    padding: 0px 3px;
}
.remove {
    display: none !important;
}

.active input:focus
{
    color:#0152a4;
}



.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    background: #3182d4 none repeat scroll 0 0;
    color: #fff;
    border: #0152a4 1px solid;
}












.desk-sidetab {
    height: 40px !important;
    padding: 12px 13px 0 !important;

}



#logo a {
    /*    background: rgba(0, 0, 0, 0) url("/app/img/logo-b.png") no-repeat scroll center center / 135px auto !important;*/
    display: block;
    height: 84px;
    top: 0;
    width: 174px;
}



table#observee-table-list-o, table#observee-table-list-o h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size:12px;
}

#observee-table-list-o td {
    color: #545454;
    font-size: 14px;
    padding: 10px 0 0 10px;
    text-transform: capitalize;
}

#observee-table-list-o th {
    font-family: "Segoe UI",Frutiger,"Frutiger Linotype";
    font-size: 17px;
    font-weight: 600;
}


.header-huddle {
    padding: 9px;
    padding-left: 20px;   
}










input#thing[type=checkbox] {
    display: none;
}
input#thing[type="checkbox"] + label {
    background: rgba(0, 0, 0, 0) url("/app/img/un-checked-2.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    float: none;
    height: 23px;
    padding: 0px 0 0 40px;
    width: auto;
}
input#thing[type="checkbox"]:checked + label {
    background: url("/app/img/checked-2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 23px;
    padding: 0;
    width: auto;
    cursor: pointer;
    padding: 0px 0 0 40px;
}


.observee-list-admin input[type=checkbox] {
    display: none;
}
.observee-list-admin  input[type="checkbox"] + label {
    background: rgba(0, 0, 0, 0) url("/app/img/un-checked-2.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    float: none;
    height: 23px;
    padding: 0px 0 0 40px;
    width: auto;
}
.observee-list-admin input[type="checkbox"]:checked + label {
    background: url("/app/img/checked-2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 23px;
    padding: 0;
    width: auto;
    cursor: pointer;
    padding: 0px 0 0 40px;
}


















.select-all-none input[type=checkbox] {
    display: none;
}
.select-all-none input[type="checkbox"] + label {
    background: rgba(0, 0, 0, 0) url("/app/img/un-checked-2.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    float: none;
    height: 23px;
    padding: 0px 0 0 40px;
    width: auto;
}
.select-all-none input[type="checkbox"]:checked + label {
    background: url("/app/img/checked-2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 23px;
    padding: 0;
    width: auto;
    cursor: pointer;
    padding: 0px 0 0 40px;
}


.select-all-none > label {
    line-height: 2em;
    margin-top: 5px;
    padding-left: 10px;
}


#sort-mode {
    width: 170px !important;
}

.btn.btn-green {
    font-family: "Segoe UI",Frutiger,"Frutiger Linotype";
    font-size: 14px !important;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-shadow:0px !important;
    padding-bottom: 5px;
}

.btn.btn-transparent {
    border: 1px solid #969696;
    font-family: "Segoe UI",Frutiger,"Frutiger Linotype";
    font-size: 15px;
    margin-left: 10px;
    min-height: 30px;
    text-decoration: none;
}



.btn {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.09) 0%, rgba(0, 0, 0, 0.09) 100%);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13), 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    cursor: pointer;
    display: inline-block;
    font-family: "Segoe UI",Frutiger,"Frutiger Linotype";
    font-size: 13px;
    font-weight: 600;
    padding: 6px 15px;


}

.form-actions {
    margin-top: 20px;
}



.pagination ul li {
    border-bottom: 0 none !important;
    border-left: 0 none !important;
    border-radius: 0 !important;
    border-top: 0 none !important;
    height: 35px;
    line-height: 2.0em;
    font-size: 17px;
    margin:0px !important;
    padding:1px 16px !important;
    border-radius:0px !important;
    font-family: "Segoe UI",Frutiger,"Frutiger Linotype";
    font-weight:600;
}
.pagination ul li:last-child {
    border-right: 0 none !important;
    border-radius:0px 150px 150px 0px !important;
}
.pagination ul li:first-child {
    border-radius:150px 0px 0px 150px !important;
}
.pagination {
    display: table;
    float: none !important;
    position: relative;
    text-align: center;
    width: 100%;
    margin-top:30px;
}
.pagination > ul {
    background: #ededed none repeat scroll 0 0;
    border-radius: 150px;
    clear: both;
    display: inline-block;
    float: none !important;
    margin: auto;

    text-align: center;

    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 1px 0 #c0c0c0;
}

.pagination ul li:hover
{
    background:#1464B4 !important;
}


.in-active-lock {
    cursor: no-drop;
    opacity: 0.6;
}



.header-huddle {
    min-height: 52px !important
}

.tab-content strong {
    font-family: "Segoe UI",Frutiger,"Frutiger Linotype";
    font-size: 15px;
    letter-spacing:0.05em;
}








.header.header--lite.header-huddle {
    min-height: 40px !important;
}

#login-form button.btn.btn-medium.btn-orange {
    margin-top: 20px;
    font-size: 15px;
    padding: 8px 50px;
}



#tab-area .tabset li a.active {
    margin-top: 1px !important;
}


.my-workspace-type {
    color: #5a5a5a;
    float: left;
    font: 14px "Segoe UI" ;
    width: 100px !important;
}

.copy-table-last-a
{
    color: #5a5a5a;
    font: 14px "Segoe UI";
    width: 100px !important;
}


.container.box.newCoachingHuddle h1 {
    padding: 20px 0 0px 0px;
}





.user-invitation-wrapper .groups-table-header {
    height: auto !important;
    padding: 6px 10px;
}

.user-invitation-wrapper .filterinput {
    float: none;
}

.user-invitation-wrapper .groups-table-header .title {
    margin-right: 5px;
    min-width: auto !important;
}
.user-role > select {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #9e9e9e;
    color: #666;
    width: 90px;
}

.user-invitation-wrapper .toolbar {
    margin-top: 10px;
    position: absolute;
    right: 84px;
}
.label-filter-tab {
    float: left;
    margin-right: 5px;
    min-width: 60px;
}



.user-invitation-wrapper .group-list li, .user-invitation-wrapper .user-list li {
    padding: 8px 0 !important;
}




.autoadd .close {
    line-height: 1em;
}

#all .active > img {
    margin-right: 10px;
    margin-top: -2px;
}



.observations-grids-main {
    min-height: 300px;
}

p.text-center {
    margin-bottom: 20px;
}


.videos-library__content {
    width: 815px !important;
}


.videos-library__list-item {
    width: 225px !important;
    margin-left: 25px;
}



.doc_video_association .row .video-dropdown {
    height: 26px !important;
    width: 74px !important;

}



// Observation Video

.right-box-1{float:left; width:460px; margin-left:10px; padding-top:50px;}
.right-box-2{width:260px; float:left; margin-left:12px; margin-top:100px; }
.right-box-3{width:188px; float:left; margin-left:10px;  margin-top:100px;}
.observerphotos img {margin-right:10px;}

.observerphotos h3 {
    float: left;
    font-size: 15px;
    width: 80px;
}

.observerphotos a {
    color: #5a80a0;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    margin-right: 5px;
    padding-left: 0px;
    text-decoration:none;
    cursor:pointer;
}
.observerphotos a:hover {
    text-decoration:underline; color: #5a80a0;}

.observerphotos .dateh{
    font-size:15px;
    color:#333;
    text-align:left;
    font-weight:700;
    float:right;
}

.observerphotos .datet{
    font-size:11px;
    color:#888;
    text-align:left;
    font-weight:300;
    float:right;
    font-style:italic;
    padding-left:10px;
    padding-top:4px;
}
.tags-icon{
    background-image:url(/app/img/tag-icon.png);
    background-repeat:no-repeat;
    text-indent:15px;
    display:block;
    float:right;

}


.tags a:hover{
    text-decoration:underline; color: #0152a4;
}

.tagsleft{
    color: #333;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-left: 5px;
    float:left;
    position: relative;
    z-index: 10;
    margin-bottom:10px;

}
.tagsselect{white-space: nowrap; 
            width: 180px; 
            overflow: hidden;
            text-overflow: ellipsis; 
            padding:5px; cursor:pointer; text-align:left; }
.tagsselect:hover {padding:5px; background-color:#e4e4e4 }

.tagsselect a{
    color: #0152a4;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-decoration:none;
    cursor:pointer;
    margin-bottom:2px;
    padding:5px;
    text-align:left;
}	
.tagsselect a:hover{
    color: #0152a4;
    background-color:#e4e4e4;
    cursor:pointer;
    padding:5px;
}

.tagsselect .tagactive{
    color: #0152a4;
    background-color:#e4e4e4;
    cursor:pointer;
}	

.comment-body a {
    color: #5a80a0;
    font-size: 11px;
    font-weight: normal;
    line-height: 1;
    margin-right: 5px;
    padding-left: 0px;
    text-decoration:none;
    cursor:pointer;
}

.comment-body a:hover {
    text-decoration:underline; color: #5a80a0;}
/*.widget-scrollable .viewport.short {
    height: 600px !important;
}*/

.btn-lilghtgray{

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */

    border-color: #b4b4b4;
    border-radius:6px;
    padding: 5px !important;
    font-size:12px;
    color: #0152a4;
}

.btn-lilghtgray:hover {background-color:#f5f5f5;}




.crossBtn{left: -9px;     position: relative;     top: -14px;}



































#scrollbar1 {
    margin: 10px auto 10px;
    position: relative;
    width: 96%;
}
#scrollbar1 .viewport {
    background: #fff none repeat scroll 0 0;
    height: 500px;
    overflow: hidden;
    position: relative;
}
#scrollbar1 .overview {
    left: 0;
    list-style: outside none none;
    margin: 0;
    padding: 10px 20px;
    position: absolute;
    top: 0;
}
#scrollbar1 .scrollbar {
    background: #fff none repeat scroll 0 0;
    border-right: 10px none;
    position: absolute;
    right: -14px;
    top: 0;
    width: 7px;
    border-radius: 3px;

}
#scrollbar1 .track {
    background: transparent url("/app/img/bg-scrollbar-trackend-y.png") no-repeat scroll 0 100%;
    height: 100%;
    padding: 0 1px;
    position: relative;
    width: 13px;
}
#scrollbar1 .thumb {
    background: #000 none repeat scroll 0 0;
    border-right: 10px none;
    opacity:0.3;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 5px;
    border-radius: 3px;

}
#scrollbar1 .thumb .end {
    background: transparent url("/app/img/bg-scrollbar-thumb-y.png") no-repeat scroll 50% 0;
    height: 5px;
    overflow: hidden;
    width: 25px;
}
#scrollbar1 .disable {
    display: none;
}
.noSelect {
    -moz-user-select: none;
}




#scrollbar2 {
    margin: 5px auto 10px;
    position: relative;
    width: 100%;
}
#scrollbar2 .viewport {
    background: #fff none repeat scroll 0 0;
    height: 500px;
    overflow: hidden;
    position: relative;
}
#scrollbar2 .overview {
    left: 0;
    list-style: outside none none;
    margin: 0;
    padding: 10px 20px;
    position: absolute;
    top: 0;
}
#scrollbar2 .scrollbar {
    background: #fff none repeat scroll 0 0;
    border-right: 10px none;
    position: absolute;
    right: -14px;
    top: 0;
    width: 7px;
    border-radius: 3px;

}
#scrollbar2 .track {
    background: transparent url("/app/img/bg-scrollbar-trackend-y.png") no-repeat scroll 0 100%;
    height: 100%;
    padding: 0 1px;
    position: relative;
    width: 13px;
}
#scrollbar2 .thumb {
    background: #000 none repeat scroll 0 0;
    border-right: 10px none;
    opacity:0.3;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 5px;
    border-radius: 3px;

}
#scrollbar2 .thumb .end {
    background: transparent url("/app/img/bg-scrollbar-thumb-y.png") no-repeat scroll 50% 0;
    height: 5px;
    overflow: hidden;
    width: 25px;
}

.btnwraper{
    float:left; 
    margin-bottom:10px; 
    margin-right:0px
}
.leftcls{ float:left;}
.ob-search{width: 273px;float: right;position: relative;top: 6px;left: 15px;}
.ob-search .text-input {  width: 220px !important; background-size:100% 100%;   padding: 0 20px 0 9px !important;}
.ob-search .search-x-huddles{  right: 19px !important;}
.allimgcls img{ display:inline-block; margin-right:10px;}

.slimtable-container-div {min-height: 320px;}


/*----------FROM FRAME WORKS LISTING DIALOG*/
#scrollbar3 {
    margin: 5px auto 10px;
    position: relative;
    width: 100%;
}
#scrollbar3 .viewport {
    background: #fff none repeat scroll 0 0;
    height: 500px;
    overflow: hidden;
    position: relative;
}
#scrollbar3 .overview {
    left: 0;
    list-style: outside none none;
    margin: 0;
    padding: 10px 5px;
    position: absolute;
    top: 0;
}
#scrollbar3 .scrollbar {
    background: #fff none repeat scroll 0 0;
    border-right: 10px none;
    position: absolute;
    right: 4px;
    top: 0;
    width: 7px;
    border-radius: 3px;
    z-index:99;

}
#scrollbar3 .track {
    background: transparent url("/app/img/bg-scrollbar-trackend-y.png") no-repeat scroll 0 100%;
    height: 100%;
    padding: 0 1px;
    position: relative;
    width: 13px;
}
#scrollbar3 .thumb {
    background: #000 none repeat scroll 0 0;
    border-right: 10px none;
    opacity:0.3;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 5px;
    border-radius: 3px;

}
#scrollbar3 .thumb .end {
    background: transparent url("/app/img/bg-scrollbar-thumb-y.png") no-repeat scroll 50% 0;
    height: 5px;
    overflow: hidden;
    width: 25px;
}

#listContainer{
    margin-top:1px;
}

#expList ul, #expList li {
    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: #0152a4;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-decoration:none;
    cursor:pointer;
    margin-bottom:2px;
    padding:5px;
    text-align:left;

}
#expList p {
    margin:0;
    display:block;
}
#expList p:hover {
    background-color:#121212;
}
#expList li {
    line-height:140%;
    text-indent:0px;
    background-position: 1px 8px;
    padding-left: 20px;
    background-repeat: no-repeat;
    width:98%;
}

/* Collapsed state for list element */
#expList .collapsed {
    background-image: url("/app/img/collapsed.png");
}
/* Expanded state for list element */
/* NOTE: This class must be located UNDER the collapsed one */
#expList .expanded {
    background-image: url("/app/img/expanded.png");
}


.highlight {
    background-color: #FFFF88;
}

.right-box-2 .comment{
    width:100% !important;

}
.right-box-2 .comment.thread{

    width:100% !important;
}
.right-box-2 .input-group textarea
{
    width:100%;
}

.right-box-2 .comment.thread
{  padding: 20px 0px 20px 55px !important;}

.right-box-2 .comments .photo
{
    margin-left: -40px !important;
}
.right-btns .srt-dropdowns{
    width:120px !important;
}

#vidComments #add_comment_button{
    font-size: 13px !important;
    font-weight: bold;
}

.right-box {
    width:460px;
}

textArea[name='comment[comment]']{
    width:100%
}

p.videos-library__filter, .appendix-content h3{
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
}

.VideoLibrary .cntr .upload-detail-container .inner .cnt-right .section .row .video-dropdown{
    width:275px;
    height:40px;
}

.VideoLibrary .cntr .upload-detail-container .inner .cnt-right .section .row .video-dropdown-container .container .check-container{
    width:235px;
    height:36px;
    
}
.VideoLibrary .cntr .upload-detail-container .inner{
    width:898px;
}

.video-unpublished-videolib{
    width:223px;
}

.VideoLibraryView .left_col{
    width:680px;
}

.VideoLibraryView .empty_video_box{
    width: 400px;
    padding-left: 165px;
}

.appendix-content p{
    margin:5px
}

.permission-header-box .select-all-none>label{
    padding-left: 0px;
}

.huddle-permission-save-container
{
    margin-top:15px;
}

#super-user-container #superuser-filter-input{
    height:28px;
}

#admin-user-container #user-filter-input{
    height:28px;
}

#grous-list {
    margin-top: 20px;
}

#grous-list .rounded{
    margin-top:10px;
}

.permissions-text-input
{
    width: 270px !important;
}

.edit_group *{
    padding:5px;
}

.edit_group #user-pagination input[type="text"]{
    padding: 6px 4px;
}

#ulDiscussions .tab-3-box{
    width: 970px;
}

#ulDiscussions .right-box-docs {
  position: absolute;
  left: 922px;
}

#tabbox3 .tab-4 {
    width: 975px;
}

.launchpad .lanchpad-box {
    padding:0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 25px;
    width: 300px;

}
.launchpad {
    width: 1015px !important;
    margin-left: 28px;
}
.discussion-editor-row-content ul {
    list-style: inherit;
    background: url(/app/img/border-img.gif) repeat-x left bottom;
}
.discussion-editor-row-content ol {
    background: url(/app/img/border-img.gif) repeat-x left bottom;
}
.discussion-editor-row-content ol li {
    list-style:inside;
    list-style-type: decimal;
    padding: 0;
    background: none;
    width:100%
}
.discussion-editor-row-content  ul li {
    list-style:inside;
    list-style-type: disc !important;
    padding: 0 !important;
    background: none !important;
    width:100%
}



.expList li {
    color: #8f8d8d !important;
    padding: 0px !important;
    padding-left: 5px !important;
}
