.video-editor {
    font-family: "Proxima Nova", sans-serif;
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}
.video-editor:before {
    content: 'Loading Video Editor...';
    color: #666;
    font-size: 2em;
    top: 38%;
    text-align: center;
    left: 0;
    right: 0;
    z-index: 11;
    -webkit-transition: .25 ease;
    transition: .25 ease;
    position: absolute;
}
.video-editor--loaded:before {
    opacity: 0;
    visibility: hidden;
}
    .video-editor__video {
        display: inline-block;
        -webkit-transform: translateY(-2em);
        -ms-transform: translateY(-2em);
        transform: translateY(-2em);
        -webkit-transition: 1s ease;
        transition: 1s ease;
        opacity: 0;
    }
    .video-editor--loaded .video-editor__video {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    .video-editor__trimmer {
        margin-top: 2em;
    }
        .video-editor__trimmer-time {
            font-size: 12px;
            color: #8b8b8b;
            margin-top: .5em;
        }
        .video-editor__trimmer-time--start {
            float: left;
        }
        .video-editor__trimmer-time--end {
            float: right;
        }
    .video-editor__footer {
        text-align: right;
        padding: 2em 0;
    }
        .ve-btn {
            background: #fff;
            border: 1px solid #c6c6c6;
            color: #848484;
            display: inline-block;
            font-size: 1em;
            height: 2.25em;
            line-height: 2.25em;
            border-radius: .25em;
            cursor: pointer;
            vertical-align: top;
            padding: 0 1em;
            outline: none;
        }
        .ve-btn:hover {
            background: #ededed;
            color: #7f7e7e;
        }
        .ve-btn:active {
            background: #dedede;
        }
.ve-loading:after {
    content: '';
    width: 1em;
    height: 1em;
    top: 50%;
    left: 50%;
    margin: -.5em 0 0 -.5em;
    position: absolute;
    z-index: 100;
    display: inline-block;
    vertical-align: middle;
    border: .25em solid transparent;
    border-radius: 50%;
    border-top-color: #fff;
    border-left-color: #fff;

    -webkit-animation: spin .7s infinite linear;
    animation: spin .7s infinite linear;
}
.ve-loading.is-loaded:after {
    opacity: 0;
}

@-webkit-keyframes "spin" {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    50% { -webkit-transform: rotate(120deg); transform: rotate(120deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes "spin" {
    0% { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
    50% { -webkit-transform: rotate(120deg); -ms-transform: rotate(120deg); transform: rotate(120deg); }
    100% { -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
