.flat { margin-left: 26px; }
.video_time_cls { display: inline-block; }
.add_comment { position: relative; }


.updateLable {

}

.updateLable label {
  display: inline-block;
  color: #010101;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  margin-bottom: 0;
}
#lagend {
  visibility: hidden;
  position: absolute;
  z-index: -2222;
  width: 95%;
  padding: 10px;
}
#editTextBox{
  overflow-y: hidden;
}
.tgright { padding-left:0 !important;      
}

.tgouter {
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 2px 18px 1px 5px;
 
  vertical-align: top;
  margin: 4px 4px 0 0;
  display: inline-block;
  max-width: 24%;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;    white-space: nowrap;
}

.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e4e4;
  margin: -10px -10px 12px -10px;
  padding: 10px;
}

.edit_spanish .account_per {
  display: none;

}

.hide_add_comment{
  display: none;
}

.tag_outer { position:relative; min-height: 24px;}
.tag_outer .tag_left_icon{ position:absolute; left:0;}
.pouter {    padding-left:0px;}

.edit_fields { padding-bottom:4px;}

.attach_video {
      float: left;
    display: flex; width:auto;
}
.attach_video button {
  background: none;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
  height: 35px;
  position: relative;
  float: left;
  width: 38px;
  margin-right: 6px;
}
.reaction_btn {
  padding: 2px 0 0 6px;
  float: left;
  
  
}



     .reaction_btn .btn-secondary {
        border-color: #cccccc;
        background: #fff;
        color: #484848;
           padding-right: 7px;
    padding-left: 7px;
  
    font-size: 14px;
    text-align: center;
	       padding-top: 7px;
    padding-bottom: 0px; 
    font-family: 'Roboto';
    height: 35px;
    }
	.reaction_btn .btn-secondary span:last-child{ display: inline-block;
    padding-left: 1px;
    max-width: 74px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
	
	.reaction_btn .btn-secondary .custom_tag{    top: 3.5px;
    position: relative;
    float: left;}

    .reaction_btn .active { color:#fff;}
	.reaction_btn .active span { color:#fff !important;}
	.reaction_btn .active .custom_tag { border-color:#fff !important;}
	 
	 .reaction_btn .custom_tag { margin-left:0;}
	 
	 
	.add_com_btn .dropdown-toggle::after { display:none;}
	
	
	.add_com_btn {    float: right;
    width: 112px;     }
	
 .add_com_btn .comm_options{    border-radius: 4px;
    border: 1px solid #dddddd;     padding: 4px 8px 4px 9px; height: 35px;
    display: flex;}  	

 .add_com_btn  .dropdown-menu.show{    left: inherit!important;
    right: 0 !important;}
	.incs{ display:none;}
	.small_sc {   width: auto;padding-top: 4px;}
	.opt_in { float:right; margin-right:10px;}
	
	
	.attach_video .att1 svg{ position: absolute;
    top: -0.5px;
    left: 6px;
    width: 26px;
    height: 26px}
	.attach_video .att2 svg{     position: absolute;
    top: -1px;
    left: 6px;
    width: 27px;
    height: 27px;}
	
	
	@media screen and (max-width: 1500px){
		
	.larg_sc { display:none;}
	.small_sc {   width: auto;padding-top: 4px;}	
	.add_com_btn .comm_options{ margin-right:7px;}
	.add_com_btn  .dropdown-menu.show{    left: inherit!important;
    right: 6px !important;}	
	
	.incs{ display:inline-block;}
	
		
	}
	 
	 
	 @media screen and (max-width: 1400px){
		 
		  .reaction_btn .btn-secondary {
       padding: 7px 4px 1px 4px;
    height: 35px;
        
    }
		 
		 
	 }
	 
@media screen and (max-width: 1200px){
	
	.reaction_btn{
   
        float: left;
    
    padding: 2px 0 0 0;
}
.reaction_btn .btn-secondary {
    border-color: #cccccc;
    background: #fff;
    color: #484848;
    padding-right: 4px;
    padding-left: 4px;
    font-size: 12px;
    text-align: center;
   
}

	
	
	
}