<!-- <div *ngIf="( (original_account && pageType == 'library-page') || (pageType != 'library-page')) && ((VideoInfo.video_is_saved |!=0 | EditMode) && (permissions.can_comment || screenSharing) && userAccountLevelRoleId != '125')"
    class="add_comment" [ngClass]="{'edit_spanish' : EditMode==true}" [ngClass]="{'hide_add_comment' : (cinemaModeOn && currentTab==2)}"> -->
    <div *ngIf="( (original_account && pageType == 'library-page') || (pageType != 'library-page') ) && ((VideoInfo.video_is_saved !=0 || EditMode) && (permissions.can_comment) && userAccountLevelRoleId != '125')"
    class="add_comment" [ngClass]="{'edit_spanish' : EditMode==true}"
    [ngClass]="{'hide_add_comment' : (cinemaModeOn && currentTab==2)}">
    <div *ngIf="!artifactComment" class="row comm_top">
        <div *ngIf="EditMode" class="updateLable col-md-6">
            <label>
                {{updateComment}}

            </label>
        </div>
        <div *ngIf="!EditMode" class="col-md-6">
            <label>
                {{addCommentTitle}}
            </label>
        </div>
        <div [class.col-md-6]="!EditMode" [class.col-md-6]="EditMode" class="comm_time">
            <span class="switch_container">
                <ui-switch (click)="closeInfo();" [disabled]="EditMode" defaultBgColor="#a3a3a3"
                    [(ngModel)]="newComment.timeEnabled">
                </ui-switch>
            </span>
            <span class="time_com">{{commentTime}} -
                <span class="video_time_cls">

                    <span *ngIf="newComment.timeEnabled && !EditMode">
                        {{formattedVideoCurrentTime}}
                    </span>
                    <span [hidden]="newComment.timeEnabled">{{translation?.vd_all_videos}}</span>
                </span>
            </span>
        </div>
    </div>
    
     <div [style.backgroundColor]="EditMode?'#fcf9d1':'transparent'" [style.padding]="EditMode?'4px':'0'">
     
     <div class="edit_fields" *ngIf="EditMode">
      <span class="video_time_cls">
                    <div *ngIf="newComment.timeEnabled && EditMode">
                        <div class="btn-group" dropdown>
                            <button type="button" dropdownToggle class="comm_options dropdown-toggle"
                                aria-controls="start-hours">
                                {{commentStartTime[0] | DoubleDigit}}
                            </button>
                            <ul id="start-hours" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="start-hours" style="min-width: 0rem;">
                                <div size="5px" transition="0.2" railVisible="true" railOpacity="0.2" railColor="#000"
                                    height="120px" id="slimscroll-sh" slimScroll>
                                    <li role="menuitem" class="fake_link" *ngFor="let value of availableHours"
                                        (click)="updateCommentStartTime(0, value)">
                                        <span class="dropdown-item">{{value | DoubleDigit}}</span>
                                    </li>
                                </div>
                            </ul>
                        </div>
                        <div class="btn-group" dropdown>
                            <button type="button" dropdownToggle class="comm_options dropdown-toggle"
                                aria-controls="start-minutes">
                                {{commentStartTime[1] | DoubleDigit}}
                            </button>
                            <ul id="start-minutes" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="start-minutes" style="min-width: 0rem;">
                                <div size="5px" transition="0.2" railVisible="true" railOpacity="0.2" railColor="#000"
                                    height="120px" id="slimscroll-sh" slimScroll>
                                    <li role="menuitem" class="fake_link" *ngFor="let value of availableMntsNScnds"
                                        (click)="updateCommentStartTime(1, value)">
                                        <span class="dropdown-item">{{value | DoubleDigit}}</span>
                                    </li>
                                </div>
                            </ul>
                        </div>
                        <div class="btn-group" dropdown>
                            <button type="button" dropdownToggle class="comm_options dropdown-toggle"
                                aria-controls="start-seconds">
                                {{commentStartTime[2] | DoubleDigit}}
                            </button>
                            <ul id="start-seconds" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="start-seconds" style="min-width: 0rem;">
                                <div size="5px" transition="0.2" railVisible="true" railOpacity="0.2" railColor="#000"
                                    height="120px" id="slimscroll-sh" slimScroll>
                                    <li role="menuitem" class="fake_link" *ngFor="let value of availableMntsNScnds"
                                        (click)="updateCommentStartTime(2, value)">
                                        <span class="dropdown-item">{{value | DoubleDigit}}</span>
                                    </li>
                                </div>
                            </ul>
                        </div>
                        <span style="margin: 0 5px;">-</span>
                        <div class="btn-group" dropdown>
                            <button type="button" dropdownToggle class="comm_options dropdown-toggle"
                                aria-controls="start-hours">
                                {{commentEndTime[0] | DoubleDigit}}
                            </button>
                            <ul id="start-hours" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="start-hours" style="min-width: 0rem;">
                                <div size="5px" transition="0.2" railVisible="true" railOpacity="0.2" railColor="#000"
                                    height="120px" id="slimscroll-sh" slimScroll>
                                    <li role="menuitem" class="fake_link" *ngFor="let value of availableHours"
                                        (click)="updateCommentEndTime(0, value)">
                                        <span class="dropdown-item">{{value | DoubleDigit}}</span>
                                    </li>
                                </div>
                            </ul>

                    </div>
                    <div class="btn-group" dropdown>
                        <button type="button" dropdownToggle class="comm_options dropdown-toggle"
                            aria-controls="start-minutes">
                            {{commentEndTime[1] | DoubleDigit}}
                        </button>
                        <ul id="start-minutes" *dropdownMenu class="dropdown-menu" role="menu"
                            aria-labelledby="start-minutes" style="min-width: 0rem;">
                            <div size="5px" transition="0.2" railVisible="true" railOpacity="0.2" railColor="#000"
                                height="120px" id="slimscroll-sh" slimScroll>
                                <li role="menuitem" class="fake_link" *ngFor="let value of availableMntsNScnds"
                                    (click)="updateCommentEndTime(1, value)">
                                    <span class="dropdown-item">{{value | DoubleDigit}}</span>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="btn-group" dropdown>
                        <button type="button" dropdownToggle class="comm_options dropdown-toggle"
                            aria-controls="start-seconds">
                            {{commentEndTime[2] | DoubleDigit}}
                        </button>
                        <ul id="start-seconds" *dropdownMenu class="dropdown-menu" role="menu"
                            aria-labelledby="start-seconds" style="min-width: 0rem;">
                            <div size="5px" transition="0.2" railVisible="true" railOpacity="0.2" railColor="#000"
                                height="120px" id="slimscroll-sh" slimScroll>
                                <li role="menuitem" class="fake_link" *ngFor="let value of availableMntsNScnds"
                                    (click)="updateCommentEndTime(2, value)">
                                    <span class="dropdown-item">{{value | DoubleDigit}}</span>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
                <span *ngIf="newComment.timeEnabled && !EditMode">
                    {{formattedVideoCurrentTime}}
                </span>
                <ng-container>
                <span [hidden]="newComment.timeEnabled">{{translation?.vd_all_videos}}</span>
                </ng-container>
            </span>
        </div>

        <div class="comment_box" id="plz_change">


            <audio-recorder-play
                *ngIf="(!newComment.commentText || (newComment.commentText && newComment.ref_type==6)) && (!EditMode || (EditMode && newComment.ref_type!=6))"
                [localAudioData]="localAudioData" [autoSaveAudio]="autoSaveAudio" (currentState)="currentState($event)"
                (audioPath)="audioPath($event)"></audio-recorder-play>
            <textarea id="lagend"></textarea>
            <textarea id="editTextBox"
                *ngIf="!EditMode && (audioRecorderState === 'comfortZone' || audioRecorderState === 'recording')"
                [(ngModel)]="newComment.commentText" (keydown)="TriggerTextChange($event)" [placeholder]="[placeholder]"
                (blur)="focusOut(0)" (focus)="focusOut(1)" (input)="textbox(newComment.commentText)"
                (click)="closeInfo(1,0,2)"></textarea>
            <textarea id="editTextBox"
                *ngIf="EditMode && newComment.ref_type!=6 && (audioRecorderState === 'comfortZone' || audioRecorderState === 'recording')"
                [(ngModel)]="newComment.commentText" (keydown)="TriggerTextChange($event)" [placeholder]="placeholder"
                onfocus="" (click)="closeInfo(1,0,2)" (blur)="focusOut(0)" (focus)="focusOut(1)"
                (input)="textbox(newComment.commentText)"></textarea>
            <div *ngIf="EditMode && newComment.ref_type==6" class="audio-recorder-play-wrapper">
                <div class="audio-container">
                    <audio controls #audioPlayer>
                        <source [src]="newComment.audioUrl != '' ? newComment.audioUrl : newComment.commentText">
                        {{translation?.vd_your_browser_does_not}}
                    </audio>
                    <div class="cancel-audio" (click)="cancel()">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                            id="Capa_2" x="0px" y="0px" width="15px" height="15px" viewBox="0 0 47.971 47.971"
                            style="enable-background:new 0 0 47.971 47.971;" xml:space="preserve" fill="#757474">
                            <g>
                                <path
                                    d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88   c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242   C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879   s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z" />
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="new_comm_sec">
                <ng-container>
                    <div class="attach_video">
                        <button *ngIf="pageType!='library-page'" class="att1"
                            [ngClass]="{'active_c': active_class == 1}"
                            (click)="playerService.ModifyPlayingState('pause');mainService.FocusCustomTag();closeInfo(1,0,2);active_check(1);"><svg
                                (click)="playerService.ModifyPlayingState('pause');mainService.FocusCustomTag();closeInfo();"
                                xmlns="http://www.w3.org/2000/svg" width="24.034" height="20.229"
                                viewBox="0 0 24.034 20.229">
                                <g id="add_tag" data-name="add tag" transform="translate(-157.887 -608)">
                                    <path id="tag"
                                        d="M3.78,2.7A1.08,1.08,0,0,0,2.7,1.62,1.08,1.08,0,0,0,1.62,2.7,1.08,1.08,0,0,0,2.7,3.78,1.08,1.08,0,0,0,3.78,2.7Zm9,4.86a1.034,1.034,0,0,1-.312.759L8.328,12.471a1.081,1.081,0,0,1-.768.312,1.034,1.034,0,0,1-.759-.312L.768,6.429a2.515,2.515,0,0,1-.544-.852A2.605,2.605,0,0,1,0,4.59V1.08A1.038,1.038,0,0,1,.321.321,1.038,1.038,0,0,1,1.08,0H4.59a2.605,2.605,0,0,1,.987.224,2.616,2.616,0,0,1,.861.544l6.033,6.024A1.081,1.081,0,0,1,12.783,7.56Z"
                                        transform="translate(170.67 615.446) rotate(90)" fill="#616161" />
                                    <text id="_" data-name="+" transform="translate(172.921 624)" fill="#616161"
                                        font-size="15" font-family="Roboto-Medium, Roboto" font-weight="500">
                                        <tspan x="0" y="0">+</tspan>
                                    </text>
                                </g>
                            </svg>
                            <i class="arrow-active"></i>
                        </button>
                        <div *ngIf="permissions?.rubric_check"> <button class="att2"
                                [ngClass]="{'active_c': active_class == 2}"
                                (click)="closeInfo();active_check(2);"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="21.767"
                                    viewBox="0 0 24 21.767">
                                    <g id="Group_1530" data-name="Group 1530" transform="translate(0 2.037)">
                                        <text id="_" data-name="+" transform="translate(15 13.963)" fill="#616161"
                                            font-size="15" font-family="Roboto-Medium, Roboto" font-weight="500">
                                            <tspan x="0" y="0">+</tspan>
                                        </text>
                                        <path id="list"
                                            d="M1.8,136.335v1.352a.228.228,0,0,1-.225.225H.225a.217.217,0,0,1-.158-.067A.217.217,0,0,1,0,137.687v-1.352a.216.216,0,0,1,.067-.158.216.216,0,0,1,.158-.067H1.577a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H.225a.216.216,0,0,1-.158-.067A.216.216,0,0,1,0,134.984v-1.352a.216.216,0,0,1,.067-.158.217.217,0,0,1,.158-.067H1.577a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H.225a.216.216,0,0,1-.158-.067A.216.216,0,0,1,0,132.28v-1.352a.216.216,0,0,1,.067-.158.217.217,0,0,1,.158-.067H1.577a.228.228,0,0,1,.225.225Zm10.814,5.407v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352a.228.228,0,0,1,.225-.225h9.462a.228.228,0,0,1,.225.225ZM1.8,128.225v1.352a.228.228,0,0,1-.225.225H.225a.217.217,0,0,1-.158-.067A.217.217,0,0,1,0,129.577v-1.352a.217.217,0,0,1,.067-.158A.217.217,0,0,1,.225,128H1.577a.228.228,0,0,1,.225.225Zm10.814,5.407v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352a.228.228,0,0,1,.225-.225h9.462a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352a.228.228,0,0,1,.225-.225h9.462a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352A.228.228,0,0,1,2.929,128h9.462a.228.228,0,0,1,.225.225Z"
                                            transform="translate(0 -118.183)" fill="#616161" />
                                    </g>
                                </svg><i class="arrow-active"></i></button>
                        </div>
                        <div> <button class="att3" [ngClass]="{'active_c': active_class == 3}"
                                (click)="active_check(3);">
                                <fs-uploader (click)="playerService.ModifyPlayingState('pause');closeInfo(1,0,2);"
                                    [label]="translation?.vd_upload" [source]="'comment'" [configuration]="videoOptions"
                                    (onUpload)="AppendNewFiles($event);" [actv_class]="active_class"></fs-uploader>

                            </button>

                        </div>
                        <div class="clear"></div>
                    </div>
                </ng-container>

                <div *ngIf="pageType!='library-page' && permissions?.AllowCustomMarkers"
                    class="btn-group btn-group-toggle reaction_btn" data-toggle="buttons">

                    <!-- <label class="btn btn-secondary feeb">
        <input type="radio" name="options" id="option2" autocomplete="off"> 
        <i class="q_circle2"></i> Feedback
        </label> -->
                    <ng-container *ngFor="let marker of CustomMarkers; let i = index">
                        <label [tooltip]="marker.tag_title" [tooltipEnable]="marker.tooltipEnable"
                            class="btn btn-secondary" [style.backgroundColor]="getMarkerBg(marker, i)"
                            [ngClass]="{'active': marker ==selectedTag}"
                            (click)="playerService.ModifyPlayingState('pause');ChooseCustomTag(marker)">

                            <span class="custom_tag" [ngStyle]="{'border-color': markerColors[i]}"></span>
                            <span (mouseenter)="textWidth(marker,i)" (mouseLeave)="marker.tooltipEnable=false;"
                                [id]="'text-width'+i"> <span> {{marker.tag_title}} </span>
                            </span>

                        </label>
                    </ng-container>



                </div>


                <div class="add_com_btn larg_sc">



                    <div class="add_comm_btn" *ngIf="!EditMode">
                        <a class="fake_link" [class.disable-container]="audioRecorderState === 'uploading'"
                            (click)="addComment()"
                            [style.backgroundColor]="primery_button_color">{{translation?.vd_add}}</a>
                    </div>

                    <div class="btn-group opt_in" dropdown>
                        <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle"
                            aria-controls="dropdown-basic" (click)="closeInfo();">

                            <img src="assets/img/dot.svg">
                        </div>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu settingsMenu" role="menu"
                            aria-labelledby="button-basic">
                            <li role="menuitem" (click)="ToggleEnterPost()" class="fake_link" style="width: 100%;">
                                <span class="dropdown-item">{{translation?.vd_press_enter}}
                                    <span *ngIf="settings.EnterToPost" class="oi pull-right" data-glyph="check" title=""
                                        aria-hidden="true">
                                    </span>
                                </span>
                            </li>
                            <li *ngIf="!screenSharing" role="menuitem" (click)="TogglePause()" class="fake_link"
                                style="width: 100%;">
                                <span class="dropdown-item">{{translation?.vd_pause_while}} <span
                                        *ngIf="settings.PauseWhileTyping" class="oi pull-right" data-glyph="check"
                                        title="" aria-hidden="true">
                                    </span> </span>
                            </li>
                        </ul>
                    </div>

                    <div class="clear"></div>
                </div>


                <div class="clear"></div>

                <div class="tags_div tags_clk3">
                    <custom-tags [predefinedTags]="tags" [active]="active_class" (Tags)="SetCustomTags($event)">
                    </custom-tags>
                </div>


                <div *ngIf="active_class == 2" class="pouter">
                    <span *ngIf="selectedRubrics.length < 4"> <span *ngFor="let rubric of selectedRubrics; let i=index"
                            class="tag_rounded full_width">
                            {{rubric.tag_code}} {{rubric.tag_html}}<span class="pull-right cross_span"
                                (click)="playerService.ModifyPlayingState('pause');closeInfo();deSelectRubric(rubric,i)">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="7" height="7" viewBox="0 0 7 7">
                                    <defs>
                                        <clipPath id="clip-path">
                                            <path id="Path_29" data-name="Path 29"
                                                d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z"
                                                transform="translate(0 11)" fill="#919191" />
                                        </clipPath>
                                        <clipPath id="clip-path-2">
                                            <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z"
                                                transform="translate(1057 483)" fill="#919191" />
                                        </clipPath>
                                    </defs>
                                    <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
                                        <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)"
                                            clip-path="url(#clip-path-2)">
                                            <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z"
                                                transform="translate(674.455 313.182)" fill="#919191" />
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </span>
                    </span>
                    <span *ngIf="selectedRubrics.length > 3">
                        <span *ngFor="let rubric of selectedRubrics| slice:0:3; let i=index"
                            class="tag_rounded full_width">
                            {{rubric.tag_code}} {{rubric.tag_html}}<span class="pull-right cross_span"
                                (click)="playerService.ModifyPlayingState('pause');closeInfo();deSelectRubric(rubric,i)">
                                x
                            </span>
                        </span>
                        <a class="tag_popup" (click)="opentagsModal()">
                            {{selectedRubrics.length-3 + " more..."}}
                        </a>
                    </span>
                </div>

                <div *ngIf="active_class == 3" class="">
                    <span *ngIf="newComment.files.length < 4">
                        <span *ngFor="let file of newComment.files; let i=index" class="tgouter">
                            <span>
                                {{file.filename || file.title}}
                            </span>
                            <span class="pull-right cross_span" (click)="closeInfo();RemoveFileFromComment(file, i)">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="7" height="7" viewBox="0 0 7 7">
                                    <defs>
                                        <clipPath id="clip-path">
                                            <path id="Path_29" data-name="Path 29"
                                                d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z"
                                                transform="translate(0 11)" fill="#919191" />
                                        </clipPath>
                                        <clipPath id="clip-path-2">
                                            <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z"
                                                transform="translate(1057 483)" fill="#919191" />
                                        </clipPath>
                                    </defs>
                                    <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
                                        <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)"
                                            clip-path="url(#clip-path-2)">
                                            <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z"
                                                transform="translate(674.455 313.182)" fill="#919191" />
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </span>
                    </span>
                    <span *ngIf="newComment.files.length > 3">
                        <span *ngFor="let file of newComment.files| slice:0:3; let i=index" class="tgouter">
                            <span>
                                {{file.filename || file.title}}
                            </span>
                            <span class="pull-right cross_span" (click)="closeInfo();RemoveFileFromComment(file, i)">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="7" height="7" viewBox="0 0 7 7">
                                    <defs>
                                        <clipPath id="clip-path">
                                            <path id="Path_29" data-name="Path 29"
                                                d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z"
                                                transform="translate(0 11)" fill="#919191" />
                                        </clipPath>
                                        <clipPath id="clip-path-2">
                                            <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z"
                                                transform="translate(1057 483)" fill="#919191" />
                                        </clipPath>
                                    </defs>
                                    <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
                                        <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)"
                                            clip-path="url(#clip-path-2)">
                                            <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z"
                                                transform="translate(674.455 313.182)" fill="#919191" />
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </span>
                        <a class="tag_popup" (click)="opentagsModal()">
                            {{newComment.files.length-3 + " more..."}}
                        </a>

                    </span>
                </div>


            </div>
            <!-- <div *ngIf="pageType!='library-page'" class="comment_tags">

            <div class="tag_outer">
            <div class="tag_left_icon">
            <div class="tags_icons fake_link"
                (click)="playerService.ModifyPlayingState('pause');mainService.FocusCustomTag();closeInfo(1,0,2);"
                style="transform: rotate(86deg);">
                <span class="oi" data-glyph="tag"></span>
            </div>
            <div class="plusicon fake_link"
                (click)="playerService.ModifyPlayingState('pause');mainService.FocusCustomTag();closeInfo();">

                <span class="oi" data-glyph="plus"></span>
            </div>
            </div>
            
            <custom-tags [predefinedTags]="tags" (Tags)="SetCustomTags($event)">
            </custom-tags>
            
           
            
            <div class="clear"></div>
             </div>
        </div> -->

            <!-- <div class="comment_tags" *ngIf="permissions?.rubric_check">
        <div class="tag_outer">
       <div class="tag_left_icon">
       
            <div class="tags_icons fake_link"
                (click)="playerService.ModifyPlayingState('pause');updateCurrentTab(2);closeInfo();">
                <img src="assets/img/list-2x.png">
            </div>
            <div class="plusicon fake_link"
                (click)="playerService.ModifyPlayingState('pause');updateCurrentTab(2);closeInfo();">

                <span class="oi" data-glyph="plus"></span>
            </div>
            </div>
            <div class="pouter">
            <span *ngFor="let rubric of selectedRubrics; let i=index" 
                class="tag_rounded full_width">
                {{rubric.tag_code}} {{rubric.tag_html}}<span class="pull-right cross_span"
                    (click)="playerService.ModifyPlayingState('pause');closeInfo();deSelectRubric(rubric,i)"> x
                </span>
            </span>
            </div>
            <div class="clear"></div>
            </div>
        </div> -->


            <!-- <div class="tag_outer">
       <div class="tag_left_icon">
        <fs-uploader (click)="playerService.ModifyPlayingState('pause');closeInfo(1,0,2);"
            [label]="translation?.vd_upload" [source]="'comment'" [configuration]="videoOptions"
            (onUpload)="AppendNewFiles($event)"></fs-uploader>
</div>
        <div class="tgright">
            <span *ngFor="let file of newComment.files; let i=index" class="tgouter">
                <span>
                    {{file.filename || file.title}}
                </span>
                <span class="pull-right cross_span" (click)="closeInfo();RemoveFileFromComment(file, i)">
                    x
                </span>
            </span>
        </div>
        <div class="clear"></div>
        
        </div> -->

        </div>

        <div class="add_comm">


            <div class="account_per" *ngIf="pageType == 'library-page'">
                <svg xmlns="http://www.w3.org/2000/svg" width="17.25" height="16" viewBox="0 0 17.25 16">
                    <path id="warning"
                        d="M8.842,13.221V11.394a.307.307,0,0,0-.091-.226.3.3,0,0,0-.216-.091H6.688a.3.3,0,0,0-.216.091.307.307,0,0,0-.091.226v1.827a.307.307,0,0,0,.091.226.3.3,0,0,0,.216.091H8.534a.3.3,0,0,0,.216-.091A.307.307,0,0,0,8.842,13.221Zm-.019-3.6L9,5.212a.212.212,0,0,0-.1-.183.372.372,0,0,0-.231-.106H6.554a.372.372,0,0,0-.231.106.23.23,0,0,0-.1.2L6.39,9.625a.185.185,0,0,0,.1.159.414.414,0,0,0,.231.063H8.5a.391.391,0,0,0,.226-.062A.214.214,0,0,0,8.823,9.625ZM8.688.644l7.385,13.538a1.147,1.147,0,0,1-.019,1.212A1.23,1.23,0,0,1,15,16H.227a1.2,1.2,0,0,1-.611-.163,1.208,1.208,0,0,1-.447-.442A1.147,1.147,0,0,1-.85,14.183L6.534.644A1.228,1.228,0,0,1,6.986.173a1.215,1.215,0,0,1,1.25,0A1.228,1.228,0,0,1,8.688.644Z"
                        transform="translate(1.014)" fill="#777"></path>
                </svg>
                <span> {{translation.comments_visible_to_account}}</span>
            </div>


            <div class="add_com_btn small_sc">

                <div class="btn-group incs" dropdown [dropup]="true">
                    <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle"
                        aria-controls="dropdown-basic" (click)="closeInfo();">

                        <img src="assets/img/dot.svg">
                    </div>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu settingsMenu" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem" (click)="ToggleEnterPost()" class="fake_link" style="width: 100%;">
                            <span class="dropdown-item">{{translation?.vd_press_enter}}
                                <span *ngIf="settings.EnterToPost" class="oi pull-right" data-glyph="check" title=""
                                    aria-hidden="true">
                                </span>
                            </span>
                        </li>
                        <li *ngIf="!screenSharing" role="menuitem" (click)="TogglePause()" class="fake_link"
                            style="width: 100%;">
                            <span class="dropdown-item">{{translation?.vd_pause_while}} <span
                                    *ngIf="settings.PauseWhileTyping" class="oi pull-right" data-glyph="check" title=""
                                    aria-hidden="true">
                                </span> </span>
                        </li>
                    </ul>
                </div>

                <div class="add_comm_btn incs" *ngIf="!EditMode">
                    <a class="fake_link" [class.disable-container]="audioRecorderState === 'uploading'"
                        (click)="addComment()"
                        [style.backgroundColor]="primery_button_color">{{translation?.vd_add}}</a>
                </div>

                <div class="add_comm_btn" *ngIf="EditMode">
                    <a class="simple_btn" (click)="editComment(0)">{{translation?.vd_cancel}}</a>
                    <a class="fake_link" (click)="editComment(1)"
                        [style.backgroundColor]="primery_button_color">{{translation?.vd_update}}</a>
                </div>


                <div class="clear"></div>
            </div>





            <div class="clear"></div>
        </div>

    </div>

</div>
<ng-template #commentEndTimePopup>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <info-red-svg class="info-red-svg"></info-red-svg>
        <span>{{translation?.end_time_is_less_than_start_time}}</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()"
            style="background-color: rgb(61, 171, 40); color: #ffffff;">OK</button>
    </div>
</ng-template>
<ng-template #selectedrubricsTemplate>
    <div class="modal-header">
        <h4 *ngIf="active_class == 2" class="modal-title">Framework Standards</h4>
        <h4 *ngIf="active_class == 3" class="modal-title">Attachments</h4>
        <button type="button" class="close" (click)="bsModalRef.hide()" data-dismiss="modal">&times;</button>

    </div>

    <div class="modal-body">

        <div class="tags_div">
            <span *ngIf="active_class == 2">
                <span *ngFor="let rubric of selectedRubrics; let i=index" class="tag_rounded full_width">
                    {{rubric.tag_code}} {{rubric.tag_html}}<span class="pull-right cross_span"
                        (click)="playerService.ModifyPlayingState('pause');closeInfo();deSelectRubric(rubric,i)"> <svg
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7"
                            height="7" viewBox="0 0 7 7">
                            <defs>
                                <clipPath id="clip-path">
                                    <path id="Path_29" data-name="Path 29"
                                        d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z"
                                        transform="translate(0 11)" fill="#919191" />
                                </clipPath>
                                <clipPath id="clip-path-2">
                                    <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z"
                                        transform="translate(1057 483)" fill="#919191" />
                                </clipPath>
                            </defs>
                            <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
                                <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)"
                                    clip-path="url(#clip-path-2)">
                                    <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z"
                                        transform="translate(674.455 313.182)" fill="#919191" />
                                </g>
                            </g>
                        </svg>
                    </span>
                </span>
            </span>
            <span *ngIf="active_class == 3">
                <span *ngFor="let file of newComment.files; let i=index" class="tgouter">
                    <span>
                        {{file.filename || file.title}}
                    </span>
                    <span class="pull-right cross_span" (click)="closeInfo();RemoveFileFromComment(file, i)">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7"
                            height="7" viewBox="0 0 7 7">
                            <defs>
                                <clipPath id="clip-path">
                                    <path id="Path_29" data-name="Path 29"
                                        d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z"
                                        transform="translate(0 11)" fill="#919191" />
                                </clipPath>
                                <clipPath id="clip-path-2">
                                    <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z"
                                        transform="translate(1057 483)" fill="#919191" />
                                </clipPath>
                            </defs>
                            <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
                                <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)"
                                    clip-path="url(#clip-path-2)">
                                    <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z"
                                        transform="translate(674.455 313.182)" fill="#919191" />
                                </g>
                            </g>
                        </svg>
                    </span>
                </span>
            </span>

        </div>


    </div>


</ng-template>