<div class="modal-header">
  <h4 class="modal-title">{{translation?.goals_owners}}</h4>
  <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>
</div>
<div class="modal-body owner_pop">
  <div *ngIf="ownersList.length > 10" class="search-container">
    <input type="text" [placeholder]="translation?.search_owners" [(ngModel)]="searchOwner">
    <img *ngIf="!searchOwner" src="assets/img/search_icon.png">
    <button *ngIf="searchOwner" type="button" class="close" (click)="searchOwner = ''">&times;</button>
  </div>
  <div class="owner_h">
    <div class="col-6">
      {{translation?.name_global}}
    </div>
    <div class="col-6">
      {{translation?.email_global}}
    </div>
  </div>
  <div class="owner-body-content" slimScroll [options]="slimScrollOpts" [scrollEvents]="scrollEvents">
    <ng-container *ngIf="(ownersList | search: searchOwner:'first_name,last_name,email') as resultArray">
      <div *ngFor="let owner of resultArray" class="owner_nr">
        <div class="col-6">
          <img [src]="getAvatarPath(owner.image, owner.user_id)" [alt]="owner.image">
          {{owner.first_name}} {{owner.last_name}}
        </div>
        <div class="col-6">
          {{owner.email}}
        </div>
      </div>
      <div *ngIf="resultArray.length === 0" class="no-result">
        <img class="" src="assets/img/exclamation.svg">
        <span>{{translation?.no_result_found}}</span>
      </div>
    </ng-container>
  </div>
</div>
<div class="modal-footer">
  <div class="col-12 action-btn">
    <button type="button" class="btn btn-success br_sky" (click)="bsModalRef.hide()">{{translation?.ok}}</button>
  </div>
</div>