.modal-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: block;
    color: #484848;
    text-align: center;
    width: 95%;
}

.owner_pop {
    padding: 1rem 17px;
}

.search-container {
    position: relative;
    margin-bottom: 25px;
}

.search-container input {
    width: 100%;
    height: 33px;
    border: 1px solid #ddd;
    padding: 0 30px 0 5px;
    border-radius: 3px;
}

.search-container input:focus, .search-container button:focus {
    outline: none;
}

.search-container img, .search-container button {
    height: 18px;
    position: absolute;
    top: 7px;
    right: 11px;
}

.search-container button {
    top: 4px !important
}

.no-result {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.no-result img {
    height: 21px;
    margin-right: 10px;
}

.owner-body-content {
    max-height: 370px;
}

.owner_h {
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
  padding-bottom: 5px;
}

.owner_h .col-6, .owner_nr .col-6 {
    padding-left: 0;
    white-space: normal;
    word-break: break-all;
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.owner_nr {
    padding: 10px 0;
    display: flex;
}

.br_sky {
    background: #057EFF !important;
}

.owner_nr .col-6 img {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.modal-footer {
    border: 0;
}

.modal-footer .action-btn {
    padding-right: 0;
    border-top: 1px solid #ddd;
    padding-top: 13px;
    text-align: right;
}

.action-btn button {
    padding: 10px 28px;
    margin-left: 10px;
    font-size: 14px;
    margin-left: 10px;
}

.action-btn button:focus {
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25);
}
.owner_nr .col-2 span
{    max-width: 125px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  top: 8px;
  white-space: nowrap;
}
