.thumb_img {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

span.disabled {
  pointer-events: none;
  cursor: default;
}
.share_btn{
   text-align: right;
}

.ql-editor {
  height: auto;
  white-space: normal !important;
}