<div class="comments_box" [class.current_comment]="isActive && settings.autoscroll">
    <div class="time_line">
        <span [ngClass]="{'fake_link': from !== 'tab'}" (click)="Seek(comment)">
            {{getFormattedTime(comment.time, comment.end_time)}} </span>
        <span *ngIf="(comment.time != 0 && from !== 'tab' && VideoInfo.video_is_saved == '1') && !fromLiveStream || fromScriptedOvservations"
            (click)="Seek(comment);" class="oi play_icon_comment" data-glyph="play-circle">

        </span>

        <i class="comm_circle" [style.backgroundColor]="getTimelineBg(comment)"></i>
    </div>
    <div class="user_img">
        <img *ngIf="comment?.tryagain!=true" [attr.src]="getUserImgUrl(comment)" width="30">
    </div>
    <div class="user_comment">
        <div class="User_name">
            <span
                class="user_namecls">{{comment?.first_name+" "+((comment.last_name && comment.last_name != "" && comment.last_name != null) ? comment.last_name : "")}}</span>
            <span class="comm_time">{{comment.created_date_string}}</span>
            <div class="clear"></div>
        </div>
        <p *ngIf="comment.ref_type!=6" [innerHTML]="Urlify(comment.comment)"> </p>
        <p
            *ngIf="comment.ref_type == 6 && (comment.encoder_status === 'Complete' || (comment.playable && comment.encoder_status !== 'Error'))">
            <audio preload="metadata" controls #audioPlayer>
                <source [src]="comment.comment">
                {{translation?.vd_your_browser_does_not}}
            </audio>
        </p>
        <p class="transcode-audio-message"
            *ngIf="comment.ref_type == 6 && comment.encoder_status === 'Processing' && !comment.playable">
            {{translation?.audio_transcoding_in_progress}}
        </p>
        <p class="transcode-audio-message" *ngIf="comment.ref_type == 6 && comment.encoder_status === 'Error'">
            {{translation?.audio_transcoding_failed}}
        </p>
        <ng-container *ngIf="isNotCanvasPage">
        <div class="comment_manage" *ngIf="(comment.state !== COMMENT_STATE.UPDATING && comment.id!=-1 && userAccountLevelRoleId != '125' && comment.edittryagain!=true && allow_evidence_view==0)">
            <div class="comment_manage" *ngIf="!showCrudOptions">
                <span *ngIf="( (original_account && pageType == 'library-page') || (pageType != 'library-page') ) && (permissions?.can_reply)" class="fake_link">
                    <span class="oi" data-glyph="chat" id="comment"></span> {{translation?.vd_reply}}
                </span>
                <span
                    [class.disable-container]="comment.ref_type == 6 && comment.encoder_status === 'Processing' && !comment.playable"
                    *ngIf="((comment.created_by==currentUser.id) && from!='tab') || (from!='tab' && permissions.huddle_permission==200 && VideoInfo.h_type==1 && !fromLiveStream)"
                    class="edit_comm fake_link">
                    <span class="oi" data-glyph="pencil"></span> {{translation?.vd_edit}}
                </span>

                <span
                    *ngIf="(from!='tab' && permissions.huddle_permission==200 && VideoInfo.h_type == 2 ) || (permissions.coachee_permission == '1' && currentUser.id == comment.created_by && from!='tab') || ((currentUser.id == comment.created_by) && from!='tab' && VideoInfo.h_type != 2 ) || (from!='tab' && permissions.huddle_permission==200 && VideoInfo.h_type==1 && !fromLiveStream)"
                    class="delete_comm fake_link">
                    <span class="oi" data-glyph="trash"></span> {{translation?.vd_delete}}
                </span>
            </div>
            <ng-container *ngIf="showCrudOptions">
                <span *ngIf="( (original_account && pageType == 'library-page') || (pageType != 'library-page') ) && from!='tab' && (permissions?.can_reply)" class="fake_link" (click)="comment.replyEnabled=true">
                    <span class="oi" data-glyph="chat" id="comment"></span> {{translation?.vd_reply}}
                </span>
                <span
                    [class.disable-container]="comment.ref_type == 6 && comment.encoder_status === 'Processing' && !comment.playable"
                    *ngIf="((comment.created_by==currentUser.id) && from!='tab') || (from!='tab' && permissions.huddle_permission==200 && VideoInfo.h_type==1 && !fromLiveStream)"
                    class="edit_comm fake_link" (click)="editComment(comment)">
                    <span class="oi" data-glyph="pencil"></span> {{translation?.vd_edit}}
                </span>
                <!-- removed condition to fix delete button ((currentUser.id == comment.created_by) && from!='tab' && VideoInfo.h_type!=2 ) -->
                <span
                    *ngIf="(from!='tab' && permissions.huddle_permission==200 && VideoInfo.h_type == 2 ) || (permissions.coachee_permission == '1' && currentUser.id == comment.created_by && from!='tab') || ((currentUser.id == comment.created_by) && from!='tab' ) || (from!='tab' && permissions.huddle_permission==200 && VideoInfo.h_type==1 && !fromLiveStream)"
                    class="delete_comm fake_link" (click)="initiateDelete(confirmDialog, comment)">
                    <span class="oi" data-glyph="trash"></span> {{translation?.vd_delete}}
                </span>
            </ng-container>
            <div class="more_container"
                [hidden]="comment.tags_length == 0 && comment.files?.length == 0 && comment.standard?.length == 0">
                <span
                    *ngIf="(comment.default_tags && getCustomTagsLength(comment.default_tags)>0) || (comment.standard && comment.standard.length >0)||(comment.files && comment.files.length>0)"
                    class="pull-right fake_link" (click)="comment.isExpnded = !comment.isExpnded;">
                    <ng-container *ngIf="!comment.isExpnded">
                        <span class="oi icon-flipped" data-glyph="tags"></span> {{translation?.vd_more}} <span
                            class="oi" data-glyph="chevron-bottom" style="font-size: 10px;top: 0px;"></span>
                    </ng-container>

                    <ng-container *ngIf="comment.isExpnded">
                        <span class="oi icon-flipped" data-glyph="tags"></span> {{translation?.vd_less}} <span
                            class="oi" data-glyph="chevron-top" style="font-size: 10px;top: 0px;"></span>
                    </ng-container>

                </span>
            </div>
            <span></span>
            <div *ngIf="comment.isExpnded" class="moreDetails cls_round">

                <div *ngIf="comment.default_tags && getCustomTagsLength(comment.default_tags)>0">
                    <div class="row">
                        <div class="col-sm-1">
                            <span *ngIf="AllowTags(comment.default_tags)" class="oi icon-flipped" data-glyph="tag"
                                style="transform: rotate(86deg);color: #CECECE;"> </span>
                        </div>
                        <div class="col-sm-11" style="padding-left: 0px;">
                            <ng-container *ngFor="let tag of comment.default_tags">
                                <span class="tag_rounded" *ngIf="tag.ref_type!=2"> {{tag.tag_title}} </span>
                            </ng-container>

                        </div>
                    </div>

                </div>
                <div *ngIf="comment.standard && comment.standard.length >0">
                    <div class="row">
                        <div class="col-sm-1">
                            <span class="oi icon-flipped" data-glyph="list" style="color: #CECECE;"></span>
                        </div>
                        <div class="col-sm-11" style="padding-left: 0px;">
                            <span *ngFor="let standard of comment.standard" class="tag_rounded">
                                <ng-container *ngIf="standard.tag_code && standard.tag_code != null">
                                    {{standard.tag_code+"-"}}</ng-container>{{standard.tag_title}}
                            </span>
                        </div>
                    </div>
                </div>

                <div *ngIf="comment.files && comment.files.length>0">

                    <div class="row">
                        <div class="col-sm-1">
                            <span class="oi icon-flipped" data-glyph="paperclip" style="color: #CECECE;"></span></div>
                        <div class="col-sm-11" style="padding-left: 0px;">
                            <ng-container *ngFor="let file of comment.files">
                                <span *ngIf="checkCsv(file)" class="tag_rounded" >
                                    {{file?.title || file?.filename}} </span>
                                <span *ngIf="!checkCsv(file)" class="tag_rounded" (click)="FileClicked(file)" >
                                    {{file?.title || file?.filename}} </span>
                            </ng-container>


                        </div>
                    </div>
                </div>
            </div>
            <div>

            </div>
            <div class="animated fadeIn" *ngIf="comment.replyEnabled">

                <div class="text_margin_bottom">

                    <textarea autosize class="form-control" id="textbox" [(ngModel)]="comment.replyText"
                        (ngModelChange)="headerService?.localStorage(comment.replyText,addReplyLSKey)"
                        (keydown)="ReplyTextChanged($event, comment);" ></textarea>

                </div>

                <div class="text-right">
                    <a class="simple_btn sp_right" (click)="comment.replyEnabled=false">{{translation?.vd_cancel}}</a>
                    <a class="add_reply" (click)="AddReply(comment)"
                        [style.backgroundColor]="primery_button_color">{{translation?.vd_add}}</a>
                </div>

            </div>


        </div>
        <div class="comment_manage" *ngIf="comment.state === COMMENT_STATE.UPDATING">
            <label>{{translation?.comment_updating}}</label>
        </div>
        <div class="comment_manage" *ngIf="comment.id==-1&& !comment?.tryagain">
            <label>{{translation?.vd_post}}</label>
        </div>
        <div class="try-again-container" *ngIf="comment?.tryagain">
            <svg xmlns="http://www.w3.org/2000/svg" width="16.329" height="15.374" viewBox="0 0 16.329 15.374">
                <g id="Group_351" data-name="Group 351" transform="translate(-270.467 -1166.164)">
                    <path id="Path_52" data-name="Path 52"
                        d="M20.256,22.985a1.562,1.562,0,0,1,2.75,0l6.6,12.25a1.562,1.562,0,0,1-1.375,2.3h-13.2a1.562,1.562,0,0,1-1.375-2.3Z"
                        transform="translate(257 1144)" fill="#c10f12" />
                    <path id="Union_1" data-name="Union 1"
                        d="M.253,5.369h0V5.337L.006,1.079A.952.952,0,0,1,0,.97.985.985,0,0,1,1,0,.985.985,0,0,1,2,.97a.947.947,0,0,1-.01.136l-.3,4.221A.709.709,0,0,1,.969,6,.711.711,0,0,1,.253,5.369Z"
                        transform="translate(277.7 1170)" fill="#fff" />
                    <circle id="Ellipse_9" data-name="Ellipse 9" cx="1" cy="1" r="1" transform="translate(277.7 1177)"
                        fill="#fff" />
                </g>
            </svg>
            <span class="try-again-message">{{translation?.message_not_saved}}</span>
            <span class="try-again-btn" (click)="retryAddComment(comment);">{{translation?.try_again}}</span>
        </div>

        <div class="try-again-container" *ngIf="comment?.edittryagain">
            <svg xmlns="http://www.w3.org/2000/svg" width="16.329" height="15.374" viewBox="0 0 16.329 15.374">
                <g id="Group_351" data-name="Group 351" transform="translate(-270.467 -1166.164)">
                    <path id="Path_52" data-name="Path 52"
                        d="M20.256,22.985a1.562,1.562,0,0,1,2.75,0l6.6,12.25a1.562,1.562,0,0,1-1.375,2.3h-13.2a1.562,1.562,0,0,1-1.375-2.3Z"
                        transform="translate(257 1144)" fill="#c10f12" />
                    <path id="Union_1" data-name="Union 1"
                        d="M.253,5.369h0V5.337L.006,1.079A.952.952,0,0,1,0,.97.985.985,0,0,1,1,0,.985.985,0,0,1,2,.97a.947.947,0,0,1-.01.136l-.3,4.221A.709.709,0,0,1,.969,6,.711.711,0,0,1,.253,5.369Z"
                        transform="translate(277.7 1170)" fill="#fff" />
                    <circle id="Ellipse_9" data-name="Ellipse 9" cx="1" cy="1" r="1" transform="translate(277.7 1177)"
                        fill="#fff" />
                </g>
            </svg>
            <span class="try-again-message">{{translation?.message_not_saved}}</span>
            <span class="try-again-btn" (click)="retryEditComment(comment);">{{translation?.try_again}}</span>
        </div>
    </ng-container>
    </div>
    <div class="clear"></div>
</div>


<!-- REPLY -->

<div class="comments_box reply_box" *ngFor="let reply of comment.Comment?.responses ; let replyindex = index;">

    <div class="user_img" *ngIf="!reply.tryagain">
        <img [attr.src]="getUserImgUrl(reply)" width="30">
    </div>
    <div class="user_comment">
        <div class="User_name">
            <span class="user_namecls">{{reply.first_name+" "+reply.last_name}}
                <span class="reply_to"> <span class="oi" data-glyph="share"></span> {{comment.first_name}}
                    {{comment.last_name}} </span>
            </span>
            <span class="comm_time">{{reply.created_date_string}}</span>
            <div class="clear"></div>
        </div>
        <p [innerHTML]="Urlify(reply.comment)"> </p>
        <ng-container *ngIf="isNotCanvasPage">
        <div class="comment_manage" *ngIf="(( (original_account && pageType == 'library-page') || (pageType != 'library-page') ) && (reply.state !== COMMENT_STATE.UPDATING && reply.id>=0 && userAccountLevelRoleId != '125' && !reply.tryagain && reply.edittryagain!=true && allow_evidence_view==0))">
            <span *ngIf="permissions?.can_reply" class="fake_link"
                (click)="reply.replyEnabled=true;reply.EditEnabled=false;replyMode(reply)">
                <span class="oi" data-glyph="chat" id="reply"></span> {{translation?.vd_reply}}
            </span>
            <span
                *ngIf="((reply.created_by==currentUser.id) && from!='tab')  || (from!='tab' && permissions.huddle_permission==200 && VideoInfo.h_type==1 && !fromLiveStream)"
                class="edit_comm fake_link" (click)="reply.EditEnabled=true;reply.replyEnabled=false;GetReplyText();">
                <span class="oi" data-glyph="pencil"></span> {{translation?.vd_edit}}
            </span>

            <span
                *ngIf="(!VideoInfo.is_coach && reply.created_by==currentUser.id)|| (permissions.huddle_permission==200 && VideoInfo.h_type == 2 ) || (permissions.coachee_permission == '1' && currentUser.id == reply.created_by) || (currentUser.id == reply.created_by && VideoInfo.h_type!=2)  || (from!='tab' && permissions.huddle_permission==200 && VideoInfo.h_type==1 && !fromLiveStream)"
                class="delete_comm fake_link" (click)="initiateDelete(confirmDialog, reply, comment)">
                <span class="oi" data-glyph="trash"></span> {{translation?.vd_delete}}
            </span>

            <div class="animated fadeIn" *ngIf="reply.replyEnabled">

                <div class="text_margin_bottom">

                    <textarea autosize class="form-control" id="textbox" [(ngModel)]="reply.replyText"
                        (ngModelChange)="headerService?.localStorage(reply.replyText,header_data.user_current_account.User.id+'_video_play_sub_reply_comment_'+reply.id)"
                        (keydown)="SubReplyTextChanged($event,comment, reply);"></textarea>

                </div>

                <div class="text-right">
                    <a class="simple_btn sp_right" (click)="reply.replyEnabled=false">{{translation?.vd_cancel}}</a>
                    <a class="add_reply" (click)="SubmitSubReply(comment, reply)"
                        [style.backgroundColor]="primery_button_color">{{translation?.vd_submit}}</a>
                </div>

            </div>

            <div class="animated fadeIn" *ngIf="reply.EditEnabled">

                <div class="text_margin_bottom">

                    <textarea autosize class="form-control" id="textbox" [(ngModel)]="reply.EditableText"
                        (ngModelChange)="headerService.localStorage(reply.EditableText,header_data.user_current_account.User.id+'_video_play_reply_edit_'+reply.id)"></textarea>

                </div>

                <div class="text-right">
                    <a class="simple_btn"
                        (click)="reply.EditEnabled=false;reply.EditableText = reply.comment;headerService.removeLocalStorage(header_data.user_current_account.User.id+'_video_play_reply_edit_'+reply.id);">{{translation?.vd_cancel}}</a>
                    <a class="add_reply" (click)="UpdateReply(comment, reply)"
                        [style.backgroundColor]="primery_button_color">{{translation?.vd_update}}</a>
                </div>

            </div>


        </div>
        <div class="comment_manage" *ngIf="reply.state === COMMENT_STATE.UPDATING">
            <label>{{translation?.comment_updating}}</label>
        </div>
        <div class="comment_manage" *ngIf="(comment.id<=-1 || reply.fakeComment) && !reply.tryagain">
            <label>{{translation?.vd_post}}</label>
        </div>
        <div class="try-again-container" *ngIf="reply.id<=-1&&reply.tryagain==true">
            <svg xmlns="http://www.w3.org/2000/svg" width="16.329" height="15.374" viewBox="0 0 16.329 15.374">
                <g id="Group_351" data-name="Group 351" transform="translate(-270.467 -1166.164)">
                    <path id="Path_52" data-name="Path 52"
                        d="M20.256,22.985a1.562,1.562,0,0,1,2.75,0l6.6,12.25a1.562,1.562,0,0,1-1.375,2.3h-13.2a1.562,1.562,0,0,1-1.375-2.3Z"
                        transform="translate(257 1144)" fill="#c10f12" />
                    <path id="Union_1" data-name="Union 1"
                        d="M.253,5.369h0V5.337L.006,1.079A.952.952,0,0,1,0,.97.985.985,0,0,1,1,0,.985.985,0,0,1,2,.97a.947.947,0,0,1-.01.136l-.3,4.221A.709.709,0,0,1,.969,6,.711.711,0,0,1,.253,5.369Z"
                        transform="translate(277.7 1170)" fill="#fff" />
                    <circle id="Ellipse_9" data-name="Ellipse 9" cx="1" cy="1" r="1" transform="translate(277.7 1177)"
                        fill="#fff" />
                </g>
            </svg>
            <span class="try-again-message">{{translation?.message_not_saved}}</span>
            <span class="try-again-btn"
                (click)="comment.replyText=reply.comment;ReAddReply(comment,reply,replyindex)">{{translation?.try_again}}</span>

        </div>
        <div class="try-again-container" *ngIf="reply.state !== COMMENT_STATE.UPDATING && reply.edittryagain">

            <svg xmlns="http://www.w3.org/2000/svg" width="16.329" height="15.374" viewBox="0 0 16.329 15.374">
                <g id="Group_351" data-name="Group 351" transform="translate(-270.467 -1166.164)">
                    <path id="Path_52" data-name="Path 52"
                        d="M20.256,22.985a1.562,1.562,0,0,1,2.75,0l6.6,12.25a1.562,1.562,0,0,1-1.375,2.3h-13.2a1.562,1.562,0,0,1-1.375-2.3Z"
                        transform="translate(257 1144)" fill="#c10f12" />
                    <path id="Union_1" data-name="Union 1"
                        d="M.253,5.369h0V5.337L.006,1.079A.952.952,0,0,1,0,.97.985.985,0,0,1,1,0,.985.985,0,0,1,2,.97a.947.947,0,0,1-.01.136l-.3,4.221A.709.709,0,0,1,.969,6,.711.711,0,0,1,.253,5.369Z"
                        transform="translate(277.7 1170)" fill="#fff" />
                    <circle id="Ellipse_9" data-name="Ellipse 9" cx="1" cy="1" r="1" transform="translate(277.7 1177)"
                        fill="#fff" />
                </g>
            </svg>
            <span class="try-again-message">{{translation?.message_not_saved}}</span>
            <span class="try-again-btn" (click)="retryUpdateReply(comment, reply)">{{translation?.try_again}}</span>

        </div>
    </ng-container>
    </div>

    <div class="clear"></div>

    <!-- SUB REPLY -->

    <div class="comments_box sub_reply_box" *ngFor="let sub_reply of reply.responses;let ind = index;">

        <div class="user_img" *ngIf="!sub_reply.tryagain">
            <img [attr.src]="getUserImgUrl(sub_reply)" width="30">
        </div>
        <div class="user_comment">
            <div class="User_name">
                <span class="user_namecls">{{sub_reply.first_name+" "+sub_reply.last_name}}


                </span>
                <span class="comm_time">{{sub_reply.created_date_string}}</span>
                <div class="clear"></div>
            </div>
            <p [innerHTML]="Urlify(sub_reply.comment)"> </p>
            <ng-container *ngIf="isNotCanvasPage">
            <div class="comment_manage"
                *ngIf="( (original_account && pageType == 'library-page') || (pageType != 'library-page') ) && (sub_reply.state !== COMMENT_STATE.UPDATING && sub_reply.id>=0 && userAccountLevelRoleId != '125' && sub_reply.tryagain!=true && sub_reply.edittryagain!=true && allow_evidence_view ==0)">
                <!-- sub_reply.replyEnabled=true; sub_reply.EditEnabled=false; -->
                <span class="fake_link" (click)="replyMode(reply, sub_reply);reply.replyEnabled=false">
                    <span class="oi" data-glyph="chat"></span> {{translation?.vd_reply}}
                </span>
                <span
                    *ngIf="((sub_reply.created_by==currentUser.id) && from!='tab')  || (from!='tab' && permissions.huddle_permission==200 && VideoInfo.h_type==1 && !fromLiveStream)"
                    class="edit_comm fake_link" (click)="sub_reply.EditEnabled=true; sub_reply.replyEnabled=false; GetSubReplyText();">
                    <span class="oi" data-glyph="pencil"></span> {{translation?.vd_edit}}
                </span>

                <span
                *ngIf="(sub_reply.created_by==currentUser.id) || (permissions.huddle_permission==200 && VideoInfo.h_type == 2 ) || (permissions.coachee_permission == '1' && currentUser.id == sub_reply.created_by ) || (currentUser.id == reply.created_by && VideoInfo.h_type!=2)  || (from!='tab' && permissions.huddle_permission==200 && VideoInfo.h_type==1 && !fromLiveStream)"
                    class="delete_comm fake_link" (click)="initiateDelete(confirmDialog, sub_reply, comment)">
                    <span class="oi" data-glyph="trash"></span> {{translation?.vd_delete}}
                </span>
                <br />

                <div class="animated fadeIn" *ngIf="sub_reply.replyEnabled">

                    <div class="text_margin_bottom">

                        <textarea autosize class="form-control" id="textbox" [(ngModel)]="reply.replyText"
                            (ngModelChange)="headerService?.localStorage(reply.replyText,header_data.user_current_account.User.id+'_video_play_sub_reply_comment_'+reply.id)"
                            (keydown)="SubReplyTextChanged($event,comment, reply,sub_reply);"></textarea>
                    </div>

                    <div class="text-right">
                        <a class="simple_btn sp_right" (click)="sub_reply.replyEnabled=false">{{translation?.vd_cancel}}</a>
                        <a class="add_reply" (click)="SubmitSubReply(comment, reply);sub_reply.replyEnabled=false"
                            [style.backgroundColor]="primery_button_color">{{translation?.vd_submit}}</a>
                    </div>

                </div>

                <div class="animated fadeIn" *ngIf="sub_reply.EditEnabled">

                    <div class="text_margin_bottom">

                        <textarea autosize class="form-control" id="textbox" [(ngModel)]="sub_reply.EditableText"
                            (ngModelChange)="headerService.localStorage(sub_reply.EditableText,header_data.user_current_account.User.id+'_video_play_sub_reply_edit_'+sub_reply.id)"
                            ></textarea>

                    </div>

                    <div class="text-right">
                        <a class="simple_btn sp_right"
                            (click)="sub_reply.EditEnabled=false;sub_reply.EditableText=sub_reply.comment;headerService.removeLocalStorage(header_data.user_current_account.User.id+'_video_play_sub_reply_edit_'+sub_reply.id);">{{translation?.vd_cancel}}</a>
                        <a class="add_reply" (click)="UpdateReply(comment, sub_reply)"
                            [style.backgroundColor]="primery_button_color">{{translation?.vd_update}}</a>
                    </div>

                </div>


            </div>
            <div class="comment_manage" *ngIf="sub_reply.state === COMMENT_STATE.UPDATING">
                <label>{{translation?.comment_updating}}</label>
            </div>
            <div class="comment_manage" *ngIf="(comment.id==-1 || sub_reply.fakeComment) && !sub_reply.tryagain">
                <label>{{translation?.vd_post}}</label>
            </div>
            <div class="try-again-container" *ngIf="sub_reply.id<=-1&&sub_reply.tryagain==true">

                <svg xmlns="http://www.w3.org/2000/svg" width="16.329" height="15.374" viewBox="0 0 16.329 15.374">
                    <g id="Group_351" data-name="Group 351" transform="translate(-270.467 -1166.164)">
                        <path id="Path_52" data-name="Path 52"
                            d="M20.256,22.985a1.562,1.562,0,0,1,2.75,0l6.6,12.25a1.562,1.562,0,0,1-1.375,2.3h-13.2a1.562,1.562,0,0,1-1.375-2.3Z"
                            transform="translate(257 1144)" fill="#c10f12" />
                        <path id="Union_1" data-name="Union 1"
                            d="M.253,5.369h0V5.337L.006,1.079A.952.952,0,0,1,0,.97.985.985,0,0,1,1,0,.985.985,0,0,1,2,.97a.947.947,0,0,1-.01.136l-.3,4.221A.709.709,0,0,1,.969,6,.711.711,0,0,1,.253,5.369Z"
                            transform="translate(277.7 1170)" fill="#fff" />
                        <circle id="Ellipse_9" data-name="Ellipse 9" cx="1" cy="1" r="1"
                            transform="translate(277.7 1177)" fill="#fff" />
                    </g>
                </svg>
                <span class="try-again-message">{{translation?.message_not_saved}}</span>
                <span class="try-again-btn"
                    (click)="reply.replyText=sub_reply.comment;SubmitSubReply(comment,reply,ind,sub_reply,true)">{{translation?.try_again}}</span>
            </div>
            <div class="try-again-container"
                *ngIf="sub_reply.state !== COMMENT_STATE.UPDATING && sub_reply.edittryagain">

                <svg xmlns="http://www.w3.org/2000/svg" width="16.329" height="15.374" viewBox="0 0 16.329 15.374">
                    <g id="Group_351" data-name="Group 351" transform="translate(-270.467 -1166.164)">
                        <path id="Path_52" data-name="Path 52"
                            d="M20.256,22.985a1.562,1.562,0,0,1,2.75,0l6.6,12.25a1.562,1.562,0,0,1-1.375,2.3h-13.2a1.562,1.562,0,0,1-1.375-2.3Z"
                            transform="translate(257 1144)" fill="#c10f12" />
                        <path id="Union_1" data-name="Union 1"
                            d="M.253,5.369h0V5.337L.006,1.079A.952.952,0,0,1,0,.97.985.985,0,0,1,1,0,.985.985,0,0,1,2,.97a.947.947,0,0,1-.01.136l-.3,4.221A.709.709,0,0,1,.969,6,.711.711,0,0,1,.253,5.369Z"
                            transform="translate(277.7 1170)" fill="#fff" />
                        <circle id="Ellipse_9" data-name="Ellipse 9" cx="1" cy="1" r="1"
                            transform="translate(277.7 1177)" fill="#fff" />
                    </g>
                </svg>
                <span class="try-again-message">{{translation?.message_not_saved}}</span>
                <span class="try-again-btn" (click)="retryUpdateReply(comment, sub_reply)">{{translation?.try_again}}</span>
            </div>
        </ng-container>
        </div>

        <div class="clear"></div>

    </div>
</div>






    <ng-template #confirmDialog >
       <ng-container *ngIf="showConfirmationDialog; else confirmDialog2 ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{translation?.huddle_list_confirmation_required}}</h4>
                    <button type="button" class="close" (click)="modalRef.hide(); ; Inputs.Confirmation=null">×</button>


                </div>
                <div class="modal-body">
                    <div class="alert_bg singleline row">
                        <div class="col-2">
                            <img src="./assets/img/alert_i.svg">
                        </div>
                        <div class="col-10">
                           <h6> <b> {{translation?.about_to_delete_comment_you_didnt}} </b></h6>
                           <p>{{translation?.about_to_this_cant_be_undone}}</p>
                        </div>
                    </div>
                    <div class="f_name">
                        <p>{{translation?.huddle_resource_type}} {{Inputs.ConfirmationKey}} {{translation?.huddle_list_to_confrim}}</p>
                        <input type="text" class="form-control" [(ngModel)]="Inputs.Confirmation" (keydown)="TriggerTextChange($event)">
                    </div>

                </div>
                <div class="modal-footer hufooter">
                    <div class="col-12">
                        <a class="fake_link" (click)="modalRef.hide();; Inputs.Confirmation=null ">
                            {{translation?.vd_cancel}}
                        </a>
                        <a class="conf_delete fake_link" (click)="ResolveDelete(1)" >
                            {{translation?.vd_delete}}
                        </a>
                    </div>


                </div>
            </div>
           </ng-container>
    </ng-template>

    <ng-template #confirmDialog2>


         <div class="modal-header">
             <h6 class="modal-title pull-left">{{translation?.vd_confirm}}</h6>
             <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>
         <div class="modal-body">
     {{confirmDeleteMessage}}
         </div>
         <div class="modal-footer text-right">

             <div>
                 <button class="btn btn-default" (click)="modalRef.hide()">
                     {{translation?.vd_cancel}}
                 </button>
                 <button class="btn btn-primary" (click)="ResolveDeleteWithoutConfig(1)" [style.backgroundColor]="primery_button_color">
                     {{translation?.vd_ok}}
                 </button>
             </div>

         </div>

     </ng-template>
