.us_searchcls{ 
	background: url("../../../../assets/img/search.svg") no-repeat right 10px top 10px;
    border: 1px solid #e1e2e2 !important;
    border-radius: 4px;
    width: 45%;
    height: 38px;
    margin-bottom: 17px;
        padding: 0px 28px 0px 6px;
    font-family: 'Conv_Roboto-Regular';
    font-weight: 500;
    color: #616161; }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   color: #616161;
}
::-moz-placeholder { /* Firefox 19+ */
   color: #616161;
}
:-ms-input-placeholder { /* IE 10+ */
   color: #616161;
}
:-moz-placeholder { /* Firefox 18- */
   color: #616161;
}

.dropdown_row{
  position: relative;     text-align: right;
}
.dropdown_row .dd_toggle{position: relative; top: 18px;    cursor: pointer;}
.dropdown_row .dropdown-menu.show {top:42px !important;}

.top_container{
  width: 100%;
  height: 100%;
  padding:10%;
}

.top_container{
  padding: 4px !important;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }

.parent_div{
    padding-top: 26px;
}