<div class="row parent_div">
  <div class="col-md-6">

    <input class="us_searchcls" type="text" placeholder="{{translation?.analytics_globel_search}}"
      [(ngModel)]="searchText" (keyup)="OnSearchChange(searchText)">

  </div>
  <div class="col-md-6 dropdown_row">
    <div dropdown>
      <a id="tagged" dropdownToggle aria-controls="dropdown-basic">

        <img class="dd_toggle" src="assets/img/dots.svg" />
      </a>
      <ul id="tagged" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
        aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" (click)="ExportExcel()">{{translation?.analytics_export}}</a></li>

      </ul>
    </div>
  </div>
</div>
<p-table #pUsertable [columns]="cols" [value]="users?.user_summary" [paginator]="true" [rows]="10" [scrollable]="true" 
  [loading]="isLoading">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns; let i = index" [class.custom-frozen]="i === 0"
        [style]="{'width': i === 0 ? '165px' : (i === 1 ||i === 2) ? '220px' : '150px' }">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [class.rowSelected]="rowData.isSelected">
      <td *ngFor="let col of columns; let i = index" [class.custom-frozen]="i === 0"
      [style]="{'width': i === 0 ? '165px' : (i === 1 ||i === 2) ? '220px' : '150px' }">

        <div *ngIf="i === 0" (click)="selectRow(rowData)" class="top_container">
          <span>
            <a
              [routerLink]="['../playcard',rowData.account_id,rowData.user_id,users.start_date,users.end_date,users.folder_type ]">
              {{rowData?.account_name}}
            </a>
          </span>
        </div>

        <div *ngIf="i !== 0" class="top_container" (click)="selectRow(rowData)">
          <a *ngIf="rowData[col.field+'_link']" [innerHtml]="rowData[col.field]"
            [routerLink]="rowData[col.field+'_link']"> </a>
          <span *ngIf="!rowData[col.field+'_link']" [innerHtml]="rowData[col.field]">
          </span>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td>
        {{translation?.analytics_no_record_found}}
      </td>
    </tr>
  </ng-template>
</p-table>