<!-- Breadcrumb-->
<div class="clear"></div>
<div class="container bred_an">
  <a [routerLink]="['/']">{{translations.home_global}}</a>
  <img src="assets/img/breadcrumarrow.svg" />
  <a [routerLink]="['/account-settings']">{{translations.account_settings_all}}</a>

  <img src="assets/img/breadcrumarrow.svg" />

  <a [routerLink]="['/account-settings/plans']"> <b> {{translations.plans_main}} </b></a>
</div>
<ng-container *ngIf="skeletonLoading">
  <div class="container box_outer">
   
    <div class="row panl_headingac">
        
        <div class="col-md-6">
          <h3><span class="bill_ani2 bil_a9"></span></h3>
        </div>
        
        <div class="col-md-6 back_ac">
          <span class="bill_ani2 bil_a9"></span>
            
        </div>
        
    </div>
    
    
    <div class="multisteps-form">
         <!--progress bar-->
         <div class="row">
           <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
             <span class="bill_ani bil_a9"></span>
              <span class="bill_ani bil_a9"></span>
               <span class="bill_ani bil_a9"></span>
           </div>
         </div>
         <!--form panels-->
         
       </div>
       
       <div class="rect">
         <div class="re_title">
          <span class="bill_ani bil_a10"></span><br>
          <span class="bill_ani bil_a10"></span><br>
          <span class="bill_ani bil_a10"></span>
         </div>
         
         <div class="row re_heading">
           <div class="col-md-6"><span class="bill_ani bil_a10"></span></div>
           <div class="col-md-2"><span class="bill_ani bil_a11"></span></div>
           <div class="col-md-2"><span class="bill_ani bil_a11"></span></div>
           <div class="col-md-2"><span class="bill_ani bil_a11"></span></div>
         </div>
         
         <div class="row detail_rw">
        <div class="col-md-6"><span class="bill_ani bil_a10"></span></div>
           <div class="col-md-2"><span class="bill_ani bil_a11"></span></div>
           <div class="col-md-2"><span class="bill_ani bil_a11"></span></div>
           <div class="col-md-2"><span class="bill_ani bil_a11"></span></div>
            
         </div>
         <div class="row detail_rw">
        <div class="col-md-6"><span class="bill_ani bil_a10"></span></div>
           <div class="col-md-2"><span class="bill_ani bil_a11"></span></div>
           <div class="col-md-2"><span class="bill_ani bil_a11"></span></div>
           <div class="col-md-2"><span class="bill_ani bil_a11"></span></div>
            
         </div>
         
         
         
         
         
         
         
          <div class="rec_btn">
          <span class="bill_ani bil_a12"></span>
          <span class="bill_ani bil_a12"></span>
          </div>
         
       </div>
   </div> 
</ng-container>
<div class="clear"></div>
<div *ngIf="!skeletonLoading" class="container box_outer">

  <div class="row panl_headingac">

    <div class="col-md-6">
      <h3 *ngIf="showAccountSettingsBackButton">{{"Choose Plan"}}</h3>
      <h3 *ngIf="!showAccountSettingsBackButton">{{translations.change_plan_new_settings}}</h3>
    </div>

    <div class="col-md-6 back_ac">
      <a *ngIf="!showAccountSettingsBackButton" [routerLink]="['/account-settings/plans']"> <img src="assets/img/left-arrow.svg"> Back to Plans and Billings</a>
      <a *ngIf="showAccountSettingsBackButton" [routerLink]="['/account-settings']"> <img src="assets/img/left-arrow.svg"> Back to Account Settings</a>

    </div>

  </div>


  <div class="multisteps-form">
    <!--progress bar-->
    <div class="row">
      <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
        <div class="multisteps-form__progress">
          <button class="multisteps-form__progress-btn js-active" type="button" title="Choose Plan"> <b>{{translations.choose_plan_new_settings}} </b></button>
          <button class="multisteps-form__progress-btn " type="button" title="Payment">{{translations.payment_new_settings}}</button>
          <button class="multisteps-form__progress-btn" type="button" title="Receipt">{{translations.receipt_new_settings}}</button>

        </div>
      </div>
    </div>
    <!--form panels-->
    <div class="row plan_heading">
      
    </div>

  </div>

  <div class="optiondata">
    <div class="p_heading row">
      <div class="col-md-5">
        <h3> {{translations.monthly_yearly_new_settings}}</h3>
        <div class="svoption">
          <i>{{translations.monthly_new_settings}}</i><label class="switch">
            
            <input  [disabled]="disableToggle" type="checkbox" [(ngModel)]="toggle" >
            <span  class=" slider round" (click)="togglePlanMode(toggle)"></span>
          </label>
          <i>{{translations.yearly_new_settings}}</i>
          <i class="save10">{{translations.save_ten_percent_new_settings}}</i>
        </div>
      </div>
      <ng-container *ngIf="!toggle; else plan1B">
        
        <div class="col-md-2">
          <h3>{{translations.basic_new_settings}}</h3>
          <p>$10 <sub>/{{translations.per_user_new_settings}}</sub></p>
          <button (click)="subplan(10)">{{translations.select_new_settings}}</button>
        </div>
        <div class="col-md-2">
          <h3>{{translations.pro_new_settings}}</h3>

          <p>
            $15 <sub>/{{translations.per_user_new_settings}}</sub></p>
          <a>
            <button (click)="subplan(12)">{{translations.select_new_settings}}</button>
          </a>
        </div>
        <div class="col-md-2">
          <h3>{{translations.enterprise}}</h3>
          <p></p>
          <a href="https://sibme.com/#contact-modal" target="_blank">
            <button>{{translations.contact_us_new_settings}}</button>
            </a>
        </div>
      </ng-container>
      <ng-template #plan1B>
        <!-- <div class="col-md-5"><label>&nbsp;</label></div> -->
        <div class="col-md-2">
          <h3>{{translations.basic_new_settings}}</h3>
          <p>$99 <sub>/{{translations.per_user_new_settings}}</sub></p>
          <button (click)="subplan(9)">{{translations.select_new_settings}}</button>
        </div>
        <div class="col-md-2">
          <h3>{{translations.pro_new_settings}}</h3>

          <p>
            $149 <sub>/{{translations.per_user_new_settings}}</sub></p>
          <a>
            <button (click)="subplan(11)">{{translations.select_new_settings}}</button>
          </a>
        </div>
        <div class="col-md-2">
          <h3>{{translations.enterprise}}</h3>
          <p></p>
          <a href="https://sibme.com/#contact-modal" target="_blank">
          <button>{{translations.contact_us_new_settings}}</button>
          </a>
        </div>
      </ng-template>
    </div>

    <div class="row">
      <div class="col-md-5">{{translations.user_licenses_new_settings}}</div>
      <div class="col-md-2">
        <select  [(ngModel)]="selectedUsers" id="selectedUsers" (change)="userSelected($event)" class="form-control">
          <option [disabled] = "disableBasic" *ngFor='let in of userArray;let i = index'>
            <span>{{in}} </span>
          </option>
        </select>
      
      </div>
      <div class="col-md-2">
        <select [(ngModel)]="selectedUsers2" id="selectedUsers2" (change)="userSelected($event)" class="form-control">
          <option *ngFor='let count of userArray;let i = index'>
            <span>{{count}} </span>
          </option>
        </select>
      </div>
      <div class="col-md-2">100+</div>
    </div>
    <div class="row">
      <div class="col-md-5">{{translations.cost_new_settings}}</div>
      <div class="col-md-2" *ngIf="userCost !==0;else other_content">${{userCost}}/{{type}}</div>
      <div class="col-md-2" *ngIf="userCost2 !==0;else other_content">${{userCost2}}/{{type}}</div>
      <ng-template  #other_content>
        <div class="col-md-2">
        -  
        </div>
      </ng-template>
      <div class="col-md-2">
        -  
        </div>
    </div>

    <div class="row">
      <div class="col-md-5">{{translations.shared_file_storage_new_settings}}</div>
      <div class="col-md-2">50 GB/{{translations.per_user_new_settings}}/{{translations.year_new_settings}}</div>
      <div class="col-md-2">100 GB/{{translations.per_user_new_settings}}/{{translations.year_new_settings}}</div>
      <div class="col-md-2">{{translations.custom_new_settings}}</div>
    </div>

    <div class="row">
      <div class="col-md-5">{{translations.vodeo_uploads_new_settings}}</div>
      <div class="col-md-2">{{translations.unlimited_new_settings}}</div>
      <div class="col-md-2">{{translations.unlimited_new_settings}}</div>
      <div class="col-md-2">{{translations.unlimited_new_settings}}</div>
    </div>
    <ng-container *ngIf="featureSwitch">
      <div class="row">
        <div class="col-md-5">{{translations.resource_file_sharing_new_settings}}</div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>

      <div class="row">
        <div class="col-md-5">{{translations.private_user_workspace_new_settings}}</div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>

      <div class="row">
        <div class="col-md-5">{{translations.coaching_collaboration_huddles_new_settings}}</div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">{{translations.huddle_discussion_new_settings}}</div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">{{translations.time_stamp_video_annotation_new_settings}}</div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">{{translations.time_stamp_audio_annotation_new_settings}}</div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">{{translations.video_tags_new_settings}}</div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">{{translations.custom_video_comment_categories_new_settings}}</div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">{{translations.video_editing_new_settings}}</div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">iOS (iPhone, iPad, iPod Touch)</div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">Android</div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">Dropbox, Google Drive, OneDrive, Box integration</div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">{{translations.custom_branding_new_settings}}</div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">{{translations.visible_observation_new_settings}}</div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>

      <div class="row">
        <div class="col-md-5">{{translations.administrative_management_new_settings}}</div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>


      <div class="row">
        <div class="col-md-5">{{translations.google_sign_in_new_settings}}</div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">{{"Livestreaming"}}</div>
        <div class="col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="2" viewBox="0 0 16 2">
          <path id="Path_101" data-name="Path 101" d="M0,0H16" transform="translate(0 1)" fill="none" stroke="#bcbcbc"
            stroke-width="2" />
        </svg>
      </div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">{{"Goals Management"}}</div>
        <div class="col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="2" viewBox="0 0 16 2">
          <path id="Path_101" data-name="Path 101" d="M0,0H16" transform="translate(0 1)" fill="none" stroke="#bcbcbc"
            stroke-width="2" />
        </svg>
      </div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">{{"Video/Audio Transcription"}}</div>
        <div class="col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="2" viewBox="0 0 16 2">
          <path id="Path_101" data-name="Path 101" d="M0,0H16" transform="translate(0 1)" fill="none" stroke="#bcbcbc"
            stroke-width="2" />
        </svg>
      </div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">{{translations.best_prectices_new_settings}}</div>
        <div class="col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="2" viewBox="0 0 16 2">
            <path id="Path_101" data-name="Path 101" d="M0,0H16" transform="translate(0 1)" fill="none" stroke="#bcbcbc"
              stroke-width="2" />
          </svg>
        </div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">{{translations.custom_frameworks_new_settings}}</div>
        <div class="col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="2" viewBox="0 0 16 2">
            <path id="Path_101" data-name="Path 101" d="M0,0H16" transform="translate(0 1)" fill="none" stroke="#bcbcbc"
              stroke-width="2" />
          </svg>
        </div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">{{translations.performance_analytics_new_settings}}</div>
        <div class="col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="2" viewBox="0 0 16 2">
            <path id="Path_101" data-name="Path 101" d="M0,0H16" transform="translate(0 1)" fill="none" stroke="#bcbcbc"
              stroke-width="2" />
          </svg>
        </div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">{{translations.coaching_tracker_new_settings}}</div>
        <div class="col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="2" viewBox="0 0 16 2">
            <path id="Path_101" data-name="Path 101" d="M0,0H16" transform="translate(0 1)" fill="none" stroke="#bcbcbc"
              stroke-width="2" />
          </svg>
        </div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>

      <div class="row">
        <div class="col-md-5">{{translations.assesement_tracker_new_settings}}</div>
        <div class="col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="2" viewBox="0 0 16 2">
            <path id="Path_101" data-name="Path 101" d="M0,0H16" transform="translate(0 1)" fill="none" stroke="#bcbcbc"
              stroke-width="2" />
          </svg>
        </div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>

      <div class="row">
        <div class="col-md-5">{{translations.archiving_new_settings}}</div>
        <div class="col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="2" viewBox="0 0 16 2">
            <path id="Path_101" data-name="Path 101" d="M0,0H16" transform="translate(0 1)" fill="none" stroke="#bcbcbc"
              stroke-width="2" />
          </svg>
        </div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>


      <div class="row">
        <div class="col-md-5">{{translations.lms_integration_new_settings}}</div>
        <div class="col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="2" viewBox="0 0 16 2">
            <path id="Path_101" data-name="Path 101" d="M0,0H16" transform="translate(0 1)" fill="none" stroke="#bcbcbc"
              stroke-width="2" />
          </svg>
        </div>
        <div class="col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="2" viewBox="0 0 16 2">
          <path id="Path_101" data-name="Path 101" d="M0,0H16" transform="translate(0 1)" fill="none" stroke="#bcbcbc"
            stroke-width="2" />
        </svg>
      </div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">{{"Web conferencing (Zoom, Webex, GoToMeeting, Bluejeans"}}</div>
        <div class="col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="2" viewBox="0 0 16 2">
          <path id="Path_101" data-name="Path 101" d="M0,0H16" transform="translate(0 1)" fill="none" stroke="#bcbcbc"
            stroke-width="2" />
        </svg>
      </div>
        <div class="col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="2" viewBox="0 0 16 2">
          <path id="Path_101" data-name="Path 101" d="M0,0H16" transform="translate(0 1)" fill="none" stroke="#bcbcbc"
            stroke-width="2" />
        </svg>
      </div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">{{"edTPA Integration "}}</div>
        <div class="col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="2" viewBox="0 0 16 2">
          <path id="Path_101" data-name="Path 101" d="M0,0H16" transform="translate(0 1)" fill="none" stroke="#bcbcbc"
            stroke-width="2" />
        </svg>
      </div>
        <div class="col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="2" viewBox="0 0 16 2">
          <path id="Path_101" data-name="Path 101" d="M0,0H16" transform="translate(0 1)" fill="none" stroke="#bcbcbc"
            stroke-width="2" />
        </svg>
      </div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">{{"SSO - SAML "}}</div>
        <div class="col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="2" viewBox="0 0 16 2">
          <path id="Path_101" data-name="Path 101" d="M0,0H16" transform="translate(0 1)" fill="none" stroke="#bcbcbc"
            stroke-width="2" />
        </svg>
      </div>
        <div class="col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="2" viewBox="0 0 16 2">
          <path id="Path_101" data-name="Path 101" d="M0,0H16" transform="translate(0 1)" fill="none" stroke="#bcbcbc"
            stroke-width="2" />
        </svg>
      </div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>

      <div class="row">
        <div class="col-md-5">{{translations.support_new_settings}}</div>
        <div class="col-md-2">{{translations.help_desk_new_settings}}</div>
        <div class="col-md-2">{{translations.priority_email_new_settings}}</div>
        <div class="col-md-2">Account Manager</div>
      </div>

      <div class="row">
        <div class="col-md-5">{{translations.online_workShop_new_settings}}</div>
        <div class="col-md-2">{{translations.contact_us_new_settings}}</div>
        <div class="col-md-2">{{translations.contact_us_new_settings}}</div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>



      <div class="row">
        <div class="col-md-5">{{translations.onsite_professional_new_settings}}</div>
        <div class="col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="2" viewBox="0 0 16 2">
            <path id="Path_101" data-name="Path 101" d="M0,0H16" transform="translate(0 1)" fill="none" stroke="#bcbcbc"
              stroke-width="2" />
          </svg>

        </div>
        <div class="col-md-2">{{translations.contact_us_new_settings}}</div>
        <div class="col-md-2"><img src="assets/img/green_mark.png"></div>
      </div>
      <div class="row">
        <div class="col-md-5">{{translations.payment_new_settings}}</div>
        <div class="col-md-2">Credit card/PO/{{translations.check_new_settings}}</div>
        <div class="col-md-2">Credit card/PO/{{translations.check_new_settings}}</div>
        <div class="col-md-2">Credit card/PO/{{translations.check_new_settings}}</div>
      </div>
      <div class="row last_select">
        <div class="col-md-5"></div>
        <div class="col-md-2"><button id="basic" (click)="hiddenSubplan($event,toggle)">{{translations.select_new_settings}}</button></div>
        <div class="col-md-2"><button id="pro" (click)="hiddenSubplan($event,toggle)">{{translations.select_new_settings}}</button></div>
        <div class="col-md-2"><a href="https://sibme.com/#contact-modal" target="_blank">
          <button>{{translations.contact_us_new_settings}}</button>
          </a></div>
      </div>
    </ng-container>






    <div class="row storage_ms">
      <div class="col-md-12">
        <p>{{translations.for_more_new_settings}} – <a href="https://sibme.com/#contact-modal" target="_blank"> <u>{{translations.contact_us_new_settings}}</u> </a> {{translations.call_us_new_settings}} <b>
            888-601-6786 x1</b> </p>

        <label (click)="featureSwitch = true" *ngIf="!featureSwitch" style="cursor: pointer;">{{translations.see_all_feature_new_settings}} <svg
            xmlns="http://www.w3.org/2000/svg" width="13.406" height="7.491" viewBox="0 0 13.406 7.491">
            <path id="Path"
              d="M7.289,3.223a.659.659,0,0,1-.911,0L.186-2.85A.738.738,0,0,1,0-3.277H0V-3.3H0v-.02H0v-.02H0a.679.679,0,0,1,.186-.406L6.378-9.817a.659.659,0,0,1,.911,0,.618.618,0,0,1,0,.914L1.574-3.3,7.289,2.309A.618.618,0,0,1,7.289,3.223Z"
              transform="translate(10 7.491) rotate(-90)" fill="#1485fe" />
          </svg>
        </label>
        <label (click)="featureSwitch = false" *ngIf="featureSwitch" style="cursor: pointer;">{{translations.hide_features_new_settings}} <svg
            xmlns="http://www.w3.org/2000/svg" width="13.406" height="7.491" viewBox="0 0 13.406 7.491">
            <path id="Path"
              d="M7.289,3.223a.659.659,0,0,1-.911,0L.186-2.85A.738.738,0,0,1,0-3.277H0V-3.3H0v-.02H0v-.02H0a.679.679,0,0,1,.186-.406L6.378-9.817a.659.659,0,0,1,.911,0,.618.618,0,0,1,0,.914L1.574-3.3,7.289,2.309A.618.618,0,0,1,7.289,3.223Z"
              transform="translate(3.406) rotate(90)" fill="#1485fe" />
          </svg>

        </label>

      </div>
    </div>

  </div>
</div>

<!-- <ng-template #confirmation>
  <div class="modal-content">
     <div class="modal-body">
        <button type="button" class="close" (click)="this.modalRef.hide();" data-dismiss="modal">×</button>
        <div class="content_popup">
           <p>{{translations.are_you_sure_like_to_leave_plans_new_settings}}
              {{translations.you_will_lose_unsaved_changes_new_settings}}
           </p>
        </div>
        <div class="col-12 mbtn">
           <button type="button" class="btn" (click)="this.modalRef.hide();">{{translations.cancel_us}}</button>
           <button type="button"  (click)="navigateTo();this.modalRef.hide()" class="btn btn-success">{{translations.ok}}</button>
        </div>
     </div>
  </div>
</ng-template> -->