<div class="clear"></div>
<div class="container bred_an">
  <div *ngIf="breadcrumb" >
  <a [routerLink]="['/']">{{translations.home_global}}</a>
 
    <img src="assets/img/breadcrumarrow.svg" />
    <a>{{translations.account_settings_main}}</a>
  </div>
  <div *ngIf="!breadcrumb" class="container ani_brcls bre_ani"></div>
</div>
<div class="clear"></div>


<div *ngIf="!skelton_loading" class="container box_outer">

  <div class="row panl_headingac">
    <div class="col-6">
      <h3>{{translations.account_settings_all}}</h3>

    </div>

  </div>
  <plans-billings-shared></plans-billings-shared>

  <div class="row ac_state">
    <div class="col-12">
      <h3>{{companyName}}</h3>
    </div>
    <div class="col-6"><label>{{translations.currently_main}} {{stats.total_users_used}}/{{stats.allowed_users}}
        {{translations.users_have_joined_this_account}}</label>
      <div class="bar_ful">
        <span [ngStyle]="usersProgressBar"></span>
      </div>
    </div>
    <div class="col-6">
      <label>{{stats.total_storage_used}} GB/{{stats.allowed_storage}} GB {{translations.storage_has_been_used}}</label>
      <div class="bar_ful">
        <span [ngStyle]="storageProgressBar"></span>
      </div>
    </div>
  </div>

  <div class="box_as">

    <a class="as_inner" routerLink="general-settings">
      <span><img src="assets/dashboard/assets/img/account-settings/generalsettings.png"></span>
      <label>{{translations.general_settings_all_new}}</label>
    </a>

    <a *ngIf="hideCustomFields" class="as_inner" routerLink="custom-fields">
      <span><img src="assets/dashboard/assets/img/account-settings/noun_edit_2075460.svg"></span>
      <label>{{translations?.cf_custom_fields}}</label>
    </a>

    <a class="as_inner" routerLink="colors-logo">
      <span><img src="assets/dashboard/assets/img/account-settings/colorslogo.png"></span>
      <label>{{translations.colors_logo_main}}</label>
    </a>

    <ng-container *ngIf="archivingPermission && !skelton_loading">
      <a class="as_inner" routerLink="archiving">

        <span><img src="assets/dashboard/assets/img/account-settings/archiving_ic.png"></span>
        <label>{{translations.archiving_main}}</label>
      </a>
    </ng-container>

    <ng-container *ngIf="rubricPermission && !skelton_loading">


        <!-- <a class="as_inner" href="/accounts/account_settings_all/{{account_id}}/7/1">
          <span><img src="assets/dashboard/assets/img/account-settings/rubricuthoring.png"></span>
          <label>{{translations.rubric_authoring}}</label>
        </a> -->
        <a class="as_inner" routerLink="rubrics" >
          <span><img src="assets/dashboard/assets/img/account-settings/rubricuthoring.png"></span>
          <label>{{translations.rubrics_and_frameworks_angular_rubrics}}</label>
        </a>

    </ng-container>

    <ng-container *ngIf="GlobalExportPermission && !skelton_loading">

      <a class="as_inner" routerLink="global-export">
        <span><img src="assets/dashboard/assets/img/account-settings/globalexport_ic.png"></span>
        <label>{{translations.global_export_main_global}}</label>
      </a>
    </ng-container>

    <ng-container *ngIf="plansPermission && !skelton_loading">

      <a *ngIf = "user_role == 100" class="as_inner" routerLink="plans">
        <span><img src="assets/dashboard/assets/img/account-settings/plan_new.png"></span>
        <label>{{translations.plans_main}}</label>
      </a>
    </ng-container>

    <ng-container *ngIf="enable_goals != 0 && !skelton_loading">
      <a class="as_inner" routerLink="goals-settings">
        <span><img src="assets/dashboard/assets/img/account-settings/goals_icon.svg"></span>
        <label class="break-word">{{goalAltName? goalAltName: translations.goal}} {{translations.settings_main}}</label>
      </a>
    </ng-container>


    <!-- <div class="as_inner">
      <span><img src="assets/dashboard/assets/img/account-settings/billing_in.png"></span>
      <label>{{translations.billing_info_main}}</label>
    </div> -->


<ng-container *ngIf="showCancel && !skelton_loading && hideForSuperAdmin">
      <div class="as_inner" routerLink="cancel-account">
        <span><img src="assets/dashboard/assets/img/account-settings/cancel_ic.png"></span>
        <label>{{translations.cancel_account_main}}</label>
    </div>
  </ng-container>

    <div class="clear"></div>

  </div>










</div>






<div *ngIf="skelton_loading" class="container box_outer">

  <div class="row panl_headingac">
    <div class="col-6">
      <h3 class="ani_us us1"></h3>



    </div>

  </div>


  <div class="box_as">
    <div class="ani_us an_bx">

    </div>

    <div class="ani_us an_bx">

    </div>
    <div class="ani_us an_bx">

    </div>
    <div class="ani_us an_bx">

    </div>




    <div class="ani_us an_bx">

    </div>


    <div class="ani_us an_bx">

    </div>

    
    <div class="ani_us an_bx">

    </div>


    <div class="clear"></div>

  </div>

  <div class="row ac_state">

    <div class="col-6">

      <div class="us2 ani_us">

      </div>
    </div>

    <div class="col-6">

      <div class="us2 ani_us">

      </div>
    </div>
    
  </div>

</div>
