
.box_as {    background: #fff;
    padding: 20px 0 20px 0;}
.container.bred_an{ padding-left:0 !important;     top: 11px !important;     padding-bottom: 9px !important;}
    @media screen and (min-width:1280px) { 
      .container { max-width: 1200px !important;
          padding: 0 15px !important;
          }
         }
  
   @media screen and (min-width:1500px) {
  
      .container { max-width: 1450px !important;    padding: 0 15px !important; }
  }
  .box_as .as_inner{     float: left;
    width: 14.66%;
    text-decoration:none;
    box-shadow: 0 1px 7px 0 rgba(0,0,0,.1);
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 28px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 15px 1%; padding: 22px 25px;    cursor: pointer;}
  .box_as .as_inner label { 
    text-align: center;
    color: #010101;
    font-size: 15px;
    height: 50px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    line-height: 18px;
    display: block;
    padding-top: 20px;
  }
  .box_as .as_inner span {display:block; text-align:center; height:70px; position:relative;}
  .box_as .as_inner span  img {     max-width: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;}
  .box_as .as_inner a { text-decoration:none; display:block;}
  .ac_state { background:#F9F9F9;     padding: 30px 20px 26px 20px;     border-bottom-left-radius: 5px;     border-bottom-right-radius: 5px;}
  .bar_ful { background:#fff; border:1px solid #ddd; }
  .ac_state label { font-size:14px; margin-bottom: 3px;color:#484848}
  .bar_ful span{  height:8px;     display: block;     height: 9px;}
  /**copy from here**/
  
  .panl_headingac { border-bottom:1px solid #ddd; padding: 5.5px 10px;    background: #f9f9f9;     border-top-right-radius: 5px;     border-top-left-radius: 5px;}
  
  .panl_headingac  h3{   font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #212528;}
  .ac_state h3{ color:#484848; font-size:24px;}
  
  .panl_headingac .col-6{ padding-left:7px;}
  
  @-webkit-keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
  
  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
  .ani_us{
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    position: relative;
  }
  
  .us1 { width:250px; height:40px;}
  .us2 { width:100%; height:20px;}
  .an_bx { width:100%; height:164px; display:inline-block; width: 14.66%;
    box-shadow: 0 1px 7px 0 rgba(0,0,0,.1);     border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 28px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 15px 1%;
    padding: 22px 25px; float:left;}
  
.ani_brcls {
      -webkit-animation-duration: 1.25s;
      animation-duration: 1.25s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: placeHolderShimmer;
      animation-name: placeHolderShimmer;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      background: #d9d9d9;
      background: linear-gradient(to right, #e9e9e9 8%, #F0F0F0 18%, #efefef 33%);
      background-size: 800px 104px;
      position: relative;
}

.bre_ani {
      padding: 2px !important;
      height: 20px;
      /* margin-bottom: 26px !important; */
      position: relative;
      top: 3px;
}


@media screen and (max-width:1400px) {
	 .box_as .as_inner, .an_bx{ 
	 width: 16.4%;
	 margin: 15px 1.8%;
	 }
	
}