.modal-body p {margin-bottom: 5px;}
.url-container {margin-top: 1rem;}
.modal-footer {
    margin: 20px 20px 0;
    padding-right: 0;
}

.action-btn {
    text-align: right;
    margin-right: 0;
    padding-right: 0;
}

.btn-default {
    background: none;
    color: #757575;
}

.btn-success {
    padding-left: 30px;
    padding-right: 30px;
}