<div class="modal-header">
    <h4 class="modal-title">{{pageMode === 'add' ? translation?.artifact_add : translation?.vd_edit}} {{translation?.url}}</h4>
    <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>
</div>
<div class="modal-body">
    <div>
        <p>{{translation?.title}}</p>
        <input type="text" class="form-control" maxlength="256" [(ngModel)]="title">
    </div>
    <div class="url-container">
        <p>{{translation?.url}}</p>
        <input type="text" class="form-control" [(ngModel)]="url">
    </div>
</div>
<div class="modal-footer">
    <div class="col-6 action-btn">
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{translation?.artifact_cancle}}</button>
        <button type="button" class="btn btn-success" [disabled]="validButton" (click)="submitURLArtifact();">{{ pageMode === 'add' ? translation?.vd_add : translation?.vd_update}}</button> 
    </div>
</div>