div.dndDraggingSource{
	background: #cccbcb !important;
    /* border-radius: 7px; */
    padding-left: 6px;
}

.dndDraggingSource > div{
    background: #cccbcb !important;
    border-radius: 0 !important;
}

div[dndHandle]{
	padding-left: 0;
    left: 15px;
}


.drage_file {    background-color: rgba(0,0,0, 0.5);
    text-align: center;
 
    
        padding: 5px;
    width: 180px;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;     border-radius: 5px;}
.drag_over {        background-color: rgba(0,0,0, 0.3);
    top: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom:0px;
    display: flex;
   }

.drage_file b { color:#fff; display:block; padding-top:2px;}


.grid_row { position:relative;}
.drage_file svg {    width: 35px;
    height: 25px;}
