
<!-- <div class="row grid_row" [dndDraggable]="data" dndEffectAllowed="move" draggable="false">
  <div class="col-12 row" dndHandle> -->

<div class="row grid_row" draggable="false">
  <div class="col-12 row">
    <div class="col-3 fake_link">
      <a class="external_link_container" style="cursor: pointer; text-decoration: none; color: black;"
        [routerLink]=" isHuddle ? ['/video_huddles/huddle/details/'+huddleId+'/artifacts/'+displayStyle+'/'+data.id] : '/workspace/workspace/home/'+displayStyle+'/'+data.id" draggable="false">
        <div class="folder_grid">
          <img src="./assets/img/folder_gry.svg" width="23">
        </div>
        <div class="folder_detail">
          <label tooltip="{{data?.title}}">{{data?.title}}</label>
          <p>{{translation?.huddle_created_by}}: {{data?.created_by_name}}</p>
        </div>
      </a>
    </div>
    <div class="col-1" style="text-align: center;">{{data?.stats?.videos}}</div>
    <div class="col-1" style="text-align: center;">{{data?.stats?.resources}}</div>
    <div class="col-1 lgcell" style="text-align: center;">{{data?.stats?.urls}}</div>
    <div class="col-1 lgcell_2" style="text-align: center;">{{data?.stats?.scripted_notes}}</div>
    <div class="col-1 lgcell" style="text-align: center;">{{data?.stats?.folders}}</div>
    <div class="col-1 lgcell_2" style="">{{data?.created_by_name}}</div>
    <div class="col-1 lgcell_2" style=""></div>
    <div class="col-2 list_share">
      <a class="share_icon" (click)="shareFolderModal(data)">
        <img src="assets/video-huddle/img/icon_arrow.svg">
        {{translation.artifact_share}}
      </a>
      <div *ngIf="getPermission()" class="hu_grid dropdown">
        <span dropdown>
          <button dropdownToggle id="basic-link" type="button" aria-controls="basic-link-dropdown" class="noOutline">
            <img src="./assets/video-huddle/img/dots_dark.svg" width="22">
          </button>
          <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="basic-link" style="width: 20px">
            <li>
              <a class="dropdown-item fake_link" (click)="EditFolder(data.id)">{{translation?.workspace_rename}}</a>
              <!-- <a class="dropdown-item fake_link" (click)="shareFolderModal(data)">{{translation?.artifact_share}}</a> -->
              <a class="dropdown-item fake_link" (click)="OnDelete.emit(data)">{{translation?.huddle_delete_btn}}</a>
            </li>
          </ul>
        </span>
      </div>

    </div>
  </div>
  
  <div class="drag_over" [ngStyle]="{'display':data.id == dragFolderId && changeBackgroundColor == true ? 'flex' : 'none' }">
                      <div class="drage_file">
                      <svg xmlns="http://www.w3.org/2000/svg" width="66.5" height="47.708" viewBox="0 0 66.5 47.708">
  <g id="noun_upload_cloud_3401869" data-name="noun_upload cloud_3401869" transform="translate(10.087 -122.702)">
    <g id="Group_2066" data-name="Group 2066" transform="translate(-15 105)">
      <path id="Path_120" data-name="Path 120" d="M60.959,36.944v-.627a18.712,18.712,0,0,0-35.884-7.336,11.3,11.3,0,0,0-4.615-.958A11.421,11.421,0,0,0,9.077,39.45a7.954,7.954,0,0,0,.059,1.187A14.532,14.532,0,0,0,19.457,65.41h37.4a14.524,14.524,0,0,0,4.1-28.467ZM45.852,44.022a2.138,2.138,0,0,1-3.03,0l-2.588-2.6V52.943a2.079,2.079,0,0,1-4.158,0V41.515l-2.514,2.507a2.153,2.153,0,1,1-3.045-3.038l6.1-6.068.066-.037a1.054,1.054,0,0,0,.111-.081,2.264,2.264,0,0,1,.31-.206,2.028,2.028,0,0,1,1.054-.347h.177a2.123,2.123,0,0,1,1.475.612l6.068,6.09a2.153,2.153,0,0,1-.022,3.074Z" transform="translate(0)" fill="#fff" fill-rule="evenodd"/>
    </g>
  </g>
  
</svg>
             <br />         <b>{{translation?.multi_file_upload_drag_files_here}}</b>
                      </div>
                    </div>
</div>
