
 

<div class="video_body">


 <video-player *ngIf="!isVideoProcessing && (transCodingStatus!=5 && !errorStatus) && VideoInfo?.video_is_saved !=0" [params]="params" (IsPlaying)="isPlaying=$event" [VideoInfo]="VideoInfo" (VideoCurrentTime)="GetTime($event)" [comments]="comments" [customMarkers]="CustomMarkers" [colors]="colorClasses"  [src]="src" (ShowInfoBack)="ShowInfo=$event" (videoDuration)="checkForVideoCommentPlay($event)"></video-player>


 <div class="fake_player" *ngIf="(isVideoProcessing || VideoInfo.video_is_saved ==0) && (transCodingStatus!=5 && !errorStatus)">
    <video-player *ngIf="VideoInfo.video_is_saved ==0" [src]="src" [params]="params" (IsPlaying)="isPlaying=$event"   [VideoInfo]="VideoInfo" [ShowInfo]="ShowInfo">  </video-player>
    <h6 *ngIf="!isAudio && VideoInfo.video_is_saved !=0">
        <span> {{ translation?.vd_video_is_currently}} </span>
    </h6> 
    <h6 *ngIf="isAudio">
        {{translation?.vd_audio_is_currently}}
    </h6>

</div>

<div class="fake_player" *ngIf="(transCodingStatus==5  || errorStatus)">
    <h6>
        {{translation?.video_not_processed}}<a target="_top">support@sibme.com</a>
    </h6>
</div>

<div class="fake_player" *ngIf="(isVideoProcessing || VideoInfo.video_is_saved ==0) && (transCodingStatus!=5 && !errorStatus)">
    <video-player *ngIf="VideoInfo.video_is_saved ==0" [src]="src" [params]="params" (IsPlaying)="isPlaying=$event"   [VideoInfo]="VideoInfo" [ShowInfo]="ShowInfo">  </video-player>
    <h6 *ngIf="!isAudio && VideoInfo.video_is_saved !=0">
        <span> {{ translation?.vd_video_is_currently}} </span>
    </h6> 
    <h6 *ngIf="isAudio">
        {{translation?.vd_audio_is_currently}}
    </h6>

</div>

<div class="fake_player" *ngIf="(transCodingStatus==5  || errorStatus)">
    <h6>
        {{translation?.video_not_processed}}<a target="_top">support@sibme.com</a>
    </h6>
</div>
<div class="video_info_main" >
    <div  class="video_options btn-group" dropdown>
        <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle" aria-controls="dropdown-basic" >

            <img src="assets/img/dot.svg">
        </div>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li *ngIf="VideoInfo.video_is_saved !=0" role="menuitem" (click)="InitiateCopyDialog(copyDialog)">
                <span class="dropdown-item">{{translation?.vd_copy}}</span>
            </li>
            <li *ngIf="!isCroLoading && permissions.can_crop_video && VideoInfo.video_is_saved !=0" role="menuitem"  (click)="InitiateCropDialog(cropDialog)">
                <span class="dropdown-item">{{translation?.vd_crop}}</span>
            </li>
            <li role="menuitem" *ngIf="isCroLoading">
                <span class="dropdown-item">{{translation?.vd_processing}} <span
                        class="oi animated rotateIn infinite"
                        data-glyph="loop-circular"></span> </span>
            </li>
            <li *ngIf="permissions.can_crop_video" role="menuitem" (click)="InitiateDeleteVideo(confirmDialogDel)">
                <span class="dropdown-item">{{translation?.vd_delete}}</span>
            </li>
            <li *ngIf="VideoInfo.video_is_saved !=0" role="menuitem" (click)="DownloadVideo()">
                <span class="dropdown-item">{{translation?.vd_download}}</span>
            </li>
        </ul>
    </div>
    <div class="video_info" [class.filled]="ShowInfo" (click)="ShowInfo=!ShowInfo">
        {{translation?.vd_info}}
    </div>
   
</div>
<div class="video_info_main" *ngIf="isVideoProcessing || transCodingStatus==5 || errorStatus">
    <div *ngIf="permissions.showCopy && userAccountLevelRoleId != '125'" class="video_options btn-group" dropdown>
        <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle" aria-controls="dropdown-basic" >

            <img src="assets/img/dot.svg">
        </div>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem disabled">
                <span class="dropdown-item disabled">{{translation?.vd_copy}}</span>
            </li>
            <li role="menuitem disabled" *ngIf="!isCroLoading">
                <span class="dropdown-item disabled">{{translation?.vd_crop}}</span>
            </li>
            <li role="menuitem disabled" *ngIf="isCroLoading">
                <span class="dropdown-item disabled">{{translation?.vd_processing}} <span
                        class="oi animated rotateIn infinite"
                        data-glyph="loop-circular"></span> </span>
            </li>
            <li *ngIf="(transCodingStatus!=5 || !errorStatus)" role="menuitem">
                <span class="dropdown-item disabled">{{translation?.vd_delete}}</span>
            </li>

            <li *ngIf="(transCodingStatus==5 || errorStatus)" role="menuitem" (click)="InitiateDeleteVideo(confirmDialogDel)">
                <span class="dropdown-item">{{translation?.vd_delete}}</span>
            </li>
            <li role="menuitem disabled">
                <span class="dropdown-item disabled">{{translation?.vd_download}}</span>
            </li>
        </ul>
    </div>
    <div class="video_info" [class.filled]="ShowInfo" (click)="ShowInfo=!ShowInfo">
        {{translation?.vd_info}}
    </div>
    <span class="iconic iconic-plus iconic-sm" title="plus" aria-hidden="true"></span>
    <span class="iconic iconic-plus iconic-md" title="plus" aria-hidden="true"></span>
    <span class="iconic iconic-plus iconic-lg" title="plus" aria-hidden="true"></span>
    <div class="clear"></div>
</div>

<ng-template #copyDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left">
            {{translation?.workspace_share}}
        </h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <tabset id="tabs_copy_video">
            <tab id="tab1" (selectTab)="currentCopyTab=0" *ngIf="true">
                <ng-template tabHeading>
                    <span class="oi" data-glyph="comment-square" title="" aria-hidden="true"></span>
                    {{translation?.workspace_sharetohuddle}}
                   
                </ng-template>
                <div id="header-container" class="filterform">
                    <div class="filterform hu_search">
                        <input id="input-filter" placeholder="{{translation?.vd_search_huddles}}" class="filterinput" type="text" style="width: 100%; display: block;" [(ngModel)]="CopyData.searchHuddleText" (ngModelChange)="onSearchHuddleChange($event)">
                        <div id="cancel-btn" type="text" style=" width: 10px;  position: absolute; right: 40px; top: 161px; display:none;cursor: pointer; " class="filterinput">X</div>
                    </div>
                </div>
                <div class="filter_data_box">
                    <ul id="list-containers" class="inset-area clear-list files-list">
                        <ng-container *ngFor="let huddle of CopyData.all_huddles; let i=index">
                            <li *ngIf="huddle?.meta_data_value!='3'" [hidden]="!huddle.valid">

                                <label class="checkboxcls" >{{huddle.name}}
                                    <input type="checkbox" [(ngModel)]="huddle.selected">
                                    <span class="checkmark"></span>
                                  </label>

                            </li>
                        </ng-container>

                        <li *ngIf="CopyData?.huddles_matched==0">
                            {{translation?.vd_no_huddles_match}} </li>
                    </ul>
                </div>
            </tab>
            <tab (selectTab)="currentCopyTab=1" *ngIf="permissions?.permission_video_library_upload && permissions?.get_account_video_library_permissions">
                <ng-template tabHeading>
                    <span class="oi" data-glyph="video" title="" aria-hidden="true"></span>
                    {{translation?.workspace_sharetolibrary}} 
                </ng-template>
                <ul class="inset-area clear-list files-list">
                    
                    <li>
                        
                        <label class="checkboxcls" > {{translation?.workspace_sharetolibrary}} 
                        <input name="account_folder_id" id="account_folder_name"
                        type="checkbox" [(ngModel)]="CopyData.LibrarySelected">
                        <span class="checkmark"></span>
                      </label>

                    </li>
                </ul>
            </tab>
            <tab (selectTab)="currentCopyTab=2" *ngIf="CopyData.all_accounts.length>0">
                <ng-template tabHeading><span class="oi" data-glyph="people" title="" aria-hidden="true"></span>{{translation?.share_to}} {{CopyData.all_accounts.length>1?translation?.vd_account:translation?.vd_workspace}}
                </ng-template>
                <div id="header-container" class="filterform">
                    <div class="filterform hu_search">
                        <input id="input-filter" placeholder="{{translation?.vd_search_huddles}}" class="filterinput" type="text" style="width: 100%; display: block;" [(ngModel)]="CopyData.searchAccountText" (ngModelChange)="onSearchAccountChange($event)">
                        <div id="cancel-btn" type="text" style=" width: 10px;  position: absolute; right: 40px; top: 161px; display:none;cursor: pointer; " class="filterinput">X</div>
                    </div>
                </div>
                <div class="filter_data_box">
                    <ul id="list-containers" class="inset-area clear-list files-list">
                        <li *ngFor="let account of CopyData.all_accounts; let i=index" [hidden]="!account.valid">

                            <label class="checkboxcls" > {{account.company_name}} -
                                <b>{{translation?.header_list_worksapce}}</b>
                                <input name="account_folder_id"class="copyFiles_checkbox" [attr.id]="'account'+i" type="checkbox"
                                [(ngModel)]="account.selected">
                                <span class="checkmark"></span>
                              </label>
                        </li>
                        <li *ngIf="CopyData?.accounts_matched==0">
                            {{translation?.vd_no_accounts}} </li>
                    </ul>
                </div>
            </tab>
        </tabset>
    </div>
    <div class="modal-footer ">
        <div class="text-left copy_comments col-7" *ngIf="currentCopyTab!=1 && comments.length>0">

            <label class="checkboxcls" > {{translation?.share_comments_tags_attachments}}
                <input [(ngModel)]="CopyData.CopyComments" id="copy_comments" type="checkbox"
                >
                <span class="checkmark"></span>
              </label>
        </div>
        <div class="text-right model-btns col-5">
            <a class="simple_btn" (click)="ResolveCopyVideo(0)">{{translation?.vd_cancel}}</a>
            <a class="green" (click)="ResolveCopyVideo(1)" [style.backgroundColor]="primery_button_color">
                {{translation?.workspace_share}}
            </a>
        </div>
    </div>
</ng-template>


<ng-template #cropDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_crop_video}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideCropModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-crop-video-player (CropIsPlaying)="CropIsPlaying=$event" (CropVideoTotalTime)="CaptureTotalTime($event)" [VideoInfo]="VideoInfo" [comments]="comments" [customMarkers]="CustomMarkers" [colors]="colorClasses" [ShowInfo]="ShowInfo" [src]="src" (ShowInfoBack)="ShowInfo=$event"></app-crop-video-player>
        <div>
            <span>{{cropStartValue}}</span>
            <span style="float: right;">{{cropEndValue}}</span>
        </div>
        <nouislider *ngIf="videoEnd" [config]="cropRangeSliderConfig" [(ngModel)]="cropRange" (ngModelChange)="onCropSliderChange($event)"></nouislider>
        <div>
            <span>00:00</span>
            <span style="float: right;">{{videoEnd}}</span>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-right model-btns">
            <a class="simple_btn" (click)="hideCropModal()">{{translation?.vd_cancel}}</a>
            <a class="blue" (click)="CropPreviewVideo()">{{translation?.vd_preview_video}}</a>
            <a class="green" (click)="TrimVideo()" [style.backgroundColor]="primery_button_color">{{translation?.vd_trim}}</a>
        </div>
    </div>
</ng-template>

<ng-template #confirmDialogDel>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{translation?.vd_are_you_sure}}
    </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolveDeleteVideo(0)">
                {{translation?.vd_cancel}}
            </button>
            <button class="btn btn-primary" (click)="ResolveDeleteVideo(1)">
                {{translation?.vd_ok}}
            </button>
        </div>
    </div>
</ng-template>