<div class="filter filter_skelton" *ngIf="loading">
    <div class="g_tyle">
        <div class="g_ani gn3"></div>
    </div>

    <div class="g_tyle">
        <div class="g_ani gn3"></div>
    </div>

    <div class="cat_mg">
        <div class="g_ani gn3"></div>
    </div>








    <div class="arch_search">
        <div class="g_ani"></div>
    </div>


    <div class="btn-group btn-group-toggle filter_options" data-toggle="buttons">
        <div class="g_ani gn3"></div>

    </div>



    <div class="date_rng">
        <div class="g_ani gn3"></div>
    </div>



    <div class="butn_green">
        <div class="g_ani gn3"></div>


    </div>


    <div class="clearfix"></div>

</div>
<div class="filter" *ngIf="!loading">
    <div class="g_tyle trackers-fil" *ngIf="!playCardAccountId && chlidAccounts.length > 1">
        <!-- [disabled]="isToDisable()" -->
        <ng-container>
            <ng-multiselect-dropdown [placeholder]="translation?.reporting_select_account" [settings]="dropdownSettings"
                [data]="chlidAccounts" [(ngModel)]="selectedAccounts" (onSelect)="onAccountSelect($event)"
                (onSelectAll)="onAccountSelectAll($event)" (onDeSelect)="onAccountDeselect($event)"
                (onDeSelectAll)="onAccountDeselectAll($event)">
            </ng-multiselect-dropdown>
        </ng-container>

        <!-- <ng-container *ngIf="playCardAccountId">
        <select [(ngModel)]="playCardAccountId">
            <option *ngFor="let value of singleUserPlayer" [value]="value.id">{{value.company_name}}</option>
        </select>
        </ng-container> -->
    </div>

    <div [tooltip]="singleUserPlayer[0].company_name.length > 20 ? singleUserPlayer[0].company_name: ''" class="arch_search g_tyle trackers-fil"  *ngIf="playCardAccountId && singleUserPlayer.length > 0 ">
        <input class="single-input" type="text" style="pointer-events:none" [(ngModel)]="singleUserPlayer[0].company_name">
    </div>

    <!-- <div class="g_tyle">
        <select [(ngModel)]="huddleType">
            <option value="2">{{translation?.reporting_coaching_coachee_view}}</option>
            <option value="1">{{translation?.reporting_coaching_coach_view}}</option>
            <ng-container *ngIf="report_type == 'huddle_report'">
                <option value="4">{{translation?.reporting_assessment_huddle_assessor_view}}</option>
                <option value="3">{{translation?.reporting_assessment_huddle_assesse_view}}</option>
            </ng-container>
        </select>
    </div> -->

    <div class="g_tyle trackers-fil">
        <!-- <select [(ngModel)]="huddleType"> -->
        <!-- <select [(ngModel)]="huddleType">
            <option value="2">{{translation?.reporting_coaching_coachee_view}}</option>
            <option value="1">{{translation?.reporting_coaching_coach_view}}</option>
            <ng-container *ngIf="report_type == 'huddle_report'">
                <option value="4">{{translation?.reporting_assessment_huddle_assessor_view}}</option>
                <option value="3">{{translation?.reporting_assessment_huddle_assesse_view}}</option>
            </ng-container>
        </select>
        </select> -->
        <ng-multiselect-dropdown *ngIf="report_type != 'assessment_report'"
            [placeholder]="translation?.reporting_huddle_type" [settings]="dropdownSettingsHuddle" [data]="huddles"
            [(ngModel)]="selectedHuddles">
        </ng-multiselect-dropdown>
    </div>


    <div class="cat_mg  trackers-fil" [ngClass]="{'assessment_frame':report_type=='assessment_report'}">
        <ng-multiselect-dropdown [placeholder]="translation?.reporting_choose_framework"
            [settings]="dropdownSettingsFramework" [data]="frameworks" [(ngModel)]="selectedFramework"
            (onSelect)="selectFramework($event)" (onDeSelect)="onFrameworkDeselect($event)">
        </ng-multiselect-dropdown>
        <!-- <select [(ngModel)]="framework_id " (change)="selectFramework($event)">
            <option value="">{{translation?.reporting_choose_framework}}</option>
            <option *ngFor="let value of frameworks ; trackBy:trackByAccountTagId" [value]="value.account_tag_id">{{value.tag_title}}</option>
        </select> -->
        <a *ngIf="framework_id" (click)="showStandardModal()">
            <img src="assets/trackers/couching-report/img/manag_icon.svg">
        </a>
    </div>







    
    <div class="arch_search" [ngClass]="{'assessment_search':report_type=='assessment_report'}" [ngStyle]="{'width':!playCardAccountId && chlidAccounts.length > 1 || playCardAccountId && singleUserPlayer.length > 0 ? '13%': '27.5%' }">
        <input type="text" placeholder="{{translation?.artifacts_search}}" [(ngModel)]="search"
            (ngModelChange)="onSearch($event)">
        <img src="assets/img/search_icon.png" *ngIf="!search">
        <button *ngIf="search" type="button" class="close" (click)="search = '';valueChanged(search)">&times;</button>
    </div>

    <div class="btn-group btn-group-toggle filter_options" data-toggle="buttons">
        <label class="btn btn-secondary" [class.active]="duration == '1'" [ngClass]="{'active': date=='1month'}"
            (click)="onDuration(1)">
            <input type="radio" name="options" id="option1" autocomplete="off" [(ngModel)]="duration" value="1"> 1
            {{translation?.mo_coaching_tracker}}
        </label>
        <label class="btn btn-secondary" [class.active]="duration == '3'" [ngClass]="{'active':date=='3months'}"
            (click)="onDuration(3)">
            <input type="radio" name="options" id="option2" autocomplete="off" [(ngModel)]="duration" value="3">

            3 {{translation?.mo_coaching_tracker}}
        </label>
        <label class="btn btn-secondary" [class.active]="duration == '6'" [ngClass]="{'active':date=='6months'}"
            (click)="onDuration(6)">
            <input type="radio" name="options" id="option3" autocomplete="off" [(ngModel)]="duration" value="6">

            6 {{translation?.mo_coaching_tracker}}
        </label>

        <label class="btn btn-secondary" [class.active]="duration == '12'" [ngClass]="{'active':date==='12months'}"
            (click)="onDuration(12)">
            <input type="radio" name="options" id="option2" autocomplete="off" [(ngModel)]="duration" value="12">

            12 {{translation?.mo_coaching_tracker}}
        </label>


    </div>



    <div class="date_rng">
        <!-- {{report_type}} -->
        <span>{{translation?.or}}</span>
        <!-- (keydown)="no_backspaces($event);" (keypress)="$event.preventDefault()" [bsConfig]="bsConfig" -->
        <input type="text" [bsConfig]="bsConfig" [outsideClick]="true" bsDaterangepicker [(ngModel)]="bsRangeValue"
            (bsValueChange)="onValueChange($event)" #dp>
        <img src="assets/goals/img/cal_icon.svg" (click)="showdp()">
    </div>


    <div class="butn_green">
        <button (click)="resetPage(1);update(true)">{{translation?.huddles_details_updated}}</button>

        <a *ngIf="!fromAnalytics || report_type == 'user_summary_report' || report_type == 'playercard-user-summary'" (click)="showConfigModal()"><svg
                xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                <g id="Group_1277" data-name="Group 1277" transform="translate(11)">
                    <path id="cog"
                        d="M138,135.5a2.5,2.5,0,1,0-.732,1.768A2.409,2.409,0,0,0,138,135.5Zm5-1.064V136.6a.376.376,0,0,1-.078.225.3.3,0,0,1-.2.127l-1.807.273a6.253,6.253,0,0,1-.381.889q.342.488,1.045,1.348a.377.377,0,0,1,.1.244.326.326,0,0,1-.088.225,9.921,9.921,0,0,1-.967,1.055q-.7.693-.918.693a.477.477,0,0,1-.254-.088l-1.348-1.055a5.574,5.574,0,0,1-.889.371,15.969,15.969,0,0,1-.283,1.816.329.329,0,0,1-.352.273h-2.168a.369.369,0,0,1-.239-.083.289.289,0,0,1-.112-.21l-.273-1.8a6.037,6.037,0,0,1-.879-.361l-1.377,1.045a.351.351,0,0,1-.244.088.337.337,0,0,1-.244-.107,12.89,12.89,0,0,1-1.611-1.641.382.382,0,0,1-.068-.225.376.376,0,0,1,.078-.225q.146-.205.5-.649t.527-.688a4.831,4.831,0,0,1-.4-.967l-1.787-.264a.308.308,0,0,1-.205-.122.369.369,0,0,1-.078-.23V134.4a.376.376,0,0,1,.078-.225.294.294,0,0,1,.186-.127l1.816-.273a4.827,4.827,0,0,1,.381-.9q-.391-.557-1.045-1.348a.367.367,0,0,1-.1-.234.412.412,0,0,1,.088-.225,9.7,9.7,0,0,1,.962-1.05q.708-.7.923-.7a.416.416,0,0,1,.254.1l1.348,1.045a5.574,5.574,0,0,1,.889-.371,15.968,15.968,0,0,1,.283-1.816.329.329,0,0,1,.352-.273h2.168a.369.369,0,0,1,.239.083.289.289,0,0,1,.112.21l.273,1.8a6.034,6.034,0,0,1,.879.361l1.387-1.045a.317.317,0,0,1,.234-.088.377.377,0,0,1,.244.1,13.358,13.358,0,0,1,1.611,1.66.315.315,0,0,1,.068.215.376.376,0,0,1-.078.225q-.146.205-.5.649t-.527.688a5.888,5.888,0,0,1,.4.957l1.787.273a.308.308,0,0,1,.205.122A.369.369,0,0,1,143,134.436Z"
                        transform="translate(-139 -128)" fill="#fff" />
                </g>
            </svg></a>
    </div>


    <div class="clearfix"></div>

</div>



<ng-template #configModal>
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{translation?.reporting_report_congfiguration}}</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</button>
        </div>
        <div class="modal-body manage_popup">
            <div class="row" *ngIf="reportsLoading">
                <div class="col-md-6 rep_left">


                    <div class="cat_listouter">


                        <div class="animation_cls vani33"></div>
                        <div class="animation_cls vani33"></div>

                        <div class="animation_cls vani33"></div>
                        <div class="animation_cls vani33"></div>

                        <div class="animation_cls vani33"></div>
                        <div class="animation_cls vani33"></div>

                        <div class="animation_cls vani33"></div>
                        <div class="animation_cls vani33"></div>
                        <div class="animation_cls vani33"></div>
                        <div class="animation_cls vani33"></div>

                    </div>


                </div>
                <div class="col-md-6">


                    <div class="cat_listouter">


                        <div class="animation_cls vani33"></div>
                        <div class="animation_cls vani33"></div>

                        <div class="animation_cls vani33"></div>
                        <div class="animation_cls vani33"></div>

                        <div class="animation_cls vani33"></div>
                        <div class="animation_cls vani33"></div>

                        <div class="animation_cls vani33"></div>
                        <div class="animation_cls vani33"></div>
                        <div class="animation_cls vani33"></div>
                        <div class="animation_cls vani33"></div>

                    </div>

                </div>
            </div>
            <div class="row rep_popup" *ngIf="!reportsLoading">
                <div class="col-md-6 rep_left">
                    <h4>{{translation?.reporting_reports}}</h4>
                    <div class="cat_listouter">
                        <div class="pop_cal_list text-center top-c" *ngIf="reportConfigs.length == 0"><span><img
                                    src="assets/img/nogoal_icon.svg"> {{translation?.reporting_no_report_found}}</span>
                        </div>
                        <div class="pop_cal_list scroll-container active" slimScroll [options]="opts"
                            [scrollEvents]="scrollEvents" *ngIf="reportConfigs.length > 0">
                            <ul>
                                <li *ngFor="let config of reportConfigs; let i = index"
                                    [ngClass]="{'active-report':index === i}">

                                    <div (click)="getSelectedReport(config , i)" style="display: inline;">
                                        {{config.report_name}}
                                    </div>
                                    <div class="cat_option dropdown" dropdown>
                                        <button type="button" class="dropdown-toggle" data-toggle="dropdown"
                                            dropdownToggle>
                                            <img src="assets/trackers/couching-report/img/dots_dark.svg" width="30">
                                        </button>
                                        <div class="dropdown-menu" *dropdownMenu>
                                            <a class="dropdown-item" *ngIf="config.created_by == user_id"
                                                (click)="editReport(config, i)">{{translation?.vd_edit}}</a>
                                            <a class="dropdown-item"
                                                (click)="duplicateReport(config)">{{translation?.duplicate}}</a>
                                            <a class="dropdown-item" *ngIf="config.created_by == user_id"
                                                (click)="openDeleteModal(config , i)">{{translation?.delete_all}}</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="add_cat_row">
                        <input class="form-control" [(ngModel)]="reportName" type="text"
                            placeholder="{{translation?.reporting_add_new_report}}">
                        <button *ngIf="indexToUpdate == null" [disabled]="!reportName.trim()"
                            (click)="addReport()">{{translation?.myfile_add}}</button>
                        <button *ngIf="indexToUpdate !== null" (click)="updateReportName()"
                            [disabled]="!reportName.trim()">{{translation?.myfile_update}}</button>
                    </div>
                </div>
                <div class="col-md-6 rep_right">

                    <ng-container *ngIf="reportConfigs[index]">
                        <div id="dragg-scroll" class="scroll-container">
                            <div dragula="checkbox" [(dragulaModel)]="reportConfigs[index].report_attributes">

                                <!-- Start If Report is not Default and Created By Loggedin User -->
                                <ng-container
                                    *ngIf="reportConfigs[index].is_default != 1 && reportConfigs[index].created_by == user_id">
                                    <ng-container *ngFor="let value of reportConfigs[index]?.report_attributes">
                                        <div class="ck_row"
                                            *ngIf="value.name !== 'Framework Tags' && value.name !== 'Standard Performance Levels'">
                                            <label class="checkboxcls">
                                                <input type="checkbox" [checked]="value.status"
                                                    (click)="check(value,$event.target.checked)">
                                                <span class="checkmark"></span>
                                                {{findTranslation(value.name)}}
                                            </label>
                                            <span class="drag_img">
                                                <img src="assets/trackers/couching-report/img/three_line.svg">
                                            </span>
                                        </div>
                                    </ng-container>

                                </ng-container>

                                <!-- End If Report is not Default and Created By Loggedin User -->
                            </div>

                        </div>
                        <hr *ngIf="!reportConfigs[index].is_default && reportConfigs[index].created_by == user_id">

                        <!-- Start If Report is Default -->

                        <ng-container *ngIf="reportConfigs[index].is_default === 1">
                            <div id="dragg-scroll" class="scroll-container height-350">
                                <ng-container *ngFor="let value of reportConfigs[index]?.report_attributes">
                                    <div class="ck_row"
                                        *ngIf="value.name !== 'Framework Tags' && value.name !== 'Standard Performance Levels'">
                                        <label class="checkboxcls">
                                            <!-- <input type="checkbox" [checked]="value.status"
                                            (click)="check(value,$event.target.checked)"> -->
                                            <span class="static_checkmark"><img src="assets/img/checkmarck.svg"></span>
                                            {{findTranslation(value.name)}}
                                        </label>
                                        <!-- <span class="drag_img">
                                            <img src="assets/trackers/couching-report/img/three_line.svg">
                                        </span> -->
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>


                        <!-- End If Report is Default -->


                        <!-- Start If Report is not Default and not Created By Loggedin User -->

                        <ng-container
                            *ngIf="reportConfigs[index].is_default != 1 && reportConfigs[index].created_by != user_id">
                            <div id="dragg-scroll" class="scroll-container height-350">
                                <ng-container *ngFor="let value of reportConfigs[index]?.report_attributes">
                                    <div class="ck_row">
                                        <label class="checkboxcls">
                                            <!-- <input type="checkbox" [checked]="value.status"
                                            (click)="check(value,$event.target.checked)"> -->
                                            <span class="static_checkmark"><img
                                                    [src]="value.status ? 'assets/img/checkmarck.svg' : 'assets/img/cross_icn.svg'"></span>
                                            {{findTranslation(value.name)}}
                                        </label>
                                        <!-- <span class="drag_img">
                                            <img src="assets/trackers/couching-report/img/three_line.svg">
                                        </span> -->
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>


                        <!-- End If Report is not Default and not Created By Loggedin User -->


                        <!-- Start FrameWork && Standard Level If Report is not Default -->
                        <div class="ck_row"
                            *ngIf="reportConfigs[index]?.report_attributes && !reportConfigs[index].is_default && reportConfigs[index].created_by == user_id">

                            <label class="checkboxcls" *ngIf="reportConfigs[index].created_by == user_id">
                                <input type="checkbox"
                                    [checked]="reportConfigs[index]?.report_attributes[reportConfigs[index]?.report_attributes.length-2].status"
                                    (click)="check(reportConfigs[index]?.report_attributes[reportConfigs[index]?.report_attributes.length-2],$event.target.checked)">
                                <span class="checkmark"></span>
                                {{findTranslation(reportConfigs[index]?.report_attributes[reportConfigs[index]?.report_attributes.length-2].name)}}
                            </label>

                            <label class="checkboxcls" *ngIf="reportConfigs[index].created_by != user_id">

                                <span class="static_checkmark"><img
                                        [src]="reportConfigs[index]?.report_attributes[reportConfigs[index]?.report_attributes.length-2].status ? 'assets/img/checkmarck.svg' : 'assets/img/cross_icn.svg'"></span>
                                {{findTranslation(reportConfigs[index]?.report_attributes[reportConfigs[index]?.report_attributes.length-2].name)}}
                            </label>

                            <!-- <span class="drag_img" *ngIf="reportConfigs[index].created_by == user_id">
                                <img src="assets/trackers/couching-report/img/three_line.svg">
                            </span> -->
                        </div>
                        <div class="ck_row"
                            *ngIf="reportConfigs[index]?.report_attributes && !reportConfigs[index].is_default && reportConfigs[index].created_by == user_id">
                            <label class="checkboxcls" *ngIf="reportConfigs[index].created_by == user_id">
                                <input type="checkbox"
                                    [checked]="reportConfigs[index]?.report_attributes[reportConfigs[index]?.report_attributes.length-1].status"
                                    (click)="check(reportConfigs[index]?.report_attributes[reportConfigs[index]?.report_attributes.length-1],$event.target.checked)">
                                <span class="checkmark"></span>
                                {{findTranslation(reportConfigs[index]?.report_attributes[reportConfigs[index]?.report_attributes.length-1].name)}}
                            </label>
                            <label class="checkboxcls" *ngIf="reportConfigs[index].created_by != user_id">

                                <span class="static_checkmark"><img
                                        [src]="reportConfigs[index]?.report_attributes[reportConfigs[index]?.report_attributes.length-1].status ? 'assets/img/checkmarck.svg' : 'assets/img/cross_icn.svg'"></span>
                                {{findTranslation(reportConfigs[index]?.report_attributes[reportConfigs[index]?.report_attributes.length-1].name)}}
                            </label>
                            <!-- <span class="drag_img" *ngIf="reportConfigs[index].created_by == user_id"> <img
                                    src="assets/trackers/couching-report/img/three_line.svg"></span> -->
                        </div>

                        <!-- End FrameWork && Standard Level If Report is not Default -->


                        <!-- Start FrameWork && Standard Level If Report is Default -->

                        <!-- <div class="ck_row"
                            *ngIf="reportConfigs[index]?.report_attributes && reportConfigs[index].is_default && reportConfigs[index]?.report_attributes[reportConfigs[index]?.report_attributes.length-2].name == 'Framework Tags'">
                            <label class="checkboxcls">
                                <span class="static_checkmark"><img src="assets/img/checkmarck.svg"></span>
                                {{findTranslation(reportConfigs[index]?.report_attributes[reportConfigs[index]?.report_attributes.length-2].name)}}
                            </label>
                        </div>
                        <div class="ck_row"
                            *ngIf="reportConfigs[index]?.report_attributes && reportConfigs[index].is_default && reportConfigs[index]?.report_attributes[reportConfigs[index]?.report_attributes.length-1].name == 'Standard Performance Levels'">
                            <label class="checkboxcls">

                                <span class="static_checkmark"><img src="assets/img/checkmarck.svg"></span>
                                {{findTranslation(reportConfigs[index]?.report_attributes[reportConfigs[index]?.report_attributes.length-1].name)}}
                            </label>
                        </div> -->

                        <!-- End FrameWork && Standard Level If Report is Default -->


                    </ng-container>

                </div>
            </div>
        </div>
        <div class="modal-footer footerm">
            <div class="col-12 share_btn">
                <button type="button" class="btn btn-success" [disabled]="isButtonDisable"
                    (click)="updateReports()">{{translation?.artifacts_done}}</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #standardsModal>

    <!-- Modal content-->

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{translation?.analytics_select_standards}}</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</button>

        </div>

        <div class="modal-body manage_popup">

            <div class="row">
                <div class="col-md-12">
                    <div class='standard-search'>
                        <input class="form-control" placeholder="{{translation?.artifacts_search}}"
                            [(ngModel)]="searchStandards"><br>
                        <img src="assets/img/search_icon.png" *ngIf="!searchStandards">
                        <button *ngIf="searchStandards" type="button" class="close"
                            (click)="searchStandards = '';">&times;</button>
                    </div>
                    <div class="text-center"
                        *ngIf="standards.length == 0 || (standards | filter: searchStandards).length === 0">
                        <img src="assets/img/nogoal_icon.svg"> <span>{{translation?.reporting_no_standard_found}}</span>
                    </div>
                    <div class=" scroll-container" slimScroll [options]="opts" [scrollEvents]="scrollEvents"
                        *ngIf="standards.length > 0">
                        <div class="ck_row" *ngFor="let value of standards | filter: searchStandards;">
                            <label class="checkboxcls unset">
                                <input type="checkbox" [checked]="value.status"
                                    (click)="selectStandard(value,$event.target.checked)">
                                <span class="checkmark"></span>
                                {{value.label}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer footerm">


            <div class="col-12 share_btn">

                <button type="button" class="btn btn-success"
                    (click)="bsModalRef.hide()">{{translation?.artifacts_done}}</button>
            </div>



        </div>
    </div>

</ng-template>

<ng-template #deleteReportModal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"><b>{{translation?.reporting_delete_configuration_report}}</b></h4>

            <button type="button" class="close" data-dismiss="modal" (click)="cancelDeleteModal()">&times;</button>

        </div>
        <div class="modal-body">
            <div class="short_msg">
                <p>{{translation?.reporting_are_you_sure_you_like_to_delete_this_report}}</p>
            </div>
        </div>
        <div class="modal-footer footerm">
            <div class="col-12 share_btn">
                <button type="button" class="btn bgnone" data-dismiss="modal"
                    (click)="cancelDeleteModal()">{{translation?.no}}</button>
                <button type="button" class="btn btn-success" (click)="deleteReport()">{{translation?.yes}}</button>
            </div>
        </div>
    </div>

</ng-template>

<ng-template #loadingModal>
	<div class="modal_container">
		<div class="modal-content">
			<div class="modal-header">
                <h4 class="modal-title">{{translation?.analytics_please_wait}}</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="loadingModalRef.hide()">&times;</button>
			</div>
			<div class="modal-body container">
				<div class="row text-center" style="margin-left: 10px;">
					<img class="animated infinite rotateIn" src="./assets/img/cog.svg"
						style="width: 27px; height: 20px;">
					{{translation?.reporting_file_is_pareparing}}
				</div>
			</div>
		</div>
	</div>
</ng-template>