body{background:#f3f2ea; font-family: 'Roboto', sans-serif; }
.box_outer{ border-radius:5px;     margin-top: 15px !important; background:#fff;     margin: 0 -15px;}
.topheader{text-align: center; background:url(/home/assets/trackers/couching-report/img/bgrep.png) repeat-x;}
 img{ max-width: 100%; }

/****/
.hec{ background:#004061;}
.logocls{     width: 175px;
    height: 64px;
    background: #fff;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.3);     text-align: center;}
.logocls img{ max-width:119px;    position: relative;
    top: 3px;}
.hec .col-4{padding-left: 0;}
.bred img{    margin: 0 5px;}
.bred{    color: #838383!important;font-weight: 400;     padding: 15px 0 0 0; font-size: 14px;}
.bred .container{ padding-left:5px;}
.bred span{ color:#000;}
.box_outer .m0 { margin:0;}

.tabscls{ padding:20px 0;}

.modal-header {
    background: #f9f9f9;
}
.pleft10 { padding-right:15px;}

.modal-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: block;
    color: #484848;
    text-align: center;
    width: 95%;
}

.manage_popup h4 {
    color: #484848;
    font-size: 18px;
    margin: 10px 3px;
}
.cat_listouter {
    min-height: 190px;
}
.add_cat_row {
    padding-top: 10px;     padding-right: 12px;
}
.add_cat_row .form-control {
    width:78%;
    display: inline-block;
    font-size: 14px;
    padding: 7px 10px;
}

.add_cat_row button {
    background: #1f8bc1;
    color: #fff;
    border: 0;
    width: 20%;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}
.pop_cal_list {
    height: 250px;
    overflow: auto;
}
.pop_cal_list ul {
    margin: 0;
    padding: 0;
    list-style: none; padding-right:15px;
}

.pop_cal_list ul li{    color: #616161;
    font-size: 14px;
    padding: 6px 0px 0px 8px;
    cursor: pointer;
    line-height: 24px;}
		.pop_cal_list ul li:hover{ 
            /* color:#057EFF; */
        }
		.pop_cal_list ul li div:first-child{    display: inline-block !important;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}
		.cat_option {    float: right;
    text-align: right;
    width:18%;}
	.cat_option button {
    border: 0;
    padding: 0;
    padding-right: 12px;
    background: none;
    outline: none !important;
    cursor: pointer !important;
}

.cat_option .dropdown-menu {
   min-width: 74px !important;
    padding: 10px 0px 6px 0px !important;
    right: 5px;
    left: initial !important;
    transform: translate3d(0px, 0px, 0px) !important; top:17px !important;     right: 12px !important;
}
.cat_option .dropdown-menu a {
    padding: 1px 14px 5px 14px;
    font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 0;
    cursor: pointer !important;
}
.cat_option .dropdown-toggle::after{ display:none;}
.cat_option img { max-width:22px;}



  @media screen and (min-width:1280px) {




.container {
    max-width: 1250px;    padding: 0 15px;
}
   }

   @media screen and (min-width:1500px) {

.container {
    max-width: 1500px;    padding: 0 15px;
}

   }



 /**top headeing bar start **/
.panl_heading { border-bottom:1px solid #ddd; padding:4px 20px;     background: #f9f9f9;    }
.panl_heading  h3{    font-family: 'Roboto', sans-serif; margin: 0; font-weight: 400;font-size:20px;     line-height: 40px; color:#484848;}
.right_opt { text-align:right;     padding-top: 2px;}
.right_opt button{   border: 0;
    padding: 0;
    background: none;
    outline: none !important;
    cursor: pointer !important;}
	


.tabscls .nav-tabs {
  
    position: relative; padding:0 20px;
   
}

.tabscls .nav-tabs .nav-item {
   margin-bottom: -1px;
    
    border: 1px solid #ddd;
   
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 0;
    line-height: 26px;
    height: 35px;
    min-width: 176px;
    text-align: center;
}

.tabscls .nav-tabs .nav-item a {
    color: #A0A0A0;
    text-decoration: none;
    font-size: 15px;
	    display: block;
    padding: 4px 26px 4px 26px;
}

.tabscls .nav-tabs .nav-item a.active {
    color: #1C7CD5;
}



.g_search {    width:40%;float: left;     padding-right: 12px;}
.g_tyle {    width:13%;float: left;    padding-right: 12px;}
.cat_mg {width:15%;float: left; padding-right:12px; position:relative;    }

.st-date {width:15%;float: left; position:relative; padding-left:35px;     padding-right:12px;}

.g_tyle select {
    background: #f8f8f8;
    height: 37px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 13px;
}

.cat_mg a {
    position: absolute;
    right: 7px;
    top: 0px;
    background: #f6f6f6;
    display: inline-block;
    padding: 6.8px 6px;
    border: 1px solid #ddd;
    z-index: 1;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.cat_mg select {
    background: rgb(255, 255, 255);
    height: 37px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 13px;
}

.tab-content { padding-bottom:15px;}


/* .arch_search input[type=text] {
    width: 15%;
    height: 38px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 5px;
    background: url(/home/assets/trackers/couching-report/img/search_icon.svg) no-repeat center right 9px;
    background-size: 19px;
    padding-right: 35px;
    margin-right: 1%; float:left; font-size:14px;
} */

.standard-search {
    position: relative;
}

.standard-search img {
    position: absolute;
    right: 10px;
    top: 10px;
}

.standard-search button {
    position: absolute;
    right: 10px;
    top: 10px;
}
.arch_search {
    position: relative;
    width: 13%;
    float: left;
    padding-right: 12px;
}

.arch_search input[type=text] {
    width: 100%;
    height: 37px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 11px;
    background-size: 19px;
    padding-right: 35px;
    font-size: 13px;
}
.arch_search input[type=text]:focus {
    outline: none;
}

.arch_search img, .arch_search button {
    height: 20px;
    position: absolute;
    top: 9px;
    right: 20px;
}

.arch_search button {
    top: 9px !important;
}

.g_tyle {
    width: 15%;
    float: left;
    padding-right: 12px;
}




    .btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0 rgba(108, 117, 125, 0);
        border-color: #cccccc !important;
    }

    .btn-secondary.focus, .btn-secondary:focus {
        box-shadow: 0 0 0 0 rgba(108, 117, 125, 0);
    }

    .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
        background: #fff;
        opacity: 1 !important;
        font-weight: 800;
        color: #484848 !important;
        font-size: 14px;
        border-color: #cccccc !important;
    }
	
	.filter_options {
    width: 20%;
    float: left;
}


    .filter_options .btn-secondary {
        border-color: #cccccc;
        background: #fff;
        color: #484848;
           padding-right: 1%;
    padding-left: 1%;
    width: 24%;
    font-size: 13px;
    text-align: center;
	    padding-top: 8px;
    padding-bottom: 7px;
    }

    .filter_options .active, .btn-secondary:hover {
        background: #f5f5f5 !important;
        color: #484848 !important;
        border-color: #cccccc !important;
    }

    .filter_options .ic1 {
        width: 18px;
        margin-right: 8px;
        height: 18px;
    }

    .filter_options .ic2 {
        width: 22px;
        margin-right: 8px;
        height: 22px;
    }

    .filter_options .ic3 {
        width: 20px;
        margin-right: 8px;
        height: 20px;
    }

   .date_rng {
    width: 19.5%;
    float: left;
    position: relative;
    padding-left: 25px;
    margin-left: 8px;

}

.date_rng img {
    position: absolute;
    right: 7px;
    padding-top: 10px;     z-index: 10;
    cursor: pointer;
}

.date_rng span { position: absolute;
    left: 3px;
    top: 10px;
    font-size: 14px;}

.date_rng input[type=text] {
    height: 37px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 10px 10px 5px;
    background: url(/home/assets/trackers/couching-report/img/cal_ic.svg) no-repeat center right 9px;
    background-size: 19px;
    /* padding-right: 0; */
    background-position-y: 11px;
    background-size: 18px 18px;
    font-size: 13px;
    width: 100%;     z-index: 9;
    position: relative;
}

.butn_green { 
    position:absolute; right:15px;}
.filter{    position: relative; padding: 0 115px 30px  19px; }

.butn_green button{background: #1ea659;
    border: 0;
    color: #fff;
    float: left;
    padding: 9px 5px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    height: 37px;
    min-width: 70px;
    text-align: center;
    
}
	
	.butn_green a{     display: inline-block;
    background: #039542;
    padding: 3px 10px;
    float: left;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    left: -2px;
    line-height: 33px;
    height: 37px;
    
}
	
	.butn_green a svg{ position:relative; top:0px;}
	
	.h_row{ background:#eaeaea; font-size:14px; padding:15px;}
	.h_row .col-1{ padding:0 7px; text-align:center; margin-top: auto;
    margin-bottom: auto;}
	
	.rep_row{ background:#cccccc;padding:15px; font-size: 14px;  border-bottom:1px solid #fff;}
	.rep_row .col-1{ padding:0 7px; text-align:center; margin-top: auto;
    margin-bottom: auto;}
	.col1 img{ width:45px; height:45px; border-radius:50%;     margin: 0 15px;     object-fit: cover;}
	.col1 b { text-transform:uppercase; font-size:25px;     line-height: 46px;}
	.inner_1 { display:flex;}
	.inner_1 label { margin:0; font-weight:600;}
	.inner_1 p{ margin:0;    overflow: hidden;
    text-overflow: ellipsis;
    display: block;}
	.name_detail { width:180px; white-space:nowrap; overflow: hidden;    text-overflow: ellipsis; }
	
	.col1 { padding-left:0;-webkit-box-flex: 0;
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;}
	
	.lastcol {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 3%;
    flex: 0 0 3%;
    max-width: 3%; height:50px;
}
	

.inner_rep .rep_row{ background:#eaeaea;}
.inner_rep .rep_row:nth-child(odd) { background:#fff !important;}
.footerm {
    border: 0;
    padding: 0 18px 20px 18px;
}

.footerm .share_btn {
    padding-right: 0;
    border-top: 1px solid #ddd;
    padding-top: 13px;
    text-align: right;
}
.footerm .btn-success {
    background: #28A745;
    border: 0;
    padding: 10px 28px;
 
    font-size: 14px;
    margin-left: 10px;
}



.checkboxcls input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.unset{
    white-space: unset !important;
}

/* Create a custom checkbox */
.checkboxcls .checkmark {
     position: absolute;
       top: 3px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px solid #B4BAC3;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.checkboxcls:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.checkboxcls input:checked ~ .checkmark {
      background-color: #157EFC;    border: 1px solid #157EFC;
   
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxcls input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxcls .checkmark:after {
  left:5px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}


.ck_row {    position: relative;
    padding-right: 40px;
    cursor: pointer;
    padding: 1px 0 10px 0;
    margin-bottom: 10px;}
.drag_img   { position:absolute; right:12px; top:0;}
.ck_row label{    margin: 0;
    padding-left: 24px;
    font-size: 14px;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;     padding-right: 40px;
}


.rep_popup .col-md-6{}
.rep_left { padding-right:0px; border-right:1px solid #ddd;}
.rep_right{ padding-left:25px;}


.scroll-container {
    /* overflow: auto; */
    max-height: 250px;
  }

  .active{
      
      color: #057EFF !important;
  }

  .active-report{
    background: #dddddd;
 
  }
  
  .selected-item {    white-space: nowrap !important;
    text-overflow: ellipsis;
    color: #000;
    background: none !important;
    border: 0 !important;
   padding: 0!important;
    font-size: 12px!important;
    max-width: 64%!important;
    overflow: hidden;}
	
	.dropdown-up {border-bottom: 5px solid #adadad!important;
    border-left: 5px solid transparent!important;
    border-right: 5px solid transparent!important;}

        /* Animation Css */

    
@-webkit-keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
  
  
  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
   .g_ani2{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
        background: linear-gradient(to right, #ededed 8%, #e9e9e9 18%, #ededed 33%);
    background-size: 800px 104px;
    
    position: relative;
  }
  
   .g_ani3{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
       background: linear-gradient(to right, #d3d3d3 8%, #d3d3d3 18%, #cacaca 33%);
    background-size: 800px 104px;
    
    position: relative;
  }
  
  
  
  
  
  
   .g_ani3{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
        background: linear-gradient(to right, #dddddd 8%, #d5d5d5 18%, #d5d5d5 33%);
    background-size: 800px 104px;
    
    position: relative;
  }
  
  
  
  .g_ani{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    
    position: relative;
  }
  
  .gn1{ width:50%; height:40px;}
  .gn2{ width:50px; height:40px; float:right;}
  .gn3{ width:100%; height:37px;}
  .gn4 {    border-radius: 50%;
      width: 35px;
      height: 35px; display:inline-block;}
      .mleft8 {    margin-left: -9px !important;}
      .cg1 { height:20px; width:100%; margin-bottom:10px;}
      .cg2 { height:20px; width:40%; margin-bottom:10px;}
      .cg3 { height:30px; width:100%; margin-bottom:10px;}
      .cg4 { height:60px; width:100%; margin-bottom:10px;}
      
      
  .goa1{width:50%; height:40px;}
  .goa2{    width: 34%;
      height: 32px;
      display: inline-block;
      position: relative;
      top: 4px;}
  .p0 { padding:0;}
  
  
  .goa3{    margin-right: 5px;
      width: 38px;
      height: 38px;
      border-radius: 50%; display:block;}
      .goa4{ height:18px;
      display: block; width: 34%; margin-bottom:10px !important;}
      .goa5{ height:32px;
      display:block; width: 34%;}
      
  
  .goa6{    float: right;
      width: 61%;
      position: relative;
      top: 20px;
      height: 18px;
      display: block;}
      
          .goa7{ height:18px;
      display:block; width: 80%; margin:0  0 10px 0!important;}
      .goa8{ height:18px;
      display:block; width: 80%; margin:0  0 0px 0!important;}
      
      .goa9{ height:35px;
      display:block; width: 50%; margin:0  0 10px 0!important;}
      
      .goa10{ height:18px;
      display:block; width: 100%; margin:0  0 10px 0!important;}
      
      
      .goa11{   
      width: 10%;
      
      height: 18px;
      display: block; margin-bottom:8px !important;}
      
          
      .goa12{   
      width: 40%;
      
      height: 18px;
      display: block;}
      
      .goa13{   
      width: 100%;
      
      height: 18px;
      display: block;}
      
          .goa14{   
      width: 100%;
      
      height: 40px;
      display: block;     margin-bottom: 20px;}
      
          .goa15{   
      width: 100%;
      
      height: 18px;
      display: block; margin-bottom:8px;}
      
      
      .goa16{   
        height: 29px;
      display: inline-block;
      border-radius: 50px;
      padding: 4px 3px;
      width: 92px;
      margin-left: 18px;}
      .tabscls .nav-tabs .nav-item a.g_ani{    margin: 7px;
      height: 20px;}
      
      .gn3_s { display:block; height:15px; margin-bottom:5px;}
      
      .gn3_i{width: 45px;
      height: 45px;
      border-radius: 50%;
      margin: 0 15px;
      object-fit: cover;}

      .ani_sc .h_row .col-1{
        flex: 0 0 20% !important;
        max-width: 20% !important;
      }

      .ani_sc .rep_row .col-1{
        flex: 0 0 20% !important;
        max-width: 20% !important;
      }
      
  
    /* End Animation Css */

	
	*{outline:none !important;}
    

    /* ::ng-deep .modal-open .modal {
    background: #00000077;
} */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #D4D4D4;
    border-radius: 20px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

  .close {
        float: right;
        font-size: 25px !important;
        font-weight: 600 !important;
        line-height: 18px !important;
        font-family: initial;
    }

    .assessment_search{
        width: 25% !important;
    } 

    .assessment_frame {
        padding-right: 1% !important;
    }
    .filter_skelton{
        padding: 0 15px 30px 19px !important;
    }


    .vani33 {height:20px;  width:100%; margin-bottom:10px;}
    
    
.animation_cls{    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #dfdfdf;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    position: relative;}
    .top-c{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

.text-center img { margin-right:10px;}


@media screen and (max-width:1350px) {

	.date_rng input[type=text]{ font-size:13px;}
	.g_tyle, .cat_mg, .arch_search { padding-right:5px;}
	.date_rng {    width: 23%;     padding-left: 21px;}
	.g_tyle { width:13%;}
}

/* select { -webkit-appearance: none; -moz-appearance: none; appearance: none; padding-right: 24px;     padding-left: 4px;
    font-weight: 550;
      overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis;
    color: #606060;
  background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="22"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') 100% 50% no-repeat #fff !important;
   }
   */
   ::ng-deep .multiselect-dropdown .dropdown-btn {
    display: inline-block;
    border: 1px solid #adadad;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;
    }

    ::ng-deep .tracker-filter-sh .multiselect-item-checkbox input[type=checkbox] + div:before {
        display: none !important;
    }

    ::ng-deep .tracker-filter-sh .multiselect-item-checkbox input[type=checkbox] + div {
        padding-left: 12px !important;
        font-size: 13px;
        line-height: 16px;
    }
     ::ng-deep .trackers-fil-single .multiselect-item-checkbox input[type=checkbox] + div:before {
        display: none !important;
    }

    ::ng-deep .trackers-fil-single .multiselect-item-checkbox input[type=checkbox] + div {
        padding-left: 12px !important;
        font-size: 13px;
        line-height: 16px;
    }
    ::ng-deep .trackers-fil-single .dropdown-list{
        pointer-events: none;
    }

    ::ng-deep .trackers-fil .dropdown-list ul {
        overflow-y: auto !important;
        max-height: 200px !important;
    }

    ::ng-deep .trackers-fil .dropdown-list {
        overflow: hidden;
        padding-top: 0px !important;
    }

    .static_checkmark{
        position: absolute;
       top: 3px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    /* border: 1px solid #B4BAC3;
    border-radius: 3px; */
    }

    .static_checkmark img{
        width:12px;
    }

    .height-350{
        max-height: 340px !important;
    }

    .single-input{
        padding-right: 10px !important;
    }

    .width_33{
        width: 33.3% !important;
    }