.back-to-assessment {
    color: #949494;
}

.back-to-assessment:hover {
    text-decoration: none;
}
.aswc {    background: #28A745 !important;
    border-radius: 50px;
    display: inline-block;
    padding: 2px 13px 1px 13px;
    line-height: 19px;
    height: 22px;
    font-size: 12px;
    font-weight: 500;
    margin-left: 5px;}
    .row_custom{
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        padding: 0 25px;
      }

    .aswc2 {    background: #626262 !important;
    border-radius: 50px;
    display: inline-block;
    padding: 2px 13px 1px 13px;
    line-height: 19px;
    height: 22px;
    font-size: 12px;
    font-weight: 500;
    margin-left: 5px;}
.aswc2 svg path{    stroke: #fff;}
.aswc svg path{    stroke: #fff;}
.cls_row label{    margin-bottom: 4px;
    font-size: 14px;}
	
	.cls_row input[type=radio]{    margin-right: 18px;
    position: relative;
    top: 2px;
    margin-left: 6px;}
	
	.cls_row .form-control {
    margin-bottom: 24px;
}
.capitalize{
text-transform: capitalize;
}
.para {
    margin-bottom: 24px;
}

.para_edit {
    text-align: left !important;
    width: 124px !important;
}
.doc_icon img{
    width: 100%;
    max-height: 150px;
    cursor: pointer;
    -o-object-fit: cover;
    object-fit: cover;
    height: 150px;
    -o-object-position: 0 0;
    object-position: 0 0;
    max-width: none!important;
}