<div class="row panl_heading">
    <div class="col-11">
        <h3 *ngIf="!loaded" class="animate_me linecls"></h3>
        <h3 *ngIf="loaded" class="word-break">{{huddleHeaderData.name}}</h3>
    </div>
    <div class="col d-flex justify-content-end hu_move"
        *ngIf="(loaded && showExport()) && currentTab!=='discussion'">
        <span dropdown>
            <a  href id=" basic-link " dropdownToggle (click)="false" aria-controls="basic-link-dropdown ">
                <img src="assets/video-huddle/img/dots_dark.svg " width="30 ">
            </a>
            <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu " role="menu " aria-labelledby="basic-link">
                <li>
                    <a class="dropdown-item"
                        (click)="OnHuddleEdit(huddleHeaderData.id) ">{{translations?.huddle_edit_btn}}</a>
                </li>
                <li>
                    <a class="dropdown-item"  *ngIf="currentTab=='discussion'"
                        (click)="exportDiscussion(huddleHeaderData)">{{translations?.discussion_export_all}}</a>
                </li>
                <li>
                    <a class="dropdown-item"
                        (click)="showDeleteHuddleModal(huddleHeaderData.id) ">{{translations?.huddle_delete_btn}}</a>
                </li>
                <li>
                    <a class="dropdown-item "
                        (click)="OnFolderMove(huddleHeaderData.id) ">{{translations?.huddle_move_btn}}</a>
                </li>
            </ul>
        </span>
    </div>
    <!-- <div  class="col d-flex justify-content-end hu_move"
    *ngIf="loaded && !showExport() && currentTab=='discussion'">
        <span dropdown>
            <a href id=" basic-link " dropdownToggle (click)="false" aria-controls="basic-link-dropdown ">
                <img src="assets/video-huddle/img/dots_dark.svg " width="30 ">
            </a>
            <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu " role="menu " aria-labelledby="basic-link">
                <li>
                    <a class="dropdown-item"
                        (click)="exportDiscussion(huddleHeaderData)">{{translations?.discussion_export_all}}</a>
                </li>
            </ul>
        </span>
    </div> -->
</div>

<div bsModal #deleteHuddleModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">
                    {{translations?.huddle_list_confirmation_required}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideDeleteHuddleModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert_bg singleline row">
                    <div class="col-2">
                        <img src="./assets/img/alert_i.svg">
                    </div>
                    <div class="col-10">
                        <h6>{{translations?.huddle_list_delete_alert}} {{translations.huddle}} {{huddleHeaderData?.name}}</h6>
                        <p>{{translations?.huddle_list_cnf_delete_alert}}</p>
                    </div>
                </div>
                <div class="f_name">
                    <p>{{translations?.huddle_resource_type}} {{Inputs.ConfirmationKey}}
                        {{translations?.huddle_list_to_confrim}}</p>
                    <input type="text" class="form-control" [(ngModel)]="Inputs.Confirmation"
                        (keydown)="TriggerTextChange($event)">
                </div>
            </div>
            <div class="modal-footer hufooter">
                <div class="col-12">
                    <a class="fake_link" (click)="hideDeleteHuddleModal()">{{translations?.huddles_details_cancel}}</a>
                    <a class="conf_delete fake_link" (click)="ConfirmDelete()">{{translations?.huddle_delete_btn}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #moveHuddleModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">{{translations?.huddle_list_destination_folder}}
                </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideMoveHuddleModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <ng-container *ngIf="showMomeoptions">
                <div class="modal-body">
                    <div class="move_cls">
                        <h6>
                            <ng-container *ngIf="tree.treeModel.getActiveNode() && tree.treeModel.getActiveNode().data">
                                <ng-container *ngFor="let item of getMovePath(tree) let i=index">
                                    <img *ngIf="i!=0" src="./assets/img/right_arrow.svg" width="10" /> {{item.name}}
                                </ng-container>
                            </ng-container>
                        </h6>
                        <div class="row folder_row">
                            <tree-root #tree [nodes]="FoldersTreeData" [options]="{animateExpand:true}">
                                <ng-template #treeNodeTemplate let-node let-index="index">
                                    <span [class.align_folder]="(!node.children || node.children.length==0)">
                                    </span>
                                    <img [hidden]="node.data.name=='Huddles1'" src="./assets/img/folder_gry.svg"
                                        width="20" />
                                    <span>{{ node.data.name }}</span>
                                </ng-template>
                            </tree-root>
                        </div>
                    </div>
                </div>
                <div class="modal-footer hufooter">
                    <div class="col-12">
                        <div class="border_bottom">
                            <a class="fake_link"
                                (click)="hideMoveHuddleModal()">{{translations?.huddles_details_cancel}}</a>
                            <a class="green_btn fake_link" [style.backgroundColor]="colors?.primery_button_color"
                                (click)="MoveItem(tree)">{{translations?.huddle_move_btn}}</a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>