/* .bred_an {    padding-left: 26px !important;} */
@media(max-width:1279px){
    .bred_an {
        padding-left: 5px !important;
    }
    }
    .br_an {
        background: #615959 !important;
        background: linear-gradient(to right, #f1f1f1 8%, #e7e7e7 18%, #dfdfdf 33%) !important;
        height: 19px !important;
    }