<div class="container bred_an">
    <div class="">
        <a [routerLink]="['/']">{{translations.home_global}}</a> <img src="assets/img/breadcrumarrow.svg"> <a
            [routerLink]="['/account-settings']">{{translations.account_settings_all}}</a> <img
            src="assets/img/breadcrumarrow.svg">
        <span><b>{{translations.frameworks_angular_rubrics}}</b> </span>
    </div>
</div>
<ng-container *ngIf="loading">
    <div class="container box_outer">
        <div class="box_whcls row">
            <div class="col-12">
                <div class="row panl_heading">
                    <div class="col-8">
                        <h3 class="g_ani2 gn1"></h3>
                    </div>

                    <div class="col-4 bk_goal2">
                        <span class="g_ani2 gn2"></span>
                    </div>


                </div>

                <div class="row new_rubric">
                    <div class="col-12">
                        <span class="g_ani2 gn3"></span>
                    </div>
                </div>


                <div class="ru_list">
                    <div class="row ru_heading">
                        <div class="col-5"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2"><span class="g_ani2 gn4"></span></div>
                    </div>



                    <div class="row ru_list_rep">
                        <div class="col-5"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2">

                            <span class="g_ani2 gn4"></span>

                        </div>
                    </div>
                    <div class="row ru_list_rep">
                        <div class="col-5"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2">

                            <span class="g_ani2 gn4"></span>

                        </div>
                    </div>
                    <div class="row ru_list_rep">
                        <div class="col-5"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2">

                            <span class="g_ani2 gn4"></span>

                        </div>
                    </div>
                    <div class="row ru_list_rep">
                        <div class="col-5"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2">

                            <span class="g_ani2 gn4"></span>

                        </div>
                    </div>
                    <div class="row ru_list_rep">
                        <div class="col-5"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2">

                            <span class="g_ani2 gn4"></span>

                        </div>
                    </div>
                    <div class="row ru_list_rep">
                        <div class="col-5"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2">

                            <span class="g_ani2 gn4"></span>

                        </div>
                    </div>
                    <div class="row ru_list_rep">
                        <div class="col-5"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2">

                            <span class="g_ani2 gn4"></span>

                        </div>
                    </div>
                    <div class="row ru_list_rep">
                        <div class="col-5"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2">

                            <span class="g_ani2 gn4"></span>

                        </div>
                    </div>
                    <div class="row ru_list_rep">
                        <div class="col-5"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2"><span class="g_ani2 gn4"></span></div>
                        <div class="col-2">

                            <span class="g_ani2 gn4"></span>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</ng-container>
<ng-container  *ngIf="!loading">
    <div class="container box_outer" >
        <div class="box_whcls row">
            <div class="col-12">
                <div class="row panl_heading">
                    <div class="col-8">
                        <h3>{{translations.frameworks_angular_rubrics}}</h3>
                    </div>

                    <div class="col-4 bk_goal2">
                        <a [routerLink]="['/account-settings']"><img src="assets/img/left-arrow.svg">{{translations.back_to_account_settings_angular_rubrics}}
                           </a>
                    </div>


                </div>

                <div class="row new_rubric">
                    <div class="col-12">
                        <a (click)="removeLocalStorage()" routerLink="create">{{translations.new_angular_rubrics}}</a>
                    </div>
                </div>

                
                <div [@pageState]="pageState" class="ru_list">
                    <div class="row ru_heading">
                        <div class="col-5">{{translations.name_angular_rubrics}}</div>
                        <div class="col-2">{{translations.updated_angular_rubrics}}</div>
                        <div class="col-2">{{translations.published_angular_rubrics}}</div>
                        <div class="col-2">{{translations.performance_level_angular_rubrics}}</div>
                    </div>
                    <div class="top-c" *ngIf="no_data">
                       
                    <img src="assets/img/nogoal_icon.svg">
                    <p class="font-h">{{translations?.no_frameworks_added_angular_rubrics}}</p>
                    </div>

                    <ng-container *ngIf="!no_data">
                    <div  class="row ru_list_rep" *ngFor="let d of rubrics_data| paginate: config">
                        <div class="col-5">{{d.framework_name}}</div>
                        <div class="col-2">{{d.updated_at}}</div>
                        <div class="col-2" *ngIf="d.published==0 || !d.published ">{{translations.unpublished_angular_rub_option}}</div>
                        <div class="col-2" *ngIf="d.published==1 ">{{d.published_at}}</div>
                        <div class="col-2">

                            <div class="list_last_cell" dropdown>
                                <div class="re_op op1" *ngIf="d.published==1 || d.is_from_parent === true"> - </div>
                                <div class="re_op op1"
                                    *ngIf="(d.published==0 || !d.published) && (d.enable_performance_level==0 ||d.enable_performance_level==NULL) && d.is_from_parent === false"> <a
                                        class="add_btn" [routerLink]="['add-performace']"
                                        [queryParams]="{ framework_id: d.account_tag_id, name:d.tag_title }">{{translations.add_angular_rubrics}}</a> </div>
                                <div class="re_op op1"
                                    *ngIf="(d.published==0 || !d.published) && d.enable_performance_level==1 && d.is_from_parent === false"> 
                                        <div class="gsort" dropdown>
                                            <button type="button" dropdownToggle class="dropdown-toggle"
                                                data-toggle="dropdown">
                                                <img src="assets/img/dots_3.svg" width="25">
                                            </button>
                                            <div class="dropdown-menu" *dropdownMenu>
                                                <a [routerLink]="['add-performace']" style="text-decoration: none;"
                                               [queryParams]="{ framework_id: d.account_tag_id, is_edited:true, name: d.tag_title }">{{translations.edit_angular_rubrics}}</a>

                                    
                                                <a  class="dropdown-item" (click)="editDeleteModal(d)">{{translations.delete_angular_rubrics}}</a>
    
                                            </div>
                                        </div>
                                    </div>
                                <div class="re_op op2">
                                    <div class="gsort">
                                        <button type="button" dropdownToggle class="dropdown-toggle"
                                            data-toggle="dropdown">
                                            <img src="assets/img/dots_3.svg" width="25">
                                        </button>
                                        <div class="dropdown-menu" *dropdownMenu>
                                            <a (click)="removeLocalStorage()" routerLink="/account-settings/rubrics/create" [queryParams]="{framework_id: d.account_tag_id}" class="dropdown-item" *ngIf="(d.published==0 || !d.published) && d.is_from_parent === false">{{translations.edit_angular_rubrics}}</a>
                                            <a class="dropdown-item" (click)="publish(d.account_tag_id)"
                                                *ngIf="(d.published==0 || !d.published) && d.is_from_parent === false">{{translations.publish_angular_rubrics}}</a>
                                            <!-- <a class="dropdown-item" (click)="unpublish(d.account_tag_id)" *ngIf="d.published==1" >Unpublished</a> -->
                                            <a class="dropdown-item" (click)="openUnpublishModal(d)"
                                                *ngIf="d.published==1 && d.is_from_parent === false">{{translations.unpublished_angular_rubrics}}</a>
                                            <a (click)="removeLocalStorage()" routerLink="/account-settings/rubrics/create" [queryParams]="{framework_id: d.account_tag_id , is_duplicate: true}" class="dropdown-item">{{translations.duplicate_angular_rubrics}}</a>
                                            <a *ngIf="d.is_from_parent === false" class="dropdown-item" (click)="openDeleteModal(d)">{{translations.delete_angular_rubrics}}</a>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    </ng-container>



                    <pagination-template *ngIf="!no_data" #p="paginationApi" [id]="config.id" maxSize="12" (pageChange)="onPageChange($event)">


                        <div class="recent_pagination">
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item page_fi" [class.disabled]="p.isFirstPage()">
          
                                        <a class="page-link" (click)="p.previous()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.987"
                                                viewBox="0 0 7.071 11.987">
                                                <g id="Group_1838" data-name="Group 1838"
                                                    transform="translate(-673 -903.938)">
                                                    <path id="Path"
                                                        d="M5.907.148a.534.534,0,0,0-.738,0L.151,5.07A.6.6,0,0,0,0,5.415H0v.016H0v.016H0v.016H0a.551.551,0,0,0,.151.329l5.018,4.922a.534.534,0,0,0,.738,0,.5.5,0,0,0,0-.741L1.275,5.432,5.907.889A.5.5,0,0,0,5.907.148Z"
                                                        transform="translate(673.5 904.5)" fill="#2D2D2D"
                                                        stroke="#2D2D2D" stroke-width="1" opacity="0.7"></path>
                                                </g>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="page-item " [class.disabled]="p.isFirstPage()"> <a class="page-link" (click)="p.setCurrent(1)"> {{translations.first_angular_rubrics}}</a>
                                    </li>
                     
                                    <li class="page-item" *ngFor="let page of p.pages"
                                        [class.current]="p.getCurrent() === page.value">
                                        <a class="page-link" (click)="p.setCurrent(page.value)"
                                            *ngIf="p.getCurrent() !== page.value">{{ page.label }}</a>
                                        <div *ngIf="p.getCurrent() === page.value">
                                            <a class="page-link">{{ page.label }}</a>
                                        </div>
                                    </li>

                                 
                                    <li class="page-item " [class.disabled]="p.isLastPage()"> <a class="page-link"
                                            (click)="p.setCurrent(p.getLastPage())">{{translations.last_angular_rubrics}}</a></li>
                                    <li class="page-item page_la" [class.disabled]="p.isLastPage()"> <a
                                            class="page-link" (click)="p.next()"><svg xmlns="http://www.w3.org/2000/svg"
                                                width="7.071" height="11.987" viewBox="0 0 7.071 11.987">
                                                <g id="Group_1839" data-name="Group 1839"
                                                    transform="translate(-11.929 -7.938)">
                                                    <path id="Path"
                                                        d="M.164.148A.534.534,0,0,1,.9.148L5.92,5.07a.6.6,0,0,1,.151.346h0v.016h0v.016h0v.016h0a.551.551,0,0,1-.151.329L.9,10.716a.534.534,0,0,1-.738,0,.5.5,0,0,1,0-.741L4.8,5.432.164.889A.5.5,0,0,1,.164.148Z"
                                                        transform="translate(12.429 8.5)" fill="#2D2D2D"
                                                        stroke="#2D2D2D" stroke-width="1" opacity="0.7"></path>
                                                </g>
                                            </svg></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </pagination-template>

                </div>
            </div>

        </div>

    </div>
    <ng-container *ngIf="!loading">
        <ng-template #deleteTemplate>
            <!-- Modal content-->
            <div class="modal-header">
                <h4 class="modal-title">{{translations?.artifacts_confirmation_required}}</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>

            </div>

            <div class="modal-body conf_popup">
                <div class="alert_bg singleline row">
                    <div class="col-2">
                        <img src="./assets/img/alert_i.svg">
                    </div>
                    <div class="col-10">
                        <h6> {{translations.you_are_about_to_del_angular_rubrics}}</h6>
                        <b>{{ dataToDelete?.tag_title }}</b>
                        <h6>{{translations.the_framework_associated_data_angular_rubrics}}
                        </h6>
                    </div>
                </div>

                <label>{{translations?.poeple_type_delete_to_confirm}}</label>
                <input type="text" class="form-control" [(ngModel)]="confirmation" (keydown)="enterPressed($event)">
            </div>

            <div class="modal-footer hufooter">
                <div class="col-12">
                    <a class="fake_link" (click)="closeModal()">{{translations?.cancel_popup}}
                    </a>
                    <a class="conf_delete fake_link" (click)="confirmDelete()">{{translations?.huddle_delete_btn}}
                    </a>
                </div>


            </div>



        </ng-template>

        <ng-template #editdeleteTemplate>
            <!-- Modal content-->
            <div class="modal-header">
                <h4 class="modal-title">{{translations?.artifacts_confirmation_required}}</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="editdeleteModalRef.hide()">&times;</button>

            </div>

            <div class="modal-body conf_popup">
                <div class="alert_bg singleline row">
                    <div class="col-2">
                        <img src="./assets/img/alert_i.svg">
                    </div>
                    <div class="col-10">
                        <h6><b> {{translations.you_are_about_to_delete_all_pls_angular_rubrics}}</b></h6>
                        <b>{{ performanceDelete?.tag_title }}</b>
                        <h6>{{translations.performance_levels_for_this_framework_delete_angular_rubrics+translations.this_cant_be_undone_angular_rubrics}}
                        </h6>
                    </div>
                </div>

                <label>{{translations?.poeple_type_delete_to_confirm}}</label>
                <input type="text" class="form-control" [(ngModel)]="confirmation" (keydown)="enter_edit($event)">
            </div>

            <div class="modal-footer hufooter">
                <div class="col-12">
                    <a class="fake_link" (click)="editdeleteModalRef.hide()">{{translations?.cancel_popup}}
                    </a>
                    <a class="conf_delete fake_link" (click)="performance_Delete()" >{{translations?.huddle_delete_btn}}
                    </a>
                </div>


            </div>



        </ng-template>

        <ng-template #unpublishTemplate>
            <!-- Modal content-->
            <div class="modal-header">
                <h4 class="modal-title">{{translations?.artifacts_confirmation_required}}</h4>
                <button type="button" class="close" data-dismiss="modal"
                    (click)="this.unpublishModalRef.hide()">&times;</button>

            </div>

            <div class="modal-body conf_popup">
                <div class="alert_bg singleline row">
                    <div class="col-2">
                        <img src="./assets/img/alert_i.svg">
                    </div>
                    <div class="col-10">
                        <h6> {{translations.you_are_about_to_unpublish_angular_rubrics}}</h6>
                        <b>{{ dataToUnpublish?.tag_title }}</b>
                        <h6>{{translations.this_rubric_has_already_angular_rubrics}}
                        </h6>

                    </div>
                </div>

                <label>{{translations.type_unpublish_angular_rubrics}}</label>
                <input type="text" class="form-control" [(ngModel)]="unpublish_confirmation">
            </div>

            <div class="modal-footer hufooter">
                <div class="col-12">
                    <a class="fake_link" (click)="this.unpublishModalRef.hide()">{{translations?.cancel_popup}}
                    </a>
                    <a class="conf_delete fake_link"
                        (click)="confirmUnpublish(dataToUnpublish?.account_tag_id)">{{translations.unpublish_angular_rubrics}}
                    </a>
                </div>


            </div>



        </ng-template>

        <ng-template #addPerformanceLevelTemplate>
            <!-- <div class="modal-dialog" style="max-width:600px;"> -->
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{translations.add_performance_levels_angular_rubrics}}</h4>
                    <button type="button" class="close" (click)="closePermanceLevelModal()"
                        data-dismiss="modal">×</button>
                </div>

                <div class="modal-body add_popup">
                    <p>{{translations.your_framework_saved_successfull_angular_rubrics}}</p>
                </div>

                <div class="modal-footer footerm">
                    <div class="col-12 add_frm">
                        <button class="btn1" type="button" (click)="closePermanceLevelModal()">{{translations.dont_add_pl_levels_angular_rubrics}}
                            </button>
                        <button class="btn2" type="button" (click)="addPerformance()">{{translations.add_performance_levels_angular_rubrics}}</button>
                    </div>
                </div>
            </div>

            <!-- </div> -->
        </ng-template>

        <ng-template #editPerformanceLevelTemplate>
            <!-- <div class="modal-dialog" style="max-width:600px;"> -->
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{translations.edit_performance_levels_angular_rubrics}}</h4>
                    <button type="button" class="close" (click)="editPerformanceLevel.hide();"
                        data-dismiss="modal">×</button>
                </div>

                <div class="modal-body add_popup">
                    <p>{{translations.would_you_like_view_pl_angular_rubrics}}</p>
                </div>

                <div class="modal-footer footerm">
                    <div class="col-12 add_frm2">
                        <button class="btn_1" type="button" (click)="editPerformanceLevel.hide();">{{translations.no}}
                            </button>
                        <button class="btn_2" type="button" (click)="editPerformance()">{{translations.yes}}</button>
                    </div>
                </div>
            </div>

            <!-- </div> -->
        </ng-template>