body{background:#f3f2ea; font-family: 'Roboto', sans-serif; }
.box_outer{ border-radius:5px;     margin-top: 15px !important;}
 .topheader{text-align: center; background:url('/assets/dashboard/img/bgrep.png') repeat-x;}
 img{ max-width: 100%; }
  @media screen and (min-width:1280px) {
.container {
    max-width: 1200px !important;
    /* padding: 0 40px; */
    overflow: hidden;
}
   }
   .font-h { font-size:20px; font-weight: 500; margin-top: 15px;}
 .top-c{
    margin-top: 84px ;
    text-align: center;
 }
@media screen and (min-width:1500px) {

.container {
    max-width: 1450px !important;
    /* padding: 0 40px; */
}

   }


 /**top headeing bar start **/
.panl_heading { border-bottom:1px solid #ddd; padding:5px 10px;     background: #f9f9f9;    }
.panl_heading  h3{    
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #212528;}
.right_opt { text-align:right;     padding-top: 2px;}
.right_opt button{   border: 0;
    padding: 0;
    background: none;
    outline: none !important;
    cursor: pointer !important;}
	
	
/****/
.hec{ background:#004061;}
.logocls{     width: 175px;
    height: 64px;
    background: #fff;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.3);     text-align: center;}
.logocls img{ max-width:119px;    position: relative;
    top: 3px;}
.hec .col-4{padding-left: 0;}
.bred img{    margin: 0 5px;}
.bred{    color: #838383!important;font-weight: 400;     padding: 15px 0 0 0; font-size: 14px;}
.bred .container{ padding-left:0px;}
.bred .container a { color:#8B8B8B !important;}
.bred span{ color:#838383;}

.f_name p {
    margin-bottom: 4px;
}

.hufooter {
    border: 0;
    text-align: right;
    padding-bottom: 21px;
}

.hufooter a {
    display: inline-block;
    padding: 7px 31px;
    border-radius: 5px;
    color: #484848;
    text-decoration: none;
}

.hufooter .green_btn {
    background: #28A745;
    color: #fff;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 500;
}

.hufooter .creat_btn:hover {
    color: #fff;
    text-decoration: none;
}

.modal-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: block;
    color: #484848;
    text-align: center;
    width: 95%;
}

.f_name {
    padding-top: 15px;
}

.close {
    float: right;
    font-size: 28px !important;
    font-weight: 100 !important;
    line-height: 18px !important;
}

.alert_bg {
    background: #F7DF9A;
    padding: 10px;
    margin: 0 0 15px 0;
    border-radius: 4px;
}

.alert_bg .col-2 {
    padding-left: 0;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 14.666667%;
    flex: 0 0 14.666667%;
    max-width: 14.666667%;
}

.alert_bg .col-10 {
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.alert_bg img {
    width: 24px;
    position: relative;
    top: 19px;
}

.alert_bg h6 {
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding: 15px 0 20px 0;
}

.alert_bg p {
    font-size: 12px;
}

.hufooter a.conf_delete {
    border: 1px solid #CECECE;
    padding-right: 30px;
    padding-left: 30px;
}

.modal-body {
    padding-left: 30px;
    padding-right: 30px;
}

	.bk_goal2 { text-align:right;    padding: 10px 15px 0 0;}
		.bk_goal2 a{    text-align: right;
    color: #8B8B8B !important;
    font-size: 14px;
   
    padding-top: 0px;
    cursor: pointer;
    float: right;
    font-weight: 400;
    text-decoration: none !important;}
	
	.bk_goal2  img {
    margin-right: 5px; position: relative;
    top: -1px;
}
.box_whcls { background:#fff;     margin-bottom: 40px;}
.new_rubric { text-align:right; padding: 19px 10px 2px 10px;}
.new_rubric a{     background: #049543;
    color: #FFFFFF;
    border: 0;
       padding: 9px 27px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
}
.heading{background:#E2E2E2}

.ru_heading{
	    background: #E2E2E2;
    padding: 14px 0;
    color: #000000;
    font-weight: 500;
    font-size: 14px;
	
	}
.ru_list{ padding:20px;}

.re_op { position:relative; }

	
	.re_op button{ border:0; padding:0; background:none;     outline: none; cursor:pointer;}
	.re_op .dropdown-toggle::after { display:none;}
	.re_op .dropdown-menu{      min-width: 20px !important;
       padding: 6px 0;
    left: inherit !important;
    right: 0 !important;     top:17px !important;}
	.re_op .dropdown-menu a { font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 5px;
    padding: 2px 12px 7px 11px;
    margin: 0;}
	.re_op .dropdown-menu a.active{    color: #057EFF;}
	.re_op .dropdown-menu{    background: #fff;border-radius: 4px; }
    .gsort { display:inline-block;     position: relative;}
	
  .op1 { text-align:center;}
  .op2 { text-align:right;}
  
  .re_op {-webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;}
  .list_last_cell { display:flex;}
  
  .add_btn {    background: #F5F5F5;
    border: 1px solid #CCCCCC;
    color: #2D2D2D !important;
    padding: 6px 17px;
    border-radius: 4px;
    text-decoration: none !important;}
	.ru_list { padding-bottom:100px;}
	.ru_list_rep { padding:16px 0;     color: #2D2D2D;
    font-size: 15px; border-bottom:1px solid #E4E4E4;}
	
	.ru_list .ru_list_rep:nth-child(odd) {background: #F9F9F9; }

	
	
	.ru_list .col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 46%;
    flex: 0 0 46%;
    max-width: 46%;
    overflow: hidden;
    text-overflow: ellipsis;

}

.ru_list .col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 18%;
    flex: 0 0 18%;
    max-width:18%;
}



	
  
  
/* .ru_list_rep {}
.re_op{}
.re_op2{} */


.recent_pagination { padding-top:40px;   display: flex;
  align-items: center;
  justify-content: center;}
  .recent_pagination ul li a { border:0 !important; color:#2D2D2D !important; font-size:14px;}
  .recent_pagination ul li a{ background:none !important;}
   .recent_pagination ul li a svg {position: relative;
    top: -1px;}
   .recent_pagination ul li a:hover svg path {stroke:#2A87EA !important;}
  .recent_pagination ul li.active a, .recent_pagination ul li a:hover { color:#2A87EA !important; background:none !important;}
  
  .recent_pagination .page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25) !important;
}


/* paginanation */
.recent_pagination .page-item.current div a{
    color: #2a87ea !important;
}

.page_fi a, .page_la a{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/****/
.modal-header {
    background: #f9f9f9;
}
	.add_popup { text-align:center;}
	.add_popup p { padding:20px;}
	.add_frm { border-top:1px solid #ddd; padding:15px 0;}
	.add_frm button{ width:47.5%; cursor:pointer; border-radius:4px; border:0;     padding: 7px 10px !important;}
	.add_frm .btn1{ border:1px solid #CCCCCC; margin:0 2% 0 0;}
	.add_frm .btn2{ border:1px solid #049543; color:#fff; background:#049543; margin:0 0% 0 2%;}
	
	
	.add_frm button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
.footerm {
    border: 0;
    padding: 0 18px 20px 18px;
}
.add_frm2 { border-top: 1px solid #ddd;
    padding: 15px 0;
    text-align: right;}
	.add_frm2 button{  cursor:pointer; border-radius:4px; border:0;     padding: 7px 15px !important;}
	.add_frm2 .btn_1{ border:1px solid #CCCCCC; margin:0 2% 0 0;}
	.add_frm2 .btn_2{ border:1px solid #049543; color:#fff; background:#049543; margin:0 0% 0 2%;}

@-webkit-keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
  
  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
   .g_ani2{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
        background: linear-gradient(to right, #ededed 8%, #e9e9e9 18%, #ededed 33%);
    background-size: 800px 104px;
    
    position: relative;
  }
  
  .g_ani{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;  
    position: relative;
  }
  
  .gn1{ width:50%; height:40px;}
  .gn2{ width:150px; height:20px; float:right; display:inline-block}
  .gn3{ width:81px; height:38px; border-radius:4px; display:inline-block;}
  .gn4{ width:100%; height:20px; 	display:inline-block; margin-left:-15px;}
  .gn5{ width:180px; height:20px; 	display:inline-block;}
  .gn6{ width:100%; height:36px; margin-top:10px;}
  .gn7{ width:43px; height:32px; margin-right:5px; display:inline-block;     margin-bottom: -5px;}
  .gn8{ width:30%; height:22px; display:inline-block; margin-bottom:10px; float:left !important;}
  .gn9{ width:100%; height:35px; display:inline-block; margin-bottom:15px;}
  .gn10{ width:100%; height:35px; display:inline-block;margin-top: 43px; margin-bottom:-40px;}
  .gn11{ width:100%; height:120px; display:inline-block; margin-bottom:15px;}
  .prc {
      padding: 20px 8px 40px 8px;
  }
  .sep_cls {
    display: inline-block;
    border-right: 1px solid #ddd;
    margin: 0 15px;
    padding: 2px;
    height: 31px;
    margin-bottom: -12px;
}

.ru_list_rep .gsort img{    max-width: 22px;}


  