<div class="container bred_an">
    <div class="">
        <a [routerLink]="['/']">{{translations.home_global}}</a> <img src="assets/img/breadcrumarrow.svg"> <a
            [routerLink]="['/account-settings']">{{translations.account_settings_all}}</a> <img
            src="assets/img/breadcrumarrow.svg">
        <span><b>{{translations.frameworks_angular_rubrics}}</b> </span>
    </div>
</div>
<ng-container *ngIf="loading">
    <div class="container box_outer">
        <div class="box_whcls row">
            <div class="col-12">

                <div class="row panl_heading">

                    <div class="col-8">
                        <!-- <h3 class="g_ani2 gn1"></h3> -->
                    </div>

                    <div class="col-4 bk_goal2">
                        <span class="g_ani2 gn2"></span>
                    </div>


                </div>

                <div class="fr_left fr_field mtop20">

                    <span class="g_ani2 gn8"></span>
                    <span class="g_ani2 gn11"></span>
                    <span class="g_ani2 gn8"></span>
                    <span class="g_ani2 gn11"></span>
                    <span class="g_ani2 gn8"></span>
                    <span class="g_ani2 gn11"></span>


                </div>

                <div class="fr_right mtop20">
                    <div class="fbox"> <span class="g_ani2 gn10"></span> </div>
                    <div class="fbox"> <span class="g_ani2 gn10"></span> </div>
                    <div class="fbox"> <span class="g_ani2 gn10"></span> </div>
                    <div class="fbox"> <span class="g_ani2 gn10"></span> </div>
                </div>


                <div class="clearfix"></div>


            </div>

        </div>

    </div>
</ng-container>

<div class="container box_outer" *ngIf="!loading">
    <div class="box_whcls row">
        <div class="col-12">
            <div class="row panl_heading">
                <div class="col-8">
                    <h3>{{translations.performance_level_angular_rubrics}} - {{name}}</h3>
                </div>
                <div class="col-4 bk_goal2">
                    <a routerLink="/account-settings/rubrics"><img src="assets/img/left-arrow.svg">
                        {{translations.back_to_frameworks_angular_rubrics}}
                    </a>
                </div>
            </div>

            <div #scroll1 class="fr_left fr_field mtop20">
                <ng-container *ngFor="let level of payload; let i=index ;">
                    <ng-container
                        *ngFor="let pl of level.performance_levels; let j = index; let last = last; let first = first ">
                        <ng-container *ngIf="selected_index_of_array === level.id">
                            <label>{{pl.performance_level}} {{translations.pl_description_angular_rubrics}} <span *ngIf="maxCharDescCheck && j == checkIndexArr">{{maxCharsDesc-pl.pl_desc.length}} {{"/1000"}}</span>
                                <ng-container *ngIf="first && performance_levels.length>1">
                                   ({{translations.best_angular_rubrics}})
                                </ng-container>
                                <ng-container *ngIf="last && performance_levels.length>1">
                                   ({{translations.worst_angular_rubrics}})
                                </ng-container>
                            </label>
                            <textarea  [(ngModel)]="pl.pl_desc" (ngModelChange)="preventSpaces($event,i,j)"  (cut)="preventSpacesFromPaste($event, i, j)" (paste)="preventSpacesFromPaste($event, i, j)" [maxlength]="maxCharsDesc" name="pl_desc"
                                class="form-control bold_500" (blur)="onBlurDecp()" (focus)="onFocusDesc(j)"></textarea>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>

        
            <div  class=" fr_right mtop20"  >
                <ng-container *ngIf="no_standards">
                    <a> <b> {{translations.no_standards_angular_rubrics}} </b> </a>
                </ng-container>
                <ng-container   *ngIf="!no_standards">
                    <div #scroll2 [style.max-height.px]="height1"  slimScroll [options]="opts" [scrollEvents]="scrollEvents">
                    <ng-container   *ngFor="let data of standards; let i=index">
                        <div  class="fbox fl_1" *ngIf="data.standard_level == '1'">
                            <div  class="inner_lev"
                                [ngClass]="{'bg_last pointer':index === i && data.standard_level === framework_settings.checkbox_level }"
                                (click)="onChange(data, 1,i)">
                                <label *ngIf="data.standard_level == framework_settings.checkbox_level"
                                    class="checkboxcls">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <span *ngIf="data.tag_code">{{data.tag_code}}</span>
                                <span class="ru_white_space">{{data.tag_title}}</span>
                            </div>
                        </div>
                        <div class="fbox fl_2" *ngIf="data.standard_level == '2'">
                            <div class="inner_lev"
                                [ngClass]="{'bg_last pointer':index === i && data.standard_level === framework_settings.checkbox_level}"
                                (click)="onChange(data, 2,i)">
                                <label *ngIf="data.standard_level == framework_settings.checkbox_level"
                                    class="checkboxcls">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <span *ngIf="data.tag_code">{{data.tag_code}}</span>
                                <span class="ru_white_space">{{data.tag_title}}</span>
                            </div>
                        </div>
                        <div class="fbox fl_3" *ngIf="data.standard_level == '3'">
                            <div class="inner_lev"
                                [ngClass]="{'bg_last pointer':index === i && data.standard_level === framework_settings.checkbox_level}"
                                (click)="onChange(data, 3,i)">
                                <label *ngIf="data.standard_level == framework_settings.checkbox_level"
                                    class="checkboxcls">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <span *ngIf="data.tag_code">{{data.tag_code}}</span>
                                <span class="ru_white_space">{{data.tag_title}}</span>
                            </div>
                        </div>
                        <div class="fbox fl_4" *ngIf="data.standard_level == '4'">
                            <div class="inner_lev"
                                [ngClass]="{'bg_last pointer':index === i && data.standard_level === framework_settings.checkbox_level}"
                                (click)="onChange(data, 4,i)">
                                <label *ngIf="data.standard_level == framework_settings.checkbox_level"
                                    class="checkboxcls">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <span *ngIf="data.tag_code">{{data.tag_code}}</span> 
                                <span class="ru_white_space">{{data.tag_title}}</span>
                            </div>
                        </div>
                    </ng-container>
                    </div>
                </ng-container>

            </div>
           



            <div class="clearfix"></div>

            <div class="col-12">
                <div class="rub_btn">
                    <button class="ru_cancel"
                        (click)="loadFilterDialogUpdate(dialoguebox)">{{translations.cancel_angular_rubrics}}</button>
                    <button class="ru_save" (click)="submit()">{{translations.save_angular_rubrics}}</button>

                </div>

            </div>

        </div>

    </div>

</div>
<ng-template #dialoguebox>
    <!-- <div id="per_cancel" class="modal fade " role="dialog">
          <div class="modal-dialog" style="max-width:500px;"> -->
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 *ngIf="!isEdited" class="modal-title"><b>{{translations.cancel_performance_levels_angular_rubrics }}</b></h4>
            <h4 *ngIf="isEdited"class="modal-title"><b>{{translations.cancel_performance_levels_wo_edit_angular_rubrics}}</b></h4>
            <button type="button" class="close" data-dismiss="modal" (click)="this.modalRef.hide()">&times;</button>
        </div>
        <div *ngIf="!isEdited">
            <div class="modal-body">
                <div class="short_msg">
                    <p>{{translations.are_you_cancel_adding_pl_angular_rubrics}}<br>
                        {{translations.this_cant_be_undone_angular_rubrics}}</p>
                </div>

            </div>
        </div>
        <div *ngIf="isEdited">
            <div class="modal-body">
                <div class="short_msg">
                    <p>{{translations.are_you_cancel_editing_framework_angular_rubrics}}<br>
                       {{translations.this_cant_be_undone_angular_rubrics}}</p>
                </div>

            </div>
        </div>


        <div class="modal-footer footerm">


            <div class="col-12 share_btn">

                <button type="button" class="btn bgnone" data-dismiss="modal"
                    (click)="this.modalRef.hide()">{{translations.cancel_angular_rubrics}}</button>
                <button type="button" class="btn btn-success" [routerLink]="['add-performace']"
                    (click)="navigate();this.modalRef.hide()">{{translations.ok_angular_rubrics}}</button>
            </div>



            <!-- </div>
            </div> -->

        </div>
    </div>
</ng-template>