<?php
/**
 *
 * PHP 5
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       app.View.Errors
 * @since         CakePHP(tm) v 0.10.0.1076
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
?>
<style>
   p.error
   {
       background-image: -webkit-linear-gradient(top, #fff2f2, #fff2f2);
   }
    
    
</style>


<h2><?php //echo $name; ?></h2>
<?php if (Configure::read('debug') > 0): ?>
<p class="error">
    <strong><?php echo __d('cake', 'Error'); ?>: </strong>
    <?php
    printf(
            __d('cake', 'The requested address %s was not found on this server.'), "<strong>'{$url}'</strong>"
    );
    ?>
</p>

<?php else: ?>
<p class="error">
		<?php echo __d('cake', $message); ?>
	</p>

<?php endif;?>

<?php
if (Configure::read('debug') > 0):
    echo $this->element('exception_stack_trace');
endif;
?>
