<div class="video_box">
    <video [hidden]="VideoInfo.video_is_saved ==0" width="508" height="400" class="vjs-matrix video-js"
        [ngClass]="{hide_time :isLive}" id="mainVideo" #vidoeTag>
    </video>
    
    <button *ngIf="!isCinemaModeOn && VideoInfo.video_is_saved !=0 " data-toggle="tooltip" title="{{translation?.vl_cinema_mode}}" class="sceen_view" (click)="cinemaModeOn()"><svg xmlns="http://www.w3.org/2000/svg" id="Group_1037" data-name="Group 1037" width="20.453" height="10.579" viewBox="0 0 20.453 10.579">
  <rect id="Rectangle_135" data-name="Rectangle 135" width="20.453" height="10.579" rx="2" fill="#fff"/>
  <g id="noun_Arrow_2094742" transform="translate(1.779 2.116)">
    <path id="Path_128" data-name="Path 128" d="M.17,11.247,2.537,8.855A.576.576,0,0,1,3.1,8.691a.583.583,0,0,1,.416.42.59.59,0,0,1-.161.571l-1.4,1.412H6.612a.586.586,0,0,1,0,1.172H1.971l1.386,1.4a.59.59,0,0,1-.01.818.575.575,0,0,1-.809.01L.17,12.105A.585.585,0,0,1,0,11.691a.093.093,0,0,1,0-.015.1.1,0,0,1,0-.015A.59.59,0,0,1,.17,11.247Z" transform="translate(0 -8.672)" fill="#1f242b"/>
  </g>
  <g id="noun_Arrow_2094742-2" data-name="noun_Arrow_2094742" transform="translate(11.548 2.116)">
    <path id="Path_128-2" data-name="Path 128" d="M7.022,11.247,4.654,8.855a.576.576,0,0,0-.565-.164.583.583,0,0,0-.416.42.59.59,0,0,0,.161.571l1.4,1.412H.58a.586.586,0,0,0,0,1.172H5.221l-1.386,1.4a.59.59,0,0,0,.01.818.575.575,0,0,0,.809.01l2.367-2.393a.585.585,0,0,0,.17-.414.093.093,0,0,0,0-.015.1.1,0,0,0,0-.015.59.59,0,0,0-.17-.414Z" transform="translate(0 -8.672)" fill="#1f242b"/>
  </g>
</svg></button>
<button *ngIf="isCinemaModeOn" data-toggle="tooltip" title="{{translation?.vl_cinema_mode}}" class="sceen_view" (click)="cinemaModeOn()"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="15" viewBox="0 0 30 15">
    <g id="Group_1037" data-name="Group 1037" transform="translate(0)">
      <rect id="Rectangle_135" data-name="Rectangle 135" width="30" height="15" rx="2" transform="translate(0)" fill="#1C7CD5"/>
      <g id="noun_Arrow_2094742" transform="translate(3 3)">
        <path id="Path_128" data-name="Path 128" d="M10.063,12.323,6.67,8.931A.831.831,0,1,0,5.5,10.1l2.006,2H.831a.831.831,0,1,0,0,1.661H7.482L5.5,15.758A.831.831,0,0,0,6.67,16.932l3.393-3.393a.824.824,0,0,0,.243-.587.131.131,0,0,0,0-.021.145.145,0,0,0,0-.021.832.832,0,0,0-.243-.587Z" transform="translate(0 -8.672)" fill="#fff"/>
      </g>
      <g id="noun_Arrow_2094742-2" data-name="noun_Arrow_2094742" transform="translate(17 3)">
        <path id="Path_128-2" data-name="Path 128" d="M.244,12.323,3.636,8.931A.831.831,0,1,1,4.811,10.1l-2.006,2h6.67a.831.831,0,1,1,0,1.661H2.824l1.987,1.99a.831.831,0,0,1-1.175,1.174L.244,13.54A.824.824,0,0,1,0,12.952a.131.131,0,0,1,0-.021.145.145,0,0,1,0-.021.832.832,0,0,1,.243-.587Z" transform="translate(0 -8.672)" fill="#fff"/>
      </g>
    </g>
  </svg>
  </button>

    
    <div *ngIf="VideoInfo.video_is_saved ==0" class="vjs-matrix video-js for-fake_player video-not-saved">
        <div class="live-recorded">
            {{translation?.video_live_recorded}}
        </div>
        <div class="video-not-saved-text">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="32px"
                id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px"
                xml:space="preserve">
                <path
                    d="M28.516,14L6,2.75C5.344,2.453,4.672,2,4,2C2.922,2,2,2.906,2,4v24c0,1.094,0.922,2,2,2c0.672,0,1.344-0.453,2-0.75  L28.516,18C29.063,17.734,30,17.188,30,16S29.063,14.266,28.516,14z M6,24.778V7.222L23.568,16L6,24.778z" />
            </svg>
            <p>{{translation?.video_not_saved_message}}</p>
        </div>
    </div>
    <span>
    </span>
    <div id="overlay" class="animated slideInUp" [@enterAnimation] *ngIf="ShowInfo">
        <div class="info_container">
            <div class="row info_container_row">
                <h6 class="col-md-11 pull-left">{{translation?.vd_video_info}} </h6>
                <div class="col-md-1 pull-right fake_link2" (click)="ShowInfo=false;ShowInfoBack.emit(false)">
                    <div style="transform: rotate(135deg);">
                        <span class="oi" data-glyph="plus"></span>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-sm-6 pull-left">
                    <label class="info_title">{{translation?.vd_genral_info}}</label>
                    <label class="info" *ngIf="VideoInfo?.huddle_type && pageType != 'library-page'"> {{translation?.vd_huddle_type}}:{{VideoInfo?.huddle_type}} </label>
                    <label *ngIf = "pageType != 'library-page'" class="info">{{translation?.vd_session_date}}: {{VideoInfo.recorded_date}} </label>
                    <label *ngIf = "pageType == 'library-page'" class="info">{{translation?.artifact_upload_date}}: {{VideoInfo.recorded_date}} </label>
                    <label *ngIf="!isLive && VideoInfo.video_is_saved !=0"
                        class="info">{{translation?.vd_time_played}}: {{VideoInfo.view_count}} </label>
                    <ng-container *ngIf="pageType == 'library-page'" class="info_title pt-2">
                        <label class="pt-2">{{translation.vl_categories}}</label> > <label class="pt-2">{{translation.vl_subcategory}}</label>
                    </ng-container>
                    <div id="category_wrapper" *ngIf="pageType == 'library-page'" >
                        <div *ngFor="let videoCategory of VideoInfo.videoCategories">
                            <div *ngIf="videoCategory.childs.length">

                                <label class="info" *ngFor="let childCategory of videoCategory.childs"> {{videoCategory.name}} > {{childCategory.name}}  </label>
                            </div>
                            <div *ngIf="!videoCategory.childs.length">
                                <label class="info"> {{videoCategory.name}}  </label>
                            </div>

                        </div></div>

                </div>
                <div class="col-sm-6 pull-right" *ngIf="VideoInfo.h_type!=1 || VideoInfo.h_type==2 || VideoInfo.h_type==3">
                    <label class="info_title" *ngIf="VideoInfo.h_type==2 || VideoInfo.h_type==3"> {{translation?.vd_participants}} </label>
                    <ng-container *ngIf="VideoInfo.h_type==2">
                        <label class="info">
                            {{translation?.vd_coach}}: <span *ngFor="let coach of VideoInfo.coaches_name">
                                {{coach.user_name+" - "+coach.email}} </span>
                        </label>
                        <label class="info">
                            {{translation?.vd_coachee}}: <span *ngFor="let coachee of VideoInfo.coachee_name">
                                {{coachee.user_name+" - "+coachee.email}} </span>
                        </label>
                    </ng-container>
                    <ng-container *ngIf="VideoInfo.h_type==3">
                        <label class="info">
                            {{translation?.vd_assessors}}: <span *ngFor="let assessor of VideoInfo.assessor_names">
                                {{assessor.user_name+" - "+assessor.email}} </span>
                        </label>
                        <label class="info">
                            {{translation?.vd_assessee}}: <span
                                *ngFor="let assessee of VideoInfo.eval_participant_names">
                                {{assessee.user_name+" - "+assessee.email}} </span>
                        </label>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>