.video_box{

	position: relative;
    overflow: hidden;
}


#overlay{
	background: #ccc;
    
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left:0;
    color: #161616;
    z-index: 999;
}

.info_container{
	
	margin-left: 0%;
	width: 100%;
	margin-top: 2%; font-family: 'Roboto-light';
}
.info_container h6{    font-family: 'Roboto-Regular';
    padding-top: 8px;
    margin-bottom: 12px;
    font-size: 18px;}
.info_container .fake_link {font-family: 'Roboto-Regular'; padding: 0 11px 0px 0;
    text-align: right;}
.info_container .info_title{    display: block;font-size:14px; color: #000; }
.info_container .info{    display: block;font-size:12px;margin-bottom: 0; color:#000;}
.info_container_row{
    margin: 0 !important;
}
.for-fake_player {
    height: 350px;
    background: black;
    color: white;
    text-align: center;
}

.for-fake_player h6 {
      position: absolute;
    margin-top: 31%;
    margin-left: 0;
    text-align: center;
    display: block;
    width: 95%;
}

.video-not-saved {    background: #8698a4;}
.live-recorded
{
    position: absolute;
    left: 10px;
    z-index: 11;
    top: 10px;
    color: #fff;
    background: red;
    padding: 5px;
    border-radius: 3px;
    font-size: 11px;
}
.video-not-saved-text
{
    text-align: center;
    padding: 138px 30px 50px;
    color:#fff;
}
.video-not-saved-text svg
{
    fill: #fff;width: 47px;
    height: 47px;
}
.video-not-saved-text p { font-size: 16px; line-height: 18px; margin-top: 20px;}
#category_wrapper
{
    max-height: 150px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #D9D9D9;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

tooltip {
    font-size: 5px;
}

.fake_link2{
    cursor: pointer; padding-top: 10px;
}

