<div class="folder_container">
  <!-- [class.drag-active]="changeBackgroundColor" -->
  <div class="inner_h test12345" style="padding: 0px 10px 0px 10px;" id={{data.id}}>
    <div class="top_hu">

      <div class="foldercls">
        <a class="external_link_container" draggable="false">
          <img src="./assets/img/folder_gry.svg" width="23" draggable="false">
        </a>
      </div>

      <div class="hu_title">
        <a class="fake_link external_link_container" style="color: black;" draggable="false"
          [routerLink]=" isHuddle ? ['/video_huddles/huddle/details/'+huddleId+'/artifacts/'+displayStyle+'/'+data.id] : ['/workspace/workspace/home/'+displayStyle+'/'+data.id]">
          <label tooltip="{{data?.title}}">{{data.title}}</label>
          <p>{{translation?.huddle_created_by}}: {{data.created_by_name}}</p>
          <span>{{headerService?.formatDate(data.created_date, "MMM DD, YYYY")}}</span>
        </a>
      </div>

      <ng-container *ngIf="getPermission()">
        <div *ngIf="!(data?.mouseEntered || isDropdownOpen)" class="h_option">
          <a (click)="false" draggable="false"><img src="./assets/img/doted.svg" width="30"
              style="padding-top: 10px;padding-bottom: 10px" ></a>
        </div>
        <div class="h_option" *ngIf="data?.mouseEntered || isDropdownOpen">
          <span (isOpenChange)="isOpen($event)" dropdown>
            <a href id="basic-link" dropdownToggle draggable="false" (click)="false" aria-controls="basic-link-dropdown">
              <img src="./assets/img/doted.svg" width="30" style="padding-top: 10px;padding-bottom: 10px" draggable="false"></a>
            <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="basic-link">
              <li> <a class="dropdown-item fake_link" (click)="EditFolder(data.id)">
                  {{translation?.workspace_rename}}</a> </li>
              <li> <a class="dropdown-item fake_link" (click)="shareFolderModal(data)">
                  {{translation?.artifact_share}} </a> </li>
              <!-- <li *ngIf="!block_move"> <a class="dropdown-item fake_link" (click)="OnMoveShareFolder.emit({id: data.id, moveType: translation?.huddle_move_btn})">
                  {{translation?.huddle_move_btn}} </a> </li> -->
                    <li> <a class="dropdown-item fake_link" (click)="OnDelete.emit(data)"> {{translation?.huddle_delete_btn}}
                        </a>
                    </li>
            </ul>
          </span>
        </div>
      </ng-container>
      <ng-container *ngIf="!data?.folder_permissions">
        <div class="h_option">
          <a draggable="false">
            <img _ngcontent-c11="" src="./assets/img/doted.svg" width="30" [style.opacity]="0" draggable="false">
          </a>
        </div>
      </ng-container>
      <div class="clear"></div>
    </div>

    <div class="bottom_hu " *ngIf="isExpanded">
      <div class="h_row">
        <div class="h_icon_new">
          <span class="coa_icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
              <circle id="Oval" cx="17.5" cy="17.5" r="17.5" transform="translate(0.5 0.5)" fill="none" stroke="#039542" stroke-miterlimit="10" stroke-width="1"/>
              <path id="Path" d="M0,1.02C0,.234.69-.26,1.235.144L5.4,3.107l4.16,2.94a1.166,1.166,0,0,1,0,1.773L5.4,10.783l-4.16,2.985C.69,14.172,0,13.679,0,12.893V1.02Z" transform="translate(14.149 10.746)" fill="#149542"/>
            </svg>

          </span>
        </div>
        <div class="h_text">
          {{translation?.workspace_videos}}
        </div>
        <div class="h_count">
          {{data?.stats?.videos}}
        </div>
        <div class="clear"></div>
      </div>

      <div class="h_row">
        <div class="h_icon_new">
          <span class="col_icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
              <g id="Group_2045" data-name="Group 2045" transform="translate(-562 -1184)">
                <circle id="Oval" cx="17.5" cy="17.5" r="17.5" transform="translate(562.5 1184.5)" fill="none" stroke="#004061" stroke-miterlimit="10" stroke-width="1"/>
                <g id="noun_File_2044110_000000" transform="translate(573 1192.947)">
                  <path id="Path" d="M0,0V3.2H3.2Z" transform="translate(9.354 0.192)" fill="#054061"/>
                  <path id="Shape" d="M12.691,16.5H0V0H8.182V4.689h4.509V16.5ZM3.172,11.919v1.5H9.5v-1.5Zm0-3v1.5H9.5V8.92Zm0-3v1.5H9.5V5.92Z" transform="translate(0 0.053)" fill="#054061"/>
                </g>
              </g>
            </svg>
          </span>
        </div>
        <div class="h_text">
          {{translation?.workspace_resources}}

        </div>
        <div class="h_count">
          {{data?.stats?.resources}}
        </div>
        <div class="clear"></div>
      </div>

      <div class="h_row">
        <div class="h_icon_new">
          <span class="col_icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
              <circle id="Oval" cx="17.5" cy="17.5" r="17.5" transform="translate(0.5 0.5)" fill="none" stroke="#f3651e" stroke-miterlimit="10" stroke-width="1"/>
              <path id="Path_109" data-name="Path 109" d="M4.133,31.284a4.127,4.127,0,0,1-2.919-7.043l3.75-3.753a4.128,4.128,0,0,1,5.144-.557,4.012,4.012,0,0,1,.693.557,1.168,1.168,0,0,1,0,1.657,1.209,1.209,0,0,1-1.657,0,1.769,1.769,0,0,0-2.5,0L2.88,25.907a1.77,1.77,0,0,0,2.5,2.5l2.226-2.229a.3.3,0,0,1,.321-.065,4.962,4.962,0,0,0,1.887.366h.118a.295.295,0,0,1,.209.5l-3.1,3.1a4.1,4.1,0,0,1-2.916,1.2Z" transform="translate(9.991 -4.593)" fill="#f3651f"/>
              <path id="Path_110" data-name="Path 110" d="M25.492,11.994h-.224a4.107,4.107,0,0,1-.439-.041c-.121-.021-.239-.044-.357-.074l-.174-.047c-.062-.018-.127-.038-.189-.062s-.127-.044-.189-.071-.124-.05-.186-.08a4.092,4.092,0,0,1-1.179-.825,1.175,1.175,0,0,1,0-1.663,1.209,1.209,0,0,1,1.657,0,1.769,1.769,0,0,0,2.5,0l.967-.961.024-.027,2.765-2.762a1.77,1.77,0,0,0-2.5-2.5L25.746,5.1a.3.3,0,0,1-.321.065,4.953,4.953,0,0,0-1.884-.369h-.109a.3.3,0,0,1-.215-.5L26.309,1.2a4.127,4.127,0,1,1,5.837,5.837l-3.753,3.753a4.127,4.127,0,0,1-1.913,1.085h-.032l-.171.035-.094.018-.2.029h-.1c-.077,0-.144.015-.209.018Z" transform="translate(-5.667 9.011)" fill="#f3651f"/>
            </svg>
          </span>
        </div>
        <div class="h_text">
          {{translation?.urls}}
        </div>
        <div class="h_count">
          {{data?.stats?.urls}}
        </div>
        <div class="clear"></div>
      </div>

      <div class="h_row">
        <div class="h_icon_new">
          <span class="col_icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
              <circle id="Oval" cx="17.5" cy="17.5" r="17.5" transform="translate(0.5 0.5)" fill="none" stroke="#8145f2" stroke-miterlimit="10" stroke-width="1"/>
              <path id="Path_7" data-name="Path 7" d="M19.57,7.512A2.515,2.515,0,0,0,17.058,5H7.512A2.515,2.515,0,0,0,5,7.512V9.019H8.517V20.575a2.515,2.515,0,0,0,2.512,2.512h9.546a2.515,2.515,0,0,0,2.512-2.512V19.068H19.57Zm-13.063,0a1,1,0,0,1,2.01,0ZM21.58,20.575a1.006,1.006,0,0,1-1,1H13.331a2.5,2.5,0,0,0,.21-1Zm-9.546-1.507v1.507a1,1,0,1,1-2.01,0V7.512a2.5,2.5,0,0,0-.21-1h7.244a1.006,1.006,0,0,1,1,1V19.068Z" transform="translate(4 4)" fill="#8145f2"/>
              <rect id="Rectangle_12" data-name="Rectangle 12" width="6.029" height="1.005" transform="translate(15.029 12.517)" fill="#8145f2"/>
              <rect id="Rectangle_13" data-name="Rectangle 13" width="6.029" height="1.005" transform="translate(15.029 14.527)" fill="#8145f2"/>
              <rect id="Rectangle_14" data-name="Rectangle 14" width="6.029" height="1.005" transform="translate(15.029 16.536)" fill="#8145f2"/>
              <rect id="Rectangle_15" data-name="Rectangle 15" width="6.029" height="1.005" transform="translate(15.029 18.546)" fill="#8145f2"/>
              <rect id="Rectangle_16" data-name="Rectangle 16" width="6.029" height="1.005" transform="translate(15.029 20.556)" fill="#8145f2"/>
            </svg>
          </span>
        </div>
        <div class="h_text">
          {{translation?.workspace_scriptednotes}}
        </div>
        <div class="h_count">
          {{data?.stats?.scripted_notes}}
        </div>
        <div class="clear"></div>
      </div>

      <div class="h_row">
        <div class="h_icon_new">
          <span class="col_icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
              <path id="Oval" d="M17.5,0A17.5,17.5,0,1,1,0,17.5,17.5,17.5,0,0,1,17.5,0Z" transform="translate(0.5 0.5)" fill="none" stroke="#616161" stroke-width="1"/>
              <path id="Path" d="M15.965,1.774H9.756L7.983,0H1.774A1.774,1.774,0,0,0,0,1.774V11.53A1.774,1.774,0,0,0,1.774,13.3H15.965a1.774,1.774,0,0,0,1.774-1.774V3.548A1.774,1.774,0,0,0,15.965,1.774Z" transform="translate(9.5 11.446)" fill="#616161"/>
            </svg>
          </span>
        </div>
        <div class="h_text">
          {{translation?.huddle_folder_count}}
        </div>
        <div class="h_count">
          {{data?.stats?.folders}}
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>


<div class="drag_over" [ngStyle]="{'display':data.id == dragFolderId && changeBackgroundColor == true ? 'flex' : 'none' }">
  <div class="drage_file" [ngClass]="{'my-class_drag_file': !isExpanded}">
    <svg xmlns="http://www.w3.org/2000/svg" width="66.5" height="47.708" viewBox="0 0 66.5 47.708">
      <g id="noun_upload_cloud_3401869" data-name="noun_upload cloud_3401869" transform="translate(10.087 -122.702)">
        <g id="Group_2066" data-name="Group 2066" transform="translate(-15 105)">
          <path id="Path_120" data-name="Path 120" d="M60.959,36.944v-.627a18.712,18.712,0,0,0-35.884-7.336,11.3,11.3,0,0,0-4.615-.958A11.421,11.421,0,0,0,9.077,39.45a7.954,7.954,0,0,0,.059,1.187A14.532,14.532,0,0,0,19.457,65.41h37.4a14.524,14.524,0,0,0,4.1-28.467ZM45.852,44.022a2.138,2.138,0,0,1-3.03,0l-2.588-2.6V52.943a2.079,2.079,0,0,1-4.158,0V41.515l-2.514,2.507a2.153,2.153,0,1,1-3.045-3.038l6.1-6.068.066-.037a1.054,1.054,0,0,0,.111-.081,2.264,2.264,0,0,1,.31-.206,2.028,2.028,0,0,1,1.054-.347h.177a2.123,2.123,0,0,1,1.475.612l6.068,6.09a2.153,2.153,0,0,1-.022,3.074Z" transform="translate(0)" fill="#fff" fill-rule="evenodd"/>
        </g>
      </g>
    </svg>
    <br/>         
    <b>{{translation?.multi_file_upload_drag_files_here}}</b>
  </div>
</div>
                    
</div>
