.h_option{
  /*top: -60px;*/
  width: 16%;
}
.h_option img {
  max-width: 22px;
}
.dropdown-menu{
	left: inherit!important;
      min-width: 85px !important;
    right:0 !important;
    top: 10% !important;
}

.folder_container{
	transition: height 0.5s linear;
}
.top_hu {
  padding: 5px 0px 2px 0px;
}

.drag-active{
  background-color: rgba(0,0,0,0.3);
}

.dropdown-item.active, .dropdown-item:active {
       color: #16181b !important;
    text-decoration: none;
       background: #f8f9fa !important;
}
.folder_container { position:relative;}
.drage_file {    background-color: rgba(0,0,0, 0.5);
    text-align: center;
    padding: 25px;
    height: 150px;
    width: 77%;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;     border-radius: 5px;}
.drag_over {        background-color: rgba(0,0,0, 0.3);
    top: -7px;
    position: absolute;
    left: -7px;
    right: -7px;
    bottom:-7px;
    display: none;
   }

.drage_file b { color:#fff; display:block; padding-top:20px; padding: 25px;}

.my-class_drag_file{height:100%;padding: 10px;}

.my-class_drag_file b{padding-top:5px;}

@keyframes expandAnimation {
  0% {
    padding-top: 100px;
  }
  100% {
    padding-top: 0px;
  } 
}

.folder_expand_animate{
	animation: expandAnimation 1s;
}