.no-comment-found {
    font-size: 13px;
    font-family: 'Roboto-light';
    margin-top: 10px;
    font-weight: 600;
}


/** comment sections start **/

.comments-wrapper {
    flex: 1 1 25%;
    background-color: #f5f5f5;
    border-left: 1px solid #d5d5d6;
    padding: 10px 15px;
    overflow-y: scroll;
}

.comment-header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.comment-heading {
    font-weight: 500;
    font-size: 15px;
    color: #9e9e9e;
    margin-bottom: 10px;
}

.comment-body {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    min-height: 125px;
}

.comment-body .heading {
    display: flex;
    margin-bottom: 5px;
}

.comment-body textarea {
    width: 100%;
    border: 0;
    resize: none;
}

.user_img {
    margin-right: 12px;
    float: left;
}

.user_img img {
    border: 0 !important;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-body textarea::placeholder {
    color: #c3c3c3;
}

.content-pdf .desc {
    font-size: 15px;
    color: #000;
    padding-bottom: 10px;
    font-family: 'Roboto';
    word-break: break-word;
    text-overflow: ellipsis;
    white-space: break-spaces;
}

.content-pdf .time {
    font-size: 12px;
    color: #595959;
    font-family: 'Roboto';
    word-break: break-word;
    text-overflow: ellipsis;
    white-space: break-spaces;
}

.comment-icon {
    margin-right: 10px;
}

.comm_box:active {
    outline: none !important;
    border: none !important;
}

.comment-container:focus {
    outline: none !important;
    border: none !important;
}

.comment-container:active {
    outline: none !important;
    border: none !important;
}

.comment-body:focus {
    outline: none !important;
    border: none !important;
}

.comment-body:active {
    outline: none !important;
    border: none !important;
}

.comm_box:focus {
    outline: none !important;
    border: none !important;
}

.comm_box {
    display: flex;
    width: 100%;
    background: #fff;
    padding: 15px;
}

.comm_img img {
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.comm_img img {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 0;
}

.img_box {
    position: relative;
    width: 45px;     margin-bottom: 0;
}

.live_user {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 2px;
}

.live_user.green {
    background: #039542;
}

.live_user .drfault {
    background: none;
}

.comm_des {
    padding-left: 10px;
    width: 100%;
}

.comm_des label {
    font-weight: 600;
    margin: 0;
    font-size: 14px;
}

.content-pdf {
    font-size: 13px;
}

.comm_des p {
    font-size: 15px;
    line-height: 20px;
    color: #000;
}

.desc {
    font-size: 13px !important;
}

.time_com {
    color: #8c8c8c;
    display: block;
    font-size: 12px;
    margin: 0;
}

.chat_c {
    position: relative;
    margin-top: 10px;     text-align: center;
}

.chat_c img {
    border-radius: 0;
    width: 32px;
    height: auto;
}

.chat_c span {
    position: absolute;
    left: 7px;
    top: 1px;
    color: #fff;
    width: 25px;
    text-align: center;
    font-size: 12px;
}

.pointerCur {
    cursor: pointer;
}

.com_opt button {
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 0 1px;
    margin: 0 5px 0 5px;
    margin-bottom: auto;
}

.com_opt .ac_op {
    margin: 0;
}

.com_opt .ac_op img {
    width: 10px;
}

.pdf_comm {
    border-left: 1px solid #d5d5d6;
    padding: 12px 15px;
    margin: 0;
    font-size: 16px;
}

.com_name {
    display: flex;
}

.com_opt {
    margin-left: auto;
    display: flex;
    max-height: 25px;
}

.com_opt .dropdown-menu {
    top: -3px !important;
}

.com_opt .dropdown-menu a {
    display: block !important;
    white-space: nowrap;
    position: relative;
    padding-right: 18px;
}

.com_opt .dropdown-menu a span {
    float: right;
    position: absolute;
    right: 2px;
    top: -3px;
}

.ac_op button img {
    max-width: 25px;
}

.acc_option {
    margin: 10px 0 0 0;
}

.acc_option a {
    text-decoration: none;
    border-radius: 50px;
    display: inline-block;
    padding: 3px 10px;
    line-height: 19px;
    height: 25px;
    font-size: 13px;
}

.ac_op button {
    border: 0;
    padding: 0;
    background: none;
    outline: none !important;
    cursor: pointer !important;
}

.comm_circle {
    float: right;
    background: #ff5800;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: relative;
    top: 0;
}

.ac_op .dropdown-toggle::after {
    display: none;
}

.ac_op .dropdown-menu {
    min-width: 120px !important;
    padding: 10px 6px 6px 9px !important;
    left: inherit !important;
    right: 0 !important;
    transform: translate3d(0px, 24px, 0px) !important;
    text-transform: capitalize;
}

.ac_op .dropdown-menu a {
    font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 5px;
    cursor: pointer !important;
}

.tag_com .tag_rounded {
    max-width: 100% !important;
}

.tag_com .tg_sign {
    position: absolute;
    top: 2px;
    left: 0;
}

.tag_com .row {
    position: relative;
}

.tag_com .tg_list {
    padding-left: 40px;
}

.dot_dp button img {
    width: 18px !important;
    height: 7px;
}

.com_opt ul.dropdown-menu .comm_circle {
    float: left;
    top: 6px;
    margin-right: 6px;
}

.dot_dp .dropdown-menu a {
    padding-right: 0 !important;
}

.dot_dp .dropdown-menu {
    min-width: 87px !important;
}

.dot_dp2 .dropdown-menu {
    min-width: 99px !important;
}

.comm_box {
    display: block;
    width: 100%;
    background: #fff;
    padding: 15px 5px 15px 50px;
    position: relative;
}

.comm_img {
    position: absolute;
    top: 17px;
    left: 0;
    z-index: 2;
    padding: 0px 0px 0px 5px;
}

.child {
    pointer-event: none !important;
}

.comment-container {
    margin-bottom: 5px;
}

.no_search_result {
    text-align: center;
    padding: 10px;
}
::ng-deep button .tooltip-inner {
    width: 100px !important;
}

  
  .content-pdf p{ margin-bottom:0;}
  
  .com_name { padding-bottom:12px;}