<ng-container *ngIf="from == 'document'">
    <div class="comment-container" *ngFor="let comment of comments; let i=index;" (click)="changeActiveCommentForInputField(comment,$event)" [tabindex]="i">
        <ng-container *ngIf="comment.first_name && comment.valid">
            <div *ngIf="comments[i-1]?.page !== comment.page" class="comment-heading">Page: {{comment.page}}
            </div>
            <div class="comment-body" id="{{comment.id}}-comment">
                <div id='outBox' class="comm_box">
                    <div id='outBox' class="comm_img pointerCur">
                        <div id='outBox' class="img_box">
                            <img id='outBox' *ngIf="comment?.tryagain!=true" [attr.src]="getUserImgUrl(comment)" width="30">
                            <span class="live_user user_{{comment.user_id}} {{header_data.user_current_account.User.id == comment.user_id ? 'green' : ''}}"></span>
                        </div>
                        <div id='outBox' class="chat_c" *ngIf="comment.replies_count > 0">
                            <img id='outBox' src="assets/pdf/img/chat_i.png">
                            <span id="reply_count" *ngIf="comment.replies_count >= 100">99+</span>
                            <span id="reply_count" *ngIf="comment.replies_count <= 99">{{comment.replies_count}}</span>
                        </div>
                    </div>
                    <div id='outBox' class="comm_des">

                        <div id='outBox' class="com_name">
                            <div id='outBox' class="name_inner pointerCur">
                                <label id='outBox' [tooltip]=[comment.email]>{{comment.first_name || 'Guest'}} {{comment.last_name}}</label>
                                <span id='outBox' class="time_com">{{parseDate(comment.last_edit_date) | date: 'medium'}}</span>
                            </div>

                            <div id='outBox' class="com_opt lis">

                                <button>
                    <img [tooltip]=[translation.dc_only_note] *ngIf="comment.type == 'text-comment'" src="assets/pdf/img/chat.svg">
                    <img [tooltip]=[translation.dc_rectangle] *ngIf="comment.type == 'rect-comment'" style="width: 13px" src="assets/pdf/img/Tool-Rectangle.svg">
                    <img [tooltip]=[translation.dc_circle] *ngIf="comment.type == 'ellipse-comment'" style="width: 13px" src="assets/pdf/img/Tool-Circle.svg">
                    <img [tooltip]=[translation.dc_arrow] *ngIf="comment.type == 'line-comment'" style="width: 13px" src="assets/pdf/img/Tool-Arrow.svg">
                    <img [tooltip]=[translation.cf_text] *ngIf="comment.type == 'foreignObject-comment'" style="width: 13px" src="assets/pdf/img/Tool-Text.svg">
                  </button>
                                <div class="ac_op dropdown" dropdown>
                                    <span>
                      <button *ngIf="permissions?.AllowCustomMarkers == '1'" type="button" id="button-basic-circle" dropdownToggle>
                        <i class="comm_circle" [style.backgroundColor]="getTimelineBg(comment)"></i>
                      </button>
                      <div *ngIf="comment.created_by == userCurrAcc.User.id && permissions?.AllowCustomMarkers == '1'">
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic-circle">
                          <a (click)="changeCustomMarker('', comment)"><i class="comm_circle grey_cir"
                            [style.background]="'grey'"></i> None <span style="float:right;" *ngIf="comment.none_tag"><img src="assets/pdf/img/blue.svg" width="30"></span></a>
                                    <ng-container *ngFor="let marker of customMarkers; let i = index">
                                        <a (click)="changeCustomMarker(marker.tag_title, comment)"><i class="comm_circle"
                              [style.background]="colorClasses[i]"></i> {{marker.tag_title}} <span style="float:right;" *ngIf="checkTheMarker(marker, comment)"><img src="assets/pdf/img/blue.svg" width="30"></span></a>
                                    </ng-container>
                                    </ul>
                                </div>

                                </span>
                            </div>
                            <div class="ac_op dropdown dot_dp2" dropdown>
                                <span>
                      <button type="button" id="button-basic-min" dropdownToggle>
                        <img *ngIf="comment.comment_status=='1'" src="assets/pdf/img/min.svg" width="30">
                        <img *ngIf="comment.comment_status=='2'" src="assets/pdf/img/green.svg" width="30">
                        <img *ngIf="comment.comment_status=='3'" src="assets/pdf/img/red.svg" width="30">
                      </button>

                      <div *ngIf="comment.created_by == userCurrAcc.User.id">
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                          aria-labelledby="button-basic-min">
                          <a (click)="changeStatus('1', comment)">None  <span *ngIf="comment.comment_status=='1'"><img src="assets/pdf/img/blue.svg" width="30"></span></a>
                                <a (click)="changeStatus('2', comment)">Accepted  <span *ngIf="comment.comment_status=='2'"><img src="assets/pdf/img/blue.svg" width="30"></span></a>
                                <a (click)="changeStatus('3', comment)">Rejected  <span *ngIf="comment.comment_status=='3'"><img src="assets/pdf/img/blue.svg" width="30"></span></a>
                                </ul>
                            </div>
                            </span>
                        </div>
                        <div class="ac_op dropdown dot_dp" dropdown *ngIf="((comment.created_by==currentUser.id) && from!='tab') || (from!='tab' && permissions.huddle_permission==200 && VideoInfo.h_type==1 && !fromLiveStream)">
                            <span>
                      <button type="button" id="button-basic" dropdownToggle>
                        <img src="assets/video-huddle/img/dots_dark.svg" width="30">
                      </button>
                      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <a
                          [class.disable-container]="comment.encoder_status === 'Processing' && !comment.playable"
                          *ngIf="((comment.created_by==currentUser.id) && from!='tab') || (from!='tab' && permissions.huddle_permission==200 && VideoInfo.h_type==1 && !fromLiveStream)"
                          class="edit_comm fake_link" (click)="openEditComment(comment)">
                            {{translation?.vd_edit}}
                        </a>
                
                        <a
                            *ngIf="(from!='tab' && permissions.huddle_permission==200 && VideoInfo.h_type == 2 ) || (permissions.coachee_permission == '1' && currentUser.id == comment.created_by && from!='tab') || ((currentUser.id == comment.created_by) && from!='tab' ) || (from!='tab' && permissions.huddle_permission==200 && VideoInfo.h_type==1 && !fromLiveStream)"
                            class="delete_comm fake_link" (click)="initiateDelete(confirmDialog, comment)">
                            {{translation?.vd_delete}}
                        </a>
          
                      </ul>
                    </span>
                        </div>

                    </div>
                </div>

                <div id='outBox' *ngIf="activeComment.id !== comment.id" class="content-pdf pointerCur" (click)='changeActiveComment(comment,$event)'>
                    <div id='outBox' class="desc" *ngIf="comment.ref_type!=6" [innerHTML]="Urlify(comment.comment)"></div>

                    <p *ngIf="comment.ref_type == 6 && (comment.encoder_status === 'Complete' || (comment.playable && comment.encoder_status !== 'Error'))">
                        <audio preload="metadata" controls #audioPlayer>
                        <source [src]="comment.comment">
                        {{translation?.vd_your_browser_does_not}}
                    </audio>
                    </p>
                    <p class="transcode-audio-message" *ngIf="comment.ref_type == 6 && comment.encoder_status === 'Processing' && !comment.playable">
                        {{translation?.audio_transcoding_in_progress}}
                    </p>
                    <p class="transcode-audio-message" *ngIf="comment.ref_type == 6 && comment.encoder_status === 'Error'">
                        {{translation?.audio_transcoding_failed}}
                    </p>
                    <span *ngIf="comment.id == '-1'">Posting...</span>
                </div>

                <div id="outBox" *ngIf="activeComment.id === comment.id" class="ml-2">
                    <pdf-comment [original_account]="original_account" [from]="from" [VideoInfo]="VideoInfo" [permissions]="permissions" [index]="i" [staticFiles]="staticFiles" [editDocumentComment]="editDocumentComment" [isActive]="currentComment[0] == comment" [attr.id]="'comment_'+i"
                        [customMarkers]="CustomMarkers" [classes]="colorClasses" [comment]="comment" [params]="params" [allow_evidence_view]="allow_evidence_view" (onDelete)="onCommentDelete($event)" (onEdit)="onEdit($event)" (retryAddCommentEvent)="retryAddComment($event)"
                        (retryEditCommentEvent)="retryEditComment($event)" (onReplyEdit)="onReplyEdit($event)" (onEditDocumentComment)="documentCommentEdited($event)" (onCancelDocumentComment)="cancelDocumentComment()">
                    </pdf-comment>
                </div>

            </div>
    </div>
    </div>








    </ng-container>
    </div>
    <ng-container *ngIf="ifNoSearchResult">
        <p class="no_search_result">
            {{translation?.vd_no_comments_matched}}
        </p>
    </ng-container>
    <div *ngIf="comments == undefined || comments == null || comments == ''" class="text-center mt-3">
        <img class="tools_opacity" src="assets/pdf/img/empty_box.png">
    </div>

</ng-container>




<!-- <ng-container *ngIf="from == 'document'">
  <ng-container *ngFor="let comment of comments; let i=index;">
   
   <div class="comment-container"  id="{{comment.id}}-comment">
    <div >
      <div class="comm_box" (click)="changeActiveComment(comment)" style="cursor: pointer;">
        <div class="comm_img pointerCur" > 
          <div class="img_box"><img *ngIf="comment?.tryagain!=true" [attr.src]="getUserImgUrl(comment)" width="30">
            <span class="live_user user_{{comment.user_id}}"></span>
          </div>
          <div class="chat_c" *ngIf="comment.replies_count > 0">
            <img src="assets/pdf/img/chat_i.png">
            <span *ngIf="comment.replies_count >= 100">99+</span>
            <span *ngIf="comment.replies_count <= 99">{{comment.replies_count}}</span>
          </div>
        </div>
        <div class="comm_des">
          
          <div class="com_name">
            <div class="name_inner pointerCur" >
              <label [tooltip]=[comment.email]>{{comment.first_name || 'Guest'}} {{comment.last_name}}</label>
              <span class="time_com">{{comment.last_edit_date | date: 'medium'}}</span>
            </div>
      
            <div class="com_opt lis" (click)="changeActiveComment(comment)">
      
              <button> 
                <img *ngIf="comment.type == 'text-comment'" src="assets/pdf/img/chat.svg">
                <img *ngIf="comment.type == 'rect-comment'" style="width: 13px" src="assets/pdf/img/Tool-Rectangle.svg">
              </button>
              <div class="ac_op dropdown" dropdown>
                <span>
                  <button type="button" id="button-basic-circle" dropdownToggle>
                    <i class="comm_circle" [style.backgroundColor]="getTimelineBg(comment)"></i>
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                    aria-labelledby="button-basic-circle">
                    <a (click)="changeCustomMarker('', comment)"><i class="comm_circle grey_cir"
                      [style.background]="'grey'"></i> None <span style="float:right;" *ngIf="comment.none_tag"><img src="assets/pdf/img/blue.svg" width="30"></span></a>
                    <ng-container *ngFor="let marker of customMarkers; let i = index">
                      <a (click)="changeCustomMarker(marker.tag_title, comment)"><i class="comm_circle"
                        [style.background]="colorClasses[i]"></i> {{marker.tag_title}} <span style="float:right;" *ngIf="checkTheMarker(marker, comment)"><img src="assets/pdf/img/blue.svg" width="30"></span></a>
                    </ng-container>
                  </ul>
                </span>
              </div>  
              <div class="ac_op dropdown dot_dp2" dropdown>
                <span>
                  <button type="button" id="button-basic-min" dropdownToggle>
                    <img *ngIf="comment.comment_status=='1'" src="assets/pdf/img/min.svg" width="30">
                    <img *ngIf="comment.comment_status=='2'" src="assets/pdf/img/green.svg" width="30">
                    <img *ngIf="comment.comment_status=='3'" src="assets/pdf/img/red.svg" width="30">
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                    aria-labelledby="button-basic-min">
                    <a (click)="changeStatus('1', comment)">None  <span *ngIf="comment.comment_status=='1'"><img src="assets/pdf/img/blue.svg" width="30"></span></a>
                    <a (click)="changeStatus('2', comment)">Accepted  <span *ngIf="comment.comment_status=='2'"><img src="assets/pdf/img/blue.svg" width="30"></span></a>
                    <a (click)="changeStatus('3', comment)">Rejected  <span *ngIf="comment.comment_status=='3'"><img src="assets/pdf/img/blue.svg" width="30"></span></a>
                  </ul>
                </span>
              </div>  
              <div class="ac_op dropdown dot_dp" dropdown  *ngIf="((comment.created_by==currentUser.id) && from!='tab') || (from!='tab' && permissions.huddle_permission==200 && VideoInfo.h_type==1 && !fromLiveStream)">
                <span>
                  <button type="button" id="button-basic" dropdownToggle>
                    <img src="assets/video-huddle/img/dots_dark.svg" width="30">
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                    aria-labelledby="button-basic">
                    <a
                      [class.disable-container]="comment.ref_type == 6 && comment.encoder_status === 'Processing' && !comment.playable"
                      *ngIf="((comment.created_by==currentUser.id) && from!='tab') || (from!='tab' && permissions.huddle_permission==200 && VideoInfo.h_type==1 && !fromLiveStream)"
                      class="edit_comm fake_link" (click)="openEditComment(comment)">
                        {{translation?.vd_edit}}
                    </a>
             
                    <a
                        *ngIf="(from!='tab' && permissions.huddle_permission==200 && VideoInfo.h_type == 2 ) || (permissions.coachee_permission == '1' && currentUser.id == comment.created_by && from!='tab') || ((currentUser.id == comment.created_by) && from!='tab' ) || (from!='tab' && permissions.huddle_permission==200 && VideoInfo.h_type==1 && !fromLiveStream)"
                        class="delete_comm fake_link" (click)="initiateDelete(confirmDialog, comment)">
                        {{translation?.vd_delete}}
                    </a>
      
                  </ul>
                </span>
              </div>
      
            </div>
          </div>

          <div *ngIf="activeComment.id !== comment.id" class="content-pdf pointerCur">
            <div class="desc" *ngIf="comment.ref_type!=6" [innerHTML]="Urlify(comment.comment)"></div>
           
            <p
                *ngIf="comment.ref_type == 6 && (comment.encoder_status === 'Complete' || (comment.playable && comment.encoder_status !== 'Error'))">
                <audio preload="metadata" controls #audioPlayer>
                    <source [src]="comment.comment">
                    {{translation?.vd_your_browser_does_not}}
                </audio>
            </p>
            <p class="transcode-audio-message"
                *ngIf="comment.ref_type == 6 && comment.encoder_status === 'Processing' && !comment.playable">
                {{translation?.audio_transcoding_in_progress}}
            </p>
            <p class="transcode-audio-message" *ngIf="comment.ref_type == 6 && comment.encoder_status === 'Error'">
                {{translation?.audio_transcoding_failed}}
            </p>
            <span *ngIf="comment.id == '-1'">Posting...</span>
          </div>  
        
        </div>
        </div>

    </div>

   
      <div  id='outBox' class="comm_box" (click)='changeActiveCommentForInputField(comment,$event)'>
        <div *ngIf="activeComment.id === comment.id" class="ml-2">
          <pdf-comment [original_account]="original_account" [from]="from" [VideoInfo]="VideoInfo"
            [permissions]="permissions" [index]="i" [staticFiles]="staticFiles"
            [editDocumentComment] = "editDocumentComment"
            [isActive]="currentComment[0] == comment" [attr.id]="'comment_'+i" [customMarkers]="CustomMarkers"
            [classes]="colorClasses" [comment]="comment" [params]="params" [allow_evidence_view]="allow_evidence_view"
            (onDelete)="onCommentDelete($event)" (onEdit)="onEdit($event)"
            (retryAddCommentEvent)="retryAddComment($event)" (retryEditCommentEvent)="retryEditComment($event)"
            (onReplyEdit)="onReplyEdit($event)" (onEditDocumentComment)="documentCommentEdited($event)" (onCancelDocumentComment)="cancelDocumentComment()">
          </pdf-comment>
        </div>
      
    
    </div>
   </div>
 
 
 
  </ng-container>
</ng-container>  -->























<!-- Modals section start -->
<ng-template #confirmPublishDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        {{translation?.vd_your_comments}} </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolvePublish(0)">
        {{translation?.vd_cancel}}
      </button>
            <button class="btn btn-primary" (click)="ResolvePublish(1)">
        {{translation?.vd_ok}}
      </button>
        </div>
    </div>
</ng-template>
<!-- Modals section end -->






<ng-template #confirmDialog>
    <ng-container *ngIf="showConfirmationDialog; else confirmDialog2 ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{translation?.huddle_list_confirmation_required}}</h4>
                <button type="button" class="close" (click)="modalRef.hide(); Inputs.Confirmation=null; modalDeleteCheck = false;">×</button>


            </div>
            <div class="modal-body">
                <div class="alert_bg singleline row">
                    <div class="col-2">
                        <img src="./assets/img/alert_i.svg">
                    </div>
                    <div class="col-10">
                        <h6> <b> {{translation?.about_to_delete_comment_you_didnt}} </b></h6>
                        <p>{{translation?.about_to_this_cant_be_undone}}</p>
                    </div>
                </div>
                <div class="f_name">
                    <p>{{translation?.huddle_resource_type}} {{Inputs.ConfirmationKey}} {{translation?.huddle_list_to_confrim}}</p>
                    <input type="text" class="form-control" [(ngModel)]="Inputs.Confirmation" (keydown)="TriggerTextChange($event)">
                </div>

            </div>
            <div class="modal-footer hufooter">
                <div class="col-12">
                    <a class="fake_link" (click)="modalRef.hide(); Inputs.Confirmation=null; modalDeleteCheck = false; ">
                       {{translation?.vd_cancel}}
                   </a>
                    <a class="conf_delete fake_link" (click)="ResolveDelete(1)">
                       {{translation?.vd_delete}}
                   </a>
                </div>


            </div>
        </div>
    </ng-container>
</ng-template>

<ng-template #confirmDialog2>


    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide(); modalDeleteCheck = false;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{confirmDeleteMessage}}
    </div>
    <div class="modal-footer text-right">

        <div>
            <button class="btn btn-default" (click)="modalRef.hide(); modalDeleteCheck = false;">
                {{translation?.vd_cancel}}
            </button>
            <button class="btn btn-primary" (click)="ResolveDeleteWithoutConfig(1)" [style.backgroundColor]="primery_button_color">
                {{translation?.vd_ok}}
            </button>
        </div>

    </div>

</ng-template>