.slimscroll-bar{
    height: 150px;
}

.disableButton{
    opacity: 0.2;
}

.errorButton{
    opacity: 0.2;
}

.textd p{
    margin: 0;
    padding: 0;

}


	.cls_row2 .col-md-5 {
    padding-bottom: 24px;
}
.plf15 { padding-left:19px;}
.cls_row2 label, .cls_row2 p{ margin:0;}

.doc_icon img{
    width: 100%;
    max-height: 150px;
    cursor: pointer;
    object-fit: cover;
    height: 150px;
    object-position: 0 0;
    max-width: none !important;
}

.date_passed {
    background-color: #D6EAFF;
    text-align: left;
    padding-left: 16px;
    margin-left: 2px;
    margin-right: -18px;
    height: 40px;
    padding-right: 8px;
    padding-top: 10px;
}
.image {
    width: 25px !important;
    margin-right: 10px !important;
    position: relative !important;
    top: 2px !important;
    float: left !important;
}

/* start */


.video_list_e {
    border-top: 1px solid #ddd;
        padding: 7px 0 8px 0 !important;
    font-size: 14px;
    margin: 0;     font-weight: 300;
    line-height: 20px;
	     /* border-bottom: 1px solid #ddd; */
}

.vide_th_e img {
    border-radius: 4px;
  }

.video_list_e img {
    max-width: 100%;     float: none;
    top: 0;
}



.video_list_e .col-2 {
    padding: 0;
}

.video_heading_e .col-2 {
    padding: 0;
}

.video_list_e .col-7 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 0;
}

.video_list_e .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    margin-top: auto;
    margin-bottom: auto;
}

.video_list_e .col-2 {
    flex: 0 0 25%;
    max-width: 25%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
}

.loop7 .col-3{ right:72px !important;}

	.video_list_e { position:relative;}


	.video_list_e .col-3{ position:absolute; right:67px;     top: 0;
    bottom: 0;
    height: fit-content; white-space: nowrap;     width: 140px;}
.video_list_e .col-2{ position:absolute; right:0px;     top: 0;
    bottom: 0;
    height: fit-content; width: 84px;}

    .loop4 { position:relative;}
.loop4 .col-3{ position:absolute; right:90px;     top: 0;
    bottom: 0;
    height: fit-content; white-space: nowrap;}
.loop4 .col-2{ position:absolute; right:0px;     top: 0;
    bottom: 0;
    height: fit-content;}
    .thumbnail_e {
        background: #e0e0e0;
        height: 65px;
        margin: -1px 0 0 0px;
        border-radius: 4px;
        text-align: center;
        position: relative;
        width: 37%;
        float: left;
    }

    .vide_th_e img {
        height: 65px;
        width: 100%;
        object-fit: cover;
    }

    .vide_th_e img {
        border-radius: 4px;
      }




	.video_thumbnail{    width: 95px !important;
    -ms-flex: 0 0 87%;
    flex: 0 0 99px;
    max-width: 99px;}



	.added_btn{    padding: 5px 2px 4px 2px;
    width: 84px;}
	.added_btn svg { top:0; left:0;}

	.video_heading{    border-bottom: 1px solid #ddd;     position: relative;}

	.video_addbtn svg {
        top: -2px;
}

.added_btn svg{ top:-1px;}
.video_addbtn {    padding: 5px 3px 3px 3px;
    width: 84px;}

.video_heading .col-3 {    position: absolute;
    right: 86px;     width: 136px;
}


.video_list { position:relative;}
.video_list .col-3 {position: absolute;
    right: 86px; white-space:nowrap; height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;     width: 136px;     top: 0;
    bottom: 0;

    margin-top: auto;
    margin-bottom: auto;}


.video_list .col-2 {position: absolute;
    right:0px; white-space:nowrap; height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;     width: 87px;     top: 0;
    bottom: 0;

    margin-top: auto;
    margin-bottom: auto;}
