<div *ngIf="!EditMode" class="comment_box" >
        <textarea autosize   [(ngModel)]="commentTextForModalAdd" (keydown)="TriggerTextChange($event)" [placeholder]="translation?.add_a_note_15" [readonly]="!!!permissions?.isEditingAllowed" [class.custom-disabled]="!!!permissions?.isEditingAllowed" ></textarea>

    <!-- <div *ngIf="!!!permissions?.isEditingAllowed" class="comment_tags 444">

        <div class="tags_icons fake_link custom-disabled" style="transform: rotate(86deg);">
            <span class="oi" data-glyph="tag"></span>
        </div>
        <div class="plusicon fake_link custom-disabled">

            <span class="oi" data-glyph="plus"></span>
        </div>
        <custom-tags [predefinedTags]="presetTags" (Tags)="SetCustomTags($event)"></custom-tags>
        <div class="clear"></div>
    </div> -->
    <!-- <div *ngIf="!!permissions?.isEditingAllowed" class="comment_tags 555">

        <div class="tags_icons fake_link" (click)="mainService.FocusCustomTag()" style="transform: rotate(86deg);">
            <span class="oi" data-glyph="tag"></span>
        </div>
        <div class="plusicon fake_link" (click)="mainService.FocusCustomTag()">

            <span class="oi" data-glyph="plus"></span>
        </div>
        <custom-tags [predefinedTags]="presetTags" (Tags)="SetCustomTags($event)"></custom-tags>
        <div class="clear"></div>
    </div> -->

    <!-- <div *ngIf="!!!permissions?.isEditingAllowed && permissions?.rubric_check" class="comment_tags 666">
        <ng-container *ngIf="permissions?.rubric_check">
            <div class="tags_icons fake_link custom-disabled">
                <img src="assets/img/list-2x.png">
            </div>

            <div class="plusicon fake_link custom-disabled">

                <span class="oi" data-glyph="plus"></span>
            </div>
        </ng-container>
        <div class="tgright">
            <span *ngFor="let rubric of selectedRubrics; let i=index" class="tgouter"> {{rubric.tag_code}} {{rubric.tag_html}}<span class="pull-right cross_span"
                (click)="RemoveSelectedRubric(rubric,i)"> x </span> </span>


        </div>
        <div class="clear"></div>
    </div> -->

    <!-- <div *ngIf="!!permissions?.isEditingAllowed && permissions?.rubric_check" class="comment_tags 777">
        <div class="tag_outer">
            <div class="tag_left_icon">
        <ng-container *ngIf="permissions?.rubric_check">
            <div class="tags_icons fake_link" (click)="ActivateTab(1)">
                <img src="assets/img/list-2x.png">
            </div>

            <div class="plusicon fake_link" (click)="ActivateTab(1)">

                <span class="oi" data-glyph="plus"></span>
            </div>
        </ng-container>
    </div>
        <div class="tgright">
            <span *ngFor="let rubric of selectedRubrics; let i=index" class="tgouter"> {{rubric.tag_code}} {{rubric.tag_html}}<span class="pull-right cross_span"
                (click)="RemoveSelectedRubric(rubric,i)"> x </span> </span>


        </div>
        <div class="clear"></div>



        <div class="clear"></div>
    </div>
    </div> -->


    <!-- <div *ngIf="!!permissions?.isEditingAllowed" class="comment_tags 888">
        <div class="tag_outer">
        <ng-container #fileUploaderAdd>
            <div class="tag_left_icon">
            <fs-uploader [label]="translation?.vd_upload" [source]="'comment'" [configuration]="videoOptions" (onUpload)="AppendNewFiles($event)"></fs-uploader>
        </div>
            <div class="tgright">
                <span *ngFor="let file of newComment.files; let i=index" class="tgouter">
                    <span>
                        {{file.filename || file.title}}
                    </span>
                <span class="pull-right cross_span" (click)="RemoveFileFromComment(file, i)">
                        x
                    </span>
                </span>
            </div>
            <div class="clear"></div>

        </ng-container>
    </div>
    </div> -->

    <!-- <div *ngIf="!!!permissions?.isEditingAllowed">
        <div class="tags_icons fake_link custom-disabled">


            <div class="tags_icons">
                <span class="oi" data-glyph="paperclip"></span>
            </div>
            <div class="plusicon">
                <span class="oi" data-glyph="plus"></span>
            </div>

        </div>

    </div> -->
    <div class="new_comm_sec">
    <div  class="attach_video">
        <button *ngIf="!!!permissions?.isEditingAllowed" class="att1 custom-disabled"   ><svg  xmlns="http://www.w3.org/2000/svg" width="24.034" height="20.229" viewBox="0 0 24.034 20.229">
       <g id="add_tag" data-name="add tag" transform="translate(-157.887 -608)">
         <path id="tag" d="M3.78,2.7A1.08,1.08,0,0,0,2.7,1.62,1.08,1.08,0,0,0,1.62,2.7,1.08,1.08,0,0,0,2.7,3.78,1.08,1.08,0,0,0,3.78,2.7Zm9,4.86a1.034,1.034,0,0,1-.312.759L8.328,12.471a1.081,1.081,0,0,1-.768.312,1.034,1.034,0,0,1-.759-.312L.768,6.429a2.515,2.515,0,0,1-.544-.852A2.605,2.605,0,0,1,0,4.59V1.08A1.038,1.038,0,0,1,.321.321,1.038,1.038,0,0,1,1.08,0H4.59a2.605,2.605,0,0,1,.987.224,2.616,2.616,0,0,1,.861.544l6.033,6.024A1.081,1.081,0,0,1,12.783,7.56Z" transform="translate(170.67 615.446) rotate(90)" fill="#616161"/>
         <text id="_" data-name="+" transform="translate(172.921 624)" fill="#616161" font-size="15" font-family="Roboto-Medium, Roboto" font-weight="500"><tspan x="0" y="0">+</tspan></text>
       </g>
     </svg>
     <i class="arrow-active"></i>
    </button>
    <button *ngIf="!!permissions?.isEditingAllowed" class="att1" [ngClass]="{'active_c': active_class == 1}" (click)="mainService.FocusCustomTag();active_check(1);"><svg xmlns="http://www.w3.org/2000/svg" width="24.034" height="20.229" viewBox="0 0 24.034 20.229">
        <g id="add_tag" data-name="add tag" transform="translate(-157.887 -608)">
          <path id="tag" d="M3.78,2.7A1.08,1.08,0,0,0,2.7,1.62,1.08,1.08,0,0,0,1.62,2.7,1.08,1.08,0,0,0,2.7,3.78,1.08,1.08,0,0,0,3.78,2.7Zm9,4.86a1.034,1.034,0,0,1-.312.759L8.328,12.471a1.081,1.081,0,0,1-.768.312,1.034,1.034,0,0,1-.759-.312L.768,6.429a2.515,2.515,0,0,1-.544-.852A2.605,2.605,0,0,1,0,4.59V1.08A1.038,1.038,0,0,1,.321.321,1.038,1.038,0,0,1,1.08,0H4.59a2.605,2.605,0,0,1,.987.224,2.616,2.616,0,0,1,.861.544l6.033,6.024A1.081,1.081,0,0,1,12.783,7.56Z" transform="translate(170.67 615.446) rotate(90)" fill="#616161"/>
          <text id="_" data-name="+" transform="translate(172.921 624)" fill="#616161" font-size="15" font-family="Roboto-Medium, Roboto" font-weight="500"><tspan x="0" y="0">+</tspan></text>
        </g>
      </svg>
      <i class="arrow-active"></i>
     </button>
        <div *ngIf="!!!permissions?.isEditingAllowed && permissions?.rubric_check" >   <button class="att2 custom-disabled" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="21.767" viewBox="0 0 24 21.767">
       <g id="Group_1530" data-name="Group 1530" transform="translate(0 2.037)">
         <text id="_" data-name="+" transform="translate(15 13.963)" fill="#616161" font-size="15" font-family="Roboto-Medium, Roboto" font-weight="500"><tspan x="0" y="0">+</tspan></text>
         <path id="list" d="M1.8,136.335v1.352a.228.228,0,0,1-.225.225H.225a.217.217,0,0,1-.158-.067A.217.217,0,0,1,0,137.687v-1.352a.216.216,0,0,1,.067-.158.216.216,0,0,1,.158-.067H1.577a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H.225a.216.216,0,0,1-.158-.067A.216.216,0,0,1,0,134.984v-1.352a.216.216,0,0,1,.067-.158.217.217,0,0,1,.158-.067H1.577a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H.225a.216.216,0,0,1-.158-.067A.216.216,0,0,1,0,132.28v-1.352a.216.216,0,0,1,.067-.158.217.217,0,0,1,.158-.067H1.577a.228.228,0,0,1,.225.225Zm10.814,5.407v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352a.228.228,0,0,1,.225-.225h9.462a.228.228,0,0,1,.225.225ZM1.8,128.225v1.352a.228.228,0,0,1-.225.225H.225a.217.217,0,0,1-.158-.067A.217.217,0,0,1,0,129.577v-1.352a.217.217,0,0,1,.067-.158A.217.217,0,0,1,.225,128H1.577a.228.228,0,0,1,.225.225Zm10.814,5.407v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352a.228.228,0,0,1,.225-.225h9.462a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352a.228.228,0,0,1,.225-.225h9.462a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352A.228.228,0,0,1,2.929,128h9.462a.228.228,0,0,1,.225.225Z" transform="translate(0 -118.183)" fill="#616161"/>
       </g>
     </svg><i class="arrow-active"></i></button>
     </div> 
        <div *ngIf="!!permissions?.isEditingAllowed && permissions?.rubric_check" >   <button class="att2" [ngClass]="{'active_c': active_class == 2}" (click)="ActivateTab(1);active_check(2);"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="21.767" viewBox="0 0 24 21.767">
            <g id="Group_1530" data-name="Group 1530" transform="translate(0 2.037)">
              <text id="_" data-name="+" transform="translate(15 13.963)" fill="#616161" font-size="15" font-family="Roboto-Medium, Roboto" font-weight="500"><tspan x="0" y="0">+</tspan></text>
              <path id="list" d="M1.8,136.335v1.352a.228.228,0,0,1-.225.225H.225a.217.217,0,0,1-.158-.067A.217.217,0,0,1,0,137.687v-1.352a.216.216,0,0,1,.067-.158.216.216,0,0,1,.158-.067H1.577a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H.225a.216.216,0,0,1-.158-.067A.216.216,0,0,1,0,134.984v-1.352a.216.216,0,0,1,.067-.158.217.217,0,0,1,.158-.067H1.577a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H.225a.216.216,0,0,1-.158-.067A.216.216,0,0,1,0,132.28v-1.352a.216.216,0,0,1,.067-.158.217.217,0,0,1,.158-.067H1.577a.228.228,0,0,1,.225.225Zm10.814,5.407v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352a.228.228,0,0,1,.225-.225h9.462a.228.228,0,0,1,.225.225ZM1.8,128.225v1.352a.228.228,0,0,1-.225.225H.225a.217.217,0,0,1-.158-.067A.217.217,0,0,1,0,129.577v-1.352a.217.217,0,0,1,.067-.158A.217.217,0,0,1,.225,128H1.577a.228.228,0,0,1,.225.225Zm10.814,5.407v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352a.228.228,0,0,1,.225-.225h9.462a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352a.228.228,0,0,1,.225-.225h9.462a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352A.228.228,0,0,1,2.929,128h9.462a.228.228,0,0,1,.225.225Z" transform="translate(0 -118.183)" fill="#616161"/>
            </g>
          </svg><i class="arrow-active"></i></button>
          </div> 
             <div *ngIf="!!!permissions?.isEditingAllowed">   <button class="att3 custom-disabled"  >   
                <svg xmlns="http://www.w3.org/2000/svg" width="22.805" height="22.706" viewBox="0 0 22.805 22.706">
                    <g id="Group_1563" data-name="Group 1563" transform="translate(-197 -1039.659)">
                      <g id="Group_1538" data-name="Group 1538" transform="translate(197 1044)">
                        <g id="Group_1531" data-name="Group 1531">
                          <g id="Group_1530" data-name="Group 1530" transform="translate(0 0)">
                            <path id="paperclip" d="M8.127,0A3.311,3.311,0,0,0,5.834.96L1.313,5.383a4.462,4.462,0,0,0,6.311,6.311L9.656,9.661,8.534,8.539,6.647,10.377l-.146.211A2.858,2.858,0,0,1,2.435,6.571L6.956,2.1A1.679,1.679,0,0,1,9.3,2.1a1.65,1.65,0,0,1,0,2.293L5.232,8.409a.437.437,0,0,1-.618-.618l.1-.049,1.48-1.529L5.07,5.091,3.492,6.668A2.013,2.013,0,0,0,6.338,9.515L10.4,5.546A3.245,3.245,0,0,0,8.111.016Z" transform="translate(-0.008 5.366)" fill="#616161"/>
                            <text id="_" data-name="+" transform="translate(13.805 12.659)" fill="#616161" font-size="16" font-family="Roboto-Medium, Roboto" font-weight="500"><tspan x="0" y="0">+</tspan></text>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg><i class="arrow-active"></i>
                 </button> 
                 
             </div> 
        <div *ngIf="!!permissions?.isEditingAllowed">   <button class="att3" [ngClass]="{'active_c': active_class == 3}" (click)="active_check(3);">  
             <fs-uploader [label]="translation?.vd_upload" [source]="'comment'" [configuration]="videoOptions" (onUpload)="AppendNewFiles($event)" [actv_class]="active_class"></fs-uploader>
     
        </button> 
        
    </div> 
     <div class="clear"></div>
             </div>
              
            <div *ngIf="!!!permissions?.isEditingAllowed" class="btn-group btn-group-toggle reaction_btn" data-toggle="buttons">
                 <ng-container *ngFor="let marker of customMarkers; let i = index">
                 <label 	[tooltip]="marker.tag_title"  [tooltipEnable]="marker.tooltipEnable"
                 class="btn btn-secondary " [style.backgroundColor]="getMarkerBg(marker, i)">
           
                    <span  class="custom_tag custom-disabled"
                        [ngStyle]="{'border-color': markerColors[i]}" ></span>
                    <span> {{marker.tag_title}}
                    </span>
               
          </label>
           </ng-container>
                
                
                
                </div>
                <div *ngIf="permissions?.AllowCustomMarkers && !!permissions?.isEditingAllowed" class="btn-group btn-group-toggle reaction_btn" data-toggle="buttons">
                     <ng-container *ngFor="let marker of customMarkers; let i = index">
                     <label 	[tooltip]="marker.tag_title"  [tooltipEnable]="marker.tooltipEnable"
                     class="btn btn-secondary " [style.backgroundColor]="getMarkerBg(marker, i)" [ngClass]="{'active': marker ==selectedTag}" (click)="ChooseCustomTag(marker)">
               
                        <span  class="custom_tag"
                            [ngStyle]="{'border-color': markerColors[i]}" ></span>
                        <span (mouseenter)="textWidth(marker,i)" (mouseLeave)="marker.tooltipEnable=false;" [id]="'text-width'+i"> {{marker.tag_title}}
                        </span>
                   
              </label>
               </ng-container>
                    
                    
                    
                    </div>
 
                    <div class="add_com_btn larg_sc">
              
              
        
                        <div class="add_comm_btn"   *ngIf="!EditMode">
                            <a *ngIf="!!!permissions?.isEditingAllowed" class="fake_link custom-disabled" [style.backgroundColor]="primery_button_color">{{translation?.vd_add}}</a>
                        
                            <a *ngIf="!!permissions?.isEditingAllowed" class="fake_link" (click)="AddTextComment()" [style.backgroundColor]="primery_button_color">{{translation?.vd_add}}</a>
                        </div>
                  
                  <div class="btn-group opt_in" dropdown>
                      <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle" aria-controls="dropdown-basic"
                          >
          
                          <img src="assets/img/dot.svg">
                      </div>
                      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu settingsMenu" role="menu" aria-labelledby="button-basic">
                        <li role="menuitem" (click)="settings.EnterToPost=!settings.EnterToPost" class="fake_link" style="width: 100%;">
                            <span class="dropdown-item">{{translation?.vd_press_enter}}
                                <span *ngIf="settings.EnterToPost" class="oi pull-right"
                                    data-glyph="check" title="" aria-hidden="true"></span>
                            </span>
                        </li>
                    </ul>
                  </div>
                        
                  <div class="clear"></div>
                       </div> 
                       
                       
                       <div class="clear"></div>
             
                    <div class="tags_div tags_clk3">
                         <custom-tags [predefinedTags]="presetTags" (Tags)="SetCustomTags($event)" [active]="active_class">
                       </custom-tags> 
                    </div>
                    <div *ngIf="active_class == 2"  class="pouter">
                        <span *ngIf="selectedRubrics.length < 4">   <span *ngFor="let rubric of selectedRubrics; let i=index" 
                               class="tag_rounded full_width">
                               {{rubric.tag_code}} {{rubric.tag_html}}<span class="pull-right cross_span"
                                   (click)="RemoveSelectedRubric(rubric,i)"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="7" viewBox="0 0 7 7">
             <defs>
               <clipPath id="clip-path">
                 <path id="Path_29" data-name="Path 29" d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z" transform="translate(0 11)" fill="#919191"/>
               </clipPath>
               <clipPath id="clip-path-2">
                 <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z" transform="translate(1057 483)" fill="#919191"/>
               </clipPath>
             </defs>
             <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
               <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)" clip-path="url(#clip-path-2)">
                 <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z" transform="translate(674.455 313.182)" fill="#919191"/>
               </g>
             </g>
           </svg>
                               </span>
                           </span>
                       </span>
                       <span *ngIf="selectedRubrics.length > 3">
                           <span *ngFor="let rubric of selectedRubrics| slice:0:3; let i=index" 
                           class="tag_rounded ">
                           {{rubric.tag_code}} {{rubric.tag_html}}<span class="pull-right cross_span"
                (click)="RemoveSelectedRubric(rubric,i)"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="7" viewBox="0 0 7 7">
  <defs>
    <clipPath id="clip-path">
      <path id="Path_29" data-name="Path 29" d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z" transform="translate(0 11)" fill="#919191"/>
    </clipPath>
    <clipPath id="clip-path-2">
      <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z" transform="translate(1057 483)" fill="#919191"/>
    </clipPath>
  </defs>
  <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
    <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)" clip-path="url(#clip-path-2)">
      <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z" transform="translate(674.455 313.182)" fill="#919191"/>
    </g>
  </g>
</svg>
            </span>
                       </span>
                       <a class="tag_popup" (click)="opentagsModal()">
                           {{selectedRubrics.length-3 + " more..."}}  
                       </a>
                   </span>
                           </div>
                           
                           <div *ngIf="active_class == 3" class="">
                            <span *ngIf="newComment.files">
                               <span *ngIf="newComment.files.length < 4">
                                   <span *ngFor="let file of newComment.files; let i=index" class="tgouter">
                                       <span>
                                           {{file.filename || file.title}}
                                       </span>
                                       <span class="pull-right cross_span" (click)="RemoveFileFromComment(file, i)">
                                           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="7" viewBox="0 0 7 7">
             <defs>
               <clipPath id="clip-path">
                 <path id="Path_29" data-name="Path 29" d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z" transform="translate(0 11)" fill="#919191"/>
               </clipPath>
               <clipPath id="clip-path-2">
                 <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z" transform="translate(1057 483)" fill="#919191"/>
               </clipPath>
             </defs>
             <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
               <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)" clip-path="url(#clip-path-2)">
                 <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z" transform="translate(674.455 313.182)" fill="#919191"/>
               </g>
             </g>
           </svg>
                                       </span>
                                   </span>
                               </span>
                            </span>
                            <span *ngIf="newComment.files">
                                   <span *ngIf="newComment.files.length > 3"> 
                                   <span *ngFor="let file of newComment.files| slice:0:3; let i=index" class="tgouter">
                                       <span>
                                           {{file.filename || file.title}}
                                       </span>
                                       <span class="pull-right cross_span" (click)="RemoveFileFromComment(file, i)">
                                           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="7" viewBox="0 0 7 7">
             <defs>
               <clipPath id="clip-path">
                 <path id="Path_29" data-name="Path 29" d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z" transform="translate(0 11)" fill="#919191"/>
               </clipPath>
               <clipPath id="clip-path-2">
                 <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z" transform="translate(1057 483)" fill="#919191"/>
               </clipPath>
             </defs>
             <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
               <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)" clip-path="url(#clip-path-2)">
                 <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z" transform="translate(674.455 313.182)" fill="#919191"/>
               </g>
             </g>
           </svg>
                                       </span>
                                   </span>
                                   <a class="tag_popup" (click)="opentagsModal()">
                                       {{newComment.files.length-3 + " more..."}}  
                                   </a>
                               
                           </span>
                           </span>
                               </div>
                        
    </div>
</div>


<!-- Edit Mode -->

<div *ngIf="EditMode" class="comment_box">

    <textarea autosize  [(ngModel)]="commentTextForModal" (keydown)="TriggerTextChange($event)" [placeholder]="translation?.vd_plcholder_add_comment"></textarea>

    <!-- <div class="comment_tags 111">

        <div class="tags_icons fake_link" (click)="mainService.FocusCustomTag()" >
            <span class="oi" data-glyph="tag"></span>
        </div>
        <div class="plusicon fake_link" (click)="mainService.FocusCustomTag()">

            <span class="oi" data-glyph="plus"></span>
        </div>
        <custom-tags [predefinedTags]="presetTags" (Tags)="SetCustomTags($event)"></custom-tags>
        <div class="clear"></div>
    </div> -->

    <!-- <div class="comment_tags 222">
        <ng-container *ngIf="permissions?.rubric_check">
            <div class="tags_icons fake_link" (click)="ActivateTab(1)">
                <img src="assets/img/list-2x.png">
            </div>

            <div class="plusicon fake_link" (click)="ActivateTab(1)">

                <span class="oi" data-glyph="plus"></span>
            </div>
        </ng-container>
        <div class="tgright">
            <span *ngFor="let rubric of selectedRubrics; let i=index" class="tgouter"> {{rubric.tag_code}} {{rubric.tag_html}}<span class="pull-right cross_span"
        (click)="RemoveSelectedRubric(rubric,i)"> x </span> </span>


        </div>
        <div class="clear"></div>


        <div class="clear"></div>
    </div> -->

    <!-- <div class="comment_tags edit_scr 333">


        <ng-container #fileUploaderEdit>
            <div class="edit_scr_img">
            <fs-uploader [label]="translation?.vd_upload" [source]="'comment'" [configuration]="videoOptions" (onUpload)="AppendNewFiles($event)"></fs-uploader>
        </div>
            <div class="tgright">
                <span *ngFor="let file of selectedFiles; let i=index" class="tgouter">
                    <span>
                        {{file.filename || file.title}}
                    </span>
                <span class="pull-right cross_span" (click)="RemoveFileFromComment(file, i)">
                        x
                    </span>
                </span>
            </div>
            <div class="clear"></div>
        </ng-container>
    </div> -->
    <div class="new_comm_sec">
        <div  class="attach_video">
     
        <button  class="att1" [ngClass]="{'active_c': active_class == 1}" (click)="mainService.FocusCustomTag();active_check(1);"><svg  xmlns="http://www.w3.org/2000/svg" width="24.034" height="20.229" viewBox="0 0 24.034 20.229">
            <g id="add_tag" data-name="add tag" transform="translate(-157.887 -608)">
              <path id="tag" d="M3.78,2.7A1.08,1.08,0,0,0,2.7,1.62,1.08,1.08,0,0,0,1.62,2.7,1.08,1.08,0,0,0,2.7,3.78,1.08,1.08,0,0,0,3.78,2.7Zm9,4.86a1.034,1.034,0,0,1-.312.759L8.328,12.471a1.081,1.081,0,0,1-.768.312,1.034,1.034,0,0,1-.759-.312L.768,6.429a2.515,2.515,0,0,1-.544-.852A2.605,2.605,0,0,1,0,4.59V1.08A1.038,1.038,0,0,1,.321.321,1.038,1.038,0,0,1,1.08,0H4.59a2.605,2.605,0,0,1,.987.224,2.616,2.616,0,0,1,.861.544l6.033,6.024A1.081,1.081,0,0,1,12.783,7.56Z" transform="translate(170.67 615.446) rotate(90)" fill="#616161"/>
              <text id="_" data-name="+" transform="translate(172.921 624)" fill="#616161" font-size="15" font-family="Roboto-Medium, Roboto" font-weight="500"><tspan x="0" y="0">+</tspan></text>
            </g>
          </svg>
          <i class="arrow-active"></i>
         </button>
        
            <div *ngIf="permissions?.rubric_check" >   <button class="att2" [ngClass]="{'active_c': active_class == 2}" (click)="active_check(2);"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="21.767" viewBox="0 0 24 21.767">
                <g id="Group_1530" data-name="Group 1530" transform="translate(0 2.037)">
                  <text id="_" data-name="+" transform="translate(15 13.963)" fill="#616161" font-size="15" font-family="Roboto-Medium, Roboto" font-weight="500"><tspan x="0" y="0">+</tspan></text>
                  <path id="list" d="M1.8,136.335v1.352a.228.228,0,0,1-.225.225H.225a.217.217,0,0,1-.158-.067A.217.217,0,0,1,0,137.687v-1.352a.216.216,0,0,1,.067-.158.216.216,0,0,1,.158-.067H1.577a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H.225a.216.216,0,0,1-.158-.067A.216.216,0,0,1,0,134.984v-1.352a.216.216,0,0,1,.067-.158.217.217,0,0,1,.158-.067H1.577a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H.225a.216.216,0,0,1-.158-.067A.216.216,0,0,1,0,132.28v-1.352a.216.216,0,0,1,.067-.158.217.217,0,0,1,.158-.067H1.577a.228.228,0,0,1,.225.225Zm10.814,5.407v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352a.228.228,0,0,1,.225-.225h9.462a.228.228,0,0,1,.225.225ZM1.8,128.225v1.352a.228.228,0,0,1-.225.225H.225a.217.217,0,0,1-.158-.067A.217.217,0,0,1,0,129.577v-1.352a.217.217,0,0,1,.067-.158A.217.217,0,0,1,.225,128H1.577a.228.228,0,0,1,.225.225Zm10.814,5.407v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352a.228.228,0,0,1,.225-.225h9.462a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352a.228.228,0,0,1,.225-.225h9.462a.228.228,0,0,1,.225.225Zm0-2.7v1.352a.228.228,0,0,1-.225.225H2.929a.228.228,0,0,1-.225-.225v-1.352A.228.228,0,0,1,2.929,128h9.462a.228.228,0,0,1,.225.225Z" transform="translate(0 -118.183)" fill="#616161"/>
                </g>
              </svg><i class="arrow-active"></i></button>
              </div> 
            <div >   <button class="att3" [ngClass]="{'active_c': active_class == 3}" (click)="active_check(3);">  
                 <fs-uploader [label]="translation?.vd_upload" [source]="'comment'" [configuration]="videoOptions" (onUpload)="AppendNewFiles($event)" [actv_class]="active_class"></fs-uploader>
         
            </button> 
            
        </div> 
         <div class="clear"></div>
                 </div>
                  
             
                    <div *ngIf="permissions?.AllowCustomMarkers" class="btn-group btn-group-toggle reaction_btn" data-toggle="buttons">
                         <ng-container *ngFor="let marker of customMarkers; let i = index">
                         <label 	[tooltip]="marker.tag_title"  [tooltipEnable]="marker.tooltipEnable"
                         class="btn btn-secondary " [style.backgroundColor]="getMarkerBg(marker, i)" [ngClass]="{'active': marker ==selectedTag}" (click)="ChooseCustomTag(marker)">
                   
                            <span  class="custom_tag"
                                [ngStyle]="{'border-color': markerColors[i]}" ></span>
                            <span (mouseenter)="textWidth(marker,i)" (mouseLeave)="marker.tooltipEnable=false;" [id]="'text-width'+i"> {{marker.tag_title}}
                            </span>
                       
                  </label>
                   </ng-container>
                        
                        
                        
                        </div>
     
                        <div class="add_com_btn larg_sc">
                  
                  
            
                            <div class="add_comm_btn"   *ngIf="!EditMode">
                                <a *ngIf="!!!permissions?.isEditingAllowed" class="fake_link custom-disabled" [style.backgroundColor]="primery_button_color">{{translation?.vd_add}}</a>
                            
                                <a *ngIf="!!permissions?.isEditingAllowed" class="fake_link" (click)="AddTextComment()" [style.backgroundColor]="primery_button_color">{{translation?.vd_add}}</a>
                            </div>
                      
                      <div class="btn-group opt_in" dropdown>
                          <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle" aria-controls="dropdown-basic"
                              >
              
                              <img src="assets/img/dot.svg">
                          </div>
                          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu settingsMenu" role="menu" aria-labelledby="button-basic">
                            <li role="menuitem" (click)="settings.EnterToPost=!settings.EnterToPost" class="fake_link" style="width: 100%;">
                                <span class="dropdown-item">{{translation?.vd_press_enter}}
                                    <span *ngIf="settings.EnterToPost" class="oi pull-right"
                                        data-glyph="check" title="" aria-hidden="true"></span>
                                </span>
                            </li>
                        </ul>
                      </div>
                            
                      <div class="clear"></div>
                           </div> 
                           
                           
                           <div class="clear"></div>
                 
                        <div class="tags_div tags_clk3">
                             <custom-tags [predefinedTags]="presetTags" (Tags)="SetCustomTags($event)" [active]="active_class">
                           </custom-tags> 
                        </div>
                        <div *ngIf="active_class == 2"  class="pouter">
                            <span *ngIf="selectedRubrics.length < 4">   <span *ngFor="let rubric of selectedRubrics; let i=index" 
                                   class="tag_rounded full_width">
                                   {{rubric.tag_code}} {{rubric.tag_html}}<span class="pull-right cross_span"
                                       (click)="RemoveSelectedRubric(rubric,i)"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="7" viewBox="0 0 7 7">
                 <defs>
                   <clipPath id="clip-path">
                     <path id="Path_29" data-name="Path 29" d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z" transform="translate(0 11)" fill="#919191"/>
                   </clipPath>
                   <clipPath id="clip-path-2">
                     <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z" transform="translate(1057 483)" fill="#919191"/>
                   </clipPath>
                 </defs>
                 <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
                   <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)" clip-path="url(#clip-path-2)">
                     <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z" transform="translate(674.455 313.182)" fill="#919191"/>
                   </g>
                 </g>
               </svg>
                                   </span>
                               </span>
                           </span>
                           <span *ngIf="selectedRubrics.length > 3">
                               <span *ngFor="let rubric of selectedRubrics| slice:0:3; let i=index" 
                               class="tag_rounded full_width">
                               {{rubric.tag_code}} {{rubric.tag_html}}<span class="pull-right cross_span"
                                   (click)="RemoveSelectedRubric(rubric,i)"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="7" viewBox="0 0 7 7">
                 <defs>
                   <clipPath id="clip-path">
                     <path id="Path_29" data-name="Path 29" d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z" transform="translate(0 11)" fill="#919191"/>
                   </clipPath>
                   <clipPath id="clip-path-2">
                     <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z" transform="translate(1057 483)" fill="#919191"/>
                   </clipPath>
                 </defs>
                 <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
                   <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)" clip-path="url(#clip-path-2)">
                     <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z" transform="translate(674.455 313.182)" fill="#919191"/>
                   </g>
                 </g>
               </svg>
                               </span>
                           </span>
                           <a class="tag_popup" (click)="opentagsModal()">
                               {{selectedRubrics.length-3 + " more..."}}  
                           </a>
                       </span>
                               </div>
                               
                               <div *ngIf="active_class == 3" class=""> 
                                   <span *ngIf="newComment.files.length < 4">
                                       <span *ngFor="let file of newComment.files; let i=index" class="tgouter">
                                           <span>
                                               {{file.filename || file.title}}
                                           </span>
                                           <span class="pull-right cross_span" (click)="RemoveFileFromComment(file, i)">
                                               <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="7" viewBox="0 0 7 7">
                 <defs>
                   <clipPath id="clip-path">
                     <path id="Path_29" data-name="Path 29" d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z" transform="translate(0 11)" fill="#919191"/>
                   </clipPath>
                   <clipPath id="clip-path-2">
                     <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z" transform="translate(1057 483)" fill="#919191"/>
                   </clipPath>
                 </defs>
                 <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
                   <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)" clip-path="url(#clip-path-2)">
                     <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z" transform="translate(674.455 313.182)" fill="#919191"/>
                   </g>
                 </g>
               </svg>
                                           </span>
                                       </span>
                                   </span>
                              
                                       <span *ngIf="newComment.files.length > 3"> 
                                       <span *ngFor="let file of newComment.files| slice:0:3; let i=index" class="tgouter">
                                           <span>
                                               {{file.filename || file.title}}
                                           </span>
                                           <span class="pull-right cross_span" (click)="RemoveFileFromComment(file, i)">
                                               <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="7" viewBox="0 0 7 7">
                 <defs>
                   <clipPath id="clip-path">
                     <path id="Path_29" data-name="Path 29" d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z" transform="translate(0 11)" fill="#919191"/>
                   </clipPath>
                   <clipPath id="clip-path-2">
                     <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z" transform="translate(1057 483)" fill="#919191"/>
                   </clipPath>
                 </defs>
                 <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
                   <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)" clip-path="url(#clip-path-2)">
                     <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z" transform="translate(674.455 313.182)" fill="#919191"/>
                   </g>
                 </g>
               </svg>
                                           </span>
                                       </span>
                                       <a class="tag_popup" (click)="opentagsModal()">
                                           {{newComment.files.length-3 + " more..."}}  
                                       </a>
                                   
                               </span>
                                   </div>
                            
        </div>
</div>
<!-- <div class="add_comm_btn"   *ngIf="!EditMode">
    <a *ngIf="!!!permissions?.isEditingAllowed" class="fake_link btn-default custom-disabled" [style.backgroundColor]="primery_button_color">{{translation?.vd_add}}</a>

    <a *ngIf="!!permissions?.isEditingAllowed" class="fake_link" (click)="AddTextComment()" [style.backgroundColor]="primery_button_color">{{translation?.vd_add}}</a>
</div> -->
<div class="clear"></div>
<div class="add_com_btn small_sc ">
                  
                  
            
  <div class="add_comm_btn"   *ngIf="!EditMode">
      <a *ngIf="!!!permissions?.isEditingAllowed" class="fake_link custom-disabled" [style.backgroundColor]="primery_button_color">{{translation?.vd_add}}</a>
  
      <a *ngIf="!!permissions?.isEditingAllowed" class="fake_link" (click)="AddTextComment()" [style.backgroundColor]="primery_button_color">{{translation?.vd_add}}</a>
  </div>

<div class="btn-group opt_in" dropdown>
<div id="button-basic" dropdownToggle class="comm_options dropdown-toggle" aria-controls="dropdown-basic">

    <img src="assets/img/dot.svg">
</div>
<ul id="dropdown-basic" *dropdownMenu class="dropdown-menu settingsMenu" role="menu" aria-labelledby="button-basic">
  <li role="menuitem" (click)="settings.EnterToPost=!settings.EnterToPost" class="fake_link" style="width: 100%;">
      <span class="dropdown-item">{{translation?.vd_press_enter}}
          <span *ngIf="settings.EnterToPost" class="oi pull-right"
              data-glyph="check" title="" aria-hidden="true"></span>
      </span>
  </li>
</ul>
</div>
  
<div class="clear"></div>
 </div> 
<div class="add_comm_btn btn_sc" *ngIf="EditMode">
    <a class="simple_btn" (click)="EditTextComment(0)">{{translation?.vd_cancel}}</a>
    <a class="fake_link" (click)="EditTextComment()" [style.backgroundColor]="primery_button_color">{{translation?.vd_update}}</a>
</div>

<div class="clear"></div>



<ng-template #confirmDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{translation?.vd_are_sure_that}}
    </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolveDeleteFile(0)">
                {{translation?.vd_cancel}}
            </button>
            <button class="btn btn-primary" (click)="ResolveDeleteFile(1)">
                {{translation?.vd_ok}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #selectedrubricsTemplate>
    <div class="modal-header">
     <h4 *ngIf="active_class == 2" class="modal-title">Framework Standards</h4>
     <h4 *ngIf="active_class == 3" class="modal-title">Attachments</h4>
      <button type="button" class="close" (click)="modalRef.hide()" data-dismiss="modal">&times;</button>
     
    </div>
    
     <div class="modal-body">
         
         <div class="tags_div">
             <span *ngIf="active_class == 2">
            <span *ngFor="let rubric of selectedRubrics; let i=index" 
            class="tag_rounded">
            {{rubric.tag_code}} {{rubric.tag_html}}<span class="pull-right cross_span"
                (click)="RemoveSelectedRubric(rubric,i)"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="7" viewBox="0 0 7 7">
  <defs>
    <clipPath id="clip-path">
      <path id="Path_29" data-name="Path 29" d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z" transform="translate(0 11)" fill="#919191"/>
    </clipPath>
    <clipPath id="clip-path-2">
      <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z" transform="translate(1057 483)" fill="#919191"/>
    </clipPath>
  </defs>
  <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
    <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)" clip-path="url(#clip-path-2)">
      <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z" transform="translate(674.455 313.182)" fill="#919191"/>
    </g>
  </g>
</svg>
            </span>
        </span>
    </span>
        <span *ngIf="active_class == 3"> 
        <span *ngFor="let file of newComment.files; let i=index" class="tgouter">
            <span>
                {{file.filename || file.title}}
            </span>
            <span class="pull-right cross_span" (click)="RemoveFileFromComment(file, i)">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="7" viewBox="0 0 7 7">
  <defs>
    <clipPath id="clip-path">
      <path id="Path_29" data-name="Path 29" d="M7-5.367a.545.545,0,0,1-.165.4l-.8.8a.545.545,0,0,1-.4.165.546.546,0,0,1-.4-.165L3.5-5.9,1.768-4.165a.545.545,0,0,1-.4.165.545.545,0,0,1-.4-.165l-.8-.8A.545.545,0,0,1,0-5.367a.545.545,0,0,1,.165-.4L1.9-7.5.165-9.232A.546.546,0,0,1,0-9.633a.545.545,0,0,1,.165-.4l.8-.8a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165L3.5-9.1l1.732-1.732a.545.545,0,0,1,.4-.165.545.545,0,0,1,.4.165l.8.8a.545.545,0,0,1,.165.4.545.545,0,0,1-.165.4L5.1-7.5,6.835-5.768A.545.545,0,0,1,7-5.367Z" transform="translate(0 11)" fill="#919191"/>
    </clipPath>
    <clipPath id="clip-path-2">
      <path id="Path_28" data-name="Path 28" d="M-1057,89.727h763.636V-483H-1057Z" transform="translate(1057 483)" fill="#919191"/>
    </clipPath>
  </defs>
  <g id="Group_26" data-name="Group 26" clip-path="url(#clip-path)">
    <g id="Group_25" data-name="Group 25" transform="translate(-672.636 -300.364)" clip-path="url(#clip-path-2)">
      <path id="Path_27" data-name="Path 27" d="M-5-2.636H8.364V-16H-5Z" transform="translate(674.455 313.182)" fill="#919191"/>
    </g>
  </g>
</svg>
            </span>
        </span>
    </span>
          
       </div>
           

     </div>

    
</ng-template>
