textarea{
	border: 0;
    width: 100%;
    height: 80px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.09) inset;
    box-shadow: 0 0px 0px rgba(0,0,0,0.09) inset;
    padding: 0;
    color: #919191;
    resize: none;
	min-height:70px;
}
.small_sc{
    display: none;
}
.custom-disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
 }

.disabled-btn {
    opacity: 0.5;
    cursor: not-allowed !important;
    /* background-color: rgb(61, 171, 0); */
 }

.comment_box {   float: left;
    width: 100%;    }

.filname  {position: relative;
    padding-left: 0;
    padding: 0 15px 0 0;
    margin-left: 15px;
    top: -2px;}

    .btn_resources_upload_wrapper .dropdown-menu{ min-width: 100px; }

    
.tgright {
    padding-left: 31px;
}

.clear {
    clear: both;
}

.tgouter {
       border: solid 1px #ccc;
    border-radius: 3px;
    padding: 2px 18px 1px 5px;
    vertical-align: top;
    margin: 4px 4px 0 0;
    display: inline-block;
    max-width: 24%;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

    .cross_span {
    cursor: pointer;
}
.tag_rounded {    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative; white-space:nowrap;}

  
.tag_outer { position:relative; min-height: 24px;}
.tag_outer .tag_left_icon{ position:absolute; left:0;}


.btn_mark a{position: relative;
    top: -26px;}

    .attach_video {
        float: left;
      display: flex; width:auto;
  }
  .attach_video button {
    background: none;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    outline: 0;
    cursor: pointer;
    height: 35px;
    position: relative;
    float: left;
    width: 38px;
    margin-right: 6px;
  }
  .reaction_btn {
    padding: 2px 0 0 6px;
    float: left;
    
  }
  
  
  
       .reaction_btn .btn-secondary {
          border-color: #cccccc;
          background: #fff;
          color: #484848;
             padding-right: 7px;
      padding-left: 7px;
    
      font-size: 14px;
      text-align: center;
             padding-top: 7px;
      padding-bottom: 0px; 
      font-family: 'Roboto';
  
      }
      .reaction_btn .btn-secondary span:last-child{ display: inline-block;
      padding-left: 2px;
      max-width: 74px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;}
      
      .reaction_btn .btn-secondary .custom_tag{   
           top: 4px;
        float: left;
    position: relative;
    }
  
      .reaction_btn .active { color:#fff;}
      .reaction_btn .active span { color:#fff !important;}
      .reaction_btn .active .custom_tag { border-color:#fff !important;}
       
       .reaction_btn .custom_tag { margin-left:0;}
       
       
      .add_com_btn .dropdown-toggle::after { display:none;}
      
      
      .add_com_btn {    float: right;
      width: 112px;     }
      
   .add_com_btn .comm_options{    border-radius: 4px;
      border: 1px solid #dddddd;     padding: 4px 8px 4px 9px; height: 35px;
      display: flex;}  	
  
   .add_com_btn  .dropdown-menu.show{    left: inherit!important;
      right: 0 !important;}
      .incs{ display:none;}
      .small_sc {   width: auto;padding-top: 4px;}
      .opt_in { float:right; margin-right:10px;}
      
      
      .attach_video .att1 svg{ position:absolute;     top: 5px;left: 6px;}
      .attach_video .att2 svg{     position: absolute;
      top: -1px;
      left: 6px;
      width: 27px;
      height: 27px;}
      
      
      @media screen and (max-width: 1500px){
          
      .larg_sc { display:none;}
      .small_sc {   width: auto; display:block;padding-top: 20px;}	
      .add_com_btn .comm_options{ margin-right:7px;}
      .add_com_btn  .dropdown-menu.show{    left: inherit!important;
      right: 6px !important;}	
      
      .incs{ display:inline-block;}
      
          
      }
       
       
       @media screen and (max-width: 1400px){
           
            .reaction_btn .btn-secondary {
          padding:7px 4px 3px 4px;
          
      }
           
           
       }
       
  @media screen and (max-width: 1200px){
      
      .reaction_btn{
     
          float: left;
      
      padding: 2px 0 0 0;
  }
  .reaction_btn .btn-secondary {
      border-color: #cccccc;
      background: #fff;
      color: #484848;
      padding-right: 4px;
      padding-left: 4px;
      font-size: 12px;
      text-align: center;
     
  }
  
      .reaction_btn .btn-secondary .custom_tag{top: -3px;
   }
      
      
  }
  .btn_sc{
      padding-top: 20px;
  }