<div class="">
    <video-huddle-details-header [parentFolderId]="parentFolderId"></video-huddle-details-header>
    <div class="tabs_bar artifact ">
        <div class="row ">
            <div class="col-md-6 ">
                <ul class="nav nav-tabs ">

                    <li class="nav-item ">
                        <a class="animate_me ar_an " *ngIf="!artifacts_name "></a>
                        <a *ngIf="artifacts_name " [class.active]=true>{{translation.artifact_af_title}}</a>
                    </li>
                    <li class="nav-item itm2 " *ngIf="huddle_type!=3 ">


                        <a *ngIf="artifacts_name && huddle_type!=3 " [routerLink]="['/video_huddles/huddle/details/'+ huddle_id +'/discussions/list']" [queryParams]="{sort: 'topic', goalEvidence: goalEvidence, folderId: folderId, tab: 'discussion'}">{{translation.artifact_discussions}}</a>
                    </li>
                    <li class="nav-item itm2 " *ngIf="huddle_type!=3 && cirqLiveData && cirqLiveData.account_id">
                      <a *ngIf="artifacts_name && browserAgent !== 'safari'" [routerLink]="['/video_huddles/huddle/details/' + huddle_id + '/conferencing']" [queryParams]="{folderId: folderId}">Conferences</a>
                      <a *ngIf="huddle_name && browserAgent === 'safari'" target="blank" [href]="cirqPath">Conferences</a>
                    </li>
                    <li class="nav-item itm2 " *ngIf="!artifacts_name ">
                        <a class="animate_me ar_dc " *ngIf="!artifacts_name "></a>
                    </li>

                </ul>
            </div>
            <div class="col-md-6 hu_ac hu_ac_v2 " *ngIf="!addBtnPermissionLoaded || !translationLoaded ">
                <div class="hu_ac animate_me add-btn-loader "></div>
            </div>
            <div *ngIf="addBtnPermissionLoaded && translationLoaded" class="col-md-6 hu_ac tr123" [ngClass]="{'hu_ac_v2': userAccountLevelRoleId !='125' && !(viewerObj?.role_id==220 && viewerObj.huddle_type=='1' )}">
                <a (click)="openActivityModal() " class="sepline "> <img src="assets/video-huddle/img/activity_gry.svg ">
                    {{translation.artifact_activity}}
                </a>
                <a (click)="Onclickonparticipant() " [ngClass]="{sepline: userAccountLevelRoleId !='125' && !(viewerObj?.role_id==220 && viewerObj.huddle_type=='1' )} "> <img src="assets/video-huddle/img/parti_gry.svg "> {{translation.artifact_participants}} </a>
                <a (click)="openNewFolderModal()" class="new_fol_huddle fake_link sepline" [tooltip]="translation?.huddle_new_folder"> <img src="assets/img/folder_icon.svg "></a>
                <!-- <div class="plus_hu " *ngIf="userAccountLevelRoleId !='125' && !(viewerObj?.role_id==220 && viewerObj.huddle_type=='1' ) "> -->
                    <div class="plus_hu " *ngIf="userAccountLevelRoleId !='125' && !(viewerObj?.role_id==220 && viewerObj.huddle_type=='1' ) ">    
                    <div dropdown class="dropdown ">
                        <button type="button " dropdownToggle class="dropdown-toggle" data-toggle="dropdown ">
                            <img src="assets/video-huddle/img/plus_white.svg ">
                        </button>
                        <div class="dropdown-menu " *dropdownMenu>
                            <a class="dropdown-item " appFSUploader [selectedConfiguration]=" 'videoOptions' " [source]=" 'Upload' " (onUpload)="onMediaUpload($event) ">{{translation?.huddle_video_upload}}</a>
                            <a class="dropdown-item " appFSUploader [selectedConfiguration]=" 'audioOptions' " [source]=" 'Upload' " (onUpload)="onMediaUpload($event) ">{{translation?.artifact_uploadaudio}}</a>
                            <a *ngIf="browserAgent !== 'ie'" [class.disabled]="screenSharingStarted || liveStreamStarted" class="dropdown-item" (click)="openRecordVideoModal()">{{translation?.artifact_recordvideo}}<span *ngIf="screenSharingStarted"> - </span><span *ngIf="screenSharingStarted" class="beta1">{{translation?.rs_unavailable || 'Unavailable'}}</span></a>
                            <!-- <a *ngIf="browserAgent === 'safari'" [class.disabled]="screenSharingStarted || liveStreamStarted" data-toggle="modal " class="dropdown-item " appFSUploader [selectedConfiguration]=" 'cameraOptions' " [source]=" 'Record' " (onUpload)="onMediaUpload($event) ">{{translation?.artifact_recordvideo}}<span *ngIf="screenSharingStarted"> - </span><span *ngIf="screenSharingStarted" class="beta1">{{translation?.rs_unavailable || 'Unavailable'}}</span></a> -->
                            <a data-toggle="modal" [class.disabled]="screenSharingStarted || liveStreamStarted" class="dropdown-item" routerLink="/video_details/record-screen" [queryParams]="{ huddleId: huddle_id, huddleName: huddle_name, folderId: folderId ? folderId : 0 }">{{translation?.start_screen_sharing}} - <span class="beta" [class.disabled-beta]="screenSharingStarted || liveStreamStarted">{{translation?.beta}}</span></a>
                            <a *ngIf = "(enable_live_recording == '1' && huddle_type!='1') || (enable_live_recording == '1' && huddle_type=='1' && (huddleHeaderData.isEvaluator || h_live_stream_permission==1) )" class="dropdown-item" [class.disabled]="screenSharingStarted || liveStreamStarted" routerLink="/video_details/live-streaming/{{huddle_id}}" [queryParams]="{ live_streamer: true, huddleId: huddle_id, huddleName: artifacts_name, folderId: folderId ? folderId : 0 }" ><span class="live_ic" [class.disabled-beta]="screenSharingStarted || liveStreamStarted">{{translation?.live_live_streaming}}</span>{{translation?.live_stream_web_streaming}}</a>
                            <a *ngIf="huddle_type!=3 " data-toggle="modal " class="dropdown-item " appFSUploader [selectedConfiguration]=" 'resourceOptions' " [source]=" 'Resource' " (onUpload)="onMediaUpload($event) ">{{translation?.artifact_uploadresource}}</a>
                            <a data-toggle="modal" class="dropdown-item" (click)="openURLArtifactModal()"
                                >{{translation?.artifact_add}} {{translation?.url}}</a>
                            <!-- <a data-toggle="modal" class="dropdown-item" (click)="openNewFolderModal()">{{translation?.df_new_folder}}</a> -->
                        </div>
                      </div>


                </div>

                <div class="plus_hu " *ngIf="showDiscussionButton ">

                    <button type="button " (click)="Newdiscussion() ">
                        <img src="assets/video-huddle/img/plus_white.svg ">
                    </button>
                </div>



            </div>
        </div>

        <div class="tab-content ">

            <ng-container #skeleton *ngIf="!artifacts_name ">
                <div class="panl_nav ">
                    <span class="ani_wp1 wani3 "></span>
                    <span class="ani_wp1 wani4 "></span>
                    <span class="ani_wp1 wani5 "></span>
                    <div class="clear "></div>
                </div>
            </ng-container>

            <div class="panl_nav nav3" *ngIf="lastRoute !='discussions' && artifacts_name ">

                <div class="hu_search hu_searchz">
                    <input class="ztextSearch" type="text " autocomplete="off " id="searchString " placeholder="{{translation?.artifact_search}}.... " [(ngModel)]="SearchString " (ngModelChange)="OnSearchChange($event) " #searchString>
                    <img *ngIf="SearchString?.length> 0" src="./assets/img/x.svg" (click)=" OnSearchChange('');SearchString='';">
                </div>

                <div class="btn-group btn-group-toggle filter_options" data-toggle="buttons">
                    <div class="animate_me tabsloading" *ngIf="!artifacts_name">

                    </div>
                    <label *ngIf="huddle_type!=3 && artifacts_name" class="btn btn-secondary" [class.active]="resource_filter==0" [routerLink]="[]" [queryParams]="{ resource: 0}" queryParamsHandling="merge">
                        <input type="radio" value="0" name="options" [(ngModel)]="resource_filter" id="option1"
                            autocomplete="off" checked=""> {{translation?.artifact_all}}
                    </label>

                    <label *ngIf="artifacts_name" class="btn btn-secondary" [class.active]="resource_filter==1" [routerLink]="[]" [queryParams]="{ resource: 1}" queryParamsHandling="merge">
                        <input type="radio" value="1" name="options" [(ngModel)]="resource_filter" id="option2"
                            autocomplete="off">
                        <img class="ic1" src="assets/video-huddle/img/video_gry_icon.svg">
                        {{translation?.artifact_videos}}
                    </label>
                    <label *ngIf="huddle_type!=3 && artifacts_name" class="btn btn-secondary" [class.active]="resource_filter==2" [routerLink]="[]" [queryParams]="{ resource: 2}" queryParamsHandling="merge">
                        <input type="radio" value="2" name="options" [(ngModel)]="resource_filter" id="option2"
                            autocomplete="off">
                        <img class="ic2" src="assets/video-huddle/img/resource_gry_icon.svg">
                        {{translation?.artifact_recources}}
                    </label>
                    <label *ngIf="huddle_type!=3 && artifacts_name" class="btn btn-secondary" [class.active]="resource_filter==5" [routerLink]="[]" [queryParams]="{ resource: 5}" queryParamsHandling="merge">
                        <input type="radio" value="5" name="options" [(ngModel)]="resource_filter" id="option4"
                            autocomplete="off">
                        <img class="ic2" src="assets/img/url-icon.svg">
                        {{translation?.urls}}
                    </label>

                    <label *ngIf="huddle_type!=3 && artifacts_name" class="btn btn-secondary" [class.active]="resource_filter==3" [routerLink]="[]" [queryParams]="{ resource: 3}" queryParamsHandling="merge">
                        <input type="radio" value="3" name="options" [(ngModel)]="resource_filter" id="option2"
                            autocomplete="off">
                        <img class="ic3" src="assets/video-huddle/img/notes_gry_icon.svg">
                        {{translation?.workspace_scriptednotes}}
                    </label>


                </div>

                 <div class="right_nav">

                <div class="filter_cls dropdown" dropdown>




                    <button type="button" dropdownToggle class="dropdown-toggle" data-toggle="dropdown">
                        <img src="assets/video-huddle/img/filter_icon.svg" width="25">
                    </button>
                    <ul class="dropdown-menu" *dropdownMenu>

                        
                        <a class="dropdown-item" (click)="sort='uploaded_date'" [class.dropdown-acitve]="sort=='uploaded_date'" [routerLink]="[]" [queryParams]="{ sort: 'uploaded_date'}" queryParamsHandling="merge">{{translation?.workspace_uploadeddate}}
                            <svg *ngIf="sort=='uploaded_date'" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
                                viewBox="0 0 8 8">
                                <path
                                    d="M6.41 0l-.69.72-2.78 2.78-.81-.78-.72-.72-1.41 1.41.72.72 1.5 1.5.69.72.72-.72 3.5-3.5.72-.72-1.44-1.41z"
                                    transform="translate(0 1)" />
                            </svg>
                        </a>

                        <a class="dropdown-item" (click)="sort='video_title'" [class.dropdown-acitve]="sort=='video_title'" [routerLink]="[]" [queryParams]="{ sort: 'video_title'}" queryParamsHandling="merge" href="">

                            {{translation?.artifact_title}}

                            <svg *ngIf="sort=='video_title'" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
                                viewBox="0 0 8 8">
                                <path
                                    d="M6.41 0l-.69.72-2.78 2.78-.81-.78-.72-.72-1.41 1.41.72.72 1.5 1.5.69.72.72-.72 3.5-3.5.72-.72-1.44-1.41z"
                                    transform="translate(0 1)" />
                            </svg>
                        </a>

                        <a class="dropdown-item" (click)="sort='uploaded_by'" [class.dropdown-acitve]="sort=='uploaded_by'" [routerLink]="[]" [queryParams]="{ sort: 'uploaded_by'}" queryParamsHandling="merge">{{translation?.artifact_created_by}}
                            <svg *ngIf="sort=='uploaded_by'" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
                                viewBox="0 0 8 8">
                                <path
                                    d="M6.41 0l-.69.72-2.78 2.78-.81-.78-.72-.72-1.41 1.41.72.72 1.5 1.5.69.72.72-.72 3.5-3.5.72-.72-1.44-1.41z"
                                    transform="translate(0 1)" />
                            </svg>
                        </a>

                        <a class="dropdown-item" (click)="sort='last_modified'" [class.dropdown-acitve]="sort=='last_modified'" [routerLink]="[]" [queryParams]="{ sort: 'last_modified'}" queryParamsHandling="merge">{{translation?.artifact_last_modified}}

                            <svg *ngIf="sort=='last_modified'" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
                                viewBox="0 0 8 8">
                                <path
                                    d="M6.41 0l-.69.72-2.78 2.78-.81-.78-.72-.72-1.41 1.41.72.72 1.5 1.5.69.72.72-.72 3.5-3.5.72-.72-1.44-1.41z"
                                    transform="translate(0 1)" />
                            </svg>
                        </a>


                    </ul>



                </div>

                <div class="huddleHeaderDivider">

                </div>

                <div class="switch_op">
                    <a [routerLink]="folderId ? (['/video_huddles/huddle/details', huddle_id, 'artifacts', 'grid', folderId]) : (['/video_huddles/huddle/details', huddle_id, 'artifacts', 'grid'])" (click)="ToggleStyleView='grid'" queryParamsHandling="merge" [ngClass]="{'s_current':ToggleStyleView=='grid' }"><svg xmlns="http://www.w3.org/2000/svg"
                            id="noun_grid_887265" viewBox="0 0 16 16">
                            <defs>

                            </defs>
                            <g id="Group">
                                <path id="Path" class="cls-1"
                                    d="M7,1.261A1.261,1.261,0,0,0,5.739,0H1.261A1.261,1.261,0,0,0,0,1.261V5.739A1.261,1.261,0,0,0,1.261,7H5.739A1.261,1.261,0,0,0,7,5.739Z" />
                                <path id="Path-2" data-name="Path" class="cls-1"
                                    d="M7,1.261A1.261,1.261,0,0,0,5.739,0H1.261A1.261,1.261,0,0,0,0,1.261V5.739A1.261,1.261,0,0,0,1.261,7H5.739A1.261,1.261,0,0,0,7,5.739Z"
                                    transform="translate(9)" />
                                <path id="Path-3" data-name="Path" class="cls-1"
                                    d="M7,1.261A1.261,1.261,0,0,0,5.739,0H1.261A1.261,1.261,0,0,0,0,1.261V5.739A1.261,1.261,0,0,0,1.261,7H5.739A1.261,1.261,0,0,0,7,5.739Z"
                                    transform="translate(0 9)" />
                                <path id="Path-4" data-name="Path" class="cls-1"
                                    d="M7,1.261A1.261,1.261,0,0,0,5.739,0H1.261A1.261,1.261,0,0,0,0,1.261V5.739A1.261,1.261,0,0,0,1.261,7H5.739A1.261,1.261,0,0,0,7,5.739Z"
                                    transform="translate(9 9)" />
                            </g>
                        </svg></a>
                    <a [routerLink]="folderId ? (['/video_huddles/huddle/details', huddle_id, 'artifacts', 'list', folderId]) : (['/video_huddles/huddle/details', huddle_id, 'artifacts', 'list'])" (click)="ToggleStyleView='list'" queryParamsHandling="merge" [ngClass]="{'s_current':ToggleStyleView=='list' }">

                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
                            <defs>

                            </defs>
                            <g id="noun_list_view_1544629" data-name="noun_list view_1544629"
                                transform="translate(15) rotate(180)">
                                <rect id="Rectangle" class="cls-1" width="12" height="3" rx="1"
                                    transform="translate(12) rotate(180)" />
                                <rect id="Rectangle-2" data-name="Rectangle" class="cls-1" width="15" height="3" rx="1"
                                    transform="translate(15 -6) rotate(180)" />
                                <rect id="Rectangle-3" data-name="Rectangle" class="cls-1" width="15" height="3" rx="1"
                                    transform="translate(15 -12) rotate(180)" />
                            </g>
                        </svg></a>


                </div>
                </div>



                <div class="clear"></div>

            </div>
            <!-- <div class="cont_s row">

                <div class="col-6" *ngIf="(artifacts.length!=0 || artifacts_name) && total_artifacts!=0">
                    <ng-container *ngIf="resource_filter==0">{{translation?.artifact_af_title}} ({{total_artifacts}})
                    </ng-container>
                    <ng-container *ngIf="resource_filter==1">{{translation?.artifact_videos}} ({{total_artifacts}})
                    </ng-container>
                    <ng-container *ngIf="resource_filter==2">{{translation?.artifact_recources}} ({{total_artifacts}})
                    </ng-container>
                    <ng-container *ngIf="resource_filter==3">{{translation?.artifact_scripted_notes}} ({{total_artifacts}})
                    </ng-container>
                    <ng-container *ngIf="resource_filter==5">{{translation?.urls}} ({{total_artifacts}})
                    </ng-container>
                </div>
                <div class="col-6" *ngIf="!artifacts_name || (total_artifacts==0 && Loadings.isNextPageLoading)">
                    <div class="animate_me ar_co"></div>
                </div>

            </div> -->

            <div>
                <div class="cont_s row count2" *ngIf="huddleFolders?.length > 0">
                    <div class="col-md-6" *ngIf="ToggleStyleView == 'grid'">
                        <div class="row cont_s">
                            {{translation?.huddle_folder_count}} ({{huddleFolders.length}})
                        </div>
                    </div>
                    <div class="col-md-6" *ngIf="ToggleStyleView == 'list'">
                        <div class="row cont_s">
                            <ng-container *ngIf="(artifacts.length!=0 || artifacts_name) && total_artifacts!=0">
                                <ng-container *ngIf="resource_filter==0">{{translation?.workspace_artifacts}}</ng-container>
                                <ng-container *ngIf="resource_filter==1">{{translation?.workspace_videos}}</ng-container>
                                <ng-container *ngIf="resource_filter==2">{{translation?.workspace_resources}}</ng-container>
                                <ng-container *ngIf="resource_filter==3">{{translation?.workspace_scriptednotes}}</ng-container>
                                <ng-container *ngIf="resource_filter==5">{{translation?.urls}}</ng-container>
                                ({{total_artifacts}})
                            </ng-container>
                            <ng-container *ngIf="!artifacts_name || (total_artifacts==0 && Loadings.isNextPageLoading)">
                                <div class="animate_me ar_co"></div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-6 exp"  *ngIf="ToggleStyleView === 'grid'">
                        <span class="collapse_all" *ngIf="foldersExpanded" (click)="ToggleFoldersExpand(false)">
                            {{translation?.huddle_collapse_all}}
                            <i>
                                <img src="./assets/img/arrow_up.svg" width="15">
                            </i>
                        </span>
                        <span class="expand_all" *ngIf="!foldersExpanded" (click)="ToggleFoldersExpand(true)">
                            {{translation?.huddle_expan_all}}
                            <i>
                                <img src="./assets/img/arrowndown.svg" width="15">
                            </i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row huddlebox box_padding" *ngIf="displayStyle === 'grid'">
                <shared-folder-thumb-view [isExpanded]="foldersExpanded" class="col-md-3 noOutline animated fadeIn  fifteenPx-main2 animate_ngfor toremovebg" *ngFor="let folder of huddleFolders " [data]="folder" (dragenter)="changeBackground(folder.folder_id,$event)" (dragleave)="changeDefaultBackground($event)"
                (mouseenter)="folder.mouseEntered=true" (mouseleave)="folder.mouseEntered=false"  (drop)="uploadFiles($event, folder)" fileDropUpload (OnEdit)="folderEdit($event,folder.name, folder.account_folder_id)" (OnDelete) = "OnFolderDelete($event)"
                (OnMoveShareFolder)="onMoveShareFolder($event)" [pageType]="pageType" [isHuddle] = "true" [changeBackgroundColor]= "changeBackgroundColor" [dragFolderId]="dragFolderId" dndDropzone dndEffectAllowed="move" (dndDrop)="onDrop($event, folder)" [additionalData]="additionalData">
                </shared-folder-thumb-view>
            </div>

            <ng-container *ngIf="displayStyle === 'list'&& (huddleFolders.length > 0 || artifacts.length > 0)">
                <div class="col-12 row grid_heading">
                    <div class="col-3">{{translation?.huddle_resource_name}}</div>
                    <div class="col-1 text-center">{{translation?.workspace_videos}}</div>
                    <div class="col-1 text-center">{{translation?.workspace_resources}}</div>
                    <div class="col-1 lgcell text-center">{{translation?.urls}}</div>
                    <div class="col-1 lgcell text-center">{{translation?.workspace_scriptednotes}}</div>
                    <div class="col-1 lgcell_2 text-center">{{translation?.huddle_folder_count}}</div>
                    <div class="col-1 lgcell_2 text-center">{{translation?.artifact_created_by}}</div>
                    <div class="col-1 lgcell_2 text-center">{{translation?.artifact_upload}}</div>
                    <div class="col-2 lastcell pl-30px">Actions</div>
                </div>

            <shared-folder-list-view *ngFor="let folder of huddleFolders" [data]="folder" (OnEdit)="folderEdit($event,folder.name, folder.account_folder_id)" class="animate_ngfor noOutline"
            (mouseenter)="folder.mouseEntered=true" (mouseleave)="folder.mouseEntered=false" (dragenter)="changeBackground(folder.folder_id,$event)" (dragleave)="changeDefaultBackground($event)" (drop)="uploadFiles($event, folder)" fileDropUpload (OnDelete) = "OnFolderDelete($event)" [isHuddle] = "true" [changeBackgroundColor]= "changeBackgroundColor" [dragFolderId]="dragFolderId" [additionalData]="additionalData"
            dndDropzone dndEffectAllowed="move" [pageType]="pageType" (dndDrop)="onDrop($event, folder)">
            </shared-folder-list-view>
        </ng-container>

        <div class="cont_s row" *ngIf="ToggleStyleView == 'grid'">

            <div class="col-6" *ngIf="(artifacts.length!=0 || artifacts_name) && total_artifacts!=0">
                <ng-container *ngIf="resource_filter==0">{{translation?.artifact_af_title}} ({{total_artifacts}})
                </ng-container>
                <ng-container *ngIf="resource_filter==1">{{translation?.artifact_videos}} ({{total_artifacts}})
                </ng-container>
                <ng-container *ngIf="resource_filter==2">{{translation?.artifact_recources}} ({{total_artifacts}})
                </ng-container>
                <ng-container *ngIf="resource_filter==3">{{translation?.artifact_scripted_notes}} ({{total_artifacts}})
                </ng-container>
                <ng-container *ngIf="resource_filter==5">{{translation?.urls}} ({{total_artifacts}})
                </ng-container>
            </div>
            <div class="col-6" *ngIf="!artifacts_name || (total_artifacts==0 && Loadings.isNextPageLoading)">
                <div class="animate_me ar_co"></div>
            </div>

        </div>

            <shared-artifact-grid-box *ngIf="displayStyle === 'grid'" [artifacts]="artifacts" [loading]="Loadings.isNextPageLoading" [additionalData]="additionalData" [pageType]="pageType" [goalEvidence]="goalEvidence" [haveFolders]="this.huddleFolders.length > 0 ? true:false"></shared-artifact-grid-box>
            <shared-artifact-list-box *ngIf="displayStyle === 'list'" [artifacts]="artifacts" [loading]="Loadings.isNextPageLoading" [additionalData]="additionalData" [pageType]="pageType" [goalEvidence]="goalEvidence" [haveFolders]="this.huddleFolders.length > 0 ? true:false"></shared-artifact-list-box>

            <ng-container *ngIf="artifacts?.length <= 0 && !Loadings.isNextPageLoading && bysearch ">
                <div class="no_discussions">
                    <svg id="Group_332" data-name="Group 332" xmlns="http://www.w3.org/2000/svg" width="90.7" height="90.7" viewBox="0 0 90.7 90.7">
                        <path id="Path_51" data-name="Path 51"
                            d="M45.35,0A45.29,45.29,0,1,1,13.265,13.265,45.239,45.239,0,0,1,45.35,0Zm0,56.708a6.121,6.121,0,0,1,6.135,6.135,6.192,6.192,0,0,1-6.135,6.218,6.263,6.263,0,0,1-6.218-6.218A6.192,6.192,0,0,1,45.35,56.708Zm0-6.218A4.329,4.329,0,0,1,41.2,46.345L39.132,27.857c-.332-3.233,3.068-6.218,6.218-6.218s6.55,2.985,6.135,6.218L49.5,46.345A4.329,4.329,0,0,1,45.35,50.49Zm26.2-31.422A37.129,37.129,0,1,0,82.409,45.35,37.325,37.325,0,0,0,71.549,19.069Z"
                            transform="translate(0)" fill="#616161" />
                    </svg>
                    <br>
                    <br>
                    <b style="font-size:18px">{{translation?.artifact_nomatching}}
                        <ng-container *ngIf="resource_filter==0">{{translation?.artifact_artifacts_s}}</ng-container>
                        <ng-container *ngIf="resource_filter==1">{{translation?.artifact_videos_s}}</ng-container>
                        <ng-container *ngIf="resource_filter==2">{{translation?.artifact_resources_s}}</ng-container>
                        <ng-container *ngIf="resource_filter==3">{{translation?.artifact_scriptednotes_s}}
                        </ng-container>
                        <ng-container *ngIf="resource_filter==5">{{translation?.url}}
                        </ng-container> {{translation?.artifact_found}}.
                    </b>
                </div>
            </ng-container>
            <ng-container *ngIf="artifacts?.length <= 0 && !Loadings.isNextPageLoading  && !bysearch">
                <div class="no_discussions no_artifact">
                    <svg id="Group_332" data-name="Group 332" xmlns="http://www.w3.org/2000/svg" width="90.7" height="90.7" viewBox="0 0 90.7 90.7">
                        <path id="Path_51" data-name="Path 51"
                            d="M45.35,0A45.29,45.29,0,1,1,13.265,13.265,45.239,45.239,0,0,1,45.35,0Zm0,56.708a6.121,6.121,0,0,1,6.135,6.135,6.192,6.192,0,0,1-6.135,6.218,6.263,6.263,0,0,1-6.218-6.218A6.192,6.192,0,0,1,45.35,56.708Zm0-6.218A4.329,4.329,0,0,1,41.2,46.345L39.132,27.857c-.332-3.233,3.068-6.218,6.218-6.218s6.55,2.985,6.135,6.218L49.5,46.345A4.329,4.329,0,0,1,45.35,50.49Zm26.2-31.422A37.129,37.129,0,1,0,82.409,45.35,37.325,37.325,0,0,0,71.549,19.069Z"
                            transform="translate(0)" fill="#616161" />
                    </svg>
                    <br>
                    <br>
                    <b style="font-size:18px">{{translation?.artifact_no}}
                        <ng-container *ngIf="resource_filter==0">{{translation?.artifact_artifacts_s}}</ng-container>
                        <ng-container *ngIf="resource_filter==1">{{translation?.artifact_videos_s}}</ng-container>
                        <ng-container *ngIf="resource_filter==2">{{translation?.artifact_resources_s}}</ng-container>
                        <ng-container *ngIf="resource_filter==3">{{translation?.workspace_scriptednotes}}
                        </ng-container>
                        <ng-container *ngIf="resource_filter==5">{{translation?.url}}
                        </ng-container> {{translation?.artifact_available}}.<br>
                        <ng-container *ngIf="resource_filter!=3 && userAccountLevelRoleId != '125'"> {{translation?.artifact_clickthegreenplusbuttontoadd}}
                            <ng-container *ngIf="resource_filter==0"> {{translation?.artifact_an}} </ng-container>
                            <ng-container *ngIf="resource_filter!=0"> {{translation?.artifact_a}} </ng-container>
                            <ng-container *ngIf="resource_filter==0">{{translation?.artifact_artifacts_s}}</ng-container>
                            <ng-container *ngIf="resource_filter==1">{{translation?.artifact_videos_s}}</ng-container>
                            <ng-container *ngIf="resource_filter==2">{{translation?.artifact_resource}}</ng-container>
                            <ng-container *ngIf="resource_filter==3">{{translation?.artifact_scriptednotes_s}}</ng-container>
                            <ng-container *ngIf="resource_filter==5">{{translation?.url}}</ng-container>.
                        </ng-container>
                    </b>
                </div>
            </ng-container>




        </div>
    </div>







    <ng-template #activity>


        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{translation?.artifact_activity}}</h4>
                <button type="button" class="close" (click)="ModalRefs.participentsModal.hide()">&times;</button>

            </div>
            <div class="modal-body" *ngIf="!popupIsLoading">
                <div class="listing_scroll" slimScroll [options]="opts" [scrollEvents]="scrollEvents">


                    <div class="activity_row" *ngFor="let act of actvities">
                        <ng-container *ngIf="translation?.current_lang=='es'">
                            <div class="ac_1">
                                <strong>{{timedateSpanish(act?.activityTimestamp,1)}}</strong><br> {{timedateSpanish(act?.activityTimestamp,2)}}
                            </div>
                        </ng-container>
                        <ng-container *ngIf="translation?.current_lang=='en'">
                            <div class="ac_1">
                                <b>{{headerService?.formatDate(act?.activityDate, 'MMM DD')}}</b><br> {{headerService?.formatDate(act?.activityDate, 'hh:mm a')}}
                            </div>
                        </ng-container>

                        <div class="ac_2">
                            <label>{{act?.activityLogs_users}} </label>
                            <ng-container *ngIf="!act.resource_video_name">
                                <a *ngIf="!act.resource_url" style="cursor:context-menu">:{{act.resource_name}}</a>
                                <a href="{{act?.resource_url}}">{{act?.resource_video_name}}</a>

                            </ng-container>
                            <ng-container *ngIf="act.resource_video_name">
                                {{act?.resource_name}}
                                <a *ngIf="!act.resource_url" style="cursor:context-menu">:{{act.resource_video_name}}</a>
                                <a href="{{act?.resource_url}}">{{act?.resource_video_name}}</a>

                            </ng-container>




                        </div>

                        <div class="clear"></div>

                    </div>
                    <div class="text-center" *ngIf="actvities==''">
                        <p style="font-weight: 800;font-size: 24px;word-spacing: 2px;margin-top:10%;color: lightgray;">
                            {{translation?.artifact_noactivityfound}}!</p>
                    </div>
                </div>

            </div>
            <div class="modal-body text-center" *ngIf="popupIsLoading">
                <div class="activity_row" *ngFor="let arr of [1,1,1,1,1]">
                    <div class="ac_1">
                        <b><span class="animate_me linecls"></span></b><br>
                        <span class="animate_me linecls"></span>
                    </div>
                    <div class="ac_2">
                        <label class="animate_me linecls"></label>
                    </div>

                    <div class="clear"></div>

                </div>
            </div>
            <div class="modal-footer hufooter">
                <div class="col-12">

                    <a class="okbtn" (click)="ModalRefs.participentsModal.hide()">{{translation?.artifact_ok}}</a>

                </div>


            </div>
        </div>


    </ng-template>

    <!--activity popup end-->



    <!--participant pop-up start-->
    <ng-template #participantsModal>
        <div class="modal-header">
            <h4 class="modal-title">{{translation?.artifact_participants}} ({{participents.length}})</h4>
            <button type="button" class="close" (click)="ModalRefs.participentsModal.hide()">&times;</button>

        </div>
        <div class="modal-body" *ngIf="!popupIsLoading">
            <div class="parti_list">


                <div class="row par_heading">

                    <div class="col-4">
                        {{translation?.artifact_name}}
                    </div>

                    <div class="col-6">
                        {{translation?.artifact_email}}
                    </div>

                    <div class="col-2">
                        {{translation?.artifact_role}}
                    </div>


                </div>
                <div class="listing_scroll" slimScroll [options]="opts" [scrollEvents]="scrollEvents">
                    <ng-container *ngFor="let p of participents">
                        <div *ngIf=" (huddle_type == '1' || huddle_type == '2' ) ||  (huddle_type == '3' && user_huddle_role == 200)  || (huddle_type == '3' && user_huddle_role == 210 && p.role_name == 'Assessor' ) " class="row par_listing">
                            <div class="col-4">
                                <img *ngIf="ImageUrlBuilder(p)==true" aria-hidden="true" src="assets/video-huddle/img/group.png">
                                <img *ngIf="ImageUrlBuilder(p)!=true" src="{{ImageUrlBuilder(p)}}"> <span class="g_name">{{p.user_name}}</span>
                            </div>
                            <div class="col-6 par_email">
                                <span>{{p.user_email}}</span>
                            </div>


                            <div class="col-2">
                                <ng-container *ngIf="mainHuddle_Creator == p.user_name && huddle_type == '1'">
                                    {{translation?.huddle_collaboration_role_creator}}
                                </ng-container>
                                <ng-container *ngIf="mainHuddle_Creator != p.user_name || huddle_type != '1'">
                                    {{p.role_name}}
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>


                </div>
            </div>
        </div>
        <div class="modal-body text-center" *ngIf="popupIsLoading">
            <div class="row par_listing anrow" *ngFor="let arr of [1,1,1,1,1]">
                <div class="col-4">
                    <span class="animate_me aniimg"></span> <span class="animate_me linecls"> </span>
                </div>
                <div class="col-6 par_email">
                    <span class="animate_me linecls"> </span>
                </div>


                <div class="col-2">
                    <span class="animate_me linecls"> </span>
                </div>




            </div>
        </div>
        <div class="modal-footer hufooter par_foo">
            <div class="col-12">
                <div class="border_bottom">
                    <a class="okbtn" (click)="ModalRefs.participentsModal.hide()">{{translation?.artifact_ok}}</a>
                </div>
            </div>


        </div>
    </ng-template>
</div>
