ul li a {
    cursor: pointer;
}

.rename {
    width: 480px
}

.participants {
    max-width: 700px
}

.dropdown-acitve {
    font-weight: 700;
    color: #057eff!important
}
.toremovebg{background-color: #fff !important;}
.aniimg {
    display: inline-block;
    width: 50px;
    height: 50px !important;
    border-radius: 50%;
}

.linecls {
    height: 12px !important;
    margin-bottom: 10px !important;
    width: 100%;
    display: inline-block;
}

.participant_details {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
    display: inline-block;
    top: 7px;
    position: relative;
}

.par_email {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline;
}

.add-btn-loader {
    height: 100%;
    width: 220px;
    float: right;
}

.ani_wp1 {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #d9d9d9;
    background: linear-gradient(to right, #e9e9e9 8%, #F0F0F0 18%, #efefef 33%);
    background-size: 800px 104px;
    position: relative;
}

.wani3 {
    float: left;
    width: 25%;
    height: 38px;
    margin-right: 2%;
}

.wani4 {
    float: left;
    width: 57%;
    height: 38px;
    margin-right: 2%;
}

.wani5 {
    float: left;
    width: 13%;
    height: 38px;
}

.huani1 {
    display: block;
    height: 40px;
    width: 100px;
}

.huani2 {
    height: 40px;
    width: 150px;
    float: right;
    margin-left: 10px;
}

.hu_move ul {
    min-width: 88px;
    right: 0 !important;
    left: inherit !important;
}

.hu_move img {
    max-width: 22px;
    position: relative;
    top: 10px;
}

.ztextSearch {
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 30px;
    background: url(/home/assets/video-huddle/img/search_icon.svg) no-repeat center left;
    background-size: 19px;
    padding-right: 35px;
    background-position-x: 8px;
    background-size: 18px 18px;
}

@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.live_ic
{
    background: #DE2828;
    display: inline-block;
    border-radius: 4px;
    padding: 0px 5px;
    color: #FFF;
    margin-right: 6px;
    font-size: 12px;
}

.nav3 { position:relative;}

.disabled-beta {
    background-color: #bcbcbc !important;
}

.expand_all:hover, .collapse_all:hover{
	cursor: pointer;
}
.new_fol_huddle{
    border: 1px solid #CECECE;
    margin-right: 8px;
    color: #484848;
    background: #fff !important;
    padding: 5px 12px 6px 18px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border-radius: 4px;
    font-weight: 400;
}
.new_fol_huddle img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    position: relative;
    /* top: -1px; */
}
.hu_search img {
    top: 10px;
  }
  .grid_heading {
    border-top: 1px solid #ddd;
    padding: 10px 0px 6px 2px;
  }
  .cont_s {
    padding: 4px 0 10px 0px;
  }
  .pl-30px{
    padding-left: 30px
  }

  .no_artifact {
      padding: 0px 0 !important
  }