<div class="row btn_resources_upload_wrapper">
<div class="col-sm-6 attch">
  <h2>{{translation?.video_details_tabs_attachments}}</h2>
</div>
    <div class="add_comm_btn col-sm-6" *ngIf="( (original_account && pageType == 'library-page') || (pageType != 'library-page') ) &&  ((userAccountLevelRoleId != '125') && isNotCanvasPage && ((pageType == 'library-page' && userCurrAcc.users_accounts.permission_video_library_upload == 1) || pageType != 'library-page'))">
        <fs-uploader [label]="translation?.vd_upload" [source]="'resources'" [configuration]="videoOptions"
            (onUpload)="uploadFiles($event)"></fs-uploader>
    </div>
</div>
<div class="text-center animated fadeIn no-comment-found " *ngIf="staticFiles.length<=0">
    {{translation?.no_attachments_vl}}
</div>
<table class="table table-hover resources" *ngIf="staticFiles.length>0 && !currentSelectedFile">
    <thead>
        <tr>
            <th>
                {{translation?.vd_time}}
            </th>
            <th>
                {{translation?.vd_file}}
            </th>
            <th class="text-right">
                {{translation?.vd_action}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let file of staticFiles">
           
            <td class="clickable" style="width: 90px;" (click)="Seek(file.time)">
                <span> {{file.time  || translation?.vd_all_videos}} </span>
            </td>
            <td class="clickable" (click)="FileClicked('td', file)">
                <span class="oi file_icon" data-glyph="file"></span> <span class="file_name"
                    title="{{file?.title}}">{{file?.title}}</span>
            </td>
            <td *ngIf="file.id && userAccountLevelRoleId != '125'">
                <div class="video_options btn-group" dropdown>
                    <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle"
                        aria-controls="dropdown-basic">

                        <img src="assets/img/dot.svg">
                    </div>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">   
                        <li role="menuitem" class="fake_link" *ngIf="(currnetUser.id == file.created_by && permissions.coachee_permission == '1') || (currnetUser.huddle_role_id == 200) || (huddle_type != '2' && currnetUser.id == file.created_by )">
                            <span class="dropdown-item"
                                (click)="InitiateDeleteResource(confirmDialog, file)">{{translation?.vd_delete}}</span>
                        </li>
                        <li *ngIf = "checkCsv(file) " role="menuitem" class="fake_link" (click)="FileClicked('li', file)">
                            <span class="dropdown-item">{{translation?.vd_download}}</span>
                        </li>
                    </ul>
                </div>
            </td>
            <td *ngIf="!file.id">
                {{translation?.vd_uploading}}
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="currentSelectedFile" class="crossBtn" (click)="currentSelectedFile = null"> X </div>

<div *ngIf="currentSelectedFile">
    <sibme-pdf-renderer-viewer [currentSelectedFile]='currentSelectedFile'></sibme-pdf-renderer-viewer>
</div>

<ng-template #confirmDialog>
    <ng-container *ngIf="!showConfirmationDialog; else confirmDialog2 ">
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{translation?.vd_are_sure_that}}
    </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="modalRef.hide()">
                {{translation?.vd_cancel}}
            </button>
            <button class="btn btn-primary" (click)="ResolveDeleteFileWithoutConfig(true)">
                {{translation?.vd_ok}}
            </button>
        </div>
    </div>
    </ng-container>
</ng-template>
<ng-template #confirmDialog2>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{translation?.huddle_list_confirmation_required}}</h4>
            <button type="button" class="close" (click)="modalRef.hide(); ; Inputs.Confirmation=null">×</button>

        </div>
        <div class="modal-body">
            <div class="alert_bg singleline row">
                <div class="col-2">
                    <img src="./assets/img/alert_i.svg">
                </div>
                <div class="col-10">
                    <h6>{{translation?.about_to_delete_attachment_you_didnt}} <b>{{DeletableFile.original_file_name}}</b></h6>
                </div>
            </div>
            <div class="f_name">
                <p>{{translation?.huddle_resource_type}} {{Inputs.ConfirmationKey}} {{translation?.huddle_list_to_confrim}}</p>
                <input type="text" class="form-control" [(ngModel)]="Inputs.Confirmation" (keydown)="TriggerTextChange($event)">
            </div>

        </div>
        <div class="modal-footer hufooter">
            <div class="col-12">
                <a class="fake_link"  (click)="modalRef.hide(); Inputs.Confirmation=null">
                    {{translation?.vd_cancel}}
                </a>
                <a class="conf_delete fake_link" (click)="ResolveDeleteFile(true)">
                    {{translation?.delete_all}}
                </a>
            </div>


        </div>
    </div>
    </ng-template>