@media screen and (min-width:1280px) {
    .container {
        max-width: 1200px !important;
        padding: 0 40px;
    }
}

@media screen and (min-width:1500px) {
    .container {
        max-width: 1450px !important;
        
    }
}

@media(max-width:1270px) {
    .bred .container {
        padding-left: 5px;
    }
}

.bred img {
    margin: 0 15px;
}

.bred {
    color: #4d504d !important;
    top: 11px;
    font-weight: 400;
    
  
    font-size: 13px;
    position: relative; padding-bottom:11px !important;


}

.bred .container {
    padding-left: 26px;
}

.bred a {
    color: #838383 !important;
}

/* .bred span {
    color: #000;
} */

.bred_an {
    position: relative;
    top: 11px;
    color: #4d504d;
    padding-bottom: 25px;
    font-family: Roboto;
    padding: 0px 0px 16px 0px;
}

.breadcrumb-animate {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #d9d9d9;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #e9e9e9), color-stop(18%, #F0F0F0), color-stop(33%, #efefef));
    background: linear-gradient(to right, #e9e9e9 8%, #F0F0F0 18%, #efefef 33%);
    background-size: 800px 104px;
    height: 20px;
    position: relative;
}
