<div class="container bred_an">
  <div class="">
    <a [routerLink]="['/']">{{translations.home_global}}</a> <img src="assets/img/breadcrumarrow.svg"> <a
      [routerLink]="['/account-settings']">{{translations.account_settings_all}}</a> <img src="assets/img/breadcrumarrow.svg">
    <span> <b>{{translations.frameworks_angular_rubrics}}</b> </span>
  </div>
</div>
<ng-container *ngIf="loading">
  <div class="container box_outer">
    <div class="box_whcls row">
      <div class="col-12">

        <div class="row panl_heading">

          <div class="col-8">
            <h3 class="g_ani2 gn1"></h3>
          </div>

          <div class="col-4 bk_goal2">
            <span class="g_ani2 gn2"></span>
          </div>


        </div>


        <div class="row r_butn">
          <div class="col-md-12">

            <span class="g_ani2 gn7"></span>
            <span class="g_ani2 gn7"></span>
            <span class="g_ani2 gn7"></span>
            <span class="g_ani2 gn7"></span>
            <span class="g_ani2 gn7"></span>

          </div>
        </div>



        <div class="per_left">
          <br>
          <span class="g_ani2 gn8"></span>
          <span class="g_ani2 gn11"></span>



        </div>
        <div class="per_right">

          <br> <br>
          <span class="g_ani2 gn11"></span>


          <span class="g_ani2 gn11"></span>


          <span class="g_ani2 gn11"></span>


        </div>
        <div class="clearfix"></div>



      </div>

    </div>

  </div>
</ng-container>
<ng-container *ngIf="!loading">
  <div class="container box_outer">
    <div class="box_whcls row">
      <div class="col-12">
        <div class="row panl_heading">
          <div class="col-8">
            <h3>{{translations.performance_level_angular_rubrics}} - {{name}}</h3>
          </div>

          <div class="col-4 bk_goal2">
            <a routerLink="/account-settings/rubrics"><img src="assets/img/left-arrow.svg"> {{translations.back_to_frameworks_angular_rubrics}}</a>
          </div>


        </div>

        <div class="row r_butn">
          <div class="col-md-8">

            <button (click)="add_performance_level()">
              <img src="assets/rubrics/img/plus_icon.svg">
            </button>

            <button (click)="remove_performance_level()">
              <img src="assets/img/minus_icon.svg">
            </button>

            <button (click)="moveDown()">
              <img src="assets/rubrics/img/performance_down.svg">
            </button>



            <button (click)="moveUp()">
              <img src="assets/rubrics/img/performance_up.svg">
            </button>

            <span class="sep_cls"></span>

            <label class="switch">
              <input type="checkbox" [(ngModel)]="toggle">
              <span class="slider round" (click)="togglePlanMode(toggle)"></span>
            </label> {{translations.unique_descriptions_angular_rubrics}}
          </div>
          <div class="col-md-4 used_cls">
            {{length}}/10 {{translations.used_angular_rubrics}}
          </div>
        </div>



        <div class="per_left">
          <ng-container *ngIf="no_data">
          
            <div *ngIf="!toggle" class="ndata" >
             <p> {{translations.please_click_button_to_add_first_pl_angular_rubrics}} </p> 
            </div>
            <div *ngIf="toggle" class="ndata" >
              <p> {{translations.add_performance_level_before_next_angular_rubrics}} </p> 
             </div>
          </ng-container>
          <div *ngIf="!no_data">
            <label>{{translations.name_angular_rubrics}}<small *ngIf="textShowError" class="ml-1 text-danger">*</small><span *ngIf="maxCharTitleCheck">{{maxCharsTitle-performance_level.name.length}} {{"/35"}}</span></label>
            <input type="text" id="name" (input)="preventSpacesInName($event)" (paste)="preventSpacesFromPasteInName($event)" (cut)="preventSpacesFromPasteInName($event)" [(ngModel)]="performance_level.name" [maxlength]="maxCharsTitle" class="form-control bold_500" (blur)="onBlurTitle()" (focus)="onFocusTitle()">
            <ng-container *ngIf="!toggle">
              <label>{{translations.global_description_angular_rubrics}}<span *ngIf="maxCharDescCheck">{{maxCharDescp-performance_level.description.length}} {{"/1000"}}</span></label>
              <textarea [maxlength]="maxCharDescp" name="desc" [(ngModel)]="performance_level.description" (ngModelChange)="preventSpaces($event)" (paste)="preventSpacesFromPaste($event)" (cut)="preventSpacesFromPaste($event)" class="form-control bold_500" (blur)="onBlurDecp()" (focus)="onFocusDesc()"></textarea>
            </ng-container>
            <ng-container *ngIf="toggle">
              <div class="info_ad">

                <img src="assets/img/nogoal_icon.svg">


                <p>{{translations.you_choosen_angular_rubrics}}</p>
              </div>
            </ng-container>
          </div>
        </div>
        <ng-container *ngIf="no_data">
          
          <div  class="per_right ndata" >
            <img class="mb-2" src="assets/goals/img/nogoal_icon.svg">
           <p> {{translations.no_performance_level_angular_rubrics}} </p> 
          </div>
          </ng-container>
          <div *ngIf="!no_data" class="per_right" dragula="standards" [(dragulaModel)]="performance_array">
            <ng-container *ngFor="let d of performance_array; let i=index ; let last = last; let first = first">
              <div class="per_box " (click)="selected(d, i)" [ngClass]="{'bg_rub': i === index}">
                <img class="grabbing"  src="assets/img/three_line.svg">
                <label class="pointer">{{d.name}} </label>

                <div class="pre_content pointer" *ngIf="!toggle">
                  {{d.description}}
                </div>
                <div class="tag_cls highe" *ngIf="first && performance_array.length>1">
                  <i></i>
                  <span>{{translations.highest_angular_rubrics}}</span>
                </div>
  
                <div class="tag_cls lowe" *ngIf="last && performance_array.length>1">
                  <i></i>
                  <span>{{translations.lowest_angular_rubrics}}</span>
                </div>
  
  
              </div>
  
              <!-- <div class="per_box">
                <img src="assets/img/three_line.svg">
                 <label>Proficient</label>
                 <div class="pre_content">
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet, est non varius tempor, lectus dui rhoncus diam, et dapibus elit sem id est. Proin.
                 </div>
                 
                 
                 
                 
            </div> -->
  
              <!-- active class name : bg_rub 
  
            <div class="tag_cls lowe">
                 <i></i>
                   <span>Lowest</span>
                 </div>
  
            <div class="tag_cls highe">
            <i></i>
              <span>Highest</span>
            </div>
            -->
  
              <!-- <div class="per_box bg_rub">
                <img src="assets/img/three_line.svg">
                 <label>Apprentice</label>
                 <div class="pre_content">
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet, est non varius tempor, lectus dui rhoncus diam, et dapibus elit sem id est. Proin.
                 </div>
                 
                 
            </div> -->
  
            </ng-container>
  
          </div>


        <div class="clearfix"></div>

        <div class="col-12">
          <div class="rub_btn">
            <button class="ru_cancel" (click)="loadFilterDialogUpdate(dialoguebox)">{{translations.cancel_angular_rubrics}}</button>
            <button *ngIf="!toggle" (click)="submit()" class="ru_save">{{translations.save_angular_rubrics}}</button>
            <button *ngIf="toggle" (click)="submit_uniq()" class="ru_save">{{translations.next_angular_rubrics}}</button>

          </div>

        </div>

      </div>

    </div>

  </div>
</ng-container>
<ng-template #dialoguebox>
  <!-- <div id="per_cancel" class="modal fade " role="dialog">
        <div class="modal-dialog" style="max-width:500px;"> -->
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <h4 *ngIf="!isEdited" class="modal-title"><b>{{translations.cancel_performance_levels_angular_rubrics }}</b></h4>
      <h4 *ngIf="isEdited" class="modal-title"><b>{{translations.cancel_performance_levels_wo_edit_angular_rubrics}}</b></h4>
    
      <button type="button" class="close" data-dismiss="modal" (click)="this.modalRef.hide()">&times;</button>
    </div>
    <div *ngIf="!isEdited">
      <div class="modal-body">
        <div class="short_msg">
          <p>{{translations.are_you_cancel_adding_pl_angular_rubrics}} <br>
             {{translations.this_cant_be_undone_angular_rubrics}}</p>
        </div>
    
      </div>
    </div>
    <div *ngIf="isEdited">
    <div class="modal-body">
      <div class="short_msg">
        <p>{{translations.are_you_cancel_editing_framework_angular_rubrics}}<br>
          {{translations.this_cant_be_undone_angular_rubrics}}</p>
      </div>
   
    </div>
  </div>


    <div class="modal-footer footerm">


      <div class="col-12 share_btn">

        <button type="button" class="btn bgnone" data-dismiss="modal" (click)="this.modalRef.hide()">{{translations.cancel_angular_rubrics}}</button>
        <button type="button" class="btn btn-success" (click)="navigateTo();this.modalRef.hide()">{{translations.ok_angular_rubrics}}</button>
      </div>



      <!-- </div>
          </div> -->

    </div>
  </div>
</ng-template>