<div class="clear"></div>
<div class="container bred_an">
  <a [routerLink]="['/']">{{translations.home_global}}</a>
  <img src="assets/img/breadcrumarrow.svg"/>

  <a [routerLink]="['/account-settings']">{{translations.account_settings_all}}</a>
    <img src="assets/img/breadcrumarrow.svg"/>
    <a>
       <b> {{translations.global_export_main_global}} </b>
    </a>
</div>

<div class="clear"></div>


<div class="container box_outer">

  <div class="row panl_headingac">

    <div class="col-md-6">
      <h3>{{translations.global_export_all_global}}</h3>
    </div>

    <div class="col-md-6 back_ac">
      <a (click)="showSaveChangesModal()"> <img src="assets/dashboard/assets/img/account-settings/left-arrow.png"> {{translations.back_to_account_settings}}</a>

    </div>

  </div>
  <plans-billings-shared></plans-billings-shared>
  <div class="row tabscls">
    <ul class="nav nav-tabs col-12">
      <li class="nav-item">

        <a data-toggle="tab" role="tab" [class.active]="viewMode == 'general'" rel="tab1" (click)="viewMode ='general'">{{translations.general_export_all_global}}</a>
      </li>
      <li class="nav-item itm2">
        <a data-toggle="tab" role="tab" [class.active]="viewMode == 'performance_level'"
           (click)="viewMode ='performance_level'" (change)="changesSaved = false">{{translations.performance_level_data_export_global}}</a>
      </li>

    </ul>
  </div>

  <div class="tab-content global_content" [ngSwitch]="viewMode">
    <!--Panel 1-->
    <div class="tab-pane fade in show active" id="generalexport" role="tabpanel" *ngSwitchCase="'general'">
      <div class="row">
        <div class="col-md-2">
          <label class="ck_box2 mark2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.account_name_all_global}}</label>

        </div>
        <div class="col-md-2">
          <label class="ck_box2 mark2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.account_guid_all_global}}</label>

        </div>
        <div class="col-md-2">
          <label class="ck_box2 mark2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.huddle_name_all_global}}</label>

        </div>
        <div class="col-md-2">
          <label class="ck_box2 mark2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.huddle_guid_all_global}}</label>

        </div>

        <div class="col-md-2">
          <label class="ck_box2 mark2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.video_name_all_global}}</label>

        </div>

        <div class="col-md-2">
          <label class="ck_box2 mark2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.video_guid_all_global}}</label>

        </div>

        <div class="col-md-2">
          <label class="ck_box2 mark2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.user_guid_all_global}}</label>

        </div>


        <div class="col-md-2">
          <label class="ck_box2 mark2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.intitution_id_all_global}}</label>

        </div>

        <div class="col-md-2">
          <label class="ck_box2 mark2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.username_all_global}}</label>

        </div>

        <div class="col-md-2">
          <label class="ck_box2 mark2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.first_name_all_global}}</label>

        </div>

        <div class="col-md-2">
          <label class="ck_box2 mark2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.last_name_all_global}}</label>

        </div>

        <div class="col-md-2">
          <label class="ck_box2 mark2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.user_type_all_global}}</label>

        </div>


        <div class="col-md-2">
          <label class="ck_box"> {{translations.comment_all_global}}
            <input type="checkbox" [checked]="export.comment" (change)="export.comment = !export.comment" (click)="changesSaved = true">
            <span class="checkmark"></span>
          </label>

        </div>

        <div class="col-md-2">
          <label class="ck_box">{{translations.time_stamp_all_global}}
            <input type="checkbox" [checked]="export.time_stamp" (change)="export.time_stamp = !export.time_stamp" (click)="changesSaved = true">
            <span class="checkmark"></span>
          </label>

        </div>

        <div class="col-md-2">
          <label class="ck_box">{{translations.date_stamp_all_global}}
            <input type="checkbox" [checked]="export.date_stamp" (change)="export.date_stamp = !export.date_stamp" (click)="changesSaved = true">
            <span class="checkmark"></span>
          </label>

        </div>

        <div class="col-md-2">
          <label class="ck_box">{{translations.framework_name_all_global}}
            <input type="checkbox" [checked]="export.framework_name"
                   (change)="export.framework_name = !export.framework_name" (click)="changesSaved = true">
            <span class="checkmark"></span>
          </label>

        </div>

        <div class="col-md-2">
          <label class="ck_box">{{translations.tagged_standards_all_global}}
            <input type="checkbox" [checked]="export.tagged_standards"
                   (change)="export.tagged_standards = !export.tagged_standards" (click)="changesSaved = true">
            <span class="checkmark"></span>
          </label>

        </div>

        <div class="col-md-2">
          <label class="ck_box">{{translations.custom_marker_tags_all_global}}
            <input type="checkbox" [checked]="export.custom_marker_tags"
                   (change)="export.custom_marker_tags = !export.custom_marker_tags" (click)="changesSaved = true">
            <span class="checkmark"></span>
          </label>

        </div>

        <div class="col-md-2">
          <label class="ck_box">{{translations.attachment_file_name_all_global}}
            <input type="checkbox" [checked]="export.attachment_file_names"
                   (change)="export.attachment_file_names = !export.attachment_file_names" (click)="changesSaved = true">
            <span class="checkmark"></span>
          </label>

        </div>
      </div>
    </div>


    <div class="tab-pane fade in show active" id="performance" role="tabpanel" *ngSwitchCase="'performance_level'">
      <div class="row">
        <div class="col-md-2">
          <label class="ck_box2 mark2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.account_name_all_global}}</label>

        </div>
        <div class="col-md-2">
          <label class="ck_box2 mark2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.account_guid_all_global}}</label>

        </div>
        <div class="col-md-2">
          <label class="ck_box2 mark2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.huddle_name_all_global}}</label>

        </div>
        <div class="col-md-2">
          <label class="ck_box2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.huddle_guid_all_global}}</label>

        </div>

        <div class="col-md-2">
          <label class="ck_box2 mark2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.video_name_all_global}}</label>

        </div>

        <div class="col-md-2">
          <label class="ck_box2 mark2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.video_guid_all_global}}</label>

        </div>

        <div class="col-md-2">
          <label class="ck_box2 mark2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.coachee_user_guid_global}}</label>

        </div>


        <div class="col-md-2">
          <label class="ck_box2 mark2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.coachee}}</label>

        </div>

        <div class="col-md-2">
          <label class="ck_box2 mark2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.standard_export_global}}</label>

        </div>

        <div class="col-md-2">
          <label class="ck_box2 mark2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.768" height="11.017" viewBox="0 0 13.768 11.017">
              <path id="Path_1" data-name="Path 1"
                    d="M7.269,34.628,5.446,32.806a1.313,1.313,0,0,0-2.24.929,1.291,1.291,0,0,0,.386.925L6.34,37.408a1.312,1.312,0,0,0,1.854,0l8.395-8.395a1.311,1.311,0,1,0-1.854-1.854Z"
                    transform="translate(-3.206 -26.775)" fill="#6d6d6d"/>
            </svg>
            {{translations.rating_export_global}}</label>

        </div>


      </div>
    </div>


  </div>


  <div class="save_settingcls row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6 tright">
      <button>{{translations.cancel_us}}</button>
      <button class="save_btn" (click)="updateGlobalExport()">{{translations.vd_export}}</button>
    </div>

  </div>


</div>
<!-- save changes modal-->
<div id="save_changes" bsModal #save_changes="bs-modal" [config]="{backdrop:'static',keyboard:false}"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog" style="max-width:600px;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{translations.confirmation_required_new_settings}}</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hideSaveChangesModal()">&times;</button>

      </div>
      <div class="modal-body">
        <div class="alert_b">
          <svg id="noun_Error_1582590" xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29">
            <g id="Group_332" data-name="Group 332" transform="translate(0 0)">
              <path id="Path_51" data-name="Path 51"
                    d="M14.5,0A14.481,14.481,0,1,1,4.241,4.241,14.465,14.465,0,0,1,14.5,0Zm0,18.132a1.957,1.957,0,0,1,1.962,1.962A1.98,1.98,0,0,1,14.5,22.081a2,2,0,0,1-1.988-1.988A1.98,1.98,0,0,1,14.5,18.132Zm0-1.988a1.384,1.384,0,0,1-1.325-1.325l-.663-5.911A2.02,2.02,0,0,1,14.5,6.919a1.979,1.979,0,0,1,1.962,1.988l-.636,5.911A1.384,1.384,0,0,1,14.5,16.144ZM22.877,6.1a11.871,11.871,0,1,0,3.473,8.4A11.934,11.934,0,0,0,22.877,6.1Z"
                    transform="translate(0)" fill="#484848"/>
            </g>
          </svg>


          <label>{{translations.your_changes_have_not_saved_new_settings}}</label>
          <p>{{translations.are_you_leave_page_new_settings}}</p>
         
        </div>

      </div>

      <div class="modal-footer">


        <div class="modal_btn">
          <button type="button" class="btn" data-dismiss="modal" (click)="hideSaveChangesModal()">{{translations.cancel_popup}}</button>
          <button class="save_btn" [routerLink]="['/account-settings']" (click)="goBack()">{{translations.yes}}</button>
        </div>

      </div>
    </div>

  </div>
</div>

