.panl_headingac { border-bottom:1px solid #ddd; padding:5.5px 10px;     background: #f9f9f9;     border-top-right-radius: 5px;     border-top-left-radius: 5px;}
@media screen and (min-width:1280px) { 
  .container { max-width: 1200px !important;
      padding: 0 15px !important;
      }
     }

@media screen and (min-width:1500px) {

  .container { max-width: 1450px !important;    padding: 0 15px !important; }
} 
.panl_headingac  h3{  
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #212528;
}

.box_as {    background: #fff;
  padding: 20px 0 20px 0;}
.box_as .as_inner{     float: left;
  width: 16.4%;
  box-shadow: 0 1px 7px 0 rgba(0,0,0,.1);
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 28px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 15px 1.8%; padding: 22px 25px;}
.box_as .as_inner label { display:block; text-align:center; color:#010101; font-size:15px; height: 50px;     display: table-cell;
  vertical-align: middle;
  width: 110px; cursor:pointer; line-height: 18px;}
.box_as .as_inner span {display:block; text-align:center; height:70px; position:relative;}
.box_as .as_inner span  img {     max-width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;}
.box_as .as_inner a { text-decoration:none; display:block;}
.ac_state { background:#F9F9F9;     padding: 30px 20px 26px 20px;     border-bottom-left-radius: 5px;     border-bottom-right-radius: 5px;}
.bar_ful { background:#fff; border:1px solid #ddd; }
.ac_state label { font-size:14px; margin-bottom: 3px;}
.bar_ful span{  height:8px;     display: block;     height: 9px;}


.tabscls a{ cursor:pointer;}
.modal_btn button{ background: #fff;
    color: #484848;
    border: 0;
    padding: 6px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;}
	.modal_btn .save_btn {    background: #28A745;
    color: #fff;}



@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.ani_us{
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
}

.us1 { width:250px; height:40px;}
.us2 { width:100%; height:20px;}
.an_bx { width:100%; height:164px; display:inline-block; width: 16.4%;
  box-shadow: 0 1px 7px 0 rgba(0,0,0,.1);     border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 28px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 15px 1.8%;
  padding: 22px 25px; float:left;}



/**copy from here**/

.back_ac { text-align:right; padding-top:10px;}
.back_ac img { display:inline-block; margin-right:5px;}
.back_ac a{ color:#8B8B8B; text-decoration:none; cursor:pointer;}
.logo_area{ background:#F8F8F8; border:1.3px dashed #B8B8B8; padding:40px; text-align:center; max-width:800px; margin:0 auto; margin-top:40px; }
.logo_area img{ max-width:150px; }
.logo_label { text-align:center; font-size:14px;         padding: 15px 10px;}
.select_logo { text-align:center;     padding: 0 15px;}
.logo_select button{    background: #28A745;
  color: #fff;
  border: 0;
  padding: 6px 45px;
  font-size: 16px;
  border-radius: 4px;
  margin: 40px 0;
  width: 200px;
  text-align: center;
  cursor: pointer;     outline: 0;}
.color_picker {max-width:800px; margin:0 auto;     padding-bottom:140px;}
.color_picker input[type=color]{ height:33px; cursor: pointer;}
.color_picker label { margin:0; position:relative;  margin-left: 6px; top:-5px;}
.tright { text-align:right;}

.logo_save { text-align:left; margin:0;}
.logo_save button{ background: #fff;
  color: #484848;
  border: 0;
  padding: 6px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;}
.logo_save .save_btn {    background: #28A745;
  color: #fff;}
.logo_save { border-top:1px solid #D8D8D8; padding:20px 0;}
.logo_save .col-md-6 { padding:0;}
.logo_save a{ color:#616161; text-decoration:underline;}


.cancel_account { padding:50px 0; text-align:center;}
.account_labels { max-width:800px; margin:0 auto;}
.account_labels label { font-size:22px; font-weight:500; padding: 25px 0 6px 0; color:#484848;}
.account_labels p{}
.cancel_btns { padding:60px 0;}
.cancel_btns button{ background: #F5F5F5;
  color: #616161;
  border: 1px solid #CCCCCC;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
  margin: 0 5px;     width: 200px;}

.cancel_btns .cancel_ac{ background:#FF5050; border: 1px solid #FF5050; color:#fff;}

.modal-title {
  font-size: 25px;
  font-family: Roboto;
  padding-left: 3px;
  margin: 1px 0;
  color: #414141;
  font-weight: 300;
  text-align: center !important;
  width: 100%;
}


/* The container */
.ck_box {
  display: block;
  position: relative;
  padding-left: 30px;
  margin: 13px 0;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color:#616161;
}

/* Hide the browser's default checkbox */
.ck_box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.ck_box .checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #B4BAC3;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.ck_box:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.ck_box input:checked ~ .checkmark {
  background-color: #1C7CD5;

}

/* Create the checkmark/indicator (hidden when not checked) */
.ck_box .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.ck_box input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.ck_box .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

.alert_b{ background:#F7DF9A;     padding: 15px 15px 15px 80px; position:relative;     margin: 30px 0 26px 0; border-radius: 3px;}
.alert_b label{ font-size:16px; color:#484848; margin: 0;     font-weight: 500;
}
.alert_b p {color:#484848; font-size:14px; margin:0;     font-weight:300;
}

.alert_b svg{    position: absolute;
  left: 22px;
  top: 23px;}
.confirmation_del p { margin:0;}
.confirmation_del h5{ color:#616161; font-size:16px;}
.confirmation_del .modal-footer{   margin: 0 18px;
  padding: 15px 0;}
.confirmation_del .modal-footer button {
  background: #fff;
  color: #484848;
  border: 0px solid #CCCCCC;
  padding: 7px 15px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
  margin: 0 0 0 10px;

}
.confirmation_del .modal-footer button.btn-del {
  background: #F5F5F5;
  color: #484848;
  border: 1px solid #CCCCCC;
  padding: 7px 30px;



}

/***GloabalEXport***/
.tabscls .nav-tabs {

  position: relative;

}

.tabscls .nav-tabs .nav-item {
  margin-bottom: -1px;
  border: 1px solid #ddd;
  padding: 7px 26px 6px 26px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-left: 0;
  line-height: 26px;
}

.tabscls .nav-tabs .nav-item a {
  color: #A0A0A0;
  text-decoration: none;
  font-size: 15px;
}

.tabscls .nav-tabs .nav-item a.active {
  color: #1C7CD5;
}


.save_settingcls { text-align:left; margin:0; margin: 0 15px; margin-top:80px; }
.save_settingcls button{ background: #fff;
  color: #484848;
  border: 0;
  padding: 6px 30px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;}
.save_settingcls .save_btn {    background: #28A745;
  color: #fff;}
.save_settingcls { border-top:1px solid #D8D8D8; padding:20px 0;}
.save_settingcls .col-md-6 { padding:0;}
.save_settingcls a{ color:#616161; text-decoration:underline;}

.tabscls .nav-tabs{ padding:20px 0 0 30px;}

.ck_box2 {margin: 13px 0;font-size: 13px;     display: block; color: #616161;}
.ck_box2 svg {    margin-right: 12px;}
.global_content { padding:15px;}

/****archive***/


.filter_options {
  width: 60%;
  float: left;
}

.filter_options .btn-secondary {
  border-color: #cccccc;
  background: #fff;
  color: #484848;
  padding-right: 4%;
  padding-left: 4%;
}

.filter_options .active, .btn-secondary:hover {
  background: #f5f5f5 !important;
  color: #484848 !important;
  border-color: #cccccc !important;
}

.filter_options .ic1 {
  width: 18px;
  margin-right: 8px;
  height: 18px;
}

.filter_options .ic2 {
  width: 22px;
  margin-right: 8px;
  height: 22px;
}

.filter_options .ic3 {
  width: 20px;
  margin-right: 8px;
  height: 20px;
}

.filter_cls {
  width: 5%;
  float: left;
  padding-top: 8px;
  text-align: center;
}

.switch_op {
  width: 8%;
  float: left;
  text-align: center;
}

.switch_op a svg {
  width: 15px;
  outline: 0;
}

.switch_op a .cls-1 {
  fill: #d8d8d8
}

.switch_op .s_current .cls-1 {
  fill: #057eff
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(108, 117, 125, 0);
  border-color: #cccccc !important;
}

.btn-secondary.focus, .btn-secondary:focus {
  box-shadow: 0 0 0 0 rgba(108, 117, 125, 0);
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  background: #fff;
  opacity: 1 !important;
  color: #484848 !important;
  border-color: #cccccc !important;
}


.date_rng {
  width:35%;

  float: left;
  position: relative;
}

.date_rng img {
  position: absolute;
  right: 9px;
  top: 11px;
  cursor: pointer;
  opacity: .5;
  zoom: 1.5;
  width: 6px;
}

.date_rng input[type=text] {
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 30px 10px 10px;
  background: url('/assets/dashboard/assets/img/account-settings/cal_ic.svg') no-repeat center right 9px;
  background-size: 19px;
  padding-right: 35px;
  background-position-y: 11px;
  background-size: 18px 18px;
}

.date_rng input[type=text]::-ms-clear {
  display: none;
}

.filter_cls {
  width: 5%;
  float: left;
  padding-top: 8px;
  text-align: right;
}


.filter_cls button {
  border: 0;
  padding: 0;
  background: none;
  outline: none !important;
  cursor: pointer;
}

.filter_cls .dropdown-toggle::after {
  display: none;
}

.filter_cls .dropdown-menu {
  min-width: 140px!important;
  padding: 10px 6px 6px 9px!important;
  left: inherit !important;
  right: 22px;
}



.arch_search { width:100%;     padding-top:20px;}
.arch_search input[type=text]{ width:85%; height:40px; border:1px solid #ddd; border-radius:5px; padding:10px 5px;    background: url('/assets/dashboard/assets/img/account-settings/search_icon.svg') no-repeat center right 9px;
  background-size: 19px;
  padding-right: 35px; margin-right:1%;}
.arch_search input[type=submit] {    background: #28a745;
  border: 0;
  color: #fff;
  float: right;
  padding: 8px;
  border-radius: 3px; width:14%; text-align:center;}

.arch_content{    padding: 15px; margin:0;}
.arch_content .row{ margin:0;     position: relative; width:100%;}
.arch_listed {    border-top: 1px solid #D8D8D8;padding: 20px 30px; margin:40px -30px}
.ar_1 {   padding:0 4px; -webkit-box-flex: 0;-ms-flex: 0 0 37%; flex: 37%; max-width: 37%;}
.ar_2 { text-align:center; padding:0 4px 0 0;-webkit-box-flex: 0;-ms-flex: 0 0 8%; flex: 8%; max-width: 8%;}
.ar_3 { text-align:center;padding:0 4px; -webkit-box-flex: 0;-ms-flex: 0 0 9%; flex: 9%; max-width: 9%;}
.ar_4 { text-align:center;padding:0 4px; -webkit-box-flex: 0;-ms-flex: 0 0 9%; flex: 9%; max-width: 9%;}
.ar_5 { text-align:center;padding:0 4px; -webkit-box-flex: 0;-ms-flex: 0 0 9%; flex: 9%; max-width: 9%;}
.ar_6 { text-align:center;padding:0 4px; -webkit-box-flex: 0;-ms-flex: 0 0 14%; flex: 14%; max-width: 14%;}
.ar_7 { text-align:center;padding:0 0 0 4px; -webkit-box-flex: 0;-ms-flex: 0 0 14%; flex: 14%; max-width:14%;}
.list_heading {     border-bottom: 1px solid #D8D8D8;     padding: 5px 0;}
.list_details  { border-bottom: 1px solid #D8D8D8;     padding:17px 0;}
.list_details .ar_1 .ck_box { display:inline-block; margin:0; float:left;     position: relative;z-index: 1;}
.ar_ri { width:9px;     margin-right: 7px;}
.list_heading  .ck_box{ margin:0;}
.list_details .ar_1 img{ float:left;}
.folder_ic { margin-left:2px;}
.list_details .ar_1 b { margin-left:10px; color:#010101; font-size:15px;}

.list_details .sg1 .checkmark:after {
  left: 5px !important;
  top: 1px !important;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 0px 0 !important;
  -webkit-transform: rotate(90deg) !important;
  -ms-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}

.inner1 .ar_1{ padding:10px 4px 10px 25px;}
.inner2 .ar_1{ padding:10px 4px 10px 50px;}
.inner3 .ar_1{ padding:10px 4px 10px 75px;}
.inner3_2 .ar_1{ padding: 7px 4px 1px 100px;}
.inner4 .ar_1{ padding: 6px 4px 6px 140px;}
.inner2_2 .ar_1{ padding: 6px 4px 6px 75px;}

.last_lev{display: inline-block;padding-left:32px; color:#131313;     position: relative;
  top: -3px;}
.last_lev i{     display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  top: 1px;
}
.circle_green { background:#28a745;}
.circle_orange { background:#f69f27;}
.circle_blue { background:#1179ff;}


.ar_ri2 {
  width:18px;
  margin-right: 7px; position:relative; top:2px;
}

.arch_listed .ck_box .checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #fff;
  border: 1px solid #B4BAC3;
  border-radius: 3px;
}
.arch_listed .ck_box .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

.no_found { text-align:center;    width: 100%;
  padding: 80px 0;     color: #616161; font-weight:600; font-size:16px;}
.no_found svg {width: 28px;
  height: 26px; position:relative; top:6px;}

.container.bred_an{ padding-left:0 !important;     top: 11px !important;     padding-bottom: 9px !important;}
	.panl_headingac .col-md-6{ padding-left:7px;}
	
	.global_content .col-md-2{ padding-right:0;}
	.mark2 { position:relative;     padding-left: 30px;}
	.mark2 svg { position:absolute; left:0;     top: 2px;}
	
	
	@media screen and (max-width:1300px) {
		.global_content .col-md-2{-ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;}
		
		}
	
	
	