<div class="container" *ngIf="checkData">
  <div class="launchpad_box">
    <div class="logo_box">
        <img *ngIf="checkPlatform == 1" src="assets/img/logo-dark.svg">
        <img *ngIf="checkPlatform == 2" style="max-width: 368px;" src="assets/img/logo_2.svg">
    </div>
    <h2>{{translation?.choose_account}}</h2>
    <div class="ac_search">
      <input type="text" placeholder="{{translation.search_placeholder_lp}}"  [(ngModel)]="searchCompanyname" autocomplete="off">
      <input type="submit" id="search_dashboard" value="">
    </div>

    <div class="row acc_box">
      <div class="col-4 single_box" *ngFor="let acc of allAccounts | filter:searchCompanyname" [ngClass]="{'active-sibme': (acc.company_name == currentComanyName && checkPlatform == 1), 'active-hmh': (acc.company_name == currentComanyName && checkPlatform == 2) }">
        <div (click)="getAccountData(acc.account_id, acc.user_id)" [tooltip]="acc.company_name">
            <!-- <a> -->
              <div class="account_logo">
                <div class="account_logo_inner">
                  <img *ngIf="acc.image_logo" src="https://s3.amazonaws.com/sibme.com/static/companies/{{acc.account_id}}/{{acc.image_logo}}">
                  <img *ngIf="!acc.image_logo && checkPlatform == 1" src="assets/img/logo-dark.svg">
                  <img *ngIf="!acc.image_logo && checkPlatform == 2" src="assets/img/logo_3.svg">
                </div>
              </div>
    
              <h4>{{acc.company_name}}</h4>
              <p *ngIf="acc.role_id == '100'"> {{translation.account_owner}}</p>
              <p *ngIf="acc.role_id == '110'"> {{translation.super_admin}}</p>
              <p *ngIf="acc.role_id == '120'"> {{translation.user}}</p>
              <p *ngIf="acc.role_id == '115'"> {{translation.admin}}</p>
              <p *ngIf="acc.role_id == '125'"> {{translation.viewer}}</p>
            <!-- </a> -->
        </div>
      </div>
      <div *ngIf="!noAccount">
        <div class="col-12 noMatchFind"*ngIf="(allAccounts | filter: searchCompanyname).length === 0">{{translation.no_account_found}}</div>  
      </div>
    </div>
  </div>

</div>