body{background:#f3f2ea; font-family: 'Roboto', sans-serif; }

.box_login {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 64px;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.16); position:relative; margin-bottom:40px;
}
.login_inner {
    max-width: 368px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px;     color: #757575;
}
img { max-width:100%;}
.log_div { text-align:center;     padding: 0px 0px 10px 0px;}
.log_div img {
    max-width: 195px;
}

.login_inner h1{    color: #0d3244;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
    font-weight: 600;
    padding: 10px 0;}
	
	.login_inner input[type="text"], .login_inner input[type="password"]{
        width:100%;
        box-sizing:border-box;
        border:solid 2px #d9d9d9;
        padding:10px 5px;
        font-family: 'Roboto', sans-serif;
        font-weight:500;
        font-size:14px;
        outline:none;
            color: #acb3b7;    height: 46px;     border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.09) inset;
    }
	
	.email_icon {
    padding-left: 12px !important;
    margin-bottom: 22px;
}


.signin_btn button {
 
    background: #039542;
    border-radius: 3px;
    border: 0px;
    color: #fff;
    padding: 12px 0px;
    cursor: pointer;
    outline: none;
    display: block;
    width: 100%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.signin_btn {
    padding-top: 10px;
}

.forget_pass {
    padding: 7px 2px 11px 1px;
    font-size: 13px;
    text-align: right;
}

.forget_pass a {
    color: #616161;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: underline;
    font-size: 13px;
}

.remeber_me {
    padding: 0;
    font-size: 14px;
    color: #616161;
    float: left;
    width: 50%;
    text-align: left;
}

.password_icon {
    padding-left: 15px !important;
    margin-bottom: 10px;
}

.login_field_box {
    margin: 15px 0px 0 0;
}

.or_txt {
    text-align: center;
    margin: 0;
    border-bottom: 2px solid #ddd;
}

.or_txt span {
    display: inline-block;
    background: #fff;
    position: relative;
    top: 9px;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;     color: #757575;
}

 .select {
    position: absolute;
    right: 10px;
    bottom: 5px;
    background: none !important;
    border: 0;
    width: 90px;
}

.select:before {
    background: none !important;
}

.select:before {
    content: '';
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f2f2f2));
    background: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background: -o-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background: -ms-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background: linear-gradient(to bottom, #fff 0%, #f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
}

.select:after {
    margin-top: -2px !important;
    height: 6px;
    background-position: 0px -9px;
}

.select:after {
    content: '';
    background: url(../../../../../assets/img/select-arrows.png) no-repeat;
    width: 10px;
    height: 15px;
    position: absolute;
    right: 10px;
    display: block;
    top: 50%;
    margin-top: -7px;
    z-index: 10;
}
.select select {
    color: #b2b2b2;
    font-size: 13px;
    padding: 7px;
    font-weight: bold;
    -webkit-appearance: none;
    background: none;
    border: none;
    width: 100%;
    z-index: 11;
    position: relative;     outline: none;
}


.terms_policy {
  
    padding: 20px 0px;
    font-size: 12px;
   
    text-align: center;
}

.terms_policy a { font-weight:600;     color: #2b88a9;}
.terms_policy a:hover{color: #f6701b; text-decoration:none;}


 .google_signin_btn{
        display: block;
        background:#4285f4;
        font-weight: 600;
        border-radius:0px;
        border:0px;

        color:#fff!important;
        font-size:17px;

        padding:9px 0px;
        cursor:pointer;
        outline:none;
        margin: 0 auto;    border-radius: 2px;
        text-decoration: none;margin-top: 30px; text-decoration:none !important;
    }
    .google_signin_btn:hover{
        background:#ef594b;
    }
    .google_signin_btn:active{
        background:#ef594b;
        border-bottom:solid 2px #cdcdcd;
    }
    .google_signin_btn img{
        vertical-align: middle;
    width: 40px;
    background: #fff;
    padding: 9px;
    float: left;
    position: relative;
    top: -8.5px;
    left: 1px;
    }
	
	
	
	.sso_signin_btn {
    display: block;
    background: #8E5FE5!important;
    font-weight: 600;
    border-radius: 0px;
    border: 0px;
    color: #fff!important;
    font-size: 17px;
    padding: 10px 0px 9px 0;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    border-radius: 2px;
    text-decoration: none;
    margin-top: 20px; text-decoration:none !important;
}

 .sso_signin_btn img{
        height: 36px;
        float: left;
        margin-left: 2px;
        margin-top: -6px;
    }
    .sso_img {
        display: inline-block;
    background: #fff;
    float: left;
    padding: 8px 8px 5px 3px;
    width: 40px;
    height: 41px;
    position: relative;
    top: -9px;
    left: 1px;
    }
	
	.sso_signin_btn img {
    height: 36px;
    float: left;
    margin-left: 2px;
    margin-top: -6px;
}

.login_field_box input[type="text"], .login_field_box input[type="password"] {
    width: 365px;
    box-sizing: border-box;
    border: solid 2px #d9d9d9;
    padding: 10px 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    outline: none;
    color: #acb3b7;
    height: 46px;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    color: #545454;
    font-weight: 600;font-family: 'Roboto', sans-serif;
}

.for_pass p{    color: #0d3244;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    
    margin: auto;
    margin-top: 15px;
    margin-bottom: 40px;
    line-height: 22px;}
	
	
	
	.resetLink_btn {
       background: #349221;
    font-size: 16px;
    border-radius: 3px;
    border: 0px;
    color: #fff;
    padding: 14px 0px;
    cursor: pointer;
    outline: none;
    display: block;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 28px 0;
}

.resetPass_field_box input[type="text"], .resetPass_field_box input[type="password"] {
    width: 365px;
    box-sizing: border-box;
    border: solid 2px #d9d9d9;
    padding: 10px 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    outline: none;
    color: #acb3b7;
    height: 46px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.09) inset;
    padding-left: 40px;
}
.for_outer { position:relative;}

.for_outer i {
    color: #dcdbdb;
    position: absolute;
    top: 10px;
    font-size: 22px;
    left: 8px; width:26px;
}


/****/
.launchpad_box {
    max-width: 745px;
    margin: 0 auto;
    padding-top: 45px;  font-family: 'Roboto', sans-serif; padding-bottom:40px;
}

.logo_box {
    text-align: center;
    padding: 10px 0px;
}

.logo_box img { max-width:190px;}
.launch_header {    background-color: #369; min-height:64px;}

.launchpad_box h2{    color: #0d3244; font-size:20px; font-weight:500; text-align:center;     margin: 10px 0;}
.ac_search { position:relative; max-width:300px; margin:0 auto; margin-top:20px; margin-bottom:20px;}
.ac_search input[type=text]{    width: 100%;
    border-radius: 15px;
    border: 1px #b2b2b2 solid;
    padding: 5px 25px 5px 29px;
    color: #b2b2b2 ;     box-shadow: 0 1px 2px rgba(0,0,0,0.09) inset;
    font-size: 13px; outline:none;
    }
.ac_search  input[type=submit] {  
    background: url(../../../../../assets/img/search_btn.png) no-repeat; 
    background-color: transparent; 
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 17px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.acc_box { padding:0 15px;}
.single_box { padding: 20px 10px;
    border: solid 2px #e6e9ec;
    margin: 1.2%;
    border-radius: 8px;
    background: #fff;
	
	-webkit-box-flex: 0;
    -ms-flex: 0 0 30.9%;
    flex: 0 0 30.9%;
    max-width: 30.9%; text-align: center;
	cursor: pointer;
	}
	.single_box.active-sibme{  border: solid 2px #5daf46;}
	.single_box.active-hmh{  border: solid 2px #fcb813;}
	.account_logo {    
    display: table;
    width: 100%;
    min-height: 100px;}
	.account_logo img{ max-width:95px;}
	
	.account_logo_inner {display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 30px 0px;
    padding-bottom: 48px;}
	
	.single_box h4{    color: #848688;
    font-size: 17px; margin-bottom:1px;}
	
	.single_box p{    margin: 1px 0px;
    text-align: center;
    color: #747474;

    font-size: 15px;
    font-weight: 600;}
    .noMatchFind{
        text-align: center;
        padding: 20px 0;
        color: #757575;
        font-weight: normal;
        font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    }