<div class="bred">
    <div class="analytics-bred container bred_an">
        <a [routerLink]="'/'">{{translation?.analytics_home}}</a>
        <!-- <a *ngIf="fromParams && fromParams.displayName" [routerLink]="fromParams.url">{{fromParams.displayName}}</a> -->
        <ng-container *ngFor="let item of menuItems;let last = last">
            <img src="assets/img/breadcrumarrow.svg">
            <a *ngIf="!last" [routerLink]="item?.url"
                (click)="checkAndCall(item,$event)">{{translation[item?.displayName]}}</a>
            <!--displayName should be translation key-->
            <a class="bread-crum-text" *ngIf="!item.userName && last">{{translation[item?.displayName]}}</a>
            <a class="bread-crum-text" *ngIf="item.userName && last">{{item.userName +' '+ translation[item?.displayName]}}</a>
        </ng-container>
    </div>
</div>
<div class="analytics container p-0">
    <div class="box_outer">
        <div class="row m0 mb-4">
            <div class="col-12 panl_heading">
                <h3 *ngIf="header_data.user_current_account.roles.role_id == 120" class="display-inline">{{translation?.reporting_my_analytics}}</h3>
                <h3 *ngIf="header_data.user_current_account.roles.role_id != 120" class="display-inline">{{translation?.reporting_account_analytics}}</h3>
                <div class="export_option dropdown display-inline" dropdown *ngIf="type =='user-summary-main'">
                    <button type="button" class="dropdown-toggle" data-toggle="dropdown" dropdownToggle>
                        <img src="assets/trackers/couching-report/img/dots_dark.svg" width="30">
                    </button>
                    <div class="dropdown-menu" *dropdownMenu>
                        <a class="dropdown-item"
                            (click)="exportReport('user_summary_report_excel','true')">{{translation?.reporting_excel_export_all}}</a>
                        <a class="dropdown-item"
                            (click)="exportReport('user_summary_report_excel', false)">{{translation?.reporting_excel_export_filtered}}</a>
                        <a class="dropdown-item"
                            (click)="exportReport('user_summary_report_csv','true')">{{translation?.reporting_csv_all}}</a>
                        <a class="dropdown-item"
                            (click)="exportReport('user_summary_report_csv', false)">{{translation?.reporting_csv_filtered}}</a>
                        <a class="dropdown-item"
                            (click)="exportReport('user_summary_report_pdf','true')">{{translation?.reporting_pdf_export_all}}</a>
                        <a class="dropdown-item"
                            (click)="exportReport('user_summary_report_pdf', false)">{{translation?.reporting_pdf_export_filtered}}</a>
                    </div>
                </div>
            </div>



        </div>
        <trackers-filters [report_type]="apiUrl" (filterData)="handleChange($event)" (isLoading)="onLoading($event)"
            [callsFunctionFormFilter]="callsFunctionFormFilter" [fromAnalytics]="fromAnalytics"
            [routeOnDuration]="routeOnDuration" [itemsPerPage]="itemsPerPage"
            (filterKeyEmitter)="filterKeyEmitter($event)" [isWorSpaceAllow]="isWorSpaceAllow">
        </trackers-filters>

        <div class="row tabscls m0" *ngIf="isLoading">
            <ul class="nav nav-tabs col-12">
                <li class="nav-item">
                    <a class="g_ani" data-toggle="tab" role="tab"></a>
                </li>
                <li class="nav-item">
                    <a class="g_ani" data-toggle="tab" role="tab"></a>
                </li>
                <li class="nav-item">
                    <a class="g_ani" data-toggle="tab" role="tab"></a>
                </li>
                <li class="nav-item">
                    <a class="g_ani" data-toggle="tab" role="tab"></a>
                </li>
                <li class="nav-item"
                *ngIf="type == 'overview' || type =='tags' || type == 'custom-marker' || type =='user-summary-main'"
                >
                    <a class="g_ani" data-toggle="tab" role="tab"></a>
                </li>

            </ul>
        </div>
        <div class="tabscls" *ngIf="!isLoading">
            <ul class="nav nav-tabs">
                <ng-container *ngIf="type == 'overview' || type =='tags' || type == 'custom-marker' || type =='user-summary-main'">
                    <li class="nav-item itm2">
                        <a (click)="onTabChange('overview',true,'/analytics_angular/overview')"
                            [class.active]="type == 'overview'" data-toggle="tab"
                            role="tab">{{translation?.analytics_overview}}</a>
                    </li>
                    <li class="nav-item itm2">
                        <a (click)="onTabChange('tags',true,'/analytics_angular/tags')" [class.active]="type == 'tags'"
                            data-toggle="tab" role="tab">{{translation?.analytics_tp_level}}</a>
                    </li>
                    <li class="nav-item itm2">
                        <a (click)="onTabChange('custom-marker',true,'/analytics_angular/custom-marker')" [class.active]="type == 'custom-marker'"
                            data-toggle="tab" role="tab">{{translation?.custom_marker}}</a>
                    </li>
                    <li class="nav-item itm2">
                        <a (click)="onTabChange('user-summary-main',true,'/analytics_angular/user-summary')"
                            [class.active]="type == 'user-summary-main'" data-toggle="tab"
                            role="tab">{{translation?.analytics_user_summary}}
                        </a>
                    </li>
                    <li class="nav-item itm2 extrnl-lnk" (click)="pointToReports()">
                        <a 
                            role="tab">{{translation?.reporting_tracker_and_reports}}
                            <i class="oi" data-glyph="external-link" title="" aria-hidden="true"> </i>
                        </a>
                    </li>

                </ng-container>
                <ng-container
                    *ngIf="type == 'playercard-overview' || type == 'playercard-tags' || type == 'playercard-custommarker' || type == 'playercard-user-summary'">
                    <li class="nav-item itm2">
                        <a (click)="onTabChange('playercard-overview',true,'/analytics_angular/playercard/'+playerCardParams.account_id+'/'+playerCardParams.user_id+'/'+playerCardParams.start_date+'/'+playerCardParams.end_date+'/'+'overview')"
                            [class.active]="type == 'playercard-overview'" data-toggle="tab"
                            role="tab">{{translation?.analytics_overview}}</a>
                    </li>
                    <li class="nav-item itm2">
                        <a (click)="onTabChange('playercard-tags',true,'/analytics_angular/playercard/'+playerCardParams.account_id+'/'+playerCardParams.user_id+'/'+playerCardParams.start_date+'/'+playerCardParams.end_date+'/'+'tags')"
                            [class.active]="type == 'playercard-tags'" data-toggle="tab"
                            role="tab">{{translation?.analytics_tp_level}}</a>
                    </li>
                    <li class="nav-item itm2">
                        <a (click)="onTabChange('playercard-custommarker',true,'/analytics_angular/playercard/'+playerCardParams.account_id+'/'+playerCardParams.user_id+'/'+playerCardParams.start_date+'/'+playerCardParams.end_date+'/'+'playercard-custommarker')"
                            [class.active]="type == 'playercard-custommarker'" data-toggle="tab"
                            role="tab">{{translation?.custom_marker_tags_all_global}}</a>
                    </li>
                    <li class="nav-item itm2">
                        <a (click)="onTabChange('playercard-user-summary',true,'/analytics_angular/playercard/'+playerCardParams.account_id+'/'+playerCardParams.user_id+'/'+playerCardParams.start_date+'/'+playerCardParams.end_date+'/'+'user-summary')"
                            [class.active]="type == 'playercard-user-summary'" data-toggle="tab"
                            role="tab">{{translation?.analytics_user_summary}}</a>
                    </li>

                </ng-container>
                <div class="clear"></div>

            </ul>
            <!-- <div class="clear"></div>
            <div class=" mt-2">

            </div> -->
        </div>

        <div class="row activity_main">
            <div class="tab-content col-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>




<!-- <div id="main" class="container box">
    <analytics-breadcrumbs></analytics-breadcrumbs>
    <trackers-filters [report_type]="ApiUrl" [callsFunctionFormFilter]="callsFunctionFormFilter"
        [routeOnDuration]="routeOnDuration" (filterKeyEmitter)="filterKeyEmitter($event)"></trackers-filters>
    <div class="tabs_barcls">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item itm2">
                        <a [class.active]="type == 'overview'" [routerLink]="['/analytics_angular/overview']"
                            data-toggle="tab" role="tab">{{translation?.analytics_overview}}</a>
                    </li>
                    <li class="nav-item itm2">
                        <a [class.active]="type == 'tags'" [routerLink]="['/analytics_angular/tags']" data-toggle="tab"
                            role="tab">{{translation?.analytics_tp_level}}</a>
                    </li>
                    <li class="nav-item itm2">
                        <a [class.active]="type == 'user-summary-main'"
                            [routerLink]="['/analytics_angular/user-summary']" data-toggle="tab"
                            role="tab">{{translation?.analytics_user_summary}}
                        </a>
                    </li>
                    <div class="clear"></div>

                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="mt-2">
        <router-outlet></router-outlet>
    </div>

</div> -->