.analytics-animation {
        -webkit-animation-duration: 1.25s;
        animation-duration: 1.25s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-name: placeHolderShimmer;
        animation-name: placeHolderShimmer;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        background: #F6F6F6;
        background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
        background-size: 800px 104px;
        /* height: 96px;
    position: relative;
    margin-right: 5px; */
}

.ana_cl {
        -webkit-animation-duration: 1.25s;
        animation-duration: 1.25s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-name: placeHolderShimmer;
        animation-name: placeHolderShimmer;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        background: #F6F6F6;
        background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
        background-size: 800px 104px;
}

.ani_brcls {
        -webkit-animation-duration: 1.25s;
        animation-duration: 1.25s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-name: placeHolderShimmer;
        animation-name: placeHolderShimmer;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        background: #d9d9d9;
        background: linear-gradient(to right, #e9e9e9 8%, #F0F0F0 18%, #efefef 33%);
        background-size: 800px 104px;
        position: relative;
}

.bre_ani {
        padding: 2px !important;
        height: 19px;
        margin-bottom: 26px !important;
        position: relative;
        top: 15px;
}

.an_ah1 {
        height: 36px;
}

.an_ah2 {
        height: 36px;
        border: 0 !important;
}

.an_ah3 {
        height: 20px;
        border: 0 !important;
        width: 106px;
        display: inline-block;
        margin-right: 26px;
}

.an_ah4 {
        height: 116px;
        border: 0 !important;
        width: 100%;
        display: inline-block;
        margin-top: -20px;
        margin-bottom: 1px;
}

.an_ah5 {
        height: 31px;
        border: 0 !important;
        width: 100%;
        display: block;
}

.an_ah2c1 {
        height: 36px;
        border: 0 !important;
}

.an_ah2c2 {
        height: 36px;
        border: 0 !important;
}

.an_ah2c3 {
        height: 36px;
        border: 0 !important;
}

.an_ah2c4 {
        height: 36px;
        border: 0 !important;
        border-right: 20px solid #fff !important;
}

.an_ah2c5 {
        height: 36px;
        border: 0 !important;
        border-right: 20px solid #fff !important;
}

.an_ah2c6 {
        height: 36px;
        border: 0 !important;
        border-right: 20px solid #fff !important;
}

.an_ah2c7 {
        height: 36px;
        border: 0 !important;
        border-right: 50px solid #fff !important;
}

.gan1 {
        height: 30px;
        margin: 0 0 15px 0 !important;
        display: block;
        width: 60%;
}

.gan2 {
        height: 300px;
        margin: 0 0 0px 0 !important;
        display: block;
}


/* tabs css start */

.tabs_barcls {
    padding: 15px 0 0 0;
    height: 55px;
}

.tabs_barcls .nav-tabs {
    border: 0;
    position: relative;
    top: 4px;
}

.tabs_barcls .nav-tabs .nav-item {
    margin-bottom: -1px;
    border: 1px solid #ddd;
    padding: 6px 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 0;
    height: 37px;
}

.tabs_barcls .nav-tabs .nav-item a {
    color: #A0A0A0;
    text-decoration: none;
    font-size: 15px;
}

.tabs_barcls .nav-tabs .nav-item a.active {
    color: #1C7CD5;
}

.box {
    -moz-box-sizing: border-box;
    background-color: #FFF;
    border: 1px solid #DAD6CE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    float: left;
    min-height: 371px;
    overflow: hidden;
    padding: 10px 20px 20px;
    width: 328px;
    box-sizing: border-box;
}
#main {
    width: 100%;
    margin-top: 15px !important;
    margin-bottom: 48px;
    position: relative;
    margin: 32px auto 88px;
    overflow: hidden;
}

/* tabs css end */

/* analytics new css */
 @media screen and (min-width:1280px) {
.analytics.container {
    max-width: 1250px!important;       padding: 0 25px !important;
          }
}
   @media screen and (min-width:1500px) {
.analytics.container {
    max-width: 1450px !important;        padding: 0 !important;
    }
}

.bred img{    margin: 0 15px;}
.bred{    color: #838383!important;font-weight: 400;     padding: 0px 0 0 0; font-size: 14px;}
.bred .container{ padding-left:5px;}
.bred span{ color:#000;}

.box_outer .m0 { margin:0;}
/* .box_outer { max-width: none !important;} 
commented this code to fix layout issues
*/

.panl_heading { border-bottom:1px solid #ddd; padding:5.5px 15px;     background: #f9f9f9;        border-top-left-radius: 5px;     border-top-left-radius: 5px; }
.panl_heading  h3{        font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #212528;}

/* .activity_main { margin:0; padding:20px 0 0 0;}
.act_left h3{ font-size:18px;     padding: 26px 15px 10px 15px}
.act_right h3{ font-size:18px;     padding: 26px 15px 20px 15px} */

.tabscls .nav-tabs {
  
    position: relative; padding:0 20px;
   
}

.tabscls .nav-tabs .nav-item {
   margin-bottom: -1px;
    
    border: 1px solid #ddd;
   
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 0;
    line-height: 26px;
    height: 35px;
    min-width: 117px;
    text-align: center;
}

.tabscls .nav-tabs .nav-item a {
    color: #A0A0A0;
    text-decoration: none;
    font-size: 15px;
	    display: block;
    padding: 4px 26px 4px 26px;
}

.tabscls .nav-tabs .nav-item a.active {
    color: #1C7CD5;
}

.main-pad{
padding-left:15px;
padding-right:15px;
}
.tab-content { padding-bottom:15px;}
.activity_main { margin:0;}

.export_option {
        right: 20px;
        position: absolute;
        margin-top: 11px;
    }
    
    .export_option .dropdown-toggle::after {
        display: none;
    }
    
    .export_option button {
        background: none;
        border: none;
        outline: none;
    }
    .export_option .dropdown-menu.show {
        
    position: relative;
    top: 24px !important;
    right: -34px !important;
    left: inherit !important;  border-radius: 4px;     -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.1);

    }
	
	.export_option .dropdown-item {    font-size: 14px;     padding: 6px 10px !important;}
.export_option button img { width:24px;}

.export_option .dropdown-item{ font-size:14px;}

     .g_ani{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    
    position: relative;
  }
    .tabscls .nav-tabs .nav-item a.g_ani{    margin: 7px;
      height: 20px;}
      
      .analytics-bred.bred_an {
       padding: 0 0 11px 0px !important;
}

    .tracker_filter .multiselect-dropdown .dropdown-btn span {
    max-width: 72% !important;
}


@media screen and (max-width: 1200px)
{
        .tracker_filter .multiselect-dropdown .dropdown-btn span {
    display: inline;
    max-width: 60% !important;
}
}
@media screen and (max-width: 991px)
{
        .tracker_filter .multiselect-dropdown .dropdown-btn span {
    display: inline;
    max-width: 55% !important;
}
}

.display-inline{
        display: inline-block;
}

.extrnl-lnk  {
        border-color: #fff !important;
        border-bottom: 1px solid #ddd !important;
    }

.bread-crum-text {
        text-decoration: none !important;
        cursor: auto !important;
}