
<div style="width: 500px; margin-left:25px">
<form method = "post" action="/app/users/admin">
	Names: <textarea name = 'names' id="names" ></textarea> </br></br>
	
	emails: <textarea name='emails' id="emails" ></textarea> </br></br>
	
	roles: <textarea name='roles' id="roles" ></textarea> </br></br>
	
	password: <input name = 'pass' id = "pass" />  </br></br>
	
	company: <input name = 'company' id = "company" />  </br></br>
	
	<input type="submit" value="Submit">
	
</form>
</div>