<div id="main" class="container box" (window:beforeunload)="confirmExit($event)" *ngIf="isAuthenticatedUser">
    <div class="analy_b">
        <div class="header_an">
            <h2 *ngIf="!options.video_title" class="video-detail-animation page-title"></h2>
            <h2 *ngIf="options.video_title">{{options.video_title}}</h2>
        </div>
        <div class="video_body observation_body">
            <div *ngIf="!translationLoaded" style="display: flex">
                <div class="video-detail-animation tab-heading1"></div>
                <div class="video-detail-animation tab-heading2"></div>
            </div>
            <tabset #staticTabs>
                <tab (selectTab)="SelectTab(0)" *ngIf="true">
                    <ng-template tabHeading>
                        {{translation?.vd_comments}} <span class="badge badge-primary">{{totals.comment_count}}</span>
                    </ng-template>
                </tab>
                <tab (selectTab)="SelectTab(1)" *ngIf="true">
                    <ng-template tabHeading>
                        {{translation?.vd_attachment}} <span class="badge badge-primary">{{staticFiles.length}}</span>
                    </ng-template>
                </tab>
                <tab (selectTab)="SelectTab(2)" *ngIf="permissions?.rubric_check && userAccountLevelRoleId != '125'">
                    <ng-template tabHeading>
                        {{translation?.vd_frameworks}}
                    </ng-template>
                </tab>
                <tab (selectTab)="SelectTab(3)" *ngIf="getCoachingSummaryCheck() && userAccountLevelRoleId != '125'">
                    <ng-template tabHeading>
                        <ng-container *ngIf="VideoInfo?.h_type==2"> {{translation?.vd_coaching_summary}}
                        </ng-container>
                        <ng-container *ngIf="VideoInfo?.h_type==3">{{translation?.vd_assessment_summary}}
                        </ng-container>
                    </ng-template>
                </tab>
                <tab (selectTab)="SelectTab(4)"
                    *ngIf="permissions?.performance_level_check && permissions?.rubric_check && getPLTabPermission() && userAccountLevelRoleId != '125'">
                    <ng-template tabHeading>
                        {{translation?.vd_performance_level}}
                    </ng-template>
                </tab>
                <tab (selectTab)="PointToLink()"
                    *ngIf="(VideoInfo?.h_type==2 || VideoInfo?.h_type==3) && (VideoInfo.assessment_link || VideoInfo.coaching_link) && userAccountLevelRoleId != '125'">
                    <ng-template tabHeading>
                        {{VideoInfo?.h_type==2?translation?.vd_coaching_tracker:VideoInfo?.h_type==3?translation?.vd_assessment_tracker:""}}
                        <i class="oi" data-glyph="external-link" title="" aria-hidden="true"> </i>
                    </ng-template>
                </tab>
                <div *ngIf="!translationLoaded" class="video-detail-animation nav-back-section"></div>
                <div *ngIf="translationLoaded"
                    style="float: right;position: absolute;top: 94px;right: 20px;z-index: 19;">
                    <a [routerLink]="[GetUrl()]"><svg style="right: 10px;position: relative; top: -3px;"
                            xmlns="http://www.w3.org/2000/svg" width="18.03" height="11.187" viewBox="0 0 18.03 11.187">
                            <g id="left-arrow" transform="translate(-454 88.086)">
                                <path id="Path_88" data-name="Path 88"
                                    d="M17.249,80.727H2.665l3.48-3.48a.78.78,0,0,0-1.1-1.1L.229,80.955a.78.78,0,0,0,0,1.1l4.813,4.813a.78.78,0,1,0,1.1-1.1l-3.48-3.481H17.249a.78.78,0,1,0,0-1.561Z"
                                    transform="translate(454 -164)" fill="#949494" />
                            </g>
                        </svg></a>
                    <ng-container *ngIf="!workspace">
                        <a style="position: relative;top: -2px;color:#757575;" [routerLink]="[GetUrl()]"
                            class="all-observations">{{translation?.vd_back_to_all_observaton}} </a>
                    </ng-container>
                    <ng-container *ngIf="workspace">
                        <a style="position: relative;top: -2px;color:#757575;" [routerLink]="[GetUrl()]"
                            class="all-observations">{{translation?.vd_backtoworkspace}}</a>
                    </ng-container>
                </div>
            </tabset>
            <div class="tab-content">
                <div class="row">
                    <div *ngIf="currentTab==0" class="col-sm-6">
                        <div class="fake_player" *ngIf="enabledLoad && !scriptMode">
                            <ng-container *ngIf="options?.status=='recording'">
                                <div class="row">
                                    <div class="pull-left col-sm-10">
                                        <span class="custom_tag animated fadeIn infinite"
                                            style="border-color:transparent;background-color:rgb(223, 10, 0)"></span>{{translation?.vd_live_recording}}
                                    </div>
                                    <div class="pull-right">
                                        {{options?.current_time}}
                                    </div>
                                </div>
                                <span class="player_icon animated">
                                    <span class="oi" data-glyph="video"></span>
                                </span>
                            </ng-container>
                            <ng-container *ngIf="options?.status=='uploading'">
                                <div class="uploading_wrapper" [style.width.%]="options.upload_progress">
                                </div>
                                <span>{{translation?.vd_uploading}} {{options?.upload_progress}}% </span>
                            </ng-container>
                            <ng-container *ngIf="options?.status=='paused'">
                                <div class="uploading_wrapper" [style.width.%]="options.upload_progress">
                                </div>
                                <span>
                                    <span class="oi" data-glyph="media-pause"></span>
                                    <span class="pause_wrapper">
                                        {{translation?.vd_pause}} ({{options?.upload_progress}}%)
                                    </span>
                                </span>
                            </ng-container>
                            <ng-container *ngIf="options?.status=='cancelled'">
                                <div class="uploading_wrapper" [style.width.%]="options.upload_progress">
                                </div>
                                <span>
                                    <span class="oi" data-glyph="plus"></span>
                                    <span class="pause_wrapper">
                                        {{translation?.vd_pause}}
                                    </span>
                                </span>
                            </ng-container>
                        </div>
                        <div class="script_mode" *ngIf="scriptMode">
                            <div class="text-center" *ngIf="!options?.script_published && loaded">
                                <h3> {{options?.current_time}} </h3>
                                <button class="btn btn-success form-control" (click)="StartTimer();AddPermissions()"
                                    *ngIf="!options.timerStarted" [style.backgroundColor]="primery_button_color">
                                    {{translation?.vd_start}} </button>
                                <ng-container *ngIf="options.timerStarted && options.timerStatus!='stopped'">
                                    <div class="btn-group">
                                        <button class="btn btn-success" *ngIf="options.timerStatus=='playing'"
                                            (click)="pauseInterval(0)" [style.backgroundColor]="primery_button_color">
                                            {{translation?.vd_pause}} </button>
                                        <button class="btn btn-success" *ngIf="options.timerStatus=='paused'"
                                            (click)="StartTimer()">
                                            {{translation?.vd_resume}} </button>
                                        <button class="btn btn-warning" (click)="pauseInterval(1)">
                                            {{translation?.vd_stop}} </button>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="add_comment" [hidden]="options?.script_published && !EditMode" *ngIf="scriptMode && loaded"
                            [style.backgroundColor]="EditMode?'#fcf9d1':'transparent'"
                            [style.padding]="EditMode?'6px':'0'">
                            <div class="row comm_top">
                                <div class="col-md-6">
                                    <label>{{EditMode? translation?.vd_update_comments : translation?.vd_new_comments}}</label>
                                </div>
                                <div class="col-md-6 comm_time" *ngIf="!isVideoProcessing">
                                    <span class="switch_container">
                                        <ui-switch (click)="closeInfo();" [disabled]="EditMode" defaultBgColor="#a3a3a3"
                                            [(ngModel)]="newComment.timeEnabled">
                                        </ui-switch>
                                    </span>
                                    <span class="time_com">{{translation?.vd_comment_time}} - <span
                                            class="video_time_cls">
                                            <span *ngIf="newComment.timeEnabled && EditMode">
                                                <div>
                                                    <input type="number" max="24" class="custom-form-control"
                                                        [(ngModel)]="VideoCurrentTime[0]"
                                                        (ngModelChange)="OnCommentTimeChange($event, 'h')" />
                                                    <input type="number" class="custom-form-control"
                                                        [(ngModel)]="VideoCurrentTime[1]" max="59"
                                                        (ngModelChange)="OnCommentTimeChange($event,'m')" />
                                                    <input type="number" class="custom-form-control"
                                                        [(ngModel)]="VideoCurrentTime[2]" max="59"
                                                        (ngModelChange)="OnCommentTimeChange($event, 's')" />
                                                </div>
                                            </span>
                                            <span *ngIf="newComment.timeEnabled && !EditMode">
                                                {{VideoCurrentTime}}
                                            </span>
                                            <span
                                                [hidden]="newComment.timeEnabled">{{translation?.vd_all_videos}}</span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="comment_box">
                                <textarea [(ngModel)]="newComment.commentText" (keydown)="TriggerTextChange($event)"
                                    placeholder="{{translation?.vd_plcholder_add_comment}}" onfocus=""
                                    (click)="closeInfo(1,0,2)"></textarea>
                                <div class="comment_tags">
                                    <div class="tags_icons fake_link"
                                        (click)="mainService.FocusCustomTag();closeInfo(1,0,2);"
                                        style="transform: rotate(86deg);">
                                        <span class="oi" data-glyph="tag"></span>
                                    </div>
                                    <div class="plusicon fake_link" (click)="mainService.FocusCustomTag();closeInfo();">
                                        <span class="oi" data-glyph="plus"></span>
                                    </div>
                                    <custom-tags [predefinedTags]="tags" (Tags)="SetCustomTags($event)">
                                    </custom-tags>
                                    <div class="clear"></div>
                                </div>
                                <div class="comment_tags" *ngIf="permissions?.rubric_check">
                                    <div class="tags_icons fake_link" (click)="ActivateTab(2);closeInfo();">
                                        <img src="assets/img/list-2x.png">
                                    </div>
                                    <div class="plusicon fake_link" (click)="ActivateTab(2);closeInfo();">
                                        <span class="oi" data-glyph="plus"></span>
                                    </div>
                                    <span *ngFor="let rubric of selectedRubrics; let i=index"
                                        [ngClass]="{'tag_adjusted':i>0}" class="tag_rounded full_width">
                                        {{rubric.tag_code}} {{rubric.tag_html}}<span class="pull-right cross_span"
                                            (click)="closeInfo();RemoveSelectedRubric(rubric,i)"> x </span>
                                    </span>
                                    <div class="clear"></div>
                                </div>
                                <fs-uploader (click)="closeInfo(1,0,2);" [label]="translation?.vd_upload"
                                    [source]="'comment'" [configuration]="videoOptions"
                                    (onUpload)="AppendNewFiles($event)"></fs-uploader>
                                <span *ngFor="let file of newComment.files; let i=index"
                                    [ngClass]="{'tag_adjusted':i>0}" class="tag_rounded full_width marg_top">
                                    <span>
                                        {{file.filename || file.title}}
                                    </span>
                                    <span class="pull-right cross_span"
                                        (click)="closeInfo();RemoveFileFromComment(file, i)">
                                        x
                                    </span>
                                </span>
                            </div>
                            <div class="comm_option" *ngIf="permissions?.AllowCustomMarkers">
                                <ng-container *ngFor="let marker of CustomMarkers; let i = index">
                                    <span [style.backgroundColor]="getMarkerBg(marker, i)" class="custom_tag"
                                        [style.borderColor]="[colorClasses[i]]"
                                        (click)="ChooseCustomTag(marker)"></span>
                                    <span (click)="ChooseCustomTag(marker)"> {{marker.tag_title}} </span>
                                </ng-container>
                            </div>
                            <div class="add_comm">
                                <div class="btn-group" dropdown>
                                    <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle"
                                        aria-controls="dropdown-basic" (click)="closeInfo();">
                                        <img src="assets/img/dot.svg">
                                    </div>
                                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu settingsMenu" role="menu"
                                        aria-labelledby="button-basic">
                                        <li role="menuitem" (click)="ToggleEnterPost()" class="fake_link"
                                            style="width: 100%;">
                                            <span class="dropdown-item">{{translation?.vd_press_enter}}
                                                <span *ngIf="settings.EnterToPost" class="oi pull-right"
                                                    data-glyph="check" title="" aria-hidden="true">
                                                </span>
                                            </span>
                                        </li>
                                        <li role="menuitem" (click)="TogglePause()" class="fake_link"
                                            style="width: 100%;">
                                            <span class="dropdown-item">{{translation?.vd_pause_while}} <span
                                                    *ngIf="settings.PauseWhileTyping" class="oi pull-right"
                                                    data-glyph="check" title="" aria-hidden="true">
                                                </span> </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="add_comm_btn" *ngIf="!EditMode">
                                    <a class="fake_link" (click)="AddTextComment()"
                                        [style.backgroundColor]="primery_button_color">{{translation?.vd_add}}</a>
                                </div>
                                <div class="add_comm_btn" *ngIf="EditMode">
                                    <a class="simple_btn" (click)="EditTextComment(0)">{{translation?.vd_cancel}}</a>
                                    <a class="fake_link" (click)="EditTextComment(1)"
                                        [style.backgroundColor]="primery_button_color">{{translation?.vd_update}}</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="currentTab==0" class="col-sm-6"
                        [ngClass]="{'col-sm-12':scriptMode&&!EditMode&&options?.script_published, 'col-sm-6':!scriptMode|| scriptMode && EditMode  ||scriptMode && !options?.script_published}">
                        <search-form *ngIf="comments.length>0" [permissions]="permissions" [VideoInfo]="VideoInfo"
                            [customMarkers]="CustomMarkers" [params]="params" (settingsChanged)="ApplySettings($event)"
                            [classes]="colorClasses">
                        </search-form>
                        <div *ngIf="loaded" class="comm_outer" size="7px" transition="0.2" railVisible="true"
                            railOpacity="0.2" railColor="#000" height="600px" id="slimscroll" slimScroll>
                            <ng-container *ngFor="let comment of comments">
                                <comment [VideoInfo]="VideoInfo" [permissions]="permissions" [index]="i"
                                    [from]="'vobody'" [staticFiles]="[]"
                                    (onDelete)="onCommentDelete($event)" (onEdit)="onCommentEdit($event)"
                                    [allow_evidence_view]="allow_evidence_view"
                                    [isActive]="currentComment == comment" [attr.id]="'comment_'+i"
                                    [customMarkers]="CustomMarkers" [classes]="colorClasses" *ngIf="comment?.valid"
                                    [comment]="comment" [params]="params"> </comment>
                            </ng-container>
                            <div class="text-center no_comments_found animated fadeIn"
                                *ngIf="FilteredCommentsCounts==0">
                                <h5> {{translation?.vd_no_comment_found}} </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" *ngIf="currentTab==1">
                        <div class="row btn_resources_upload_wrapper">
                            <div class="add_comm_btn col-sm-12" *ngIf="userAccountLevelRoleId != '125'">
                                <fs-uploader [label]="translation?.vd_upload" [source]="'resources'"
                                    [configuration]="videoOptions" (onUpload)="GetNewFiles($event)"></fs-uploader>
                            </div>
                        </div>
                        <table class="table table-hover resources" *ngIf="staticFiles.length>0">
                            <thead>
                                <tr>
                                    <th>
                                        {{translation?.vd_time}}
                                    </th>
                                    <th>
                                        {{translation?.vd_file}}
                                    </th>
                                    <th class="text-right">
                                        {{translation?.vd_action}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let file of staticFiles">
                                    <td class="clickable" style="width: 90px;" (click)="Seek(file.time)">
                                        <span *ngIf="file?.time!=0"> {{getFileTime(file)}} </span>
                                        <span *ngIf="file?.time<=0 || !file?.time"> {{translation?.vd_all_videos}}
                                        </span>
                                    </td>
                                    <td class="clickable" (click)="FileClicked('td', file)">
                                        <span class="oi file_icon" data-glyph="file"></span> <span class="file_name"
                                            title="{{file?.title}}">{{file?.title}}</span>
                                    </td>
                                    <td *ngIf="file.id && userAccountLevelRoleId != '125'">
                                        <div class="video_options btn-group" dropdown>
                                            <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle"
                                                aria-controls="dropdown-basic" (click)="closeInfo();">
                                                <img src="assets/img/dot.svg">
                                            </div>
                                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                                aria-labelledby="button-basic">
                                                <li role="menuitem" class="fake_link"
                                                    *ngIf="currnetUser.id == file.created_by">
                                                    <span class="dropdown-item"
                                                        (click)="InitiateDeleteResource(confirmDialog, file)">{{translation?.vd_delete}}</span>
                                                </li>
                                                <li role="menuitem" class="fake_link" (click)="FileClicked('li', file)">
                                                    <span class="dropdown-item">{{translation?.vd_download}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td *ngIf="!file.id">
                                        {{translation?.vd_uploading}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6" *ngIf="currentTab==2">
                        <ng-container *ngIf="permissions?.framework_selected_for_video!=1">
                            <div class="preview_container" *ngIf="getSelectFrameworkPermission()">
                                <div>
                                    {{translation?.vd_choose_framework}} </div>
                                <select class="form-control" [(ngModel)]="VideoHuddleFramework"
                                    (ngModelChange)="GetRubricById($event)">
                                    <option value=""> {{translation?.vd_select_framework}} </option>
                                    <option *ngFor="let framework of frameworks"
                                        [attr.value]="framework.account_tag_id">
                                        {{framework.tag_title}}
                                    </option>
                                </select>
                                <ng-container *ngIf="rubricPreview">
                                    <div [style.margin-top.px]="20" size="7px" transition="0.2" railVisible="true"
                                        railOpacity="0.2" railColor="#000" height="385px" id="slimscroll" slimScroll>
                                        <rubrics [isCreater]="'true'" [data]="rubricPreview" [previewMode]="true">
                                        </rubrics>
                                    </div>
                                    <div class="text-right pull-from-top">
                                        <button class="btn btn-default"
                                            (click)="AssignFramework(confirmFrameworkSet, 0)">
                                            {{translation?.vd_cancel}} </button>
                                        <button [disabled]="!VideoHuddleFramework" class="btn btn-success"
                                            (click)="AssignFramework(confirmFrameworkSet, 1)"
                                            [style.backgroundColor]="primery_button_color">
                                            {{translation?.vd_use_framework}} </button>
                                    </div>
                                </ng-container>
                            </div>
                            <div *ngIf="!getSelectFrameworkPermission()" class="text-center">
                                {{translation?.vd_you_must_define}}
                            </div>
                        </ng-container>
                        <ng-container *ngIf="permissions?.framework_selected_for_video==1">
                            <input type="text" placeholder="{{translation?.vd_search_framework}}" class="form-control"
                                [(ngModel)]="term">
                            <rubrics [isCreater]="'true'" [term]="term" [data]="rubrics"></rubrics>
                        </ng-container>
                    </div>
                    <div class="col-sm-6" *ngIf="currentTab==3">
                        <coaching-summary [VideoInfo]="VideoInfo" [params]="params"
                            [huddle_permission]="permissions.huddle_permission"
                            [coaching_perfomance_level]="permissions.coaching_perfomance_level"></coaching-summary>
                    </div>
                </div>
                <div class="row" *ngIf="currentTab == 4">
                    <div class="avg_performance_level"
                        *ngIf="permissions?.framework_selected_for_video==1 && PLTabData?.average_rating">
                        <label>{{translation?.vd_avrg_pl}} <b>{{PLTabData?.average_rating}}</b> </label>
                    </div>
                    <div class="col-sm-6" *ngIf="permissions?.framework_selected_for_video==1">
                        <rubrics [isCreater]="'true'" [data]="PLTabData?.standards?.data" [from]="'tab'"
                            (RubricClicked)="OnRubricClicked($event)">
                        </rubrics>
                    </div>
                    <div class="col-sm-6" *ngIf="permissions?.framework_selected_for_video!=1">
                        {{translation?.vd_you_must_define_frameworks}}
                    </div>
                    <div class="col-sm-6" *ngIf="PLcomments && SelectedPLRubric">
                        <div class="selectedPl">
                            <div class="flex_box_pLevel">
                                <span class="rub_nu flex_box_pLevel_left">{{SelectedPLRubric?.tag_code}}</span>
                                <span class="flex_box_pLevel_right ru_checkbox">
                                    {{SelectedPLRubric?.tag_html}}
                                    <div class="number_tagged" *ngIf="SelectedPLRubric?.account_tag_id">
                                        {{translation?.vd_times_observed}}: <span
                                            class="badge badge-primary">{{SelectedPLRubric?.get_standard_tagged_count}}</span>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="Pldropdown" *ngIf=" PLcomments.length>0">
                            <label *ngIf="currnetUser.huddle_role_id == 210 && SelectedPLRubric.selectedRating">
                                {{translation?.vd_performance_level_ratting}}:
                                <b [style.display]="'inherit'">
                                    <select class="form-control fake_select" disabled
                                        [(ngModel)]="SelectedPLRubric.selectedRating"
                                        (ngModelChange)="RatingChanged($event)">
                                        <option value="0" selected="selected"> {{transaltion?.vd_select}} </option>
                                        <option *ngFor="let pl of SelectedPLRubric.selectOptions" [value]="pl.id">
                                            {{pl.text}}
                                        </option>
                                    </select>
                                </b>
                            </label>
                            <select *ngIf="permissions.can_rate && currnetUser.huddle_role_id == 200"
                                class="form-control" [(ngModel)]="SelectedPLRubric.selectedRating"
                                (ngModelChange)="RatingChanged($event)">
                                <option value="0" selected="selected"> {{transaltion?.vd_select}} </option>
                                <option *ngFor="let pl of SelectedPLRubric.selectOptions" [value]="pl.id">
                                    {{pl.text}}
                                </option>
                            </select>
                        </div>
                        <div class="comments_desc" *ngIf="PLcomments && PLcomments.length>0">
                            <tabset class="tab_no_border">
                                <tab>
                                    <ng-template tabHeading>
                                        {{translation?.vd_comments}}
                                    </ng-template>
                                    <div class="comm_option comm_option2 nopointer"
                                        *ngIf="PLcomments && PLcomments.length>0">
                                        <ng-container *ngFor="let marker of CustomMarkers; let i = index">
                                            <span class="custom_tag" [style.background]="colorClasses[i]"
                                                [style.borderColor]="[colorClasses[i]]"
                                                (click)="SelectTag(marker)"></span> {{marker.tag_title}}
                                        </ng-container>
                                    </div>
                                    <comment [from]="'tab'" *ngFor="let comment of PLcomments"
                                        [staticFiles]="staticFiles"
                                        [allow_evidence_view]="allow_evidence_view"
                                        (onDelete)="onCommentDelete($event)" (onEdit)="onCommentEdit($event)"
                                        [isActive]="currentComment == comment" [customMarkers]="CustomMarkers"
                                        [classes]="colorClasses" [comment]="comment" [params]="params"
                                        (onReplyEdit)="onReplyEdit($event)"> </comment>
                                </tab>
                                <tab *ngIf="getSettings('enable_performance_level')!=0">
                                    <ng-template tabHeading>
                                        {{translation?.vd_performance_level_desc}}
                                    </ng-template>
                                    <ng-container *ngIf="getSettings('enable_unique_desc')==0">
                                        <div class="performance_level_detail ru_checkbox"
                                            *ngFor="let settings of SelectedPLRubric?.account_framework_settings_performance_levels">
                                            <div>
                                                <h6> {{settings.performance_level}} </h6>
                                            </div>
                                            <div> {{settings.description}} </div>
                                        </div>
                                    </ng-container>
                                    <ng-container
                                        *ngIf="this.SelectedPLRubric.descriptions && this.SelectedPLRubric.descriptions.length>0">
                                        <div class="ru_checkbox" *ngFor="let description of this.SelectedPLRubric.descriptions">
                                            <div>
                                                <h6> {{description.label}} </h6>
                                            </div>
                                            <div> {{description.text}} </div>
                                        </div>
                                    </ng-container>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #confirmDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{translation?.vd_are_sure_that}}
    </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolveDeleteFile(0)">
                {{translation?.vd_cancel}}
            </button>
            <button class="btn btn-primary" (click)="ResolveDeleteFile(1)">
                {{translation?.vd_ok}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #confirmPublishDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{translation?.vd_your_comments}} </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolvePublish(0)">
                {{translation?.vd_cancel}}
            </button>
            <button class="btn btn-primary" (click)="ResolvePublish(1)">
                {{translation?.vd_ok}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #confirmDialogDel>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefDel.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{translation?.vd_are_you_sure}}
    </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolveDeleteVideo(0)">
                {{translation?.vd_cancel}}
            </button>
            <button class="btn btn-primary" (click)="ResolveDeleteVideo(1)">
                {{translation?.vd_ok}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #confirmFrameworkSet>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="ResolveAssignFramework(0)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{translation?.vd_assigning_a_framework}}
    </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolveAssignFramework(0)">
                {{translation?.vd_cancel}}
            </button>
            <button class="btn btn-primary" (click)="ResolveAssignFramework(1)">
                {{translation?.vd_ok}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #copyDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_copy_video}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <tabset id="tabs_copy_video">
            <tab id="tab1" (selectTab)="currentCopyTab=0" *ngIf="true">
                <ng-template tabHeading>
                    <span class="oi" data-glyph="comment-square" title="" aria-hidden="true"></span>
                    {{translation?.vd_copy_to_huddle}}
                </ng-template>
                <div id="header-container" class="filterform">
                    <div class="filterform">
                        <input id="input-filter" placeholder="{{translation?.vd_search_huddles}}" class="filterinput"
                            type="text" style="width: 100%; display: block;" [(ngModel)]="CopyData.searchHuddleText"
                            (ngModelChange)="onSearchHuddleChange($event)">
                        <div id="cancel-btn" type="text"
                            style=" width: 10px;  position: absolute; right: 40px; top: 161px; display:none;cursor: pointer; "
                            class="filterinput">X</div>
                    </div>
                </div>
                <div class="filter_data_box">
                    <ul id="list-containers" class="inset-area clear-list files-list">
                        <li *ngFor="let huddle of CopyData.all_huddles; let i=index" [hidden]="!huddle.valid">
                            <label class="ui-checkbox model">
                                <input class="copyFiles_checkbox" [attr.id]="'huddle'+i" type="checkbox"
                                    [(ngModel)]="huddle.selected">
                            </label>
                            <label [attr.for]="'huddle'+i">
                                <a class="copy_link"> {{huddle.name}}</a>
                            </label>
                        </li>
                        <li *ngIf="CopyData?.huddles_matched==0">
                            {{translation?.vd_no_huddles_match}} </li>
                    </ul>
                </div>
            </tab>
            <tab (selectTab)="currentCopyTab=1"
                *ngIf="permissions?.permission_video_library_upload && permissions?.get_account_video_library_permissions">
                <ng-template tabHeading>
                    <span class="oi" data-glyph="video" title="" aria-hidden="true"></span>
                    {{translation?.vd_copy_to_vl}}
                </ng-template>
                <ul class="inset-area clear-list files-list">
                    <li>
                        <label class="ui-checkbox model">
                            <input class="copyFiles_checkbox" name="account_folder_id" id="account_folder_name"
                                type="checkbox" [(ngModel)]="CopyData.LibrarySelected">
                        </label>
                        <label for="account_folder_name">{{translation?.vd_copy_to_vl}} </label>
                    </li>
                </ul>
            </tab>
            <tab (selectTab)="currentCopyTab=2" *ngIf="CopyData.all_accounts.length>1">
                <ng-template tabHeading><span class="oi" data-glyph="people" title="" aria-hidden="true"></span>Copy to
                    {{CopyData.all_accounts.length>1?translation?.vd_account:translation?.vd_workspace}}
                </ng-template>
                <div id="header-container" class="filterform">
                    <div class="filterform">
                        <input id="input-filter" placeholder="{{translation?.vd_search_accounts}}" class="filterinput"
                            type="text" style="width: 100%; display: block;" [(ngModel)]="CopyData.searchAccountText"
                            (ngModelChange)="onSearchAccountChange($event)">
                        <div id="cancel-btn" type="text"
                            style=" width: 10px;  position: absolute; right: 40px; top: 161px; display:none;cursor: pointer; "
                            class="filterinput">X</div>
                    </div>
                </div>
                <div class="filter_data_box">
                    <ul id="list-containers" class="inset-area clear-list files-list">
                        <li *ngFor="let account of CopyData.all_accounts; let i=index" [hidden]="!account.valid">
                            <label class="ui-checkbox model">
                                <input class="copyFiles_checkbox" [attr.id]="'account'+i" type="checkbox"
                                    [(ngModel)]="account.selected">
                            </label>
                            <label [attr.for]="'account'+i">
                                <a class="copy_link"> {{account.company_name}} -
                                    <b>{{translation?.vd_workspace}}</b></a>
                            </label>
                        </li>
                        <li *ngIf="CopyData?.accounts_matched==0">
                            {{translation?.vd_no_accounts}} </li>
                    </ul>
                </div>
            </tab>
        </tabset>
    </div>
    <div class="modal-footer ">
        <div class="text-left copy_comments" *ngIf="currentCopyTab!=1 && comments.length>0">
            <input type="checkbox" [(ngModel)]="CopyData.CopyComments" id="copy_comments">
            <label for="copy_comments"> {{translation?.vd_copy_comments}} </label>
        </div>
        <div class="text-right model-btns">
            <a class="simple_btn" (click)="ResolveCopyVideo(0)">{{translation?.vd_cancel}}</a>
            <a class="green" (click)="ResolveCopyVideo(1)"
                [style.backgroundColor]="primery_button_color">{{translation?.vd_ok}}</a>
        </div>
    </div>
</ng-template>
<ng-template #cropDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_crop_video}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideCropModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-crop-video-player (CropIsPlaying)="CropIsPlaying=$event" (CropVideoTotalTime)="CaptureTotalTime($event)"
            [VideoInfo]="VideoInfo" [comments]="comments" [customMarkers]="CustomMarkers" [colors]="colorClasses"
            [ShowInfo]="ShowInfo" [src]="src" (ShowInfoBack)="ShowInfo=$event"></app-crop-video-player>
        <div>
            <span>{{cropStartValue}}</span>
            <span style="float: right;">{{cropEndValue}}</span>
        </div>
        <nouislider *ngIf="videoEnd" [config]="cropRangeSliderConfig" [(ngModel)]="cropRange"
            (ngModelChange)="onCropSliderChange($event)"></nouislider>
        <div>
            <span>00:00</span>
            <span style="float: right;">{{videoEnd}}</span>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-right model-btns">
            <a class="simple_btn" (click)="hideCropModal()">{{translation?.vd_cancel}}</a>
            <a class="blue" (click)="CropPreviewVideo()">{{translation?.vd_preview_video}}</a>
            <a class="green" (click)="TrimVideo()"
                [style.backgroundColor]="primery_button_color">{{translation?.vd_trim}}</a>
        </div>
    </div>
</ng-template>