.intercom-lightweight-app {
    display: none !important;
}
.search_field
{
    width: 85% !important;
}
.canvas_desc {
    font-size: 12px;
    padding-right: 42px !important;
    font-weight: 600;
}
.canvas_link {
    color: #008ee2;
    text-decoration: none;
    font-weight: bold;
    transition: all .1s linear;
}
.video_box > div{ max-height: 300px !important;}
    .video_body{
        padding: 0 !important;
    }