@import url(../fonts/fonts_ana.css);

/* @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,500,700'); */


/* @import '~ngx-bootstrap/datepicker/bs-datepicker.css'; */


/* body{
      color: #757575;
      font-size: 90% !important;
      font-weight: normal;
      font-family: "Segoe UI",Helvetica,Arial,sans-serif;
      background: #f3f2ea!important;
    }
    div.clear {
    clear: both;
} */

.single_select .multiselect-item-checkbox input[type=checkbox]+div:before {
    position: inherit !important;
    border: 2px solid #337ab700 !important;
    color: #337ab705 !important;
    background: #337ab700 !important;
}

.single_select .multiselect-item-checkbox input[type=checkbox]+div {
    padding-left: 0 !important;
}

.single_select .multiselect-item-checkbox input[type=checkbox]+div:after {
    border-color: transparent !important;
}

.single_select .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
    animation: none !important;
    background: transparent;
    -webkit-animation: none !important;
}

.single_select .multiselect-item-checkbox input[type=checkbox]:checked+div {
    background: #ededed;
    padding: 3px;
    font: 14px/23px;
}

div.multiselect-dropdown span.dropdown-btn span.dropdown-down {
    border-left: 6px solid transparent !important;
    border-right: 6px solid transparent !important;
    border-top: 6px solid #000000 !important;
}

.multiselect-dropdown .dropdown-btn .dropdown-up {
    border-bottom: 6px solid #000000 !important;
    border-left: 6px solid transparent !important;
    border-right: 6px solid transparent !important;
}

.dropdown-btn .selected-item a {
    display: none;
}

.multiselect-dropdown .dropdown-btn .selected-item:hover {
    -webkit-box-shadow: 1px 1px #95959500 !important;
    box-shadow: 1px 1px #95959500 !important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
    background: transparent !important;
    border: 0 !important;
    color: #4e4e4e !important;
}

.multiselect-dropdown .dropdown-btn {
    border: 1px solid #e1e2e2 !important;
}

input:focus {
    outline: none;
}

.ana_body {
    min-height: 500px;
}

.ana_body .nav-tabs {
    border: 0;
    margin: 0;
}

.ana_body .tab-content {
    display: block;
    visibility: visible;
    padding: 25px 4px 0 4px;
    width: 100%;
}

.ana_body .nav-tabs {
    border: 0;
    margin: 0;
}

.ana_body .nav-tabs .nav-link:focus,
.ana_body .nav-tabs .nav-link:hover {
    border: 0 !important;
}

.ana_body .nav-tabs a:hover {
    border: 0 !important;
}

.ana_body .nav-tabs .nav-link {
    border: 0;
    font-family: 'Conv_Roboto-Regular';
    font-weight: 500;
    padding: 0 30px 0 0;
}

.ana_body .nav-tabs a {
    color: #616161;
    font-size: 15px;
}

.ana_body .nav-tabs a.active {
    color: #0275d8;
}

.ana_body .tab-content .col-md-3 {
    padding-right: 12px;
    padding-left: 12px;
}

.ana_body .tab-content .col-md-3 label {
    display: block;
    font-size: 28px;
    margin: 14px 0;
    font-family: 'Conv_Roboto-Light';
    color: #616161;
    min-height: 42px;
}

.ana_body .ui-datatable thead th {
    padding: 17px 10px !important;
    font-family: "Roboto";
}

.ana_body .ui-datatable td {
    padding: 5px 6px !important;
}

.ana_body .ui-datatable td a {
    color: #0275d8;
    text-decoration: underline;
}

.ana_body .ui-datatable .ui-paginator {
    background: #fff !important;
    padding: 24px 14px 6px 1px;
    border: 0;
    text-align: left;
}

.ana_body .ui-datatable .ui-paginator-element {
    background: none;
    border: 0;
    margin: 0 5px;
    display: inline-block;
    font-size: 14px;
}

.ana_body .ui-paginator .ui-paginator-page.ui-state-active {
    color: #0275d8;
    background: none;
    border: 0;
}

.ana_body .ui-paginator a:not(.ui-state-disabled):not(.ui-state-active):hover {
    color: #0275d8;
    background: none;
    border: 0;
}

.ana_body .ui-paginator-last {
    display: none !important;
}

.ana_body .ui-paginator-first {
    display: none !important;
}

.ana_body .fa-backward:before {
    display: none;
}

.ana_body .fa-backward {
    background: url('../../img/pagination_arrow_left.svg') no-repeat;
    width: 11px;
    height: 15px;
    position: relative;
    top: 4px;
}

.ana_body .ui-paginator-prev {
    margin: 0;
    padding: 0;
}

.ana_body .ui-paginator-next {
    margin: 0;
    padding: 0;
}

.ana_body .fa-forward:before {
    display: none;
}

.ana_body .fa-forward {
    background: url('../../img/pagination_arrow_right.svg') no-repeat;
    width: 11px;
    height: 15px;
    position: relative;
    top: 4px;
}

.ui-datatable-tablewrapper {
    overflow-x: scroll !important;
}

.opt_row2 {
    z-index: 2;
}


/*
.amcharts-export-menu .export-main > a {

    background: url('../../img/dots.svg') !important;
    background-repeat: no-repeat !important;
    background-position: 10px 16px !important;
    -webkit-box-shadow: 0px 0px 0px 0 rgba(0,0,0) !important;
    box-shadow: 0px 0px 0px 0 rgba(0,0,0) !important;
    border-radius: 0px !important;
    margin: -40px 0px 0 0px !important;
    opacity: 1 !important;

}
.amcharts-export-menu .export-main > a:hover {

    background: url('../../img/dots.svg');
    background-repeat: no-repeat;
    background-position: 10px 16px;

}*/

#pieContainer .amcharts-legend-div {
    /*left: 27%;*/
}

.ui-widget-content tr td:nth-child(1) {
    position: sticky;
    left: -2px;
    width: 165px !important;
    z-index: 0;
    text-align: left;
    background: #FFF;
    padding-left: 12px !important;
}

th.ui-state-default:nth-child(1) {
    position: sticky;
    left: -2px;
    width: 165px !important;
    z-index: 0;
    text-align: left;
    background: #FFF;
    padding-left: 10px !important;
}

th.ui-state-default {
    text-align: center;
}

tr.ui-widget-content {
    text-align: center;
    font-family: roboto;
    font-size: 13px;
}

ng-multiselect-dropdown {
    font-family: Conv_Roboto-Regular;
    color: #414141;
}

tr.ui-widget-content.rowSelected {
    background: #dbedff !important;
}

#loading-bar .bar {
    background: transparent;
    height: 4px;
}

#loading-bar-spinner .spinner-icon {
    width: 18px;
    height: 18px;
    border: solid 4px transparent;
    border-top-color: #cadd22;
    border-left-color: #cadd22;
    border-radius: 10px;
}

tr.ui-widget-content td {
    overflow-x: hidden;
}


/*.hidden{

    display: none;

}*/

.ui-widget-header {
    background: transparent !important;
    border: 0 !important;
}

.dropdown-list {
    -webkit-box-shadow: 0 0px 0px #959595 !important;
    box-shadow: 0 0px 0px #959595 !important;
}

.pagination-previous a,
.pagination-previous span {
    display: none !important;
}

.pagination-next a,
.pagination-next span {
    display: none !important;
}

.pagination-previous {
    background: url('../../img/pagination_arrow_left.svg') no-repeat !important;
    width: 11px;
    height: 15px;
    position: relative;
    top: 4px;
    cursor: pointer !important;
    opacity: 1 !important;
}

.pagination-previous.disabled {
    background: url('../../img/pagination_arrow_left.svg') no-repeat !important;
    width: 11px;
    height: 15px;
    position: relative;
    top: 4px;
    cursor: default !important;
    opacity: 0 !important;
}

.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before {
    display: none !important;
}

.pagination-next {
    background: url('../../img/pagination_arrow_right.svg') no-repeat !important;
    width: 11px;
    height: 15px;
    position: relative;
    top: 4px;
    opacity: 1 !important;
    cursor: pointer !important;
}

.pagination-next.disabled {
    background: url('../../img/pagination_arrow_right.svg') no-repeat !important;
    opacity: 0 !important;
    cursor: default !important;
}

.ngx-pagination .current {
    background: transparent !important;
    color: #0275d8 !important;
}

.ngx-pagination .current {
    background: transparent !important;
    color: #0275d8 !important;
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
    background: transparent !important;
    text-decoration: none !important;
    color: #0275d8 !important;
}

.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after {
    display: none !important;
}

.serialbox {
    padding-left: 10px;
}

.sibme_header .dropdown-toggle::after {
    display: none !important;
}

.user_newDropDown {
    top: 50px !important;
}


/* .bred_an span{
font-size: 13px;
} */

#main {
    width: 100%;
    margin-top: 14px !important;
    margin-bottom: 18px !important;
    position: relative;
    margin: 32px auto 88px;
    overflow: hidden;
    border: 0px solid #DAD6CE !important;
    border-radius: 0px 0px 0px 0px!important;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1)!important;
    border-radius: 5px !important;
}

.header_an {
    background-color: #f9f9f9;
    margin: 0px -15px 0px -15px;
    padding: 5px 20px;
    border-bottom: 1px solid #e1e2e2;
}

.header_an h2 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #212528;
}

.header_an h3 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #212528;
}
.video_body {
    padding: 16px 0 40px 0;
}

.video_body .nav-tabs {
    margin: 0;
}

.video_body .nav-tabs {
    border-bottom: 1px solid #eeeeee;
    margin: 0 -15px!important;
    padding: 0 15px!important;
}

.video_body .nav-tabs .nav-item {
    margin-bottom: 0px;
    margin-left: 0;
}

.nav li {
    float: left;
    margin-left: 3px;
}

.video_body .nav-tabs a.active {
    color: #0275d8;
}

.video_body .nav-tabs .nav-link {
    font-family: 'Roboto-light';
    font-size: 15px;
    padding: 5px 12px 5px 12px;
    min-height: 36px;
}

.video_body .nav-tabs .nav-link {
    border: 1px solid #eeeeee;
    border-bottom: 0;
}

.video_body .nav-tabs a {
    color: #616161;
}

.video_body .nav-tabs a span:first-child {
    display: none;
}

.video_body .nav-tabs a.active span.badge {
    background: #1d7dd4;
}

.video_body .nav-tabs a span {
    background: #616161;
    display: inline-block;
    padding: 4px 10px 5px 10px;
    border-radius: 5px;
    color: #fff;
}

.video_body .tab-content {
    display: block;
    visibility: visible;
    padding: 7px 4px 0 4px;
    width: 100%;
}

.tab-content>.active {
    display: block;
}

.box {
    -moz-box-sizing: border-box;
    background-color: #FFF;
    border: 1px solid #DAD6CE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    float: left;
    min-height: 371px;
    overflow: hidden;
    padding: 10px 15px 10px 15px;
    width: 328px;
}

.switch_container {
    /*float: left;*/
    width: 19%;
}

.switch_text {
    float: left;
    width: 77%;
    font-weight: 600;
    line-height: 16px;
}

.field_title {
    font-weight: 600;
    margin: 15px 0;
    font-size: 16px;
    color: #424242;
    padding-left: 5px;
}

.switch-medium small {
    width: 15px !important;
    height: 15px !important;
    margin-left: 4px;
    margin-right: 4px;
    top: 3px !important;
    position: absolute !important;
}

.switch .off {
    color: #FFF !important;
    top: 1px !important;
}

.switch .on {
    color: #FFF !important;
    top: 1px !important;
}

.switch.switch-medium.switch-labeled {
    width: 55px !important;
    border: none;
}

.switch small {
    box-shadow: none !important;
}

.switch-medium {
    height: 22px !important;
}

.switch-medium.switch-labeled {
    width: 52px;
}

.video_info_main {
    text-align: right;
    padding: 7px 0 6px 0;
    position: relative;
    min-width:135px;
}

.video_info {
    border-radius: 4px;
    border: 1px solid #dddddd;
    color: #000000;
    padding: 2px 7px 2px 7px;
    float: right;
    margin-right: 5px;
    font-size: 14px;
    font-family: 'Roboto-Regular';
    cursor: pointer;     text-transform: capitalize;
}

.video_options a {
    border-radius: 4px;
    border: 1px solid #dddddd;
    color: #848484;
    padding: 2px 6px 4px 6px;
    float: right;
    font-size: 16px;
}


.comm_top{}

.comm_top {
  /*  margin: -40px -15px 8px -15px;    padding-right: 145px;*/ max-width:750px;

  margin:0 -15px;    padding-right:0px;

}

#col6.col-md-12 .comm_top{ margin-top:0; padding-top:15px;}
.comm_top .col-md-4{ padding-right:0;}


.add_comment label {
    display: inline-block;
    color: #010101;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    margin-bottom: 0;
    position: relative;
    top: -2px;
}

.comm_time {
    color: #cbcbcb;
    float: right;
    font-size: 12px;
    margin-bottom: 0px;
    display: inline-block;     -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
}

.comm_time {
    text-align: right;
    padding-top: 0px;     z-index: 9;
    position: relative;
}

.comm_time .switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 17px;
}

.add_comment label {
    display: inline-block;
    color: #010101;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    margin-bottom: 0;
}

.time_com {

    color: #010101;
    position: relative;
    top: -4px;
    display: inline-block;
    margin-left: 6px;
    font-size: 13px;
        text-transform: capitalize;
}

.comment_box {
    border: 1px solid #dddddd;
    padding: 6px;
    border-radius: 4px;
    background: #fff; z-index: 9;
}

.add_comment textarea {
    border: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.09) inset;
    padding: 0;
    color: black;
    resize: none;    overflow-y: hidden; padding-bottom:0 !important;line-height: 20px;
}



.add_comment textarea::-webkit-input-placeholder::first-letter {
  text-transform: capitalize;
}

.add_comment textarea:-ms-input-placeholder::first-letter {
  text-transform: capitalize;
}

.add_comment textarea::placeholder::first-letter {
  text-transform: capitalize;
}
.comment_tags {
    padding-bottom: 10px;
}

.plusicon {
    float: left;
}

.plusicon img {
    max-width: 10px;
    position: relative;
    top: -4px;
}

.comment_tags {
    padding-bottom: 10px;
}

.tags_icons {
    float: left;
    margin-right: 3px;
}

textarea:focus {
    outline: 0;
}

.comm_option {
    padding: 9px 0 5px 0;
}

.comm_option {
    color: #383a39;
    font-family: 'Roboto-Regular';
    font-size: 13px;
    cursor: pointer;
}

.comm_option span {
    position: relative;
    top: 1px;
    margin-right: 2px;
    display: inline-block;
}

.comm_option2 span{    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis; white-space: nowrap;}
	.comm_option2 span.custom_tag  {    position: relative;
    top: 4px;
    float: left;}


.fsp-picker__brand-container {
    display: none !important;
}

.custom_tag {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 20px;
    border: 2px solid #000;
}

.q_circle {
    border: 2px solid #5db85b;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.i_circle {
    border: 2px solid #38a0ff;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 20px;
}

.b_circle {
    border: 2px solid #ff5800;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 20px;
}

.r_circle {
    border: 2px solid #df0a00;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 20px;
}

.add_comm {
    padding: 2px 0 2px 0 !important;
}

.comm_options {
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    color: #848484;
    padding: 1px 6px 0px 6px !important;
    float: left;
    font-size: 14px !important;
    cursor: pointer;
    background: #fff;
}

.add_comm_btn {
        float: right;     width: auto !important;     text-align: right;

}


.add_comm_btn a {
    background: #5db85b;
    color: #fff !important;
    display: inline-block;
       padding: 6px 5px;
    border-radius: 4px;
    /*float: right;*/
    font-family: 'Roboto-Light';
    text-decoration: none;
	    min-width: 65px;
    text-align: center;
}
/* 039542 */

.add_comm .btn-group {
    float: left;
}

.video_options .dropdown-toggle::after,
.add_comm .dropdown-toggle::after {
    display: none !important;
}


.com_height{
min-height: 800px;
}


.fake_link:hover {
    cursor: pointer;
}

.filled {
    background: #e0e0e0;
}

.video_options {
    float: right;
    cursor: pointer;
}

.slimScrollDiv {
    padding-right: 10px !important;
}

.settingsMenu {
    width: 260px;
}

.fsp-picker__brand-container {
    display: none !important;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.model-copy {
    max-width: 600px !important;
}

.modal-header {
    background: #f9f9f9;
}

.modal-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: block;
    color: #484848;
    text-align: center;
    width: 95%;
}

.model-copy .tab-content {
    margin-top: 18px;
}

.model-copy .nav-tabs .oi {
    display: inline-block;
    margin-right: 5px;
}

.model-copy .nav-tabs a {
    color: #A0A0A0;
    text-decoration: none;
    font-size: 15px;
}

.model-copy .nav-tabs .nav-link.active {
    color: #518fcc;
}

.model-copy .filterinput {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    padding: 4px;
    height: 40px;
    border-radius: 4px;
}

.model-copy .files-list {
    padding-left: 0;
    list-style: none;
    margin-top: 15px;
    height: 259px;
    overflow-y: scroll;
    margin-bottom: 0;
}

.model-copy .files-list li {
    margin-bottom: 3px;
    color: #101010;
    overflow: hidden;
    word-break: break-all;
    display: flex;
}

.model-copy .files-list li input[type=checkbox] {
    position: relative;
    top: 1px;
    display: inline-block;
    margin-right: 5px;
}

.hu_cancel {
    background: #fff;
    color: #636363;
    border: 0;
    display: inline-block;
    padding: 9px 26px;
    border-radius: 4px;
    font-family: Roboto-Regular;
}

.hu_primary {
    background: #518fcc;
    color: #fff;
    border: 0;
    display: inline-block;
    padding: 9px 26px;
    border-radius: 4px;
    font-family: Roboto-Regular;
    margin-right: 15px;
}

.model-send-email {
    max-width: 600px !important;
}

.model-send-email input[type=text],
.model-send-email input[type=email] {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    padding: 4px;
    height: 40px;
    border-radius: 4px;
}

.model-send-email textarea {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    padding: 4px;
    height: 100px;
    border-radius: 4px;
    margin-bottom: 11px;
}

.model-send-email label {
    margin: 12px 0 0 0;
}

.nav-link i {
    color: #848484;
    font-size: 11px;
    margin-left: 10px;
}

.extrnl-lnk a {
    border-color: #fff !important;
}


/* .nav-tabs li:last-child a{
    border-color:#fff !important;
} */


/* .observation_body .nav-tabs li:last-child a{
    border:1px solid #eeeeee !important;
} */

.model-copy .nav-tabs li:last-child a {
    border-color: transparent !important;
}

.model-copy .nav-tabs li:last-child a.active {
    border-color: #dee2e6 !important;
    border-bottom-color: #fff !important;
}

.model-copy .nav-tabs li:last-child a:hover {
    border-color: #e9ecef #e9ecef #dee2e6 !important;
}

.model-copy .nav-tabs li:last-child a.active:hover {
    border-color: #e9ecef #e9ecef #dee2e6 !important;
    border-bottom-color: #fff !important;
}

.video_options ul {
    right: 0px !important;
    left: inherit !important;
}

.dropdown-item {
    padding: 2px 10px !important;
    font-size: 15px !important;
}

.open .comm_options {
    /* background: #D6D6D6; */
}

.comm_time .switch-medium {
    height: 14px !important;
    width: 30px !important;
}

.comm_time .switch-medium small {
    width: 8px !important;
    height: 8px !important;
}

.tag_rounded {
   border: solid 1px #ccc;
    border-radius: 3px;
    padding: 2px 18px 1px 5px;
    margin: 4px 4px 0 0;
    vertical-align: top;

    display: inline-block;

    max-width: 24% !important;
}

.tag_rounded span {
    margin-left: 5px;
    cursor: pointer;
    vertical-align: top;
}

.comment_tags custom-tags input {
    padding-left: 7px;
}

.fake_link {
    display: inline-block;
    ;
}

.comm_option .custom_tag:first-child {
    margin-left: 0px;
}

.uploader_adjs {
    margin-right: -4px;
}

.marg_top {
    top: 2px;
}

#overlay {
    opacity: 0.9;
    max-height: 100%;
}

.dropdown-header {
    padding-left: 10px !important;
}

.add_comm_btn .simple_btn,
.comment_manage .simple_btn {
    background: none !important;
    color: #616161 !important;
    cursor: pointer !important;
}
.add_comm_btn .simple_btn{ margin-right:6px;}

.comm_time .switch-medium.checked small {
    left: 14px !important;
}

.comm_time {}

.tags_icons {
    color: #8A8A8A;
    font-size: 16px;
}

.plusicon {
    color: #8A8A8A;
    font-size: 9px;
    top: 2px;
    position: relative;
    margin-left: 2px;
}

.full_width {
    width: 405px;
    text-overflow: ellipsis;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.cross_span {
    position: absolute;
       top: 1.5px;
    right: 4px; cursor:pointer;
}

.Pldropdown+.comments_desc .nav-item .nav-link {
    border: 0 !important;
}

.tag_adjusted {
    margin-left: 35px;
}

.text_margin_bottom {
    margin: 10px 0px;
}

.comm_options img {
    top: 0px;
    position: relative;
    max-width: 20px;
}

.card {
    color: #7B7280 !important;
}

.tab_no_border .nav-tabs {
    border: 0px !important;
}

.tab_no_border ul {
    border: 0px !important;
}

.tab_no_border ul li a {
    padding-left: 0px !important;
}

.tab_no_border a.active,
.tab_no_border a {
    border: 0 !important;
}

.video-js .vjs-fullscreen-control {
    left: 47px;
}

.vjs-text-track-settings .vjs-modal-dialog-content {
    overflow: hidden;
}

/* .ob_add_comment .add_comm_btn {
    height: 0;
    position: relative;
    top: 38px;
} */

.ng2-nouislider .noUi-horizontal {
    background-color: #b1bdc3;
    background-image: -webkit-linear-gradient(top, #b1bdc3, #a2aeb4);
    background-image: linear-gradient(to bottom, #b1bdc3, #a2aeb4);
    height: 10px;
}

.ng2-nouislider .noUi-connect {
    background-color: #46ab32;
    background-image: -webkit-linear-gradient(top, #46ab32, #359a21);
    background-image: linear-gradient(to bottom, #46ab32, #359a21);
    -webkit-transition: background 450ms;
    transition: background 450ms;
}

.ng2-nouislider .noUi-handle {
    background: url('../../img/sprites.video-editor.png') no-repeat;
    cursor: pointer;
    box-shadow: none;
    border: none;
}

.ng2-nouislider .noUi-handle:focus {
    outline: none;
}

.ng2-nouislider .noUi-handle:before,
.ng2-nouislider .noUi-handle:after {
    display: none;
}

.ng2-nouislider .noUi-horizontal .noUi-handle {
    height: 32px;
    width: 19px;
    top: -1px;
}

.ng2-nouislider .noUi-handle-lower {
    background-position: top left;
    right: -2px !important;
}

.ng2-nouislider .noUi-handle-upper {
    background-position: top right;
}

.ng2-nouislider .noUi-target {
    border-radius: 0;
    box-shadow: none;
}

.video_box>div {
    margin: 0 auto;
    max-height: 100%;
    width: 100%;
}

.player_fwd {
    left: -26px;
    position: relative;
    display: inline-block;
}

.player_bk {
    left: -20px;
    position: relative;
    display: inline-block;
}

.vjs-volume-panel-horizontal {
    left: 10px !important;
}

.player_bk {
    left: -86%;
    cursor: pointer;
}

.player_fwd {
    left: -87%;
    cursor: pointer;
}

.bk_full {
    left: -95.5% !important;
}

.fw_full {
    left: -96% !important;
}

.play_adjusted {
    left: -10px !important;
}

.vjs-volume-bar {
    margin-right: 10px !important;
}

.preview_container .slimScrollDiv {
    border-bottom: 1px solid #d0d0d0;
}

.preview_container #slimscroll {
    padding-bottom: 20px;
}

html {
    font-family: 'Roboto';
}

#header,
#header a {
    font-family: 'Roboto', sans-serif !important;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #bcbcbc !important;
}

.rubric_match_found {
    background: yellow !important;
}

.video-js .vjs-time-control {
    display: block !important;
}

.vjs-time-control {
    padding: 0 10px 0 4px !important;
}

.vjs-time-divider {
    margin: 0 !important;
    padding: 0 !important;
}

.vjs-duration {
    margin: 0 !important;
    padding: 0 !important;
}

.video-js .vjs-remaining-time {
    display: none !important;
}

.video-js .vjs-control,
.video-js button {
    outline: 0 !important;
}

.video-js .vjs-volume-panel .vjs-volume-control {
    margin-left: -9px !important;
}

.video-js .vjs-progress-control .vjs-progress-holder {
    margin-right: 0!important;
}

.video-js .vjs-time-divider {
    margin: 0 2px !important;
    min-width: 4px !important;
}

.video-js .vjs-time-control {
    margin: 0 2px !important;
    padding: 0 !important;
    line-height: 31px !important;
}

.player_fwd,
.player_bk {
    top: 1px !important;
}

.video-js .vjs-control-bar {
    width: 100% !important;
}

.video-js .vjs-control:focus,
.video-js .vjs-control:focus:before,
.video-js .vjs-control:hover:before {
    text-shadow: 0 0 0em #fff !important;
}

.language_sp #header div.user_newDropDown ol {
    width: 143px !important;
    min-height: 104px !important;
    padding-left: 8px !important;
    margin-left: 0 !important;
}

.language_sp .model-copy .nav-tabs a {
    padding: 6px 8px !important;
    font-size: 13px !important;
}

.modal-header .close {
    outline: 0;
    float: right;
    font-size: 28px !important;
    font-weight: 600 !important;
    line-height: 18px !important;
    font-family: initial;
}

.preview_container {
    margin-bottom: 10px;
}

.hide_time .vjs-current-time {
    display: none !important;
    ;
}

.combxfull .user_comment {
    width: 94% !important;
}

.combxfull .moreDetails .col-sm-1 {
    flex: 0 0 3.333333%;
    max-width: 4.333333%;
}

.fsp-notifications__container {
    position: fixed !important;
}

.modal-header {
    background: #f9f9f9;
}

.modal-body {
    padding: 1rem 20px!important;
}

.alert_bg {
    background: #F7DF9A;
    padding: 10px;
    margin: 0 0 15px 0 !important;
    border-radius: 4px;
}

.alert_bg img {
    width: 24px;
    position: relative;
    top: 19px;
}

.alert_bg .col-2 {
    padding-left: 0;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 14.666667%;
    flex: 0 0 14.666667%;
    max-width: 14.666667%;
}

.singleline img {
    top: 17px !important;
}

.alert_bg .col-10 {
    padding: 0;
}

.singleline h6 {
    padding: 18px 0 20px 0!important;
}

.alert_bg h6 {
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding: 15px 0 20px 0;
}

.hufooter {
    border: 0;
    text-align: right;
    padding-bottom: 21px;
}

.hufooter a {
    display: inline-block;
    padding: 9px 27px;
    font-weight: 400;
    border-radius: 5px;
    color: #484848;
    text-decoration: none;
}

.hufooter a.conf_delete {
    border: 1px solid #CECECE;
    padding-right: 30px;
    padding-left: 30px;
}

.ply_box {
    position: relative;
}

.ply_box .ply_play {
    position: absolute;
    left: 0;
    top: 46%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    bottom: 0;
    margin: 0 auto;
    cursor: pointer;
}

.ply_box video {
    width: 100%;
    height: 350px;
}

.croop_popup {
    text-align: center;
    padding: 10px;
}

.barClass {
    width: 100%;
    height: 5px;
    background: lightgray;
    border-radius: 5px;
}

.highlightClass {
    background: blue;
}

.sliderHilight {
    position: absolute;
    z-index: 1005;
    height: inherit;
}

.slidersContainer {
    position: relative;
    margin: 20px 0;
}

.sliderClass {
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;
    border: 1px solid blue;
    bottom: -72% !important;
}

.language_sp .add_comm_btn {
    /* display: inline-block; */
}

.language_sp .simple_btn {
    /* max-width: 50%;
    float: left;
    margin-left: -30px; */
}

.language_sp .fake_link {
    max-width: 100%;
    margin-right: 2px;
}


/* The container */

.checkboxcls {
    display: block;
    position: relative;
    padding-left: 30px;
    margin: 13px 0;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #616161;
}


/* Hide the browser's default checkbox */

.checkboxcls input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #B4BAC3;
    border-radius: 3px;
}


/* On mouse-over, add a grey background color */

.checkboxcls:hover input~.checkmark {
    background-color: #fff;
}


/* When the checkbox is checked, add a blue background */

.checkboxcls input:checked~.checkmark {
    background-color: #fff;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.checkboxcls input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.checkboxcls .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #B4BAC3;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

.cinema-mode-on .add_comment {
    max-width: 50%;
    padding-right: 15px !important;
}

.sceen_view {
    background: none;
    border: 0;
    outline: 0 !important;
    position: absolute;
    right: -1px;
    z-index: 101;
    bottom: 4px;
}

.player_fwd,
.player_bk {
    top: 9px !important;
}

.player_bk {
    position: absolute !important;
    left: 25px !important;
}

.player_fwd {
    position: absolute !important;
    left: 40px !important;
}

.sceen_view {
    background: none;
    border: 0;
    outline: 0 !important;
    position: absolute;
    right: -1px;
    z-index: 101;
    bottom: 4.6px;
}

.video-js .vjs-fullscreen-control {
       left: -21px !important;
    margin: 0 10px !important;
    width: 26px !important;
    z-index: 10 !important;
}
.vjs-subs-caps-button {
    width: 26px !important; margin: 0 10px 0 -8px !important;}

.cinema-mode-on .add_comment {
    width: 48%;
    padding-right: 15px !important;
    margin-bottom: 20px;
    position: absolute !important;
}

.sceen_view svg {
    max-width: 24px;
}

.resources .file_icon {
    margin-right: 3px;
}

.container.box {
    padding-top: 0px!important;
}

.video_body .row .col-md-12 .info_container_row .fake_link2 {
    position: relative;
    padding: 0 !important;
    text-align: right !important;
}

.video_body .row .col-md-12 .info_container_row .fake_link2 div {
    position: absolute;
    top: -24px;
    right: 11px;
}

.video_body .row .col-md-6 .info_container_row .fake_link2 {
    position: relative;
    padding: 0 !important;
    text-align: right !important;
}

.video_body .row .col-md-6 .info_container_row .fake_link2 div {
    position: absolute;
    top: -10px;
    right: 10px;
}



.time_line span:first-child{    background: #EAEAEA;
    border-radius: 15px;
    font-size: 16px !important;
    padding: 0 13px;
    margin-right: 8px;}

	.attach_video .att3 svg{position:absolute; top: 2px;left: 6px;}



	 .active_c{ background:#616161 !important;}
  .active_c svg, .active_c path, .active_c text{ fill:#fff;}
  .tags_div span.outr_spn {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 14px 1px 5px;
    margin-left: 6px;
    vertical-align: top;
    margin-bottom: 4px;
    display: inline-block;
    text-overflow: ellipsis;
    position: relative;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
}

	.arrow-active {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #616161; display:none; position:absolute; bottom: -5px;
    left: 11px;
}
.active_c .arrow-active { display:block;}
.account_per { text-align:left;}


.comm_search_box { padding-right:45px;}
.modal-body .tags_div .tag_rounded{ max-width:inherit;}
.modal-body .tags_div .tgouter{max-width:100% !important;}
.modal-body .tags_div .full_width{ width:100% ;}

.tgright a{ cursor:pointer;    color: #007bff; font-weight:500;     position: relative;
    top: 5px;}
.tag_popup {cursor:pointer;    color: #007bff !important; font-weight:500;     position: relative;
    top: 5px;}

.comm_option2  label{ margin-right:10px; cursor:pointer;}
.video_options .comm_options img{ position: relative;     top: -2px;}


.pdf_add_con .att1, .pdf_add_con .att2{ border:0 !important; padding-right: 0 !important;
    margin-right: 0 !important;}
.pdf_add_con #editTextBox { border:0px solid #ddd;     padding: 0px;

 }

.pdf_add_con .audio-recorder {
       right: 4px !important;
    top: 3px !important;
}

.pdf_add_con .add_comm_btn a {    background: #039542;}
.pdf_add_con  .full_width { width:100%;}

.comm_box .tag_rounded {     max-width: 100% !important;
    white-space: nowrap;
    margin-right: 5px !important;
    margin-bottom: 5px;}

.pdf_btn .incs{ display:block; padding-top: 5px;}

.comment_box .ql-toolbar{    border: 0;    border-top-left-radius: 5px; border-top-right-radius: 5px;
    border-bottom: 1px solid #ddd;}
	.comment_box .ql-container { border:0;     border-radius: 5px;}


.comment_box .audio-record-tooltip { width:auto !important;}
/* .comment_box .audio-container { margin:0 !important;} */
.new_comm_sec .tgright a { display:flex;}







.mainVideo-dimensions { height:395px;}
@media screen and (min-width:1280px) {
    .video_body .tab-content .col-md-12 .mainVideo-dimensions {
        /* width: 100%;
        height: 460px !important;
        max-height: 460px !important; */
    }


}

@media screen and (max-width:1400px) {

	.mainVideo-dimensions { height:300px;}

	#col6.col-md-12  .mainVideo-dimensions { height:400px;}
}
@media screen and (max-width:1300px) {

	.mainVideo-dimensions { height:255px;}

	#col6.col-md-12  .mainVideo-dimensions { height:355px;}
}

@media screen and (min-width:1536px) {
    .video_body .tab-content .col-md-12 .mainVideo-dimensions {
        /* width: 100%;
        height: 500px !important;
        max-height: 500px !important; */
    }
}
