.analy_b{    background: #fff;
    padding: 0px 15px;     border-top-right-radius: 5px;
    border-top-left-radius: 5px;     margin-top: 5px;}
	
	
		
div.container{    max-width: 1025px !important;
    padding: 0 17px !important;
    background: none !important;}
	
	.container.box{    max-width:1053px !important;
       padding: 10px 15px 20px 15px !important;
    background: none !important;}
	


.user_img img{  border: 0 !important;
    width: 35px;
    height: 35px;
    border-radius: 50%;}
	
	
	.uploader_adjs {
    margin-right: 0 !important;
    float: left;
}

.tgright{
    float: left !important;
    width: 80% !important;
    padding-right: 10px;
}
.player_fwd, .player_bk {
    top: 9px !important;
}
.player_bk { position:absolute !important;     left: 25px !important; }
.player_fwd{ position:absolute !important; left: 40px !important;}
.sceen_view {background: none;
    border: 0;
    outline: 0 !important;
    position: absolute;
    right: -1px;
    z-index: 101;
    bottom: 4px;}
	
.cinema-mode-on .add_comment{ max-width:50%; padding-right:15px !important;}
.sceen_view svg {    max-width: 24px;}
.resources  .file_icon{ margin-right:3px;}

.add_comm_btn {
   float: right;
    width: 38%;
}

.account_per {
       float: left;
    width: 55%;
    text-align: left;
    font-size: 13px;
    padding-top: 6px;
}

.comm_options {
       /* border-radius: 4px;
    border: 1px solid #dddddd; */
    color: #848484;
    padding: 7px 9px 4px 9px;
    float: left;
    font-size: 16px;
    line-height: 19px;
}

.account_per img{    position: relative;
    top: 2px;}
	
	.add_comm {
    padding: 5px 0 50px 0;
}


.comm_search_box .comm_options {    padding: 4px 6px 2px 6px !important;}
.info_container .fake_link{padding: 9px 13px 0 0 !important;
    text-align: left !important;}

.des_short { max-width:700px;}
.account_per  span { position:relative; top:2px;}

  @media screen and (min-width:1280px) {



		div.container{    max-width: 1200px !important;
    padding: 0 17px !important;
    background: none !important;}
	
	.container.box{    max-width: 1230px !important;
        padding: 10px 15px 20px 15px !important;
    background: none !important;}
	
	/* .video_body .tab-content .col-md-12 .mainVideo-dimensions {    width: 100%;
    height: 460px !important; max-height:460px !important;} */
	
	
   }
   @media screen and (min-width:1500px) {



    div.container{    max-width: 1450px !important;
padding: 0 17px !important;
background: none !important;}

.container.box{    max-width: 1480px !important;
    padding: 10px 15px 20px 15px !important;
background: none !important;}

/* .video_body .tab-content .col-md-12 .mainVideo-dimensions {    width: 100%;
height: 460px !important; max-height:460px !important;} */


}
   @media screen and (min-width:1536px) {


		div.container{    max-width: 1450px !important;
    padding: 0 17px !important;
    background: none !important;}
	
	.container.box{    max-width: 1480px !important;
        padding: 10px 15px 20px 15px !important;
    background: none !important;}
	
	/* .video_body .tab-content .col-md-12 .mainVideo-dimensions {
        width: 100%;
        height:500px !important;
        max-height:500px !important;
    } */
	
   }
   
   
   	.animate_share{
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  
  position: relative;
}

.vjs-playback-rate .vjs-playback-rate-value {
   font-size: 12px !important; line-height: 27px !important;

}

.vjs-playback-rate
{
    z-index: 9 !important;
    margin-right: 5px;
}

#overlay 
{
    max-height: 100%;
}
   
  
.container.box.pt-0 { padding-top:0 !important;}

div.container.bred_an {
   
    padding: 0 0 6px 0!important;
}