<!-- Breadcrumb Start -->
<div class="clear"></div>
<div class="container bred_an">
  <a [routerLink]="['/profile-page']">{{translation?.home_coaching_tracker_new}}</a>
  <a  (click)="back()"><img src="assets/img/breadcrumarrow.svg"> {{createBreadCrumb(queryParams['report_type'])}}</a>
  <!-- <img src="assets/img/breadcrumarrow.svg"><span>{{createBreadCrumb(type)}}</span> -->
</div>
<div class="clear"></div>
<!-- Breadcrumb End  -->
<div class="box_outer container">
  <div class="">
    <div class="row mb-4 panl_heading">
      <div class="col-6 ">
        <h3>{{translation?.reporting_huddle_tracker_reporting}}</h3>
      </div>
      <div class="col-6">
          <div class="export_option dropdown" dropdown>
            <button type="button" class="dropdown-toggle" data-toggle="dropdown" dropdownToggle>
              <img src="assets/trackers/couching-report/img/dots_dark.svg" width="30">
            </button>
            <div class="dropdown-menu" *dropdownMenu>
              <!-- <a class="dropdown-item"
                (click)="exportReport('detail_view_excel',true)">{{translation?.reporting_excel_export_all}}</a> -->
              <a class="dropdown-item"
                (click)="exportReport('detail_view_excel', false)">{{translation?.reporting_excel_export_filtered}}</a>
              <!-- <a class="dropdown-item"
                (click)="exportReport('detail_view_csv',true)">{{translation?.reporting_csv_all}}</a> -->
              <a class="dropdown-item"
                (click)="exportReport('detail_view_csv', false)">{{translation?.reporting_csv_filtered}}</a>
              <!-- <a class="dropdown-item"
                (click)="exportReport('detail_view_pdf',true)">{{translation?.reporting_pdf_export_all}}</a> -->
              <a class="dropdown-item"
                (click)="exportReport('detail_view_pdf', false)">{{translation?.reporting_pdf_export_filtered}}</a>
            </div>
          </div>
      </div>

      <!--content-->
    </div>





    <div class="row m0 ">
      <div class="tab-content col-12">

        <div class="tab-pane active show" id="" role="tabpanel">


          <div class="filter user_summary">
            <div class="g_tyle">
              <!-- <select>
                <option>Choose Huddle Type</option>
              </select> -->
              <ng-multiselect-dropdown [placeholder]="translation?.reporting_choose_action_type" [settings]="dropdownSettings"
                [data]="huddleTypes" [(ngModel)]="selectedHuddleTypes">
              </ng-multiselect-dropdown>
            </div>

            <div class="arch_search">
              <input type="text" placeholder="{{translation?.artifacts_search}}" [(ngModel)]="SearchString" (ngModelChange)="onSearch($event)">
              <button *ngIf="SearchString" type="button" class="close"
                        (click)="SearchString = '';">&times;</button>
                        <img src="assets/img/search_icon.png" *ngIf="!SearchString">
            </div>


            <div class="btn-group btn-group-toggle filter_options" data-toggle="buttons">
              <label class="btn btn-secondary" [class.active]="duration == 1">
                <input type="radio" name="options" id="option1" autocomplete="off" [(ngModel)]="duration" value="1"
                  (click)="onDuration(1)"> 1 {{translation?.mo_coaching_tracker}}
              </label>
              <label class="btn btn-secondary" [class.active]="duration == 3">
                <input type="radio" name="options" id="option2" autocomplete="off" [(ngModel)]="duration" value="3"
                  (click)="onDuration(1)">
                3 {{translation?.mo_coaching_tracker}}
              </label>
              <label class="btn btn-secondary" [class.active]="duration == 6">
                <input type="radio" name="options" id="option3" autocomplete="off" [(ngModel)]="duration" value="6"
                  (click)="onDuration(6)">
                6 {{translation?.mo_coaching_tracker}}
              </label>

              <label class="btn btn-secondary" [class.active]="duration == 12">
                <input type="radio" name="options" id="option2" autocomplete="off" [(ngModel)]="duration" value="12"
                  (click)="onDuration(12)">
                12 {{translation?.mo_coaching_tracker}}
              </label>


            </div>


            <div class="date_rng">
              <span>{{translation?.or}}</span>
              <input type="text"  [bsConfig]="bsConfig" [outsideClick]="true"
            bsDaterangepicker [(ngModel)]="bsRangeValue" (bsValueChange)="onValueChange($event)" #dp>
            <img src="assets/goals/img/cal_icon.svg" (click)="showdp()">
            </div>


            <div class="butn_green">
              <button (click)="onUpdate()">{{translation?.myfile_update}}</button>

            </div>


            <div class="clearfix"></div>
          </div>
          <div class="scroll skelton" *ngIf="isLoading">
            <div class="scroll_inner ani_sc" style="overflow: hidden;">

              <div class="row h_row skborder">
                <div class="col-1 ani_fs">
                  <div class="g_ani3 gn3"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3"></div>
                </div>

              </div>


              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">



                    <div class="name_detail">

                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>


              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">



                    <div class="name_detail">

                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>


              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">



                    <div class="name_detail">

                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>

              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">



                    <div class="name_detail">

                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>

              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">



                    <div class="name_detail">

                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>

              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">



                    <div class="name_detail">

                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>

              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">



                    <div class="name_detail">

                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>

              <div class="row rep_row">
                <div class="col-2 col1">
                  <div class="inner_1">



                    <div class="name_detail">

                      <div class="g_ani3 gn3_s"></div>
                    </div>

                  </div>

                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>
                <div class="col-1">
                  <div class="g_ani3 gn3_s"></div>
                </div>

              </div>

            </div>

          </div>
          <ng-scrollbar #headerScrollBar track="horizontal" pointerEventsMethod="scrollbar" class="sticky-header scrollBar" *ngIf="!isLoading">
            <div class="row h_row">
              <ng-container *ngFor="let value of headers; index as i">
                <div class="col-2 col1" (click)="sortTable(value.get_header_value)"
                   *ngIf="value.get_header_value == 'action_type'">
                  <span [tooltip]='value.header_name.length > 30 ? value.header_name: ""'>{{value.header_name}}</span>
                  
                </div>
                <div class="col1  text_elipses" (click)="sortTable(value.get_header_value)"
                   *ngIf="value.get_header_value != 'action_type'">
                  <span [tooltip]='value.header_name.length > 30 ? value.header_name: ""'>{{value.header_name}}</span>
                  
                </div>
              </ng-container>

              <!-- <div class="col-1 lastcol"></div> -->

            </div>
          </ng-scrollbar>


          <ng-scrollbar #scrollable track="horizontal" pointerEventsMethod="scrollbar" *ngIf="!isLoading">
            <div class="">
              <!-- <div class="row h_row">
                <ng-container *ngFor="let value of headers; index as i">
                  <div class="col-2 col1" (click)="sortTable(value.get_header_value)"
                     *ngIf="value.get_header_value == 'action_type'">
                    <span [tooltip]='value.header_name.length > 30 ? value.header_name: ""'>{{value.header_name}}</span>
                    
                  </div>
                  <div class="col1  text_elipses" (click)="sortTable(value.get_header_value)"
                     *ngIf="value.get_header_value != 'action_type'">
                    <span [tooltip]='value.header_name.length > 30 ? value.header_name: ""'>{{value.header_name}}</span>
                    
                  </div>
                </ng-container>

              </div> -->
              <ng-container *ngIf="attributes.length > 0">
                <ng-container *ngFor="let item of attributes | paginate: config | filter: SearchString;  index as i ">
                  <div class="row rep_row" [ngClass]="i%2?'rep_row_odd':'rep_row_even'">
                    <ng-container *ngFor="let value of headers">
                      <div class="col-2 col1 " *ngIf="value.get_header_value == 'action_type'">
                        <div class="inner_1">
                          <span>{{item[value.get_header_value]}}</span>
                        </div>

                      </div>
                      <div class="col1" *ngIf="value.get_header_value != 'action_type'">
                        <span class="break_word" *ngIf="item[value.get_header_value]">{{item[value.get_header_value]}}</span>
                        <span class="break_word" *ngIf="!item[value.get_header_value]"></span>
                      </div>

                    </ng-container>
                  </div>
                </ng-container>
              </ng-container>
              
            </div>
          </ng-scrollbar>
          <div class="top-c no_found" *ngIf="attributes.length == 0 && !isLoading || (attributes | filter: SearchString).length === 0">


            <p class="font-h"><img src="assets/img/nogoal_icon.svg"> {{translation?.reporting_no_data_found}}</p>
          </div>
          <div class="pagination_row" *ngIf="!isLoading && ((attributes | filter: SearchString).length > 0)">
            <div class="row_per">
              <span>{{translation?.reporting_rows_per_page}}: </span>
              <select [(ngModel)]="config.itemsPerPage" (change)="onPerPageLimitChange()">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
            <pagination-template #p="paginationApi" maxSize="12" (pageChange)="onPageChange($event)">


              <div class="recent_pagination">
                <nav>
                  <ul class="pagination">
                    <li class="page-item page_fi" [class.disabled]="p.isFirstPage()">

                      <a class="page-link" (click)="p.previous()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.987"
                          viewBox="0 0 7.071 11.987">
                          <g id="Group_1838" data-name="Group 1838" transform="translate(-673 -903.938)">
                            <path id="Path"
                              d="M5.907.148a.534.534,0,0,0-.738,0L.151,5.07A.6.6,0,0,0,0,5.415H0v.016H0v.016H0v.016H0a.551.551,0,0,0,.151.329l5.018,4.922a.534.534,0,0,0,.738,0,.5.5,0,0,0,0-.741L1.275,5.432,5.907.889A.5.5,0,0,0,5.907.148Z"
                              transform="translate(673.5 904.5)" fill="#2D2D2D" stroke="#2D2D2D" stroke-width="1"
                              opacity="0.7"></path>
                          </g>
                        </svg>
                      </a>
                    </li>
                    <li class="page-item " [class.disabled]="p.isFirstPage()"> <a class="page-link"
                        (click)="p.setCurrent(1)"> {{translation?.first_angular_rubrics}}</a>
                    </li>

                    <li class="page-item" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                      <a class="page-link" (click)="p.setCurrent(page.value)"
                        *ngIf="p.getCurrent() !== page.value">{{ page.label }}</a>
                      <div *ngIf="p.getCurrent() === page.value">
                        <a class="page-link">{{ page.label }}</a>
                      </div>
                    </li>


                    <li class="page-item " [class.disabled]="p.isLastPage()"> <a class="page-link"
                        (click)="p.setCurrent(p.getLastPage())">{{translation?.last_angular_rubrics}}</a></li>
                    <li class="page-item page_la" [class.disabled]="p.isLastPage()"> <a class="page-link"
                        (click)="p.next()"><svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.987"
                          viewBox="0 0 7.071 11.987">
                          <g id="Group_1839" data-name="Group 1839" transform="translate(-11.929 -7.938)">
                            <path id="Path"
                              d="M.164.148A.534.534,0,0,1,.9.148L5.92,5.07a.6.6,0,0,1,.151.346h0v.016h0v.016h0v.016h0a.551.551,0,0,1-.151.329L.9,10.716a.534.534,0,0,1-.738,0,.5.5,0,0,1,0-.741L4.8,5.432.164.889A.5.5,0,0,1,.164.148Z"
                              transform="translate(12.429 8.5)" fill="#2D2D2D" stroke="#2D2D2D" stroke-width="1"
                              opacity="0.7"></path>
                          </g>
                        </svg></a>
                    </li>
                  </ul>
                </nav>
              </div>

            </pagination-template>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>

<ng-template #loadingModal>
	<div class="modal_container">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{translation?.analytics_please_wait}}</h4>
			</div>
			<div class="modal-body container">
				<div class="row text-center" style="margin-left: 10px;">
					<img class="animated infinite rotateIn" src="./assets/img/cog.svg"
						style="width: 27px; height: 20px;">
					{{translation?.analytics_file_is_pareparing}}
				</div>
			</div>
		</div>
	</div>
</ng-template>