<div class="sibme_coaching">
	<p>
		
		<a *ngIf="details?.is_change_account_enable==1 && details?.totalAccounts>1" [routerLink]="['/launchpad']" tooltip={{translations?.change_account}} placement="bottom">
			{{userCurrentAccount}}
			<img width="19" height="19" src="./assets/img/new/icon-switch-account.svg" class="non_gry" />
			<img width="19" height="19" src="./assets/img/new/icon-switch-account_gry.svg" class="gry" />

		</a>
		<a *ngIf="details?.is_change_account_enable==1 && details?.totalAccounts==1" style="cursor:default">
			{{userCurrentAccount}}
		</a>
		<a *ngIf="details?.is_change_account_enable!=1 && !details?.user_current_account?.accounts?.in_trial">
			{{userCurrentAccount}}

		</a>

		<a *ngIf="details?.is_change_account_enable!=1 && details?.user_current_account?.accounts?.in_trial">
			{{userCurrentAccount}}

		</a>
	</p>
	<trial-message [details]="details"> </trial-message>
</div>
