<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" *ngIf="FoldersTreeData">{{folderId && FoldersTreeData && FoldersTreeData.length === 1 ? translation?.huddle_list_destination : translation?.huddle_list_destination_folder}}</h4>
        <h4 class="modal-title" *ngIf="!FoldersTreeData"><span class="ani_wp1 wani1"></span> <div class="clear"></div></h4>
        <button type="button" class="close" (click)="bsModalRef.hide()">×</button>
    </div>
    <div class="modal-body">
        <div class="move_cls">
            <h6>
                <ng-container>
                    <ng-container *ngFor="let item of getMovePath(tree) let i=index">
                        <img *ngIf="i!=0" src="./assets/img/right_arrow.svg" width="10" /> {{item.name}}
                    </ng-container>
                </ng-container>
            </h6>
            <div class="row folder_row">
                <tree-root #tree [nodes]="FoldersTreeData" [options]="{animateExpand:true}">
                    <ng-template #treeNodeTemplate let-node let-index="index">
                        <span [class.align_folder]="(!node.children || node.children.length==0)">
                        </span>
                        <img [hidden]="node.data.name=='Huddles1' || node.data.id == 0" src="./assets/img/folder_gry.svg" width="20" />
                        <span>{{ node.data.name }}</span>
                    </ng-template>
                </tree-root>
            </div>
        </div>
    </div>
    <div class="modal-footer hufooter">
        <div class="col-12">
            <div class="border_bottom">
                <a class="fake_link" (click)="bsModalRef.hide()">{{translation?.huddles_details_cancel}}</a>
                <a class="green_btn fake_link" (click)="MoveItem(tree)">{{translation?.huddle_move_btn}}</a>
            </div>
        </div>
    </div>
</div>
