.modal-title{ font-weight:500 !important;}
.ani_wp1{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
      background: #d9d9d9;
      background: linear-gradient(to right, #e9e9e9 8%, #F0F0F0 18%, #efefef 33%);
    background-size: 800px 104px;
    position: relative;
  }
  
  .wani1{ display: inline-block; width: 220px; height:20px;    margin-top: 5px; top: 5px;}