<div class="tags_andiv">
	<div class="row">
		<div class="col-md-6 animated fadeIn">
			<h4 *ngIf="!translationLoaded" class="analytics-animation gan1"></h4>
			<h4 *ngIf="translationLoaded"> {{translation?.custom_marker_tags_all_global}}</h4>
			<span class="dot_m" id="pieExport">
			</span>
			<div class="clear"></div>
			<div *ngIf="!pieContainerLoaded" class="gbox topChart">
				<div class="analytics-animation gan2">
				</div>
			</div>
			<div [hidden]="!pieContainerLoaded" class="gbox topChart">
				<div class="text-center chart-not-found" *ngIf="!top_charts.pie_available && !translationLoaded">

				</div>
				<div class="text-center chart-not-found" *ngIf="!top_charts.pie_available && translationLoaded">
					<label> {{translation?.analytics_no_custom_markers_tags}} </label>
				</div>
				<div id="pieContainer" [style.height.px]="400"></div>
			</div>
		</div>
	</div>
</div>
<ng-template #loadingModal>
	<div class="modal_container">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{translation?.analytics_please_wait}}</h4>
			</div>
			<div class="modal-body container">
				<div class="row text-center" style="margin-left: 10px;">
					<img class="animated infinite rotateIn" src="./assets/img/cog.svg"
						style="width: 27px; height: 20px;">
					{{translation?.analytics_file_is_pareparing}}
				</div>
			</div>
		</div>
	</div>
</ng-template>