.ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after {
    display: none !important;
}

.ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before {
    display: none !important;
}
