
<a *ngIf="source!='comment'" class="fake_link" (click)="StartUpload()" [style.backgroundColor]="primery_button_color">{{label||'Uploads'}}</a>

<div class="comment_tags cedit0 fake_link uploader_adjs" [ngClass]="{'active_c': actv_class == 3}" *ngIf="source=='comment'">
        <!-- <div class="tags_icons">
        <span class="oi" data-glyph="paperclip"></span>
    </div>
        <div class="plusicon">
        	<span class="oi" data-glyph="plus"></span>
        </div>
        <div class="clear"></div> -->
        <svg xmlns="http://www.w3.org/2000/svg" width="22.805" height="22.706" viewBox="0 0 22.805 22.706">
          <g id="Group_1563" data-name="Group 1563" transform="translate(-197 -1039.659)">
            <g id="Group_1538" data-name="Group 1538" transform="translate(197 1044)">
              <g id="Group_1531" data-name="Group 1531">
                <g id="Group_1530" data-name="Group 1530" transform="translate(0 0)">
                  <path id="paperclip" d="M8.127,0A3.311,3.311,0,0,0,5.834.96L1.313,5.383a4.462,4.462,0,0,0,6.311,6.311L9.656,9.661,8.534,8.539,6.647,10.377l-.146.211A2.858,2.858,0,0,1,2.435,6.571L6.956,2.1A1.679,1.679,0,0,1,9.3,2.1a1.65,1.65,0,0,1,0,2.293L5.232,8.409a.437.437,0,0,1-.618-.618l.1-.049,1.48-1.529L5.07,5.091,3.492,6.668A2.013,2.013,0,0,0,6.338,9.515L10.4,5.546A3.245,3.245,0,0,0,8.111.016Z" transform="translate(-0.008 5.366)" fill="#616161"/>
                  <text id="_" data-name="+" transform="translate(13.805 12.659)" fill="#616161" font-size="16" font-family="Roboto-Medium, Roboto" font-weight="500"><tspan x="0" y="0">+</tspan></text>
                </g>
              </g>
            </g>
          </g>
        </svg><i class="arrow-active"></i>
      </div>



    