<div dndHandle>
<div class="folder_container">
    <div class="inner_h" id={{data.huddle_id}}>




        <div class="top_hu">

            <div class="h_title">
                <a *ngIf="data.huddle_id && data.type=='assessment'" class="external_link_container" [routerLink]="['/video_huddles/assessment/',data.huddle_id]"><label class="fake_link"
            tooltip="{{data?.title}}">
            {{data?.title}}</label>
          <label [hidden]="true">{{data.huddle_id}}</label>
        </a>
                <a *ngIf="data.huddle_id && data.type!='assessment'" class="external_link_container" [routerLink]="['/video_huddles/huddle/details/',data.huddle_id]">
                    <label class="fake_link" tooltip="{{data?.title}}">
            {{data?.title}}</label>
                    <label [hidden]="true">{{data.huddle_id}}</label>
                </a>
            </div>

            <ng-container *ngIf="data?.huddle_permissions  && userAccountLevelRoleId !='125'">
                <div *ngIf="!(data?.mouseEntered || isDropdownOpen)" class="h_option">
                    <a (click)="false"><img src="./assets/img/doted.svg" width="30"></a>
                </div>

                <div *ngIf="data?.mouseEntered || isDropdownOpen" class="h_option">
                    <span (isOpenChange)="isOpen($event)" dropdown>
            <a href id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown"><img
                src="./assets/img/doted.svg" width="30"></a>
            <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="basic-link">
              <li> <a class="dropdown-item fake_link"
                  (click)="OnEdit.emit({huddle_id: data.huddle_id, type: data.type})">{{translation?.huddle_edit_btn}}
                </a> </li>
              <li> <a class="dropdown-item fake_link" (click)="OnDelete.emit(data)"> {{translation?.huddle_delete_btn}}
                </a> </li>
              <li *ngIf="!block_move && (folders > 0 || data?.parent_folder_id)"> <a class="dropdown-item fake_link" (click)="OnHuddleMove(data.huddle_id)">
                  {{translation?.huddle_move_btn}} </a> </li>

            </ul>
          </span>
                </div>
            </ng-container>
            <ng-container *ngIf="!data?.huddle_permissions">
                <div class="h_option">
                    <a>
                        <img src="./assets/img/doted.svg" width="30" [style.opacity]="0">
                    </a>
                </div>
            </ng-container>
            <div class="clear"></div>
            <div class="hu_detail">
                <div class="created_date">
                    <p>{{translation?.huddle_created_by}}: {{data?.created_by_name}}</p>
                    <span>{{data?.created_on}}</span>
                    <span class="video_count"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 8 8"
              style="margin-top:-2px;">
              <path style="fill:#057EFF;" d="M0 0v6l6-3-6-3z" transform="translate(1 1)" />
            </svg> {{data?.stats?.videos}} </span>
                    <span class="file_count"><img src="./assets/img/file_icon.svg"> {{data?.stats?.attachments}} </span>

                    <div class="clear"></div>

                </div>

            </div>
            <div class="clear"></div>
        </div>
        <div class="hu_bottom">

            <huddle-thumb-participants (OnDetailsClick)="RequestParticipentsDetails($event)" [data]="{type: data.type, participants: data.participants, role_id: data.role_id}"> </huddle-thumb-participants>


        </div>
        <div [class]="getTypeClass(data)">
            {{data?.huddle_type}}
            <span class="coa_icon">
        <img [src]="getSrc(data)" width="25">
      </span>
        </div>
    </div>

    <div class="drag_over" [ngStyle]="{'display':data.huddle_id == dragHuddleId && changeBackgroundColor == true ? 'flex' : 'none' }">
        <div class="drage_file">
          <svg xmlns="http://www.w3.org/2000/svg" width="66.5" height="47.708" viewBox="0 0 66.5 47.708">
            <g id="noun_upload_cloud_3401869" data-name="noun_upload cloud_3401869" transform="translate(10.087 -122.702)">
              <g id="Group_2066" data-name="Group 2066" transform="translate(-15 105)">
                <path id="Path_120" data-name="Path 120" d="M60.959,36.944v-.627a18.712,18.712,0,0,0-35.884-7.336,11.3,11.3,0,0,0-4.615-.958A11.421,11.421,0,0,0,9.077,39.45a7.954,7.954,0,0,0,.059,1.187A14.532,14.532,0,0,0,19.457,65.41h37.4a14.524,14.524,0,0,0,4.1-28.467ZM45.852,44.022a2.138,2.138,0,0,1-3.03,0l-2.588-2.6V52.943a2.079,2.079,0,0,1-4.158,0V41.515l-2.514,2.507a2.153,2.153,0,1,1-3.045-3.038l6.1-6.068.066-.037a1.054,1.054,0,0,0,.111-.081,2.264,2.264,0,0,1,.31-.206,2.028,2.028,0,0,1,1.054-.347h.177a2.123,2.123,0,0,1,1.475.612l6.068,6.09a2.153,2.153,0,0,1-.022,3.074Z" transform="translate(0)" fill="#fff" fill-rule="evenodd"/>
              </g>
            </g>
          </svg>
          <br/>         
          <b>{{translation?.multi_file_upload_drag_files_here}}</b>
        </div>
      </div>

</div>

</div>