<div class="transcription-wrappter">
    <h2 class="heading">{{translation?.vd_transcription}}</h2>
    <div class="transcription-header">
        <div class="search-container">
            <input type="text" placeholder="{{translation?.huddle_search_plcholder}}..."
                [(ngModel)]="searchTranscription">
            <img *ngIf="!searchTranscription" src="assets/img/search_icon.png">
            <button *ngIf="searchTranscription" type="button" class="close"
                (click)="searchTranscription = ''">&times;</button>
        </div>
        <div *ngIf="showCopy && userAccountLevelRoleId != 125" class="video_options btn-group" dropdown>
            <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle" aria-controls="dropdown-basic">
                <img src="assets/img/dot.svg">
            </div>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li role="menuitem">
                    <h6 class="dropdown-header">{{translation?.vd_export}}</h6>
                </li>
                <li role="menuitem" (click)="exportTranscriptions('print_excel_transcriptions')">
                    <span class="dropdown-item">{{translation?.vd_excel}}</span>
                </li>
                <li role="menuitem" (click)="exportTranscriptions('print_pdf_transcriptions')">
                    <span class="dropdown-item">{{translation?.vd_pdf}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="transcription-body" transition="0.2" railVisible="true" railColor="#000" height="600px" slimScroll id="slimscroll-container">
        <ng-container *ngIf="(subtitles_data | search: searchTranscription:'subtitles') as result">
            <div *ngFor="let subtitle of result; let first=first; let index=index" [id]="'transcript-'+ index"
                [ngStyle]="{'border-top': first ? '1px solid #a7a6a6' : null}" class="subtitle-item" [class.active-transcript]="subtitle.id === currentSubtitleId">
                <div class="time-stamp" (click)="seekForTranscription(subtitle.time_range.slice(0,8));">
                    <span class="oi" data-glyph="play-circle" style="vertical-align: middle;"> </span>
                    <span class="text">{{subtitle.time_range.slice(0,8)}}</span>
                </div>
                <div class="description">
                    <div *ngIf="!subtitle.editMode; else updateForm" class="transcription-text"
                        (click)="enableEditMode(subtitle)">{{subtitle.subtitles}}<span *ngIf="!subtitle.subtitles">&nbsp;</span></div>
                    <ng-template #updateForm>
                        <textarea class="form-control" [(ngModel)]="currentSubtitleText"></textarea>
                        <div class="text-right mt-2">
                            <button type="button" class="btn btn-light" [disabled]="subtitle.isEditing"
                                (click)="subtitle.editMode = false">{{translation?.vd_cancel}}</button>
                            <button type="button" class="btn btn-success ml-2" [disabled]="subtitle.isEditing"
                                (click)="updateSubtitles(subtitle)" [style.backgroundColor]="primery_button_color">
                                {{translation?.vd_update}}</button>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div *ngIf="result.length === 0" class="no-result">
                <img class="" src="assets/img/exclamation.svg">
                <span>{{translation?.no_result_found_ng}}</span>
            </div>
        </ng-container>
    </div>
</div>