.transcription-wrappter .heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 12px;
  color: #484848;
     margin-bottom: 13px;
}

.active-transcript { background: #c9ebff73; }

.transcription-header { height: 50px; }

.search-container {
  position: relative;
  width: 92%;
  float: left;
}

.search-container input {
  width: 100%;
  height: 33px;
  border: 1px solid #ddd;
  padding: 0 30px 0 5px;
  color: #8d8d8d;
  font-family: 'Roboto-Light';
  font-size: 13px;
  border-radius: 3px;
}

.search-container img, .search-container button {
  height: 18px;
  position: absolute;
  top: 7px;
  right: 11px;
}

.search-container button { top: 8px !important }

.subtitle-item {
  display: flex;
  padding: 15px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-bottom: 1px solid #a7a6a6;
  color: #2d2d2d;
}

.time-stamp {
  width: 20%;
  float: left;
  cursor: pointer;
    color: #000;
}

.time-stamp .text { margin-left: 10px; }

.description { 
  width: 80%;
  color: #000;
}

.transcription-text { cursor: pointer; }

.no-result {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.no-result img { 
  height: 21px;
  width: 21px;
  margin-right: 10px;
}