

 <div class="video_lft_inner" *ngIf="loading">
  <h3 class="animation_cls2 vani2"></h3>
 
  
  <ul>
    <li class="animation_cls2 vani3"></li>
    
    <li class="animation_cls2 vani3"></li>
    
         <li class="animation_cls2 vani3"></li>
    
         <li class="animation_cls2 vani3"></li>
          <li class="animation_cls2 vani3"></li>
           <li class="animation_cls2 vani3"></li>
            <li class="animation_cls2 vani3"></li>
             <li class="animation_cls2 vani3"></li>
              <li class="animation_cls2 vani3"></li>
    
  </ul>
  
  
  </div>
  
<div class=" video_lft_inner" *ngIf="!loading">
  <h3>{{translation?.vl_categories}} <a *ngIf="(original_account) && (sessionData.user_current_account.users_accounts.role_id == 100 || sessionData.user_current_account.users_accounts.role_id == 110  || (sessionData.user_current_account.users_accounts.permission_video_library_upload ==1))" class="set_icon" data-toggle="modal" (click)="openCategoryModal()"><img
        src="assets/video-library/img/setting_white.png"></a></h3>
  <div class="all_vd" (click)="unCheckAll()">
   {{translation?.all_video}}  <span>{{totalVideos}}</span>
  </div>


  <ul>
    <li *ngIf="categories.length>0">
      <p> <label class="checkboxcls"><b >{{translation?.uncatergorized_vl}}</b><input type="checkbox" [checked] = "checkUncategorized" (click)="getUncategorizedVideo()">
          <span class="checkmark"></span><i >{{uncategorized}}</i></label></p>
    </li>
    <li *ngFor="let category of categories">
      <p *ngIf="category.childs.length>0" (click)="category.toggle = !category.toggle;lsCollapseSetting(category) ">
        <img *ngIf="category.toggle" class="sign_ar" src="assets/video-library/img/arrowndown.svg">
        <img *ngIf="!category.toggle" class="sign_ar2" src="assets/video-library/img/right_ar.svg">
       <b *ngIf = "category.name.length > 20" [tooltip] = "category.name?category.name: '0' "> {{ category.name | slice: 0:20 }}... </b>
       <b *ngIf = "category.name.length <= 20" > {{ category.name }}</b> 
      </p>
      <p > <label *ngIf="category.childs.length==0" class="checkboxcls"><b *ngIf = "category.name.length > 20" [tooltip] = "category.name?category.name: '0' "> {{ category.name | slice: 0:20 }}... </b>
        <b *ngIf = "category.name.length <= 20" > {{ category.name }}</b><input type="checkbox"
            [checked]="category.isChecked" (click)="sortSubCategory(category)">
          <span class="checkmark"></span><i >{{category.count}}</i></label></p>
      <ul *ngIf="category.toggle">
        <li>
          <label *ngIf="category.childs.length>0" class="checkboxcls"><b>{{translation?.all_vl}}</b>
            <input type="checkbox" [checked]="category.isChecked" (click)="sortCategory(category)">
            <span class="checkmark"></span><i >{{category.count}}</i>
          </label>
        </li>
        <li>
          <label *ngIf="category.childs.length>0" class="checkboxcls"><b>{{translation?.vl_no_subcategory}}</b>
            <input type="checkbox" [checked]="category.isUncategorizeVideosCheck" (click)="sortUncategorized(category)">
            <span class="checkmark"></span><i >{{ category.no_category_count?category.no_category_count: 0 }}</i>
          </label>
        </li>
        <li *ngFor="let subCategory of category.childs">
          <label class="checkboxcls"><b *ngIf = "subCategory.name.length > 20" [tooltip] = "subCategory.name?subCategory.name : '0' " >{{subCategory.name | slice:0:20}}...</b>
            <b *ngIf = "subCategory.name.length <= 20">{{subCategory.name}}</b>
            <input type="checkbox" [checked]="subCategory.isChecked" (click)="sortSubCategory(subCategory, category)">
            <span class="checkmark"></span> <i>{{subCategory.count}}</i>
          </label>
        </li>
      </ul>
    </li>
  </ul>
  <div class="notes_side">Click <img src="assets/video-library/img/setting_gry.png"> {{translation?.vl_to_manage_categories}}</div>


</div>