


/**video left start***/
.video_lft{ background:#f7f7f7; border-right:1px solid #eeeeee; -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; padding-top:25px;}
	
	.video_lft_inner ul {    padding: 7px 0; margin:0; list-style:none;}
	.video_lft_inner ul li { padding-bottom:8px;color: #434343;     cursor: pointer;
}
	.video_lft_inner ul li p { margin:0;}
	.video_lft_inner .checkboxcls { margin:0; font-size:14px; padding-right: 6px; word-break: break-word;}
  .video_lft_inner .checkboxcls b { font-weight: normal;}
	.video_lft_inner ul li ul li { padding: 6px 0 0 0;}
	.video_lft_inner ul li ul{ padding: 0 0 0 12px;}
	.video_lft_inner h3{ font-size:18px; font-weight:500; padding-bottom:25px;}
	.all_vd {     background: #fff;
    padding: 8px 15px;
    color: #057eff;
    cursor: pointer;
    margin: 0 -15px; font-size:14px;    margin-bottom: 10px;}
	.all_vd span{ float:right; }
	.set_icon { background: #157EFC;
    display: inline-block;
    float: right;
    border-radius: 4px;
        padding: 6px 17px 7px 17px; cursor: pointer; position: relative;; top: -2px;}
	.set_icon img { max-width:15px;}
    .notes_side { font-size: 14px; color: #7B7B7B;     padding-bottom: 50px; }
    .notes_side img{ max-width: 16px; margin:0 3px;  }
	.sign_ar2 { max-width:15px;}
	
	
	.sign_ar{ width:13px;     margin-right: 2px;}  
	.video_lft ul li p{    margin: 0;
    padding-bottom: 2px;
    font-weight: 500;
    font-size: 14px;}
	
	.video_total {     border-top: 1px solid #ddd;
    padding: 11px 21px;
    margin: 0 -15px;
    color: #717171;
    font-weight: 500;}
	.video_lft_inner .checkboxcls i{    color: #057eff; font-style:normal; font-weight: 500; float: right; position: absolute;  top: 0; right: -4px;}
   
   
   /***/
   
	/* The container */
.checkboxcls {
  display: block;
  position: relative;
  padding-left: 30px;
    margin: 13px 0;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
      color: #101010;
}

/* Hide the browser's default checkbox */
.checkboxcls input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
     position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #B4BAC3;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.checkboxcls:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.checkboxcls input:checked ~ .checkmark {
      background-color: #fff;
   
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxcls input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxcls .checkmark:after {
  left: 5.7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #5f5f5f;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}


	
	
@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

	
	.animate_share{
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  
  position: relative;
}
	.share_ani { margin-bottom:10px;}
	.share_ani .anich{ height:20px; margin-right:1%!important; width:4%;display: inline-block;}
	.share_ani .anitxt {height:20px; margin-right:5px !important; width:92%;display: inline-block;}
	


    
    .animation_cls2{ -webkit-animation-duration: 1.25s;
        animation-duration: 1.25s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-name: placeHolderShimmer;
        animation-name: placeHolderShimmer;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        background: #DFDFDF;
        background: linear-gradient(to right, #E4E4E4 8%, #F0F0F0 18%, #E4E4E4 33%);
        background-size: 800px 104px;
        position: relative;}
        .vani1 {height:40px; width:50%;}
        .vani2 {height:30px; width:100%;}
        .vani3 {height:20px; width:100%; margin-bottom:10px;}
        .vani4 {height:20px; width:120px;}


::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #D9D9D9;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.video_lft_inner ul li p b {
  font-weight: normal;
}