<div *ngIf="cardFailure" class="exp_notes exp_note">
<p  class="expiredCard">Please update your credit card or change the credit card</p>
</div>

<div *ngIf="cardExpired" class="exp_notes">
     <p>Please update the expiration date for your credit card or change the credit card.
        <button type="button" class="btn btn-success" [routerLink]="['/account-settings/plans']">Update Now</button>
     </p>
</div>