.expiredCard{
    background-color: #FFEBEB;
    text-align: center;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.btn-success{
    background-color: rgb(243, 98, 82) !important;
    border-color: rgb(243, 98, 82) !important;
    border: 0px !important;
    float: right;
    margin-top: -7px;
    padding: 0.375rem 1.75rem;
}
.exp_notes { background:#FFEBEB; padding: 20px 14px 20px 16px; margin: 0 -15px;}

.exp_notes p { margin:0; color:#616161;}
