<h6 [hidden]="previewMode"> {{rubrics?.account_framework_settings?.framework_name}} </h6>
<h6 *ngIf="previewMode && rubrics.account_tag_type_0"> {{translation?.vd_framework_preview}} </h6>

<div class="animated fadeIn text-center nothing_found" *ngIf="(rubrics?.account_tag_type_0|search:term:'tag_html,tag_code') && (rubrics?.account_tag_type_0|search:term:'tag_html,tag_code').length==0">
    {{translation?.vd_search_result}} </div>
<div *ngFor="let rubric of rubrics?.account_tag_type_0 | search:term:'tag_html,tag_code'" [attr.class]="getClass(rubric)" (click)="BroadcastClick(rubric)">
    <div class="rubric_table ckbox_ru framework_rows">
        <!-- <tr> -->
        <span class="first-td">
                <ng-container *ngIf="!previewMode">
                    
                        <input
                            *ngIf="rubric.standard_level==rubrics.account_framework_settings.checkbox_level && from!='tab' && isCreater"
                            type="checkbox" [(ngModel)]="rubric.selected" (ngModelChange)="RubricChecked(rubric)">

                              <span [innerHTML]="rubric.tag_code"></span>
                         
                    
                    <span *ngIf="rubric.standard_level==rubrics.account_framework_settings.checkbox_level && from=='tab'" class="badge badge-primary" style="height: fit-content !important;">{{rubric.get_standard_tagged_count}}</span>
        </ng-container>

        <span *ngIf="previewMode" class="rub_nu">{{rubric.tag_code}}</span>
        </span>

        <span class="ru_text" [ngClass]="{'ru_text_checkbox' : rubric.standard_level==rubrics.account_framework_settings.checkbox_level}">
                <span [innerHTML]="rubric.tag_html"> </span>
        </span>
        <!-- </tr> -->
    </div>
</div>