.level_1 {
    padding-left: 10px !important;
    font-family: 'Roboto-Regular';
    margin-bottom: 10px;
    color: #464646;
    font-size: 14px;
}

.level_2 {
    padding-left: 8% !important;
    font-family: 'Roboto-Regular';
    margin-bottom: 10px;
    color: #464646;
    font-size: 14px;
}

.level_3 {
    padding-left: 16% !important;
    font-family: 'Roboto-Regular';
    margin-bottom: 10px;
    color: #464646;
    font-size: 14px;
}

.level_4 {
    padding-left: 24% !important;
    font-family: 'Roboto-Regular';
    margin-bottom: 10px;
    color: #464646;
    font-size: 14px;
}

h6 {
    font-size: 20px;
    font-family: 'Roboto-Regular';
    margin-top: 6px;
}

.rub_nu {
    display: inline-block;
    padding-right: 15px;
}

.ActiveRubric {
    background: #e9e9e9;
}

.paddedRubric {
    padding: 10px 5px;
    cursor: pointer;
}

.rubric_table td:first-child {
    min-width: 6px;
    padding-right: 10px;
}

.ru_text {}

.rubric_table {
    position: relative;
    display: flex;
}

.first-td {
    position: relative;
    left: 0;
    vertical-align: top;
    display: flex;
}

.rubric_table td {
    vertical-align: top;
}

.rubric_table input[type=checkbox] {
    position: relative;
    top: 4.5px;
    margin-right: 2px;
}

.rubric_table .ru_text {
    padding-left: 10px!important;
    white-space: break-spaces;
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.ru_text_checkbox {
    padding-left: 50px !important;
}

.info_holder {
    display: inline-block;
    white-space: nowrap;
}

.nothing_found {
    font-size: 12pt;
}