<div id="main" class="container box">
	<div class="analy_b">
		<div class="header_an">
			<h2 *ngIf="!detailsLoaded" class="ani_brcls an_ah1"></h2>
			<h2 *ngIf="detailsLoaded"> {{details?.user_name+"'s "+translation?.analytics_activities}} </h2>
		</div>

		<div  *ngIf="!analytics_ready" class="mg_alert">
			<div class="cs1">
				<svg style="height: 38px;" id="Group_332" data-name="Group 332" xmlns="http://www.w3.org/2000/svg" width="90.7"
						height="90.7" viewBox="0 0 90.7 90.7">
						<path id="Path_51" data-name="Path 51"
							d="M45.35,0A45.29,45.29,0,1,1,13.265,13.265,45.239,45.239,0,0,1,45.35,0Zm0,56.708a6.121,6.121,0,0,1,6.135,6.135,6.192,6.192,0,0,1-6.135,6.218,6.263,6.263,0,0,1-6.218-6.218A6.192,6.192,0,0,1,45.35,56.708Zm0-6.218A4.329,4.329,0,0,1,41.2,46.345L39.132,27.857c-.332-3.233,3.068-6.218,6.218-6.218s6.55,2.985,6.135,6.218L49.5,46.345A4.329,4.329,0,0,1,45.35,50.49Zm26.2-31.422A37.129,37.129,0,1,0,82.409,45.35,37.325,37.325,0,0,0,71.549,19.069Z"
							transform="translate(0)" fill="#616161" />
					</svg>
			</div>
			<div class="mig_msg">
			<span>{{translation?.analytics_migration_msg}}</span>
			</div>
		</div>
		<div *ngIf="analytics_ready" class="filter_an">
			<div class="row">
				<div *ngIf="!translationLoaded" class="selec_opt4 ana_cl an_ah2c6"></div>
				<div *ngIf="translationLoaded" class="selec_opt4">
					<ng-multiselect-dropdown name="standards" [placeholder]=translation.analytics_select_filters
						[settings]="filters_settings" [data]="filtersList" [(ngModel)]="filters.standards">
					</ng-multiselect-dropdown>
				</div>
				<div *ngIf="!translationLoaded" class="an_date ana_cl an_ah2c3"></div>
				<div *ngIf="translationLoaded" class="an_date">
					<input type="text" [bsConfig]="{containerClass: 'theme-default'}" bsDaterangepicker
						[(ngModel)]="filters.date_range" placement="bottom" placeholder="Select Date Range"
						(ngModelChange)="modelChanged(filters.date_range)" #dp>
					<img class="an_cal" (click)="showdp()" src="assets/img/calendar.svg">
				</div>
				<div *ngIf="!translationLoaded" class="an_date2 ana_cl an_ah2c7"></div>
				<input *ngIf="translationLoaded" type="submit" [value]="translation?.analytics_update"
					[style.backgroundColor]="primery_button_color" (click)="Updatevalues()">
			</div>
		</div>
		<div *ngIf="analytics_ready" class="ana_body">
			<p-table #dt [columns]="cols" [value]="details?.user_detail" [paginator]="true" [rows]="10"
				[scrollable]="true">
				<ng-template pTemplate="caption">
					<div class="ui-helper-clearfix">
						<div dropdown class="offset-md-10 text-right">
							<a dropdownToggle aria-controls="dropdown-basic">
								<img class="dd_toggle" src="assets/img/dots.svg" />
							</a>
							<ul id="tagged" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
								aria-labelledby="button-basic">
								<li role="menuitem"><a class="dropdown-item"
										(click)="dt.exportCSV()">{{translation?.analytics_export}}</a></li>
							</ul>
						</div>
					</div>
				</ng-template>
				<ng-template pTemplate="header" let-columns>
					<tr>
						<th *ngFor="let col of columns; let i = index" [class.custom-frozen]="i === 0"
							style="width: 150px">
							{{col.header}}
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-rowData let-columns="columns">
					<tr [class.rowSelected]="rowData.isSelected">
						<td *ngFor="let col of columns; let i = index" [class.custom-frozen]="i === 0"
							style="width: 150px">
							<div (click)="selectRow(rowData)">
								{{rowData[col.field]}}
							</div>
						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td>
							{{translation?.analytics_no_record_found}}
						</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>