    @import url(assets/fonts/fonts_ana.css);
    @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,500,700');
    body {
        color: #757575;
        font-size: 90% !important;
        font-weight: normal;
        font-family: "Segoe UI", Helvetica, Arial, sans-serif;
        /*background: url(assets/img/bg.png);*/
        background: #f3f2ea!important;}

    div.clear {
        clear: both;}

    .dashboard-root .single_select .multiselect-item-checkbox input[type=checkbox]+div:before {
        position: inherit !important;
        border: 2px solid #337ab700 !important;
        color: #337ab705 !important;
        background: #337ab700 !important;}

    .dashboard-root .single_select .multiselect-item-checkbox input[type=checkbox]+div {
        padding-left: 0 !important;}

    .dashboard-root .single_select .multiselect-item-checkbox input[type=checkbox]+div:after {
        border-color: transparent !important;}

    .dashboard-root .single_select .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
        animation: none !important;
        background: transparent;
        -webkit-animation: none !important;}

    .dashboard-root .single_select .multiselect-item-checkbox input[type=checkbox]:checked+div {
        background: #ededed;
        padding: 3px;
        font: 14px/23px "Segoe UI";}

    div.multiselect-dropdown span.dropdown-btn span.dropdown-down {
        border-left: 6px solid transparent !important;
        border-right: 6px solid transparent !important;
        border-top: 6px solid #000000 !important;}

    .dashboard-root .multiselect-dropdown .dropdown-btn .dropdown-up {
        border-bottom: 6px solid #000000 !important;
        border-left: 6px solid transparent !important;
        border-right: 6px solid transparent !important;}

    .dashboard-root .dropdown-btn .selected-item a {
        display: none;}

    .dashboard-root .multiselect-dropdown .dropdown-btn .selected-item:hover {
        -webkit-box-shadow: 1px 1px #95959500 !important;
        box-shadow: 1px 1px #95959500 !important;}

    .dashboard-root .multiselect-dropdown .dropdown-btn .selected-item {
        background: transparent !important;
        border: 0 !important;
        color: #4e4e4e !important;}

    .dashboard-root .multiselect-dropdown .dropdown-btn {
        border: 1px solid #e1e2e2 !important;}

    input:focus {
        outline: none;}

    .dashboard-root .ana_body {
        min-height: 500px;}

    .dashboard-root .ana_body .nav-tabs {
        border: 0;
        margin: 0;}

    .dashboard-root .ana_body .tab-content {
        display: block;
        visibility: visible;
        padding: 25px 4px 0 4px;
        width: 100%;}

    .dashboard-root .ana_body .nav-tabs {
        border: 0;
        margin: 0;}

    .dashboard-root .ana_body .nav-tabs .nav-link:focus, .ana_body .nav-tabs .nav-link:hover {
        border: 0 !important;}

    .dashboard-root .ana_body .nav-tabs a:hover {
        border: 0 !important;}

    .dashboard-root .ana_body .nav-tabs .nav-link {
        border: 0;
        font-family: 'Conv_Roboto-Regular';
        font-weight: 500;
        padding: 0 30px 0 0;}

    .dashboard-root .ana_body .nav-tabs a {
        color: #616161;
        font-size: 15px;}

    .dashboard-root .ana_body .nav-tabs a.active {
        color: #0275d8;}

    .dashboard-root .ana_body .tab-content .col-md-3 {
        padding-right: 12px;
        padding-left: 12px;}

    .dashboard-root .ana_body .tab-content .col-md-3 label {
        display: block;
        font-size: 28px;
        margin: 14px 0;
        font-family: 'Conv_Roboto-Light';
        color: #616161;
        min-height: 42px;}

    .dashboard-root .ana_body .ui-datatable thead th {
        padding: 17px 10px !important;
        font-family: "Roboto";}

    .dashboard-root .ana_body .ui-datatable td {
        padding: 5px 6px !important;}

    .dashboard-root .ana_body .ui-datatable td a {
        color: #0275d8;
        text-decoration: underline;}

    .dashboard-root .ana_body .ui-datatable .ui-paginator {
        background: #fff !important;
        padding: 24px 14px 6px 1px;
        border: 0;
        text-align: left;}

    .dashboard-root .ana_body .ui-datatable .ui-paginator-element {
        background: none;
        border: 0;
        margin: 0 5px;
        display: inline-block;
        font-size: 14px;}

    .dashboard-root .ana_body .ui-paginator .ui-paginator-page.ui-state-active {
        color: #0275d8;
        background: none;
        border: 0;}

    .dashboard-root .ana_body .ui-paginator a:not(.ui-state-disabled):not(.ui-state-active):hover {
        color: #0275d8;
        background: none;
        border: 0;}

    .dashboard-root .ana_body .ui-paginator-last {
        display: none !important;}

    .dashboard-root .ana_body .ui-paginator-first {
        display: none !important;}

    .dashboard-root .ana_body .fa-backward:before {
        display: none;}

    .dashboard-root .ana_body .fa-backward {
        background: url(assets/img/pagination_arrow_left.svg) no-repeat;
        width: 11px;
        height: 15px;
        position: relative;
        top: 4px;}

    .dashboard-root .ana_body .ui-paginator-prev {
        margin: 0;
        padding: 0;}

    .dashboard-root .ana_body .ui-paginator-next {
        margin: 0;
        padding: 0;}

    .dashboard-root .ana_body .fa-forward:before {
        display: none;}

    .dashboard-root .ana_body .fa-forward {
        background: url(assets/img/pagination_arrow_right.svg) no-repeat;
        width: 11px;
        height: 15px;
        position: relative;
        top: 4px;}

    .dashboard-root .ui-datatable-tablewrapper {
        overflow-x: scroll !important;}

    .dashboard-root .opt_row2 {
        z-index: 2;}

    /*
    .dashboard-root .amcharts-export-menu .export-main > a {
        
        background: url(assets/img/dots.svg) !important;
        background-repeat: no-repeat !important;
        background-position: 10px 16px !important;
        -webkit-box-shadow: 0px 0px 0px 0 rgba(0,0,0) !important;
        box-shadow: 0px 0px 0px 0 rgba(0,0,0) !important;
        border-radius: 0px !important;
        margin: -40px 0px 0 0px !important;
        opacity: 1 !important;
        }
    .dashboard-root .amcharts-export-menu .export-main > a:hover {
        
        background: url(assets/img/dots.svg);
        background-repeat: no-repeat;
        background-position: 10px 16px;
        }*/

    #pieContainer .amcharts-legend-div {
        /*left: 27%;*/}

    .dashboard-root .ui-widget-content tr td:nth-child(1) {
        position: sticky;
        left: -2px;
        width: 165px !important;
        z-index: 0;
        text-align: left;
        background: #FFF;
        padding-left: 12px !important;}

    th.ui-state-default:nth-child(1) {
        position: sticky;
        left: -2px;
        width: 165px !important;
        z-index: 0;
        text-align: left;
        background: #FFF;
        padding-left: 10px !important;}

    th.ui-state-default {
        text-align: center;}

    tr.ui-widget-content {
        text-align: center;
        font-family: roboto;
        font-size: 13px;}

    ng-multiselect-dropdown {
        font-family: Conv_Roboto-Regular;
        color: #414141;}

    tr.ui-widget-content.rowSelected {
        background: #dbedff !important;}

    #loading-bar .bar {
        background: transparent;
        height: 4px;}

    #loading-bar-spinner .spinner-icon {
        width: 18px;
        height: 18px;
        border: solid 4px transparent;
        border-top-color: #cadd22;
        border-left-color: #cadd22;
        border-radius: 10px;}

    tr.ui-widget-content td {
        overflow-x: hidden;}

    /*.hidden{

        display: none;
    }*/

    .dashboard-root .ui-widget-header {
        background: transparent !important;
        border: 0 !important;}

    .dashboard-root .dropdown-list {
        -webkit-box-shadow: 0 0px 0px #959595 !important;
        box-shadow: 0 0px 0px #959595 !important;}

    .dashboard-root .pagination-previous a, .pagination-previous span {
        display: none !important;}

    .dashboard-root .pagination-next a, .pagination-next span {
        display: none !important;}

    .dashboard-root .pagination-previous {
        background: url(assets/img/pagination_arrow_left.svg) no-repeat !important;
        width: 11px;
        height: 15px;
        position: relative;
        top: 4px;
        cursor: pointer !important;
        opacity: 1 !important;}

    .dashboard-root .pagination-previous.disabled {
        background: url(assets/img/pagination_arrow_left.svg) no-repeat !important;
        width: 11px;
        height: 15px;
        position: relative;
        top: 4px;
        cursor: default !important;
        opacity: 0 !important;}

    .dashboard-root .ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before {
        display: none !important;}

    .dashboard-root .pagination-next {
        background: url(assets/img/pagination_arrow_right.svg) no-repeat !important;
        width: 11px;
        height: 15px;
        position: relative;
        top: 4px;
        opacity: 1 !important;
        cursor: pointer !important;}

    .dashboard-root .pagination-next.disabled {
        background: url(assets/img/pagination_arrow_right.svg) no-repeat !important;
        opacity: 0 !important;
        cursor: default !important;}

    .dashboard-root .ngx-pagination .current {
        background: transparent !important;
        color: #0275d8 !important;}

    .dashboard-root .ngx-pagination .current {
        background: transparent !important;
        color: #0275d8 !important;}

    .dashboard-root .ngx-pagination a:hover, .ngx-pagination button:hover {
        background: transparent !important;
        text-decoration: none !important;
        color: #0275d8 !important;}

    .dashboard-root .ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after {
        display: none !important;}

    .dashboard-root .serialbox {
        padding-left: 10px;}

    .dashboard-root .sibme_header .dropdown-toggle::after {
        display: none !important;}

    .dashboard-root .user_newDropDown {
        top: 50px !important;}

    .dashboard-root .container {
        max-width: 1027px !important;
        margin: 0 auto !important;
        float: none !important;}

    .dashboard-root .bred_an span {
        font-size: 13px;}

    #main {
        width: 100%;
        margin-top: 34px !important;
        margin-bottom: 48px !important;
        position: relative;
        margin: 32px auto 88px;
        overflow: unset;}

    .dashboard-root .header_an {
        background-color: #f9f9f9;
        margin: -10px -15px 0px -15px;
        padding: 9px 20px;
        border-bottom: 1px solid #e1e2e2;}

    .dashboard-root .header_an h2 {
        font-size: 30px;
        font-family: 'Roboto-Light';
        padding-left: 3px;
        margin: 10px 0;}

    .dashboard-root .video_body {
        padding: 16px 0;}

    .dashboard-root .video_body .nav-tabs {
        margin: 0;}

    .dashboard-root .video_body .nav-tabs {
        border-bottom: 2px solid #eeeeee;}

    .dashboard-root .video_body .nav-tabs .nav-item {
        margin-bottom: 0px;
        margin-left: 0;}

    .dashboard-root .nav li {
        float: left;
        margin-left: 3px;}

    .dashboard-root .video_body .nav-tabs a.active {
        color: #0275d8;}

    .dashboard-root .video_body .nav-tabs .nav-link {
        font-family: 'Roboto-light';
        font-size: 15px;
        padding: 5px 12px 5px 12px;
        min-height: 37px;}

    .dashboard-root .video_body .nav-tabs .nav-link {
        border: 1px solid #eeeeee;
        border-bottom: 0;}

    .dashboard-root .video_body .nav-tabs a {
        color: #616161;}

    .dashboard-root .video_body .nav-tabs a span:first-child {
        display: none;}

    .dashboard-root .video_body .nav-tabs a.active span.badge {
        background: #1d7dd4;}

    .dashboard-root .video_body .nav-tabs a span {
        background: #616161;
        display: inline-block;
        padding: 4px 10px 5px 10px;
        border-radius: 5px;
        color: #fff;}

    .dashboard-root .video_body .tab-content {
        display: block;
        visibility: visible;
        padding: 7px 4px 0 4px;
        width: 100%;}

    .dashboard-root .tab-content>.active {
        display: block;}

    .dashboard-root .box {
        -moz-box-sizing: border-box;
        background-color: #FFF;
        border: 1px solid #DAD6CE;
        border-radius: 3px 3px 3px 3px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        float: left;
        min-height: 371px;
        overflow: hidden;
        padding: 10px 20px 20px;
        width: 328px;}

    .dashboard-root .switch_container {
        /*float: left;*/
        width: 19%;}

    .dashboard-root .switch_text {
        float: left;
        width: 77%;
        font-weight: 600;
        line-height: 16px;}

    .dashboard-root .field_title {
        font-weight: 600;
        margin: 15px 0;
        font-size: 16px;
        color: #424242;
        padding-left: 5px;}

    .dashboard-root .switch-medium small {
        width: 15px !important;
        height: 15px !important;
        margin-left: 4px;
        margin-right: 4px;
        top: 3px !important;
        position: absolute !important;}

    .dashboard-root .switch .off {
        color: #FFF !important;
        top: 1px !important;}

    .dashboard-root .switch .on {
        color: #FFF !important;
        top: 1px !important;}

    .dashboard-root .switch.switch-medium.switch-labeled {
        width: 55px !important;
        border: none;}

    .dashboard-root .switch small {
        box-shadow: none !important;}

    .dashboard-root .switch-medium {
        height: 22px !important;}

    .dashboard-root .switch-medium.switch-labeled {
        width: 52px;}

    .dashboard-root .video_info_main {
        text-align: right;
        padding: 15px 0 6px 0;}

    .dashboard-root .video_info {
        border-radius: 4px;
        border: 1px solid #dddddd;
        color: #000000;
        padding: 4px 8px 3px 8px;
        float: right;
        margin-right: 5px;
        font-size: 15px;
        font-family: 'Roboto-Regular';
        cursor: pointer;}

    .dashboard-root .video_options a {
        border-radius: 4px;
        border: 1px solid #dddddd;
        color: #848484;
        padding: 2px 6px 4px 6px;
        float: right;
        font-size: 16px;}

    .dashboard-root .comm_top {
        margin: 0 -15px 8px -15px;}

    .dashboard-root .add_comment label {
        display: inline-block;
        color: #010101;
        font-family: 'Roboto-Regular';
        font-size: 16px;
        margin-bottom: 0;
        position: relative;
        top: -2px;}

    .dashboard-root .comm_time {
        color: #cbcbcb;
        float: right;
        font-size: 12px;
        margin-bottom: 0px;
        display: inline-block;}

    .dashboard-root .comm_time {
        text-align: right;
        padding-top: 3px;}

    .dashboard-root .comm_time .switch {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 17px;}

    .dashboard-root .add_comment label {
        display: inline-block;
        color: #010101;
        font-family: 'Roboto-Regular';
        font-size: 16px;
        margin-bottom: 0;}

    .dashboard-root .time_com {
        font-family: 'Roboto-light';
        color: #010101;
        position: relative;
        top: -4px;
        display: inline-block;
        margin-left: 6px;
        font-size: 13px;
        text-transform: lowercase;}

    .dashboard-root .comment_box {
        border: 1px solid #dddddd;
        padding: 10px;
        border-radius: 4px;
        background: #fff;}

    .dashboard-root .add_comment textarea {
        border: 0;
        width: 100%;
        height: 80px;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.09) inset;
        padding: 0;
        color: #919191;
        resize: none;}

    .dashboard-root .comment_tags {
        padding-bottom: 10px;}

    .dashboard-root .plusicon {
        float: left;}

    .dashboard-root .plusicon img {
        max-width: 10px;
        position: relative;
        top: -4px;}

    .dashboard-root .comment_tags {
        padding-bottom: 10px;}

    .dashboard-root .tags_icons {
        float: left;
        margin-right: 3px;}

    textarea:focus {
        outline: 0;}

    .dashboard-root .comm_option {
        padding: 9px 0 5px 0;}

    .dashboard-root .comm_option {
        color: #383a39;
        font-family: 'Roboto-Regular';
        font-size: 13px;
        cursor: pointer;}

    .dashboard-root .comm_option span {
        position: relative;
        top: 1px;
        margin-right: 2px;
        display: inline-block;}

    .dashboard-root .custom_tag {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-left: 20px;
        border: 2px solid #000;}

    .dashboard-root .q_circle {
        border: 2px solid #5db85b;
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;}

    .dashboard-root .i_circle {
        border: 2px solid #38a0ff;
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-left: 20px;}

    .dashboard-root .b_circle {
        border: 2px solid #ff5800;
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-left: 20px;}

    .dashboard-root .r_circle {
        border: 2px solid #df0a00;
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-left: 20px;}

    .dashboard-root .add_comm {
        padding: 5px 0 0 0;}

    .dashboard-root .comm_options {
        border-radius: 4px;
        border: 1px solid #dddddd;
        color: #848484;
        padding: 2px 6px 3px 6px;
        float: left;
        font-size: 16px;
        cursor: pointer;
        background: #fff;}

    .dashboard-root .add_comm_btn {
        text-align: right;}

    .dashboard-root .add_comm_btn a {
        background: #5db85b;
        color: #fff !important;
        display: inline-block;
        padding: 5px 22px;
        border-radius: 4px;
        /*float: right;*/
        font-family: 'Roboto-Light';
        text-decoration: none;}

    .dashboard-root .add_comm .btn-group {
        float: left;}

    .dashboard-root .video_options .dropdown-toggle::after, .add_comm .dropdown-toggle::after {
        display: none !important;}

    .dashboard-root .comm_outer {
        max-height: 600px;
        overflow: auto;}

    .dashboard-root .video-js .vjs-big-play-button {
        top: 42% !important;
        left: 42% !important;}

    .dashboard-root .fake_link:hover {
        cursor: pointer;}

    .dashboard-root .filled {
        background: #e0e0e0;}

    .dashboard-root .video_options {
        float: right;
        cursor: pointer;}

    .dashboard-root .slimScrollDiv {
        padding-right: 10px !important;}

    .dashboard-root .settingsMenu {
        width: 260px;}

    .dashboard-root .fsp-picker__brand-container {
        display: none !important;}

    .dashboard-root .icon-flipped {
        transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);}

    .dashboard-root .model-copy {
        max-width: 600px !important;}

    .dashboard-root .modal-header {
        background: #f9f9f9;}

    .dashboard-root .modal-title {
        font-size: 25px;
        font-family: Roboto-Light;
        padding-left: 3px;
        margin: 1px 0;
        color: #414141;}

    .dashboard-root .model-copy .tab-content {
        margin-top: 18px;}

    .dashboard-root .model-copy .nav-tabs .oi {
        display: inline-block;
        margin-right: 5px;}

    .dashboard-root .model-copy .nav-tabs a {
        color: #414141;}

    .dashboard-root .model-copy .nav-tabs .nav-link.active {
        color: #518fcc;}

    .dashboard-root .model-copy .filterinput {
        width: 100%;
        display: block;
        border: 1px solid #ddd;
        padding: 4px;
        height: 40px;
        border-radius: 4px;}

    .dashboard-root .model-copy .files-list {
        padding-left: 0;
        list-style: none;
        margin-top: 15px;
        height: 135px;
        overflow-y: scroll;}

    .dashboard-root .model-copy .files-list li {
        display: block;
        margin-bottom: 8px;}

    .dashboard-root .model-copy .files-list li input[type=checkbox] {
        position: relative;
        top: 1px;
        display: inline-block;
        margin-right: 5px;}

    .dashboard-root .hu_cancel {
        background: #fff;
        color: #636363;
        border: 0;
        display: inline-block;
        padding: 9px 26px;
        border-radius: 4px;
        font-family: Roboto-Regular;}

    .dashboard-root .hu_primary {
        background: #518fcc;
        color: #fff;
        border: 0;
        display: inline-block;
        padding: 9px 26px;
        border-radius: 4px;
        font-family: Roboto-Regular;
        margin-right: 15px;}

    .dashboard-root .model-send-email {
        max-width: 600px !important;}

    .dashboard-root .model-send-email input[type=text], .model-send-email input[type=email] {
        width: 100%;
        display: block;
        border: 1px solid #ddd;
        padding: 4px;
        height: 40px;
        border-radius: 4px;}

    .dashboard-root .model-send-email textarea {
        width: 100%;
        display: block;
        border: 1px solid #ddd;
        padding: 4px;
        height: 100px;
        border-radius: 4px;
        margin-bottom: 11px;}

    .dashboard-root .model-send-email label {
        margin: 12px 0 0 0;}

    .dashboard-root .nav-link i {
        color: #848484;
        font-size: 11px;
        margin-left: 10px;}

    .dashboard-root .nav-tabs li:last-child a {
        border-color: #fff !important;}

    .dashboard-root .observation_body .nav-tabs li:last-child a {
        border: 1px solid #eeeeee !important;}

    .dashboard-root .model-copy .nav-tabs li:last-child a {
        border-color: transparent !important;}

    .dashboard-root .model-copy .nav-tabs li:last-child a.active {
        border-color: #dee2e6 !important;
        border-bottom-color: #fff !important;}

    .dashboard-root .model-copy .nav-tabs li:last-child a:hover {
        border-color: #e9ecef #e9ecef #dee2e6 !important;}

    .dashboard-root .model-copy .nav-tabs li:last-child a.active:hover {
        border-color: #e9ecef #e9ecef #dee2e6 !important;
        border-bottom-color: #fff !important;}

    .dashboard-root .video_options ul {
        right: 0px !important;
        left: inherit !important;}

    .dashboard-root .dropdown-item {
        padding: 2px 10px !important;
        font-size: 15px !important;}

    .dashboard-root .open .comm_options {
        background: #D6D6D6;}

    .dashboard-root .comm_time .switch-medium {
        height: 14px !important;
        width: 30px !important;}

    .dashboard-root .comm_time .switch-medium small {
        width: 8px !important;
        height: 8px !important;}

    .dashboard-root .tag_rounded {
        border: solid 1px #ccc;
        border-radius: 3px;
        padding: 0px 5px 3px 12px;
        margin-left: 6px;
        vertical-align: top;
        margin-bottom: 4px;
        display: inline-block;}

    .dashboard-root .tag_rounded span {
        margin-left: 5px;
        cursor: pointer;
        vertical-align: top;}

    .dashboard-root .comment_tags custom-tags input {
        padding-left: 7px;}

    .dashboard-root .fake_link {
        display: inline-block;
        ;}

    .dashboard-root .comm_option .custom_tag:first-child {
        margin-left: 0px;}

    .dashboard-root .uploader_adjs {
        margin-right: -4px;}

    .dashboard-root .marg_top {
        top: 2px;}

    #overlay {
        opacity: 0.9;}

    .dashboard-root .dropdown-header {
        padding-left: 10px !important;}

    .dashboard-root .add_comm_btn .simple_btn, .comment_manage .simple_btn {
        background: none !important;
        color: #616161 !important;
        cursor: pointer !important;}

    .dashboard-root .comm_time .switch-medium.checked small {
        left: 14px !important;}

    .dashboard-root .tags_icons {
        color: #8A8A8A;
        font-size: 16px;}

    .dashboard-root .plusicon {
        color: #8A8A8A;
        font-size: 9px;
        top: 2px;
        position: relative;
        margin-left: 2px;}

    .dashboard-root .full_width {
        width: 405px;
        text-overflow: ellipsis;
        position: relative;
        overflow: hidden;
        white-space: nowrap;}

    .dashboard-root .cross_span {
        position: absolute;
        top: 0px;
        right: 2px;}

    .dashboard-root .Pldropdown+.comments_desc .nav-item .nav-link {
        border: 0 !important;}

    .dashboard-root .tag_adjusted {
        margin-left: 35px;}

    .dashboard-root .text_margin_bottom {
        margin: 10px 0px;}

    .dashboard-root .comm_options img {
        top: -2px;
        position: relative;}

    .dashboard-root .card {
        color: #7B7280 !important;}

    .dashboard-root .tab_no_border .nav-tabs {
        border: 0px !important;}

    .dashboard-root .tab_no_border ul {
        border: 0px !important;}

    .dashboard-root .tab_no_border ul li a {
        padding-left: 0px !important;}

    .dashboard-root .tab_no_border a.active, .tab_no_border a {
        border: 0 !important;}

    .dashboard-root .video-js .vjs-fullscreen-control {
        left: 7px;}

    .dashboard-root .ob_add_comment .add_comm_btn {
        height: 0;
        position: relative;
        top: 38px;}

    .dashboard-root .ng2-nouislider .noUi-horizontal {
        background-color: #b1bdc3;
        background-image: -webkit-linear-gradient(top, #b1bdc3, #a2aeb4);
        background-image: linear-gradient(to bottom, #b1bdc3, #a2aeb4);
        height: 10px;}

    .dashboard-root .ng2-nouislider .noUi-connect {
        background-color: #46ab32;
        background-image: -webkit-linear-gradient(top, #46ab32, #359a21);
        background-image: linear-gradient(to bottom, #46ab32, #359a21);
        -webkit-transition: background 450ms;
        transition: background 450ms;}

    .dashboard-root .ng2-nouislider .noUi-handle {
        background: url("assets/imgs/sprites.video-editor.png") no-repeat;
        cursor: pointer;
        box-shadow: none;
        border: none;}

    .dashboard-root .ng2-nouislider .noUi-handle:focus {
        outline: none;}

    .dashboard-root .ng2-nouislider .noUi-handle:before, .ng2-nouislider .noUi-handle:after {
        display: none;}

    .dashboard-root .ng2-nouislider .noUi-horizontal .noUi-handle {
        height: 32px;
        width: 19px;
        top: -1px;}

    .dashboard-root .ng2-nouislider .noUi-handle-lower {
        background-position: top left;
        right: -2px !important;}

    .dashboard-root .ng2-nouislider .noUi-handle-upper {
        background-position: top right;}

    .dashboard-root .ng2-nouislider .noUi-target {
        border-radius: 0;
        box-shadow: none;}

    .dashboard-root .video_box>div {
        margin: 0 auto;}

    .dashboard-root .player_fwd {
        left: -26px;
        position: relative;
        display: inline-block;}

    .dashboard-root .player_bk {
        left: -20px;
        position: relative;
        display: inline-block;}

    .dashboard-root .vjs-volume-panel-horizontal {
        left: 10px !important;}

    .dashboard-root .player_bk {
        left: -86%;
        cursor: pointer;}

    .dashboard-root .player_fwd {
        left: -87%;
        cursor: pointer;}

    .dashboard-root .bk_full {
        left: -95.5% !important;}

    .dashboard-root .fw_full {
        left: -96% !important;}

    .dashboard-root .play_adjusted {
        left: -10px !important;}

    .dashboard-root .vjs-volume-bar {
        margin-right: 10px !important;}

    .dashboard-root .preview_container .slimScrollDiv {
        border-bottom: 1px solid #d0d0d0;}

    .dashboard-root .preview_container #slimscroll {
        padding-bottom: 20px;}

    html {
        font-family: 'Roboto';}

    #header, #header a {
        font-family: 'Roboto', sans-serif !important;}

    .dashboard-root .dropdown-item.disabled, .dropdown-item:disabled {
        color: #bcbcbc !important;}

    .dashboard-root .rubric_match_found {
        background: yellow !important;}

    .dashboard-root .video-js .vjs-time-control {
        display: block !important;}

    .dashboard-root .vjs-time-control {
        padding: 0 10px 0 4px !important;}

    .dashboard-root .vjs-time-divider {
        margin: 0 !important;
        padding: 0 !important;}

    .dashboard-root .vjs-duration {
        margin: 0 !important;
        padding: 0 !important;}

    .dashboard-root .video-js .vjs-remaining-time {
        display: none !important;}

    .dashboard-root .video-js .vjs-control, .video-js button {
        outline: 0 !important;}

    .dashboard-root .video-js .vjs-volume-panel .vjs-volume-control {
        margin-left: -9px !important;}

    .dashboard-root .video-js .vjs-progress-control .vjs-progress-holder {
        margin-right: 0!important;}

    .dashboard-root .video-js .vjs-time-divider {
        margin: 0 2px !important;
        min-width: 4px !important;}

    .dashboard-root .video-js .vjs-time-control {
        margin: 0 2px !important;
        padding: 0 !important;
        line-height: 31px !important;}

    .dashboard-root .player_fwd, .player_bk {
        top: 1px !important;}

    .dashboard-root .video-js .vjs-control-bar {
        width: 101% !important;}

    .dashboard-root .video-js .vjs-control:focus, .video-js .vjs-control:focus:before, .video-js .vjs-control:hover:before {
        text-shadow: 0 0 0em #fff !important;}

    .dashboard-root .language_sp #header div.user_newDropDown ol {
        width: 143px !important;
        min-height: 104px !important;
        padding-left: 8px !important;
        margin-left: 0 !important;}

    .dashboard-root .language_sp .model-copy .nav-tabs a {
        padding: 6px 8px !important;
        font-size: 13px !important;}

        body{background:#f3f2ea; font-family: 'Roboto', sans-serif; }
.box_outer{ background:#fff;  border-radius:5px;     margin-top: 15px !important;     max-width: 1024px !important; margin-bottom: 20px !important;}
 .topheader{text-align: center; background:url(../img/bgrep.png) repeat-x;}
.panl_headingac { border-bottom:1px solid #ddd; padding:18px 10px;     background: #f9f9f9;     border-top-right-radius: 5px;     border-top-left-radius: 5px;}
.panl_headingac  h3{    font-family: 'Roboto', sans-serif; margin: 0; font-weight: 400;font-size: 24px;     line-height: 40px; color:#484848;}
.b_drow { padding-top:15px; margin:0; color:#484848;}
.b_heading{padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; margin:0; color:#484848; font-size:14px;}
	.b_drow  .col-2 { padding-left:0;}
	.b_heading .col-2 { padding-left:0;}
	.exp_notes { background:#FFEBEB; padding:20px; margin: 0 -15px;}

  .exp_notes p { margin:0; color:#616161;}


@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.ani_us{
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
}

.us1 { width:250px; height:40px;}
	
	
	/**copy from here**/
	
.back_ac { text-align:right; padding-top:10px;}
.back_ac img { display:inline-block; margin-right:5px;}
.back_ac a{ color:#8B8B8B; text-decoration:none;}


/***GloabalEXport***/
.tabscls .nav-tabs {
  
    position: relative;
   
}

.tabscls .nav-tabs .nav-item {
   margin-bottom: -1px;
    border: 1px solid #ddd;
    padding: 7px 26px 6px 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 0;
    line-height: 26px;
}

.tabscls .nav-tabs .nav-item a {
    color: #A0A0A0;
    text-decoration: none;
    font-size: 15px;
}

.tabscls .nav-tabs .nav-item a.active {
    color: #1C7CD5;
}


	.save_settingcls {  text-align:right; padding-top:20px; padding-bottom:20px;}
	.save_settingcls button{ background: #fff;
    color: #484848;
    border: 0;
    padding: 6px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;}
	.save_settingcls .save_btn {    background: #28A745;
    color: #fff;}

	.save_settingcls .col-md-6 { padding:0;}
    .save_settingcls a{ color:#616161; text-decoration:underline;}
	
	.tabscls .nav-tabs{ padding:40px 0 0 30px;}
	
	.ck_box2 {margin: 13px 0;font-size: 13px;     display: block; color: #616161;}
	.ck_box2 svg {    margin-right: 12px;}
	.global_content { padding:15px;}
	
	.global_content h3 {font-weight: 400;
    font-size:18px;
    line-height: 40px;
    color: #484848;}
	.crddiv p{ text-align:right;}
	.billingmain {    padding: 30px 15px;}
	.billingmain h4{ color: #A0A0A0;
    font-weight: 400;
    font-size: 16px;}
	
	.billingmain  h3{ color:#1A1A1A; font-size:22px;}
	.billingleft {}
	.billingright { border-left:1px solid #ddd; padding-left:55px;}
	.billingbtn button{background:#F5F5F5;
    color: #484848;
    border: 0;
    padding: 6px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer; border:1px solid #CCCCCC;
    outline: 0;     min-width:160px;
    margin-right: 10px;}
	
	.billingbtn button.changebtn{ background:#28A745; color:#fff;}
	.billingmain label{ color:#616161;     margin: 15px 0 0 0;}
	.billingbtn { padding:20px 15px;}
	.billingmain h2 {
    color: #1A1A1A;
    font-size:18px;    margin-top:30px; font-weight:400;
}
	.billingleft .col-6{ padding-bottom:10px;}
	.text_bill { padding-bottom:20px;}
	.text_bill p{ color:#616161; margin-bottom:0;}
	.braintree img {    max-width: 124px;}
	.ac_billing{    padding: 30px 15px;}
	.ac_billing h2{ color: #1A1A1A;
    font-size:18px;    margin-top:30px; font-weight:400;}
	
	.bill_opt {    text-align: center;}
	
	.bill_opt button {
    border: 0;
    padding: 0;
    background: none;
    outline: none;
    cursor: pointer;
}
.bill_opt .dropdown-toggle::after { display:none;}
.bill_opt .dropdown-menu { text-align:left;}
.bill_opt .dropdown-menu a{ color:#484848;}
	.bill_opt .dropdown-menu {
    min-width:75px !important;
    padding: 10px 6px 6px 9px !important;
    left: -55px !important;
}
	
	
	
	