body{background:#f3f2ea; font-family: 'Roboto', sans-serif; }
/* .container{
  max-width: 1027px !important;
  margin: 0 auto !important;
  float: none !important;
} */
@media screen and (min-width:1280px) { 
  .container { max-width: 1200px !important;
      padding: 0 15px !important;
      }
     }

@media screen and (min-width:1500px) {

  .container { max-width: 1450px !important;    padding: 0 15px !important; }
}
.box_outer{ background:#fff;  border-radius:5px;     margin-top: 15px !important; margin-bottom: 20px !important;}
 .topheader{text-align: center; background:url('/assets/dashboard/img/bgrep.png') repeat-x;}
.panl_headingac { border-bottom:1px solid #ddd; padding:5.5px 10px;     background: #f9f9f9;     border-top-right-radius: 5px;     border-top-left-radius: 5px;}
.panl_headingac  h3{   
  font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #212528;
}
.b_drow { padding-top:15px; margin:0; color:#484848;}
.b_heading{padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; margin:0; color:#484848; font-size:14px;}
	.b_drow  .col-2 { padding-left:0;}
	.b_heading .col-2 { padding-left:0;}
	.exp_notes { background:#FFEBEB; padding:20px; margin: 0 -15px;}

  .exp_notes p { margin:0; color:#616161;}
  .contact_us{color:#757575 !important}
  .content_popup { padding:40px; text-align:center; color:#616161;}
	.mbtn { text-align:right;}

.custom-btn{
  background: #fff;
    color: #484848;
    border: 0;
    padding: 6px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;
}


@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.ani_us{
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
}

.us1 { width:250px; height:40px;}
	
	
	/**copy from here**/
	
.back_ac { text-align:right; padding-top:10px;}
.back_ac img { display:inline-block; margin-right:5px;}
.back_ac a{ color:#8B8B8B; text-decoration:none;}


/***GloabalEXport***/
.tabscls .nav-tabs {
  
    position: relative;
   
}

.tabscls .nav-tabs .nav-item {
   margin-bottom: -1px;
    border: 1px solid #ddd;
    padding: 7px 26px 6px 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 0;
    line-height: 26px;
}

.tabscls .nav-tabs .nav-item a {
    color: #A0A0A0;
    text-decoration: none;
    font-size: 15px;
}

.tabscls .nav-tabs .nav-item a.active {
    color: #1C7CD5;
}
.pointer {
  cursor: pointer;
}

	.save_settingcls {  text-align:right; padding-top:20px; padding-bottom:20px;}
	.save_settingcls button{ background: #fff;
    color: #484848;
    border: 0;
    padding: 6px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;}
	.save_settingcls .save_btn {    background: #28A745;
    color: #fff;}

	.save_settingcls .col-md-6 { padding:0;}
    .save_settingcls a{ color:#616161; }
	
	.tabscls .nav-tabs{ padding:40px 0 0 30px;}
	
	.ck_box2 {margin: 13px 0;font-size: 13px;     display: block; color: #616161;}
	.ck_box2 svg {    margin-right: 12px;}
	.global_content { padding:15px;}
	
	.global_content h3 {font-weight: 400;
    font-size:18px;
    line-height: 40px;
    color: #484848;}
	.crddiv p{ text-align:right;}
	.billingmain {    padding: 30px 15px;}
	.billingmain h4{ color: #A0A0A0;
    font-weight: 400;
    font-size: 16px;}
	
	.billingmain  h3{ color:#1A1A1A; font-size:22px;}
	/* .billingleft {} */
	.billingright { border-left:1px solid #ddd; padding-left:55px;}
	.billingbtn button{background:#F5F5F5;
    color: #484848;
    border: 0;
    padding: 6px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer; border:1px solid #CCCCCC;
    outline: 0;     min-width:160px;
    margin-right: 10px;}
	
	.billingbtn button.changebtn{ background:#28A745; color:#fff;}
	.billingmain label{ color:#616161;     margin: 15px 0 0 0;}
	.billingbtn { padding:20px 15px;}
	.billingmain h2 {
    color: #1A1A1A;
    font-size:18px;    margin-top:30px; font-weight:400;
}
	.billingleft .col-6{ padding-bottom:10px;}
	.text_bill { padding-bottom:20px;}
	.text_bill p{ color:#616161; margin-bottom:0;}
	.braintree img {    max-width: 100%;}
	.ac_billing{    padding: 30px 15px;}
	.ac_billing h2{ color: #1A1A1A;
    font-size:18px;    margin-top:30px; font-weight:400;}
	
	.bill_opt {    text-align: right;}
	
	.bill_opt button {
    border: 0;
    padding: 0;
    background: none;
    outline: none;
    cursor: pointer;
}
.bill_opt .dropdown-toggle::after { display:none;}
.bill_opt .dropdown-menu { text-align:left;}
.bill_opt .dropdown-menu a{ color:#484848;}
	.bill_opt .dropdown-menu {
    min-width:75px !important;
    padding: 10px 6px 6px 9px !important;
    left: inherit !important;
    right: 15px !important;
}
	
	
	
	

.new_plan label{ background:#F9F9F9; padding:15px 20px; margin: 0;
  display: block; font-weight:400; color:#212528; font-size:20px;}
.new_plan .row { padding: 20px 35px;}
.new_plan .col-6 { padding-left:0;}
.new_plan .col-12 { padding-left:0;}
.new_plan .brd{    border-top: 1px solid #ddd; padding-top:10px;}
.new_plan .changebtn { background:#057EFF !important;}
.re_title label{ font-weight:400; margin:0; font-size:18px;}
/* .re_title{ } */
.re_title p { font-size:14px;}
.rect { padding:15px;}
.rect .row{ margin:0; }
.re_heading { border:1px solid #ddd; border-left:0; border-right:0;     padding: 11px 0;}
.rect .col-md-6 { padding-left:0;}
.detail_rw { padding:11px 0;}
.detail_rw2 { padding:5px 0;}
.detail_rw2 .col-md-8, .col-md-11{ padding-left:0;}
.border1 {border:1px solid #ddd; border-left:0; border-right:0; padding:15px 0;}
.detail_rw2 b{ color:#2D2D2D;}
.pt40 { padding-top:40px !important;}
.rec_btn { text-align:right; padding-top:70px;}
.custom{
  color: black;
  font-weight: 600;
  font-size: 14px;
}
.rec_btn button{    background: #F5F5F5;
  color: #484848;
  border: 0;
  padding: 6px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #CCCCCC;
  outline: 0;
  min-width: 100px;
  margin-left: 10px;}
.rec_btn button.done_re {    background: #28A745;
  color: #fff;}

	
	
@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.bill_ani{
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
}

.bill_ani2{
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #e1e1e1;
  background: linear-gradient(to right, #e1e1e1 8%, #F0F0F0 18%, #e1e1e1 33%);
  background-size: 800px 104px;
  position: relative;
}


.bil_a1 { width:100%; height:18px; margin-bottom:8px;}
.bil_a0 { display:inline-block; width:90px; height:20px; margin-bottom:0px;}
.bil_a01 { display:inline-block; width:150px; height:30px; margin-bottom:0px;}
.bil_a2 { width:40%;  display:inline-block; height:38px;}
.bil_a3 { width:100%;  height:38px;     margin-top: 10px;}
.bil_a4 {width:15%;  height:38px; margin-right:8%; display:inline-block;     margin-top: 9px;}
.bil_a5 {width:100%;  height:38px;  display:inline-block;     margin-top:29px;}
.bil_a6 {width:100%;  height:20px;  display:inline-block;  }
.bil_a7 {width:50px;  height:20px;  display:inline-block;  }
.bil_a8 {width:100px;  height:38px;  display:inline-block;  }
.bil_a9 {width:190px;  height:28px;  display:inline-block;  }

h3 .bil_a9{    position: relative;
    top: 7px;}
	.bil_a10{width:190px;  height:20px;  display:inline-block;  }
	.bil_a11{width:80px;  height:20px;  display:inline-block;  }
  .bil_a12{width:90px;  height:40px;  display:inline-block;  }
  
  button:disabled {
    opacity: 0.5 !important;
}

.error{
  color:red;
}
.pt100{
  padding: 100px 0;
  font-size: 18px;
}
.container.bred_an{ padding-left:0 !important;     top: 11px !important;     padding-bottom: 9px !important;}
	.panl_headingac .col-md-6{ padding-left:7px;}
	
	.ac_billing .b_heading{ border-top:0 !important;}
	.ac_billing .panl_headingac { margin:0 -30px; border-radius:0;}
	.ac_billing .panl_headingac .col-12 { padding-left:20px;}
	
	.tree .braintree{    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;}
	.tree .text_bill{    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;}
	.call_u { display:inline-block;}
	.text_ph { margin-bottom:8px;}
	