<!-- Breadcrumb-->
<div class="clear"></div>
<div class="container bred_an">
  <a [routerLink]="['/']">{{translations.home_global}}</a>
  <img src="assets/img/breadcrumarrow.svg" />
  <a [routerLink]="['/account-settings']">{{translations.account_settings_all}}</a>

  <img src="assets/img/breadcrumarrow.svg" />

  <a [routerLink]="['/account-settings/plans']"> <b>{{translations.plans_main}} </b> </a>

</div>
<ng-container *ngIf="skeletonLoading">

  <div class="container box_outer">

    <div class="row panl_headingac">

      <div class="col-md-6">
        <h3></h3><span class="bill_ani2 bil_a9"></span>
      </div>

      <div class="col-md-6 back_ac">
        <span class="bill_ani2 bil_a9"></span>

      </div>

    </div>



    <div class="row billingmain">

      <div class="col-md-5 billingleft">
        <h4><span class="bill_ani bil_a0"></span></h4>

        <h3><span class="bill_ani bil_a01"></span></h3>

        <div class="row">
          <div class="col-12">
            <div class="bill_ani bil_a1"></div>
          </div>
          <div class="col-12">
            <div class="bill_ani bil_a1"></div>
          </div>
          <div class="col-12">
            <div class="bill_ani bil_a1"></div>
          </div>
          <div class="col-12">
            <div class="bill_ani bil_a1"></div>
          </div>
          <div class="col-12">
            <div class="bill_ani bil_a1"></div>
          </div>



          <div class="col-12 billingbtn">
            <span class="bill_ani bil_a2"></span>
            <span class="bill_ani bil_a2"></span>
          </div>

        </div>
      </div>

      <div class="col-md-7 billingright">
        <div class="row">

          <div class="col-12">
            <h4><span class="bill_ani bil_a0"></span></h4>
          </div>

          <div class="col-md-6">
            <div class="bill_ani bil_a3"></div>
          </div>
          <div class="col-md-6">
            <div class="bill_ani bil_a3"></div>
          </div>

          <div class="col-md-6">
            <div class="bill_ani bil_a3"></div>
          </div>
          <div class="col-md-6">
            <div class="bill_ani bil_a3"></div>
          </div>


          <div class="col-md-6">
            <div class="bill_ani bil_a3"></div>
          </div>
          <div class="col-md-6">
            <div class="bill_ani bil_a3"></div>
          </div>

          <div class="col-md-6">
            <div class="bill_ani bil_a3"></div>
          </div>
          <div class="col-md-6">
            <div class="bill_ani bil_a3"></div>
          </div>
          <div class="col-md-12">
            <div class="bill_ani bil_a3"></div>
          </div>

          <div class="col-md-6 crddiv">

            <div class="bill_ani bil_a3"></div>
          </div>

          <div class="col-md-4">
            <div class="bill_ani bil_a3"></div>
          </div>

          <div class="col-md-2">
            <div class="bill_ani bil_a3"></div>
          </div>

          <div class="col-md-9">
            <div class="bill_ani bil_a3"></div>
          </div>

          <div class="col-md-3">
            <div class="bill_ani bil_a3"></div>
          </div>

          <div class="col-12 save_settingcls">

            <span class="bill_ani bil_a2"></span>
            <span class="bill_ani bil_a2"></span>

          </div>

          <div class="col-md-12 text_bill">
            <div class="bill_ani bil_a1"> </div>
            <div class="bill_ani bil_a1"> </div>
          </div>


          <div class="col-md-12 text_bill">
            <div class="bill_ani bil_a1"></div>
            <div class="bill_ani bil_a1"></div>
          </div>

        </div>
      </div>

    </div>


    <div class="ac_billing">
      <div class="row">
        <div class="col-12">
          <h2>
            <div class="bill_ani bil_a0"></div>
          </h2>
        </div>
      </div>

      <div class="row b_heading">
        <div class="col-2">
          <div class="bill_ani bil_a1"></div>
        </div>
        <div class="col-8">
          <div class="bill_ani bil_a1"></div>
        </div>
        <div class="col-1">
          <div class="bill_ani bil_a1"></div>
        </div>
        <div class="col-1"></div>
      </div>


      <div class="row b_drow">
        <div class="col-2">
          <div class="bill_ani bil_a1"></div>
        </div>
        <div class="col-8">
          <div class="bill_ani bil_a1"></div>
        </div>
        <div class="col-1">
          <div class="bill_ani bil_a1"></div>
        </div>
        <div class="col-1 bill_opt">
          <div class="bill_ani bil_a1"></div>
        </div>
      </div>

      <div class="row b_drow">
        <div class="col-2">
          <div class="bill_ani bil_a1"></div>
        </div>
        <div class="col-8">
          <div class="bill_ani bil_a1"></div>
        </div>
        <div class="col-1">
          <div class="bill_ani bil_a1"></div>
        </div>
        <div class="col-1 bill_opt">
          <div class="bill_ani bil_a1"></div>
        </div>
      </div>


      <div class="row b_drow">
        <div class="col-2">
          <div class="bill_ani bil_a1"></div>
        </div>
        <div class="col-8">
          <div class="bill_ani bil_a1"></div>
        </div>
        <div class="col-1">
          <div class="bill_ani bil_a1"></div>
        </div>
        <div class="col-1 bill_opt">
          <div class="bill_ani bil_a1"></div>
        </div>
      </div>
      <div class="row b_drow">
        <div class="col-2">
          <div class="bill_ani bil_a1"></div>
        </div>
        <div class="col-8">
          <div class="bill_ani bil_a1"></div>
        </div>
        <div class="col-1">
          <div class="bill_ani bil_a1"></div>
        </div>
        <div class="col-1 bill_opt">
          <div class="bill_ani bil_a1"></div>
        </div>
      </div>
      <div class="row b_drow">
        <div class="col-2">
          <div class="bill_ani bil_a1"></div>
        </div>
        <div class="col-8">
          <div class="bill_ani bil_a1"></div>
        </div>
        <div class="col-1">
          <div class="bill_ani bil_a1"></div>
        </div>
        <div class="col-1 bill_opt">
          <div class="bill_ani bil_a1"></div>
        </div>
      </div>
      <div class="row b_drow">
        <div class="col-2">
          <div class="bill_ani bil_a1"></div>
        </div>
        <div class="col-8">
          <div class="bill_ani bil_a1"></div>
        </div>
        <div class="col-1">
          <div class="bill_ani bil_a1"></div>
        </div>
        <div class="col-1 bill_opt">
          <div class="bill_ani bil_a1"></div>
        </div>
      </div>




    </div>

  </div>
</ng-container>
<div class="clear"></div>
<div *ngIf="!skeletonLoading" class="container box_outer">

  <div class="row panl_headingac">

    <div class="col-md-6">
      <h3>{{translations.plans_billings_new_settings}}</h3>
    </div>
    <div class="col-md-6 back_ac">
      <a [routerLink]="['/account-settings']"> <img src="assets/img/left-arrow.svg"> {{translations.back_account_settings_new_settings}}</a>

    </div>

  </div>
  <plans-billings-shared></plans-billings-shared>
  <div class="row billingmain" *ngFor="let data of accountData">
    <div class="col-md-5 billingleft">
      <h4>{{translations.current_plan_new_settings}}</h4>

      <h3>{{data.plan_name}}</h3>

      <div class="row">
        <div class="col-6">{{translations.user_new_settings}}:</div>
        <div class="col-6">{{data.user_cost}}</div>

        <div class="col-6">{{translations.total_users_new_settings}}:</div>
        <div class="col-6">{{data.number_of_users}}</div>


        <div class="col-6">{{translations.total_storage_new_settings}}:</div>
        <div class="col-6">{{data.storage}}GB</div>

        <div class="col-6">{{translations.renews_on_new_settings}}:</div>
        <div class="col-6">{{data.next_billing}}</div>

        <div class="col-6">{{translations.cost_new_settings}}:</div>
        <div class="col-6">{{data.cost}}</div>

        <div class="col-12 billingbtn">
          <button class="changebtn" routerLink="change">{{translations.change_plan_new_settings}}</button>
          <button (click)="cancelAccount()">{{translations.cancel_account_new_settings}}</button>
        </div>

      </div>
    </div>


    <div class="col-md-7 billingright" *ngIf="ccCheck">
      <h4>
        Payment Method
       </h4>
      <img class="mr-2" width="30" src="{{accountData[0].creditCardImage}}">
      <span class="custom"> {{accountData[0].creditCardNumber}}</span>
      <div class="col-12 save_settingcls">
        <button class="save_btn" (click)="ccCheck=false;showForm=true">{{translations.update_card_new_settings}}</button>
      </div>
      <p class="text_ph">{{translations.for_ten_licenses_new_settings}} {{translations.please_new_settings}} <b> <a href="https://sibme.com/#contact-modal" target="_blank"> <u class="contact_us">{{translations.contact_us_new_settings}}</u> </a> </b> {{translations.call_us_new_settings}} <b class="call_u">
        888-601-6786 x1</b> {{translations.for_an_invoice_new_settings}}</p>
     
        <div class="row tree">
      <div class="col-md-3 braintree">
        <img src="assets/img/braintree.png">
      </div>
      <div class="col-md-9 text_bill">
        <p>{{translations.our_payment_billing_new_settings}}.</p>
      </div>
      </div>
    </div>

    <div class="col-md-7 billingright" *ngIf="showForm">
      
      <form #form="ngForm" name="form" (ngSubmit)="f.form.valid && updateCardInfo()" #f="ngForm" novalidate>
        <div class="row">

          <div class="col-12">
            <h4>{{translations.payment_method_new_settings}}</h4>
          </div>

          <div class="col-md-6">
            
            <label>{{translations.first_name_new_settings}}</label>
            <input type="text" [(ngModel)]="card.first_name" name="firstName" #firstName="ngModel" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required>
            <div *ngIf="firstName.invalid" class="invalid-feedback">
              <div *ngIf="firstName.errors?.required">First Name is required</div>
          </div>
          </div>
          <div class="col-md-6">
            <label>{{translations.last_name_new_settings}}</label>
            <input type="text" name="lastName" class="form-control" [(ngModel)]="card.last_name" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required>
              <div *ngIf="lastName.invalid" class="invalid-feedback">
                  <div *ngIf="lastName.errors?.required">Last Name is required</div>
              </div>
          </div>

          <div class="col-md-6">
            <label>{{translations.email_new_settings}}</label>
            <input type="text" name="email" class="form-control" [(ngModel)]="card.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
            <div *ngIf="email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors?.required">Email is required</div>
                <div *ngIf="email.errors?.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="col-md-6">
            <label>{{translations.account_name_new_settings}}</label>
              <input type="text" name="address" class="form-control" [(ngModel)]="card.address" #address="ngModel" [ngClass]="{ 'is-invalid': f.submitted && address.invalid }" required>
              <div *ngIf="address.invalid" class="invalid-feedback">
                  <div *ngIf="address.errors?.required">Address is required</div>
              </div>
          </div>



          <div class="col-md-6">
            <label>{{translations.billing_address_new_settings}}</label>
            <input type="text" name="extendedAddress" class="form-control" [(ngModel)]="card.extendedAddress" #extendedAddress="ngModel" >
            <!-- <div *ngIf="extendedAddress.invalid" class="invalid-feedback">
                <div *ngIf="extendedAddress.errors?.required">Address is required</div>
            </div> -->
          </div>
          <div class="col-md-6">
            <label>{{translations.city_new_settings}}</label>
            <input type="text" name="city" class="form-control" [(ngModel)]="card.city" #city="ngModel" [ngClass]="{ 'is-invalid': f.submitted && city.invalid }" required>
            <div *ngIf="city.invalid" class="invalid-feedback">
                <div *ngIf="city.errors?.required">City is required</div>
            </div>
          </div>

          <div class="col-md-6">
          
            <label>{{translations.state_new_settings}}</label>
              <select [(ngModel)]="card.state" name="state" class="form-control"  #state="ngModel" [ngClass]="{ 'is-invalid': f.submitted && state.invalid }" required>
              <option *ngFor="let c of states" [value]="c.name">{{c.name}}</option>
            </select>
            <div *ngIf="state.invalid" class="invalid-feedback">
              <div *ngIf="state.errors?.required">State is required</div>
              </div>
          </div>

          <div class="col-md-6">
            <label>{{translations.zip_code_new_settings}}</label>
            <input type="text" [(ngModel)]="card.zip_code" name="zip" class="form-control">
          </div>
          <div class="col-md-12">
            <h2>{{translations.enter_payment_details_new_settings}} </h2>
          </div>

          <div class="col-md-6 crddiv">
            <label>{{translations.card_number_new_settings}}</label>
            <input id="cc-number" type="tel" autocomplete="cc-number" name="cc" ccNumber placeholder="xxxx-xxxx-xxxx-xxxx" minlength="16" [(ngModel)]="card.card_number" [ngModelOptions]="{standalone: true}"
              #cc="ngModel" class="form-control"  class="form-control" [ngClass]="{ 'is-invalid': f.submitted && cc.invalid }" required>
            <div *ngIf="cc.errors?.minlength" class="error">
              {{translations.card_must_be_new_settings}}
            </div>
            <div *ngIf="cc.invalid" class="invalid-feedback">
              <div *ngIf="cc.errors?.required">Card Number is required</div>
              </div>
            <p><img src="assets/img/cardimg.png"></p>
          </div>

          <div class="col-md-4">
            <label> {{translations.expiration_date_new_settings}}</label>
            <input placeholder="MM/YR" id="cc-exp-date" type="tel" autocomplete="cc-exp" ccExp [(ngModel)]="card.card_expiration" name="cDate" class="form-control"  #cDate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cDate.invalid }" required>
            <div *ngIf="cDate.invalid" class="invalid-feedback">
              <div *ngIf="cDate.errors?.required">Expiration Date is required</div>
              </div>
          </div>

          <div class="col-md-2">
            <label>{{translations.cw_new_settings}}</label>
            <input id="cc-cvc" type="tel" autocomplete="off" ccCVC placeholder="xxx" name="cvv" [(ngModel)]="card.card_cvv" [ngModelOptions]="{standalone: true}" #cvv="ngModel"
              class="form-control" [ngClass]="{ 'is-invalid': f.submitted && cvv.invalid }" required>
            <div *ngIf="cvv.errors?.minlength" class="error">
              Must be 3 characters long.
            </div>
            <div *ngIf="cvv.invalid" class="invalid-feedback">
              <div *ngIf="cvv.errors?.required">CVV Number is required</div>
              </div>
          </div>

          <div class="col-md-9">
            <label>{{translations.country_new_settings}}</label>
            <select [(ngModel)]="card.country" (change)="countrySelected($event.target.value)" name="country" class="form-control"  #country="ngModel" [ngClass]="{ 'is-invalid': f.submitted && country.invalid }" required>
              <option *ngFor="let c of countires" [value]="c.name">{{c.name}}</option>
            </select>
            <div *ngIf=" country.invalid" class="invalid-feedback">
              <div *ngIf="country.errors?.required">Country is required</div>
          </div>
          </div>
          <div class="col-12 save_settingcls">

           
            <a class ="custom-btn" formnovalidate  (click)="loadFilterDialogUpdate(dialoguebox)">{{translations.cancel_us}}</a>
           
            <a>
              <button class="save_btn" >{{translations.save_us}}</button>
            </a>
          </div>

        </div>
      </form>
      <p class="text_ph">{{translations.for_ten_licenses_new_settings}} {{translations.please_new_settings}} <b> <a href="https://sibme.com/#contact-modal" target="_blank"> <u class="contact_us">{{translations.contact_us_new_settings}}</u> </a> </b> {{translations.call_us_new_settings}} <b class="call_u">
        888-601-6786 x1</b> {{translations.for_an_invoice_new_settings}}</p>
      
        <div class="row tree">
      <div class="col-md-3 braintree">
        <img src="assets/img/braintree.png">
      </div>
      <div class="col-md-9 text_bill">
        <p>{{translations.our_payment_billing_new_settings}}.</p>
      </div>
      </div>
      <!-- <div class="row">
        
        <div class="col-md-3 braintree">
          <img src="assets/img/braintree.png">
        </div>
        <div class="col-md-9 text_bill">
          <p>{{translations.for_ten_licenses_new_settings}} </p>
          <p>{{translations.our_payment_billing_new_settings}}.</p>
        </div>
        </div> -->
    </div>
    <ng-container *ngIf="showNA">
      <div class="col-md-7 billingright">
        <div class="row">
          <div class="col-12">
            <h4>{{translations.payment_method_new_settings}}</h4>
          </div>
          <span class="col-12"> N/A </span>
        </div>
      </div>
    </ng-container>
  </div>


  <div class="ac_billing" *ngIf="transactionCheck; else no_tranactions">
    <div class="row panl_headingac">
      <div class="col-12">
        <h3 >{{"Invoices"}} </h3>
      </div>
    </div>

    <div class="row b_heading">
      <div class="col-2">{{translations.date_new_settings}}</div>
      <div class="col-8">{{translations.description_new_settings}}</div>
      <div class="col-1">{{translations.amount_new_settings}}</div>
      <div class="col-1"></div>
    </div>

<ng-container *ngFor="let d of accountData">
    <div class="row b_drow" *ngFor="let data of d.transactions" >
      <ng-container >
        <div class="col-2">{{data.date}}</div>
        <div class="col-8">{{data.description}}</div>
        <div class="col-1">${{data.amount}}</div>
        <div class="col-1 bill_opt">
          <span class="pointer" dropdown>
            <a dropdownToggle (click)="toggle(data)" aria-controls="basic-link-dropdown ">
              <img src="assets/video-huddle/img/dots_dark.svg " width="30 ">
            </a>

            <div class="dropdown" id="basic-link-dropdown" *dropdownMenu class="dropdown-menu " role="menu "
              aria-labelledby="basic-link">

              <div *ngIf="data.amount == receiptData.amount">
                <div>
                  <a class="pointer" (click)="download()">PDF</a>
                </div>
              </div>
            </div>

          </span>

        </div>
      </ng-container>
    </div>
    </ng-container>
  </div>

  <ng-template class="ac_billing" #no_tranactions>
    <div class="row panl_headingac">
      <div class="col-12">
        <h3 >{{"Invoices"}} </h3>
      </div>
    </div>

    <div class="row b_heading">
      <div class="col-2">{{translations.date_new_settings}}</div>
      <div class="col-8">{{translations.description_new_settings}}</div>
      <div class="col-1">{{translations.amount_new_settings}}</div>
      <div class="col-1"></div>
    </div>
    <p class="text-center mt-2 pt100"> <img src="assets/img/no_info.svg"> {{translations.no_transaction_history_new_settings}} </p>
  </ng-template>

</div>


<div style="display: none;">
  <div class="container box_outer">
  <div id="pdfTable" #pdfTable class="rect">
    <div class="header-container" style="border-bottom: 2px solid #707070; padding-bottom:15px; margin-bottom:20px;">
      <div class="logo-area" style="float:left; width:30%; padding-top:15px;">
         <a target="_blank" href=""><img style="width: 130px;" src="{{base_url}}/img/pdf_logo.png"></a>
      </div>
      <div class="detail-area" style="width:43%; float:right; padding-top:15px;">
              <div class="left-box" style="float:left; width:46%; border-right:2px solid #707070; font-size: 10px;line-height: 22px;">
                  <div><b>Account Name: </b>{{account_name}}</div>
                  <div><b>Exported date: </b>{{receiptData.date}}</div>
              </div>
              <div class="right-box" style="float:right; width:48%; font-size: 10px; line-height: 22px;">
                
                  <div><b>Export Type : </b>Payment Receipt</div>
                  <div><b>Exported By : </b>{{receiptData.customer_name}}</div>
                  
              </div>
              <div class="clr" style="clear:both;"></div>
      </div>
          <div class="clr" style="clear:both;"></div>
  </div>
    <div class="re_title">
      <label>{{translations.sibme_receipt_for_new_settings}}</label>
      <p>{{receiptData.customer_name}}<br>
        {{receiptData.company_name}}</p>
    </div>

    <div class="row re_heading">
      <div class="col-md-6">{{translations.payment_new_settings}}</div>
      <div class="col-md-2">{{translations.date_new_settings}}</div>
      <div class="col-md-2">{{translations.amount_new_settings}}</div>
      <div class="col-md-2">{{translations.transaction_id_new_settings}}</div>
    </div>

    <div class="row detail_rw">
      <div class="col-md-6">{{receiptData.credit_card_number}}</div>
      <div class="col-md-2">{{receiptData.date}}</div>
      <div class="col-md-2">${{receiptData.amount}}</div>
      <div class="col-md-2">{{receiptData.id}}</div>

    </div>

    <div class="row detail_rw2 pt40">
      <div class="col-md-8">{{translations.description_new_settings}}</div>
      <div class="col-md-3">{{translations.subscription_period_new_settings}}</div>
      <div class="col-md-1">{{translations.amount_new_settings}}</div>


    </div>

    <div class="row detail_rw2 border1">
      <div class="col-md-8">{{receiptData.description}}</div>
      <div class="col-md-3">{{receiptData.billing_cycle}}</div>
      <div class="col-md-1">${{receiptData.amount}}</div>


    </div>

    <div class="row detail_rw2">
      <div class="col-md-11"><b>{{translations.total_new_settings}}:</b></div>

      <div class="col-md-1"><b>${{receiptData.amount}}</b></div>

    </div>
  </div>
  </div>
</div>
<ng-template #dialoguebox>
  <div class="modal-content ">

    <div class="modal-body ">
      <button type="button" class="close" (click)="this.modalRef.hide();" data-dismiss="modal">×</button>

      <div class="content_popup">
  <p>{{translations.are_you_sure_like_to_cancel_cc_changes_new_settings}}
           {{translations.you_will_lose_any_updated_cc_info_new_settings}}</p>
      </div>

      <div class="col-12 mbtn">
       
          <a type="button" class="btn" (click)="this.modalRef.hide();">{{translations.cancel_us}}</a>
        <button formnovalidate type="button"  (click)="showForm=false; ccCheck=true ;this.modalRef.hide();resetFormToBack()" class="btn btn-success">{{translations.ok}}</button>
        
      </div>

    </div>


  </div>
</ng-template>

<ng-template #confirmation>
  <div class="modal-content ">

    <div class="modal-body ">
      <button type="button" class="close" (click)="this.modalRef.hide();" data-dismiss="modal">×</button>

      <div class="content_popup">
        <p>{{translations.are_you_sure_like_to_leave_plans_new_settings}}
         {{translations.you_will_lose_unsaved_changes_new_settings}}</p>
      </div>

      <div class="col-12 mbtn">
       
          <button type="button" class="btn" (click)="this.modalRef.hide();">{{translations.cancel_us}}</button>
        <button type="button"  (click)="navigateTo();this.modalRef.hide()" class="btn btn-success">{{translations.ok}}</button>
        
      </div>

    </div>


  </div>
</ng-template>