.modal-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: block;
    color: #484848;
    text-align: center;
    width: 95%;
}

.manage_popup p {
    color: #7B7B7B;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 0;
}

.dot {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 12px;
    width: 93%;
}

.manage_popup a {
    color: #057EFF;
}

.manage_popup h4 {
    color: #484848;
    font-size: 18px;
    margin: 10px 0px;
}

.manage_popup .col-md-12 {
    padding-left: 35px;
    padding-right: 25px;
}

.manage_popup .row {
    margin: 0 -25px;
}

.add_cat_row .form-control {
    width: 85%;
    display: inline-block;
    font-size: 14px;
    padding: 7px 10px;
}

.add_cat_row button {
    background: #057EFF;
    color: #fff;
    border: 0;
    width: 14%;
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.add_cat_row button:focus {
    outline: none;
}

.not_ac {
    opacity: 0.6;
}

.add_cat_row {
    padding-top: 10px;
}

.r_border {
    border-right: 1px solid #ddd;
}

.pop_cal_list {
    height: 250px;
    overflow: hidden;
}

.pop_cal_list ul {
    margin: 0 10px 0 0;
    padding: 0;
    list-style: none;
}

.pop_cal_list ul li {
    color: #616161;
    font-size: 14px;
    padding: 4px 0;
    cursor: pointer;
}

.pop_cal_list ul li:hover {
    color: #057EFF;
}

.cat_option {
    float: right;
    text-align: right;
    width: 18%;
}

.cat_option button {
    border: 0;
    padding: 0;
    background: none;
    outline: none !important;
    cursor: pointer !important;
}

.cat_option .dropdown-menu {
    min-width: 74px !important;
    padding: 10px 0px 6px 0px !important;
    right: 5px;
    left: initial !important;
    transform: translate3d(0px, 20px, 0px) !important;
}

.cat_option .dropdown-menu a {
    padding: 1px 14px 5px 14px;
    font-size: 14px !important;
    background: none !important;
    color: #484848;
    margin-bottom: 0;
    cursor: pointer !important;
    text-transform: capitalize;
}

.cat_option .dropdown-toggle::after {
    display: none;
}

.cat_option img {
    max-width: 22px;
}

.not_ac {
    opacity: 0.6;
}

.add_cat_row {
    padding-top: 10px;
}

.cat_listouter {
    min-height: 190px;
}

.cat_listouter1 {
    padding-top: 4px;
}

.modal-footer {
    border: 0;
}

.modal-footer .action-btn {
    padding-right: 0;
    border-top: 1px solid #ddd;
    padding-top: 13px;
    text-align: right;
}

.action-btn button {
    padding: 10px 28px;
    margin-left: 10px;
    font-size: 14px;
    margin-left: 10px;
}

.action-btn button:focus {
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25);
}

.categories-action-btn {
    top: 0% !important;
    right: 1% !important;
}