<div class="modal-header">
  <h4 class="modal-title">{{translation?.vl_manage_categories}}</h4>
  <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>
</div>
<div class="modal-body manage_popup">
  <div class="row">
    <div class="col-md-12">
      <h4>{{translation?.vl_categories}}</h4>
      <p *ngIf="categories.length === 0">{{translation?.add_new_categories_below}}</p>
      <div class="cat_listouter">
        <div class="pop_cal_list" slimScroll [options]="slimScrollOpts" [scrollEvents]="scrollEvents">
          <ul>
            <li  *ngFor="let category of categories" dropdown [isDisabled]="category.editing">
              <div class="dot">
                {{category.name}}
                </div>
              <div class="cat_option dropdown">
                <button id="category-action-btn" type="button" class="dropdown-toggle" dropdownToggle
                  aria-controls="category-action-dropdown" data-toggle="dropdown">
                  <img src="assets/goals/img/dots_dark.svg" width="30">
                </button>
                <div id="category-action-dropdown" *dropdownMenu class="dropdown-menu categories-action-btn"
                  aria-labelledby="category-action-btn">
                  <a class="dropdown-item" (click)="editCategory(category)">{{translation?.artifact_rename}}</a>
                  <a class="dropdown-item" (click)="deleteCategory(category)">{{translation?.delete_all}}</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="add_cat_row">
        <input #categoryName class="form-control" type="text" [(ngModel)]="category.name"
          [placeholder]="translation?.add_new_category">
        <button type="button" (click)="addUpdateCategory()">{{submitBtnTitle}}</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="col-12 action-btn">
    <button type="button" class="btn btn-success" [disabled]="formSubmitting"
      (click)="submit()">{{translation?.done_vl}}</button>
  </div>
</div>