        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
             <h4 class="modal-title"><span *ngIf="goal">{{translation?.artifacts_confirmation_required}}</span><span *ngIf="evidence && evidence.evidence_type == 4">{{translation?.artifacts_confirmation_required}}</span> <span *ngIf="evidence && evidence.evidence_type != 4">{{translation?.confirmation}}</span></h4>
              <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()">&times;</button>
             
            </div>
           
           <div class="modal-body conf_popup">
                
            <div *ngIf="goal" class="connf_bg">
              <img src="assets/goals/img/del_conf.svg">
                    <b>{{headerService.getGoalAltTranslation(translation?.goal_about_to_delete_following_goal)}}</b><label>{{goal.title}}</label>
                    <p>{{translation?.about_to_this_cant_be_undone}}</p>
            </div>
            <div *ngIf="evidence">
              <div *ngIf="evidence?.evidence_type == 4" class="connf_bg">
                <img src="assets/goals/img/del_conf.svg">
                      <b>{{headerService?.getGoalAltTranslation(translation?.evidence_about_to_delete_following_framework)}}</b><label>{{evidence?.title}}</label>
                      <p>{{translation?.about_to_this_cant_be_undone}}</p>
              </div>
              <p *ngIf="evidence.evidence_type == 1">{{headerService?.getGoalAltTranslation(translation.evidence_delete_popup_text_1)}}<b> {{evidence?.title ? evidence?.title.split('__')[0] : '--'}}</b>?</p>
              <p *ngIf="evidence.evidence_type == 2">{{headerService?.getGoalAltTranslation(translation.evidence_delete_popup_text_2)}}<b> {{evidence?.title ? evidence?.title.split('__')[0] : '--'}}</b>?</p>
              <p *ngIf="evidence.evidence_type == 3">{{headerService?.getGoalAltTranslation(translation.evidence_delete_popup_text_3)}}<b> {{evidence?.title ? evidence?.title.split('__')[0] : '--'}}</b>?</p>
              <p *ngIf="evidence.evidence_type == 5">{{headerService?.getGoalAltTranslation(translation.evidence_delete_popup_text_5)}}<b> {{evidence?.title ? evidence?.title.split('__')[0] : '--'}}</b>?</p>
            </div>  
              <div *ngIf="goal || evidence.evidence_type == 4">
              <label>{{translation?.poeple_type_delete_to_confirm}}</label>
              <input type="text" class="form-control" [(ngModel)]="confirmation">
            </div>
           </div>
        
            <div class="modal-footer footerm">
                  <div class="col-12 share_btn delt_f">
                       <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalRef.hide()">{{translation?.cancel_popup}}</button>
                       <button *ngIf="goal"   [disabled]="confirmation != ConfirmationKey" type="button" class="btn del_btn" (click)="deletegoal()">{{translation?.delete_all}}</button>
                       <button *ngIf="evidence && evidence.evidence_type == 4"   [disabled]="confirmation != ConfirmationKey" type="button" class="btn del_btn" (click)="deleteEvidence()">{{translation?.delete_all}}</button>
                       <button *ngIf="evidence && evidence.evidence_type != 4" type="button" class="btn btn-success" (click)="deleteEvidence()">{{translation?.delete_all}}</button>
                    </div>
            </div>
          </div>

