<div class="row tabscls" *ngIf="!isLoading">
<div class="left_summery">
    <currentuser  [user]="userDetails"></currentuser>
    </div>
    
    <div class="center_summery">
        <overviewbox  [config]="userDetails"></overviewbox>
        <app-playercard-goals [goalsData]="goals" [userConfig]="userDetails"></app-playercard-goals>
    </div>
    <div class="right_summery">
    <app-playercard-Huddles  [huddles]="userDetails?.user_huddle_participation"></app-playercard-Huddles>
    </div>
</div>

<div class="container box_outer" *ngIf="isLoading">
    <div class="row box_whcls">
        <div class="col-2 profile_left">

            <!-- <div class="profile_ttile p_ani pan1"></div> -->

            <div class="profile_opt fright">
                <div class="p_ani pan1"></div>
            </div>
            <div class="clearfix"></div>

            <div class="profile_info">
                <span class="p_ani pan2"></span>
                <br>
                <h3> <span class="pan3 p_ani"></span></h3>
                <span class="pan4 p_ani"></span>
                <label><span class="pan3 p_ani"></span></label>
                <p class="p_ani pan5"></p>
                <p class="p_ani pan5"></p>
                <p class="p_ani pan6"></p>
            </div>



            <div class="get_mobile">
                <p class="p_ani pan6"></p>
                <p class="p_ani pan7"></p>
                <p class="p_ani pan7"></p>

            </div>


        </div>
        <div class="col-8 profile_center">

            <div class="row mt-3">
                <div class="col-md-3" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8,9,10,11,12]">
                    <div class="an_box">
                        <div class="ana_cl an_ah4"> </div>
                        <div class="ana_cl an_ah5"> </div>
                    </div>
                </div>
            </div>
           <div class="goals_outer">
                <div class="row ghrading">
                    <div class="col-3 golc1">
                        <div class="g_ani gn3"></div>
                    </div>
                    <div class="col-2 golc2">
                        <div class="g_ani gn3"></div>
                    </div>
                    <div class="col-2 golc3">
                        <div class="g_ani gn3"></div>
                    </div>
                    <div class="col-2 golc4">
                        <div class="g_ani gn3"></div>
                    </div>
                    <div class="col-2 golc4">
                        <div class="g_ani gn3"></div>
                    </div>
                    <div class="col-2 golc6">
                        <div class="g_ani gn3"></div>
                    </div>
                    <div class="col-2 golc7">
                        <div class="g_ani gn3"></div>
                    </div>
                     <div class="col-2 golc7">
                        <div class="g_ani gn3"></div>
                    </div>
                </div>
                <div *ngFor="let item of [1, 2, 3, 4, 5, 6, 7,8]" class="row gh_rw">
                    <div class="col-3 golc1">
                        <div class="g_ani2 gn3"></div>
                    </div>
                    <div class="col-2 golc2">
                        <div class="g_ani2 gn3"></div>
                    </div>
                    <div class="col-2 golc3">
                        <div class="g_ani2 gn3"></div>
                    </div>
                    <div class="col-2 golc4">
                        <div class="g_ani2 gn3"></div>
                    </div>
                    <div class="col-2 golc4">
                        <div class="g_ani2 gn3"></div>
                    </div>
                    <div class="col-2 golc6">
                        <div class="g_ani2 gn3"></div>
                    </div>
                    <div class="col-2 golc7">
                        <div class="g_ani2 gn3"></div>
                    </div>
                    <div class="col-2 golc7">
                        <div class="g_ani2 gn3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 profile_right">
            <div class="right_top">
                <label><span class="pan3 p_ani"></span></label>
                <span class="p_ani pan13"></span>
                <span class="p_ani pan12"></span>
            </div>
            <div class="right_opt">
                <p class="p_ani pan5"></p>
            </div>
            <div class="right_opt">
                <p class="p_ani pan5"></p>
            </div>
            <div class="right_opt">
                <p class="p_ani pan5"></p>
            </div>
            <div class="right_opt">
                <p class="p_ani pan5"></p>
            </div>
        </div>
    </div>
</div>