
.center_summery{    -webkit-box-flex: 0;
    -ms-flex: 0 0 62%;
    flex: 0 0 62%;
	max-width: 62%; padding: 15px;}



    .box_outer{ border-radius:5px;     margin-top:15px !important;}
      .box_whcls {
    background: #fff;
    margin-bottom: 40px;
}
.profile_left{     border-right: 1px solid #ddd;  -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; padding-top: 16px;}
.profile_ttile { float:left;     font-size: 14px;     color: #454545;}
.profile_opt { float:right;     position: relative;}
.profile_info { text-align:center;    padding: 40px 0;}
.profile_info img { width:88px; height:88px; border-radius:50%;     object-fit: cover;}
.get_mobile { text-align:center; padding-top:230px;}
.get_mobile label{
    font-weight:500;
        color: #414141;
    font-size: 18px;
}
.get_mobile a { margin-bottom:15px; display:inline-block;}
    .profile_center{-webkit-box-flex: 0;
    -ms-flex: 0 0 59%;
    flex: 0 0 60%;
    max-width: 60%;}
    .profile_right{ background:#F4F4F4; padding:20px; -webkit-box-flex: 0;
    -ms-flex: 0 0 21%;
    flex: 0 0 20%;
    max-width: 20%;}
    .profile_ttile { float:left;     font-size: 14px;     color: #454545;}
    .p_ani{
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;

    position: relative;
  }
.profile_opt[_ngcontent-dts-c289] {
    float: right;
    position: relative;
}
  .pan1{ height:15px; width:50%;}

  .fright { float:right; width:40%;}
  .fright .pan1{ float:right;}

  .pan2{width: 88px;
      height: 88px;
      border-radius: 50%;
      object-fit: cover; margin: 0 auto;}

  .pan3{ display:inline-block; width:110px; height:20px; margin:0 auto; margin-bottom:5px; }
  .pan4{ display:inline-block; width:70%; height:20px;  margin:0 auto; margin-bottom:5px;}
  .pan5{ display:inline-block; width:100%; height:20px;  margin:0 auto; margin-bottom:5px;}
  .pan6{ display:inline-block; width:52%; height:20px;  margin:0 auto; margin-bottom:5px;}

  .pan7{ display:inline-block; width:52%; height:40px; margin:0 auto;  margin-bottom:10px;}

  .pan8{width:50px !important;
      height:50px !important;
      border-radius: 50%;
      object-fit: cover; margin: 0 auto; margin-bottom:10px !important;}
      .mtop30 { margin-top:30px;}
      .pan9{ display:inline-block; width:50%; height:15px !important; margin:0 auto;  margin-bottom:10px;}

  .pan10{ display:inline-block; width:40px; height:25px !important; margin:0 auto;  margin-bottom:10px;}


  .pan12{ display:inline-block; width:120px; height:35px !important; margin:0 auto;  margin-bottom:10px;}

  .pan11{width:34px !important;
      height:34px !important;
      border-radius: 50%;
      object-fit: cover; margin: 0 auto;      position: absolute;
      left: 0;}
      .right_opt .pan5 {
      display: inline-block;
      width: 100%;
      height: 24px;
      margin: 0 auto;
      margin-bottom: -4px;
  }




  .pan13{width:90px !important;
      height:90px !important;
      border-radius: 50%;
      object-fit: cover; margin: 0 auto; margin-bottom:10px !important;     display: block;}


      .goals_outer {
    width: 100%;
    padding-bottom: 40px;
    background: #F7F7F7;
}

.golc1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    margin-top: auto;
    margin-bottom: auto;
    text-overflow: ellipsis;
    overflow: hidden;
}

.golc2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 10%;
}

.golc-published {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 9%;
    flex: 0 0 9%;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 9%;
}

.golc3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 9%;
    flex: 0 0 9%;
    max-width: 9%;
    margin-top: auto;
    margin-bottom: auto;
}

.golc4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 9%;
    flex: 0 0 9%;
    max-width: 9%;
    margin-top: auto;
    margin-bottom: auto;
}

.golc5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 13%;
    flex: 0 0 13%;
    max-width: 13%;
    margin-top: auto;
    margin-bottom: auto;
}

.golc6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
    margin-top: auto;
    margin-bottom: auto;
}

.golc7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.ghrading {
    font-weight: 600;
    font-size: 14px;
    background: #fff;
    padding: 9px 12px;
    margin: 0;
}

.golc5 img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    position: relative;
    margin-right: -12px;
}

.golc5 img, .golc5 span {
    cursor: pointer;
}

.ow_count {
    display: inline-block;
    background: #EAEEF3;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 5px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    font-weight: 600;
}

.gh_rw {
    font-size: 14px;
    border-bottom: 1px solid #E4E4E4;
    padding: 9px 12px;
    margin: 0;
}

.golc2 i {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 4px;
}

.gol_opt img {
    max-width: 18px !important;
}

.com_bg {
    background: #EAF3EB;
    float: right;
    color: #28A745;
    border-radius: 50px;
    padding: 1px 8px;
    font-size: 11px;
    font-weight: 500;
}

.incom_bg {
    background: #F4E7E7;
    float: right;
    color: #FF1D1D;
    border-radius: 50px;
    padding: 1px 8px;
    font-size: 11px;
    font-weight: 500;
}


.st_bar {
    background: #E8E8E8;
    border: 1px solid #D9D9D9;
    height: 10px;
    border-radius: 21px;
    position: relative;
}

.st_bar .bar_pg {
    background: #157EFC;
    display: inline-block;
    height: 7.5px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
}

.gol_opt {
    position: relative;
    width: 60%;
    float: left;
    text-align: right;
}

.gol_opt2 {
    width: 40%;
    float: right;
    text-align: center;
}

.gol_opt2 img {
    width: 10px;
}

.ghrading .col-3, .ghrading .col-2 {
    padding: 0 5px;
}

.gh_rw .col-3, .gh_rw .col-2 {
    padding: 0 5px;
}

.golc7 .gsort .dropdown-menu {
    transform: translate3d(0px, 20px, 0px) !important;
}

.g_ani {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    position: relative;
}

.gn1 {
    width: 50%;
    height: 40px;
}

.gn2 {
    width: 50px;
    height: 40px;
    float: right;
}

.gn3 {
    width: 100%;
    height: 37px;
}

.gn4 {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
}
.g_ani2 {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #ededed 8%, #e9e9e9 18%, #ededed 33%);
    background-size: 800px 104px;
    position: relative;
}

  .right_summery h3{font-size: 18px; border-bottom:1px solid #707070;     padding-bottom: 10px;}
	.right_summery h4{font-size: 18px; margin:0;     padding: 18px 0 11px 0;}
	.right_summery ul {    padding: 0 0 0 15px;}
	.right_summery ul li{ padding:4px 0;}
	.right_summery a.read_more{ color:#1688C2; text-decoration:underline; font-size:14px;     display: inline-block;
    margin-left: 15px;} 
	.right_summery ul li span{     font-size: 14px;
    color: #000000;
    border-bottom: 1px dotted #707070;
    display: inline-block;
    word-wrap: break-word !important;
    width: 160px;}
    .right_summery ul li a{ text-decoration:none; color:#000;}
    
    .right_summery {    background: #F4F4F4;
        padding: 20px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 18%;
        flex: 0 0 18%;
        max-width: 18%;}
    .cursor {
        cursor: pointer !important;
    }
	
	
	.left_summery {
    border-right: 1px solid #ddd;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 100%;
    padding:15px;
}
.profile_ttile {
    float: left;
    font-size: 14px;
}

.profile_opt button{ border:0; padding:0; background:none;     outline: none; cursor:pointer;}
.profile_opt .dropdown-toggle::after { display:none;}
.profile_opt .dropdown-menu{      min-width: 20px !important;
   padding: 6px 0;
left: inherit !important;
right: 0 !important;}
.profile_opt .dropdown-menu a { font-size: 14px !important;
background: none !important;
color: #484848;
margin-bottom: 5px;
padding: 2px 12px 7px 11px;
margin: 0;}
.profile_opt .dropdown-menu a.active{    color: #057EFF;}
.profile_opt .dropdown-menu{    background: #fff;border-radius: 4px; }

.profile_opt { float:right;     position: relative;}

.profile_info { text-align:center;    padding: 40px 0;}
.profile_info img { width:88px; height:88px; border-radius:50%;     object-fit: cover;}
.profile_info h3{    font-size: 22px;margin: 0;    padding: 15px 0 4px 0;}
.profile_info span{ font-size:13px; text-decoration:underline; display:block;}
.profile_info label{    font-weight: 500;
    margin: 0;}
.profile_info p{ font-size:14px; padding-top:25px;  color:#616161;     max-width: 200px;
    margin: 0 auto;}



